Repository novuhq/novu, changes with the labels that .github/labeler.yml gives for each.
All labels: @novu/api-server, @novu/worker, @novu/web, @novu/ws, @novu/inbound-mail, @novu/webhook, @novu/dal, @novu/design-system, @novu/novui, @novu/shared, @novu/notification-center, @novu/notification-center-vue, @novu/notification-center-angular, providers, CI/CD, helm, kustomize, docker, scripts

fix: remove usage
  packages/cli/src/index.ts
Labels: none

fix: args
  packages/cli/src/commands/init/templates/types.ts
Labels: none

fix: exclude templates folder
  packages/cli/tsconfig.json
Labels: none

fix(api): Remove empty STORE_NOTIFICATION_CONTENT env var
  apps/api/src/.env.development
  apps/api/src/.env.production
Labels: @novu/api-server

chore(repo): Bump AWS Github actions
  .github/workflows/dev-deploy-api.yml
  .github/workflows/dev-deploy-inbound-mail.yml
  .github/workflows/dev-deploy-ws.yml
  .github/workflows/reusable-app-service-deploy.yml
  .github/workflows/reusable-workers-service-deploy.yml
Labels: CI/CD

fix: Slack message
  .github/workflows/cloud-deploy.yml
Labels: CI/CD

chore: update env files
  apps/api/src/.env.development
  apps/api/src/.env.production
Labels: @novu/api-server

refactor: throw error in ee-auth configure func
  apps/api/src/app/auth/ee.auth.module.config.ts
Labels: @novu/api-server

fix: update echo worker name to bridge
  apps/api/src/app/events/e2e/trigger-multicast.e2e.ts
  apps/api/src/app/events/usecases/parse-event-request/parse-event-request.e2e.ts
Labels: @novu/api-server

feat: add generic support for providers
  packages/framework/src/schemas/providers/chat/index.ts
  packages/framework/src/schemas/providers/email/index.ts
  packages/framework/src/schemas/providers/generic.ts
  packages/framework/src/schemas/providers/inApp/index.ts
  packages/framework/src/schemas/providers/push/index.ts
  packages/framework/src/schemas/providers/sms/index.ts
Labels: none

fix: typo in comment
  apps/api/src/app/organization/e2e/sync-organization.e2e-ee.ts
  libs/testing/src/user.session.ts
Labels: @novu/api-server

refactor(mixpanel): use namespace import for mixpanel
  apps/web/src/hooks/useNovuAPI.ts
  apps/web/src/utils/segment.ts
Labels: @novu/web

refactor(web): use namespace import for MixPanel (#6022)
  apps/web/src/hooks/useNovuAPI.ts
  apps/web/src/utils/segment.ts
Labels: @novu/web

chore(repo): Bump AWS Github actions (#6019)
  .github/workflows/dev-deploy-api.yml
  .github/workflows/dev-deploy-inbound-mail.yml
  .github/workflows/dev-deploy-ws.yml
  .github/workflows/reusable-app-service-deploy.yml
  .github/workflows/reusable-workers-service-deploy.yml
Labels: CI/CD

chore(api,worker): Just deploy Novu Cloud to staging
  .github/workflows/dev-deploy-api.yml
  .github/workflows/dev-deploy-worker.yml
Labels: CI/CD

feat: add legacy ee auth module for backwards compatibility
  apps/api/package.json
  apps/api/src/app.module.ts
  apps/api/src/app/auth/community.auth.module.config.ts
  apps/api/src/app/auth/legacy-ee-auth/auth.controller.ts
  apps/api/src/app/auth/legacy-ee-auth/auth.module.ts
  apps/api/src/app/auth/legacy-ee-auth/google.strategy.ts
  apps/api/src/metadata.ts
  pnpm-lock.yaml
Labels: @novu/api-server

refactor: Update refetch usage in useDiscover hook
  apps/web/src/studio/components/workflows/landing-page/LocalStudioWorkflowLandingPage.tsx
  apps/web/src/studio/hooks/useBridgeAPI.ts
Labels: @novu/web

feat(worker): extract i18n instance from command serialization
  apps/api/src/app/content-templates/content-templates.controller.ts
  apps/web/tests/header.spec.ts
  apps/web/tests/utils/plugins.ts
  apps/worker/package.json
  apps/worker/src/app/workflow/usecases/send-message/send-message-chat.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-email.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-in-app.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-push.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-sms.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message.base.ts
  libs/application-generic/src/usecases/compile-email-template/compile-email-template.usecase.ts
  libs/application-generic/src/usecases/compile-in-app-template/compile-in-app-template.usecase.ts
  libs/application-generic/src/usecases/compile-step-template/compile-step-template.usecase.ts
  libs/application-generic/src/usecases/compile-template/compile-template.command.ts
  libs/application-generic/src/usecases/compile-template/compile-template.usecase.ts
Labels: @novu/api-server, @novu/worker, @novu/web

fix: update lock file
  pnpm-lock.yaml
Labels: none

feat: add vscode tasks
  .vscode/launch.json
  .vscode/tasks.json
  enterprise/packages/billing/package.json
  enterprise/packages/bridge-worker/package.json
  enterprise/packages/dal/package.json
  enterprise/packages/shared-services/package.json
  enterprise/packages/translation/package.json
  libs/application-generic/package.json
  packages/providers/package.json
Labels: none

build(root): add vscode tasks for app (#6026)
  .vscode/launch.json
  .vscode/tasks.json
  enterprise/packages/billing/package.json
  enterprise/packages/bridge-worker/package.json
  enterprise/packages/dal/package.json
  enterprise/packages/shared-services/package.json
  enterprise/packages/translation/package.json
  libs/application-generic/package.json
  packages/providers/package.json
Labels: none

fix(web): Use `refetch` in dependency array for discovery refetch (#6024)
  apps/web/src/studio/components/workflows/landing-page/LocalStudioWorkflowLandingPage.tsx
  apps/web/src/studio/hooks/useBridgeAPI.ts
Labels: @novu/web

chore(api,worker): Just deploy Novu Cloud to staging (#6023)
  .github/workflows/dev-deploy-api.yml
  .github/workflows/dev-deploy-worker.yml
Labels: CI/CD

fix: Slack notification has been disabled
  .github/workflows/cloud-deploy-reusable-docker.yml
  .github/workflows/cloud-deploy.yml
Labels: CI/CD

refactor: rename clerk env var to be vendor agnostic
  apps/web/src/AppRoutes.tsx
  apps/web/src/api/api.client.ts
  apps/web/src/components/layout/components/EnsureOnboardingComplete.tsx
  apps/web/src/components/layout/components/PrivatePageLayout.tsx
  apps/web/src/components/layout/components/v2/HeaderNav.tsx
  apps/web/src/components/nav/RootNavMenu.tsx
  apps/web/src/config/index.ts
  apps/web/src/ee/clerk/providers/ClerkProvider.tsx
  apps/web/src/ee/clerk/providers/EnterpriseAuthProvider.tsx
  apps/web/src/hooks/useAuth.ts
Labels: @novu/web

fix: REACT_APP_MIXPANEL_KEY to env file
  .github/workflows/cloud-deploy-reusable-web-deploy.yml
Labels: CI/CD

fix: Bump AWS Github actions
  .github/workflows/cloud-deploy-reusable-app-service-deploy.yml
Labels: CI/CD

refactor: move clerk private wrapper to the same component
  apps/web/src/AppRoutes.tsx
  apps/web/src/components/layout/components/PrivatePageLayout.tsx
Labels: @novu/web

feat: add usage of provider id enums
  packages/framework/src/schemas/providers/chat/index.ts
  packages/framework/src/schemas/providers/email/index.ts
  packages/framework/src/schemas/providers/inApp/index.ts
  packages/framework/src/schemas/providers/index.ts
  packages/framework/src/schemas/providers/push/index.ts
  packages/framework/src/schemas/providers/sms/index.ts
  packages/framework/src/schemas/providers/types.ts
Labels: none

refactor: add token spacing, remove font size
  apps/web/src/ee/clerk/components/OrganizationSwitcher.tsx
Labels: @novu/web

fix: typo
  apps/web/src/ee/clerk/components/UserProfileButton.tsx
Labels: @novu/web

fix: typescript errors
  packages/framework/src/resources/workflow.ts
  packages/providers/src/lib/gupshup/gupshup.provider.ts
Labels: none

fix: more typescript errors
  packages/framework/src/client.ts
Labels: none

refactor: add ClerkProvider inside AuthEnterpriseProvider
  apps/web/src/Providers.tsx
  apps/web/src/ee/clerk/components/UserProfileButton.tsx
  apps/web/src/ee/clerk/index.ts
  apps/web/src/ee/clerk/providers/AuthEnterpriseProvider.tsx
  apps/web/src/ee/clerk/providers/ClerkProvider.tsx
Labels: @novu/web

fix: v2 tasks
  .vscode/launch.json
  .vscode/tasks.json
  libs/novui/package.json
Labels: @novu/novui

fix: pr review comment
  packages/cli/src/index.ts
Labels: none

feat: add a problem matcher
  .vscode/tasks.json
Labels: none

refactor: minor changes
  apps/web/src/ee/clerk/components/UserProfileButton.tsx
  apps/web/src/ee/clerk/pages/OrganizationListPage.tsx
  apps/web/src/ee/clerk/pages/QuestionnairePage.tsx
  apps/web/src/ee/clerk/providers/AuthEnterpriseProvider.tsx
  apps/web/src/pages/auth/QuestionnairePage.tsx
Labels: @novu/web

feat(worker): extract i18n instance from command serialization (#6025)
  apps/api/src/app/content-templates/content-templates.controller.ts
  apps/web/tests/header.spec.ts
  apps/web/tests/utils/plugins.ts
  apps/worker/package.json
  apps/worker/src/app/workflow/usecases/send-message/send-message-chat.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-email.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-in-app.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-push.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-sms.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message.base.ts
  libs/application-generic/src/usecases/compile-email-template/compile-email-template.usecase.ts
  libs/application-generic/src/usecases/compile-in-app-template/compile-in-app-template.usecase.ts
  libs/application-generic/src/usecases/compile-step-template/compile-step-template.usecase.ts
  libs/application-generic/src/usecases/compile-template/compile-template.command.ts
  libs/application-generic/src/usecases/compile-template/compile-template.usecase.ts
  pnpm-lock.yaml
Labels: @novu/api-server, @novu/worker, @novu/web

fix: cli analytics
  packages/cli/src/commands/init/index.ts
Labels: none

.github/labeler.yml:

'@novu/api-server':
  - apps/api/**/*
'@novu/worker':
  - apps/worker/**/*
'@novu/web':
  - apps/web/**/*
'@novu/ws':
  - apps/ws/**/*
'@novu/inbound-mail':
  - apps/inbound-mail/**/*
'@novu/webhook':
  - apps/webhook/**/*
'@novu/dal':
  - libs/dal/**/*
'@novu/design-system':
  - libs/design-system/**/*
'@novu/novui':
  - libs/novui/**/*
'@novu/shared':
  - libs/shared/**/*
'@novu/notification-center':
  - packages/notification-center/**/*
'@novu/notification-center-vue':
  - packages/notification-center-vue/**/*
'@novu/notification-center-angular':
  - packages/notification-center-angular/**/*
'providers':
  - providers/**/*
'CI/CD':
  - .github/**/*
'helm':
  - docker/kubernetes/helm/**/*
'kustomize':
  - docker/kubernetes/kustomize/**/*
'docker':
  - docker/**/*
'scripts':
  - scripts/**/*
