Repository novuhq/novu, changes with the labels that .github/labeler.yml gives for each.
All labels: @novu/api-server, @novu/worker, @novu/web, @novu/ws, @novu/inbound-mail, @novu/webhook, @novu/dal, @novu/design-system, @novu/novui, @novu/shared, @novu/notification-center, @novu/notification-center-vue, @novu/notification-center-angular, providers, CI/CD, helm, kustomize, docker, scripts

fix: needs
  .github/workflows/cloud-deploy-reusable-app-service-deploy.yml
Labels: CI/CD

refactor: Use context instead of non-singleton hook
  apps/web/src/Providers.tsx
  apps/web/src/auth/AuthContextProvider.tsx
  apps/web/src/auth/getToken.ts
  apps/web/src/auth/getTokenClaims.ts
  apps/web/src/auth/useCreateAuthContext.ts
  apps/web/src/ee/translations/components/CreateGroupSidebar.tsx
  apps/web/src/ee/translations/components/EditGroupSidebar.tsx
  apps/web/src/hooks/useAuth.tsx
  apps/web/src/hooks/useNovuAPI.ts
Labels: @novu/web

fix: SUBMODULES_TOKEN
  .github/workflows/cloud-deploy-reusable-docker.yml
Labels: CI/CD

fix: SUBMODULES_TOKEN debug disable
  .github/workflows/cloud-deploy-reusable-docker.yml
Labels: CI/CD

fix(web): remove echo from tooltip info
  apps/web/src/pages/templates/WorkflowListPage.tsx
Labels: @novu/web

fix(web): remove echo from tooltip info (#5977)
  apps/web/src/pages/templates/WorkflowListPage.tsx
Labels: @novu/web

fix: so buttons are working correctly on get started
  apps/web/src/studio/components/GetStartedPageV2/index.tsx
Labels: @novu/web

fix: submodule_token
  .github/workflows/cloud-deploy-reusable-docker.yml
  .github/workflows/cloud-deploy-services.yml
Labels: CI/CD

fix: analytics data
  apps/web/src/studio/components/workflows/step-editor/WorkflowsStepEditorPage.tsx
Labels: @novu/web

fix: submodule_token
  .github/workflows/cloud-deploy-services.yml
  .github/workflows/cloud-deploy.yml
Labels: CI/CD

fix: submodule_token
  .github/workflows/cloud-deploy-reusable-docker.yml
  .github/workflows/cloud-deploy-services.yml
  .github/workflows/cloud-deploy.yml
Labels: CI/CD

fix: submodule_token
  .github/workflows/cloud-deploy-reusable-docker.yml
Labels: CI/CD

fix: secrets: inherit
  .github/workflows/cloud-deploy.yml
Labels: CI/CD

fix: secrets: inherit
  .github/workflows/cloud-deploy-reusable-docker.yml
Labels: CI/CD

fix: Cache has ben renamed for cloud build
  .github/workflows/cloud-deploy-reusable-docker.yml
Labels: CI/CD

chore(root): Trigger on-pr tests also in prod
  .github/workflows/on-pr.yml
Labels: CI/CD

ci(api): add clerk feature flag
  apps/api/e2e/setup.ts
  apps/api/src/app.module.ts
  apps/api/src/app/auth/auth.module.ts
  apps/api/src/app/organization/organization.module.ts
  apps/api/src/app/organization/usecases/index.ts
  apps/api/src/app/user/usecases/index.ts
  apps/api/src/app/workflows/e2e/create-notification-templates.e2e.ts
  libs/application-generic/src/utils/inject-repositories.ts
  libs/dal/src/repositories/organization/community.organization.repository.ts
  libs/shared/src/utils/env.ts
  libs/testing/src/ee/ee.repository.factory.ts
  libs/testing/src/user.session.ts
Labels: @novu/api-server, @novu/dal, @novu/shared

ci(api): add clerk ee pipeline step
  .github/workflows/reusable-api-e2e.yml
  apps/api/package.json
Labels: @novu/api-server, CI/CD

fix: Debug
  .github/workflows/cloud-deploy-reusable-docker.yml
Labels: CI/CD

chore(root): Delete scheduled_e2e
  .github/workflows/scheduled_e2e.yml
Labels: CI/CD

fix: Cache was temporary disabled
  .github/workflows/cloud-deploy-reusable-docker.yml
Labels: CI/CD

fix: organization switch
  apps/web/src/auth/useCreateAuthContext.ts
Labels: @novu/web

fix: so buttons are working correctly on get started (#5978)
  apps/web/src/studio/components/GetStartedPageV2/index.tsx
Labels: @novu/web

fix: --no-cache
  .github/workflows/cloud-deploy-reusable-docker.yml
Labels: CI/CD

fix(api): fix broken lockfile
  pnpm-lock.yaml
Labels: none

fix: $DOCKER_BUILD_ARGUMENTS place
  .github/workflows/cloud-deploy-reusable-docker.yml
Labels: CI/CD

fix: npm cache has been disabled
  .github/actions/setup-project/action.yml
  .github/workflows/cloud-deploy-reusable-docker.yml
Labels: CI/CD

feat(js): Create component renderer
  packages/js/src/index.ts
  packages/js/src/ui/Inbox.tsx
  packages/js/src/ui/components/Bell.tsx
  packages/js/src/ui/components/Inbox.tsx
  packages/js/src/ui/components/Renderer.tsx
  packages/js/src/ui/components/index.ts
  packages/js/src/ui/context/index.ts
  packages/js/src/ui/index.tsx
  packages/js/src/ui/types.ts
  packages/js/src/umd.ts
Labels: none

feat(js): Create component renderer (#5953)
  packages/js/src/index.ts
  packages/js/src/ui/Inbox.tsx
  packages/js/src/ui/components/Bell.tsx
  packages/js/src/ui/components/Inbox.tsx
  packages/js/src/ui/components/Renderer.tsx
  packages/js/src/ui/components/index.ts
  packages/js/src/ui/context/index.ts
  packages/js/src/ui/index.tsx
  packages/js/src/ui/types.ts
  packages/js/src/umd.ts
Labels: none

fix(test): add community injectors
  apps/api/src/app/auth/community.auth.module.config.ts
  libs/application-generic/src/utils/inject-repositories.ts
Labels: @novu/api-server

fix: npm cache has been enabled
  .github/actions/setup-project/action.yml
  .github/workflows/cloud-deploy-reusable-docker.yml
Labels: CI/CD

fix(tests): inject auth services
  apps/api/src/app/auth/community.auth.module.config.ts
Labels: @novu/api-server

fix: --no-cache
  .github/workflows/cloud-deploy-reusable-docker.yml
Labels: CI/CD

feat(js): handling the web socket connection and events
  packages/js/src/socket/index.ts
  packages/js/src/socket/socket.ts
  pnpm-lock.yaml
Labels: none

feat(js): the base js sdk package scaffolding
  packages/js/.eslintrc.js
Labels: none

feat(js): renamed the *.spec.ts to *.test.ts
  packages/js/src/novu.spec.ts
Labels: none

chore(js): fixed the package building on esm and cjs modules
  packages/js/src/novu.ts
  packages/js/src/utils/base-module.ts
Labels: none

feat(js): the base js sdk package scaffolding
  pnpm-lock.yaml
Labels: none

feat(js): lazy session initialization and interface fixes
  packages/js/src/novu.spec.ts
  packages/js/src/novu.ts
  packages/js/src/utils/base-module.ts
Labels: none

feat(js): js sdk feeds module
  packages/js/src/novu.ts
  packages/js/src/utils/base-module.ts
  pnpm-lock.yaml
Labels: none

.github/labeler.yml:

'@novu/api-server':
  - apps/api/**/*
'@novu/worker':
  - apps/worker/**/*
'@novu/web':
  - apps/web/**/*
'@novu/ws':
  - apps/ws/**/*
'@novu/inbound-mail':
  - apps/inbound-mail/**/*
'@novu/webhook':
  - apps/webhook/**/*
'@novu/dal':
  - libs/dal/**/*
'@novu/design-system':
  - libs/design-system/**/*
'@novu/novui':
  - libs/novui/**/*
'@novu/shared':
  - libs/shared/**/*
'@novu/notification-center':
  - packages/notification-center/**/*
'@novu/notification-center-vue':
  - packages/notification-center-vue/**/*
'@novu/notification-center-angular':
  - packages/notification-center-angular/**/*
'providers':
  - providers/**/*
'CI/CD':
  - .github/**/*
'helm':
  - docker/kubernetes/helm/**/*
'kustomize':
  - docker/kubernetes/kustomize/**/*
'docker':
  - docker/**/*
'scripts':
  - scripts/**/*
