Repository novuhq/novu, changes with the labels that .github/labeler.yml gives for each.
All labels: @novu/api-server, @novu/worker, @novu/web, @novu/ws, @novu/inbound-mail, @novu/webhook, @novu/dal, @novu/design-system, @novu/novui, @novu/shared, @novu/notification-center, @novu/notification-center-vue, @novu/notification-center-angular, providers, CI/CD, helm, kustomize, docker, scripts

feat: popover base
  packages/js/src/ui/components/Popover.tsx
Labels: none

chore: remove unnecessary changes
  apps/web/src/App.tsx
  packages/js/package.json
  packages/js/src/ui/context/appearance-context.tsx
Labels: @novu/web

feat: fix build
  apps/web/package.json
  apps/web/src/App.tsx
  packages/js/src/ui/context/novu-context.tsx
  packages/js/src/ui/helpers/utils.ts
Labels: @novu/web

chore: update lock
  apps/web/src/App.tsx
Labels: @novu/web

feat: popover
  packages/js/src/ui/components/Bell.tsx
  packages/js/src/ui/components/Popover.tsx
  packages/js/src/ui/components/PopoverWithBell.tsx
  packages/js/src/ui/components/index.ts
  packages/js/src/ui/context/AppearanceContext.tsx
Labels: none

Squashed commit of the following:
  pnpm-lock.yaml
Labels: none

feat: add popover props
  packages/js/src/ui/components/PopoverWithBell.tsx
Labels: none

feat: add more placement options
  packages/js/src/ui/components/Popover.tsx
Labels: none

feat: add event listeners
  packages/js/src/ui/components/PopoverContent.tsx
  packages/js/src/ui/directives/click-outside.tsx
  packages/js/src/ui/directives/directives.d.ts
  packages/js/src/ui/directives/index.ts
Labels: none

feat: popover component
  packages/js/src/ui/components/Popover.tsx
  packages/js/src/ui/components/PopoverContent.tsx
  packages/js/src/ui/components/PopoverTarget.tsx
  packages/js/src/ui/components/PopoverWithBell.tsx
  packages/js/src/ui/directives/click-outside.tsx
  packages/js/src/ui/directives/directives.d.ts
  packages/js/src/ui/directives/index.ts
  packages/js/src/ui/helpers/index.ts
  packages/js/src/ui/helpers/popover-utils.ts
  packages/js/src/ui/helpers/use-uncontrolled-state.tsx
Labels: none

feat: add renderProps and floating ui
  packages/js/package.json
  packages/js/src/ui/components/Bell/Bell.tsx
  packages/js/src/ui/components/Bell/DefaultBellContainer.tsx
  packages/js/src/ui/components/Bell/index.ts
  packages/js/src/ui/components/Popover/Popover.tsx
  packages/js/src/ui/components/Popover/PopoverContent.tsx
  packages/js/src/ui/components/Popover/PopoverTarget.tsx
  packages/js/src/ui/components/Popover/index.ts
  packages/js/src/ui/components/PopoverTarget.tsx
  packages/js/src/ui/helpers/index.ts
  packages/js/src/ui/helpers/popover-utils.ts
  packages/js/src/ui/helpers/useUncontrolledState.ts
Labels: none

feat: update lock
  pnpm-lock.yaml
Labels: none

refactor: remove comment
  packages/js/src/ui/components/Bell/Bell.tsx
Labels: none

chore: update lock
  pnpm-lock.yaml
Labels: none

feat: add popovertrigger descriptor
  packages/js/src/ui/components/Popover/Popover.tsx
  packages/js/src/ui/components/Popover/PopoverContent.tsx
  packages/js/src/ui/components/Popover/PopoverTrigger.tsx
  packages/js/src/ui/components/Popover/index.ts
  packages/js/src/ui/context/AppearanceContext.tsx
Labels: none

fix: lock
  pnpm-lock.yaml
Labels: none

fix(web): text overlapping with scroll
  apps/web/src/studio/components/workflows/node-view/WorkflowFloatingMenu.tsx
Labels: @novu/web

fix: docker build command has been simplified
  .github/workflows/cloud-deploy-reusable-docker.yml
Labels: CI/CD

feat: hide webhook menu item if v2 is enabled
  apps/web/src/components/nav/RootNavMenu.tsx
Labels: @novu/web

ci: test optional clerk e2e
  .github/workflows/on-pr.yml
  .github/workflows/reusable-api-e2e.yml
Labels: CI/CD

fix: merge conflicts
  packages/js/src/ui/components/Bell/Bell.tsx
  packages/js/src/ui/components/Bell/DefaultBellContainer.tsx
  packages/js/src/ui/components/Inbox.tsx
  packages/js/src/ui/components/Popover/Popover.tsx
  packages/js/src/ui/helpers/useUncontrolledState.ts
Labels: none

fix: Outputs upgrade
  .github/workflows/cloud-deploy-reusable-docker.yml
  .github/workflows/cloud-deploy-services.yml
  .github/workflows/cloud-deploy-web-components.yml
  .github/workflows/cloud-deploy.yml
Labels: CI/CD

fix: Outputs upgrade
  .github/workflows/reusable-api-e2e.yml
Labels: CI/CD

fix(web): Nv 3999 actions channels side controls overflow in chrome (#5982)
  apps/web/src/studio/components/workflows/node-view/WorkflowFloatingMenu.tsx
Labels: @novu/web

refactor(client): replace action strings with enum
  packages/framework/src/client.ts
  packages/framework/src/types/execution.types.ts
Labels: none

ci: load clerk keys as base64
  .github/workflows/reusable-api-e2e.yml
Labels: CI/CD

ci: dont run regular ee on clerk ci run
  .github/workflows/reusable-api-e2e.yml
Labels: CI/CD

feat: hide webhook menu item if v2 is enabled (#5983)
  apps/web/src/components/nav/RootNavMenu.tsx
Labels: @novu/web

fix: bridge sync analytics source
  apps/web/src/api/api.client.ts
Labels: @novu/web

chore: update lock file
  pnpm-lock.yaml
Labels: none

chore(root): Check for conventional PR titles in all branches except prod
  .github/workflows/conventional-commit.yml
Labels: CI/CD

feat(js): Com 38 inbox popover (#5828)
  packages/js/package.json
  packages/js/src/ui/components/Bell.tsx
  packages/js/src/ui/components/Bell/Bell.tsx
  packages/js/src/ui/components/Bell/DefaultBellContainer.tsx
  packages/js/src/ui/components/Bell/index.ts
  packages/js/src/ui/components/Inbox.tsx
  packages/js/src/ui/components/Popover/Popover.tsx
  packages/js/src/ui/components/Popover/PopoverContent.tsx
  packages/js/src/ui/components/Popover/PopoverTrigger.tsx
  packages/js/src/ui/components/Popover/index.ts
  packages/js/src/ui/components/index.ts
  packages/js/src/ui/context/AppearanceContext.tsx
  packages/js/src/ui/helpers/index.ts
  packages/js/src/ui/helpers/useUncontrolledState.ts
  pnpm-lock.yaml
Labels: none

fixup! fix(cli): From 60kb to 30KB
  packages/cli/tsconfig.json
Labels: none

fix(novu): From 60kb to 30KB (#5969)
  packages/cli/.eslintrc.js
  packages/cli/package.json
  packages/cli/src/commands/sync.ts
  packages/cli/src/services/analytics.service.ts
  packages/cli/tsconfig.build.json
  packages/cli/tsconfig.json
  packages/cli/tsconfig.spec.json
Labels: none

chore: update lock file
  pnpm-lock.yaml
Labels: none

fix: add signup event
  apps/web/src/pages/auth/components/QuestionnaireForm.tsx
Labels: @novu/web

feat(js): Enforce appearance keys
  packages/js/.eslintrc.cjs
  packages/js/eslint-local-rules.js
  packages/js/package.json
  packages/js/src/ui/components/Bell/DefaultBellContainer.tsx
  packages/js/src/ui/components/Inbox.tsx
  packages/js/src/ui/components/Popover/PopoverContent.tsx
  packages/js/src/ui/components/Popover/PopoverTrigger.tsx
  packages/js/src/ui/context/AppearanceContext.tsx
  packages/js/src/ui/helpers/index.ts
  packages/js/src/ui/helpers/useStyle.tsx
  packages/js/src/ui/icons/BellIcon.tsx
  pnpm-lock.yaml
Labels: none

feat(js): Enforce appearance keys (#5984)
  packages/js/.eslintrc.cjs
  packages/js/eslint-local-rules.js
  packages/js/package.json
  packages/js/src/ui/components/Bell/DefaultBellContainer.tsx
  packages/js/src/ui/components/Inbox.tsx
  packages/js/src/ui/components/Popover/PopoverContent.tsx
  packages/js/src/ui/components/Popover/PopoverTrigger.tsx
  packages/js/src/ui/context/AppearanceContext.tsx
  packages/js/src/ui/helpers/index.ts
  packages/js/src/ui/helpers/useStyle.tsx
  packages/js/src/ui/icons/BellIcon.tsx
  pnpm-lock.yaml
Labels: none

test: fix clerk ee tests
  libs/testing/src/ee/ee.organization.service.ts
  libs/testing/src/user.session.ts
Labels: none

fix(cli): Ensure the correct TS configuration
  packages/cli/package.json
  packages/cli/src/commands/animation.ts
  packages/cli/src/commands/shared.ts
  packages/cli/tsconfig.json
  pnpm-lock.yaml
Labels: none

.github/labeler.yml:

'@novu/api-server':
  - apps/api/**/*
'@novu/worker':
  - apps/worker/**/*
'@novu/web':
  - apps/web/**/*
'@novu/ws':
  - apps/ws/**/*
'@novu/inbound-mail':
  - apps/inbound-mail/**/*
'@novu/webhook':
  - apps/webhook/**/*
'@novu/dal':
  - libs/dal/**/*
'@novu/design-system':
  - libs/design-system/**/*
'@novu/novui':
  - libs/novui/**/*
'@novu/shared':
  - libs/shared/**/*
'@novu/notification-center':
  - packages/notification-center/**/*
'@novu/notification-center-vue':
  - packages/notification-center-vue/**/*
'@novu/notification-center-angular':
  - packages/notification-center-angular/**/*
'providers':
  - providers/**/*
'CI/CD':
  - .github/**/*
'helm':
  - docker/kubernetes/helm/**/*
'kustomize':
  - docker/kubernetes/kustomize/**/*
'docker':
  - docker/**/*
'scripts':
  - scripts/**/*
