Repository novuhq/novu, changes with the labels that .github/labeler.yml gives for each.
All labels: @novu/api-server, @novu/worker, @novu/web, @novu/ws, @novu/inbound-mail, @novu/webhook, @novu/dal, @novu/design-system, @novu/novui, @novu/shared, @novu/notification-center, @novu/notification-center-vue, @novu/notification-center-angular, providers, CI/CD, helm, kustomize, docker, scripts

fix(novu): Apply the correct authorization type
  packages/node/src/lib/novu.ts
Labels: none

fix(api): Ensure both web and dashboard subdomains work in parallel
  apps/api/src/config/cors.spec.ts
  apps/api/src/config/cors.ts
  apps/api/src/config/env-validator.ts
  apps/api/src/types/env.d.ts
  apps/web/netlify.toml
Labels: @novu/api-server, @novu/web

feat(framework): Add trigger capability to defined workflows (#5877)
  apps/api/e2e/echo.server.ts
  packages/framework/src/client.test.ts
  packages/framework/src/client.ts
  packages/framework/src/constants/error.constants.ts
  packages/framework/src/errors/execution.errors.ts
  packages/framework/src/errors/handler.errors.ts
  packages/framework/src/handler.ts
  packages/framework/src/types/discover.types.ts
  packages/framework/src/types/event.types.ts
  packages/framework/src/types/execution.types.ts
  packages/framework/src/types/index.ts
  packages/framework/src/types/util.types.ts
  packages/framework/src/utils/env.utils.test.ts
  packages/framework/src/utils/env.utils.ts
  packages/framework/src/utils/http.utils.ts
  packages/framework/src/workflow.test.ts
  packages/framework/src/workflow.ts
Labels: @novu/api-server

fixup! fix(api): Ensure both web and dashboard subdomains work in parallel
  apps/api/src/config/cors.ts
Labels: @novu/api-server

refactor(cli): update tunnel URL and submodule commit
  packages/cli/src/commands/dev.ts
Labels: none

fixup! fixup! fix(api): Ensure both web and dashboard subdomains work in parallel
  apps/api/src/config/env-validator.ts
Labels: @novu/api-server

refactor: rename novu sh tunnel domain
  packages/cli/src/commands/dev.ts
Labels: none

fixup! fixup! fixup! fix(api): Ensure both web and dashboard subdomains work in parallel
  apps/api/src/config/env-validator.ts
Labels: @novu/api-server

fix(api): Ensure both web and dashboard subdomains work in parallel (#5919)
  apps/api/src/config/cors.spec.ts
  apps/api/src/config/cors.ts
  apps/api/src/types/env.d.ts
  apps/web/netlify.toml
Labels: @novu/api-server, @novu/web

fix(app-gen): store null in cache after stateless trigger
  libs/application-generic/src/usecases/trigger-event/trigger-event.usecase.ts
Labels: none

fix(worker): store null in cache after stateless trigger (#5922)
  libs/application-generic/src/usecases/trigger-event/trigger-event.usecase.ts
Labels: none

chore: update versions to 2.0.0-canary.0
  apps/api/package.json
  apps/inbound-mail/package.json
  apps/web/package.json
  apps/webhook/package.json
  apps/widget/package.json
  apps/worker/package.json
  apps/ws/package.json
  enterprise/packages/auth/package.json
  enterprise/packages/billing/package.json
  enterprise/packages/echo/echo-api/package.json
  enterprise/packages/echo/echo-worker/package.json
  enterprise/packages/libs/dal/package.json
  enterprise/packages/shared-services/package.json
  enterprise/packages/translation/package.json
  lerna.json
  libs/application-generic/package.json
  libs/automation/package.json
  libs/dal/package.json
  libs/design-system/package.json
  libs/embed/package.json
  libs/novui/package.json
  libs/shared/package.json
  libs/testing/package.json
  packages/cli-next/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/create-novu-app/package.json
  packages/framework/package.json
  packages/headless/package.json
  packages/js/package.json
  packages/nest/package.json
  packages/node/package.json
  packages/notification-center-angular/package.json
  packages/notification-center-angular/projects/notification-center-angular/package.json
  packages/notification-center-vue/package.json
  packages/notification-center/package.json
  packages/providers/package.json
  packages/stateless/package.json
Labels: @novu/api-server, @novu/worker, @novu/web, @novu/ws, @novu/inbound-mail, @novu/webhook, @novu/dal, @novu/design-system, @novu/novui, @novu/shared, @novu/notification-center, @novu/notification-center-vue, @novu/notification-center-angular

chore: bump version to 0.24.3-alpha.14
  packages/framework/package.json
Labels: none

ci: Remove redundant checkout step in deploy job
  apps/web/src/components/layout/components/v2/SyncInfoModal.tsx
Labels: @novu/web

ci: Remove redundant checkout step in deploy job (#5924)
  apps/web/src/components/layout/components/v2/SyncInfoModal.tsx
Labels: @novu/web

fix(framework): bug with duplicate step names
  packages/framework/src/client.test.ts
  packages/framework/src/client.ts
  packages/framework/src/handler.ts
  packages/framework/src/workflow.ts
Labels: none

fix(framework): bug with duplicate step names
  packages/framework/src/handler.ts
Labels: none

fix(framework): bug with duplicate step names
  packages/framework/src/client.ts
Labels: none

feat: add tracking event for sync button clicked
  apps/web/src/components/layout/components/v2/SyncInfoModalTrigger.tsx
Labels: @novu/web

fix(framework): bug with duplicate step names
  packages/framework/src/handler.ts
Labels: none

feat: add tracking event for sync button clicked (#5925)
  apps/web/src/components/layout/components/v2/SyncInfoModalTrigger.tsx
Labels: @novu/web

fix: so use telemetry hook is used directly from studio
  apps/web/src/components/docs/DocsButton.tsx
  apps/web/src/components/docs/DocsModal.tsx
  apps/web/src/components/docs/useLoadDocs.tsx
  apps/web/src/components/layout/components/v2/BridgeUpdateModal.tsx
  apps/web/src/components/providers/SegmentProvider.tsx
  apps/web/src/hooks/useNovuAPI.ts
  apps/web/src/pages/layouts/v2/LayoutsPage.tsx
  apps/web/src/pages/studio-onboarding/components/Footer.tsx
  apps/web/src/pages/studio-onboarding/index.tsx
  apps/web/src/pages/studio-onboarding/preview.tsx
  apps/web/src/pages/studio-onboarding/success.tsx
  apps/web/src/pages/templates/editor_v2/TemplateStepEditorV2.tsx
  apps/web/src/studio/components/GetStartedPageV2/index.tsx
  apps/web/src/studio/components/workflows/step-editor/WorkflowStepEditorControlsPanel.tsx
  apps/web/src/studio/components/workflows/step-editor/WorkflowTestStepButton.tsx
  apps/web/src/studio/components/workflows/step-editor/WorkflowsStepEditorPage.tsx
  apps/web/src/studio/components/workflows/test-workflow/WorkflowsTestPage.tsx
  apps/web/src/utils/segment.ts
Labels: @novu/web

fix: tracking events in studio
  apps/web/src/api/api.client.ts
  apps/web/src/components/providers/SegmentProvider.tsx
  apps/web/src/hooks/useNovuAPI.ts
  apps/web/src/utils/segment.ts
Labels: @novu/web

feat: move to telemetry hook
  apps/web/src/components/layout/components/v2/SyncInfoModalTrigger.tsx
Labels: @novu/web

fix(test): fix e2e ee tests
  apps/api/src/app/auth/e2e/oauth.e2e-ee.ts
  apps/api/src/app/organization/e2e/sync-organization.e2e-ee.ts
  apps/api/src/app/testing/billing/evaluate-event-resource-limit.e2e-ee.ts
  apps/api/src/app/testing/billing/get-platform-notification-usage.e2e-ee.ts
  apps/api/src/app/testing/billing/upsert-subscription.e2e-ee.ts
  apps/api/src/app/testing/billing/verify-customer.e2e-ee.ts
  apps/api/src/app/testing/billing/webhook.e2e-ee.ts
  apps/api/src/app/testing/translations/update-default-locale.e2e-ee.ts
  apps/api/src/app/user/e2e/sync-user.e2e-ee.ts
  apps/api/src/app/workflows/e2e/create-notification-templates.e2e.ts
  libs/testing/src/ee/ee.organization.service.ts
  libs/testing/src/index.ts
  libs/testing/src/user.session.ts
Labels: @novu/api-server

chore: update pnpm-lock
  pnpm-lock.yaml
Labels: none

feat: add new empty state for workflows in v2 (#5917)
  apps/web/src/AppRoutes.tsx
  apps/web/src/components/nav/RootNavMenu.tsx
  apps/web/src/hooks/useFeatureFlag.ts
  apps/web/src/pages/auth/components/HubspotSignupForm.tsx
  apps/web/src/pages/auth/components/QuestionnaireForm.tsx
  apps/web/src/pages/templates/TemplatesListNoData.tsx
  apps/web/src/pages/templates/WorkflowListPage.tsx
  apps/web/src/studio/components/GetStartedPageV2/Development.tsx
  apps/web/src/studio/components/GetStartedPageV2/Studio.tsx
  apps/web/src/studio/components/GetStartedPageV2/deploy.tsx
  apps/web/src/studio/components/GetStartedPageV2/ide.tsx
  apps/web/src/studio/components/GetStartedPageV2/index.tsx
  apps/web/src/studio/components/GetStartedPageV2/terminal.tsx
  apps/web/src/studio/components/GetStartedPageV2/workflow.tsx
Labels: @novu/web

chore: bump version numbers in package.json
  packages/cli/package.json
  packages/create-novu-app/package.json
Labels: none

fix: Allow requests from dashboard
  packages/cli/src/dev-server/http-server.ts
Labels: none

feat(ee-auth): inject ee providers to ee modules (tmp)
  libs/application-generic/src/utils/inject-repositories.ts
Labels: none

refactor: Clean and extract
  apps/web/src/studio/hooks/useNavigateToLocalStudio.ts
  apps/web/src/studio/types.ts
Labels: @novu/web

fix: Modal text size
  apps/web/src/components/layout/components/v2/SyncInfoModal.tsx
  apps/web/src/studio/components/OpenLocalStudioModal.tsx
Labels: @novu/web

feat(web): back button in header
  apps/web/src/components/layout/components/LocalStudioHeader/LocalStudioHeader.tsx
  apps/web/src/components/layout/components/v2/HeaderNav.tsx
  apps/web/src/components/layout/components/v2/WorkflowHeaderBackButton.tsx
  libs/novui/src/components/button/IconButton.tsx
Labels: @novu/web, @novu/novui

chore: bump version numbers in package.json (#5928)
  packages/cli/package.json
  packages/create-novu-app/package.json
Labels: none

fix: Open new tab as required by iframe issue
  apps/web/src/components/layout/components/LocalStudioSidebar/LocalStudioSidebar.tsx
  apps/web/src/components/layout/components/v2/SyncInfoModal.tsx
  apps/web/src/studio/hooks/useNavigateToLocalStudio.ts
Labels: @novu/web

fix: build error
  apps/web/src/studio/components/GetStartedPageV2/index.tsx
Labels: @novu/web

fix: Attempt to force dark mode in local
  packages/cli/src/dev-server/http-server.ts
Labels: none

fix(web): tracking events in studio (#5897)
  apps/web/src/api/api.client.ts
  apps/web/src/components/docs/DocsButton.tsx
  apps/web/src/components/docs/DocsModal.tsx
  apps/web/src/components/docs/useLoadDocs.tsx
  apps/web/src/components/layout/components/v2/BridgeUpdateModal.tsx
  apps/web/src/components/layout/components/v2/SyncInfoModalTrigger.tsx
  apps/web/src/hooks/useNovuAPI.ts
  apps/web/src/pages/layouts/v2/LayoutsPage.tsx
  apps/web/src/pages/studio-onboarding/components/Footer.tsx
  apps/web/src/pages/studio-onboarding/index.tsx
  apps/web/src/pages/studio-onboarding/preview.tsx
  apps/web/src/pages/studio-onboarding/success.tsx
  apps/web/src/pages/templates/editor_v2/TemplateStepEditorV2.tsx
  apps/web/src/studio/components/GetStartedPageV2/index.tsx
  apps/web/src/studio/components/workflows/step-editor/WorkflowStepEditorControlsPanel.tsx
  apps/web/src/studio/components/workflows/step-editor/WorkflowTestStepButton.tsx
  apps/web/src/studio/components/workflows/step-editor/WorkflowsStepEditorPage.tsx
  apps/web/src/studio/components/workflows/test-workflow/WorkflowsTestPage.tsx
  apps/web/src/utils/segment.ts
Labels: @novu/web

fix: add modal storybook
  libs/novui/src/components/modal/Modal.stories.tsx
  libs/novui/src/components/modal/Modal.tsx
  libs/novui/src/recipes/modal.recipe.ts
  libs/novui/src/tokens/semanticOpacity.tokens.ts
Labels: @novu/novui

fix: so track is not spammed
  apps/web/src/components/docs/useLoadDocs.tsx
Labels: @novu/web

.github/labeler.yml:

'@novu/api-server':
  - apps/api/**/*
'@novu/worker':
  - apps/worker/**/*
'@novu/web':
  - apps/web/**/*
'@novu/ws':
  - apps/ws/**/*
'@novu/inbound-mail':
  - apps/inbound-mail/**/*
'@novu/webhook':
  - apps/webhook/**/*
'@novu/dal':
  - libs/dal/**/*
'@novu/design-system':
  - libs/design-system/**/*
'@novu/novui':
  - libs/novui/**/*
'@novu/shared':
  - libs/shared/**/*
'@novu/notification-center':
  - packages/notification-center/**/*
'@novu/notification-center-vue':
  - packages/notification-center-vue/**/*
'@novu/notification-center-angular':
  - packages/notification-center-angular/**/*
'providers':
  - providers/**/*
'CI/CD':
  - .github/**/*
'helm':
  - docker/kubernetes/helm/**/*
'kustomize':
  - docker/kubernetes/kustomize/**/*
'docker':
  - docker/**/*
'scripts':
  - scripts/**/*
