Repository novuhq/novu, changes with the labels that .github/labeler.yml gives for each.
All labels: @novu/api-server, @novu/worker, @novu/web, @novu/ws, @novu/inbound-mail, @novu/webhook, @novu/dal, @novu/design-system, @novu/novui, @novu/shared, @novu/notification-center, @novu/notification-center-vue, @novu/notification-center-angular, providers, CI/CD, helm, kustomize, docker, scripts

feat: add eslint error on unused imports
  packages/framework/.eslintrc.js
  packages/framework/package.json
  pnpm-lock.yaml
Labels: none

chore(web): ensure onboarding for v2 works
  apps/web/src/studio/LocalStudioAuthenticator.tsx
Labels: @novu/web

fix: copy updates
  apps/api/src/app/bridge/usecases/sync/sync.usecase.ts
  apps/web/src/pages/auth/components/QuestionnaireForm.tsx
  apps/web/src/studio/components/GetStartedPageV2/index.tsx
Labels: @novu/api-server, @novu/web

chore(web): ensure onboarding for v2 works
  apps/web/src/components/layout/components/EnsureOnboardingComplete.tsx
Labels: @novu/web

fix(web): get new envs directly instead of via usequery update
  apps/web/src/components/providers/EnvironmentProvider.tsx
  apps/web/src/pages/auth/components/QuestionnaireForm.tsx
Labels: @novu/web

fix: Issue in panda
  apps/web/panda.config.ts
Labels: @novu/web

fix: Tabs recipe
  libs/novui/src/recipes/tabs.recipe.ts
Labels: @novu/novui

ci: Bump panda version
  apps/web/package.json
  libs/novui/package.json
  pnpm-lock.yaml
Labels: @novu/web, @novu/novui

fix: Aside bg color
  apps/web/src/components/nav/Aside.tsx
Labels: @novu/web

chore(js): update the sdk with the latest api changes
  apps/api/src/app/inbox/utils/notification-mapper.ts
  apps/api/src/app/inbox/utils/types.ts
  packages/js/src/api/inbox-service.ts
  packages/js/src/api/types.ts
  packages/js/src/event-emitter/types.ts
  packages/js/src/feeds/feeds.ts
  packages/js/src/feeds/helpers.ts
  packages/js/src/feeds/notification.ts
  packages/js/src/feeds/types.ts
  packages/js/src/types.ts
  packages/js/src/ui/api/hooks/useReadAll.ts
  packages/js/test-sdk.ts
Labels: @novu/api-server

chore(js): updated the notifications route for inbox service
  packages/js/src/api/inbox-service.ts
Labels: none

chore(web): ensure onboarding for v2 works
  apps/web/src/components/layout/components/EnsureOnboardingComplete.tsx
  apps/web/src/components/providers/EnvironmentProvider.tsx
Labels: @novu/web

fix: Bg colors
  apps/web/src/pages/studio-onboarding/components/Wrapper.tsx
  apps/web/src/studio/components/OutlineButton.tsx
Labels: @novu/web

fix: cspell error
  .cspell.json
  packages/framework/src/schemas/providers/sms/twilio.schema.ts
Labels: none

fix: after pr comments
  .eslintrc.js
  package.json
  packages/framework/package.json
  packages/framework/src/client.ts
  packages/framework/src/utils/sanitize-html.utils.ts
Labels: none

chore(web): ensure onboarding for v2 works (#6083)
  apps/web/src/components/layout/components/EnsureOnboardingComplete.tsx
  apps/web/src/components/providers/EnvironmentProvider.tsx
  apps/web/src/ee/clerk/pages/SignInPage.tsx
  apps/web/src/ee/clerk/providers/ClerkProvider.tsx
  apps/web/src/ee/clerk/providers/useCreateAuthEnterprise.ts
  apps/web/src/studio/LocalStudioAuthenticator.tsx
Labels: @novu/web

fix(web): get new envs directly instead of via usequery update (#6085)
  apps/web/src/pages/auth/components/QuestionnaireForm.tsx
Labels: @novu/web

fix: accordion close
  packages/js/src/ui/components/Settings/Settings.tsx
Labels: none

fix(framework): twilio schema in framework (#6065)
  packages/framework/src/schemas/providers/sms/index.ts
  packages/framework/src/schemas/providers/sms/twilio.schema.ts
  packages/framework/src/schemas/providers/sms/twilio.ts
Labels: none

fix(js): accordion close (#6087)
  packages/js/src/ui/components/Settings/Settings.tsx
Labels: none

feat: wip web containers
  apps/web/package.json
  apps/web/src/pages/auth/onboarding/Onboarding.tsx
  apps/web/src/studio/components/workflows/step-editor/editor/CodeEditor.tsx
  apps/web/src/studio/components/workflows/step-editor/editor/RunExpressApp.tsx
  apps/web/src/studio/components/workflows/step-editor/editor/bridge-code.const.ts
  apps/web/src/studio/components/workflows/step-editor/editor/files.ts
  apps/web/src/studio/components/workflows/step-editor/editor/test-code.ts
  pnpm-lock.yaml
Labels: @novu/web

chore(api): fixed failing inbox e2e tests
  apps/api/src/app/inbox/e2e/get-notifications.e2e.ts
  apps/api/src/app/inbox/e2e/mark-notification-as.e2e.ts
Labels: @novu/api-server

feat: add container headers
  apps/web/config-overrides.js
  apps/web/netlify.toml
Labels: @novu/web

chore(js): update the sdk with the latest api changes (#6086)
  apps/api/src/app/inbox/e2e/get-notifications.e2e.ts
  apps/api/src/app/inbox/e2e/mark-notification-as.e2e.ts
  apps/api/src/app/inbox/utils/notification-mapper.ts
  apps/api/src/app/inbox/utils/types.ts
  packages/js/src/api/inbox-service.ts
  packages/js/src/api/types.ts
  packages/js/src/event-emitter/types.ts
  packages/js/src/feeds/feeds.ts
  packages/js/src/feeds/helpers.ts
  packages/js/src/feeds/notification.ts
  packages/js/src/feeds/types.ts
  packages/js/src/types.ts
  packages/js/src/ui/api/hooks/useReadAll.ts
  packages/js/test-sdk.ts
Labels: @novu/api-server

fix(web): don't show org form twice for new users
  apps/web/src/pages/auth/components/QuestionnaireForm.tsx
Labels: @novu/web

fix(web): don't show org form twice for new users
  apps/web/src/pages/auth/components/QuestionnaireForm.tsx
Labels: @novu/web

feat: add unit test for sanitize html in object
  packages/framework/src/utils/sanitize-html.utils.test.ts
  packages/framework/src/utils/sanitize-html.utils.ts
Labels: none

fix(web): don't show org form twice for new users
  apps/web/src/pages/auth/components/QuestionnaireForm.tsx
Labels: @novu/web

fix(api, web): More fixes on env and org switching
  apps/api/src/app/auth/services/passport/jwt.strategy.ts
  apps/web/src/components/providers/CommunityAuthProvider.tsx
  apps/web/src/components/providers/EnvironmentProvider.tsx
  apps/web/src/ee/billing/utils/hooks/useSubscription.ts
  libs/application-generic/src/services/auth/community.auth.service.ts
Labels: @novu/api-server, @novu/web

feat(js): Empty notification list
  packages/js/src/ui/components/Notification/NotificationList.tsx
  packages/js/src/ui/components/Notification/index.ts
  packages/js/src/ui/config/defaultAppearance.ts
  packages/js/src/ui/config/defaultLocalization.ts
  packages/js/src/ui/config/index.ts
  packages/js/src/ui/context/LocalizationContext.tsx
  packages/js/src/ui/icons/BellIcon.tsx
  packages/js/src/ui/icons/EmptyIcon.tsx
Labels: none

fix(web): don't show org form twice for new users (#6089)
  apps/web/src/pages/auth/components/QuestionnaireForm.tsx
Labels: @novu/web

fix(api, web): More fixes on env and org switching (#6091)
  apps/api/src/app/auth/services/passport/jwt.strategy.ts
  apps/web/src/components/providers/CommunityAuthProvider.tsx
  apps/web/src/components/providers/EnvironmentProvider.tsx
  apps/web/src/ee/billing/utils/hooks/useSubscription.ts
  libs/application-generic/src/services/auth/community.auth.service.ts
Labels: @novu/api-server, @novu/web

feat: add iframe
  apps/web/src/pages/auth/onboarding/Onboarding.tsx
  apps/web/src/studio/components/workflows/step-editor/editor/RunExpressApp.tsx
  apps/web/src/studio/components/workflows/step-editor/editor/files.ts
Labels: @novu/web

refactor(schema): remove unused avatar and actor schemas
  packages/framework/src/schemas/steps/channels/in-app.schema.ts
Labels: none

fix: after pr comment
  packages/framework/src/client.ts
Labels: none

fix(web): Restore studio loading
  apps/web/src/ApplicationReadyGuard.tsx
Labels: @novu/web

fix(api): bring back reload organization callback
  apps/web/src/ee/clerk/providers/EnterpriseAuthProvider.tsx
Labels: @novu/web

feat(js): Infinite scroll
  packages/js/.eslintrc.cjs
  packages/js/eslint-local-rules.js
  packages/js/src/ui/api/hooks/index.ts
  packages/js/src/ui/api/hooks/useFeed.ts
  packages/js/src/ui/components/Inbox.tsx
  packages/js/src/ui/components/Notification/NotificationList.tsx
  packages/js/src/ui/components/Settings/LoadingScreen.tsx
  packages/js/src/ui/components/elements/Header/SettingsHeader.tsx
  packages/js/src/ui/components/elements/Header/StatusDropdown.tsx
  packages/js/src/ui/components/elements/Root.tsx
  packages/js/src/ui/components/elements/Settings/ChannelRow.tsx
  packages/js/src/ui/components/elements/Settings/LoadingScreen.tsx
  packages/js/src/ui/components/elements/Settings/Settings.tsx
  packages/js/src/ui/components/elements/Settings/Switch.tsx
  packages/js/src/ui/components/elements/Settings/index.ts
  packages/js/src/ui/components/elements/index.ts
  packages/js/src/ui/components/index.ts
  packages/js/src/ui/components/primitives/Skeleton.tsx
  packages/js/src/ui/context/AppearanceContext.tsx
  packages/js/src/ui/helpers/createInfiniteScroll.ts
  packages/js/src/ui/helpers/index.ts
  packages/js/src/ui/icons/Archive.tsx
  packages/js/src/ui/icons/ArchiveRead.tsx
  packages/js/src/ui/icons/ArrowLeft.tsx
  packages/js/src/ui/icons/Chat.tsx
  packages/js/src/ui/icons/Check.tsx
  packages/js/src/ui/icons/Email.tsx
  packages/js/src/ui/icons/EmptyIcon.tsx
  packages/js/src/ui/icons/InApp.tsx
  packages/js/src/ui/icons/Inbox.tsx
  packages/js/src/ui/icons/Push.tsx
  packages/js/src/ui/icons/ReadAll.tsx
  packages/js/src/ui/icons/Sms.tsx
  packages/js/src/ui/icons/Unread.tsx
  playground/nextjs/.env.example
  playground/nextjs/src/pages/index.tsx
Labels: none

chore(web): remove unused auth provider hook
  apps/web/src/ee/clerk/providers/useCreateAuthEnterprise.ts
Labels: @novu/web

refactor: Rename file
  libs/novui/src/components/button/Button.const.ts
  libs/novui/src/components/button/Button.tsx
  libs/novui/src/components/button/IconButton.tsx
Labels: @novu/novui

.github/labeler.yml:

'@novu/api-server':
  - apps/api/**/*
'@novu/worker':
  - apps/worker/**/*
'@novu/web':
  - apps/web/**/*
'@novu/ws':
  - apps/ws/**/*
'@novu/inbound-mail':
  - apps/inbound-mail/**/*
'@novu/webhook':
  - apps/webhook/**/*
'@novu/dal':
  - libs/dal/**/*
'@novu/design-system':
  - libs/design-system/**/*
'@novu/novui':
  - libs/novui/**/*
'@novu/shared':
  - libs/shared/**/*
'@novu/notification-center':
  - packages/notification-center/**/*
'@novu/notification-center-vue':
  - packages/notification-center-vue/**/*
'@novu/notification-center-angular':
  - packages/notification-center-angular/**/*
'providers':
  - providers/**/*
'CI/CD':
  - .github/**/*
'helm':
  - docker/kubernetes/helm/**/*
'kustomize':
  - docker/kubernetes/kustomize/**/*
'docker':
  - docker/**/*
'scripts':
  - scripts/**/*
