Repository novuhq/novu, changes with the labels that .github/labeler.yml gives for each.
All labels: @novu/api-server, @novu/worker, @novu/web, @novu/ws, @novu/inbound-mail, @novu/webhook, @novu/dal, @novu/design-system, @novu/novui, @novu/shared, @novu/notification-center, @novu/notification-center-vue, @novu/notification-center-angular, providers, CI/CD, helm, kustomize, docker, scripts

feat(novui): Re-style Step Controls (#6029)
  libs/novui/.storybook/preview.tsx
  libs/novui/src/components/button/Button.const.ts
  libs/novui/src/components/button/Button.tsx
  libs/novui/src/components/button/IconButton.tsx
  libs/novui/src/json-schema-components/JsonSchemaForm.stories.tsx
  libs/novui/src/json-schema-components/JsonSchemaForm.tsx
  libs/novui/src/json-schema-components/shared.tsx
  libs/novui/src/json-schema-components/templates/ArrayFieldTemplate.tsx
  libs/novui/src/json-schema-components/templates/IconButton.tsx
  libs/novui/src/json-schema-components/templates/ObjectFieldTemplate.tsx
  libs/novui/src/json-schema-components/useExpandToggle.tsx
  libs/novui/src/json-schema-components/utils.ts
  libs/novui/src/panda-preset.ts
  libs/novui/src/recipes/button.recipe.ts
  libs/novui/src/recipes/index.ts
  libs/novui/src/recipes/json-schema-form.recipe.ts
  libs/novui/src/tokens/semanticColors.tokens.ts
Labels: @novu/novui

chore: Keep mantine package versions in sync
  libs/novui/package.json
  pnpm-lock.yaml
Labels: @novu/novui

fix(novui): Button hover behavior
  libs/novui/src/json-schema-components/shared.tsx
Labels: @novu/novui

fix(web): Strengthen security posture against click jacking
  apps/web/netlify.toml
Labels: @novu/web

Update netlify.toml
  apps/web/netlify.toml
Labels: @novu/web

Update netlify.toml
  apps/web/netlify.toml
Labels: @novu/web

fix(web): ensure we wait for loads to happen
  apps/web/tests/utils/browser.ts
Labels: @novu/web

ci(root): add ee clerk e2e tests to dev deploy (#6056)
  .github/workflows/dev-deploy-api.yml
Labels: CI/CD

fix(web): ensure we wait for loads to happen
  apps/web/src/components/providers/EnvironmentProvider.tsx
  apps/web/src/components/providers/createContextAndHook.ts
Labels: @novu/web

fix(web): ensure we wait for loads to happen
  apps/web/src/components/providers/EnvironmentProvider.tsx
Labels: @novu/web

fix(web): ensure we wait for loads to happen (#6098)
  apps/web/src/components/providers/EnvironmentProvider.tsx
  apps/web/src/components/providers/createContextAndHook.ts
Labels: @novu/web

fix(web): add internal id condition to ee switch org callback (#6096)
  apps/web/src/ee/clerk/providers/EnterpriseAuthProvider.tsx
Labels: @novu/web

fix(js): Address PR comments
  packages/js/.eslintrc.cjs
  packages/js/eslint-local-rules.js
  packages/js/src/ui/api/hooks/useFeed.ts
  packages/js/src/ui/components/Inbox.tsx
  packages/js/src/ui/components/Notification/NotificationList.tsx
  packages/js/src/ui/components/Notification/NotificationListSkeleton.tsx
  packages/js/src/ui/components/Notification/index.ts
  packages/js/src/ui/config/defaultLocalization.ts
  packages/js/src/ui/context/AppearanceContext.tsx
  packages/js/src/ui/context/LocalizationContext.tsx
  packages/js/src/ui/helpers/createInfiniteScroll.ts
Labels: none

feat(js): Com 70 the endpoint that returns all preferences global workflow (#6077)
  apps/api/src/app/inbox/dtos/get-preferences-response.dto.ts
  apps/api/src/app/inbox/e2e/get-preferences.e2e.ts
  apps/api/src/app/inbox/inbox.controller.ts
  apps/api/src/app/inbox/usecases/get-preferences/get-preferences.command.ts
  apps/api/src/app/inbox/usecases/get-preferences/get-preferences.spec.ts
  apps/api/src/app/inbox/usecases/get-preferences/get-preferences.usecase.ts
  apps/api/src/app/inbox/usecases/index.ts
  apps/api/src/app/inbox/utils/analytics.ts
  apps/api/src/metadata.ts
  libs/shared/src/entities/subscriber-preference/subscriber-preference.interface.ts
Labels: @novu/api-server, @novu/shared

test: Expand sanitize util test cases
  packages/framework/src/utils/sanitize.utils.test.ts
  packages/framework/src/utils/sanitize.utils.ts
Labels: none

Update QuestionnaireForm.tsx
  apps/web/src/pages/auth/components/QuestionnaireForm.tsx
Labels: @novu/web

refactor(web): simplify auth providers by extracting shared logic
  apps/web/src/components/providers/CommunityAuthProvider.tsx
  apps/web/src/ee/clerk/providers/EnterpriseAuthProvider.tsx
  apps/web/src/hooks/useCommonAuth.ts
Labels: @novu/web

fix(js): Fix checkmark for selected value and localize text
  .cspell.json
  packages/js/src/ui/components/elements/Header/Header.tsx
  packages/js/src/ui/components/elements/InboxStatus/InboxStatusDropdown.tsx
  packages/js/src/ui/components/elements/InboxStatus/InboxStatusOptions.tsx
  packages/js/src/ui/components/elements/InboxStatus/constants.ts
  packages/js/src/ui/config/defaultLocalization.ts
  packages/js/src/ui/context/LocalizationContext.tsx
  packages/js/src/ui/types.ts
Labels: none

refactor(web): use createContextAndHook utility for auth providers
  apps/web/src/components/providers/AuthProvider.tsx
  apps/web/src/components/providers/CommunityAuthProvider.tsx
  apps/web/src/ee/clerk/providers/EnterpriseAuthProvider.tsx
Labels: @novu/web

chore(client): add the novu api version header
  apps/api/src/app/inbox/dtos/button-type-request.dto.ts
  apps/api/src/metadata.ts
  packages/client/src/http-client/http-client.ts
Labels: @novu/api-server

chore(js): added suggestions from the pr #6090
  packages/client/src/http-client/http-client.ts
  packages/js/src/api/inbox-service.ts
Labels: none

feat: run trigger
  apps/api/src/app/bridge/usecases/get-bridge-status/get-bridge-status.usecase.ts
  apps/web/src/index.tsx
  apps/web/src/pages/auth/onboarding/Onboarding.tsx
  apps/web/src/studio/components/workflows/step-editor/editor/RunExpressApp.tsx
  apps/web/src/studio/components/workflows/step-editor/editor/bridge-code.const.ts
  apps/web/src/studio/components/workflows/step-editor/editor/files.ts
  apps/web/src/studio/components/workflows/step-editor/editor/test-code.ts
Labels: @novu/api-server, @novu/web

test(sanitize): add test for camelCase attribute conversion
  packages/framework/src/utils/sanitize.utils.test.ts
  packages/framework/src/utils/sanitize.utils.ts
Labels: none

refactor(workflow): simplify delay job metadata handling
  apps/worker/src/app/workflow/usecases/add-job/add-delay-job.usecase.ts
  apps/worker/src/app/workflow/usecases/add-job/add-job.usecase.ts
Labels: @novu/worker

fix: new line
  apps/api/src/metadata.ts
  apps/web/src/pages/auth/components/QuestionnaireForm.tsx
Labels: @novu/api-server, @novu/web

fix(worker): Use Bridge data for Delay step during stateful execution (#6107)
  apps/worker/src/app/workflow/usecases/add-job/add-delay-job.usecase.ts
  apps/worker/src/app/workflow/usecases/add-job/add-job.usecase.ts
Labels: @novu/worker

chore(client): add the novu api version header (#6090)
  apps/api/src/app/inbox/dtos/button-type-request.dto.ts
  apps/api/src/metadata.ts
  packages/client/src/http-client/http-client.ts
  packages/js/src/api/inbox-service.ts
Labels: @novu/api-server

refactor(web): separate concerns and simplify auth providers
  apps/web/src/components/providers/AuthProvider.tsx
  apps/web/src/ee/clerk/providers/EnterpriseAuthProvider.tsx
  apps/web/src/ee/clerk/providers/withOrganizationGuard.tsx
Labels: @novu/web

chore(api): inbox - improve the avatar and subject fields on the notification interface
  apps/api/src/app/inbox/utils/notification-mapper.ts
  apps/api/src/app/inbox/utils/types.ts
  libs/dal/src/repositories/message/message.entity.ts
  libs/dal/src/repositories/message/message.schema.ts
  packages/js/src/feeds/notification.ts
  packages/js/src/types.ts
Labels: @novu/api-server, @novu/dal

test: remove redundant client initialization
  packages/framework/src/client.test.ts
Labels: none

fix: comit meta
  apps/api/src/metadata.ts
Labels: @novu/api-server

chore(api): inbox - improve the avatar and subject fields on the notification interface (#6105)
  apps/api/src/app/inbox/utils/notification-mapper.ts
  apps/api/src/app/inbox/utils/types.ts
  libs/dal/src/repositories/message/message.entity.ts
  libs/dal/src/repositories/message/message.schema.ts
  packages/js/src/feeds/notification.ts
  packages/js/src/types.ts
Labels: @novu/api-server, @novu/dal

Update RootNavMenu.tsx
  apps/web/src/components/nav/RootNavMenu.tsx
Labels: @novu/web

feat(worker): Add metadata logging and digest update
  apps/api/package.json
  apps/worker/src/app/workflow/usecases/add-job/add-job.usecase.ts
  pnpm-lock.yaml
Labels: @novu/api-server, @novu/worker

refactor(add-job): Remove redundant log statements
  apps/worker/src/app/workflow/usecases/add-job/add-job.usecase.ts
Labels: @novu/worker

fix: location of banner
  apps/web/src/components/layout/components/PrivatePageLayout.tsx
Labels: @novu/web

chore(shared): allow for the novu api version header
  libs/shared/src/types/http/headers.types.ts
Labels: @novu/shared

feat(js): inbox - single websocket connection across tabs
  packages/js/src/ui/components/elements/Bell/Bell.tsx
  packages/js/src/ui/helpers/browser.ts
  packages/js/src/ui/helpers/constants.ts
Labels: none

feat(js): inbox post unread count message across the tabs
  packages/js/src/ui/components/elements/Bell/Bell.tsx
  packages/js/src/ui/helpers/browser.ts
  packages/js/src/ui/helpers/constants.ts
  packages/js/src/ui/helpers/useTabsChannel.ts
  packages/js/src/ws/socket.ts
Labels: none

ci: Update workflow to include novu/worker check
  .github/workflows/on-pr.yml
  apps/api/package.json
  pnpm-lock.yaml
Labels: @novu/api-server, CI/CD

.github/labeler.yml:

'@novu/api-server':
  - apps/api/**/*
'@novu/worker':
  - apps/worker/**/*
'@novu/web':
  - apps/web/**/*
'@novu/ws':
  - apps/ws/**/*
'@novu/inbound-mail':
  - apps/inbound-mail/**/*
'@novu/webhook':
  - apps/webhook/**/*
'@novu/dal':
  - libs/dal/**/*
'@novu/design-system':
  - libs/design-system/**/*
'@novu/novui':
  - libs/novui/**/*
'@novu/shared':
  - libs/shared/**/*
'@novu/notification-center':
  - packages/notification-center/**/*
'@novu/notification-center-vue':
  - packages/notification-center-vue/**/*
'@novu/notification-center-angular':
  - packages/notification-center-angular/**/*
'providers':
  - providers/**/*
'CI/CD':
  - .github/**/*
'helm':
  - docker/kubernetes/helm/**/*
'kustomize':
  - docker/kubernetes/kustomize/**/*
'docker':
  - docker/**/*
'scripts':
  - scripts/**/*
