Repository novuhq/novu, changes with the labels that .github/labeler.yml gives for each.
All labels: @novu/api-server, @novu/worker, @novu/web, @novu/ws, @novu/inbound-mail, @novu/webhook, @novu/dal, @novu/design-system, @novu/novui, @novu/shared, @novu/notification-center, @novu/notification-center-vue, @novu/notification-center-angular, providers, CI/CD, helm, kustomize, docker, scripts

.github/labeler.yml:

'@novu/api-server':
  - apps/api/**/*
'@novu/worker':
  - apps/worker/**/*
'@novu/web':
  - apps/web/**/*
'@novu/ws':
  - apps/ws/**/*
'@novu/inbound-mail':
  - apps/inbound-mail/**/*
'@novu/webhook':
  - apps/webhook/**/*
'@novu/dal':
  - libs/dal/**/*
'@novu/design-system':
  - libs/design-system/**/*
'@novu/novui':
  - libs/novui/**/*
'@novu/shared':
  - libs/shared/**/*
'@novu/notification-center':
  - packages/notification-center/**/*
'@novu/notification-center-vue':
  - packages/notification-center-vue/**/*
'@novu/notification-center-angular':
  - packages/notification-center-angular/**/*
'providers':
  - providers/**/*
'CI/CD':
  - .github/**/*
'helm':
  - docker/kubernetes/helm/**/*
'kustomize':
  - docker/kubernetes/kustomize/**/*
'docker':
  - docker/**/*
'scripts':
  - scripts/**/*

fix(js): Fix portal default props
  packages/js/src/ui/components/Inbox.tsx
  packages/js/src/ui/components/Renderer.tsx
Labels: none

chore: bump version to 2.0.0-canary.3
  packages/cli/package.json
Labels: none

chore(cli): bump version to 2.0.0-canary.4
  packages/cli/package.json
Labels: none

fix(js): Fix portal default props (#6000)
  packages/js/src/ui/components/Inbox.tsx
  packages/js/src/ui/components/Renderer.tsx
Labels: none

fix(api): correct subpath import in echo.server.ts
  apps/api/e2e/echo.server.ts
Labels: @novu/api-server

chore(novu): Release version 2.0.0-canary.4 (#5999)
  packages/cli/package.json
Labels: none

feat: anon id to alias
  apps/web/src/hooks/useAuth.ts
  apps/web/src/pages/auth/components/SignUpForm.tsx
  apps/web/src/studio/LocalStudioAuthenticator.tsx
  apps/web/src/utils/segment.ts
  libs/application-generic/src/services/analytics.service.ts
Labels: @novu/web

fix: SLACK_WEBHOOK_URL
  .github/workflows/cloud-deploy.yml
Labels: CI/CD

fix: SLACK_WEBHOOK_URL update
  .github/workflows/cloud-deploy.yml
Labels: CI/CD

refactor(framework): Move API servers into collective folder (#5995)
  apps/api/e2e/echo.server.ts
  packages/framework/package.json
  packages/framework/src/client.test.ts
  packages/framework/src/client.ts
  packages/framework/src/client.validation.test.ts
  packages/framework/src/constants/cron.constants.ts
  packages/framework/src/constants/http-headers.constants.ts
  packages/framework/src/constants/index.ts
  packages/framework/src/constants/version.constants.ts
  packages/framework/src/constants/version.test.ts
  packages/framework/src/handler.ts
  packages/framework/src/index.ts
  packages/framework/src/resources/index.ts
  packages/framework/src/resources/workflow.test.ts
  packages/framework/src/resources/workflow.ts
  packages/framework/src/schemas/providers/index.ts
  packages/framework/src/servers/express.ts
  packages/framework/src/servers/h3.ts
  packages/framework/src/servers/next.ts
  packages/framework/src/servers/nuxt.ts
  packages/framework/src/servers/remix.ts
  packages/framework/src/servers/sveltekit.ts
  packages/framework/src/types/index.ts
  packages/framework/src/types/server.types.ts
  packages/framework/src/types/step.types.ts
  packages/framework/src/types/workflow.types.ts
  packages/framework/src/version.ts
  packages/framework/tsup.config.ts
Labels: @novu/api-server

refactor(api, worker): rename echo to bridge API and worker
  apps/api/package.json
  apps/api/src/app.module.ts
  apps/api/src/app/events/usecases/send-test-email/send-test-email.usecase.ts
  apps/worker/package.json
  apps/worker/src/app/workflow/workflow.module.ts
  enterprise/packages/bridge-api/.gitignore
  enterprise/packages/bridge-api/check-ee.mjs
  enterprise/packages/bridge-api/package.json
  enterprise/packages/bridge-api/src
  enterprise/packages/bridge-api/tsconfig.json
  enterprise/packages/bridge-api/tsconfig.spec.json
  enterprise/packages/bridge-worker/.gitignore
  enterprise/packages/bridge-worker/check-ee.mjs
  enterprise/packages/bridge-worker/package.json
  enterprise/packages/bridge-worker/src
  enterprise/packages/bridge-worker/tsconfig.json
  enterprise/packages/bridge-worker/tsconfig.spec.json
  enterprise/packages/dal/.dockerignore
  enterprise/packages/dal/.eslintrc.js
  enterprise/packages/dal/.gitignore
  enterprise/packages/dal/check-ee.mjs
  enterprise/packages/dal/package.json
  enterprise/packages/dal/src
  enterprise/packages/dal/tsconfig.build.json
  enterprise/packages/dal/tsconfig.json
  libs/application-generic/package.json
  libs/application-generic/src/utils/require-inject.ts
  pnpm-lock.yaml
Labels: @novu/api-server, @novu/worker

fix: SLACK_WEBHOOK_URL update
  .github/workflows/cloud-deploy.yml
Labels: CI/CD

refactor: Rename Echo to Bridge in codebase
  README.md
  apps/api/e2e/bridge.server.ts
  apps/api/src/app.module.ts
  apps/api/src/app/events/e2e/bridge-health-check.e2e-ee.ts
  apps/api/src/app/events/e2e/bridge-trigger.e2e-ee.ts
  apps/api/src/app/events/usecases/parse-event-request/parse-event-request.usecase.ts
  apps/api/src/app/events/usecases/send-test-email/send-test-email.usecase.ts
  apps/api/src/app/testing/bridge/bridge-sync.e2e-ee.ts
  apps/api/src/bootstrap.ts
  apps/web/src/components/docs/Docs.tsx
  apps/web/src/components/layout/components/BridgeStatus.tsx
  apps/web/src/framework-terminal.d.ts
  apps/web/src/hooks/useFrameworkTerminalScript.ts
  apps/web/src/pages/get-started/GetStartedPage.tsx
  apps/web/src/pages/get-started/components/AdditionInformationLink.tsx
  apps/web/src/pages/get-started/components/get-started-tabs/FrameworkTab.tsx
  apps/web/src/pages/get-started/components/get-started-tabs/GetStartedTabs.tsx
  apps/web/src/pages/get-started/components/get-started-tabs/useGetStartedTabs.ts
  apps/web/src/pages/get-started/consts/OnboardingUseCasesTabsEnum.ts
  apps/web/src/pages/get-started/consts/UseCases.const.tsx
  apps/web/src/pages/templates/TemplatesListNoData.tsx
  apps/web/src/pages/templates/components/CreateWorkflowDropdown.tsx
  apps/web/src/pages/templates/components/FrameworkProjectWaitList.tsx
  apps/web/src/pages/templates/components/templates-store/TemplatesStoreModal.tsx
  apps/worker/src/app/workflow/usecases/add-job/add-job.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message.usecase.ts
  apps/worker/src/app/workflow/workflow.module.ts
  enterprise/packages/bridge-api/src
  enterprise/packages/bridge-worker/src
  enterprise/packages/dal/src
  libs/application-generic/src/usecases/trigger-event/trigger-event.usecase.ts
  libs/application-generic/src/utils/require-inject.ts
  pnpm-workspace.yaml
Labels: @novu/api-server, @novu/worker, @novu/web

fix(api): fix subpath import issue in bridge server
  apps/api/e2e/bridge.server.ts
Labels: @novu/api-server

test: update endpoint in health check tests
  apps/api/src/app/events/e2e/bridge-health-check.e2e-ee.ts
Labels: @novu/api-server

style(config): update paths in config files
  enterprise/packages/bridge-api/tsconfig.json
  enterprise/packages/bridge-worker/tsconfig.json
  enterprise/packages/dal/.eslintrc.js
  enterprise/packages/dal/tsconfig.build.json
  enterprise/packages/dal/tsconfig.json
Labels: none

refactor: Rename echo-terminal to framework-terminal
  apps/web/src/components/docs/Docs.tsx
  apps/web/src/framework-terminal.d.ts
  apps/web/src/hooks/useFrameworkTerminalScript.ts
  apps/web/src/pages/get-started/components/get-started-tabs/FrameworkTab.tsx
Labels: @novu/web

refactor: Replace ECHO with BRIDGE in workflow
  .cspell.json
  apps/api/src/app/testing/bridge/bridge-sync.e2e-ee.ts
  apps/api/src/app/workflows/e2e/create-notification-templates.e2e.ts
  apps/web/src/components/docs/Docs.tsx
  apps/web/src/hooks/useTemplates.ts
  apps/web/src/pages/templates/components/ChannelStepEditor.tsx
  apps/web/src/pages/templates/components/TemplateEditorFormProvider.tsx
  apps/web/src/pages/templates/editor/TemplateEditorPage.tsx
  apps/worker/src/app/workflow/usecases/send-message/send-message.usecase.ts
  apps/worker/src/app/workflow/usecases/subscriber-job-bound/subscriber-job-bound.usecase.ts
  libs/application-generic/src/usecases/create-notification-jobs/create-notification-jobs.usecase.ts
  libs/application-generic/src/usecases/create-workflow/create-workflow.usecase.ts
  libs/application-generic/src/usecases/message-template/create-message-template/create-message-template.usecase.ts
  libs/application-generic/src/usecases/message-template/delete-message-template/delete-message-template.usecase.ts
  libs/application-generic/src/usecases/message-template/update-message-template/update-message-template.usecase.ts
  libs/application-generic/src/usecases/workflow/update-workflow/update-workflow.usecase.ts
  libs/dal/src/repositories/environment/environment.entity.ts
  libs/dal/src/repositories/environment/environment.schema.ts
  libs/dal/src/repositories/notification-template/notification-template.entity.ts
  libs/dal/src/repositories/notification-template/notification-template.schema.ts
  libs/shared/src/entities/environment/environment.interface.ts
  libs/shared/src/entities/notification-template/notification-template.interface.ts
  libs/shared/src/types/notification-templates/index.ts
  libs/shared/src/utils/bridge.utils.ts
  libs/shared/src/utils/index.ts
Labels: @novu/api-server, @novu/worker, @novu/web, @novu/dal, @novu/shared

fix: environment tests
  apps/api/src/app/environments/environments.controller.ts
  apps/api/src/app/events/e2e/trigger-event.e2e.ts
Labels: @novu/api-server

fix: e2e ee tests
  apps/api/src/app/events/e2e/trigger-multicast.e2e.ts
  apps/api/src/app/events/usecases/parse-event-request/parse-event-request.e2e.ts
  apps/api/src/app/testing/billing/get-platform-notification-usage.e2e-ee.ts
Labels: @novu/api-server

chore: disable continue-on-error in api e2e clerk tests
  .github/workflows/reusable-api-e2e.yml
Labels: CI/CD

ci: read clerk issuer url from vars
  .github/workflows/reusable-api-e2e.yml
Labels: CI/CD

refactor: rename resonateUsecase to executeBridgeJob
  apps/worker/src/app/workflow/usecases/add-job/add-job.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message.usecase.ts
  libs/application-generic/src/utils/require-inject.ts
Labels: @novu/worker

fix(create-workflow): correct conditional in workflow creation
  libs/application-generic/src/usecases/create-workflow/create-workflow.usecase.ts
Labels: none

refactor: Simplify import paths in BridgeStatus.tsx
  apps/web/src/components/layout/components/BridgeStatus.tsx
Labels: @novu/web

refactor: Rename 'Echo' to 'Bridge' in codebase
  apps/api/src/app/events/e2e/bridge-trigger.e2e-ee.ts
  apps/web/src/components/layout/components/BridgeStatus.tsx
  apps/web/src/pages/get-started/GetStartedPage.tsx
  apps/web/src/pages/get-started/components/get-started-tabs/FrameworkTab.tsx
  apps/web/src/pages/get-started/components/get-started-tabs/GetStartedTabs.tsx
  libs/shared/src/types/feature-flags/feature-flags.ts
Labels: @novu/api-server, @novu/web, @novu/shared

feat: add more granular roles
  apps/web/src/pages/auth/components/QuestionnaireForm.tsx
  libs/shared/src/types/organization/index.ts
Labels: @novu/web, @novu/shared

fix: remove log
  apps/web/src/pages/auth/components/QuestionnaireForm.tsx
Labels: @novu/web

fix: skip un needed start recording
  apps/web/src/AppRoutes.tsx
Labels: @novu/web

feat(web): refetch discovery after bridge url update
  apps/api/src/app/environments/usecases/update-environment/update-environment.usecase.ts
  apps/web/src/studio/hooks/useBridgeAPI.ts
Labels: @novu/api-server, @novu/web

fix: improved onboarding ff
  apps/web/src/AppRoutes.tsx
Labels: @novu/web

refactor(dto): export DTO classes
  apps/api/src/app/invites/dtos/bulk-invite-members.dto.ts
  apps/api/src/app/notifications/dtos/activities-response.dto.ts
  apps/api/src/app/subscribers/dtos/subscriber-response.dto.ts
  apps/api/src/app/workflows/dto/workflow-response.dto.ts
Labels: @novu/api-server

Updated builder to SWC and enabled type checking
  apps/api/nest-cli.json
  apps/inbound-mail/nest-cli.json
  apps/webhook/nest-cli.json
  apps/worker/nest-cli.json
  apps/worker/src/config/index.ts
  apps/ws/nest-cli.json
  package.json
  pnpm-lock.yaml
Labels: @novu/api-server, @novu/worker, @novu/ws, @novu/inbound-mail, @novu/webhook

Remove husky install from package.json
  package.json
Labels: none

refactor: update env files output directory to dist
  apps/api/nest-cli.json
Labels: @novu/api-server

build(api): add .swcrc and update tsconfig, imports
  apps/api/.swcrc
  apps/api/src/app/auth/auth.module.ts
  apps/api/src/bootstrap.ts
  apps/api/tsconfig.json
Labels: @novu/api-server

chore: ignore NestJS build metadata
  apps/api/.gitignore
Labels: @novu/api-server

refactor(bootstrap): comment out setupSwagger function
  apps/api/src/bootstrap.ts
Labels: @novu/api-server

refactor(config): standardize path imports and env handling
  apps/api/src/config/index.ts
  apps/webhook/src/config/index.ts
  apps/worker/src/config/index.ts
  apps/ws/src/config/index.ts
Labels: @novu/api-server, @novu/worker, @novu/ws, @novu/webhook

refactor(config): simplify env file path logic
  apps/api/src/config/index.ts
Labels: @novu/api-server
