Repository novuhq/novu, changes with the labels that .github/labeler.yml gives for each.
All labels: @novu/api-server, @novu/worker, @novu/web, @novu/ws, @novu/inbound-mail, @novu/webhook, @novu/dal, @novu/design-system, @novu/novui, @novu/shared, @novu/notification-center, @novu/notification-center-vue, @novu/notification-center-angular, providers, CI/CD, helm, kustomize, docker, scripts

fix(worker): Revert I18n logic on SMS step
  apps/worker/src/app/workflow/usecases/send-message/send-message-sms.usecase.ts
Labels: @novu/worker

fix(web): set cookie as secure
  apps/web/src/utils/cookies.ts
Labels: @novu/web

fix(web): set cookie as secure (#5892)
  apps/web/src/utils/cookies.ts
Labels: @novu/web

feat(api, worker): add support for stateless step controls (#5889)
  apps/api/src/app/events/dtos/trigger-event-request.dto.ts
  apps/api/src/app/events/e2e/bridge-trigger.e2e-ee.ts
  apps/api/src/app/events/e2e/echo-trigger.e2e-ee.ts
  apps/api/src/app/events/events.controller.ts
  apps/api/src/app/events/usecases/parse-event-request/parse-event-request.command.ts
  apps/worker/src/app/workflow/usecases/add-job/add-job.command.ts
  apps/worker/src/app/workflow/usecases/store-subscriber-jobs/store-subscriber-jobs.command.ts
  apps/worker/src/app/workflow/usecases/store-subscriber-jobs/store-subscriber-jobs.usecase.ts
  apps/worker/src/app/workflow/usecases/subscriber-job-bound/subscriber-job-bound.command.ts
  apps/worker/src/app/workflow/usecases/subscriber-job-bound/subscriber-job-bound.usecase.ts
  enterprise/packages/echo/echo-worker/tsconfig.json
  libs/application-generic/src/dtos/process-subscriber-job.dto.ts
  libs/application-generic/src/dtos/workflow-job.dto.ts
  libs/application-generic/src/usecases/create-notification-jobs/create-notification-jobs.command.ts
  libs/application-generic/src/usecases/create-notification-jobs/create-notification-jobs.usecase.ts
  libs/application-generic/src/usecases/trigger-broadcast/trigger-broadcast.usecase.ts
  libs/application-generic/src/usecases/trigger-event/trigger-event.command.ts
  libs/application-generic/src/usecases/trigger-event/trigger-event.usecase.ts
  libs/application-generic/src/usecases/trigger-multicast/trigger-multicast.usecase.ts
  libs/dal/src/repositories/notification-template/notification-template.entity.ts
  libs/dal/src/repositories/notification/notification.entity.ts
  libs/dal/src/repositories/notification/notification.schema.ts
  libs/shared/src/dto/controls/controls.dto.ts
  libs/shared/src/dto/controls/index.ts
  libs/shared/src/dto/index.ts
  libs/shared/src/entities/notification-template/notification-template.interface.ts
  libs/shared/src/types/controls/control-variables-level.enum.ts
  libs/shared/src/types/controls/index.ts
  libs/shared/src/types/index.ts
Labels: @novu/api-server, @novu/worker, @novu/dal, @novu/shared

feat(web, clerk): add Clerk components for the EE version
  apps/web/package.json
  apps/web/src/App.tsx
  apps/web/src/AppRoutes.tsx
  apps/web/src/Providers.tsx
  apps/web/src/api/api.client.ts
  apps/web/src/components/layout/components/EnsureOnboardingComplete.tsx
  apps/web/src/components/layout/components/PrivatePageLayout.tsx
  apps/web/src/components/layout/components/v2/HeaderNav.tsx
  apps/web/src/components/nav/RootNavMenu.tsx
  apps/web/src/config/index.ts
  apps/web/src/constants/routes.ts
  apps/web/src/ee/clerk/ClerkRoutes.tsx
  apps/web/src/ee/clerk/components/CustomOrganizationProfile.tsx
  apps/web/src/ee/clerk/components/OrganizationSwitcher.tsx
  apps/web/src/ee/clerk/components/QuestionnaireForm.tsx
  apps/web/src/ee/clerk/components/UserProfileButton.tsx
  apps/web/src/ee/clerk/index.ts
  apps/web/src/ee/clerk/pages/OrganizationListPage.tsx
  apps/web/src/ee/clerk/pages/QuestionnairePage.tsx
  apps/web/src/ee/clerk/pages/SignInPage.tsx
  apps/web/src/ee/clerk/pages/SignUpPage.tsx
  apps/web/src/ee/clerk/providers/ClerkProvider.tsx
  apps/web/src/ee/clerk/providers/EnterpriseAuthProvider.tsx
  apps/web/src/ee/clerk/utils/environment.ts
  apps/web/src/hooks/useAuth.ts
  apps/web/src/utils/utils.ts
  libs/shared/src/types/clerk/clerk.organization.types.ts
  pnpm-lock.yaml
Labels: @novu/web, @novu/shared

test(workflow): add payload schema to test workflow
  packages/framework/src/workflow.test.ts
Labels: none

refactor(types): define specific types for event params
  packages/framework/src/types/event.types.ts
Labels: none

fix(web): fix typos
  apps/web/src/ee/clerk/components/CustomOrganizationProfile.tsx
  apps/web/src/ee/clerk/providers/ClerkProvider.tsx
Labels: @novu/web

refactor(SyncInfoModal): replace useApiKeysPage with useStudioState
  apps/web/src/components/layout/components/v2/SyncInfoModal.tsx
Labels: @novu/web

style(LocalStudioHeader): Remove commented-out code
  apps/web/src/components/layout/components/LocalStudioHeader/LocalStudioHeader.tsx
Labels: @novu/web

fix(ws): fix ws tests
  apps/ws/src/socket/usecases/external-services-route/external-services-route.spec.ts
Labels: @novu/ws

refactor(BridgeUpdateModalTrigger): replace button with Button component
  apps/web/src/components/layout/components/v2/BridgeUpdateModalTrigger.tsx
Labels: @novu/web

feat(api): change control dto structure
  apps/api/src/app/events/e2e/bridge-trigger.e2e-ee.ts
  apps/worker/src/app/workflow/usecases/subscriber-job-bound/subscriber-job-bound.usecase.ts
  libs/shared/src/dto/controls/controls.dto.ts
Labels: @novu/api-server, @novu/worker, @novu/shared

refactor(SyncInfoModal): replace useApiKeysPage with useStudioState (#5898)
  apps/web/src/components/layout/components/v2/SyncInfoModal.tsx
Labels: @novu/web

refactor(studio): rename local to isLocalStudio
  apps/web/src/components/layout/components/v2/BridgeMenuItems.tsx
  apps/web/src/components/layout/components/v2/BridgeUpdateModal.tsx
  apps/web/src/studio/LocalStudioAuthenticator.tsx
  apps/web/src/studio/StudioPageLayout.tsx
  apps/web/src/studio/StudioStateProvider.tsx
  apps/web/src/studio/components/workflows/step-editor/WorkflowTestStepButton.tsx
  apps/web/src/studio/components/workflows/test-workflow/WorkflowsTestPage.tsx
  apps/web/src/studio/hooks/useBridgeAPI.ts
  apps/web/src/studio/hooks/useBridgeURL.ts
  apps/web/src/studio/types.ts
Labels: @novu/web

Update apps/web/src/components/layout/components/v2/BridgeUpdateModalTrigger.tsx
  apps/web/src/components/layout/components/v2/BridgeUpdateModalTrigger.tsx
Labels: @novu/web

feat(api): change control dto structure (#5900)
  apps/api/src/app/events/e2e/bridge-trigger.e2e-ee.ts
  apps/worker/src/app/workflow/usecases/subscriber-job-bound/subscriber-job-bound.usecase.ts
  libs/shared/src/dto/controls/controls.dto.ts
Labels: @novu/api-server, @novu/worker, @novu/shared

refactor(LocalStudioHeader): remove unused import
  apps/web/src/components/layout/components/LocalStudioHeader/LocalStudioHeader.tsx
Labels: @novu/web

fix(web): Make "Edit endpoint" button look more clickable (#5901)
  apps/web/src/components/layout/components/v2/BridgeMenuItems.tsx
  apps/web/src/components/layout/components/v2/BridgeUpdateModal.tsx
  apps/web/src/components/layout/components/v2/BridgeUpdateModalTrigger.tsx
  apps/web/src/studio/LocalStudioAuthenticator.tsx
  apps/web/src/studio/StudioPageLayout.tsx
  apps/web/src/studio/StudioStateProvider.tsx
  apps/web/src/studio/components/workflows/step-editor/WorkflowTestStepButton.tsx
  apps/web/src/studio/components/workflows/test-workflow/WorkflowsTestPage.tsx
  apps/web/src/studio/hooks/useBridgeAPI.ts
  apps/web/src/studio/hooks/useBridgeURL.ts
  apps/web/src/studio/types.ts
Labels: @novu/web

fix: steps
  apps/api/src/app/events/e2e/bridge-trigger.e2e-ee.ts
  apps/web/src/bridgeApi/bridgeApi.client.ts
  apps/web/src/pages/studio-onboarding/preview.tsx
  apps/worker/src/app/workflow/usecases/subscriber-job-bound/subscriber-job-bound.usecase.ts
  libs/shared/src/dto/controls/controls.dto.ts
  packages/framework/src/handler.ts
  packages/framework/src/types/execution.types.ts
Labels: @novu/api-server, @novu/worker, @novu/web, @novu/shared

fix: test
  apps/api/src/app/events/e2e/bridge-trigger.e2e-ee.ts
Labels: @novu/api-server

fix: page colorr
  apps/web/src/pages/studio-onboarding/preview.tsx
Labels: @novu/web

feat: Add test button in cloud mode
  apps/web/src/pages/templates/editor_v2/TemplateStepEditorV2.tsx
Labels: @novu/web

fix: Green check + bigger timeline dots
  apps/web/src/pages/studio-onboarding/components/SetupTimeline.recipe.ts
  apps/web/src/pages/studio-onboarding/components/SetupTimeline.tsx
Labels: @novu/web

fix(web): Remove faulty cross-iframe link for Discord invite (#5899)
  apps/web/src/components/layout/components/LocalStudioHeader/LocalStudioHeader.tsx
Labels: @novu/web

chore(create-novu-app): align code with latest state
  packages/create-novu-app/create-app.ts
  packages/create-novu-app/templates/app-react-email/ts/app/api/novu/route.ts
  packages/create-novu-app/templates/app-react-email/ts/app/novu/emails/novu-onboarding-email.tsx
  packages/create-novu-app/templates/app-react-email/ts/app/novu/emails/vercel.tsx
  packages/create-novu-app/templates/app-react-email/ts/app/novu/workflows.ts
  packages/create-novu-app/templates/app-react-email/ts/app/novu/workflows/index.ts
  packages/create-novu-app/templates/app-react-email/ts/app/novu/workflows/welcome-onboarding-email/index.ts
  packages/create-novu-app/templates/app-react-email/ts/app/novu/workflows/welcome-onboarding-email/schemas.ts
  packages/create-novu-app/templates/app-react-email/ts/app/novu/workflows/welcome-onboarding-email/types.ts
  packages/create-novu-app/templates/app-react-email/ts/app/novu/workflows/welcome-onboarding-email/workflow.ts
  packages/create-novu-app/templates/github/workflows/novu.yml
  packages/create-novu-app/templates/index.ts
Labels: none

chore(create-novu-app): align code with latest state
  packages/create-novu-app/templates/app-react-email/ts/app/novu/emails/novu-onboarding-email.tsx
  packages/create-novu-app/templates/app-react-email/ts/app/novu/workflows/welcome-onboarding-email/schemas.ts
Labels: none

chore(create-novu-app): align code with latest state
  .cspell.json
Labels: none

chore(create-novu-app): align code with latest state
  packages/create-novu-app/templates/app-react-email/ts/app/api/novu/route.ts
  packages/create-novu-app/templates/app-react-email/ts/app/novu/emails/novu-onboarding-email.tsx
Labels: none

feat: add debounce
  apps/web/src/studio/components/workflows/step-editor/WorkflowStepEditorControlsPanel.tsx
  libs/novui/package.json
  libs/novui/src/hooks/index.ts
  libs/novui/src/index.ts
  libs/novui/src/json-schema-components/JsonSchemaForm.tsx
Labels: @novu/web, @novu/novui

fix: schema
  apps/web/src/pages/templates/components/TemplateEditorFormProvider.tsx
Labels: @novu/web

chore(create-novu-app): align code with latest state (#5896)
  .cspell.json
  packages/create-novu-app/create-app.ts
  packages/create-novu-app/templates/app-react-email/ts/app/api/novu/route.ts
  packages/create-novu-app/templates/app-react-email/ts/app/novu/emails/novu-onboarding-email.tsx
  packages/create-novu-app/templates/app-react-email/ts/app/novu/emails/vercel.tsx
  packages/create-novu-app/templates/app-react-email/ts/app/novu/workflows.ts
  packages/create-novu-app/templates/app-react-email/ts/app/novu/workflows/index.ts
  packages/create-novu-app/templates/app-react-email/ts/app/novu/workflows/welcome-onboarding-email/index.ts
  packages/create-novu-app/templates/app-react-email/ts/app/novu/workflows/welcome-onboarding-email/schemas.ts
  packages/create-novu-app/templates/app-react-email/ts/app/novu/workflows/welcome-onboarding-email/types.ts
  packages/create-novu-app/templates/app-react-email/ts/app/novu/workflows/welcome-onboarding-email/workflow.ts
  packages/create-novu-app/templates/github/workflows/novu.yml
  packages/create-novu-app/templates/index.ts
Labels: none

feat: fix cloud bridge status
  apps/web/src/studio/hooks/useBridgeAPI.ts
Labels: @novu/web

fix: bridge api
  apps/web/src/studio/hooks/useBridgeAPI.ts
Labels: @novu/web

fix: pr comments
  apps/web/src/pages/studio-onboarding/preview.tsx
  apps/web/src/studio/components/workflows/step-editor/WorkflowStepEditorControlsPanel.tsx
Labels: @novu/web

fix: no more eslint
  package.json
Labels: none

fix: stop only for e2e tests
  apps/api/package.json
  apps/web/package.json
  apps/widget/package.json
  apps/worker/package.json
  enterprise/packages/libs/dal/package.json
  libs/dal/package.json
  libs/embed/package.json
  libs/testing/package.json
  package.json
Labels: @novu/api-server, @novu/worker, @novu/web, @novu/dal

fix(root): no more eslint on pre-commit (#5905)
  apps/api/package.json
  apps/web/package.json
  apps/widget/package.json
  apps/worker/package.json
  enterprise/packages/libs/dal/package.json
  libs/dal/package.json
  libs/embed/package.json
  libs/testing/package.json
  package.json
Labels: @novu/api-server, @novu/worker, @novu/web, @novu/dal

bug(web): store localhost url
  apps/web/src/components/layout/components/v2/BridgeUpdateModal.tsx
Labels: @novu/web

feat: Add lightweight error handling for preview
  apps/web/src/pages/studio-onboarding/preview.tsx
Labels: @novu/web

.github/labeler.yml:

'@novu/api-server':
  - apps/api/**/*
'@novu/worker':
  - apps/worker/**/*
'@novu/web':
  - apps/web/**/*
'@novu/ws':
  - apps/ws/**/*
'@novu/inbound-mail':
  - apps/inbound-mail/**/*
'@novu/webhook':
  - apps/webhook/**/*
'@novu/dal':
  - libs/dal/**/*
'@novu/design-system':
  - libs/design-system/**/*
'@novu/novui':
  - libs/novui/**/*
'@novu/shared':
  - libs/shared/**/*
'@novu/notification-center':
  - packages/notification-center/**/*
'@novu/notification-center-vue':
  - packages/notification-center-vue/**/*
'@novu/notification-center-angular':
  - packages/notification-center-angular/**/*
'providers':
  - providers/**/*
'CI/CD':
  - .github/**/*
'helm':
  - docker/kubernetes/helm/**/*
'kustomize':
  - docker/kubernetes/kustomize/**/*
'docker':
  - docker/**/*
'scripts':
  - scripts/**/*
