Repository novuhq/novu, changes with the labels that .github/labeler.yml gives for each.
All labels: @novu/api-server, @novu/worker, @novu/web, @novu/ws, @novu/inbound-mail, @novu/webhook, @novu/dal, @novu/design-system, @novu/novui, @novu/shared, @novu/notification-center, @novu/notification-center-vue, @novu/notification-center-angular, providers, CI/CD, helm, kustomize, docker, scripts

fix: so correct v2 feature flags usage (#5957)
  apps/web/src/components/nav/RootNavMenu.tsx
  apps/web/src/pages/auth/components/HubspotSignupForm.tsx
  apps/web/src/pages/auth/components/QuestionnaireForm.tsx
Labels: @novu/web

refactor(email): Simplify email component schema and logic
  packages/create-novu-app/templates/app-react-email/ts/app/novu/emails/novu-onboarding-email.tsx
  packages/create-novu-app/templates/app-react-email/ts/app/novu/workflows/welcome-onboarding-email/schemas.ts
  packages/create-novu-app/templates/app-react-email/ts/app/novu/workflows/welcome-onboarding-email/types.ts
  packages/create-novu-app/templates/app-react-email/ts/app/novu/workflows/welcome-onboarding-email/workflow.ts
Labels: none

chore: bump version to 0.24.3-alpha.11
  packages/create-novu-app/package.json
Labels: none

fix(create-novu-app): Fix onboarding workflow (#5959)
  packages/create-novu-app/package.json
  packages/create-novu-app/templates/app-react-email/ts/app/novu/emails/novu-onboarding-email.tsx
  packages/create-novu-app/templates/app-react-email/ts/app/novu/workflows/welcome-onboarding-email/schemas.ts
  packages/create-novu-app/templates/app-react-email/ts/app/novu/workflows/welcome-onboarding-email/types.ts
  packages/create-novu-app/templates/app-react-email/ts/app/novu/workflows/welcome-onboarding-email/workflow.ts
Labels: none

fix(test): fix import of ee services outside of api (tmp)
  libs/application-generic/src/utils/inject-repositories.ts
Labels: none

fix: local update
  apps/web/src/components/layout/components/v2/BridgeUpdateModal.tsx
Labels: @novu/web

fix: so skeleton for preview web takes full width
  apps/web/src/components/workflow/preview/email/PreviewWeb.tsx
  apps/web/src/components/workflow/preview/email/Skeleton/ContentSkeleton.tsx
  apps/web/src/studio/components/workflows/step-editor/WorkflowStepEditorContentPanel.tsx
Labels: @novu/web

feat(root): add tunnel support for multiply bridge applications by port
  packages/cli/src/commands/dev/dev.ts
  packages/cli/src/services/config.service.ts
Labels: none

fix: so skeleton for preview web takes full width (#5961)
  apps/web/src/components/workflow/preview/email/PreviewWeb.tsx
  apps/web/src/components/workflow/preview/email/Skeleton/ContentSkeleton.tsx
  apps/web/src/studio/components/workflows/step-editor/WorkflowStepEditorContentPanel.tsx
Labels: @novu/web

chore: update versions to 2.0.0-canary.0 (#5960)
  apps/api/package.json
  apps/inbound-mail/package.json
  apps/web/package.json
  apps/webhook/package.json
  apps/widget/package.json
  apps/worker/package.json
  apps/ws/package.json
  enterprise/packages/auth/package.json
  enterprise/packages/billing/package.json
  enterprise/packages/echo/echo-api/package.json
  enterprise/packages/echo/echo-worker/package.json
  enterprise/packages/libs/dal/package.json
  enterprise/packages/shared-services/package.json
  enterprise/packages/translation/package.json
  lerna.json
  libs/application-generic/package.json
  libs/automation/package.json
  libs/dal/package.json
  libs/design-system/package.json
  libs/embed/package.json
  libs/novui/package.json
  libs/shared/package.json
  libs/testing/package.json
  packages/cli-next/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/create-novu-app/package.json
  packages/framework/package.json
  packages/headless/package.json
  packages/js/package.json
  packages/nest/package.json
  packages/node/package.json
  packages/notification-center-angular/package.json
  packages/notification-center-angular/projects/notification-center-angular/package.json
  packages/notification-center-vue/package.json
  packages/notification-center/package.json
  packages/providers/package.json
  packages/stateless/package.json
Labels: @novu/api-server, @novu/worker, @novu/web, @novu/ws, @novu/inbound-mail, @novu/webhook, @novu/dal, @novu/design-system, @novu/novui, @novu/shared, @novu/notification-center, @novu/notification-center-vue, @novu/notification-center-angular

fix: eslint error
  apps/web/src/components/layout/components/v2/BridgeUpdateModal.tsx
Labels: @novu/web

chore(root): Only build and deploy in production
  .github/workflows/prod-deploy-api.yml
  .github/workflows/prod-deploy-web.yml
Labels: CI/CD

fix: eslint error (#5964)
  apps/web/src/components/layout/components/v2/BridgeUpdateModal.tsx
Labels: @novu/web

fix: color on check marks in onboarding
  apps/web/src/pages/studio-onboarding/components/SetupTimeline.tsx
Labels: @novu/web

fix: color on check marks in onboarding (#5966)
  apps/web/src/pages/studio-onboarding/components/SetupTimeline.tsx
Labels: @novu/web

chore(root): Only build and deploy in production (#5965)
  .github/workflows/prod-deploy-api.yml
  .github/workflows/prod-deploy-web.yml
Labels: CI/CD

fix(api): add ci-ee-test env variable along with novu-enterprise var
  apps/api/e2e/setup.ts
  apps/api/package.json
  apps/api/src/app.module.ts
  apps/api/src/app/auth/auth.module.ts
  apps/api/src/app/organization/organization.module.ts
  apps/api/src/app/organization/usecases/index.ts
  apps/api/src/app/user/usecases/index.ts
  apps/api/src/app/widgets/e2e/get-count.e2e.ts
  apps/api/src/app/workflows/e2e/create-notification-templates.e2e.ts
  enterprise/packages/auth/package.json
  libs/application-generic/src/utils/inject-repositories.ts
  libs/testing/src/user.session.ts
  pnpm-lock.yaml
Labels: @novu/api-server

chore(root): Remove cli-next package
  packages/cli-next/.eslintrc.js
  packages/cli-next/.gitignore
  packages/cli-next/README.MD
  packages/cli-next/jest.config.js
  packages/cli-next/nodemon-debug.json
  packages/cli-next/nodemon.json
  packages/cli-next/package.json
  packages/cli-next/pnpm-lock.yaml
  packages/cli-next/src/commands/echo.ts
  packages/cli-next/src/commands/index.ts
  packages/cli-next/src/commands/sync.spec.ts
  packages/cli-next/src/commands/sync.ts
  packages/cli-next/src/constants/assets/novu-logo.ts
  packages/cli-next/src/constants/constants.ts
  packages/cli-next/src/constants/index.ts
  packages/cli-next/src/index.ts
  packages/cli-next/src/services/analytics.service.ts
  packages/cli-next/src/services/config.service.ts
  packages/cli-next/src/services/index.ts
  packages/cli-next/src/services/program/index.ts
  packages/cli-next/src/services/program/program.spec.ts
  packages/cli-next/src/services/program/program.ts
  packages/cli-next/tsconfig.build.json
  packages/cli-next/tsconfig.json
  packages/cli-next/tsconfig.spec.json
  pnpm-lock.yaml
Labels: none

fix(cli): From 60kb to 30KB
  packages/cli/.eslintrc.js
  packages/cli/package.json
  packages/cli/src/commands/sync.ts
  packages/cli/src/services/analytics.service.ts
  packages/cli/tsconfig.build.json
  packages/cli/tsconfig.json
  packages/cli/tsconfig.spec.json
Labels: none

docs(web): update doc links
  apps/web/src/components/docs/docs.const.ts
  apps/web/src/components/layout/components/LocalStudioSidebar/LocalStudioSidebarContent.tsx
  apps/web/src/components/layout/components/v2/BridgeUpdateModal.tsx
  apps/web/src/pages/settings/WebhookPage/WebhookAdditionalInformationLink.tsx
  apps/web/src/studio/components/GetStartedPageV2/index.tsx
  apps/web/src/studio/components/workflows/node-view/WorkflowFloatingMenu.tsx
  apps/web/src/studio/components/workflows/step-editor/WorkflowStepEditorControlsPanel.tsx
  apps/web/src/studio/components/workflows/test-workflow/WorkflowTestControlsPanel.tsx
  libs/shared/src/consts/providers/channels/email.ts
  libs/shared/src/consts/providers/channels/sms.ts
Labels: @novu/web, @novu/shared

docs: Add examples and comments for serve functions
  packages/framework/package.json
  packages/framework/src/express.ts
  packages/framework/src/h3.ts
  packages/framework/src/next.ts
  packages/framework/src/remix.ts
  packages/framework/src/sveltekit.ts
Labels: none

docs: Update comments to reflect workflow registration
  packages/framework/src/express.ts
  packages/framework/src/h3.ts
Labels: none

chore: bump framework version to 2.0.0-canary.2
  packages/framework/package.json
Labels: none

docs(web): update doc links
  apps/web/src/components/docs/docs.const.ts
  apps/web/src/components/layout/components/v2/BridgeUpdateModal.tsx
  apps/web/src/pages/studio-onboarding/components/Footer.tsx
  apps/web/src/studio/components/workflows/node-view/WorkflowFloatingMenu.tsx
Labels: @novu/web

fix(web): cspell
  .cspell.json
Labels: none

docs(web): update doc links (#5970)
  .cspell.json
  apps/web/src/components/docs/docs.const.ts
  apps/web/src/components/layout/components/LocalStudioSidebar/LocalStudioSidebarContent.tsx
  apps/web/src/components/layout/components/v2/BridgeUpdateModal.tsx
  apps/web/src/pages/settings/WebhookPage/WebhookAdditionalInformationLink.tsx
  apps/web/src/pages/studio-onboarding/components/Footer.tsx
  apps/web/src/studio/components/GetStartedPageV2/index.tsx
  apps/web/src/studio/components/workflows/node-view/WorkflowFloatingMenu.tsx
  apps/web/src/studio/components/workflows/step-editor/WorkflowStepEditorControlsPanel.tsx
  apps/web/src/studio/components/workflows/test-workflow/WorkflowTestControlsPanel.tsx
  libs/shared/src/consts/providers/channels/email.ts
  libs/shared/src/consts/providers/channels/sms.ts
Labels: @novu/web, @novu/shared

fix(framework): Add `OPTIONS` endpoint for Sveltekit, improve `serve` typedoc (#5971)
  packages/framework/package.json
  packages/framework/src/express.ts
  packages/framework/src/h3.ts
  packages/framework/src/next.ts
  packages/framework/src/remix.ts
  packages/framework/src/sveltekit.ts
Labels: none

feat: Add util for cleaning quoted str
  apps/web/src/utils/utils.ts
Labels: @novu/web

fix: Clean local storage segment strings
  apps/web/src/hooks/useNovuAPI.ts
  apps/web/src/utils/segment.ts
Labels: @novu/web

docs(web): legacy quickstart doc links
  apps/web/src/components/quick-start/digest-demo-flow/consts.ts
Labels: @novu/web

docs(web): Docs old quickstart links (#5973)
  apps/web/src/components/quick-start/digest-demo-flow/consts.ts
Labels: @novu/web

chore(root): Remove cli-next package (#5968)
  packages/cli-next/.eslintrc.js
  packages/cli-next/.gitignore
  packages/cli-next/README.MD
  packages/cli-next/jest.config.js
  packages/cli-next/nodemon-debug.json
  packages/cli-next/nodemon.json
  packages/cli-next/package.json
  packages/cli-next/pnpm-lock.yaml
  packages/cli-next/src/commands/echo.ts
  packages/cli-next/src/commands/index.ts
  packages/cli-next/src/commands/sync.spec.ts
  packages/cli-next/src/commands/sync.ts
  packages/cli-next/src/constants/assets/novu-logo.ts
  packages/cli-next/src/constants/constants.ts
  packages/cli-next/src/constants/index.ts
  packages/cli-next/src/index.ts
  packages/cli-next/src/services/analytics.service.ts
  packages/cli-next/src/services/config.service.ts
  packages/cli-next/src/services/index.ts
  packages/cli-next/src/services/program/index.ts
  packages/cli-next/src/services/program/program.spec.ts
  packages/cli-next/src/services/program/program.ts
  packages/cli-next/tsconfig.build.json
  packages/cli-next/tsconfig.json
  packages/cli-next/tsconfig.spec.json
  pnpm-lock.yaml
Labels: none

Update segment.ts
  apps/web/src/utils/segment.ts
Labels: @novu/web

fix(web): Remove double-quotes from Segment identifiers (#5974)
  apps/web/src/hooks/useNovuAPI.ts
  apps/web/src/utils/segment.ts
  apps/web/src/utils/utils.ts
Labels: @novu/web

fix: empty string has been deleted
  .github/workflows/cloud-deploy-services.yml
Labels: CI/CD

fix: debug
  .github/workflows/cloud-deploy.yml
Labels: CI/CD

fix: workflow as a job
  .github/workflows/cloud-deploy.yml
Labels: CI/CD

fix: workflow as a job
  .github/workflows/cloud-deploy.yml
Labels: CI/CD

fix: runs-on: ubuntu-latest
  .github/workflows/cloud-deploy.yml
Labels: CI/CD

fix: needs
  .github/workflows/cloud-deploy-reusable-app-service-deploy.yml
Labels: CI/CD

.github/labeler.yml:

'@novu/api-server':
  - apps/api/**/*
'@novu/worker':
  - apps/worker/**/*
'@novu/web':
  - apps/web/**/*
'@novu/ws':
  - apps/ws/**/*
'@novu/inbound-mail':
  - apps/inbound-mail/**/*
'@novu/webhook':
  - apps/webhook/**/*
'@novu/dal':
  - libs/dal/**/*
'@novu/design-system':
  - libs/design-system/**/*
'@novu/novui':
  - libs/novui/**/*
'@novu/shared':
  - libs/shared/**/*
'@novu/notification-center':
  - packages/notification-center/**/*
'@novu/notification-center-vue':
  - packages/notification-center-vue/**/*
'@novu/notification-center-angular':
  - packages/notification-center-angular/**/*
'providers':
  - providers/**/*
'CI/CD':
  - .github/**/*
'helm':
  - docker/kubernetes/helm/**/*
'kustomize':
  - docker/kubernetes/kustomize/**/*
'docker':
  - docker/**/*
'scripts':
  - scripts/**/*
