Repository novuhq/novu, changes with the labels that .github/labeler.yml gives for each.
All labels: @novu/api-server, @novu/worker, @novu/web, @novu/ws, @novu/inbound-mail, @novu/webhook, @novu/dal, @novu/design-system, @novu/novui, @novu/shared, @novu/notification-center, @novu/notification-center-vue, @novu/notification-center-angular, providers, CI/CD, helm, kustomize, docker, scripts

.github/labeler.yml:

'@novu/api-server':
  - apps/api/**/*
'@novu/worker':
  - apps/worker/**/*
'@novu/web':
  - apps/web/**/*
'@novu/ws':
  - apps/ws/**/*
'@novu/inbound-mail':
  - apps/inbound-mail/**/*
'@novu/webhook':
  - apps/webhook/**/*
'@novu/dal':
  - libs/dal/**/*
'@novu/design-system':
  - libs/design-system/**/*
'@novu/novui':
  - libs/novui/**/*
'@novu/shared':
  - libs/shared/**/*
'@novu/notification-center':
  - packages/notification-center/**/*
'@novu/notification-center-vue':
  - packages/notification-center-vue/**/*
'@novu/notification-center-angular':
  - packages/notification-center-angular/**/*
'providers':
  - providers/**/*
'CI/CD':
  - .github/**/*
'helm':
  - docker/kubernetes/helm/**/*
'kustomize':
  - docker/kubernetes/kustomize/**/*
'docker':
  - docker/**/*
'scripts':
  - scripts/**/*

Update variables in GitHub workflow for Docker deployment
  .github/workflows/cloud-deploy-reusable-docker.yml
Labels: CI/CD

Update workflow name in cloud-deploy.yml
  .github/workflows/cloud-deploy.yml
Labels: CI/CD

Refactor GitHub workflow for cloud deployment
  .github/workflows/cloud-deploy-reusable-app-service-deploy.yml
  .github/workflows/cloud-deploy-worker.yml
Labels: CI/CD

fix: ENV --> OUT
  .github/workflows/cloud-deploy-reusable-app-service-deploy.yml
Labels: CI/CD

fix: --no-cache
  .github/workflows/cloud-deploy-reusable-docker.yml
Labels: CI/CD

fix: submodule_token
  .github/workflows/cloud-deploy-reusable-docker.yml
  .github/workflows/cloud-deploy-services.yml
  .github/workflows/cloud-deploy.yml
Labels: CI/CD

fix: skip un needed start recording
  apps/web/src/AppRoutes.tsx
Labels: @novu/web

fix: Debug
  .github/workflows/cloud-deploy-reusable-docker.yml
Labels: CI/CD

Refactor deployment workflows to use single reusable script to get around the 20+ referenced reusabel workflows
  .github/workflows/cloud-deploy.yml
Labels: CI/CD

fix: workflow as a job
  .github/workflows/cloud-deploy.yml
Labels: CI/CD

Update GitHub Actions deployment process
  .github/workflows/cloud-deploy-services.yml
  .github/workflows/cloud-deploy.yml
Labels: CI/CD

fix: image name fix
  .github/workflows/cloud-deploy-services.yml
Labels: CI/CD

fix: --no-cache
  .github/workflows/cloud-deploy-reusable-docker.yml
Labels: CI/CD

fix: submodule_token
  .github/workflows/cloud-deploy-services.yml
  .github/workflows/cloud-deploy.yml
Labels: CI/CD

fix: SLACK_WEBHOOK_URL
  .github/workflows/cloud-deploy.yml
Labels: CI/CD

fix: remove log
  apps/web/src/pages/auth/components/QuestionnaireForm.tsx
Labels: @novu/web

fix: env for the referenced workflow
  .github/workflows/cloud-deploy-widget.yml
Labels: CI/CD

fix: Outputs upgrade
  .github/workflows/reusable-api-e2e.yml
Labels: CI/CD

fix: needs
  .github/workflows/cloud-deploy-reusable-app-service-deploy.yml
Labels: CI/CD

fix: SLACK_WEBHOOK_URL update
  .github/workflows/cloud-deploy.yml
Labels: CI/CD

feat(api): inbox - update the notification status endpoint (#5836)
  .cspell.json
  apps/api/src/app/inbox/dtos/action-type-request.dto.ts
  apps/api/src/app/inbox/e2e/get-notifications-count.e2e.ts
  apps/api/src/app/inbox/e2e/get-notifications.e2e.ts
  apps/api/src/app/inbox/e2e/mark-notification-as.e2e.ts
  apps/api/src/app/inbox/e2e/update-notification-action.e2e.ts
  apps/api/src/app/inbox/inbox.controller.ts
  apps/api/src/app/inbox/usecases/get-notifications/get-notifications.spec.ts
  apps/api/src/app/inbox/usecases/get-notifications/get-notifications.usecase.ts
  apps/api/src/app/inbox/usecases/index.ts
  apps/api/src/app/inbox/usecases/mark-many-notifications-as/mark-many-notifications-as.command.ts
  apps/api/src/app/inbox/usecases/mark-many-notifications-as/mark-many-notifications-as.spec.ts
  apps/api/src/app/inbox/usecases/mark-many-notifications-as/mark-many-notifications-as.usecase.ts
  apps/api/src/app/inbox/usecases/mark-notification-as/mark-notification-as.command.ts
  apps/api/src/app/inbox/usecases/mark-notification-as/mark-notification-as.spec.ts
  apps/api/src/app/inbox/usecases/mark-notification-as/mark-notification-as.usecase.ts
  apps/api/src/app/inbox/usecases/notifications-count/notifications-count.spec.ts
  apps/api/src/app/inbox/usecases/notifications-count/notifications-count.usecase.ts
  apps/api/src/app/inbox/usecases/session/session.usecase.ts
  apps/api/src/app/inbox/usecases/update-notification-action/update-notification-action.command.ts
  apps/api/src/app/inbox/usecases/update-notification-action/update-notification-action.spec.ts
  apps/api/src/app/inbox/usecases/update-notification-action/update-notification-action.usecase.ts
  apps/api/src/app/inbox/utils/analytics.ts
  apps/api/src/app/inbox/utils/notification-mapper.ts
  apps/api/src/app/inbox/utils/types.ts
  apps/api/src/app/shared/dtos/cursor-pagination-request.ts
  libs/dal/src/repositories/message/message.repository.ts
Labels: @novu/api-server, @novu/dal

fix: secrets: inherit
  .github/workflows/cloud-deploy-reusable-docker.yml
Labels: CI/CD

fix: $DOCKER_BUILD_ARGUMENTS place
  .github/workflows/cloud-deploy-reusable-docker.yml
Labels: CI/CD

fix: workflow as a job
  .github/workflows/cloud-deploy.yml
Labels: CI/CD

feat(web): refetch discovery after bridge url update (#6005)
  apps/api/src/app/environments/usecases/update-environment/update-environment.usecase.ts
  apps/web/src/studio/hooks/useBridgeAPI.ts
Labels: @novu/api-server, @novu/web

refactor(framework): Move API servers into collective folder (#5995)
  apps/api/e2e/echo.server.ts
  packages/framework/package.json
  packages/framework/src/client.test.ts
  packages/framework/src/client.ts
  packages/framework/src/client.validation.test.ts
  packages/framework/src/constants/cron.constants.ts
  packages/framework/src/constants/http-headers.constants.ts
  packages/framework/src/constants/index.ts
  packages/framework/src/constants/version.constants.ts
  packages/framework/src/constants/version.test.ts
  packages/framework/src/handler.ts
  packages/framework/src/index.ts
  packages/framework/src/resources/index.ts
  packages/framework/src/resources/workflow.test.ts
  packages/framework/src/resources/workflow.ts
  packages/framework/src/schemas/providers/index.ts
  packages/framework/src/servers/express.ts
  packages/framework/src/servers/h3.ts
  packages/framework/src/servers/next.ts
  packages/framework/src/servers/nuxt.ts
  packages/framework/src/servers/remix.ts
  packages/framework/src/servers/sveltekit.ts
  packages/framework/src/types/index.ts
  packages/framework/src/types/server.types.ts
  packages/framework/src/types/step.types.ts
  packages/framework/src/types/workflow.types.ts
  packages/framework/src/version.ts
  packages/framework/tsup.config.ts
Labels: @novu/api-server

fix: submodule_token
  .github/workflows/cloud-deploy-reusable-docker.yml
Labels: CI/CD

fix: submodule_token
  .github/workflows/cloud-deploy-reusable-docker.yml
  .github/workflows/cloud-deploy-services.yml
Labels: CI/CD

Refactor deployment workflows to use single reusable script to get around the 20+ referenced reusabel workflows
  .github/workflows/cloud-deploy-api.yml
  .github/workflows/cloud-deploy-services.yml
  .github/workflows/cloud-deploy-webhook.yml
  .github/workflows/cloud-deploy-worker.yml
  .github/workflows/cloud-deploy-ws.yml
  .github/workflows/cloud-deploy.yml
Labels: CI/CD

fix: Slack notification update
  .github/workflows/cloud-deploy.yml
Labels: CI/CD

Update cloud deployment workflow
  .github/workflows/cloud-deploy.yml
Labels: CI/CD

fix: fix aws_region
  .github/workflows/cloud-deploy-reusable-app-service-deploy.yml
Labels: CI/CD

fix: docker build command has been simplified
  .github/workflows/cloud-deploy-reusable-docker.yml
Labels: CI/CD

fix: ECS Deployment update
  .github/workflows/cloud-deploy-reusable-app-service-deploy.yml
  .github/workflows/cloud-deploy-reusable-embed-deploy.yml
  .github/workflows/cloud-deploy-reusable-web-deploy.yml
  .github/workflows/reusable-embed-deploy.yml
  .github/workflows/reusable-web-deploy.yml
Labels: CI/CD

fix: un-needed identify
  apps/web/src/hooks/useNovuAPI.ts
  apps/web/src/utils/segment.ts
Labels: @novu/web

fix: needs
  .github/workflows/cloud-deploy-reusable-app-service-deploy.yml
Labels: CI/CD

fix: npm cache has been enabled
  .github/actions/setup-project/action.yml
  .github/workflows/cloud-deploy-reusable-docker.yml
Labels: CI/CD

fix: npm cache has been disabled
  .github/actions/setup-project/action.yml
  .github/workflows/cloud-deploy-reusable-docker.yml
Labels: CI/CD

fix: SLACK_WEBHOOK_URL update
  .github/workflows/cloud-deploy.yml
Labels: CI/CD

fix: empty string has been deleted
  .github/workflows/cloud-deploy-services.yml
Labels: CI/CD
