Repository novuhq/novu, changes with the labels that .github/labeler.yml gives for each.
All labels: @novu/api-server, @novu/worker, @novu/web, @novu/ws, @novu/inbound-mail, @novu/webhook, @novu/dal, @novu/design-system, @novu/novui, @novu/shared, @novu/notification-center, @novu/notification-center-vue, @novu/notification-center-angular, providers, CI/CD, helm, kustomize, docker, scripts

.github/labeler.yml:

'@novu/api-server':
  - apps/api/**/*
'@novu/worker':
  - apps/worker/**/*
'@novu/web':
  - apps/web/**/*
'@novu/ws':
  - apps/ws/**/*
'@novu/inbound-mail':
  - apps/inbound-mail/**/*
'@novu/webhook':
  - apps/webhook/**/*
'@novu/dal':
  - libs/dal/**/*
'@novu/design-system':
  - libs/design-system/**/*
'@novu/novui':
  - libs/novui/**/*
'@novu/shared':
  - libs/shared/**/*
'@novu/notification-center':
  - packages/notification-center/**/*
'@novu/notification-center-vue':
  - packages/notification-center-vue/**/*
'@novu/notification-center-angular':
  - packages/notification-center-angular/**/*
'providers':
  - providers/**/*
'CI/CD':
  - .github/**/*
'helm':
  - docker/kubernetes/helm/**/*
'kustomize':
  - docker/kubernetes/kustomize/**/*
'docker':
  - docker/**/*
'scripts':
  - scripts/**/*

refactor(web): update to use css
  apps/web/src/components/layout/components/v2/SyncInfoModalTrigger.tsx
Labels: @novu/web

feat(api): inbox cors wildcard configuration (#6063)
  apps/api/src/config/cors.config.spec.ts
  apps/api/src/config/cors.config.ts
Labels: @novu/api-server

test(api): fix save empty object as default
  apps/api/src/app/workflows/e2e/update-notification-template.e2e.ts
Labels: @novu/api-server

fix: update copy
  apps/web/src/components/layout/components/v2/SampleWorkflowsBanner.tsx
Labels: @novu/web

fix: twilio schema in framework
  packages/framework/src/schemas/providers/sms/index.ts
  packages/framework/src/schemas/providers/sms/twilio.schema.ts
  packages/framework/src/schemas/providers/sms/twilio.ts
Labels: none

Fix E2E issues, from tests to linting
  apps/api/src/app/auth/e2e/user.auth.guard.e2e.ts
  apps/api/src/app/blueprint/e2e/get-grouped-blueprints.e2e.ts
  apps/api/src/app/rate-limiting/guards/throttler.guard.e2e.ts
  apps/api/src/app/shared/framework/idempotency.e2e.ts
  apps/web/src/components/layout/components/PrivatePageLayout.tsx
  apps/web/src/components/providers/CommunityAuthProvider.tsx
  apps/web/src/config/index.ts
  apps/web/src/ee/billing/utils/environment.ts
  apps/web/tests/translations.spec.ts
  apps/web/tests/utils/browser.ts
  libs/application-generic/src/services/auth/community.auth.service.ts
  libs/shared/src/config/contextPath.ts
  libs/shared/src/consts/handlebar-helpers/getTemplateVariables.ts
  libs/shared/src/entities/job/job.interface.ts
  libs/shared/src/entities/notification-template/notification-template.interface.ts
  libs/shared/src/types/events/index.ts
  libs/shared/src/types/http/utils.types.spec.ts
  libs/shared/src/utils/env.ts
  libs/testing/src/user.session.ts
Labels: @novu/api-server, @novu/web, @novu/shared

Fix c-spell issues
  apps/web/src/AppRoutes.tsx
  apps/web/src/components/nav/OrganizationSelect/OrganizationSelect.tsx
  apps/web/src/components/providers/EnvironmentProvider.tsx
  libs/testing/src/user.session.ts
Labels: @novu/web

Fix failing widget e2e suite
  apps/widget/cypress/e2e/branding.spec.ts
  apps/widget/cypress/support/commands.ts
Labels: none

Update auth.controller.ts
  apps/api/src/app/auth/auth.controller.ts
  apps/api/src/app/environments/environments.controller.ts
  apps/web/tests/translations.spec.ts
  libs/application-generic/src/usecases/switch-organization/switch-organization.command.ts
  libs/testing/src/user.session.ts
Labels: @novu/api-server, @novu/web

chore(web): fix E2E scaffold logic
  libs/testing/src/user.service.ts
Labels: none

fix(js): Fix build types
  packages/js/package.json
  packages/js/src/ui/index.ts
  packages/js/src/ui/novuUI.tsx
  packages/js/tsconfig.declarations.json
  packages/js/tsconfig.json
  packages/js/tsup.config.ts
  packages/js/ui/package.json
  playground/nextjs/package.json
  playground/nextjs/src/pages/index.tsx
Labels: none

fix: ensure onboarding flow for cli
  apps/web/src/pages/auth/onboarding/Onboarding.tsx
Labels: @novu/web

fix(api): Restore switchToProdEnvironment during E2E
  libs/testing/src/user.session.ts
Labels: none

feat(web): add changes sync changes dot indication (#6042)
  apps/api/src/app/workflows/e2e/update-notification-template.e2e.ts
  apps/web/package.json
  apps/web/src/components/layout/components/v2/BridgeUpdateModal.tsx
  apps/web/src/components/layout/components/v2/SyncInfoModal.tsx
  apps/web/src/components/layout/components/v2/SyncInfoModalTrigger.tsx
  apps/web/src/hooks/index.ts
  apps/web/src/hooks/useIsSynced.ts
  apps/web/src/utils/create-hash.ts
  libs/dal/src/repositories/notification-template/notification-template.schema.ts
  libs/shared/src/entities/notification-template/notification-template.interface.ts
  pnpm-lock.yaml
Labels: @novu/api-server, @novu/web, @novu/dal, @novu/shared

fix(api): Restore switchToProdEnvironment during E2E (#6067)
  libs/testing/src/user.session.ts
Labels: none

fix(web): translation tests
  apps/web/src/components/providers/CommunityAuthProvider.tsx
  apps/web/src/ee/translations/components/DefaultLocaleModal/index.tsx
Labels: @novu/web

fix(web): ensure onboarding flow for cli (#6066)
  apps/web/src/pages/auth/onboarding/Onboarding.tsx
Labels: @novu/web

fix(api): Tackle API E2E failures
  libs/testing/src/user.session.ts
Labels: none

fix(web): add await to reloadOrganization
  apps/web/src/ee/translations/components/DefaultLocaleModal/index.tsx
Labels: @novu/web

fix(web): translation e2e tests (#6068)
  apps/web/src/components/providers/CommunityAuthProvider.tsx
  apps/web/src/ee/translations/components/DefaultLocaleModal/index.tsx
Labels: @novu/web

fix(api): replace axios instance with test agent in events e2e
  apps/api/src/app/events/e2e/test-email.e2e.ts
Labels: @novu/api-server

fix(application-generic): Restore environmentId in community.auth.service.ts
  libs/application-generic/src/services/auth/community.auth.service.ts
Labels: none

fix(api): replace axios instance with test agent in events e2e (#6069)
  apps/api/src/app/events/e2e/test-email.e2e.ts
Labels: @novu/api-server

fix(api): fix user registration e2e - removal of env from token
  apps/api/src/app/auth/e2e/user-registration.e2e.ts
Labels: @novu/api-server

fix(api): fix user registration e2e - removal of env from token (#6070)
  apps/api/src/app/auth/e2e/user-registration.e2e.ts
Labels: @novu/api-server

fix(api): get organizations e2e
  apps/api/src/app/organization/e2e/get-organizations.e2e.ts
  libs/testing/src/user.session.ts
Labels: @novu/api-server

feat: Disable inline-css behind feature flag
  apps/worker/src/app/workflow/usecases/send-message/send-message-email.usecase.ts
  libs/shared/src/types/feature-flags/feature-flags.ts
Labels: @novu/worker, @novu/shared

fix(api): get organizations e2e (#6072)
  apps/api/src/app/organization/e2e/get-organizations.e2e.ts
  libs/testing/src/user.session.ts
Labels: @novu/api-server

fix(api): Ensure that environment switching endpoints is backwards compatible
  libs/application-generic/src/services/auth/auth.service.interface.ts
  libs/application-generic/src/services/auth/auth.service.ts
  libs/application-generic/src/services/auth/community.auth.service.ts
  libs/application-generic/src/usecases/switch-environment/switch-environment.usecase.ts
  libs/application-generic/src/utils/inject-repositories.ts
Labels: none

fixup! fix(api): Ensure that environment switching endpoints is backwards compatible
  apps/api/src/app/auth/e2e/switch-environment.e2e.ts
Labels: @novu/api-server

feat(api): inbox - update the mark single/all notification endpoint urls
  apps/api/src/app/inbox/e2e/mark-notification-as.e2e.ts
  apps/api/src/app/inbox/e2e/update-all-notifications.e2e.ts
  apps/api/src/app/inbox/inbox.controller.ts
Labels: @novu/api-server

feat(schemas): add schemas for avatar, action, and subscriber
  packages/framework/src/schemas/steps/channels/in-app.schema.ts
Labels: none

feat(worker): Disable inline-css behind feature flag (#6073)
  apps/worker/src/app/workflow/usecases/send-message/send-message-email.usecase.ts
  libs/shared/src/types/feature-flags/feature-flags.ts
Labels: @novu/worker, @novu/shared

refactor(schema): rename subscriberSchema to actorSchema
  packages/framework/src/schemas/steps/channels/in-app.schema.ts
Labels: none

feat: Add global styles
  apps/web/panda.config.ts
  apps/web/src/index.css
  libs/novui/src/global.styles.ts
  libs/novui/src/index.ts
Labels: @novu/web, @novu/novui

fix(api): Ensure that environment switching endpoints is backwards compatible (#6071)
  apps/api/src/app/auth/e2e/switch-environment.e2e.ts
  libs/application-generic/src/services/auth/auth.service.interface.ts
  libs/application-generic/src/services/auth/auth.service.ts
  libs/application-generic/src/services/auth/community.auth.service.ts
  libs/application-generic/src/usecases/switch-environment/switch-environment.usecase.ts
  libs/application-generic/src/utils/inject-repositories.ts
Labels: @novu/api-server

feat: add v2 components for docs
  apps/web/src/components/docs/ChildDocs.tsx
  apps/web/src/components/docs/Docs.tsx
  apps/web/src/components/docs/docs.const.ts
  apps/web/src/components/docs/useLoadDocs.tsx
  apps/web/src/components/layout/components/v2/BridgeUpdateModal.tsx
  apps/web/src/pages/studio-onboarding/components/Footer.tsx
  apps/web/src/studio/components/workflows/node-view/WorkflowFloatingMenu.tsx
Labels: @novu/web

fix: eslint error
  apps/web/src/components/docs/Mdx.tsx
Labels: @novu/web

feat: add global mappings
  apps/web/src/components/docs/Docs.tsx
  apps/web/src/components/docs/docs.const.ts
  apps/web/src/components/docs/useLoadDocs.tsx
Labels: @novu/web

fix: change back to cloud url
  apps/web/src/components/docs/docs.const.ts
Labels: @novu/web
