Repository novuhq/novu, changes with the labels that .github/labeler.yml gives for each.
All labels: @novu/api-server, @novu/worker, @novu/web, @novu/ws, @novu/inbound-mail, @novu/webhook, @novu/dal, @novu/design-system, @novu/novui, @novu/shared, @novu/notification-center, @novu/notification-center-vue, @novu/notification-center-angular, providers, CI/CD, helm, kustomize, docker, scripts

fix: pr comments
  .vscode/launch.json
  packages/cli/package.json
  packages/cli/src/commands/init/create-app.ts
Labels: none

fix: throw error
  packages/cli/src/commands/init/index.ts
Labels: none

feat(root): update workspace plugins
  novu.code-workspace
Labels: none

refactor(web): Use context instead of non-singleton Auth hook (#5976)
  apps/web/src/Providers.tsx
  apps/web/src/auth/AuthContextProvider.tsx
  apps/web/src/auth/auth.const.ts
  apps/web/src/auth/getToken.ts
  apps/web/src/auth/getTokenClaims.ts
  apps/web/src/auth/useCreateAuthContext.ts
  apps/web/src/ee/translations/components/CreateGroupSidebar.tsx
  apps/web/src/ee/translations/components/EditGroupSidebar.tsx
  apps/web/src/hooks/useAuth.tsx
  apps/web/src/hooks/useNovuAPI.ts
Labels: @novu/web

feat: Support user registration invitation
  apps/api/src/app/auth/auth.controller.ts
  apps/api/src/app/auth/dtos/user-registration.dto.ts
  apps/api/src/app/auth/usecases/register/user-register.command.ts
  apps/api/src/app/auth/usecases/register/user-register.usecase.ts
Labels: @novu/api-server

chore: Include invitation token
  apps/web/src/pages/auth/components/SignUpForm.tsx
  libs/application-generic/src/services/auth/auth.service.ts
Labels: @novu/web

ci: Disable CI
  apps/api/src/app/invites/usecases/invite-member/invite-member.usecase.ts
Labels: @novu/api-server

feat: SOnly manual run for testing mode
  .github/workflows/cloud-deploy.yml
Labels: CI/CD

chore: pnpm-lock
  pnpm-lock.yaml
Labels: none

fix: after testing
  packages/framework/package.json
  packages/framework/src/schemas/providers/chat/index.ts
  packages/framework/src/schemas/providers/email/index.ts
  packages/framework/src/schemas/providers/generic.ts
  packages/framework/src/schemas/providers/inApp/index.ts
  packages/framework/src/schemas/providers/index.ts
  packages/framework/src/schemas/providers/push/index.ts
  packages/framework/src/schemas/providers/sms/index.ts
  packages/framework/src/schemas/providers/types.ts
  packages/framework/src/types/provider.types.ts
  pnpm-lock.yaml
Labels: none

chore: fix merge conflicts manually
  apps/api/migrations/normalize-users-email/normalize-users-email.migration.ts
  apps/api/src/app/auth/e2e/login.e2e.ts
  apps/api/src/app/auth/e2e/password-reset.e2e.ts
  apps/api/src/app/auth/usecases/login/login.usecase.ts
  apps/api/src/app/auth/usecases/password-reset/password-reset.usecase.ts
  apps/api/src/app/auth/usecases/register/user-register.usecase.ts
  apps/api/src/app/auth/usecases/update-password/update-password.usecase.ts
  apps/api/src/app/environments/usecases/get-my-environments/get-my-environments.usecase.ts
  apps/api/src/app/organization/usecases/create-organization/create-organization.usecase.ts
  apps/api/src/app/shared/shared.module.ts
  apps/api/src/app/user/usecases/get-my-profile/get-my-profile.usecase.ts
  apps/api/src/app/user/usecases/update-name-and-profile-picture/update-name-and-profile-picture.usecase.ts
  apps/api/src/app/user/usecases/update-on-boarding-tour/update-on-boarding-tour.usecase.ts
  apps/api/src/app/user/usecases/update-on-boarding/update-on-boarding.usecase.ts
  apps/api/src/app/user/usecases/update-profile-email/update-profile-email.usecase.ts
  apps/api/src/app/workflows/e2e/create-notification-templates.e2e.ts
Labels: @novu/api-server

fix(auth): set default inPublicRoute to true
  apps/web/src/auth/AuthContextProvider.tsx
Labels: @novu/web

style(http-server): remove extra whitespace
  packages/cli/src/dev-server/http-server.ts
Labels: none

fix: add null check for step metadata
  apps/web/src/components/execution-detail/ExecutionDetailsStepHeader.tsx
Labels: @novu/web

fix(execution-detail): correct optional chaining logic
  apps/web/src/components/execution-detail/ExecutionDetailsStepHeader.tsx
Labels: @novu/web

fix(execution-details): handle potential null metadata
  apps/web/src/components/execution-detail/ExecutionDetailsStepHeader.tsx
Labels: @novu/web

feat(helpers): Add CurlyBrackets icon for custom step type
  apps/web/src/components/execution-detail/helpers.ts
Labels: @novu/web

feat(web, cli): sync the url between http server and dashboard (#6013)
  apps/web/src/auth/AuthContextProvider.tsx
  apps/web/src/auth/useCreateAuthContext.ts
  apps/web/src/components/execution-detail/ExecutionDetailsStepHeader.tsx
  apps/web/src/components/execution-detail/helpers.ts
  apps/web/src/studio/StudioPageLayout.tsx
  packages/cli/src/dev-server/http-server.ts
Labels: @novu/web

feat: pr updates
  packages/js/src/ui/api/feeds.ts
  packages/js/src/ui/api/hooks/useFeeds.ts
  packages/js/src/ui/api/hooks/useReadAll.ts
  packages/js/src/ui/api/index.ts
  packages/js/src/ui/components/Footer.tsx
  packages/js/src/ui/components/Header/ActionsContainer.tsx
  packages/js/src/ui/components/Header/MoreActionsDropdown.tsx
  packages/js/src/ui/components/Header/StatusDropdown.tsx
  packages/js/src/ui/components/Header/common/DropdownItem.tsx
  packages/js/src/ui/components/Header/common/index.ts
  packages/js/src/ui/components/Inbox.tsx
  packages/js/src/ui/components/Popover/Popover.tsx
  packages/js/src/ui/components/Popover/PopoverContent.tsx
  packages/js/src/ui/components/Popover/PopoverTrigger.tsx
  packages/js/src/ui/components/common/Dropdown.tsx
  packages/js/src/ui/context/AppearanceContext.tsx
Labels: none

feat: add subscriber data mapping
  packages/framework/src/types/subscriber.types.ts
Labels: none

chore(cli): bump version to 2.0.0-canary.5
  packages/cli/package.json
Labels: none

build(cli): update version and adjust dependencies
  packages/cli/package.json
Labels: none

fix(deps): update pnpm-lock.yaml with new versions
  pnpm-lock.yaml
Labels: none

feat: use popover
  packages/js/src/ui/api/hooks/index.ts
  packages/js/src/ui/api/hooks/useFeed.ts
  packages/js/src/ui/components/Header/MoreActionsDropdown.tsx
  packages/js/src/ui/components/Header/StatusDropdown.tsx
  packages/js/src/ui/components/Header/common/DropdownItem.tsx
  packages/js/src/ui/components/Header/common/Item.tsx
  packages/js/src/ui/components/Header/common/index.ts
  packages/js/src/ui/components/Inbox.tsx
  packages/js/src/ui/components/Popover/PopoverContent.tsx
  packages/js/src/ui/components/Popover/PopoverTrigger.tsx
  packages/js/src/ui/components/Renderer.tsx
  packages/js/src/ui/context/FeedsContext.tsx
Labels: none

chore(api): Rename WEBHOOK_SECRET
  .github/workflows/reusable-api-e2e.yml
  apps/api/src/.env.development
  apps/api/src/.env.production
Labels: @novu/api-server, CI/CD

chore(cli): Publish version `2.0.0-canary.6` (#6032)
  packages/cli/package.json
  pnpm-lock.yaml
Labels: none

chore(api): Rename WEBHOOK_SECRET (#6033)
  .github/workflows/reusable-api-e2e.yml
  apps/api/src/.env.development
  apps/api/src/.env.production
Labels: @novu/api-server, CI/CD

feat: menu items
  packages/js/src/ui/components/Header/MoreActionsDropdown.tsx
  packages/js/src/ui/components/Header/MoreActionsOptions.tsx
  packages/js/src/ui/components/Header/StatusDropdown.tsx
  packages/js/src/ui/components/Header/StatusOptions.tsx
  packages/js/src/ui/components/Header/common/DropdownItem.tsx
  packages/js/src/ui/components/Header/common/Item.tsx
  packages/js/src/ui/components/Header/common/index.ts
  packages/js/src/ui/components/Popover/Popover.tsx
  packages/js/src/ui/components/Popover/PopoverClose.tsx
  packages/js/src/ui/context/AppearanceContext.tsx
Labels: none

build(cli): update version and build script
  packages/cli/package.json
Labels: none

fix(cli): update build script paths in package.json
  packages/cli/package.json
Labels: none

refactor: rename
  packages/js/src/ui/components/Header/StatusDropdown.tsx
  packages/js/src/ui/components/Renderer.tsx
  packages/js/src/ui/context/InboxStatusContext.tsx
  packages/js/src/ui/context/index.ts
Labels: none

feat: add button key
  packages/js/src/ui/components/Header/ActionsContainer.tsx
Labels: none

feat: rename
  packages/js/src/ui/context/InboxStatusContext.tsx
Labels: none

refactor(schemas): rename and update schema imports
  packages/framework/package.json
  packages/framework/src/schemas/providers/chat/index.ts
  packages/framework/src/schemas/providers/chat/slack.schema.ts
  packages/framework/src/schemas/providers/email/index.ts
  packages/framework/src/schemas/providers/email/sendgrid.schema.ts
  packages/framework/src/schemas/providers/generic.schema.ts
  packages/framework/src/schemas/providers/generic.ts
  packages/framework/src/schemas/providers/inApp/index.ts
  packages/framework/src/schemas/providers/push/index.ts
  packages/framework/src/schemas/providers/sms/index.ts
  pnpm-lock.yaml
Labels: none

fix(cli): correct build script path in package.json
  packages/cli/package.json
Labels: none

fix(cli): correct build script for template copying
  packages/cli/package.json
Labels: none

feat: update auth providers (wip)
  apps/web/src/Providers.tsx
  apps/web/src/auth/AuthContextProvider.tsx
  apps/web/src/auth/CommunityAuthContextProvider.tsx
  apps/web/src/auth/useCreateAuthContextCommunity.ts
  apps/web/src/ee/clerk/components/QuestionnaireForm.tsx
  apps/web/src/ee/clerk/index.ts
  apps/web/src/ee/clerk/providers/EnterpriseAuthContextProvider.tsx
  apps/web/src/ee/clerk/providers/useCreateAuthContextEnterprise.ts
Labels: @novu/web

chore(cli): update version and build script (#6034)
  packages/cli/package.json
Labels: none

fix: eslint errors
  packages/js/src/ui/api/hooks/useFeed.ts
  packages/js/src/ui/api/hooks/useReadAll.ts
  packages/js/src/ui/components/Footer.tsx
  packages/js/src/ui/components/Header/ActionsContainer.tsx
  packages/js/src/ui/components/Popover/PopoverClose.tsx
  packages/js/src/ui/components/Popover/PopoverContent.tsx
  packages/js/src/ui/components/Popover/PopoverTrigger.tsx
  packages/js/src/ui/context/InboxStatusContext.tsx
  packages/js/src/ui/icons/Archive.tsx
  packages/js/src/ui/icons/ArchiveRead.tsx
  packages/js/src/ui/icons/DotsMenu.tsx
  packages/js/src/ui/icons/Novu.tsx
  packages/js/src/ui/icons/ReadAll.tsx
  packages/js/src/ui/icons/Settings.tsx
  packages/js/src/ui/icons/Unread.tsx
Labels: none

fix: update comment
  packages/js/src/ui/components/Footer.tsx
Labels: none

.github/labeler.yml:

'@novu/api-server':
  - apps/api/**/*
'@novu/worker':
  - apps/worker/**/*
'@novu/web':
  - apps/web/**/*
'@novu/ws':
  - apps/ws/**/*
'@novu/inbound-mail':
  - apps/inbound-mail/**/*
'@novu/webhook':
  - apps/webhook/**/*
'@novu/dal':
  - libs/dal/**/*
'@novu/design-system':
  - libs/design-system/**/*
'@novu/novui':
  - libs/novui/**/*
'@novu/shared':
  - libs/shared/**/*
'@novu/notification-center':
  - packages/notification-center/**/*
'@novu/notification-center-vue':
  - packages/notification-center-vue/**/*
'@novu/notification-center-angular':
  - packages/notification-center-angular/**/*
'providers':
  - providers/**/*
'CI/CD':
  - .github/**/*
'helm':
  - docker/kubernetes/helm/**/*
'kustomize':
  - docker/kubernetes/kustomize/**/*
'docker':
  - docker/**/*
'scripts':
  - scripts/**/*
