Repository novuhq/novu, changes with the labels that .github/labeler.yml gives for each.
All labels: @novu/api-server, @novu/worker, @novu/web, @novu/ws, @novu/inbound-mail, @novu/webhook, @novu/dal, @novu/design-system, @novu/novui, @novu/shared, @novu/notification-center, @novu/notification-center-vue, @novu/notification-center-angular, providers, CI/CD, helm, kustomize, docker, scripts

.github/labeler.yml:

'@novu/api-server':
  - apps/api/**/*
'@novu/worker':
  - apps/worker/**/*
'@novu/web':
  - apps/web/**/*
'@novu/ws':
  - apps/ws/**/*
'@novu/inbound-mail':
  - apps/inbound-mail/**/*
'@novu/webhook':
  - apps/webhook/**/*
'@novu/dal':
  - libs/dal/**/*
'@novu/design-system':
  - libs/design-system/**/*
'@novu/novui':
  - libs/novui/**/*
'@novu/shared':
  - libs/shared/**/*
'@novu/notification-center':
  - packages/notification-center/**/*
'@novu/notification-center-vue':
  - packages/notification-center-vue/**/*
'@novu/notification-center-angular':
  - packages/notification-center-angular/**/*
'providers':
  - providers/**/*
'CI/CD':
  - .github/**/*
'helm':
  - docker/kubernetes/helm/**/*
'kustomize':
  - docker/kubernetes/kustomize/**/*
'docker':
  - docker/**/*
'scripts':
  - scripts/**/*

fix: cspell error
  .cspell.json
  apps/web/src/components/docs/globals.tsx
Labels: @novu/web

refactor: after pr comments
  apps/web/src/components/docs/ChildDocs.tsx
  apps/web/src/components/docs/Docs.tsx
  apps/web/src/components/docs/Mdx.tsx
  apps/web/src/components/docs/docs.const.ts
  apps/web/src/components/docs/globals.tsx
  apps/web/src/components/docs/useLoadDocs.tsx
  apps/web/src/components/layout/components/LocalStudioSidebar/LocalStudioSidebarContent.tsx
  apps/web/src/components/layout/components/v2/BridgeUpdateModal.tsx
  apps/web/src/studio/components/workflows/step-editor/WorkflowStepEditorControlsPanel.tsx
Labels: @novu/web

refactor: usage of paths for docs
  apps/web/src/components/docs/DocsButton.tsx
  apps/web/src/components/docs/Mdx.tsx
  apps/web/src/components/docs/docs.const.ts
  apps/web/src/components/docs/globals.tsx
  apps/web/src/components/docs/useDocsPath.ts
  apps/web/src/components/layout/components/LocalStudioSidebar/LocalStudioSidebarContent.tsx
  apps/web/src/components/layout/components/PageHeader.tsx
  apps/web/src/components/layout/components/v2/BridgeUpdateModal.tsx
  apps/web/src/ee/translations/pages/TranslationGroupsPage.tsx
  apps/web/src/pages/studio-onboarding/components/Footer.tsx
  apps/web/src/pages/templates/components/CreateWorkflowDropdown.tsx
  apps/web/src/studio/components/workflows/landing-page/WorkflowPlaceholderPage.tsx
  apps/web/src/studio/components/workflows/step-editor/WorkflowStepEditorControlsPanel.tsx
Labels: @novu/web

Update .cspell.json
  .cspell.json
Labels: none

fix: update bridge url
  apps/web/src/components/layout/components/PrivatePageLayout.tsx
  apps/web/src/config/index.ts
Labels: @novu/web

fix(web): Restore all variants specs
  apps/web/tests/navbar-sidebar.spec.ts
  apps/web/tests/page-models/sidebarPage.ts
  apps/web/tests/utils/browser.ts
  apps/web/tests/variants.spec.ts
Labels: @novu/web

fix(js): Fix build types (#6064)
  packages/js/package.json
  packages/js/src/ui/index.ts
  packages/js/src/ui/novuUI.tsx
  packages/js/tsconfig.declarations.json
  packages/js/tsconfig.json
  packages/js/tsup.config.ts
  packages/js/ui/package.json
  playground/nextjs/package.json
  playground/nextjs/src/pages/index.tsx
Labels: none

fix(web): Restore all variants specs (#6076)
  apps/web/tests/navbar-sidebar.spec.ts
  apps/web/tests/page-models/sidebarPage.ts
  apps/web/tests/utils/browser.ts
  apps/web/tests/variants.spec.ts
Labels: @novu/web

fix: cspell error
  .cspell.json
Labels: none

feat(js): Button variants, asChild on Popover
  packages/js/.vscode/settings.json
  packages/js/src/ui/components/Dropdown/DropdownTrigger.tsx
  packages/js/src/ui/components/Header/MoreActionsDropdown.tsx
  packages/js/src/ui/components/Header/StatusDropdown.tsx
  packages/js/src/ui/components/Inbox.tsx
  packages/js/src/ui/components/Popover/PopoverClose.tsx
  packages/js/src/ui/components/Popover/PopoverTrigger.tsx
  packages/js/src/ui/components/Renderer.tsx
  packages/js/src/ui/components/Settings/Settings.tsx
  packages/js/src/ui/components/elements/Bell/Bell.tsx
  packages/js/src/ui/components/elements/Bell/DefaultBellContainer.tsx
  packages/js/src/ui/components/elements/Bell/index.ts
  packages/js/src/ui/components/elements/Footer.tsx
  packages/js/src/ui/components/elements/Header/ActionsContainer.tsx
  packages/js/src/ui/components/elements/Header/Header.tsx
  packages/js/src/ui/components/elements/Header/MoreActionsDropdown.tsx
  packages/js/src/ui/components/elements/Header/MoreActionsOptions.tsx
  packages/js/src/ui/components/elements/Header/SettingsHeader.tsx
  packages/js/src/ui/components/elements/Header/StatusDropdown.tsx
  packages/js/src/ui/components/elements/Header/StatusOptions.tsx
  packages/js/src/ui/components/elements/Header/index.ts
  packages/js/src/ui/components/elements/Root.tsx
  packages/js/src/ui/components/elements/index.ts
  packages/js/src/ui/components/index.ts
  packages/js/src/ui/components/primitives/Button.tsx
  packages/js/src/ui/components/primitives/Dropdown/DropdownContent.tsx
  packages/js/src/ui/components/primitives/Dropdown/DropdownItem.tsx
  packages/js/src/ui/components/primitives/Dropdown/DropdownTrigger.tsx
  packages/js/src/ui/components/primitives/Dropdown/index.ts
  packages/js/src/ui/components/primitives/Popover/PopoverClose.tsx
  packages/js/src/ui/components/primitives/Popover/PopoverContent.tsx
  packages/js/src/ui/components/primitives/Popover/PopoverRoot.tsx
  packages/js/src/ui/components/primitives/Popover/PopoverTrigger.tsx
  packages/js/src/ui/components/primitives/Popover/index.ts
  packages/js/src/ui/components/primitives/index.ts
  playground/nextjs/src/pages/index.tsx
Labels: none

fix(js): Close the popover upon re-clicking the trigger
  packages/js/src/ui/components/primitives/Popover/PopoverContent.tsx
Labels: none

feat(js): Button variants, asChild on Popover (#6057)
  packages/js/.vscode/settings.json
  packages/js/src/ui/components/Dropdown/DropdownTrigger.tsx
  packages/js/src/ui/components/Header/MoreActionsDropdown.tsx
  packages/js/src/ui/components/Header/StatusDropdown.tsx
  packages/js/src/ui/components/Inbox.tsx
  packages/js/src/ui/components/Popover/PopoverClose.tsx
  packages/js/src/ui/components/Popover/PopoverTrigger.tsx
  packages/js/src/ui/components/Renderer.tsx
  packages/js/src/ui/components/Settings/Settings.tsx
  packages/js/src/ui/components/elements/Bell/Bell.tsx
  packages/js/src/ui/components/elements/Bell/DefaultBellContainer.tsx
  packages/js/src/ui/components/elements/Bell/index.ts
  packages/js/src/ui/components/elements/Footer.tsx
  packages/js/src/ui/components/elements/Header/ActionsContainer.tsx
  packages/js/src/ui/components/elements/Header/Header.tsx
  packages/js/src/ui/components/elements/Header/MoreActionsDropdown.tsx
  packages/js/src/ui/components/elements/Header/MoreActionsOptions.tsx
  packages/js/src/ui/components/elements/Header/SettingsHeader.tsx
  packages/js/src/ui/components/elements/Header/StatusDropdown.tsx
  packages/js/src/ui/components/elements/Header/StatusOptions.tsx
  packages/js/src/ui/components/elements/Header/index.ts
  packages/js/src/ui/components/elements/Root.tsx
  packages/js/src/ui/components/elements/index.ts
  packages/js/src/ui/components/index.ts
  packages/js/src/ui/components/primitives/Button.tsx
  packages/js/src/ui/components/primitives/Dropdown/DropdownContent.tsx
  packages/js/src/ui/components/primitives/Dropdown/DropdownItem.tsx
  packages/js/src/ui/components/primitives/Dropdown/DropdownTrigger.tsx
  packages/js/src/ui/components/primitives/Dropdown/index.ts
  packages/js/src/ui/components/primitives/Popover/PopoverClose.tsx
  packages/js/src/ui/components/primitives/Popover/PopoverContent.tsx
  packages/js/src/ui/components/primitives/Popover/PopoverRoot.tsx
  packages/js/src/ui/components/primitives/Popover/PopoverTrigger.tsx
  packages/js/src/ui/components/primitives/Popover/index.ts
  packages/js/src/ui/components/primitives/index.ts
  playground/nextjs/src/pages/index.tsx
Labels: none

feat(api): inbox - update the mark single/all notification endpoint urls (#6074)
  apps/api/src/app/inbox/e2e/mark-notification-as.e2e.ts
  apps/api/src/app/inbox/e2e/update-all-notifications.e2e.ts
  apps/api/src/app/inbox/inbox.controller.ts
Labels: @novu/api-server

chore(web): Skip flaky variants test
  apps/web/tests/variants.spec.ts
Labels: @novu/web

fix(api): clerk e2e ee tests
  libs/testing/src/user.session.ts
Labels: none

chore(api): Fix subscribers flaky test
  apps/web/tests/subscribers.spec.ts
Labels: @novu/web

chore: fix playground nextjs application ts errors
  playground/nextjs/src/pages/index.tsx
Labels: none

fix(api): clerk e2e ee tests (#6079)
  libs/testing/src/user.session.ts
Labels: none

fix(js): Scope inbox notification status context
  packages/js/src/ui/api/hooks/useFeed.ts
  packages/js/src/ui/components/Renderer.tsx
  packages/js/src/ui/components/elements/Header/StatusDropdown.tsx
  packages/js/src/ui/components/elements/Header/StatusOptions.tsx
  packages/js/src/ui/context/InboxNotificationStatusContext.tsx
  packages/js/src/ui/context/InboxStatusContext.tsx
  packages/js/src/ui/context/index.ts
Labels: none

fix(web): Restore Local Studio opening
  apps/web/src/ApplicationReadyGuard.tsx
Labels: @novu/web

fix(js): Scope inbox notification status context (#6080)
  packages/js/src/ui/api/hooks/useFeed.ts
  packages/js/src/ui/components/Renderer.tsx
  packages/js/src/ui/components/elements/Header/StatusDropdown.tsx
  packages/js/src/ui/components/elements/Header/StatusOptions.tsx
  packages/js/src/ui/context/InboxNotificationStatusContext.tsx
  packages/js/src/ui/context/InboxStatusContext.tsx
  packages/js/src/ui/context/index.ts
Labels: none

feat: add methods to inbox service
  packages/js/src/api/inbox-service.ts
  packages/js/src/api/types.ts
Labels: none

feat: add methods to the feeds
  packages/js/src/api/inbox-service.ts
  packages/js/src/event-emitter/types.ts
  packages/js/src/feeds/feeds.ts
  packages/js/src/feeds/helpers.ts
  packages/js/src/feeds/notification.ts
  packages/js/src/feeds/types.ts
Labels: none

feat: fetch notification
  packages/js/src/api/inbox-service.ts
  packages/js/src/api/types.ts
  packages/js/src/base-module.ts
  packages/js/src/event-emitter/types.ts
  packages/js/src/feeds/feeds.ts
  packages/js/src/feeds/notification.ts
  packages/js/src/feeds/types.ts
Labels: none

feat: update methods in notification and add helpers
  packages/js/src/feeds/feeds.ts
  packages/js/src/feeds/helpers.ts
  packages/js/src/feeds/notification.ts
  packages/js/src/ui/api/hooks/useFeed.ts
  packages/js/src/ui/components/elements/Header/StatusDropdown.tsx
  packages/js/src/ui/components/elements/Header/StatusOptions.tsx
Labels: none

fix: test
  packages/js/src/novu.test.ts
Labels: none

fix: proper status
  packages/js/src/ui/components/elements/Header/StatusDropdown.tsx
  packages/js/src/ui/components/elements/Header/StatusOptions.tsx
Labels: none

chore(js): suggestions from the pr #6060
  packages/js/src/api/inbox-service.ts
  packages/js/src/api/types.ts
  packages/js/src/event-emitter/types.ts
  packages/js/src/feeds/feeds.ts
  packages/js/src/feeds/helpers.ts
  packages/js/src/feeds/notification.ts
  packages/js/src/feeds/types.ts
Labels: none

fix: test
  packages/js/src/feeds/feeds.ts
  packages/js/src/feeds/helpers.ts
  packages/js/src/feeds/notification.ts
  packages/js/src/novu.test.ts
Labels: none

fix(web): Restore Local Studio opening (#6081)
  apps/web/src/ApplicationReadyGuard.tsx
Labels: @novu/web

chore(js): updated the notification status dropdown and api url paths
  packages/js/.gitignore
  packages/js/package.json
  packages/js/src/api/inbox-service.ts
  packages/js/src/ui/components/elements/Header/StatusDropdown.tsx
  packages/js/src/ui/components/elements/Header/StatusOptions.tsx
  packages/js/src/ui/context/InboxNotificationStatusContext.tsx
  packages/js/src/ui/types.ts
Labels: none

feat: add sanitize html to step output
  packages/framework/package.json
  packages/framework/src/client.ts
  packages/framework/src/types/execution.types.ts
  packages/framework/src/utils/sanitiez-html.utils.ts
  pnpm-lock.yaml
Labels: none

chore(js): eslint issue
  packages/js/src/feeds/feeds.ts
Labels: none

fix: update endpoints
  packages/js/src/api/inbox-service.ts
Labels: none

feat(js): Com 82 implement filters on sdk (#6060)
  packages/js/.gitignore
  packages/js/package.json
  packages/js/src/api/inbox-service.ts
  packages/js/src/api/types.ts
  packages/js/src/base-module.ts
  packages/js/src/event-emitter/types.ts
  packages/js/src/feeds/feeds.ts
  packages/js/src/feeds/helpers.ts
  packages/js/src/feeds/notification.ts
  packages/js/src/feeds/types.ts
  packages/js/src/novu.test.ts
  packages/js/src/ui/api/hooks/useFeed.ts
  packages/js/src/ui/components/elements/Header/StatusDropdown.tsx
  packages/js/src/ui/components/elements/Header/StatusOptions.tsx
  packages/js/src/ui/context/InboxNotificationStatusContext.tsx
  packages/js/src/ui/types.ts
Labels: none

chore(web): ensure onboarding for v2 works
  apps/web/src/ee/clerk/pages/SignInPage.tsx
  apps/web/src/ee/clerk/providers/ClerkProvider.tsx
  apps/web/src/ee/clerk/providers/useCreateAuthEnterprise.ts
  apps/web/src/studio/LocalStudioAuthenticator.tsx
Labels: @novu/web

chore(web): ensure onboarding for v2 works
  apps/web/src/ee/clerk/providers/ClerkProvider.tsx
Labels: @novu/web

fix: after pr comments
  packages/framework/src/client.ts
Labels: none

fix: cspell error
  .cspell.json
Labels: none

chore(web): ensure onboarding for v2 works
  apps/web/src/studio/LocalStudioAuthenticator.tsx
Labels: @novu/web
