Repository novuhq/novu, changes with the labels that .github/labeler.yml gives for each.
All labels: @novu/api-server, @novu/worker, @novu/web, @novu/ws, @novu/inbound-mail, @novu/webhook, @novu/dal, @novu/design-system, @novu/novui, @novu/shared, @novu/notification-center, @novu/notification-center-vue, @novu/notification-center-angular, providers, CI/CD, helm, kustomize, docker, scripts

fix: bring back try-catch in ee org test
  libs/testing/src/user.session.ts
Labels: none

feat(root): persistent tunnel urls (#5931)
  packages/cli/package.json
  packages/cli/src/commands/dev/dev.ts
  packages/cli/src/commands/dev/enums.ts
  packages/cli/src/commands/dev/index.ts
  packages/cli/src/commands/dev/types.ts
  packages/cli/src/commands/dev/utils.ts
  packages/cli/src/index.ts
  packages/cli/src/services/config.service.ts
  pnpm-lock.yaml
Labels: none

refactor(api): use enums for action types
  apps/api/src/app/events/usecases/parse-event-request/parse-event-request.usecase.ts
  libs/application-generic/src/usecases/trigger-event/trigger-event.usecase.ts
Labels: @novu/api-server

refactor(errors): update error handling and class names
  apps/web/src/pages/studio-onboarding/preview.tsx
  libs/design-system/src/ThemeProvider.tsx
  packages/framework/src/constants/error.constants.ts
  packages/framework/src/errors/base.errors.ts
  packages/framework/src/errors/execution.errors.ts
  packages/framework/src/errors/handler.errors.ts
  packages/framework/src/errors/platform.errors.ts
  packages/framework/src/handler.ts
  packages/framework/src/utils/http.utils.ts
Labels: @novu/web, @novu/design-system

refactor: Remove unused NotFoundException import
  apps/api/src/app/events/usecases/parse-event-request/parse-event-request.usecase.ts
Labels: @novu/api-server

refactor(client): replace action strings with enum (#5985)
  packages/framework/src/client.ts
  packages/framework/src/types/execution.types.ts
Labels: none

refactor(api): Error handling for bridge apps and use enums for action types (#5989)
  apps/api/src/app/events/usecases/parse-event-request/parse-event-request.usecase.ts
  apps/web/src/pages/studio-onboarding/preview.tsx
  libs/application-generic/src/usecases/trigger-event/trigger-event.usecase.ts
  libs/design-system/src/ThemeProvider.tsx
  packages/framework/src/constants/error.constants.ts
  packages/framework/src/errors/base.errors.ts
  packages/framework/src/errors/execution.errors.ts
  packages/framework/src/errors/handler.errors.ts
  packages/framework/src/errors/platform.errors.ts
  packages/framework/src/handler.ts
  packages/framework/src/utils/http.utils.ts
Labels: @novu/api-server, @novu/web, @novu/design-system

feat: add client invite sent event
  apps/web/src/pages/invites/MembersInvitePage.tsx
Labels: @novu/web

feat: onboarding updates
  apps/web/src/hooks/useAuth.ts
  apps/web/src/pages/auth/QuestionnairePage.tsx
  apps/web/src/pages/auth/components/QuestionnaireForm.tsx
  apps/web/src/pages/auth/components/SignUpForm.tsx
  apps/web/src/pages/auth/components/dynamic-checkbox/DynamicCheckBox.styles.ts
  apps/web/src/pages/auth/components/dynamic-checkbox/DynamicCheckBox.tsx
  apps/web/src/studio/LocalStudioAuthenticator.tsx
  packages/cli/src/commands/dev/dev.ts
  packages/cli/src/index.ts
Labels: @novu/web

fix: language backend pass
  apps/api/src/app/auth/usecases/register/user-register.command.ts
  apps/api/src/app/auth/usecases/register/user-register.usecase.ts
  apps/api/src/app/organization/dtos/create-organization.dto.ts
  apps/api/src/app/organization/e2e/create-organization.e2e.ts
  apps/api/src/app/organization/organization.controller.ts
  apps/api/src/app/organization/usecases/create-organization/create-organization.command.ts
  apps/api/src/app/organization/usecases/create-organization/create-organization.usecase.ts
  apps/web/src/pages/auth/components/QuestionnaireForm.tsx
  libs/dal/src/repositories/organization/organization.entity.ts
  libs/dal/src/repositories/organization/organization.schema.ts
  libs/shared/src/dto/organization/create-organization.dto.ts
Labels: @novu/api-server, @novu/web, @novu/dal, @novu/shared

chore(root): Fix on-pr workflow
  .github/workflows/on-pr.yml
Labels: CI/CD

fix: update questionnaire
  apps/web/src/pages/auth/components/QuestionnaireForm.tsx
  libs/shared/src/dto/organization/create-organization.dto.ts
Labels: @novu/web, @novu/shared

fix: cspell
  .cspell.json
Labels: none

feat(web): Onboarding funnel updates (#5991)
  .cspell.json
  apps/api/src/app/auth/usecases/register/user-register.command.ts
  apps/api/src/app/auth/usecases/register/user-register.usecase.ts
  apps/api/src/app/organization/dtos/create-organization.dto.ts
  apps/api/src/app/organization/e2e/create-organization.e2e.ts
  apps/api/src/app/organization/organization.controller.ts
  apps/api/src/app/organization/usecases/create-organization/create-organization.command.ts
  apps/api/src/app/organization/usecases/create-organization/create-organization.usecase.ts
  apps/web/src/hooks/useAuth.ts
  apps/web/src/pages/auth/QuestionnairePage.tsx
  apps/web/src/pages/auth/components/QuestionnaireForm.tsx
  apps/web/src/pages/auth/components/SignUpForm.tsx
  apps/web/src/pages/auth/components/dynamic-checkbox/DynamicCheckBox.styles.ts
  apps/web/src/pages/auth/components/dynamic-checkbox/DynamicCheckBox.tsx
  apps/web/src/studio/LocalStudioAuthenticator.tsx
  libs/dal/src/repositories/organization/organization.entity.ts
  libs/dal/src/repositories/organization/organization.schema.ts
  libs/shared/src/dto/organization/create-organization.dto.ts
  packages/cli/src/commands/dev/dev.ts
  packages/cli/src/index.ts
Labels: @novu/api-server, @novu/web, @novu/dal, @novu/shared

chore: update package versions in CLI and framework
  packages/cli/package.json
  packages/framework/package.json
Labels: none

feat: cli anonymous state
  apps/web/src/components/layout/components/LocalStudioPageLayout.tsx
  apps/web/src/studio/LocalStudioAuthenticator.tsx
  apps/web/src/studio/types.ts
  apps/web/src/utils/segment.ts
  packages/cli/src/commands/dev/dev.ts
  packages/cli/src/dev-server/http-server.ts
  packages/cli/src/index.ts
Labels: @novu/web

build: update @novu/shared to workspace version
  packages/framework/package.json
Labels: none

fix: ECS Deployment update
  .github/workflows/cloud-deploy-reusable-app-service-deploy.yml
  .github/workflows/cloud-deploy-reusable-embed-deploy.yml
  .github/workflows/cloud-deploy-reusable-web-deploy.yml
  .github/workflows/reusable-embed-deploy.yml
  .github/workflows/reusable-web-deploy.yml
Labels: CI/CD

fix: fix _worker
  .github/workflows/cloud-deploy-reusable-app-service-deploy.yml
Labels: CI/CD

fix: api tests
  apps/api/src/app/organization/e2e/create-organization.e2e.ts
Labels: @novu/api-server

fix: fix the same id
  .github/workflows/cloud-deploy-reusable-app-service-deploy.yml
Labels: CI/CD

fix: fix aws_region
  .github/workflows/cloud-deploy-reusable-app-service-deploy.yml
Labels: CI/CD

chore(novu, framework): update package versions in CLI and framework (#5993)
  packages/cli/package.json
  packages/framework/package.json
Labels: none

refactor: Reorganize server-related files and imports
  packages/framework/package.json
  packages/framework/src/servers/express.ts
  packages/framework/src/servers/h3.ts
  packages/framework/src/servers/next.ts
  packages/framework/src/servers/nuxt.ts
  packages/framework/src/servers/remix.ts
  packages/framework/src/servers/sveltekit.ts
  packages/framework/src/types/index.ts
  packages/framework/src/types/server.types.ts
  packages/framework/tsup.config.ts
Labels: none

refactor(constants): rename NOVU_FRAMEWORK_API to SERVER
  packages/framework/src/constants/http-headers.constants.ts
  packages/framework/src/handler.ts
Labels: none

fix: ENV --> OUT
  .github/workflows/cloud-deploy-reusable-app-service-deploy.yml
Labels: CI/CD

fix: service_name_under
  .github/workflows/cloud-deploy-reusable-app-service-deploy.yml
Labels: CI/CD

refactor(version): move version constants to separate file
  packages/framework/src/client.test.ts
  packages/framework/src/client.ts
  packages/framework/src/constants/index.ts
  packages/framework/src/constants/version.constants.ts
  packages/framework/src/constants/version.test.ts
  packages/framework/src/handler.ts
  packages/framework/src/version.ts
Labels: none

refactor: Reorganize workflow resource imports
  packages/framework/src/client.test.ts
  packages/framework/src/client.validation.test.ts
  packages/framework/src/constants/version.test.ts
  packages/framework/src/index.ts
  packages/framework/src/resources/index.ts
  packages/framework/src/resources/workflow.test.ts
  packages/framework/src/resources/workflow.ts
Labels: none

refactor(test): refactor action strings to enums
  packages/framework/src/client.test.ts
Labels: none

refactor(constants): rename and update cron types path
  packages/framework/src/constants/cron.constants.ts
  packages/framework/src/constants/index.ts
  packages/framework/src/types/index.ts
Labels: none

fix: argument fix
  .github/workflows/cloud-deploy-reusable-app-service-deploy.yml
Labels: CI/CD

Update on-pr.yml
  .github/workflows/on-pr.yml
Labels: CI/CD

fix: web test
  apps/web/tests/page-models/signupPage.ts
Labels: @novu/web

fix: image name fix
  .github/workflows/cloud-deploy-services.yml
Labels: CI/CD

feat: cli anonymous state (#5994)
  apps/web/src/components/layout/components/LocalStudioPageLayout.tsx
  apps/web/src/studio/LocalStudioAuthenticator.tsx
  apps/web/src/studio/types.ts
  apps/web/src/utils/segment.ts
  packages/cli/src/commands/dev/dev.ts
  packages/cli/src/dev-server/http-server.ts
  packages/cli/src/index.ts
Labels: @novu/web

fix(js): Export NovuUI from ui directory only
  packages/js/src/index.ts
Labels: none

refactor: Replace strings with ChannelStepEnum keys
  packages/framework/src/schemas/providers/index.ts
  packages/framework/src/types/step.types.ts
  packages/framework/src/types/workflow.types.ts
Labels: none

chore: Bump CLI version to 2.0.0-canary.2
  packages/cli/package.json
Labels: none

fix(js): Export NovuUI from ui directory only (#5998)
  packages/js/src/index.ts
Labels: none

.github/labeler.yml:

'@novu/api-server':
  - apps/api/**/*
'@novu/worker':
  - apps/worker/**/*
'@novu/web':
  - apps/web/**/*
'@novu/ws':
  - apps/ws/**/*
'@novu/inbound-mail':
  - apps/inbound-mail/**/*
'@novu/webhook':
  - apps/webhook/**/*
'@novu/dal':
  - libs/dal/**/*
'@novu/design-system':
  - libs/design-system/**/*
'@novu/novui':
  - libs/novui/**/*
'@novu/shared':
  - libs/shared/**/*
'@novu/notification-center':
  - packages/notification-center/**/*
'@novu/notification-center-vue':
  - packages/notification-center-vue/**/*
'@novu/notification-center-angular':
  - packages/notification-center-angular/**/*
'providers':
  - providers/**/*
'CI/CD':
  - .github/**/*
'helm':
  - docker/kubernetes/helm/**/*
'kustomize':
  - docker/kubernetes/kustomize/**/*
'docker':
  - docker/**/*
'scripts':
  - scripts/**/*
