Repository novuhq/novu, changes with the labels that .github/labeler.yml gives for each.
All labels: @novu/api-server, @novu/worker, @novu/web, @novu/ws, @novu/inbound-mail, @novu/webhook, @novu/dal, @novu/design-system, @novu/novui, @novu/shared, @novu/notification-center, @novu/notification-center-vue, @novu/notification-center-angular, providers, CI/CD, helm, kustomize, docker, scripts

fix(web): Always pick the secret key from development environment (#5938)
  apps/web/src/studio/LocalStudioAuthenticator.tsx
Labels: @novu/web

fix(web): tracking events in studio (#5897)
  apps/web/src/api/api.client.ts
  apps/web/src/components/docs/DocsButton.tsx
  apps/web/src/components/docs/DocsModal.tsx
  apps/web/src/components/docs/useLoadDocs.tsx
  apps/web/src/components/layout/components/v2/BridgeUpdateModal.tsx
  apps/web/src/components/layout/components/v2/SyncInfoModalTrigger.tsx
  apps/web/src/hooks/useNovuAPI.ts
  apps/web/src/pages/layouts/v2/LayoutsPage.tsx
  apps/web/src/pages/studio-onboarding/components/Footer.tsx
  apps/web/src/pages/studio-onboarding/index.tsx
  apps/web/src/pages/studio-onboarding/preview.tsx
  apps/web/src/pages/studio-onboarding/success.tsx
  apps/web/src/pages/templates/editor_v2/TemplateStepEditorV2.tsx
  apps/web/src/studio/components/GetStartedPageV2/index.tsx
  apps/web/src/studio/components/workflows/step-editor/WorkflowStepEditorControlsPanel.tsx
  apps/web/src/studio/components/workflows/step-editor/WorkflowTestStepButton.tsx
  apps/web/src/studio/components/workflows/step-editor/WorkflowsStepEditorPage.tsx
  apps/web/src/studio/components/workflows/test-workflow/WorkflowsTestPage.tsx
  apps/web/src/utils/segment.ts
Labels: @novu/web

fix: telemtry api accessible
  apps/api/src/app/analytics/analytics.controller.ts
  apps/web/src/components/docs/useLoadDocs.tsx
Labels: @novu/api-server, @novu/web

feat(web): Nv 4013 non tech missing back button when in workflowstep test view (#5929)
  apps/web/src/components/layout/components/LocalStudioHeader/LocalStudioHeader.tsx
  apps/web/src/components/layout/components/v2/HeaderNav.tsx
  apps/web/src/components/layout/components/v2/WorkflowHeaderBackButton.tsx
  libs/novui/src/components/button/IconButton.tsx
Labels: @novu/web, @novu/novui

fix: align vercel secret key
  apps/api/src/app/partner-integrations/usecases/complete-vercel-integration/complete-vercel-integration.usecase.ts
  apps/api/src/app/partner-integrations/usecases/update-vercel-configuration/update-vercel-configuration.usecase.ts
Labels: @novu/api-server

chore: bump version numbers in package.json (#5928)
  packages/cli/package.json
  packages/create-novu-app/package.json
Labels: none

chore: bump version to 0.24.3-alpha.14 (#5923)
  packages/framework/package.json
Labels: none

Revert "refactor(mongoose): remove redundant parameters from update"
  apps/api/migrations/normalize-users-email/normalize-users-email.migration.ts
  apps/api/src/app/auth/e2e/login.e2e.ts
  apps/api/src/app/auth/e2e/password-reset.e2e.ts
  apps/api/src/app/auth/usecases/login/login.usecase.ts
  apps/api/src/app/auth/usecases/password-reset/password-reset.usecase.ts
  apps/api/src/app/auth/usecases/register/user-register.usecase.ts
  apps/api/src/app/auth/usecases/update-password/update-password.usecase.ts
  apps/api/src/app/organization/usecases/create-organization/create-organization.usecase.ts
  apps/api/src/app/user/usecases/get-my-profile/get-my-profile.usecase.ts
  apps/api/src/app/user/usecases/update-name-and-profile-picture/update-name-and-profile-picture.usecase.ts
  apps/api/src/app/user/usecases/update-on-boarding-tour/update-on-boarding-tour.usecase.ts
  apps/api/src/app/user/usecases/update-on-boarding/update-on-boarding.usecase.ts
  apps/api/src/app/user/usecases/update-profile-email/update-profile-email.usecase.ts
Labels: @novu/api-server

feat: Enhance Vercel env handling and add test cases (#5942)
  packages/framework/package.json
  packages/framework/src/utils/env.utils.test.ts
  packages/framework/src/utils/env.utils.ts
  packages/framework/src/workflow.test.ts
  packages/framework/src/workflow.ts
Labels: none

feat(web): update get started (#5937)
  apps/web/src/pages/studio-onboarding/components/SetupTimeline.tsx
  apps/web/src/studio/components/GetStartedPageV2/GithubAction.tsx
  apps/web/src/studio/components/GetStartedPageV2/index.tsx
  apps/web/src/studio/components/OpenLocalStudioModal.tsx
Labels: @novu/web

fix(web): initial preview render was not taking saved controls
  apps/web/src/pages/templates/editor_v2/TemplateStepEditorV2.tsx
Labels: @novu/web

feat: update meta title
  apps/web/public/index.html
  libs/design-system/src/layout/PageMeta.tsx
Labels: @novu/web, @novu/design-system

feat: add event for workflow open
  apps/web/src/studio/components/workflows/node-view/WorkflowsDetailPage.tsx
Labels: @novu/web

fix(web): Crate with fixes (#5940)
  apps/web/src/components/layout/components/LocalStudioSidebar/SidebarFooter.tsx
  packages/cli/src/index.ts
Labels: @novu/web

fix(web): preview not rendering initial controls (#5944)
  apps/web/src/pages/templates/editor_v2/TemplateStepEditorV2.tsx
Labels: @novu/web

feat: add event for workflow open (#5945)
  apps/web/src/studio/components/workflows/node-view/WorkflowsDetailPage.tsx
Labels: @novu/web

feat: update meta title
  apps/web/public/index.html
  libs/design-system/src/layout/PageMeta.tsx
Labels: @novu/web, @novu/design-system

feat(web): update get started (#5937)
  apps/web/src/pages/studio-onboarding/components/SetupTimeline.tsx
  apps/web/src/studio/components/GetStartedPageV2/GithubAction.tsx
  apps/web/src/studio/components/GetStartedPageV2/index.tsx
  apps/web/src/studio/components/OpenLocalStudioModal.tsx
Labels: @novu/web

feat: Enhance Vercel env handling and add test cases (#5942)
  packages/framework/package.json
  packages/framework/src/utils/env.utils.test.ts
  packages/framework/src/utils/env.utils.ts
  packages/framework/src/workflow.test.ts
  packages/framework/src/workflow.ts
Labels: none

fix(web): preview not rendering initial controls (#5944)
  apps/web/src/pages/templates/editor_v2/TemplateStepEditorV2.tsx
Labels: @novu/web

fix(web): Crate with fixes (#5940)
  apps/web/src/components/layout/components/LocalStudioSidebar/SidebarFooter.tsx
  packages/cli/src/index.ts
Labels: @novu/web

feat: Enhance Vercel env handling and add test cases (#5942)
  packages/framework/package.json
  packages/framework/src/utils/env.utils.test.ts
  packages/framework/src/utils/env.utils.ts
  packages/framework/src/workflow.test.ts
  packages/framework/src/workflow.ts
Labels: none

fix(web): Crate with fixes (#5940)
  apps/web/src/components/layout/components/LocalStudioSidebar/SidebarFooter.tsx
  packages/cli/src/index.ts
Labels: @novu/web

fix(web): preview not rendering initial controls (#5944)
  apps/web/src/pages/templates/editor_v2/TemplateStepEditorV2.tsx
Labels: @novu/web

feat: update meta title
  apps/web/public/index.html
  libs/design-system/src/layout/PageMeta.tsx
Labels: @novu/web, @novu/design-system

feat(web): update get started (#5937)
  apps/web/src/pages/studio-onboarding/components/SetupTimeline.tsx
  apps/web/src/studio/components/GetStartedPageV2/GithubAction.tsx
  apps/web/src/studio/components/GetStartedPageV2/index.tsx
  apps/web/src/studio/components/OpenLocalStudioModal.tsx
Labels: @novu/web

fix: github action svg
  apps/web/src/studio/components/GetStartedPageV2/GithubAction.tsx
Labels: @novu/web

chore(root): Try merge instead of rebase for daily releases
  .github/workflows/prepare-cloud-release.yaml
Labels: CI/CD

refactor: after pr comments
  packages/cli/package.json
  packages/cli/src/commands/dev/consts.ts
  packages/cli/src/commands/dev/dev.ts
  pnpm-lock.yaml
Labels: none

feat(root): remove app option
  packages/create-novu-app/create-app.ts
  packages/create-novu-app/index.ts
  packages/create-novu-app/templates/index.ts
  packages/create-novu-app/templates/types.ts
Labels: none

feat(root): remove app option (#5951)
  packages/create-novu-app/create-app.ts
  packages/create-novu-app/index.ts
  packages/create-novu-app/templates/index.ts
  packages/create-novu-app/templates/types.ts
Labels: none

fix: github action svg (#5950)
  apps/web/src/studio/components/GetStartedPageV2/GithubAction.tsx
Labels: @novu/web

fix: cta on get started
  apps/web/src/studio/components/GetStartedPageV2/index.tsx
Labels: @novu/web

fix: cta on get started (#5952)
  apps/web/src/studio/components/GetStartedPageV2/index.tsx
Labels: @novu/web

fix(test): try to fix ee-only run
  apps/api/package.json
  apps/api/src/app/shared/shared.module.ts
  libs/application-generic/src/utils/inject-repositories.ts
Labels: @novu/api-server

fix (api): Fetch API keys consistently regardless of the current env
  apps/api/src/app/environments/environments.controller.ts
  apps/api/src/app/environments/usecases/get-my-environments/get-my-environments.command.ts
  apps/api/src/app/environments/usecases/get-my-environments/get-my-environments.e2e.ts
  apps/api/src/app/environments/usecases/get-my-environments/get-my-environments.usecase.ts
  apps/web/src/api/api.client.ts
  apps/web/src/studio/LocalStudioAuthenticator.tsx
  libs/shared/src/types/auth/auth.types.ts
Labels: @novu/api-server, @novu/web, @novu/shared

fix (api): Fetch API keys consistently regardless of the current env (#5954)
  apps/api/src/app/environments/environments.controller.ts
  apps/api/src/app/environments/usecases/get-my-environments/get-my-environments.command.ts
  apps/api/src/app/environments/usecases/get-my-environments/get-my-environments.e2e.ts
  apps/api/src/app/environments/usecases/get-my-environments/get-my-environments.usecase.ts
  apps/web/src/api/api.client.ts
  apps/web/src/studio/LocalStudioAuthenticator.tsx
  libs/shared/src/types/auth/auth.types.ts
Labels: @novu/api-server, @novu/web, @novu/shared

fix(auth): remove redundant services and jwt service
  apps/api/src/app/shared/shared.module.ts
  libs/application-generic/src/utils/inject-repositories.ts
Labels: @novu/api-server

feat(api): add enterprise flag to new test command
  apps/api/package.json
Labels: @novu/api-server

fix: so correct v2 feature flags usage
  apps/web/src/components/nav/RootNavMenu.tsx
  apps/web/src/pages/auth/components/HubspotSignupForm.tsx
  apps/web/src/pages/auth/components/QuestionnaireForm.tsx
Labels: @novu/web

.github/labeler.yml:

'@novu/api-server':
  - apps/api/**/*
'@novu/worker':
  - apps/worker/**/*
'@novu/web':
  - apps/web/**/*
'@novu/ws':
  - apps/ws/**/*
'@novu/inbound-mail':
  - apps/inbound-mail/**/*
'@novu/webhook':
  - apps/webhook/**/*
'@novu/dal':
  - libs/dal/**/*
'@novu/design-system':
  - libs/design-system/**/*
'@novu/novui':
  - libs/novui/**/*
'@novu/shared':
  - libs/shared/**/*
'@novu/notification-center':
  - packages/notification-center/**/*
'@novu/notification-center-vue':
  - packages/notification-center-vue/**/*
'@novu/notification-center-angular':
  - packages/notification-center-angular/**/*
'providers':
  - providers/**/*
'CI/CD':
  - .github/**/*
'helm':
  - docker/kubernetes/helm/**/*
'kustomize':
  - docker/kubernetes/kustomize/**/*
'docker':
  - docker/**/*
'scripts':
  - scripts/**/*
