Repository novuhq/novu, changes with the labels that .github/labeler.yml gives for each.
All labels: @novu/api-server, @novu/worker, @novu/web, @novu/ws, @novu/inbound-mail, @novu/webhook, @novu/dal, @novu/design-system, @novu/novui, @novu/shared, @novu/notification-center, @novu/notification-center-vue, @novu/notification-center-angular, providers, CI/CD, helm, kustomize, docker, scripts

.github/labeler.yml:

'@novu/api-server':
  - apps/api/**/*
'@novu/worker':
  - apps/worker/**/*
'@novu/web':
  - apps/web/**/*
'@novu/ws':
  - apps/ws/**/*
'@novu/inbound-mail':
  - apps/inbound-mail/**/*
'@novu/webhook':
  - apps/webhook/**/*
'@novu/dal':
  - libs/dal/**/*
'@novu/design-system':
  - libs/design-system/**/*
'@novu/novui':
  - libs/novui/**/*
'@novu/shared':
  - libs/shared/**/*
'@novu/notification-center':
  - packages/notification-center/**/*
'@novu/notification-center-vue':
  - packages/notification-center-vue/**/*
'@novu/notification-center-angular':
  - packages/notification-center-angular/**/*
'providers':
  - providers/**/*
'CI/CD':
  - .github/**/*
'helm':
  - docker/kubernetes/helm/**/*
'kustomize':
  - docker/kubernetes/kustomize/**/*
'docker':
  - docker/**/*
'scripts':
  - scripts/**/*

test: Update snapshot matching in validator tests
  packages/framework/src/validators/validator.test.ts
Labels: none

feat: Change how styles are aggregated, exported, and imported
  apps/web/src/index.tsx
  libs/novui/package.json
  libs/novui/src/index.css
Labels: @novu/web, @novu/novui

fix: Use static css generation, use layers
  libs/novui/src/json-schema-components/widgets/InputEditorWidget.tsx
  libs/novui/src/json-schema-components/widgets/VariableSuggestionList.tsx
  libs/novui/src/recipes/input-editor-widget.recipe.ts
  libs/novui/src/recipes/variable-suggestion-list.recipe.ts
Labels: @novu/novui

feat: Extend Input recipe
  libs/novui/src/recipes/input-editor-widget.recipe.ts
Labels: @novu/novui

fix: Input bg
  libs/novui/src/recipes/input-editor-widget.recipe.ts
Labels: @novu/novui

refactor: Extract constants
  libs/novui/src/json-schema-components/widgets/InputEditorWidget.tsx
Labels: @novu/novui

feat: Slack Notifications
  .github/workflows/cloud-deploy.yml
Labels: CI/CD

fix: Two WEB variables has been added
  .github/workflows/cloud-deploy-web.yml
Labels: CI/CD

refactor(client): update types with WithPassthrough
  packages/framework/src/client.ts
Labels: none

fix(web): use only internal user and org identifiers when clerk is enabled
  apps/web/src/ee/clerk/providers/EnterpriseAuthProvider.tsx
Labels: @novu/web

fix(web): use only internal user and org identifiers when clerk is enabled
  apps/web/src/components/providers/AuthProvider.tsx
  apps/web/src/components/providers/CommunityAuthProvider.tsx
  apps/web/src/components/providers/constants.ts
  apps/web/src/ee/clerk/providers/EnterpriseAuthProvider.tsx
  apps/web/src/hooks/useMonitoring.ts
Labels: @novu/web

fix(web): use only internal user and org identifiers when clerk is enabled
  .cspell.json
  apps/web/src/components/providers/CommunityAuthProvider.tsx
  apps/web/src/ee/clerk/providers/EnterpriseAuthProvider.tsx
Labels: @novu/web

fix(web): use only internal user and org identifiers when clerk is enabled
  apps/web/src/hooks/useMonitoring.ts
Labels: @novu/web

fix(web): ensure only novu identifiers submitted for monitoring
  apps/web/src/components/providers/AuthProvider.tsx
  apps/web/src/components/providers/CommunityAuthProvider.tsx
  apps/web/src/components/providers/constants.ts
  apps/web/src/ee/clerk/providers/EnterpriseAuthProvider.tsx
  apps/web/src/hooks/useMonitoring.ts
Labels: @novu/web

fix(web): use only internal user and org identifiers when clerk is enabled
  apps/web/src/hooks/useMonitoring.ts
Labels: @novu/web

fix(web): use only internal user and org identifiers when clerk is enabled
  apps/web/src/components/utils/ProductLead.tsx
  apps/web/src/ee/billing/utils/hooks/useSubscription.ts
  apps/web/src/ee/clerk/providers/EnterpriseAuthProvider.tsx
  apps/web/src/hooks/index.ts
  apps/web/src/hooks/useNovu.ts
  apps/web/src/pages/auth/components/QuestionnaireForm.tsx
  apps/web/src/pages/integrations/components/ConnectIntegrationForm.tsx
  apps/web/src/pages/layouts/v2/LayoutsPage.tsx
  apps/web/src/pages/templates/WorkflowListPage.tsx
Labels: @novu/web

fix(web): Fix monitoring ids (#6150)
  .cspell.json
  apps/web/src/components/providers/CommunityAuthProvider.tsx
  apps/web/src/components/utils/ProductLead.tsx
  apps/web/src/ee/billing/utils/hooks/useSubscription.ts
  apps/web/src/ee/clerk/providers/EnterpriseAuthProvider.tsx
  apps/web/src/hooks/index.ts
  apps/web/src/hooks/useMonitoring.ts
  apps/web/src/hooks/useNovu.ts
  apps/web/src/pages/auth/components/QuestionnaireForm.tsx
  apps/web/src/pages/integrations/components/ConnectIntegrationForm.tsx
  apps/web/src/pages/layouts/v2/LayoutsPage.tsx
  apps/web/src/pages/templates/WorkflowListPage.tsx
Labels: @novu/web

fix(web): remove duplicate title and description
  apps/web/src/components/layout/components/AuthLayout.tsx
  apps/web/src/ee/clerk/pages/SignInPage.tsx
Labels: @novu/web

fix(web): ensure refresh happens on org and env trigger when in specific workflow
  apps/web/src/components/providers/EnvironmentProvider.tsx
  apps/web/src/ee/clerk/components/OrganizationSwitcher.tsx
Labels: @novu/web

fix: TOne job for each sevice
  .github/workflows/cloud-deploy-reusable-app-service-deploy.yml
Labels: CI/CD

fix: condition
  .github/workflows/cloud-deploy-reusable-app-service-deploy.yml
Labels: CI/CD

fix: depends on unknown job 'deploy_service_worker'
  .github/workflows/cloud-deploy-reusable-app-service-deploy.yml
Labels: CI/CD

fix: roll-back
  .github/workflows/cloud-deploy-reusable-app-service-deploy.yml
Labels: CI/CD

fix: comments
  .github/workflows/cloud-deploy-reusable-app-service-deploy.yml
  .github/workflows/cloud-deploy-services.yml
Labels: CI/CD

refactor: Change useThemeChange
  apps/web/src/components/layout/components/v2/HeaderNav.tsx
  apps/web/src/components/utils/Spotlight.tsx
  apps/web/src/hooks/useThemeChange.tsx
Labels: @novu/web

feat: Add color scheme pref to studio
  apps/web/src/components/layout/components/LocalStudioHeader/LocalStudioHeader.tsx
Labels: @novu/web

fix(framework): add locale to subscriber
  packages/framework/src/types/subscriber.types.ts
Labels: none

feat: merge
  apps/api/src/metadata.ts
Labels: @novu/api-server

Revert "feat: merge"
  apps/api/src/metadata.ts
Labels: @novu/api-server

feat: merge
  apps/api/src/metadata.ts
Labels: @novu/api-server

Revert "feat: merge"
  apps/api/src/metadata.ts
Labels: @novu/api-server

feat(web): design polish
  apps/web/public/static/images/novu-gray.svg
  apps/web/src/pages/auth/onboarding/Onboarding.tsx
  apps/web/src/pages/auth/onboarding/TitleBarWrapper.tsx
  apps/web/src/pages/auth/onboarding/WorkflowFlow.tsx
  apps/web/src/pages/templates/editor_v2/TemplateDetailsPageV2.tsx
  apps/web/src/pages/templates/editor_v2/TemplateStepEditorV2.tsx
  apps/web/src/studio/components/workflows/layout/WorkflowsPageHeader.tsx
  apps/web/src/studio/components/workflows/layout/WorkflowsPageTemplate.tsx
  apps/web/src/studio/components/workflows/layout/WorkflowsPanelLayout.tsx
  apps/web/src/studio/components/workflows/node-view/WorkflowBackgroundWrapper.tsx
  apps/web/src/studio/components/workflows/step-editor/WorkflowStepEditorContentPanel.tsx
  apps/web/src/studio/components/workflows/step-editor/WorkflowStepEditorControlsPanel.tsx
  apps/web/src/studio/components/workflows/step-editor/editor/CodeEditor.tsx
  apps/web/src/types/FCBase.ts
  apps/web/src/types/FCWithChildren.ts
  apps/web/src/types/index.ts
Labels: @novu/web

fix: after next merge
  apps/web/src/hooks/index.ts
  pnpm-lock.yaml
Labels: @novu/web

fix: minor adjustments
  apps/web/src/components/layout/components/LocalStudioHeader/BackButton.tsx
  apps/web/src/constants/routes.ts
  apps/web/src/pages/auth/onboarding/Onboarding.tsx
  apps/web/src/pages/auth/onboarding/TitleBarWrapper.tsx
  apps/web/src/pages/auth/onboarding/WorkflowFlow.tsx
  apps/web/src/pages/templates/editor_v2/TemplateStepEditorV2.tsx
  apps/web/src/studio/components/workflows/step-editor/editor/CodeEditor.tsx
  apps/web/src/studio/components/workflows/step-editor/editor/Terminal.tsx
Labels: @novu/web

fix: meta
  apps/api/src/metadata.ts
Labels: @novu/api-server

fix: inbox
  apps/api/src/metadata.ts
Labels: @novu/api-server

fix: terminal resize
  apps/web/src/pages/auth/onboarding/Onboarding.tsx
  apps/web/src/pages/auth/onboarding/TitleBarWrapper.tsx
  apps/web/src/pages/auth/onboarding/WorkflowFlow.tsx
  apps/web/src/studio/components/workflows/step-editor/editor/Terminal.tsx
Labels: @novu/web

feat: add terminl header
  apps/web/src/studio/components/workflows/step-editor/editor/Terminal.tsx
Labels: @novu/web

fix: bg colors
  apps/web/src/pages/auth/onboarding/TitleBarWrapper.tsx
  apps/web/src/pages/auth/onboarding/WorkflowFlow.tsx
Labels: @novu/web

wip: intermediate tour
  apps/web/src/pages/auth/onboarding/Onboarding.tsx
Labels: @novu/web
