Repository novuhq/novu, changes with the labels that .github/labeler.yml gives for each.
All labels: @novu/api-server, @novu/worker, @novu/web, @novu/ws, @novu/inbound-mail, @novu/webhook, @novu/dal, @novu/design-system, @novu/novui, @novu/shared, @novu/notification-center, @novu/notification-center-vue, @novu/notification-center-angular, providers, CI/CD, helm, kustomize, docker, scripts

.github/labeler.yml:

'@novu/api-server':
  - apps/api/**/*
'@novu/worker':
  - apps/worker/**/*
'@novu/web':
  - apps/web/**/*
'@novu/ws':
  - apps/ws/**/*
'@novu/inbound-mail':
  - apps/inbound-mail/**/*
'@novu/webhook':
  - apps/webhook/**/*
'@novu/dal':
  - libs/dal/**/*
'@novu/design-system':
  - libs/design-system/**/*
'@novu/novui':
  - libs/novui/**/*
'@novu/shared':
  - libs/shared/**/*
'@novu/notification-center':
  - packages/notification-center/**/*
'@novu/notification-center-vue':
  - packages/notification-center-vue/**/*
'@novu/notification-center-angular':
  - packages/notification-center-angular/**/*
'providers':
  - providers/**/*
'CI/CD':
  - .github/**/*
'helm':
  - docker/kubernetes/helm/**/*
'kustomize':
  - docker/kubernetes/kustomize/**/*
'docker':
  - docker/**/*
'scripts':
  - scripts/**/*

fix: js package build
  pnpm-lock.yaml
Labels: none

feat: add ui demo
  apps/web/package.json
  apps/web/src/App.tsx
  pnpm-lock.yaml
Labels: @novu/web

chore: update lock
  pnpm-lock.yaml
Labels: none

refactor: remove js package from web app
  apps/web/package.json
  apps/web/src/App.tsx
Labels: @novu/web

refactor: remove deleted files
  packages/js/src/socket/index.ts
  packages/js/src/socket/socket.ts
Labels: none

fix(js): Generate and expose default color css variables
  packages/js/src/ui/context/appearance-context.tsx
Labels: none

feat: add more placement options
  packages/js/src/ui/components/Popover.tsx
Labels: none

revert: js package
  apps/web/package.json
  apps/web/src/App.tsx
Labels: @novu/web

feat: add watch mode
  packages/js/package.json
Labels: none

feat: add novu context
  packages/js/src/ui/context/novu-context.tsx
Labels: none

feat: popover
  packages/js/src/ui/Inbox.tsx
  packages/js/src/ui/components/Bell.tsx
  packages/js/src/ui/components/Popover.tsx
  packages/js/src/ui/components/PopoverWithBell.tsx
  packages/js/src/ui/components/index.ts
  packages/js/src/ui/context/AppearanceContext.tsx
Labels: none

chore: remove unnecessary changes
  apps/web/src/App.tsx
  packages/js/package.json
  packages/js/src/ui/context/appearance-context.tsx
Labels: @novu/web

feat: bell icon with badge and unread count socket
  packages/js/src/ui/components/Bell.tsx
Labels: none

fix(js): Revert dark mode support
  packages/js/tailwind.config.js
Labels: none

feat(js): Auto enable darkmode when detected
  packages/js/tailwind.config.js
Labels: none

feat: fix build
  apps/web/package.json
  apps/web/src/App.tsx
  packages/js/src/ui/context/novu-context.tsx
  packages/js/src/ui/helpers/utils.ts
Labels: @novu/web

feat: popover base
  packages/js/src/ui/components/Popover.tsx
Labels: none

chore: update lock
  apps/web/src/App.tsx
Labels: @novu/web

feat: add popover props
  packages/js/src/ui/components/PopoverWithBell.tsx
Labels: none

feat: implement bell
  packages/js/src/ui/components/Bell.tsx
  packages/js/src/ui/context/novu-context.tsx
Labels: none

update: lock
  pnpm-lock.yaml
Labels: none

feat: add event listeners
  packages/js/src/ui/components/PopoverContent.tsx
  packages/js/src/ui/directives/click-outside.tsx
  packages/js/src/ui/directives/directives.d.ts
  packages/js/src/ui/directives/index.ts
Labels: none

Squashed commit of the following:
  pnpm-lock.yaml
Labels: none

feat: popover component
  packages/js/src/ui/Inbox.tsx
  packages/js/src/ui/components/BellContainer.tsx
  packages/js/src/ui/components/Popover.tsx
  packages/js/src/ui/components/PopoverContent.tsx
  packages/js/src/ui/components/PopoverTarget.tsx
  packages/js/src/ui/components/PopoverWithBell.tsx
  packages/js/src/ui/components/index.ts
  packages/js/src/ui/directives/click-outside.tsx
  packages/js/src/ui/directives/directives.d.ts
  packages/js/src/ui/directives/index.ts
  packages/js/src/ui/helpers/index.ts
  packages/js/src/ui/helpers/popover-utils.ts
  packages/js/src/ui/helpers/use-uncontrolled-state.tsx
Labels: none

feat(bridge): add support for stateless step controls
  apps/api/src/app/events/dtos/trigger-event-request.dto.ts
  apps/api/src/app/events/e2e/bridge-trigger.e2e-ee.ts
  apps/api/src/app/events/e2e/echo-trigger.e2e-ee.ts
  apps/api/src/app/events/events.controller.ts
  apps/api/src/app/events/usecases/parse-event-request/parse-event-request.command.ts
  apps/worker/src/app/workflow/usecases/add-job/add-job.command.ts
  apps/worker/src/app/workflow/usecases/store-subscriber-jobs/store-subscriber-jobs.command.ts
  apps/worker/src/app/workflow/usecases/store-subscriber-jobs/store-subscriber-jobs.usecase.ts
  apps/worker/src/app/workflow/usecases/subscriber-job-bound/subscriber-job-bound.command.ts
  apps/worker/src/app/workflow/usecases/subscriber-job-bound/subscriber-job-bound.usecase.ts
  enterprise/packages/echo/echo-worker/tsconfig.json
  libs/application-generic/src/dtos/process-subscriber-job.dto.ts
  libs/application-generic/src/dtos/workflow-job.dto.ts
  libs/application-generic/src/usecases/create-notification-jobs/create-notification-jobs.command.ts
  libs/application-generic/src/usecases/create-notification-jobs/create-notification-jobs.usecase.ts
  libs/application-generic/src/usecases/trigger-broadcast/trigger-broadcast.usecase.ts
  libs/application-generic/src/usecases/trigger-event/trigger-event.command.ts
  libs/application-generic/src/usecases/trigger-event/trigger-event.usecase.ts
  libs/application-generic/src/usecases/trigger-multicast/trigger-multicast.usecase.ts
  libs/dal/src/repositories/notification-template/notification-template.entity.ts
  libs/dal/src/repositories/notification/notification.entity.ts
  libs/dal/src/repositories/notification/notification.schema.ts
  libs/shared/src/dto/controls/controls.dto.ts
  libs/shared/src/dto/controls/index.ts
  libs/shared/src/dto/index.ts
  libs/shared/src/entities/notification-template/notification-template.interface.ts
  libs/shared/src/types/controls/control-variables-level.enum.ts
  libs/shared/src/types/controls/index.ts
  libs/shared/src/types/index.ts
Labels: @novu/api-server, @novu/worker, @novu/dal, @novu/shared

style(cli): Update spinner messages with emojis
  packages/cli/src/commands/dev.ts
Labels: none

fix: remove only flag
  apps/api/src/app/events/e2e/bridge-trigger.e2e-ee.ts
Labels: @novu/api-server

fix(js): Use key prefix instead of id for alpha shades
  packages/js/src/ui/helpers/utils.ts
Labels: none

style(cli): Update spinner messages with emojis (#5888)
  packages/cli/src/commands/dev.ts
Labels: none

chore(cli): bump version to 0.24.3-alpha.6
  packages/cli/package.json
Labels: none

chore(cli): update version and fix studio spinner emoji
  packages/cli/package.json
  packages/cli/src/commands/dev.ts
Labels: none

fix(web): Minor fix for BridgeAPI client
  apps/web/src/bridgeApi/bridgeApi.client.ts
Labels: @novu/web

Update netlify.toml
  apps/web/netlify.toml
Labels: @novu/web

Update netlify.toml
  apps/web/netlify.toml
Labels: @novu/web

fix(web): Strengthen security posture against click jacking
  apps/web/netlify.toml
Labels: @novu/web

fix(js): Use key prefix instead of id for alpha shades (#5890)
  packages/js/src/ui/helpers/utils.ts
Labels: none

chore(novu): bump version to 0.24.3-alpha.8 (#5891)
  packages/cli/package.json
  packages/cli/src/commands/dev.ts
Labels: none

fix(web): Render legacy Echo trigger step
  apps/web/src/studio/components/workflows/test-workflow/WorkflowsTestPage.tsx
Labels: @novu/web

fix(web): set cookie as secure
  apps/web/src/utils/cookies.ts
Labels: @novu/web

fix(create-novu-app): Update copywriting
  packages/create-novu-app/index.ts
Labels: none
