Repository novuhq/novu, changes with the labels that .github/labeler.yml gives for each.
All labels: @novu/api-server, @novu/worker, @novu/web, @novu/ws, @novu/inbound-mail, @novu/webhook, @novu/dal, @novu/design-system, @novu/novui, @novu/shared, @novu/notification-center, @novu/notification-center-vue, @novu/notification-center-angular, providers, CI/CD, helm, kustomize, docker, scripts

refactor: Update env file paths and Docker cmd
  .github/workflows/reusable-widget-e2e.yml
  apps/api/Dockerfile
  apps/inbound-mail/Dockerfile
  apps/webhook/Dockerfile
  apps/webhook/nest-cli.json
  apps/worker/Dockerfile
  apps/worker/nest-cli.json
  apps/ws/Dockerfile
  apps/ws/package.json
Labels: @novu/api-server, @novu/worker, @novu/ws, @novu/inbound-mail, @novu/webhook, CI/CD

fix: un-needed identify
  apps/web/src/hooks/useNovuAPI.ts
  apps/web/src/utils/segment.ts
Labels: @novu/web

fix: language selector text
  apps/web/src/pages/auth/components/QuestionnaireForm.tsx
  apps/web/tests/page-models/signupPage.ts
Labels: @novu/web

feat(web,cli): change favicons
  apps/web/public/favicon-gradient.svg
  apps/web/public/favicon.svg
  apps/web/public/index.html
  apps/web/src/studio/components/GetStartedPageV2/Development.tsx
  apps/web/src/studio/components/GetStartedPageV2/GithubAction.tsx
  apps/web/src/studio/components/GetStartedPageV2/Studio.tsx
  apps/web/src/studio/components/GetStartedPageV2/ide.tsx
  packages/cli/src/dev-server/http-server.ts
Labels: @novu/web

refactor(env): move env validation to env.validators.ts
  apps/api/src/config/env.config.ts
  apps/api/src/config/env.validators.ts
  apps/api/src/config/index.ts
  apps/api/src/types/env.d.ts
  apps/inbound-mail/src/config/env.config.ts
  apps/inbound-mail/src/config/env.validators.ts
  apps/inbound-mail/src/config/index.ts
  apps/inbound-mail/src/types/env.d.ts
  apps/webhook/src/config/env.config.ts
  apps/webhook/src/config/env.validators.ts
  apps/webhook/src/types/env.d.ts
  apps/widget/package.json
  apps/widget/src/config/env.config.ts
  apps/widget/src/config/env.validators.ts
  apps/widget/src/types/env.d.ts
  apps/worker/src/config/env.config.ts
  apps/worker/src/config/env.validators.ts
  apps/worker/src/config/index.ts
  apps/worker/src/types/env.d.ts
  apps/ws/src/bootstrap.ts
  apps/ws/src/config/env.config.ts
  apps/ws/src/config/env.validators.ts
  apps/ws/src/config/index.ts
  apps/ws/src/types/env.d.ts
  libs/shared/src/config/processEnv.ts
  packages/providers/package.json
  pnpm-lock.yaml
Labels: @novu/api-server, @novu/worker, @novu/ws, @novu/inbound-mail, @novu/webhook, @novu/shared

refactor(emailjs): optimize imports and require usage
  packages/providers/src/lib/emailjs/emailjs.provider.ts
  pnpm-lock.yaml
Labels: none

refactor(emailjs): remove Partial type from headers
  packages/providers/src/lib/emailjs/emailjs.provider.ts
Labels: none

feat(swagger): load plugin metadata in setupSwagger
  apps/api/src/app/shared/framework/swagger/swagger.controller.ts
Labels: @novu/api-server

refactor(api): add enum properties to ApiProperty annotations
  apps/api/src/app/layouts/dtos/layout.dto.ts
  apps/api/src/app/notifications/dtos/activities-response.dto.ts
  apps/api/src/app/organization/dtos/organization-response.dto.ts
  apps/api/src/app/subscribers/dtos/get-subscriber-preferences-response.dto.ts
  apps/api/src/app/subscribers/dtos/update-subscriber-channel-request.dto.ts
  apps/api/src/app/user/dtos/user-response.dto.ts
  apps/api/src/app/widgets/dtos/message-response.dto.ts
  apps/api/src/app/widgets/dtos/update-subscriber-preference-response.dto.ts
  apps/api/src/app/workflows/dto/workflow-response.dto.ts
  apps/api/src/bootstrap.ts
Labels: @novu/api-server

style(notifications): remove empty object from ApiProperty decorator
  apps/api/src/app/notifications/dtos/activities-response.dto.ts
Labels: @novu/api-server

feat(config): add feature flag validators to env config
  apps/worker/src/config/env.validators.ts
Labels: @novu/worker

feat(web): refetch discovery after bridge url update (#6005)
  apps/api/src/app/environments/usecases/update-environment/update-environment.usecase.ts
  apps/web/src/studio/hooks/useBridgeAPI.ts
Labels: @novu/api-server, @novu/web

feat(api): inbox - mark notifications as endpoints and button actions endpoints
  apps/api/src/app/inbox/dtos/button-type-request.dto.ts
  apps/api/src/app/inbox/dtos/update-notification-request.dto.ts
  apps/api/src/app/inbox/e2e/get-notifications-count.e2e.ts
  apps/api/src/app/inbox/e2e/get-notifications.e2e.ts
  apps/api/src/app/inbox/e2e/mark-notification-as.e2e.ts
  apps/api/src/app/inbox/e2e/update-notification-action.e2e.ts
  apps/api/src/app/inbox/inbox.controller.ts
  apps/api/src/app/inbox/usecases/get-notifications/get-notifications.spec.ts
  apps/api/src/app/inbox/usecases/get-notifications/get-notifications.usecase.ts
  apps/api/src/app/inbox/usecases/index.ts
  apps/api/src/app/inbox/usecases/mark-many-notifications-as/mark-many-notifications-as.command.ts
  apps/api/src/app/inbox/usecases/mark-many-notifications-as/mark-many-notifications-as.spec.ts
  apps/api/src/app/inbox/usecases/mark-many-notifications-as/mark-many-notifications-as.usecase.ts
  apps/api/src/app/inbox/usecases/mark-notification-as/mark-notification-as.command.ts
  apps/api/src/app/inbox/usecases/mark-notification-as/mark-notification-as.spec.ts
  apps/api/src/app/inbox/usecases/mark-notification-as/mark-notification-as.usecase.ts
  apps/api/src/app/inbox/usecases/notifications-count/notifications-count.spec.ts
  apps/api/src/app/inbox/usecases/notifications-count/notifications-count.usecase.ts
  apps/api/src/app/inbox/usecases/update-notification-action/update-notification-action.command.ts
  apps/api/src/app/inbox/usecases/update-notification-action/update-notification-action.spec.ts
  apps/api/src/app/inbox/usecases/update-notification-action/update-notification-action.usecase.ts
  apps/api/src/app/inbox/usecases/update-notification/update-notification.spec.ts
  apps/api/src/app/inbox/usecases/update-notification/update-notification.usecase.ts
  apps/api/src/app/inbox/utils/analytics.ts
  apps/api/src/app/inbox/utils/types.ts
  apps/api/src/app/shared/dtos/cursor-pagination-request.ts
  libs/dal/src/repositories/message/message.repository.ts
Labels: @novu/api-server, @novu/dal

feat(api): inbox - update the notification status endpoint
  apps/api/src/app/inbox/dtos/update-notification-request.dto.ts
  apps/api/src/app/inbox/e2e/update-notification.e2e.ts
  apps/api/src/app/inbox/inbox.controller.ts
  apps/api/src/app/inbox/usecases/index.ts
  apps/api/src/app/inbox/usecases/update-notification/update-notification.command.ts
  apps/api/src/app/inbox/usecases/update-notification/update-notification.spec.ts
  apps/api/src/app/inbox/usecases/update-notification/update-notification.usecase.ts
  apps/api/src/app/inbox/utils/analytics.ts
  apps/api/src/app/inbox/utils/notification-mapper.ts
  apps/api/src/app/inbox/utils/types.ts
Labels: @novu/api-server

chore(api): inbox update notification - send the websocket unread event
  apps/api/src/app/inbox/inbox.controller.ts
  apps/api/src/app/inbox/usecases/session/session.usecase.ts
  apps/api/src/app/inbox/usecases/update-notification/update-notification.spec.ts
  apps/api/src/app/inbox/usecases/update-notification/update-notification.usecase.ts
Labels: @novu/api-server

feat(api): added suggestions from the pr #5836
  apps/api/src/app/inbox/dtos/action-type-request.dto.ts
  apps/api/src/app/inbox/e2e/update-notification-action.e2e.ts
  apps/api/src/app/inbox/inbox.controller.ts
  apps/api/src/app/inbox/usecases/mark-many-notifications-as/mark-many-notifications-as.usecase.ts
  apps/api/src/app/inbox/usecases/update-notification-action/update-notification-action.command.ts
  apps/api/src/app/inbox/usecases/update-notification-action/update-notification-action.spec.ts
  apps/api/src/app/inbox/usecases/update-notification-action/update-notification-action.usecase.ts
  libs/dal/src/repositories/message/message.repository.ts
Labels: @novu/api-server, @novu/dal

chore(api): fixed cspell error with unarchived
  .cspell.json
Labels: none

feat(api): inbox - update the notification status endpoint (#5836)
  .cspell.json
  apps/api/src/app/inbox/dtos/action-type-request.dto.ts
  apps/api/src/app/inbox/e2e/get-notifications-count.e2e.ts
  apps/api/src/app/inbox/e2e/get-notifications.e2e.ts
  apps/api/src/app/inbox/e2e/mark-notification-as.e2e.ts
  apps/api/src/app/inbox/e2e/update-notification-action.e2e.ts
  apps/api/src/app/inbox/inbox.controller.ts
  apps/api/src/app/inbox/usecases/get-notifications/get-notifications.spec.ts
  apps/api/src/app/inbox/usecases/get-notifications/get-notifications.usecase.ts
  apps/api/src/app/inbox/usecases/index.ts
  apps/api/src/app/inbox/usecases/mark-many-notifications-as/mark-many-notifications-as.command.ts
  apps/api/src/app/inbox/usecases/mark-many-notifications-as/mark-many-notifications-as.spec.ts
  apps/api/src/app/inbox/usecases/mark-many-notifications-as/mark-many-notifications-as.usecase.ts
  apps/api/src/app/inbox/usecases/mark-notification-as/mark-notification-as.command.ts
  apps/api/src/app/inbox/usecases/mark-notification-as/mark-notification-as.spec.ts
  apps/api/src/app/inbox/usecases/mark-notification-as/mark-notification-as.usecase.ts
  apps/api/src/app/inbox/usecases/notifications-count/notifications-count.spec.ts
  apps/api/src/app/inbox/usecases/notifications-count/notifications-count.usecase.ts
  apps/api/src/app/inbox/usecases/session/session.usecase.ts
  apps/api/src/app/inbox/usecases/update-notification-action/update-notification-action.command.ts
  apps/api/src/app/inbox/usecases/update-notification-action/update-notification-action.spec.ts
  apps/api/src/app/inbox/usecases/update-notification-action/update-notification-action.usecase.ts
  apps/api/src/app/inbox/utils/analytics.ts
  apps/api/src/app/inbox/utils/notification-mapper.ts
  apps/api/src/app/inbox/utils/types.ts
  apps/api/src/app/shared/dtos/cursor-pagination-request.ts
  libs/dal/src/repositories/message/message.repository.ts
Labels: @novu/api-server, @novu/dal

feat(api): inbox - update the notification status endpoint
  apps/api/src/app/inbox/dtos/update-notification-request.dto.ts
  apps/api/src/app/inbox/e2e/update-notification.e2e.ts
  apps/api/src/app/inbox/inbox.controller.ts
  apps/api/src/app/inbox/usecases/update-notification/update-notification.command.ts
  apps/api/src/app/inbox/usecases/update-notification/update-notification.spec.ts
  apps/api/src/app/inbox/usecases/update-notification/update-notification.usecase.ts
Labels: @novu/api-server

chore(api): inbox update notification - send the websocket unread event
  apps/api/src/app/inbox/inbox.controller.ts
  apps/api/src/app/inbox/usecases/update-notification/update-notification.spec.ts
  apps/api/src/app/inbox/usecases/update-notification/update-notification.usecase.ts
Labels: @novu/api-server

feat(api): inbox - mark notifications as endpoints and button actions endpoints
  apps/api/src/app/inbox/dtos/button-type-request.dto.ts
  apps/api/src/app/inbox/dtos/update-notification-request.dto.ts
  apps/api/src/app/inbox/e2e/update-notification.e2e.ts
  apps/api/src/app/inbox/inbox.controller.ts
  apps/api/src/app/inbox/usecases/update-notification/update-notification.command.ts
  apps/api/src/app/inbox/usecases/update-notification/update-notification.spec.ts
  apps/api/src/app/inbox/usecases/update-notification/update-notification.usecase.ts
Labels: @novu/api-server

feat(api): added suggestions from the pr #5934
  apps/api/src/app/inbox/e2e/update-all-notifications.e2e.ts
  apps/api/src/app/inbox/inbox.controller.ts
Labels: @novu/api-server

feat(api): inbox - change all notifications status
  apps/api/src/app/inbox/dtos/update-all-notifications-request.dto.ts
  apps/api/src/app/inbox/e2e/update-all-notifications.e2e.ts
  apps/api/src/app/inbox/inbox.controller.ts
  apps/api/src/app/inbox/usecases/index.ts
  apps/api/src/app/inbox/usecases/update-all-notifications/update-all-notifications.command.ts
  apps/api/src/app/inbox/usecases/update-all-notifications/update-all-notifications.spec.ts
  apps/api/src/app/inbox/usecases/update-all-notifications/update-all-notifications.usecase.ts
  apps/api/src/app/inbox/utils/analytics.ts
  libs/dal/src/repositories/message/message.repository.ts
Labels: @novu/api-server, @novu/dal

chore(api): fixed failing unit test for mark many notifications as
  apps/api/src/app/inbox/usecases/mark-many-notifications-as/mark-many-notifications-as.spec.ts
Labels: @novu/api-server

feat(api): inbox - change all notifications status (#5934)
  apps/api/src/app/inbox/dtos/button-type-request.dto.ts
  apps/api/src/app/inbox/dtos/update-all-notifications-request.dto.ts
  apps/api/src/app/inbox/e2e/update-all-notifications.e2e.ts
  apps/api/src/app/inbox/inbox.controller.ts
  apps/api/src/app/inbox/usecases/index.ts
  apps/api/src/app/inbox/usecases/mark-many-notifications-as/mark-many-notifications-as.spec.ts
  apps/api/src/app/inbox/usecases/update-all-notifications/update-all-notifications.command.ts
  apps/api/src/app/inbox/usecases/update-all-notifications/update-all-notifications.spec.ts
  apps/api/src/app/inbox/usecases/update-all-notifications/update-all-notifications.usecase.ts
  apps/api/src/app/inbox/utils/analytics.ts
  libs/dal/src/repositories/message/message.repository.ts
Labels: @novu/api-server, @novu/dal

```ci: Remove nodemon and update start scripts```
  .github/actions/run-backend/action.yml
  apps/api/.gitignore
  apps/api/nest-cli.json
  apps/api/nodemon-debug.json
  apps/api/nodemon.json
  apps/api/package.json
  apps/api/src/config/env.validators.ts
  apps/api/src/metadata.ts
  apps/inbound-mail/nest-cli.json
  apps/inbound-mail/nodemon.json
  apps/inbound-mail/package.json
  apps/inbound-mail/src/config/env.validators.ts
  apps/web/package.json
  apps/webhook/nest-cli.json
  apps/webhook/nodemon.json
  apps/webhook/package.json
  apps/webhook/src/config/env.validators.ts
  apps/worker/nest-cli.json
  apps/worker/nodemon-debug.json
  apps/worker/nodemon.json
  apps/worker/package.json
  apps/worker/src/config/env.validators.ts
  apps/ws/nest-cli.json
  apps/ws/nodemon.json
  apps/ws/package.json
  apps/ws/src/config/env.validators.ts
  apps/ws/tsconfig.json
  enterprise/packages/auth/package.json
  enterprise/packages/billing/package.json
  enterprise/packages/bridge-api/package.json
  enterprise/packages/bridge-worker/package.json
  enterprise/packages/shared-services/package.json
  enterprise/packages/translation/package.json
  libs/dal/nodemon.json
  libs/dal/package.json
  libs/testing/nodemon.json
  libs/testing/package.json
  package.json
  pnpm-lock.yaml
Labels: @novu/api-server, @novu/worker, @novu/web, @novu/ws, @novu/inbound-mail, @novu/webhook, @novu/dal, CI/CD

refactor(scripts): update build and start scripts in apps
  apps/api/package.json
  apps/inbound-mail/package.json
  apps/inbound-mail/tsconfig.json
  apps/webhook/package.json
  apps/worker/package.json
  pnpm-lock.yaml
Labels: @novu/api-server, @novu/worker, @novu/inbound-mail, @novu/webhook

style(env): fix formatting issues in env.validators.ts
  apps/api/src/metadata.ts
  apps/inbound-mail/src/config/env.validators.ts
  apps/webhook/src/config/env.validators.ts
Labels: @novu/api-server, @novu/inbound-mail, @novu/webhook

Update apps/inbound-mail/Dockerfile
  apps/inbound-mail/Dockerfile
Labels: @novu/inbound-mail

Update apps/inbound-mail/Dockerfile
  apps/inbound-mail/Dockerfile
Labels: @novu/inbound-mail

refactor: Simplify imports and replace nest-cli
  apps/inbound-mail/nest-cli.json
  apps/inbound-mail/nodemon.json
Labels: @novu/inbound-mail

fix: Slack notification update
  .github/workflows/cloud-deploy.yml
Labels: CI/CD

Update workflow actions and permissions
  .github/workflows/cloud-deploy-dev-api.yml
  .github/workflows/cloud-deploy.yml
  .github/workflows/reusable-notification-center.yml
Labels: CI/CD

Add permissions to GitHub workflows
  .github/workflows/cloud-deploy-dev-api.yml
  .github/workflows/cloud-deploy.yml
Labels: CI/CD

Remove 'ci skip' checks from GitHub workflow
  .github/workflows/cloud-deploy-dev-widget.yml
Labels: CI/CD

Rename back to be able to test
  .github/workflows/cloud-deploy.yml
Labels: CI/CD

Add environment selector to GitHub workflows
  .github/workflows/cloud-deploy.yml
Labels: CI/CD

Refactor file paths in cloud deployment workflows
  .github/workflows/cloud-deploy-dev-api.yml
  .github/workflows/cloud-deploy-dev-embed.yml
  .github/workflows/cloud-deploy-dev-inbound-mail.yml
  .github/workflows/cloud-deploy-dev-web-component.yml
  .github/workflows/cloud-deploy-dev-web.yml
  .github/workflows/cloud-deploy-dev-webhook.yml
  .github/workflows/cloud-deploy-dev-widget.yml
  .github/workflows/cloud-deploy-dev-worker.yml
  .github/workflows/cloud-deploy-dev-ws.yml
  .github/workflows/cloud-deploy-prod-api.yml
  .github/workflows/cloud-deploy-prod-embed.yml
  .github/workflows/cloud-deploy-prod-inbound-mail.yml
  .github/workflows/cloud-deploy-prod-web-components.yml
  .github/workflows/cloud-deploy-prod-web.yml
  .github/workflows/cloud-deploy-prod-webhook.yml
  .github/workflows/cloud-deploy-prod-widget.yml
  .github/workflows/cloud-deploy-prod-worker.yml
  .github/workflows/cloud-deploy-prod-ws.yml
  .github/workflows/cloud-deploy.yml
Labels: CI/CD

Simplify cloud deployment workflows
  .github/workflows/cloud-deploy.yml
Labels: CI/CD

Add New Relic
  .github/workflows/reusable-app-service-deploy.yml
Labels: CI/CD

.github/labeler.yml:

'@novu/api-server':
  - apps/api/**/*
'@novu/worker':
  - apps/worker/**/*
'@novu/web':
  - apps/web/**/*
'@novu/ws':
  - apps/ws/**/*
'@novu/inbound-mail':
  - apps/inbound-mail/**/*
'@novu/webhook':
  - apps/webhook/**/*
'@novu/dal':
  - libs/dal/**/*
'@novu/design-system':
  - libs/design-system/**/*
'@novu/novui':
  - libs/novui/**/*
'@novu/shared':
  - libs/shared/**/*
'@novu/notification-center':
  - packages/notification-center/**/*
'@novu/notification-center-vue':
  - packages/notification-center-vue/**/*
'@novu/notification-center-angular':
  - packages/notification-center-angular/**/*
'providers':
  - providers/**/*
'CI/CD':
  - .github/**/*
'helm':
  - docker/kubernetes/helm/**/*
'kustomize':
  - docker/kubernetes/kustomize/**/*
'docker':
  - docker/**/*
'scripts':
  - scripts/**/*
