Repository novuhq/novu, changes with the labels that .github/labeler.yml gives for each.
All labels: @novu/api-server, @novu/worker, @novu/web, @novu/ws, @novu/inbound-mail, @novu/webhook, @novu/dal, @novu/design-system, @novu/novui, @novu/shared, @novu/notification-center, @novu/notification-center-vue, @novu/notification-center-angular, providers, CI/CD, helm, kustomize, docker, scripts

fix: argument fix
  .github/workflows/cloud-deploy-reusable-app-service-deploy.yml
Labels: CI/CD

fix: fix the same id
  .github/workflows/cloud-deploy-reusable-app-service-deploy.yml
Labels: CI/CD

feat(api): inbox - change all notifications status (#5934)
  apps/api/src/app/inbox/dtos/button-type-request.dto.ts
  apps/api/src/app/inbox/dtos/update-all-notifications-request.dto.ts
  apps/api/src/app/inbox/e2e/update-all-notifications.e2e.ts
  apps/api/src/app/inbox/inbox.controller.ts
  apps/api/src/app/inbox/usecases/index.ts
  apps/api/src/app/inbox/usecases/mark-many-notifications-as/mark-many-notifications-as.spec.ts
  apps/api/src/app/inbox/usecases/update-all-notifications/update-all-notifications.command.ts
  apps/api/src/app/inbox/usecases/update-all-notifications/update-all-notifications.spec.ts
  apps/api/src/app/inbox/usecases/update-all-notifications/update-all-notifications.usecase.ts
  apps/api/src/app/inbox/utils/analytics.ts
  libs/dal/src/repositories/message/message.repository.ts
Labels: @novu/api-server, @novu/dal

fix: secrets: inherit
  .github/workflows/cloud-deploy.yml
Labels: CI/CD

Rename rollback workflow file
  .github/workflows/cloud-deploy-rollback.yml
Labels: CI/CD

fix: fix _worker
  .github/workflows/cloud-deploy-reusable-app-service-deploy.yml
Labels: CI/CD

fix: Cache has ben renamed for cloud build
  .github/workflows/cloud-deploy-reusable-docker.yml
Labels: CI/CD

fix: language selector text
  apps/web/src/pages/auth/components/QuestionnaireForm.tsx
  apps/web/tests/page-models/signupPage.ts
Labels: @novu/web

fix: runs-on: ubuntu-latest
  .github/workflows/cloud-deploy.yml
Labels: CI/CD

fix: SUBMODULES_TOKEN
  .github/workflows/cloud-deploy-reusable-docker.yml
Labels: CI/CD

fix: SUBMODULES_TOKEN debug disable
  .github/workflows/cloud-deploy-reusable-docker.yml
Labels: CI/CD

fix: improved onboarding ff
  apps/web/src/AppRoutes.tsx
Labels: @novu/web

fix: service_name_under
  .github/workflows/cloud-deploy-reusable-app-service-deploy.yml
Labels: CI/CD

fix: Cache was temporary disabled
  .github/workflows/cloud-deploy-reusable-docker.yml
Labels: CI/CD

feat: add more granular roles
  apps/web/src/pages/auth/components/QuestionnaireForm.tsx
  libs/shared/src/types/organization/index.ts
Labels: @novu/web, @novu/shared

fix: Outputs upgrade
  .github/workflows/cloud-deploy-reusable-docker.yml
  .github/workflows/cloud-deploy-services.yml
  .github/workflows/cloud-deploy-web-components.yml
  .github/workflows/cloud-deploy.yml
Labels: CI/CD

fix: debug
  .github/workflows/cloud-deploy.yml
Labels: CI/CD

feat(web,cli): change favicons (#6007)
  apps/web/public/favicon-gradient.svg
  apps/web/public/favicon.svg
  apps/web/public/index.html
  apps/web/src/studio/components/GetStartedPageV2/Development.tsx
  apps/web/src/studio/components/GetStartedPageV2/GithubAction.tsx
  apps/web/src/studio/components/GetStartedPageV2/Studio.tsx
  apps/web/src/studio/components/GetStartedPageV2/ide.tsx
  packages/cli/src/dev-server/http-server.ts
Labels: @novu/web

fix: Slack notification update
  .github/workflows/cloud-deploy.yml
Labels: CI/CD

fix: Slack notification update
  .github/workflows/cloud-deploy.yml
Labels: CI/CD

feat: read all hook
  packages/js/src/ui/api/feeds.ts
  packages/js/src/ui/api/hooks/index.ts
  packages/js/src/ui/api/hooks/useFeeds.ts
  packages/js/src/ui/api/hooks/useReadAll.ts
Labels: none

feat: footer
  packages/js/src/ui/components/Footer.tsx
  packages/js/src/ui/components/Inbox.tsx
Labels: none

fix: bell icon
  packages/js/src/ui/icons/BellIcon.tsx
Labels: none

feat: icon
  packages/js/src/ui/icons/Inbox.tsx
Labels: none

feat: usefeeds
  packages/js/src/ui/api/feeds.ts
  packages/js/src/ui/api/hooks/index.ts
  packages/js/src/ui/api/hooks/useFeeds.ts
  packages/js/src/ui/api/index.ts
Labels: none

feat: layout
  packages/js/src/ui/components/Popover/PopoverContent.tsx
Labels: none

feat: icons
  packages/js/src/ui/icons/Archive.tsx
  packages/js/src/ui/icons/ArrowDropDown.tsx
  packages/js/src/ui/icons/BellIcon.tsx
  packages/js/src/ui/icons/Check.tsx
  packages/js/src/ui/icons/DotsMenu.tsx
  packages/js/src/ui/icons/Inbox.tsx
  packages/js/src/ui/icons/Settings.tsx
  packages/js/src/ui/icons/Unread.tsx
  packages/js/src/ui/icons/index.ts
Labels: none

feat: feedcontext
  packages/js/src/ui/components/Renderer.tsx
  packages/js/src/ui/context/FeedsContext.tsx
  packages/js/src/ui/context/index.ts
Labels: none

fix: cursor
  packages/js/src/ui/components/Popover/PopoverContent.tsx
Labels: none

feat: update status
  packages/js/src/ui/components/Header/StatusDropdown.tsx
Labels: none

feat: header status
  packages/js/src/ui/components/Header/Actions.tsx
  packages/js/src/ui/components/Header/Header.tsx
  packages/js/src/ui/components/Header/StatusDropdown.tsx
  packages/js/src/ui/components/Header/index.ts
  packages/js/src/ui/components/Inbox.tsx
  packages/js/src/ui/context/AppearanceContext.tsx
Labels: none

feat: more actions
  packages/js/src/ui/components/Header/ActionsContainer.tsx
  packages/js/src/ui/components/Header/Header.tsx
  packages/js/src/ui/components/Header/MoreActionsDropdown.tsx
  packages/js/src/ui/components/Header/StatusDropdown.tsx
  packages/js/src/ui/context/AppearanceContext.tsx
  packages/js/src/ui/icons/ArchiveRead.tsx
  packages/js/src/ui/icons/Novu.tsx
  packages/js/src/ui/icons/ReadAll.tsx
  packages/js/src/ui/icons/index.ts
Labels: none

feat: remove alert
  packages/js/src/ui/api/hooks/useReadAll.ts
Labels: none

feat: reusable dropdown
  packages/js/src/ui/components/common/Dropdown.tsx
  packages/js/src/ui/components/common/DropdownItem.tsx
  packages/js/src/ui/components/common/index.ts
  packages/js/src/ui/helpers/useStyle.tsx
Labels: none

feat: use reusable dropdown
  packages/js/src/ui/components/Header/MoreActionsDropdown.tsx
  packages/js/src/ui/components/Header/StatusDropdown.tsx
Labels: none

feat: convert sendgrid output schema to zod schema
  packages/framework/src/schemas/providers/email/sendgrid.ts
Labels: none

fix: Condition test
  .github/workflows/cloud-deploy.yml
Labels: CI/CD

fix: Official GitHub Action Slack
  .github/workflows/cloud-deploy.yml
Labels: CI/CD

fix: Fix slack ID
  .github/workflows/cloud-deploy.yml
Labels: CI/CD

fix: evaluate clerk enabled env var on runtime
  apps/api/e2e/setup.ts
  apps/api/src/app.module.ts
  apps/api/src/app/auth/auth.module.ts
  apps/api/src/app/organization/organization.module.ts
  apps/api/src/app/organization/usecases/index.ts
  apps/api/src/app/testing/billing/get-platform-notification-usage.e2e-ee.ts
  apps/api/src/app/user/usecases/index.ts
  apps/api/src/app/workflows/e2e/create-notification-templates.e2e.ts
  libs/application-generic/src/utils/inject-repositories.ts
  libs/shared/src/utils/env.ts
  libs/testing/src/ee/ee.repository.factory.ts
  libs/testing/src/user.session.ts
Labels: @novu/api-server, @novu/shared

.github/labeler.yml:

'@novu/api-server':
  - apps/api/**/*
'@novu/worker':
  - apps/worker/**/*
'@novu/web':
  - apps/web/**/*
'@novu/ws':
  - apps/ws/**/*
'@novu/inbound-mail':
  - apps/inbound-mail/**/*
'@novu/webhook':
  - apps/webhook/**/*
'@novu/dal':
  - libs/dal/**/*
'@novu/design-system':
  - libs/design-system/**/*
'@novu/novui':
  - libs/novui/**/*
'@novu/shared':
  - libs/shared/**/*
'@novu/notification-center':
  - packages/notification-center/**/*
'@novu/notification-center-vue':
  - packages/notification-center-vue/**/*
'@novu/notification-center-angular':
  - packages/notification-center-angular/**/*
'providers':
  - providers/**/*
'CI/CD':
  - .github/**/*
'helm':
  - docker/kubernetes/helm/**/*
'kustomize':
  - docker/kubernetes/kustomize/**/*
'docker':
  - docker/**/*
'scripts':
  - scripts/**/*
