Repository novuhq/novu, changes with the labels that .github/labeler.yml gives for each.
All labels: @novu/api-server, @novu/worker, @novu/web, @novu/ws, @novu/inbound-mail, @novu/webhook, @novu/dal, @novu/design-system, @novu/novui, @novu/shared, @novu/notification-center, @novu/notification-center-vue, @novu/notification-center-angular, providers, CI/CD, helm, kustomize, docker, scripts

fix: lambda
  packages/framework/src/servers/lambda.ts
  packages/framework/src/types/server.types.ts
  packages/framework/tsup.config.ts
Labels: none

Update packages/framework/src/servers/lambda.ts
  packages/framework/src/servers/lambda.ts
Labels: none

Update packages/framework/src/servers/lambda.ts
  packages/framework/src/servers/lambda.ts
Labels: none

fix: header host
  packages/framework/src/servers/lambda.ts
Labels: none

fix: query keys
  packages/framework/src/servers/lambda.ts
Labels: none

chore: remove uneeded exports, add missing nodemailer impor
  packages/framework/src/schemas/providers/chat/slack.schema.ts
  packages/framework/src/schemas/providers/email/index.ts
  packages/framework/src/schemas/providers/email/mailgun.schema.ts
  packages/framework/src/schemas/providers/email/mailjet.schema.ts
  packages/framework/src/schemas/providers/email/nodemailer.schema.ts
  packages/framework/src/schemas/providers/email/novu-email.schema.ts
  packages/framework/src/schemas/providers/email/sendgrid.schema.ts
  packages/framework/src/schemas/providers/inApp/index.ts
  packages/framework/src/schemas/providers/inApp/novu-inapp.schema.ts
  packages/framework/src/schemas/providers/push/apns.schema.ts
  packages/framework/src/schemas/providers/push/expo.schema.ts
  packages/framework/src/schemas/providers/push/fcm.schema.ts
  packages/framework/src/schemas/providers/push/one-signal.schema.ts
  packages/framework/src/schemas/providers/sms/index.ts
  packages/framework/src/schemas/providers/sms/novu-sms.schema.ts
  packages/framework/src/schemas/providers/sms/twilio.ts
Labels: none

fix: test
  packages/framework/src/client.test.ts
Labels: none

feat: use dev mode when nnode env is not set
  packages/framework/src/client.ts
Labels: none

Update packages/framework/src/client.ts
  packages/framework/src/client.ts
Labels: none

feat: add test
  packages/framework/src/client.test.ts
Labels: none

fix: lint rule
  packages/framework/.eslintrc.js
Labels: none

Plat 2 migrate novu staging environment to novu stagingcom (#6052)
  apps/api/src/config/cors.config.spec.ts
  apps/api/src/config/cors.config.ts
  apps/api/src/config/env.validators.ts
Labels: @novu/api-server

fix: release PR generated title
  .github/workflows/conventional-commit.yml
  .github/workflows/prepare-cloud-release.yaml
Labels: CI/CD

feat(framework): add first five schemas for providers (#6039)
  .cspell.json
  .github/workflows/conventional-commit.yml
  .github/workflows/prepare-cloud-release.yaml
  packages/framework/.eslintrc.js
  packages/framework/README.md
  packages/framework/package.json
  packages/framework/scripts/INSTRUCTIONS.md
  packages/framework/scripts/devtool.ts
  packages/framework/scripts/schema_input.json
  packages/framework/scripts/schema_output.json
  packages/framework/src/client.test.ts
  packages/framework/src/schemas/providers/chat/slack.schema.ts
  packages/framework/src/schemas/providers/email/index.ts
  packages/framework/src/schemas/providers/email/mailgun.schema.ts
  packages/framework/src/schemas/providers/email/mailjet.schema.ts
  packages/framework/src/schemas/providers/email/nodemailer.schema.ts
  packages/framework/src/schemas/providers/email/novu-email.schema.ts
  packages/framework/src/schemas/providers/email/sendgrid.schema.ts
  packages/framework/src/schemas/providers/inApp/index.ts
  packages/framework/src/schemas/providers/inApp/novu-inapp.schema.ts
  packages/framework/src/schemas/providers/push/apns.schema.ts
  packages/framework/src/schemas/providers/push/expo.schema.ts
  packages/framework/src/schemas/providers/push/fcm.schema.ts
  packages/framework/src/schemas/providers/push/index.ts
  packages/framework/src/schemas/providers/push/one-signal.schema.ts
  packages/framework/src/schemas/providers/sms/index.ts
  packages/framework/src/schemas/providers/sms/novu-sms.schema.ts
  packages/framework/src/schemas/providers/sms/twilio.ts
  packages/framework/tsconfig.json
  pnpm-lock.yaml
Labels: CI/CD

fix(js): Render popover in portal and cleanups
  packages/js/package.json
  packages/js/postcss.config.js
  packages/js/src/ui/components/Dropdown/DropdownContent.tsx
  packages/js/src/ui/components/Dropdown/DropdownItem.tsx
  packages/js/src/ui/components/Dropdown/DropdownTrigger.tsx
  packages/js/src/ui/components/Dropdown/index.ts
  packages/js/src/ui/components/Header/Header.tsx
  packages/js/src/ui/components/Header/MoreActionsDropdown.tsx
  packages/js/src/ui/components/Header/MoreActionsOptions.tsx
  packages/js/src/ui/components/Header/StatusDropdown.tsx
  packages/js/src/ui/components/Header/StatusOptions.tsx
  packages/js/src/ui/components/Header/common/index.ts
  packages/js/src/ui/components/Inbox.tsx
  packages/js/src/ui/components/Popover/Popover.tsx
  packages/js/src/ui/components/Popover/PopoverClose.tsx
  packages/js/src/ui/components/Popover/PopoverContent.tsx
  packages/js/src/ui/components/Popover/PopoverRoot.tsx
  packages/js/src/ui/components/Popover/PopoverTrigger.tsx
  packages/js/src/ui/components/Popover/index.ts
  packages/js/src/ui/components/Renderer.tsx
  packages/js/src/ui/context/AppearanceContext.tsx
  packages/js/src/ui/helpers/useStyle.ts
  packages/js/src/ui/helpers/utils.ts
  pnpm-lock.yaml
Labels: none

refactor(js): Keep index.css and generate the .directcss file during build script
  packages/js/package.json
  packages/js/src/ui/index.css
  packages/js/src/ui/index.directcss
  pnpm-lock.yaml
Labels: none

feat(js): Introduce root components
  packages/js/.vscode/settings.json
  packages/js/src/ui/components/Bell/DefaultBellContainer.tsx
  packages/js/src/ui/components/Inbox.tsx
  packages/js/src/ui/components/Popover/PopoverContent.tsx
  packages/js/src/ui/components/Renderer.tsx
  packages/js/src/ui/components/Root.tsx
Labels: none

feat(js): Focus trapping and dismissing in popovers
  packages/js/.vscode/settings.json
  packages/js/package.json
  packages/js/src/ui/components/Dropdown/DropdownItem.tsx
  packages/js/src/ui/components/Popover/PopoverContent.tsx
  packages/js/src/ui/components/Popover/PopoverRoot.tsx
  packages/js/src/ui/components/Renderer.tsx
  packages/js/src/ui/context/AppearanceContext.tsx
  packages/js/src/ui/context/FocusManagerContext.tsx
  packages/js/src/ui/context/index.ts
  packages/js/src/ui/helpers/useFocusTrap.ts
  packages/js/tsup.config.ts
  pnpm-lock.yaml
Labels: none

chore(root): Update spell check file
  .cspell.json
  pnpm-lock.yaml
Labels: none

fix(js): Popover focus trap and dismissal(#6049)
  .cspell.json
  packages/js/.vscode/settings.json
  packages/js/package.json
  packages/js/postcss.config.js
  packages/js/src/ui/components/Bell/DefaultBellContainer.tsx
  packages/js/src/ui/components/Dropdown/DropdownContent.tsx
  packages/js/src/ui/components/Dropdown/DropdownItem.tsx
  packages/js/src/ui/components/Dropdown/DropdownTrigger.tsx
  packages/js/src/ui/components/Dropdown/index.ts
  packages/js/src/ui/components/Header/Header.tsx
  packages/js/src/ui/components/Header/MoreActionsDropdown.tsx
  packages/js/src/ui/components/Header/MoreActionsOptions.tsx
  packages/js/src/ui/components/Header/StatusDropdown.tsx
  packages/js/src/ui/components/Header/StatusOptions.tsx
  packages/js/src/ui/components/Header/common/index.ts
  packages/js/src/ui/components/Inbox.tsx
  packages/js/src/ui/components/Popover/Popover.tsx
  packages/js/src/ui/components/Popover/PopoverClose.tsx
  packages/js/src/ui/components/Popover/PopoverContent.tsx
  packages/js/src/ui/components/Popover/PopoverRoot.tsx
  packages/js/src/ui/components/Popover/PopoverTrigger.tsx
  packages/js/src/ui/components/Popover/index.ts
  packages/js/src/ui/components/Renderer.tsx
  packages/js/src/ui/components/Root.tsx
  packages/js/src/ui/context/AppearanceContext.tsx
  packages/js/src/ui/context/FocusManagerContext.tsx
  packages/js/src/ui/context/index.ts
  packages/js/src/ui/helpers/useFocusTrap.ts
  packages/js/src/ui/helpers/useStyle.ts
  packages/js/src/ui/helpers/utils.ts
  packages/js/src/ui/index.css
  packages/js/src/ui/index.directcss
  packages/js/tsup.config.ts
  pnpm-lock.yaml
Labels: none

feat: more actions
  packages/js/src/ui/components/Header/Actions.tsx
Labels: none

feat: feedcontext
  packages/js/src/ui/context/FeedsContext.tsx
Labels: none

feat: pr updates
  packages/js/src/ui/api/hooks/useFeeds.ts
  packages/js/src/ui/components/Header/ActionsContainer.tsx
  packages/js/src/ui/components/Header/common/DropdownItem.tsx
  packages/js/src/ui/components/common/Dropdown.tsx
  packages/js/src/ui/components/common/index.ts
Labels: none

feat: usefeeds
  packages/js/src/ui/api/hooks/useFeeds.ts
Labels: none

feat: reusable dropdown
  packages/js/src/ui/components/common/Dropdown.tsx
  packages/js/src/ui/components/common/DropdownItem.tsx
  packages/js/src/ui/components/common/index.ts
Labels: none

feat: read all hook
  packages/js/src/ui/api/hooks/useFeeds.ts
Labels: none

feat: header status
  packages/js/src/ui/components/Header/Actions.tsx
Labels: none

feat: use popover
  packages/js/src/ui/api/hooks/useFeeds.ts
  packages/js/src/ui/components/Header/common/DropdownItem.tsx
  packages/js/src/ui/components/Header/common/Item.tsx
  packages/js/src/ui/context/FeedsContext.tsx
Labels: none

feat: menu items
  packages/js/src/ui/components/Header/common/DropdownItem.tsx
  packages/js/src/ui/components/Header/common/Item.tsx
Labels: none

refactor: rename
  packages/js/src/ui/context/FeedsContext.tsx
Labels: none

feat: icon
  packages/js/src/ui/components/Settings/index.ts
Labels: none

fix: eslint errors
  packages/js/src/ui/components/Header/ActionsContainer.tsx
Labels: none

feat: switch icon
  packages/js/src/ui/components/Settings/Settings.tsx
Labels: none

fix: lint
  packages/js/src/ui/components/Settings/LoadingScreen.tsx
Labels: none

feat: Settings screen
  packages/js/src/ui/components/Header/ActionsContainer.tsx
  packages/js/src/ui/components/Header/Header.tsx
  packages/js/src/ui/components/Header/SettingsHeader.tsx
  packages/js/src/ui/components/Header/index.ts
  packages/js/src/ui/components/Inbox.tsx
  packages/js/src/ui/components/Settings/ChannelRow.tsx
  packages/js/src/ui/components/Settings/LoadingScreen.tsx
  packages/js/src/ui/components/Settings/Settings.tsx
  packages/js/src/ui/components/Settings/Switch.tsx
  packages/js/src/ui/components/index.ts
  packages/js/src/ui/icons/Chat.tsx
  packages/js/src/ui/icons/Email.tsx
  packages/js/src/ui/icons/InApp.tsx
  packages/js/src/ui/icons/LeftArrow.tsx
  packages/js/src/ui/icons/Push.tsx
  packages/js/src/ui/icons/Sms.tsx
  packages/js/src/ui/icons/index.ts
Labels: none

feat: add keys and styles
  packages/js/src/ui/components/Settings/ChannelRow.tsx
  packages/js/src/ui/components/Settings/Settings.tsx
  packages/js/src/ui/components/Settings/Switch.tsx
Labels: none

feat: add keys
  packages/js/src/ui/components/Settings/LoadingScreen.tsx
Labels: none

feat: keys
  packages/js/src/ui/components/Header/SettingsHeader.tsx
Labels: none

fix: lint
  packages/js/src/ui/components/Header/SettingsHeader.tsx
  packages/js/src/ui/components/Settings/Settings.tsx
  packages/js/src/ui/icons/Chat.tsx
  packages/js/src/ui/icons/Email.tsx
  packages/js/src/ui/icons/InApp.tsx
  packages/js/src/ui/icons/Push.tsx
  packages/js/src/ui/icons/Sms.tsx
Labels: none

fix: typo
  packages/js/src/ui/components/Header/ActionsContainer.tsx
Labels: none

.github/labeler.yml:

'@novu/api-server':
  - apps/api/**/*
'@novu/worker':
  - apps/worker/**/*
'@novu/web':
  - apps/web/**/*
'@novu/ws':
  - apps/ws/**/*
'@novu/inbound-mail':
  - apps/inbound-mail/**/*
'@novu/webhook':
  - apps/webhook/**/*
'@novu/dal':
  - libs/dal/**/*
'@novu/design-system':
  - libs/design-system/**/*
'@novu/novui':
  - libs/novui/**/*
'@novu/shared':
  - libs/shared/**/*
'@novu/notification-center':
  - packages/notification-center/**/*
'@novu/notification-center-vue':
  - packages/notification-center-vue/**/*
'@novu/notification-center-angular':
  - packages/notification-center-angular/**/*
'providers':
  - providers/**/*
'CI/CD':
  - .github/**/*
'helm':
  - docker/kubernetes/helm/**/*
'kustomize':
  - docker/kubernetes/kustomize/**/*
'docker':
  - docker/**/*
'scripts':
  - scripts/**/*
