Repository novuhq/novu, changes with the labels that .github/labeler.yml gives for each.
All labels: @novu/api-server, @novu/worker, @novu/web, @novu/ws, @novu/inbound-mail, @novu/webhook, @novu/dal, @novu/design-system, @novu/novui, @novu/shared, @novu/notification-center, @novu/notification-center-vue, @novu/notification-center-angular, providers, CI/CD, helm, kustomize, docker, scripts

feat: Only render toggle on depth >= 1
  libs/novui/src/json-schema-components/JsonSchemaForm.stories.tsx
  libs/novui/src/json-schema-components/shared.tsx
  libs/novui/src/json-schema-components/templates/ArrayFieldTemplate.tsx
  libs/novui/src/json-schema-components/templates/ObjectFieldTemplate.tsx
Labels: @novu/novui

feat: run bridge app
  apps/web/src/pages/auth/onboarding/Onboarding.tsx
  apps/web/src/studio/components/workflows/step-editor/editor/CodeEditor.tsx
  apps/web/src/studio/components/workflows/step-editor/editor/RunExpressApp.tsx
  apps/web/src/studio/components/workflows/step-editor/editor/bridge-code.const.ts
  apps/web/src/studio/components/workflows/step-editor/editor/files.ts
Labels: @novu/web

Create clean-build.sh
  scripts/clean-build.sh
Labels: scripts

refactor(utils): reorganize utils and update types
  packages/framework/src/client.ts
  packages/framework/src/types/execution.types.ts
  packages/framework/src/utils/index.ts
  packages/framework/src/utils/sanitize-html.utils.test.ts
  packages/framework/src/utils/sanitize.utils.ts
  pnpm-lock.yaml
Labels: none

fix(web): This is the real fix to restore local studio
  apps/web/src/ApplicationReadyGuard.tsx
  apps/web/src/components/providers/EnvironmentProvider.tsx
Labels: @novu/web

test(utils): add tests for sanitizeHtmlInObject function
  packages/framework/src/utils/sanitize.utils.test.ts
  packages/framework/src/utils/sanitize.utils.ts
Labels: none

test(client): add tests for step result sanitization
  packages/framework/src/client.test.ts
  packages/framework/src/client.ts
Labels: none

feat(web,novui): initial implementation of var autocomplete
  apps/web/src/studio/components/workflows/step-editor/WorkflowStepEditorControlsPanel.tsx
  libs/novui/package.json
  libs/novui/src/json-schema-components/JsonSchemaForm.tsx
  libs/novui/src/json-schema-components/widgets/MentionList.tsx
  libs/novui/src/json-schema-components/widgets/TextareaWidget.tsx
  packages/framework/src/client.ts
  pnpm-lock.yaml
Labels: @novu/web, @novu/novui

fix(web): add internal id condition to ee switch org callback
  apps/web/src/ee/clerk/providers/EnterpriseAuthProvider.tsx
Labels: @novu/web

fix(api): bring back reload organization callback (#6093)
  apps/web/src/ee/clerk/providers/EnterpriseAuthProvider.tsx
Labels: @novu/web

chore(web): remove unused auth provider hook (#6094)
  apps/web/src/ee/clerk/providers/useCreateAuthEnterprise.ts
Labels: @novu/web

feat(framework): add sanitize html to step output (#6082)
  .eslintrc.js
  package.json
  packages/framework/.eslintrc.js
  packages/framework/package.json
  packages/framework/src/client.test.ts
  packages/framework/src/client.ts
  packages/framework/src/types/execution.types.ts
  packages/framework/src/utils/index.ts
  packages/framework/src/utils/sanitize.utils.test.ts
  packages/framework/src/utils/sanitize.utils.ts
  pnpm-lock.yaml
Labels: none

feat(novui,web): Apply CSS Layers (#6050)
  apps/web/package.json
  apps/web/panda.config.ts
  apps/web/src/Providers.tsx
  apps/web/src/components/nav/Aside.tsx
  apps/web/src/index.css
  apps/web/src/index.tsx
  apps/web/src/pages/studio-onboarding/components/Wrapper.tsx
  apps/web/src/studio/components/OutlineButton.tsx
  libs/novui/.storybook/preview.tsx
  libs/novui/package.json
  libs/novui/src/components/input/Input.stories.tsx
  libs/novui/src/global.styles.ts
  libs/novui/src/index.css
  libs/novui/src/index.ts
  libs/novui/src/recipes/button.recipe.ts
  libs/novui/src/recipes/checkbox.recipe.ts
  libs/novui/src/recipes/input.recipe.ts
  libs/novui/src/recipes/loading-overlay.recipe.ts
  libs/novui/src/recipes/select.recipe.ts
  libs/novui/src/recipes/tabs.recipe.ts
  pnpm-lock.yaml
Labels: @novu/web, @novu/novui

feat: new endpoint for get all preferences
  apps/api/src/app/inbox/dtos/get-preferences-response.dto.ts
  apps/api/src/app/inbox/inbox.controller.ts
Labels: @novu/api-server

chore: spell check
  apps/api/src/app/inbox/usecases/get-preferences/get-preferences.spec.ts
Labels: @novu/api-server

fix: test
  apps/api/src/app/inbox/usecases/get-preferences/get-preferences.spec.ts
Labels: @novu/api-server

fix: test
  apps/api/src/app/inbox/usecases/get-preferences/get-preferences.spec.ts
  apps/api/src/app/inbox/usecases/get-preferences/get-preferences.usecase.ts
Labels: @novu/api-server

feat: usecase for get preferences
  apps/api/src/app/inbox/usecases/get-preferences/get-preferences.command.ts
  apps/api/src/app/inbox/usecases/get-preferences/get-preferences.usecase.ts
  apps/api/src/app/inbox/usecases/index.ts
  libs/application-generic/src/usecases/get-subscriber-workflow-preference/get-subscriber-workflow-preference.command.ts
  libs/application-generic/src/usecases/get-subscriber-workflow-preference/get-subscriber-workflow-preference.usecase.spec.ts
  libs/application-generic/src/usecases/get-subscriber-workflow-preference/get-subscriber-workflow-preference.usecase.ts
  libs/application-generic/src/usecases/get-subscriber-workflow-preference/index.ts
  libs/application-generic/src/usecases/index.ts
  libs/shared/src/entities/subscriber-preference/subscriber-preference.interface.ts
Labels: @novu/api-server, @novu/shared

fix: import
  apps/api/src/app/inbox/usecases/index.ts
Labels: @novu/api-server

feat: tests
  apps/api/src/app/inbox/e2e/get-preferences.e2e.ts
  apps/api/src/app/inbox/usecases/get-preferences/get-preferences.spec.ts
Labels: @novu/api-server

fix: map template to workflow
  apps/api/src/app/inbox/usecases/get-preferences/get-preferences.usecase.ts
  apps/api/src/app/inbox/usecases/index.ts
  libs/application-generic/src/usecases/get-subscriber-workflow-preference/get-subscriber-workflow-preference.command.ts
  libs/application-generic/src/usecases/get-subscriber-workflow-preference/get-subscriber-workflow-preference.usecase.spec.ts
  libs/application-generic/src/usecases/get-subscriber-workflow-preference/get-subscriber-workflow-preference.usecase.ts
  libs/application-generic/src/usecases/get-subscriber-workflow-preference/index.ts
Labels: @novu/api-server

fix: test
  apps/api/src/app/inbox/usecases/get-preferences/get-preferences.spec.ts
Labels: @novu/api-server

chore: update endpoint
  apps/api/src/app/inbox/e2e/get-preferences.e2e.ts
  apps/api/src/app/inbox/inbox.controller.ts
Labels: @novu/api-server

fix: remove unused export
  libs/application-generic/src/usecases/index.ts
Labels: none

feat: add event to the enum
  apps/api/src/app/inbox/usecases/get-preferences/get-preferences.usecase.ts
  apps/api/src/app/inbox/utils/analytics.ts
Labels: @novu/api-server

feat: add more tests
  apps/api/src/app/inbox/usecases/get-preferences/get-preferences.spec.ts
  apps/api/src/app/inbox/usecases/get-preferences/get-preferences.usecase.ts
Labels: @novu/api-server

fix: typo
  apps/api/src/app/inbox/usecases/get-preferences/get-preferences.spec.ts
Labels: @novu/api-server

fix: merge
  apps/api/src/app/inbox/inbox.controller.ts
Labels: @novu/api-server

fix: add back sub auth decorator removed during rebase
  apps/api/src/app/inbox/e2e/get-preferences.e2e.ts
  apps/api/src/app/inbox/inbox.controller.ts
Labels: @novu/api-server

fix: test
  apps/api/src/app/inbox/usecases/get-preferences/get-preferences.spec.ts
Labels: @novu/api-server

feat: update error msg
  apps/api/src/app/inbox/usecases/get-preferences/get-preferences.spec.ts
  apps/api/src/app/inbox/usecases/get-preferences/get-preferences.usecase.ts
Labels: @novu/api-server

fix: test
  apps/api/src/app/inbox/usecases/get-preferences/get-preferences.spec.ts
Labels: @novu/api-server

fix: import
  apps/api/src/app/inbox/usecases/get-preferences/get-preferences.spec.ts
Labels: @novu/api-server

chore: meta
  apps/api/src/metadata.ts
Labels: @novu/api-server

fix: test
  apps/api/src/app/inbox/usecases/get-preferences/get-preferences.spec.ts
Labels: @novu/api-server

chore: add workflow preferences
  apps/api/src/app/inbox/usecases/get-preferences/get-preferences.spec.ts
Labels: @novu/api-server

fix: typo
  apps/api/src/app/inbox/usecases/get-preferences/get-preferences.spec.ts
  apps/api/src/app/inbox/usecases/get-preferences/get-preferences.usecase.ts
Labels: @novu/api-server

fix: test
  apps/api/src/app/inbox/usecases/get-preferences/get-preferences.spec.ts
  apps/api/src/app/inbox/usecases/get-preferences/get-preferences.usecase.ts
Labels: @novu/api-server

fix(web): Simplify ApplicationReadyChecks - WIP
  apps/web/src/ApplicationReadyGuard.tsx
  apps/web/src/api/hooks/useUserOnboardingStatus.ts
  apps/web/src/components/layout/components/EnsureOnboardingComplete.tsx
  apps/web/src/components/layout/components/PrivatePageLayout.tsx
  apps/web/src/components/providers/AuthProvider.tsx
  apps/web/src/components/providers/CommunityAuthProvider.tsx
  apps/web/src/components/providers/EnvironmentProvider.tsx
  apps/web/src/ee/clerk/providers/EnterpriseAuthProvider.tsx
  apps/web/src/pages/auth/onboarding/Onboarding.tsx
  apps/web/src/studio/LocalStudioAuthenticator.tsx
Labels: @novu/web

fix: Clean-up + button fix
  libs/novui/src/json-schema-components/templates/IconButton.tsx
  libs/novui/src/recipes/button.recipe.ts
Labels: @novu/novui

.github/labeler.yml:

'@novu/api-server':
  - apps/api/**/*
'@novu/worker':
  - apps/worker/**/*
'@novu/web':
  - apps/web/**/*
'@novu/ws':
  - apps/ws/**/*
'@novu/inbound-mail':
  - apps/inbound-mail/**/*
'@novu/webhook':
  - apps/webhook/**/*
'@novu/dal':
  - libs/dal/**/*
'@novu/design-system':
  - libs/design-system/**/*
'@novu/novui':
  - libs/novui/**/*
'@novu/shared':
  - libs/shared/**/*
'@novu/notification-center':
  - packages/notification-center/**/*
'@novu/notification-center-vue':
  - packages/notification-center-vue/**/*
'@novu/notification-center-angular':
  - packages/notification-center-angular/**/*
'providers':
  - providers/**/*
'CI/CD':
  - .github/**/*
'helm':
  - docker/kubernetes/helm/**/*
'kustomize':
  - docker/kubernetes/kustomize/**/*
'docker':
  - docker/**/*
'scripts':
  - scripts/**/*
