Repository novuhq/novu, changes with the labels that .github/labeler.yml gives for each.
All labels: @novu/api-server, @novu/worker, @novu/web, @novu/ws, @novu/inbound-mail, @novu/webhook, @novu/dal, @novu/design-system, @novu/novui, @novu/shared, @novu/notification-center, @novu/notification-center-vue, @novu/notification-center-angular, providers, CI/CD, helm, kustomize, docker, scripts

.github/labeler.yml:

'@novu/api-server':
  - apps/api/**/*
'@novu/worker':
  - apps/worker/**/*
'@novu/web':
  - apps/web/**/*
'@novu/ws':
  - apps/ws/**/*
'@novu/inbound-mail':
  - apps/inbound-mail/**/*
'@novu/webhook':
  - apps/webhook/**/*
'@novu/dal':
  - libs/dal/**/*
'@novu/design-system':
  - libs/design-system/**/*
'@novu/novui':
  - libs/novui/**/*
'@novu/shared':
  - libs/shared/**/*
'@novu/notification-center':
  - packages/notification-center/**/*
'@novu/notification-center-vue':
  - packages/notification-center-vue/**/*
'@novu/notification-center-angular':
  - packages/notification-center-angular/**/*
'providers':
  - providers/**/*
'CI/CD':
  - .github/**/*
'helm':
  - docker/kubernetes/helm/**/*
'kustomize':
  - docker/kubernetes/kustomize/**/*
'docker':
  - docker/**/*
'scripts':
  - scripts/**/*

fix: so track is not spammed (#5930)
  apps/web/src/components/docs/useLoadDocs.tsx
Labels: @novu/web

fix: align vercel secret key
  apps/api/src/app/partner-integrations/usecases/complete-vercel-integration/complete-vercel-integration.usecase.ts
  apps/api/src/app/partner-integrations/usecases/update-vercel-configuration/update-vercel-configuration.usecase.ts
Labels: @novu/api-server

chore: bump version to 0.24.3-alpha.14 (#5923)
  packages/framework/package.json
Labels: none

refactor: Move trial widget inside footer
  apps/web/src/components/layout/components/LocalStudioSidebar/LocalStudioSidebar.tsx
  apps/web/src/components/layout/components/LocalStudioSidebar/SidebarFooter.tsx
  apps/web/src/components/layout/components/LocalStudioSidebar/SidebarFooterButton.tsx
  apps/web/src/components/nav/RootNavMenu.tsx
Labels: @novu/web

fix: telemtry api accessible
  apps/api/src/app/analytics/analytics.controller.ts
  apps/web/src/components/docs/useLoadDocs.tsx
Labels: @novu/api-server, @novu/web

feat(web,novui): Studio <-> Dashboard Button, other small fixes (#5914)
  apps/web/src/components/layout/components/LocalStudioSidebar/LocalStudioSidebar.tsx
  apps/web/src/components/layout/components/LocalStudioSidebar/SidebarFooter.tsx
  apps/web/src/components/layout/components/v2/SyncInfoModal.tsx
  apps/web/src/components/nav/Aside.tsx
  apps/web/src/components/nav/NavMenu.tsx
  apps/web/src/components/nav/RootNavMenu.tsx
  apps/web/src/components/nav/Sidebar.tsx
  apps/web/src/pages/studio-onboarding/components/SetupTimeline.recipe.ts
  apps/web/src/pages/studio-onboarding/components/SetupTimeline.tsx
  apps/web/src/pages/studio-onboarding/preview.tsx
  apps/web/src/pages/templates/editor_v2/TemplateDetailsPageV2.tsx
  apps/web/src/pages/templates/editor_v2/TemplateStepEditorV2.tsx
  apps/web/src/studio/components/OpenLocalStudioModal.tsx
  apps/web/src/studio/components/OutlineButton.tsx
  apps/web/src/studio/components/workflows/node-view/WorkflowsDetailPage.tsx
  apps/web/src/studio/components/workflows/test-workflow/WorkflowsTestPage.tsx
  apps/web/src/studio/hooks/useNavigateToLocalStudio.ts
  apps/web/src/studio/types.ts
  libs/novui/src/components/button/Button.stories.tsx
  libs/novui/src/components/button/Button.tsx
  libs/novui/src/recipes/button.recipe.ts
  packages/cli/src/dev-server/http-server.ts
Labels: @novu/web, @novu/novui

fix: Remove sidebar stack gap
  apps/web/src/components/layout/components/LocalStudioSidebar/SidebarFooter.tsx
Labels: @novu/web

feat(cli): persistent tunnel urls
  packages/cli/src/commands/dev.ts
  packages/cli/src/index.ts
  packages/cli/src/services/config.service.ts
Labels: none

refactor(client): remove unused secret key error handling
  packages/framework/package.json
  packages/framework/src/client.test.ts
  packages/framework/src/client.ts
  packages/framework/src/h3.ts
  packages/framework/src/handler.ts
  packages/framework/src/index.ts
  packages/framework/src/next.ts
  packages/framework/src/nuxt.ts
  packages/framework/src/remix.ts
  packages/framework/src/sveltekit.ts
  packages/framework/src/types/discover.types.ts
  packages/framework/src/types/execution.types.ts
  packages/framework/src/types/provider.types.ts
  packages/framework/src/types/schema.types.ts
  packages/framework/src/types/skip.types.ts
  packages/framework/src/types/step.types.ts
  packages/framework/src/types/subscriber.types.ts
  packages/framework/src/types/validator.types.ts
  packages/framework/src/types/workflow.types.ts
  packages/framework/src/utils/env.utils.ts
  packages/framework/src/validators/base.validator.ts
  packages/framework/src/validators/json-schema.validator.ts
  packages/framework/src/validators/zod.validator.ts
  packages/framework/src/workflow.test.ts
  packages/framework/src/workflow.ts
Labels: none

chore: bump version to 0.24.3-alpha.16
  packages/framework/package.json
Labels: none

feat: Automatically set dev env en route to studio
  apps/web/src/studio/LocalStudioAuthenticator.tsx
Labels: @novu/web

refactor(cli): organize the dev command
  packages/cli/src/commands/dev/consts.ts
  packages/cli/src/commands/dev/dev.ts
  packages/cli/src/commands/dev/enums.ts
  packages/cli/src/commands/dev/index.ts
  packages/cli/src/commands/dev/types.ts
  packages/cli/src/commands/dev/utils.ts
Labels: none

feat: Handle env change on sidebar button click
  apps/web/src/studio/hooks/useNavigateToLocalStudio.ts
Labels: @novu/web

chore: Cleanup
  apps/web/src/studio/LocalStudioAuthenticator.tsx
Labels: @novu/web

feat: add mixpanel identifiy
  apps/web/src/hooks/useNovuAPI.ts
  apps/web/src/utils/segment.ts
Labels: @novu/web

feat: add mixpanel identifiy (#5935)
  apps/web/src/hooks/useNovuAPI.ts
  apps/web/src/utils/segment.ts
Labels: @novu/web

fix(framework): Remove compile time secret key check (#5932)
  packages/framework/package.json
  packages/framework/src/client.test.ts
  packages/framework/src/client.ts
  packages/framework/src/h3.ts
  packages/framework/src/handler.ts
  packages/framework/src/index.ts
  packages/framework/src/next.ts
  packages/framework/src/nuxt.ts
  packages/framework/src/remix.ts
  packages/framework/src/sveltekit.ts
  packages/framework/src/types/discover.types.ts
  packages/framework/src/types/execution.types.ts
  packages/framework/src/types/provider.types.ts
  packages/framework/src/types/schema.types.ts
  packages/framework/src/types/skip.types.ts
  packages/framework/src/types/step.types.ts
  packages/framework/src/types/subscriber.types.ts
  packages/framework/src/types/validator.types.ts
  packages/framework/src/types/workflow.types.ts
  packages/framework/src/utils/env.utils.ts
  packages/framework/src/validators/base.validator.ts
  packages/framework/src/validators/json-schema.validator.ts
  packages/framework/src/validators/zod.validator.ts
  packages/framework/src/workflow.test.ts
  packages/framework/src/workflow.ts
Labels: none

feat: remove device id from mixpanel
  apps/web/src/hooks/useNovuAPI.ts
  apps/web/src/utils/segment.ts
Labels: @novu/web

fix(web): empty state copy
  apps/web/src/studio/components/workflows/landing-page/LocalStudioWorkflowLandingPage.tsx
Labels: @novu/web

feat: update get started
  apps/web/src/studio/components/GetStartedPageV2/GithubAction.tsx
  apps/web/src/studio/components/GetStartedPageV2/index.tsx
Labels: @novu/web

fix(web): Always pick the secret key from development environment
  apps/web/src/studio/LocalStudioAuthenticator.tsx
Labels: @novu/web

feat: add analytics when dev command is running
  packages/cli/src/commands/dev.ts
Labels: none

feat(web): Nv 4013 non tech missing back button when in workflowstep test view (#5929)
  apps/web/src/components/layout/components/LocalStudioHeader/LocalStudioHeader.tsx
  apps/web/src/components/layout/components/v2/HeaderNav.tsx
  apps/web/src/components/layout/components/v2/WorkflowHeaderBackButton.tsx
  libs/novui/src/components/button/IconButton.tsx
Labels: @novu/web, @novu/novui

Update LocalStudioAuthenticator.tsx
  apps/web/src/studio/LocalStudioAuthenticator.tsx
Labels: @novu/web

fix: after review
  apps/web/src/studio/components/GetStartedPageV2/index.tsx
  apps/web/src/studio/components/OpenLocalStudioModal.tsx
Labels: @novu/web

fix(web): Always pick the secret key from development environment (#5938)
  apps/web/src/studio/LocalStudioAuthenticator.tsx
Labels: @novu/web

fix: after review
  packages/cli/src/commands/dev.ts
Labels: none

fix: command in onboarding
  apps/web/src/pages/studio-onboarding/components/SetupTimeline.tsx
Labels: @novu/web

Update SidebarFooter.tsx
  apps/web/src/components/layout/components/LocalStudioSidebar/SidebarFooter.tsx
Labels: @novu/web

feat: add last link
  apps/web/src/studio/components/GetStartedPageV2/index.tsx
Labels: @novu/web

chore(cli): bump version to 0.24.3-alpha.10
  packages/cli/package.json
Labels: none

fix(node): Teach to always use latest novu cli
  packages/cli/src/index.ts
Labels: none

chore(cli): bump version to 0.24.3-alpha.10 (#5941)
  packages/cli/package.json
Labels: none

feat: Enhance Vercel env handling and add test cases
  packages/framework/package.json
  packages/framework/src/utils/env.utils.test.ts
  packages/framework/src/utils/env.utils.ts
  packages/framework/src/workflow.test.ts
  packages/framework/src/workflow.ts
Labels: none

fix(framework): Remove compile time secret key check (#5932)
  packages/framework/package.json
  packages/framework/src/client.test.ts
  packages/framework/src/client.ts
  packages/framework/src/h3.ts
  packages/framework/src/handler.ts
  packages/framework/src/index.ts
  packages/framework/src/next.ts
  packages/framework/src/nuxt.ts
  packages/framework/src/remix.ts
  packages/framework/src/sveltekit.ts
  packages/framework/src/types/discover.types.ts
  packages/framework/src/types/execution.types.ts
  packages/framework/src/types/provider.types.ts
  packages/framework/src/types/schema.types.ts
  packages/framework/src/types/skip.types.ts
  packages/framework/src/types/step.types.ts
  packages/framework/src/types/subscriber.types.ts
  packages/framework/src/types/validator.types.ts
  packages/framework/src/types/workflow.types.ts
  packages/framework/src/utils/env.utils.ts
  packages/framework/src/validators/base.validator.ts
  packages/framework/src/validators/json-schema.validator.ts
  packages/framework/src/validators/zod.validator.ts
  packages/framework/src/workflow.test.ts
  packages/framework/src/workflow.ts
Labels: none

fix: so track is not spammed (#5930)
  apps/web/src/components/docs/useLoadDocs.tsx
Labels: @novu/web

feat(web,novui): Studio <-> Dashboard Button, other small fixes (#5914)
  apps/web/src/components/layout/components/LocalStudioSidebar/LocalStudioSidebar.tsx
  apps/web/src/components/layout/components/LocalStudioSidebar/SidebarFooter.tsx
  apps/web/src/components/layout/components/v2/SyncInfoModal.tsx
  apps/web/src/components/nav/Aside.tsx
  apps/web/src/components/nav/NavMenu.tsx
  apps/web/src/components/nav/RootNavMenu.tsx
  apps/web/src/components/nav/Sidebar.tsx
  apps/web/src/pages/studio-onboarding/components/SetupTimeline.recipe.ts
  apps/web/src/pages/studio-onboarding/components/SetupTimeline.tsx
  apps/web/src/pages/studio-onboarding/preview.tsx
  apps/web/src/pages/templates/editor_v2/TemplateDetailsPageV2.tsx
  apps/web/src/pages/templates/editor_v2/TemplateStepEditorV2.tsx
  apps/web/src/studio/components/OpenLocalStudioModal.tsx
  apps/web/src/studio/components/OutlineButton.tsx
  apps/web/src/studio/components/workflows/node-view/WorkflowsDetailPage.tsx
  apps/web/src/studio/components/workflows/test-workflow/WorkflowsTestPage.tsx
  apps/web/src/studio/hooks/useNavigateToLocalStudio.ts
  apps/web/src/studio/types.ts
  libs/novui/src/components/button/Button.stories.tsx
  libs/novui/src/components/button/Button.tsx
  libs/novui/src/recipes/button.recipe.ts
  packages/cli/src/dev-server/http-server.ts
Labels: @novu/web, @novu/novui

fix(web): empty state copy
  apps/web/src/studio/components/workflows/landing-page/LocalStudioWorkflowLandingPage.tsx
Labels: @novu/web

chore(cli): bump version to 0.24.3-alpha.10 (#5941)
  packages/cli/package.json
Labels: none

feat: add mixpanel identifiy (#5935)
  apps/web/src/hooks/useNovuAPI.ts
  apps/web/src/utils/segment.ts
Labels: @novu/web
