Repository novuhq/novu, changes with the labels that .github/labeler.yml gives for each.
All labels: @novu/api-server, @novu/worker, @novu/web, @novu/ws, @novu/inbound-mail, @novu/webhook, @novu/dal, @novu/design-system, @novu/novui, @novu/shared, @novu/notification-center, @novu/notification-center-vue, @novu/notification-center-angular, providers, CI/CD, helm, kustomize, docker, scripts

feat: lint
  packages/js/src/ui/components/Settings/ChannelRow.tsx
Labels: none

fix: add global update
  packages/js/src/ui/components/Settings/Settings.tsx
Labels: none

fix: improvements
  packages/js/src/ui/components/Settings/Settings.tsx
  packages/js/src/ui/helpers/useUncontrolledState.ts
Labels: none

feat: hook
  packages/js/src/ui/api/hooks/index.ts
  packages/js/src/ui/api/hooks/usePreferences.ts
  packages/js/src/ui/components/Settings/Settings.tsx
Labels: none

chore: remove unused imports
  packages/js/src/ui/components/Settings/ChannelRow.tsx
Labels: none

feat: pr updates
  packages/js/src/ui/components/Header/Header.tsx
  packages/js/src/ui/components/Header/SettingsHeader.tsx
  packages/js/src/ui/components/Inbox.tsx
  packages/js/src/ui/components/Settings/LoadingScreen.tsx
  packages/js/src/ui/icons/ArrowLeft.tsx
  packages/js/src/ui/icons/index.ts
Labels: none

feat: update keys
  packages/js/src/ui/components/Header/SettingsHeader.tsx
  packages/js/src/ui/components/Settings/ChannelRow.tsx
  packages/js/src/ui/components/Settings/LoadingScreen.tsx
  packages/js/src/ui/components/Settings/Settings.tsx
  packages/js/src/ui/components/Settings/Switch.tsx
  packages/js/src/ui/context/AppearanceContext.tsx
Labels: none

refactor: remove unused
  packages/js/src/ui/components/Inbox.tsx
Labels: none

fix(ee-auth): retrieve user organizations list from clerk
  apps/web/src/ee/clerk/providers/useCreateAuthEnterprise.ts
  apps/web/src/pages/auth/components/LoginForm.tsx
Labels: @novu/web

fix(ee-auth): update session when org metadata are updated (#6048)
  apps/web/src/auth/useCreateAuthCommunity.ts
  apps/web/src/components/providers/CommunityAuthProvider.tsx
  apps/web/src/ee/clerk/components/QuestionnaireForm.tsx
  apps/web/src/ee/clerk/providers/EnterpriseAuthProvider.tsx
  apps/web/src/ee/clerk/providers/useCreateAuthEnterprise.ts
Labels: @novu/web

chore: prettier
  apps/web/src/ee/clerk/providers/useCreateAuthEnterprise.ts
Labels: @novu/web

fix(api): delete all credentials of one providerId type
  apps/api/src/app/subscribers/usecases/delete-subscriber-credentials/delete-subscriber-credentials.usecase.ts
Labels: @novu/api-server

ci(api): add ee clerk e2e tests to dev deploy
  .github/workflows/dev-deploy-api.yml
Labels: CI/CD

fix(ee-auth): retrieve user organizations list from clerk (#6054)
  apps/web/src/ee/clerk/providers/useCreateAuthEnterprise.ts
  apps/web/src/pages/auth/components/LoginForm.tsx
Labels: @novu/web

fix(api): add test to verify delete subscriber credentials of one provider
  apps/api/src/app/subscribers/usecases/delete-subscriber-credentials/delete-subscriber-credentials.spec.ts
  apps/api/src/app/subscribers/usecases/delete-subscriber-credentials/delete-subscriber-credentials.usecase.ts
Labels: @novu/api-server

fix: add create discord integrations
  apps/api/src/app/subscribers/usecases/delete-subscriber-credentials/delete-subscriber-credentials.spec.ts
Labels: @novu/api-server

Update libs/novui/src/json-schema-components/templates/IconButton.tsx
  libs/novui/src/json-schema-components/templates/IconButton.tsx
Labels: @novu/novui

Update libs/novui/src/recipes/json-schema-form.recipe.ts
  libs/novui/src/recipes/json-schema-form.recipe.ts
Labels: @novu/novui

Com 50 implement the settings component (#6035)
  packages/js/src/ui/api/hooks/index.ts
  packages/js/src/ui/api/hooks/usePreferences.ts
  packages/js/src/ui/components/Header/ActionsContainer.tsx
  packages/js/src/ui/components/Header/Header.tsx
  packages/js/src/ui/components/Header/SettingsHeader.tsx
  packages/js/src/ui/components/Header/index.ts
  packages/js/src/ui/components/Inbox.tsx
  packages/js/src/ui/components/Settings/ChannelRow.tsx
  packages/js/src/ui/components/Settings/LoadingScreen.tsx
  packages/js/src/ui/components/Settings/Settings.tsx
  packages/js/src/ui/components/Settings/Switch.tsx
  packages/js/src/ui/components/Settings/index.ts
  packages/js/src/ui/components/index.ts
  packages/js/src/ui/context/AppearanceContext.tsx
  packages/js/src/ui/helpers/useUncontrolledState.ts
  packages/js/src/ui/icons/ArrowLeft.tsx
  packages/js/src/ui/icons/Chat.tsx
  packages/js/src/ui/icons/Email.tsx
  packages/js/src/ui/icons/InApp.tsx
  packages/js/src/ui/icons/Push.tsx
  packages/js/src/ui/icons/Sms.tsx
  packages/js/src/ui/icons/index.ts
Labels: none

fix: unit tests error
  apps/api/src/app/subscribers/usecases/delete-subscriber-credentials/delete-subscriber-credentials.spec.ts
Labels: @novu/api-server

fix: failing unit tests
  apps/api/src/app/subscribers/usecases/delete-subscriber-credentials/delete-subscriber-credentials.spec.ts
  apps/api/src/app/subscribers/usecases/index.ts
Labels: @novu/api-server

feat(framework): add lambda handler (#6053)
  packages/framework/package.json
  packages/framework/src/client.test.ts
  packages/framework/src/client.ts
  packages/framework/src/servers/lambda.ts
  packages/framework/src/types/server.types.ts
  packages/framework/tsup.config.ts
  pnpm-lock.yaml
Labels: none

fix: metadata
  apps/api/src/metadata.ts
Labels: @novu/api-server

fix: remove bridge
  .vscode/tasks.json
Labels: none

fix: preview env
  apps/api/src/app/bridge/usecases/sync/sync.command.ts
  apps/api/src/app/partner-integrations/partner-integrations.controller.ts
  apps/api/src/app/partner-integrations/partner-integrations.module.ts
  apps/api/src/app/partner-integrations/usecases/process-vercel-webhook/process-vercel-webhook.usecase.ts
Labels: @novu/api-server

fix: add intermediate workflows flow
  apps/api/src/app/bridge/usecases/sync/sync.usecase.ts
  apps/api/src/metadata.ts
  apps/web/src/AppRoutes.tsx
  apps/web/src/components/layout/components/PrivatePageLayout.tsx
  apps/web/src/components/nav/RootNavMenu.tsx
  apps/web/src/config/index.ts
  apps/web/src/pages/auth/components/QuestionnaireForm.tsx
  apps/web/src/pages/templates/WorkflowListPage.tsx
  apps/web/src/studio/components/OpenLocalStudioModal.tsx
Labels: @novu/api-server, @novu/web

fix: rename getting started
  apps/web/src/AppRoutes.tsx
  apps/web/src/pages/templates/WorkflowListPage.tsx
  apps/web/src/studio/components/GetStartedPageV2/index.tsx
Labels: @novu/web

feat(api): vercel sync integration for marketplace (#6015)
  .vscode/tasks.json
  apps/api/.swcrc
  apps/api/src/app/bridge/usecases/sync/sync.command.ts
  apps/api/src/app/partner-integrations/partner-integrations.controller.ts
  apps/api/src/app/partner-integrations/partner-integrations.module.ts
  apps/api/src/app/partner-integrations/usecases/complete-vercel-integration/complete-vercel-integration.usecase.ts
  apps/api/src/app/partner-integrations/usecases/index.ts
  apps/api/src/app/partner-integrations/usecases/process-vercel-webhook/process-vercel-webhook.command.ts
  apps/api/src/app/partner-integrations/usecases/process-vercel-webhook/process-vercel-webhook.usecase.ts
  apps/api/src/metadata.ts
Labels: @novu/api-server

fix: refactor component
  apps/web/src/components/layout/components/PrivatePageLayout.tsx
  apps/web/src/components/layout/components/v2/SampleWorkflowsBanner.tsx
Labels: @novu/web

fix: add event
  apps/web/src/components/layout/components/v2/SampleWorkflowsBanner.tsx
Labels: @novu/web

fix: rendering
  apps/web/src/components/layout/components/v2/SampleWorkflowsBanner.tsx
Labels: @novu/web

fix: restore spacing
  apps/web/src/components/layout/components/v2/SampleWorkflowsBanner.tsx
Labels: @novu/web

added endpoint to cancel events in bulk
  apps/api/src/app/events/dtos/trigger-bulk-cancel-response.dto.ts
  apps/api/src/app/events/dtos/trigger-event-request.dto.ts
  apps/api/src/app/events/events.controller.ts
  apps/api/src/app/events/usecases/index.ts
  apps/api/src/app/events/usecases/process-bulk-cancel/index.ts
  apps/api/src/app/events/usecases/process-bulk-cancel/process-bulk-cancel.command.ts
  apps/api/src/app/events/usecases/process-bulk-cancel/process-bulk-cancel.usecase.ts
  apps/api/src/metadata.ts
Labels: @novu/api-server

refactor: copy and structure on sync modal
  apps/web/src/components/layout/components/v2/SyncInfoModal.tsx
Labels: @novu/web

fix: update doc link
  apps/web/src/components/layout/components/v2/SyncInfoModal.tsx
Labels: @novu/web

refactor(dashboard): update after pr comments
  apps/web/src/components/layout/components/v2/SyncInfoModal.tsx
  apps/web/src/components/layout/components/v2/SyncInfoModalTrigger.tsx
  apps/web/src/hooks/index.ts
  apps/web/src/hooks/useIsSynced.ts
  apps/web/src/utils/create-hash.ts
Labels: @novu/web

fix(api): delete all credentials of one providerId type (#6055)
  apps/api/src/app/subscribers/usecases/delete-subscriber-credentials/delete-subscriber-credentials.spec.ts
  apps/api/src/app/subscribers/usecases/delete-subscriber-credentials/delete-subscriber-credentials.usecase.ts
  apps/api/src/app/subscribers/usecases/index.ts
Labels: @novu/api-server

fix(dashboard): lock file after next merge
  pnpm-lock.yaml
Labels: none

fix: revert type import, merge auto change
  libs/shared/src/entities/notification-template/notification-template.interface.ts
Labels: @novu/shared

feat(api): inbox cors wildcard configuration
  apps/api/src/config/cors.config.spec.ts
  apps/api/src/config/cors.config.ts
Labels: @novu/api-server

.github/labeler.yml:

'@novu/api-server':
  - apps/api/**/*
'@novu/worker':
  - apps/worker/**/*
'@novu/web':
  - apps/web/**/*
'@novu/ws':
  - apps/ws/**/*
'@novu/inbound-mail':
  - apps/inbound-mail/**/*
'@novu/webhook':
  - apps/webhook/**/*
'@novu/dal':
  - libs/dal/**/*
'@novu/design-system':
  - libs/design-system/**/*
'@novu/novui':
  - libs/novui/**/*
'@novu/shared':
  - libs/shared/**/*
'@novu/notification-center':
  - packages/notification-center/**/*
'@novu/notification-center-vue':
  - packages/notification-center-vue/**/*
'@novu/notification-center-angular':
  - packages/notification-center-angular/**/*
'providers':
  - providers/**/*
'CI/CD':
  - .github/**/*
'helm':
  - docker/kubernetes/helm/**/*
'kustomize':
  - docker/kubernetes/kustomize/**/*
'docker':
  - docker/**/*
'scripts':
  - scripts/**/*
