Repository novuhq/novu, changes with the labels that .github/labeler.yml gives for each.
All labels: @novu/api-server, @novu/worker, @novu/web, @novu/ws, @novu/inbound-mail, @novu/webhook, @novu/dal, @novu/design-system, @novu/novui, @novu/shared, @novu/notification-center, @novu/notification-center-vue, @novu/notification-center-angular, providers, CI/CD, helm, kustomize, docker, scripts

refactor(tests): add sendgrid passthrough support test
  packages/framework/src/client.test.ts
  packages/framework/src/client.ts
  packages/framework/src/schemas/providers/email/index.ts
  packages/framework/src/schemas/providers/email/sendgrid.schema.ts
  packages/framework/src/types/discover.types.ts
  packages/framework/src/types/provider.types.ts
  packages/framework/src/types/step.types.ts
Labels: none

refactor: Use object for additional auth info
  apps/api/src/app/auth/legacy-ee-auth/google.strategy.ts
  apps/api/src/app/auth/services/passport/github.strategy.ts
  libs/application-generic/src/services/auth/auth.service.interface.ts
  libs/application-generic/src/services/auth/auth.service.ts
  libs/application-generic/src/services/auth/community.auth.service.ts
Labels: @novu/api-server

feat: Close menu on click elsewhere
  libs/novui/src/json-schema-components/widgets/MentionList.tsx
Labels: @novu/novui

refactor: Use ref for menu renderer
  libs/novui/src/json-schema-components/widgets/TextareaWidget.tsx
Labels: @novu/novui

fix: Fix some studio colors
  apps/web/src/components/layout/components/LocalStudioHeader/LocalStudioHeader.tsx
  apps/web/src/components/layout/components/LocalStudioSidebar/LocalStudioSidebarOrganizationDisplay.tsx
  apps/web/src/studio/components/workflows/node-view/WorkflowFloatingMenu.tsx
Labels: @novu/web

feat(enterprise): add clerk migration scripts
  enterprise/packages/auth/package.json
  pnpm-lock.yaml
Labels: none

fix: syncing issue
  apps/web/src/components/layout/components/PrivatePageLayout.tsx
  apps/web/src/components/providers/EnvironmentProvider.tsx
  apps/web/src/pages/auth/components/QuestionnaireForm.tsx
  apps/web/src/pages/studio-onboarding/index.tsx
Labels: @novu/web

fix: metadata
  apps/api/src/metadata.ts
Labels: @novu/api-server

fix: vercel logged in
  apps/web/src/pages/auth/components/LoginForm.tsx
  apps/web/src/pages/auth/components/QuestionnaireForm.tsx
Labels: @novu/web

fix(web): vercel logged in flow (#6126)
  apps/web/src/pages/auth/components/LoginForm.tsx
  apps/web/src/pages/auth/components/QuestionnaireForm.tsx
Labels: @novu/web

feat(web): add minor events for template page
  apps/web/src/pages/templates/editor_v2/TemplateDetailsPageV2.tsx
  apps/web/src/studio/components/workflows/test-workflow/WorkflowsTestPage.tsx
Labels: @novu/web

refactor(web): update sandbox endpoint
  apps/web/src/components/layout/components/PrivatePageLayout.tsx
  apps/web/src/config/index.ts
Labels: @novu/web

refactor(web): update sandbox endpoint to remove push channels (#6127)
  apps/web/src/components/layout/components/PrivatePageLayout.tsx
  apps/web/src/config/index.ts
Labels: @novu/web

refactor: reuse env switcher
  apps/api/src/metadata.ts
  apps/web/src/components/providers/EnvironmentProvider.tsx
Labels: @novu/api-server, @novu/web

fix: extract to reuse once
  apps/web/src/components/providers/EnvironmentProvider.tsx
Labels: @novu/web

fix(web): banner is not show after signup (#6115)
  apps/web/src/components/layout/components/PrivatePageLayout.tsx
  apps/web/src/components/providers/EnvironmentProvider.tsx
  apps/web/src/pages/auth/components/QuestionnaireForm.tsx
  apps/web/src/pages/studio-onboarding/index.tsx
Labels: @novu/web

feat: add terminal and control support
  apps/api/src/app/bridge/bridge.controller.ts
  apps/api/src/app/bridge/usecases/preview-step/preview-step.command.ts
  apps/api/src/app/bridge/usecases/preview-step/preview-step.usecase.ts
  apps/web/package.json
  apps/web/src/bridgeApi/bridgeApi.client.ts
  apps/web/src/index.tsx
  apps/web/src/pages/auth/onboarding/Onboarding.tsx
  apps/web/src/pages/settings/ApiKeysPage/useApiKeysPage.ts
  apps/web/src/pages/settings/tabs/ApiKeysCard.tsx
  apps/web/src/pages/studio-onboarding/preview.tsx
  apps/web/src/pages/templates/editor_v2/TemplateStepEditorV2.tsx
  apps/web/src/studio/components/workflows/step-editor/editor/RunExpressApp.tsx
  apps/web/src/studio/components/workflows/step-editor/editor/Terminal.tsx
  libs/dal/src/repositories/notification-template/notification-template.entity.ts
  pnpm-lock.yaml
Labels: @novu/api-server, @novu/web, @novu/dal

chore(web): Stabilize e2e
  apps/web/tests/drag-and-drop.spec.ts
  apps/web/tests/main-functionality.spec.ts
  apps/web/tests/page-models/subscribers.ts
  apps/web/tests/variants.spec.ts
Labels: @novu/web

feat(api): change sync org request scope to default (singleton) (#6121)
  apps/api/src/app/organization/usecases/create-organization/sync-external-organization/sync-external-organization.usecase.ts
Labels: @novu/api-server

feat: CI/CD Environments changes
  .github/workflows/cloud-deploy-embed.yml
  .github/workflows/cloud-deploy-reusable-docker.yml
  .github/workflows/cloud-deploy-reusable-embed-deploy.yml
  .github/workflows/cloud-deploy-reusable-web-deploy.yml
  .github/workflows/cloud-deploy-services.yml
  .github/workflows/cloud-deploy-web-components.yml
  .github/workflows/cloud-deploy-web.yml
  .github/workflows/cloud-deploy-widget.yml
  .github/workflows/cloud-deploy.yml
Labels: CI/CD

feat(novui,web): auto suggestion in control panel
  apps/web/src/studio/components/workflows/step-editor/WorkflowStepEditorControlsPanel.tsx
  apps/web/src/studio/utils/index.ts
  apps/web/src/studio/utils/variables.ts
  libs/novui/package.json
  libs/novui/src/json-schema-components/JsonSchemaForm.tsx
  libs/novui/src/json-schema-components/widgets/InputEditorWidget.tsx
  libs/novui/src/json-schema-components/widgets/InputWidget.tsx
  libs/novui/src/json-schema-components/widgets/MentionList.tsx
  libs/novui/src/json-schema-components/widgets/VariableSuggestionList.tsx
  libs/novui/src/json-schema-components/widgets/index.ts
  libs/novui/src/tokens/semanticColors.tokens.ts
  packages/framework/src/client.ts
Labels: @novu/web, @novu/novui

feat: update lock file
  pnpm-lock.yaml
Labels: none

style(novui): extract styles to files
  .cspell.json
  libs/novui/src/json-schema-components/widgets/InputEditorWidget.styles.ts
  libs/novui/src/json-schema-components/widgets/InputEditorWidget.tsx
  libs/novui/src/json-schema-components/widgets/VariableSuggestionList.styles.ts
  libs/novui/src/json-schema-components/widgets/VariableSuggestionList.tsx
Labels: @novu/novui

test(framework): adjust tests to use payload namespace
  packages/framework/src/client.test.ts
Labels: none

feat: Add variables for autocomplete to storybook
  libs/novui/src/json-schema-components/JsonSchemaForm.stories.tsx
Labels: @novu/novui

feat(web): refactor use workflow step editor add allotment
  apps/web/package.json
  apps/web/src/pages/auth/onboarding/Onboarding.tsx
  apps/web/src/pages/templates/editor_v2/TemplateStepEditorV2.tsx
  apps/web/src/pages/templates/editor_v2/useWorkflowStepEditor.ts
  apps/web/src/studio/components/workflows/step-editor/editor/CodeEditor.tsx
  apps/web/src/studio/components/workflows/step-editor/editor/RunExpressApp.tsx
  apps/web/src/studio/components/workflows/step-editor/editor/bridge-code.const.ts
  apps/web/src/studio/components/workflows/step-editor/editor/test-code.ts
  pnpm-lock.yaml
Labels: @novu/web

feat(web): refactor extract run express app to hook
  apps/web/src/pages/auth/onboarding/Onboarding.tsx
  apps/web/src/studio/components/workflows/step-editor/editor/Terminal.tsx
  apps/web/src/studio/components/workflows/step-editor/editor/useContainer.tsx
Labels: @novu/web

fix: enforce no-explicit-any eslint rule
  packages/framework/.eslintrc.js
  packages/framework/src/client.test.ts
  packages/framework/src/client.ts
  packages/framework/src/handler.test.ts
  packages/framework/src/handler.ts
  packages/framework/src/resources/workflow.ts
  packages/framework/src/schemas/steps/actions/delay.schema.ts
  packages/framework/src/schemas/steps/actions/digest.schema.ts
  packages/framework/src/schemas/steps/actions/index.ts
  packages/framework/src/types/discover.types.ts
  packages/framework/src/types/execution.types.ts
  packages/framework/src/types/provider.types.ts
  packages/framework/src/types/schema.types.ts
  packages/framework/src/types/step.types.ts
  packages/framework/src/types/util.types.ts
  packages/framework/src/types/validator.types.ts
  packages/framework/src/types/workflow.types.ts
  packages/framework/src/utils/clone.utils.test.ts
  packages/framework/src/utils/clone.utils.ts
  packages/framework/src/utils/http.utils.ts
  packages/framework/src/validators/base.validator.ts
  packages/framework/src/validators/json-schema.validator.ts
  packages/framework/src/validators/zod.validator.ts
  packages/framework/tsconfig.json
Labels: none

test(client): add ts-expect-error for undefined fields
  packages/framework/src/client.test.ts
Labels: none

test: Remove unused sendgrid provider mock
  packages/framework/src/client.test.ts
Labels: none

style(schema.types): Fix typo in comment
  packages/framework/src/types/schema.types.ts
Labels: none

Update ApplicationReadyGuard.tsx
  apps/web/src/ApplicationReadyGuard.tsx
  apps/web/src/components/layout/components/PrivatePageLayout.tsx
  apps/web/src/components/providers/CommunityAuthProvider.tsx
  apps/web/src/components/providers/constants.ts
  apps/web/src/ee/clerk/providers/EnterpriseAuthProvider.tsx
  apps/web/src/hooks/index.ts
  apps/web/src/hooks/useRouteScopes.ts
  apps/web/tests/invites.spec.ts
  apps/web/tests/variants.spec.ts
Labels: @novu/web

feat: New Environments for docker build. Slack notifications has been disabled
  .github/workflows/cloud-deploy-reusable-app-service-deploy.yml
  .github/workflows/cloud-deploy-reusable-docker.yml
  .github/workflows/cloud-deploy-services.yml
  .github/workflows/cloud-deploy-web-components.yml
  .github/workflows/cloud-deploy.yml
Labels: CI/CD

fix: TF_WORKSPACE env has been deleted
  .github/workflows/cloud-deploy-reusable-app-service-deploy.yml
Labels: CI/CD

refactor(client): add validatedEvent for execution steps
  packages/framework/src/client.ts
  packages/framework/src/types/schema.types.ts
  packages/framework/src/validators/json-schema.validator.ts
Labels: none

fix: debug
  .github/workflows/cloud-deploy-widget.yml
Labels: CI/CD

fix: debug
  .github/workflows/cloud-deploy-widget.yml
Labels: CI/CD

fixup! Update ApplicationReadyGuard.tsx
  apps/web/src/ApplicationReadyGuard.tsx
Labels: @novu/web

refactor(types): update Schema and JsonSchema types
  packages/framework/src/types/schema.types.ts
  packages/framework/src/validators/base.validator.ts
Labels: none

fix: debug
  .github/workflows/cloud-deploy-widget.yml
Labels: CI/CD

.github/labeler.yml:

'@novu/api-server':
  - apps/api/**/*
'@novu/worker':
  - apps/worker/**/*
'@novu/web':
  - apps/web/**/*
'@novu/ws':
  - apps/ws/**/*
'@novu/inbound-mail':
  - apps/inbound-mail/**/*
'@novu/webhook':
  - apps/webhook/**/*
'@novu/dal':
  - libs/dal/**/*
'@novu/design-system':
  - libs/design-system/**/*
'@novu/novui':
  - libs/novui/**/*
'@novu/shared':
  - libs/shared/**/*
'@novu/notification-center':
  - packages/notification-center/**/*
'@novu/notification-center-vue':
  - packages/notification-center-vue/**/*
'@novu/notification-center-angular':
  - packages/notification-center-angular/**/*
'providers':
  - providers/**/*
'CI/CD':
  - .github/**/*
'helm':
  - docker/kubernetes/helm/**/*
'kustomize':
  - docker/kubernetes/kustomize/**/*
'docker':
  - docker/**/*
'scripts':
  - scripts/**/*
