Repository novuhq/novu, changes with the labels that .github/labeler.yml gives for each.
All labels: @novu/api-server, @novu/worker, @novu/web, @novu/ws, @novu/inbound-mail, @novu/webhook, @novu/dal, @novu/design-system, @novu/novui, @novu/shared, @novu/notification-center, @novu/notification-center-vue, @novu/notification-center-angular, providers, CI/CD, helm, kustomize, docker, scripts

feat: add readme content for dev tool
  packages/framework/README.md
Labels: none

feat: add novu schemas
  packages/framework/src/schemas/providers/email/index.ts
  packages/framework/src/schemas/providers/inApp/index.ts
  packages/framework/src/schemas/providers/sms/index.ts
Labels: none

fix: cspell errors
  .cspell.json
  packages/framework/src/schemas/providers/push/one-signal.schema.ts
  packages/framework/src/schemas/providers/sms/twilio.ts
Labels: none

fix(dashboard): after next merge
  apps/web/src/components/layout/components/v2/SyncInfoModalTrigger.tsx
  libs/shared/src/entities/notification-template/notification-template.interface.ts
  pnpm-lock.yaml
Labels: @novu/web, @novu/shared

fix: more cspell errors
  .cspell.json
Labels: none

fix: onboarding check
  apps/web/src/components/layout/components/EnsureOnboardingComplete.tsx
Labels: @novu/web

chore: update application-generic path in code workspace
  novu.code-workspace
Labels: none

chore: more type fixes
  apps/api/src/metadata.ts
  apps/worker/src/app/workflow/usecases/execute-bridge-job/execute-bridge-job.command.ts
  apps/worker/src/app/workflow/usecases/execute-bridge-job/execute-bridge-job.usecase.ts
Labels: @novu/api-server, @novu/worker

fix(ee-auth): onboarding check (#6046)
  apps/web/src/components/layout/components/EnsureOnboardingComplete.tsx
Labels: @novu/web

fix(ee-auth): update session with new org metadata
  apps/web/src/auth/useCreateAuthCommunity.ts
  apps/web/src/components/providers/CommunityAuthProvider.tsx
  apps/web/src/ee/clerk/components/QuestionnaireForm.tsx
  apps/web/src/ee/clerk/providers/EnterpriseAuthProvider.tsx
  apps/web/src/ee/clerk/providers/useCreateAuthEnterprise.ts
Labels: @novu/web

fix: project keys
  apps/api/src/app/partner-integrations/usecases/complete-vercel-integration/complete-vercel-integration.usecase.ts
Labels: @novu/api-server

chore(root): update application-generic path in code workspace (#6047)
  novu.code-workspace
Labels: none

fix: Layers in storybooks
  libs/novui/.storybook/preview.tsx
Labels: @novu/novui

feat: CSS Layers!
  libs/novui/.storybook/preview.tsx
  libs/novui/src/components/input/Input.stories.tsx
  libs/novui/src/index.css
Labels: @novu/novui

WIP web
  apps/web/src/index.css
  apps/web/src/index.tsx
  libs/novui/package.json
Labels: @novu/web, @novu/novui

refactor: Remove Input recipe !important
  libs/novui/src/recipes/input.recipe.ts
Labels: @novu/novui

refactor: Remove Button recipe !important
  libs/novui/src/recipes/button.recipe.ts
Labels: @novu/novui

refactor: Remove Checkbox recipe !important
  libs/novui/src/recipes/checkbox.recipe.ts
Labels: @novu/novui

refactor: Remove Loading Overlay recipe !important
  libs/novui/src/recipes/loading-overlay.recipe.ts
Labels: @novu/novui

refactor: Remove Select recipe !important
  libs/novui/src/recipes/select.recipe.ts
Labels: @novu/novui

refactor: Remove Tabs recipe !important
  libs/novui/src/recipes/tabs.recipe.ts
Labels: @novu/novui

Reorder styles
  apps/web/src/index.tsx
Labels: @novu/web

Add mantine layer order
  apps/web/src/index.css
Labels: @novu/web

Disable globals
  apps/web/src/Providers.tsx
Labels: @novu/web

feat: Improved JsonSchemaForm
  libs/novui/.storybook/preview.tsx
  libs/novui/src/json-schema-components/JsonSchemaForm.stories.tsx
  libs/novui/src/json-schema-components/JsonSchemaForm.tsx
  libs/novui/src/json-schema-components/shared.tsx
  libs/novui/src/json-schema-components/templates/ArrayFieldTemplate.tsx
  libs/novui/src/json-schema-components/templates/IconButton.tsx
  libs/novui/src/json-schema-components/templates/ObjectFieldTemplate.tsx
  libs/novui/src/recipes/json-schema-form.recipe.ts
  libs/novui/src/tokens/semanticColors.tokens.ts
Labels: @novu/novui

WIP: re-style controls
  libs/novui/src/json-schema-components/JsonSchemaForm.stories.tsx
  libs/novui/src/json-schema-components/shared.tsx
  libs/novui/src/json-schema-components/templates/ArrayFieldTemplate.tsx
  libs/novui/src/json-schema-components/templates/ObjectFieldTemplate.tsx
  libs/novui/src/panda-preset.ts
  libs/novui/src/recipes/index.ts
  libs/novui/src/recipes/json-schema-form.recipe.ts
Labels: @novu/novui

refactor: Slight improvements
  libs/novui/src/json-schema-components/JsonSchemaForm.stories.tsx
  libs/novui/src/json-schema-components/templates/IconButton.tsx
Labels: @novu/novui

chore: Tweak colors?
  libs/novui/src/json-schema-components/templates/IconButton.tsx
  libs/novui/src/recipes/json-schema-form.recipe.ts
  libs/novui/src/tokens/semanticColors.tokens.ts
Labels: @novu/novui

refactor: Clean-up
  libs/novui/src/components/button/Button.shared.ts
  libs/novui/src/components/button/Button.tsx
  libs/novui/src/components/button/IconButton.tsx
  libs/novui/src/json-schema-components/JsonSchemaForm.tsx
  libs/novui/src/json-schema-components/shared.tsx
  libs/novui/src/json-schema-components/templates/ArrayFieldTemplate.tsx
  libs/novui/src/json-schema-components/templates/ObjectFieldTemplate.tsx
  libs/novui/src/json-schema-components/useExpandToggle.tsx
  libs/novui/src/json-schema-components/utils.ts
Labels: @novu/novui

fix: Button gap
  libs/novui/src/recipes/json-schema-form.recipe.ts
Labels: @novu/novui

refactor: Fix IconButton, extract shared
  libs/novui/src/components/button/Button.shared.ts
  libs/novui/src/components/button/Button.tsx
  libs/novui/src/components/button/IconButton.tsx
  libs/novui/src/json-schema-components/templates/IconButton.tsx
  libs/novui/src/recipes/json-schema-form.recipe.ts
Labels: @novu/novui

fix: Hstack distance
  libs/novui/src/json-schema-components/templates/ArrayFieldTemplate.tsx
  libs/novui/src/recipes/json-schema-form.recipe.ts
Labels: @novu/novui

feat: Align the things
  libs/novui/src/json-schema-components/JsonSchemaForm.stories.tsx
  libs/novui/src/json-schema-components/templates/ArrayFieldTemplate.tsx
  libs/novui/src/json-schema-components/templates/IconButton.tsx
  libs/novui/src/json-schema-components/templates/ObjectFieldTemplate.tsx
  libs/novui/src/panda-preset.ts
  libs/novui/src/recipes/button.recipe.ts
  libs/novui/src/recipes/json-schema-form.recipe.ts
Labels: @novu/novui

fix: Flex tweak
  libs/novui/src/recipes/json-schema-form.recipe.ts
Labels: @novu/novui

fix: after pr comments
  packages/framework/README.md
  packages/framework/package.json
  packages/framework/scripts/INSTRUCTIONS.md
  packages/framework/scripts/devtool.ts
  packages/framework/scripts/input.json
  packages/framework/scripts/schema.json
  packages/framework/tsconfig.json
Labels: none

fix: rename files
  packages/framework/scripts/INSTRUCTIONS.md
  packages/framework/scripts/devtool.ts
  packages/framework/scripts/input.json
  packages/framework/scripts/schema.json
  packages/framework/scripts/schema_input.json
  packages/framework/scripts/schema_output.json
Labels: none

fix: use useOrganization hook instead of session
  apps/web/src/auth/useCreateAuthCommunity.ts
  apps/web/src/components/providers/CommunityAuthProvider.tsx
  apps/web/src/ee/clerk/components/QuestionnaireForm.tsx
  apps/web/src/ee/clerk/providers/EnterpriseAuthProvider.tsx
  apps/web/src/ee/clerk/providers/useCreateAuthEnterprise.ts
Labels: @novu/web

chore(root): update staging URLs
  apps/api/src/config/cors.config.spec.ts
  apps/api/src/config/cors.config.ts
  apps/api/src/config/env.validators.ts
Labels: @novu/api-server

feat: add lambda handler
  packages/framework/package.json
  packages/framework/src/servers/lambda.ts
  packages/framework/src/types/server.types.ts
  pnpm-lock.yaml
Labels: none

fix: tsup
  packages/framework/src/servers/aws-lambda.ts
  packages/framework/tsup.config.ts
Labels: none

.github/labeler.yml:

'@novu/api-server':
  - apps/api/**/*
'@novu/worker':
  - apps/worker/**/*
'@novu/web':
  - apps/web/**/*
'@novu/ws':
  - apps/ws/**/*
'@novu/inbound-mail':
  - apps/inbound-mail/**/*
'@novu/webhook':
  - apps/webhook/**/*
'@novu/dal':
  - libs/dal/**/*
'@novu/design-system':
  - libs/design-system/**/*
'@novu/novui':
  - libs/novui/**/*
'@novu/shared':
  - libs/shared/**/*
'@novu/notification-center':
  - packages/notification-center/**/*
'@novu/notification-center-vue':
  - packages/notification-center-vue/**/*
'@novu/notification-center-angular':
  - packages/notification-center-angular/**/*
'providers':
  - providers/**/*
'CI/CD':
  - .github/**/*
'helm':
  - docker/kubernetes/helm/**/*
'kustomize':
  - docker/kubernetes/kustomize/**/*
'docker':
  - docker/**/*
'scripts':
  - scripts/**/*
