Repository novuhq/novu, changes with the labels that .github/labeler.yml gives for each.
All labels: @novu/api-server, @novu/worker, @novu/web, @novu/ws, @novu/inbound-mail, @novu/webhook, @novu/dal, @novu/design-system, @novu/novui, @novu/shared, @novu/notification-center, @novu/notification-center-vue, @novu/notification-center-angular, providers, CI/CD, helm, kustomize, docker, scripts

.github/labeler.yml:

'@novu/api-server':
  - apps/api/**/*
'@novu/worker':
  - apps/worker/**/*
'@novu/web':
  - apps/web/**/*
'@novu/ws':
  - apps/ws/**/*
'@novu/inbound-mail':
  - apps/inbound-mail/**/*
'@novu/webhook':
  - apps/webhook/**/*
'@novu/dal':
  - libs/dal/**/*
'@novu/design-system':
  - libs/design-system/**/*
'@novu/novui':
  - libs/novui/**/*
'@novu/shared':
  - libs/shared/**/*
'@novu/notification-center':
  - packages/notification-center/**/*
'@novu/notification-center-vue':
  - packages/notification-center-vue/**/*
'@novu/notification-center-angular':
  - packages/notification-center-angular/**/*
'providers':
  - providers/**/*
'CI/CD':
  - .github/**/*
'helm':
  - docker/kubernetes/helm/**/*
'kustomize':
  - docker/kubernetes/kustomize/**/*
'docker':
  - docker/**/*
'scripts':
  - scripts/**/*

Com 41 implement inbox header and footer components (#6008)
  packages/js/src/ui/api/feeds.ts
  packages/js/src/ui/api/hooks/index.ts
  packages/js/src/ui/api/hooks/useFeed.ts
  packages/js/src/ui/api/hooks/useReadAll.ts
  packages/js/src/ui/api/index.ts
  packages/js/src/ui/components/Footer.tsx
  packages/js/src/ui/components/Header/ActionsContainer.tsx
  packages/js/src/ui/components/Header/Header.tsx
  packages/js/src/ui/components/Header/MoreActionsDropdown.tsx
  packages/js/src/ui/components/Header/MoreActionsOptions.tsx
  packages/js/src/ui/components/Header/StatusDropdown.tsx
  packages/js/src/ui/components/Header/StatusOptions.tsx
  packages/js/src/ui/components/Header/common/index.ts
  packages/js/src/ui/components/Header/index.ts
  packages/js/src/ui/components/Inbox.tsx
  packages/js/src/ui/components/Popover/Popover.tsx
  packages/js/src/ui/components/Popover/PopoverClose.tsx
  packages/js/src/ui/components/Popover/PopoverContent.tsx
  packages/js/src/ui/components/Popover/PopoverTrigger.tsx
  packages/js/src/ui/components/Renderer.tsx
  packages/js/src/ui/context/AppearanceContext.tsx
  packages/js/src/ui/context/InboxStatusContext.tsx
  packages/js/src/ui/context/index.ts
  packages/js/src/ui/helpers/useStyle.tsx
  packages/js/src/ui/icons/Archive.tsx
  packages/js/src/ui/icons/ArchiveRead.tsx
  packages/js/src/ui/icons/ArrowDropDown.tsx
  packages/js/src/ui/icons/Check.tsx
  packages/js/src/ui/icons/DotsMenu.tsx
  packages/js/src/ui/icons/Inbox.tsx
  packages/js/src/ui/icons/Novu.tsx
  packages/js/src/ui/icons/ReadAll.tsx
  packages/js/src/ui/icons/Settings.tsx
  packages/js/src/ui/icons/Unread.tsx
  packages/js/src/ui/icons/index.ts
Labels: none

feat: icons
  packages/js/src/ui/icons/BellIcon.tsx
Labels: none

fix: bell icon
  packages/js/src/ui/icons/BellIcon.tsx
Labels: none

feat: usefeeds
  packages/js/src/ui/api/hooks/useFeeds.ts
Labels: none

feat: feedcontext
  packages/js/src/ui/context/FeedsContext.tsx
Labels: none

feat: header status
  packages/js/src/ui/components/Header/Actions.tsx
Labels: none

feat: read all hook
  packages/js/src/ui/api/hooks/useFeeds.ts
Labels: none

feat: more actions
  packages/js/src/ui/components/Header/Actions.tsx
Labels: none

fix: getting started page navigation
  apps/api/src/metadata.ts
  apps/web/src/AppRoutes.tsx
  apps/web/src/constants/routes.ts
  apps/web/src/pages/auth/components/QuestionnaireForm.tsx
  apps/web/src/pages/auth/onboarding/Onboarding.tsx
  apps/web/src/pages/get-started/components/CodeSnippet.tsx
  apps/web/src/pages/templates/WorkflowListPage.tsx
  apps/web/src/studio/components/GetStartedPageV2/index.tsx
Labels: @novu/api-server, @novu/web

feat: reusable dropdown
  packages/js/src/ui/components/common/Dropdown.tsx
  packages/js/src/ui/components/common/DropdownItem.tsx
  packages/js/src/ui/components/common/index.ts
Labels: none

feat: pr updates
  packages/js/src/ui/api/hooks/useFeeds.ts
  packages/js/src/ui/components/Header/ActionsContainer.tsx
  packages/js/src/ui/components/Header/common/DropdownItem.tsx
  packages/js/src/ui/components/common/Dropdown.tsx
  packages/js/src/ui/components/common/index.ts
Labels: none

feat: add student
  apps/web/src/pages/auth/components/QuestionnaireForm.tsx
Labels: @novu/web

feat: use popover
  packages/js/src/ui/api/hooks/useFeeds.ts
  packages/js/src/ui/components/Header/MoreActionsDropdown.tsx
  packages/js/src/ui/components/Header/common/DropdownItem.tsx
  packages/js/src/ui/components/Header/common/Item.tsx
  packages/js/src/ui/context/FeedsContext.tsx
Labels: none

feat: menu items
  packages/js/src/ui/components/Header/common/DropdownItem.tsx
  packages/js/src/ui/components/Header/common/Item.tsx
  packages/js/src/ui/components/Popover/PopoverClose.tsx
Labels: none

refactor: rename
  packages/js/src/ui/context/FeedsContext.tsx
Labels: none

fix: eslint errors
  packages/js/src/ui/components/Header/ActionsContainer.tsx
  packages/js/src/ui/components/Popover/PopoverClose.tsx
Labels: none

feat: icon
  packages/js/src/ui/components/Settings/index.ts
Labels: none

feat: Settings screen
  packages/js/postcss.config.js
  packages/js/src/ui/components/Header/ActionsContainer.tsx
  packages/js/src/ui/components/Header/Header.tsx
  packages/js/src/ui/components/Header/SettingsHeader.tsx
  packages/js/src/ui/components/Header/index.ts
  packages/js/src/ui/components/Inbox.tsx
  packages/js/src/ui/components/Settings/ChannelRow.tsx
  packages/js/src/ui/components/Settings/LoadingScreen.tsx
  packages/js/src/ui/components/Settings/Settings.tsx
  packages/js/src/ui/components/Settings/Switch.tsx
  packages/js/src/ui/components/index.ts
  packages/js/src/ui/icons/Chat.tsx
  packages/js/src/ui/icons/Email.tsx
  packages/js/src/ui/icons/InApp.tsx
  packages/js/src/ui/icons/LeftArrow.tsx
  packages/js/src/ui/icons/Push.tsx
  packages/js/src/ui/icons/Sms.tsx
  packages/js/src/ui/icons/index.ts
Labels: none

feat: switch icon
  packages/js/src/ui/components/Settings/Settings.tsx
Labels: none

fix: typo
  packages/js/src/ui/components/Header/ActionsContainer.tsx
Labels: none

feat: keys
  packages/js/src/ui/components/Header/SettingsHeader.tsx
  packages/js/src/ui/context/AppearanceContext.tsx
Labels: none

feat: add keys and styles
  packages/js/src/ui/components/Settings/ChannelRow.tsx
  packages/js/src/ui/components/Settings/Settings.tsx
  packages/js/src/ui/components/Settings/Switch.tsx
  packages/js/src/ui/context/AppearanceContext.tsx
Labels: none

fix: lint
  packages/js/src/ui/components/Header/SettingsHeader.tsx
  packages/js/src/ui/components/Settings/Settings.tsx
  packages/js/src/ui/icons/Chat.tsx
  packages/js/src/ui/icons/Email.tsx
  packages/js/src/ui/icons/InApp.tsx
  packages/js/src/ui/icons/Push.tsx
  packages/js/src/ui/icons/Sms.tsx
Labels: none

feat: change deploy copy
  apps/web/src/components/layout/components/v2/SyncInfoModalTrigger.tsx
Labels: @novu/web

feat: add keys
  packages/js/src/ui/components/Settings/LoadingScreen.tsx
  packages/js/src/ui/context/AppearanceContext.tsx
Labels: none

fix: title
  apps/web/src/components/layout/components/v2/SyncInfoModal.tsx
Labels: @novu/web

feat: lint
  packages/js/src/ui/components/Settings/ChannelRow.tsx
Labels: none

fix: lint
  packages/js/src/ui/components/Settings/LoadingScreen.tsx
Labels: none

feat: revert sync terminology
  apps/web/src/components/layout/components/v2/SyncInfoModal.tsx
  apps/web/src/components/layout/components/v2/SyncInfoModalTrigger.tsx
Labels: @novu/web

fix: improvements
  packages/js/src/ui/components/Inbox.tsx
  packages/js/src/ui/components/Popover/PopoverContent.tsx
  packages/js/src/ui/components/Settings/Settings.tsx
  packages/js/src/ui/helpers/useUncontrolledState.ts
Labels: none

fix: add global update
  packages/js/src/ui/components/Settings/Settings.tsx
Labels: none

fix: metadata casing
  .prettierignore
  apps/api/src/metadata.ts
Labels: @novu/api-server

feat: hook
  packages/js/src/ui/api/hooks/index.ts
  packages/js/src/ui/api/hooks/usePreferences.ts
  packages/js/src/ui/components/Settings/Settings.tsx
Labels: none

fix: add x button
  .vscode/tasks.json
  apps/web/src/pages/auth/onboarding/Onboarding.tsx
  apps/web/src/studio/components/GetStartedPageV2/index.tsx
Labels: @novu/web

fix: copy
  apps/web/src/studio/components/GetStartedPageV2/index.tsx
Labels: @novu/web

feat: update with upstream changes
  apps/web/src/AppRoutes.tsx
  apps/web/src/Providers.tsx
  apps/web/src/api/api.client.ts
  apps/web/src/auth/AuthContextProvider.tsx
  apps/web/src/auth/CommunityAuthContextProvider.tsx
  apps/web/src/auth/getToken.ts
  apps/web/src/ee/clerk/EnterpriseAuthRoutes.tsx
  apps/web/src/ee/clerk/components/EnterprisePrivatePageLayout.tsx
  apps/web/src/ee/clerk/index.ts
  apps/web/src/ee/clerk/providers/ClerkProvider.tsx
  apps/web/src/ee/clerk/providers/EnterpriseAuthContextProvider.tsx
  apps/web/src/ee/clerk/providers/useCreateAuthContextEnterprise.ts
Labels: @novu/web

chore: pnpm-lock
  pnpm-lock.yaml
Labels: none

chore: remove unused imports
  packages/js/src/ui/components/Settings/ChannelRow.tsx
Labels: none

feat(repo): Introduce playground app
  .cspell.json
  .eslintignore
  novu.code-workspace
  package.json
  packages/js/package.cjs.json
  packages/js/package.esm.json
  packages/js/package.json
  packages/js/src/ui/components/Renderer.tsx
  packages/js/src/ui/context/AppearanceContext.tsx
  packages/js/src/ui/index.directcss
  packages/js/src/ui/index.ts
  packages/js/src/ui/novuUI.tsx
  packages/js/tsup.config.ts
  playground/nextjs/.gitignore
  playground/nextjs/next.config.mjs
  playground/nextjs/package.json
  playground/nextjs/postcss.config.mjs
  playground/nextjs/public/favicon.ico
  playground/nextjs/public/next.svg
  playground/nextjs/public/vercel.svg
  playground/nextjs/src/components/Mounter.tsx
  playground/nextjs/src/pages/_app.tsx
  playground/nextjs/src/pages/_document.tsx
  playground/nextjs/src/pages/api/hello.ts
  playground/nextjs/src/pages/index.tsx
  playground/nextjs/src/styles/globals.css
  playground/nextjs/tailwind.config.ts
  playground/nextjs/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: none

feat(js): Build umd via tsup
  .cspell.json
  packages/js/package.json
  packages/js/scripts/size-limit.mjs
  packages/js/src/umd.ts
  packages/js/tsup.config.ts
  playground/nextjs/.eslintignore
  pnpm-lock.yaml
Labels: none
