Repository novuhq/novu, changes with the labels that .github/labeler.yml gives for each.
All labels: @novu/api-server, @novu/worker, @novu/web, @novu/ws, @novu/inbound-mail, @novu/webhook, @novu/dal, @novu/design-system, @novu/novui, @novu/shared, @novu/notification-center, @novu/notification-center-vue, @novu/notification-center-angular, providers, CI/CD, helm, kustomize, docker, scripts

refactor(errors): use unknown instead of any for data
  packages/framework/src/errors/base.errors.ts
  packages/framework/src/errors/execution.errors.ts
  packages/framework/src/servers/express.ts
  packages/framework/src/validators/validator.test.ts
Labels: none

fix: from env. to vars.
  .github/workflows/cloud-deploy-embed.yml
  .github/workflows/cloud-deploy-reusable-app-service-deploy.yml
  .github/workflows/cloud-deploy-reusable-docker.yml
  .github/workflows/cloud-deploy-web-components.yml
  .github/workflows/cloud-deploy-web.yml
  .github/workflows/cloud-deploy-widget.yml
Labels: CI/CD

style(novui): create recipe and semantic sizes
  libs/novui/src/json-schema-components/widgets/VariableSuggestionList.styles.ts
  libs/novui/src/json-schema-components/widgets/VariableSuggestionList.tsx
  libs/novui/src/panda-preset.ts
  libs/novui/src/recipes/index.ts
  libs/novui/src/recipes/variable-suggestion-list.recipe.ts
  libs/novui/src/tokens/semanticSizes.tokens.ts
  libs/novui/src/tokens/sizes.tokens.ts
Labels: @novu/novui

style(novui): variable semantic color
  libs/novui/src/json-schema-components/widgets/InputEditorWidget.styles.ts
  libs/novui/src/tokens/semanticColors.tokens.ts
Labels: @novu/novui

refactor(send-message): remove getOrganization method
  apps/worker/src/app/workflow/usecases/send-message/send-message-email.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-in-app.usecase.ts
Labels: @novu/worker

fix(worker): Use susbcriber locale for in-app and email steps (#6134)
  apps/worker/src/app/workflow/usecases/send-message/send-message-email.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-in-app.usecase.ts
Labels: @novu/worker

fix(web): map novuId to user and org entities from Clerk
  apps/web/src/ee/clerk/providers/EnterpriseAuthProvider.tsx
Labels: @novu/web

refactor(send-message-email): use 'system' for env and user IDs
  apps/worker/src/app/workflow/usecases/send-message/send-message-email.usecase.ts
Labels: @novu/worker

Revert "fix(web): map novuId to user and org entities from Clerk"
  apps/web/src/ee/clerk/providers/EnterpriseAuthProvider.tsx
Labels: @novu/web

feat(web): normalize user emails in ee
  apps/web/src/ee/clerk/providers/ClerkProvider.tsx
Labels: @novu/web

Fix EnterpriseAuthProvider to work with latest changes
  apps/web/src/ee/clerk/providers/EnterpriseAuthProvider.tsx
Labels: @novu/web

refactor(worker): use 'system' for environmentId and userId for inline-css flag evaluation (#6136)
  apps/worker/src/app/workflow/usecases/send-message/send-message-email.usecase.ts
Labels: @novu/worker

fix(web): Simplify enterprise sign up
  apps/web/src/ee/clerk/pages/OrganizationListPage.tsx
Labels: @novu/web

fix(web): Simplify enterprise sign up (#6141)
  apps/web/src/ee/clerk/pages/OrganizationListPage.tsx
Labels: @novu/web

style(novui): recipe for input editor widget
  libs/novui/src/json-schema-components/widgets/InputEditorWidget.tsx
  libs/novui/src/panda-preset.ts
  libs/novui/src/recipes/index.ts
  libs/novui/src/recipes/input-editor-widget.recipe.ts
Labels: @novu/novui

fix: Hover selector
  libs/novui/src/panda-preset.ts
Labels: @novu/novui

chore(web): Stabilize e2e
  apps/web/tests/organization-switch.spec.ts
Labels: @novu/web

chore(web): Skip another flaky test
  apps/web/tests/main-functionality.spec.ts
Labels: @novu/web

chore: Move input styles
  libs/novui/src/recipes/input.recipe.ts
Labels: @novu/novui

refactor: Delete unused story
  libs/novui/src/tokens/typography/typography.stories.tsx
Labels: @novu/novui

fix: Story container
  libs/novui/.storybook/preview.tsx
Labels: @novu/novui

feat: Add examples - css, cx, cva, sva
  libs/novui/src/panda-sandbox/css.stories.tsx
  libs/novui/src/panda-sandbox/recipes/cva.stories.tsx
  libs/novui/src/panda-sandbox/recipes/sva.stories.tsx
Labels: @novu/novui

refactor: Rename sandbox section
  libs/novui/src/panda-sandbox/css.stories.tsx
  libs/novui/src/panda-sandbox/recipes/cva.stories.tsx
  libs/novui/src/panda-sandbox/recipes/sva.stories.tsx
Labels: @novu/novui

chore: Add more comments
  libs/novui/src/panda-sandbox/recipes/sva.stories.tsx
Labels: @novu/novui

feat: Add dev command
  libs/novui/package.json
Labels: @novu/novui

fix(web): make clerk redirect properly
  apps/web/src/ee/clerk/pages/OrganizationListPage.tsx
  apps/web/src/ee/clerk/providers/ClerkProvider.tsx
Labels: @novu/web

feat(web): normalize email
  apps/web/package.json
  apps/web/src/ee/clerk/providers/ClerkProvider.tsx
  apps/web/src/ee/clerk/providers/clerk-singleton.ts
  pnpm-lock.yaml
Labels: @novu/web

fix(web): make clerk redirect properly (#6147)
  apps/web/src/ee/clerk/pages/OrganizationListPage.tsx
  apps/web/src/ee/clerk/providers/ClerkProvider.tsx
Labels: @novu/web

style(novui): remove size tokens and fix recipe for input editor
  libs/novui/src/json-schema-components/widgets/InputEditorWidget.styles.ts
  libs/novui/src/json-schema-components/widgets/InputEditorWidget.tsx
  libs/novui/src/recipes/input-editor-widget.recipe.ts
  libs/novui/src/recipes/variable-suggestion-list.recipe.ts
  libs/novui/src/tokens/semanticSizes.tokens.ts
  libs/novui/src/tokens/sizes.tokens.ts
Labels: @novu/novui

test(api): fix test to use payload prefix for variable
  apps/api/src/app/events/e2e/bridge-trigger.e2e.ts
Labels: @novu/api-server

fix(web): put clerk init behind feature flag
  apps/web/src/ee/clerk/providers/ClerkProvider.tsx
Labels: @novu/web

fix(web): wait for clerkInstance when clerk enabled
  apps/web/src/ee/clerk/providers/ClerkProvider.tsx
Labels: @novu/web

refactor(types): simplify JsonSchema type definition
  packages/framework/src/types/schema.types.ts
Labels: none

refactor(usecases): simplify ExecuteOutput usage
  apps/worker/src/app/workflow/usecases/add-job/add-job.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-chat.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-sms.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message.command.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message.usecase.ts
  libs/application-generic/src/utils/bridge.ts
Labels: @novu/worker

feat(utils): add isRegularDigestOutput function
  libs/application-generic/src/utils/bridge.ts
Labels: none

docker login secrets.GITHUB_TOKEN
  .github/workflows/cloud-deploy-reusable-docker.yml
Labels: CI/CD

docker login secrets.GH_PACKAGES
  .github/workflows/cloud-deploy-reusable-docker.yml
Labels: CI/CD

fix(web): distinguish between regular sign-in and oauth
  apps/web/src/ee/clerk/providers/clerk-singleton.ts
Labels: @novu/web

fix(web): include required env vars for proper clerk deployment in github action
  .github/workflows/reusable-web-deploy.yml
  apps/web/.env.sample
Labels: @novu/web, CI/CD

feat: docker/login-action
  .github/workflows/cloud-deploy-reusable-docker.yml
Labels: CI/CD

.github/labeler.yml:

'@novu/api-server':
  - apps/api/**/*
'@novu/worker':
  - apps/worker/**/*
'@novu/web':
  - apps/web/**/*
'@novu/ws':
  - apps/ws/**/*
'@novu/inbound-mail':
  - apps/inbound-mail/**/*
'@novu/webhook':
  - apps/webhook/**/*
'@novu/dal':
  - libs/dal/**/*
'@novu/design-system':
  - libs/design-system/**/*
'@novu/novui':
  - libs/novui/**/*
'@novu/shared':
  - libs/shared/**/*
'@novu/notification-center':
  - packages/notification-center/**/*
'@novu/notification-center-vue':
  - packages/notification-center-vue/**/*
'@novu/notification-center-angular':
  - packages/notification-center-angular/**/*
'providers':
  - providers/**/*
'CI/CD':
  - .github/**/*
'helm':
  - docker/kubernetes/helm/**/*
'kustomize':
  - docker/kubernetes/kustomize/**/*
'docker':
  - docker/**/*
'scripts':
  - scripts/**/*
