Repository novuhq/novu, changes with the labels that .github/labeler.yml gives for each.
All labels: @novu/api-server, @novu/worker, @novu/web, @novu/ws, @novu/inbound-mail, @novu/webhook, @novu/dal, @novu/design-system, @novu/novui, @novu/shared, @novu/notification-center, @novu/notification-center-vue, @novu/notification-center-angular, providers, CI/CD, helm, kustomize, docker, scripts

.github/labeler.yml:

'@novu/api-server':
  - apps/api/**/*
'@novu/worker':
  - apps/worker/**/*
'@novu/web':
  - apps/web/**/*
'@novu/ws':
  - apps/ws/**/*
'@novu/inbound-mail':
  - apps/inbound-mail/**/*
'@novu/webhook':
  - apps/webhook/**/*
'@novu/dal':
  - libs/dal/**/*
'@novu/design-system':
  - libs/design-system/**/*
'@novu/novui':
  - libs/novui/**/*
'@novu/shared':
  - libs/shared/**/*
'@novu/notification-center':
  - packages/notification-center/**/*
'@novu/notification-center-vue':
  - packages/notification-center-vue/**/*
'@novu/notification-center-angular':
  - packages/notification-center-angular/**/*
'providers':
  - providers/**/*
'CI/CD':
  - .github/**/*
'helm':
  - docker/kubernetes/helm/**/*
'kustomize':
  - docker/kubernetes/kustomize/**/*
'docker':
  - docker/**/*
'scripts':
  - scripts/**/*

revert lockfile
  pnpm-lock.yaml
Labels: none

feat(root): Create clean-build.sh (#6095)
  libs/novui/src/json-schema-components/shared.tsx
  scripts/clean-build.sh
Labels: @novu/novui, scripts

feat(novui): experiment with closing mention list portal on escape
  libs/novui/package.json
  libs/novui/src/json-schema-components/JsonSchemaForm.tsx
  libs/novui/src/json-schema-components/widgets/MentionList.tsx
  libs/novui/src/json-schema-components/widgets/TextareaWidget.tsx
  libs/novui/src/panda-preset.ts
  pnpm-lock.yaml
Labels: @novu/novui

refactor(tests): rename e2e test files for consistency
  apps/api/src/app/events/e2e/bridge-health-check.e2e.ts
  apps/api/src/app/events/e2e/bridge-sync.e2e.ts
  apps/api/src/app/events/e2e/bridge-trigger.e2e.ts
Labels: @novu/api-server

feat(novui): experiment with closing mention list portal on escape
  libs/novui/src/json-schema-components/widgets/TextareaWidget.tsx
Labels: @novu/novui

fix(worker): Update metadata when handling Bridge application digest (#6111)
  .github/workflows/on-pr.yml
  apps/api/src/app/events/e2e/bridge-health-check.e2e.ts
  apps/api/src/app/events/e2e/bridge-sync.e2e.ts
  apps/api/src/app/events/e2e/bridge-trigger.e2e.ts
  apps/worker/src/app/workflow/usecases/add-job/add-job.usecase.ts
Labels: @novu/api-server, @novu/worker, CI/CD

feat(web): GRW-12 - create a bridge app with sample workflows for new signups (#6058)
  apps/api/src/app/bridge/usecases/sync/sync.usecase.ts
  apps/web/src/AppRoutes.tsx
  apps/web/src/components/layout/components/PrivatePageLayout.tsx
  apps/web/src/components/layout/components/v2/SampleWorkflowsBanner.tsx
  apps/web/src/components/nav/RootNavMenu.tsx
  apps/web/src/config/index.ts
  apps/web/src/pages/auth/components/QuestionnaireForm.tsx
  apps/web/src/pages/templates/WorkflowListPage.tsx
  apps/web/src/studio/components/GetStartedPageV2/index.tsx
  apps/web/src/studio/components/OpenLocalStudioModal.tsx
Labels: @novu/api-server, @novu/web

fix: Add title for dashboard step controls
  apps/web/src/studio/components/workflows/step-editor/WorkflowStepEditorControlsPanel.tsx
Labels: @novu/web

chore: Update reference: web --> dashboard
  packages/cli/src/commands/init/templates/github/workflows/novu.yml
Labels: none

feat: add dynamic workflow update by editor
  apps/web/src/pages/auth/onboarding/Onboarding.tsx
  apps/web/src/studio/components/workflows/step-editor/editor/RunExpressApp.tsx
  apps/web/src/studio/components/workflows/step-editor/editor/files.ts
  pnpm-lock.yaml
Labels: @novu/web

fix: Keep toggle button toggleable
  apps/web/src/components/layout/components/LocalStudioSidebar/LocalStudioSidebarContent.tsx
  apps/web/src/components/layout/components/LocalStudioSidebar/LocalStudioSidebarToggleButton.tsx
  apps/web/src/components/nav/NavMenuButton/NavMenuToggleButton.tsx
Labels: @novu/web

chore: Center error content in preview
  apps/web/src/components/workflow/preview/ErrorPrettyRender.tsx
Labels: @novu/web

refactor: Only active toggle button can be open
  apps/web/src/components/nav/NavMenuButton/NavMenuToggleButton.tsx
Labels: @novu/web

feat(js): inbox - moved unread count logic to context and enabled unread badge
  packages/js/src/types.ts
  packages/js/src/ui/api/hooks/useFetchUnreadCount.ts
  packages/js/src/ui/components/Inbox.tsx
  packages/js/src/ui/components/Renderer.tsx
  packages/js/src/ui/components/elements/Bell/Bell.tsx
  packages/js/src/ui/components/elements/Bell/DefaultBellContainer.tsx
  packages/js/src/ui/context/AppearanceContext.tsx
  packages/js/src/ui/context/UnreadCountContext.tsx
  packages/js/src/ui/helpers/browser.ts
  packages/js/src/ui/helpers/useBrowserTabsChannel.ts
  packages/js/src/ui/helpers/useNovuEvent.ts
  packages/js/src/ui/helpers/useWebSocketEvent.ts
Labels: none

feat(js): inbox - single websocket connection across tabs (#6099)
  packages/js/src/types.ts
  packages/js/src/ui/api/hooks/useFetchUnreadCount.ts
  packages/js/src/ui/components/Inbox.tsx
  packages/js/src/ui/components/Renderer.tsx
  packages/js/src/ui/components/elements/Bell/Bell.tsx
  packages/js/src/ui/components/elements/Bell/DefaultBellContainer.tsx
  packages/js/src/ui/context/AppearanceContext.tsx
  packages/js/src/ui/context/UnreadCountContext.tsx
  packages/js/src/ui/helpers/browser.ts
  packages/js/src/ui/helpers/constants.ts
  packages/js/src/ui/helpers/useBrowserTabsChannel.ts
  packages/js/src/ui/helpers/useNovuEvent.ts
  packages/js/src/ui/helpers/useWebSocketEvent.ts
  packages/js/src/ws/socket.ts
Labels: none

Update QuestionnaireForm.tsx
  apps/web/src/pages/auth/components/QuestionnaireForm.tsx
Labels: @novu/web

fix(framework): Make step channel output sanitization more permissive (#6106)
  packages/framework/src/client.test.ts
  packages/framework/src/utils/sanitize.utils.test.ts
  packages/framework/src/utils/sanitize.utils.ts
Labels: none

fix(js): Fix checkmark for selected value and localize text (#6104)
  .cspell.json
  packages/js/src/ui/components/elements/Header/Header.tsx
  packages/js/src/ui/components/elements/InboxStatus/InboxStatusDropdown.tsx
  packages/js/src/ui/components/elements/InboxStatus/InboxStatusOptions.tsx
  packages/js/src/ui/components/elements/InboxStatus/constants.ts
  packages/js/src/ui/config/defaultLocalization.ts
  packages/js/src/ui/context/LocalizationContext.tsx
  packages/js/src/ui/types.ts
Labels: none

fix: test
  apps/api/src/app/inbox/e2e/update-preferences.e2e.ts
Labels: @novu/api-server

chore: update meta
  apps/api/src/metadata.ts
Labels: @novu/api-server

feat: new endpoints
  apps/api/src/app/inbox/dtos/update-preferences-request.dto.ts
  apps/api/src/app/inbox/inbox.controller.ts
  apps/api/src/app/inbox/usecases/get-preferences/get-preferences.spec.ts
  apps/api/src/app/inbox/usecases/index.ts
  apps/api/src/app/inbox/usecases/update-preferences/update-preferences.usecase.ts
  apps/api/src/app/inbox/utils/analytics.ts
  apps/api/src/metadata.ts
Labels: @novu/api-server

feat: e2e test
  apps/api/src/app/inbox/e2e/update-preferences.e2e.ts
Labels: @novu/api-server

feat:add more test
  apps/api/src/app/inbox/e2e/update-preferences.e2e.ts
Labels: @novu/api-server

feat: unit test
  apps/api/src/app/inbox/usecases/update-preferences/update-preferences.spec.ts
Labels: @novu/api-server

fix: test
  apps/api/src/app/inbox/e2e/update-preferences.e2e.ts
  apps/api/src/app/inbox/usecases/update-preferences/update-preferences.usecase.ts
Labels: @novu/api-server

feat: usecase
  apps/api/src/app/inbox/usecases/update-preferences/update-preferences.command.ts
  apps/api/src/app/inbox/usecases/update-preferences/update-preferences.usecase.ts
Labels: @novu/api-server

fix: test
  apps/api/src/app/inbox/usecases/update-preferences/update-preferences.spec.ts
Labels: @novu/api-server

refactor: Improve email template structure
  packages/cli/src/commands/init/templates/app-react-email/ts/app/novu/emails/novu-onboarding-email.tsx
Labels: none

fix(web): Simplify ApplicationReadyChecks - WIP
  apps/web/public/index.html
  apps/web/src/ApplicationReadyGuard.tsx
  apps/web/src/api/hooks/useUserOnboardingStatus.ts
  apps/web/src/api/organization.ts
  apps/web/src/components/layout/components/EnsureOnboardingComplete.tsx
  apps/web/src/components/layout/components/PrivatePageLayout.tsx
  apps/web/src/components/nav/OrganizationSelect/OrganizationSelect.tsx
  apps/web/src/components/providers/AuthProvider.tsx
  apps/web/src/components/providers/CommunityAuthProvider.tsx
  apps/web/src/components/providers/EnvironmentProvider.tsx
  apps/web/src/ee/clerk/providers/EnterpriseAuthProvider.tsx
  apps/web/src/hooks/useOrganizations.ts
  apps/web/src/hooks/useTenants.ts
  apps/web/src/pages/auth/onboarding/Onboarding.tsx
  apps/web/src/studio/LocalStudioAuthenticator.tsx
Labels: @novu/web

chore: Remove .env.example and update dependencies
  packages/cli/src/commands/init/templates/app-react-email/ts/.env.example
  packages/cli/src/commands/init/templates/index.ts
Labels: none

feat: reusable query
  apps/api/src/app/inbox/usecases/update-preferences/update-preferences.usecase.ts
Labels: @novu/api-server

feat(api): change sync org request scope to default (singleton)
  apps/api/src/app/organization/usecases/create-organization/sync-external-organization/sync-external-organization.usecase.ts
Labels: @novu/api-server

fix: test
  apps/api/src/app/inbox/usecases/update-preferences/update-preferences.spec.ts
Labels: @novu/api-server

refactor(email): update footer text in onboarding email
  packages/cli/src/commands/init/templates/app-react-email/ts/app/novu/emails/novu-onboarding-email.tsx
Labels: none

fix(novu): Upgrade react-email dependencies to fix headers in example app (#6120)
  packages/cli/src/commands/init/templates/app-react-email/ts/.env.example
  packages/cli/src/commands/init/templates/app-react-email/ts/app/novu/emails/novu-onboarding-email.tsx
  packages/cli/src/commands/init/templates/index.ts
Labels: none

feat(js): Com 71 the endpoint to update preferences global workflow (#6116)
  apps/api/src/app/inbox/dtos/update-preferences-request.dto.ts
  apps/api/src/app/inbox/e2e/update-preferences.e2e.ts
  apps/api/src/app/inbox/inbox.controller.ts
  apps/api/src/app/inbox/usecases/get-preferences/get-preferences.spec.ts
  apps/api/src/app/inbox/usecases/index.ts
  apps/api/src/app/inbox/usecases/update-preferences/update-preferences.command.ts
  apps/api/src/app/inbox/usecases/update-preferences/update-preferences.spec.ts
  apps/api/src/app/inbox/usecases/update-preferences/update-preferences.usecase.ts
  apps/api/src/app/inbox/utils/analytics.ts
  apps/api/src/metadata.ts
Labels: @novu/api-server

Update apps/web/src/components/layout/components/LocalStudioSidebar/LocalStudioSidebarToggleButton.tsx
  apps/web/src/components/layout/components/LocalStudioSidebar/LocalStudioSidebarToggleButton.tsx
Labels: @novu/web

refactor(schemas): unify provider schemas usage
  packages/framework/src/schemas/providers/email/index.ts
  packages/framework/src/schemas/providers/push/index.ts
  packages/framework/src/schemas/providers/sms/index.ts
Labels: none

chore: update package versions to latest canary
  packages/cli/package.json
  packages/framework/package.json
Labels: none

fix(web): V2 minor fixes (#6114)
  apps/web/src/components/layout/components/LocalStudioSidebar/LocalStudioSidebarContent.tsx
  apps/web/src/components/layout/components/LocalStudioSidebar/LocalStudioSidebarToggleButton.tsx
  apps/web/src/components/nav/NavMenuButton/NavMenuToggleButton.tsx
  apps/web/src/components/workflow/preview/ErrorPrettyRender.tsx
  apps/web/src/studio/components/workflows/step-editor/WorkflowStepEditorControlsPanel.tsx
  packages/cli/src/commands/init/templates/github/workflows/novu.yml
Labels: @novu/web
