Repository novuhq/novu, changes with the labels that .github/labeler.yml gives for each.
All labels: @novu/api-server, @novu/worker, @novu/web, @novu/ws, @novu/inbound-mail, @novu/webhook, @novu/dal, @novu/design-system, @novu/novui, @novu/shared, @novu/notification-center, @novu/notification-center-vue, @novu/notification-center-angular, providers, CI/CD, helm, kustomize, docker, scripts

feat: new cache tag name
  .github/workflows/cloud-deploy-reusable-docker.yml
Labels: CI/CD

feat: new cache tag name
  .github/workflows/cloud-deploy-reusable-docker.yml
Labels: CI/CD

feat: new cache tag name
  .github/workflows/cloud-deploy-reusable-docker.yml
Labels: CI/CD

fix(web): include required env vars for proper clerk deployment in github action
  .github/workflows/reusable-web-deploy.yml
Labels: CI/CD

fix(api): Replace hat randomID generation with native node crypto
  apps/api/package.json
  apps/api/src/app/environments/usecases/generate-unique-api-key/generate-unique-api-key.usecase.ts
  apps/api/src/app/events/usecases/parse-event-request/parse-event-request.usecase.ts
  apps/api/src/app/storage/usecases/get-signed-url/get-signed-url.usecase.ts
  pnpm-lock.yaml
Labels: @novu/api-server

feat: cache has been disabled
  .github/workflows/cloud-deploy-reusable-docker.yml
Labels: CI/CD

feat: cache has been disabled
  .github/workflows/cloud-deploy-reusable-docker.yml
Labels: CI/CD

feat: docker login new way
  .github/workflows/cloud-deploy-reusable-docker.yml
Labels: CI/CD

fix(web): include required env vars for proper clerk deployment in gi… (#6148)
  .github/workflows/reusable-web-deploy.yml
  apps/web/.env.sample
Labels: @novu/web, CI/CD

fix(api): Replace hat randomID generation with native node crypto (#6012)
  apps/api/package.json
  apps/api/src/app/environments/usecases/generate-unique-api-key/generate-unique-api-key.usecase.ts
  apps/api/src/app/events/usecases/parse-event-request/parse-event-request.usecase.ts
  apps/api/src/app/storage/usecases/get-signed-url/get-signed-url.usecase.ts
  pnpm-lock.yaml
Labels: @novu/api-server

chore(web): Add more stability to E2E
  apps/web/tests/environment-switch.spec.ts
Labels: @novu/web

feat: docker login new way
  .github/workflows/cloud-deploy-reusable-docker.yml
Labels: CI/CD

chore: Feedback
  libs/novui/src/panda-sandbox/css.stories.tsx
  libs/novui/src/panda-sandbox/recipes/cva.stories.tsx
  libs/novui/src/panda-sandbox/recipes/sva.stories.tsx
Labels: @novu/novui

test: remove unused payload parameter in tests
  packages/framework/src/client.test.ts
Labels: none

fix: update instructions
  apps/web/src/pages/get-started/GetStartedPage.tsx
  apps/web/src/pages/get-started/form-tabs.config.tsx
  apps/web/src/pages/get-started/tabs/Deploy.tsx
  apps/web/src/pages/get-started/tabs/Setup.tsx
Labels: @novu/web

fix(send-message-sms): handle undefined bridgeOutput
  apps/worker/src/app/workflow/usecases/send-message/send-message-sms.usecase.ts
Labels: @novu/worker

feat(web): design polish
  apps/web/src/pages/auth/onboarding/Onboarding.tsx
  apps/web/src/pages/auth/onboarding/TitleBarWrapper.tsx
  apps/web/src/pages/auth/onboarding/WorkflowFlow.tsx
  apps/web/src/pages/quick-start/consts.tsx
  apps/web/src/pages/templates/editor_v2/TemplateStepEditorV2.tsx
  apps/web/src/pages/templates/editor_v2/useWorkflowStepEditor.ts
  apps/web/src/studio/components/workflows/layout/WorkflowsPageTemplate.tsx
  apps/web/src/studio/components/workflows/node-view/WorkflowNodes.tsx
  apps/web/src/studio/components/workflows/step-editor/WorkflowStepEditorContentPanel.tsx
  apps/web/src/studio/components/workflows/step-editor/editor/CodeEditor.tsx
  apps/web/src/studio/components/workflows/step-editor/editor/Terminal.tsx
  apps/web/src/studio/components/workflows/step-editor/editor/bridge-code.const.ts
  apps/web/src/studio/components/workflows/step-editor/editor/useContainer.tsx
  pnpm-lock.yaml
Labels: @novu/web

debug: --no-cache
  .github/workflows/cloud-deploy-reusable-docker.yml
Labels: CI/CD

chore(novu, framework, worker, application-generic): Publish prerelease and improve types (#6122)
  apps/worker/src/app/workflow/usecases/add-job/add-job.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-chat.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-sms.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message.command.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message.usecase.ts
  libs/application-generic/src/utils/bridge.ts
  packages/cli/package.json
  packages/framework/.eslintrc.js
  packages/framework/package.json
  packages/framework/src/client.test.ts
  packages/framework/src/client.ts
  packages/framework/src/errors/base.errors.ts
  packages/framework/src/errors/execution.errors.ts
  packages/framework/src/handler.test.ts
  packages/framework/src/handler.ts
  packages/framework/src/resources/workflow.ts
  packages/framework/src/schemas/providers/email/index.ts
  packages/framework/src/schemas/providers/email/sendgrid.schema.ts
  packages/framework/src/schemas/providers/push/index.ts
  packages/framework/src/schemas/providers/sms/index.ts
  packages/framework/src/schemas/steps/actions/delay.schema.ts
  packages/framework/src/schemas/steps/actions/digest.schema.ts
  packages/framework/src/schemas/steps/actions/index.ts
  packages/framework/src/servers/express.ts
  packages/framework/src/types/discover.types.ts
  packages/framework/src/types/execution.types.ts
  packages/framework/src/types/provider.types.ts
  packages/framework/src/types/schema.types.ts
  packages/framework/src/types/step.types.ts
  packages/framework/src/types/util.types.ts
  packages/framework/src/types/validator.types.ts
  packages/framework/src/types/workflow.types.ts
  packages/framework/src/utils/clone.utils.test.ts
  packages/framework/src/utils/clone.utils.ts
  packages/framework/src/utils/http.utils.ts
  packages/framework/src/validators/base.validator.ts
  packages/framework/src/validators/json-schema.validator.ts
  packages/framework/src/validators/validator.test.ts
  packages/framework/src/validators/zod.validator.ts
  packages/framework/tsconfig.json
Labels: @novu/worker

debug: --no-cache
  .github/workflows/cloud-deploy-reusable-docker.yml
Labels: CI/CD

debug: docker images after tagging
  .github/workflows/cloud-deploy-reusable-docker.yml
Labels: CI/CD

debug: cache has been enabled
  .github/workflows/cloud-deploy-reusable-docker.yml
Labels: CI/CD

fix: minor fixes
  apps/web/src/pages/get-started/GetStartedPage.tsx
  apps/web/src/pages/get-started/tabs/CardsButtonGroup.tsx
  apps/web/src/pages/get-started/tabs/Collaborate.tsx
  apps/web/src/pages/get-started/tabs/Deploy.tsx
  apps/web/src/pages/get-started/tabs/Setup.tsx
Labels: @novu/web

fix: ${{ vars.TF_WORKSPACE }}
  .github/workflows/cloud-deploy-reusable-app-service-deploy.yml
Labels: CI/CD

feat(web): normalize user emails in ee (#6137)
  apps/web/package.json
  apps/web/src/ee/clerk/providers/ClerkProvider.tsx
  apps/web/src/ee/clerk/providers/clerk-singleton.ts
  pnpm-lock.yaml
Labels: @novu/web

feat(js): Implement the renderNotification prop
  packages/js/src/ui/components/ExternalElementMounter.tsx
  packages/js/src/ui/components/Inbox.tsx
  packages/js/src/ui/components/Notification/DefaultNotification.tsx
  packages/js/src/ui/components/Notification/Notification.tsx
  packages/js/src/ui/components/Notification/NotificationList.tsx
  packages/js/src/ui/components/Notification/index.ts
  packages/js/src/ui/components/Renderer.tsx
  packages/js/src/ui/components/elements/Bell/Bell.tsx
  packages/js/src/ui/components/elements/Bell/DefaultBellContainer.tsx
  packages/js/src/ui/components/elements/Settings/Settings.tsx
  packages/js/src/ui/context/AppearanceContext.tsx
  packages/js/src/ui/index.ts
  packages/js/src/ui/novuUI.tsx
  packages/js/src/ui/types.ts
  playground/nextjs/src/components/Inbox.tsx
  playground/nextjs/src/components/Mounter.tsx
  playground/nextjs/src/components/Renderer.tsx
  playground/nextjs/src/context/RendererContext.tsx
  playground/nextjs/src/pages/index.tsx
  playground/nextjs/src/utils/createContextAndHook.ts
  playground/nextjs/tsconfig.json
Labels: none

feat: integrate verimor
  apps/web/public/static/images/providers/dark/verimor.png
  apps/web/public/static/images/providers/light/verimor.png
  apps/web/src/pages/integrations/components/multi-provider/sort-providers.ts
  libs/application-generic/src/factories/sms/handlers/verimor.handler.ts
  libs/application-generic/src/factories/sms/sms.factory.ts
  libs/design-system/package.json
  libs/novui/package.json
  libs/shared/src/consts/providers/channels/sms.ts
  libs/shared/src/consts/providers/credentials/provider-credentials.ts
  libs/shared/src/consts/providers/provider.enum.ts
  packages/providers/package.json
  packages/providers/src/lib/index.ts
  packages/providers/src/lib/verimor/verimor.interface.ts
  packages/providers/src/lib/verimor/verimor.provider.spec.ts
  packages/providers/src/lib/verimor/verimor.provider.ts
  pnpm-lock.yaml
Labels: @novu/web, @novu/design-system, @novu/novui, @novu/shared

feat: add verimor svgs
  apps/web/public/static/images/providers/dark/square/verimor.svg
  apps/web/public/static/images/providers/light/square/verimor.svg
Labels: @novu/web

fix: verimor source addr
  packages/providers/src/lib/verimor/verimor.interface.ts
  packages/providers/src/lib/verimor/verimor.provider.ts
Labels: none

feat: pass from value as source_addr
  packages/providers/src/lib/verimor/verimor.interface.ts
  packages/providers/src/lib/verimor/verimor.provider.spec.ts
  packages/providers/src/lib/verimor/verimor.provider.ts
Labels: none

chore(web): adjust staging settings
  .github/workflows/dev-deploy-web.yml
Labels: CI/CD

feat(js): Implement the renderNotification prop (#6125)
  packages/js/src/ui/components/ExternalElementMounter.tsx
  packages/js/src/ui/components/Inbox.tsx
  packages/js/src/ui/components/Notification/DefaultNotification.tsx
  packages/js/src/ui/components/Notification/Notification.tsx
  packages/js/src/ui/components/Notification/NotificationList.tsx
  packages/js/src/ui/components/Notification/index.ts
  packages/js/src/ui/components/Renderer.tsx
  packages/js/src/ui/components/elements/Bell/Bell.tsx
  packages/js/src/ui/components/elements/Bell/DefaultBellContainer.tsx
  packages/js/src/ui/components/elements/Settings/Settings.tsx
  packages/js/src/ui/context/AppearanceContext.tsx
  packages/js/src/ui/index.ts
  packages/js/src/ui/novuUI.tsx
  packages/js/src/ui/types.ts
  playground/nextjs/src/components/Inbox.tsx
  playground/nextjs/src/components/Mounter.tsx
  playground/nextjs/src/components/Renderer.tsx
  playground/nextjs/src/context/RendererContext.tsx
  playground/nextjs/src/pages/index.tsx
  playground/nextjs/src/utils/createContextAndHook.ts
  playground/nextjs/tsconfig.json
Labels: none

chore(web): adjust staging settings (#6153)
  .github/workflows/dev-deploy-web.yml
Labels: CI/CD

fix: copy review
  apps/web/public/static/images/onboarding/collaborate-controls.png
  apps/web/src/pages/get-started/GetStartedPage.styles.tsx
  apps/web/src/pages/get-started/legacy-onboarding/components/CodeSnippet.tsx
  apps/web/src/pages/get-started/tabs/Collaborate.tsx
  apps/web/src/pages/get-started/tabs/Deploy.tsx
  apps/web/src/pages/get-started/tabs/Setup.tsx
Labels: @novu/web

chore(root): update clerk sdk to version supporting multi app domains
  enterprise/packages/auth/package.json
  libs/shared/package.json
  libs/testing/package.json
  pnpm-lock.yaml
Labels: @novu/shared

chore(root): update clerk sdk to version supporting multi app domains (#6157)
  enterprise/packages/auth/package.json
  libs/shared/package.json
  libs/testing/package.json
  pnpm-lock.yaml
Labels: @novu/shared

chore(api): updated admin scripts
  apps/api/admin/remove-organization.ts
  apps/api/admin/remove-user-account.ts
Labels: @novu/api-server

chore(novui): Setup Panda-learning resources (#6145)
  libs/novui/.storybook/preview.tsx
  libs/novui/package.json
  libs/novui/src/panda-sandbox/css.stories.tsx
  libs/novui/src/panda-sandbox/recipes/cva.stories.tsx
  libs/novui/src/panda-sandbox/recipes/sva.stories.tsx
  libs/novui/src/tokens/typography/typography.stories.tsx
Labels: @novu/novui

fix: update styling
  apps/web/src/pages/get-started/GetStartedPage.styles.tsx
  apps/web/src/pages/get-started/GetStartedPage.tsx
  apps/web/src/pages/get-started/form-tabs.config.tsx
  apps/web/src/pages/get-started/tabs/CardsButtonGroup.tsx
Labels: @novu/web

test(client): Add test for polymorphic properties
  packages/framework/src/client.test.ts
  packages/framework/src/schemas/providers/chat/slack.schema.ts
  packages/framework/src/types/execution.types.ts
  packages/framework/src/validators/json-schema.validator.ts
  packages/framework/src/validators/validator.test.ts
Labels: none

.github/labeler.yml:

'@novu/api-server':
  - apps/api/**/*
'@novu/worker':
  - apps/worker/**/*
'@novu/web':
  - apps/web/**/*
'@novu/ws':
  - apps/ws/**/*
'@novu/inbound-mail':
  - apps/inbound-mail/**/*
'@novu/webhook':
  - apps/webhook/**/*
'@novu/dal':
  - libs/dal/**/*
'@novu/design-system':
  - libs/design-system/**/*
'@novu/novui':
  - libs/novui/**/*
'@novu/shared':
  - libs/shared/**/*
'@novu/notification-center':
  - packages/notification-center/**/*
'@novu/notification-center-vue':
  - packages/notification-center-vue/**/*
'@novu/notification-center-angular':
  - packages/notification-center-angular/**/*
'providers':
  - providers/**/*
'CI/CD':
  - .github/**/*
'helm':
  - docker/kubernetes/helm/**/*
'kustomize':
  - docker/kubernetes/kustomize/**/*
'docker':
  - docker/**/*
'scripts':
  - scripts/**/*
