Repository novuhq/novu, changes with the labels that .github/labeler.yml gives for each.
All labels: @novu/api-server, @novu/worker, @novu/web, @novu/ws, @novu/inbound-mail, @novu/webhook, @novu/dal, @novu/design-system, @novu/novui, @novu/shared, @novu/notification-center, @novu/notification-center-vue, @novu/notification-center-angular, providers, CI/CD, helm, kustomize, docker, scripts

fix(config): correct environment variable handling
  apps/api/src/bootstrap.ts
  apps/api/src/config/env.config.ts
  apps/inbound-mail/src/config/env.config.ts
  apps/webhook/src/config/env.config.ts
  apps/worker/src/config/env.config.ts
  apps/ws/src/config/env.config.ts
  libs/shared/src/config/processEnv.ts
Labels: @novu/api-server, @novu/worker, @novu/ws, @novu/inbound-mail, @novu/webhook, @novu/shared

fix: Slack message
  .github/workflows/cloud-deploy.yml
Labels: CI/CD

fix: Slack message
  .github/workflows/cloud-deploy.yml
Labels: CI/CD

fix: Slack message
  .github/workflows/cloud-deploy.yml
Labels: CI/CD

feat(cli): sync the url between http server and dashboard
  apps/web/src/hooks/useAuth.ts
  apps/web/src/studio/StudioPageLayout.tsx
  packages/cli/src/dev-server/http-server.ts
Labels: @novu/web

refactor(sentry): replace default import with named imports
  apps/api/src/app/events/usecases/parse-event-request/parse-event-request.usecase.ts
  apps/api/src/app/events/usecases/send-test-email/send-test-email.usecase.ts
  apps/api/src/app/invites/usecases/bulk-invite/bulk-invite.usecase.ts
  apps/api/src/app/shared/commands/base.command.ts
  apps/api/src/bootstrap.ts
  apps/inbound-mail/src/main.ts
  apps/webhook/src/bootstrap.ts
  apps/worker/src/app/workflow/usecases/run-job/run-job.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-chat.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-email.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-in-app.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-push.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-sms.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-type.usecase.ts
  apps/worker/src/bootstrap.ts
  apps/ws/src/bootstrap.ts
  libs/application-generic/src/commands/base.command.ts
  libs/application-generic/src/usecases/trigger-event/trigger-event.usecase.ts
Labels: @novu/api-server, @novu/worker, @novu/ws, @novu/inbound-mail, @novu/webhook

fix: Slack message
  .github/workflows/cloud-deploy.yml
Labels: CI/CD

refactor(cli): import ws module at top
  packages/cli/src/commands/dev/dev.ts
Labels: none

style(tests): update import syntax for sinon
  apps/api/src/app/environments/usecases/generate-unique-api-key/generate-unique-api-key.spec.ts
  apps/api/src/app/inbox/usecases/get-notifications/get-notifications.spec.ts
  apps/api/src/app/inbox/usecases/mark-many-notifications-as/mark-many-notifications-as.spec.ts
  apps/api/src/app/inbox/usecases/mark-notification-as/mark-notification-as.spec.ts
  apps/api/src/app/inbox/usecases/notifications-count/notifications-count.spec.ts
  apps/api/src/app/inbox/usecases/session/session.spec.ts
  apps/api/src/app/inbox/usecases/update-all-notifications/update-all-notifications.spec.ts
  apps/api/src/app/inbox/usecases/update-notification-action/update-notification-action.spec.ts
  apps/api/src/app/rate-limiting/usecases/evaluate-api-rate-limit/evaluate-api-rate-limit.spec.ts
  apps/api/src/app/rate-limiting/usecases/evaluate-token-bucket-rate-limit/evaluate-token-bucket-rate-limit.spec.ts
  apps/api/src/app/rate-limiting/usecases/get-api-rate-limit-maximum/get-api-rate-limit-maximum.spec.ts
  apps/api/src/app/rate-limiting/usecases/get-api-rate-limit-service-maximum-config/get-api-rate-limit-service-maximum-config.spec.ts
  apps/api/src/app/shared/commands/base.command.spec.ts
  apps/worker/src/app/workflow/specs/conditions-filter.usecase.spec.ts
  apps/worker/src/app/workflow/specs/inbound-email-parse.spec.ts
  apps/ws/src/socket/usecases/external-services-route/external-services-route.spec.ts
  libs/application-generic/src/commands/base.command.spec.ts
  libs/application-generic/src/services/cache/cache-service.spec.ts
  libs/design-system/src/icons/Icons.stories.tsx
  libs/design-system/src/iconsV2/Icon.stories.tsx
  libs/design-system/src/pagination/usePaginationQueryParamsState.spec.tsx
  libs/novui/src/icons/Icon.stories.tsx
Labels: @novu/api-server, @novu/worker, @novu/ws, @novu/design-system, @novu/novui

style: Add eslint-disable-next-line for import namespace
  libs/application-generic/src/commands/base.command.spec.ts
Labels: none

fix: update lockfile
  pnpm-lock.yaml
Labels: none

Update schema.types.ts
  packages/framework/src/types/schema.types.ts
Labels: none

style(blueprint): fix import style issue
  apps/api/src/app/blueprint/e2e/get-grouped-blueprints.e2e.ts
Labels: @novu/api-server

fix: Post notification condition
  .github/workflows/cloud-deploy.yml
Labels: CI/CD

refactor(auth): replace default import with named import
  apps/api/src/app/auth/usecases/password-reset/password-reset.usecase.ts
  apps/api/src/app/auth/usecases/register/user-register.usecase.ts
  libs/testing/src/user.service.ts
Labels: @novu/api-server

refactor(auth): change bcrypt import to named import
  apps/api/src/app/auth/usecases/update-password/update-password.usecase.ts
Labels: @novu/api-server

refactor(auth): remove unnecessary bcrypt prefix
  apps/api/src/app/auth/usecases/update-password/update-password.usecase.ts
Labels: @novu/api-server

chore: remove unused services
  apps/api/src/app/environments/usecases/get-my-environments/get-my-environments.usecase.ts
  apps/api/src/metadata.ts
Labels: @novu/api-server

feat: add vercel poc
  apps/api/src/app/partner-integrations/partner-integrations.controller.ts
Labels: @novu/api-server

fix(@novu/framework): Enforce proper ESlint rules
  packages/framework/.eslintrc.js
  packages/framework/package.json
  packages/framework/src/client.validation.test.ts
Labels: none

fix: Post notification condition
  .github/workflows/cloud-deploy.yml
Labels: CI/CD

chore(repo): Bump supertest
  apps/webhook/package.json
  apps/worker/package.json
  apps/ws/package.json
  libs/dal/package.json
  libs/testing/package.json
  libs/testing/tsconfig.build.json
  pnpm-lock.yaml
Labels: @novu/worker, @novu/ws, @novu/webhook, @novu/dal

fix: hide ee auth module under feature flag
  apps/api/src/app.module.ts
Labels: @novu/api-server

fix(api): Build api in ES6 target
  apps/api/tsconfig.json
Labels: @novu/api-server

refactor(api, ws): update target versions in config files
  apps/api/.swcrc
  apps/ws/tsconfig.json
Labels: @novu/api-server, @novu/ws

build(api): update SWC target to es5
  apps/api/.swcrc
Labels: @novu/api-server

ci(actions): Update action to use nrwl-nx-action for build
  .github/actions/run-api/action.yml
Labels: CI/CD

ci: Remove redundant TZ env variable from action.yml
  .github/actions/run-backend/action.yml
Labels: CI/CD

refactor: Remove TZ env from package scripts
  .github/workflows/reusable-widget-e2e.yml
  apps/inbound-mail/package.json
  enterprise/packages/auth/package.json
  enterprise/packages/billing/package.json
  enterprise/packages/bridge-api/package.json
  enterprise/packages/bridge-worker/package.json
  enterprise/packages/shared-services/package.json
  enterprise/packages/translation/package.json
  packages/cli/package.json
Labels: @novu/inbound-mail, CI/CD

refactor: Add prop and move analytics call
  apps/api/src/app/invites/usecases/invite-member/invite-member.usecase.ts
Labels: @novu/api-server

refactor(api): enhance API parameter annotations
  apps/api/src/app/events/dtos/trigger-event-request.dto.ts
  apps/api/src/app/layouts/layouts.controller.ts
  apps/api/src/app/topics/topics.controller.ts
Labels: @novu/api-server

refactor(auth,storage): update DTOs and query param types
  apps/api/src/app/auth/auth.controller.ts
  apps/api/src/app/auth/dtos/password-reset.dto.ts
  apps/api/src/app/storage/storage.controller.ts
Labels: @novu/api-server

refactor(metadata): fix return statement formatting
  apps/api/src/metadata.ts
Labels: @novu/api-server

test(create-notification): skip add many nodes test
  apps/web/tests/create-notification.spec.ts
Labels: @novu/web

feat: WIP invited prop
  libs/application-generic/src/services/auth/auth.service.ts
Labels: none

refactor: Use context instead of non-singleton hook
  apps/web/src/Providers.tsx
  apps/web/src/auth/AuthContextProvider.tsx
  apps/web/src/auth/auth.const.ts
  apps/web/src/auth/getToken.ts
  apps/web/src/auth/getTokenClaims.ts
  apps/web/src/auth/useCreateAuthContext.ts
  apps/web/src/ee/translations/components/CreateGroupSidebar.tsx
  apps/web/src/ee/translations/components/EditGroupSidebar.tsx
  apps/web/src/hooks/useAuth.tsx
  apps/web/src/hooks/useNovuAPI.ts
Labels: @novu/web

fix: delete test CLI
  packages/cli/test/.env.example
  packages/cli/test/.eslintrc.json
  packages/cli/test/.github/workflows/novu.yml
  packages/cli/test/.gitignore
  packages/cli/test/README.md
  packages/cli/test/app/api/novu/route.ts
  packages/cli/test/app/favicon.ico
  packages/cli/test/app/globals.css
  packages/cli/test/app/layout.tsx
  packages/cli/test/app/novu/emails/novu-onboarding-email.tsx
  packages/cli/test/app/novu/workflows/index.ts
  packages/cli/test/app/novu/workflows/welcome-onboarding-email/index.ts
  packages/cli/test/app/novu/workflows/welcome-onboarding-email/schemas.ts
  packages/cli/test/app/novu/workflows/welcome-onboarding-email/types.ts
  packages/cli/test/app/novu/workflows/welcome-onboarding-email/workflow.ts
  packages/cli/test/app/page.tsx
  packages/cli/test/next.config.mjs
  packages/cli/test/package.json
  packages/cli/test/postcss.config.cjs
  packages/cli/test/public/next.svg
  packages/cli/test/public/vercel.svg
  packages/cli/test/tailwind.config.ts
  packages/cli/test/tsconfig.json
Labels: none

fix: anonynmous id
  apps/api/src/app/auth/auth.controller.ts
  packages/cli/src/commands/init/index.ts
  packages/cli/src/index.ts
Labels: @novu/api-server

fix: rename command
  apps/web/src/pages/studio-onboarding/components/SetupTimeline.tsx
  libs/application-generic/src/utils/buildBridgeEndpointUrl.ts
  packages/cli/src/commands/dev/dev.ts
  packages/cli/src/commands/init/templates/app-react-email/ts/README-template.md
  packages/cli/src/commands/init/templates/app/ts/README-template.md
Labels: @novu/web

fix: remove package
  pnpm-lock.yaml
Labels: none

.github/labeler.yml:

'@novu/api-server':
  - apps/api/**/*
'@novu/worker':
  - apps/worker/**/*
'@novu/web':
  - apps/web/**/*
'@novu/ws':
  - apps/ws/**/*
'@novu/inbound-mail':
  - apps/inbound-mail/**/*
'@novu/webhook':
  - apps/webhook/**/*
'@novu/dal':
  - libs/dal/**/*
'@novu/design-system':
  - libs/design-system/**/*
'@novu/novui':
  - libs/novui/**/*
'@novu/shared':
  - libs/shared/**/*
'@novu/notification-center':
  - packages/notification-center/**/*
'@novu/notification-center-vue':
  - packages/notification-center-vue/**/*
'@novu/notification-center-angular':
  - packages/notification-center-angular/**/*
'providers':
  - providers/**/*
'CI/CD':
  - .github/**/*
'helm':
  - docker/kubernetes/helm/**/*
'kustomize':
  - docker/kubernetes/kustomize/**/*
'docker':
  - docker/**/*
'scripts':
  - scripts/**/*
