Repository novuhq/novu, changes with the labels that .github/labeler.yml gives for each.
All labels: @novu/api-server, @novu/worker, @novu/web, @novu/ws, @novu/inbound-mail, @novu/webhook, @novu/dal, @novu/design-system, @novu/novui, @novu/shared, @novu/notification-center, @novu/notification-center-vue, @novu/notification-center-angular, providers, CI/CD, helm, kustomize, docker, scripts

.github/labeler.yml:

'@novu/api-server':
  - apps/api/**/*
'@novu/worker':
  - apps/worker/**/*
'@novu/web':
  - apps/web/**/*
'@novu/ws':
  - apps/ws/**/*
'@novu/inbound-mail':
  - apps/inbound-mail/**/*
'@novu/webhook':
  - apps/webhook/**/*
'@novu/dal':
  - libs/dal/**/*
'@novu/design-system':
  - libs/design-system/**/*
'@novu/novui':
  - libs/novui/**/*
'@novu/shared':
  - libs/shared/**/*
'@novu/notification-center':
  - packages/notification-center/**/*
'@novu/notification-center-vue':
  - packages/notification-center-vue/**/*
'@novu/notification-center-angular':
  - packages/notification-center-angular/**/*
'providers':
  - providers/**/*
'CI/CD':
  - .github/**/*
'helm':
  - docker/kubernetes/helm/**/*
'kustomize':
  - docker/kubernetes/kustomize/**/*
'docker':
  - docker/**/*
'scripts':
  - scripts/**/*

feat(root): Fix JS build and introduce playground applications (#5988)
  .cspell.json
  .eslintignore
  novu.code-workspace
  package.json
  packages/js/package.cjs.json
  packages/js/package.esm.json
  packages/js/package.json
  packages/js/scripts/size-limit.mjs
  packages/js/src/ui/components/Renderer.tsx
  packages/js/src/ui/context/AppearanceContext.tsx
  packages/js/src/ui/index.directcss
  packages/js/src/ui/index.ts
  packages/js/src/ui/novuUI.tsx
  packages/js/src/umd.ts
  packages/js/tsup.config.ts
  playground/nextjs/.eslintignore
  playground/nextjs/.gitignore
  playground/nextjs/next.config.mjs
  playground/nextjs/package.json
  playground/nextjs/postcss.config.mjs
  playground/nextjs/public/favicon.ico
  playground/nextjs/public/next.svg
  playground/nextjs/public/vercel.svg
  playground/nextjs/src/components/Mounter.tsx
  playground/nextjs/src/pages/_app.tsx
  playground/nextjs/src/pages/_document.tsx
  playground/nextjs/src/pages/api/hello.ts
  playground/nextjs/src/pages/index.tsx
  playground/nextjs/src/styles/globals.css
  playground/nextjs/tailwind.config.ts
  playground/nextjs/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: none

feat: add methods to inbox service
  packages/js/src/api/inbox-service.ts
  packages/js/src/api/types.ts
Labels: none

chore: re-arrange the methods
  packages/js/src/api/inbox-service.ts
Labels: none

fix: sync
  .vscode/tasks.json
  apps/api/src/app/partner-integrations/partner-integrations.controller.ts
  enterprise/packages/bridge-api/package.json
Labels: @novu/api-server

fix: metadata
  apps/api/src/metadata.ts
Labels: @novu/api-server

feat(dashboard): add changes sync changes dot indication
  apps/web/package.json
  apps/web/src/components/layout/components/v2/BridgeUpdateModal.tsx
  apps/web/src/components/layout/components/v2/SyncInfoModal.tsx
  apps/web/src/components/layout/components/v2/SyncInfoModalTrigger.tsx
  libs/dal/src/repositories/notification-template/notification-template.schema.ts
  pnpm-lock.yaml
Labels: @novu/web, @novu/dal

feat(js): Map primitive appearance keys to specifics and auto apply primitives
  packages/js/src/ui/components/Header/ActionsContainer.tsx
  packages/js/src/ui/components/Header/Header.tsx
  packages/js/src/ui/components/Header/MoreActionsDropdown.tsx
  packages/js/src/ui/components/Header/MoreActionsOptions.tsx
  packages/js/src/ui/components/Header/StatusDropdown.tsx
  packages/js/src/ui/components/Header/StatusOptions.tsx
  packages/js/src/ui/context/AppearanceContext.tsx
  packages/js/src/ui/helpers/useStyle.ts
  packages/js/src/ui/helpers/useStyle.tsx
  packages/js/src/ui/icons/BellIcon.tsx
  packages/js/tsup.config.ts
  playground/nextjs/src/pages/index.tsx
Labels: none

fix: connect
  apps/api/src/app/partner-integrations/partner-integrations.controller.ts
  apps/api/src/app/partner-integrations/usecases/index.ts
  apps/api/src/app/partner-integrations/usecases/process-vercel-webhook/process-vercel-webhook.command.ts
  apps/api/src/app/partner-integrations/usecases/process-vercel-webhook/process-vercel-webhook.usecase.ts
  apps/api/src/metadata.ts
Labels: @novu/api-server

chore(root): update staging URLs
  .github/workflows/dev-deploy-widget.yml
  apps/api/src/.env.development
  apps/web/src/config/index.ts
  packages/cli/src/commands/dev/enums.ts
Labels: @novu/api-server, @novu/web, CI/CD

refactor: minor changes and improvements
  apps/web/package.json
  apps/web/src/Providers.tsx
  apps/web/src/auth/AuthContextProvider.tsx
  apps/web/src/auth/getToken.ts
  apps/web/src/auth/useCreateAuthCommunity.ts
  apps/web/src/components/providers/AuthProvider.tsx
  apps/web/src/components/providers/CommunityAuthProvider.tsx
  apps/web/src/ee/clerk/providers/EnterpriseAuthProvider.tsx
  apps/web/src/ee/clerk/providers/useCreateAuthEnterprise.ts
  apps/web/src/hooks/useAuth.tsx
  apps/web/src/utils/cookies.ts
  apps/web/src/utils/utils.ts
  enterprise/packages/auth/package.json
  libs/shared/package.json
  libs/testing/package.json
  pnpm-lock.yaml
Labels: @novu/web, @novu/shared

chore: update pnpm-lock
  pnpm-lock.yaml
Labels: none

feat: add minor improvements
  apps/web/public/static/images/standalone-dark-theme.svg
  apps/web/public/static/images/standalone-light-theme.svg
  apps/web/src/components/layout/components/LocalStudioSidebar/LocalStudioSidebarContent.tsx
  apps/web/src/components/layout/components/LocalStudioSidebar/LocalStudioSidebarOrganizationDisplay.tsx
  apps/web/src/components/layout/components/v2/BridgeMenuItems.tsx
Labels: @novu/web

fix(js): Fix eslint errors
  package.json
  packages/js/src/ui/components/Popover/PopoverContent.tsx
  packages/js/src/ui/context/AppearanceContext.tsx
  packages/js/src/ui/helpers/useStyle.ts
  pnpm-lock.yaml
Labels: none

fix: get token return empty string
  apps/web/src/auth/getToken.ts
Labels: @novu/web

fix: skip setup copy
  apps/web/src/studio/components/GetStartedPageV2/index.tsx
Labels: @novu/web

fix: remove console.log
  apps/web/src/auth/getToken.ts
Labels: @novu/web

feat(js): Auto apply generic appearance keys via style() (#6041)
  package.json
  packages/js/src/ui/components/Header/ActionsContainer.tsx
  packages/js/src/ui/components/Header/Header.tsx
  packages/js/src/ui/components/Header/MoreActionsDropdown.tsx
  packages/js/src/ui/components/Header/MoreActionsOptions.tsx
  packages/js/src/ui/components/Header/StatusDropdown.tsx
  packages/js/src/ui/components/Header/StatusOptions.tsx
  packages/js/src/ui/components/Popover/PopoverContent.tsx
  packages/js/src/ui/context/AppearanceContext.tsx
  packages/js/src/ui/helpers/useStyle.ts
  packages/js/src/ui/helpers/useStyle.tsx
  packages/js/src/ui/icons/BellIcon.tsx
  packages/js/tsup.config.ts
  playground/nextjs/src/pages/index.tsx
  pnpm-lock.yaml
Labels: none

fix: add webhook verification
  apps/api/.swcrc
  apps/api/src/app/partner-integrations/partner-integrations.controller.ts
  apps/api/src/app/partner-integrations/usecases/process-vercel-webhook/process-vercel-webhook.command.ts
  apps/api/src/app/partner-integrations/usecases/process-vercel-webhook/process-vercel-webhook.usecase.ts
Labels: @novu/api-server

fix: api.client
  apps/web/src/api/api.client.ts
Labels: @novu/web

refactor: Remove shouldUpdateBridgeConfiguration check
  apps/api/src/app/environments/usecases/update-environment/update-environment.usecase.ts
Labels: @novu/api-server

feat(web): Add onboarding as the first post-signup (#6036)
  .vscode/launch.json
  .vscode/tasks.json
  apps/web/src/AppRoutes.tsx
  apps/web/src/components/layout/components/v2/SyncInfoModal.tsx
  apps/web/src/constants/routes.ts
  apps/web/src/pages/auth/components/QuestionnaireForm.tsx
  apps/web/src/pages/auth/onboarding/Onboarding.tsx
  apps/web/src/pages/get-started/components/CodeSnippet.tsx
  apps/web/src/pages/templates/WorkflowListPage.tsx
  apps/web/src/studio/components/GetStartedPageV2/index.tsx
  libs/novui/package.json
Labels: @novu/web, @novu/novui

fix: rollback ee ensure onboarding complete
  apps/web/src/components/layout/components/EnsureOnboardingComplete.tsx
Labels: @novu/web

chore(root): update staging URLs
  .github/workflows/dev-deploy-web.yml
  .github/workflows/reusable-web-deploy.yml
Labels: CI/CD

chore: fix types
  libs/dal/package.json
  libs/dal/src/repositories/message-template/message-template.entity.ts
  libs/shared/package.json
  libs/shared/src/entities/notification-template/notification-template.interface.ts
  packages/framework/package.json
  pnpm-lock.yaml
Labels: @novu/dal, @novu/shared

chore(root): update staging URLs (#6043)
  .github/workflows/dev-deploy-web.yml
  .github/workflows/dev-deploy-widget.yml
  .github/workflows/reusable-web-deploy.yml
  apps/api/src/.env.development
  apps/web/src/config/index.ts
  packages/cli/src/commands/dev/enums.ts
Labels: @novu/api-server, @novu/web, CI/CD

feat(web): Add Clerk components for the EE version (#5895)
  apps/api/src/.env.development
  apps/web/package.json
  apps/web/src/App.tsx
  apps/web/src/AppRoutes.tsx
  apps/web/src/Providers.tsx
  apps/web/src/api/api.client.ts
  apps/web/src/auth/AuthContextProvider.tsx
  apps/web/src/auth/getToken.ts
  apps/web/src/auth/useCreateAuthCommunity.ts
  apps/web/src/components/layout/components/PrivatePageLayout.tsx
  apps/web/src/components/layout/components/v2/HeaderNav.tsx
  apps/web/src/components/nav/RootNavMenu.tsx
  apps/web/src/components/providers/AuthProvider.tsx
  apps/web/src/components/providers/CommunityAuthProvider.tsx
  apps/web/src/config/index.ts
  apps/web/src/constants/routes.ts
  apps/web/src/ee/clerk/EnterpriseAuthRoutes.tsx
  apps/web/src/ee/clerk/components/CustomOrganizationProfile.tsx
  apps/web/src/ee/clerk/components/EnterprisePrivatePageLayout.tsx
  apps/web/src/ee/clerk/components/OrganizationSwitcher.tsx
  apps/web/src/ee/clerk/components/QuestionnaireForm.tsx
  apps/web/src/ee/clerk/components/UserProfileButton.tsx
  apps/web/src/ee/clerk/index.ts
  apps/web/src/ee/clerk/pages/OrganizationListPage.tsx
  apps/web/src/ee/clerk/pages/QuestionnairePage.tsx
  apps/web/src/ee/clerk/pages/SignInPage.tsx
  apps/web/src/ee/clerk/pages/SignUpPage.tsx
  apps/web/src/ee/clerk/providers/ClerkProvider.tsx
  apps/web/src/ee/clerk/providers/EnterpriseAuthProvider.tsx
  apps/web/src/ee/clerk/providers/useCreateAuthEnterprise.ts
  apps/web/src/ee/clerk/utils/environment.ts
  apps/web/src/hooks/useAuth.tsx
  apps/web/src/utils/cookies.ts
  enterprise/packages/auth/package.json
  libs/shared/package.json
  libs/shared/src/types/clerk/clerk.organization.types.ts
  libs/testing/package.json
  libs/testing/src/ee/ee.organization.service.ts
  pnpm-lock.yaml
Labels: @novu/api-server, @novu/web, @novu/shared

chore: replace erroneous `Schema` typing with `JsonSchema`
  apps/api/src/app/bridge/shared/types.ts
  apps/api/src/metadata.ts
  libs/application-generic/src/usecases/create-workflow/create-workflow.command.ts
  libs/application-generic/src/usecases/message-template/create-message-template/create-message-template.command.ts
  libs/application-generic/src/usecases/message-template/update-message-template/update-message-template.command.ts
  libs/application-generic/src/usecases/workflow/update-workflow/update-workflow.command.ts
Labels: @novu/api-server

chore: refactor bridge module
  apps/api/src/app/bridge/bridge.module.ts
  apps/api/src/app/events/events.module.ts
  apps/api/src/app/shared/shared.module.ts
Labels: @novu/api-server

chore: refactor dtos
  apps/api/src/app/bridge/bridge.controller.ts
  apps/api/src/app/bridge/dtos/create-bridge-request.dto.ts
  apps/api/src/app/bridge/dtos/create-bridge-response.dto.ts
Labels: @novu/api-server

fix: auth header
  apps/api/src/app/partner-integrations/partner-integrations.controller.ts
  apps/api/src/app/partner-integrations/usecases/process-vercel-webhook/process-vercel-webhook.usecase.ts
Labels: @novu/api-server

feat: add minor studio improvements (#6044)
  apps/web/public/static/images/standalone-dark-theme.svg
  apps/web/public/static/images/standalone-light-theme.svg
  apps/web/src/components/layout/components/LocalStudioSidebar/LocalStudioSidebarContent.tsx
  apps/web/src/components/layout/components/LocalStudioSidebar/LocalStudioSidebarOrganizationDisplay.tsx
  apps/web/src/components/layout/components/v2/BridgeMenuItems.tsx
Labels: @novu/web

feat(dashboard): add tooltip and styles
  apps/web/src/components/layout/components/v2/SyncInfoModalTrigger.tsx
Labels: @novu/web

chore: fix types
  apps/api/src/app/bridge/usecases/sync/sync.command.ts
  apps/api/src/metadata.ts
Labels: @novu/api-server

chore: fix types
  apps/api/src/app/bridge/usecases/sync/sync.usecase.ts
  apps/api/src/metadata.ts
Labels: @novu/api-server

fix: update lock
  pnpm-lock.yaml
Labels: none

fix(ee-auth): onboarding check
  apps/web/src/components/layout/components/EnsureOnboardingComplete.tsx
Labels: @novu/web

fix: copy and condition
  apps/web/src/components/layout/components/v2/SyncInfoModalTrigger.tsx
Labels: @novu/web

feat: add nodemailer schema
  packages/framework/src/schemas/providers/email/nodemailer.schema.ts
Labels: none

feat: add first five schemas for providers
  packages/framework/src/schemas/providers/chat/slack.schema.ts
  packages/framework/src/schemas/providers/email/index.ts
  packages/framework/src/schemas/providers/email/mailgun.schema.ts
  packages/framework/src/schemas/providers/email/mailjet.schema.ts
  packages/framework/src/schemas/providers/push/apns.schema.ts
  packages/framework/src/schemas/providers/push/expo.schema.ts
  packages/framework/src/schemas/providers/push/fcm.schema.ts
  packages/framework/src/schemas/providers/push/index.ts
Labels: none

feat: add the last schemas for top 10 providers
  packages/framework/.eslintrc.js
  packages/framework/devtool.ts
  packages/framework/input.json
  packages/framework/package.json
  packages/framework/schema.json
  packages/framework/src/schemas/providers/email/mailgun.schema.ts
  packages/framework/src/schemas/providers/email/mailjet.schema.ts
  packages/framework/src/schemas/providers/email/sendgrid.schema.ts
  packages/framework/src/schemas/providers/push/apns.schema.ts
  packages/framework/src/schemas/providers/push/expo.schema.ts
  packages/framework/src/schemas/providers/push/fcm.schema.ts
  packages/framework/src/schemas/providers/push/index.ts
  packages/framework/src/schemas/providers/push/one-signal.schema.ts
  packages/framework/src/schemas/providers/sms/index.ts
  packages/framework/src/schemas/providers/sms/twilio.ts
  pnpm-lock.yaml
Labels: none
