Repository novuhq/novu, changes with the labels that .github/labeler.yml gives for each.
All labels: @novu/api-server, @novu/worker, @novu/web, @novu/ws, @novu/inbound-mail, @novu/webhook, @novu/dal, @novu/design-system, @novu/novui, @novu/shared, @novu/notification-center, @novu/notification-center-vue, @novu/notification-center-angular, providers, CI/CD, helm, kustomize, docker, scripts

.github/labeler.yml:

'@novu/api-server':
  - apps/api/**/*
'@novu/worker':
  - apps/worker/**/*
'@novu/web':
  - apps/web/**/*
'@novu/ws':
  - apps/ws/**/*
'@novu/inbound-mail':
  - apps/inbound-mail/**/*
'@novu/webhook':
  - apps/webhook/**/*
'@novu/dal':
  - libs/dal/**/*
'@novu/design-system':
  - libs/design-system/**/*
'@novu/novui':
  - libs/novui/**/*
'@novu/shared':
  - libs/shared/**/*
'@novu/notification-center':
  - packages/notification-center/**/*
'@novu/notification-center-vue':
  - packages/notification-center-vue/**/*
'@novu/notification-center-angular':
  - packages/notification-center-angular/**/*
'providers':
  - providers/**/*
'CI/CD':
  - .github/**/*
'helm':
  - docker/kubernetes/helm/**/*
'kustomize':
  - docker/kubernetes/kustomize/**/*
'docker':
  - docker/**/*
'scripts':
  - scripts/**/*

fix(web): store localhost url (#5906) NV-3969
  apps/web/src/components/layout/components/v2/BridgeUpdateModal.tsx
Labels: @novu/web

feat(web): fix cloud bridge status (#5904)
  apps/web/src/studio/hooks/useBridgeAPI.ts
Labels: @novu/web

feat(web): add controls to the preview (#5884)
  apps/api/src/app/events/e2e/bridge-trigger.e2e-ee.ts
  apps/web/src/bridgeApi/bridgeApi.client.ts
  apps/web/src/pages/studio-onboarding/preview.tsx
  apps/web/src/pages/templates/components/TemplateEditorFormProvider.tsx
  apps/web/src/studio/components/workflows/step-editor/WorkflowStepEditorControlsPanel.tsx
  apps/worker/src/app/workflow/usecases/subscriber-job-bound/subscriber-job-bound.usecase.ts
  libs/novui/package.json
  libs/novui/src/hooks/index.ts
  libs/novui/src/index.ts
  libs/novui/src/json-schema-components/JsonSchemaForm.tsx
  libs/shared/src/dto/controls/controls.dto.ts
  packages/framework/src/handler.ts
  packages/framework/src/types/execution.types.ts
Labels: @novu/api-server, @novu/worker, @novu/web, @novu/novui, @novu/shared

feat: add refetch on windon focus for previews
  .idea/inspectionProfiles/Project_Default.xml
  .idea/novu.iml
  apps/web/src/studio/hooks/useBridgeAPI.ts
Labels: @novu/web

feat: fix url preview
  apps/web/src/components/layout/components/v2/BridgeUpdateModal.tsx
Labels: @novu/web

feat: add button variation
  apps/web/src/studio/components/workflows/test-workflow/WorkflowsTestPage.tsx
Labels: @novu/web

fix: change copy
  apps/web/src/studio/components/workflows/test-workflow/WorkflowsTestPage.tsx
Labels: @novu/web

style(web): add CTA focus for test workflow (#5909)
  apps/web/src/studio/components/workflows/test-workflow/WorkflowsTestPage.tsx
Labels: @novu/web

fix: add docker hub to api
  .github/actions/setup-project/action.yml
  .github/workflows/reusable-api-e2e.yml
Labels: CI/CD

Revert "fix: add docker hub to api"
  .github/actions/setup-project/action.yml
  .github/workflows/reusable-api-e2e.yml
Labels: CI/CD

fix: test machine
  .github/workflows/reusable-api-e2e.yml
Labels: CI/CD

feat: add refetch on windon focus for previews (#5907)
  .idea/inspectionProfiles/Project_Default.xml
  .idea/novu.iml
  apps/web/src/studio/hooks/useBridgeAPI.ts
Labels: @novu/web

fix: activity feed workflow names
  apps/web/src/components/execution-detail/ExecutionDetailsModal.tsx
  apps/web/src/pages/activities/components/ActivityItem.tsx
Labels: @novu/web

feat: fix url preview (#5908)
  apps/web/src/components/layout/components/v2/BridgeUpdateModal.tsx
Labels: @novu/web

fix: activity feed workflow names (#5911)
  apps/web/src/components/execution-detail/ExecutionDetailsModal.tsx
  apps/web/src/pages/activities/components/ActivityItem.tsx
Labels: @novu/web

fix: wip
  apps/web/src/api/api.client.ts
  apps/web/src/components/layout/components/v2/SyncInfoModal.tsx
Labels: @novu/web

fix: update copy
  apps/web/src/components/layout/components/v2/SyncInfoModal.tsx
Labels: @novu/web

fix: remove not reccomended
  apps/web/src/components/layout/components/v2/SyncInfoModal.tsx
Labels: @novu/web

refactor(snippets): Refactor code snippets for clarity
  apps/web/src/components/execution-detail/ExecutionDetailTrigger.tsx
  apps/web/src/pages/templates/components/TriggerSnippetTabs.tsx
  apps/web/src/studio/components/workflows/test-workflow/WorkflowTestTriggerPanel.tsx
  apps/web/src/studio/components/workflows/test-workflow/WorkflowsTestPage.tsx
  apps/web/src/utils/codeSnippets.ts
  packages/create-novu-app/templates/github/workflows/novu.yml
Labels: @novu/web

feat: fullWidth variant
  apps/web/src/pages/studio-onboarding/preview.tsx
  libs/novui/src/components/button/Button.stories.tsx
  libs/novui/src/components/button/Button.tsx
  libs/novui/src/recipes/button.recipe.ts
Labels: @novu/web, @novu/novui

refactor(snippet): simplify snippet creation in components
  apps/web/src/components/execution-detail/ExecutionDetailTrigger.tsx
  apps/web/src/pages/templates/components/TriggerSnippetTabs.tsx
Labels: @novu/web

feat(utils): add overrides to code snippet functions
  apps/web/src/utils/codeSnippets.ts
Labels: @novu/web

refactor(event.types): update import to use type keyword
  packages/framework/src/types/event.types.ts
Labels: none

refactor(types): update Workflow and EventTriggerParams
  packages/framework/src/types/discover.types.ts
  packages/framework/src/types/event.types.ts
Labels: none

test: update Authorization header format in assertion
  apps/web/tests/create-notification.spec.ts
Labels: @novu/web

fix(web): Display bridgeUrl on cURL command, refactor code snippets (#5913)
  apps/web/src/components/execution-detail/ExecutionDetailTrigger.tsx
  apps/web/src/pages/templates/components/TriggerSnippetTabs.tsx
  apps/web/src/studio/components/workflows/test-workflow/WorkflowTestTriggerPanel.tsx
  apps/web/src/studio/components/workflows/test-workflow/WorkflowsTestPage.tsx
  apps/web/src/utils/codeSnippets.ts
  apps/web/tests/create-notification.spec.ts
  packages/create-novu-app/templates/github/workflows/novu.yml
Labels: @novu/web

refactor: Improve and centralize sidebar styling
  apps/web/src/components/nav/Aside.tsx
  apps/web/src/components/nav/NavMenu.tsx
  apps/web/src/components/nav/Sidebar.tsx
Labels: @novu/web

chore: Fix button name
  libs/novui/src/components/button/Button.tsx
Labels: @novu/novui

feat: Add WIP sidebar buttons
  apps/web/src/components/layout/components/LocalStudioSidebar/LocalStudioSidebar.tsx
Labels: @novu/web

feat: WIP nav menu
  apps/web/src/components/layout/components/LocalStudioSidebar/SidebarFooterButton.tsx
  apps/web/src/components/nav/RootNavMenu.tsx
Labels: @novu/web

feat: manual sync
  apps/web/src/components/layout/components/v2/SyncInfoModal.tsx
Labels: @novu/web

fix: env for the referenced workflow
  .github/workflows/cloud-deploy-widget.yml
Labels: CI/CD

refactor: Extract special outline button
  apps/web/src/components/layout/components/LocalStudioSidebar/SidebarFooterButton.tsx
  apps/web/src/pages/templates/editor_v2/TemplateDetailsPageV2.tsx
  apps/web/src/pages/templates/editor_v2/TemplateStepEditorV2.tsx
  apps/web/src/studio/components/OutlineButton.tsx
  apps/web/src/studio/components/workflows/node-view/WorkflowsDetailPage.tsx
  apps/web/src/studio/components/workflows/test-workflow/WorkflowsTestPage.tsx
Labels: @novu/web

feat: Setup modal, WIP hook
  apps/web/src/components/nav/RootNavMenu.tsx
  apps/web/src/studio/components/OpenLocalStudioModal.tsx
  apps/web/src/studio/hooks/useNavigateToLocalStudio.ts
Labels: @novu/web

fix(api): create notification group for both envs
  apps/api/src/app/environments/usecases/create-environment/create-environment.usecase.ts
Labels: @novu/api-server

fix(web): local to dev sync modal improvement (#5912)
  apps/web/src/api/api.client.ts
  apps/web/src/components/layout/components/v2/SyncInfoModal.tsx
Labels: @novu/web

refactor(onboarding): remove unused imports
  apps/web/src/pages/studio-onboarding/preview.tsx
Labels: @novu/web

fix(api): Nv 4021 syncing to production environment fails for new org (#5916)
  apps/api/src/app/environments/usecases/create-environment/create-environment.usecase.ts
Labels: @novu/api-server

refactor(root): Rename from `web.novu.co` to `dashboard.novu.co` (#5876)
  apps/api/src/.env.development
  apps/api/src/.env.production
  apps/api/src/config/env-validator.ts
  apps/web/netlify.toml
  apps/web/src/pages/studio-onboarding/preview.tsx
  apps/web/tests/main-functionality.spec.ts
  docker/kubernetes/helm/README.md
  docker/kubernetes/helm/values.yaml
  libs/testing/src/user.session.ts
  packages/create-novu-app/templates/app/ts/app/novu/workflows.ts
Labels: @novu/api-server, @novu/web, helm, docker

feat: add new empty state for workflows in v2
  apps/web/src/AppRoutes.tsx
  apps/web/src/components/nav/RootNavMenu.tsx
  apps/web/src/hooks/useFeatureFlag.ts
  apps/web/src/pages/auth/components/HubspotSignupForm.tsx
  apps/web/src/pages/auth/components/QuestionnaireForm.tsx
  apps/web/src/pages/templates/TemplatesListNoData.tsx
  apps/web/src/pages/templates/WorkflowListPage.tsx
  apps/web/src/studio/components/GetStartedPageV2/Development.tsx
  apps/web/src/studio/components/GetStartedPageV2/Studio.tsx
  apps/web/src/studio/components/GetStartedPageV2/deploy.tsx
  apps/web/src/studio/components/GetStartedPageV2/ide.tsx
  apps/web/src/studio/components/GetStartedPageV2/index.tsx
  apps/web/src/studio/components/GetStartedPageV2/terminal.tsx
  apps/web/src/studio/components/GetStartedPageV2/workflow.tsx
Labels: @novu/web
