Repository novuhq/novu, pull requests merged in 2022-12, with the labels that each got.

#2105 feat: created initial messages cache
  apps/api/package.json
  apps/api/src/app/events/e2e/digest-events.e2e.ts
  apps/api/src/app/events/e2e/trigger-event.e2e.ts
  apps/api/src/app/events/usecases/send-message/send-message-chat.usecase.ts
  apps/api/src/app/events/usecases/send-message/send-message-email.usecase.ts
  apps/api/src/app/events/usecases/send-message/send-message-in-app.usecase.ts
  apps/api/src/app/events/usecases/send-message/send-message-sms.usecase.ts
  apps/api/src/app/events/usecases/send-message/send-message-type.usecase.ts
  apps/api/src/app/messages/usecases/get-messages/get-messages.usecase.ts
  apps/api/src/app/notifications/e2e/get-activity-stats.e2e.ts
  apps/api/src/app/widgets/usecases/mark-message-as/mark-message-as.usecase.ts
  apps/api/src/config/env-validator.ts
  apps/webhook/src/webhooks/usecases/webhook/webhook.usecase.ts
  libs/dal/src/repositories/base-repository.ts
  libs/dal/src/repositories/message/message.repository.ts
  libs/dal/src/shared/index.ts
  libs/dal/src/shared/interceptors/cached.interceptor.ts
  libs/dal/src/shared/interceptors/invalidate-cache.interceptor.ts
  libs/dal/src/shared/interceptors/shared-cache.interceptor.ts
  libs/dal/src/shared/services/cache.service.ts
  libs/dal/src/shared/services/index.ts
Labels: @novu/api, @novu/dal, @novu/webhook

#2118 Nv 1264 cache service and interceptor tests
  apps/api/src/app/shared/cache/cache-service.spec.ts
  apps/api/src/app/shared/cache/cached-interceptor.spec.ts
Labels: @novu/api

#2124 feat: add subscribers find one caching
  apps/api/src/app/events/usecases/process-subscriber/process-subscriber.usecase.ts
  apps/api/src/app/shared/cache/cache-service.spec.ts
  apps/api/src/app/shared/cache/cached-interceptor.spec.ts
  apps/api/src/app/subscribers/usecases/update-subscriber/update-subscriber.usecase.ts
  libs/dal/src/repositories/subscriber/subscriber.repository.ts
  libs/dal/src/shared/interceptors/cached.interceptor.ts
  libs/dal/src/shared/interceptors/invalidate-cache.interceptor.ts
  libs/dal/src/shared/interceptors/shared-cache.interceptor.ts
Labels: @novu/api, @novu/dal

#2106 fix: mark-as-seen response dto
  apps/api/src/app/subscribers/subscribers.controller.ts
  apps/api/src/app/widgets/widgets.controller.ts
Labels: @novu/api

#1331 feat: added sparkpost provider
  .cspell.json
  pnpm-lock.yaml
  providers/sparkpost/.czrc
  providers/sparkpost/.eslintrc.json
  providers/sparkpost/.gitignore
  providers/sparkpost/README.md
  providers/sparkpost/jest.config.js
  providers/sparkpost/package.json
  providers/sparkpost/src/index.ts
  providers/sparkpost/src/lib/sparkpost.provider.spec.ts
  providers/sparkpost/src/lib/sparkpost.provider.ts
  providers/sparkpost/tsconfig.json
  providers/sparkpost/tsconfig.module.json
Labels: providers

#2128 feat(api): create topic use case and endpoint
  apps/api/src/app.module.ts
  apps/api/src/app/shared/shared.module.ts
  apps/api/src/app/topics/dtos/create-topic.dto.ts
  apps/api/src/app/topics/dtos/topic.dto.ts
  apps/api/src/app/topics/e2e/create-topic.e2e.ts
  apps/api/src/app/topics/topics.controller.ts
  apps/api/src/app/topics/topics.module.ts
  apps/api/src/app/topics/types/index.ts
  apps/api/src/app/topics/use-cases/create-topic.command.ts
  apps/api/src/app/topics/use-cases/create-topic.use-case.ts
  apps/api/src/app/topics/use-cases/index.ts
  libs/dal/src/index.ts
  libs/dal/src/repositories/topic/index.ts
  libs/dal/src/repositories/topic/topic-subscribers.entity.ts
  libs/dal/src/repositories/topic/topic-subscribers.repository.ts
  libs/dal/src/repositories/topic/topic.entity.ts
  libs/dal/src/repositories/topic/topic.repository.ts
  libs/dal/src/repositories/topic/types.ts
Labels: @novu/api, @novu/dal

#2149 Variables not updated in var manager
  apps/web/src/components/templates/TemplatePushEditor.tsx
  apps/web/src/components/templates/TemplateSMSEditor.tsx
  apps/web/src/components/templates/VariableManager.cy.tsx
  apps/web/src/components/templates/VariableManager.tsx
  apps/web/src/components/templates/chat-editor/TemplateChatEditor.tsx
  apps/web/src/components/templates/email-editor/EmailMessagesCards.tsx
  apps/web/src/components/templates/in-app-editor/TemplateInAppEditor.tsx
  apps/web/src/hooks/use-variables-manager.ts
Labels: @novu/web

#2161 fix: actions buttons shown twice in notification center
  packages/notification-center/src/components/notification-center/components/notification-item/NotificationListItem.tsx
Labels: @novu/notification-center

#2160 feat: change to active integrations for preview
  apps/web/src/components/templates/email-editor/EmailContentCard.tsx
  apps/web/src/pages/templates/editor/Preview.tsx
Labels: @novu/web

#2159 feat: add styling of type for variable management
  apps/web/src/components/templates/email-editor/variables-management/VarItem.tsx
Labels: @novu/web

#2162 fix: so preheader can contain variables
  apps/api/src/app/events/usecases/send-message/send-message-email.usecase.ts
Labels: @novu/api

#2163 fix: so subject are parsed for preview as well
  apps/api/src/app/content-templates/content-templates.controller.ts
  apps/api/src/app/content-templates/e2e/preview-email.e2e.ts
  apps/api/src/app/content-templates/usecases/parse-preview/preview-email.command.ts
  apps/api/src/app/content-templates/usecases/parse-preview/preview-email.usecase.ts
  apps/web/src/api/content-templates.ts
  apps/web/src/pages/templates/editor/Preview.tsx
Labels: @novu/api, @novu/web

#2164 fix: nested vars in variable manager
  apps/web/src/components/templates/email-editor/variables-management/VarItemsDropdown.tsx
  apps/web/src/components/templates/email-editor/variables-management/VariablesManagement.tsx
  apps/web/src/hooks/use-process-variables.ts
Labels: @novu/web

#2165 feat: improve the descriptions for handlebar helpers
  libs/shared/src/consts/handlebar-helpers/handlebarHelpers.ts
Labels: @novu/shared

#1821 feat: Rename nodemailer integration to custom smtp
  apps/web/public/static/images/providers/dark/custom_smtp.svg
  apps/web/public/static/images/providers/light/custom_smtp.svg
  docs/docs/channels/email/custom-smtp.md
  docs/docs/channels/email/nodemailer.md
  libs/shared/src/consts/providers/channels/email.ts
  libs/shared/src/consts/providers/provider.enum.ts
Labels: documentation, @novu/web, @novu/shared, community, pr-party

#2132 feat(api): add get topic endpoint and use case
  apps/api/src/app/topics/dtos/create-topic.dto.ts
  apps/api/src/app/topics/dtos/get-topic.dto.ts
  apps/api/src/app/topics/dtos/index.ts
  apps/api/src/app/topics/dtos/topic.dto.ts
  apps/api/src/app/topics/e2e/get-topic.e2e.ts
  apps/api/src/app/topics/topics.controller.ts
  apps/api/src/app/topics/types/index.ts
  apps/api/src/app/topics/use-cases/create-topic.use-case.ts
  apps/api/src/app/topics/use-cases/create-topic/create-topic.command.ts
  apps/api/src/app/topics/use-cases/create-topic/create-topic.use-case.ts
  apps/api/src/app/topics/use-cases/create-topic/index.ts
  apps/api/src/app/topics/use-cases/get-topic/get-topic.command.ts
  apps/api/src/app/topics/use-cases/get-topic/get-topic.use-case.ts
  apps/api/src/app/topics/use-cases/get-topic/index.ts
  apps/api/src/app/topics/use-cases/index.ts
  libs/dal/src/repositories/base-repository.ts
  libs/dal/src/repositories/topic/topic.repository.ts
  libs/dal/src/repositories/topic/types.ts
Labels: @novu/api, @novu/dal

#2152 chore(infra): apply suggestions from deepsource for js code
  apps/api/src/app/change/usecases/promote-feed-change/promote-feed-change.ts
  apps/api/src/app/events/usecases/send-message/send-message.usecase.ts
  apps/api/src/app/logs/usecases/create-log/create-log.usecase.ts
  apps/web/cypress/tests/auth.spec.ts
  apps/web/src/components/layout/components/SideNav.tsx
  apps/web/src/pages/templates/workflow/WorkflowEditorPage.tsx
  apps/widget/cypress/support/commands.ts
  docs/src/theme/DocPage/index.js
  docs/src/theme/Footer/Links/MultiColumn/index.js
  libs/embed/src/embed.ts
Labels: documentation, @novu/api, @novu/web

#2136 feat(api): add endpoint to filter topics with pagination
  apps/api/src/app/topics/dtos/filter-topics.dto.ts
  apps/api/src/app/topics/dtos/index.ts
  apps/api/src/app/topics/dtos/topic.dto.ts
  apps/api/src/app/topics/e2e/filter-topics.e2e.ts
  apps/api/src/app/topics/e2e/get-topic.e2e.ts
  apps/api/src/app/topics/topics.controller.ts
  apps/api/src/app/topics/use-cases/filter-topics/filter-topics.command.ts
  apps/api/src/app/topics/use-cases/filter-topics/filter-topics.use-case.ts
  apps/api/src/app/topics/use-cases/filter-topics/index.ts
  apps/api/src/app/topics/use-cases/index.ts
Labels: @novu/api

#2150 feat(api): ensure topic key is unique for same user, env and org
  apps/api/src/app/topics/e2e/create-topic.e2e.ts
  apps/api/src/app/topics/use-cases/create-topic/create-topic.use-case.ts
  libs/dal/src/repositories/topic/topic.repository.ts
Labels: @novu/api, @novu/dal

#2155 feat(api): add use case to get a topic subscribers entity
  apps/api/src/app/shared/shared.module.ts
  apps/api/src/app/topics/dtos/index.ts
  apps/api/src/app/topics/dtos/topic-subscribers.dto.ts
  apps/api/src/app/topics/e2e/create-topic.e2e.ts
  apps/api/src/app/topics/e2e/filter-topics.e2e.ts
  apps/api/src/app/topics/use-cases/get-topic-subscribers/get-topic-subscribers.command.ts
  apps/api/src/app/topics/use-cases/get-topic-subscribers/get-topic-subscribers.use-case.ts
  apps/api/src/app/topics/use-cases/get-topic-subscribers/index.ts
  apps/api/src/app/topics/use-cases/index.ts
  libs/dal/src/repositories/topic/topic-subscribers.entity.ts
  libs/dal/src/repositories/topic/topic-subscribers.schema.ts
  scripts/dev-environment-setup.sh
Labels: @novu/api, @novu/dal

#2157 Removed duplicate ISubscriberPayload in subscriber.interface
  packages/node/src/lib/subscribers/subscriber.interface.ts
Labels: community

#2176 fix: added vertical space between pills issue #2110
  apps/web/src/components/templates/email-editor/TestSendEmail.tsx
Labels: @novu/web, accepted, community

#2143 Backend caching
  .github/workflows/test-dal.yml
  apps/api/e2e/setup.ts
  apps/api/package.json
  apps/api/src/.env.development
  apps/api/src/.env.production
  apps/api/src/.env.test
  apps/api/src/.example.env
  apps/api/src/app/change/e2e/promote-changes.e2e.ts
  apps/api/src/app/change/usecases/get-changes/get-changes.usecase.ts
  apps/api/src/app/change/usecases/promote-notification-template-change/promote-notification-template-change.ts
  apps/api/src/app/events/e2e/digest-events.e2e.ts
  apps/api/src/app/events/e2e/process-subscriber.e2e.ts
  apps/api/src/app/events/e2e/trigger-event.e2e.ts
  apps/api/src/app/events/usecases/process-subscriber/process-subscriber.usecase.ts
  apps/api/src/app/events/usecases/send-message/send-message-chat.usecase.ts
  apps/api/src/app/events/usecases/send-message/send-message-email.usecase.ts
  apps/api/src/app/events/usecases/send-message/send-message-in-app.usecase.ts
  apps/api/src/app/events/usecases/send-message/send-message-sms.usecase.ts
  apps/api/src/app/events/usecases/send-message/send-message-type.usecase.ts
  apps/api/src/app/events/usecases/send-message/send-message.usecase.ts
  apps/api/src/app/messages/usecases/get-messages/get-messages.usecase.ts
  apps/api/src/app/notification-template/e2e/change-template-status.e2e.ts
  apps/api/src/app/notification-template/e2e/create-notification-templates.e2e.ts
  apps/api/src/app/notification-template/e2e/delete-notification-template.e2e.ts
  apps/api/src/app/notification-template/e2e/update-notification-template.e2e.ts
  apps/api/src/app/notification-template/usecases/change-template-active-status/change-template-active-status.usecase.ts
  apps/api/src/app/notification-template/usecases/create-notification-template/create-notification-template.usecase.ts
  apps/api/src/app/notification-template/usecases/get-notification-template/get-notification-template.usecase.ts
  apps/api/src/app/notification-template/usecases/update-notification-template/update-notification-template.usecase.ts
  apps/api/src/app/notifications/e2e/get-activity-stats.e2e.ts
  apps/api/src/app/shared/shared.module.ts
  apps/api/src/app/subscribers/usecases/update-subscriber-preference/update-subscriber-preference.usecase.ts
  apps/api/src/app/subscribers/usecases/update-subscriber/update-subscriber.usecase.ts
  apps/api/src/app/widgets/usecases/mark-message-as/mark-message-as.usecase.ts
  apps/api/src/config/env-validator.ts
  apps/webhook/src/webhooks/usecases/webhook/webhook.usecase.ts
  libs/dal/package.json
  libs/dal/src/index.ts
  libs/dal/src/repositories/base-repository.ts
  libs/dal/src/repositories/message/message.repository.ts
  libs/dal/src/repositories/notification-template/notification-template.repository.ts
  libs/dal/src/repositories/subscriber/subscriber.repository.ts
  libs/dal/src/shared/index.ts
  libs/dal/src/shared/interceptors/cache-interceptor.spec.ts
  libs/dal/src/shared/interceptors/cached.interceptor.ts
  libs/dal/src/shared/interceptors/index.ts
  libs/dal/src/shared/interceptors/invalidate-cache.interceptor.ts
  libs/dal/src/shared/interceptors/shared-cache.spec.ts
  libs/dal/src/shared/interceptors/shared-cache.ts
  libs/dal/src/shared/services/cache-service.spec.ts
  libs/dal/src/shared/services/cache.service.ts
  libs/dal/src/shared/services/index.ts
  libs/embed/README.md
  libs/testing/src/notification-template.service.ts
  libs/testing/src/subscribers.service.ts
  pnpm-lock.yaml
Labels: @novu/api, @novu/dal, @novu/webhook

#2213 chore(notification-center-vue): fix rollup issue for the external libraries
  packages/notification-center-vue/package.json
  packages/notification-center-vue/vite.config.js
  pnpm-lock.yaml
Labels: @novu/notification-center

#2219 fix: remove only flag
  apps/api/src/app/topics/e2e/create-topic.e2e.ts
Labels: @novu/api

#2220 fix: single cache instance
  apps/api/e2e/setup.ts
  apps/api/src/app/change/e2e/promote-changes.e2e.ts
  apps/api/src/app/events/e2e/process-subscriber.e2e.ts
  apps/api/src/app/events/e2e/trigger-event.e2e.ts
Labels: @novu/api

#1815 fix: pass sender from email and name for SendInBlue provider
  apps/api/src/app/events/services/mail-service/handlers/sendinblue.handler.ts
  packages/application-generic/src/factories/mail/handlers/sendinblue.handler.ts
  providers/sendinblue/src/lib/sendinblue.provider.spec.ts
  providers/sendinblue/src/lib/sendinblue.provider.ts
Labels: @novu/api, providers, community

#2223 NV-1302 feat(ws): upgrade socket.io v4
  apps/widget/package.json
  apps/ws/package.json
  apps/ws/src/bootstrap.ts
  apps/ws/src/shared/framework/redis.adapter.ts
  packages/notification-center/package.json
  packages/notification-center/src/store/socket/use-socket-controller.ts
  pnpm-lock.yaml
Labels: @novu/ws, @novu/notification-center, community

#2216 [NV-1285] (JS-0414) Add Missing key for properties
  .gitignore
  apps/web/src/components/templates/email-editor/ContentRow.tsx
  apps/web/src/design-system/table/Table.tsx
  apps/web/src/pages/templates/filter/FilterModal.tsx
  apps/web/src/pages/templates/filter/Filters.tsx
Labels: @novu/web, community

#2156 feat(notification-center): allow for an easier styling with a styles prop
  .cspell.json
  apps/widget/craco.config.js
  apps/widget/index.html
  apps/widget/package.json
  apps/widget/src/components/ApplicationShell.tsx
  apps/widget/src/components/notification-center/NotificationCenterWidget.tsx
  examples/vue-notification-center-example/src/App.vue
  packages/notification-center-angular/projects/notification-center-angular/src/lib/notification-center.component.ts
  packages/notification-center-vue/src/lib/notification-center-component/NotificationCenterComponent.vue
  packages/notification-center/package.json
  packages/notification-center/src/components/index.ts
  packages/notification-center/src/components/notification-bell/NotificationBell.tsx
  packages/notification-center/src/components/notification-center-web-component/index.ts
  packages/notification-center/src/components/notification-center-web-component/notification-center-component.tsx
  packages/notification-center/src/components/notification-center-web-component/notification-center-component.types.ts
  packages/notification-center/src/components/notification-center/components/AppContent.tsx
  packages/notification-center/src/components/notification-center/components/FeedsTabs.tsx
  packages/notification-center/src/components/notification-center/components/Loader.tsx
  packages/notification-center/src/components/notification-center/components/Main.tsx
  packages/notification-center/src/components/notification-center/components/NotificationsList.tsx
  packages/notification-center/src/components/notification-center/components/SeenAllBlock.tsx
  packages/notification-center/src/components/notification-center/components/UnseenBadge.tsx
  packages/notification-center/src/components/notification-center/components/layout/Layout.tsx
  packages/notification-center/src/components/notification-center/components/layout/footer/Footer.tsx
  packages/notification-center/src/components/notification-center/components/layout/header/Header.tsx
  packages/notification-center/src/components/notification-center/components/layout/header/UserPreferenceHeader.tsx
  packages/notification-center/src/components/notification-center/components/layout/tabs/Tabs.tsx
  packages/notification-center/src/components/notification-center/components/notification-item/ActionContainer.tsx
  packages/notification-center/src/components/notification-center/components/notification-item/NotificationItemButton.tsx
  packages/notification-center/src/components/notification-center/components/notification-item/NotificationListItem.tsx
  packages/notification-center/src/components/notification-center/components/user-preference/ChannelPreference.tsx
  packages/notification-center/src/components/notification-center/components/user-preference/SubscriberPreference.tsx
  packages/notification-center/src/components/notification-center/components/user-preference/styles.ts
  packages/notification-center/src/components/novu-provider/NovuProvider.tsx
  packages/notification-center/src/components/popover-notification-center/PopoverNotificationCenter.tsx
  packages/notification-center/src/components/popover-notification-center/components/Popover.tsx
  packages/notification-center/src/components/types.ts
  packages/notification-center/src/emotion.d.ts
  packages/notification-center/src/hooks/use-default-theme.hook.ts
  packages/notification-center/src/hooks/use-notifications.hook.ts
  packages/notification-center/src/shared/config/themeDefaultValues.ts
  packages/notification-center/src/shared/icons/GradientDot.tsx
  packages/notification-center/src/store/styles/index.ts
  packages/notification-center/src/store/styles/styles-provider.tsx
  packages/notification-center/src/store/styles/styles-provider.types.ts
  packages/notification-center/tsconfig.json
  pnpm-lock.yaml
Labels: @novu/notification-center

#2215 feat(api): create topic subscribers use case
  .cspell.json
  apps/api/src/app/topics/dtos/topic.dto.ts
  apps/api/src/app/topics/e2e/get-topic.e2e.ts
  apps/api/src/app/topics/types/index.ts
  apps/api/src/app/topics/use-cases/create-topic-subscribers/create-topic-subscribers.command.ts
  apps/api/src/app/topics/use-cases/create-topic-subscribers/create-topic-subscribers.use-case.ts
  apps/api/src/app/topics/use-cases/create-topic-subscribers/index.ts
  apps/api/src/app/topics/use-cases/create-topic/create-topic.use-case.ts
  apps/api/src/app/topics/use-cases/index.ts
  libs/dal/src/repositories/subscriber/subscriber.entity.ts
  libs/dal/src/repositories/subscriber/types.ts
  libs/dal/src/repositories/topic/topic-subscribers.entity.ts
  libs/dal/src/repositories/topic/topic-subscribers.schema.ts
  libs/dal/src/repositories/topic/topic.entity.ts
  libs/dal/src/repositories/topic/topic.repository.ts
  libs/dal/src/repositories/topic/topic.schema.ts
  libs/dal/src/repositories/topic/types.ts
Labels: @novu/api, @novu/dal

#2224 feat(api): add subscribers endpoint, use case and tests
  apps/api/src/app/topics/dtos/add-subscribers.dto.ts
  apps/api/src/app/topics/dtos/index.ts
  apps/api/src/app/topics/e2e/add-subscribers.e2e.ts
  apps/api/src/app/topics/topics.controller.ts
  apps/api/src/app/topics/use-cases/add-subscribers/add-subscribers.command.ts
  apps/api/src/app/topics/use-cases/add-subscribers/add-subscribers.use-case.ts
  apps/api/src/app/topics/use-cases/add-subscribers/index.ts
  apps/api/src/app/topics/use-cases/index.ts
  libs/dal/src/repositories/topic/topic-subscribers.repository.ts
Labels: @novu/api, @novu/dal

#2228 feat(api): remove subscribers endpoint, use case and test
  apps/api/src/app/topics/dtos/index.ts
  apps/api/src/app/topics/dtos/remove-subscribers.dto.ts
  apps/api/src/app/topics/e2e/remove-subscribers.e2e.ts
  apps/api/src/app/topics/topics.controller.ts
  apps/api/src/app/topics/use-cases/index.ts
  apps/api/src/app/topics/use-cases/remove-subscribers/index.ts
  apps/api/src/app/topics/use-cases/remove-subscribers/remove-subscribers.command.ts
  apps/api/src/app/topics/use-cases/remove-subscribers/remove-subscribers.use-case.ts
  libs/dal/src/repositories/topic/topic-subscribers.repository.ts
Labels: @novu/api, @novu/dal

#2178 feat(headless): the headless package with a notification center business logic and socket management
  .cspell.json
  libs/embed/tsconfig.json
  novu.code-workspace
  packages/headless/.eslintrc.js
  packages/headless/.gitignore
  packages/headless/.prettierignore
  packages/headless/babel.config.js
  packages/headless/jest.config.ts
  packages/headless/package.json
  packages/headless/src/index.ts
  packages/headless/src/lib/headless.service.test.ts
  packages/headless/src/lib/headless.service.ts
  packages/headless/src/lib/index.ts
  packages/headless/src/lib/query.service.ts
  packages/headless/src/lib/types.ts
  packages/headless/src/utils/index.ts
  packages/headless/src/utils/query-keys.ts
  packages/headless/src/utils/types.ts
  packages/headless/tsconfig.build.json
  packages/headless/tsconfig.json
  packages/notification-center/package.json
  packages/notification-center/src/components/notification-center/components/AppContent.tsx
  packages/notification-center/src/components/notification-center/components/layout/header/Header.tsx
  packages/notification-center/src/emotion.d.ts
  packages/notification-center/src/utils/react-to-webcomponent.ts
  packages/notification-center/tsconfig.json
  pnpm-lock.yaml
Labels: @novu/notification-center, @novu/headless

#2131 feat(ci): build api and web Docker images with Depot
  .cspell.json
  .github/workflows/dev-deploy-api.yml
  .github/workflows/dev-deploy-web.yml
  .github/workflows/prod-deploy-api.yml
  .github/workflows/prod-deploy-web.yml
  docker/local/Readme.md
Labels: community

#2141 Nv 1283 cache users find one query
  apps/api/src/app/change/e2e/promote-changes.e2e.ts
  libs/dal/src/repositories/user/user.repository.ts
  libs/dal/src/shared/interceptors/cache-interceptor.spec.ts
  libs/dal/src/shared/interceptors/shared-cache.interceptor.ts
Labels: @novu/api, @novu/dal

#2221 feat: add cached members one find
  apps/api/src/app/invites/usecases/accept-invite/accept-invite.usecase.ts
  apps/api/src/app/organization/usecases/membership/remove-member/remove-member.usecase.ts
  libs/dal/src/repositories/member/member.repository.ts
Labels: @novu/api, @novu/dal

#2222 fix: potential race condition on find query
  apps/api/src/app/events/e2e/process-subscriber.e2e.ts
Labels: @novu/api

#2246 revert: dal cache
  .github/workflows/test-dal.yml
  .idea/vcs.xml
  apps/api/e2e/setup.ts
  apps/api/src/app/change/e2e/promote-changes.e2e.ts
  apps/api/src/app/change/usecases/get-changes/get-changes.usecase.ts
  apps/api/src/app/change/usecases/promote-notification-template-change/promote-notification-template-change.ts
  apps/api/src/app/events/e2e/digest-events.e2e.ts
  apps/api/src/app/events/e2e/process-subscriber.e2e.ts
  apps/api/src/app/events/e2e/trigger-event.e2e.ts
  apps/api/src/app/events/usecases/process-subscriber/process-subscriber.usecase.ts
  apps/api/src/app/events/usecases/send-message/send-message-chat.usecase.ts
  apps/api/src/app/events/usecases/send-message/send-message-email.usecase.ts
  apps/api/src/app/events/usecases/send-message/send-message-in-app.usecase.ts
  apps/api/src/app/events/usecases/send-message/send-message-sms.usecase.ts
  apps/api/src/app/events/usecases/send-message/send-message-type.usecase.ts
  apps/api/src/app/events/usecases/send-message/send-message.usecase.ts
  apps/api/src/app/messages/usecases/get-messages/get-messages.usecase.ts
  apps/api/src/app/notification-template/e2e/change-template-status.e2e.ts
  apps/api/src/app/notification-template/e2e/create-notification-templates.e2e.ts
  apps/api/src/app/notification-template/e2e/delete-notification-template.e2e.ts
  apps/api/src/app/notification-template/usecases/change-template-active-status/change-template-active-status.usecase.ts
  apps/api/src/app/notification-template/usecases/create-notification-template/create-notification-template.usecase.ts
  apps/api/src/app/notification-template/usecases/get-notification-template/get-notification-template.usecase.ts
  apps/api/src/app/notification-template/usecases/update-notification-template/update-notification-template.usecase.ts
  apps/api/src/app/notifications/e2e/get-activity-stats.e2e.ts
  apps/api/src/app/shared/shared.module.ts
  apps/api/src/app/subscribers/usecases/update-subscriber-preference/update-subscriber-preference.usecase.ts
  apps/api/src/app/widgets/usecases/mark-message-as/mark-message-as.usecase.ts
  apps/api/src/config/env-validator.ts
  apps/webhook/src/webhooks/usecases/webhook/webhook.usecase.ts
  libs/dal/package.json
  libs/dal/src/repositories/base-repository.ts
  libs/dal/src/repositories/change/change.repository.ts
  libs/dal/src/repositories/execution-details/execution-details.repository.ts
  libs/dal/src/repositories/feed/feed.repository.ts
  libs/dal/src/repositories/job/job.repository.ts
  libs/dal/src/repositories/log/log.repository.ts
  libs/dal/src/repositories/member/member.repository.ts
  libs/dal/src/repositories/message-template/message-template.repository.ts
  libs/dal/src/repositories/message/message.repository.ts
  libs/dal/src/repositories/notification-group/notification-group.repository.ts
  libs/dal/src/repositories/notification-template/notification-template.repository.ts
  libs/dal/src/repositories/notification/notification.repository.ts
  libs/dal/src/repositories/subscriber-preference/subscriber-preference.repository.ts
  libs/dal/src/repositories/subscriber/subscriber.repository.ts
  libs/dal/src/shared/index.ts
  libs/dal/src/shared/interceptors/cache-interceptor.spec.ts
  libs/dal/src/shared/interceptors/cached.interceptor.ts
  libs/dal/src/shared/interceptors/index.ts
  libs/dal/src/shared/interceptors/invalidate-cache.interceptor.ts
  libs/dal/src/shared/interceptors/shared-cache.spec.ts
  libs/dal/src/shared/interceptors/shared-cache.ts
  libs/dal/src/shared/services/cache-service.spec.ts
  libs/dal/src/shared/services/cache.service.ts
  libs/dal/src/shared/services/index.ts
  libs/testing/src/notification-template.service.ts
  libs/testing/src/subscribers.service.ts
  pnpm-lock.yaml
Labels: @novu/api, @novu/dal, @novu/webhook

#2226 fix: use sender name with from email in ses provider
  apps/api/src/app/events/services/mail-service/handlers/ses.handler.ts
  packages/application-generic/src/factories/mail/handlers/ses.handler.ts
  providers/ses/src/lib/ses.config.ts
  providers/ses/src/lib/ses.provider.spec.ts
  providers/ses/src/lib/ses.provider.ts
Labels: @novu/api, providers, community

#2250 fix: upgrade the dropzone version
  apps/web/package.json
  pnpm-lock.yaml
Labels: @novu/web

#2214 feat(notification-center): build the web component to umd module
  examples/angular-notification-center-example/src/app/app.component.html
  packages/notification-center-angular/package.json
  packages/notification-center-angular/projects/notification-center-angular/src/lib/notification-center.component.ts
  packages/notification-center/package.json
  packages/notification-center/rollup.config.js
  packages/notification-center/src/hooks/use-auth.hook.ts
  packages/notification-center/src/hooks/use-notification-center-hook.ts
  packages/notification-center/src/web-component.ts
  packages/notification-center/tsconfig.json
  pnpm-lock.yaml
Labels: @novu/notification-center

#2247 Nv 1203 lack of rate limiting mechanism
  apps/api/src/app/auth/e2e/password-reset.e2e.ts
  apps/api/src/app/auth/usecases/password-reset-request/password-reset-request.usecase.ts
  apps/api/src/app/auth/usecases/password-reset/password-reset.usecase.ts
  apps/web/src/components/auth/PasswordResetRequestForm.tsx
  libs/dal/src/repositories/user/user.entity.ts
  libs/dal/src/repositories/user/user.repository.ts
  libs/dal/src/repositories/user/user.schema.ts
Labels: @novu/api, @novu/web, @novu/dal

#2254 feat(config): set feature flat for topic notifications feature
  apps/api/src/.env.development
  apps/api/src/.env.production
  apps/api/src/.env.test
  apps/api/src/.example.env
  apps/api/src/config/config.spec.ts
  apps/api/src/config/env-validator.ts
  apps/api/src/config/index.ts
Labels: @novu/api

#2210 feat: added user lockout mechanism
  apps/api/src/app/auth/e2e/login.e2e.ts
  apps/api/src/app/auth/usecases/login/login.usecase.ts
  libs/dal/src/repositories/user/user.entity.ts
  libs/dal/src/repositories/user/user.schema.ts
Labels: @novu/api, @novu/dal

#2257 Nv 1202 username enumeration
  apps/api/src/app/auth/e2e/login.e2e.ts
  apps/api/src/app/auth/usecases/login/login.usecase.ts
  apps/api/src/app/auth/usecases/password-reset-request/password-reset-request.usecase.ts
  apps/web/cypress/tests/auth.spec.ts
  apps/web/src/components/auth/LoginForm.tsx
Labels: @novu/api, @novu/web

#2256 fix: small fixes for different bugs
  .cspell.json
  apps/api/src/app/events/dtos/test-email-request.dto.ts
  apps/api/src/app/events/e2e/send-message-email.e2e.ts
  apps/api/src/app/events/usecases/send-message/send-message-email.usecase.ts
  apps/api/src/app/events/usecases/send-message/send-message.command.ts
  apps/api/src/app/events/usecases/send-message/test-send-email.usecase.ts
  apps/web/src/pages/templates/editor/Preview.tsx
  apps/web/src/pages/templates/editor/PreviewMobile.tsx
  apps/web/src/pages/templates/editor/PreviewWeb.tsx
  libs/shared/src/entities/message-template/message-template.interface.ts
Labels: @novu/api, @novu/web, @novu/shared

#2227 docs(notification-center): added docs for the web component, angular/vue wrappers, custom styling
  docs/docs/notification-center/angular-component.md
  docs/docs/notification-center/custom-styling.md
  docs/docs/notification-center/getting-started.md
  docs/docs/notification-center/iframe-embed.md
  docs/docs/notification-center/react-components.md
  docs/docs/notification-center/vue-component.md
  docs/docs/notification-center/web-component.md
  docs/docs/overview/quick-start.md
Labels: documentation

#2265 test: template editor features
  apps/web/cypress/tests/notification-editor/create-notification.spec.ts
  apps/web/src/components/templates/EditorPreviewSwitch.tsx
  apps/web/src/components/templates/email-editor/TestSendEmail.tsx
  apps/web/src/components/templates/email-editor/variables-management/VarItem.tsx
  apps/web/src/components/templates/email-editor/variables-management/VarItemsDropdown.tsx
  apps/web/src/components/templates/email-editor/variables-management/VarLabel.tsx
  apps/web/src/pages/templates/editor/Preview.tsx
Labels: @novu/web

#2264 fix: unhandled no template steps scenario
  apps/api/src/app/events/e2e/trigger-event.e2e.ts
  apps/api/src/app/events/usecases/trigger-event/trigger-event.usecase.ts
Labels: @novu/api

#2261 Remove unused serverless package
  apps/api/package.json
  package.json
  pnpm-lock.yaml
Labels: @novu/api

#2273 Fixing a possible severe security vulnerability.
  apps/web/src/pages/quick-start/components/OnboardingSteps.tsx
Labels: @novu/web, community

#2276 feat: remove pii from sentry reports
  apps/api/src/app.module.ts
  apps/api/src/app/shared/framework/user.decorator.ts
Labels: @novu/api

#2259 feat(api): add use case to map trigger recipients that include topics
  apps/api/src/.env.development
  apps/api/src/.env.production
  apps/api/src/.env.test
  apps/api/src/.example.env
  apps/api/src/app/events/dtos/trigger-event-request.dto.ts
  apps/api/src/app/events/events.controller.ts
  apps/api/src/app/events/events.module.ts
  apps/api/src/app/events/usecases/index.ts
  apps/api/src/app/events/usecases/map-trigger-recipients/index.ts
  apps/api/src/app/events/usecases/map-trigger-recipients/map-trigger-recipients.command.ts
  apps/api/src/app/events/usecases/map-trigger-recipients/map-trigger-recipients.e2e.ts
  apps/api/src/app/events/usecases/map-trigger-recipients/map-trigger-recipients.use-case.ts
  apps/api/src/app/events/usecases/trigger-event/trigger-event.usecase.ts
  apps/api/src/app/logs/usecases/create-log/create-log.command.ts
  apps/api/src/app/logs/usecases/create-log/index.ts
  apps/api/src/app/logs/usecases/index.ts
  apps/api/src/app/topics/dtos/topic.dto.ts
  apps/api/src/app/topics/types/index.ts
  apps/api/src/config/config.spec.ts
  apps/api/src/config/env-validator.ts
  apps/api/src/config/index.ts
  libs/shared/src/dto/index.ts
  libs/shared/src/dto/topic/index.ts
  libs/shared/src/dto/topic/topic.dto.ts
  libs/shared/src/entities/log/log.enums.ts
  libs/shared/src/index.ts
  libs/shared/src/types/builder/index.ts
  libs/shared/src/types/index.ts
  libs/shared/src/types/topic/index.ts
  libs/testing/src/user.session.ts
  packages/node/src/index.ts
  packages/node/src/lib/events/events.interface.ts
  packages/node/src/lib/topics/topic.interface.ts
Labels: @novu/api, @novu/shared

#2275 fix: reload of preview on change in json input field
  apps/web/src/pages/templates/editor/Preview.tsx
Labels: @novu/web

#2267 feat(api): integrate the map trigger recipients use case in events controller
  apps/api/src/app/events/dtos/trigger-event-request.dto.ts
  apps/api/src/app/events/dtos/trigger-event-to-all-request.dto.ts
  apps/api/src/app/events/events.controller.ts
  apps/api/src/app/events/usecases/map-trigger-recipients/map-trigger-recipients.e2e.ts
  apps/api/src/app/events/usecases/map-trigger-recipients/map-trigger-recipients.use-case.ts
  apps/api/src/config/env-validator.ts
  packages/node/src/lib/events/events.interface.ts
Labels: @novu/api

#2272 fix: added roles to the divs having onclick and onkeyup functions issue #2243
  apps/web/src/components/templates/email-editor/EmailMessageEditor.tsx
  apps/web/src/components/templates/email-editor/TextRowContent.tsx
  apps/web/src/components/templates/in-app-editor/content/Content.tsx
  apps/web/src/pages/quick-start/QuickStartPage.tsx
Labels: @novu/web, community

#2281 Change the empty state copy for the URL for button
  apps/web/src/components/templates/email-editor/ButtonRowContent.tsx
Labels: @novu/web, community

#2286 fix(infra): resolve some deepsource javascript issues
  apps/api/src/app/change/usecases/create-change.spec.ts
  apps/api/src/app/content-templates/usecases/parse-preview/preview-email.usecase.ts
  apps/api/src/app/events/services/storage-helper-service/storage-helper.service.spec.ts
  apps/web/cypress/plugins/index.ts
  libs/embed/tools/gh-pages-publish.ts
  packages/headless/src/lib/headless.service.test.ts
  packages/notification-center/src/i18n/lang.ts
Labels: @novu/api, @novu/web, @novu/notification-center

#2270 fix: adds color to link in modal
  apps/web/src/pages/integrations/components/ConnectIntegrationForm.tsx
Labels: @novu/web, community

#2240 use-case seen cache poc
  .idea/codeStyles/Project.xml
  apps/api/package.json
  apps/api/src/app/events/usecases/send-message/send-message-in-app.usecase.ts
  apps/api/src/app/messages/usecases/remove-message/remove-message.usecase.ts
  apps/api/src/app/shared/interceptors/cache-interceptor.spec.ts
  apps/api/src/app/shared/interceptors/cached.interceptor.ts
  apps/api/src/app/shared/interceptors/index.ts
  apps/api/src/app/shared/interceptors/invalidate-cache.interceptor.ts
  apps/api/src/app/shared/interceptors/shared-cache.spec.ts
  apps/api/src/app/shared/interceptors/shared-cache.ts
  apps/api/src/app/shared/services/cache/cache-service.spec.ts
  apps/api/src/app/shared/services/cache/cache.service.ts
  apps/api/src/app/shared/services/cache/cache.ts
  apps/api/src/app/shared/services/cache/index.ts
  apps/api/src/app/shared/shared.module.ts
  apps/api/src/app/widgets/e2e/get-unseen-count.e2e.ts
  apps/api/src/app/widgets/usecases/get-feed-count/get-feed-count.usecase.ts
  apps/api/src/app/widgets/usecases/get-notifications-feed/get-notifications-feed.usecase.ts
  apps/api/src/app/widgets/usecases/mark-all-message-as-seen/mark-all-message-as-seen.command.ts
  apps/api/src/app/widgets/usecases/mark-all-message-as-seen/mark-all-message-as-seen.usecase.ts
  apps/api/src/app/widgets/usecases/mark-message-as/mark-message-as.usecase.ts
  apps/api/src/app/widgets/widgets.controller.ts
  libs/dal/src/repositories/message/message.repository.ts
  pnpm-lock.yaml
Labels: @novu/api, @novu/dal

#2263 Cache trigger subscriber dal query
  apps/api/src/app/events/usecases/send-message/send-message-chat.usecase.ts
  apps/api/src/app/events/usecases/send-message/send-message-email.usecase.ts
  apps/api/src/app/events/usecases/send-message/send-message-in-app.usecase.ts
  apps/api/src/app/events/usecases/send-message/send-message-push.usecase.ts
  apps/api/src/app/events/usecases/send-message/send-message-sms.usecase.ts
  apps/api/src/app/events/usecases/send-message/send-message.base.ts
  apps/api/src/app/shared/interceptors/cache-interceptor.spec.ts
  apps/api/src/app/shared/interceptors/invalidate-cache.interceptor.ts
  apps/api/src/app/shared/interceptors/shared-cache.spec.ts
  apps/api/src/app/shared/interceptors/shared-cache.ts
  apps/api/src/app/shared/services/cache/cache.ts
  apps/api/src/app/subscribers/usecases/create-subscriber/create-subscriber.usecase.ts
  apps/api/src/app/subscribers/usecases/remove-subscriber/remove-subscriber.usecase.ts
  apps/api/src/app/subscribers/usecases/update-subscriber-channel/update-subscriber-channel.usecase.ts
  apps/api/src/app/subscribers/usecases/update-subscriber/update-subscriber.usecase.ts
Labels: @novu/api

#2266 feat: add trigger notification template cache
  apps/api/src/app/change/usecases/promote-notification-template-change/promote-notification-template-change.ts
  apps/api/src/app/events/e2e/process-subscriber.e2e.ts
  apps/api/src/app/events/usecases/process-subscriber/process-subscriber.usecase.ts
  apps/api/src/app/events/usecases/send-message/send-message.usecase.ts
  apps/api/src/app/notification-template/e2e/change-template-status.e2e.ts
  apps/api/src/app/notification-template/usecases/change-template-active-status/change-template-active-status.usecase.ts
  apps/api/src/app/notification-template/usecases/create-notification-template/create-notification-template.usecase.ts
  apps/api/src/app/notification-template/usecases/get-notification-template/get-notification-template.usecase.ts
  apps/api/src/app/notification-template/usecases/update-notification-template/update-notification-template.usecase.ts
  apps/api/src/app/shared/services/cache/cache.ts
  apps/api/src/app/subscribers/usecases/update-subscriber-preference/update-subscriber-preference.usecase.ts
  apps/api/src/app/widgets/e2e/get-unseen-count.e2e.ts
  libs/dal/src/repositories/notification-template/notification-template.repository.ts
  libs/testing/src/notification-template.service.ts
Labels: @novu/api, @novu/dal

#2271 Nv 1353 cache user dal query
  apps/api/src/app/auth/services/auth.service.ts
  apps/api/src/app/auth/usecases/password-reset-request/password-reset-request.usecase.ts
  apps/api/src/app/auth/usecases/password-reset/password-reset.usecase.ts
  apps/api/src/app/shared/interceptors/cached.interceptor.ts
  apps/api/src/app/shared/interceptors/invalidate-cache.interceptor.ts
  apps/api/src/app/shared/interceptors/shared-cache.spec.ts
  apps/api/src/app/shared/interceptors/shared-cache.ts
  apps/api/src/app/shared/services/cache/cache.service.ts
  apps/api/src/app/shared/services/cache/cache.ts
  apps/api/src/app/user/usecases/update-on-boarding/update-on-boarding.usecase.ts
Labels: @novu/api

#2285 feat: add integration cache on trigger flow
  apps/api/src/app/events/e2e/trigger-event.e2e.ts
  apps/api/src/app/events/usecases/send-message/send-message-chat.usecase.ts
  apps/api/src/app/events/usecases/send-message/send-message-email.usecase.ts
  apps/api/src/app/events/usecases/send-message/send-message-in-app.usecase.ts
  apps/api/src/app/events/usecases/send-message/send-message-push.usecase.ts
  apps/api/src/app/events/usecases/send-message/send-message-sms.usecase.ts
  apps/api/src/app/events/usecases/send-message/send-message.base.ts
  apps/api/src/app/integrations/usecases/create-integration/create-integration.usecase.ts
  apps/api/src/app/integrations/usecases/remove-integration/remove-integration.usecase.ts
  apps/api/src/app/integrations/usecases/update-integration/update-integration.usecase.ts
  apps/api/src/app/shared/interceptors/cache-interceptor.spec.ts
  apps/api/src/app/shared/interceptors/shared-cache.ts
  apps/api/src/app/shared/services/cache/cache.service.ts
  apps/api/src/app/shared/services/cache/cache.ts
  apps/api/src/config/env-validator.ts
Labels: @novu/api

#2282 fix(api): topic flows should use external subscriber id (user's custom id)
  apps/api/src/app/events/usecases/map-trigger-recipients/map-trigger-recipients.e2e.ts
  apps/api/src/app/events/usecases/map-trigger-recipients/map-trigger-recipients.use-case.ts
  apps/api/src/app/subscribers/usecases/index.ts
  apps/api/src/app/subscribers/usecases/search-by-external-subscriber-ids/index.ts
  apps/api/src/app/subscribers/usecases/search-by-external-subscriber-ids/search-by-external-subscriber-ids.command.ts
  apps/api/src/app/subscribers/usecases/search-by-external-subscriber-ids/search-by-external-subscriber-ids.spec.ts
  apps/api/src/app/subscribers/usecases/search-by-external-subscriber-ids/search-by-external-subscriber-ids.use-case.ts
  apps/api/src/app/topics/dtos/add-subscribers.dto.ts
  apps/api/src/app/topics/dtos/remove-subscribers.dto.ts
  apps/api/src/app/topics/dtos/topic-subscribers.dto.ts
  apps/api/src/app/topics/dtos/topic.dto.ts
  apps/api/src/app/topics/e2e/add-subscribers.e2e.ts
  apps/api/src/app/topics/e2e/create-topic.e2e.ts
  apps/api/src/app/topics/e2e/filter-topics.e2e.ts
  apps/api/src/app/topics/e2e/get-topic.e2e.ts
  apps/api/src/app/topics/e2e/remove-subscribers.e2e.ts
  apps/api/src/app/topics/topics.controller.ts
  apps/api/src/app/topics/topics.module.ts
  apps/api/src/app/topics/types/index.ts
  apps/api/src/app/topics/use-cases/add-subscribers/add-subscribers.command.ts
  apps/api/src/app/topics/use-cases/add-subscribers/add-subscribers.use-case.ts
  apps/api/src/app/topics/use-cases/create-topic-subscribers/create-topic-subscribers.command.ts
  apps/api/src/app/topics/use-cases/create-topic-subscribers/create-topic-subscribers.use-case.ts
  apps/api/src/app/topics/use-cases/create-topic-subscribers/index.ts
  apps/api/src/app/topics/use-cases/create-topic/create-topic.command.ts
  apps/api/src/app/topics/use-cases/create-topic/create-topic.use-case.ts
  apps/api/src/app/topics/use-cases/filter-topics/filter-topics.command.ts
  apps/api/src/app/topics/use-cases/filter-topics/filter-topics.use-case.ts
  apps/api/src/app/topics/use-cases/get-topic-subscribers/get-topic-subscribers.command.ts
  apps/api/src/app/topics/use-cases/get-topic-subscribers/get-topic-subscribers.use-case.ts
  apps/api/src/app/topics/use-cases/get-topic/get-topic.command.ts
  apps/api/src/app/topics/use-cases/get-topic/get-topic.use-case.ts
  apps/api/src/app/topics/use-cases/index.ts
  apps/api/src/app/topics/use-cases/remove-subscribers/remove-subscribers.command.ts
  apps/api/src/app/topics/use-cases/remove-subscribers/remove-subscribers.use-case.ts
  libs/dal/src/repositories/base-repository.ts
  libs/dal/src/repositories/environment/index.ts
  libs/dal/src/repositories/environment/types.ts
  libs/dal/src/repositories/organization/index.ts
  libs/dal/src/repositories/organization/types.ts
  libs/dal/src/repositories/subscriber/index.ts
  libs/dal/src/repositories/subscriber/subscriber.entity.ts
  libs/dal/src/repositories/subscriber/subscriber.repository.ts
  libs/dal/src/repositories/subscriber/subscriber.schema.ts
  libs/dal/src/repositories/subscriber/types.ts
  libs/dal/src/repositories/topic/topic-subscribers.entity.ts
  libs/dal/src/repositories/topic/topic-subscribers.repository.ts
  libs/dal/src/repositories/topic/topic-subscribers.schema.ts
  libs/dal/src/repositories/topic/topic.entity.ts
  libs/dal/src/repositories/topic/topic.repository.ts
  libs/dal/src/repositories/topic/topic.schema.ts
  libs/dal/src/repositories/topic/types.ts
  libs/shared/src/dto/index.ts
  libs/shared/src/dto/subscriber/index.ts
  libs/shared/src/dto/subscriber/subscriber.dto.ts
  libs/shared/src/dto/topic/topic.dto.ts
  libs/shared/src/types/index.ts
  libs/shared/src/types/subscriber/index.ts
  libs/shared/src/types/topic/index.ts
Labels: @novu/api, @novu/dal, @novu/shared

#2284 feat(api): add endpoint to rename the topic
  apps/api/src/app/topics/dtos/index.ts
  apps/api/src/app/topics/dtos/rename-topic.dto.ts
  apps/api/src/app/topics/e2e/rename-topic.e2e.ts
  apps/api/src/app/topics/topics.controller.ts
  apps/api/src/app/topics/use-cases/index.ts
  apps/api/src/app/topics/use-cases/rename-topic/index.ts
  apps/api/src/app/topics/use-cases/rename-topic/rename-topic.command.ts
  apps/api/src/app/topics/use-cases/rename-topic/rename-topic.use-case.ts
  libs/dal/src/repositories/topic/topic.repository.ts
Labels: @novu/api, @novu/dal

#2302 feat: added infinite api scroll for vercel projects
  apps/api/src/app/partner-integrations/partner-integrations.controller.ts
  apps/api/src/app/partner-integrations/usecases/get-vercel-projects/get-vercel-projects.command.ts
  apps/api/src/app/partner-integrations/usecases/get-vercel-projects/get-vercel-projects.usecase.ts
  apps/web/src/api/vercel-integration.ts
  apps/web/src/components/auth/LoginForm.tsx
  apps/web/src/components/auth/PasswordResetRequestForm.tsx
  apps/web/src/components/layout/components/PartnerIntegrationLayout.tsx
  apps/web/src/components/partner-integrations/vercel/LinkMoreProjectRow.tsx
  apps/web/src/components/partner-integrations/vercel/LinkProjectContainer.tsx
  apps/web/src/components/partner-integrations/vercel/ProjectRow.tsx
  apps/web/src/design-system/select/Select.tsx
  apps/web/src/pages/auth/PasswordResetPage.tsx
Labels: @novu/api, @novu/web

#2283 feat(api): add tests for triggering a event to a single topic
  apps/api/src/app/events/dtos/trigger-event-request.dto.ts
  apps/api/src/app/events/e2e/trigger-event-topic.e2e.ts
Labels: @novu/api

#2306 feat(api): test suite for multiple payloads and multiple subscribers
  apps/api/src/app/events/e2e/trigger-event-topic.e2e.ts
Labels: @novu/api

#2309 feat(api): when adding subscribers provide succeeded and failed subsc
  apps/api/src/app/events/e2e/trigger-event-topic.e2e.ts
  apps/api/src/app/topics/e2e/add-subscribers.e2e.ts
  apps/api/src/app/topics/e2e/filter-topics.e2e.ts
  apps/api/src/app/topics/e2e/rename-topic.e2e.ts
  apps/api/src/app/topics/topics.controller.ts
  apps/api/src/app/topics/use-cases/add-subscribers/add-subscribers.use-case.ts
Labels: @novu/api

#2298 fix: pushes pagination to bottom
  apps/web/src/design-system/table/Table.tsx
Labels: @novu/web, community

#2303 fix: no return in map function
  apps/api/src/app/shared/helpers/content.service.ts
  apps/web/src/components/activity/ExecutionDetailsWebhookFeedback.tsx
  apps/web/src/pages/integrations/IntegrationsStorePage.tsx
Labels: @novu/api, @novu/web, community

#2311 feat: upgrade cypress version to 12
  .github/workflows/reusable-web-e2e.yml
  apps/web/cypress/tests/environment-switch.spec.ts
  apps/web/cypress/tests/notification-editor/steps-actions.spec.ts
  apps/web/package.json
  pnpm-lock.yaml
Labels: @novu/web

#2296 cache ttl variant
  apps/api/src/app/shared/services/cache/cache.service.ts
Labels: @novu/api

#2255 chore(notification-center): umd bundle deployment for nc web component
  .github/workflows/dev-deploy-web-component.yml
  .github/workflows/prod-deploy-web-component.yml
  .github/workflows/reusable-notification-center.yml
  .github/workflows/test-notification-center.yml
  packages/notification-center/netlify.toml
  packages/notification-center/package.json
  packages/notification-center/rollup.config.mjs
  pnpm-lock.yaml
Labels: @novu/notification-center

#2319 Fix notification template invalidation
  apps/api/src/app/events/usecases/process-subscriber/process-subscriber.usecase.ts
  apps/api/src/app/events/usecases/trigger-event/trigger-event.usecase.ts
  apps/api/src/app/notification-template/notification-template.controller.ts
  apps/api/src/app/notification-template/usecases/update-notification-template/update-notification-template.command.ts
  apps/api/src/app/notification-template/usecases/update-notification-template/update-notification-template.usecase.ts
  apps/api/src/app/shared/interceptors/shared-cache.ts
Labels: @novu/api

#2293 feat(notification-center-vue): allow to use custom notification bell button
  examples/vue-notification-center-example/src/App.vue
  examples/vue-notification-center-example/src/components/NotificationCenterWrapper.vue
  examples/vue-notification-center-example/src/main.ts
  packages/notification-center-vue/package.json
  packages/notification-center-vue/src/index.ts
  packages/notification-center-vue/src/lib/index.ts
  packages/notification-center-vue/src/lib/notification-center-component/BellButton.vue
  packages/notification-center-vue/src/lib/notification-center-component/NotificationCenterComponent.vue
  packages/notification-center-vue/src/lib/notification-center-component/index.ts
  packages/notification-center-vue/src/lib/notification-center-component/utils.ts
  packages/notification-center-vue/src/noop.d.ts
  packages/notification-center-vue/src/vue-shim.d.ts
  packages/notification-center-vue/tsconfig.config.json
  packages/notification-center-vue/tsconfig.json
  packages/notification-center-vue/tsconfig.node.json
  packages/notification-center/src/components/notification-bell/NotificationBell.tsx
  packages/notification-center/src/components/notification-center-web-component/index.ts
  packages/notification-center/src/components/notification-center-web-component/notification-center-content-component.tsx
  packages/notification-center/src/components/notification-center/components/notification-item/NotificationListItem.tsx
  packages/notification-center/src/components/popover-notification-center/PopoverNotificationCenter.tsx
  packages/notification-center/src/hooks/index.ts
  packages/notification-center/src/hooks/use-unseen-count-controller.hook.ts
  packages/notification-center/src/index.ts
  packages/notification-center/src/store/novu-theme-provider.context.tsx
  packages/notification-center/src/store/styles/styles-provider.tsx
  packages/notification-center/src/utils/defaultTheme.ts
  packages/notification-center/src/utils/styles.ts
  pnpm-lock.yaml
Labels: @novu/notification-center, @novu/notification-center-vue

#2318 docs(notification-center-vue): updated the docs about how to use the vue notification center component
  docs/docs/notification-center/vue-component.md
Labels: documentation, @novu/notification-center

#2322 fix: redis parser error on ci tests
  apps/api/src/app/shared/services/cache/cache.service.ts
Labels: @novu/api

#2320 Reduce cypress flakiness test
  .github/workflows/reusable-web-e2e.yml
  apps/web/cypress.config.ts
  apps/web/cypress/tests/changes.spec.ts
  apps/web/cypress/tests/notification-editor/create-notification.spec.ts
  apps/web/cypress/tests/notification-editor/debugging-test-trigger.spec.ts
  apps/web/cypress/tests/notification-editor/index.ts
  apps/web/cypress/tests/notification-editor/main-functionality.spec.ts
  apps/web/cypress/tests/notification-editor/steps-actions.spec.ts
  apps/web/package.json
  pnpm-lock.yaml
Labels: @novu/web

#2292 [NV-1367] (JS-0050) Avoid use of == and != issue#2287
  apps/api/src/app/widgets/widgets.controller.ts
  apps/web/src/components/activity/helpers.ts
  apps/web/src/components/invites/MembersTable.tsx
  apps/web/src/components/partner-integrations/vercel/ProjectRow.tsx
Labels: @novu/api, @novu/web, community

#2323 feat: add exception throw on invalid subscriber id
  apps/api/src/app/subscribers/e2e/get-unseen-count.e2e.ts
  apps/api/src/app/widgets/usecases/get-feed-count/get-feed-count.usecase.ts
Labels: @novu/api

#2308 feat: add cache documentation
  docs/docs/overview/docker-deploy.md
Labels: documentation

#2327 Notification template actions accessible with api key
  apps/api/src/app/auth/framework/roles.guard.ts
  apps/api/src/app/notification-template/e2e/create-notification-templates.e2e.ts
  apps/api/src/app/notification-template/notification-template.controller.ts
Labels: @novu/api

#2324 feat: widget and embed styles prop (NV-1385)
  apps/widget/src/components/notification-center/NotificationCenterWidget.tsx
  docs/docs/notification-center/iframe-embed.md
  libs/embed/src/embed.ts
  packages/notification-center/src/components/notification-center-web-component/notification-center-component.types.ts
  packages/notification-center/src/components/novu-provider/NovuProvider.tsx
  packages/notification-center/src/index.ts
  packages/notification-center/src/store/styles/styles-provider.tsx
  packages/notification-center/src/store/styles/styles-provider.types.ts
  packages/notification-center/src/utils/styles.ts
Labels: documentation, @novu/notification-center

#2328 feat: moved token to auth header
  .cspell.json
  apps/ws/src/socket/ws.gateway.ts
  packages/notification-center/src/store/socket/use-socket-controller.ts
Labels: @novu/ws, @novu/notification-center

#2329 fix(api): topics feature type and tests nits
  apps/api/src/app/events/e2e/trigger-event-topic.e2e.ts
  apps/api/src/app/topics/e2e/create-topic.e2e.ts
  apps/api/src/app/topics/e2e/filter-topics.e2e.ts
  apps/api/src/app/topics/e2e/get-topic.e2e.ts
  apps/api/src/app/topics/e2e/remove-subscribers.e2e.ts
  apps/api/src/app/topics/e2e/rename-topic.e2e.ts
  apps/api/src/app/topics/topics.controller.ts
  apps/api/src/app/topics/use-cases/get-topic/get-topic.use-case.ts
  packages/node/src/lib/topics/topic.interface.ts
  packages/node/src/lib/topics/topics.spec.ts
  packages/node/src/lib/topics/topics.ts
Labels: @novu/api

#2321 feat: add store notification content by env variable
  apps/api/src/.env.development
  apps/api/src/.env.production
  apps/api/src/.env.test
  apps/api/src/.example.env
  apps/api/src/app/events/usecases/send-message/send-message-chat.usecase.ts
  apps/api/src/app/events/usecases/send-message/send-message-email.usecase.ts
  apps/api/src/app/events/usecases/send-message/send-message-in-app.usecase.ts
  apps/api/src/app/events/usecases/send-message/send-message-push.usecase.ts
  apps/api/src/app/events/usecases/send-message/send-message-sms.usecase.ts
  apps/api/src/app/events/usecases/send-message/send-message.base.ts
  apps/api/src/app/execution-details/usecases/create-execution-details/create-execution-details.usecase.ts
  apps/api/src/config/env-validator.ts
Labels: @novu/api

#2332 Source map for sentry
  .cspell.json
  .github/workflows/dev-deploy-api.yml
  .github/workflows/prod-deploy-api.yml
  .github/workflows/reusable-web-e2e.yml
  apps/api/tsconfig.json
  apps/api/webpack.config.js
Labels: @novu/api

#2316 feat: migrate to tanstack query v4
  apps/web/cypress/tests/notification-editor/main-functionality.spec.ts
  apps/web/cypress/tests/notification-editor/steps-actions.spec.ts
  apps/web/cypress/tests/notifications.spec.ts
  apps/web/cypress/tests/organization-switch.spec.ts
  apps/web/package.json
  apps/web/src/App.tsx
  apps/web/src/api/hooks/integrations/use-active-integrations.ts
  apps/web/src/api/hooks/integrations/use-integrations.ts
  apps/web/src/api/hooks/use-environment-changes.ts
  apps/web/src/api/hooks/use-subscribers.ts
  apps/web/src/api/hooks/use-templates.ts
  apps/web/src/api/hooks/use-vercel-integration.ts
  apps/web/src/components/activity/ExecutionDetailsModal.tsx
  apps/web/src/components/auth/CreateOrganizationForm.tsx
  apps/web/src/components/auth/LoginForm.tsx
  apps/web/src/components/auth/PasswordResetForm.tsx
  apps/web/src/components/auth/PasswordResetRequestForm.tsx
  apps/web/src/components/auth/SignUpForm.tsx
  apps/web/src/components/auth/use-accept-invite.hook.ts
  apps/web/src/components/changes/ChangesCountBadge.tsx
  apps/web/src/components/changes/ChangesTableLayout.tsx
  apps/web/src/components/layout/components/OrganizationSelect.tsx
  apps/web/src/components/partner-integrations/vercel/LinkProjectContainer.tsx
  apps/web/src/components/partner-integrations/vercel/ProjectRow.tsx
  apps/web/src/components/templates/ExecutionDetailsModalWrapper.tsx
  apps/web/src/components/templates/TestWorkflowModal.cy.tsx
  apps/web/src/components/templates/TestWorkflowModal.tsx
  apps/web/src/components/templates/email-editor/TestSendEmail.tsx
  apps/web/src/components/templates/in-app-editor/FeedItems.tsx
  apps/web/src/components/templates/in-app-editor/TemplateInAppEditor.tsx
  apps/web/src/components/templates/notification-setting-form/NotificationSettingsForm.tsx
  apps/web/src/components/templates/use-status-change-controller.hook.ts
  apps/web/src/components/templates/use-template-controller.hook.ts
  apps/web/src/components/templates/use-template.fetcher.ts
  apps/web/src/pages/activities/ActivitiesPage.tsx
  apps/web/src/pages/activities/components/ActivityGraph.tsx
  apps/web/src/pages/activities/components/ActivityStatistics.cy.tsx
  apps/web/src/pages/activities/components/ActivityStatistics.tsx
  apps/web/src/pages/auth/InvitationPage.tsx
  apps/web/src/pages/changes/PromoteChangesPage.tsx
  apps/web/src/pages/integrations/components/ConnectIntegrationForm.cy.tsx
  apps/web/src/pages/integrations/components/ConnectIntegrationForm.tsx
  apps/web/src/pages/invites/MembersInvitePage.tsx
  apps/web/src/pages/quick-start/QuickStartPage.tsx
  apps/web/src/pages/quick-start/components/OnboardingSteps.tsx
  apps/web/src/pages/settings/tabs/ApiKeysCard.cy.tsx
  apps/web/src/pages/settings/tabs/ApiKeysCard.tsx
  apps/web/src/pages/settings/tabs/BrandingForm.cy.tsx
  apps/web/src/pages/settings/tabs/BrandingForm.tsx
  apps/web/src/pages/settings/tabs/components/Regenerate.tsx
  apps/web/src/pages/settings/tabs/components/Security.tsx
  apps/web/src/pages/templates/TemplatesListPage.tsx
  apps/web/src/pages/templates/editor/Preview.tsx
  apps/web/src/pages/templates/editor/TemplateEditorPage.tsx
  apps/web/src/store/use-auth-controller.ts
  apps/web/src/store/use-env-controller.ts
  pnpm-lock.yaml
Labels: @novu/web

#2337 feat: add new webhook filter on the dal scheme
  apps/api/src/app/shared/dtos/notification-step.ts
  libs/dal/src/repositories/notification-template/notification-template.entity.ts
  libs/dal/src/repositories/notification-template/notification-template.schema.ts
Labels: @novu/api, @novu/dal

#2335 fix: so nodemailer can be used without user and password
  providers/nodemailer/src/lib/nodemailer.provider.spec.ts
  providers/nodemailer/src/lib/nodemailer.provider.ts
Labels: providers

#2336 feat: add socket event notification_received
  apps/api/src/app/events/usecases/send-message/send-message-in-app.usecase.ts
Labels: @novu/api

#2331 chore(docs): add topics documentation
  docs/docs/platform/digest.md
  docs/docs/platform/environments.md
  docs/docs/platform/preferences.md
  docs/docs/platform/topics.md
Labels: documentation

#2350 Nv 1400 typeerror cannot read properties of null
  apps/api/src/app/change/usecases/promote-notification-template-change/promote-notification-template-change.ts
  apps/web/src/components/templates/in-app-editor/EnableAvatarSwitch.tsx
  apps/web/src/components/templates/in-app-editor/TemplateInAppEditor.tsx
  apps/web/src/components/templates/notification-setting-form/NotificationSettingsForm.tsx
  apps/web/src/components/widget/ActionBlockContainer.tsx
  apps/web/src/components/widget/AvatarContainer.styles.ts
  apps/web/src/components/widget/AvatarContainer.tsx
  apps/web/src/components/widget/InAppWidgetPreview.tsx
  apps/web/src/components/workflow/FlowEditor.tsx
  apps/web/src/components/workflow/edge-types/AddNodeEdge.tsx
  apps/web/src/components/workflow/node-types/AddNode.tsx
  apps/web/src/pages/changes/PromoteChangesPage.tsx
  apps/web/src/pages/templates/workflow/DelayMetadata.tsx
  apps/web/src/pages/templates/workflow/DigestMetadata.tsx
  apps/web/src/pages/templates/workflow/WorkflowEditorPage.tsx
Labels: @novu/api, @novu/web

#2347 Fix: [nv-1368] template-literals non-string type bug
  apps/api/src/app/shared/services/queue/queue.service.ts
  apps/web/src/pages/activities/services/chart-bar/option.service.ts
  apps/ws/src/shared/queue/queue.service.ts
  libs/embed/src/embed.ts
  packages/client/src/api/api.service.ts
Labels: @novu/api, @novu/web, @novu/ws, community

#2338 feat: add webhook filter support
  apps/web/src/pages/templates/filter/FilterModal.tsx
Labels: @novu/web

#2361 Add new auth events
  apps/api/src/app/auth/services/auth.service.ts
  apps/api/src/app/auth/usecases/login/login.usecase.ts
  apps/api/src/app/organization/usecases/create-organization/create-organization.usecase.ts
Labels: @novu/api

#2339 feat: add webhook filter support in the api
  apps/api/src/app/events/usecases/send-message/send-message.usecase.ts
  apps/api/src/app/events/usecases/trigger-event/message-filter.matcher.ts
Labels: @novu/api

#2169 fix: nested and array vars in trigger snippet and test workflow
  apps/api/src/app/notification-template/usecases/create-notification-template/create-notification-template.usecase.ts
  apps/api/src/app/notification-template/usecases/update-notification-template/update-notification-template.usecase.ts
  apps/api/src/app/shared/helpers/content.service.spec.ts
  apps/api/src/app/shared/helpers/content.service.ts
  apps/web/cypress/tests/notification-editor/debugging-test-trigger.spec.ts
  apps/web/src/components/activity/ExecutionDetailTrigger.tsx
  apps/web/src/components/templates/TestWorkflowModal.cy.tsx
  apps/web/src/components/templates/TestWorkflowModal.tsx
  apps/web/src/components/templates/TriggerSnippetTabs.tsx
  apps/web/src/components/templates/VariableManager.tsx
  apps/web/src/components/templates/email-editor/variables-management/VarItemsDropdown.tsx
  apps/web/src/hooks/use-process-variables.ts
  apps/web/src/hooks/use-variables-manager.ts
  libs/dal/src/repositories/notification-template/notification-template.entity.ts
  libs/dal/src/repositories/notification-template/notification-template.schema.ts
  libs/shared/src/consts/handlebar-helpers/getTemplateVariables.ts
  libs/shared/src/consts/handlebar-helpers/index.ts
  libs/shared/src/entities/notification-template/notification-template.interface.ts
Labels: @novu/api, @novu/web, @novu/dal, @novu/shared

#2362 feat: add scope request for events controller
  apps/api/src/app/events/events.controller.ts
Labels: @novu/api

#2364 scope requests
  apps/api/src/app/events/events.controller.ts
Labels: @novu/api

#2368 fix: pass credentials to the provider
  apps/api/src/app/integrations/usecases/get-webhook-support-status/get-webhook-support-status.usecase.ts
  apps/webhook/src/webhooks/usecases/webhook/webhook.usecase.ts
Labels: @novu/api, @novu/webhook

#2367 fix: change factory initiation
  .cspell.json
  .github/workflows/prod-deploy-api.yml
  apps/api/src/app/events/usecases/run-job/run-job.usecase.ts
  apps/api/src/app/events/usecases/send-message/send-message-chat.usecase.ts
  apps/api/src/app/events/usecases/send-message/send-message-email.usecase.ts
  apps/api/src/app/events/usecases/send-message/send-message-push.usecase.ts
  apps/api/src/app/events/usecases/send-message/send-message-sms.usecase.ts
Labels: @novu/api

#2369 sentry initialization
  .cspell.json
  .github/workflows/prod-deploy-api.yml
  apps/api/src/.env.production
  apps/api/src/app/events/usecases/run-job/run-job.usecase.ts
Labels: @novu/api

#2373 merge latest to main
  .github/workflows/test-core.yml
  docs/docs/platform/topics.md
  examples/vue-notification-center-example/package.json
  packages/notification-center/src/components/notification-center/components/notification-item/NotificationListItem.tsx
Labels: documentation, @novu/notification-center

#2340 Nv 1390/implement webhook call functionality and retries
  apps/api/package.json
  apps/api/src/app/events/usecases/trigger-event/message-filter.matcher.spec.ts
  apps/api/src/app/events/usecases/trigger-event/message-filter.matcher.ts
  pnpm-lock.yaml
Labels: @novu/api

#2374 fix: fix errors of reading undefined in var manager
  apps/web/src/hooks/use-variables-manager.ts
Labels: @novu/web

#2345 feat: add hmac encryption in body
  apps/api/src/app/events/usecases/send-message/send-message.usecase.ts
  apps/api/src/app/events/usecases/trigger-event/message-filter.matcher.spec.ts
  apps/api/src/app/events/usecases/trigger-event/message-filter.matcher.ts
  pnpm-lock.yaml
Labels: @novu/api

#2363 fix: should not save system variables to trigger
  apps/api/src/app/shared/helpers/content.service.spec.ts
  apps/api/src/app/shared/helpers/content.service.ts
Labels: @novu/api

#2380 fix: set sns as supported
  README.md
Labels: community

#2386 fix(web): the email editor brand logo issue
  apps/web/src/components/templates/email-editor/EmailMessageEditor.tsx
Labels: @novu/web

#2384 fix(ws|webhook): socket versions match
  apps/webhook/package.json
  apps/ws/package.json
  packages/headless/package.json
  pnpm-lock.yaml
Labels: @novu/webhook, @novu/ws

#2342 Nv 1239 bug report unable to remove cta buttons
  apps/api/src/app/message-template/usecases/update-message-template/update-message-template.usecase.ts
  apps/web/cypress/tests/notification-editor/main-functionality.spec.ts
  apps/web/src/components/templates/use-template-controller.hook.ts
  apps/web/src/components/widget/ActionBlockContainer.tsx
  libs/shared/src/entities/message-template/message-template.interface.ts
Labels: @novu/api, @novu/web, @novu/shared

#2381 docs: rephrased line 20 for better clarity
  docs/docs/home.md
Labels: documentation, community

#2370 fix: change streamToString to streamToBuffer in storage service
  apps/api/src/app/shared/services/storage/storage.service.ts
  providers/emailjs/package.json
  providers/emailjs/src/lib/emailjs.provider.ts
  providers/mandrill/src/lib/mandrill.provider.spec.ts
  providers/mandrill/src/lib/mandrill.provider.ts
  providers/postmark/src/lib/postmark.provider.spec.ts
  providers/postmark/src/lib/postmark.provider.ts
  providers/sendinblue/src/lib/sendinblue.provider.ts
Labels: @novu/api, providers, community, High priority
