Repository novuhq/novu, pull requests merged in 2022-10, with the labels that each got.

#1340 Copyedit the Getting Started Page under Notification Center in Novu Docs Website
  docs/docs/notification-center/getting-started.md
Labels: hacktoberfest-accepted

#1338 [NV-796] - i18n - Sanskrit Support
  docs/docs/notification-center/react-components.md
  packages/notification-center/src/i18n/lang.ts
  packages/notification-center/src/i18n/languages/sa.ts
Labels: hacktoberfest-accepted

#1353 feat: add i18n support for kannada
  docs/docs/notification-center/react-components.md
  packages/notification-center/src/i18n/lang.ts
  packages/notification-center/src/i18n/languages/ka.ts
Labels: hacktoberfest-accepted

#1406 i18n - Tamil Support
  docs/docs/notification-center/react-components.md
  packages/notification-center/src/i18n/lang.ts
  packages/notification-center/src/i18n/languages/ta.ts
Labels: Hacktoberfest, hacktoberfest-accepted

#1402 i18n - Punjabi Support
  docs/docs/notification-center/react-components.md
  packages/notification-center/src/i18n/lang.ts
  packages/notification-center/src/i18n/languages/pu.ts
Labels: Hacktoberfest, hacktoberfest-accepted

#1416 feat: i18n support for marathi
  docs/docs/notification-center/react-components.md
  packages/notification-center/src/i18n/lang.ts
  packages/notification-center/src/i18n/languages/mr.ts
Labels: duplicate

#1429 fix(jarvis): fix script for running web tests in cypress cli
  scripts/jarvis.js
Labels: bug, backend

#1434 chore(i18n): add Indonesian language support
  docs/docs/notification-center/react-components.md
  packages/notification-center/src/i18n/lang.ts
  packages/notification-center/src/i18n/languages/id.ts
Labels: Hacktoberfest, hacktoberfest-accepted

#1423 feat(dal): execution details repository implementation
  libs/dal/src/index.ts
  libs/dal/src/repositories/execution-details/execution-details.entity.ts
  libs/dal/src/repositories/execution-details/execution-details.repository.ts
  libs/dal/src/repositories/execution-details/execution-details.schema.ts
  libs/dal/src/repositories/execution-details/index.ts
Labels: backend, @novu/dal

#1326 Wrong response status on missing template in trigger-event.usecase.ts
  apps/api/src/app/events/usecases/trigger-event/trigger-event.usecase.ts
Labels: pending

#1439 Copyedit the Subscribers Page under Platform in Novu Docs Website
  docs/docs/platform/subscribers.md
Labels: Hacktoberfest, hacktoberfest-accepted

#1441 feat(jarvis): add options to run api tests
  package.json
  scripts/jarvis.js
Labels: backend

#1442 fix(github-actions): test providers script was not running
  novu.code-workspace
  package.json
  providers/expo/src/lib/expo.provider.spec.ts
Labels: bug, backend

#1305 fix(auth): during invitation if active session logout redirect
  apps/api/src/app/testing/usecases/seed-data/seed-data.usecase.ts
  apps/web/cypress/global.d.ts
  apps/web/cypress/plugins/index.ts
  apps/web/cypress/support/commands.ts
  apps/web/cypress/tests/auth.spec.ts
  apps/web/cypress/tests/invites.spec.ts
  apps/web/src/pages/auth/InvitationPage.tsx
  libs/testing/package.json
  libs/testing/src/index.ts
  libs/testing/src/user.service.ts
  libs/testing/src/user.session.ts
  pnpm-lock.yaml
Labels: react, frontend

#1495 feat(api): create execution details use case
  apps/api/src/app.module.ts
  apps/api/src/app/execution-details/dtos/execution-details-response.dto.ts
  apps/api/src/app/execution-details/dtos/execution-details.dto.ts
  apps/api/src/app/execution-details/e2e/get-execution-details.e2e.ts
  apps/api/src/app/execution-details/execution-details.module.ts
  apps/api/src/app/execution-details/usecases/create-execution-details/create-execution-details.command.ts
  apps/api/src/app/execution-details/usecases/create-execution-details/create-execution-details.spec.ts
  apps/api/src/app/execution-details/usecases/create-execution-details/create-execution-details.usecase.ts
  apps/api/src/app/execution-details/usecases/index.ts
  apps/api/src/app/shared/shared.module.ts
  apps/api/src/bootstrap.ts
  libs/dal/src/repositories/execution-details/execution-details.entity.ts
  libs/dal/src/repositories/execution-details/execution-details.repository.ts
  libs/dal/src/repositories/execution-details/execution-details.schema.ts
  libs/shared/src/entities/execution-details/execution-details.interface.ts
  libs/shared/src/entities/execution-details/index.ts
  libs/shared/src/index.ts
Labels: backend, @novu/api

#1304 feat: vercel integation
  apps/api/src/.env.development
  apps/api/src/.env.production
  apps/api/src/.env.test
  apps/api/src/.example.env
  apps/api/src/app.module.ts
  apps/api/src/app/auth/auth.controller.ts
  apps/api/src/app/partner-integrations/dtos/setup-vercel-integration-request.dto.ts
  apps/api/src/app/partner-integrations/dtos/setup-vercel-integration-response.dto.ts
  apps/api/src/app/partner-integrations/partner-integrations.controller.ts
  apps/api/src/app/partner-integrations/partner-integrations.module.ts
  apps/api/src/app/partner-integrations/usecases/index.ts
  apps/api/src/app/partner-integrations/usecases/setup-vercel-integration/setup-vercel-integration.command.ts
  apps/api/src/app/partner-integrations/usecases/setup-vercel-integration/setup-vercel-integration.usecase.ts
  apps/api/src/config/env-validator.ts
  apps/web/src/App.tsx
  apps/web/src/api/hooks/use-vercel-integration.ts
  apps/web/src/api/vercel-integration.ts
  apps/web/src/components/auth/CreateOrganizationForm.tsx
  apps/web/src/components/auth/LoginForm.tsx
  apps/web/src/components/auth/SignUpForm.tsx
  apps/web/src/components/auth/VercelSetupLoader.tsx
  apps/web/src/hooks/use-vercelParams.tsx
  apps/web/src/pages/auth/CreateOrganizationPage.tsx
  apps/web/src/pages/auth/LoginPage.tsx
  apps/web/src/store/use-auth-controller.ts
Labels: accepted

#1569 feat: i18n-dutch support
  docs/docs/notification-center/react-components.md
  packages/notification-center/src/i18n/lang.ts
  packages/notification-center/src/i18n/languages/nl.ts
Labels: accepted

#1536 added navigation to changes in command palette
  apps/web/src/components/utils/Spotlight.tsx
Labels: accepted

#1635 Added Translation Arabic Word
  packages/notification-center/src/i18n/languages/ar.ts
Labels: accepted

#1641 Added Kazakh language support
  docs/docs/notification-center/react-components.md
  packages/notification-center/src/i18n/lang.ts
  packages/notification-center/src/i18n/languages/kk.ts
Labels: accepted

#1643 fix: update stack ordering to put spotlight on front
  apps/web/src/components/layout/AppLayout.tsx
Labels: accepted

#1634 style: improve responsiveness of auth container
  apps/web/src/components/layout/components/AuthContainer.tsx
Labels: accepted

#1669 Added the 'settings' translation
  packages/notification-center/src/i18n/languages/fi.ts
Labels: accepted

#1602 Added Filipino translate
  docs/docs/notification-center/react-components.md
  packages/notification-center/src/i18n/lang.ts
  packages/notification-center/src/i18n/languages/tl.ts
Labels: pending

#1673 Minor grammatical changes in Readme file
  README.md
Labels: accepted

#1637 style: improve responsiveness of the dashboard
  apps/web/src/components/layout/AppLayout.tsx
  apps/web/src/components/layout/components/SideNav.tsx
  apps/web/src/pages/quick-start/QuickStartPage.tsx
Labels: accepted

#1675 chore: minor update for fil/tl language support
  packages/notification-center/src/i18n/languages/tl.ts
Labels: accepted

#1506 Feat: Add webhook parser for Postmark provider
  packages/stateless/src/lib/provider/provider.interface.ts
  providers/postmark/src/lib/postmark.provider.spec.ts
  providers/postmark/src/lib/postmark.provider.ts
Labels: accepted

#1593 i18n - Zulu support
  docs/docs/notification-center/react-components.md
  packages/notification-center/src/i18n/lang.ts
  packages/notification-center/src/i18n/languages/zu.ts
Labels: accepted

#1700 SMS77 documentation page
  docs/docs/channels/sms/SMS77.md
  docs/docs/channels/sms/index.md
Labels: accepted

#1625 feat: Add webhook parser for Sendinblue
  providers/sendinblue/src/lib/sendinblue.provider.spec.ts
  providers/sendinblue/src/lib/sendinblue.provider.ts
Labels: accepted

#1453 feat: Created webhook parser for Mailjet
  packages/stateless/src/lib/provider/provider.interface.ts
  providers/mailjet/src/lib/mailjet.provider.ts
Labels: accepted

#1514 feat: Created Webhook parser for Mandrill
  packages/stateless/src/lib/provider/provider.interface.ts
  providers/mandrill/src/lib/mandrill.provider.ts
Labels: accepted

#1739 feat: i18n support for Belarusian language
  docs/docs/notification-center/react-components.md
  packages/notification-center/src/i18n/lang.ts
  packages/notification-center/src/i18n/languages/be.ts
Labels: accepted

#1733 Test Mailjet connection
  providers/mailjet/src/lib/mailjet.provider.spec.ts
  providers/mailjet/src/lib/mailjet.provider.ts
Labels: accepted

#1670 feat: Add the notification templates module to node package
  packages/node/src/lib/notification-template/notification-template.interface.ts
  packages/node/src/lib/notification-template/notification-template.spec.ts
  packages/node/src/lib/notification-template/notification-template.ts
  packages/node/src/lib/novu.ts
Labels: accepted

#1724 [NV-924] - Add cypress component test to ActivityStatistics component
  apps/web/src/pages/activities/components/ActivityStatistics.cy.tsx
Labels: accepted

#1742 Updated link to enforcement ladder [ code-conduct.md ]
  docs/docs/community/code-conduct.md
Labels: accepted

#1736 Added cypress component test to BrandingForm component
  apps/web/src/pages/settings/tabs/BrandingForm.cy.tsx
Labels: accepted

#1762 refactor: updated links to open in a new tab
  apps/web/src/components/auth/SignUpForm.tsx
Labels: @novu/web

#1764 docs: Remove link to provider-template
  docs/docs/community/create-provider.md
Labels: accepted

#1256 Fix large attachment issue
  apps/api/src/.env.test
  apps/api/src/app/events/e2e/delay-events.e2e.ts
  apps/api/src/app/events/e2e/digest-events.e2e.ts
  apps/api/src/app/events/events.module.ts
  apps/api/src/app/events/services/storage-helper-service/storage-helper.service.spec.ts
  apps/api/src/app/events/services/storage-helper-service/storage-helper.service.ts
  apps/api/src/app/events/usecases/run-job/run-job.usecase.ts
  apps/api/src/app/events/usecases/send-message/send-message-email.usecase.ts
  apps/api/src/app/events/usecases/trigger-event/trigger-event.usecase.ts
  apps/api/src/app/shared/errors/non-existing-file.error.ts
  apps/api/src/app/shared/services/storage/storage.service.ts
  apps/api/src/bootstrap.ts
  packages/stateless/src/lib/template/template.interface.ts
  pnpm-lock.yaml
Labels: accepted

#1682 feat(web): nv-1061-scaffold-for-notification-execution
  apps/web/src/components/activity/ExecutionDetailsModal.tsx
  apps/web/src/components/utils/GotAQuestionButton.tsx
  apps/web/src/design-system/button/Button.tsx
  apps/web/src/design-system/index.ts
  apps/web/src/pages/activities/ActivitiesPage.tsx
  apps/web/src/pages/activities/components/ActivityGraph.tsx
Labels: react, frontend, @novu/web

#1794 Test Trigger Modal - debugging
  apps/web/cypress/tests/notifications-editor.spec.ts
  apps/web/src/api/templates.ts
  apps/web/src/components/templates/SaveChangesModal.tsx
  apps/web/src/components/templates/TemplateEditorProvider.tsx
  apps/web/src/components/templates/TemplatePageHeader.tsx
  apps/web/src/components/templates/TestWorkflowModal.cy.tsx
  apps/web/src/components/templates/TestWorkflowModal.tsx
  apps/web/src/components/templates/use-template-controller.hook.ts
  apps/web/src/design-system/config/inputs.styles.ts
  apps/web/src/design-system/index.ts
  apps/web/src/design-system/modal/Modal.styles.ts
  apps/web/src/design-system/modal/Modal.tsx
  apps/web/src/pages/templates/editor/TemplateEditorPage.tsx
  apps/web/src/pages/templates/workflow/WorkflowEditorPage.tsx
Labels: @novu/web

#1793 docs: Change `SUBSCRIBER_ID` to `subscriberId`
  docs/docs/channels/chat/discord.md
Labels: documentation

#1787 docs: Improve monorepo documentation
  docs/docs/community/monorepo-structure.md
Labels: documentation, accepted

#1365 Tab Border Color Notification center
  packages/notification-center/src/components/notification-center/components/layout/tabs/Tabs.styles.ts
  packages/notification-center/src/store/novu-theme.context.ts
Labels: accepted

#1789 feat: implement #1781
  apps/web/src/components/layout/components/HeaderNav.tsx
Labels: @novu/web

#1810 Update introduction.md
  docs/docs/overview/introduction.md
Labels: documentation, community

#1808 Contributors section properly loading in README
  README.md
Labels: community

#1795 feat: added customizability to empty state in notification center
  packages/notification-center/src/components/notification-center/NotificationCenter.tsx
  packages/notification-center/src/components/notification-center/components/NotificationsListTab.tsx
  packages/notification-center/src/hooks/use-notification-center-hook.ts
  packages/notification-center/src/index.ts
  packages/notification-center/src/store/notification-center.context.ts
Labels: @novu/notification-center

#1759 feat: Added Telnyx webhook parser
  packages/stateless/src/lib/provider/provider.interface.ts
  providers/telnyx/src/lib/telnyx.provider.ts
Labels: accepted, providers, community

#1827 Fix "Need Help?" link in the Readme file
  README.md
Labels: accepted, community

#1817 Update README.md
  README.md
Labels: community

#1825 feat: i18n support for Albanian
  docs/docs/notification-center/react-components.md
  packages/notification-center/src/i18n/lang.ts
  packages/notification-center/src/i18n/languages/sq.ts
Labels: documentation, accepted, @novu/notification-center, community

#1820 fix: update node version in .nvmrc
  .nvmrc
Labels: accepted, community

#1826 fix: fix wrong text in settings tab
  apps/web/cypress/tests/settings.spec.ts
  apps/web/src/pages/settings/SettingsPage.tsx
  apps/web/src/pages/settings/tabs/ApiKeysCard.tsx
  apps/web/src/pages/settings/tabs/InAppCenterCard.tsx
Labels: @novu/web, accepted, community

#1819 feat: notify about security changes on settings page
  apps/web/src/pages/settings/tabs/components/Security.tsx
Labels: @novu/web, accepted, community

#1828 Fix modals state debugging
  apps/web/src/components/templates/SaveChangesModal.tsx
  apps/web/src/pages/templates/editor/TemplateEditorPage.tsx
Labels: @novu/web

#1812 feat(web): execution details list inside modal
  apps/web/src/api/activity.ts
  apps/web/src/components/activity/ExecutionDetailsModal.tsx
  apps/web/src/components/activity/ExecutionDetailsSteps.tsx
  apps/web/src/components/utils/GotAQuestionButton.tsx
  apps/web/src/pages/activities/ActivitiesPage.tsx
  apps/web/src/pages/activities/components/ActivityItem.tsx
  apps/web/src/pages/activities/components/ActivityList.tsx
Labels: react, frontend, @novu/web, pr-party

#1840 feat: add lithuanian i18n support
  docs/docs/notification-center/react-components.md
  packages/notification-center/src/i18n/lang.ts
  packages/notification-center/src/i18n/languages/lt.ts
Labels: documentation, accepted, @novu/notification-center, community, pr-party

#1836 [fix] Fix Tamil translation errors
  packages/notification-center/src/i18n/languages/ta.ts
Labels: accepted, @novu/notification-center, community

#1832 Fix spelling and punctuation
  docs/docs/notification-center/react-components.md
  docs/docs/platform/digest.md
  packages/notification-center/src/i18n/lang.ts
  packages/notification-center/src/i18n/languages/lt.ts
Labels: documentation, community

#1849 fix: comment typo
  providers/postmark/src/lib/postmark.provider.spec.ts
Labels: providers, community

#1854 Fix activity feed cypress test
  apps/web/cypress/tests/activities-page.spec.ts
  apps/web/cypress/tests/activity-graph.spec.ts
  apps/web/src/pages/activities/components/ActivityItem.tsx
  apps/web/src/pages/activities/components/ActivityList.tsx
  apps/web/src/pages/activities/components/ActivityStep.tsx
Labels: @novu/web

#1856 Test workflow - open execution details modal
  apps/web/src/components/activity/ExecutionDetailsModal.tsx
  apps/web/src/components/templates/ExecutionDetailsModalWrapper.tsx
  apps/web/src/components/templates/TestWorkflowModal.cy.tsx
  apps/web/src/components/templates/TestWorkflowModal.tsx
  apps/web/src/pages/templates/editor/TemplateEditorPage.tsx
Labels: @novu/web

#1858 Hyperlinked the novu logo.
  README.md
Labels: community

#1855 fix: layout and details for feed
  apps/api/src/app/events/usecases/add-job/add-digest-job.usecase.ts
  apps/api/src/app/events/usecases/send-message/send-message-chat.usecase.ts
  apps/api/src/app/events/usecases/send-message/send-message-push.usecase.ts
  apps/api/src/app/events/usecases/send-message/send-message-type.usecase.ts
  apps/api/src/app/events/usecases/send-message/send-message.usecase.ts
  apps/api/src/app/events/usecases/trigger-event/trigger-event.usecase.ts
  apps/api/src/app/execution-details/usecases/create-execution-details/create-execution-details.command.ts
  apps/web/src/components/activity/ExecutionDetailsModal.tsx
  apps/web/src/components/templates/ExecutionDetailsModalWrapper.tsx
  apps/web/src/components/templates/TestWorkflowModal.cy.tsx
  apps/web/src/components/templates/TestWorkflowModal.tsx
  apps/web/src/pages/activities/components/ActivityItem.tsx
  apps/web/src/pages/activities/components/ActivityList.tsx
  apps/web/src/pages/activities/components/ActivityStep.tsx
  apps/web/src/pages/activities/hooks/useNotificationStatus.ts
  apps/web/src/pages/templates/editor/TemplateEditorPage.tsx
Labels: @novu/api, @novu/web

#1851 feat: Latvian language i18n support
  docs/docs/notification-center/react-components.md
  packages/notification-center/src/i18n/lang.ts
  packages/notification-center/src/i18n/languages/lv.ts
Labels: documentation, accepted, @novu/notification-center, community

#1857 Fix missing integration error not shown for email and sms
  apps/api/src/app/events/usecases/send-message/send-message-email.usecase.ts
  apps/api/src/app/events/usecases/send-message/send-message-sms.usecase.ts
  apps/api/src/app/integrations/usecases/get-decrypted-integrations/get-decrypted-integrations.usecase.ts
Labels: @novu/api

#1852 [feat] Add section about Jarvis
  README.md
Labels: accepted, community

#1870 i18n support for Bihari language
  docs/docs/notification-center/react-components.md
  packages/notification-center/src/i18n/lang.ts
  packages/notification-center/src/i18n/languages/bh.ts
Labels: documentation, @novu/notification-center, community

#1871 removed duplicate entry and corrected alphabetical order
  packages/notification-center/src/i18n/lang.ts
Labels: @novu/notification-center, community

#1880 feat: add end detail for delay step type
  apps/api/src/app/events/usecases/index.ts
  apps/api/src/app/events/usecases/send-message/send-message-delay.usecase.ts
  apps/api/src/app/events/usecases/send-message/send-message.usecase.ts
  apps/api/src/app/execution-details/usecases/create-execution-details/create-execution-details.command.ts
Labels: @novu/api

#1862 feat(web): accordion for execution details modal
  apps/web/src/components/activity/ExecutionDetail.tsx
  apps/web/src/components/activity/ExecutionDetailShowRaw.tsx
  apps/web/src/components/activity/ExecutionDetailTrigger.tsx
  apps/web/src/components/activity/ExecutionDetailsAccordion.tsx
  apps/web/src/components/activity/ExecutionDetailsFooter.tsx
  apps/web/src/components/activity/ExecutionDetailsModal.tsx
  apps/web/src/components/activity/ExecutionDetailsStepContent.tsx
  apps/web/src/components/activity/ExecutionDetailsStepHeader.tsx
  apps/web/src/components/activity/ExecutionDetailsSteps.tsx
  apps/web/src/components/activity/helpers.ts
  apps/web/src/components/templates/TriggerSnippetTabs.tsx
  apps/web/src/components/workflow/node-types/AddNode.tsx
  apps/web/src/design-system/icons/general/Clicked.tsx
  apps/web/src/design-system/icons/general/Digest.tsx
  apps/web/src/design-system/icons/general/Read.tsx
  apps/web/src/design-system/icons/general/Received.tsx
  apps/web/src/design-system/icons/general/Seen.tsx
  apps/web/src/design-system/icons/general/Sent.tsx
  apps/web/src/design-system/icons/index.ts
  apps/web/src/pages/activities/components/ActivityStep.tsx
  libs/shared/src/entities/notification-template/notification-template.interface.ts
Labels: @novu/web, @novu/shared

#1838 [docs] FAQ: How do I customize messages on Novu?
  docs/docs/community/faq.md
Labels: documentation, accepted, community

#1864 fix: add Redis optional configurable password
  apps/api/src/app/events/services/workflow.queue.service.ts
  apps/api/src/app/shared/services/queue/queue.service.ts
  apps/ws/src/shared/framework/redis.adapter.ts
  apps/ws/src/shared/queue/queue.service.ts
  docs/docs/community/run-locally.md
Labels: documentation, @novu/api, @novu/ws, community

#1877 very minor typo in fr translation
  packages/notification-center/src/i18n/languages/fr.ts
Labels: @novu/notification-center, community

#1818 Update integrations.md
  docs/docs/platform/integrations.md
Labels: documentation, community

#1873 Improved subscriber.md
  docs/docs/platform/subscribers.md
Labels: documentation, community

#1865 refactor: auth pages improvements
  apps/web/src/components/auth/LoginForm.tsx
  apps/web/src/components/layout/components/AuthContainer.tsx
  apps/web/src/components/layout/components/AuthLayout.tsx
  apps/web/src/design-system/password-input/PasswordInput.tsx
  apps/web/src/pages/auth/InvitationPage.tsx
Labels: @novu/web, community

#1841 fix: make proper color for box icon in dark mode
  apps/web/src/design-system/icons/general/Box.tsx
Labels: @novu/web, accepted, community

#1883 fix: so underscores are replaced with space in step type for step name
  apps/web/src/components/activity/ExecutionDetailsStepHeader.tsx
Labels: @novu/web

#1885 fix: show and hide raw content of detail
  apps/web/src/components/activity/ExecutionDetail.tsx
  apps/web/src/components/activity/ExecutionDetailShowRaw.tsx
  apps/web/src/components/activity/ExecutionDetailsModal.tsx
  apps/web/src/components/activity/ExecutionDetailsStepContent.tsx
Labels: @novu/web

#1886 i18n Amharic language support
  docs/docs/notification-center/react-components.md
  packages/notification-center/src/i18n/lang.ts
  packages/notification-center/src/i18n/languages/am.ts
Labels: documentation, @novu/notification-center, community

#1884 fix: make visible code block border on scroll
  apps/web/src/components/templates/TriggerSnippetTabs.tsx
  apps/web/src/pages/quick-start/components/OnboardingSteps.tsx
  apps/web/src/pages/settings/tabs/InAppCenterCard.tsx
Labels: @novu/web, community

#1896 chore: Improved quick-start.md
  docs/docs/overview/quick-start.md
Labels: documentation, accepted, community

#1913 docs: Improve deploy using docker pages
  docker/Readme.md
  docs/docs/overview/docker-deploy.md
Labels: documentation, accepted, community

#1912 docs: Improve Architecture page
  docs/docs/overview/architecture.md
Labels: documentation, accepted, community

#1866 feat: added a detailed PR Template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: accepted, community

#1915 docs: fixed typo's 🛠
  CONTRIBUTING.md
  docs/docs/community/monorepo-structure.md
  docs/docs/community/run-locally.md
  docs/docs/overview/architecture.md
  docs/docs/overview/quick-start.md
Labels: documentation, accepted, community

#1920 Small details changes - debugging
  apps/api/src/app/events/usecases/add-job/add-job.usecase.ts
  apps/api/src/app/execution-details/usecases/create-execution-details/create-execution-details.command.ts
  apps/web/src/components/activity/ExecutionDetailsStepHeader.tsx
Labels: @novu/api, @novu/web

#1889 refactor: make trigger cards clickable
  apps/web/src/pages/quick-start/components/TriggerCard.tsx
Labels: @novu/web, accepted, community

#1891 i18n Samoan language support
  docs/docs/notification-center/react-components.md
  packages/notification-center/src/i18n/lang.ts
  packages/notification-center/src/i18n/languages/sm.ts
Labels: documentation, accepted, @novu/notification-center, community

#1925 fix: so date is visible on hover in dark mode
  apps/web/src/components/activity/ExecutionDetailsStepHeader.tsx
Labels: @novu/web

#1894 fix(web): remove back link and fix layout footer of exec-det
  apps/web/src/components/activity/ExecutionDetailsFooter.tsx
  apps/web/src/components/activity/ExecutionDetailsModal.tsx
  apps/web/src/components/templates/ExecutionDetailsModalWrapper.tsx
  apps/web/src/pages/activities/ActivitiesPage.tsx
Labels: @novu/web

#1895 fix(web): wrap error icon to notification icon for any device size
  apps/web/.env
  apps/web/src/components/activity/ExecutionDetailsStepHeader.tsx
Labels: @novu/web

#1926 feat(web): temporarily hide webhook feedback from ui
  apps/web/src/components/activity/ExecutionDetailsStepHeader.tsx
  apps/web/src/components/activity/ExecutionDetailsWebhookFeedback.tsx
Labels: @novu/web

#1908 fix(doc): fix typos in "Run Novu locally" doc
  docs/docs/community/run-locally.md
Labels: documentation, community

#1823 Support for handlebars dateFormat
  apps/api/package.json
  apps/api/src/app/content-templates/usecases/compile-template/compile-template.spec.ts
  apps/api/src/app/content-templates/usecases/compile-template/compile-template.usecase.ts
  docs/docs/platform/templates.md
  pnpm-lock.yaml
Labels: documentation, @novu/api, community, pr-party

#1910 docs: Improve quick start
  docs/docs/overview/quick-start.md
Labels: documentation, community

#1899 docs: change issues and discussions in contributing.md to links instead of plain text
  CONTRIBUTING.md
Labels: community

#1911 docs: Improve Run Novu locally docs
  docs/docs/community/run-locally.md
Labels: documentation, hacktoberfest-accepted, community

#1903 feat: Add Feeds Module to node package
  packages/node/src/index.ts
  packages/node/src/lib/feeds/feeds.interface.ts
  packages/node/src/lib/feeds/feeds.spec.ts
  packages/node/src/lib/feeds/feeds.ts
  packages/node/src/lib/novu.ts
Labels: hacktoberfest-accepted, community

#1904 added link for issues and discussion
  CONTRIBUTING.md
Labels: community

#1905 Updated readme with code of conduct
  README.md
Labels: community

#1875 i18n support for Bosnian language
  docs/docs/notification-center/react-components.md
  packages/notification-center/src/i18n/lang.ts
  packages/notification-center/src/i18n/languages/bs.ts
Labels: documentation, hacktoberfest-accepted, @novu/notification-center, community

#1931 fix: color of digest icon if no explicit color is passed
  apps/web/src/design-system/icons/general/Digest.tsx
Labels: @novu/web
