Repository novuhq/novu, pull requests merged in 2022-11, with the labels that each got.

#1927 fix: so email and phone are show on subscriber in trigger example
  apps/api/src/app/events/usecases/process-subscriber/process-subscriber.usecase.ts
  apps/web/src/components/activity/ExecutionDetailTrigger.tsx
  apps/web/src/components/activity/ExecutionDetailsAccordion.tsx
  apps/web/src/components/activity/ExecutionDetailsModal.tsx
  apps/web/src/components/activity/ExecutionDetailsStepContent.tsx
  libs/dal/src/repositories/notification/notification.entity.ts
  libs/dal/src/repositories/notification/notification.repository.ts
  libs/dal/src/repositories/notification/notification.schema.ts
Labels: @novu/api, @novu/web, @novu/dal

#1939 fix: remove box shadow from got a question button
  apps/web/src/components/activity/ExecutionDetailsFooter.tsx
Labels: @novu/web

#1940 feat: add default width and height for digest icon
  apps/web/src/design-system/icons/general/Digest.tsx
Labels: @novu/web

#1937 feat: add community usecase projects docs page
  docs/docs/community/community-usecase-projects.md
Labels: documentation

#1941 fix: docs about projects and articles
  docs/docs/community/community-usecase-projects.md
  docs/docs/community/projects-and-articles.md
Labels: documentation

#1943 fix(web): avoid execution details modal to break when no subscriber vars
  apps/web/src/components/activity/ExecutionDetailTrigger.tsx
Labels: @novu/web

#1945 fix: so success message in execution modal will be last detail message
  apps/web/src/components/activity/ExecutionDetailsStepHeader.tsx
Labels: @novu/web

#1932 Use Java-style array declaration instead of C-style array declaration…
  docs/src/usage-examples.md
Labels: documentation, community

#1934 Fix grammar and typos in the READMEs
  README.md
  apps/web/README.md
  packages/cli/README.MD
  packages/node/README.md
  packages/stateless/README.md
Labels: @novu/web, community

#1929 Show indication for a merged digested execution - debugging
  apps/web/src/components/activity/ExecutionDetailsAccordion.tsx
  apps/web/src/components/activity/ExecutionDetailsModal.tsx
  apps/web/src/pages/activities/ActivitiesPage.tsx
  apps/web/src/pages/activities/components/ActivityItem.tsx
  apps/web/src/pages/activities/components/DigestedStep.tsx
Labels: @novu/web

#1954 feat: add error of invalid json on test workflow params
  apps/web/src/components/templates/TestWorkflowModal.tsx
Labels: @novu/web

#1953 Refactor webhook provider statuses
  packages/stateless/src/lib/provider/provider.interface.ts
  providers/mandrill/src/lib/mandrill.provider.ts
  providers/postmark/src/lib/postmark.provider.ts
  providers/telnyx/src/lib/telnyx.provider.ts
  providers/twilio/src/lib/twilio.provider.ts
Labels: providers

#1955 feat: add text about update frequency
  apps/web/src/components/activity/ExecutionDetailsModal.tsx
Labels: @novu/web

#1948 fix(web): make step hover border round
  apps/web/src/components/activity/ExecutionDetailsAccordion.tsx
Labels: @novu/web

#1957 fix: center the debugging modal
  apps/web/src/components/activity/ExecutionDetailsModal.tsx
Labels: @novu/web

#1683 Insert step in middle of worflow
  apps/web/cypress/global.d.ts
  apps/web/cypress/support/commands.ts
  apps/web/cypress/tests/notifications-editor.spec.ts
  apps/web/package.json
  apps/web/src/components/templates/use-template-controller.hook.ts
  apps/web/src/components/workflow/FlowEditor.tsx
  apps/web/src/components/workflow/edge-types/AddNodeEdge.tsx
  apps/web/src/components/workflow/node-types/AddNode.tsx
  apps/web/src/pages/templates/shared/channels.ts
  pnpm-lock.yaml
Labels: @novu/web, pr-party

#1829 test(navmenu): make sure when click menu item class will change to active state
  apps/web/src/design-system/navigation/NavMenu.cy.tsx
Labels: @novu/web, community

#1961 Nv 1128 got q modal not opened when clicked
  apps/web/src/components/utils/GotAQuestionButton.tsx
Labels: @novu/web

#1962 feat(web): add hover styles to activity list items
  apps/web/src/components/activity/ExecutionDetailsAccordion.tsx
  apps/web/src/pages/activities/components/ActivityItem.tsx
  apps/web/src/pages/activities/components/ActivityList.tsx
Labels: @novu/web

#1952 fix(web): pass the values to trigger snippet
  apps/api/src/app/notifications/dtos/activities-response.dto.ts
  apps/web/src/components/activity/ExecutionDetailTrigger.tsx
  apps/web/src/components/activity/ExecutionDetailsAccordion.tsx
  apps/web/src/components/activity/ExecutionDetailsModal.tsx
  apps/web/src/components/activity/ExecutionDetailsStepContent.tsx
  libs/dal/src/repositories/notification/notification.repository.ts
Labels: @novu/api, @novu/web, @novu/dal

#1966 Nv 1136 show only the json object on trigger information window
  apps/web/src/components/activity/ExecutionDetailTrigger.tsx
  apps/web/src/components/templates/TriggerSnippetTabs.tsx
  apps/web/src/pages/activities/components/DigestedStep.tsx
Labels: @novu/web

#1967 feat: improve pending messages for digest and delay
  apps/web/src/components/activity/ExecutionDetailsStepHeader.tsx
Labels: @novu/web

#1968 Stop refetch when status is not pending
  apps/web/src/components/activity/ExecutionDetailsModal.tsx
  apps/web/src/pages/activities/hooks/useNotificationStatus.ts
Labels: @novu/web

#1973 refactor: updated the link for create organization redirect
  apps/api/src/app/auth/auth.controller.ts
  apps/web/src/components/auth/LoginForm.tsx
  apps/web/src/components/auth/SignUpForm.tsx
  apps/web/src/components/layout/components/PartnerIntegrationLayout.tsx
  apps/web/src/components/partner-integrations/vercel/LinkMoreProjectRow.tsx
  apps/web/src/components/partner-integrations/vercel/LinkProjectContainer.tsx
  apps/web/src/pages/partner-integrations/LinkVercelProjectPage.tsx
Labels: @novu/api, @novu/web

#1974 refactor: usage of execution details status to job status
  .github/workflows/reusable-api-e2e.yml
  apps/api/src/app/events/e2e/delay-events.e2e.ts
  apps/api/src/app/events/e2e/digest-events.e2e.ts
  apps/api/src/app/events/e2e/process-subscriber.e2e.ts
  apps/api/src/app/events/events.controller.ts
  apps/api/src/app/events/usecases/add-job/add-job.usecase.ts
  apps/api/src/app/events/usecases/send-message/send-message-chat.usecase.ts
  apps/api/src/app/events/usecases/send-message/send-message-email.usecase.ts
  apps/api/src/app/events/usecases/send-message/send-message-push.usecase.ts
  apps/api/src/app/events/usecases/send-message/send-message-sms.usecase.ts
  apps/api/src/app/execution-details/usecases/create-execution-details/create-execution-details.usecase.ts
  apps/api/src/app/integrations/e2e/create-integration.e2e.ts
  apps/api/src/app/integrations/e2e/get-integration.e2e.ts
  apps/web/cypress/tests/activities-page.spec.ts
  apps/web/src/components/activity/ExecutionDetail.tsx
  apps/web/src/components/activity/ExecutionDetailsModal.tsx
  apps/web/src/components/activity/ExecutionDetailsStepHeader.tsx
  apps/web/src/components/activity/helpers.ts
  apps/web/src/pages/activities/components/ActivityItem.tsx
  apps/web/src/pages/activities/components/ActivityStep.tsx
  apps/web/src/pages/activities/hooks/useJobStatus.ts
  apps/web/src/pages/activities/hooks/useNotificationStatus.ts
  apps/webhook/src/webhooks/e2e/email-webhook.e2e.ts
  libs/dal/src/repositories/job/job.entity.ts
  libs/shared/src/entities/job/index.ts
  libs/shared/src/entities/job/status.enum.ts
  libs/shared/src/index.ts
  libs/testing/src/integration.service.ts
Labels: @novu/api, @novu/web, @novu/dal, @novu/webhook, @novu/shared

#1977 fix: details icon to show failed and success icons
  apps/web/src/components/activity/ExecutionDetail.tsx
  apps/web/src/components/activity/helpers.ts
Labels: @novu/web

#1976 Fix(notification center) api calls on first render
  docs/docs/community/faq.md
  packages/notification-center/src/components/notification-center/components/notification-item/NotificationListItem.tsx
  packages/notification-center/src/components/novu-provider/NovuProvider.tsx
  packages/notification-center/src/hooks/use-notifications.hook.ts
  packages/notification-center/src/shared/interfaces/index.ts
  packages/notification-center/src/store/notifications-provider.context.tsx
  packages/notification-center/src/store/novu-theme.context.ts
Labels: documentation, @novu/notification-center

#1978 Nv 1147 split test to separated filed
  .github/workflows/reusable-web-e2e.yml
  apps/web/cypress/tests/notification-editor/create-notification.spec.ts
  apps/web/cypress/tests/notification-editor/debugging-test-trigger.spec.ts
  apps/web/cypress/tests/notification-editor/drag-and-drop.spec.ts
  apps/web/cypress/tests/notification-editor/index.ts
  apps/web/cypress/tests/notification-editor/main-functionality.spec.ts
  apps/web/cypress/tests/notifications-editor.spec.ts
Labels: @novu/web

#1981 v0.9.0
  apps/api/package.json
  apps/web/package.json
  apps/webhook/package.json
  apps/widget/package.json
  apps/ws/package.json
  lerna.json
  libs/dal/package.json
  libs/embed/package.json
  libs/shared/package.json
  libs/testing/package.json
  packages/application-generic/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/nest/package.json
  packages/node/package.json
  packages/notification-center/package.json
  packages/stateless/package.json
  pnpm-lock.yaml
  providers/apns/package.json
  providers/discord/package.json
  providers/emailjs/package.json
  providers/expo/package.json
  providers/fcm/package.json
  providers/firetext/package.json
  providers/gupshup/package.json
  providers/mailersend/package.json
  providers/mailgun/package.json
  providers/mailjet/package.json
  providers/mandrill/package.json
  providers/ms-teams/package.json
  providers/netcore/package.json
  providers/nexmo/package.json
  providers/nodemailer/package.json
  providers/plivo/package.json
  providers/postmark/package.json
  providers/sendgrid/package.json
  providers/sendinblue/package.json
  providers/ses/package.json
  providers/slack/package.json
  providers/sms77/package.json
  providers/sns/package.json
  providers/telnyx/package.json
  providers/termii/package.json
  providers/twilio/package.json
Labels: @novu/api, @novu/web, @novu/dal, @novu/webhook, @novu/ws, @novu/notification-center, @novu/shared, providers

#1982 Merge 0.9.0 upgrade to main
  apps/api/package.json
  apps/web/package.json
  apps/webhook/package.json
  apps/widget/package.json
  apps/ws/package.json
  docker/docker-compose.yml
  docker/kubernetes/kustomize/api-deployment.yaml
  docker/kubernetes/kustomize/embed-deployment.yaml
  docker/kubernetes/kustomize/web-deployment.yaml
  docker/kubernetes/kustomize/widget-deployment.yaml
  docker/kubernetes/kustomize/ws-deployment.yaml
  lerna.json
  libs/dal/package.json
  libs/embed/package.json
  libs/shared/package.json
  libs/testing/package.json
  packages/application-generic/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/nest/package.json
  packages/node/package.json
  packages/notification-center/package.json
  packages/stateless/package.json
  pnpm-lock.yaml
  providers/apns/package.json
  providers/discord/package.json
  providers/emailjs/package.json
  providers/expo/package.json
  providers/fcm/package.json
  providers/firetext/package.json
  providers/gupshup/package.json
  providers/mailersend/package.json
  providers/mailgun/package.json
  providers/mailjet/package.json
  providers/mandrill/package.json
  providers/ms-teams/package.json
  providers/netcore/package.json
  providers/nexmo/package.json
  providers/nodemailer/package.json
  providers/plivo/package.json
  providers/postmark/package.json
  providers/sendgrid/package.json
  providers/sendinblue/package.json
  providers/ses/package.json
  providers/slack/package.json
  providers/sms77/package.json
  providers/sns/package.json
  providers/telnyx/package.json
  providers/termii/package.json
  providers/twilio/package.json
Labels: @novu/api, @novu/web, @novu/dal, @novu/webhook, @novu/ws, @novu/notification-center, @novu/shared, providers

#1979 Small fixes workflow editor
  apps/web/src/components/templates/email-editor/ContentRow.tsx
  apps/web/src/components/workflow/FlowEditor.tsx
  apps/web/src/design-system/dropdown/Dropdown.tsx
  apps/web/src/design-system/template-button/ChannelButton.tsx
  apps/web/src/pages/templates/workflow/WorkflowEditorPage.tsx
Labels: @novu/web

#1985 feat: add scrolling to user preference list
  packages/notification-center/src/components/notification-center/components/user-preference/SubscriberPreference.tsx
Labels: @novu/notification-center

#1993 fix: render deleted subscriber
  apps/web/src/pages/activities/components/ActivityItem.tsx
  libs/dal/src/repositories/subscriber/subscriber.repository.ts
Labels: @novu/web, @novu/dal

#1992 fix: remove blog.johnnyreilly.com Google Analytics tag
  docs/docusaurus.config.js
Labels: documentation, community

#1991 version fix - breaking changes
  apps/web/src/components/widget/NotificationCenterWidget.tsx
  packages/notification-center/src/components/notification-center/components/FeedsTabs.tsx
  packages/notification-center/src/components/popover-notification-center/components/Popover.tsx
  packages/notification-center/src/hooks/use-notifications.hook.ts
  packages/notification-center/src/hooks/use-unseen-count-controller.hook.ts
  packages/notification-center/src/shared/interfaces/index.ts
  packages/notification-center/src/store/notifications-provider.context.tsx
  packages/notification-center/src/store/unseen-provider.context.tsx
Labels: @novu/web, @novu/notification-center

#1995 v0.9.1 release
  apps/api/package.json
  apps/web/package.json
  apps/web/src/components/widget/NotificationCenterWidget.tsx
  apps/web/src/pages/activities/components/ActivityItem.tsx
  apps/webhook/package.json
  apps/widget/package.json
  apps/ws/package.json
  lerna.json
  libs/dal/package.json
  libs/dal/src/repositories/subscriber/subscriber.repository.ts
  libs/embed/package.json
  libs/testing/package.json
  packages/application-generic/package.json
  packages/notification-center/package.json
  packages/notification-center/src/components/notification-center/components/FeedsTabs.tsx
  packages/notification-center/src/components/popover-notification-center/components/Popover.tsx
  packages/notification-center/src/hooks/use-notifications.hook.ts
  packages/notification-center/src/hooks/use-unseen-count-controller.hook.ts
  packages/notification-center/src/shared/interfaces/index.ts
  packages/notification-center/src/store/notifications-provider.context.tsx
  packages/notification-center/src/store/unseen-provider.context.tsx
  pnpm-lock.yaml
Labels: @novu/api, @novu/web, @novu/dal, @novu/webhook, @novu/ws, @novu/notification-center

#1994 Update README.md
  README.md
Labels: community

#1984 feat: add transaction id filter to activity list
  apps/web/src/pages/activities/ActivitiesPage.tsx
  apps/web/src/pages/activities/components/ActivityItem.tsx
Labels: @novu/web

#1893 Updated architecture.md
  docs/docs/overview/architecture.md
Labels: documentation, community

#1844 added Bashkir language translations
  docs/docs/notification-center/react-components.md
  packages/notification-center/src/i18n/lang.ts
  packages/notification-center/src/i18n/languages/ba.ts
Labels: documentation, hacktoberfest-accepted, accepted, @novu/notification-center, community

#1933 Fix several grammar issues and typos in docs
  docs/docs/channels/chat/discord.md
  docs/docs/channels/sms/telnyx.md
  docs/docs/channels/sms/twilio.md
  docs/docs/community/create-provider.md
  docs/docs/community/run-locally.md
  docs/docs/notification-center/react-components.md
  docs/docs/overview/architecture.md
  docs/docs/overview/docker-deploy.md
  docs/docs/overview/quick-start.md
  docs/docs/platform/digest.md
  docs/docs/platform/subscribers.md
Labels: documentation, community

#1999 fix: web manifest update
  apps/web/public/manifest.json
Labels: @novu/web, community

#2009 remove use of deprecated api endpoint
  packages/client/src/api/api.service.ts
  packages/notification-center/src/store/notifications-provider.context.tsx
Labels: @novu/notification-center

#1644 fix(cypress): notifications editor flaky tests
  apps/web/cypress/global.d.ts
  apps/web/cypress/plugins/index.ts
  apps/web/cypress/support/commands.ts
  apps/web/cypress/support/component.ts
  apps/web/cypress/tests/activities-page.spec.ts
  apps/web/cypress/tests/activity-graph.spec.ts
  apps/web/cypress/tests/changes.spec.ts
  apps/web/cypress/tests/environment-switch.spec.ts
  apps/web/cypress/tests/notification-editor/create-notification.spec.ts
  apps/web/cypress/tests/notification-editor/debugging-test-trigger.spec.ts
  apps/web/cypress/tests/notification-editor/drag-and-drop.spec.ts
  apps/web/cypress/tests/notification-editor/index.ts
  apps/web/cypress/tests/notification-editor/main-functionality.spec.ts
  apps/web/cypress/tests/notification-editor/steps-actions.spec.ts
Labels: @novu/web, pr-party

#1835 modified .eslintrc.js
  .eslintrc.js
  apps/web/public/env-config.js
  apps/web/src/pages/settings/tabs/BrandingForm.tsx
  apps/web/src/pages/settings/tabs/InAppCenterCard.tsx
Labels: @novu/web, hacktoberfest-accepted, accepted, community, pr-party

#2001 react interface tests
  .github/workflows/test-notification-center.yml
  packages/notification-center/jest.config.js
  packages/notification-center/package.json
  packages/notification-center/src/hooks/use-notifications.hook.test.ts
  packages/notification-center/src/hooks/use-notifications.hook.ts
  packages/notification-center/src/shared/interfaces/index.ts
  pnpm-lock.yaml
Labels: @novu/notification-center

#2027 fix: missing entity validations
  apps/api/src/app/widgets/usecases/mark-action-as-done/update-message-actions.usecause.ts
Labels: @novu/api

#2022 refactor: filter steps regular
  apps/api/src/app/events/usecases/digest-filter-steps/digest-filter-steps-regular.usecase.ts
Labels: @novu/api

#2028 fix: so empty state can be provided to popover notification center
  packages/notification-center/src/components/popover-notification-center/PopoverNotificationCenter.tsx
Labels: @novu/notification-center

#2021 feat: update vercel integration
  apps/api/src/app/partner-integrations/dtos/complete-and-update-vercel-integration-request.dto.ts
  apps/api/src/app/partner-integrations/partner-integrations.controller.ts
  apps/api/src/app/partner-integrations/usecases/complete-vercel-integration/complete-vercel-integration.usecase.ts
  apps/api/src/app/partner-integrations/usecases/get-vercel-configuration/get-vercel-configuration.command.ts
  apps/api/src/app/partner-integrations/usecases/get-vercel-configuration/get-vercel-configuration.usecase.ts
  apps/api/src/app/partner-integrations/usecases/get-vercel-projects/get-vercel-projects.usecase.ts
  apps/api/src/app/partner-integrations/usecases/index.ts
  apps/api/src/app/partner-integrations/usecases/update-vercel-configuration/update-vercel-configuration.command.ts
  apps/api/src/app/partner-integrations/usecases/update-vercel-configuration/update-vercel-configuration.usecase.ts
  apps/web/src/App.tsx
  apps/web/src/api/vercel-integration.ts
  apps/web/src/components/partner-integrations/vercel/LinkProjectContainer.tsx
  apps/web/src/components/partner-integrations/vercel/ProjectRow.tsx
  apps/web/src/pages/partner-integrations/LinkVercelProjectPage.tsx
  libs/dal/src/repositories/base-repository.ts
  libs/dal/src/repositories/organization/organization.entity.ts
  libs/dal/src/repositories/organization/organization.repository.ts
  libs/dal/src/repositories/organization/organization.schema.ts
Labels: @novu/api, @novu/web, @novu/dal

#2003 feat: Abstracted content engine
  packages/stateless/src/lib/content/content.engine.spec.ts
  packages/stateless/src/lib/content/content.engine.ts
  packages/stateless/src/lib/handler/email.handler.ts
  packages/stateless/src/lib/handler/sms.handler.ts
  packages/stateless/src/lib/novu.interface.ts
  packages/stateless/src/lib/novu.ts
  packages/stateless/src/lib/trigger/trigger.engine.ts
Labels: accepted, community

#1975 feat(infra): add dev env setup script and plug it in jarvis
  package.json
  scripts/dev-environment-setup.sh
  scripts/jarvis.js
Labels: enhancement

#2010 fix: copy bell theme instead of using merge
  packages/notification-center/src/hooks/use-default-theme.hook.ts
Labels: accepted, @novu/notification-center, community

#2037 chore(docs): local env setup script doc
  docs/docs/community/run-locally.md
Labels: documentation

#2042 Nv 1185 notification content inside in app
  apps/web/src/components/widget/InAppWidgetPreview.tsx
Labels: @novu/web

#2038 2032-preheader
  apps/api/src/app/content-templates/usecases/compile-template/templates/basic.handlebars
  apps/api/src/app/events/usecases/send-message/send-message-email.usecase.ts
  apps/api/src/app/message-template/usecases/create-message-template/create-message-template.command.ts
  apps/api/src/app/message-template/usecases/create-message-template/create-message-template.usecase.ts
  apps/api/src/app/message-template/usecases/update-message-template/update-message-template.command.ts
  apps/api/src/app/message-template/usecases/update-message-template/update-message-template.usecase.ts
  apps/api/src/app/notification-template/e2e/create-notification-templates.e2e.ts
  apps/api/src/app/notification-template/e2e/update-notification-template.e2e.ts
  apps/api/src/app/notification-template/usecases/create-notification-template/create-notification-template.usecase.ts
  apps/api/src/app/notification-template/usecases/update-notification-template/update-notification-template.usecase.ts
  apps/api/src/app/shared/dtos/message-template.ts
  apps/web/cypress/tests/notification-editor/main-functionality.spec.ts
  apps/web/src/components/templates/email-editor/EmailContentCard.tsx
  libs/dal/src/repositories/message-template/message-template.entity.ts
  libs/dal/src/repositories/message-template/message-template.schema.ts
  libs/shared/src/entities/message-template/message-template.interface.ts
Labels: @novu/api, @novu/web, @novu/dal, @novu/shared

#2047 fix(api): if no webhookurl provided there is a typeerror
  apps/api/src/app/events/usecases/send-message/send-message-chat.usecase.ts
  apps/api/src/app/execution-details/usecases/create-execution-details/create-execution-details.command.ts
Labels: @novu/api

#2048 fix(api): send push message potential push bug
  apps/api/src/app/events/usecases/send-message/send-message-push.usecase.ts
  apps/api/src/app/execution-details/usecases/create-execution-details/create-execution-details.command.ts
Labels: @novu/api

#2039 Fix nested handlebar variables
  apps/web/src/components/templates/VariableManager.cy.tsx
  apps/web/src/components/templates/VariableManager.tsx
Labels: @novu/web, community

#1291 feat/docs: refactor docker compose files and docs for local development
  docker/Readme.md
  docker/docker-compose.development.yml
  docker/local/Readme.md
  docker/local/deployment/docker-compose.yml
  docker/local/development/docker-compose.development.yml
  docker/local/development/docker-compose.yml
  docs/docs/overview/architecture.md
  packages/notification-center/src/i18n/lang.ts
Labels: documentation, @novu/notification-center

#2046 Preview web and mobile
  apps/api/src/app/content-templates/content-templates.controller.ts
  apps/api/src/app/content-templates/e2e/preview-email.e2e.ts
  apps/api/src/app/content-templates/usecases/index.ts
  apps/api/src/app/content-templates/usecases/parse-preview/preview-email.command.ts
  apps/api/src/app/content-templates/usecases/parse-preview/preview-email.usecase.ts
  apps/api/src/app/message-template/usecases/create-message-template/create-message-template.command.ts
  apps/api/src/app/message-template/usecases/update-message-template/update-message-template.command.ts
  apps/web/package.json
  apps/web/src/api/content-templates.ts
  apps/web/src/components/templates/EditorPreviewSwitch.tsx
  apps/web/src/components/templates/TemplatePageHeader.tsx
  apps/web/src/pages/templates/editor/Preview.tsx
  apps/web/src/pages/templates/editor/PreviewDateIcon.tsx
  apps/web/src/pages/templates/editor/PreviewMobile.cy.tsx
  apps/web/src/pages/templates/editor/PreviewMobile.tsx
  apps/web/src/pages/templates/editor/PreviewUserIcon.tsx
  apps/web/src/pages/templates/editor/PreviewWeb.cy.tsx
  apps/web/src/pages/templates/editor/PreviewWeb.tsx
  apps/web/src/pages/templates/editor/TemplateEditorPage.tsx
  pnpm-lock.yaml
Labels: @novu/api, @novu/web

#2059 fix interface exports
  packages/notification-center/jest.config.js
  packages/notification-center/package.json
  packages/notification-center/src/index.test.ts
  packages/notification-center/src/index.ts
  packages/notification-center/src/shared/enums/index.ts
  packages/notification-center/src/shared/interfaces/index.ts
  pnpm-lock.yaml
Labels: @novu/notification-center

#2055 feat: add preview of email inbox
  apps/web/src/components/templates/email-editor/EmailContentCard.tsx
  apps/web/src/components/templates/email-editor/EmailInboxContent.tsx
  apps/web/src/pages/templates/editor/Mobile.tsx
  apps/web/src/pages/templates/editor/Preview.tsx
  apps/web/src/pages/templates/editor/PreviewMobile.tsx
  apps/web/src/pages/templates/editor/PreviewMobileInbox/DateArrow.tsx
  apps/web/src/pages/templates/editor/PreviewMobileInbox/InboxItem.tsx
  apps/web/src/pages/templates/editor/PreviewMobileInbox/index.tsx
  apps/web/src/pages/templates/editor/PreviewWeb.tsx
Labels: @novu/web

#2066 0.9.2
  packages/notification-center/jest.config.js
  packages/notification-center/package.json
  packages/notification-center/src/hooks/use-default-theme.hook.ts
  packages/notification-center/src/index.test.ts
  packages/notification-center/src/index.ts
  packages/notification-center/src/shared/enums/index.ts
  packages/notification-center/src/shared/interfaces/index.ts
  pnpm-lock.yaml
Labels: @novu/notification-center

#2068 v0.9.2 release
  apps/web/package.json
  apps/widget/package.json
  lerna.json
  libs/embed/package.json
  packages/notification-center/jest.config.js
  packages/notification-center/package.json
  packages/notification-center/src/hooks/use-default-theme.hook.ts
  packages/notification-center/src/index.test.ts
  packages/notification-center/src/index.ts
  packages/notification-center/src/shared/enums/index.ts
  packages/notification-center/src/shared/interfaces/index.ts
  pnpm-lock.yaml
Labels: @novu/web, @novu/notification-center

#2065 Layout fixes
  apps/web/cypress/tests/notification-editor/debugging-test-trigger.spec.ts
  apps/web/src/components/templates/EditorPreviewSwitch.tsx
  apps/web/src/components/templates/TemplatePageHeader.tsx
  apps/web/src/components/templates/email-editor/EmailMessagesCards.tsx
  apps/web/src/pages/templates/editor/Mobile.tsx
  apps/web/src/pages/templates/editor/Preview.tsx
  apps/web/src/pages/templates/editor/PreviewMobile.tsx
  apps/web/src/pages/templates/editor/PreviewMobileInbox/DateArrow.tsx
  apps/web/src/pages/templates/editor/PreviewMobileInbox/InboxItem.tsx
  apps/web/src/pages/templates/editor/PreviewMobileInbox/index.tsx
  apps/web/src/pages/templates/editor/PreviewUserIcon.tsx
  apps/web/src/pages/templates/editor/PreviewWeb.tsx
  apps/web/src/pages/templates/editor/TemplateEditorPage.tsx
Labels: @novu/web

#1833 fix: integrations store stretching
  apps/web/src/pages/integrations/components/ChannelGroup.tsx
Labels: @novu/web, community, pr-party

#2061 Nv 1120 UI for webhook link
  apps/api/src/app/execution-details/usecases/create-execution-details/create-execution-details.command.ts
  apps/api/src/app/integrations/integrations.controller.ts
  apps/api/src/app/integrations/usecases/get-webhook-support-status/get-webhook-support-status.command.ts
  apps/api/src/app/integrations/usecases/get-webhook-support-status/get-webhook-support-status.usecase.ts
  apps/api/src/app/integrations/usecases/index.ts
  apps/web/src/api/integration.ts
  apps/web/src/components/activity/ExecutionDetailsStepHeader.tsx
  apps/web/src/components/activity/ExecutionDetailsWebhookFeedback.tsx
  apps/web/src/components/activity/helpers.ts
  apps/web/src/pages/integrations/components/ConnectIntegrationForm.cy.tsx
  apps/web/src/pages/integrations/components/ConnectIntegrationForm.tsx
  apps/webhook/src/webhooks/usecases/execution-details/create-execution-details.usecase.ts
  libs/dal/src/repositories/execution-details/execution-details.entity.ts
  libs/dal/src/repositories/execution-details/execution-details.schema.ts
  libs/dal/src/repositories/notification/notification.repository.ts
  libs/shared/src/consts/providers/credentials/provider-credentials.ts
Labels: @novu/api, @novu/web, @novu/dal, @novu/webhook, @novu/shared

#1359 A new Typo checker repo action!
  .cspell.json
  .eslintrc.js
  .github/workflows/dev-deploy-api.yml
  .github/workflows/dev-deploy-embed.yml
  .github/workflows/dev-deploy-web.yml
  .github/workflows/dev-deploy-webhook.yml
  .github/workflows/dev-deploy-widget.yml
  .github/workflows/dev-deploy-ws.yml
  .github/workflows/prod-deploy-api.yml
  .github/workflows/prod-deploy-embed.yml
  .github/workflows/prod-deploy-web.yml
  .github/workflows/prod-deploy-webhook.yml
  .github/workflows/prod-deploy-widget.yml
  .github/workflows/prod-deploy-ws.yml
  .github/workflows/tag-images.yml
  .github/workflows/typos.yml
  apps/api/src/app/events/dtos/trigger-event-request.dto.ts
  apps/api/src/app/events/dtos/trigger-event-to-all-request.dto.ts
  apps/api/src/app/events/usecases/send-message/send-message-in-app.usecase.ts
  apps/api/src/app/invites/usecases/invite-member/invite-member.usecase.ts
  apps/api/src/app/invites/usecases/resend-invite/resend-invite.usecase.ts
  apps/api/src/app/notifications/activity.controller.ts
  apps/api/src/app/notifications/dtos/activity-graph-states-response.dto.ts
  apps/api/src/app/notifications/notification.controller.ts
  apps/api/src/app/notifications/usecases/get-activity-feed/get-activity-feed.usecase.ts
  apps/api/src/app/notifications/usecases/get-activity-graph-states/get-activity-graph-states.usecase.ts
  apps/api/src/app/partner-integrations/usecases/update-vercel-configuration/update-vercel-configuration.usecase.ts
  apps/api/src/app/subscribers/subscribers.controller.ts
  apps/api/src/app/widgets/queries/get-count.query.ts
  apps/api/src/app/widgets/queries/store.query.ts
  apps/api/src/app/widgets/usecases/get-notifications-feed/get-notifications-feed.command.ts
  apps/api/src/app/widgets/usecases/index.ts
  apps/api/src/app/widgets/usecases/mark-action-as-done/update-message-actions.usecase.ts
  apps/api/src/app/widgets/widgets.controller.ts
  apps/web/package.json
  apps/web/src/components/auth/SignUpForm.tsx
  apps/web/src/components/templates/in-app-editor/content/Content.tsx
  apps/web/src/config/index.ts
  apps/web/src/hooks/use-novu.ts
  apps/web/src/pages/settings/tabs/InAppCenterCard.tsx
  apps/widget/public/iframeResizer.contentWindow.js
  docs/docs/platform/integrations.md
  docs/docs/platform/templates.md
  libs/embed/README.md
  libs/shared/src/consts/providers/provider.enum.ts
  package.json
  pnpm-lock.yaml
Labels: documentation, @novu/api, @novu/web, accepted, @novu/shared

#1750 feat: Added Termii webhook parser
  .cspell.json
  packages/stateless/src/lib/provider/provider.interface.ts
  providers/termii/src/lib/termii.provider.ts
Labels: providers

#2074 Nv 1183 add webhook section to docs
  docs/docs/platform/webhooks.md
  docs/static/img/webhook-url.png
Labels: documentation

#2076 Feat: send email message test
  apps/api/src/app/events/dtos/test-email-request.dto.ts
  apps/api/src/app/events/events.controller.ts
  apps/api/src/app/events/usecases/index.ts
  apps/api/src/app/events/usecases/send-message/send-message.command.ts
  apps/api/src/app/events/usecases/send-message/test-send-email.usecase.ts
  apps/web/package.json
  apps/web/src/api/templates.ts
  apps/web/src/components/templates/EditorPreviewSwitch.tsx
  apps/web/src/components/templates/VariableManager.tsx
  apps/web/src/components/templates/email-editor/EmailContentCard.tsx
  apps/web/src/components/templates/email-editor/EmailMessagesCards.tsx
  apps/web/src/components/templates/email-editor/TestSendEmail.tsx
  apps/web/src/components/templates/use-template-controller.hook.ts
  apps/web/src/components/workflow/FlowEditor.tsx
  apps/web/src/design-system/icons/actions/Invite.tsx
  packages/stateless/src/lib/provider/provider.interface.ts
  pnpm-lock.yaml
Labels: @novu/api, @novu/web

#2087 Feature/template editor
  .cspell.json
  apps/api/src/app/content-templates/content-templates.controller.ts
  apps/api/src/app/content-templates/e2e/preview-email.e2e.ts
  apps/api/src/app/content-templates/usecases/compile-template/templates/basic.handlebars
  apps/api/src/app/content-templates/usecases/index.ts
  apps/api/src/app/content-templates/usecases/parse-preview/preview-email.command.ts
  apps/api/src/app/content-templates/usecases/parse-preview/preview-email.usecase.ts
  apps/api/src/app/events/dtos/test-email-request.dto.ts
  apps/api/src/app/events/events.controller.ts
  apps/api/src/app/events/usecases/index.ts
  apps/api/src/app/events/usecases/send-message/send-message-email.usecase.ts
  apps/api/src/app/events/usecases/send-message/send-message.command.ts
  apps/api/src/app/events/usecases/send-message/test-send-email.usecase.ts
  apps/api/src/app/message-template/usecases/create-message-template/create-message-template.command.ts
  apps/api/src/app/message-template/usecases/create-message-template/create-message-template.usecase.ts
  apps/api/src/app/message-template/usecases/update-message-template/update-message-template.command.ts
  apps/api/src/app/message-template/usecases/update-message-template/update-message-template.usecase.ts
  apps/api/src/app/notification-template/e2e/create-notification-templates.e2e.ts
  apps/api/src/app/notification-template/e2e/update-notification-template.e2e.ts
  apps/api/src/app/notification-template/usecases/create-notification-template/create-notification-template.usecase.ts
  apps/api/src/app/notification-template/usecases/update-notification-template/update-notification-template.usecase.ts
  apps/api/src/app/shared/dtos/message-template.ts
  apps/web/cypress/tests/notification-editor/debugging-test-trigger.spec.ts
  apps/web/cypress/tests/notification-editor/main-functionality.spec.ts
  apps/web/package.json
  apps/web/src/api/content-templates.ts
  apps/web/src/api/templates.ts
  apps/web/src/components/templates/EditorPreviewSwitch.tsx
  apps/web/src/components/templates/TemplatePageHeader.tsx
  apps/web/src/components/templates/VariableManager.tsx
  apps/web/src/components/templates/email-editor/EmailContentCard.tsx
  apps/web/src/components/templates/email-editor/EmailInboxContent.tsx
  apps/web/src/components/templates/email-editor/EmailMessagesCards.tsx
  apps/web/src/components/templates/email-editor/TestSendEmail.tsx
  apps/web/src/components/templates/use-template-controller.hook.ts
  apps/web/src/components/workflow/FlowEditor.tsx
  apps/web/src/design-system/icons/actions/Invite.tsx
  apps/web/src/pages/templates/editor/Mobile.tsx
  apps/web/src/pages/templates/editor/Preview.tsx
  apps/web/src/pages/templates/editor/PreviewDateIcon.tsx
  apps/web/src/pages/templates/editor/PreviewMobile.cy.tsx
  apps/web/src/pages/templates/editor/PreviewMobile.tsx
  apps/web/src/pages/templates/editor/PreviewMobileInbox/DateArrow.tsx
  apps/web/src/pages/templates/editor/PreviewMobileInbox/InboxItem.tsx
  apps/web/src/pages/templates/editor/PreviewMobileInbox/index.tsx
  apps/web/src/pages/templates/editor/PreviewUserIcon.tsx
  apps/web/src/pages/templates/editor/PreviewWeb.cy.tsx
  apps/web/src/pages/templates/editor/PreviewWeb.tsx
  libs/dal/src/repositories/message-template/message-template.entity.ts
  libs/dal/src/repositories/message-template/message-template.schema.ts
  libs/shared/src/entities/message-template/message-template.interface.ts
  packages/stateless/src/lib/provider/provider.interface.ts
  pnpm-lock.yaml
Labels: @novu/api, @novu/web, @novu/dal, @novu/shared

#2088 Nv 1212 feature create topicsubscribers schema
  libs/dal/src/repositories/subscriber/subscriber.entity.ts
  libs/dal/src/repositories/topic/index.ts
  libs/dal/src/repositories/topic/topic-subscribers.entity.ts
  libs/dal/src/repositories/topic/topic-subscribers.schema.ts
  libs/dal/src/repositories/topic/topic.entity.ts
Labels: @novu/dal

#2101 feat(web): mailersend integration
  apps/api/package.json
  apps/api/src/app/events/services/mail-service/handlers/index.ts
  apps/api/src/app/events/services/mail-service/handlers/mailersend.handler.ts
  apps/api/src/app/events/services/mail-service/mail.factory.ts
  apps/web/public/static/images/providers/dark/mailersend.svg
  apps/web/public/static/images/providers/light/mailersend.svg
  docs/docs/channels/email/mailersend.md
  libs/shared/src/consts/providers/channels/email.ts
  libs/shared/src/consts/providers/credentials/provider-credentials.ts
  libs/shared/src/consts/providers/provider.enum.ts
  packages/application-generic/package.json
  packages/application-generic/src/factories/mail/handlers/index.ts
  packages/application-generic/src/factories/mail/handlers/mailersend.handler.ts
  packages/application-generic/src/factories/mail/mail.factory.ts
  pnpm-lock.yaml
  providers/mailersend/src/lib/mailersend.provider.ts
Labels: documentation, @novu/api, @novu/web, @novu/shared, providers

#2089 (docs - #2091) - Updated the docs for the docker
  docs/docs/overview/docker-deploy.md
Labels: documentation, community

#1842 GitPod integration setup
  .cspell.json
  .gitpod.yml
Labels: community

#2084 feat: moved cache service to dal layer
  apps/api/package.json
  apps/api/src/.env.development
  apps/api/src/.env.production
  apps/api/src/.env.test
  apps/api/src/.example.env
  apps/api/src/app/shared/shared.module.ts
  libs/dal/package.json
  libs/dal/src/index.ts
  libs/dal/src/repositories/base-repository.ts
  libs/dal/src/repositories/message/message.repository.ts
  libs/dal/src/shared/cache/cache.service.ts
  libs/dal/src/shared/cache/index.ts
  libs/dal/src/shared/index.ts
  libs/dal/src/shared/interceptors/cached.interceptor.ts
  libs/dal/src/shared/interceptors/index.ts
  libs/dal/src/shared/interceptors/invalidate-cache.interceptor.ts
  libs/embed/README.md
  packages/stateless/src/lib/provider/provider.interface.ts
  pnpm-lock.yaml
Labels: @novu/api, @novu/dal

#2000 Feat migrate mantine notification center
  apps/widget/cypress/e2e/user-preference.spec.ts
  packages/notification-center/package.json
  packages/notification-center/src/components/notification-center/components/FeedsTabs.tsx
  packages/notification-center/src/components/notification-center/components/layout/tabs/Tabs.styles.ts
  packages/notification-center/src/components/notification-center/components/layout/tabs/Tabs.tsx
  packages/notification-center/src/components/notification-center/components/user-preference/ChannelPreference.tsx
  packages/notification-center/src/components/notification-center/components/user-preference/SubscriberPreference.tsx
  packages/notification-center/src/components/notification-center/components/user-preference/styles.ts
  packages/notification-center/src/components/popover-notification-center/PopoverNotificationCenter.tsx
  packages/notification-center/src/components/popover-notification-center/components/Popover.tsx
  pnpm-lock.yaml
Labels: @novu/notification-center

#2012 feat: utilize entire screen height on workflow editor
  apps/web/src/pages/templates/workflow/WorkflowEditorPage.tsx
Labels: @novu/web, community

#2115 feat: autocomplete for custom editor
  .cspell.json
  apps/api/src/app/content-templates/usecases/compile-template/compile-template.usecase.ts
  apps/web/src/components/templates/email-editor/EmailCustomCodeEditor.tsx
  libs/shared/src/consts/handlebar-helpers/handlebarHelpers.ts
  libs/shared/src/consts/handlebar-helpers/index.ts
  libs/shared/src/consts/index.ts
  libs/shared/src/entities/message-template/message-template.interface.ts
Labels: @novu/api, @novu/web, @novu/shared

#2045 feat(provider): Add @infobip-community as a SMS provider
  .cspell.json
  apps/api/package.json
  apps/api/src/app/events/services/mail-service/handlers/index.ts
  apps/api/src/app/events/services/mail-service/handlers/infobip.handler.ts
  apps/api/src/app/events/services/mail-service/mail.factory.ts
  apps/api/src/app/events/services/sms-service/handlers/index.ts
  apps/api/src/app/events/services/sms-service/handlers/infobip.handler.ts
  apps/api/src/app/events/services/sms-service/sms.factory.ts
  apps/web/public/static/images/providers/dark/infobip.png
  apps/web/public/static/images/providers/light/infobip.png
  libs/dal/src/repositories/integration/integration.entity.ts
  libs/shared/src/consts/providers/channels/email.ts
  libs/shared/src/consts/providers/channels/sms.ts
  libs/shared/src/consts/providers/credentials/provider-credentials.ts
  libs/shared/src/consts/providers/provider.enum.ts
  pnpm-lock.yaml
  providers/infobip/.czrc
  providers/infobip/.eslintrc.json
  providers/infobip/.gitignore
  providers/infobip/README.md
  providers/infobip/jest.config.js
  providers/infobip/package.json
  providers/infobip/src/index.ts
  providers/infobip/src/lib/infobip.provider.spec.ts
  providers/infobip/src/lib/infobip.provider.ts
  providers/infobip/tsconfig.json
  providers/infobip/tsconfig.module.json
Labels: @novu/api, @novu/web, @novu/dal, @novu/shared, providers, community

#2114 chore: Updated stateless package to 0.9.0
  .cspell.json
  _templates/provider/new/package.ejs.t
Labels: community

#2103 Article
  docs/docs/community/projects-and-articles.md
Labels: documentation, accepted, community

#2080 feat(provider): Add burstSMS as an SMS provider
  apps/api/package.json
  apps/api/src/app/events/services/sms-service/handlers/burst-sms.handler.ts
  apps/api/src/app/events/services/sms-service/handlers/index.ts
  apps/api/src/app/events/services/sms-service/sms.factory.ts
  apps/web/public/static/images/providers/dark/burst-sms.svg
  apps/web/public/static/images/providers/light/burst-sms.svg
  libs/shared/src/consts/providers/channels/sms.ts
  libs/shared/src/consts/providers/credentials/provider-credentials.ts
  libs/shared/src/consts/providers/provider.enum.ts
  pnpm-lock.yaml
  providers/burst-sms/.czrc
  providers/burst-sms/.eslintrc.json
  providers/burst-sms/.gitignore
  providers/burst-sms/README.md
  providers/burst-sms/jest.config.js
  providers/burst-sms/package.json
  providers/burst-sms/src/index.ts
  providers/burst-sms/src/lib/burst-sms.provider.spec.ts
  providers/burst-sms/src/lib/burst-sms.provider.ts
  providers/burst-sms/tsconfig.json
  providers/burst-sms/tsconfig.module.json
Labels: @novu/api, @novu/web, @novu/shared, providers, community

#2117 feat: New Outlook365 provider
  apps/api/package.json
  apps/api/src/app/events/services/mail-service/handlers/index.ts
  apps/api/src/app/events/services/mail-service/handlers/outlook365.handler.ts
  apps/api/src/app/events/services/mail-service/mail.factory.ts
  apps/web/public/static/images/providers/dark/outlook365.png
  apps/web/public/static/images/providers/light/outlook365.png
  docs/docs/channels/email/outlook365.md
  libs/shared/src/consts/providers/channels/email.ts
  libs/shared/src/consts/providers/credentials/provider-credentials.ts
  libs/shared/src/consts/providers/provider.enum.ts
  pnpm-lock.yaml
  providers/outlook365/.czrc
  providers/outlook365/.eslintrc.json
  providers/outlook365/.gitignore
  providers/outlook365/README.md
  providers/outlook365/jest.config.js
  providers/outlook365/package.json
  providers/outlook365/src/index.ts
  providers/outlook365/src/lib/outlook365.provider.spec.ts
  providers/outlook365/src/lib/outlook365.provider.ts
  providers/outlook365/tsconfig.json
  providers/outlook365/tsconfig.module.json
Labels: documentation, @novu/api, @novu/web, @novu/shared, providers, community

#2125 fix: added functionality to override subscriber preference for system critical messages
  apps/api/src/app/events/e2e/process-subscriber.e2e.ts
  apps/api/src/app/events/usecases/send-message/send-message.usecase.ts
  libs/dal/src/repositories/notification-template/notification-template.schema.ts
Labels: @novu/api, @novu/dal

#703 Implements clickatell sms provider
  .cspell.json
  apps/api/package.json
  apps/api/src/app/events/services/sms-service/handlers/clickatell.handler.ts
  apps/api/src/app/events/services/sms-service/handlers/index.ts
  apps/api/src/app/events/services/sms-service/sms.factory.ts
  apps/web/public/static/images/providers/dark/clickatell.png
  apps/web/public/static/images/providers/light/clickatell.png
  apps/web/src/design-system/icons/general/Ellipse.tsx
  docs/docs/home.md
  libs/shared/src/consts/providers/channels/sms.ts
  libs/shared/src/consts/providers/credentials/provider-credentials.ts
  libs/shared/src/consts/providers/provider.enum.ts
  pnpm-lock.yaml
  providers/clickatell/.czrc
  providers/clickatell/.eslintrc.json
  providers/clickatell/.gitignore
  providers/clickatell/README.md
  providers/clickatell/jest.config.js
  providers/clickatell/package.json
  providers/clickatell/src/index.ts
  providers/clickatell/src/lib/clickatell.provider.spec.ts
  providers/clickatell/src/lib/clickatell.provider.ts
  providers/clickatell/tsconfig.json
  providers/clickatell/tsconfig.module.json
Labels: documentation, @novu/api, @novu/web, accepted, @novu/shared, providers

#2100 fix: misleading resend invite on self-host
  apps/web/src/components/invites/MemberRole.tsx
  apps/web/src/components/invites/MembersTable.tsx
  apps/web/src/pages/invites/MembersInvitePage.tsx
Labels: @novu/web

#2130 NV-1200 Missing security headers
  .cspell.json
  apps/api/package.json
  apps/api/src/bootstrap.ts
  apps/web/netlify.toml
  pnpm-lock.yaml
Labels: @novu/api, @novu/web

#1537 feat: test amazon ses connection
  providers/ses/src/lib/ses.provider.ts
Labels: providers

#2029 fix(provider): incorrect format send to ms team
  providers/ms-teams/src/lib/msTeams.provider.ts
Labels: providers, community

#2134 Nv 1277 edit default value & required modal
  apps/web/src/components/templates/TemplateEditor.tsx
  apps/web/src/components/templates/VariableManager.tsx
  apps/web/src/components/templates/email-editor/EmailMessagesCards.tsx
  apps/web/src/components/templates/email-editor/TestSendEmail.tsx
  apps/web/src/components/templates/email-editor/variables-management/VarLabel.tsx
  apps/web/src/components/templates/email-editor/variables-management/VariablesManagement.tsx
Labels: @novu/web

#2097 feat(dal): create topic repository in dal
  libs/dal/src/repositories/topic/index.ts
  libs/dal/src/repositories/topic/topic.entity.ts
  libs/dal/src/repositories/topic/topic.repository.ts
Labels: @novu/dal

#2098 feat(dal): topic subscribers repository
  libs/dal/src/repositories/topic/index.ts
  libs/dal/src/repositories/topic/topic-subscribers.repository.ts
Labels: @novu/dal

#1990 feat: Initial Container Optimization
  .cspell.json
  .github/workflows/reusable-api-e2e.yml
  .github/workflows/reusable-web-e2e.yml
  .github/workflows/reusable-webhook-e2e.yml
  apps/api/Dockerfile
  apps/api/package.json
  apps/web/Dockerfile
  apps/web/package.json
  apps/webhook/Dockerfile
  apps/webhook/package.json
  apps/widget/Dockerfile
  apps/widget/package.json
  apps/ws/Dockerfile
  apps/ws/package.json
  docker/local/docker-compose.localstack.yml
  libs/embed/Dockerfile
  libs/embed/package.json
Labels: @novu/api, @novu/web, @novu/webhook, @novu/ws, community

#2137 fix: fix errors for icons
  apps/web/src/components/templates/email-editor/variables-management/VarItemsDropdown.tsx
  apps/web/src/design-system/icons/arrows/ChevronDown.tsx
  apps/web/src/design-system/icons/arrows/ChevronUp.tsx
  apps/web/src/design-system/icons/gradient/EditGradient.tsx
  apps/web/src/pages/templates/editor/PreviewSegment/MobileIcon.tsx
  apps/web/src/pages/templates/editor/PreviewSegment/WebIcon.tsx
Labels: @novu/web

#2138 Docker file test branch merge
  .cspell.json
  .github/workflows/reusable-api-e2e.yml
  .github/workflows/reusable-web-e2e.yml
  .github/workflows/reusable-webhook-e2e.yml
  apps/api/Dockerfile
  apps/api/package.json
  apps/web/Dockerfile
  apps/web/package.json
  apps/webhook/Dockerfile
  apps/webhook/package.json
  apps/widget/Dockerfile
  apps/widget/package.json
  apps/ws/Dockerfile
  apps/ws/package.json
  docker/local/docker-compose.localstack.yml
  libs/embed/Dockerfile
  libs/embed/package.json
Labels: @novu/api, @novu/web, @novu/webhook, @novu/ws
