Repository novuhq/novu, pull requests merged in 2023-09, with the labels that each got.

#4048 feat: add api to add conditions on create and update integration
  apps/api/src/app/events/e2e/trigger-event.e2e.ts
  apps/api/src/app/integrations/dtos/create-integration-request.dto.ts
  apps/api/src/app/integrations/dtos/integration-response.dto.ts
  apps/api/src/app/integrations/dtos/update-integration.dto.ts
  apps/api/src/app/integrations/integrations.controller.ts
  apps/api/src/app/integrations/usecases/create-integration/create-integration.command.ts
  apps/api/src/app/integrations/usecases/create-integration/create-integration.usecase.ts
  apps/api/src/app/integrations/usecases/set-integration-as-primary/set-integration-as-primary.usecase.ts
  apps/api/src/app/integrations/usecases/update-integration/update-integration.command.ts
  apps/api/src/app/integrations/usecases/update-integration/update-integration.usecase.ts
  apps/api/src/app/shared/dtos/step-filter.ts
Labels: @novu/api

#4071 feat(dal): change the month add and sub for days add and sub
  apps/api/migrations/expire-at/expire-at.migration.ts
  apps/api/src/app/events/e2e/delay-events.e2e.ts
  apps/api/src/app/events/e2e/trigger-event.e2e.ts
  libs/dal/src/repositories/base-repository.ts
  libs/shared/src/consts/data-retention/index.ts
  libs/shared/src/consts/index.ts
Labels: @novu/api, @novu/dal, @novu/shared

#4033 Java Quickstart
  docs/docs/overview/quickstart/get-started-with-java.md
Labels: documentation, community

#4074 Revert "NV-1959B - 🐛 Bug Report: The Notification Center isn't mobile responsive"
  packages/notification-center/src/components/notification-center/components/AppContent.tsx
Labels: @novu/notification-center

#4075 V0.19.0 alpha 1
  apps/api/package.json
  apps/inbound-mail/package.json
  apps/webhook/package.json
  apps/worker/package.json
  apps/ws/package.json
  docs/docs/overview/quickstart/get-started-with-java.md
  lerna.json
  pnpm-lock.yaml
Labels: documentation, @novu/api, @novu/webhook, @novu/ws, @novu/worker, @novu/inbound-mail

#4077 V0.19.x alpha 1
  apps/api/package.json
  apps/inbound-mail/package.json
  apps/webhook/package.json
  apps/worker/package.json
  apps/ws/package.json
  packages/application-generic/package.json
  pnpm-lock.yaml
Labels: documentation, @novu/api, @novu/web, @novu/dal, @novu/webhook, @novu/ws, @novu/notification-center, @novu/shared, providers, @novu/notification-center-vue, @novu/notification-center-angular, @novu/worker, @novu/inbound-mail

#4066 Nv 2681 show the number of applied conditions on the integration
  apps/web/src/design-system/icons/general/Condition.tsx
  apps/web/src/design-system/icons/index.ts
  apps/web/src/pages/integrations/IntegrationsList.tsx
  apps/web/src/pages/integrations/components/ConditionCell.tsx
  apps/web/src/pages/integrations/types.ts
Labels: @novu/web

#4082 fix: unseen count default
  apps/api/src/app/subscribers/subscribers.controller.ts
  apps/api/src/app/widgets/widgets.controller.ts
Labels: @novu/api, High priority

#4084 Fix unseen count
  apps/api/src/app/subscribers/subscribers.controller.ts
  apps/api/src/app/widgets/e2e/get-count.e2e.ts
  apps/api/src/app/widgets/e2e/get-unseen-count.e2e.ts
  apps/api/src/app/widgets/widgets.controller.ts
Labels: @novu/api

#4064 Nv 2781 move auth logic to application generic
  apps/api/src/app/auth/auth.controller.ts
  apps/api/src/app/auth/auth.module.ts
  apps/api/src/app/auth/e2e/switch-environment.e2e.ts
  apps/api/src/app/auth/framework/auth.guard.ts
  apps/api/src/app/auth/framework/root-environment-guard.service.ts
  apps/api/src/app/auth/services/passport/github.strategy.ts
  apps/api/src/app/auth/services/passport/jwt.strategy.ts
  apps/api/src/app/auth/services/passport/subscriber-jwt.strategy.ts
  apps/api/src/app/auth/usecases/index.ts
  apps/api/src/app/auth/usecases/login/login.usecase.ts
  apps/api/src/app/auth/usecases/password-reset/password-reset.usecase.ts
  apps/api/src/app/auth/usecases/register/user-register.usecase.ts
  apps/api/src/app/invites/usecases/accept-invite/accept-invite.usecase.ts
  apps/api/src/app/testing/usecases/seed-data/seed-data.usecase.ts
  apps/api/src/app/user/usecases/index.ts
  apps/api/src/app/widgets/usecases/initialize-session/initialize-session.usecase.ts
  apps/web/src/design-system/icons/index.ts
  apps/web/src/design-system/icons/social/Google.tsx
  apps/web/src/pages/auth/components/LoginForm.tsx
  apps/web/src/pages/auth/components/gitHubUtils.ts
  packages/application-generic/package.json
  packages/application-generic/src/index.ts
  packages/application-generic/src/services/auth/auth.service.ts
  packages/application-generic/src/services/auth/index.ts
  packages/application-generic/src/services/auth/shared.ts
  packages/application-generic/src/services/index.ts
  packages/application-generic/src/usecases/create-user/create-user.command.ts
  packages/application-generic/src/usecases/create-user/create-user.usecase.ts
  packages/application-generic/src/usecases/create-user/index.ts
  packages/application-generic/src/usecases/index.ts
  packages/application-generic/src/usecases/switch-environment/index.ts
  packages/application-generic/src/usecases/switch-environment/switch-environment.command.ts
  packages/application-generic/src/usecases/switch-environment/switch-environment.usecase.ts
  packages/application-generic/src/usecases/switch-organization/index.ts
  packages/application-generic/src/usecases/switch-organization/switch-organization.command.ts
  packages/application-generic/src/usecases/switch-organization/switch-organization.usecase.ts
  packages/application-generic/src/utils/email-normalization.ts
  pnpm-lock.yaml
Labels: @novu/api, @novu/web

#4088 fix: unread request
  apps/api/src/app/widgets/e2e/get-unread-count.e2e.ts
  apps/api/src/app/widgets/widgets.controller.ts
Labels: @novu/api

#4067 feat: add external oauth module
  apps/api/package.json
  apps/api/src/app.module.ts
  pnpm-lock.yaml
Labels: @novu/api

#4091 fix: so closing x is in the right place
  apps/web/src/components/utils/ProductLead.tsx
  apps/web/src/pages/templates/components/TranslateProductLead.tsx
Labels: @novu/web

#4092 fix: so closing x is in the right place
  apps/web/src/components/utils/ProductLead.tsx
  apps/web/src/pages/templates/components/TranslateProductLead.tsx
Labels: @novu/web

#4070 Nv 2518 display what node will fail to send a notification
  apps/web/src/hooks/integrations/index.ts
  apps/web/src/hooks/integrations/useGetPrimaryIntegration.ts
  apps/web/src/hooks/integrations/useHasActiveIntegrations.ts
  apps/web/src/pages/templates/WorkflowListPage.tsx
  apps/web/src/pages/templates/components/ChannelStepEditor.tsx
  apps/web/src/pages/templates/components/LackIntegrationAlert.tsx
  apps/web/src/pages/templates/components/TemplatePushEditor.tsx
  apps/web/src/pages/templates/components/TemplateSMSEditor.tsx
  apps/web/src/pages/templates/components/chat-editor/TemplateChatEditor.tsx
  apps/web/src/pages/templates/components/email-editor/EmailContentCard.tsx
  apps/web/src/pages/templates/components/email-editor/EmailMessagesCards.tsx
  apps/web/src/pages/templates/components/in-app-editor/TemplateInAppEditor.tsx
  apps/web/src/pages/templates/components/notificationTemplateSchema.ts
  apps/web/src/pages/templates/constants.tsx
  apps/web/src/pages/templates/shared/errors.ts
  apps/web/src/pages/templates/workflow/DisplayPrimaryProviderIcon.tsx
  apps/web/src/pages/templates/workflow/NodeErrorPopover.tsx
  apps/web/src/pages/templates/workflow/SideBar/Sidebar.tsx
  apps/web/src/pages/templates/workflow/workflow/node-types/ChannelNode.tsx
  apps/web/src/pages/templates/workflow/workflow/node-types/WorkflowNode.tsx
Labels: @novu/web

#4095 Nv 2679 reusable conditions component
  apps/web/src/components/conditions/Conditions.tsx
  apps/web/src/design-system/icons/actions/ConditionPlus.tsx
  apps/web/src/design-system/icons/actions/Duplicate.tsx
  apps/web/src/design-system/icons/actions/PlusFilled.tsx
  apps/web/src/design-system/icons/general/Condition.tsx
  apps/web/src/design-system/icons/index.ts
  apps/web/src/design-system/sidebar/Sidebar.tsx
  apps/web/src/pages/integrations/components/ConditionCell.tsx
  apps/web/src/pages/integrations/components/multi-provider/CreateProviderInstanceSidebar.tsx
  apps/web/src/pages/integrations/components/multi-provider/UpdateProviderSidebar.tsx
  apps/web/src/pages/integrations/types.ts
  apps/web/src/pages/integrations/useProviders.ts
  apps/web/src/pages/integrations/utils.ts
  apps/web/src/pages/templates/workflow/SideBar/StepSettings.tsx
  libs/shared/src/consts/filters/filters.ts
  libs/shared/src/dto/integration/construct-integration.interface.ts
Labels: @novu/web, @novu/shared

#4072 feat: add logic for select primary integration modal
  apps/web/src/pages/integrations/components/UpdateIntegrationSidebarHeader.tsx
  apps/web/src/pages/integrations/components/multi-provider/SelectPrimaryIntegrationModal.tsx
  apps/web/src/pages/integrations/components/multi-provider/UpdateProviderSidebar.tsx
  apps/web/src/pages/integrations/types.ts
Labels: @novu/web

#4090 chore: upgrade vite
  packages/notification-center-vue/package.json
  pnpm-lock.yaml
Labels: @novu/notification-center-vue

#4068 NV-2765 - 🐛 Bug Report: delay icon is not aligned with other steps icon
  apps/web/src/pages/templates/workflow/workflow/node-types/AddNode.tsx
Labels: @novu/web, community

#4098 Nv 2704 apply conditions on the primary integration
  apps/web/src/design-system/icons/general/Condition.tsx
  apps/web/src/design-system/icons/general/RemoveCondition.tsx
  apps/web/src/design-system/icons/general/StarEmpty.tsx
  apps/web/src/design-system/icons/general/Warning.tsx
  apps/web/src/design-system/icons/index.ts
  apps/web/src/pages/integrations/components/ConditionIconButton.tsx
  apps/web/src/pages/integrations/components/PrimaryIconButton.tsx
  apps/web/src/pages/integrations/components/UpdateIntegrationSidebarHeader.tsx
  apps/web/src/pages/integrations/components/multi-provider/CreateProviderInstanceSidebar.tsx
  apps/web/src/pages/integrations/components/multi-provider/SelectPrimaryIntegrationModal.tsx
  apps/web/src/pages/integrations/components/multi-provider/UpdateProviderSidebar.tsx
  apps/web/src/pages/integrations/types.ts
Labels: @novu/web

#4114 fix: missing data prop in the compile payload
  apps/worker/src/app/workflow/usecases/send-message/send-message-chat.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-email.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-in-app.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-push.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-sms.usecase.ts
Labels: @novu/worker

#4113 fix: missing data prop in the compile payload
  apps/worker/src/app/workflow/usecases/send-message/send-message-chat.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-email.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-in-app.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-push.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-sms.usecase.ts
Labels: @novu/worker

#4110 Add ES i18n translations
  packages/notification-center/src/i18n/languages/es.ts
Labels: @novu/notification-center, community

#4115 fix: select integration with condtions
  apps/worker/src/app/workflow/usecases/send-message/send-message-email.usecase.ts
  packages/application-generic/src/usecases/select-integration/select-integration.usecase.ts
Labels: @novu/worker

#4105 refactor: conditions component
  apps/web/src/components/conditions/Conditions.tsx
  apps/web/src/components/conditions/index.ts
  apps/web/src/components/conditions/types.ts
  apps/web/src/design-system/tooltip/Tooltip.styles.ts
  apps/web/src/design-system/tooltip/Tooltip.tsx
  apps/web/src/design-system/typography/title/Title.tsx
  apps/web/src/pages/integrations/components/ConditionIconButton.tsx
  apps/web/src/pages/integrations/components/PrimaryIconButton.tsx
  apps/web/src/pages/integrations/components/UpdateIntegrationSidebarHeader.tsx
  apps/web/src/pages/integrations/components/multi-provider/CreateProviderInstanceSidebar.tsx
  apps/web/src/pages/integrations/components/multi-provider/UpdateProviderSidebar.tsx
  apps/web/src/pages/integrations/types.ts
  apps/web/src/pages/templates/WorkflowListPage.tsx
Labels: @novu/web

#4118 fix: so remove primary on condition modal is not shown as often as before
  apps/web/src/pages/integrations/components/ConditionIconButton.tsx
  apps/web/src/pages/integrations/components/multi-provider/UpdateProviderSidebar.tsx
Labels: @novu/web

#4119 fix: copy for primary flag will be removed modal
  apps/web/src/pages/integrations/components/ConditionIconButton.tsx
Labels: @novu/web

#4122 fix(ci): inbound mail pipeline indent
  .github/workflows/reusable-inbound-mail-e2e.yml
Labels: CI/CD

#4123 fix: mixpanel hot shard issue
  apps/worker/src/app/workflow/usecases/send-message/send-message.usecase.ts
  packages/application-generic/package.json
  packages/application-generic/src/services/analytics.service.ts
  packages/application-generic/src/usecases/trigger-event/trigger-event.usecase.ts
  pnpm-lock.yaml
Labels: @novu/worker

#4108 Add Staging Web Pipeline
  .github/workflows/staging-deploy-web.yml
Labels: CI/CD

#4120 Nv 2771 api e2e tests for the integration conditions
  apps/api/src/app/events/e2e/trigger-event.e2e.ts
  apps/api/src/app/events/usecases/parse-event-request/parse-event-request.usecase.ts
  apps/api/src/app/integrations/dtos/create-integration-request.dto.ts
  apps/api/src/app/integrations/dtos/update-integration.dto.ts
  apps/api/src/app/integrations/e2e/create-integration.e2e.ts
  apps/api/src/app/integrations/e2e/set-itegration-as-primary.e2e.ts
  apps/api/src/app/integrations/e2e/update-integration.e2e.ts
  apps/api/src/app/integrations/integrations.controller.ts
  apps/api/src/app/integrations/usecases/create-integration/create-integration.command.ts
  apps/api/src/app/integrations/usecases/update-integration/update-integration.command.ts
Labels: @novu/api

#4132 feat: add test for or condtions
  apps/api/src/app/events/e2e/trigger-event.e2e.ts
Labels: @novu/api

#4121 Build submodule package by branch
  .github/actions/checkout-submodules/action.yml
  .github/workflows/dev-deploy-api.yml
  .github/workflows/dev-deploy-inbound-mail.yml
  .github/workflows/dev-deploy-web.yml
  .github/workflows/dev-deploy-widget.yml
  .github/workflows/dev-deploy-worker.yml
  .github/workflows/dev-deploy-ws.yml
  .github/workflows/prod-deploy-api.yml
  .github/workflows/prod-deploy-inbound-mail.yml
  .github/workflows/prod-deploy-web.yml
  .github/workflows/prod-deploy-widget.yml
  .github/workflows/prod-deploy-worker.yml
  .github/workflows/prod-deploy-ws.yml
  .github/workflows/reusable-api-e2e.yml
  .github/workflows/reusable-inbound-mail-e2e.yml
  .github/workflows/reusable-web-e2e.yml
  .github/workflows/reusable-widget-e2e.yml
  .github/workflows/reusable-worker-e2e.yml
  .github/workflows/reusable-ws-e2e.yml
  .github/workflows/test.yml
Labels: CI/CD

#4135 add volume claim to mongodb deployment
  docker/kubernetes/kustomize/kustomization.yaml
  docker/kubernetes/kustomize/mongodb-deployment.yaml
  docker/kubernetes/kustomize/mongodb-volume.yaml
Labels: community, kustomize, docker

#4139 fix: run rename
  .github/actions/checkout-submodules/action.yml
Labels: CI/CD

#4136 Nv 2795 allow to create integration for novu sms and email providers
  apps/api/src/app/integrations/e2e/create-integration.e2e.ts
  apps/api/src/app/integrations/usecases/create-integration/create-integration.usecase.ts
  apps/web/cypress/tests/integrations-list-page.spec.ts
  apps/web/src/pages/integrations/components/multi-provider/CreateProviderInstanceSidebar.tsx
  apps/web/src/pages/integrations/components/multi-provider/SelectProviderSidebar.tsx
Labels: @novu/api, @novu/web

#4138 test: conditions for integration tests
  apps/web/cypress/tests/integrations-list-page.spec.ts
  apps/web/src/components/conditions/Conditions.tsx
  apps/web/src/components/execution-detail/ExecutionDetailsConditionItem.cy.tsx
  apps/web/src/components/execution-detail/ExecutionDetailsConditions.cy.tsx
  apps/web/src/pages/integrations/components/ConditionCell.tsx
  apps/web/src/pages/integrations/components/ConditionIconButton.tsx
  apps/web/src/pages/integrations/components/IntegrationNameCell.tsx
  apps/web/src/pages/integrations/components/PrimaryIconButton.tsx
  apps/web/src/pages/integrations/components/multi-provider/CreateProviderInstanceSidebar.tsx
Labels: @novu/web

#4143 Fix Inbound Mail Deployment
  .github/workflows/dev-deploy-inbound-mail.yml
Labels: CI/CD

#4141 feat: skip ee tests if no token
  .github/workflows/test.yml
Labels: CI/CD

#4140 Nv 2826 investigate failing digest tests
  apps/api/src/app/events/e2e/delay-events.e2e.ts
  apps/api/src/app/events/e2e/digest-events.e2e.ts
  apps/api/src/app/events/e2e/trigger-event-topic.e2e.ts
  apps/web/src/components/execution-detail/ExecutionDetailsModal.tsx
  libs/dal/src/repositories/job/job.repository.ts
  libs/shared/src/entities/job/status.enum.ts
  libs/testing/src/jobs.service.ts
  packages/application-generic/src/usecases/add-job/add-digest-job.usecase.ts
  packages/application-generic/src/usecases/digest-filter-steps/digest-filter-steps.usecase.ts
Labels: @novu/api, @novu/web, @novu/dal, @novu/shared

#4137 Add missing ee tests on deployment
  .github/workflows/dev-deploy-api.yml
  .github/workflows/prod-deploy-api.yml
Labels: CI/CD

#4037 chore(web): eslint react hooks part 3
  apps/web/.eslintrc.js
  apps/web/src/components/conditions/Conditions.tsx
  apps/web/src/components/utils/ProductLead.tsx
  apps/web/src/components/workflow/FlowEditor.tsx
  apps/web/src/hooks/integrations/useGetPrimaryIntegration.ts
  apps/web/src/hooks/useVariablesManager.ts
  apps/web/src/pages/auth/InvitationPage.tsx
  apps/web/src/pages/auth/LoginPage.tsx
  apps/web/src/pages/auth/components/CreateOrganizationForm.tsx
  apps/web/src/pages/auth/components/useAcceptInvite.ts
  apps/web/src/pages/brand/tabs/BrandingForm.tsx
  apps/web/src/pages/brand/tabs/LayoutEditor.tsx
  apps/web/src/pages/brand/tabs/LayoutsListPage.tsx
  apps/web/src/pages/integrations/components/ConnectIntegrationForm.tsx
  apps/web/src/pages/integrations/components/Modal/ConnectIntegrationForm.tsx
  apps/web/src/pages/integrations/components/multi-provider/CreateProviderInstanceSidebar.tsx
  apps/web/src/pages/integrations/components/multi-provider/UpdateProviderSidebar.tsx
  apps/web/src/pages/invites/MembersInvitePage.tsx
  apps/web/src/pages/partner-integrations/components/ProjectRow.tsx
  apps/web/src/pages/quick-start/components/QuickStartWrapper.tsx
  apps/web/src/pages/quick-start/components/SetupStatus.tsx
  apps/web/src/pages/quick-start/components/SetupTimeline.tsx
  apps/web/src/pages/quick-start/components/layout/GetStartedLayout.tsx
  apps/web/src/pages/quick-start/steps/DigestPreview.tsx
  apps/web/src/pages/quick-start/steps/FrameworkSetup.tsx
  apps/web/src/pages/quick-start/steps/GetStarted.tsx
  apps/web/src/pages/quick-start/steps/InAppSuccess.tsx
  apps/web/src/pages/quick-start/steps/NotificationCenter.tsx
  apps/web/src/pages/quick-start/steps/Setup.tsx
  apps/web/src/pages/settings/tabs/EmailSettings.tsx
  apps/web/src/pages/templates/components/ChannelStepEditor.tsx
  apps/web/src/pages/templates/components/TemplateEditorFormProvider.tsx
  apps/web/src/pages/templates/components/TestWorkflow.tsx
  apps/web/src/pages/templates/components/VariableManager.cy.tsx
  apps/web/src/pages/templates/components/email-editor/EmailInboxContent.tsx
  apps/web/src/pages/templates/components/email-editor/TextRowContent.tsx
  apps/web/src/pages/templates/components/in-app-editor/AvatarFeedFields.tsx
  apps/web/src/pages/templates/editor/Preview.tsx
  apps/web/src/pages/templates/editor/TemplateEditorPage.tsx
  apps/web/src/pages/templates/hooks/useCreate.ts
  apps/web/src/pages/templates/hooks/useSave.ts
  apps/web/src/pages/templates/hooks/useTourStorage.ts
  apps/web/src/pages/templates/workflow/SideBar/Sidebar.tsx
  apps/web/src/pages/templates/workflow/WorkflowEditor.tsx
  apps/web/src/pages/templates/workflow/workflow/node-types/ChannelNode.tsx
  apps/web/src/pages/templates/workflow/workflow/node-types/WorkflowNode.tsx
  apps/web/src/pages/tenants/TenantsPage.tsx
  apps/web/src/pages/tenants/components/CreateTenantSidebar.tsx
  apps/web/src/pages/tenants/components/UpdateTenantSidebar.tsx
Labels: @novu/web

#4099 Q metric refactored after memorydb migration
  apps/worker/src/.env.production
  apps/worker/src/.example.env
  apps/worker/src/app/health/health.controller.ts
  apps/worker/src/app/shared/utils/cron-health.ts
  apps/worker/src/app/shared/utils/index.ts
  apps/worker/src/app/workflow/services/active-jobs-metric.service.spec.ts
  apps/worker/src/app/workflow/services/active-jobs-metric.service.ts
  apps/worker/src/app/workflow/services/completed-jobs-metric.service.spec.ts
  apps/worker/src/app/workflow/services/completed-jobs-metric.service.ts
  apps/worker/src/app/workflow/services/index.ts
  apps/worker/src/app/workflow/services/job-metric.service.spec.ts
  apps/worker/src/app/workflow/services/job-metric.service.ts
  apps/worker/src/app/workflow/workflow.module.ts
  libs/shared/src/config/job-queue.ts
  packages/application-generic/src/custom-providers/index.ts
  packages/application-generic/src/health/active-jobs-metric-queue.health-indicator.ts
  packages/application-generic/src/health/completed-jobs-metric-queue.health-indicator.ts
  packages/application-generic/src/health/index.ts
  packages/application-generic/src/health/job-metrics-queue.health-indicator.ts
  packages/application-generic/src/modules/queues.module.ts
  packages/application-generic/src/services/bull-mq/bull-mq.service.spec.ts
  packages/application-generic/src/services/bull-mq/bull-mq.service.ts
  packages/application-generic/src/services/queues/active-jobs-metric-queue.service.spec.ts
  packages/application-generic/src/services/queues/active-jobs-metric-queue.service.ts
  packages/application-generic/src/services/queues/completed-jobs-metric-queue.service.spec.ts
  packages/application-generic/src/services/queues/completed-jobs-metric-queue.service.ts
  packages/application-generic/src/services/queues/index.ts
  packages/application-generic/src/services/queues/job-metrics-queue.service.spec.ts
  packages/application-generic/src/services/workers/active-jobs-metric-worker.service.ts
  packages/application-generic/src/services/workers/completed-jobs-metric-worker.service.ts
  packages/application-generic/src/services/workers/index.ts
Labels: @novu/shared, @novu/worker

#4100 feat: allow novu providers to be activated/deactivated and primary
  apps/api/src/app/integrations/e2e/create-integration.e2e.ts
  apps/api/src/app/integrations/e2e/update-integration.e2e.ts
  apps/api/src/app/integrations/usecases/create-integration/create-integration.usecase.ts
  apps/api/src/app/integrations/usecases/update-integration/update-integration.usecase.ts
  apps/web/src/pages/integrations/components/UpdateIntegrationCommonFields.tsx
  apps/web/src/pages/integrations/components/multi-provider/UpdateProviderSidebar.tsx
Labels: @novu/api, @novu/web

#4148 chore: used workflow shared interfaces
  apps/api/src/app/shared/dtos/message-template.ts
  apps/api/src/app/shared/helpers/content.service.ts
  apps/api/src/app/workflows/usecases/create-notification-template/create-notification-template.command.ts
  apps/api/src/app/workflows/usecases/update-notification-template/update-notification-template.command.ts
  apps/api/src/app/workflows/usecases/update-notification-template/update-notification-template.usecase.ts
  apps/web/src/pages/templates/components/in-app-editor/InAppEditorBlock.tsx
  apps/web/src/pages/templates/components/in-app-editor/preview/ActionBlockContainer.tsx
  apps/web/src/pages/templates/components/in-app-editor/preview/InAppWidgetPreview.tsx
  apps/web/src/pages/templates/components/templateToFormMappers.ts
  libs/dal/src/repositories/message-template/message-template.entity.ts
  libs/dal/src/repositories/notification-template/notification-template.entity.ts
  libs/shared/src/entities/message-template/message-template.interface.ts
  libs/shared/src/entities/messages/messages.interface.ts
  libs/shared/src/entities/notification-template/notification-template.interface.ts
Labels: @novu/api, @novu/web, @novu/dal, @novu/shared

#4156 Nv 2788 allow applying filters for the digest delay steps
  .cspell.json
  apps/api/src/app/events/e2e/trigger-event.e2e.ts
  apps/web/cypress/tests/notification-editor/steps-actions.spec.ts
  apps/web/src/pages/templates/workflow/DelayMetadata.tsx
  apps/web/src/pages/templates/workflow/DigestMetadata.tsx
  apps/web/src/pages/templates/workflow/SideBar/StepSettings.tsx
  apps/worker/src/app/workflow/usecases/message-matcher/message-matcher.command.ts
  apps/worker/src/app/workflow/usecases/message-matcher/message-matcher.usecase.ts
  apps/worker/src/app/workflow/usecases/queue-next-job/queue-next-job.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message.usecase.ts
  packages/application-generic/src/usecases/add-job/add-delay-job.usecase.ts
  packages/application-generic/src/usecases/add-job/add-job.command.ts
  packages/application-generic/src/usecases/add-job/add-job.usecase.ts
Labels: @novu/api, @novu/web, @novu/worker

#4155 feat: allow store variants under step template
  apps/api/src/app/shared/dtos/message-template.ts
  apps/api/src/app/shared/dtos/notification-step.ts
  apps/api/src/app/workflows/e2e/create-notification-templates.e2e.ts
  apps/api/src/app/workflows/usecases/create-notification-template/create-notification-template.command.ts
  apps/api/src/app/workflows/usecases/create-notification-template/create-notification-template.usecase.ts
  apps/web/src/pages/templates/components/templateToFormMappers.ts
  libs/dal/src/repositories/notification-template/notification-template.repository.ts
  libs/dal/src/repositories/notification-template/notification-template.schema.ts
  libs/shared/src/dto/workflows/workflow.dto.ts
  libs/shared/src/entities/notification-template/notification-template.interface.ts
Labels: @novu/api, @novu/web, @novu/dal, @novu/shared

#4142 feat(ws): performance improvements
  apps/worker/src/app/workflow/usecases/send-message/send-message-in-app.usecase.ts
  apps/ws/package.json
  apps/ws/src/.env.test
  apps/ws/src/socket/usecases/external-services-route/external-services-route.command.ts
  apps/ws/src/socket/usecases/external-services-route/external-services-route.spec.ts
  apps/ws/src/socket/usecases/external-services-route/external-services-route.usecase.ts
Labels: @novu/ws, @novu/worker

#4166 chore: upgrade storybook
  .cspell.json
  apps/web/.storybook/main.js
  apps/web/package.json
  apps/web/src/design-system/button/Button.stories.tsx
  apps/web/src/design-system/checkbox/Checkbox.stories.tsx
  apps/web/src/design-system/color-input/ColorInput.stories.tsx
  apps/web/src/design-system/input/Input.stories.tsx
  apps/web/src/design-system/navigation/NavMenu.stories.tsx
  apps/web/src/design-system/radio/Radio.stories.tsx
  apps/web/src/design-system/segmented-control/SegmentedControl.stories.tsx
  apps/web/src/design-system/select/Select.stories.tsx
  apps/web/src/design-system/switch/Switch.stories.tsx
  apps/web/src/design-system/table/Table.stories.tsx
  apps/web/src/design-system/tabs/Tabs.stories.tsx
  apps/web/src/design-system/tooltip/Tooltip.stories.tsx
  apps/web/src/design-system/typography/text/Text.stories.tsx
  apps/web/src/design-system/typography/title/Title.stories.tsx
  apps/web/src/stories/Introduction.stories.mdx
  apps/widget/package.json
  packages/notification-center/.babelrc.json
  packages/notification-center/.storybook/main.js
  packages/notification-center/package.json
  packages/notification-center/src/stories/Introduction.stories.mdx
  packages/notification-center/src/stories/notification-center.stories.tsx
  pnpm-lock.yaml
Labels: @novu/web, @novu/notification-center

#4170 Throw exception on subscriber id as array
  apps/api/src/app/events/usecases/parse-event-request/parse-event-request.e2e.ts
  apps/api/src/app/events/usecases/parse-event-request/parse-event-request.usecase.ts
Labels: @novu/api

#4130 fix: feed duplication
  apps/api/src/app/feeds/e2e/create-feed.e2e.ts
  apps/api/src/app/feeds/usecases/create-feed/create-feed.usecase.ts
Labels: @novu/api, community

#4144 Update the notification-template schema
  apps/api/src/app/shared/dtos/message-template.ts
  apps/api/src/app/shared/dtos/notification-step.ts
  apps/api/src/app/shared/helpers/content.service.ts
  apps/api/src/app/workflows/e2e/create-notification-templates.e2e.ts
  apps/api/src/app/workflows/usecases/create-notification-template/create-notification-template.command.ts
  apps/api/src/app/workflows/usecases/create-notification-template/create-notification-template.usecase.ts
  apps/api/src/app/workflows/usecases/update-notification-template/update-notification-template.command.ts
  apps/api/src/app/workflows/usecases/update-notification-template/update-notification-template.usecase.ts
  apps/web/src/pages/templates/components/in-app-editor/InAppEditorBlock.tsx
  apps/web/src/pages/templates/components/in-app-editor/preview/ActionBlockContainer.tsx
  apps/web/src/pages/templates/components/in-app-editor/preview/InAppWidgetPreview.tsx
  apps/web/src/pages/templates/components/templateToFormMappers.ts
  libs/dal/src/repositories/message-template/message-template.entity.ts
  libs/dal/src/repositories/notification-template/notification-template.entity.ts
  libs/dal/src/repositories/notification-template/notification-template.repository.ts
  libs/dal/src/repositories/notification-template/notification-template.schema.ts
  libs/shared/src/dto/workflows/workflow.dto.ts
  libs/shared/src/entities/message-template/message-template.interface.ts
  libs/shared/src/entities/messages/messages.interface.ts
  libs/shared/src/entities/notification-template/notification-template.interface.ts
Labels: @novu/api, @novu/web, @novu/dal, @novu/shared

#4182 Change Completed Metric Job to only run once a minute
  apps/worker/src/app/workflow/services/completed-jobs-metric.service.ts
Labels: @novu/worker

#4159 feat: add support for variants update
  apps/api/src/app/workflows/e2e/update-notification-template.e2e.ts
  apps/api/src/app/workflows/usecases/update-notification-template/update-notification-template.usecase.ts
Labels: @novu/api

#4175 feat: implement the logic that will determine which variant should be
  apps/api/src/app/events/e2e/trigger-event.e2e.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-chat.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-email.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-in-app.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-push.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-sms.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message.base.ts
  apps/worker/src/app/workflow/workflow.module.ts
  libs/dal/src/repositories/notification-template/notification-template.schema.ts
  libs/shared/src/entities/job/index.ts
  libs/shared/src/entities/job/job.interface.ts
  libs/testing/src/create-notification-template.interface.ts
  libs/testing/src/notification-template.service.ts
  packages/application-generic/package.json
  packages/application-generic/src/usecases/conditions-filter/conditions-filter.command.ts
  packages/application-generic/src/usecases/conditions-filter/conditions-filter.usecase.ts
  packages/application-generic/src/usecases/create-execution-details/create-execution-details.command.ts
  packages/application-generic/src/usecases/create-execution-details/types/index.ts
  packages/application-generic/src/usecases/index.ts
  packages/application-generic/src/usecases/select-integration/select-integration.spec.ts
  packages/application-generic/src/usecases/select-integration/select-integration.usecase.ts
  packages/application-generic/src/usecases/select-variant/index.ts
  packages/application-generic/src/usecases/select-variant/select-variant.command.ts
  packages/application-generic/src/usecases/select-variant/select-variant.spec.ts
  packages/application-generic/src/usecases/select-variant/select-variant.usecase.ts
  packages/application-generic/src/utils/filter-processing-details.ts
  packages/application-generic/src/utils/hmac.ts
  pnpm-lock.yaml
Labels: @novu/api, @novu/dal, @novu/shared, @novu/worker

#4131 fix: bad request for credentials
  apps/api/src/app/integrations/usecases/update-integration/update-integration.usecase.ts
Labels: @novu/api, community

#4161 fix(web): product lead
  apps/web/src/components/utils/ProductLead.tsx
  apps/web/src/pages/templates/components/TranslateProductLead.tsx
Labels: @novu/web

#4197 Remove duplicate mention of SNS in SMS providers
  README.md
Labels: community

#4200 feat(worker): refactor get digest events flow
  apps/worker/src/app/workflow/usecases/send-message/digest/digest-events.command.ts
  apps/worker/src/app/workflow/usecases/send-message/digest/digest.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/digest/get-digest-events-backoff.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/digest/get-digest-events-regular.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/digest/get-digest-events.usecase.ts
  packages/application-generic/src/usecases/digest-filter-steps/digest-filter-steps.usecase.ts
Labels: @novu/worker

#4157 Nv 2783 change the filters modal to conditions sidebar in the editor
  apps/web/cypress/tests/integrations-list-page.spec.ts
  apps/web/cypress/tests/notification-editor/steps-actions.spec.ts
  apps/web/src/components/conditions/Conditions.tsx
  apps/web/src/components/conditions/OnlineConditionRow.tsx
  apps/web/src/components/conditions/PreviousStepsConditionRow.tsx
  apps/web/src/components/conditions/constants.ts
  apps/web/src/components/conditions/types.ts
  apps/web/src/design-system/modal/Modal.tsx
  apps/web/src/design-system/sidebar/Sidebar.tsx
  apps/web/src/pages/integrations/components/multi-provider/CreateProviderInstanceSidebar.tsx
  apps/web/src/pages/integrations/components/multi-provider/UpdateProviderSidebar.tsx
  apps/web/src/pages/integrations/constants.ts
  apps/web/src/pages/templates/workflow/SideBar/StepSettings.tsx
  apps/worker/src/app/workflow/usecases/message-matcher/message-matcher.usecase.ts
  libs/shared/src/consts/filters/filters.ts
  packages/application-generic/src/services/queues/completed-jobs-metric-queue.service.spec.ts
Labels: @novu/web, @novu/shared, @novu/worker

#4160 Nv 2744 remove messages by transactionid
  apps/api/src/app/messages/dtos/remove-messages-by-transactionId-request.dto.ts
  apps/api/src/app/messages/e2e/remove-messages-by-transactionId.e2e.ts
  apps/api/src/app/messages/messages.controller.ts
  apps/api/src/app/messages/usecases/index.ts
  apps/api/src/app/messages/usecases/remove-messages-by-transactionId/remove-messages-by-transactionId.command.ts
  apps/api/src/app/messages/usecases/remove-messages-by-transactionId/remove-messages-by-transactionId.usecase.ts
  libs/dal/src/repositories/message/message.repository.ts
  pnpm-lock.yaml
Labels: @novu/api, @novu/dal

#4202 feat(api): create trigger event status enum
  apps/api/src/app/events/dtos/trigger-event-response.dto.ts
  apps/api/src/app/events/usecases/parse-event-request/parse-event-request.usecase.ts
  apps/api/src/app/events/usecases/process-bulk-trigger/process-bulk-trigger.usecase.ts
  apps/api/src/app/events/usecases/trigger-event-to-all/trigger-event-to-all.usecase.ts
  libs/shared/src/types/events/index.ts
Labels: @novu/api, @novu/shared

#4162 fix(web): add missing injected web env vars
  apps/web/.env
Labels: community

#4106 chore: upgrade mongoose version to 7
  .cspell.json
  apps/api/src/app/change/e2e/promote-changes.e2e.ts
  apps/api/src/app/subscribers/e2e/mark-all-subscriber-messages.e2e.ts
  apps/api/src/app/tenant/usecases/delete-tenant/delete-tenant.usecase.ts
  apps/api/src/app/workflows/usecases/create-notification-template/create-notification-template.usecase.ts
  apps/web/src/pages/templates/filter/FilterModal.tsx
  libs/dal/package.json
  libs/dal/src/repositories/base-repository.ts
  libs/dal/src/repositories/feed/feed.repository.ts
  libs/dal/src/repositories/integration/integration.repository.ts
  libs/dal/src/repositories/member/member.repository.ts
  libs/dal/src/repositories/message-template/message-template.repository.ts
  libs/dal/src/repositories/message/message.repository.ts
  libs/dal/src/repositories/notification-template/notification-template.repository.ts
  libs/dal/src/repositories/schema-default.options.ts
  libs/dal/src/repositories/subscriber/subscriber.repository.ts
  libs/testing/package.json
  packages/application-generic/src/usecases/select-integration/select-integration.usecase.ts
  pnpm-lock.yaml
Labels: @novu/api, @novu/web, @novu/dal

#4212 fix(app-generic): proper naming for the standard worker and worker svc
  apps/worker/src/app/workflow/services/cold-start.service.ts
  apps/worker/src/app/workflow/services/index.ts
  apps/worker/src/app/workflow/services/old-instance-standard.worker.ts
  apps/worker/src/app/workflow/workflow.module.ts
  packages/application-generic/src/modules/queues.module.ts
  packages/application-generic/src/services/workers/index.ts
  packages/application-generic/src/services/workers/old-instance-standard-worker.service.ts
Labels: @novu/worker

#4213 chore: remove unsued agenda package
  apps/api/package.json
  apps/api/src/app/shared/services/cron/cron.service.ts
  libs/dal/package.json
  pnpm-lock.yaml
Labels: @novu/api, @novu/dal

#4214 feat(worker): add trigger-handler queue worker for old instance redis
  apps/worker/src/app/workflow/services/cold-start.service.ts
  apps/worker/src/app/workflow/services/index.ts
  apps/worker/src/app/workflow/services/old-instance-standard.worker.ts
  apps/worker/src/app/workflow/services/old-instance-workflow.worker.ts
  apps/worker/src/app/workflow/workflow.module.ts
  packages/application-generic/src/modules/queues.module.ts
  packages/application-generic/src/services/workers/index.ts
  packages/application-generic/src/services/workers/old-instance-workflow-worker.service.ts
Labels: @novu/worker

#4216 fix(worker): addded some logs
  apps/worker/src/app/workflow/services/old-instance-workflow.worker.ts
  apps/worker/src/app/workflow/services/standard.worker.ts
  apps/worker/src/app/workflow/services/workflow.worker.ts
  apps/worker/src/app/workflow/usecases/run-job/run-job.usecase.ts
Labels: @novu/worker

#3987 NV-2473 - data field is not added in case of inline of trigger
  apps/api/src/app/events/e2e/trigger-event.e2e.ts
  packages/application-generic/src/usecases/process-subscriber/process-subscriber.usecase.ts
Labels: @novu/api, community

#4184 feat: allow variables in sender name field of email editor
  apps/api/e2e/compile-email-template.e2e.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-email.usecase.ts
  packages/application-generic/src/usecases/compile-email-template/compile-email-template.command.ts
  packages/application-generic/src/usecases/compile-email-template/compile-email-template.usecase.ts
Labels: @novu/api, community, @novu/worker

#4208 chore: Replace deprecated command with environment file
  .github/actions/docker/build-api/action.yml
  .github/actions/docker/build-worker/action.yml
  .github/workflows/dev-deploy-embed.yml
  .github/workflows/dev-deploy-inbound-mail.yml
  .github/workflows/dev-deploy-web.yml
  .github/workflows/dev-deploy-webhook.yml
  .github/workflows/dev-deploy-widget.yml
  .github/workflows/dev-deploy-ws.yml
  .github/workflows/jarvis.yml
  .github/workflows/prod-deploy-api.yml
  .github/workflows/prod-deploy-embed.yml
  .github/workflows/prod-deploy-inbound-mail.yml
  .github/workflows/prod-deploy-web.yml
  .github/workflows/prod-deploy-webhook.yml
  .github/workflows/prod-deploy-widget.yml
  .github/workflows/prod-deploy-worker.yml
  .github/workflows/prod-deploy-ws.yml
  .github/workflows/reusable-api-e2e.yml
  .github/workflows/reusable-web-e2e.yml
  .github/workflows/reusable-widget-e2e.yml
  .github/workflows/reusable-worker-e2e.yml
  .github/workflows/reusable-ws-e2e.yml
  .github/workflows/staging-deploy-web.yml
  .github/workflows/test.yml
Labels: community, CI/CD

#4220 chore: remove unused graphql
  apps/api/package.json
  apps/web/package.json
  pnpm-lock.yaml
Labels: @novu/api, @novu/web

#4145 Add context to inbound email parse logger
  apps/api/src/app/inbound-parse/e2e/inbound-email-parse.e2e.ts
  apps/api/src/app/inbound-parse/services/inbound-parse.queue.service.ts
  apps/api/src/app/inbound-parse/usecases/inbound-email-parse/inbound-email-parse.usecase.ts
Labels: @novu/api

#4168 feat: add support for sms overrides
  apps/worker/src/app/workflow/usecases/send-message/send-message-sms.usecase.ts
  packages/node/src/lib/events/events.interface.ts
Labels: documentation, community, @novu/worker
