Repository novuhq/novu, pull requests merged in 2023-03, with the labels that each got.

#2915 feat(api): create non existing topic on the fly when adding subscribers
  apps/api/src/app/topics/e2e/add-subscribers.e2e.ts
  apps/api/src/app/topics/use-cases/add-subscribers/add-subscribers.use-case.ts
  docs/docs/platform/topics.md
Labels: documentation, @novu/api

#2925 fix: force position top to avoid page crash
  apps/web/src/pages/templates/components/email-editor/ContentRow.tsx
Labels: @novu/web

#2886 feat: add addition params for onboarding setup
  apps/web/src/config/index.ts
  apps/web/src/pages/quick-start/consts.tsx
  apps/web/src/pages/quick-start/steps/NotificationCenter.tsx
  apps/web/src/pages/quick-start/steps/Setup.tsx
Labels: @novu/web

#2928 chore(api): move e2e tests to proper location and cleanup
  apps/api/e2e/mocha.e2e.opts
  apps/api/e2e/setup.ts
  apps/api/package.json
  apps/api/src/app/environments/e2e/guard-check.e2e.ts
  apps/api/src/app/environments/e2e/regenerate-api-keys.e2e.ts
  apps/api/src/app/health/e2e/health-check.e2e.ts
  apps/api/src/app/invites/e2e/accept-invite.e2e.ts
  apps/api/src/app/organization/e2e/create-organization.e2e.ts
  apps/api/src/app/user/e2e/get-me.e2e.ts
Labels: @novu/api

#2866 fix: EmptyState prop on PopoverNoificationCenter bad typing
  docs/docs/notification-center/react/api-reference.md
  packages/notification-center/src/components/notification-center/NotificationCenter.tsx
  packages/notification-center/src/components/popover-notification-center/PopoverNotificationCenter.tsx
  packages/notification-center/src/shared/interfaces/index.ts
Labels: documentation, @novu/notification-center, community

#2934 fix: downgrade axios to v1.2.0
  libs/shared/package.json
  pnpm-lock.yaml
  renovate.json
Labels: @novu/shared

#2945 feat: github profile persistency
  apps/api/src/app/auth/services/auth.service.ts
  apps/api/src/app/user/usecases/create-user/create-user.dto.ts
  apps/api/src/app/user/usecases/create-user/create-user.usecase.ts
  libs/dal/src/repositories/user/user.entity.ts
  libs/dal/src/repositories/user/user.schema.ts
  packages/application-generic/src/services/analytics.service.ts
Labels: @novu/api, @novu/dal

#2946 feat: add domain entity
  apps/api/src/app/organization/usecases/create-organization/create-organization.usecase.ts
  packages/application-generic/src/services/analytics.service.ts
Labels: @novu/api

#2935 Feat/mattermost provider
  README.md
  apps/api/package.json
  apps/api/src/app/events/services/chat-service/chat.factory.ts
  apps/api/src/app/events/services/chat-service/handlers/mattermost.handler.ts
  apps/api/src/app/events/usecases/send-message/send-message-chat.usecase.ts
  apps/api/src/app/shared/dtos/subscriber-channel.ts
  apps/api/src/app/subscribers/usecases/update-subscriber-channel/update-subscriber-channel.command.ts
  apps/api/src/app/subscribers/usecases/update-subscriber-channel/update-subscriber-channel.usecase.ts
  apps/web/public/static/images/providers/dark/mattermost.svg
  apps/web/public/static/images/providers/light/mattermost.svg
  libs/dal/src/repositories/subscriber/subscriber.entity.ts
  libs/shared/src/consts/providers/channels/chat.ts
  libs/shared/src/consts/providers/provider.enum.ts
  packages/stateless/src/lib/provider/provider.interface.ts
  pnpm-lock.yaml
  providers/mattermost/.czrc
  providers/mattermost/.eslintrc.json
  providers/mattermost/.gitignore
  providers/mattermost/README.md
  providers/mattermost/package.json
  providers/mattermost/src/index.ts
  providers/mattermost/src/lib/mattermost.provider.spec.ts
  providers/mattermost/src/lib/mattermost.provider.ts
  providers/mattermost/tsconfig.json
  providers/mattermost/tsconfig.module.json
Labels: @novu/api, @novu/web, @novu/dal, @novu/shared, providers, community

#2919 feat(api): remove dal dependencies from workflow queue service
  apps/api/src/app/events/events.module.ts
  apps/api/src/app/events/services/workflow-queue/trigger-handler-queue.service.ts
  apps/api/src/app/events/services/workflow-queue/workflow.queue.service.spec.ts
  apps/api/src/app/events/services/workflow-queue/workflow.queue.service.ts
  apps/api/src/app/events/usecases/add-job/add-digest-job.usecase.ts
  apps/api/src/app/events/usecases/add-job/add-job.usecase.ts
  apps/api/src/app/events/usecases/index.ts
  apps/api/src/app/events/usecases/message-matcher/message-matcher.usecase.ts
  apps/api/src/app/events/usecases/run-job/run-job.usecase.ts
  apps/api/src/app/events/usecases/send-message/digest/digest.usecase.ts
  apps/api/src/app/events/usecases/send-message/digest/get-digest-events.usecase.ts
  apps/api/src/app/events/usecases/send-message/send-message-chat.usecase.ts
  apps/api/src/app/events/usecases/send-message/send-message-delay.usecase.ts
  apps/api/src/app/events/usecases/send-message/send-message-email.usecase.ts
  apps/api/src/app/events/usecases/send-message/send-message-in-app.usecase.ts
  apps/api/src/app/events/usecases/send-message/send-message-push.usecase.ts
  apps/api/src/app/events/usecases/send-message/send-message-sms.usecase.ts
  apps/api/src/app/events/usecases/send-message/send-message.base.ts
  apps/api/src/app/events/usecases/send-message/send-message.usecase.ts
  apps/api/src/app/events/usecases/store-subscriber-jobs/store-subscriber-jobs.usecase.ts
  apps/api/src/app/events/usecases/update-job-status/index.ts
  apps/api/src/app/events/usecases/update-job-status/set-job-as-completed.usecase.ts
  apps/api/src/app/events/usecases/update-job-status/set-job-as-failed.usecase.ts
  apps/api/src/app/events/usecases/update-job-status/set-job-as.command.ts
  apps/api/src/app/events/usecases/update-job-status/update-job-status.command.ts
  apps/api/src/app/events/usecases/update-job-status/update-job-status.usecase.ts
  apps/api/src/app/execution-details/dtos/execution-details.dto.ts
  apps/api/src/app/execution-details/execution-details.controller.ts
  apps/api/src/app/execution-details/types/index.ts
  apps/api/src/app/execution-details/usecases/create-execution-details/create-execution-details.command.ts
  apps/api/src/app/execution-details/usecases/create-execution-details/index.ts
  apps/api/src/app/execution-details/usecases/get-execution-details/index.ts
  apps/api/src/app/execution-details/usecases/index.ts
  libs/dal/src/repositories/job/job.entity.ts
  libs/dal/src/repositories/job/job.repository.ts
Labels: @novu/api, @novu/dal

#2951 fix: jobs undefined
  apps/web/src/pages/activities/hooks/useNotificationStatus.ts
Labels: @novu/web

#2954 Nv 1787 notifications page placeholder
  apps/web/.storybook/preview-head.html
  apps/web/cypress/global.d.ts
  apps/web/cypress/plugins/index.ts
  apps/web/cypress/support/commands.ts
  apps/web/cypress/tests/notifications.spec.ts
  apps/web/src/design-system/cards/Cards.tsx
  apps/web/src/design-system/cards/index.ts
  apps/web/src/design-system/icons/general/DigestGradient.tsx
  apps/web/src/design-system/icons/gradient/PageGradient.tsx
  apps/web/src/design-system/icons/index.ts
  apps/web/src/design-system/index.ts
  apps/web/src/design-system/table/Table.tsx
  apps/web/src/pages/quick-start/components/QuickStartWrapper.tsx
  apps/web/src/pages/quick-start/steps/FrameworkSetup.tsx
  apps/web/src/pages/quick-start/steps/NotificationCenter.tsx
  apps/web/src/pages/quick-start/steps/Quickstart.tsx
  apps/web/src/pages/templates/TemplatesListNoData.tsx
  apps/web/src/pages/templates/TemplatesListPage.tsx
Labels: @novu/web

#2944 Feat/Fix: Reduce Size of Web Docker Container
  apps/web/Dockerfile
Labels: @novu/web, community

#2942 [NV-1804] Fix: Allow Distributed Cache to use Redis Password
  apps/api/src/app/shared/services/distributed-lock/distributed-lock.service.ts
Labels: @novu/api, community

#2940 NV-2043 - add a way to unset a subcriber's credentials
  packages/node/src/lib/subscribers/subscriber.interface.ts
  packages/node/src/lib/subscribers/subscribers.spec.ts
  packages/node/src/lib/subscribers/subscribers.ts
Labels: community

#2949 feat: add digest flow diagram
  apps/web/src/design-system/icons/general/DigestGradient.tsx
  apps/web/src/design-system/icons/gradient/MailGradient.tsx
  apps/web/src/design-system/icons/gradient/TurnOnGradient.tsx
  apps/web/src/design-system/icons/interfaces/svg-props.interface.ts
  apps/web/src/pages/quick-start/components/demo-flow/DigestDemoFlow.tsx
  apps/web/src/pages/quick-start/components/demo-flow/nodes/DigestNode.tsx
  apps/web/src/pages/quick-start/components/demo-flow/nodes/EmailNode.tsx
  apps/web/src/pages/quick-start/components/demo-flow/nodes/NodeButton.tsx
  apps/web/src/pages/quick-start/components/demo-flow/nodes/TriggerNode.tsx
Labels: @novu/web

#2970 chore(infra): upgrade to support ts 4.9 satisfies
  _templates/provider/new/package.ejs.t
  apps/inbound-mail/package.json
  apps/webhook/package.json
  apps/ws/package.json
  docs/package.json
  libs/dal/package.json
  libs/embed/package.json
  libs/testing/package.json
  package.json
  packages/application-generic/package.json
  packages/nest/package.json
  packages/notification-center-vue/package.json
  pnpm-lock.yaml
  providers/apns/package.json
  providers/burst-sms/package.json
  providers/clickatell/package.json
  providers/discord/package.json
  providers/emailjs/package.json
  providers/expo/package.json
  providers/fcm/package.json
  providers/firetext/package.json
  providers/gupshup/package.json
  providers/infobip/package.json
  providers/kannel/package.json
  providers/mailersend/package.json
  providers/mailgun/package.json
  providers/mailjet/package.json
  providers/ms-teams/package.json
  providers/netcore/package.json
  providers/nexmo/package.json
  providers/nodemailer/package.json
  providers/outlook365/package.json
  providers/plivo/package.json
  providers/postmark/package.json
  providers/resend/package.json
  providers/sendgrid/package.json
  providers/sendinblue/package.json
  providers/ses/package.json
  providers/slack/package.json
  providers/sms77/package.json
  providers/sns/package.json
  providers/sparkpost/package.json
  providers/telnyx/package.json
  providers/termii/package.json
  providers/twilio/package.json
Labels: documentation, @novu/dal, @novu/webhook, @novu/ws, providers, @novu/notification-center-vue

#2976 chore(infra): remove octokit as unused dependency
  libs/dal/package.json
  package.json
  pnpm-lock.yaml
Labels: @novu/dal

#2979 feat: Add fcmOptions to Firebase provider
  packages/stateless/src/lib/provider/provider.interface.ts
  providers/fcm/src/lib/fcm.provider.spec.ts
  providers/fcm/src/lib/fcm.provider.ts
Labels: providers, community

#2985 fix: only throw error if response contains any failed data
  providers/apns/src/lib/apns.provider.ts
Labels: providers

#2943 [NV-1803] Fix: Update `env.sh` to Properly Read Runtime Vars
  apps/web/.env
  apps/web/env.sh
  apps/web/src/config/index.ts
  apps/widget/env.sh
Labels: @novu/web, community

#2987 fix(infra): when upgrading to pnpm 7.28.0 we didn't update the images
  apps/api/Dockerfile
  apps/inbound-mail/Dockerfile
  apps/web/Dockerfile
  apps/webhook/Dockerfile
  apps/widget/Dockerfile
  apps/ws/Dockerfile
  libs/embed/Dockerfile
  package.json
  scripts/dev-environment-setup.sh
Labels: @novu/api, @novu/web, @novu/webhook, @novu/ws

#2993 fix(docker): correct param order to correct build
  apps/api/package.json
Labels: @novu/api

#2982 FCM support add extra options
  packages/stateless/src/lib/provider/provider.interface.ts
  providers/fcm/src/lib/fcm.provider.spec.ts
  providers/fcm/src/lib/fcm.provider.ts
Labels: providers, community

#2961 feat(web): digest workflow playground shell
  apps/web/cypress/tests/digest-playground.spec.ts
  apps/web/cypress/tests/notifications.spec.ts
  apps/web/src/App.tsx
  apps/web/src/components/layout/components/PageContainer.tsx
  apps/web/src/constants/routes.enum.ts
  apps/web/src/design-system/arrow-button/ArrowButton.tsx
  apps/web/src/design-system/arrow-button/index.ts
  apps/web/src/design-system/index.ts
  apps/web/src/pages/quick-start/components/QuickStartWrapper.tsx
  apps/web/src/pages/quick-start/components/route/GoBack.tsx
  apps/web/src/pages/templates/TemplatesDigestPlaygroundPage.tsx
  apps/web/src/pages/templates/TemplatesListPage.tsx
Labels: @novu/web

#3004 Nv 1828 fix nested form behavior
  apps/web/src/pages/integrations/IntegrationsStoreModal.tsx
  apps/web/src/pages/integrations/components/Modal/ConnectIntegrationForm.tsx
Labels: @novu/web

#2968 Get Started - Side popover guide on the node step
  apps/web/src/pages/quick-start/components/demo-flow/nodes/DigestNode.tsx
  apps/web/src/pages/quick-start/components/demo-flow/nodes/EmailNode.tsx
  apps/web/src/pages/quick-start/components/demo-flow/nodes/NodeButton.tsx
  apps/web/src/pages/quick-start/components/demo-flow/nodes/NodeStep.tsx
  apps/web/src/pages/quick-start/components/demo-flow/nodes/TriggerNode.tsx
  apps/web/src/pages/quick-start/components/demo-flow/nodes/consts.ts
Labels: @novu/web

#2995 feat(api): clarify the notification steps creation
  .cspell.json
  apps/api/src/app/change/usecases/promote-notification-template-change/promote-notification-template-change.usecase.ts
  apps/api/src/app/events/usecases/create-notification-jobs/create-notification-jobs.usecase.ts
  apps/api/src/app/events/usecases/digest-filter-steps/digest-filter-steps-backoff.usecase.ts
  apps/api/src/app/events/usecases/digest-filter-steps/digest-filter-steps-regular.usecase.ts
  apps/api/src/app/events/usecases/digest-filter-steps/digest-filter-steps.command.ts
  apps/api/src/app/events/usecases/digest-filter-steps/digest-filter-steps.usecase.ts
  apps/api/src/app/message-template/usecases/create-message-template/create-message-template.usecase.ts
  apps/api/src/app/message-template/usecases/update-message-template/update-message-template.usecase.ts
  apps/api/src/app/notification-template/usecases/create-notification-template/create-notification-template.usecase.ts
  libs/dal/src/repositories/message-template/message-template.entity.ts
Labels: @novu/api, @novu/dal

#2996 feat: set inherit as deault font family for the notification center t…
  apps/web/src/pages/brand/tabs/BrandingForm.cy.tsx
  apps/web/src/pages/brand/tabs/BrandingForm.tsx
  apps/widget/src/components/notification-center/NotificationCenterWidget.tsx
  docs/docs/notification-center/react/api-reference.md
  libs/shared/src/consts/notification-item-buttons/notificationItemButton.ts
  packages/notification-center/src/components/notification-center/components/AppContent.tsx
  packages/notification-center/src/components/notification-center/components/notification-item/NotificationItemButton.tsx
  packages/notification-center/src/shared/config/themeDefaultValues.ts
Labels: documentation, @novu/web, @novu/notification-center, @novu/shared

#2855 Nv 1471 mark all as read does not mark all
  apps/api/src/app/widgets/e2e/mark-all-as-read.e2e.ts
  apps/api/src/app/widgets/usecases/index.ts
  apps/api/src/app/widgets/usecases/mark-all-message-as-seen/mark-all-message-as-seen.command.ts
  apps/api/src/app/widgets/usecases/mark-all-message-as-seen/mark-all-message-as-seen.usecase.ts
  apps/api/src/app/widgets/usecases/mark-all-messages-as/mark-all-messages-as.command.ts
  apps/api/src/app/widgets/usecases/mark-all-messages-as/mark-all-messages-as.usecase.ts
  apps/api/src/app/widgets/widgets.controller.ts
  libs/dal/src/repositories/message/message.repository.ts
  packages/client/src/api/api.service.ts
  packages/notification-center/src/components/notification-center/components/layout/header/Header.tsx
  packages/notification-center/src/hooks/useMarkNotificationAsReadByFeed.ts
  packages/notification-center/src/shared/interfaces/index.ts
  packages/notification-center/src/store/notifications-provider.context.tsx
Labels: @novu/api, @novu/dal, @novu/notification-center

#2969 feat(regression): integrate doppler secrets with regression tests
  .cspell.json
  .prettierignore
  apps/api/e2e/regression-setup.ts
  apps/api/package.json
  apps/api/src/.env.regression
  apps/api/src/app.module.ts
  apps/api/src/app/auth/auth.controller.ts
  apps/api/src/app/events/e2e/trigger-event.e2e.ts
  apps/api/src/bootstrap.ts
  apps/api/src/config/env-validator.ts
  apps/api/src/config/index.ts
  apps/api/src/providers/helpers/index.ts
  apps/api/src/providers/helpers/integrations.ts
  apps/api/src/providers/helpers/notification-templates.ts
  apps/api/src/providers/provider.regression.ts
  apps/api/src/providers/secrets/index.ts
  apps/api/src/types/env.d.ts
  libs/dal/src/dal.service.ts
  libs/dal/src/repositories/integration/index.ts
  libs/dal/src/repositories/integration/integration.repository.ts
  libs/dal/src/repositories/integration/types.ts
  libs/dal/src/types/env.d.ts
  libs/testing/src/integration.service.ts
  libs/testing/src/user.session.ts
Labels: @novu/api, @novu/dal

#2990 Get Started - Create header component
  apps/web/src/pages/quick-start/components/layout/HeaderLayout.tsx
Labels: @novu/web

#2991 Get Started - Create navigation component
  apps/web/src/pages/quick-start/components/layout/BodyLayout.tsx
Labels: @novu/web

#2992 Get Started - add footer component
  apps/web/src/design-system/icons/arrows/ArrowRight.tsx
  apps/web/src/design-system/icons/gradient/ArrowLeftGradient.tsx
  apps/web/src/pages/quick-start/components/demo-flow/nodes/NodeStep.tsx
  apps/web/src/pages/quick-start/components/layout/FooterLayout.tsx
Labels: @novu/web

#3005 Get Started - Create integration providers section
  apps/web/src/App.tsx
  apps/web/src/constants/routes.enum.ts
  apps/web/src/design-system/icons/general/ActiveLabel.tsx
  apps/web/src/pages/quick-start/components/ChannelsConfiguration.tsx
  apps/web/src/pages/quick-start/components/QuickStartWrapper.tsx
  apps/web/src/pages/quick-start/components/layout/BodyLayout.tsx
  apps/web/src/pages/quick-start/components/layout/FooterLayout.tsx
  apps/web/src/pages/quick-start/components/route/store.ts
  apps/web/src/pages/quick-start/consts.tsx
Labels: @novu/web

#3006 Get Started - Add get started steps
  apps/web/src/components/layout/components/PageContainer.tsx
  apps/web/src/pages/quick-start/steps/DigestPreview.tsx
  apps/web/src/pages/quick-start/steps/GetStarted.tsx
Labels: @novu/web

#2989 Get Started - add get started layout
  apps/web/cypress/tests/onboarding.spec.ts
  apps/web/src/App.tsx
  apps/web/src/components/layout/components/SideNav.tsx
  apps/web/src/constants/routes.enum.ts
  apps/web/src/design-system/icons/arrows/ArrowRight.tsx
  apps/web/src/design-system/icons/general/ActiveLabel.tsx
  apps/web/src/design-system/icons/gradient/ArrowLeftGradient.tsx
  apps/web/src/pages/quick-start/components/ChannelsConfiguration.tsx
  apps/web/src/pages/quick-start/components/LoaderProceedTernary.tsx
  apps/web/src/pages/quick-start/components/QuickStartWrapper.tsx
  apps/web/src/pages/quick-start/components/demo-flow/nodes/NodeStep.tsx
  apps/web/src/pages/quick-start/components/layout/BodyLayout.tsx
  apps/web/src/pages/quick-start/components/layout/FooterLayout.tsx
  apps/web/src/pages/quick-start/components/layout/GetStartedLayout.tsx
  apps/web/src/pages/quick-start/components/layout/HeaderLayout.tsx
  apps/web/src/pages/quick-start/components/route/store.ts
  apps/web/src/pages/quick-start/consts.tsx
  apps/web/src/pages/quick-start/steps/DigestPreview.tsx
  apps/web/src/pages/quick-start/steps/GetStarted.tsx
Labels: @novu/web

#2922 Feature/seen read step filter
  apps/api/src/app/events/e2e/trigger-event.e2e.ts
  apps/api/src/app/events/usecases/message-matcher/message-matcher.usecase.spec.ts
  apps/api/src/app/events/usecases/message-matcher/message-matcher.usecase.ts
  apps/api/src/app/notification-template/e2e/create-notification-templates.e2e.ts
  apps/api/src/app/notification-template/usecases/create-notification-template/create-notification-template.command.ts
  apps/api/src/app/notification-template/usecases/create-notification-template/create-notification-template.usecase.ts
  apps/api/src/app/notification-template/usecases/update-notification-template/update-notification-template.usecase.ts
  apps/api/src/app/shared/dtos/notification-step.ts
  apps/api/src/app/shared/dtos/step-filter.ts
  apps/web/cypress/tests/notification-editor/steps-actions.spec.ts
  apps/web/src/pages/templates/components/TemplateEditorProvider.tsx
  apps/web/src/pages/templates/components/formTypes.ts
  apps/web/src/pages/templates/components/templateToFormMappers.ts
  apps/web/src/pages/templates/filter/FilterModal.tsx
  apps/web/src/pages/templates/filter/Filters.cy.tsx
  apps/web/src/pages/templates/filter/Filters.tsx
  apps/web/src/pages/templates/filter/PreviousStepFiltersForm.tsx
  apps/web/src/pages/templates/workflow/WorkflowEditorPage.tsx
  apps/web/src/pages/templates/workflow/workflow/node-types/ChannelNode.tsx
  libs/dal/src/repositories/notification-template/notification-template.entity.ts
  libs/dal/src/repositories/notification-template/notification-template.schema.ts
  libs/shared/src/consts/filters/filters.ts
  libs/shared/src/entities/notification-template/notification-template.interface.ts
  libs/shared/src/types/builder/filter.types.ts
  libs/testing/src/create-notification-template.interface.ts
  libs/testing/src/notification-template.service.ts
Labels: @novu/api, @novu/web, @novu/dal, @novu/shared

#3001 Nv 1783 implement the integrations store modal
  apps/web/src/design-system/icons/actions/Close.tsx
  apps/web/src/hooks/integrations/useIntegrations.ts
  apps/web/src/pages/integrations/IntegrationsStoreModal.tsx
  apps/web/src/pages/integrations/components/Modal/ChannelGroup.tsx
  apps/web/src/pages/integrations/components/Modal/ConnectIntegrationForm.tsx
  apps/web/src/pages/integrations/components/Modal/NovuIntegrationCard.tsx
  apps/web/src/pages/integrations/components/Modal/ProviderCard.tsx
  apps/web/src/pages/integrations/useProviders.ts
Labels: @novu/web

#3002 feat(web): digest onboarding workflow - hints provider
  apps/web/package.json
  apps/web/src/hooks/index.ts
  apps/web/src/hooks/useEffectOnce.ts
  apps/web/src/pages/templates/TemplatesDigestPlaygroundPage.tsx
  apps/web/src/pages/templates/editor/TemplateEditorPage.tsx
  apps/web/src/pages/templates/editor/TemplateEditorProvider.tsx
  apps/web/src/pages/templates/editor/TourProvider.tsx
  apps/web/src/pages/templates/editor/useDigestWorkflowTour.tsx
  apps/web/src/pages/templates/workflow/DigestMetadata.tsx
  apps/web/src/pages/templates/workflow/SideBar/StepSettings.tsx
  apps/web/src/pages/templates/workflow/WorkflowEditor.tsx
  apps/web/src/pages/templates/workflow/workflow/FlowEditor.tsx
  apps/web/src/pages/templates/workflow/workflow/node-types/ChannelNode.tsx
  pnpm-lock.yaml
Labels: @novu/web

#3020 fix: add mail server domain to config
  .github/workflows/prod-deploy-web.yml
  apps/web/src/config/index.ts
  apps/web/src/pages/settings/tabs/EmailSettings.tsx
Labels: @novu/web

#3023 feat(docs): add nexmo provider documentation
  docs/docs/channels/sms/index.md
  docs/docs/channels/sms/nexmo.md
Labels: documentation, community

#3024 feat(docs): add Plausible Analytics integration
  docs/docusaurus.config.js
  docs/package.json
  pnpm-lock.yaml
Labels: documentation, community

#3014 NV-1793 - enable custom transactionId in trigger
  packages/node/src/lib/events/events.interface.ts
  packages/node/src/lib/events/events.ts
Labels: community

#3018 NV-1618 - Add Missing APNS Docs
  docs/docs/channels/push/apns.md
  docs/docs/channels/push/fcm.md
Labels: documentation

#3003 feat(web): digest workflow tour - hints ui
  apps/web/cypress/tests/digest-playground.spec.ts
  apps/web/src/design-system/button/Button.styles.ts
  apps/web/src/design-system/dots-navigation/DotsNavigation.tsx
  apps/web/src/design-system/dots-navigation/index.ts
  apps/web/src/design-system/icons/general/BellWithNotification.tsx
  apps/web/src/design-system/icons/general/Clock.tsx
  apps/web/src/design-system/icons/general/LetterOpened.tsx
  apps/web/src/design-system/icons/index.ts
  apps/web/src/design-system/index.ts
  apps/web/src/pages/templates/editor/DigestWorkflowTourTooltip.tsx
  apps/web/src/pages/templates/editor/useDigestWorkflowTour.tsx
Labels: @novu/web

#3025 feat(docs): add sparkpost provider documentation
  docs/docs/channels/email/sparkpost.md
Labels: documentation, community

#3021 feat(api): endpoint to check if subscriber belongs to a topic
  .cspell.json
  apps/api/src/app/topics/dtos/index.ts
  apps/api/src/app/topics/dtos/topic-subscriber.dto.ts
  apps/api/src/app/topics/e2e/get-topic-subscriber.e2e.ts
  apps/api/src/app/topics/topics.controller.ts
  apps/api/src/app/topics/use-cases/get-topic-subscriber/get-topic-subscriber.command.ts
  apps/api/src/app/topics/use-cases/get-topic-subscriber/get-topic-subscriber.use-case.ts
  apps/api/src/app/topics/use-cases/get-topic-subscriber/index.ts
  apps/api/src/app/topics/use-cases/get-topic-subscribers/get-topic-subscribers.use-case.ts
  apps/api/src/app/topics/use-cases/get-topic/get-topic.use-case.ts
  apps/api/src/app/topics/use-cases/index.ts
  docs/docs/platform/topics.md
  libs/dal/src/repositories/topic/topic-subscribers.repository.ts
  packages/node/src/lib/topics/topic.interface.ts
  packages/node/src/lib/topics/topics.spec.ts
  packages/node/src/lib/topics/topics.ts
Labels: documentation, @novu/api, @novu/dal

#3013 feat(web): include digest workflow tree component on the digest playground page
  apps/web/src/api/hooks/index.ts
  apps/web/src/api/hooks/notification-templates/index.ts
  apps/web/src/api/hooks/notification-templates/useTemplateFetcher.ts
  apps/web/src/api/hooks/notification-templates/useUpdateTemplate.ts
  apps/web/src/api/query.keys.ts
  apps/web/src/components/digest-demo-flow/DigestDemoFlow.tsx
  apps/web/src/components/digest-demo-flow/DigestDemoFlowProvider.tsx
  apps/web/src/components/digest-demo-flow/DigestNode.tsx
  apps/web/src/components/digest-demo-flow/EmailNode.tsx
  apps/web/src/components/digest-demo-flow/Indicator.tsx
  apps/web/src/components/digest-demo-flow/NodeStep.tsx
  apps/web/src/components/digest-demo-flow/TriggerNode.tsx
  apps/web/src/components/digest-demo-flow/consts.ts
  apps/web/src/components/digest-demo-flow/index.ts
  apps/web/src/components/index.ts
  apps/web/src/design-system/icons/general/CountdownTimer.tsx
  apps/web/src/design-system/icons/index.ts
  apps/web/src/pages/quick-start/components/demo-flow/DigestDemoFlow.tsx
  apps/web/src/pages/quick-start/components/demo-flow/nodes/DigestNode.tsx
  apps/web/src/pages/quick-start/components/demo-flow/nodes/EmailNode.tsx
  apps/web/src/pages/quick-start/components/demo-flow/nodes/TriggerNode.tsx
  apps/web/src/pages/quick-start/steps/DigestPreview.tsx
  apps/web/src/pages/templates/TemplatesDigestPlaygroundPage.tsx
  apps/web/src/pages/templates/components/useTemplateController.ts
  apps/web/src/pages/templates/components/useTemplateFetcher.ts
  apps/web/src/pages/templates/editor/useDigestWorkflowTour.tsx
  apps/web/src/pages/templates/workflow/WorkflowEditor.tsx
Labels: @novu/web

#3012 Get Started - refactor design after feedback
  apps/web/cypress/tests/auth.spec.ts
  apps/web/src/App.tsx
  apps/web/src/components/digest-demo-flow/DigestDemoFlow.tsx
  apps/web/src/components/digest-demo-flow/NodeStep.tsx
  apps/web/src/constants/routes.enum.ts
  apps/web/src/design-system/button/Button.styles.ts
  apps/web/src/design-system/button/Button.tsx
  apps/web/src/pages/auth/LoginPage.tsx
  apps/web/src/pages/auth/components/CreateOrganizationForm.tsx
  apps/web/src/pages/quick-start/components/ChannelsConfiguration.tsx
  apps/web/src/pages/quick-start/components/OnboardingSteps.tsx
  apps/web/src/pages/quick-start/components/QuickStartWrapper.tsx
  apps/web/src/pages/quick-start/components/layout/BodyLayout.tsx
  apps/web/src/pages/quick-start/components/layout/GetStartedLayout.tsx
  apps/web/src/pages/quick-start/components/layout/HeaderLayout.tsx
  apps/web/src/pages/quick-start/components/route/store.ts
  apps/web/src/pages/quick-start/consts.tsx
  apps/web/src/pages/quick-start/steps/DigestPreview.tsx
  apps/web/src/pages/quick-start/steps/GeneralStarter.tsx
  apps/web/src/pages/quick-start/steps/GetStarted.tsx
  apps/web/src/pages/quick-start/steps/Quickstart.tsx
Labels: @novu/web

#3033 feat: add action item
  apps/web/src/components/digest-demo-flow/DigestDemoFlow.tsx
  apps/web/src/components/digest-demo-flow/DigestNode.tsx
  apps/web/src/components/digest-demo-flow/EmailNode.tsx
  apps/web/src/components/digest-demo-flow/TriggerNode.tsx
Labels: @novu/web

#3034 Add Resend to email provider list in README
  README.md
Labels: community

#3026 feat(web): connect provider popover in the workflow editor
  apps/web/src/components/digest-demo-flow/NodeStep.tsx
  apps/web/src/components/digest-demo-flow/index.ts
  apps/web/src/design-system/index.ts
  apps/web/src/design-system/popover/Popover.tsx
  apps/web/src/design-system/popover/index.ts
  apps/web/src/design-system/template-button/ChannelButton.tsx
  apps/web/src/design-system/typography/label/index.ts
  apps/web/src/hooks/integrations/useActiveIntegrations.ts
  apps/web/src/pages/quick-start/steps/DigestPreview.tsx
  apps/web/src/pages/templates/workflow/workflow/FlowEditor.tsx
  apps/web/src/pages/templates/workflow/workflow/node-types/ChannelNode.tsx
  apps/web/src/pages/templates/workflow/workflow/node-types/TriggerNode.tsx
Labels: @novu/web

#3027 feat(web): configure provider popover integrate with the integrations store modal
  apps/web/src/api/query.keys.ts
  apps/web/src/design-system/template-button/ChannelButton.tsx
  apps/web/src/hooks/integrations/useActiveIntegrations.ts
  apps/web/src/hooks/integrations/useIntegrationLimit.ts
  apps/web/src/hooks/integrations/useIntegrations.ts
  apps/web/src/pages/integrations/IntegrationsStoreModal.tsx
  apps/web/src/pages/integrations/components/LimitBar.tsx
  apps/web/src/pages/integrations/components/Modal/ChannelGroup.tsx
  apps/web/src/pages/integrations/components/Modal/ConnectIntegrationForm.tsx
  apps/web/src/pages/templates/components/LackIntegrationError.tsx
  apps/web/src/pages/templates/components/TemplatePushEditor.tsx
  apps/web/src/pages/templates/components/TemplateSMSEditor.tsx
  apps/web/src/pages/templates/components/chat-editor/TemplateChatEditor.tsx
  apps/web/src/pages/templates/components/email-editor/EmailContentCard.tsx
  apps/web/src/pages/templates/components/email-editor/TestSendEmail.tsx
  apps/web/src/pages/templates/editor/EmailIntegrationInfo.tsx
  apps/web/src/pages/templates/editor/TemplateEditorPage.tsx
  apps/web/src/pages/templates/workflow/workflow/FlowEditor.tsx
  apps/web/src/pages/templates/workflow/workflow/node-types/ChannelNode.tsx
  apps/web/src/pages/templates/workflow/workflow/node-types/TriggerNode.tsx
Labels: @novu/web

#3032 feat(web): integrations store modal show the drawer over the integrations list
  apps/web/src/design-system/index.ts
  apps/web/src/design-system/popover/Popover.tsx
  apps/web/src/pages/integrations/IntegrationsStoreModal.tsx
  apps/web/src/pages/integrations/components/Modal/ChannelGroup.tsx
  apps/web/src/pages/templates/workflow/workflow/node-types/ChannelNode.tsx
  apps/web/src/pages/templates/workflow/workflow/node-types/TriggerNode.tsx
  apps/web/src/pages/templates/workflow/workflow/node-types/WorkflowNode.tsx
Labels: @novu/web

#3031 feat: add analytics events
  apps/web/src/components/digest-demo-flow/NodeStep.tsx
  apps/web/src/pages/quick-start/components/ChannelsConfiguration.tsx
  apps/web/src/pages/quick-start/components/NavButton.tsx
  apps/web/src/pages/quick-start/components/layout/BodyLayout.tsx
  apps/web/src/pages/quick-start/consts.tsx
  apps/web/src/pages/quick-start/steps/DigestPreview.tsx
  apps/web/src/pages/quick-start/steps/GetStarted.tsx
Labels: @novu/web

#3045 fix: change default link in get started page
  apps/web/src/pages/quick-start/steps/GetStarted.tsx
Labels: @novu/web, community

#2830 feat: add userHashForIntercom field in user schema
  apps/api/src/.env.development
  apps/api/src/.env.production
  apps/api/src/.env.test
  apps/api/src/.example.env
  apps/api/src/app/auth/usecases/login/login.usecase.ts
  apps/api/src/app/auth/usecases/register/user-register.usecase.ts
  apps/api/src/app/events/usecases/message-matcher/message-matcher.usecase.ts
  apps/api/src/app/inbound-parse/usecases/inbound-email-parse/inbound-email-parse.usecase.ts
  apps/api/src/app/shared/helpers/hmac.service.ts
  apps/api/src/app/user/dtos/user-response.dto.ts
  apps/api/src/app/widgets/e2e/initialize-widget-session.e2e.ts
  apps/api/src/app/widgets/usecases/initialize-session/initialize-session.usecase.ts
  apps/web/src/components/layout/components/HeaderNav.tsx
  libs/dal/src/repositories/user/user.entity.ts
  libs/dal/src/repositories/user/user.schema.ts
  libs/shared/src/entities/user/user.interface.ts
Labels: @novu/api, @novu/web, @novu/dal, @novu/shared, community

#3044 Style : onboarding paddings and centering
  apps/web/src/components/digest-demo-flow/DigestDemoFlow.tsx
  apps/web/src/pages/quick-start/components/layout/BodyLayout.tsx
  apps/web/src/pages/quick-start/components/layout/FooterLayout.tsx
  apps/web/src/pages/quick-start/components/layout/HeaderLayout.tsx
Labels: @novu/web

#3043 feat: remove onboarding history management
  apps/web/src/components/layout/components/SideNav.tsx
  apps/web/src/constants/routes.enum.ts
  apps/web/src/pages/quick-start/components/NavButton.tsx
  apps/web/src/pages/quick-start/components/QuickStartWrapper.tsx
  apps/web/src/pages/quick-start/components/layout/BodyLayout.tsx
  apps/web/src/pages/quick-start/components/layout/GetStartedLayout.tsx
  apps/web/src/pages/quick-start/components/route/store.ts
  apps/web/src/pages/quick-start/steps/FrameworkSetup.tsx
  apps/web/src/pages/quick-start/steps/NotificationCenter.tsx
  apps/web/src/pages/quick-start/steps/Setup.tsx
  apps/web/src/pages/quick-start/steps/Trigger.tsx
Labels: @novu/web

#3046 feat: reduce digest onboarding templates
  apps/api/src/app/integrations/integrations.controller.ts
  apps/api/src/app/integrations/usecases/update-integration/update-integration.command.ts
  apps/api/src/app/integrations/usecases/update-integration/update-integration.usecase.ts
  apps/web/src/api/hooks/notification-templates/useCreateDigestDemoWorkflow.ts
Labels: @novu/api, @novu/web

#3038 feat(web): digest onboarding workflow analytics
  apps/web/src/components/digest-demo-flow/DigestDemoFlow.tsx
  apps/web/src/components/digest-demo-flow/DigestDemoFlowProvider.tsx
  apps/web/src/pages/templates/TemplatesDigestPlaygroundPage.tsx
  apps/web/src/pages/templates/TemplatesListPage.tsx
  apps/web/src/pages/templates/constants.ts
  apps/web/src/pages/templates/editor/DigestWorkflowTourTooltip.tsx
Labels: @novu/web

#2947 fix: layout docs
  README.md
  docs/docs/platform/layouts.md
  docs/docs/platform/step-filter.md
  docs/static/img/platform/filter/dark-is-online-filter.gif
  docs/static/img/platform/filter/light-is-online-filter.gif
  packages/node/README.md
Labels: documentation, community

#3052 fix: base url store
  apps/web/src/pages/integrations/IntegrationsStorePage.tsx
  libs/dal/src/repositories/integration/integration.schema.ts
  libs/shared/src/dto/integration/construct-integration.interface.ts
Labels: @novu/web, @novu/dal, @novu/shared

#3054 change method from remove to delete
  docs/docs/platform/subscribers.md
Labels: documentation, community

#3061 fix(api): publishing measures had wrong method names, always the same
  apps/api/src/app/events/services/performance-service/index.ts
Labels: @novu/api

#3057 feat(notification-center-vue): use the novu forked floating-vue library
  packages/notification-center-vue/package.json
  packages/notification-center-vue/src/index.ts
  pnpm-lock.yaml
Labels: @novu/notification-center-vue

#3058 (docs/readme) removed broken jarvis link
  README.md
Labels: community

#3059 feat(regression): test suite for sendinblue
  apps/api/src/providers/provider.regression.ts
  apps/api/src/providers/secrets/index.ts
Labels: @novu/api

#3060 feat(regression): test suite for mailjet
  apps/api/src/providers/provider.regression.ts
  apps/api/src/providers/secrets/index.ts
Labels: @novu/api

#3056 feat(web): integrations store modal analytics
  apps/web/src/pages/integrations/IntegrationsStoreModal.tsx
  apps/web/src/pages/integrations/components/Modal/ConnectIntegrationForm.tsx
  apps/web/src/pages/integrations/constants.ts
  apps/web/src/pages/quick-start/consts.tsx
  apps/web/src/pages/templates/components/LackIntegrationError.tsx
  apps/web/src/pages/templates/constants.ts
  apps/web/src/pages/templates/workflow/workflow/node-types/WorkflowNode.tsx
Labels: @novu/web

#3068 feat: reduce min pool size
  libs/dal/src/dal.service.ts
Labels: @novu/dal

#3065 fix: remove activity and add notification tag
  apps/api/src/bootstrap.ts
Labels: @novu/api

#3080 fix: update nc demo commands
  apps/web/src/pages/quick-start/consts.tsx
Labels: @novu/web

#3081 fix: save userhash for intercom in getmyprofile usecase
  apps/api/src/app/user/usecases/get-my-profile/get-my-profile.usecase.ts
Labels: @novu/api

#3077 fix: add missing authmodule import in layout module
  apps/api/src/app/layouts/layouts.module.ts
Labels: @novu/api

#3067 feat: add webpushconfig and update sidebar positions
  docs/docs/channels/email/mailersend.md
  docs/docs/channels/email/mailjet.md
  docs/docs/channels/email/outlook365.md
  docs/docs/channels/email/postmark.md
  docs/docs/channels/email/resend.md
  docs/docs/channels/email/sendgrid.md
  docs/docs/channels/email/sendinblue.md
  docs/docs/channels/email/ses.md
  docs/docs/channels/email/sparkpost.md
  docs/docs/channels/push/apns.md
  docs/docs/channels/push/expo.md
  docs/docs/channels/push/fcm.md
  docs/docs/channels/push/index.md
  docs/docs/channels/sms/twilio.md
  docs/docs/community/create-provider.md
  providers/fcm/src/lib/fcm.provider.ts
Labels: documentation, providers

#3087 chore(docs): disabling Google Analytics
  docs/docusaurus.config.js
  docs/package.json
  pnpm-lock.yaml
Labels: documentation, community

#3082 docs: change introduction messaging
  docs/docs/overview/introduction.md
Labels: documentation, community

#3086 feat(api): create webhook filter backoff strategy use case
  apps/api/src/app/events/dtos/event-job.dto.ts
  apps/api/src/app/events/dtos/index.ts
  apps/api/src/app/events/e2e/trigger-event.e2e.ts
  apps/api/src/app/events/services/workflow-queue/workflow.queue.service.spec.ts
  apps/api/src/app/events/services/workflow-queue/workflow.queue.service.ts
  apps/api/src/app/events/usecases/index.ts
  apps/api/src/app/events/usecases/webhook-filter-backoff-strategy/index.ts
  apps/api/src/app/events/usecases/webhook-filter-backoff-strategy/webhook-filter-backoff-strategy.command.ts
  apps/api/src/app/events/usecases/webhook-filter-backoff-strategy/webhook-filter-backoff-strategy.usecase.ts
Labels: @novu/api

#3011 Job grouping
  .cspell.json
  .github/actions/docker/build-api/action.yml
  .github/workflows/dev-deploy-api.yml
  .github/workflows/dev-deploy-inbound-mail.yml
  .github/workflows/dev-deploy-ws.yml
  .github/workflows/prod-deploy-api.yml
  .github/workflows/prod-deploy-inbound-mail.yml
  .github/workflows/prod-deploy-ws.yml
  .github/workflows/reusable-api-e2e.yml
  .github/workflows/test-api.yml
  .npmrc
  .npmrc-cloud
  apps/api/Dockerfile
  apps/api/package.json
  apps/api/src/app/events/e2e/delay-events.e2e.ts
  apps/api/src/app/events/services/workflow-queue/trigger-handler-queue.service.ts
  apps/api/src/app/events/services/workflow-queue/workflow.queue.service.spec.ts
  apps/api/src/app/events/services/workflow-queue/workflow.queue.service.ts
  apps/api/src/app/events/usecases/add-job/add-job.usecase.ts
  apps/api/src/app/events/usecases/parse-event-request/parse-event-request.usecase.ts
  apps/api/src/app/events/usecases/send-message/send-message-in-app.usecase.ts
  apps/api/src/app/inbound-parse/services/inbound-parse.queue.service.ts
  apps/api/src/app/shared/services/queue/queue.service.ts
  apps/api/src/app/widgets/usecases/mark-all-messages-as/mark-all-messages-as.usecase.ts
  apps/api/src/app/widgets/usecases/mark-message-as/mark-message-as.usecase.ts
  apps/api/src/app/widgets/usecases/remove-message/remove-message.usecase.ts
  apps/api/src/bootstrap.ts
  apps/inbound-mail/Dockerfile
  apps/inbound-mail/package.json
  apps/inbound-mail/src/server/index.ts
  apps/inbound-mail/src/server/queue-service.ts
  apps/ws/Dockerfile
  apps/ws/src/bootstrap.ts
  apps/ws/src/shared/queue/index.ts
  apps/ws/src/shared/queue/queue.interface.ts
  apps/ws/src/shared/queue/queue.service.ts
  apps/ws/src/shared/shared.module.ts
  apps/ws/src/socket/socket.module.ts
  packages/application-generic/package.json
  packages/application-generic/src/services/bull-mq.service.ts
  packages/application-generic/src/services/index.ts
  pnpm-lock.yaml
  scripts/pnpm-context.mjs
Labels: @novu/api, @novu/ws

#3105 fix: upgrade bullmq versions
  apps/api/package.json
  apps/api/src/app/events/services/workflow-queue/workflow.queue.service.spec.ts
  apps/api/src/app/events/services/workflow-queue/workflow.queue.service.ts
  apps/inbound-mail/package.json
  apps/webhook/package.json
  libs/testing/package.json
  packages/application-generic/package.json
  packages/application-generic/src/logging/index.ts
  packages/application-generic/src/services/bull-mq.service.ts
  pnpm-lock.yaml
Labels: @novu/api, @novu/webhook

#3110 chore: add nb and sv translations for notification actions
  packages/notification-center/src/i18n/languages/nb.ts
  packages/notification-center/src/i18n/languages/sv.ts
Labels: @novu/notification-center, community

#3099 feat(api): delete topic endpoint
  apps/api/src/app/topics/e2e/delete-topic.e2e.ts
  apps/api/src/app/topics/e2e/helpers/index.ts
  apps/api/src/app/topics/topics.controller.ts
  apps/api/src/app/topics/use-cases/delete-topic/delete-topic.command.ts
  apps/api/src/app/topics/use-cases/delete-topic/delete-topic.use-case.ts
  apps/api/src/app/topics/use-cases/delete-topic/index.ts
  apps/api/src/app/topics/use-cases/index.ts
  docs/docs/platform/topics.md
  libs/dal/src/repositories/topic/topic.repository.ts
  packages/node/src/lib/topics/topic.interface.ts
  packages/node/src/lib/topics/topics.spec.ts
  packages/node/src/lib/topics/topics.ts
Labels: documentation, @novu/api, @novu/dal

#3074 feat: cache notification template by trigger identifier
  apps/api/src/app/auth/services/auth.service.ts
  apps/api/src/app/auth/usecases/password-reset-request/password-reset-request.usecase.ts
  apps/api/src/app/auth/usecases/password-reset/password-reset.usecase.ts
  apps/api/src/app/change/usecases/promote-notification-template-change/promote-notification-template-change.usecase.ts
  apps/api/src/app/events/e2e/process-subscriber.e2e.ts
  apps/api/src/app/events/usecases/parse-event-request/parse-event-request.usecase.ts
  apps/api/src/app/events/usecases/send-message/send-message-in-app.usecase.ts
  apps/api/src/app/events/usecases/send-message/send-message.base.ts
  apps/api/src/app/events/usecases/send-message/send-message.usecase.ts
  apps/api/src/app/events/usecases/trigger-event/trigger-event.usecase.ts
  apps/api/src/app/integrations/usecases/create-integration/create-integration.usecase.ts
  apps/api/src/app/integrations/usecases/remove-integration/remove-integration.usecase.ts
  apps/api/src/app/integrations/usecases/update-integration/update-integration.usecase.ts
  apps/api/src/app/messages/usecases/get-messages/get-messages.usecase.ts
  apps/api/src/app/messages/usecases/remove-message/remove-message.usecase.ts
  apps/api/src/app/notification-template/usecases/change-template-active-status/change-template-active-status.usecase.ts
  apps/api/src/app/notification-template/usecases/update-notification-template/update-notification-template.usecase.ts
  apps/api/src/app/shared/interceptors/cached.interceptor.ts
  apps/api/src/app/shared/interceptors/index.ts
  apps/api/src/app/shared/interceptors/invalidate-cache.interceptor.ts
  apps/api/src/app/shared/interceptors/shared-cache.spec.ts
  apps/api/src/app/shared/interceptors/shared-cache.ts
  apps/api/src/app/shared/services/cache/cache.service.ts
  apps/api/src/app/shared/services/cache/index.ts
  apps/api/src/app/shared/services/cache/invalidate-cache.service.ts
  apps/api/src/app/shared/services/cache/key-builders/entities.spec.ts
  apps/api/src/app/shared/services/cache/key-builders/entities.ts
  apps/api/src/app/shared/services/cache/key-builders/queries.spec.ts
  apps/api/src/app/shared/services/cache/key-builders/queries.ts
  apps/api/src/app/shared/services/cache/key-builders/shared.ts
  apps/api/src/app/shared/services/cache/keys.ts
  apps/api/src/app/subscribers/usecases/create-subscriber/create-subscriber.usecase.ts
  apps/api/src/app/subscribers/usecases/get-subscriber-template-preference/get-subscriber-template-preference.usecase.ts
  apps/api/src/app/subscribers/usecases/get-subscriber/get-subscriber.usecase.ts
  apps/api/src/app/subscribers/usecases/remove-subscriber/remove-subscriber.usecase.ts
  apps/api/src/app/subscribers/usecases/update-subscriber-channel/update-subscriber-channel.usecase.ts
  apps/api/src/app/subscribers/usecases/update-subscriber/update-subscriber.usecase.ts
  apps/api/src/app/user/usecases/update-on-boarding/update-on-boarding.usecase.ts
  apps/api/src/app/user/usecases/update-profile-email/update-profile-email.usecase.ts
  apps/api/src/app/widgets/e2e/get-unseen-count.e2e.ts
  apps/api/src/app/widgets/usecases/get-feed-count/get-feed-count.usecase.ts
  apps/api/src/app/widgets/usecases/get-notifications-feed/get-notifications-feed.usecase.ts
  apps/api/src/app/widgets/usecases/mark-all-messages-as/mark-all-messages-as.usecase.ts
  apps/api/src/app/widgets/usecases/mark-message-as/mark-message-as.usecase.ts
  apps/api/src/app/widgets/usecases/remove-message/remove-message.usecase.ts
Labels: @novu/api

#3055 feat: Maqsam SMS provider added
  apps/api/package.json
  apps/api/src/app/events/services/sms-service/handlers/index.ts
  apps/api/src/app/events/services/sms-service/handlers/maqsam.handler.ts
  apps/api/src/app/events/services/sms-service/sms.factory.ts
  apps/web/public/static/images/providers/dark/maqsam.png
  apps/web/public/static/images/providers/light/maqsam.png
  libs/shared/src/consts/providers/channels/sms.ts
  libs/shared/src/consts/providers/credentials/provider-credentials.ts
  libs/shared/src/consts/providers/provider.enum.ts
  novu.code-workspace
  pnpm-lock.yaml
  providers/maqsam/.czrc
  providers/maqsam/.eslintrc.json
  providers/maqsam/.gitignore
  providers/maqsam/README.md
  providers/maqsam/package.json
  providers/maqsam/src/index.ts
  providers/maqsam/src/lib/maqsam.provider.spec.ts
  providers/maqsam/src/lib/maqsam.provider.ts
  providers/maqsam/tsconfig.json
  providers/maqsam/tsconfig.module.json
Labels: @novu/api, @novu/web, @novu/shared, providers, community

#3117 NV-1915 - 🐛 Bug Report: infobip sms provider error
  apps/api/src/app/events/services/sms-service/handlers/infobip.handler.ts
Labels: @novu/api, community

#3101 [New SMS Provider]: Add Sms Central provider
  apps/api/package.json
  apps/api/src/app/events/services/sms-service/handlers/index.ts
  apps/api/src/app/events/services/sms-service/handlers/sms-central.handler.ts
  apps/api/src/app/events/services/sms-service/sms.factory.ts
  apps/web/public/static/images/providers/dark/sms-central.png
  apps/web/public/static/images/providers/light/sms-central.png
  libs/shared/src/consts/providers/channels/sms.ts
  libs/shared/src/consts/providers/credentials/provider-credentials.ts
  libs/shared/src/consts/providers/provider.enum.ts
  packages/application-generic/package.json
  packages/application-generic/src/factories/sms/handlers/index.ts
  packages/application-generic/src/factories/sms/handlers/sms-central.handler.ts
  packages/application-generic/src/factories/sms/sms.factory.ts
  pnpm-lock.yaml
  providers/sms-central/.czrc
  providers/sms-central/.eslintrc.json
  providers/sms-central/.gitignore
  providers/sms-central/README.md
  providers/sms-central/jest.config.js
  providers/sms-central/package.json
  providers/sms-central/src/index.ts
  providers/sms-central/src/lib/sms-central.provider.spec.ts
  providers/sms-central/src/lib/sms-central.provider.ts
  providers/sms-central/tsconfig.json
  providers/sms-central/tsconfig.module.json
Labels: @novu/api, @novu/web, @novu/shared, providers, community

#3048 fix(integration): tlsOptions for nodemailer integration
  apps/api/src/app/integrations/dtos/credentials.dto.ts
  apps/api/src/app/integrations/e2e/create-integration.e2e.ts
  apps/api/src/app/integrations/e2e/get-integration.e2e.ts
  apps/api/src/app/integrations/e2e/update-integration.e2e.ts
  apps/web/src/pages/integrations/IntegrationsStoreModal.tsx
  apps/web/src/pages/integrations/IntegrationsStorePage.tsx
  apps/web/src/pages/integrations/components/ConnectIntegrationForm.cy.tsx
  apps/web/src/pages/integrations/components/ConnectIntegrationForm.tsx
  libs/dal/src/repositories/integration/integration.schema.ts
  libs/shared/src/consts/providers/credentials/provider-credentials.ts
  libs/shared/src/consts/providers/provider.interface.ts
  packages/application-generic/src/encryption/encrypt-provider.ts
Labels: @novu/api, @novu/web, @novu/dal, @novu/shared, community

#3085 NV-1010 - Create webhook parser for SES (email)
  packages/stateless/src/lib/provider/provider.interface.ts
  providers/ses/src/lib/ses.provider.spec.ts
  providers/ses/src/lib/ses.provider.ts
Labels: providers, community

#3121 refactor(docs) Update CLI prompt message
  docs/docs/community/create-provider.md
Labels: documentation, community
