Repository novuhq/novu, pull requests merged in 2023-12, with the labels that each got.

#4924 refactor(web): remove unused logrocket
  .cspell.json
  .github/workflows/prod-deploy-web.yml
  apps/web/.env
  apps/web/package.json
  apps/web/src/App.tsx
  apps/web/src/components/layout/components/HeaderNav.tsx
  apps/web/src/config/index.ts
  pnpm-lock.yaml
Labels: @novu/web, CI/CD

#4462 feat(node): add exponential retry mechanism with idempotency headers
  .cspell.json
  packages/node/package.json
  packages/node/src/index.ts
  packages/node/src/lib/novu.interface.ts
  packages/node/src/lib/novu.ts
  packages/node/src/lib/retry.spec.ts
  packages/node/src/lib/retry.ts
  pnpm-lock.yaml
Labels: community

#4926 fix: shutdown server on worker not enabled with pm2
  apps/worker/src/bootstrap.ts
  packages/application-generic/src/health/queue-health-indicator.service.ts
  packages/application-generic/src/services/in-memory-provider/providers/memory-db-cluster-provider.ts
  packages/application-generic/src/services/readiness/readiness.service.ts
Labels: @novu/worker

#4852 fix(worker): Properly Unescape Button Templates (fixes #4851)
  apps/api/e2e/compile-email-template.e2e.ts
  packages/application-generic/src/usecases/compile-email-template/templates/basic.handlebars
Labels: @novu/api, community

#4904 fix(web): nc loading issue for eu env
  apps/web/src/components/layout/components/NotificationCenterWidget.tsx
  apps/web/src/config/index.ts
Labels: @novu/web

#4931 fix(sdk): Make node sdk topic ITopicPayload types required
  packages/node/src/lib/topics/topic.interface.ts
Labels: community

#4937 chore(providers): Upgrade vonage sdk to latest version
  packages/application-generic/package.json
  packages/application-generic/src/factories/sms/handlers/index.ts
  packages/application-generic/src/factories/sms/handlers/nexmo.handler.ts
  packages/application-generic/src/factories/sms/sms.factory.ts
  pnpm-lock.yaml
  providers/nexmo/package.json
  providers/nexmo/src/lib/nexmo.provider.spec.ts
  providers/nexmo/src/lib/nexmo.provider.ts
Labels: providers, community

#4925 chore(providers,root,api): update axios version to latest - NV-3179
  apps/api/package.json
  apps/web/package.json
  apps/webhook/package.json
  apps/worker/package.json
  libs/shared/package.json
  libs/testing/package.json
  packages/application-generic/package.json
  packages/cli/package.json
  packages/node/package.json
  packages/notification-center/package.json
  pnpm-lock.yaml
  providers/burst-sms/package.json
  providers/clickatell/package.json
  providers/discord/package.json
  providers/email-webhook/package.json
  providers/forty-six-elks/package.json
  providers/generic-sms/package.json
  providers/getstream/package.json
  providers/grafana-on-call/package.json
  providers/maqsam/package.json
  providers/mattermost/package.json
  providers/ms-teams/package.json
  providers/netcore/package.json
  providers/postmark/package.json
  providers/push-webhook/package.json
  providers/ryver/package.json
  providers/sendchamp/package.json
  providers/sendinblue/package.json
  providers/simpletexting/package.json
  providers/slack/package.json
  providers/sms-central/package.json
  providers/sns/jest.config.js
  providers/sparkpost/package.json
  providers/zulip/package.json
Labels: @novu/api, @novu/web, @novu/webhook, @novu/notification-center, @novu/shared, providers, @novu/worker

#4938 fix(worker): inbound parse worker initialize
  apps/api/src/app/inbound-parse/inbound-parse.module.ts
Labels: @novu/api

#4910 feat(api): Add API rate limiting NestJS guard
  apps/api/package.json
  apps/api/src/app.module.ts
  apps/api/src/app/rate-limiting/e2e/.gitkeep
  apps/api/src/app/rate-limiting/guards/.gitkeep
  apps/api/src/app/rate-limiting/guards/index.ts
  apps/api/src/app/rate-limiting/guards/throttler.decorator.ts
  apps/api/src/app/rate-limiting/guards/throttler.guard.e2e.ts
  apps/api/src/app/rate-limiting/guards/throttler.guard.ts
  apps/api/src/app/rate-limiting/rate-limiting.module.ts
  apps/api/src/app/rate-limiting/usecases/get-api-rate-limit-service-maximum-config/get-api-rate-limit-service-maximum-config.spec.ts
  apps/api/src/app/rate-limiting/usecases/get-api-rate-limit-service-maximum-config/get-api-rate-limit-service-maximum-config.usecase.ts
  apps/api/src/app/shared/shared.module.ts
  apps/api/src/app/testing/rate-limiting.controller.ts
  apps/api/src/app/testing/testing.module.ts
  apps/api/src/types/env.d.ts
  libs/dal/src/repositories/environment/environment.repository.ts
  libs/dal/src/repositories/organization/organization.repository.ts
  libs/testing/src/environment.service.ts
  libs/testing/src/organization.service.ts
  libs/testing/src/user.session.ts
  packages/application-generic/src/services/auth/auth.guard.ts
  pnpm-lock.yaml
Labels: @novu/api, @novu/dal

#4935 style(web): Fix add tenant button location
  apps/web/src/pages/tenants/components/list/TenantsList.tsx
Labels: @novu/web, community

#4914 fix(api): hide create environment api
  apps/api/src/app/environments/environments.controller.ts
Labels: @novu/api

#4915 feat(api): Apply rate limit decorators to api controllers and methods
  apps/api/src/app/change/changes.controller.ts
  apps/api/src/app/events/events.controller.ts
  apps/api/src/app/invites/invites.controller.ts
  apps/api/src/app/subscribers/subscribers.controller.ts
  apps/api/src/app/tenant/tenant.controller.ts
  apps/api/src/app/topics/topics.controller.ts
Labels: @novu/api

#4909 Set up a readiness check on the Websocket system
  apps/api/src/app/shared/shared.module.ts
  apps/worker/src/bootstrap.ts
  apps/ws/src/bootstrap.ts
  apps/ws/src/health/health.controller.ts
  apps/ws/src/health/health.module.ts
  apps/ws/src/socket/services/cold-start.service.ts
  apps/ws/src/socket/services/index.ts
  apps/ws/src/socket/services/ws-server-health-indicator.service.ts
  apps/ws/src/socket/socket.module.ts
  packages/application-generic/src/health/dal.health-indicator.ts
  packages/application-generic/src/services/workers/active-jobs-metric-worker.service.ts
  packages/application-generic/src/services/workers/completed-jobs-metric-worker.service.ts
  packages/application-generic/src/services/workers/execution-log-worker.service.ts
  packages/application-generic/src/services/workers/inbound-parse-worker.service.ts
  packages/application-generic/src/services/workers/standard-worker.service.ts
  packages/application-generic/src/services/workers/subscriber-process-worker.service.ts
  packages/application-generic/src/services/workers/web-sockets-worker.service.ts
  packages/application-generic/src/services/workers/workflow-worker.service.ts
Labels: @novu/api, @novu/ws, @novu/worker

#4940 chore(providers): Update axios versions
  libs/dal/package.json
  packages/node/package.json
  packages/stateless/package.json
  pnpm-lock.yaml
  providers/kannel/jest.config.js
  providers/kannel/package.json
  providers/sendgrid/package.json
  providers/twilio/jest.config.js
  providers/twilio/package.json
Labels: @novu/dal, providers

#4942 chore(providers): Update provider packages for older axios versions
  packages/nest/package.json
  pnpm-lock.yaml
  providers/bandwidth/jest.config.js
  providers/bandwidth/package.json
  providers/braze/package.json
  providers/bulk-sms/package.json
  providers/email-webhook/package.json
  providers/generic-sms/package.json
  providers/getstream/package.json
  providers/grafana-on-call/package.json
  providers/infobip/jest.config.js
  providers/infobip/package.json
  providers/mailjet/package.json
  providers/mandrill/package.json
  providers/messagebird/package.json
  providers/ms-teams/package.json
  providers/plivo/package.json
  providers/postmark/jest.config.js
  providers/postmark/package.json
  providers/resend/jest.config.js
  providers/resend/package.json
  providers/sms-central/package.json
  providers/zulip/package.json
Labels: providers

#4911 feat(api): Add variable-cost token bucket rate limiting algorithm
  .cspell.json
  apps/api/src/app/rate-limiting/guards/throttler.guard.e2e.ts
  apps/api/src/app/rate-limiting/usecases/evaluate-token-bucket-rate-limit/evaluate-token-bucket-rate-limit.spec.ts
  apps/api/src/app/rate-limiting/usecases/evaluate-token-bucket-rate-limit/evaluate-token-bucket-rate-limit.types.ts
  apps/api/src/app/rate-limiting/usecases/evaluate-token-bucket-rate-limit/evaluate-token-bucket-rate-limit.usecase.ts
Labels: @novu/api

#4959 Revert "Update job-queue.ts"
  apps/worker/src/app/workflow/services/execution-log.worker.spec.ts
  libs/shared/src/config/job-queue.ts
  packages/application-generic/src/services/queues/execution-log-queue.service.spec.ts
Labels: @novu/shared, @novu/worker

#4951 fix(web): Intercom chat bubble should not show after closing integrat…
  apps/web/src/pages/integrations/components/multi-provider/UpdateProviderSidebar.tsx
Labels: @novu/web

#4866 fix(fcm): do not mutate overrides object
  providers/fcm/src/lib/fcm.provider.spec.ts
  providers/fcm/src/lib/fcm.provider.ts
Labels: providers, community

#4965 fix(api): logo extension and type should be validated on branding endpoint
  apps/api/src/app/organization/dtos/update-branding-details.dto.ts
  apps/api/src/app/organization/e2e/update-branding-details.e2e.ts
  apps/api/src/app/shared/validators/image.validator.ts
Labels: @novu/api

#4964 refactor(api): remove admin unused permissions
  apps/api/src/app/invites/dtos/invite-member.dto.ts
  apps/api/src/app/invites/e2e/bulk-invite.e2e.ts
  apps/api/src/app/invites/invites.controller.ts
  apps/api/src/app/invites/usecases/bulk-invite/bulk-invite.usecase.ts
  apps/api/src/app/invites/usecases/invite-member/invite-member.command.ts
  apps/api/src/app/invites/usecases/invite-member/invite-member.usecase.ts
  apps/api/src/app/organization/dtos/update-member-roles.dto.ts
  apps/api/src/app/organization/e2e/get-members.e2e.ts
  apps/api/src/app/organization/organization.controller.ts
  apps/api/src/app/organization/usecases/membership/change-member-role/change-member-role.command.ts
Labels: @novu/api

#4966 refactor(api): use cors for dev environment
  apps/api/src/bootstrap.ts
Labels: @novu/api

#4968 fix: bind init translation function
  apps/worker/src/app/workflow/usecases/send-message/send-message-email.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-in-app.usecase.ts
Labels: @novu/worker

#4970 feat(api): dont cache auth endpoints
  apps/api/src/app/auth/auth.controller.ts
Labels: @novu/api

#4953 Add subscriber source to metric
  apps/api/src/app/events/e2e/map-trigger-recipients.e2e.ts
  apps/worker/src/app/workflow/services/subscriber-process.worker.ts
  libs/shared/src/types/subscriber/index.ts
  packages/application-generic/src/usecases/map-trigger-recipients/map-trigger-recipients.use-case.ts
  packages/application-generic/src/usecases/subscriber-job-bound/subscriber-job-bound.command.ts
  packages/application-generic/src/usecases/subscriber-job-bound/subscriber-job-bound.usecase.ts
  packages/application-generic/src/usecases/trigger-broadcast/trigger-broadcast.usecase.ts
  packages/application-generic/src/usecases/trigger-event/trigger-event.usecase.ts
  packages/application-generic/src/usecases/trigger-multicast/trigger-multicast.usecase.ts
Labels: @novu/api, @novu/shared, @novu/worker

#4967 fix: dont generate build sourcemaps for web on production
  apps/web/package.json
Labels: @novu/web

#4922 feat(api): Add common responses and headers to OpenAPI spec paths
  .cspell.json
  .github/actions/validate-openapi/action.yml
  .github/actions/validate-swagger/action.yml
  .github/workflows/test.yml
  apps/api/.eslintrc.js
  apps/api/.spectral.yaml
  apps/api/README.md
  apps/api/package.json
  apps/api/src/app/auth/auth.controller.ts
  apps/api/src/app/blueprint/blueprint.controller.ts
  apps/api/src/app/change/changes.controller.ts
  apps/api/src/app/environments/environments.controller.ts
  apps/api/src/app/events/events.controller.ts
  apps/api/src/app/execution-details/execution-details.controller.ts
  apps/api/src/app/feeds/feeds.controller.ts
  apps/api/src/app/inbound-parse/inbound-parse.controller.ts
  apps/api/src/app/integrations/integrations.controller.ts
  apps/api/src/app/invites/invites.controller.ts
  apps/api/src/app/layouts/layouts.controller.ts
  apps/api/src/app/messages/messages.controller.ts
  apps/api/src/app/notification-groups/notification-groups.controller.ts
  apps/api/src/app/notifications/notification.controller.ts
  apps/api/src/app/organization/organization.controller.ts
  apps/api/src/app/shared/framework/constants/headers.schema.ts
  apps/api/src/app/shared/framework/constants/index.ts
  apps/api/src/app/shared/framework/constants/responses.schema.ts
  apps/api/src/app/shared/framework/paginated-ok-response.decorator.ts
  apps/api/src/app/shared/framework/response.decorator.ts
  apps/api/src/app/shared/framework/swagger/headers.decorator.ts
  apps/api/src/app/shared/framework/swagger/index.ts
  apps/api/src/app/shared/framework/swagger/injection.ts
  apps/api/src/app/shared/framework/swagger/responses.decorator.ts
  apps/api/src/app/shared/framework/swagger/swagger.controller.ts
  apps/api/src/app/shared/framework/types/headers.types.ts
  apps/api/src/app/shared/framework/types/index.ts
  apps/api/src/app/shared/framework/types/responses.types.ts
  apps/api/src/app/shared/framework/types/utils.types.spec.ts
  apps/api/src/app/shared/framework/types/utils.types.ts
  apps/api/src/app/storage/storage.controller.ts
  apps/api/src/app/subscribers/subscribers.controller.ts
  apps/api/src/app/tenant/tenant.controller.ts
  apps/api/src/app/topics/topics.controller.ts
  apps/api/src/app/user/user.controller.ts
  apps/api/src/app/widgets/widgets.controller.ts
  apps/api/src/app/workflow-overrides/workflow-overrides.controller.ts
  apps/api/src/app/workflows/notification-template.controller.ts
  apps/api/src/app/workflows/workflow.controller.ts
  apps/api/src/bootstrap.ts
  apps/api/src/types/env.d.ts
  pnpm-lock.yaml
Labels: @novu/api, CI/CD

#4979 fix(worker): timed digest event merging
  .idea/runConfigurations/_template__of_mocha_javascript_test_runner.xml
  apps/api/.mocharc.json
  apps/api/package.json
  apps/api/src/app/events/e2e/scheduled-digest.e2e.ts
  apps/worker/src/app/shared/shared.module.ts
  libs/dal/src/repositories/job/job.repository.ts
  libs/testing/src/jobs.service.ts
  libs/testing/src/user.session.ts
  packages/application-generic/src/usecases/add-job/merge-or-create-digest.usecase.ts
  packages/application-generic/src/usecases/digest-filter-steps/digest-filter-steps-backoff.usecase.ts
  packages/application-generic/src/usecases/digest-filter-steps/digest-filter-steps-regular.usecase.ts
  packages/application-generic/src/usecases/digest-filter-steps/digest-filter-steps-timed.usecase.ts
  packages/application-generic/src/usecases/digest-filter-steps/digest-filter-steps.usecase.ts
  packages/application-generic/src/usecases/digest-filter-steps/index.ts
Labels: @novu/api, @novu/dal, @novu/worker

#4981 hotfix: timed digest event merging (#4979)
  .idea/runConfigurations/_template__of_mocha_javascript_test_runner.xml
  apps/api/.mocharc.json
  apps/api/package.json
  apps/api/src/app/events/e2e/scheduled-digest.e2e.ts
  apps/worker/src/app/shared/shared.module.ts
  libs/dal/src/repositories/job/job.repository.ts
  libs/testing/src/jobs.service.ts
  libs/testing/src/user.session.ts
  packages/application-generic/src/usecases/add-job/merge-or-create-digest.usecase.ts
  packages/application-generic/src/usecases/digest-filter-steps/digest-filter-steps-backoff.usecase.ts
  packages/application-generic/src/usecases/digest-filter-steps/digest-filter-steps-regular.usecase.ts
  packages/application-generic/src/usecases/digest-filter-steps/digest-filter-steps-timed.usecase.ts
  packages/application-generic/src/usecases/digest-filter-steps/digest-filter-steps.usecase.ts
  packages/application-generic/src/usecases/digest-filter-steps/index.ts
Labels: @novu/api, @novu/dal, @novu/worker

#4978 chore(web): make apns provider production field optional
  libs/shared/src/consts/providers/credentials/provider-credentials.ts
Labels: @novu/shared

#4977 chore(web): update the conditions icon
  apps/web/src/pages/templates/components/EditorSidebarHeaderActions.tsx
  apps/web/src/pages/templates/workflow/workflow/node-types/WorkflowNodeActions.tsx
Labels: @novu/web

#4975 feat(ci): Worker deploy queues matrix
  .github/workflows/dev-deploy-worker.yml
  .github/workflows/prod-deploy-worker.yml
  .github/workflows/reusable-workers-service-deploy.yml
Labels: CI/CD

#4972 fix(api): ApiKey auth guard performance
  .cspell.json
  apps/api/e2e/idempotency.e2e.ts
  apps/api/package.json
  apps/api/src/app/auth/auth.controller.ts
  apps/api/src/app/auth/auth.module.ts
  apps/api/src/app/auth/e2e/user.auth.guard.e2e.ts
  apps/api/src/app/auth/framework/auth.guard.ts
  apps/api/src/app/auth/framework/roles.guard.ts
  apps/api/src/app/auth/framework/root-environment-guard.service.ts
  apps/api/src/app/auth/framework/user.auth.guard.ts
  apps/api/src/app/auth/services/passport/apikey.strategy.ts
  apps/api/src/app/auth/services/passport/jwt.strategy.ts
  apps/api/src/app/change/changes.controller.ts
  apps/api/src/app/content-templates/content-templates.controller.ts
  apps/api/src/app/environments/environments.controller.ts
  apps/api/src/app/events/events.controller.ts
  apps/api/src/app/execution-details/execution-details.controller.ts
  apps/api/src/app/feeds/feeds.controller.ts
  apps/api/src/app/inbound-parse/inbound-parse.controller.ts
  apps/api/src/app/integrations/integrations.controller.ts
  apps/api/src/app/invites/invites.controller.ts
  apps/api/src/app/layouts/layouts.controller.ts
  apps/api/src/app/messages/messages.controller.ts
  apps/api/src/app/notification-groups/notification-groups.controller.ts
  apps/api/src/app/notifications/notification.controller.ts
  apps/api/src/app/organization/organization.controller.ts
  apps/api/src/app/partner-integrations/partner-integrations.controller.ts
  apps/api/src/app/rate-limiting/guards/throttler.guard.e2e.ts
  apps/api/src/app/rate-limiting/guards/throttler.guard.ts
  apps/api/src/app/shared/framework/idempotency.interceptor.ts
  apps/api/src/app/shared/framework/types/headers.types.ts
  apps/api/src/app/storage/storage.controller.ts
  apps/api/src/app/subscribers/subscribers.controller.ts
  apps/api/src/app/tenant/tenant.controller.ts
  apps/api/src/app/testing/auth.controller.ts
  apps/api/src/app/testing/rate-limiting.controller.ts
  apps/api/src/app/testing/testing.controller.ts
  apps/api/src/app/testing/testing.module.ts
  apps/api/src/app/topics/topics.controller.ts
  apps/api/src/app/user/user.controller.ts
  apps/api/src/app/workflow-overrides/workflow-overrides.controller.ts
  apps/api/src/app/workflows/notification-template.controller.ts
  apps/api/src/app/workflows/workflow.controller.ts
  apps/api/src/bootstrap.ts
  libs/shared/src/entities/user/user.interface.ts
  libs/shared/src/types/auth/auth.types.ts
  libs/shared/src/types/auth/index.ts
  libs/shared/src/types/index.ts
  packages/application-generic/src/decorators/user-session.decorator.ts
  packages/application-generic/src/logging/index.ts
  packages/application-generic/src/services/auth/auth.guard.ts
  packages/application-generic/src/services/auth/auth.service.ts
  packages/application-generic/src/services/auth/index.ts
  packages/application-generic/src/services/auth/user.auth.guard.ts
  pnpm-lock.yaml
Labels: @novu/api, @novu/shared

#4877 feat(infra): use cache in-memory cluster for ws socket.io adapter
  apps/ws/src/bootstrap.ts
  apps/ws/src/shared/framework/in-memory-io.adapter.ts
  apps/ws/src/shared/framework/redis.adapter.ts
  apps/ws/src/shared/shared.module.ts
  packages/application-generic/src/services/in-memory-provider/index.ts
  packages/application-generic/src/services/in-memory-provider/web-sockets-in-memory-provider.service.ts
Labels: @novu/ws

#4985 fix(api): subscribers page performance
  apps/api/src/app/subscribers/usecases/get-subscribers/get-subscribers.command.ts
  apps/api/src/app/subscribers/usecases/get-subscribers/get-subscribers.usecase.ts
  apps/api/src/app/subscribers/usecases/get-subscribers/index.ts
Labels: @novu/api

#4952 Add support for cid based attachment in email
  libs/shared/src/types/events/index.ts
  packages/stateless/src/lib/template/template.interface.ts
  providers/sendgrid/src/lib/sendgrid.provider.ts
Labels: @novu/shared, providers

#4921 chore(ci): update the pipelines to generate the ee packages
  .github/workflows/dev-deploy-embed.yml
  .github/workflows/dev-deploy-web.yml
  .github/workflows/dev-deploy-webhook.yml
  .github/workflows/dev-deploy-widget.yml
  .github/workflows/prod-deploy-embed.yml
  .github/workflows/prod-deploy-web.yml
  .github/workflows/prod-deploy-webhook.yml
  .github/workflows/prod-deploy-widget.yml
  .github/workflows/reusable-docker.yml
  .github/workflows/reusable-embed-deploy.yml
  .github/workflows/reusable-web-deploy.yml
  .github/workflows/reusable-widget-deploy.yml
  .github/workflows/staging-deploy-web.yml
  apps/web/package.json
  apps/webhook/package.json
  apps/widget/package.json
  libs/embed/package.json
Labels: @novu/web, @novu/webhook, CI/CD

#4997 style(web): Fix add Integration button location
  apps/web/src/pages/integrations/IntegrationsList.tsx
Labels: @novu/web, community

#4992 fix: digest with passing filters are not aggregated
  apps/api/src/app/events/e2e/trigger-event.e2e.ts
  apps/web/src/components/execution-detail/ExecutionDetailsStepHeader.tsx
  apps/worker/src/app/workflow/usecases/queue-next-job/queue-next-job.usecase.ts
  packages/application-generic/src/usecases/add-job/add-job.usecase.ts
  packages/application-generic/src/usecases/add-job/merge-or-create-digest.command.ts
  packages/application-generic/src/usecases/add-job/merge-or-create-digest.usecase.ts
  packages/application-generic/src/usecases/create-execution-details/types/index.ts
Labels: @novu/api, @novu/web, @novu/worker

#4999 chore(deps): upgrade sendgrid version to latest
  apps/api/package.json
  pnpm-lock.yaml
  providers/sendgrid/jest.config.js
  providers/sendgrid/package.json
Labels: @novu/api, providers

#4982 feat(ci): workers prod deploy pipeline
  .github/workflows/prod-deploy-worker.yml
  .github/workflows/reusable-workers-service-deploy.yml
  .idea/vcs.xml
Labels: CI/CD

#4994 feat(pkg): added integrationidentifier in setcredential method in nod…
  packages/node/README.md
  packages/node/src/lib/subscribers/subscriber.interface.ts
  packages/node/src/lib/subscribers/subscribers.ts
Labels: community

#4746 Add execution-details and inbound-parse to node sdk
  packages/node/README.md
  packages/node/src/lib/execution-details/execution-details.interface.ts
  packages/node/src/lib/execution-details/execution-details.spec.ts
  packages/node/src/lib/execution-details/execution-details.ts
  packages/node/src/lib/inbound-parse/inbound-parse.interface.ts
  packages/node/src/lib/inbound-parse/inbound-parse.spec.ts
  packages/node/src/lib/inbound-parse/inbound-parse.ts
  packages/node/src/lib/novu.ts
  pnpm-lock.yaml
Labels: community

#4930 fix: Change wrong property name in bulk apply changes param in node sdk
  packages/node/src/lib/changes/changes.spec.ts
  packages/node/src/lib/changes/changes.ts
Labels: community

#4976 feat(api): Return api service level in rate limit headers
  apps/api/src/app/rate-limiting/guards/throttler.guard.e2e.ts
  apps/api/src/app/rate-limiting/guards/throttler.guard.ts
  apps/api/src/app/rate-limiting/usecases/evaluate-api-rate-limit/evaluate-api-rate-limit.spec.ts
  apps/api/src/app/rate-limiting/usecases/evaluate-api-rate-limit/evaluate-api-rate-limit.types.ts
  apps/api/src/app/rate-limiting/usecases/evaluate-api-rate-limit/evaluate-api-rate-limit.usecase.ts
  apps/api/src/app/rate-limiting/usecases/get-api-rate-limit-maximum/get-api-rate-limit-maximum.dto.ts
  apps/api/src/app/rate-limiting/usecases/get-api-rate-limit-maximum/get-api-rate-limit-maximum.spec.ts
  apps/api/src/app/rate-limiting/usecases/get-api-rate-limit-maximum/get-api-rate-limit-maximum.usecase.ts
  apps/api/src/app/rate-limiting/usecases/get-api-rate-limit-service-maximum-config/get-api-rate-limit-service-maximum-config.usecase.ts
  apps/api/src/app/shared/framework/idempotency.interceptor.ts
  packages/application-generic/package.json
  packages/application-generic/src/logging/index.ts
  packages/application-generic/src/services/auth/user.auth.guard.ts
  packages/application-generic/src/services/feature-flags.service.ts
  pnpm-lock.yaml
Labels: @novu/api

#5010 fix: Done [NV-3300] most recent change should be on the top in change…
  libs/dal/src/repositories/change/change.repository.ts
Labels: @novu/dal, community

#4995 fix(web): Fixed Integrations Store's add button alignment
  apps/web/src/pages/integrations/IntegrationsList.tsx
Labels: @novu/web, community

#5026 Store the questionnaire data
  apps/api/src/app/auth/auth.controller.ts
  apps/api/src/app/auth/dtos/user-registration.dto.ts
  apps/api/src/app/auth/usecases/register/user-register.command.ts
  apps/api/src/app/auth/usecases/register/user-register.usecase.ts
  apps/api/src/app/organization/dtos/create-organization.dto.ts
  apps/api/src/app/organization/e2e/create-organization.e2e.ts
  apps/api/src/app/organization/organization.controller.ts
  apps/api/src/app/organization/usecases/create-organization/create-organization.command.ts
  apps/api/src/app/organization/usecases/create-organization/create-organization.usecase.ts
  apps/api/src/app/user/dtos/user-response.dto.ts
  apps/api/src/app/widgets/dtos/organization-response.dto.ts
  apps/api/src/app/workflows/e2e/create-notification-templates.e2e.ts
  apps/web/src/pages/brand/tabs/BrandingForm.cy.tsx
  apps/widget/package.json
  libs/dal/src/repositories/organization/organization.entity.ts
  libs/dal/src/repositories/organization/organization.schema.ts
  libs/dal/src/repositories/user/user.entity.ts
  libs/dal/src/repositories/user/user.schema.ts
  libs/shared/src/dto/organization/create-organization.dto.ts
  libs/shared/src/entities/organization/organization.interface.ts
  libs/shared/src/entities/user/user.interface.ts
  libs/shared/src/types/organization/index.ts
  packages/application-generic/src/services/analytics.service.ts
  packages/node/src/lib/execution-details/execution-details.spec.ts
  packages/notification-center-angular/projects/notification-center-angular/package.json
  packages/notification-center/src/components/novu-provider/NovuProvider.test.tsx
  packages/notification-center/src/hooks/useNotifications.test.tsx
  pnpm-lock.yaml
Labels: @novu/api, @novu/web, @novu/dal, @novu/notification-center, @novu/shared, @novu/notification-center-angular

#5027 Questionnaire in the sign-up flow
  apps/web/cypress/tests/auth.spec.ts
  apps/web/cypress/tests/invites.spec.ts
  apps/web/src/App.tsx
  apps/web/src/pages/auth/QuestionnairePage.tsx
  apps/web/src/pages/auth/components/CreateOrganizationForm.tsx
  apps/web/src/pages/auth/components/LoginForm.tsx
  apps/web/src/pages/auth/components/OAuth.tsx
  apps/web/src/pages/auth/components/QuestionnaireForm.tsx
  apps/web/src/pages/auth/components/SignUpForm.tsx
  apps/web/src/pages/auth/components/dynamic-checkbox/DynamicCheckBox.styles.ts
  apps/web/src/pages/auth/components/dynamic-checkbox/DynamicCheckBox.tsx
  libs/design-system/src/checkbox/Checkbox.tsx
  libs/design-system/src/icons/general/HalfClock.tsx
  libs/design-system/src/icons/general/MultiChannel.tsx
  libs/design-system/src/icons/general/RingingBell.tsx
  libs/design-system/src/icons/gradient/DelayAction.tsx
  libs/design-system/src/icons/index.ts
Labels: @novu/web, @novu/design-system
