Repository novuhq/novu, pull requests merged in 2023-02, with the labels that each got.

#2631 docs(notification-center): api reference page
  .cspell.json
  README.md
  _templates/provider/new/package.ejs.t
  apps/api/package.json
  apps/web/package.json
  apps/widget/package.json
  docker/kubernetes/kustomize/api-deployment.yaml
  docker/kubernetes/kustomize/embed-deployment.yaml
  docker/kubernetes/kustomize/web-deployment.yaml
  docker/kubernetes/kustomize/widget-deployment.yaml
  docker/kubernetes/kustomize/ws-deployment.yaml
  docker/local/deployment/docker-compose.yml
  docs/docs/notification-center/custom-styling.md
  docs/docs/notification-center/iframe-embed.md
  docs/docs/notification-center/react/_category_.json
  docs/docs/notification-center/react/api-reference.md
  docs/docs/notification-center/react/react-components.md
  docs/docs/notification-center/web-component.md
  docs/docs/overview/docker-deploy.md
  package.json
  packages/application-generic/package.json
  packages/client/package.json
  packages/headless/package.json
  packages/nest/package.json
  packages/node/package.json
  packages/notification-center/src/i18n/lang.ts
  packages/stateless/package.json
  pnpm-lock.yaml
  providers/apns/package.json
  providers/burst-sms/package.json
  providers/clickatell/package.json
  providers/discord/package.json
  providers/emailjs/package.json
  providers/expo/package.json
  providers/fcm/package.json
  providers/firetext/package.json
  providers/gupshup/package.json
  providers/infobip/package.json
  providers/mailersend/package.json
  providers/mailgun/package.json
  providers/mailjet/package.json
  providers/mandrill/package.json
  providers/ms-teams/package.json
  providers/netcore/package.json
  providers/nexmo/package.json
  providers/nodemailer/package.json
  providers/outlook365/package.json
  providers/plivo/package.json
  providers/postmark/package.json
  providers/sendgrid/package.json
  providers/sendinblue/package.json
  providers/ses/package.json
  providers/slack/package.json
  providers/sms77/package.json
  providers/sns/package.json
  providers/sparkpost/package.json
  providers/telnyx/package.json
  providers/termii/package.json
  providers/twilio/package.json
Labels: documentation, @novu/api, @novu/web, @novu/notification-center, providers

#2670 fix: so no global style are applied
  packages/notification-center/src/components/notification-center/components/AppContent.tsx
Labels: @novu/notification-center

#2660 Feat in app code editor
  .cspell.json
  apps/api/src/app/events/usecases/send-message/send-message-in-app.usecase.ts
  apps/web/cypress/tests/notification-editor/create-notification.spec.ts
  apps/web/cypress/tests/notification-editor/main-functionality.spec.ts
  apps/web/package.json
  apps/web/src/components/templates/VariableManagerModal.tsx
  apps/web/src/components/templates/email-editor/EmailCustomCodeEditor.tsx
  apps/web/src/components/templates/email-editor/EmailMessagesCards.tsx
  apps/web/src/components/templates/email-editor/variables-management/VariablesManagement.tsx
  apps/web/src/components/templates/in-app-editor/AvatarFeedFields.tsx
  apps/web/src/components/templates/in-app-editor/EnableAvatarSwitch.tsx
  apps/web/src/components/templates/in-app-editor/InAppContentCard.tsx
  apps/web/src/components/templates/in-app-editor/InAppEditorBlock.tsx
  apps/web/src/components/templates/in-app-editor/TemplateInAppEditor.tsx
  apps/web/src/components/templates/in-app-editor/content/Content.cy.tsx
  apps/web/src/components/templates/in-app-editor/content/Content.tsx
  apps/web/src/components/templates/in-app-editor/content/ContentContainer.tsx
  apps/web/src/components/widget/ActionBlockContainer.tsx
  apps/web/src/components/widget/AvatarContainer.tsx
  apps/web/src/components/widget/InAppWidgetPreview.tsx
  pnpm-lock.yaml
Labels: @novu/api, @novu/web

#2676 Fix: Subject named variable not assigning
  apps/api/src/app/content-templates/usecases/compile-email-template/compile-email-template.spec.ts
  apps/api/src/app/content-templates/usecases/compile-email-template/compile-email-template.usecase.ts
Labels: @novu/api, community

#2680 fix: size of email content "too large"
  apps/api/src/bootstrap.ts
Labels: @novu/api

#2669 Updating Cypress from version 12.1.0 to 12.3.0
  apps/web/package.json
  apps/widget/cypress/e2e/shell-embed.spec.ts
  apps/widget/package.json
  pnpm-lock.yaml
Labels: @novu/web, community

#2687 fix(web): activity feed tooltip issue
  apps/web/src/pages/activities/components/ActivityGraphGlobalStyles.tsx
  apps/web/src/pages/activities/services/chart-bar/option.service.ts
Labels: @novu/web

#2674 fix(web): fixed the template editor react-hook-form dirty state
  .cspell.json
  apps/web/cypress/tests/changes.spec.ts
  apps/web/cypress/tests/notification-editor/create-notification.spec.ts
  apps/web/cypress/tests/notification-editor/main-functionality.spec.ts
  apps/web/cypress/tests/notification-editor/steps-actions.spec.ts
  apps/web/cypress/tests/onboarding.spec.ts
  apps/web/package.json
  apps/web/src/components/templates/FieldArrayProvider.tsx
  apps/web/src/components/templates/SaveChangesModal.tsx
  apps/web/src/components/templates/TemplateEditor.tsx
  apps/web/src/components/templates/TemplateEditorProvider.tsx
  apps/web/src/components/templates/TemplateFormProvider.tsx
  apps/web/src/components/templates/TemplatePageHeader.tsx
  apps/web/src/components/templates/TemplatePushEditor.tsx
  apps/web/src/components/templates/TemplateSMSEditor.tsx
  apps/web/src/components/templates/TemplateSettings.tsx
  apps/web/src/components/templates/TemplatesSideBar.tsx
  apps/web/src/components/templates/VariableManager.cy.tsx
  apps/web/src/components/templates/VariableManager.tsx
  apps/web/src/components/templates/chat-editor/TemplateChatEditor.tsx
  apps/web/src/components/templates/email-editor/ButtonRowContent.tsx
  apps/web/src/components/templates/email-editor/ContentRow.tsx
  apps/web/src/components/templates/email-editor/EmailContentCard.tsx
  apps/web/src/components/templates/email-editor/EmailInboxContent.tsx
  apps/web/src/components/templates/email-editor/EmailMessageEditor.tsx
  apps/web/src/components/templates/email-editor/EmailMessagesCards.tsx
  apps/web/src/components/templates/email-editor/TextRowContent.tsx
  apps/web/src/components/templates/formTypes.ts
  apps/web/src/components/templates/in-app-editor/AvatarFeedFields.tsx
  apps/web/src/components/templates/in-app-editor/ButtonsTemplatesPopover.tsx
  apps/web/src/components/templates/in-app-editor/EnableAvatarSwitch.tsx
  apps/web/src/components/templates/in-app-editor/InAppEditorBlock.tsx
  apps/web/src/components/templates/in-app-editor/TemplateInAppEditor.tsx
  apps/web/src/components/templates/notification-setting-form/NotificationSettingsForm.tsx
  apps/web/src/components/templates/notification-setting-form/TemplatePreference.tsx
  apps/web/src/components/templates/templateToFormMappers.ts
  apps/web/src/components/templates/useTemplateController.ts
  apps/web/src/components/widget/InAppWidgetPreview.tsx
  apps/web/src/components/workflow/FlowEditor.tsx
  apps/web/src/components/workflow/node-types/ChannelNode.tsx
  apps/web/src/design-system/tabs/Tabs.tsx
  apps/web/src/design-system/template-button/TemplateButton.tsx
  apps/web/src/hooks/useVariablesManager.ts
  apps/web/src/pages/templates/editor/TemplateEditorPage.tsx
  apps/web/src/pages/templates/filter/FilterModal.tsx
  apps/web/src/pages/templates/filter/Filters.cy.tsx
  apps/web/src/pages/templates/filter/Filters.tsx
  apps/web/src/pages/templates/filter/OnlineFiltersForms.tsx
  apps/web/src/pages/templates/workflow/DelayMetadata.tsx
  apps/web/src/pages/templates/workflow/DigestMetadata.tsx
  apps/web/src/pages/templates/workflow/ReplyCallback.tsx
  apps/web/src/pages/templates/workflow/ShouldStopOnFailSwitch.tsx
  apps/web/src/pages/templates/workflow/SideBar/SelectedStep.tsx
  apps/web/src/pages/templates/workflow/StepActiveSwitch.tsx
  apps/web/src/pages/templates/workflow/WorkflowEditorPage.tsx
  apps/web/src/pages/user-preference/UserPreference.tsx
  libs/shared/src/dto/notification-templates/create-template.dto.ts
  libs/testing/src/notification-template.service.ts
  pnpm-lock.yaml
Labels: @novu/web, @novu/shared

#2696 Add cont path static
  apps/web/src/components/layout/components/AuthLayout.tsx
  apps/web/src/components/layout/components/HeaderNav.tsx
  apps/web/src/components/layout/components/PartnerIntegrationLayout.tsx
  apps/web/src/pages/activities/components/ProviderImage.tsx
  apps/web/src/pages/integrations/components/ChannelGroup.tsx
  apps/web/src/pages/quick-start/components/TriggerCard.tsx
Labels: @novu/web, community

#2634 feat: Implement rename organization
  apps/api/src/app/organization/e2e/rename-organization.e2e.ts
  apps/api/src/app/organization/organization.controller.ts
  apps/api/src/app/organization/usecases/index.ts
  apps/api/src/app/organization/usecases/rename-organization/rename-organization-command.ts
  apps/api/src/app/organization/usecases/rename-organization/rename-organization.usecase.ts
  libs/dal/src/repositories/organization/organization.repository.ts
Labels: @novu/api, @novu/dal, community

#2704 NV-1453: feature request of bulk trigger
  apps/api/src/app/events/dtos/trigger-event-request.dto.ts
  apps/api/src/app/events/dtos/trigger-event-response.dto.ts
  apps/api/src/app/events/e2e/bulk-trigger.e2e.ts
  apps/api/src/app/events/events.controller.ts
  apps/api/src/app/events/usecases/index.ts
  apps/api/src/app/events/usecases/parse-event-request/parse-event-request.command.ts
  apps/api/src/app/events/usecases/parse-event-request/parse-event-request.usecase.ts
  apps/api/src/app/events/usecases/process-bulk-trigger/process-bulk-trigger.command.ts
  apps/api/src/app/events/usecases/process-bulk-trigger/process-bulk-trigger.usecase.ts
  packages/node/src/lib/events/events.interface.ts
  packages/node/src/lib/events/events.spec.ts
  packages/node/src/lib/events/events.ts
  packages/node/src/lib/novu.ts
Labels: @novu/api

#2712 feat: add link to github issue to sidebar
  apps/web/cypress/tests/layout/side-menu.spec.ts
  apps/web/src/components/layout/components/SideNav.tsx
Labels: @novu/web

#2705 feat(web): activity feed fill the filters on chart bar click
  .cspell.json
  apps/api/src/app/notifications/dtos/activity-graph-states-response.dto.ts
  apps/api/src/app/notifications/e2e/get-activity-graph-states.e2e.ts
  apps/web/cypress/tests/activities-page.spec.ts
  apps/web/package.json
  apps/web/src/api/activity.ts
  apps/web/src/hooks/useDebounce.ts
  apps/web/src/pages/activities/ActivitiesPage.tsx
  apps/web/src/pages/activities/components/ActivityGraph.tsx
  apps/web/src/pages/activities/consts/mock/activity-graph-stats.mock.ts
  apps/web/src/pages/activities/interfaces/index.ts
  apps/web/src/pages/activities/services/chart-bar/data.service.ts
  apps/web/src/pages/activities/services/chart-bar/option.service.ts
  libs/dal/src/repositories/notification/notification.repository.ts
  pnpm-lock.yaml
Labels: @novu/api, @novu/web, @novu/dal

#2707 feat: support of custom properties for subscribers #2393
  apps/api/src/app/subscribers/dtos/create-subscriber-request.dto.ts
  apps/api/src/app/subscribers/dtos/update-subscriber-request.dto.ts
  apps/api/src/app/subscribers/e2e/create-subscriber.e2e.ts
  apps/api/src/app/subscribers/e2e/update-subscriber.e2e.ts
  apps/api/src/app/subscribers/subscribers.controller.ts
  apps/api/src/app/subscribers/usecases/create-subscriber/create-subscriber.command.ts
  apps/api/src/app/subscribers/usecases/create-subscriber/create-subscriber.usecase.ts
  apps/api/src/app/subscribers/usecases/update-subscriber/update-subscriber.command.ts
  apps/api/src/app/subscribers/usecases/update-subscriber/update-subscriber.usecase.ts
  apps/web/src/design-system/hover-card/HoverCard.tsx
  apps/web/src/design-system/icons/general/ViewportWide.tsx
  apps/web/src/pages/subscribers/SubscribersListPage.tsx
  docs/docs/platform/subscribers.md
  libs/dal/src/repositories/subscriber/subscriber.entity.ts
  libs/dal/src/repositories/subscriber/subscriber.schema.ts
  libs/shared/src/entities/subscriber/subscriber.interface.ts
  libs/shared/src/services/http-client/api.client.ts
  packages/node/src/lib/subscribers/subscriber.interface.ts
  packages/node/src/lib/subscribers/subscribers.spec.ts
  packages/node/src/lib/subscribers/subscribers.ts
Labels: documentation, @novu/api, @novu/web, @novu/dal, @novu/shared, community

#2715 feat: added share feedback to open github issue through command palette
  apps/web/src/components/utils/Spotlight.tsx
Labels: @novu/web

#2710 Fix for the invite link for members not including the context path
  apps/web/src/components/invites/MembersTable.tsx
Labels: @novu/web, community

#2633 feat: populate susbcriber in notification feed
  apps/api/src/app/widgets/e2e/get-notification-feed.e2e.ts
  libs/dal/src/repositories/message/message.repository.ts
Labels: @novu/api, @novu/dal, community

#2691 feat: exclude actor from topic event
  apps/api/src/app/events/e2e/trigger-event-topic.e2e.ts
  apps/api/src/app/events/usecases/map-trigger-recipients/map-trigger-recipients.command.ts
  apps/api/src/app/events/usecases/map-trigger-recipients/map-trigger-recipients.use-case.ts
  apps/api/src/app/events/usecases/parse-event-request/parse-event-request.usecase.ts
  docs/docs/platform/layouts.md
  docs/docs/platform/topics.md
Labels: documentation, @novu/api

#2713 fix: so previous change id is used on delete change for notification template
  apps/api/src/app/notification-template/e2e/delete-notification-template.e2e.ts
  apps/api/src/app/notification-template/usecases/delete-notification-template/delete-notification-template.usecase.ts
Labels: @novu/api

#2717 fix: shows wrong notification styles
  apps/web/src/design-system/ThemeProvider.tsx
Labels: @novu/web

#2709 Static url fix
  apps/web/src/components/layout/components/AuthLayout.tsx
  apps/web/src/pages/integrations/components/ConnectIntegrationForm.tsx
  apps/web/src/pages/integrations/components/ProviderCard.tsx
Labels: @novu/web, community

#2665 fix(api): api docs not generated and added more e2e tests
  apps/api/src/app/events/usecases/send-message/send-message.usecase.ts
  apps/api/src/app/notification-template/usecases/update-notification-template/update-notification-template.usecase.ts
  apps/api/src/app/subscribers/e2e/create-subscriber.e2e.ts
  apps/api/src/app/subscribers/e2e/get-preferences.e2e.ts
  apps/api/src/app/subscribers/e2e/helpers/index.ts
  apps/api/src/app/subscribers/e2e/remove-subscriber.e2e.ts
  apps/api/src/app/subscribers/e2e/update-online-flag.e2e.ts
  apps/api/src/app/subscribers/e2e/update-preference.e2e.ts
  apps/api/src/app/subscribers/e2e/update-subscriber.e2e.ts
  apps/api/src/app/subscribers/subscribers.controller.ts
  apps/api/src/app/subscribers/usecases/update-subscriber-preference/update-subscriber-preference.usecase.ts
  apps/api/src/app/widgets/dtos/update-subscriber-preference-request.dto.ts
  apps/api/src/app/widgets/dtos/update-subscriber-preference-response.dto.ts
Labels: @novu/api

#2721 GitHub actions EU
  .github/workflows/prod-deploy-api.yml
  .github/workflows/prod-deploy-embed.yml
  .github/workflows/prod-deploy-inbound-mail.yml
  .github/workflows/prod-deploy-web-component.yml
  .github/workflows/prod-deploy-web.yml
  .github/workflows/prod-deploy-webhook.yml
  .github/workflows/prod-deploy-widget.yml
  .github/workflows/prod-deploy-ws.yml
  .github/workflows/reusable-app-service-deploy.yml
  apps/api/src/.env.production
  apps/api/src/app/auth/auth.controller.ts
Labels: @novu/api

#2702 feat: add in app activated api support
  apps/api/src/app/organization/e2e/get-in-app-activated.e2e.ts
  apps/api/src/app/organization/organization.controller.ts
  apps/api/src/app/organization/usecases/get-In-app-activated/get-In-app-activated.command.ts
  apps/api/src/app/organization/usecases/get-In-app-activated/get-In-app-activated.usecase.ts
  apps/api/src/app/organization/usecases/index.ts
Labels: @novu/api

#2740 NV-1528 Remove Email.js provider
  README.md
  apps/api/src/app/events/services/mail-service/handlers/emailjs.handler.ts
  apps/web/cypress/tests/changes.spec.ts
  apps/widget/cypress/e2e/initialization.spec.ts
  docs/docs/channels/email/emailjs.md
  docs/docs/community/monorepo-structure.md
  libs/shared/src/consts/providers/channels/email.ts
  novu.code-workspace
  packages/node/src/lib/events/events.interface.ts
  packages/stateless/README.md
Labels: documentation, @novu/api, @novu/web, @novu/shared

#2749 feat: add what filters was used for step to analytic event
  apps/api/src/app/events/usecases/send-message/send-message.usecase.ts
  apps/api/src/app/events/usecases/trigger-event/filter-processing-details.ts
  apps/api/src/app/events/usecases/trigger-event/message-matcher.service.spec.ts
  apps/api/src/app/events/usecases/trigger-event/message-matcher.service.ts
Labels: @novu/api

#2750 docs(topic): Replace enum with string for simplified understanding
  docs/docs/platform/topics.md
Labels: documentation

#2753 fix(docs): unnoticed casing problem in the examples
  docs/docs/platform/topics.md
Labels: documentation

#2757 fix: so empty string can not be used as default value
  apps/api/src/app/message-template/usecases/create-message-template/create-message-template.spec.ts
  apps/api/src/app/message-template/usecases/create-message-template/create-message-template.usecase.ts
  apps/api/src/app/message-template/usecases/update-message-template/update-message-template.usecase.ts
  apps/api/src/app/shared/helpers/verify-payload.service.ts
Labels: @novu/api

#2764 fix: after late comment
  apps/api/src/app/events/usecases/verify-payload/verify-payload.spec.ts
  apps/api/src/app/message-template/usecases/create-message-template/create-message-template.spec.ts
  apps/api/src/app/message-template/usecases/create-message-template/create-message-template.usecase.ts
  apps/api/src/app/message-template/usecases/update-message-template/update-message-template.usecase.ts
Labels: @novu/api

#2765 fix: improve 'no' translations
  packages/notification-center/src/i18n/languages/no.ts
Labels: @novu/notification-center, community

#2759 Polishing: Some design issues #2744
  apps/web/cypress.config.ts
  apps/web/cypress/tests/notification-editor/create-notification.spec.ts
  apps/web/src/pages/integrations/components/ConnectIntegrationForm.tsx
  apps/web/src/pages/integrations/components/NovuIntegrationCard.tsx
  apps/web/src/pages/integrations/components/ProviderCard.tsx
Labels: @novu/web, community

#2754 fix: proper error handling for missing subscriber on preference update
  apps/api/src/app/events/usecases/send-message/send-message.usecase.ts
  apps/api/src/app/subscribers/e2e/get-preferences.e2e.ts
  apps/api/src/app/subscribers/e2e/helpers/index.ts
  apps/api/src/app/subscribers/usecases/get-subscriber-template-preference/get-subscriber-template-preference.command.ts
  apps/api/src/app/subscribers/usecases/get-subscriber-template-preference/get-subscriber-template-preference.usecase.ts
Labels: @novu/api

#2719 fix(api): implement distributed lock to fix digest concurrency issues
  .cspell.json
  apps/api/package.json
  apps/api/src/app/events/e2e/delay-events.e2e.ts
  apps/api/src/app/events/e2e/digest-events.e2e.ts
  apps/api/src/app/events/events.module.ts
  apps/api/src/app/events/services/distributed-lock-service/index.ts
  apps/api/src/app/events/usecases/add-job/add-delay-job.usecase.ts
  apps/api/src/app/events/usecases/add-job/add-digest-job.command.ts
  apps/api/src/app/events/usecases/add-job/add-digest-job.usecase.ts
  apps/api/src/app/events/usecases/add-job/add-job.command.ts
  apps/api/src/app/events/usecases/add-job/add-job.usecase.ts
  apps/api/src/app/events/usecases/add-job/should-add-digest-job.usecase.ts
  apps/api/src/app/events/usecases/digest-filter-steps/digest-filter-steps-backoff.usecase.ts
  apps/api/src/app/events/usecases/digest-filter-steps/digest-filter-steps-regular.usecase.ts
  apps/api/src/app/events/usecases/digest-filter-steps/digest-filter-steps.usecase.ts
  apps/api/src/app/events/usecases/index.ts
  apps/api/src/app/shared/commands/project.command.ts
  apps/api/src/app/shared/services/distributed-lock/distributed-lock.service.spec.ts
  apps/api/src/app/shared/services/distributed-lock/distributed-lock.service.ts
  apps/api/src/app/shared/services/distributed-lock/index.ts
  apps/api/src/app/shared/shared.module.ts
  apps/api/src/bootstrap.ts
  libs/dal/src/repositories/job/job.repository.ts
  pnpm-lock.yaml
Labels: @novu/api, @novu/dal

#2791 NV-538 - Change Z-index for user profile dropdown to overlay the loader in notification template screen
  apps/web/src/design-system/table/Table.tsx
Labels: @novu/web

#2792 NV-1588 - Execution Details modal Should include Template name
  apps/web/src/components/activity/ExecutionDetailsModal.tsx
Labels: @novu/web

#2797 feat: converting apostrophes in variables correctly
  apps/api/src/app/content-templates/usecases/compile-template/compile-template.spec.ts
  apps/api/src/app/content-templates/usecases/compile-template/compile-template.usecase.ts
Labels: @novu/api

#2798 feat: add more integration fields for apns
  apps/api/src/app/events/services/push-service/handlers/apns.handler.ts
  apps/web/src/pages/integrations/components/IntegrationInput.tsx
  libs/shared/src/consts/providers/credentials/provider-credentials.ts
  providers/apns/src/lib/apns.provider.ts
Labels: @novu/api, @novu/web, @novu/shared, providers

#2769 feat: make sender name an input field for email card
  apps/api/src/app/events/usecases/send-message/send-message-email.usecase.ts
  apps/api/src/app/events/usecases/send-message/send-message.command.ts
  apps/api/src/app/message-template/usecases/create-message-template/create-message-template.command.ts
  apps/api/src/app/message-template/usecases/create-message-template/create-message-template.usecase.ts
  apps/api/src/app/message-template/usecases/update-message-template/update-message-template.command.ts
  apps/api/src/app/message-template/usecases/update-message-template/update-message-template.usecase.ts
  apps/api/src/app/notification-template/e2e/create-notification-templates.e2e.ts
  apps/api/src/app/notification-template/usecases/create-notification-template/create-notification-template.usecase.ts
  apps/api/src/app/notification-template/usecases/update-notification-template/update-notification-template.usecase.ts
  apps/api/src/app/shared/dtos/message-template.ts
  apps/web/src/components/templates/TemplateFormProvider.tsx
  apps/web/src/components/templates/email-editor/EmailInboxContent.tsx
  apps/web/src/components/templates/templateToFormMappers.ts
  libs/dal/src/repositories/message-template/message-template.entity.ts
  libs/dal/src/repositories/message-template/message-template.schema.ts
  libs/shared/src/entities/message-template/message-template.interface.ts
Labels: @novu/api, @novu/web, @novu/dal, @novu/shared

#2585 fix: existing user cannot be invited to the org
  .github/workflows/dev-deploy-web.yml
  .github/workflows/prod-deploy-web.yml
  .github/workflows/reusable-web-e2e.yml
  .github/workflows/test-web.yml
  apps/api/migrations/normalize-users-email/normalize-users-email.migration.ts
  apps/api/package.json
  apps/api/src/app/auth/auth.controller.ts
  apps/api/src/app/auth/services/auth.service.ts
  apps/api/src/app/invites/e2e/accept-invite.e2e.ts
  apps/api/src/app/invites/usecases/get-invite/get-invite.usecase.ts
  apps/api/src/app/invites/usecases/invite-member/invite-member.usecase.ts
  apps/api/src/config/index.ts
  apps/web/cypress.config.ts
  apps/web/cypress/global.d.ts
  apps/web/cypress/support/commands.ts
  apps/web/cypress/tests/auth.spec.ts
  apps/web/cypress/tests/invites.spec.ts
  apps/web/src/components/auth/LoginForm.tsx
  apps/web/src/components/auth/SetupLoader.tsx
  apps/web/src/components/auth/SignUpForm.tsx
  apps/web/src/components/auth/gitHubUtils.ts
  apps/web/src/components/auth/useAcceptInvite.ts
  apps/web/src/components/layout/components/AuthContainer.tsx
  apps/web/src/components/partner-integrations/vercel/LinkProjectContainer.tsx
  apps/web/src/config/index.ts
  apps/web/src/design-system/typography/title/Title.tsx
  apps/web/src/pages/auth/CreateOrganizationPage.tsx
  apps/web/src/pages/auth/InvitationPage.tsx
  apps/web/src/pages/auth/LoginPage.tsx
  apps/web/src/store/authContext.ts
  apps/web/src/store/useAuthController.ts
Labels: @novu/api, @novu/web

#2815 feat: add labels and tooltip to inbox view
  apps/web/src/components/templates/email-editor/EmailContentCard.tsx
  apps/web/src/components/templates/email-editor/EmailInboxContent.tsx
Labels: @novu/web

#2816 feat: hide content of textarea with multiline keys
  apps/web/src/pages/integrations/components/IntegrationInput.tsx
  apps/web/src/pages/integrations/components/IntegrationSecretTextarea.tsx
  libs/shared/src/consts/providers/credentials/provider-credentials.ts
Labels: @novu/web, @novu/shared

#2823 [Docs Update]: Add Resend documentation & Update Existing Email Provider docs
  docs/docs/channels/email/custom-smtp.md
  docs/docs/channels/email/mailersend.md
  docs/docs/channels/email/mailjet.md
  docs/docs/channels/email/outlook365.md
  docs/docs/channels/email/postmark.md
  docs/docs/channels/email/resend.md
  docs/docs/channels/email/sendgrid.md
  docs/docs/channels/email/sendinblue.md
  docs/docs/channels/email/ses.md
Labels: documentation

#2703 feat(wip): add in app activated support on the web
  apps/api/src/app/integrations/e2e/get-in-app-activated.e2e.ts
  apps/api/src/app/integrations/integrations.controller.ts
  apps/api/src/app/integrations/usecases/get-In-app-activated/get-In-app-activated.command.ts
  apps/api/src/app/integrations/usecases/get-In-app-activated/get-In-app-activated.usecase.ts
  apps/api/src/app/integrations/usecases/index.ts
  apps/web/public/static/images/frameworks/angular.png
  apps/web/public/static/images/frameworks/js.png
  apps/web/public/static/images/frameworks/react.png
  apps/web/public/static/images/frameworks/vue.png
  apps/web/src/App.tsx
  apps/web/src/api/hooks/useNotificationGroup.ts
  apps/web/src/api/hooks/useTemplates.ts
  apps/web/src/api/integration.ts
  apps/web/src/api/notification-groups.ts
  apps/web/src/api/notification-templates.ts
  apps/web/src/api/notifications.ts
  apps/web/src/components/layout/components/SideNav.tsx
  apps/web/src/components/templates/BlueprintModal.tsx
  apps/web/src/components/templates/TemplateSettings.tsx
  apps/web/src/components/templates/TestWorkflowModal.tsx
  apps/web/src/components/templates/email-editor/TestSendEmail.tsx
  apps/web/src/components/templates/notification-setting-form/NotificationSettingsForm.tsx
  apps/web/src/components/templates/useStatusChangeController.ts
  apps/web/src/components/templates/useTemplateController.ts
  apps/web/src/components/templates/useTemplateFetcher.ts
  apps/web/src/design-system/icons/gradient/CheckCircleBroken.tsx
  apps/web/src/design-system/icons/gradient/MailGradient.tsx
  apps/web/src/design-system/icons/gradient/MobileGradient.tsx
  apps/web/src/design-system/icons/gradient/NestedSquares.tsx
  apps/web/src/design-system/icons/gradient/Smiley.tsx
  apps/web/src/design-system/icons/gradient/SmsGradient.tsx
  apps/web/src/pages/quick-start/components/Cards.tsx
  apps/web/src/pages/quick-start/components/LoaderProceedTernary.tsx
  apps/web/src/pages/quick-start/components/QuickStartWrapper.tsx
  apps/web/src/pages/quick-start/components/TestNotificationTrigger.tsx
  apps/web/src/pages/quick-start/components/TriggerCard.tsx
  apps/web/src/pages/quick-start/components/route/GoBack.tsx
  apps/web/src/pages/quick-start/components/route/store.ts
  apps/web/src/pages/quick-start/consts.ts
  apps/web/src/pages/quick-start/steps/FrameworkSetup.tsx
  apps/web/src/pages/quick-start/steps/GeneralStarter.tsx
  apps/web/src/pages/quick-start/steps/NotificationCenter.tsx
  apps/web/src/pages/quick-start/steps/Quickstart.tsx
  apps/web/src/pages/quick-start/steps/Setup.tsx
  apps/web/src/pages/quick-start/steps/Trigger.tsx
  apps/web/src/pages/settings/tabs/InAppCenterCard.tsx
  apps/web/src/pages/settings/tabs/components/Prism.tsx
Labels: @novu/api, @novu/web

#2726 fix: Digest key does not allow specifying a nested payload key #2697
  apps/api/src/app/events/e2e/digest-events.e2e.ts
  apps/api/src/app/events/usecases/add-job/add-digest-job.usecase.ts
  apps/api/src/app/events/usecases/digest-filter-steps/digest-filter-steps-backoff.usecase.ts
  apps/api/src/app/events/usecases/digest-filter-steps/digest-filter-steps-regular.usecase.ts
  apps/api/src/app/events/usecases/digest-filter-steps/digest-filter-steps.usecase.ts
  apps/api/src/app/events/usecases/send-message/digest/get-digest-events.usecase.ts
  libs/dal/src/repositories/job/job.repository.ts
Labels: @novu/api, @novu/dal, community

#2811 Nv 942 bug report no way to reset destroy the
  apps/widget/src/components/notification-center/NotificationCenterWidget.tsx
  libs/embed/src/embed.ts
  libs/embed/src/shared/eventTypes.js
  packages/notification-center/src/components/novu-provider/NovuProvider.tsx
  packages/notification-center/src/shared/interfaces/index.ts
  packages/notification-center/src/utils/token.ts
Labels: @novu/notification-center

#2827 fix(api): skip test to unblock ci
  apps/api/src/app/events/e2e/digest-events.e2e.ts
Labels: @novu/api

#2801 NV-540 - After clearing notification name field - error is not shown again
  apps/web/src/design-system/config/inputs.styles.ts
Labels: @novu/web

#2794 fix: allow step filtering by nested payload/subscriber data
  apps/api/src/app/events/usecases/trigger-event/message-matcher.service.spec.ts
  apps/api/src/app/events/usecases/trigger-event/message-matcher.service.ts
Labels: @novu/api, community

#2824 chore(web): skip e2e tests that are doing github login
  apps/web/cypress/tests/auth.spec.ts
  apps/web/cypress/tests/brand.spec.ts
  apps/web/cypress/tests/invites.spec.ts
  apps/web/cypress/tests/notification-editor/main-functionality.spec.ts
  libs/testing/src/user.session.ts
Labels: @novu/web

#2832 feat: add analytics event to track usage of provider webhooks
  apps/webhook/src/shared/shared.module.ts
  apps/webhook/src/webhooks/usecases/webhook/webhook.usecase.ts
Labels: @novu/webhook

#2836 Nv 1130 generic error message should point at
  apps/web/cypress/support/commands.ts
  apps/web/cypress/tests/notification-editor/index.ts
  apps/web/cypress/tests/notification-editor/main-functionality.spec.ts
  apps/web/src/components/templates/SaveChangesModal.tsx
  apps/web/src/components/templates/TemplateEditorProvider.tsx
  apps/web/src/components/templates/TemplateFormProvider.tsx
  apps/web/src/components/templates/TemplatePageHeader.tsx
  apps/web/src/components/templates/TemplateSettings.tsx
  apps/web/src/components/templates/TemplatesSideBar.tsx
  apps/web/src/components/templates/formTypes.ts
  apps/web/src/components/workflow/FlowEditor.tsx
  apps/web/src/components/workflow/layout/MinimalTemplatesSideBar.tsx
  apps/web/src/components/workflow/node-types/ChannelNode.tsx
  apps/web/src/design-system/template-button/ChannelButton.tsx
  apps/web/src/design-system/template-button/TemplateButton.tsx
  apps/web/src/pages/templates/editor/TemplateEditorPage.tsx
  apps/web/src/pages/templates/shared/errors.ts
  apps/web/src/pages/templates/workflow/DelayMetadata.tsx
  apps/web/src/pages/templates/workflow/DigestMetadata.tsx
  apps/web/src/pages/templates/workflow/SideBar/SelectedStep.tsx
  apps/web/src/pages/templates/workflow/WorkflowEditorPage.tsx
  apps/web/src/pages/user-preference/UserPreference.tsx
Labels: @novu/web

#2383 feat: converts urls to enum
  apps/web/src/App.tsx
  apps/web/src/api/hooks/index.ts
  apps/web/src/api/hooks/integrations/index.ts
  apps/web/src/api/hooks/integrations/useIntegrationLimit.ts
  apps/web/src/components/auth/CreateOrganizationForm.tsx
  apps/web/src/components/auth/LoginForm.tsx
  apps/web/src/components/auth/PasswordResetForm.tsx
  apps/web/src/components/auth/PasswordResetRequestForm.tsx
  apps/web/src/components/auth/SignUpForm.tsx
  apps/web/src/components/invites/MembersTable.tsx
  apps/web/src/components/layout/components/HeaderNav.tsx
  apps/web/src/components/layout/components/SideNav.tsx
  apps/web/src/components/templates/LackIntegrationError.tsx
  apps/web/src/components/templates/TemplateEditor.tsx
  apps/web/src/components/templates/TemplateSettings.tsx
  apps/web/src/components/templates/email-editor/EmailMessageEditor.tsx
  apps/web/src/components/utils/Spotlight.tsx
  apps/web/src/constants/routeParams.ts
  apps/web/src/constants/routes.enum.ts
  apps/web/src/design-system/navigation/NavMenu.cy.tsx
  apps/web/src/pages/HomePage.tsx
  apps/web/src/pages/auth/InvitationPage.tsx
  apps/web/src/pages/auth/LoginPage.tsx
  apps/web/src/pages/auth/PasswordResetPage.tsx
  apps/web/src/pages/invites/MembersInvitePage.tsx
  apps/web/src/pages/quick-start/components/OnboardingSteps.tsx
  apps/web/src/pages/quick-start/steps/GeneralStarter.tsx
  apps/web/src/pages/templates/TemplatesListPage.tsx
  apps/web/src/pages/templates/editor/Preview.tsx
  apps/web/src/pages/templates/editor/TemplateEditorPage.tsx
  apps/web/src/utils/routeUtils.ts
Labels: @novu/web, community

#2847 style: copy text static
  apps/web/src/components/templates/notification-setting-form/TemplatePreference.tsx
Labels: @novu/web, community

#2842 fix: Test workflow triger button
  apps/web/package.json
  apps/web/src/components/templates/TestWorkflowModal.tsx
  pnpm-lock.yaml
Labels: @novu/web, community

#2846 fix: add info for saas only in inbound parse webhook
  apps/web/src/components/layout/components/PolishingBanner.tsx
  docs/docs/community/run-locally.md
  docs/docs/platform/inbound-parse-webhook.md
  docs/docs/platform/templates.md
Labels: documentation, @novu/web, community

#2854 chore(web): clear e2e branding test
  apps/web/cypress/tests/brand.spec.ts
Labels: @novu/web

#2840 feat: add analytics
  apps/web/src/pages/quick-start/components/Cards.tsx
  apps/web/src/pages/quick-start/components/QuickStartWrapper.tsx
  apps/web/src/pages/quick-start/components/TestNotificationTrigger.tsx
  apps/web/src/pages/quick-start/consts.tsx
  apps/web/src/pages/quick-start/steps/FrameworkSetup.tsx
  apps/web/src/pages/quick-start/steps/GeneralStarter.tsx
  apps/web/src/pages/quick-start/steps/NotificationCenter.tsx
  apps/web/src/pages/quick-start/steps/Quickstart.tsx
  apps/web/src/pages/quick-start/steps/Setup.tsx
  apps/web/src/pages/quick-start/steps/Trigger.tsx
  apps/web/src/pages/settings/tabs/components/Prism.tsx
Labels: @novu/web

#2851 refactor: auth and spotlight context to be own hooks
  apps/web/src/App.tsx
  apps/web/src/api/hooks/useVercelIntegration.ts
  apps/web/src/components/auth/CreateOrganizationForm.tsx
  apps/web/src/components/auth/LoginForm.tsx
  apps/web/src/components/auth/PasswordResetForm.tsx
  apps/web/src/components/auth/SignUpForm.tsx
  apps/web/src/components/auth/useAcceptInvite.ts
  apps/web/src/components/layout/AppLayout.tsx
  apps/web/src/components/layout/RequiredAuth.tsx
  apps/web/src/components/layout/components/HeaderNav.tsx
  apps/web/src/components/layout/components/OrganizationSelect.tsx
  apps/web/src/components/layout/components/SideNav.tsx
  apps/web/src/components/templates/TestWorkflowModal.tsx
  apps/web/src/components/templates/email-editor/EmailMessagesCards.tsx
  apps/web/src/components/templates/email-editor/TestSendEmail.tsx
  apps/web/src/components/utils/Spotlight.tsx
  apps/web/src/hooks/useNovu.ts
  apps/web/src/pages/auth/InvitationPage.tsx
  apps/web/src/pages/auth/LoginPage.tsx
  apps/web/src/pages/brand/BrandPage.tsx
  apps/web/src/pages/integrations/components/NovuEmailProviderModal.tsx
  apps/web/src/pages/invites/MembersInvitePage.tsx
  apps/web/src/pages/settings/SettingsPage.tsx
  apps/web/src/pages/templates/editor/EmailIntegrationInfo.tsx
  apps/web/src/store/authContext.ts
  apps/web/src/store/authContext.tsx
  apps/web/src/store/spotlightContext.ts
  apps/web/src/store/spotlightContext.tsx
  apps/web/src/store/themeContext.ts
  apps/web/src/store/useEnvController.ts
  apps/web/src/store/useThemeController.ts
Labels: @novu/web

#2711 Nv 1576 make default layout changes dependent
  apps/api/src/app/change/e2e/promote-changes.e2e.ts
  apps/api/src/app/change/usecases/get-changes/get-changes.usecase.ts
  apps/api/src/app/change/usecases/promote-change-to-environment/promote-change-to-environment.usecase.ts
  apps/api/src/app/change/usecases/promote-layout-change/promote-layout-change.use-case.ts
  apps/api/src/app/layouts/usecases/create-default-layout-change/create-default-layout-change.command.ts
  apps/api/src/app/layouts/usecases/create-default-layout-change/create-default-layout-change.usecase.ts
  apps/api/src/app/layouts/usecases/create-layout/create-layout.use-case.ts
  apps/api/src/app/layouts/usecases/index.ts
  apps/api/src/app/layouts/usecases/set-default-layout/set-default-layout.use-case.ts
  apps/api/src/app/layouts/usecases/update-layout/update-layout.use-case.ts
  apps/web/src/components/changes/ChangesTableLayout.tsx
  libs/dal/src/repositories/change/change.repository.ts
  libs/dal/src/repositories/layout/layout.repository.ts
  libs/shared/src/entities/change/change.interface.ts
Labels: @novu/api, @novu/web, @novu/dal, @novu/shared

#2862 fix: reset page number on tab switch
  apps/web/src/pages/changes/PromoteChangesPage.tsx
Labels: @novu/web

#2044 feat(providers): add tls options to nodemailer
  .cspell.json
  apps/api/src/app/events/services/mail-service/handlers/nodemailer.handler.ts
  apps/web/cypress/tests/integration-store.spec.ts
  libs/dal/src/repositories/integration/integration.entity.ts
  libs/shared/src/consts/providers/credentials/provider-credentials.ts
  libs/shared/src/consts/providers/provider.enum.ts
  libs/shared/src/dto/integration/construct-integration.interface.ts
  packages/application-generic/src/factories/mail/handlers/nodemailer.handler.ts
  providers/nodemailer/README.md
  providers/nodemailer/src/lib/nodemailer.provider.spec.ts
  providers/nodemailer/src/lib/nodemailer.provider.ts
Labels: @novu/api, @novu/web, @novu/dal, @novu/shared, providers

#2863 feat: add colorscheme prop for embed
  apps/widget/src/components/notification-center/NotificationCenterWidget.tsx
  docs/docs/notification-center/iframe-embed.md
  libs/embed/src/embed.ts
Labels: documentation

#2865 fix(cypress): properly reflect the behaviour in the tests for nodemailer
  apps/web/cypress/tests/integration-store.spec.ts
Labels: @novu/web

#2825 feat(api): refactor of trigger event
  .cspell.json
  apps/api/src/app/events/e2e/process-subscriber.e2e.ts
  apps/api/src/app/events/e2e/trigger-event-topic.e2e.ts
  apps/api/src/app/events/e2e/trigger-event.e2e.ts
  apps/api/src/app/events/events.controller.ts
  apps/api/src/app/events/usecases/create-notification-jobs/create-notification-jobs.command.ts
  apps/api/src/app/events/usecases/create-notification-jobs/create-notification-jobs.usecase.ts
  apps/api/src/app/events/usecases/create-notification-jobs/index.ts
  apps/api/src/app/events/usecases/digest-filter-steps/index.ts
  apps/api/src/app/events/usecases/index.ts
  apps/api/src/app/events/usecases/map-trigger-recipients/map-trigger-recipients.command.ts
  apps/api/src/app/events/usecases/map-trigger-recipients/map-trigger-recipients.e2e.ts
  apps/api/src/app/events/usecases/map-trigger-recipients/map-trigger-recipients.use-case.ts
  apps/api/src/app/events/usecases/parse-event-request/parse-event-request.command.ts
  apps/api/src/app/events/usecases/parse-event-request/parse-event-request.usecase.ts
  apps/api/src/app/events/usecases/process-subscriber/index.ts
  apps/api/src/app/events/usecases/process-subscriber/process-subscriber.command.ts
  apps/api/src/app/events/usecases/process-subscriber/process-subscriber.usecase.ts
  apps/api/src/app/events/usecases/trigger-event-to-all/trigger-event-to-all.command.ts
  apps/api/src/app/events/usecases/trigger-event/trigger-event.command.ts
  apps/api/src/app/events/usecases/trigger-event/trigger-event.usecase.ts
  libs/shared/src/dto/subscriber/subscriber.dto.ts
  packages/node/src/lib/events/events.interface.ts
  packages/node/src/lib/subscribers/subscriber.interface.ts
Labels: @novu/api, @novu/shared

#2766 NC - dropdown menu with remove message and read unread action
  apps/api/src/app/widgets/usecases/index.ts
  apps/api/src/app/widgets/usecases/remove-message/remove-message.command.ts
  apps/api/src/app/widgets/usecases/remove-message/remove-message.usecase.ts
  apps/api/src/app/widgets/widgets.controller.ts
  docs/docs/notification-center/react/api-reference.md
  docs/docs/notification-center/web-component.md
  libs/shared/src/services/http-client/api.client.ts
  packages/client/src/api/api.service.ts
  packages/headless/src/lib/headless.service.test.ts
  packages/headless/src/lib/headless.service.ts
  packages/notification-center-angular/projects/notification-center-angular/src/lib/notification-center.component.ts
  packages/notification-center-vue/src/lib/notification-center-component/NotificationCenterComponent.vue
  packages/notification-center/src/components/notification-center-web-component/notification-center-component.tsx
  packages/notification-center/src/components/notification-center-web-component/notification-center-component.types.ts
  packages/notification-center/src/components/notification-center-web-component/notification-center-content-component.tsx
  packages/notification-center/src/components/notification-center/NotificationCenter.tsx
  packages/notification-center/src/components/notification-center/components/notification-item/NotificationListItem.tsx
  packages/notification-center/src/components/popover-notification-center/PopoverNotificationCenter.tsx
  packages/notification-center/src/hooks/index.ts
  packages/notification-center/src/hooks/useNotificationCenter.ts
  packages/notification-center/src/hooks/useRemoveNotification.ts
  packages/notification-center/src/i18n/lang.ts
  packages/notification-center/src/i18n/languages/en.ts
  packages/notification-center/src/shared/config/themeDefaultValues.ts
  packages/notification-center/src/shared/icons/Read.tsx
  packages/notification-center/src/shared/icons/Trash.tsx
  packages/notification-center/src/shared/icons/index.ts
  packages/notification-center/src/shared/interfaces/index.ts
  packages/notification-center/src/store/i18n.context.tsx
  packages/notification-center/src/store/notification-center.context.ts
  packages/notification-center/src/store/notifications-provider.context.tsx
  packages/notification-center/src/store/novu-theme.context.ts
  packages/notification-center/src/store/styles/styles-provider.types.ts
Labels: documentation, @novu/api, @novu/notification-center, @novu/shared, @novu/notification-center-vue, @novu/notification-center-angular

#2867 fix: light mode text color in error popover
  apps/web/src/design-system/template-button/ChannelButton.tsx
  apps/web/src/design-system/template-button/TemplateButton.tsx
Labels: @novu/web

#2871 fix(api): notifications controller - notification id validation
  apps/api/src/app/notifications/usecases/get-activity/get-activity.command.ts
Labels: @novu/api

#2870 fix: update and rename no.ts to nb.ts
  docs/docs/notification-center/react/react-components.md
  packages/notification-center/src/i18n/lang.ts
  packages/notification-center/src/i18n/languages/nb.ts
Labels: documentation, @novu/notification-center, community

#2877 feat(api): set a feature flag to enable distributed lock logging
  apps/api/src/.env.development
  apps/api/src/.env.production
  apps/api/src/.env.test
  apps/api/src/.example.env
  apps/api/src/app/shared/services/distributed-lock/distributed-lock.service.ts
  apps/api/src/config/env-validator.ts
Labels: @novu/api

#2882 Nv 1754 move page specific components to page
  apps/web/src/pages/auth/CreateOrganizationPage.tsx
  apps/web/src/pages/auth/InvitationPage.tsx
  apps/web/src/pages/auth/LoginPage.tsx
  apps/web/src/pages/auth/PasswordResetPage.tsx
  apps/web/src/pages/auth/SignUpPage.tsx
  apps/web/src/pages/auth/components/CreateOrganizationForm.tsx
  apps/web/src/pages/auth/components/LoginForm.tsx
  apps/web/src/pages/auth/components/PasswordRequirementPopover.tsx
  apps/web/src/pages/auth/components/PasswordResetForm.tsx
  apps/web/src/pages/auth/components/PasswordResetRequestForm.tsx
  apps/web/src/pages/auth/components/PasswordStrengthBar.tsx
  apps/web/src/pages/auth/components/SetupLoader.tsx
  apps/web/src/pages/auth/components/SignUpForm.tsx
  apps/web/src/pages/auth/components/gitHubUtils.ts
  apps/web/src/pages/auth/components/useAcceptInvite.ts
  apps/web/src/pages/invites/MembersInvitePage.tsx
  apps/web/src/pages/invites/components/MemberRole.tsx
  apps/web/src/pages/invites/components/MembersTable.cy.tsx
  apps/web/src/pages/invites/components/MembersTable.tsx
  apps/web/src/pages/partner-integrations/LinkVercelProjectPage.tsx
  apps/web/src/pages/partner-integrations/components/LinkMoreProjectRow.tsx
  apps/web/src/pages/partner-integrations/components/LinkProjectContainer.tsx
  apps/web/src/pages/partner-integrations/components/ProjectRow.tsx
Labels: @novu/web

#2883 refactor: rename components activity folder and move some components to page components folders
  apps/web/src/components/execution-detail/ExecutionDetail.tsx
  apps/web/src/components/execution-detail/ExecutionDetailShowRaw.tsx
  apps/web/src/components/execution-detail/ExecutionDetailTrigger.tsx
  apps/web/src/components/execution-detail/ExecutionDetailsAccordion.tsx
  apps/web/src/components/execution-detail/ExecutionDetailsConditionItem.cy.tsx
  apps/web/src/components/execution-detail/ExecutionDetailsConditionItem.tsx
  apps/web/src/components/execution-detail/ExecutionDetailsConditions.cy.tsx
  apps/web/src/components/execution-detail/ExecutionDetailsConditions.tsx
  apps/web/src/components/execution-detail/ExecutionDetailsFooter.tsx
  apps/web/src/components/execution-detail/ExecutionDetailsModal.tsx
  apps/web/src/components/execution-detail/ExecutionDetailsStepContent.tsx
  apps/web/src/components/execution-detail/ExecutionDetailsStepHeader.tsx
  apps/web/src/components/execution-detail/ExecutionDetailsWebhookFeedback.tsx
  apps/web/src/components/execution-detail/helpers.ts
  apps/web/src/components/layout/components/ChangesCountBadge.tsx
  apps/web/src/components/layout/components/SideNav.tsx
  apps/web/src/components/templates/ExecutionDetailsModalWrapper.tsx
  apps/web/src/pages/activities/ActivitiesPage.tsx
  apps/web/src/pages/changes/PromoteChangesPage.tsx
  apps/web/src/pages/changes/components/ChangesTableLayout.tsx
  apps/web/src/pages/templates/workflow/WorkflowEditorPage.tsx
  apps/web/src/pages/templates/workflow/workflow/FlowEditor.tsx
  apps/web/src/pages/templates/workflow/workflow/edge-types/AddNodeEdge.tsx
  apps/web/src/pages/templates/workflow/workflow/layout/MinimalTemplatesSideBar.tsx
  apps/web/src/pages/templates/workflow/workflow/node-types/AddNode.tsx
  apps/web/src/pages/templates/workflow/workflow/node-types/ChannelNode.tsx
  apps/web/src/pages/templates/workflow/workflow/node-types/TriggerNode.tsx
Labels: @novu/web

#2885 feat(api): homogenize trigger event use cases and fix tech debt
  .cspell.json
  apps/api/src/app/events/e2e/delay-events.e2e.ts
  apps/api/src/app/events/e2e/digest-events.e2e.ts
  apps/api/src/app/events/events.controller.ts
  apps/api/src/app/events/usecases/add-job/index.ts
  apps/api/src/app/events/usecases/cancel-delayed/index.ts
  apps/api/src/app/events/usecases/digest-filter-steps/index.ts
  apps/api/src/app/events/usecases/index.ts
  apps/api/src/app/events/usecases/message-matcher/filter-processing-details.ts
  apps/api/src/app/events/usecases/message-matcher/index.ts
  apps/api/src/app/events/usecases/message-matcher/message-matcher.usecase.spec.ts
  apps/api/src/app/events/usecases/message-matcher/message-matcher.usecase.ts
  apps/api/src/app/events/usecases/message-matcher/types.ts
  apps/api/src/app/events/usecases/parse-event-request/index.ts
  apps/api/src/app/events/usecases/process-bulk-trigger/index.ts
  apps/api/src/app/events/usecases/queue-next-job/index.ts
  apps/api/src/app/events/usecases/run-job/index.ts
  apps/api/src/app/events/usecases/send-message/index.ts
  apps/api/src/app/events/usecases/send-message/send-message.command.ts
  apps/api/src/app/events/usecases/send-message/send-message.usecase.ts
  apps/api/src/app/events/usecases/send-message/send-test-email.command.ts
  apps/api/src/app/events/usecases/send-message/send-test-email.usecase.ts
  apps/api/src/app/events/usecases/trigger-event-to-all/index.ts
  apps/api/src/app/events/usecases/verify-payload/index.ts
  apps/api/src/app/shared/dtos/step-filter.ts
  apps/web/src/components/execution-detail/ExecutionDetailsConditions.cy.tsx
  apps/web/src/pages/templates/filter/Filters.cy.tsx
  apps/web/src/pages/templates/filter/OnlineFiltersForms.tsx
  libs/shared/src/types/builder/filter.types.ts
Labels: @novu/api, @novu/web, @novu/shared

#2887 feat(api): move the providers decryption for the template out of loop
  apps/api/src/app/events/usecases/create-notification-jobs/create-notification-jobs.command.ts
  apps/api/src/app/events/usecases/create-notification-jobs/create-notification-jobs.usecase.ts
  apps/api/src/app/events/usecases/trigger-event/trigger-event.usecase.ts
Labels: @novu/api

#2894 Use Buildx when building images from forked repositories
  .github/actions/docker/build-api/action.yml
  .github/workflows/test-api.yml
Labels: community

#2903 [NV-1759] fix(api): fixed remove subscriber from topic functionality
  apps/api/src/app/topics/e2e/remove-subscribers.e2e.ts
  libs/dal/src/repositories/topic/topic-subscribers.repository.ts
Labels: @novu/api, @novu/dal

#2897 fix: optional cc and bcc in email creation
  providers/sendinblue/src/lib/sendinblue.provider.ts
Labels: providers, community

#2876 fix(api): test email send with the novu provider issue fix
  apps/api/src/.env.test
  apps/api/src/app/events/e2e/test-email.e2e.ts
  apps/api/src/app/events/usecases/send-message/send-test-email.usecase.ts
  apps/api/src/app/integrations/usecases/get-novu-integration/get-novu-integration.usecase.ts
Labels: @novu/api

#2910 feat: show template name instead of Workflow Editor
  apps/web/src/pages/templates/components/TemplatePageHeader.tsx
Labels: @novu/web

#2908 feat: extract filter digest and delay variables to trigger
  apps/api/src/app/shared/helpers/content.service.spec.ts
  apps/api/src/app/shared/helpers/content.service.ts
  apps/web/cypress/tests/notification-editor/debugging-test-trigger.spec.ts
  apps/web/src/components/execution-detail/ExecutionDetailTrigger.tsx
  apps/web/src/pages/templates/components/TestWorkflowModal.cy.tsx
  apps/web/src/pages/templates/components/TestWorkflowModal.tsx
  apps/web/src/pages/templates/components/TriggerSnippetTabs.tsx
  libs/dal/src/repositories/notification/notification.repository.ts
  libs/shared/src/entities/notification-template/notification-template.interface.ts
Labels: @novu/api, @novu/web, @novu/dal, @novu/shared

#2909 fix: content service not iterating over push title
  apps/api/src/app/shared/helpers/content.service.ts
  apps/web/src/components/execution-detail/helpers.ts
  libs/shared/src/entities/message-template/message-template.interface.ts
Labels: @novu/api, @novu/web, @novu/shared

#2911 feat(api): create store job use case
  apps/api/src/app/events/usecases/digest-filter-steps/digest-filter-steps-backoff.usecase.ts
  apps/api/src/app/events/usecases/index.ts
  apps/api/src/app/events/usecases/store-subscriber-jobs/index.ts
  apps/api/src/app/events/usecases/store-subscriber-jobs/store-subscriber-jobs.command.ts
  apps/api/src/app/events/usecases/store-subscriber-jobs/store-subscriber-jobs.usecase.ts
  apps/api/src/app/events/usecases/trigger-event/trigger-event.usecase.ts
Labels: @novu/api

#2895 fix(web): fixed onboarding setup responsive issues
  apps/web/src/components/layout/AppLayout.tsx
  apps/web/src/pages/quick-start/components/Cards.tsx
  apps/web/src/pages/quick-start/components/QuickStartWrapper.tsx
  apps/web/src/pages/quick-start/steps/FrameworkSetup.tsx
  apps/web/src/pages/quick-start/steps/Setup.tsx
Labels: @novu/web

#2848 feat: add faq page for notification center
  docs/docs/notification-center/FAQ.md
  docs/docs/notification-center/angular-component.md
  docs/docs/notification-center/custom-styling.md
  docs/docs/notification-center/getting-started.md
  docs/docs/notification-center/iframe-embed.md
  docs/docs/notification-center/react/react-components.md
  docs/docs/notification-center/vue-component.md
  docs/docs/notification-center/web-component.md
  docs/docusaurus.config.js
Labels: documentation, community
