Repository novuhq/novu, pull requests merged in 2023-05, with the labels that each got.

#3304 feat: add redirect url to slack
  libs/dal/src/repositories/integration/integration.entity.ts
  libs/dal/src/repositories/integration/integration.schema.ts
  libs/shared/src/consts/providers/credentials/provider-credentials.ts
  libs/shared/src/consts/providers/provider.enum.ts
Labels: @novu/dal, @novu/shared

#3252 fix: remove global g tag from content replace for preheader
  apps/api/src/app/events/e2e/send-message-email.e2e.ts
  packages/application-generic/src/usecases/compile-email-template/compile-email-template.usecase.ts
Labels: @novu/api

#3307 fix: merge template status to parent change
  apps/api/src/app/change/e2e/promote-changes.e2e.ts
  apps/api/src/app/notification-template/usecases/change-template-active-status/change-template-active-status.usecase.ts
Labels: @novu/api

#3291 Update digest.md
  docs/docs/platform/digest.md
Labels: documentation, community

#3272 Add message count limit
  .cspell.json
  .github/workflows/reusable-widget-e2e.yml
  apps/api/migrations/expire-at/expire-at.migration.ts
  apps/api/package.json
  apps/api/src/app/messages/usecases/get-messages/get-messages.usecase.ts
  apps/api/src/app/subscribers/subscribers.controller.ts
  apps/api/src/app/widgets/dtos/message-response.dto.ts
  apps/api/src/app/widgets/e2e/get-count.e2e.ts
  apps/api/src/app/widgets/e2e/get-notification-feed.e2e.ts
  apps/api/src/app/widgets/pipes/limit-pipe/limit-pipe.spec.ts
  apps/api/src/app/widgets/pipes/limit-pipe/limit-pipe.ts
  apps/api/src/app/widgets/usecases/get-feed-count/get-feed-count.command.ts
  apps/api/src/app/widgets/usecases/get-feed-count/get-feed-count.usecase.ts
  apps/api/src/app/widgets/usecases/get-notifications-feed/get-notifications-feed.command.ts
  apps/api/src/app/widgets/usecases/get-notifications-feed/get-notifications-feed.usecase.ts
  apps/api/src/app/widgets/usecases/remove-message/remove-message.usecase.ts
  apps/api/src/app/widgets/widgets.controller.ts
  apps/widget/cypress/e2e/notifications-list.spec.ts
  apps/widget/cypress/e2e/shell-embed.spec.ts
  apps/widget/cypress/e2e/user-preference.spec.ts
  apps/widget/cypress/plugins/index.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-in-app.usecase.ts
  libs/dal/src/repositories/message/message.repository.ts
  libs/shared/src/services/http-client/api.client.ts
  libs/testing/src/jobs.service.ts
  libs/testing/src/queue.service.ts
  packages/client/src/api/api.service.ts
  packages/client/src/index.ts
  packages/headless/src/lib/headless.service.ts
  packages/notification-center/src/components/notification-center/components/FeedsTabs.tsx
  packages/notification-center/src/components/notification-center/components/UnseenBadge.tsx
  packages/notification-center/src/hooks/useUnseenCount.ts
  packages/notification-center/src/utils/pagination.ts
Labels: @novu/api, @novu/dal, @novu/notification-center, @novu/shared, @novu/worker

#3318 fix(worker): enabling autopipelining in the cache service of worker
  apps/api/src/.env.development
  apps/worker/src/.env.development
  apps/worker/src/app/shared/shared.module.ts
Labels: @novu/worker

#3319 v0.15.x
  .cspell.json
  .github/workflows/reusable-widget-e2e.yml
  apps/api/migrations/expire-at/expire-at.migration.ts
  apps/api/package.json
  apps/api/src/.env.development
  apps/api/src/app/messages/usecases/get-messages/get-messages.usecase.ts
  apps/api/src/app/subscribers/subscribers.controller.ts
  apps/api/src/app/widgets/dtos/message-response.dto.ts
  apps/api/src/app/widgets/e2e/get-count.e2e.ts
  apps/api/src/app/widgets/e2e/get-notification-feed.e2e.ts
  apps/api/src/app/widgets/pipes/limit-pipe/limit-pipe.spec.ts
  apps/api/src/app/widgets/pipes/limit-pipe/limit-pipe.ts
  apps/api/src/app/widgets/usecases/get-feed-count/get-feed-count.command.ts
  apps/api/src/app/widgets/usecases/get-feed-count/get-feed-count.usecase.ts
  apps/api/src/app/widgets/usecases/get-notifications-feed/get-notifications-feed.command.ts
  apps/api/src/app/widgets/usecases/get-notifications-feed/get-notifications-feed.usecase.ts
  apps/api/src/app/widgets/usecases/remove-message/remove-message.usecase.ts
  apps/api/src/app/widgets/widgets.controller.ts
  apps/widget/cypress/e2e/notifications-list.spec.ts
  apps/widget/cypress/e2e/shell-embed.spec.ts
  apps/widget/cypress/e2e/user-preference.spec.ts
  apps/widget/cypress/plugins/index.ts
  apps/worker/src/.env.development
  apps/worker/src/app/shared/shared.module.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-in-app.usecase.ts
  libs/dal/src/repositories/message/message.repository.ts
  libs/shared/src/services/http-client/api.client.ts
  libs/testing/src/jobs.service.ts
  libs/testing/src/queue.service.ts
  packages/client/src/api/api.service.ts
  packages/client/src/index.ts
  packages/headless/src/lib/headless.service.ts
  packages/notification-center/src/components/notification-center/components/FeedsTabs.tsx
  packages/notification-center/src/components/notification-center/components/UnseenBadge.tsx
  packages/notification-center/src/hooks/useUnseenCount.ts
  packages/notification-center/src/utils/pagination.ts
Labels: @novu/api, @novu/dal, @novu/notification-center, @novu/shared, @novu/worker

#3320 fix: iframe nc width issue
  packages/notification-center/src/components/notification-center/components/AppContent.tsx
Labels: @novu/notification-center

#3281 Feat[NV-1868]: Initial Queue Metric Monitoring
  .idea/aws.xml
  .idea/inspectionProfiles/Project_Default.xml
  apps/api/package.json
  apps/worker/package.json
  apps/worker/src/app/workflow/services/metric-queue.service.ts
  apps/worker/src/app/workflow/services/workflow-queue.service.ts
  apps/worker/src/app/workflow/workflow.module.ts
  docker/local/development/docker-compose.yml
  packages/application-generic/src/services/bull-mq.service.ts
  packages/application-generic/src/services/queue.service.ts
  packages/application-generic/src/services/ws-queue.service.ts
  pnpm-lock.yaml
Labels: @novu/api, @novu/worker

#3315 removed typo
  docs/docs/notification-center/react/api-reference.md
Labels: documentation, community

#3322 Revert "removed typo"
  docs/docs/notification-center/react/api-reference.md
Labels: documentation

#3317 Remove readonly on allowed domains
  apps/web/src/pages/settings/tabs/EmailSettings.tsx
Labels: @novu/web

#3321 Bulk write for execution details
  apps/api/src/app/execution-details/usecases/index.ts
  apps/worker/src/app/workflow/usecases/run-job/run-job.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message.usecase.ts
  apps/worker/src/app/workflow/usecases/update-job-status/update-job-status.usecase.ts
  apps/worker/src/app/workflow/workflow.module.ts
  libs/dal/src/repositories/job/job.repository.ts
  packages/application-generic/src/usecases/add-job/add-delay-job.usecase.ts
  packages/application-generic/src/usecases/add-job/add-job.usecase.ts
  packages/application-generic/src/usecases/bulk-create-execution-details/bulk-create-execution-details.command.ts
  packages/application-generic/src/usecases/bulk-create-execution-details/bulk-create-execution-details.usecase.ts
  packages/application-generic/src/usecases/bulk-create-execution-details/index.ts
  packages/application-generic/src/usecases/index.ts
  packages/application-generic/src/usecases/store-subscriber-jobs/store-subscriber-jobs.usecase.ts
  packages/application-generic/src/usecases/trigger-event/trigger-event.usecase.ts
Labels: @novu/api, @novu/dal, @novu/worker

#3305 Create Novu redirect url for Slack
  apps/api/src/app/subscribers/dtos/handle-chat-oauth.request.dto.ts
  apps/api/src/app/subscribers/e2e/handle-chat-oauth.e2e.ts
  apps/api/src/app/subscribers/subscribers.controller.ts
  apps/api/src/app/subscribers/types/index.ts
  apps/api/src/app/subscribers/usecases/handle-chat-oauth/handle-chat-oauth.command.ts
  apps/api/src/app/subscribers/usecases/handle-chat-oauth/handle-chat-oauth.usecase.ts
  apps/api/src/app/subscribers/usecases/index.ts
  apps/api/src/app/subscribers/usecases/update-subscriber-channel/update-subscriber-channel.command.ts
  apps/api/src/app/subscribers/usecases/update-subscriber-channel/update-subscriber-channel.spec.ts
  apps/api/src/app/subscribers/usecases/update-subscriber-channel/update-subscriber-channel.usecase.ts
  libs/shared/src/dto/integration/construct-integration.interface.ts
Labels: @novu/api, @novu/shared

#3324 Removed typo
  docs/docs/notification-center/react/api-reference.md
Labels: documentation, community

#3328 fix(cypress): leftover only in tests
  apps/web/cypress/tests/activities-page.spec.ts
Labels: @novu/web

#3274 Add notification group endpoints
  apps/api/src/app/notification-groups/dtos/delete-notification-group-response.dto.ts
  apps/api/src/app/notification-groups/e2e/delete-notification-group.e2e.ts
  apps/api/src/app/notification-groups/e2e/get-notification-group.e2e.ts
  apps/api/src/app/notification-groups/e2e/update-notification-group.e2e.ts
  apps/api/src/app/notification-groups/notification-groups.controller.ts
  apps/api/src/app/notification-groups/usecases/delete-notification-group/delete-notification-group.command.ts
  apps/api/src/app/notification-groups/usecases/delete-notification-group/delete-notification-group.usecase.ts
  apps/api/src/app/notification-groups/usecases/get-notification-group/get-notification-group.command.ts
  apps/api/src/app/notification-groups/usecases/get-notification-group/get-notification-group.usecase.ts
  apps/api/src/app/notification-groups/usecases/index.ts
  apps/api/src/app/notification-groups/usecases/update-notification-group/update-notification-group.command.ts
  apps/api/src/app/notification-groups/usecases/update-notification-group/update-notification-group.usecase.ts
  packages/node/src/lib/notification-groups/notification-groups.interface.ts
  packages/node/src/lib/notification-groups/notification-groups.spec.ts
  packages/node/src/lib/notification-groups/notification-groups.ts
Labels: @novu/api, community

#3303 fix: add sender name option in mailjet
  package.json
  packages/application-generic/src/factories/mail/handlers/mailjet.handler.ts
  providers/mailjet/src/lib/mailjet.provider.spec.ts
  providers/mailjet/src/lib/mailjet.provider.ts
Labels: providers

#3155 feat: Add OneSignal as push provider
  apps/web/public/static/images/providers/dark/one-signal.svg
  apps/web/public/static/images/providers/light/one-signal.svg
  apps/widget/public/env-config.js
  libs/shared/src/consts/providers/channels/push.ts
  libs/shared/src/consts/providers/credentials/provider-credentials.ts
  libs/shared/src/consts/providers/provider.enum.ts
  packages/application-generic/package.json
  packages/application-generic/src/factories/push/handlers/index.ts
  packages/application-generic/src/factories/push/handlers/one-signal.handler.ts
  packages/application-generic/src/factories/push/push.factory.ts
  pnpm-lock.yaml
  providers/one-signal/.czrc
  providers/one-signal/.eslintrc.json
  providers/one-signal/.gitignore
  providers/one-signal/README.md
  providers/one-signal/jest.config.js
  providers/one-signal/package.json
  providers/one-signal/src/index.ts
  providers/one-signal/src/lib/one-signal.provider.spec.ts
  providers/one-signal/src/lib/one-signal.provider.ts
  providers/one-signal/tsconfig.json
  providers/one-signal/tsconfig.module.json
Labels: @novu/web, @novu/shared, providers, community

#3266 feat: Add Push Webhook provider
  apps/api/src/app/integrations/dtos/credentials.dto.ts
  apps/web/public/static/images/providers/dark/push-webhook.svg
  apps/web/public/static/images/providers/light/push-webhook.svg
  apps/web/src/pages/integrations/IntegrationsStoreModal.tsx
  apps/web/src/pages/integrations/IntegrationsStorePage.tsx
  libs/dal/src/repositories/integration/integration.entity.ts
  libs/dal/src/repositories/integration/integration.schema.ts
  libs/shared/src/consts/providers/channels/push.ts
  libs/shared/src/consts/providers/credentials/provider-credentials.ts
  libs/shared/src/consts/providers/provider.enum.ts
  libs/shared/src/dto/integration/construct-integration.interface.ts
  packages/application-generic/package.json
  packages/application-generic/src/factories/push/handlers/index.ts
  packages/application-generic/src/factories/push/handlers/push-webhook.handler.ts
  packages/application-generic/src/factories/push/push.factory.ts
  pnpm-lock.yaml
  providers/postmark/package.json
  providers/push-webhook/.czrc
  providers/push-webhook/.eslintrc.json
  providers/push-webhook/.gitignore
  providers/push-webhook/README.md
  providers/push-webhook/jest.config.js
  providers/push-webhook/package.json
  providers/push-webhook/src/index.ts
  providers/push-webhook/src/lib/push-webhook.provider.spec.ts
  providers/push-webhook/src/lib/push-webhook.provider.ts
  providers/push-webhook/tsconfig.json
  providers/push-webhook/tsconfig.module.json
Labels: @novu/api, @novu/web, @novu/dal, @novu/shared, providers

#3335 Nv 2214 add marknotificationsasseen prop in
  docs/docs/notification-center/headless/api-reference.md
  docs/docs/notification-center/headless/headless-service.md
  packages/headless/src/lib/headless.service.ts
Labels: documentation

#3333 feat: add is not empty tests
  apps/api/src/app/subscribers/usecases/handle-chat-oauth/is-not-empty.spec.ts
Labels: @novu/api

#3249 feat(provider): Add africastalking provider
  .cspell.json
  apps/web/public/static/images/providers/dark/africas-talking.svg
  apps/web/public/static/images/providers/light/africas-talking.svg
  libs/shared/src/consts/providers/channels/sms.ts
  libs/shared/src/consts/providers/credentials/provider-credentials.ts
  libs/shared/src/consts/providers/provider.enum.ts
  packages/application-generic/package.json
  packages/application-generic/src/factories/sms/handlers/africas-talking.handler.ts
  packages/application-generic/src/factories/sms/handlers/index.ts
  packages/application-generic/src/factories/sms/sms.factory.ts
  pnpm-lock.yaml
  providers/africas-talking/.czrc
  providers/africas-talking/.eslintrc.json
  providers/africas-talking/.gitignore
  providers/africas-talking/README.md
  providers/africas-talking/jest.config.js
  providers/africas-talking/package.json
  providers/africas-talking/src/index.ts
  providers/africas-talking/src/lib/africas-talking.provider.spec.ts
  providers/africas-talking/src/lib/africas-talking.provider.ts
  providers/africas-talking/tsconfig.json
  providers/africas-talking/tsconfig.module.json
Labels: @novu/web, @novu/shared, providers, community

#3334 fix: add node crash
  apps/web/cypress/tests/notification-editor/create-notification.spec.ts
  apps/web/src/design-system/dropdown/Dropdown.tsx
  apps/web/src/pages/templates/workflow/workflow/node-types/AddNode.tsx
Labels: @novu/web

#3348 Remove unnecessary find notification
  apps/worker/src/app/workflow/usecases/message-matcher/message-matcher.usecase.spec.ts
  apps/worker/src/app/workflow/usecases/queue-next-job/queue-next-job.usecase.ts
  apps/worker/src/app/workflow/usecases/run-job/run-job.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/digest/get-digest-events-backoff.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/digest/get-digest-events-regular.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/digest/get-digest-events.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-chat.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-email.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-in-app.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-push.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-sms.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-type.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message.command.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message.usecase.ts
  apps/worker/src/app/workflow/usecases/update-job-status/set-job-as-failed.usecase.ts
  apps/worker/src/app/workflow/usecases/update-job-status/update-job-status.usecase.ts
  packages/application-generic/src/usecases/compile-email-template/compile-email-template.usecase.ts
  packages/application-generic/src/usecases/trigger-event/trigger-event.usecase.ts
Labels: @novu/worker

#3323 feat: validate notification group
  apps/api/src/app/notification-template/usecases/update-notification-template/update-notification-template.usecase.ts
Labels: @novu/api

#3352 No query for subscriber preference, cache subscriber
  apps/worker/src/app/workflow/usecases/send-message/send-message.usecase.ts
Labels: @novu/worker

#3332 Nv 2203 convert digesttypeenum backoff to be a
  apps/api/src/app/events/e2e/digest-events.e2e.ts
  apps/web/src/pages/templates/components/formTypes.ts
  apps/web/src/pages/templates/components/notificationTemplateSchema.ts
  apps/web/src/pages/templates/components/templateToFormMappers.ts
  apps/worker/src/app/workflow/usecases/send-message/digest/digest.usecase.ts
  libs/dal/src/repositories/job/job.entity.ts
  libs/dal/src/repositories/notification-template/notification-template.entity.ts
  libs/dal/src/repositories/notification-template/notification-template.schema.ts
  libs/testing/src/create-notification-template.interface.ts
  packages/application-generic/src/usecases/create-notification-jobs/create-notification-jobs.usecase.ts
  packages/application-generic/src/usecases/digest-filter-steps/digest-filter-steps.command.ts
  packages/application-generic/src/usecases/digest-filter-steps/digest-filter-steps.usecase.ts
Labels: @novu/api, @novu/web, @novu/dal, @novu/worker

#3340 feat: add data model for scheduled digest
  libs/dal/src/repositories/notification-template/notification-template.entity.ts
  libs/dal/src/repositories/notification-template/notification-template.schema.ts
Labels: @novu/dal

#3363 in-app messages change expireAt to 12 months
  apps/api/migrations/expire-at/expire-at.migration.ts
  apps/api/src/app/events/e2e/trigger-event.e2e.ts
  docs/docs/community/faq.md
  libs/dal/src/repositories/base-repository.ts
Labels: documentation, @novu/api, @novu/dal

#3354 test: add web component tests for schedule digest
  apps/web/cypress/tests/digest-playground.spec.ts
  apps/web/src/pages/templates/workflow/DigestMetadata.cy.tsx
  apps/web/src/pages/templates/workflow/DigestMetadata.tsx
  apps/web/src/pages/templates/workflow/digest/DaySelect.tsx
  apps/web/src/pages/templates/workflow/digest/WeekDaySelect.tsx
Labels: @novu/web

#3361 fix: sent header
  apps/web/src/pages/templates/workflow/digest/WillBeSentHeader.tsx
Labels: @novu/web

#3344 feat(integrations): Add baseUrl to mailgun-handler
  packages/application-generic/src/factories/mail/handlers/mailgun.handler.ts
Labels: community

#3372 fix(alb-timeout): increase server timeout above the alb timeout NV-2265
  apps/api/src/bootstrap.ts
Labels: @novu/api

#3374 fix: remove unwanted files
  apps/web/src/pages/templates/editor/StartFromScratchTourTooltip.tsx
  apps/web/src/pages/templates/editor/useStartFromScratchTour.tsx
Labels: @novu/web

#3376 fix: Update node subscriber feed params typings
  packages/node/src/lib/subscribers/subscriber.interface.ts
  packages/node/src/lib/subscribers/subscribers.spec.ts
Labels: community

#3365 fix(provider): Remove sender name field and make boolean type a switch in nodemailer
  apps/web/src/pages/integrations/components/IntegrationInput.tsx
  packages/application-generic/src/factories/mail/handlers/nodemailer.handler.ts
  pnpm-lock.yaml
  providers/nodemailer/src/lib/nodemailer.provider.spec.ts
  providers/nodemailer/src/lib/nodemailer.provider.ts
Labels: @novu/web, providers, community

#3346 [WIP] feat(api,web,worker): update digest metadata types
  apps/api/src/app/events/e2e/digest-events.e2e.ts
  apps/api/src/app/notification-template/dto/create-notification-template.request.dto.ts
  apps/api/src/app/notification-template/usecases/create-notification-template/create-notification-template.command.ts
  apps/api/src/app/notification-template/usecases/update-notification-template/update-notification-template.command.ts
  apps/api/src/app/notification-template/usecases/update-notification-template/update-notification-template.usecase.ts
  apps/api/src/app/shared/dtos/notification-step.ts
  apps/api/src/app/shared/helpers/content.service.spec.ts
  apps/api/src/app/shared/helpers/content.service.ts
  apps/web/cypress/tests/notification-editor/create-notification.spec.ts
  apps/web/src/components/quick-start/digest-demo-flow/DigestDemoFlowProvider.tsx
  apps/web/src/pages/templates/components/templateToFormMappers.ts
  apps/web/src/pages/templates/workflow/DigestMetadata.tsx
  apps/web/src/pages/templates/workflow/digest/ScheduleMonthlyFields.tsx
  apps/worker/src/app/workflow/usecases/send-message/digest/digest.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/digest/get-digest-events-regular.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/digest/get-digest-events.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message.usecase.ts
  libs/dal/src/repositories/job/job.entity.ts
  libs/dal/src/repositories/job/job.schema.ts
  libs/dal/src/repositories/notification-template/notification-template.entity.ts
  libs/dal/src/repositories/notification-template/notification-template.schema.ts
  libs/shared/src/entities/notification-template/notification-template.interface.ts
  libs/shared/src/entities/step/index.ts
  packages/application-generic/src/services/calculate-delay/calculate-delay.service.ts
  packages/application-generic/src/usecases/add-job/add-digest-job.usecase.ts
  packages/application-generic/src/usecases/create-notification-jobs/create-notification-jobs.usecase.ts
  packages/application-generic/src/usecases/digest-filter-steps/digest-filter-steps-backoff.usecase.ts
  packages/application-generic/src/usecases/digest-filter-steps/digest-filter-steps-regular.usecase.ts
  providers/push-webhook/tsconfig.module.json
Labels: @novu/api, @novu/web, @novu/dal, @novu/shared, providers, @novu/worker

#3369 feat: add tooltips for schedule digest
  apps/web/src/design-system/tooltip/Tooltip.tsx
  apps/web/src/pages/templates/workflow/DigestMetadata.tsx
  apps/web/src/pages/templates/workflow/digest/BackOffFields.tsx
  apps/web/src/pages/templates/workflow/digest/BackOffTooltipIcon.tsx
  apps/web/src/pages/templates/workflow/digest/RegularInfo.tsx
  apps/web/src/pages/templates/workflow/digest/ScheduleMonthlyFields.tsx
Labels: @novu/web

#3393 feat: add scheduled digest data to analytics event
  apps/worker/src/app/workflow/usecases/send-message/send-message.usecase.ts
Labels: @novu/worker

#3388 feat: add light themed icons for digest
  apps/web/cypress/tests/notification-editor/create-notification.spec.ts
  apps/web/src/pages/templates/workflow/DigestMetadata.cy.tsx
  apps/web/src/pages/templates/workflow/DigestMetadata.tsx
  apps/web/src/pages/templates/workflow/digest/BackOffFields.tsx
  apps/web/src/pages/templates/workflow/digest/icons/BackOffTooltipIcon.tsx
  apps/web/src/pages/templates/workflow/digest/icons/RegularInfo.tsx
Labels: @novu/web

#3398 fix: env switch behaviour
  apps/api/src/app/message-template/usecases/update-message-template/update-message-template.usecase.ts
  apps/web/cypress/tests/activities-page.spec.ts
  apps/web/cypress/tests/notification-editor/main-functionality.spec.ts
  apps/web/src/design-system/navigation/NavMenu.cy.tsx
  apps/web/src/hooks/useEnvController.ts
  apps/web/src/pages/quick-start/steps/DigestPreview.tsx
  apps/web/src/pages/templates/editor/TemplateEditorPage.tsx
  apps/web/src/testing/index.tsx
Labels: @novu/api, @novu/web

#3397 Add missing worker resources.
  docker/kubernetes/kustomize/env-dev
  docker/kubernetes/kustomize/kustomization.yaml
Labels: community

#3326 feat(infra): graceful shutdown for bull mq
  .cspell.json
  apps/api/src/app/health/health.controller.ts
  apps/api/src/app/health/health.module.ts
  apps/api/src/app/inbound-parse/services/inbound-parse.queue.service.ts
  apps/api/src/app/shared/constants.ts
  apps/api/src/app/shared/shared.module.ts
  apps/api/src/bootstrap.ts
  apps/inbound-mail/src/server/index.ts
  apps/inbound-mail/src/server/queue-service.ts
  apps/webhook/src/health/health.controller.ts
  apps/webhook/src/health/health.module.ts
  apps/worker/e2e/setup.ts
  apps/worker/src/app/health/health.controller.ts
  apps/worker/src/app/health/health.module.ts
  apps/worker/src/app/workflow/services/metric-queue.service.ts
  apps/worker/src/app/workflow/services/workflow-queue.service.ts
  apps/worker/src/app/workflow/usecases/performance/events.performance.ts
  apps/worker/src/bootstrap.ts
  apps/ws/src/bootstrap.ts
  apps/ws/src/health/health.controller.ts
  apps/ws/src/health/health.module.ts
  apps/ws/src/shared/constants.ts
  apps/ws/src/socket/socket.module.ts
  packages/application-generic/package.json
  packages/application-generic/src/health/cache.health-indicator.ts
  packages/application-generic/src/health/dal.health-indicator.ts
  packages/application-generic/src/health/in-memory.health-indicator.ts
  packages/application-generic/src/health/index.ts
  packages/application-generic/src/health/queue.health-indicator.ts
  packages/application-generic/src/health/trigger-queue.health-indicator.ts
  packages/application-generic/src/health/ws-queue.health-indicator.ts
  packages/application-generic/src/index.ts
  packages/application-generic/src/services/bull-mq.service.ts
  packages/application-generic/src/services/index.ts
  packages/application-generic/src/services/queue.service.ts
  packages/application-generic/src/services/trigger-queue.service.ts
  packages/application-generic/src/services/ws-queue.service.ts
  pnpm-lock.yaml
Labels: @novu/api, @novu/webhook, @novu/ws, @novu/worker

#3405 fix(web): improved timed digest form behaviour
  apps/web/src/api/hooks/notification-templates/useTemplateFetcher.ts
  apps/web/src/design-system/tooltip/Tooltip.tsx
  apps/web/src/pages/templates/components/StepNameInput.tsx
  apps/web/src/pages/templates/components/TemplateEditor.tsx
  apps/web/src/pages/templates/components/TemplateEditorFormProvider.tsx
  apps/web/src/pages/templates/components/email-editor/EmailInboxContent.tsx
  apps/web/src/pages/templates/components/email-editor/EmailMessageEditor.tsx
  apps/web/src/pages/templates/components/formTypes.ts
  apps/web/src/pages/templates/components/notificationTemplateSchema.ts
  apps/web/src/pages/templates/components/templateToFormMappers.ts
  apps/web/src/pages/templates/components/useTemplateController.ts
  apps/web/src/pages/templates/filter/Filters.cy.tsx
  apps/web/src/pages/templates/filter/Filters.tsx
  apps/web/src/pages/templates/shared/errors.ts
  apps/web/src/pages/templates/workflow/DelayMetadata.tsx
  apps/web/src/pages/templates/workflow/DigestMetadata.cy.tsx
  apps/web/src/pages/templates/workflow/DigestMetadata.tsx
  apps/web/src/pages/templates/workflow/RegularDigestMetadata.tsx
  apps/web/src/pages/templates/workflow/TimedDigestMetadata.tsx
  apps/web/src/pages/templates/workflow/digest/BackOffFields.tsx
  apps/web/src/pages/templates/workflow/digest/ScheduleMonthlyFields.tsx
  apps/web/src/pages/templates/workflow/digest/TimedDigestWillBeSentHeader.tsx
  apps/web/src/pages/templates/workflow/digest/WillBeSentHeader.tsx
  apps/web/src/pages/templates/workflow/workflow/FlowEditor.tsx
  apps/web/src/utils/pluralize.ts
  libs/shared/src/dto/message-template/message-template.dto.ts
  libs/shared/src/dto/notification-templates/notification-template.dto.ts
Labels: @novu/web, @novu/shared

#3357 feat: update slack docs
  docs/docs/channels/chat/slack.md
Labels: documentation

#3312 fix: serialization and primitives validation (no. 1)
  apps/api/src/app/auth/dtos/login.dto.ts
  apps/api/src/app/auth/dtos/password-reset.dto.ts
  apps/api/src/app/auth/dtos/user-registration.dto.ts
  apps/api/src/app/change/changes.controller.ts
  apps/api/src/app/change/dtos/bulk-apply-change.dto.ts
  apps/api/src/app/change/dtos/change-request.dto.ts
  apps/api/src/app/environments/dtos/create-environment-request.dto.ts
  apps/api/src/app/environments/dtos/update-environment-request.dto.ts
  apps/api/src/app/environments/usecases/create-environment/create-environment.command.ts
  apps/api/src/app/execution-details/dtos/execution-details-request.dto.ts
  apps/api/src/app/execution-details/execution-details.controller.ts
  apps/api/src/app/integrations/dtos/create-integration-request.dto.ts
  apps/api/src/app/integrations/dtos/credentials.dto.ts
  apps/api/src/app/integrations/dtos/update-integration.dto.ts
  apps/api/src/app/integrations/e2e/remove-integration.e2e.ts
  apps/api/src/app/integrations/e2e/update-integration.e2e.ts
  apps/api/src/app/invites/dtos/bulk-invite-members.dto.ts
  apps/api/src/app/invites/dtos/invite-member.dto.ts
  apps/api/src/app/invites/dtos/resend-invite.dto.ts
  apps/api/src/app/invites/invites.controller.ts
  apps/api/src/app/notification-template/dto/notification-templates-request.dto.ts
  apps/api/src/app/notification-template/notification-template.controller.ts
  apps/api/src/app/organization/dtos/get-invite.dto.ts
  apps/api/src/app/organization/dtos/rename-organization.dto.ts
  apps/api/src/app/organization/dtos/update-branding-details.dto.ts
  apps/api/src/app/organization/dtos/update-member-roles.dto.ts
  apps/api/src/app/organization/organization.controller.ts
  apps/api/src/app/organization/usecases/membership/change-member-role/change-member-role.command.ts
  apps/api/src/app/organization/usecases/membership/remove-member/remove-member.command.ts
  apps/api/src/app/shared/dtos/pagination-request.ts
  apps/api/src/app/shared/transformers.ts
  apps/api/src/app/shared/validators/is-boolean-any.validator.spec.ts
  apps/api/src/app/shared/validators/is-boolean-any.validator.ts
  libs/dal/src/repositories/change/change.entity.ts
  libs/dal/src/repositories/change/change.repository.ts
  libs/dal/src/repositories/change/types.ts
Labels: @novu/api, @novu/dal, community

#3356 Nv 2243/add the sharable url in the integration
  apps/api/src/app/notifications/dtos/activities-response.dto.ts
  apps/web/src/pages/integrations/IntegrationsStoreModal.tsx
  apps/web/src/pages/integrations/IntegrationsStorePage.tsx
  apps/web/src/pages/integrations/components/ConnectIntegrationForm.cy.tsx
  apps/web/src/pages/integrations/components/ConnectIntegrationForm.tsx
  apps/web/src/pages/integrations/components/Modal/ConnectIntegrationForm.tsx
  apps/web/src/pages/integrations/components/ProviderCard.cy.tsx
  docs/docs/channels/chat/slack.md
  libs/shared/src/consts/providers/provider.enum.ts
  libs/shared/src/consts/providers/provider.interface.ts
  packages/application-generic/src/usecases/get-decrypted-integrations/get-decrypted-integrations.command.ts
Labels: documentation, @novu/api, @novu/web, @novu/shared

#3401 fix(deepsource): analysis recommendations improvements
  apps/api/src/app/environments/usecases/get-my-environments/get-my-environments.e2e.ts
  apps/web/cypress/tests/activity-graph.spec.ts
  apps/web/src/App.tsx
  apps/web/src/hooks/useEnvironmentChanges.ts
  apps/web/src/hooks/useLayouts.ts
  apps/web/src/hooks/useSubscribers.ts
  apps/web/src/hooks/useTemplates.ts
  apps/web/src/pages/brand/tabs/LayoutEditor.tsx
  apps/web/src/pages/partner-integrations/LinkVercelProjectPage.tsx
  apps/web/src/pages/partner-integrations/components/LinkProjectContainer.tsx
  apps/web/src/pages/templates/components/in-app-editor/preview/InAppWidgetPreview.tsx
  packages/application-generic/src/services/cache/interceptors/cached.interceptor.ts
  packages/application-generic/src/usecases/compile-template/compile-template.usecase.ts
  packages/notification-center/src/components/notification-center/components/layout/Layout.tsx
  packages/notification-center/src/utils/react-to-webcomponent.ts
  providers/clickatell/src/lib/clickatell.provider.spec.ts
  providers/discord/src/lib/discord.provider.spec.ts
  providers/expo/src/lib/expo.provider.spec.ts
  providers/fcm/src/lib/fcm.provider.spec.ts
  providers/infobip/src/lib/infobip.provider.spec.ts
  providers/maqsam/src/lib/maqsam.provider.spec.ts
  providers/nexmo/src/lib/nexmo.provider.spec.ts
  providers/plivo/src/lib/plivo.provider.spec.ts
  providers/slack/src/lib/slack.provider.spec.ts
  providers/sms77/src/lib/sms77.provider.spec.ts
  providers/telnyx/src/lib/telnyx.provider.spec.ts
  providers/twilio/src/lib/twilio.provider.spec.ts
Labels: @novu/api, @novu/web, @novu/notification-center, providers

#3403 Add optional HMAC slack OAuth flow
  apps/api/src/app/subscribers/dtos/chat-oauth-request.dto.ts
  apps/api/src/app/subscribers/e2e/chat-oauth-callback.e2e.ts
  apps/api/src/app/subscribers/e2e/chat-oauth.e2e.ts
  apps/api/src/app/subscribers/e2e/handle-chat-oauth.e2e.ts
  apps/api/src/app/subscribers/subscribers.controller.ts
  apps/api/src/app/subscribers/usecases/chat-oauth-callback/chat-oauth-callback.command.ts
  apps/api/src/app/subscribers/usecases/chat-oauth-callback/chat-oauth-callback.usecase.ts
  apps/api/src/app/subscribers/usecases/chat-oauth/chat-oauth.command.ts
  apps/api/src/app/subscribers/usecases/chat-oauth/chat-oauth.usecase.ts
  apps/api/src/app/subscribers/usecases/index.ts
  apps/web/src/pages/integrations/IntegrationsStorePage.tsx
  docs/docs/channels/chat/slack.md
  libs/dal/src/repositories/integration/integration.entity.ts
  libs/dal/src/repositories/integration/integration.schema.ts
  libs/shared/src/consts/providers/credentials/provider-credentials.ts
  libs/shared/src/consts/providers/provider.enum.ts
Labels: documentation, @novu/api, @novu/web, @novu/dal, @novu/shared

#3371 feat: add novu sharable url usecase
  apps/api/src/app/subscribers/dtos/chat-oauth-request.dto.ts
  apps/api/src/app/subscribers/e2e/chat-oauth-callback.e2e.ts
  apps/api/src/app/subscribers/e2e/chat-oauth.e2e.ts
  apps/api/src/app/subscribers/e2e/handle-chat-oauth.e2e.ts
  apps/api/src/app/subscribers/subscribers.controller.ts
  apps/api/src/app/subscribers/usecases/chat-oauth-callback/chat-oauth-callback.command.ts
  apps/api/src/app/subscribers/usecases/chat-oauth-callback/chat-oauth-callback.usecase.ts
  apps/api/src/app/subscribers/usecases/chat-oauth-callback/is-not-empty.spec.ts
  apps/api/src/app/subscribers/usecases/chat-oauth/chat-oauth.command.ts
  apps/api/src/app/subscribers/usecases/chat-oauth/chat-oauth.usecase.ts
  apps/api/src/app/subscribers/usecases/index.ts
  apps/web/src/pages/integrations/IntegrationsStorePage.tsx
  apps/web/src/pages/integrations/components/ConnectIntegrationForm.tsx
  apps/web/src/pages/integrations/components/Modal/ConnectIntegrationForm.tsx
  docs/docs/channels/chat/slack.md
  libs/dal/src/repositories/integration/integration.entity.ts
  libs/dal/src/repositories/integration/integration.schema.ts
  libs/shared/src/consts/providers/credentials/provider-credentials.ts
  libs/shared/src/consts/providers/provider.enum.ts
Labels: documentation, @novu/api, @novu/web, @novu/dal, @novu/shared

#3409 Update Slack docs
  apps/web/src/pages/integrations/components/ConnectIntegrationForm.tsx
  apps/web/src/pages/integrations/components/Modal/ConnectIntegrationForm.tsx
  apps/web/src/pages/settings/tabs/ApiKeysCard.tsx
  docs/docs/channels/chat/slack.md
Labels: documentation, @novu/web

#3163 NV-1557 🚀 Feature: Allow pagination handling in refetch method
  packages/notification-center/src/hooks/useFetchNotifications.ts
  packages/notification-center/src/hooks/useNotifications.test.tsx
  packages/notification-center/src/shared/interfaces/index.ts
Labels: @novu/notification-center, community

#3406 feat: remove backward compatibility for reset token
  libs/dal/src/repositories/user/user.repository.ts
Labels: @novu/dal, community

#3419 Update chat api interface
  apps/api/src/app/subscribers/dtos/chat-oauth-request.dto.ts
  apps/api/src/app/subscribers/e2e/chat-oauth-callback.e2e.ts
  apps/api/src/app/subscribers/e2e/chat-oauth.e2e.ts
  apps/api/src/app/subscribers/subscribers.controller.ts
  apps/api/src/app/subscribers/usecases/chat-oauth-callback/chat-oauth-callback.usecase.ts
  apps/api/src/app/subscribers/usecases/chat-oauth/chat-oauth.usecase.ts
  apps/web/src/pages/integrations/IntegrationsStorePage.tsx
  apps/web/src/pages/integrations/components/Modal/ConnectIntegrationForm.tsx
  docs/docs/channels/chat/slack.md
Labels: documentation, @novu/api, @novu/web

#3415 fix: update environment docs
  docs/docs/platform/environments.md
  docs/static/img/platform/environments/changes.png
Labels: documentation

#3418 fix(actions): Add worker and WS to dev deployment
  .github/workflows/dev-deploy-worker.yml
  .github/workflows/dev-deploy-ws.yml
Labels: community

#3413 fix(novu/node): Get all Notification templates without any parameter
  packages/node/src/lib/notification-template/notification-template.spec.ts
  packages/node/src/lib/notification-template/notification-template.ts
Labels: community

#3422 fix: remove enterprise flag for timed digest
  apps/web/src/pages/templates/workflow/DigestMetadata.tsx
  packages/application-generic/src/services/calculate-delay/calculate-delay.service.ts
Labels: @novu/web

#3407 fix: bulk insert execution details should be ordered
  libs/dal/src/repositories/base-repository.ts
  libs/dal/src/repositories/job/job.repository.ts
  packages/application-generic/src/usecases/bulk-create-execution-details/bulk-create-execution-details.usecase.ts
  packages/application-generic/src/usecases/store-subscriber-jobs/store-subscriber-jobs.usecase.ts
Labels: @novu/dal

#3429 fix: sort by created at for activity feed
  libs/dal/src/repositories/notification/notification.repository.ts
Labels: @novu/dal

#3436 feat: remove hmac setting in settings
  apps/web/cypress/tests/settings.spec.ts
  apps/web/src/api/environment.ts
  apps/web/src/pages/settings/SettingsPage.tsx
  apps/web/src/pages/settings/tabs/InAppCenterCard.tsx
  apps/web/src/pages/settings/tabs/components/Security.tsx
  apps/web/src/pages/settings/tabs/index.ts
Labels: @novu/web

#3428 feat(api): add launch darkly sdk key env variable
  apps/api/src/config/env-validator.ts
Labels: @novu/api

#3433 fix: corrected apple dev link in apns docs
  docs/docs/channels/push/apns.md
Labels: documentation, community

#3438 Nv 2333 update api to use new hmac flag on
  apps/api/src/app.module.ts
  apps/api/src/app/channels/channels.controller.ts
  apps/api/src/app/channels/channels.module.ts
  apps/api/src/app/channels/dtos/update-mail-settings-request.dto.ts
  apps/api/src/app/channels/dtos/update-settings-response.dto.ts
  apps/api/src/app/channels/dtos/update-sms-settings-request.dto.ts
  apps/api/src/app/channels/usecases/index.ts
  apps/api/src/app/channels/usecases/update-mail-settings/update-mail-settings.command.ts
  apps/api/src/app/channels/usecases/update-mail-settings/update-mail-settings.usecase.ts
  apps/api/src/app/channels/usecases/update-sms-settings/update-sms-settings.command.ts
  apps/api/src/app/channels/usecases/update-sms-settings/update-sms-settings.usecase.ts
  apps/api/src/app/environments/dtos/environment-response.dto.ts
  apps/api/src/app/environments/dtos/update-widget-settings-request.dto.ts
  apps/api/src/app/environments/environments.controller.ts
  apps/api/src/app/environments/usecases/index.ts
  apps/api/src/app/environments/usecases/update-widget-settings/update-widget-settings.command.ts
  apps/api/src/app/environments/usecases/update-widget-settings/update-widget-settings.e2e.ts
  apps/api/src/app/environments/usecases/update-widget-settings/update-widget-settings.usecase.ts
  apps/api/src/app/integrations/e2e/create-integration.e2e.ts
  apps/api/src/app/integrations/e2e/get-integration.e2e.ts
  apps/api/src/app/widgets/e2e/initialize-widget-session.e2e.ts
  apps/api/src/app/widgets/usecases/get-widget-settings/get-widget-settings.command.ts
  apps/api/src/app/widgets/usecases/get-widget-settings/get-widget-settings.usecase.ts
  apps/api/src/app/widgets/usecases/index.ts
  apps/api/src/app/widgets/usecases/initialize-session/initialize-session.usecase.ts
  apps/api/src/app/widgets/widgets.module.ts
  apps/web/cypress/tests/settings.spec.ts
  apps/web/src/api/environment.ts
  libs/testing/src/user.session.ts
  packages/node/src/lib/environments/environments.interface.ts
  packages/node/src/lib/environments/environments.spec.ts
  packages/node/src/lib/environments/environments.ts
Labels: @novu/api, @novu/web

#3440 feat: add check for active in app integration
  apps/worker/src/app/workflow/usecases/send-message/send-message-in-app.usecase.ts
Labels: @novu/worker

#3445 fix: add infobip light logo variant
  apps/web/public/static/images/providers/light/infobip.png
Labels: @novu/web, community

#3447 fix(web): timed digest form fixes
  apps/web/src/pages/templates/components/TemplateEditorFormProvider.tsx
  apps/web/src/pages/templates/components/formTypes.ts
  apps/web/src/pages/templates/components/notificationTemplateSchema.ts
  apps/web/src/pages/templates/components/templateToFormMappers.ts
  apps/web/src/pages/templates/workflow/DigestMetadata.tsx
  apps/web/src/pages/templates/workflow/RegularDigestMetadata.tsx
  apps/web/src/pages/templates/workflow/digest/BackOffFields.tsx
  apps/web/src/pages/templates/workflow/digest/TimedDigestWillBeSentHeader.tsx
  apps/web/src/pages/templates/workflow/digest/WillBeSentHeader.tsx
Labels: documentation, @novu/api, @novu/web

#3435 feat(web): templates store modal shell
  .cspell.json
  apps/web/package.json
  apps/web/src/App.tsx
  apps/web/src/design-system/icons/arrows/ChevronLeft.tsx
  apps/web/src/design-system/icons/arrows/ChevronRight.tsx
  apps/web/src/design-system/icons/general/MadeByNovu.tsx
  apps/web/src/design-system/icons/index.ts
  apps/web/src/hooks/index.ts
  apps/web/src/hooks/useDataRef.ts
  apps/web/src/hooks/useInlineComponent.tsx
  apps/web/src/pages/templates/TemplatesListPage.tsx
  apps/web/src/pages/templates/components/templates-store/TemplatesStoreModal.tsx
  apps/web/src/pages/templates/components/templates-store/index.ts
  apps/web/src/pages/templates/components/templates-store/templateStoreStyles.ts
  apps/web/src/pages/templates/hooks/useTemplatesStoreModal.tsx
  pnpm-lock.yaml
Labels: @novu/web

#3420 Nv 2017 onboarding start from scratch
  apps/api/src/app/user/dtos/user-onboarding-tour-request.dto.ts
  apps/api/src/app/user/usecases/index.ts
  apps/api/src/app/user/usecases/update-on-boarding-tour/update-on-boarding-tour.command.ts
  apps/api/src/app/user/usecases/update-on-boarding-tour/update-on-boarding-tour.usecase.ts
  apps/api/src/app/user/user.controller.ts
  apps/web/cypress/tests/notification-editor/create-notification.spec.ts
  apps/web/cypress/tests/start-from-scratch-tour.spec.ts
  apps/web/src/api/user.ts
  apps/web/src/design-system/button/Button.tsx
  apps/web/src/design-system/icons/general/BuildWorkflow.tsx
  apps/web/src/design-system/icons/general/Pencil.tsx
  apps/web/src/design-system/icons/general/QuickGuide.tsx
  apps/web/src/design-system/icons/general/RightArrow.tsx
  apps/web/src/design-system/icons/general/RunTestBell.tsx
  apps/web/src/design-system/icons/general/WorkflowSettings.tsx
  apps/web/src/design-system/icons/index.ts
  apps/web/src/pages/quick-start/steps/DigestPreview.tsx
  apps/web/src/pages/templates/constants.tsx
  apps/web/src/pages/templates/editor/StartFromScratchTourTooltip.styles.tsx
  apps/web/src/pages/templates/editor/StartFromScratchTourTooltip.tsx
  apps/web/src/pages/templates/editor/TourProvider.tsx
  apps/web/src/pages/templates/editor/useStartFromScratchTour.tsx
  libs/dal/src/repositories/user/user.entity.ts
  libs/dal/src/repositories/user/user.schema.ts
  libs/shared/src/entities/user/user.interface.ts
Labels: @novu/api, @novu/web, @novu/dal, @novu/shared

#3451 docs(one-signal): Add setup documentation for onesignal push provider
  README.md
  docs/docs/channels/push/index.md
  docs/docs/channels/push/one-signal.md
Labels: documentation, community

#3450 feat(web): templates store modal workflow preview
  apps/web/src/components/quick-start/common/index.ts
  apps/web/src/components/quick-start/digest-demo-flow/NodeStepWithPopover.tsx
  apps/web/src/components/quick-start/in-app-onboarding/InAppNode.tsx
  apps/web/src/components/quick-start/in-app-onboarding/TriggerNode.tsx
  apps/web/src/components/workflow/FlowEditor.tsx
  apps/web/src/components/workflow/NodeStep.tsx
  apps/web/src/components/workflow/index.ts
  apps/web/src/components/workflow/types.ts
  apps/web/src/pages/templates/components/notification-setting-form/TemplatePreference.tsx
  apps/web/src/pages/templates/components/notificationTemplateSchema.ts
  apps/web/src/pages/templates/components/templates-store/ChannelNode.tsx
  apps/web/src/pages/templates/components/templates-store/TemplatesStoreModal.tsx
  apps/web/src/pages/templates/components/templates-store/TriggerNode.tsx
  apps/web/src/pages/templates/components/templates-store/templateStoreStyles.ts
  apps/web/src/pages/templates/filter/Filters.tsx
  apps/web/src/pages/templates/filter/PreviousStepFiltersForm.tsx
  apps/web/src/pages/templates/shared/errors.ts
  apps/web/src/pages/templates/workflow/SideBar/AddStepMenu.tsx
  apps/web/src/pages/templates/workflow/WorkflowEditor.tsx
  apps/web/src/pages/templates/workflow/workflow/edge-types/AddNodeEdge.tsx
  apps/web/src/utils/channels.ts
  pnpm-lock.yaml
Labels: @novu/web

#3457 feat(web): templates store - templates page when there is no data show create template tiles
  apps/web/cypress/tests/digest-playground.spec.ts
  apps/web/cypress/tests/notifications.spec.ts
  apps/web/src/api/hooks/notification-templates/index.ts
  apps/web/src/api/hooks/notification-templates/useFetchBlueprints.ts
  apps/web/src/api/query.keys.ts
  apps/web/src/design-system/popover/Popover.tsx
  apps/web/src/pages/quick-start/steps/DigestPreview.tsx
  apps/web/src/pages/templates/TemplatesListNoData.tsx
  apps/web/src/pages/templates/TemplatesListPage.tsx
  apps/web/src/pages/templates/components/TemplateEditorFormProvider.tsx
  apps/web/src/pages/templates/components/templates-store/TemplatesStoreModal.tsx
  apps/web/src/pages/templates/constants.tsx
  apps/web/src/pages/templates/hooks/useTemplatesStoreModal.tsx
  apps/web/src/pages/templates/workflow/SideBar/AddStepMenu.tsx
Labels: @novu/web

#3461 fix: emails null condition
  apps/api/src/app/notifications/notification.controller.ts
  apps/api/src/app/notifications/usecases/get-activity-feed/get-activity-feed.command.ts
  apps/api/src/app/notifications/usecases/get-activity-feed/get-activity-feed.usecase.ts
  apps/web/src/pages/activities/ActivitiesPage.tsx
  libs/dal/src/repositories/subscriber/subscriber.repository.ts
Labels: @novu/api, @novu/web, @novu/dal

#3404 fix: update subscriber docs
  docs/docs/platform/subscribers.md
  docs/docusaurus.config.js
Labels: documentation

#3432 NV-2332 - Template Store - Add blueprint module
  apps/api/src/app.module.ts
  apps/api/src/app/blueprint/blueprint.controller.ts
  apps/api/src/app/blueprint/blueprint.module.ts
  apps/api/src/app/blueprint/e2e/create-blueprint-notification-templates.e2e.ts
  apps/api/src/app/blueprint/usecases/create-blueprint-notification-template/create-blueprint-notification-template.command.ts
  apps/api/src/app/blueprint/usecases/create-blueprint-notification-template/create-blueprint-notification-template.usecase.ts
  apps/api/src/app/blueprint/usecases/create-blueprint-notification-template/index.ts
  apps/api/src/app/blueprint/usecases/get-blueprint-notification-template/get-blueprint-notification-template.command.ts
  apps/api/src/app/blueprint/usecases/get-blueprint-notification-template/get-blueprint-notification-template.usecase.ts
  apps/api/src/app/blueprint/usecases/get-blueprint-notification-template/index.ts
  apps/api/src/app/blueprint/usecases/index.ts
  apps/api/src/app/notification-template/notification-template.controller.ts
  apps/api/src/app/notification-template/usecases/index.ts
  apps/web/src/api/notification-templates.ts
  apps/web/src/pages/templates/components/BlueprintModal.cy.tsx
Labels: @novu/api, @novu/web

#3444 NV-2336 - Template Store -Add grouped by category blueprints
  apps/api/src/app/blueprint/blueprint.controller.ts
  apps/api/src/app/blueprint/dto/get-blueprint.response.dto.ts
  apps/api/src/app/blueprint/dto/grouped-blueprint.response.dto.ts
  apps/api/src/app/blueprint/usecases/create-blueprint-notification-template/create-blueprint-notification-template.command.ts
  apps/api/src/app/blueprint/usecases/create-blueprint-notification-template/index.ts
  apps/api/src/app/blueprint/usecases/create-blueprint/create-blueprint.command.ts
  apps/api/src/app/blueprint/usecases/create-blueprint/create-blueprint.usecase.ts
  apps/api/src/app/blueprint/usecases/create-blueprint/index.ts
  apps/api/src/app/blueprint/usecases/get-blueprint-notification-template/index.ts
  apps/api/src/app/blueprint/usecases/get-blueprint/get-blueprint.command.ts
  apps/api/src/app/blueprint/usecases/get-blueprint/get-blueprint.usecase.ts
  apps/api/src/app/blueprint/usecases/get-blueprint/index.ts
  apps/api/src/app/blueprint/usecases/get-blueprints/get-grouped-blueprints.command.ts
  apps/api/src/app/blueprint/usecases/get-blueprints/get-grouped-blueprints.usecase.ts
  apps/api/src/app/blueprint/usecases/get-blueprints/index.ts
  apps/api/src/app/blueprint/usecases/index.ts
  apps/api/src/app/change/usecases/promote-notification-template-change/promote-notification-template-change.usecase.ts
  libs/dal/src/repositories/notification-template/notification-template.repository.ts
  libs/shared/src/entities/notification-group/index.ts
  libs/shared/src/entities/notification-group/notification-group.interface.ts
  libs/shared/src/index.ts
Labels: @novu/api, @novu/dal, @novu/shared

#3412 fix: update preference docs
  docs/docs/platform/preferences.md
  docs/static/img/platform/preferences/template-level-channel-preferences.png
  docs/static/img/platform/preferences/user-preference.png
Labels: documentation

#3362 fix: add react vue angular sandpack
  .cspell.json
  docs/docs/notification-center/FAQ.md
  docs/docs/notification-center/custom-styling.md
  docs/docs/overview/docker-deploy.md
  docs/docusaurus.config.js
  docs/package.json
  docs/src/components/NotificationCenter/CustomStyling/Angular.tsx
  docs/src/components/NotificationCenter/CustomStyling/React.tsx
  docs/src/components/NotificationCenter/CustomStyling/Vue.tsx
  docs/src/components/NotificationCenter/CustomStyling/shared.ts
  docs/src/components/SandPack/SandPack.tsx
  pnpm-lock.yaml
Labels: documentation

#3469 Revert "fix: add react vue angular sandpack"
  .cspell.json
  docs/docs/notification-center/FAQ.md
  docs/docs/notification-center/custom-styling.md
  docs/docs/overview/docker-deploy.md
  docs/docusaurus.config.js
  docs/package.json
  docs/src/components/NotificationCenter/CustomStyling/Angular.tsx
  docs/src/components/NotificationCenter/CustomStyling/React.tsx
  docs/src/components/NotificationCenter/CustomStyling/Vue.tsx
  docs/src/components/NotificationCenter/CustomStyling/shared.ts
  docs/src/components/SandPack/SandPack.tsx
  pnpm-lock.yaml
Labels: documentation

#3355 feat(docs): Add africas-talking provider documentation
  .cspell.json
  docs/docs/channels/sms/africas-talking.md
  docs/static/img/providers/sms/africas-talking/alphanumeric.png
  docs/static/img/providers/sms/africas-talking/click-app.png
  docs/static/img/providers/sms/africas-talking/create-a-username-1-1.png
  docs/static/img/providers/sms/africas-talking/create-a-username-1.png
  docs/static/img/providers/sms/africas-talking/create-an-app-button.png
  docs/static/img/providers/sms/africas-talking/create-an-app.png
  docs/static/img/providers/sms/africas-talking/generate-api-key.png
  docs/static/img/providers/sms/africas-talking/integration.png
  docs/static/img/providers/sms/africas-talking/request-alphanumeric.png
  docs/static/img/providers/sms/africas-talking/request-short-codes.png
  docs/static/img/providers/sms/africas-talking/settings-menu.png
  docs/static/img/providers/sms/africas-talking/short-codes.png
  docs/static/img/providers/sms/africas-talking/web.png
Labels: documentation, community

#3454 NV-2337 - Template Store - Add grouped blueprint cache
  apps/api/src/app/blueprint/e2e/create-blueprint-notification-templates.e2e.ts
  apps/api/src/app/blueprint/e2e/create-blueprint.e2e.ts
  apps/api/src/app/blueprint/e2e/get-grouped-blueprints.e2e.ts
  apps/api/src/app/blueprint/usecases/get-blueprints/get-grouped-blueprints.usecase.ts
  packages/application-generic/src/services/cache/interceptors/cached-entity.interceptor.ts
  packages/application-generic/src/services/cache/key-builders/entities.ts
  packages/application-generic/src/services/cache/key-builders/shared.ts
Labels: @novu/api

#3467 NV-2335 - Template Store - Template store refactor web on blueprint creation to use
  apps/api/src/app/blueprint/blueprint.controller.ts
  apps/api/src/app/blueprint/e2e/create-blueprint.e2e.ts
  apps/api/src/app/blueprint/e2e/get-grouped-blueprints.e2e.ts
  apps/api/src/app/blueprint/usecases/create-blueprint/create-blueprint.command.ts
  apps/api/src/app/blueprint/usecases/create-blueprint/create-blueprint.usecase.ts
  apps/api/src/app/blueprint/usecases/create-blueprint/index.ts
  apps/api/src/app/blueprint/usecases/get-grouped-blueprints/get-grouped-blueprints.command.ts
  apps/api/src/app/blueprint/usecases/get-grouped-blueprints/get-grouped-blueprints.usecase.ts
  apps/api/src/app/blueprint/usecases/get-grouped-blueprints/index.ts
  apps/api/src/app/blueprint/usecases/index.ts
  apps/api/src/app/notification-template/dto/create-notification-template.request.dto.ts
  apps/api/src/app/notification-template/e2e/change-template-status.e2e.ts
  apps/api/src/app/notification-template/e2e/create-notification-templates.e2e.ts
  apps/api/src/app/notification-template/notification-template.controller.ts
  apps/api/src/app/notification-template/usecases/create-notification-template/create-notification-template.usecase.ts
  apps/web/src/pages/templates/components/BlueprintModal.cy.tsx
  apps/web/src/pages/templates/components/BlueprintModal.tsx
  libs/dal/src/repositories/notification-template/notification-template.repository.ts
  libs/shared/src/dto/notification-templates/create-template.dto.ts
Labels: @novu/api, @novu/web, @novu/dal, @novu/shared

#3468 feat: client points to novu cms centralized server
  apps/web/src/api/api.client.ts
  apps/web/src/api/notification-templates.ts
  apps/web/src/config/index.ts
Labels: @novu/web

#3437 MongoDB maxPoolSize to env variable. Refs: #3425
  apps/api/src/.example.env
  apps/api/src/config/env-validator.ts
  apps/api/src/types/env.d.ts
  apps/webhook/src/.example.env
  apps/worker/src/.example.env
  apps/worker/src/config/env-validator.ts
  apps/worker/src/types/env.d.ts
  apps/ws/src/.example.env
  docker/.env.example
  docker/kubernetes/kustomize/env-dev
  docker/local/deployment/docker-compose.yml
  docs/docs/community/run-locally.md
  libs/dal/src/dal.service.ts
  libs/dal/src/types/env.d.ts
  packages/application-generic/src/.env.test
Labels: documentation, @novu/api, @novu/dal, community, @novu/worker

#3462 feat(web): templates list page - create template dropdown button
  apps/web/cypress/tests/notification-editor/main-functionality.spec.ts
  apps/web/cypress/tests/notifications.spec.ts
  apps/web/src/components/layout/components/HeaderNav.tsx
  apps/web/src/design-system/dropdown/Dropdown.styles.ts
  apps/web/src/design-system/dropdown/Dropdown.tsx
  apps/web/src/pages/templates/TemplatesListNoData.tsx
  apps/web/src/pages/templates/TemplatesListPage.tsx
  apps/web/src/pages/templates/components/CreateWorkflowDropdown.tsx
Labels: @novu/web

#3441 feat(api): implement launch darkly node sdk
  apps/api/package.json
  apps/api/src/.env.development
  apps/api/src/.env.production
  apps/api/src/.env.test
  apps/api/src/.example.env
  apps/api/src/app/feature-flags/feature-flags.module.ts
  apps/api/src/app/feature-flags/services/feature-flags.service.ts
  apps/api/src/app/feature-flags/services/index.ts
  apps/api/src/app/feature-flags/services/launch-darkly.service.ts
  apps/api/src/app/feature-flags/types/index.ts
  apps/api/src/app/feature-flags/use-cases/get-feature-flag/get-feature-flag.command.ts
  apps/api/src/app/feature-flags/use-cases/get-feature-flag/get-feature-flag.use-case.ts
  apps/api/src/app/feature-flags/use-cases/get-feature-flag/index.ts
  apps/api/src/app/feature-flags/use-cases/index.ts
  pnpm-lock.yaml
Labels: @novu/api

#3472 feat: add in app card with modal in integration store
  apps/web/cypress/tests/integration-store.spec.ts
  apps/web/public/static/images/providers/dark/novu.png
  apps/web/public/static/images/providers/light/novu.png
  apps/web/src/design-system/icons/arrows/CircleArrowRight.tsx
  apps/web/src/design-system/icons/index.ts
  apps/web/src/pages/integrations/IntegrationsStoreModal.tsx
  apps/web/src/pages/integrations/IntegrationsStorePage.tsx
  apps/web/src/pages/integrations/components/ChannelGroup.tsx
  apps/web/src/pages/integrations/components/NovuInAppProviderModal.tsx
  apps/web/src/pages/integrations/useProviders.ts
  apps/web/src/pages/templates/components/LackIntegrationError.tsx
  apps/web/src/pages/templates/components/ProvidersPage.tsx
  apps/web/src/pages/templates/workflow/ReplyCallback.tsx
  libs/shared/src/consts/providers/channels/in-app.ts
  libs/shared/src/consts/providers/channels/index.ts
  libs/shared/src/consts/providers/credentials/provider-credentials.ts
  libs/shared/src/consts/providers/providers.ts
Labels: @novu/web, @novu/shared

#3482 Nv 2204 update ux copy and links to the documentation for providers
  apps/web/src/pages/integrations/components/ConnectIntegrationForm.cy.tsx
  apps/web/src/pages/integrations/components/ConnectIntegrationForm.tsx
  apps/web/src/pages/integrations/components/Modal/ConnectIntegrationForm.tsx
  libs/shared/src/consts/providers/channels/chat.ts
  libs/shared/src/consts/providers/channels/email.ts
  libs/shared/src/consts/providers/channels/push.ts
  libs/shared/src/consts/providers/channels/sms.ts
Labels: @novu/web, @novu/shared

#3478 Nv 2366 add guides for in app
  apps/web/cypress/tests/integration-store.spec.ts
  apps/web/src/design-system/icons/arrows/CircleArrowRight.tsx
  apps/web/src/design-system/icons/gradient/AngularGradient.tsx
  apps/web/src/design-system/icons/gradient/CodeGradient.tsx
  apps/web/src/design-system/icons/gradient/JsGradient.tsx
  apps/web/src/design-system/icons/gradient/ReactGradient.tsx
  apps/web/src/design-system/icons/gradient/VueGradient.tsx
  apps/web/src/design-system/icons/index.ts
  apps/web/src/pages/integrations/IntegrationsStorePage.tsx
  apps/web/src/pages/integrations/components/CardStatusBar.tsx
  apps/web/src/pages/integrations/components/InAppSelectFramework.tsx
  apps/web/src/pages/integrations/components/NovuInAppForm.tsx
  apps/web/src/pages/integrations/components/NovuInAppProviderModal.tsx
  apps/web/src/pages/integrations/components/SetupFrameworkHeader.tsx
  apps/web/src/pages/quick-start/components/QuickStartWrapper.tsx
  apps/web/src/pages/quick-start/components/SetupStatus.tsx
  apps/web/src/pages/quick-start/components/SetupTimeline.tsx
  apps/web/src/pages/quick-start/steps/NotificationCenter.tsx
  apps/web/src/pages/quick-start/steps/Setup.tsx
  libs/shared/src/consts/providers/channels/in-app.ts
Labels: @novu/web, @novu/shared

#3471 fix: promote step variables default values to prod
  apps/api/src/app/change/e2e/promote-changes.e2e.ts
  apps/api/src/app/change/e2e/promote-layout-changes.e2e.ts
  apps/api/src/app/change/usecases/promote-message-template-change/promote-message-template-change.ts
  apps/api/src/app/notification-template/usecases/create-notification-template/create-notification-template.usecase.ts
  apps/web/cypress/tests/changes.spec.ts
  apps/web/src/pages/templates/components/VariableManager.cy.tsx
  apps/web/src/pages/templates/components/VariableManager.tsx
  apps/web/src/pages/templates/components/useStatusChangeController.ts
Labels: @novu/api, @novu/web

#3474 NV-2365- Template-Store -aggregate-popular-blueprints
  apps/api/src/app/blueprint/blueprint.controller.ts
  apps/api/src/app/blueprint/dto/grouped-blueprint.response.dto.ts
  apps/api/src/app/blueprint/e2e/get-grouped-blueprints.e2e.ts
  apps/api/src/app/blueprint/usecases/get-grouped-blueprints/consts.ts
  apps/api/src/app/blueprint/usecases/get-grouped-blueprints/get-grouped-blueprints.usecase.ts
  apps/api/src/app/blueprint/usecases/get-grouped-blueprints/index.ts
  libs/dal/src/repositories/notification-template/notification-template.repository.ts
  libs/shared/src/entities/notification-template/notification-template.interface.ts
Labels: @novu/api, @novu/dal, @novu/shared

#3476 fix: create and delete feed changes
  apps/api/src/app/change/e2e/promote-changes.e2e.ts
  apps/api/src/app/change/usecases/promote-feed-change/promote-feed-change.ts
  apps/api/src/app/feeds/usecases/delete-feed/delete-feed.usecase.ts
Labels: @novu/api

#3475 feat(web): template store integrate with api's
  apps/api/src/app/blueprint/dto/grouped-blueprint.response.dto.ts
  apps/api/src/app/blueprint/usecases/get-grouped-blueprints/get-grouped-blueprints.usecase.ts
  apps/web/src/api/hooks/notification-templates/index.ts
  apps/web/src/api/hooks/notification-templates/useCreateTemplateFromBlueprint.ts
  apps/web/src/api/hooks/notification-templates/useFetchBlueprints.ts
  apps/web/src/api/notification-templates.ts
  apps/web/src/api/types.ts
  apps/web/src/components/workflow/FlowEditor.tsx
  apps/web/src/components/workflow/types.ts
  apps/web/src/pages/templates/TemplatesListNoData.tsx
  apps/web/src/pages/templates/TemplatesListPage.tsx
  apps/web/src/pages/templates/components/BlueprintModal.tsx
  apps/web/src/pages/templates/components/CreateWorkflowDropdown.tsx
  apps/web/src/pages/templates/components/templates-store/TemplatesStoreModal.tsx
  apps/web/src/pages/templates/hooks/useTemplatesStoreModal.tsx
  apps/web/src/utils/channels.ts
  libs/shared/src/entities/notification-template/notification-template.interface.ts
Labels: @novu/api, @novu/web, @novu/shared

#3484 feat(web): templates store - fe caching for blueprints
  .cspell.json
  apps/web/package.json
  apps/web/src/api/hooks/notification-templates/useFetchBlueprints.ts
  pnpm-lock.yaml
Labels: @novu/web

#3434 fix: apns production option
  packages/application-generic/src/factories/push/handlers/apns.handler.ts
Labels: community

#3488 withinPortal in PopoverNotificationCenter to be true by default
  packages/notification-center/src/components/popover-notification-center/components/Popover.tsx
Labels: @novu/notification-center, community

#3486 feat(web): template store - hover over popular templates tile and dropdown items
  apps/web/src/pages/templates/TemplatesListNoData.tsx
  apps/web/src/pages/templates/components/CreateWorkflowDropdown.tsx
  apps/web/src/pages/templates/hooks/useHoverOverTemplate.ts
Labels: @novu/web

#3480 Nv 2212 predefined sms provider
  apps/api/src/.env.development
  apps/api/src/.env.production
  apps/api/src/.env.test
  apps/web/src/components/layout/components/SideNav.tsx
  apps/web/src/design-system/icons/gradient/BoltGradient.tsx
  apps/web/src/design-system/tooltip/Tooltip.tsx
  apps/web/src/hooks/integrations/useIntegrationLimit.ts
  apps/web/src/pages/integrations/IntegrationsStoreModal.tsx
  apps/web/src/pages/integrations/IntegrationsStorePage.tsx
  apps/web/src/pages/integrations/components/CardStatusBar.tsx
  apps/web/src/pages/integrations/components/ChannelGroup.tsx
  apps/web/src/pages/integrations/components/LimitBar.tsx
  apps/web/src/pages/integrations/components/Modal/ChannelGroup.tsx
  apps/web/src/pages/integrations/components/Modal/NovuIntegrationCard.tsx
  apps/web/src/pages/integrations/components/NovuEmailProviderModal.tsx
  apps/web/src/pages/integrations/components/NovuIntegrationCard.tsx
  apps/web/src/pages/integrations/components/NovuProviderBase.tsx
  apps/web/src/pages/integrations/components/NovuSmsProviderModal.tsx
  apps/web/src/pages/templates/workflow/workflow/node-types/WorkflowNode.tsx
  apps/worker/src/.env.development
  apps/worker/src/.env.production
  apps/worker/src/.env.test
  apps/worker/src/.example.env
  apps/worker/src/app/workflow/usecases/send-message/send-message-sms.usecase.ts
  apps/worker/src/config/env-validator.ts
  libs/shared/src/consts/providers/provider.enum.ts
  packages/application-generic/src/.env.test
  packages/application-generic/src/usecases/calculate-limit-novu-integration/calculate-limit-novu-integration.usecase.ts
  packages/application-generic/src/usecases/get-novu-integration/get-novu-integration.spec.ts
  packages/application-generic/src/usecases/get-novu-integration/get-novu-integration.usecase.ts
Labels: @novu/web, @novu/shared, @novu/worker

#3430 fix: secure flag persisted as string
  apps/api/migrations/secure-to-boolean/secure-to-boolean-migration.spec.ts
  apps/api/migrations/secure-to-boolean/secure-to-boolean-migration.ts
  apps/api/src/app/integrations/dtos/credentials.dto.ts
  apps/api/src/app/integrations/e2e/create-integration.e2e.ts
  apps/api/src/app/integrations/e2e/get-integration.e2e.ts
  apps/api/src/app/integrations/e2e/update-integration.e2e.ts
  apps/api/src/app/shared/transformers/to-boolean.spec.ts
  apps/api/src/app/shared/transformers/to-boolean.ts
  apps/api/src/app/shared/transformers/trim.ts
  apps/api/src/app/shared/validators/is-boolean-any.validator.spec.ts
  apps/api/src/app/shared/validators/is-boolean-any.validator.ts
  libs/dal/src/repositories/integration/integration.schema.ts
Labels: @novu/api, @novu/dal, community

#3499 Add Python to the list of available SDKs in the README
  README.md
Labels: community

#3496 feat: add framework select accordion
  apps/api/src/app/integrations/usecases/get-In-app-activated/get-In-app-activated.usecase.ts
  apps/web/cypress/tests/changes.spec.ts
  apps/web/src/pages/integrations/components/FrameworkDisplay.tsx
  apps/web/src/pages/integrations/components/InAppSelectFramework.tsx
  apps/web/src/pages/integrations/components/NovuInAppProviderModal.tsx
Labels: @novu/api, @novu/web

#3493 Nv 2231 Template Store - template store analytics
  apps/api/src/app/blueprint/usecases/get-grouped-blueprints/consts.ts
  apps/api/src/app/blueprint/usecases/get-grouped-blueprints/get-grouped-blueprints.usecase.ts
  apps/api/src/app/notification-template/notification-template.controller.ts
  apps/api/src/app/notification-template/queries/CreateNotificationTemplateQuery.ts
  apps/api/src/app/notification-template/queries/index.ts
  apps/api/src/app/notification-template/usecases/create-notification-template/create-notification-template.command.ts
  apps/api/src/app/notification-template/usecases/create-notification-template/create-notification-template.usecase.ts
  apps/api/src/bootstrap.ts
  apps/web/cypress/tests/notification-editor/main-functionality.spec.ts
  apps/web/src/api/api.client.ts
  apps/web/src/api/hooks/notification-templates/useCreateDigestDemoWorkflow.ts
  apps/web/src/api/hooks/notification-templates/useCreateTemplateFromBlueprint.ts
  apps/web/src/api/notification-templates.ts
  apps/web/src/components/quick-start/in-app-onboarding/TriggerNode.tsx
  apps/web/src/pages/templates/TemplatesListNoData.tsx
  apps/web/src/pages/templates/TemplatesListPage.tsx
  apps/web/src/pages/templates/components/BlueprintModal.cy.tsx
  apps/web/src/pages/templates/components/BlueprintModal.tsx
  apps/web/src/pages/templates/components/CreateWorkflowDropdown.tsx
  apps/web/src/pages/templates/components/templates-store/TemplatesStoreModal.tsx
  apps/web/src/pages/templates/components/useTemplateController.ts
  apps/web/src/pages/templates/hooks/useCreate.ts
  apps/web/src/pages/templates/shared/index.ts
  libs/dal/src/repositories/notification-template/notification-template.repository.ts
Labels: @novu/api, @novu/web, @novu/dal

#3512 fix: migration script and eslint warnings
  apps/api/migrations/in-app-integration/in-app-integration.migration.ts
  apps/api/package.json
  apps/web/src/design-system/icons/gradient/AngularGradient.tsx
  apps/web/src/design-system/icons/gradient/CodeGradient.tsx
  apps/web/src/design-system/icons/gradient/JsGradient.tsx
  apps/web/src/design-system/icons/gradient/ReactGradient.tsx
Labels: @novu/api, @novu/web

#3465 feat(api): implement mappers for the different contexts in feature flags
  apps/api/src/app/feature-flags/services/feature-flags.service.ts
  apps/api/src/app/feature-flags/services/launch-darkly.service.ts
  apps/api/src/app/feature-flags/types/index.ts
  apps/api/src/app/feature-flags/use-cases/get-feature-flag/get-feature-flag.command.ts
  apps/api/src/app/feature-flags/use-cases/get-feature-flag/get-feature-flag.use-case.ts
Labels: @novu/api

#3477 Nv 2325 create template store feature flag
  .github/workflows/test.yml
  apps/api/src/app/feature-flags/e2e/get-feature-flag.e2e.ts
  apps/api/src/app/feature-flags/feature-flags.module.ts
  apps/api/src/app/feature-flags/services/feature-flags.service.ts
  apps/api/src/app/feature-flags/services/launch-darkly.service.ts
  apps/api/src/app/feature-flags/types/index.ts
  apps/api/src/app/feature-flags/use-cases/get-feature-flag/get-feature-flag.command.ts
  apps/api/src/app/feature-flags/use-cases/get-feature-flag/get-feature-flag.use-case.ts
  apps/api/src/app/feature-flags/use-cases/get-feature-flag/index.ts
  apps/api/src/app/feature-flags/use-cases/index.ts
Labels: @novu/api

#3506 fix: add user id in boot to remove error
  apps/web/src/components/layout/components/HeaderNav.tsx
Labels: @novu/web

#3498 refactor(docs): update faq markup
  docs/docs/channels/chat/slack.md
  docs/docs/channels/email/ses.md
  docs/docs/community/faq.md
  docs/docs/community/run-locally.md
  docs/docs/notification-center/FAQ.md
  docs/docs/notification-center/react/react-components.md
  docs/docs/platform/subscribers.md
  docs/docs/platform/workflows.md
Labels: documentation, community

#3504 feat(web): implement is template store enabled feature flag in web
  .github/workflows/dev-deploy-web.yml
  .github/workflows/prod-deploy-web.yml
  apps/api/src/app/feature-flags/types/index.ts
  apps/web/package.json
  apps/web/src/App.tsx
  apps/web/src/config/index.ts
  apps/web/src/hooks/index.ts
  apps/web/src/hooks/useFeatureFlags.ts
  libs/shared/src/types/feature-flags/index.ts
  libs/shared/src/types/index.ts
  pnpm-lock.yaml
Labels: @novu/api, @novu/web, @novu/shared

#3510 feat: add check for at signs in redirect url
  apps/api/src/app/auth/auth.controller.ts
Labels: @novu/api

#3500 feat: load balance between environments
  apps/api/src/app/blueprint/usecases/get-grouped-blueprints/consts.ts
  apps/web/src/api/notification-templates.ts
  apps/web/src/config/index.ts
Labels: @novu/api, @novu/web

#3502 Template Store - Update blueprint ids
  apps/api/src/app/blueprint/e2e/get-grouped-blueprints.e2e.ts
  apps/api/src/app/blueprint/usecases/get-grouped-blueprints/consts.ts
  apps/api/src/app/blueprint/usecases/get-grouped-blueprints/get-grouped-blueprints.usecase.ts
Labels: @novu/api

#3513 chore(web): templates store e2e tests
  apps/api/src/.env.test
  apps/api/src/app/blueprint/usecases/get-grouped-blueprints/consts.ts
  apps/api/src/app/blueprint/usecases/get-grouped-blueprints/get-grouped-blueprints.usecase.ts
  apps/web/cypress.config.ts
  apps/web/cypress/global.d.ts
  apps/web/cypress/plugins/index.ts
  apps/web/cypress/support/commands.ts
  apps/web/cypress/tests/changes.spec.ts
  apps/web/cypress/tests/notification-editor/main-functionality.spec.ts
  apps/web/cypress/tests/notifications.spec.ts
  apps/web/cypress/tests/onboarding.spec.ts
  apps/web/cypress/tests/templates-store.spec.ts
  apps/web/src/pages/templates/TemplatesListNoData.tsx
  apps/web/src/pages/templates/components/CreateWorkflowDropdown.tsx
  apps/web/src/pages/templates/components/templates-store/TemplatesStoreModal.tsx
  libs/shared/src/consts/index.ts
  libs/shared/src/consts/template-store/index.ts
  libs/testing/src/environment.service.ts
  libs/testing/src/notification-template.service.ts
  libs/testing/src/organization.service.ts
  libs/testing/src/user.service.ts
Labels: @novu/api, @novu/web, @novu/shared

#3508 feat: Export additional types and enums from sdk
  packages/node/src/index.ts
Labels: community

#3527 fix: copy of limit status for novu providers
  apps/web/src/pages/integrations/components/LimitBar.tsx
  apps/web/src/pages/integrations/components/Modal/NovuIntegrationCard.tsx
  apps/web/src/pages/integrations/components/NovuIntegrationCard.tsx
Labels: @novu/web

#3528 Template Store - add create template from popular tests
  apps/web/src/pages/templates/TemplatesListPage.tsx
Labels: @novu/web

#3529 feat: skip ff test
  apps/api/src/app/feature-flags/e2e/get-feature-flag.e2e.ts
Labels: @novu/api

#3515 feat(web): templates store use feature flag
  .github/workflows/dev-deploy-web.yml
  .github/workflows/prod-deploy-web.yml
  .github/workflows/reusable-web-e2e.yml
  apps/web/src/config/index.ts
  apps/web/src/hooks/useFeatureFlags.ts
  apps/web/src/pages/templates/TemplatesListNoDataOld.tsx
  apps/web/src/pages/templates/TemplatesListPage.tsx
  apps/web/src/pages/templates/components/templates-store/TemplatesStoreModal.tsx
  apps/web/src/pages/templates/constants.tsx
  apps/web/src/pages/templates/hooks/useTemplatesStoreModal.tsx
  pnpm-lock.yaml
Labels: @novu/web

#3521 fix: update naming of markAllNotifications methods in react NC
  apps/api/src/app/widgets/usecases/mark-all-messages-as/mark-all-messages-as.usecase.ts
  apps/api/src/app/widgets/widgets.controller.ts
  docs/docs/notification-center/react/api-reference.md
  packages/notification-center/src/components/notification-center/components/FeedsTabs.tsx
  packages/notification-center/src/components/notification-center/components/layout/header/Header.tsx
  packages/notification-center/src/components/popover-notification-center/components/Popover.tsx
  packages/notification-center/src/hooks/useMarkNotificationAsRead.ts
  packages/notification-center/src/hooks/useMarkNotificationAsSeen.ts
  packages/notification-center/src/hooks/useNotifications.test.tsx
  packages/notification-center/src/shared/interfaces/index.ts
  packages/notification-center/src/store/notifications-provider.context.tsx
Labels: documentation, @novu/api, @novu/notification-center

#3338 NV-2136 - 🐛 Bug Report: Novu Provider is not working properly.
  packages/notification-center/src/hooks/useFeedUnseenCount.ts
  packages/notification-center/src/hooks/useFetchNotifications.ts
  packages/notification-center/src/hooks/useFetchOrganization.ts
  packages/notification-center/src/hooks/useFetchUserPreferences.ts
  packages/notification-center/src/hooks/useNotifications.test.tsx
  packages/notification-center/src/hooks/useSetQueryKey.ts
  packages/notification-center/src/hooks/useUnseenCount.ts
  packages/notification-center/src/hooks/useUpdateUserPreferences.ts
Labels: @novu/notification-center, community

#3536 feat: add digest and subscriber to push send payload
  apps/worker/src/app/workflow/usecases/send-message/send-message-push.usecase.ts
Labels: @novu/worker

#3525 feat: remove deprecated endpoints
  apps/api/src/app/notifications/activity.controller.ts
  apps/api/src/app/notifications/e2e/get-activity-feed.e2e.ts
  apps/api/src/app/notifications/notification.module.ts
  apps/api/src/app/subscribers/subscribers.controller.ts
  apps/api/src/app/widgets/e2e/get-notification-feed.e2e.ts
  apps/api/src/app/widgets/e2e/get-unseen-count.e2e.ts
  apps/api/src/app/widgets/e2e/mark-as-seen.e2e.ts
  apps/api/src/app/widgets/widgets.controller.ts
  apps/web/src/pages/activities/components/ActivityStatistics.cy.tsx
  packages/client/src/api/api.service.ts
Labels: @novu/api, @novu/web

#3544 Docs(quickstarts: Fix broken links
  docs/docs/overview/quickstart/general-quickstart.md
  docs/docs/platform/topics.md
Labels: documentation
