Repository novuhq/novu, pull requests merged in 2023-10, with the labels that each got.

#4228 Add markNotificationsAs
  packages/headless/src/lib/headless.service.test.ts
  packages/headless/src/lib/headless.service.ts
Labels: community

#4241 Display Novu Version to the WEB UI for self-hosted users
  apps/web/.env
  apps/web/src/components/layout/components/HeaderNav.tsx
  apps/web/src/config/index.ts
Labels: @novu/web, community

#4308 fix(api): malformed filters in messages throw errors
  apps/api/src/app/shared/helpers/content.service.spec.ts
  apps/api/src/app/shared/helpers/content.service.ts
Labels: @novu/api

#4310 docs: Updated node version in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: community

#4178 Nv 2745 global channel subscriber preferences api only
  apps/api/migrations/subscriber-preferences-level/subscriber-preferences-level.migration.ts
  apps/api/src/app/subscribers/dtos/get-subscriber-preferences-response.dto.ts
  apps/api/src/app/subscribers/dtos/index.ts
  apps/api/src/app/subscribers/dtos/update-subscriber-global-preferences-request.dto.ts
  apps/api/src/app/subscribers/e2e/helpers/index.ts
  apps/api/src/app/subscribers/e2e/update-global-preference.e2e.ts
  apps/api/src/app/subscribers/params/get-subscriber-preferences-by-level.params.ts
  apps/api/src/app/subscribers/params/index.ts
  apps/api/src/app/subscribers/subscribers.controller.ts
  apps/api/src/app/subscribers/usecases/get-preferences-by-level/get-preferences-by-level.command.ts
  apps/api/src/app/subscribers/usecases/get-preferences-by-level/get-preferences-by-level.usecase.ts
  apps/api/src/app/subscribers/usecases/get-preferences/get-preferences.command.ts
  apps/api/src/app/subscribers/usecases/get-preferences/get-preferences.usecase.ts
  apps/api/src/app/subscribers/usecases/index.ts
  apps/api/src/app/subscribers/usecases/update-subscriber-global-preferences/index.ts
  apps/api/src/app/subscribers/usecases/update-subscriber-global-preferences/update-subscriber-global-preferences.command.ts
  apps/api/src/app/subscribers/usecases/update-subscriber-global-preferences/update-subscriber-global-preferences.usecase.ts
  apps/api/src/app/subscribers/usecases/update-subscriber-preference/update-subscriber-preference.usecase.ts
  apps/api/src/app/widgets/widgets.controller.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message.usecase.ts
  apps/worker/src/app/workflow/workflow.module.ts
  libs/dal/src/repositories/subscriber-preference/subscriber-preference.entity.ts
  libs/dal/src/repositories/subscriber-preference/subscriber-preference.schema.ts
  libs/shared/src/entities/subscriber-preference/subscriber-preference.interface.ts
  packages/application-generic/src/usecases/create-execution-details/types/index.ts
  packages/application-generic/src/usecases/get-subscriber-global-preference/get-subscriber-global-preference.command.ts
  packages/application-generic/src/usecases/get-subscriber-global-preference/get-subscriber-global-preference.usecase.ts
  packages/application-generic/src/usecases/get-subscriber-global-preference/index.ts
  packages/application-generic/src/usecases/get-subscriber-template-preference/get-subscriber-template-preference.usecase.ts
  packages/application-generic/src/usecases/index.ts
  packages/client/src/api/api.service.ts
  packages/client/src/index.ts
  packages/headless/src/lib/headless.service.test.ts
  packages/headless/src/lib/headless.service.ts
  packages/headless/src/lib/types.ts
  packages/headless/src/utils/query-keys.ts
  packages/node/README.md
  packages/node/src/lib/subscribers/subscriber.interface.ts
  packages/node/src/lib/subscribers/subscribers.ts
  packages/notification-center/src/components/novu-provider/NovuProvider.tsx
  packages/notification-center/src/hooks/index.ts
  packages/notification-center/src/hooks/queryKeys.ts
  packages/notification-center/src/hooks/useFetchUserGlobalPreferences.ts
  packages/notification-center/src/hooks/useFetchUserGlobalPreferencesQueryKey.ts
  packages/notification-center/src/hooks/useUpdateUserGlobalPreferences.ts
  packages/notification-center/src/shared/interfaces/index.ts
  pnpm-lock.yaml
Labels: documentation, @novu/api, @novu/dal, @novu/notification-center, @novu/shared, @novu/worker

#4318 chore(widget): use react-app-rewired instead of craco
  apps/web/cypress/tests/integration-store.spec.ts
  apps/widget/.babelrc
  apps/widget/config-overrides.js
  apps/widget/craco.config.js
  apps/widget/package.json
  apps/widget/src/components/notification-center/NotificationCenterWidget.tsx
  apps/widget/src/utils/browser.ts
  pnpm-lock.yaml
Labels: @novu/web

#4195 refactor: use conditions filter
  apps/api/src/app/events/e2e/trigger-event.e2e.ts
  apps/api/src/app/shared/dtos/step-filter.ts
  apps/api/src/app/workflows/usecases/create-notification-template/create-notification-template.command.ts
  apps/worker/src/app/workflow/specs/conditions-filter.usecase.spec.ts
  apps/worker/src/app/workflow/usecases/index.ts
  apps/worker/src/app/workflow/usecases/message-matcher/index.ts
  apps/worker/src/app/workflow/usecases/message-matcher/message-matcher.command.ts
  apps/worker/src/app/workflow/usecases/message-matcher/message-matcher.usecase.ts
  apps/worker/src/app/workflow/usecases/queue-next-job/queue-next-job.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message.usecase.ts
  apps/worker/src/app/workflow/workflow.module.ts
  libs/dal/src/repositories/notification-template/notification-template.entity.ts
  packages/application-generic/package.json
  packages/application-generic/src/usecases/conditions-filter/conditions-filter.command.ts
  packages/application-generic/src/usecases/conditions-filter/conditions-filter.usecase.ts
  packages/application-generic/src/usecases/select-integration/select-integration.spec.ts
  packages/application-generic/src/usecases/select-integration/select-integration.usecase.ts
  packages/application-generic/src/usecases/select-variant/select-variant.usecase.ts
  pnpm-lock.yaml
Labels: @novu/api, @novu/dal, @novu/worker

#4353 FIX Typos and spelling corrections
  apps/api/e2e/compile-email-template.e2e.ts
  apps/api/src/app/events/usecases/parse-event-request/parse-event-request.usecase.ts
  apps/api/src/app/events/usecases/verify-payload/verify-payload.spec.ts
  apps/api/src/app/subscribers/usecases/search-by-external-subscriber-ids/search-by-external-subscriber-ids.spec.ts
  apps/inbound-mail/src/python/DNS/win32dns.py
  apps/inbound-mail/src/python/dkim/__init__.py
  apps/inbound-mail/src/python/ipaddr.py
  apps/inbound-mail/src/python/spf.py
  apps/worker/src/app/workflow/services/active-jobs-metric.service.ts
  apps/worker/src/app/workflow/services/completed-jobs-metric.service.ts
Labels: @novu/api, community, @novu/worker, @novu/inbound-mail

#4273 docs: Fixed-hyperlink-for-deploying-to-kubernetes
  docker/Readme.md
Labels: community, docker

#4265 Feature/implement hidden button
  apps/web/src/design-system/input/Input.tsx
  apps/web/src/pages/settings/tabs/ApiKeysCard.tsx
  apps/web/src/pages/settings/tabs/EmailSettings.tsx
Labels: @novu/web, community

#4360 chore: add Elixir SDK to hacktoberfest list
  README.md
Labels: community

#4312 Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: community

#4302 fix: fixed react flow link
  apps/web/src/components/quick-start/common/Workflow.styles.tsx
Labels: @novu/web, community

#4393 fix: add missing nodemailer types
  pnpm-lock.yaml
  providers/nodemailer/src/lib/nodemailer.provider.spec.ts
  providers/outlook365/package.json
  providers/outlook365/src/lib/outlook365.provider.ts
Labels: providers

#4390 fix/docs: Add missing provider links in README
  README.md
Labels: community

#4300 feat: add newrelic custom attributes
  apps/worker/src/app/workflow/usecases/run-job/run-job.usecase.ts
Labels: @novu/worker

#4405 feat: added RustSDK to README.md file
  README.md
Labels: community

#4328 feat(providers): add mailtrap
  apps/web/public/static/images/providers/dark/mailtrap.svg
  apps/web/public/static/images/providers/dark/square/mailtrap.svg
  apps/web/public/static/images/providers/light/mailtrap.svg
  apps/web/public/static/images/providers/light/square/mailtrap.svg
  libs/shared/src/consts/providers/channels/email.ts
  libs/shared/src/consts/providers/credentials/provider-credentials.ts
  libs/shared/src/consts/providers/provider.enum.ts
  packages/application-generic/package.json
  packages/application-generic/src/factories/mail/handlers/index.ts
  packages/application-generic/src/factories/mail/handlers/mailtrap.handler.ts
  packages/application-generic/src/factories/mail/mail.factory.ts
  pnpm-lock.yaml
  providers/mailtrap/.czrc
  providers/mailtrap/.eslintrc.json
  providers/mailtrap/.gitignore
  providers/mailtrap/README.md
  providers/mailtrap/jest.config.js
  providers/mailtrap/package.json
  providers/mailtrap/src/index.ts
  providers/mailtrap/src/lib/mailtrap.provider.spec.ts
  providers/mailtrap/src/lib/mailtrap.provider.ts
  providers/mailtrap/tsconfig.json
  providers/mailtrap/tsconfig.module.json
Labels: Hacktoberfest, @novu/web, @novu/shared, providers, community

#4297 fix: Fixed switching the organization the branding information is refetched
  apps/web/src/pages/brand/tabs/BrandingForm.tsx
Labels: @novu/web, community

#4237 fix: Fixed send the sender name in email when using resend email provider
  packages/application-generic/src/factories/mail/handlers/resend.handler.ts
  providers/resend/src/lib/resend.provider.spec.ts
  providers/resend/src/lib/resend.provider.ts
Labels: providers, community

#4420 Allow fetching of no level preferences
  apps/api/src/app/subscribers/usecases/update-subscriber-preference/update-subscriber-preference.usecase.ts
  packages/application-generic/src/usecases/get-subscriber-template-preference/get-subscriber-template-preference.usecase.ts
Labels: @novu/api

#4423 chore: upgrade zod version to latest
  apps/web/package.json
  pnpm-lock.yaml
Labels: @novu/web

#4433 fix(button-variables): button link variables not showing to user in email message editor
  apps/web/src/hooks/useVariablesManager.ts
Labels: @novu/web, community

#4355 FIX updated 'Run Novu Locally' link in README.md file
  README.md
Labels: community

#3464 @novu/node: Add transaction id to broadcast payload options
  packages/application-generic/src/services/queues/completed-jobs-metric-queue.service.spec.ts
  packages/node/src/lib/events/events.interface.ts
  packages/node/src/lib/events/events.ts
Labels: community

#4408 chore(web): refactor step editor sidebar
  apps/web/src/components/workflow/FlowEditor.tsx
  apps/web/src/design-system/sidebar/Sidebar.tsx
  apps/web/src/pages/templates/components/ChannelStepEditor.tsx
  apps/web/src/pages/templates/components/ConditionsSettings.tsx
  apps/web/src/pages/templates/components/DeleteStepRow.tsx
  apps/web/src/pages/templates/components/LackIntegrationAlert.tsx
  apps/web/src/pages/templates/components/ProvidersPage.tsx
  apps/web/src/pages/templates/components/SnippetPage.tsx
  apps/web/src/pages/templates/components/StepEditorSidebar.tsx
  apps/web/src/pages/templates/components/StepName.tsx
  apps/web/src/pages/templates/components/StepNameInput.tsx
  apps/web/src/pages/templates/components/StepNameLabel.tsx
  apps/web/src/pages/templates/components/SubPageWrapper.tsx
  apps/web/src/pages/templates/components/TemplatePushEditor.tsx
  apps/web/src/pages/templates/components/TemplateSMSEditor.tsx
  apps/web/src/pages/templates/components/TemplateSettings.tsx
  apps/web/src/pages/templates/components/TestWorkflow.tsx
  apps/web/src/pages/templates/components/UserPreference.tsx
  apps/web/src/pages/templates/components/VariantsListSidebar.tsx
  apps/web/src/pages/templates/components/VariantsPage.tsx
  apps/web/src/pages/templates/components/WorkflowSidebar.tsx
  apps/web/src/pages/templates/components/chat-editor/TemplateChatEditor.tsx
  apps/web/src/pages/templates/workflow/DelayMetadata.tsx
Labels: @novu/web

#4456 fix(web): add missing square logo for sendchamp
  apps/web/public/static/images/providers/dark/square/sendchamp.svg
  apps/web/public/static/images/providers/light/square/sendchamp.svg
Labels: @novu/web, community

#4459 Fix send message uuuid
  apps/api/src/app/widgets/usecases/mark-all-messages-as/mark-all-messages-as.usecase.ts
  apps/api/src/app/widgets/usecases/mark-message-as/mark-message-as.usecase.ts
  apps/api/src/app/widgets/usecases/remove-message/remove-message.usecase.ts
  apps/api/src/app/widgets/usecases/remove-messages/remove-all-messages.usecase.ts
  apps/worker/src/app/workflow/services/active-jobs-metric.service.ts
  apps/worker/src/app/workflow/services/completed-jobs-metric.service.ts
  packages/application-generic/src/services/bull-mq/bull-mq.service.ts
  packages/application-generic/src/services/queues/queue-base.service.ts
Labels: @novu/api, @novu/worker

#4205 refactor: map subscribers in worker part
  apps/api/src/app/events/e2e/map-trigger-recipients.e2e.ts
  apps/api/src/app/events/events.controller.ts
  apps/api/src/app/events/events.module.ts
  apps/api/src/app/events/usecases/index.ts
  apps/api/src/app/events/usecases/parse-event-request/parse-event-request.usecase.ts
  apps/api/src/app/events/usecases/process-bulk-trigger/process-bulk-trigger.usecase.ts
  apps/api/src/app/topics/dtos/topic-subscriber.dto.ts
  apps/api/src/app/topics/use-cases/index.ts
  apps/worker/src/app/workflow/workflow.module.ts
  libs/shared/src/dto/topic/index.ts
  libs/shared/src/dto/topic/topic-subscriber.interface.ts
  packages/application-generic/src/usecases/get-topic-subscribers/get-topic-subscribers.command.ts
  packages/application-generic/src/usecases/get-topic-subscribers/get-topic-subscribers.use-case.ts
  packages/application-generic/src/usecases/get-topic-subscribers/index.ts
  packages/application-generic/src/usecases/index.ts
  packages/application-generic/src/usecases/map-trigger-recipients/index.ts
  packages/application-generic/src/usecases/map-trigger-recipients/map-trigger-recipients.command.ts
  packages/application-generic/src/usecases/map-trigger-recipients/map-trigger-recipients.use-case.ts
  packages/application-generic/src/usecases/trigger-event/trigger-event.usecase.ts
  pnpm-lock.yaml
Labels: @novu/api, @novu/shared, @novu/worker

#4428 feat: fixed nodes and edges positioning
  apps/web/src/components/workflow/FlowEditor.tsx
Labels: @novu/web

#4399 feat: remove variants from the workflow list response
  apps/api/src/app/workflows/e2e/get-notification-templates.e2e.ts
  libs/dal/src/repositories/notification-template/notification-template.repository.ts
Labels: @novu/api, @novu/dal

#4225 feat: fan-out subscriber processing
  apps/worker/src/app/health/health.controller.ts
  apps/worker/src/app/workflow/services/cold-start.service.ts
  apps/worker/src/app/workflow/services/subscriber-process.worker.ts
  apps/worker/src/app/workflow/workflow.module.ts
  libs/shared/src/config/job-queue.ts
  libs/testing/src/jobs.service.ts
  packages/application-generic/src/custom-providers/index.ts
  packages/application-generic/src/health/index.ts
  packages/application-generic/src/health/subscriber-process-queue.health-indicator.ts
  packages/application-generic/src/modules/queues.module.ts
  packages/application-generic/src/services/bull-mq/bull-mq.service.ts
  packages/application-generic/src/services/queues/index.ts
  packages/application-generic/src/services/queues/queue-base.service.ts
  packages/application-generic/src/services/queues/subscriber-process-queue.service.ts
  packages/application-generic/src/services/workers/index.ts
  packages/application-generic/src/services/workers/subscriber-process-worker.service.ts
  packages/application-generic/src/services/workers/web-sockets-worker.service.ts
  packages/application-generic/src/usecases/index.ts
  packages/application-generic/src/usecases/subscriber-job-bound/subscriber-job-bound.command.ts
  packages/application-generic/src/usecases/subscriber-job-bound/subscriber-job-bound.usecase.ts
  packages/application-generic/src/usecases/trigger-event/trigger-event.usecase.ts
Labels: @novu/shared, @novu/worker

#4467 Update 0.20 with latest changes
  apps/api/src/app/events/e2e/map-trigger-recipients.e2e.ts
  apps/api/src/app/events/events.controller.ts
  apps/api/src/app/events/events.module.ts
  apps/api/src/app/events/usecases/index.ts
  apps/api/src/app/events/usecases/parse-event-request/parse-event-request.usecase.ts
  apps/api/src/app/events/usecases/process-bulk-trigger/process-bulk-trigger.usecase.ts
  apps/api/src/app/topics/dtos/topic-subscriber.dto.ts
  apps/api/src/app/topics/use-cases/index.ts
  apps/web/public/static/images/providers/dark/square/sendchamp.svg
  apps/web/public/static/images/providers/light/square/sendchamp.svg
  apps/worker/src/app/health/health.controller.ts
  apps/worker/src/app/workflow/services/cold-start.service.ts
  apps/worker/src/app/workflow/services/subscriber-process.worker.ts
  apps/worker/src/app/workflow/workflow.module.ts
  libs/dal/src/repositories/base-repository.ts
  libs/dal/src/repositories/environment/environment.repository.ts
  libs/dal/src/repositories/organization/organization.repository.ts
  libs/dal/src/repositories/subscription-preference/subscription-preference.repository.ts
  libs/dal/src/repositories/tenant/tenant.repository.ts
  libs/dal/src/repositories/user/user.repository.ts
  libs/shared/src/config/job-queue.ts
  libs/shared/src/dto/topic/index.ts
  libs/shared/src/dto/topic/topic-subscriber.interface.ts
  libs/testing/src/jobs.service.ts
  packages/application-generic/src/custom-providers/index.ts
  packages/application-generic/src/health/index.ts
  packages/application-generic/src/health/subscriber-process-queue.health-indicator.ts
  packages/application-generic/src/modules/queues.module.ts
  packages/application-generic/src/services/bull-mq/bull-mq.service.ts
  packages/application-generic/src/services/queues/index.ts
  packages/application-generic/src/services/queues/queue-base.service.ts
  packages/application-generic/src/services/queues/subscriber-process-queue.service.ts
  packages/application-generic/src/services/workers/index.ts
  packages/application-generic/src/services/workers/subscriber-process-worker.service.ts
  packages/application-generic/src/services/workers/web-sockets-worker.service.ts
  packages/application-generic/src/usecases/get-topic-subscribers/get-topic-subscribers.command.ts
  packages/application-generic/src/usecases/get-topic-subscribers/get-topic-subscribers.use-case.ts
  packages/application-generic/src/usecases/get-topic-subscribers/index.ts
  packages/application-generic/src/usecases/index.ts
  packages/application-generic/src/usecases/map-trigger-recipients/index.ts
  packages/application-generic/src/usecases/map-trigger-recipients/map-trigger-recipients.command.ts
  packages/application-generic/src/usecases/map-trigger-recipients/map-trigger-recipients.use-case.ts
  packages/application-generic/src/usecases/select-integration/select-integration.usecase.ts
  packages/application-generic/src/usecases/subscriber-job-bound/subscriber-job-bound.command.ts
  packages/application-generic/src/usecases/subscriber-job-bound/subscriber-job-bound.usecase.ts
  packages/application-generic/src/usecases/trigger-event/trigger-event.usecase.ts
  packages/headless/src/lib/types.ts
  pnpm-lock.yaml
Labels: @novu/api, @novu/web, @novu/dal, @novu/shared, @novu/worker

#4429 feat(api): Add Access-Control-Max-Age response header
  apps/api/src/bootstrap.ts
Labels: @novu/api

#4073 feat(dal): Configure minimum connection pool size by env var
  apps/api/src/.env.production
  apps/api/src/config/env-validator.ts
  apps/api/src/types/env.d.ts
  apps/webhook/src/.env.production
  apps/worker/src/.env.production
  apps/worker/src/config/env-validator.ts
  apps/worker/src/types/env.d.ts
  apps/ws/src/.env.production
  docker/kubernetes/helm/README.md
  docker/kubernetes/helm/templates/api/deployment.yaml
  docker/kubernetes/helm/templates/worker/deployment.yaml
  docker/kubernetes/helm/templates/ws/deployment.yaml
  docker/kubernetes/helm/values.yaml
  docker/kubernetes/kustomize/env-dev
  docker/local/deployment/docker-compose.yml
  libs/dal/src/dal.service.ts
  libs/dal/src/types/env.d.ts
Labels: documentation, @novu/api, @novu/dal, community, @novu/worker, helm, kustomize, docker

#4158 refactor: refactored add digest job usecase
  apps/api/src/app/events/e2e/delay-events.e2e.ts
  apps/api/src/app/events/e2e/digest-events.e2e.ts
  apps/api/src/app/events/e2e/trigger-event.e2e.ts
  apps/api/src/app/events/events.module.ts
  apps/worker/src/app/shared/shared.module.ts
  apps/worker/src/app/workflow/services/standard.worker.spec.ts
  apps/worker/src/app/workflow/services/standard.worker.ts
  apps/worker/src/app/workflow/usecases/run-job/run-job.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/digest/digest.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/digest/get-digest-events-backoff.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/digest/get-digest-events-regular.usecase.ts
  apps/worker/src/app/workflow/workflow.module.ts
  libs/dal/src/repositories/job/job.entity.ts
  libs/dal/src/repositories/job/job.repository.ts
  libs/dal/src/repositories/job/job.schema.ts
  libs/shared/src/entities/job/status.enum.ts
  libs/shared/src/types/feature-flags/index.ts
  libs/testing/src/user.session.ts
  packages/application-generic/src/custom-providers/index.ts
  packages/application-generic/src/services/distributed-lock/distributed-lock.service.ts
  packages/application-generic/src/services/events-distributed-lock.service.ts
  packages/application-generic/src/usecases/add-job/add-digest-job.usecase.ts
  packages/application-generic/src/usecases/add-job/add-job.usecase.ts
  packages/application-generic/src/usecases/add-job/index.ts
  packages/application-generic/src/usecases/add-job/merge-or-create-digest.command.ts
  packages/application-generic/src/usecases/add-job/merge-or-create-digest.usecase.ts
  packages/application-generic/src/usecases/create-notification-jobs/create-notification-jobs.usecase.ts
  packages/application-generic/src/usecases/digest-filter-steps/digest-filter-steps.usecase.ts
  packages/application-generic/src/usecases/get-feature-flag/get-use-merged-digest-id.use-case.ts
  packages/application-generic/src/usecases/get-feature-flag/index.ts
  pnpm-lock.yaml
Labels: @novu/api, @novu/dal, @novu/shared, @novu/worker

#4486 added API reference docs
  README.md
Labels: community

#4473 feat(provider): clicksend sms provider addition
  .cspell.json
  apps/web/public/static/images/providers/dark/clicksend.png
  apps/web/public/static/images/providers/dark/square/clicksend.svg
  apps/web/public/static/images/providers/light/clicksend.png
  apps/web/public/static/images/providers/light/square/clicksend.svg
  libs/shared/src/consts/providers/channels/sms.ts
  libs/shared/src/consts/providers/credentials/provider-credentials.ts
  libs/shared/src/consts/providers/provider.enum.ts
  packages/application-generic/package.json
  packages/application-generic/src/factories/sms/handlers/clicksend.handler.ts
  packages/application-generic/src/factories/sms/handlers/index.ts
  packages/application-generic/src/factories/sms/sms.factory.ts
  pnpm-lock.yaml
  providers/clicksend/.czrc
  providers/clicksend/.eslintrc.json
  providers/clicksend/.gitignore
  providers/clicksend/README.md
  providers/clicksend/jest.config.js
  providers/clicksend/package.json
  providers/clicksend/src/index.ts
  providers/clicksend/src/lib/clicksend.provider.spec.ts
  providers/clicksend/src/lib/clicksend.provider.ts
  providers/clicksend/tsconfig.json
  providers/clicksend/tsconfig.module.json
Labels: @novu/web, @novu/shared, providers, community

#4503 fix(worker): user avatar is not showing up in in-app notification
  apps/api/src/app/events/e2e/trigger-event.e2e.ts
  libs/testing/src/create-notification-template.interface.ts
  libs/testing/src/notification-template.service.ts
  packages/application-generic/src/usecases/subscriber-job-bound/subscriber-job-bound.command.ts
  packages/application-generic/src/usecases/subscriber-job-bound/subscriber-job-bound.usecase.ts
  packages/application-generic/src/usecases/trigger-event/trigger-event.usecase.ts
Labels: @novu/api

#4495 feat(worker): handle different push flows with better exec details
  apps/api/src/app/events/e2e/send-message-push.e2e.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-push.usecase.ts
  packages/application-generic/src/usecases/create-execution-details/types/index.ts
Labels: @novu/api, @novu/worker

#4445 chore(web): refactor editor sidebar header actions
  apps/web/cypress/support/commands.ts
  apps/web/cypress/tests/changes.spec.ts
  apps/web/cypress/tests/digest-playground.spec.ts
  apps/web/cypress/tests/integrations-list-page.spec.ts
  apps/web/cypress/tests/notification-editor/debugging-test-trigger.spec.ts
  apps/web/cypress/tests/notification-editor/index.ts
  apps/web/cypress/tests/notification-editor/main-functionality.spec.ts
  apps/web/cypress/tests/notification-editor/steps-actions.spec.ts
  apps/web/src/components/conditions/Conditions.tsx
  apps/web/src/components/workflow/types.ts
  apps/web/src/design-system/ThemeProvider.tsx
  apps/web/src/design-system/button/ActionButton.tsx
  apps/web/src/design-system/index.ts
  apps/web/src/design-system/modal/Modal.tsx
  apps/web/src/design-system/sidebar/Close.tsx
  apps/web/src/design-system/sidebar/Sidebar.tsx
  apps/web/src/design-system/tooltip/Tooltip.tsx
  apps/web/src/pages/integrations/components/ConditionIconButton.tsx
  apps/web/src/pages/integrations/components/PrimaryIconButton.tsx
  apps/web/src/pages/integrations/components/UpdateIntegrationSidebarHeader.tsx
  apps/web/src/pages/integrations/components/multi-provider/CreateProviderInstanceSidebar.tsx
  apps/web/src/pages/templates/components/ConditionsSettings.tsx
  apps/web/src/pages/templates/components/DeleteConfirmModal.tsx
  apps/web/src/pages/templates/components/EditorSidebarHeaderActions.tsx
  apps/web/src/pages/templates/components/NavigateValidatorModal.tsx
  apps/web/src/pages/templates/components/StepEditorSidebar.tsx
  apps/web/src/pages/templates/components/StepNameLabel.tsx
  apps/web/src/pages/templates/components/TemplateEditorFormProvider.tsx
  apps/web/src/pages/templates/components/UnsavedChangesModal.tsx
  apps/web/src/pages/templates/components/VariableManager.cy.tsx
  apps/web/src/pages/templates/components/VariantsListSidebar.tsx
  apps/web/src/pages/templates/components/WorkflowSidebar.tsx
  apps/web/src/pages/templates/hooks/useStepInfoPath.ts
  apps/web/src/pages/templates/hooks/useStepSubtitle.tsx
  apps/web/src/pages/templates/workflow/DigestMetadata.cy.tsx
  apps/web/src/pages/templates/workflow/WorkflowEditor.tsx
  apps/web/src/pages/templates/workflow/workflow/node-types/ChannelNode.tsx
  apps/web/src/pages/templates/workflow/workflow/node-types/TriggerNode.tsx
  apps/web/src/pages/templates/workflow/workflow/node-types/WorkflowNode.tsx
  apps/web/src/testing/index.tsx
  libs/shared/src/entities/message-template/message-template.interface.ts
Labels: @novu/web, @novu/shared

#4491 feat(web): variants list sidebar
  apps/web/src/components/conditions/Conditions.tsx
  apps/web/src/components/workflow/FlowEditor.tsx
  apps/web/src/components/workflow/types.ts
  apps/web/src/design-system/dropdown/Dropdown.tsx
  apps/web/src/design-system/icons/actions/NoConditions.tsx
  apps/web/src/design-system/icons/arrows/ChevronPlainDown.tsx
  apps/web/src/design-system/icons/general/Conditions.tsx
  apps/web/src/design-system/icons/index.ts
  apps/web/src/design-system/index.ts
  apps/web/src/design-system/sidebar/Sidebar.tsx
  apps/web/src/design-system/template-button/TemplateButton.styles.ts
  apps/web/src/pages/templates/components/FloatingButton.tsx
  apps/web/src/pages/templates/components/TemplateEditorFormProvider.tsx
  apps/web/src/pages/templates/components/VariantItemCard.tsx
  apps/web/src/pages/templates/components/VariantsListSidebar.tsx
  apps/web/src/pages/templates/components/VariantsPage.tsx
  apps/web/src/pages/templates/components/formTypes.ts
  apps/web/src/pages/templates/components/templateToFormMappers.ts
  apps/web/src/pages/templates/workflow/WorkflowEditor.tsx
  apps/web/src/pages/templates/workflow/workflow/node-types/ChannelNode.tsx
  apps/web/src/pages/templates/workflow/workflow/node-types/TriggerNode.tsx
  apps/web/src/pages/templates/workflow/workflow/node-types/WorkflowNode.tsx
  apps/web/src/pages/templates/workflow/workflow/node-types/WorkflowNodeActions.tsx
Labels: @novu/web

#4472 feat: add idempotency interceptor
  .cspell.json
  apps/api/e2e/idempotency.e2e.ts
  apps/api/src/.env.development
  apps/api/src/.env.production
  apps/api/src/.env.test
  apps/api/src/app.module.ts
  apps/api/src/app/shared/framework/idempotency.interceptor.ts
  apps/api/src/app/testing/dtos/idempotency.dto.ts
  apps/api/src/app/testing/testing.controller.ts
  apps/api/src/types/env.d.ts
  packages/application-generic/src/services/cache/cache-service.spec.ts
  packages/application-generic/src/services/cache/cache.service.ts
Labels: @novu/api, community

#4524 Revert "feat: add idempotency interceptor"
  .cspell.json
  apps/api/e2e/idempotency.e2e.ts
  apps/api/src/.env.development
  apps/api/src/.env.production
  apps/api/src/.env.test
  apps/api/src/app.module.ts
  apps/api/src/app/shared/framework/idempotency.interceptor.ts
  apps/api/src/app/testing/dtos/idempotency.dto.ts
  apps/api/src/app/testing/testing.controller.ts
  apps/api/src/types/env.d.ts
  packages/application-generic/src/services/cache/cache-service.spec.ts
  packages/application-generic/src/services/cache/cache.service.ts
Labels: @novu/api

#4519 feat: Update Cypress to the latest version
  apps/web/package.json
  apps/widget/package.json
  package.json
  pnpm-lock.yaml
Labels: @novu/web, community

#4525 added Typescript docs
  apps/api/README.md
Labels: @novu/api, community

#4520 Update README.md
  README.md
Labels: community

#4227 Update nodemon version
  .cspell.json
  apps/api/package.json
  apps/inbound-mail/package.json
  apps/web/package.json
  apps/webhook/package.json
  apps/widget/package.json
  apps/worker/package.json
  apps/ws/package.json
  libs/dal/package.json
  libs/testing/package.json
  package.json
  packages/cli/package.json
  pnpm-lock.yaml
Labels: @novu/api, @novu/web, @novu/dal, @novu/webhook, @novu/ws, @novu/worker, @novu/inbound-mail

#4444 Fix: visual bug on plus button in editor
  apps/web/src/components/workflow/FlowEditor.tsx
  apps/web/src/design-system/icons/actions/PlusCircleOutlined.tsx
  apps/web/src/pages/templates/workflow/workflow/node-types/AddNode.tsx
Labels: @novu/web, community

#4284 fix: Bug fixed for add filter button in production
  apps/web/src/pages/templates/filter/FilterModal.tsx
  apps/web/src/pages/templates/filter/OnlineFiltersForms.tsx
  apps/web/src/pages/templates/filter/PreviousStepFiltersForm.tsx
  apps/web/src/pages/templates/workflow/SideBar/StepSettings.tsx
Labels: @novu/web, community

#4510 docs: fix typo in docker/kubernetes/helm/README.md
  docker/kubernetes/helm/README.md
Labels: community, helm, docker

#4509 docs: fix typo in packages/node/README.md
  packages/node/README.md
Labels: community

#4528 PNPM upgrade
  .devcontainer/Dockerfile
  .gitpod.dockerfile
  _templates/provider/new/package.ejs.t
  apps/api/Dockerfile
  apps/inbound-mail/Dockerfile
  apps/web/Dockerfile
  apps/webhook/Dockerfile
  apps/widget/Dockerfile
  apps/worker/Dockerfile
  apps/ws/Dockerfile
  libs/embed/Dockerfile
  package.json
  pnpm-lock.yaml
  providers/africas-talking/package.json
  providers/clicksend/package.json
  providers/forty-six-elks/package.json
  providers/mailtrap/package.json
  providers/maqsam/package.json
  providers/mattermost/package.json
  providers/one-signal/package.json
  providers/plunk/package.json
  providers/push-webhook/package.json
  providers/sendchamp/package.json
  providers/sms-central/package.json
  scripts/dev-environment-setup.sh
Labels: @novu/api, @novu/web, @novu/webhook, @novu/ws, providers, @novu/worker, @novu/inbound-mail, scripts

#4530 fix: cypress parallel
  .github/workflows/reusable-web-e2e.yml
  .github/workflows/reusable-widget-e2e.yml
  apps/web/env.sh
  apps/web/src/index.tsx
  apps/widget/src/index.tsx
  libs/dal/package.json
  libs/testing/package.json
  pnpm-lock.yaml
Labels: @novu/web, @novu/dal, CI/CD

#4532 chore: dependencies security vulnerability fix
  apps/api/package.json
  apps/web/package.json
  apps/widget/package.json
  package.json
  pnpm-lock.yaml
Labels: @novu/api, @novu/web

#4536 chore: Updated Mocha to 10.2.0
  apps/api/package.json
  apps/inbound-mail/package.json
  apps/webhook/package.json
  apps/worker/package.json
  apps/ws/package.json
  packages/cli/package.json
  pnpm-lock.yaml
  providers/fcm/package.json
Labels: @novu/api, @novu/webhook, @novu/ws, providers, @novu/worker, @novu/inbound-mail

#4514 fix(worker): self hosted metrics services were not shutdown properly
  apps/worker/src/app/workflow/services/active-jobs-metric.service.ts
  apps/worker/src/app/workflow/services/completed-jobs-metric.service.ts
Labels: @novu/worker

#4389 fix/docs: update README component links
  README.md
Labels: community

#4535 fix(server): made entire reactangle clickable rather than arro only
  apps/web/src/pages/templates/components/LackIntegrationAlert.tsx
Labels: @novu/web, community

#4490 fix: so get environment is not shown in swagger
  apps/api/src/app/environments/environments.controller.ts
Labels: @novu/api

#4451 feat: add abity to remove uploaded brand logo
  apps/web/src/pages/brand/tabs/BrandingForm.tsx
Labels: @novu/web, community

#4475 Feat : add readiness health check retry
  apps/worker/src/app/health/health.controller.ts
  apps/worker/src/bootstrap.ts
  packages/application-generic/src/health/active-jobs-metric-queue.health-indicator.ts
  packages/application-generic/src/health/completed-jobs-metric-queue.health-indicator.ts
  packages/application-generic/src/health/standard-queue.health-indicator.ts
  packages/application-generic/src/health/subscriber-process-queue.health-indicator.ts
  packages/application-generic/src/health/workflow-queue.health-indicator.ts
  packages/application-generic/src/services/readiness/readiness.service.spec.ts
  packages/application-generic/src/services/readiness/readiness.service.ts
Labels: @novu/worker

#4014 Update Novu to Node 18 LTS
  .cspell.json
  .devcontainer/Dockerfile
  .devcontainer/docker-compose.yml
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/actions/setup-project/action.yml
  .github/workflows/community-label.yml
  .github/workflows/issue-label.yml
  .github/workflows/milestone-assign.yml
  .github/workflows/reusable-web-e2e.yml
  .github/workflows/reusable-widget-e2e.yml
  .github/workflows/tag-images.yml
  .nvmrc
  CONTRIBUTING.md
  _templates/provider/new/package.ejs.t
  apps/api/Dockerfile
  apps/inbound-mail/Dockerfile
  apps/web/Dockerfile
  apps/web/cypress.config.ts
  apps/webhook/Dockerfile
  apps/widget/Dockerfile
  apps/worker/Dockerfile
  apps/ws/Dockerfile
  libs/embed/Dockerfile
  package.json
  providers/africas-talking/package.json
  providers/forty-six-elks/package.json
  providers/maqsam/package.json
  providers/mattermost/package.json
  providers/one-signal/package.json
  providers/plunk/package.json
  providers/push-webhook/package.json
  providers/sendchamp/package.json
  providers/sms-central/package.json
  scripts/dev-environment-setup.sh
Labels: documentation, @novu/api, @novu/web, @novu/webhook, @novu/ws, providers, community, @novu/worker, CI/CD, @novu/inbound-mail, scripts

#4543 fix: Remove templateId while creating variant
  apps/web/src/pages/templates/components/TemplateEditorFormProvider.tsx
Labels: @novu/web

#4578 redis docs
  docker/local/Readme.md
Labels: community, docker

#4576 fix: updated the print-affected-array script after updating the nx
  scripts/print-affected-array.mjs
Labels: scripts

#4600 Update README.md
  README.md
Labels: community

#4598 Added words for Kannada language translation and also changed the language code
  packages/notification-center/src/i18n/lang.ts
  packages/notification-center/src/i18n/languages/kn.ts
Labels: Hacktoberfest, @novu/notification-center, community

#4413 fix: Added Warning and Error icons to Worlflow settings component
  apps/web/src/design-system/icons/general/WarningIcon.tsx
  apps/web/src/pages/templates/components/LackIntegrationAlert.tsx
  apps/web/src/pages/templates/components/ListProviders.tsx
Labels: @novu/web, community

#4616 fix(api): Cancel all jobs related to a transactionId from the 'cancel' method
  .commitlintrc.json
  apps/api/src/app/events/e2e/delay-events.e2e.ts
  apps/api/src/app/events/usecases/cancel-delayed/cancel-delayed.usecase.ts
  pnpm-lock.yaml
Labels: @novu/api

#4574 Fix icon overlapping
  apps/web/src/design-system/sidebar/Sidebar.tsx
Labels: Hacktoberfest, @novu/web, hacktoberfest-accepted, community

#4504 fix: change custom data type and add test in node sdk
  libs/shared/src/types/events/index.ts
  packages/node/src/lib/events/events.interface.ts
  packages/node/src/lib/events/events.spec.ts
  packages/stateless/src/lib/provider/provider.interface.ts
Labels: @novu/shared

#4278 feat: add actor to system variables
  apps/api/src/app/events/dtos/trigger-event-request.dto.ts
  apps/api/src/app/events/dtos/trigger-event-to-all-request.dto.ts
  apps/api/src/app/events/e2e/trigger-event.e2e.ts
  apps/api/src/app/events/events.controller.ts
  apps/api/src/app/events/usecases/parse-event-request/parse-event-request.command.ts
  apps/api/src/app/events/usecases/process-bulk-trigger/process-bulk-trigger.usecase.ts
  apps/web/src/components/execution-detail/ExecutionDetailTrigger.tsx
  apps/worker/src/app/workflow/usecases/send-message/send-message-chat.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-email.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-in-app.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-push.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-sms.usecase.ts
  libs/dal/src/repositories/job/job.entity.ts
  libs/dal/src/repositories/job/job.schema.ts
  libs/dal/src/repositories/notification/notification.repository.ts
  libs/shared/src/entities/message-template/message-template.interface.ts
  libs/shared/src/entities/notification-template/notification-template.interface.ts
  packages/application-generic/src/usecases/create-notification-jobs/create-notification-jobs.usecase.ts
  packages/application-generic/src/usecases/trigger-event/trigger-event.command.ts
  pnpm-lock.yaml
Labels: @novu/api, @novu/web, @novu/dal, @novu/shared, @novu/worker

#4502 feat: add variant flow
  apps/web/src/App.tsx
  apps/web/src/components/workflow/FlowEditor.tsx
  apps/web/src/components/workflow/types.ts
  apps/web/src/design-system/sidebar/Sidebar.tsx
  apps/web/src/pages/templates/components/EditorSidebarHeaderActions.tsx
  apps/web/src/pages/templates/components/StepEditorSidebar.tsx
  apps/web/src/pages/templates/components/VariantItemCard.tsx
  apps/web/src/pages/templates/components/VariantsPage.tsx
  apps/web/src/pages/templates/hooks/useFilterPartsList.ts
  apps/web/src/pages/templates/hooks/useStepVariantsCount.ts
  apps/web/src/pages/templates/hooks/useStepsBefore.ts
  apps/web/src/pages/templates/workflow/WorkflowEditor.tsx
  apps/web/src/pages/templates/workflow/workflow/node-types/ChannelNode.tsx
  pnpm-lock.yaml
Labels: @novu/web

#4568 fix: sender name in mandrill provider
  packages/application-generic/src/factories/mail/handlers/mandrill.handler.ts
  providers/mandrill/README.md
  providers/mandrill/src/lib/mandril.interface.ts
  providers/mandrill/src/lib/mandrill.provider.spec.ts
  providers/mandrill/src/lib/mandrill.provider.ts
Labels: Hacktoberfest, providers, community

#4239 fix: changed the logout icon from a trash to that of a log out icon
  apps/web/src/components/layout/components/HeaderNav.tsx
  apps/web/src/design-system/icons/general/Logout.tsx
  apps/web/src/design-system/icons/general/UserAccess.tsx
  apps/web/src/design-system/icons/index.ts
  novu.code-workspace
  pnpm-lock.yaml
Labels: @novu/web, community

#4626 docs(notification-center-vue): Fix repository url
  packages/notification-center-vue/package.json
Labels: @novu/notification-center-vue

#4629 fix(api): integration removal organization context
  apps/api/src/app/integrations/usecases/remove-integration/remove-integration.usecase.ts
Labels: @novu/api

#4292 fix: Focus popover while hovering over card step
  apps/web/src/components/quick-start/digest-demo-flow/NodeStepWithPopover.tsx
Labels: @novu/web, community

#4301 Fix the kebab-case for css properties warning
  apps/web/src/design-system/button/Button.styles.ts
Labels: @novu/web, community

#4298 fix: first-child replaced with first-of-type due to SSR warning
  apps/web/src/components/quick-start/digest-demo-flow/NodeStepWithPopover.tsx
  apps/web/src/components/workflow/FlowEditor.tsx
  apps/web/src/components/workflow/NodeStep.tsx
  apps/web/src/pages/templates/workflow/SideBar/AddStepMenu.tsx
Labels: @novu/web, community

#4632 refactor: replace findby id with findone
  apps/api/src/app/auth/e2e/user-registration.e2e.ts
  apps/api/src/app/environments/usecases/create-environment/create-environment.e2e.ts
  apps/api/src/app/environments/usecases/regenerate-api-keys/regenerate-api-keys.usecase.ts
  apps/api/src/app/events/e2e/digest-events.e2e.ts
  apps/api/src/app/integrations/e2e/set-itegration-as-primary.e2e.ts
  apps/api/src/app/integrations/usecases/set-integration-as-primary/set-integration-as-primary.usecase.ts
  apps/api/src/app/integrations/usecases/update-integration/update-integration.usecase.ts
  apps/api/src/app/message-template/usecases/create-message-template/create-message-template.usecase.ts
  apps/api/src/app/message-template/usecases/update-message-template/update-message-template.usecase.ts
  apps/api/src/app/messages/e2e/remove-message.e2e.ts
  apps/api/src/app/organization/e2e/members/remove-member.e2e.ts
  apps/api/src/app/subscribers/usecases/chat-oauth-callback/chat-oauth-callback.usecase.ts
  apps/api/src/app/subscribers/usecases/delete-subscriber-credentials/delete-subscriber-credentials.spec.ts
  apps/api/src/app/subscribers/usecases/update-subscriber-channel/update-subscriber-channel.spec.ts
  apps/api/src/app/widgets/e2e/mark-as-seen.e2e.ts
  apps/api/src/app/widgets/usecases/mark-action-as-done/update-message-actions.usecase.ts
  apps/api/src/app/widgets/usecases/remove-messages/remove-all-messages.usecase.ts
  apps/worker/src/app/workflow/usecases/handle-last-failed-job/handle-last-failed-job.usecase.ts
  apps/worker/src/app/workflow/usecases/run-job/run-job.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-in-app.usecase.ts
  apps/ws/src/socket/usecases/external-services-route/external-services-route.command.ts
  apps/ws/src/socket/usecases/external-services-route/external-services-route.spec.ts
  apps/ws/src/socket/usecases/external-services-route/external-services-route.usecase.ts
  libs/dal/src/repositories/base-repository.ts
  libs/dal/src/repositories/organization/organization.repository.ts
  libs/dal/src/repositories/user/user.repository.ts
  packages/application-generic/src/usecases/switch-environment/switch-environment.usecase.ts
  packages/application-generic/src/usecases/update-subscriber/update-subscriber.spec.ts
Labels: @novu/api, @novu/dal, @novu/ws, @novu/worker

#4640 V0.20.x
  apps/api/src/app/integrations/usecases/remove-integration/remove-integration.usecase.ts
  apps/api/src/app/integrations/usecases/set-integration-as-primary/set-integration-as-primary.usecase.ts
  apps/api/src/app/integrations/usecases/update-integration/update-integration.usecase.ts
Labels: @novu/api

#4583 feat: added delete functionality
  apps/web/src/pages/templates/components/EditorSidebarHeaderActions.tsx
  apps/web/src/pages/templates/components/TemplateEditorFormProvider.tsx
  apps/web/src/pages/templates/components/VariantItemCard.tsx
Labels: @novu/web

#4584 feat: remove delete step footer
  apps/web/cypress/tests/notification-editor/steps-actions.spec.ts
  apps/web/src/pages/templates/components/DeleteStepRow.tsx
  apps/web/src/pages/templates/components/StepEditorSidebar.tsx
Labels: @novu/web

#4627 fix(web): the conditions scrollbar issue
  apps/web/src/components/conditions/Conditions.tsx
Labels: @novu/web

#4470 feat(provider): Add Ryver Chat Provider for Ticket #4370
  .cspell.json
  apps/web/public/static/images/providers/dark/ryver.png
  apps/web/public/static/images/providers/light/ryver.png
  libs/shared/src/consts/providers/channels/chat.ts
  libs/shared/src/consts/providers/provider.enum.ts
  packages/application-generic/package.json
  packages/application-generic/src/factories/chat/chat.factory.ts
  packages/application-generic/src/factories/chat/handlers/ryver.handler.ts
  pnpm-lock.yaml
  providers/ryver/.czrc
  providers/ryver/.eslintrc.json
  providers/ryver/.gitignore
  providers/ryver/README.md
  providers/ryver/package.json
  providers/ryver/src/index.ts
  providers/ryver/src/lib/ryver.provider.spec.ts
  providers/ryver/src/lib/ryver.provider.ts
  providers/ryver/tsconfig.json
  providers/ryver/tsconfig.module.json
Labels: @novu/web, @novu/shared, providers, community

#4518 feat(notification-center-angular): Support Angular versions 15+
  package.json
  packages/notification-center-angular/README.md
  packages/notification-center-angular/package.json
  packages/notification-center-angular/projects/notification-center-angular/README.md
  packages/notification-center-angular/projects/notification-center-angular/ng-package.json
  packages/notification-center-angular/projects/notification-center-angular/package.json
  packages/notification-center-angular/projects/notification-center-angular/tsconfig.lib.json
  packages/notification-center-angular/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: @novu/notification-center-angular

#4620 fix: fix delete variant function
  apps/api/src/app/workflows/usecases/update-notification-template/update-notification-template.usecase.ts
Labels: @novu/api

#4551 feat(provider): bandwidth SMS provider added
  apps/web/public/static/images/providers/dark/bandwidth.png
  apps/web/public/static/images/providers/light/bandwidth.png
  apps/web/src/pages/integrations/components/multi-provider/sort-providers.ts
  libs/shared/src/consts/providers/channels/sms.ts
  libs/shared/src/consts/providers/credentials/provider-credentials.ts
  libs/shared/src/consts/providers/provider.enum.ts
  packages/application-generic/package.json
  packages/application-generic/src/factories/sms/handlers/bandwidth.handler.ts
  packages/application-generic/src/factories/sms/handlers/index.ts
  packages/application-generic/src/factories/sms/sms.factory.ts
  pnpm-lock.yaml
  providers/bandwidth/.czrc
  providers/bandwidth/.eslintrc.json
  providers/bandwidth/.gitignore
  providers/bandwidth/README.md
  providers/bandwidth/jest.config.js
  providers/bandwidth/package.json
  providers/bandwidth/src/index.ts
  providers/bandwidth/src/lib/bandwidth.provider.spec.ts
  providers/bandwidth/src/lib/bandwidth.provider.ts
  providers/bandwidth/tsconfig.json
  providers/bandwidth/tsconfig.module.json
Labels: @novu/web, @novu/shared, providers, community

#4619 fix: organization apis are accessible through api key
  apps/api/src/app/organization/dtos/member-response.dto.ts
  apps/api/src/app/organization/dtos/organization-response.dto.ts
  apps/api/src/app/organization/organization.controller.ts
  apps/api/src/app/organization/organization.module.ts
  apps/api/src/app/organization/usecases/membership/get-members/get-members.usecase.ts
  apps/api/src/bootstrap.ts
  libs/dal/src/repositories/organization/organization.entity.ts
  packages/node/README.md
Labels: @novu/api, @novu/dal

#4631 feat: add template id support in mailersend
  apps/worker/src/app/workflow/usecases/message-matcher/message-matcher.usecase.ts
  pnpm-lock.yaml
  providers/mailersend/src/lib/mailersend.provider.spec.ts
  providers/mailersend/src/lib/mailersend.provider.ts
Labels: providers, @novu/worker

#4402 chore(web): Remove multi provider feature flag
  apps/web/cypress/tests/integration-store.spec.ts
  apps/web/cypress/tests/integrations-list-modal.spec.ts
  apps/web/cypress/tests/integrations-list-page.spec.ts
  apps/web/src/config/index.ts
  apps/web/src/hooks/integrations/useGetPrimaryIntegration.ts
  apps/web/src/hooks/useFeatureFlags.ts
  apps/web/src/pages/integrations/IntegrationsListPage.tsx
  apps/web/src/pages/integrations/IntegrationsStoreModal.tsx
  apps/web/src/pages/integrations/IntegrationsStorePage.tsx
  apps/web/src/pages/integrations/components/multi-provider/useSelectPrimaryIntegrationModal.tsx
  apps/web/src/pages/integrations/useProviders.ts
  apps/web/src/pages/quick-start/steps/GetStarted.tsx
  apps/web/src/pages/templates/components/LackIntegrationAlert.tsx
  apps/web/src/pages/templates/components/ListProviders.tsx
  apps/web/src/pages/templates/components/ProvidersPage.tsx
  apps/web/src/pages/templates/components/email-editor/EmailContentCard.tsx
  apps/web/src/pages/templates/editor/Preview.tsx
  apps/web/src/pages/templates/workflow/workflow/node-types/WorkflowNode.tsx
Labels: @novu/web

#4403 chore(api, worker): Remove multi provider feature flag
  apps/api/README.md
  apps/api/src/.env.test
  apps/api/src/app/events/e2e/trigger-event.e2e.ts
  apps/api/src/app/integrations/e2e/create-integration.e2e.ts
  apps/api/src/app/integrations/e2e/deactivate-integration.e2e.ts
  apps/api/src/app/integrations/e2e/get-active-integration.e2e.ts
  apps/api/src/app/integrations/e2e/get-decrypted-integrations.e2e.ts
  apps/api/src/app/integrations/e2e/get-integration.e2e.ts
  apps/api/src/app/integrations/e2e/remove-integration.e2e.ts
  apps/api/src/app/integrations/e2e/set-itegration-as-primary.e2e.ts
  apps/api/src/app/integrations/e2e/update-integration.e2e.ts
  apps/api/src/app/integrations/usecases/create-integration/create-integration.usecase.ts
  apps/api/src/app/integrations/usecases/deactivate-integration/deactivate-integration.command.ts
  apps/api/src/app/integrations/usecases/deactivate-integration/deactivate-integration.usecase.ts
  apps/api/src/app/integrations/usecases/disable-novu-integration/disable-novu-integration.command.ts
  apps/api/src/app/integrations/usecases/disable-novu-integration/disable-novu-integration.usecase.ts
  apps/api/src/app/integrations/usecases/index.ts
  apps/api/src/app/integrations/usecases/remove-integration/remove-integration.usecase.ts
  apps/api/src/app/integrations/usecases/set-integration-as-primary/set-integration-as-primary.usecase.ts
  apps/api/src/app/integrations/usecases/update-integration/update-integration.usecase.ts
  apps/api/src/app/shared/shared.module.ts
  apps/worker/src/.env.test
  apps/worker/src/app/shared/shared.module.ts
  libs/shared/src/types/feature-flags/index.ts
  packages/application-generic/src/custom-providers/index.ts
  packages/application-generic/src/usecases/get-decrypted-integrations/get-decrypted-integrations.usecase.ts
  packages/application-generic/src/usecases/get-feature-flag/get-feature-flag.test.ts
  packages/application-generic/src/usecases/get-feature-flag/get-is-multi-provider-configuration-enabled.use-case.ts
  packages/application-generic/src/usecases/get-feature-flag/index.ts
  packages/application-generic/src/usecases/select-integration/select-integration.spec.ts
  packages/application-generic/src/usecases/select-integration/select-integration.usecase.ts
Labels: @novu/api, @novu/shared, @novu/worker

#4235 feat: add Pushpad provider for web push notifications
  .cspell.json
  apps/web/public/static/images/providers/dark/pushpad.svg
  apps/web/public/static/images/providers/dark/square/pushpad.svg
  apps/web/public/static/images/providers/light/pushpad.svg
  apps/web/public/static/images/providers/light/square/pushpad.svg
  apps/web/src/pages/integrations/components/multi-provider/sort-providers.ts
  libs/shared/src/consts/providers/channels/push.ts
  libs/shared/src/consts/providers/credentials/provider-credentials.ts
  libs/shared/src/consts/providers/provider.enum.ts
  packages/application-generic/package.json
  packages/application-generic/src/factories/push/handlers/index.ts
  packages/application-generic/src/factories/push/handlers/pushpad.handler.ts
  packages/application-generic/src/factories/push/push.factory.ts
  pnpm-lock.yaml
  providers/pushpad/.czrc
  providers/pushpad/.eslintrc.json
  providers/pushpad/.gitignore
  providers/pushpad/README.md
  providers/pushpad/jest.config.js
  providers/pushpad/package.json
  providers/pushpad/src/index.ts
  providers/pushpad/src/lib/pushpad.provider.spec.ts
  providers/pushpad/src/lib/pushpad.provider.ts
  providers/pushpad/tsconfig.json
  providers/pushpad/tsconfig.module.json
Labels: @novu/web, @novu/shared, providers, community

#4657 Revert "Fix icon overlapping"
  libs/design-system/src/sidebar/Sidebar.tsx
Labels: @novu/design-system

#4642 fix(api): few tests were flakey in the ci/cd
  apps/api/src/app/events/e2e/send-message-push.e2e.ts
  apps/api/src/app/events/e2e/trigger-event.e2e.ts
  pnpm-lock.yaml
Labels: @novu/api

#4648 feat(shared): tidy up filters operators to reuse in events broadcast
  apps/api/src/app/blueprint/e2e/get-grouped-blueprints.e2e.ts
  apps/api/src/app/change/e2e/get-changes.e2e.ts
  apps/api/src/app/change/e2e/promote-changes.e2e.ts
  apps/api/src/app/events/e2e/trigger-event.e2e.ts
  apps/api/src/app/integrations/e2e/create-integration.e2e.ts
  apps/api/src/app/shared/helpers/content.service.spec.ts
  apps/api/src/app/workflows/e2e/create-notification-templates.e2e.ts
  apps/web/src/components/conditions/Conditions.tsx
  apps/web/src/components/execution-detail/ExecutionDetailsConditionItem.cy.tsx
  apps/web/src/components/execution-detail/ExecutionDetailsConditions.cy.tsx
  apps/web/src/pages/templates/filter/FilterModal.tsx
  apps/web/src/pages/templates/filter/Filters.cy.tsx
  apps/web/src/pages/templates/filter/Filters.tsx
  apps/web/src/pages/templates/filter/OnlineFiltersForms.tsx
  apps/worker/src/app/workflow/usecases/message-matcher/message-matcher.usecase.spec.ts
  apps/worker/src/app/workflow/usecases/message-matcher/message-matcher.usecase.ts
  libs/shared/src/types/builder/builder.types.ts
  packages/application-generic/src/utils/filter.ts
  packages/node/src/lib/integrations/integrations.spec.ts
Labels: @novu/api, @novu/web, @novu/shared, @novu/worker

#4611 Added a typescript file for the Georgian Language
  packages/notification-center/src/i18n/lang.ts
  packages/notification-center/src/i18n/languages/ka.ts
Labels: Hacktoberfest, @novu/notification-center, community

#4651 Enhanced Security Contact Information
  SECURITY.md
Labels: community

#4652 fix(@novu/fcm): use message instead of body for data-type notifications
  providers/fcm/src/lib/fcm.provider.spec.ts
  providers/fcm/src/lib/fcm.provider.ts
Labels: providers

#4149 feat(provider): Custom sms provider
  apps/api/src/app/integrations/dtos/credentials.dto.ts
  apps/web/public/static/images/providers/dark/generic-sms.svg
  apps/web/public/static/images/providers/dark/square/generic-sms.svg
  apps/web/public/static/images/providers/light/generic-sms.svg
  apps/web/public/static/images/providers/light/square/generic-sms.svg
  docs/docs/channels/sms/generic-sms.md
  libs/dal/src/repositories/integration/integration.schema.ts
  libs/shared/src/consts/providers/channels/sms.ts
  libs/shared/src/consts/providers/credentials/provider-credentials.ts
  libs/shared/src/consts/providers/provider.enum.ts
  libs/shared/src/entities/integration/credential.interface.ts
  novu.code-workspace
  packages/application-generic/package.json
  packages/application-generic/src/factories/sms/handlers/generic-sms.handler.ts
  packages/application-generic/src/factories/sms/handlers/index.ts
  packages/application-generic/src/factories/sms/sms.factory.ts
  pnpm-lock.yaml
  providers/generic-sms/.czrc
  providers/generic-sms/.eslintrc.json
  providers/generic-sms/.gitignore
  providers/generic-sms/README.md
  providers/generic-sms/jest.config.js
  providers/generic-sms/package.json
  providers/generic-sms/src/index.ts
  providers/generic-sms/src/lib/generic-sms.provider.spec.ts
  providers/generic-sms/src/lib/generic-sms.provider.ts
  providers/generic-sms/tsconfig.json
  providers/generic-sms/tsconfig.module.json
Labels: documentation, @novu/api, @novu/web, @novu/dal, @novu/shared, providers, community

#4662 Updated the name of Twitter to X in all docs
  README.md
  apps/worker/README.md
  packages/cli/README.MD
  packages/node/README.md
Labels: @novu/worker

#4531 feat: add idempotency interceptor
  .cspell.json
  apps/api/e2e/idempotency.e2e.ts
  apps/api/src/.env.development
  apps/api/src/.env.production
  apps/api/src/.env.test
  apps/api/src/app.module.ts
  apps/api/src/app/shared/framework/idempotency.interceptor.ts
  apps/api/src/app/testing/dtos/idempotency.dto.ts
  apps/api/src/app/testing/testing.controller.ts
  apps/api/src/types/env.d.ts
  packages/application-generic/src/services/cache/cache-service.spec.ts
  packages/application-generic/src/services/cache/cache.service.ts
Labels: @novu/api, community

#4418 feat: add script create release with submodules
  .gitmodules
  package.json
  scripts/release-with-submodule.ts
Labels: scripts

#4672 🐛 Add missing NODE_ENV for web deployment
  docker/kubernetes/helm/values.yaml
Labels: community, helm, docker

#4666 Enhanced Security Information via Updating SECURITY.md
  SECURITY.md
Labels: community

#4683 docs update
  README.md
Labels: community

#4688 feat: added feature to toggle visibility of settings in iframe
  apps/widget/src/components/notification-center/NotificationCenterWidget.tsx
  libs/embed/src/embed.ts
Labels: community

#4687 feat: Added MessageBird SMS client
  .cspell.json
  apps/web/public/static/images/providers/dark/messagebird.png
  apps/web/public/static/images/providers/light/messagebird.png
  libs/shared/src/consts/providers/channels/sms.ts
  libs/shared/src/consts/providers/credentials/provider-credentials.ts
  libs/shared/src/consts/providers/provider.enum.ts
  libs/shared/src/entities/integration/credential.interface.ts
  packages/application-generic/package.json
  packages/application-generic/src/factories/sms/handlers/index.ts
  packages/application-generic/src/factories/sms/handlers/messagebird.handler.ts
  packages/application-generic/src/factories/sms/sms.factory.ts
  pnpm-lock.yaml
  providers/messagebird/.czrc
  providers/messagebird/.eslintrc.json
  providers/messagebird/.gitignore
  providers/messagebird/README.md
  providers/messagebird/jest.config.js
  providers/messagebird/package.json
  providers/messagebird/src/index.ts
  providers/messagebird/src/lib/messagebird.provider.spec.ts
  providers/messagebird/src/lib/messagebird.provider.ts
  providers/messagebird/tsconfig.json
  providers/messagebird/tsconfig.module.json
Labels: @novu/web, @novu/shared, providers, community

#4669 fix(web): fixed a couple variant issues
  apps/web/src/pages/templates/components/StepName.tsx
  apps/web/src/pages/templates/components/StepNameLabel.tsx
  apps/web/src/pages/templates/components/VariantsListSidebar.tsx
  apps/web/src/pages/templates/components/VariantsPage.tsx
  apps/web/src/pages/templates/components/templateToFormMappers.ts
  apps/web/src/pages/templates/hooks/useFilterPartsList.ts
Labels: @novu/web

#4686 Added translation for a word in Azerbaijani
  packages/notification-center/src/i18n/languages/az.ts
Labels: @novu/notification-center, community

#4701 feat(web): add missing square logos
  apps/web/public/static/images/providers/dark/square/messagebird.svg
  apps/web/public/static/images/providers/dark/square/ryver.svg
  apps/web/public/static/images/providers/light/square/messagebird.svg
  apps/web/public/static/images/providers/light/square/ryver.svg
Labels: @novu/web, community

#4664 feat: updated the schema and broke down into re-usable schema
  apps/web/src/pages/templates/components/notificationTemplateSchema.ts
Labels: @novu/web

#4590 [NV-3037] Fixed closing off the wrong socket in useUnreadCount.ts
  packages/notification-center/src/components/novu-provider/NovuProvider.tsx
  packages/notification-center/src/hooks/useUnreadCount.ts
  packages/notification-center/src/shared/interfaces/index.ts
Labels: Hacktoberfest, @novu/notification-center, community

#4544 feat(worker): manage default workers config through env variables
  apps/api/src/app/inbound-parse/services/inbound-parse.queue.service.ts
  apps/api/src/config/env-validator.ts
  apps/inbound-mail/src/config/env-validator.ts
  apps/webhook/src/config/index.ts
  apps/worker/src/app/workflow/services/standard.worker.ts
  apps/worker/src/app/workflow/services/subscriber-process.worker.ts
  apps/worker/src/app/workflow/services/workflow.worker.ts
  apps/worker/src/config/env-validator.ts
  apps/ws/src/config/index.ts
  apps/ws/src/socket/services/web-socket.worker.ts
  packages/application-generic/src/config/index.ts
  packages/application-generic/src/config/workers.config.spec.ts
  packages/application-generic/src/config/workers.ts
  packages/application-generic/src/index.ts
Labels: @novu/api, @novu/webhook, @novu/ws, @novu/worker, @novu/inbound-mail

#4709 Docs Feedback: js code in create-subscriber method has syntax issues
  packages/node/README.md
Labels: community

#4667 feat(application-generic, shared): Add Rate Limiting feature flag
  apps/api/src/.env.development
  apps/api/src/.env.production
  apps/api/src/.env.test
  apps/api/src/.example.env
  libs/shared/src/types/feature-flags/feature-flags.ts
  libs/shared/src/types/feature-flags/flags.types.spec.ts
  libs/shared/src/types/feature-flags/flags.types.ts
  libs/shared/src/types/feature-flags/index.ts
  libs/shared/src/types/feature-flags/system-critical-flags.ts
  packages/application-generic/src/usecases/get-feature-flag/get-is-request-rate-limiting-enabled.use-case.ts
  packages/application-generic/src/usecases/get-feature-flag/get-system-critical-flag.test.ts
  packages/application-generic/src/usecases/get-feature-flag/get-use-merged-digest-id.use-case.ts
  packages/application-generic/src/usecases/get-feature-flag/index.ts
Labels: @novu/shared

#4714 fix(web): variants project ui issues
  apps/web/src/pages/templates/components/VariantItemCard.tsx
  apps/web/src/pages/templates/hooks/useStepSubtitle.tsx
  apps/web/src/pages/templates/workflow/DigestMetadata.tsx
  apps/web/src/pages/templates/workflow/digest/WillBeSentHeader.tsx
  apps/web/src/pages/templates/workflow/workflow/node-types/ChannelNode.tsx
  apps/web/src/pages/templates/workflow/workflow/node-types/WorkflowNodeActions.tsx
Labels: @novu/web

#4573 fix: promotion of step not having the prod variant template id
  apps/api/src/app/change/usecases/promote-notification-template-change/promote-notification-template-change.usecase.ts
Labels: @novu/api

#4719 added web component url
  README.md
Labels: community

#4721 Add badges
  README.md
Labels: community

#4720 Add Pushpad provider to README.md
  README.md
Labels: community

#4713 feat: Added bulkSMS provider
  apps/web/public/static/images/providers/dark/bulk-sms.png
  apps/web/public/static/images/providers/light/bulk-sms.png
  libs/shared/src/consts/providers/channels/sms.ts
  libs/shared/src/consts/providers/credentials/provider-credentials.ts
  libs/shared/src/consts/providers/provider.enum.ts
  libs/shared/src/entities/integration/credential.interface.ts
  packages/application-generic/package.json
  packages/application-generic/src/factories/sms/handlers/bulk-sms.handler.ts
  packages/application-generic/src/factories/sms/handlers/index.ts
  pnpm-lock.yaml
  providers/bulk-sms/.czrc
  providers/bulk-sms/.eslintrc.json
  providers/bulk-sms/.gitignore
  providers/bulk-sms/README.md
  providers/bulk-sms/jest.config.js
  providers/bulk-sms/package.json
  providers/bulk-sms/src/index.ts
  providers/bulk-sms/src/lib/bulk-sms.provider.spec.ts
  providers/bulk-sms/src/lib/bulk-sms.provider.ts
  providers/bulk-sms/tsconfig.json
  providers/bulk-sms/tsconfig.module.json
Labels: @novu/web, @novu/shared, providers

#4650 feat(provider): added simple-texting SMS provider
  .cspell.json
  apps/web/public/static/images/providers/dark/simpletexting.png
  apps/web/public/static/images/providers/dark/square/simpletexting.svg
  apps/web/public/static/images/providers/light/simpletexting.png
  apps/web/public/static/images/providers/light/square/simpletexting.svg
  apps/web/src/pages/integrations/components/multi-provider/sort-providers.ts
  libs/shared/src/consts/providers/channels/sms.ts
  libs/shared/src/consts/providers/credentials/provider-credentials.ts
  libs/shared/src/consts/providers/provider.enum.ts
  packages/application-generic/package.json
  packages/application-generic/src/factories/sms/handlers/index.ts
  packages/application-generic/src/factories/sms/handlers/simpletexting.handler.ts
  packages/application-generic/src/factories/sms/sms.factory.ts
  pnpm-lock.yaml
  providers/simpletexting/.czrc
  providers/simpletexting/.eslintrc.json
  providers/simpletexting/.gitignore
  providers/simpletexting/README.md
  providers/simpletexting/jest.config.js
  providers/simpletexting/package.json
  providers/simpletexting/src/index.ts
  providers/simpletexting/src/lib/simpletexting.provider.spec.ts
  providers/simpletexting/src/lib/simpletexting.provider.ts
  providers/simpletexting/tsconfig.json
  providers/simpletexting/tsconfig.module.json
Labels: @novu/web, @novu/shared, providers, community
