Repository novuhq/novu, pull requests merged in 2023-11, with the labels that each got.

#4723 feat: Added Braze email provider
  .cspell.json
  apps/web/public/static/images/providers/dark/braze.svg
  apps/web/public/static/images/providers/light/braze.svg
  libs/shared/src/consts/providers/channels/email.ts
  libs/shared/src/consts/providers/credentials/provider-credentials.ts
  libs/shared/src/consts/providers/provider.enum.ts
  libs/shared/src/entities/integration/credential.interface.ts
  packages/application-generic/package.json
  packages/application-generic/src/factories/mail/handlers/braze.handler.ts
  packages/application-generic/src/factories/mail/handlers/index.ts
  packages/application-generic/src/factories/mail/mail.factory.ts
  pnpm-lock.yaml
  providers/braze/.czrc
  providers/braze/.eslintrc.json
  providers/braze/.gitignore
  providers/braze/README.md
  providers/braze/jest.config.js
  providers/braze/package.json
  providers/braze/src/index.ts
  providers/braze/src/lib/braze.provider.spec.ts
  providers/braze/src/lib/braze.provider.ts
  providers/braze/tsconfig.json
  providers/braze/tsconfig.module.json
Labels: @novu/web, @novu/shared, providers, community

#4732 docs: fix grammatical error
  CODE_OF_CONDUCT.md
Labels: community

#4733 feat(infra): create dedicated services for in-memory for wf and cache
  apps/api/src/app/blueprint/e2e/get-grouped-blueprints.e2e.ts
  apps/api/src/app/events/e2e/process-subscriber.e2e.ts
  apps/api/src/app/health/e2e/health-check.e2e.ts
  apps/api/src/app/widgets/e2e/get-count.e2e.ts
  apps/api/src/app/widgets/e2e/get-unseen-count.e2e.ts
  apps/api/src/app/widgets/e2e/initialize-widget-session.e2e.ts
  apps/worker/src/app/health/e2e/health-check.e2e.ts
  packages/application-generic/src/custom-providers/index.ts
  packages/application-generic/src/health/active-jobs-metric-queue.health-indicator.ts
  packages/application-generic/src/health/cache.health-indicator.ts
  packages/application-generic/src/health/completed-jobs-metric-queue.health-indicator.ts
  packages/application-generic/src/health/inbound-parse-queue.health-indicator.ts
  packages/application-generic/src/health/queue-health-indicator.service.ts
  packages/application-generic/src/health/standard-queue.health-indicator.ts
  packages/application-generic/src/health/subscriber-process-queue.health-indicator.ts
  packages/application-generic/src/health/web-sockets-queue.health-indicator.ts
  packages/application-generic/src/health/workflow-queue.health-indicator.ts
  packages/application-generic/src/modules/queues.module.ts
  packages/application-generic/src/services/bull-mq/bull-mq.service.ts
  packages/application-generic/src/services/bull-mq/old-instance-bull-mq.service.ts
  packages/application-generic/src/services/cache/cache-service.spec.ts
  packages/application-generic/src/services/cache/cache.service.ts
  packages/application-generic/src/services/distributed-lock/distributed-lock.service.spec.ts
  packages/application-generic/src/services/distributed-lock/distributed-lock.service.ts
  packages/application-generic/src/services/in-memory-provider/cache-in-memory-provider.service.ts
  packages/application-generic/src/services/in-memory-provider/in-memory-provider.service.spec.ts
  packages/application-generic/src/services/in-memory-provider/in-memory-provider.service.ts
  packages/application-generic/src/services/in-memory-provider/index.ts
  packages/application-generic/src/services/in-memory-provider/workflow-in-memory-provider.service.ts
  packages/application-generic/src/services/queues/active-jobs-metric-queue.service.ts
  packages/application-generic/src/services/queues/completed-jobs-metric-queue.service.ts
  packages/application-generic/src/services/queues/inbound-parse-queue.service.ts
  packages/application-generic/src/services/queues/standard-queue.service.ts
  packages/application-generic/src/services/queues/subscriber-process-queue.service.ts
  packages/application-generic/src/services/queues/web-sockets-queue.service.ts
  packages/application-generic/src/services/queues/workflow-queue.service.ts
  packages/application-generic/src/usecases/create-subscriber/create-subscriber.spec.ts
  packages/application-generic/src/usecases/get-feature-flag/get-is-in-memory-cluster-mode-enabled.use-case.ts
  packages/application-generic/src/usecases/get-feature-flag/get-system-critical-flag.test.ts
  packages/application-generic/src/usecases/update-subscriber/update-subscriber.spec.ts
  pnpm-lock.yaml
Labels: @novu/api, @novu/worker

#4731 Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: community

#4740 fix(providers): azure sms logo and identifier
  apps/web/public/static/images/providers/dark/square/azure-sms.svg
  apps/web/public/static/images/providers/light/square/azure-sms.svg
  libs/shared/src/consts/providers/provider.enum.ts
Labels: @novu/web, @novu/shared, community

#4704 feat: add pusher beams provider
  .cspell.json
  apps/api/src/app/integrations/dtos/credentials.dto.ts
  apps/web/public/static/images/providers/dark/pusher-beams.svg
  apps/web/public/static/images/providers/dark/square/pusher-beams.svg
  apps/web/public/static/images/providers/light/pusher-beams.svg
  apps/web/public/static/images/providers/light/square/pusher-beams.svg
  apps/web/src/pages/integrations/components/multi-provider/sort-providers.ts
  libs/dal/src/repositories/integration/integration.schema.ts
  libs/shared/src/consts/providers/channels/push.ts
  libs/shared/src/consts/providers/credentials/provider-credentials.ts
  libs/shared/src/consts/providers/provider.enum.ts
  libs/shared/src/entities/integration/credential.interface.ts
  packages/application-generic/package.json
  packages/application-generic/src/factories/push/handlers/index.ts
  packages/application-generic/src/factories/push/handlers/pusher-beams.handler.ts
  packages/application-generic/src/factories/push/push.factory.ts
  pnpm-lock.yaml
  providers/pusher-beams/.czrc
  providers/pusher-beams/.eslintrc.json
  providers/pusher-beams/.gitignore
  providers/pusher-beams/README.md
  providers/pusher-beams/jest.config.js
  providers/pusher-beams/package.json
  providers/pusher-beams/src/index.ts
  providers/pusher-beams/src/lib/pusher-beams.provider.spec.ts
  providers/pusher-beams/src/lib/pusher-beams.provider.ts
  providers/pusher-beams/tsconfig.json
  providers/pusher-beams/tsconfig.module.json
Labels: @novu/api, @novu/web, @novu/dal, @novu/shared, providers, community

#4724 feat: add support for variables in filter values
  apps/api/src/app/events/e2e/trigger-event.e2e.ts
  apps/api/src/app/integrations/integrations.module.ts
  apps/worker/src/app/workflow/specs/conditions-filter.usecase.spec.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-chat.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-email.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-in-app.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-push.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-sms.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message.base.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message.command.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message.usecase.ts
  packages/application-generic/src/usecases/conditions-filter/conditions-filter.usecase.ts
  packages/application-generic/src/usecases/create-execution-details/types/index.ts
  packages/application-generic/src/usecases/select-integration/select-integration.spec.ts
  packages/application-generic/src/utils/filter-processing-details.ts
Labels: @novu/api, @novu/worker

#4526 Refactor the broadcast method to utilize the new queue
  apps/api/src/app/events/e2e/delay-events.e2e.ts
  apps/api/src/app/events/e2e/map-trigger-recipients.e2e.ts
  apps/api/src/app/events/events.controller.ts
  apps/api/src/app/events/events.module.ts
  apps/api/src/app/events/usecases/parse-event-request/index.ts
  apps/api/src/app/events/usecases/parse-event-request/parse-event-request.command.ts
  apps/api/src/app/events/usecases/parse-event-request/parse-event-request.e2e.ts
  apps/api/src/app/events/usecases/parse-event-request/parse-event-request.usecase.ts
  apps/api/src/app/events/usecases/process-bulk-trigger/process-bulk-trigger.usecase.ts
  apps/api/src/app/events/usecases/trigger-event-to-all/trigger-event-to-all.command.ts
  apps/api/src/app/events/usecases/trigger-event-to-all/trigger-event-to-all.usecase.ts
  apps/api/src/app/health/health.controller.ts
  apps/api/src/app/health/health.module.ts
  apps/api/src/app/inbound-parse/inbound-parse.module.ts
  apps/api/src/app/shared/shared.module.ts
  apps/api/src/app/widgets/widgets.module.ts
  libs/shared/src/types/events/index.ts
  libs/testing/src/jobs.service.ts
  libs/testing/src/user.session.ts
  packages/application-generic/src/modules/index.ts
  packages/application-generic/src/modules/queues.module.ts
  packages/application-generic/src/usecases/map-trigger-recipients/map-trigger-recipients.use-case.ts
  packages/application-generic/src/usecases/select-integration/select-integration.usecase.ts
  packages/application-generic/src/usecases/trigger-event/trigger-event.command.ts
  packages/application-generic/src/usecases/trigger-event/trigger-event.usecase.ts
Labels: @novu/api, @novu/shared

#4759 feat: add grafana on call as chat provider
  apps/api/src/app/integrations/dtos/credentials.dto.ts
  apps/api/src/app/shared/dtos/subscriber-channel.ts
  apps/web/public/static/images/providers/dark/grafana-on-call.png
  apps/web/public/static/images/providers/dark/square/grafana-on-call.svg
  apps/web/public/static/images/providers/light/grafana-on-call.png
  apps/web/public/static/images/providers/light/square/grafana-on-call.svg
  apps/web/src/pages/integrations/components/multi-provider/sort-providers.ts
  libs/dal/src/repositories/integration/integration.schema.ts
  libs/shared/src/consts/providers/channels/chat.ts
  libs/shared/src/consts/providers/credentials/provider-credentials.ts
  libs/shared/src/consts/providers/provider.enum.ts
  libs/shared/src/entities/integration/credential.interface.ts
  packages/application-generic/package.json
  packages/application-generic/src/factories/chat/chat.factory.ts
  packages/application-generic/src/factories/chat/handlers/grafana-on-call.handler.ts
  pnpm-lock.yaml
  providers/grafana-on-call/.czrc
  providers/grafana-on-call/.eslintrc.json
  providers/grafana-on-call/.gitignore
  providers/grafana-on-call/README.md
  providers/grafana-on-call/jest.config.js
  providers/grafana-on-call/package.json
  providers/grafana-on-call/src/index.ts
  providers/grafana-on-call/src/lib/grafana-on-call.provider.spec.ts
  providers/grafana-on-call/src/lib/grafana-on-call.provider.ts
  providers/grafana-on-call/tsconfig.json
  providers/grafana-on-call/tsconfig.module.json
Labels: @novu/api, @novu/web, @novu/dal, @novu/shared, providers, community

#4752 Fix `pr-labeler.yml` workflow
  .github/workflows/pr-labeler.yml
Labels: community, CI/CD

#4595 refactor(providers): Migrate from pepipost SDK to direct API calls with Axios
  pnpm-lock.yaml
  providers/netcore/jest.config.js
  providers/netcore/package.json
  providers/netcore/src/lib/netcore.provider.spec.ts
  providers/netcore/src/lib/netcore.provider.ts
  providers/netcore/src/types/example.d.ts
  providers/netcore/src/types/index.d.ts
Labels: providers, community

#4742 fix(web): add missing providers logos
  apps/web/public/static/images/providers/dark/square/azure-sms.svg
  apps/web/public/static/images/providers/dark/square/braze.svg
  apps/web/public/static/images/providers/dark/square/bulk-sms.svg
  apps/web/public/static/images/providers/light/square/azure-sms.svg
  apps/web/public/static/images/providers/light/square/braze.svg
  apps/web/public/static/images/providers/light/square/bulk-sms.svg
Labels: @novu/web, community

#4596 refactor(providers): migrate from @sendinblue/client SDK to direct API calls with Axios
  .cspell.json
  apps/web/src/pages/tenants/components/list/columns.tsx
  libs/design-system/package.json
  packages/application-generic/src/factories/mail/handlers/sendinblue.handler.ts
  pnpm-lock.yaml
  providers/netcore/src/lib/netcore.provider.spec.ts
  providers/netcore/src/lib/netcore.provider.ts
  providers/sendinblue/jest.config.js
  providers/sendinblue/package.json
  providers/sendinblue/src/index.ts
  providers/sendinblue/src/lib/brevo.provider.spec.ts
  providers/sendinblue/src/lib/brevo.provider.ts
Labels: Hacktoberfest, @novu/web, providers, community, @novu/design-system

#4609 refactor(providers): Migrate from clicksend SDK to direct API calls with Axios
  pnpm-lock.yaml
  providers/clicksend/jest.config.js
  providers/clicksend/package.json
  providers/clicksend/src/lib/clicksend.provider.ts
Labels: providers, community

#3463 feat(notification-center): header missing screen argument and React identity
  packages/notification-center/src/components/notification-center/NotificationCenter.tsx
  packages/notification-center/src/components/notification-center/components/layout/Layout.tsx
  packages/notification-center/src/shared/interfaces/index.ts
Labels: documentation, @novu/notification-center, community, stale

#3736 fix(providers): Sparkpost provider bugs
  apps/api/src/app/integrations/usecases/check-integration/check-integration.usecase.ts
  apps/web/src/pages/integrations/components/IntegrationInput.tsx
  libs/shared/src/consts/providers/credentials/provider-credentials.ts
  libs/shared/src/consts/providers/provider.interface.ts
  packages/application-generic/src/factories/mail/handlers/sparkpost.handler.ts
  providers/sparkpost/src/lib/sparkpost.provider.spec.ts
  providers/sparkpost/src/lib/sparkpost.provider.ts
Labels: @novu/api, @novu/web, @novu/shared, providers, community

#4756 chore(web): variants cypress e2e tests
  apps/web/cypress/tests/notification-editor/index.ts
  apps/web/cypress/tests/notification-editor/variants.spec.ts
  apps/web/src/pages/templates/components/EditorSidebarHeaderActions.tsx
  apps/web/src/pages/templates/components/VariantItemCard.tsx
  apps/web/src/pages/templates/components/VariantsListSidebar.tsx
  apps/web/src/pages/templates/components/VariantsPage.tsx
  apps/web/src/pages/templates/workflow/workflow/node-types/WorkflowNode.tsx
  apps/web/src/pages/templates/workflow/workflow/node-types/WorkflowNodeActions.tsx
Labels: @novu/web

#4151 NV-2195 - Bug Report: Visual bug in Add filter button icon
  apps/web/src/pages/templates/workflow/SideBar/StepSettings.tsx
Labels: @novu/web, community

#4323 feat(web): Add blank workflow creation button
  apps/web/src/pages/templates/components/templates-store/TemplatesStoreModal.tsx
Labels: @novu/web, community

#4758 feat(dal, shared, api): Add rate limit DAL attributes
  apps/api/src/app/environments/usecases/create-environment/create-environment.e2e.ts
  apps/api/src/app/organization/e2e/create-organization.e2e.ts
  apps/api/src/app/organization/usecases/create-organization/create-organization.usecase.ts
  libs/dal/src/repositories/environment/environment.entity.ts
  libs/dal/src/repositories/environment/environment.schema.ts
  libs/dal/src/repositories/organization/organization.entity.ts
  libs/dal/src/repositories/organization/organization.schema.ts
  libs/shared/src/entities/environment/environment.interface.ts
  libs/shared/src/entities/organization/organization.interface.ts
  libs/shared/src/types/environment/index.ts
  libs/shared/src/types/organization/index.ts
Labels: @novu/api, @novu/dal, @novu/shared

#4728 fix(web): fixed the dropdown issue in email editor
  apps/web/src/pages/templates/components/email-editor/EmailMessageEditor.tsx
Labels: @novu/web, community

#4765 fix: events write over other digest data on up coming digests
  apps/api/src/app/events/e2e/trigger-event.e2e.ts
  apps/worker/src/app/workflow/usecases/send-message/digest/digest.usecase.ts
Labels: @novu/api, @novu/worker

#4729 Update workflow override use-case
  apps/api/src/app/workflows/dto/update-workflow-override-request.dto.ts
  apps/api/src/app/workflows/dto/update-workflow-override-response.dto.ts
  apps/api/src/app/workflows/e2e/update-workflow-override.spec.ts
  apps/api/src/app/workflows/usecases/index.ts
  apps/api/src/app/workflows/usecases/update-workflow-override/update-workflow-override.command.ts
  apps/api/src/app/workflows/usecases/update-workflow-override/update-workflow-override.usecase.ts
  apps/api/src/app/workflows/workflow.controller.ts
  libs/shared/src/dto/workflow-override/create-workflow-override-request.dto.ts
  libs/shared/src/dto/workflow-override/create-workflow-override-response.dto.ts
  libs/shared/src/dto/workflow-override/create-workflow-override.dto.ts
  libs/shared/src/dto/workflow-override/index.ts
  libs/shared/src/dto/workflow-override/shared.ts
  libs/shared/src/dto/workflow-override/update-workflow-override-request.dto.ts
  libs/shared/src/dto/workflow-override/update-workflow-override-response.dto.ts
  libs/shared/src/entities/workflow-override/workflow-override.interface.ts
Labels: @novu/api, @novu/shared

#4741 Get workflow override use-case
  apps/api/src/app/workflows/dto/create-workflow-override-response.dto.ts
  apps/api/src/app/workflows/dto/get-workflow-override-response.dto.ts
  apps/api/src/app/workflows/dto/shared.ts
  apps/api/src/app/workflows/dto/update-workflow-override-response.dto.ts
  apps/api/src/app/workflows/e2e/get-notification-template.e2e.ts
  apps/api/src/app/workflows/e2e/get-workflow-override.e2e.ts
  apps/api/src/app/workflows/usecases/get-workflow-override/get-workflow-override.command.ts
  apps/api/src/app/workflows/usecases/get-workflow-override/get-workflow-override.usecase.ts
  apps/api/src/app/workflows/usecases/index.ts
  apps/api/src/app/workflows/usecases/update-workflow-override/update-workflow-override.command.ts
  apps/api/src/app/workflows/workflow.controller.ts
  libs/shared/src/dto/workflow-override/get-workflow-override-response.dto.ts
  libs/shared/src/dto/workflow-override/index.ts
  libs/testing/src/index.ts
  libs/testing/src/workflow-override.service.ts
Labels: @novu/api, @novu/shared

#4743 Delete workflow override use-case
  apps/api/src/app/workflows/e2e/delete-workflow-override.e2e.ts
  apps/api/src/app/workflows/usecases/delete-workflow-override/delete-workflow-override.command.ts
  apps/api/src/app/workflows/usecases/delete-workflow-override/delete-workflow-override.usecase.ts
  apps/api/src/app/workflows/usecases/index.ts
  apps/api/src/app/workflows/workflow.controller.ts
Labels: @novu/api

#4745 Get workflow overrides use case
  apps/api/src/app/workflows/dto/get-workflow-overrides-request.dto.ts
  apps/api/src/app/workflows/dto/get-workflow-overrides-response.dto.ts
  apps/api/src/app/workflows/e2e/get-workflow-overrides.e2e.ts
  apps/api/src/app/workflows/usecases/get-workflow-overrides/get-workflow-overrides.command.ts
  apps/api/src/app/workflows/usecases/get-workflow-overrides/get-workflow-overrides.usecase.ts
  apps/api/src/app/workflows/usecases/index.ts
  apps/api/src/app/workflows/workflow.controller.ts
  libs/dal/src/repositories/workflow-override/workflow-override.repository.ts
  libs/shared/src/dto/workflow-override/get-workflow-overrides-response.dto.ts
  libs/shared/src/dto/workflow-override/index.ts
  libs/testing/src/workflow-override.service.ts
Labels: @novu/api, @novu/dal, @novu/shared

#4767 Apply Workflow Overrides during the trigger
  apps/api/src/app.module.ts
  apps/api/src/app/events/e2e/trigger-event.e2e.ts
  apps/api/src/app/events/usecases/parse-event-request/parse-event-request.usecase.ts
  apps/api/src/app/workflow-overrides/dto/create-workflow-override-request.dto.ts
  apps/api/src/app/workflow-overrides/dto/create-workflow-override-response.dto.ts
  apps/api/src/app/workflow-overrides/dto/get-workflow-override-response.dto.ts
  apps/api/src/app/workflow-overrides/dto/get-workflow-overrides-request.dto.ts
  apps/api/src/app/workflow-overrides/dto/get-workflow-overrides-response.dto.ts
  apps/api/src/app/workflow-overrides/dto/index.ts
  apps/api/src/app/workflow-overrides/dto/shared.ts
  apps/api/src/app/workflow-overrides/dto/update-workflow-override-request.dto.ts
  apps/api/src/app/workflow-overrides/dto/update-workflow-override-response.dto.ts
  apps/api/src/app/workflow-overrides/e2e/create-workflow-override.spec.ts
  apps/api/src/app/workflow-overrides/e2e/delete-workflow-override.e2e.ts
  apps/api/src/app/workflow-overrides/e2e/get-workflow-override.e2e.ts
  apps/api/src/app/workflow-overrides/e2e/get-workflow-overrides.e2e.ts
  apps/api/src/app/workflow-overrides/e2e/update-workflow-override.spec.ts
  apps/api/src/app/workflow-overrides/usecases/create-workflow-override/create-workflow-override.command.ts
  apps/api/src/app/workflow-overrides/usecases/create-workflow-override/create-workflow-override.usecase.ts
  apps/api/src/app/workflow-overrides/usecases/delete-workflow-override/delete-workflow-override.command.ts
  apps/api/src/app/workflow-overrides/usecases/delete-workflow-override/delete-workflow-override.usecase.ts
  apps/api/src/app/workflow-overrides/usecases/get-workflow-override/get-workflow-override.command.ts
  apps/api/src/app/workflow-overrides/usecases/get-workflow-override/get-workflow-override.usecase.ts
  apps/api/src/app/workflow-overrides/usecases/get-workflow-overrides/get-workflow-overrides.command.ts
  apps/api/src/app/workflow-overrides/usecases/get-workflow-overrides/get-workflow-overrides.usecase.ts
  apps/api/src/app/workflow-overrides/usecases/index.ts
  apps/api/src/app/workflow-overrides/usecases/update-workflow-override/update-workflow-override.command.ts
  apps/api/src/app/workflow-overrides/usecases/update-workflow-override/update-workflow-override.usecase.ts
  apps/api/src/app/workflow-overrides/workflow-overrides.controller.ts
  apps/api/src/app/workflow-overrides/workflow-overrides.module.ts
  apps/api/src/app/workflows/usecases/index.ts
  apps/api/src/app/workflows/workflow.controller.ts
  apps/worker/src/app/shared/shared.module.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message.usecase.ts
  libs/shared/src/entities/subscriber-preference/subscriber-preference.interface.ts
  libs/shared/src/types/subscriber/index.ts
  libs/testing/src/workflow-override.service.ts
  packages/application-generic/src/usecases/get-subscriber-template-preference/get-subscriber-template-preference.usecase.ts
Labels: @novu/api, @novu/shared, @novu/worker

#3964 feat(notification-center-vue): Make Popover.triggers a prop for notification-center-vue
  packages/notification-center-vue/src/lib/notification-center-component/NotificationCenterComponent.vue
Labels: community, @novu/notification-center-vue, stale

#4780 chore(api): Add generic migration helper script
  apps/api/README.md
  apps/api/package.json
Labels: @novu/api

#4789 fix(worker): Add activity log for events when they digest in the mergedDigestId flow
  apps/worker/src/app/workflow/usecases/send-message/digest/digest.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/digest/get-digest-events.usecase.ts
  packages/application-generic/src/usecases/create-execution-details/types/index.ts
Labels: @novu/worker

#4785 refactor(providers): migrate from sparkpost sdk to axios
  pnpm-lock.yaml
  providers/sparkpost/jest.config.js
  providers/sparkpost/package.json
  providers/sparkpost/src/lib/sparkpost.error.ts
  providers/sparkpost/src/lib/sparkpost.provider.ts
Labels: providers, community

#4820 chore: update npm badges in readme
  README.md
Labels: community

#4695 fix(web): Invite-members icon is changed in header-nav
  apps/web/src/components/layout/components/HeaderNav.tsx
  libs/design-system/src/icons/general/InviteMembers.tsx
  libs/design-system/src/icons/index.ts
Labels: @novu/web, community, @novu/design-system

#4781 feat(web): Add Loading spinner for Update button
  apps/web/src/pages/templates/components/UpdateButton.tsx
  pnpm-lock.yaml
Labels: @novu/web, community

#4832 fix(api): eliminate number conversion for split message
  apps/api/src/app/widgets/widgets.controller.ts
Labels: @novu/api

#4824 feat(infra): decommission old instance of redis cluster
  apps/worker/src/app/workflow/services/cold-start.service.ts
  apps/worker/src/app/workflow/services/index.ts
  apps/worker/src/app/workflow/services/old-instance-standard.worker.ts
  apps/worker/src/app/workflow/services/old-instance-workflow.worker.ts
  apps/worker/src/app/workflow/workflow.module.ts
  apps/ws/src/socket/services/index.ts
  apps/ws/src/socket/services/old-instance-web-sockets-worker.service.ts
  apps/ws/src/socket/services/old-instance-web-sockets.worker.ts
  apps/ws/src/socket/socket.module.ts
  packages/application-generic/src/custom-providers/index.ts
  packages/application-generic/src/modules/queues.module.ts
  packages/application-generic/src/services/bull-mq/index.ts
  packages/application-generic/src/services/bull-mq/old-instance-bull-mq.service.ts
  packages/application-generic/src/services/in-memory-provider/in-memory-provider.service.ts
  packages/application-generic/src/services/in-memory-provider/types.ts
  packages/application-generic/src/services/index.ts
  packages/application-generic/src/services/workers/index.ts
  packages/application-generic/src/services/workers/old-instance-standard-worker.service.ts
  packages/application-generic/src/services/workers/old-instance-workflow-worker.service.ts
Labels: @novu/ws, @novu/worker

#4697 fix(api): swagger schema for integrations return array
  apps/api/src/app/integrations/integrations.controller.ts
Labels: @novu/api, community

#4782 chore(web): disable add variant flow for the digest and delay
  apps/web/cypress/tests/notification-editor/variants.spec.ts
  apps/web/src/pages/templates/components/EditorSidebarHeaderActions.tsx
  apps/web/src/pages/templates/components/VariantsPage.tsx
  apps/web/src/pages/templates/workflow/workflow/node-types/WorkflowNode.tsx
  apps/web/src/pages/templates/workflow/workflow/node-types/WorkflowNodeActions.tsx
  libs/shared/src/types/channel/index.ts
Labels: @novu/web, @novu/shared

#4783 chore(web): step and variant actions in the production environment
  apps/web/cypress/tests/notification-editor/variants.spec.ts
  apps/web/src/pages/templates/components/EditorSidebarHeaderActions.tsx
  apps/web/src/pages/templates/editor/TemplateEditorPage.tsx
  apps/web/src/pages/templates/workflow/workflow/node-types/WorkflowNode.tsx
  apps/web/src/pages/templates/workflow/workflow/node-types/WorkflowNodeActions.tsx
Labels: @novu/web

#4774 feat(api, shared): Add use cases to resolve an environment's api rate limit
  apps/api/src/app/rate-limiting/e2e/.gitkeep
  apps/api/src/app/rate-limiting/guards/.gitkeep
  apps/api/src/app/rate-limiting/rate-limiting.module.ts
  apps/api/src/app/rate-limiting/usecases/get-api-rate-limit/get-api-rate-limit.command.ts
  apps/api/src/app/rate-limiting/usecases/get-api-rate-limit/get-api-rate-limit.spec.ts
  apps/api/src/app/rate-limiting/usecases/get-api-rate-limit/get-api-rate-limit.usecase.ts
  apps/api/src/app/rate-limiting/usecases/get-api-rate-limit/index.ts
  apps/api/src/app/rate-limiting/usecases/get-default-api-rate-limits/get-default-api-rate-limits.spec.ts
  apps/api/src/app/rate-limiting/usecases/get-default-api-rate-limits/get-default-api-rate-limits.usecase.ts
  apps/api/src/app/rate-limiting/usecases/get-default-api-rate-limits/index.ts
  apps/api/src/app/rate-limiting/usecases/index.ts
  libs/shared/src/consts/index.ts
  libs/shared/src/consts/rate-limiting/apiRateLimits.ts
  libs/shared/src/consts/rate-limiting/index.ts
  libs/shared/src/types/index.ts
  libs/shared/src/types/rate-limiting/index.ts
  packages/application-generic/src/services/cache/cache-service.mock.ts
  packages/application-generic/src/services/cache/cache-service.spec.ts
  packages/application-generic/src/services/cache/index.ts
  packages/application-generic/src/services/cache/key-builders/entities.ts
  packages/application-generic/src/services/cache/key-builders/shared.ts
Labels: @novu/api, @novu/shared

#4190 feat(api): scripts to remove user account and to remove organization
  apps/api/.gitignore
  apps/api/admin/connect-to-dal.ts
  apps/api/admin/make-json-backup.ts
  apps/api/admin/remove-organization.ts
  apps/api/admin/remove-user-account.ts
  apps/api/package.json
Labels: @novu/api

#4841 feat(api): Allow style tags and attributes in the In-App & Email Editor
  apps/api/src/app/message-template/shared/sanitizer.service.spec.ts
  apps/api/src/app/message-template/shared/sanitizer.service.ts
Labels: @novu/api

#4842 fix(visual-bug): left spacing of frequent event in digest
  apps/web/src/pages/templates/workflow/digest/BackOffFields.tsx
Labels: @novu/web

#4839 fix(ci): docker build test.yml for forks
  apps/api/package.json
Labels: @novu/api

#4845 fix(sms): add options from in sms providers
  providers/africas-talking/src/lib/africas-talking.provider.ts
  providers/firetext/src/lib/firetext.provider.ts
  providers/forty-six-elks/src/lib/forty-six-elks.provider.ts
  providers/generic-sms/src/lib/generic-sms.provider.ts
  providers/infobip/src/lib/infobip.provider.ts
  providers/kannel/src/lib/kannel.provider.ts
  providers/maqsam/src/lib/maqsam.provider.ts
  providers/nexmo/src/lib/nexmo.provider.ts
  providers/plivo/src/lib/plivo.provider.ts
  providers/sendchamp/src/lib/sendchamp.provider.ts
  providers/sms-central/src/lib/sms-central.provider.ts
  providers/sms77/src/lib/sms77.provider.ts
  providers/telnyx/src/lib/telnyx.provider.ts
  providers/twilio/src/lib/twilio.provider.ts
Labels: providers

#4771 Nv 2784 error handling
  apps/web/cypress/tests/notification-editor/variants.spec.ts
  apps/web/src/hooks/integrations/useGetPrimaryIntegration.ts
  apps/web/src/hooks/integrations/useHasActiveIntegrations.ts
  apps/web/src/pages/templates/components/EditorSidebarHeaderActions.tsx
  apps/web/src/pages/templates/components/StepNameLabel.tsx
  apps/web/src/pages/templates/components/TemplateEditorFormProvider.tsx
  apps/web/src/pages/templates/components/VariantItemCard.tsx
  apps/web/src/pages/templates/components/VariantsPage.tsx
  apps/web/src/pages/templates/components/useVariantListErrors.ts
  apps/web/src/pages/templates/editor/TemplateEditorPage.tsx
  apps/web/src/pages/templates/shared/errors.ts
  apps/web/src/pages/templates/workflow/NodeErrorPopover.tsx
  apps/web/src/pages/templates/workflow/workflow/node-types/WorkflowNode.tsx
  apps/web/src/pages/templates/workflow/workflow/node-types/utils.ts
  libs/design-system/src/config/colors.ts
  libs/design-system/src/template-button/TemplateButton.styles.ts
  libs/shared/src/types/channel/index.ts
Labels: @novu/web, @novu/shared, @novu/design-system

#4848 chore(web): segment track the user theme preference
  apps/web/src/components/layout/components/HeaderNav.tsx
Labels: @novu/web

#4827 feat(worker): add handlebar helper for number formatting
  libs/shared/src/consts/handlebar-helpers/handlebarHelpers.ts
  packages/application-generic/src/usecases/compile-template/compile-template.spec.ts
  packages/application-generic/src/usecases/compile-template/compile-template.usecase.ts
Labels: @novu/shared, community

#4862 Docs Feedback: js code in update-subscriber method has syntax issues
  packages/node/README.md
Labels: community

#4864 Updated the syntax in many of the methods
  packages/node/README.md
Labels: community

#4857 chore(api, shared, app-generic): Convert API rate limit FF to be LaunchDarkly compatible
  apps/api/src/.env.development
  apps/api/src/.env.production
  apps/api/src/.env.test
  apps/api/src/.example.env
  libs/shared/src/types/feature-flags/feature-flags.ts
  libs/shared/src/types/feature-flags/system-critical-flags.ts
  packages/application-generic/src/custom-providers/index.ts
  packages/application-generic/src/usecases/get-feature-flag/get-feature-flag.test.ts
  packages/application-generic/src/usecases/get-feature-flag/get-is-api-rate-limiting-enabled.use-case.ts
  packages/application-generic/src/usecases/get-feature-flag/get-is-request-rate-limiting-enabled.use-case.ts
  packages/application-generic/src/usecases/get-feature-flag/get-system-critical-flag.test.ts
  packages/application-generic/src/usecases/get-feature-flag/index.ts
Labels: @novu/shared

#4870 fix(docs): Fix Redirect Issue for "Run in Local Machine" Button
  apps/api/README.md
Labels: @novu/api, community

#4865 Update the roadmap link to the latest roadmap link
  packages/cli/README.MD
Labels: community

#4786 refactor: use execution queue instead of writing directly to execution detail collection
  apps/worker/src/app/workflow/services/cold-start.service.ts
  apps/worker/src/app/workflow/services/execution-log.worker.spec.ts
  apps/worker/src/app/workflow/services/execution-log.worker.ts
  apps/worker/src/app/workflow/services/index.ts
  apps/worker/src/app/workflow/usecases/handle-last-failed-job/handle-last-failed-job.usecase.ts
  apps/worker/src/app/workflow/usecases/message-matcher/message-matcher.usecase.spec.ts
  apps/worker/src/app/workflow/usecases/message-matcher/message-matcher.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/digest/digest.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/digest/get-digest-events.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-chat.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-delay.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-email.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-in-app.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-push.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-sms.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-type.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message.base.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message.usecase.ts
  apps/worker/src/app/workflow/usecases/webhook-filter-backoff-strategy/webhook-filter-backoff-strategy.usecase.ts
  apps/worker/src/app/workflow/workflow.module.ts
  libs/shared/src/config/job-queue.ts
  packages/application-generic/src/config/workers.ts
  packages/application-generic/src/custom-providers/index.ts
  packages/application-generic/src/modules/queues.module.ts
  packages/application-generic/src/services/queues/execution-log-queue.service.spec.ts
  packages/application-generic/src/services/queues/execution-log-queue.service.ts
  packages/application-generic/src/services/queues/index.ts
  packages/application-generic/src/services/workers/execution-log-worker.service.ts
  packages/application-generic/src/services/workers/index.ts
  packages/application-generic/src/usecases/add-job/add-job.usecase.ts
  packages/application-generic/src/usecases/add-job/merge-or-create-digest.usecase.ts
  packages/application-generic/src/usecases/create-execution-details/create-execution-details.command.ts
Labels: @novu/shared, community, @novu/worker

#4406 fix: so not public endpoints is hidden in swagger json
  apps/api/src/app/integrations/integrations.controller.ts
Labels: @novu/api

#4875 feat(worker): add raw error details for chat channel errors
  apps/worker/src/app/workflow/usecases/send-message/send-message-chat.usecase.ts
Labels: @novu/worker

#4840 refactor(providers): Migrate from onesignal-node SDK to the official @onesignal/node-onesignal
  pnpm-lock.yaml
  providers/one-signal/jest.config.js
  providers/one-signal/package.json
  providers/one-signal/src/lib/one-signal.provider.spec.ts
  providers/one-signal/src/lib/one-signal.provider.ts
Labels: providers, community

#4849 Create change on group and feed creation
  apps/api/src/app/workflows/e2e/create-notification-templates.e2e.ts
  apps/api/src/app/workflows/usecases/create-notification-template/create-notification-template.usecase.ts
Labels: @novu/api

#4878 chore(ci): fixing the e2e pipeline for api
  .github/workflows/test.yml
  apps/api/src/app/events/e2e/trigger-event.e2e.ts
Labels: @novu/api, CI/CD

#4893 feat: add translation link
  apps/web/src/components/layout/components/SideNav.tsx
  apps/web/src/components/providers/AuthProvider.tsx
  apps/web/src/constants/routes.enum.ts
  libs/design-system/src/icons/general/Translation.tsx
  libs/design-system/src/icons/index.ts
Labels: @novu/web, @novu/design-system

#4895 docs(providers): Fix syntax mistake
  providers/braze/README.md
Labels: providers, community

#4761 feat(web): Enable to copy on activity item feed - [NV-3056]
  apps/web/src/pages/activities/components/ActivityItem.tsx
  apps/web/src/pages/activities/components/CopyButton.tsx
Labels: @novu/web, community

#4897 docs(providers): Clickatell documentation incorrectly shows TwilioSmsProvider
  providers/clickatell/README.md
Labels: providers, community

#4896 Added the usage section in the sparkpost
  providers/sparkpost/README.md
Labels: providers, community

#4889 fix(web): position of dropdown arrow for team page
  apps/web/src/pages/invites/components/MembersTable.tsx
Labels: bug, @novu/web

#4692 feat: add getstream
  .cspell.json
  apps/api/src/app/events/e2e/digest-events.e2e.ts
  apps/web/public/static/images/providers/dark/getstream.svg
  apps/web/public/static/images/providers/light/getstream.svg
  apps/widget/cypress/e2e/user-preference.spec.ts
  apps/widget/cypress/support/commands.ts
  libs/shared/src/consts/providers/channels/chat.ts
  libs/shared/src/consts/providers/credentials/provider-credentials.ts
  libs/shared/src/consts/providers/provider.enum.ts
  packages/application-generic/package.json
  packages/application-generic/src/factories/chat/chat.factory.ts
  packages/application-generic/src/factories/chat/handlers/getstream.handler.ts
  pnpm-lock.yaml
  providers/getstream/.czrc
  providers/getstream/.eslintrc.json
  providers/getstream/.gitignore
  providers/getstream/README.md
  providers/getstream/jest.config.js
  providers/getstream/package.json
  providers/getstream/src/index.ts
  providers/getstream/src/lib/getstream.provider.spec.ts
  providers/getstream/src/lib/getstream.provider.ts
  providers/getstream/tsconfig.json
  providers/getstream/tsconfig.module.json
Labels: @novu/api, @novu/web, @novu/shared, providers, community

#4888 Feature : Ability to cancel any arbitrary events from digest
  apps/api/src/app/events/e2e/cancel-event.e2e.ts
  apps/api/src/app/events/e2e/delay-events.e2e.ts
  apps/api/src/app/events/e2e/digest-events.e2e.ts
  apps/api/src/app/events/events.controller.ts
  apps/api/src/app/events/usecases/cancel-delayed/cancel-delayed.usecase.ts
  apps/worker/src/app/workflow/usecases/run-job/run-job.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/digest/get-digest-events-backoff.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/digest/get-digest-events-regular.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/digest/get-digest-events.usecase.ts
  libs/dal/src/repositories/job/job.entity.ts
  packages/application-generic/src/index.ts
  packages/application-generic/src/usecases/add-job/add-job.usecase.ts
  packages/application-generic/src/usecases/add-job/merge-or-create-digest.usecase.ts
  packages/application-generic/src/usecases/digest-filter-steps/digest-filter-steps-backoff.usecase.ts
  packages/application-generic/src/usecases/digest-filter-steps/digest-filter-steps-regular.usecase.ts
  packages/application-generic/src/usecases/digest-filter-steps/digest-filter-steps-timed.usecase.ts
  packages/application-generic/src/usecases/digest-filter-steps/digest-filter-steps.usecase.ts
  packages/application-generic/src/utils/digest.ts
  packages/application-generic/src/utils/object.ts
Labels: @novu/api, @novu/dal, @novu/worker

#4859 Refactor : Split event trigger by type
  apps/api/src/app/events/events.controller.ts
  apps/api/src/app/events/usecases/parse-event-request/parse-event-request.command.ts
  apps/api/src/app/events/usecases/parse-event-request/parse-event-request.e2e.ts
  apps/api/src/app/events/usecases/parse-event-request/parse-event-request.usecase.ts
  apps/api/src/app/events/usecases/process-bulk-trigger/process-bulk-trigger.usecase.ts
  apps/api/src/app/workflow-overrides/e2e/delete-workflow-override.e2e.ts
  apps/api/src/app/workflow-overrides/e2e/get-workflow-override-by-id.e2e.ts
  apps/api/src/app/workflow-overrides/e2e/get-workflow-override.e2e.ts
  apps/api/src/app/workflow-overrides/e2e/update-workflow-override-by-id.e2e.ts
  apps/worker/src/app/workflow/workflow.module.ts
  packages/application-generic/src/usecases/index.ts
  packages/application-generic/src/usecases/trigger-broadcast/index.ts
  packages/application-generic/src/usecases/trigger-broadcast/trigger-broadcast.command.ts
  packages/application-generic/src/usecases/trigger-broadcast/trigger-broadcast.usecase.ts
  packages/application-generic/src/usecases/trigger-event/trigger-event.command.ts
  packages/application-generic/src/usecases/trigger-event/trigger-event.usecase.ts
  packages/application-generic/src/usecases/trigger-multicast/index.ts
  packages/application-generic/src/usecases/trigger-multicast/trigger-multicast.command.ts
  packages/application-generic/src/usecases/trigger-multicast/trigger-multicast.usecase.ts
Labels: @novu/api, @novu/worker

#4903 fix: senderName and subject override for email providers
  apps/worker/src/app/workflow/usecases/send-message/send-message-email.usecase.ts
  libs/shared/src/types/events/index.ts
  packages/application-generic/src/factories/mail/handlers/netcore.handler.ts
  packages/application-generic/src/factories/mail/handlers/plunk.handler.ts
  packages/application-generic/src/usecases/compile-email-template/compile-email-template.usecase.ts
  packages/stateless/src/lib/provider/provider.interface.ts
  providers/infobip/src/lib/infobip.provider.ts
  providers/mailersend/src/lib/mailersend.provider.spec.ts
  providers/mailersend/src/lib/mailersend.provider.ts
  providers/mailjet/src/lib/mailjet.provider.ts
  providers/mandrill/src/lib/mandrill.provider.ts
  providers/netcore/src/lib/netcore.provider.spec.ts
  providers/netcore/src/lib/netcore.provider.ts
  providers/nodemailer/src/lib/nodemailer.provider.ts
  providers/outlook365/src/lib/outlook365.provider.ts
  providers/plunk/src/lib/plunk.provider.spec.ts
  providers/plunk/src/lib/plunk.provider.ts
  providers/sendgrid/src/lib/sendgrid.provider.ts
  providers/sendinblue/src/lib/brevo.provider.ts
  providers/ses/src/lib/ses.provider.ts
Labels: @novu/shared, providers, @novu/worker

#4180 Add inbound mail Queue to metrics
  apps/api/src/app/inbound-parse/services/inbound-parse.queue.service.ts
  apps/inbound-mail/src/server/inbound-mail.service.spec.ts
  apps/inbound-mail/src/server/inbound-mail.service.ts
  packages/application-generic/src/custom-providers/index.ts
  packages/application-generic/src/health/inbound-parse-queue.health-indicator.ts
  packages/application-generic/src/modules/queues.module.ts
  packages/application-generic/src/services/queues/index.ts
Labels: @novu/api, @novu/inbound-mail

#4844 feat(api): Add evaluate api rate limit use case
  apps/api/package.json
  apps/api/src/.env.development
  apps/api/src/.env.production
  apps/api/src/.env.test
  apps/api/src/.example.env
  apps/api/src/app/organization/e2e/create-organization.e2e.ts
  apps/api/src/app/organization/usecases/create-organization/create-organization.usecase.ts
  apps/api/src/app/rate-limiting/usecases/evaluate-api-rate-limit/evaluate-api-rate-limit.command.ts
  apps/api/src/app/rate-limiting/usecases/evaluate-api-rate-limit/evaluate-api-rate-limit.spec.ts
  apps/api/src/app/rate-limiting/usecases/evaluate-api-rate-limit/evaluate-api-rate-limit.types.ts
  apps/api/src/app/rate-limiting/usecases/evaluate-api-rate-limit/evaluate-api-rate-limit.usecase.ts
  apps/api/src/app/rate-limiting/usecases/evaluate-api-rate-limit/index.ts
  apps/api/src/app/rate-limiting/usecases/evaluate-token-bucket-rate-limit/evaluate-token-bucket-rate-limit.command.ts
  apps/api/src/app/rate-limiting/usecases/evaluate-token-bucket-rate-limit/evaluate-token-bucket-rate-limit.spec.ts
  apps/api/src/app/rate-limiting/usecases/evaluate-token-bucket-rate-limit/evaluate-token-bucket-rate-limit.types.ts
  apps/api/src/app/rate-limiting/usecases/evaluate-token-bucket-rate-limit/evaluate-token-bucket-rate-limit.usecase.ts
  apps/api/src/app/rate-limiting/usecases/evaluate-token-bucket-rate-limit/index.ts
  apps/api/src/app/rate-limiting/usecases/get-api-rate-limit-algorithm-config/get-api-rate-limit-algorithm-config.spec.ts
  apps/api/src/app/rate-limiting/usecases/get-api-rate-limit-algorithm-config/get-api-rate-limit-algorithm-config.usecase.ts
  apps/api/src/app/rate-limiting/usecases/get-api-rate-limit-algorithm-config/index.ts
  apps/api/src/app/rate-limiting/usecases/get-api-rate-limit-cost-config/get-api-rate-limit-cost-config.spec.ts
  apps/api/src/app/rate-limiting/usecases/get-api-rate-limit-cost-config/get-api-rate-limit-cost-config.usecase.ts
  apps/api/src/app/rate-limiting/usecases/get-api-rate-limit-cost-config/index.ts
  apps/api/src/app/rate-limiting/usecases/get-api-rate-limit-maximum/get-api-rate-limit-maximum.command.ts
  apps/api/src/app/rate-limiting/usecases/get-api-rate-limit-maximum/get-api-rate-limit-maximum.spec.ts
  apps/api/src/app/rate-limiting/usecases/get-api-rate-limit-maximum/get-api-rate-limit-maximum.usecase.ts
  apps/api/src/app/rate-limiting/usecases/get-api-rate-limit-maximum/index.ts
  apps/api/src/app/rate-limiting/usecases/get-api-rate-limit-service-maximum-config/get-api-rate-limit-service-maximum-config.spec.ts
  apps/api/src/app/rate-limiting/usecases/get-api-rate-limit-service-maximum-config/get-api-rate-limit-service-maximum-config.usecase.ts
  apps/api/src/app/rate-limiting/usecases/get-api-rate-limit-service-maximum-config/index.ts
  apps/api/src/app/rate-limiting/usecases/get-api-rate-limit/get-api-rate-limit.command.ts
  apps/api/src/app/rate-limiting/usecases/get-api-rate-limit/index.ts
  apps/api/src/app/rate-limiting/usecases/get-default-api-rate-limits/get-default-api-rate-limits.spec.ts
  apps/api/src/app/rate-limiting/usecases/get-default-api-rate-limits/get-default-api-rate-limits.usecase.ts
  apps/api/src/app/rate-limiting/usecases/get-default-api-rate-limits/index.ts
  apps/api/src/app/rate-limiting/usecases/index.ts
  libs/dal/src/repositories/environment/environment.entity.ts
  libs/dal/src/repositories/environment/environment.schema.ts
  libs/dal/src/repositories/organization/organization.entity.ts
  libs/dal/src/repositories/organization/organization.schema.ts
  libs/shared/src/consts/rate-limiting/apiRateLimits.ts
  libs/shared/src/entities/environment/environment.interface.ts
  libs/shared/src/entities/organization/organization.interface.ts
  libs/shared/src/types/environment/index.ts
  libs/shared/src/types/organization/index.ts
  libs/shared/src/types/rate-limiting/algorithm.types.ts
  libs/shared/src/types/rate-limiting/config.types.ts
  libs/shared/src/types/rate-limiting/cost.types.ts
  libs/shared/src/types/rate-limiting/env.types.ts
  libs/shared/src/types/rate-limiting/index.ts
  libs/shared/src/types/rate-limiting/service.types.ts
  packages/application-generic/src/services/cache/cache-service.mock.ts
  packages/application-generic/src/services/cache/cache-service.spec.ts
  packages/application-generic/src/services/cache/cache.service.ts
  packages/application-generic/src/services/cache/key-builders/entities.ts
  packages/application-generic/src/services/cache/key-builders/shared.ts
  pnpm-lock.yaml
Labels: @novu/api, @novu/dal, @novu/shared

#4882 fix: change default value to true for critical switch
  apps/web/src/pages/templates/components/TemplateEditorFormProvider.tsx
  apps/web/src/pages/templates/components/notification-setting-form/TemplatePreference.tsx
Labels: @novu/web

#4358 fix: [NV-2841] Fixed issue of channel icons in light theme due to duplicate id in SVG
  apps/web/src/pages/templates/workflow/DisplayPrimaryProviderIcon.tsx
  apps/web/src/pages/templates/workflow/SideBar/AddStepMenu.tsx
  libs/design-system/src/icons/actions/Filter.tsx
  libs/design-system/src/icons/general/ChatFilled.tsx
  libs/design-system/src/icons/general/DigestAction.tsx
  libs/design-system/src/icons/general/EmailFilled.tsx
  libs/design-system/src/icons/general/InAppFilled.tsx
  libs/design-system/src/icons/general/PushFilled.tsx
  libs/design-system/src/icons/general/SmsFilled.tsx
Labels: @novu/web, community, @novu/design-system

#4884 feat: add launch darkly context in frontend
  apps/web/src/components/layout/components/SideNav.tsx
  apps/web/src/components/providers/AuthProvider.tsx
  apps/web/src/constants/routes.enum.ts
  apps/web/src/hooks/useFeatureFlags.ts
  libs/design-system/src/icons/general/Translation.tsx
  libs/design-system/src/icons/index.ts
Labels: @novu/web, @novu/design-system
