Repository novuhq/novu, pull requests merged in 2023-01, with the labels that each got.

#2397 fix: update redirection url text
  apps/web/src/components/templates/in-app-editor/TemplateInAppEditor.tsx
Labels: @novu/web, community

#2348 Nv 1391/log all the retried in execution details
  apps/api/package.json
  apps/api/src/app/events/services/workflow.queue.service.ts
  apps/api/src/app/events/usecases/add-job/add-job.usecase.ts
  apps/api/src/app/events/usecases/index.ts
  apps/api/src/app/events/usecases/process-subscriber/process-subscriber.usecase.ts
  apps/api/src/app/events/usecases/run-job/run-job.usecase.ts
  apps/api/src/app/events/usecases/send-message/send-message.usecase.ts
  apps/api/src/app/events/usecases/trigger-event/message-filter.matcher.ts
  apps/api/src/app/events/usecases/trigger-event/message-matcher.service.spec.ts
  apps/api/src/app/events/usecases/trigger-event/message-matcher.service.ts
  apps/api/src/app/execution-details/usecases/create-execution-details/create-execution-details.command.ts
  apps/api/src/app/shared/constants.ts
  pnpm-lock.yaml
Labels: @novu/api

#2355 feat: add step filter docs
  .cspell.json
  docs/docs/platform/step-filter.md
  docs/docs/platform/webhooks.md
  docs/static/img/platform/filter/dark-add-filter-section.png
  docs/static/img/platform/filter/dark-filter-section.png
  docs/static/img/platform/filter/dark-webhook-rule-example.png
  docs/static/img/platform/filter/light-add-filter-section.png
  docs/static/img/platform/filter/light-filter-section.png
  docs/static/img/platform/filter/light-webhook-rule-example.png
Labels: documentation

#2401 docs: warning wasn't rendered correctly
  docs/docs/community/run-locally.md
Labels: documentation, community

#2407 fix: catch compile errors in preview email and show error notification in ui
  apps/api/src/app/content-templates/usecases/parse-preview/preview-email.usecase.ts
  apps/web/src/pages/templates/editor/Preview.tsx
Labels: @novu/api, @novu/web

#2399 Webhook filter
  .cspell.json
  apps/api/package.json
  apps/api/src/app/events/e2e/delay-events.e2e.ts
  apps/api/src/app/events/e2e/digest-events.e2e.ts
  apps/api/src/app/events/e2e/trigger-event.e2e.ts
  apps/api/src/app/events/events.module.ts
  apps/api/src/app/events/services/workflow-queue/workflow.queue.service.ts
  apps/api/src/app/events/services/workflow.queue.service.ts
  apps/api/src/app/events/usecases/add-job/add-job.usecase.ts
  apps/api/src/app/events/usecases/index.ts
  apps/api/src/app/events/usecases/process-subscriber/process-subscriber.usecase.ts
  apps/api/src/app/events/usecases/run-job/run-job.usecase.ts
  apps/api/src/app/events/usecases/send-message/send-message.usecase.ts
  apps/api/src/app/events/usecases/trigger-event/message-filter.matcher.ts
  apps/api/src/app/events/usecases/trigger-event/message-matcher.service.spec.ts
  apps/api/src/app/events/usecases/trigger-event/message-matcher.service.ts
  apps/api/src/app/execution-details/usecases/create-execution-details/create-execution-details.command.ts
  apps/api/src/app/shared/constants.ts
  apps/api/src/app/shared/dtos/notification-step.ts
  apps/web/src/pages/templates/filter/FilterModal.tsx
  docs/docs/platform/step-filter.md
  docs/docs/platform/webhooks.md
  docs/static/img/platform/filter/dark-add-filter-section.png
  docs/static/img/platform/filter/dark-filter-section.png
  docs/static/img/platform/filter/dark-webhook-rule-example.png
  docs/static/img/platform/filter/light-add-filter-section.png
  docs/static/img/platform/filter/light-filter-section.png
  docs/static/img/platform/filter/light-webhook-rule-example.png
  libs/dal/src/repositories/notification-template/notification-template.entity.ts
  libs/dal/src/repositories/notification-template/notification-template.schema.ts
  pnpm-lock.yaml
Labels: documentation, @novu/api, @novu/web, @novu/dal

#2395 chore(notification-center): fix for ssr issues
  packages/notification-center/package.json
  packages/notification-center/rollup.config.mjs
  packages/notification-center/src/utils/defaultTheme.ts
  packages/notification-center/src/utils/react-to-webcomponent.ts
  pnpm-lock.yaml
Labels: @novu/notification-center

#2317 fix: add try catch condition in handlebar template compilation
  apps/api/src/app/content-templates/usecases/compile-template/compile-template.usecase.ts
  apps/api/src/app/events/usecases/send-message/send-message-chat.usecase.ts
  apps/api/src/app/events/usecases/send-message/send-message-email.usecase.ts
  apps/api/src/app/events/usecases/send-message/send-message-in-app.usecase.ts
  apps/api/src/app/events/usecases/send-message/send-message-push.usecase.ts
  apps/api/src/app/events/usecases/send-message/send-message-sms.usecase.ts
  apps/api/src/app/events/usecases/send-message/send-message.base.ts
  apps/api/src/app/events/usecases/send-message/test-send-email.usecase.ts
  apps/api/src/app/execution-details/usecases/create-execution-details/create-execution-details.command.ts
  libs/shared/src/entities/log/log.enums.ts
Labels: @novu/api, @novu/shared, community

#2416 change environment parameter from 'production' to 'prod'
  providers/apns/src/lib/apns.provider.ts
Labels: providers, community

#2408 feat: add blueprint modal and env for blueprint org
  apps/api/src/.env.test
  apps/api/src/app/change/usecases/promote-notification-template-change/promote-notification-template-change.ts
  apps/api/src/app/notification-template/notification-template.controller.ts
  apps/api/src/app/notification-template/usecases/create-blueprint-notification-template/create-blueprint-notification-template.command.ts
  apps/api/src/app/notification-template/usecases/create-blueprint-notification-template/create-blueprint-notification-template.usecase.ts
  apps/api/src/app/notification-template/usecases/create-notification-template/create-notification-template.command.ts
  apps/api/src/app/notification-template/usecases/create-notification-template/create-notification-template.usecase.ts
  apps/api/src/app/notification-template/usecases/get-blueprint-notification-template/get-blueprint-notification-template.command.ts
  apps/api/src/app/notification-template/usecases/get-blueprint-notification-template/get-blueprint-notification-template.usecase.ts
  apps/api/src/app/notification-template/usecases/index.ts
  apps/web/src/App.tsx
  apps/web/src/api/templates.ts
  apps/web/src/components/templates/BlueprintModal.tsx
  apps/web/src/hooks/useBlueprint.ts
  apps/web/src/hooks/useSearchParams.ts
  apps/web/src/pages/templates/editor/TemplateEditorPage.tsx
  libs/dal/src/repositories/notification-template/notification-template.entity.ts
  libs/dal/src/repositories/notification-template/notification-template.repository.ts
  libs/dal/src/repositories/notification-template/notification-template.schema.ts
Labels: @novu/api, @novu/web, @novu/dal

#2414 refactor: remove default attempts
  apps/api/package.json
  apps/api/src/app/events/services/workflow-queue/workflow.queue.service.ts
  pnpm-lock.yaml
Labels: @novu/api

#2411 feat: add segment events for onboarding
  .github/workflows/dev-deploy-web.yml
  .github/workflows/prod-deploy-web.yml
  apps/web/.env
  apps/web/package.json
  apps/web/src/App.tsx
  apps/web/src/hooks/use-segment.ts
  apps/web/src/pages/auth/LoginPage.tsx
  apps/web/src/pages/quick-start/QuickStartPage.tsx
  apps/web/src/store/segment.context.tsx
  apps/web/src/store/use-auth-controller.ts
  apps/web/src/testing/index.tsx
  apps/web/src/utils/segment.ts
  packages/cli/package.json
  packages/cli/src/commands/init.ts
  packages/cli/src/constants/constants.ts
  packages/cli/src/constants/dashboard/index.html
  packages/cli/src/services/analytics.service.ts
  pnpm-lock.yaml
Labels: @novu/web

#2400 feat: add few faqs
  docs/docs/channels/push/fcm.md
  docs/docs/community/faq.md
  docs/docs/notification-center/angular-component.md
  docs/docs/notification-center/react-components.md
  docs/docs/notification-center/vue-component.md
  docs/docs/overview/docker-deploy.md
  docs/docs/platform/subscribers.md
Labels: documentation, community

#2422 chore(docs): improve-topics-swagger
  apps/api/src/app/topics/topics.controller.ts
Labels: @novu/api

#2428 fix(api): improve `subscriberId` validation
  apps/api/src/app/subscribers/usecases/create-subscriber/create-subscriber.command.ts
Labels: @novu/api, community

#2425 Updating json web token library
  .deepsource.toml
  apps/api/package.json
  apps/webhook/package.json
  apps/ws/package.json
  pnpm-lock.yaml
Labels: @novu/api, @novu/webhook, @novu/ws, community

#2427 feat(dal): layout repository
  apps/api/src/app/change/e2e/get-changes.e2e.ts
  apps/api/src/app/change/e2e/promote-changes.e2e.ts
  apps/api/src/app/events/e2e/trigger-event.e2e.ts
  apps/api/src/app/message-template/shared/sanitizer.service.spec.ts
  apps/api/src/app/notification-template/e2e/create-notification-templates.e2e.ts
  apps/api/src/app/widgets/dtos/message-response.dto.ts
  apps/web/src/components/templates/email-editor/ContentRow.tsx
  apps/web/src/components/templates/email-editor/ControlBar.tsx
  apps/web/src/components/templates/email-editor/EmailMessageEditor.tsx
  libs/dal/src/index.ts
  libs/dal/src/repositories/layout/index.ts
  libs/dal/src/repositories/layout/layout.entity.ts
  libs/dal/src/repositories/layout/layout.repository.ts
  libs/dal/src/repositories/layout/layout.schema.ts
  libs/dal/src/repositories/layout/types.ts
  libs/dal/src/repositories/message-template/index.ts
  libs/dal/src/repositories/message-template/message-template.entity.ts
  libs/dal/src/repositories/message-template/types.ts
  libs/dal/src/repositories/user/index.ts
  libs/dal/src/repositories/user/types.ts
  libs/dal/src/repositories/user/user.entity.ts
  libs/shared/src/entities/message-template/message-template.interface.ts
  libs/shared/src/types/index.ts
  libs/shared/src/types/message-template/index.ts
  libs/testing/src/user.session.ts
Labels: @novu/api, @novu/web, @novu/dal, @novu/shared

#2430 fix(docs): add topics tag to swagger bootstrap
  apps/api/src/bootstrap.ts
Labels: @novu/api

#2431 feat: added online status properties for subscribers
  libs/dal/src/repositories/subscriber/subscriber.entity.ts
  libs/dal/src/repositories/subscriber/subscriber.schema.ts
Labels: @novu/dal

#2435 fix: typescript error for messageIds
  apps/api/src/app/subscribers/subscribers.controller.ts
Labels: @novu/api

#2440 fix: add backwards compatability for auth header
  apps/ws/src/socket/ws.gateway.ts
Labels: @novu/ws

#2333 fix: fix double scroll bars in admin panel
  apps/web/cypress/tests/layout/side-menu.spec.ts
  apps/web/cypress/tests/organization-switch.spec.ts
  apps/web/src/components/layout/AppLayout.tsx
  apps/web/src/components/layout/components/HeaderNav.tsx
  apps/web/src/components/layout/components/SideNav.tsx
  apps/web/src/components/layout/constants.ts
Labels: question, @novu/web, community

#2433 fix: improve env validator for storage providers
  apps/api/src/.env.test
  apps/api/src/config/env-validator.ts
Labels: @novu/api, community

#2444 feat(dal): add relationship between message template and layout
  apps/api/src/app/message-template/usecases/create-message-template/create-message-template.spec.ts
  libs/dal/src/repositories/message-template/message-template.entity.ts
  libs/dal/src/repositories/message-template/message-template.schema.ts
Labels: @novu/api, @novu/dal

#2454 feat(api): create layouts module
  apps/api/src/app.module.ts
  apps/api/src/app/layouts/layouts.controller.ts
  apps/api/src/app/layouts/layouts.module.ts
  apps/api/src/app/layouts/use-cases/index.ts
  apps/api/src/app/shared/shared.module.ts
Labels: @novu/api

#2429 feat: add usecase to calculate if predefined provider should be used
  apps/api/src/.env.development
  apps/api/src/.env.production
  apps/api/src/.env.test
  apps/api/src/app/events/e2e/trigger-event.e2e.ts
  apps/api/src/app/events/usecases/process-subscriber/process-subscriber.usecase.ts
  apps/api/src/app/events/usecases/send-message/send-message-email.usecase.ts
  apps/api/src/app/events/usecases/send-message/send-message-sms.usecase.ts
  apps/api/src/app/execution-details/usecases/create-execution-details/create-execution-details.command.ts
  apps/api/src/app/integrations/usecases/get-decrypted-integrations/get-decrypted-integrations.usecase.ts
  apps/api/src/app/integrations/usecases/get-novu-integration/get-novu-integration.command.ts
  apps/api/src/app/integrations/usecases/get-novu-integration/get-novu-integration.spec.ts
  apps/api/src/app/integrations/usecases/get-novu-integration/get-novu-integration.usecase.ts
  apps/api/src/app/integrations/usecases/get-novu-integration/index.ts
  apps/api/src/app/integrations/usecases/index.ts
  libs/shared/src/consts/providers/provider.enum.ts
  libs/testing/src/user.session.ts
Labels: @novu/api, @novu/shared

#2412 feat: add copy functionality for vars in variable manager
  apps/web/src/components/templates/email-editor/variables-management/VarItem.tsx
  apps/web/src/components/templates/email-editor/variables-management/VarItemTooltip.tsx
  apps/web/src/components/templates/email-editor/variables-management/VarItemsDropdown.tsx
  apps/web/src/components/templates/email-editor/variables-management/VariablesManagement.tsx
Labels: @novu/web, community

#2463 fix: remove redundant cache invalidation
  apps/api/src/app/events/usecases/process-subscriber/process-subscriber.usecase.ts
  apps/api/src/app/shared/services/cache/invalidate-cache.service.ts
  apps/api/src/app/subscribers/usecases/create-subscriber/create-subscriber.command.ts
  apps/api/src/app/subscribers/usecases/create-subscriber/create-subscriber.usecase.ts
  apps/api/src/app/subscribers/usecases/update-subscriber/update-subscriber.usecase.ts
Labels: @novu/api

#2455 feat(api): create layout endpoint
  apps/api/src/app/layouts/dtos/create-layout.dto.ts
  apps/api/src/app/layouts/dtos/index.ts
  apps/api/src/app/layouts/dtos/layout.dto.ts
  apps/api/src/app/layouts/e2e/create-layout.e2e.ts
  apps/api/src/app/layouts/layouts.controller.ts
  apps/api/src/app/layouts/types/index.ts
  apps/api/src/app/layouts/use-cases/create-layout/create-layout.command.ts
  apps/api/src/app/layouts/use-cases/create-layout/create-layout.use-case.ts
  apps/api/src/app/layouts/use-cases/create-layout/index.ts
  apps/api/src/app/layouts/use-cases/index.ts
  libs/shared/src/types/environment/index.ts
  libs/shared/src/types/index.ts
  libs/shared/src/types/layout/index.ts
  libs/shared/src/types/organization/index.ts
  libs/shared/src/types/topic/index.ts
  libs/shared/src/types/user/index.ts
Labels: @novu/api, @novu/shared

#2467 fix: remove redundant update
  apps/api/src/app/subscribers/usecases/update-subscriber-channel/update-subscriber-channel.usecase.ts
Labels: @novu/api

#2466 feat(api): get layout endpoint
  apps/api/src/app/layouts/dtos/get-layout.dto.ts
  apps/api/src/app/layouts/dtos/index.ts
  apps/api/src/app/layouts/dtos/layout.dto.ts
  apps/api/src/app/layouts/e2e/get-layout.e2e.ts
  apps/api/src/app/layouts/layouts.controller.ts
  apps/api/src/app/layouts/use-cases/create-layout/create-layout.use-case.ts
  apps/api/src/app/layouts/use-cases/get-layout/get-layout.command.ts
  apps/api/src/app/layouts/use-cases/get-layout/get-layout.use-case.ts
  apps/api/src/app/layouts/use-cases/get-layout/index.ts
  apps/api/src/app/layouts/use-cases/index.ts
  libs/dal/src/repositories/layout/layout.entity.ts
  libs/dal/src/repositories/layout/layout.repository.ts
Labels: @novu/api, @novu/dal

#2441 feat: online status handler
  apps/ws/src/shared/shared.module.ts
  apps/ws/src/shared/subscriber-online/index.ts
  apps/ws/src/shared/subscriber-online/subscriber-online.service.ts
  apps/ws/src/socket/ws.gateway.ts
Labels: @novu/ws

#2450 fix: duplicate preference rows on update
  packages/notification-center/src/components/notification-center/components/user-preference/SubscriberPreference.tsx
  packages/notification-center/src/hooks/use-subscriber-preference.hook.ts
Labels: @novu/notification-center

#2477 chore(web): fixed deepsource issues with wai aria
  apps/web/src/components/templates/email-editor/ContentRow.tsx
  apps/web/src/pages/templates/workflow/WorkflowEditorPage.tsx
Labels: @novu/web

#2458 feat(api): update step filter type for is online filters
  apps/api/src/app/change/e2e/get-changes.e2e.ts
  apps/api/src/app/change/e2e/promote-changes.e2e.ts
  apps/api/src/app/events/usecases/send-message/send-message.usecase.ts
  apps/api/src/app/events/usecases/trigger-event/message-matcher.service.spec.ts
  apps/api/src/app/events/usecases/trigger-event/message-matcher.service.ts
  apps/api/src/app/notification-template/dto/create-notification-template.request.dto.ts
  apps/api/src/app/notification-template/e2e/create-notification-templates.e2e.ts
  apps/api/src/app/notification-template/usecases/create-notification-template/create-notification-template.command.ts
  apps/api/src/app/shared/dtos/message-filter.ts
  apps/api/src/app/shared/dtos/notification-step.ts
  apps/api/src/app/shared/dtos/step-filter.ts
  libs/dal/src/repositories/notification-template/notification-template.entity.ts
  libs/dal/src/repositories/notification-template/notification-template.schema.ts
  libs/shared/src/entities/notification-template/notification-template.interface.ts
  libs/shared/src/types/builder/filter.types.ts
  libs/shared/src/types/builder/index.ts
Labels: @novu/api, @novu/dal, @novu/shared

#2472 feat(api): run step filters - is online logic
  apps/api/src/app/events/usecases/trigger-event/message-matcher.service.spec.ts
  apps/api/src/app/events/usecases/trigger-event/message-matcher.service.ts
  libs/dal/src/repositories/subscriber/subscriber.schema.ts
Labels: @novu/api, @novu/dal

#2479 feat(api): filter layouts endpoint
  apps/api/src/app/layouts/dtos/filter-layouts.dto.ts
  apps/api/src/app/layouts/dtos/index.ts
  apps/api/src/app/layouts/e2e/filter-layouts.e2e.ts
  apps/api/src/app/layouts/layouts.controller.ts
  apps/api/src/app/layouts/use-cases/filter-layouts/filter-layouts.command.ts
  apps/api/src/app/layouts/use-cases/filter-layouts/filter-layouts.use-case.ts
  apps/api/src/app/layouts/use-cases/filter-layouts/index.ts
  apps/api/src/app/layouts/use-cases/index.ts
  libs/dal/src/repositories/layout/layout.repository.ts
Labels: @novu/api, @novu/dal

#2474 Nv 1464 web create layout page
  apps/web/src/api/layouts.ts
  apps/web/src/design-system/index.ts
  apps/web/src/design-system/loading-overlay/LoadingOverlay.tsx
  apps/web/src/pages/brand/BrandPage.tsx
  apps/web/src/pages/brand/tabs/BrandingForm.tsx
  apps/web/src/pages/brand/tabs/LayoutEditor.tsx
  apps/web/src/pages/brand/tabs/LayoutsListPage.tsx
  apps/web/src/pages/brand/tabs/index.ts
Labels: @novu/web

#2459 Initial Layout Page
  apps/web/src/api/layouts.ts
  apps/web/src/design-system/index.ts
  apps/web/src/design-system/loading-overlay/LoadingOverlay.tsx
  apps/web/src/pages/brand/BrandPage.tsx
  apps/web/src/pages/brand/tabs/BrandingForm.tsx
  apps/web/src/pages/brand/tabs/LayoutEditor.tsx
  apps/web/src/pages/brand/tabs/LayoutsListPage.tsx
  apps/web/src/pages/brand/tabs/index.ts
Labels: @novu/web

#2483 fix(api): is online filters - skip processing old subscribers
  apps/api/src/app/events/usecases/trigger-event/message-matcher.service.spec.ts
  apps/api/src/app/events/usecases/trigger-event/message-matcher.service.ts
  libs/dal/src/repositories/subscriber/subscriber.entity.ts
Labels: @novu/api, @novu/dal

#2456 Feature/dynamic onboarding
  apps/api/src/.env.development
  apps/api/src/.env.production
  apps/api/src/.env.test
  apps/api/src/app/change/e2e/promote-changes.e2e.ts
  apps/api/src/app/change/usecases/promote-notification-template-change/promote-notification-template-change.ts
  apps/api/src/app/events/e2e/trigger-event.e2e.ts
  apps/api/src/app/events/usecases/process-subscriber/process-subscriber.usecase.ts
  apps/api/src/app/events/usecases/send-message/send-message-email.usecase.ts
  apps/api/src/app/events/usecases/send-message/send-message-sms.usecase.ts
  apps/api/src/app/execution-details/usecases/create-execution-details/create-execution-details.command.ts
  apps/api/src/app/integrations/usecases/get-decrypted-integrations/get-decrypted-integrations.usecase.ts
  apps/api/src/app/integrations/usecases/get-novu-integration/get-novu-integration.command.ts
  apps/api/src/app/integrations/usecases/get-novu-integration/get-novu-integration.spec.ts
  apps/api/src/app/integrations/usecases/get-novu-integration/get-novu-integration.usecase.ts
  apps/api/src/app/integrations/usecases/get-novu-integration/index.ts
  apps/api/src/app/integrations/usecases/index.ts
  apps/api/src/app/notification-template/e2e/create-blueprint-notification-templates.e2e.ts
  apps/api/src/app/notification-template/notification-template.controller.ts
  apps/api/src/app/notification-template/usecases/create-blueprint-notification-template/create-blueprint-notification-template.command.ts
  apps/api/src/app/notification-template/usecases/create-blueprint-notification-template/create-blueprint-notification-template.usecase.ts
  apps/api/src/app/notification-template/usecases/create-notification-template/create-notification-template.command.ts
  apps/api/src/app/notification-template/usecases/create-notification-template/create-notification-template.usecase.ts
  apps/api/src/app/notification-template/usecases/get-blueprint-notification-template/get-blueprint-notification-template.command.ts
  apps/api/src/app/notification-template/usecases/get-blueprint-notification-template/get-blueprint-notification-template.usecase.ts
  apps/api/src/app/notification-template/usecases/index.ts
  apps/web/src/App.tsx
  apps/web/src/api/templates.ts
  apps/web/src/components/templates/BlueprintModal.cy.tsx
  apps/web/src/components/templates/BlueprintModal.tsx
  apps/web/src/hooks/useBlueprint.ts
  apps/web/src/hooks/useSearchParams.ts
  apps/web/src/pages/templates/editor/TemplateEditorPage.tsx
  docker/local/deployment/docker-compose.yml
  libs/dal/src/repositories/notification-template/notification-template.entity.ts
  libs/dal/src/repositories/notification-template/notification-template.repository.ts
  libs/dal/src/repositories/notification-template/notification-template.schema.ts
  libs/shared/src/consts/providers/provider.enum.ts
  libs/testing/src/user.session.ts
Labels: @novu/api, @novu/web, @novu/dal, @novu/shared

#2460 feat: Added form UI for the online filters
  apps/web/src/components/templates/use-template-controller.hook.ts
  apps/web/src/pages/templates/filter/FilterModal.styles.ts
  apps/web/src/pages/templates/filter/FilterModal.tsx
  apps/web/src/pages/templates/filter/Filters.tsx
  apps/web/src/pages/templates/filter/OnlineFiltersForms.tsx
Labels: @novu/web

#2485 Nv 1476 web get layouts endpoint
  apps/web/src/api/hooks/use-layouts.ts
  apps/web/src/api/layouts.ts
  apps/web/src/api/query.keys.ts
  apps/web/src/pages/brand/tabs/LayoutEditor.tsx
  apps/web/src/pages/brand/tabs/LayoutsListPage.tsx
  libs/shared/src/entities/layout/index.ts
  libs/shared/src/entities/layout/layout.interface.ts
  libs/shared/src/index.ts
Labels: @novu/web, @novu/shared

#2488 refactor: change es cache service key
  apps/api/src/.env.development
  apps/api/src/.env.test
  apps/api/src/.example.env
  apps/api/src/app/events/e2e/process-subscriber.e2e.ts
  apps/api/src/app/shared/shared.module.ts
  apps/api/src/app/widgets/e2e/get-unseen-count.e2e.ts
  apps/api/src/config/env-validator.ts
  docs/docs/overview/docker-deploy.md
Labels: documentation, @novu/api

#2475 feat(api): update subscriber online status endpoint
  apps/api/src/app/subscribers/dtos/subscriber-response.dto.ts
  apps/api/src/app/subscribers/dtos/update-subscriber-online-flag-request.dto.ts
  apps/api/src/app/subscribers/e2e/update-online-flag.e2e.ts
  apps/api/src/app/subscribers/subscribers.controller.ts
  apps/api/src/app/subscribers/usecases/index.ts
  apps/api/src/app/subscribers/usecases/update-subscriber-online-flag/index.ts
  apps/api/src/app/subscribers/usecases/update-subscriber-online-flag/update-subscriber-online-flag.command.ts
  apps/api/src/app/subscribers/usecases/update-subscriber-online-flag/update-subscriber-online-flag.usecase.ts
  apps/ws/src/shared/subscriber-online/subscriber-online.service.ts
  libs/testing/src/subscribers.service.ts
Labels: @novu/api, @novu/ws

#2482 feat: consolidate sign up events
  apps/api/src/app/auth/services/auth.service.ts
  apps/api/src/app/auth/services/passport/github.strategy.ts
  apps/api/src/app/auth/usecases/register/user-register.usecase.ts
  apps/web/src/components/auth/LoginForm.tsx
  libs/shared/src/types/analytics/index.ts
  libs/shared/src/types/index.ts
  packages/cli/src/commands/init.ts
Labels: @novu/api, @novu/web, @novu/shared

#2490 v0.10.2
  apps/api/package.json
  apps/web/package.json
  apps/webhook/package.json
  apps/widget/package.json
  apps/ws/package.json
  examples/angular-notification-center-example/package.json
  examples/vue-notification-center-example/package.json
  lerna.json
  libs/dal/package.json
  libs/embed/package.json
  libs/shared/package.json
  libs/testing/package.json
  packages/application-generic/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/headless/package.json
  packages/nest/package.json
  packages/node/package.json
  packages/notification-center-angular/package.json
  packages/notification-center-vue/package.json
  packages/notification-center/package.json
  packages/stateless/package.json
  pnpm-lock.yaml
  providers/apns/package.json
  providers/burst-sms/package.json
  providers/clickatell/package.json
  providers/discord/package.json
  providers/emailjs/package.json
  providers/expo/package.json
  providers/fcm/package.json
  providers/firetext/package.json
  providers/gupshup/package.json
  providers/infobip/package.json
  providers/mailersend/package.json
  providers/mailgun/package.json
  providers/mailjet/package.json
  providers/mandrill/package.json
  providers/ms-teams/package.json
  providers/netcore/package.json
  providers/nexmo/package.json
  providers/nodemailer/package.json
  providers/outlook365/package.json
  providers/plivo/package.json
  providers/postmark/package.json
  providers/sendgrid/package.json
  providers/sendinblue/package.json
  providers/ses/package.json
  providers/slack/package.json
  providers/sms77/package.json
  providers/sns/package.json
  providers/sparkpost/package.json
  providers/telnyx/package.json
  providers/termii/package.json
  providers/twilio/package.json
Labels: @novu/api, @novu/web, @novu/dal, @novu/webhook, @novu/ws, @novu/notification-center, @novu/shared, providers, @novu/notification-center-vue, @novu/notification-center-angular

#2492 feat: upgrade newrelic
  apps/api/package.json
  pnpm-lock.yaml
Labels: @novu/api

#2476 fix: Add api body params to mark subscriber feed
  apps/api/src/app/subscribers/subscribers.controller.ts
  apps/api/src/app/widgets/dtos/mark-message-as-request.dto.ts
Labels: @novu/api, community

#2501 refactor: add new parsing queue for events
  apps/api/src/app/events/e2e/delay-events.e2e.ts
  apps/api/src/app/events/e2e/digest-events.e2e.ts
  apps/api/src/app/events/e2e/process-subscriber.e2e.ts
  apps/api/src/app/events/e2e/trigger-event-topic.e2e.ts
  apps/api/src/app/events/e2e/trigger-event.e2e.ts
  apps/api/src/app/events/events.controller.ts
  apps/api/src/app/events/events.module.ts
  apps/api/src/app/events/services/workflow-queue/trigger-handler-queue.service.ts
  apps/api/src/app/events/usecases/index.ts
  apps/api/src/app/events/usecases/parse-event-request/parse-event-request.command.ts
  apps/api/src/app/events/usecases/parse-event-request/parse-event-request.usecase.ts
  apps/api/src/app/events/usecases/send-message/send-message-in-app.usecase.ts
  apps/api/src/app/events/usecases/trigger-event/trigger-event.usecase.ts
  apps/widget/src/index.tsx
  libs/testing/package.json
  libs/testing/src/user.session.ts
  pnpm-lock.yaml
Labels: @novu/api

#2494 fix: use class validators 0.14.0
  apps/api/package.json
  apps/api/src/bootstrap.ts
  apps/webhook/package.json
  libs/shared/package.json
  libs/testing/src/user.session.ts
  packages/application-generic/package.json
  pnpm-lock.yaml
Labels: @novu/api, @novu/webhook, @novu/shared

#2502 fix: page flickering issue while using light theme on system
  apps/web/src/components/layout/components/PartnerIntegrationLayout.tsx
  apps/web/src/components/partner-integrations/vercel/LinkProjectContainer.tsx
  apps/web/src/components/partner-integrations/vercel/ProjectRow.tsx
  apps/web/src/pages/partner-integrations/LinkVercelProjectPage.tsx
Labels: @novu/web

#2495 feat: add endpoint to get novu limits
  apps/api/src/app/integrations/integrations.controller.ts
  apps/api/src/app/integrations/integrations.module.ts
  apps/api/src/app/integrations/usecases/calculate-limit-novu-integration/calculate-limit-novu-integration.command.ts
  apps/api/src/app/integrations/usecases/calculate-limit-novu-integration/calculate-limit-novu-integration.usecase.ts
  apps/api/src/app/integrations/usecases/calculate-limit-novu-integration/index.ts
  apps/api/src/app/integrations/usecases/get-novu-integration/get-novu-integration.spec.ts
  apps/api/src/app/integrations/usecases/get-novu-integration/get-novu-integration.usecase.ts
  apps/api/src/app/integrations/usecases/index.ts
  apps/api/src/app/notification-template/notification-template.module.ts
Labels: @novu/api

#2491 feat: added tests for filters
  apps/web/cypress/tests/notification-editor/steps-actions.spec.ts
  apps/web/src/pages/templates/filter/FilterModal.tsx
  apps/web/src/pages/templates/filter/Filters.cy.tsx
  apps/web/src/pages/templates/filter/Filters.tsx
  apps/web/src/pages/templates/filter/OnlineFiltersForms.tsx
  apps/web/src/pages/templates/workflow/WorkflowEditorPage.tsx
Labels: @novu/web

#2487 feat(api): add delete layout endpoint
  apps/api/src/app/layouts/e2e/delete-layout.e2e.ts
  apps/api/src/app/layouts/layouts.controller.ts
  apps/api/src/app/layouts/use-cases/delete-layout/delete-layout.command.ts
  apps/api/src/app/layouts/use-cases/delete-layout/delete-layout.use-case.ts
  apps/api/src/app/layouts/use-cases/delete-layout/index.ts
  apps/api/src/app/layouts/use-cases/index.ts
  libs/dal/src/repositories/base-repository.ts
  libs/dal/src/repositories/layout/layout.repository.ts
Labels: @novu/api, @novu/dal

#2497 feat(api): add update endpoint
  apps/api/src/app/layouts/dtos/index.ts
  apps/api/src/app/layouts/dtos/update-layout.dto.ts
  apps/api/src/app/layouts/e2e/update-layout.e2e.ts
  apps/api/src/app/layouts/layouts.controller.ts
  apps/api/src/app/layouts/use-cases/index.ts
  apps/api/src/app/layouts/use-cases/update-layout/index.ts
  apps/api/src/app/layouts/use-cases/update-layout/update-layout.command.ts
  apps/api/src/app/layouts/use-cases/update-layout/update-layout.use-case.ts
  libs/dal/src/repositories/layout/layout.entity.ts
  libs/dal/src/repositories/layout/layout.repository.ts
Labels: @novu/api, @novu/dal

#2498 feat(api): add field description to layout
  apps/api/src/app/layouts/dtos/create-layout.dto.ts
  apps/api/src/app/layouts/dtos/layout.dto.ts
  apps/api/src/app/layouts/dtos/update-layout.dto.ts
  apps/api/src/app/layouts/e2e/create-layout.e2e.ts
  apps/api/src/app/layouts/e2e/delete-layout.e2e.ts
  apps/api/src/app/layouts/e2e/filter-layouts.e2e.ts
  apps/api/src/app/layouts/e2e/get-layout.e2e.ts
  apps/api/src/app/layouts/e2e/update-layout.e2e.ts
  apps/api/src/app/layouts/layouts.controller.ts
  apps/api/src/app/layouts/types/index.ts
  apps/api/src/app/layouts/use-cases/create-layout/create-layout.command.ts
  apps/api/src/app/layouts/use-cases/create-layout/create-layout.use-case.ts
  apps/api/src/app/layouts/use-cases/update-layout/update-layout.command.ts
  apps/api/src/app/layouts/use-cases/update-layout/update-layout.use-case.ts
  libs/dal/src/repositories/layout/layout.entity.ts
  libs/dal/src/repositories/layout/layout.repository.ts
  libs/dal/src/repositories/layout/layout.schema.ts
  libs/dal/src/repositories/layout/types.ts
  libs/shared/src/types/layout/index.ts
Labels: @novu/api, @novu/dal, @novu/shared

#2506 feat: assign layout to template and dropdown in web
  apps/api/src/app/layouts/e2e/filter-layouts.e2e.ts
  apps/api/src/app/layouts/use-cases/filter-layouts/filter-layouts.use-case.ts
  apps/api/src/app/message-template/usecases/create-message-template/create-message-template.command.ts
  apps/api/src/app/message-template/usecases/create-message-template/create-message-template.usecase.ts
  apps/api/src/app/message-template/usecases/update-message-template/update-message-template.command.ts
  apps/api/src/app/message-template/usecases/update-message-template/update-message-template.usecase.ts
  apps/api/src/app/notification-template/usecases/create-notification-template/create-notification-template.usecase.ts
  apps/api/src/app/notification-template/usecases/update-notification-template/update-notification-template.usecase.ts
  apps/api/src/app/shared/dtos/message-template.ts
  apps/web/src/components/templates/email-editor/EmailInboxContent.tsx
  apps/web/src/components/templates/use-template-controller.hook.ts
  libs/dal/src/repositories/layout/layout.repository.ts
  libs/shared/src/entities/message-template/message-template.interface.ts
  libs/shared/src/entities/messages/messages.interface.ts
Labels: @novu/api, @novu/web, @novu/dal, @novu/shared

#2514 feat(api): add endpoint to set a layout as default
  apps/api/src/app/layouts/e2e/delete-layout.e2e.ts
  apps/api/src/app/layouts/e2e/filter-layouts.e2e.ts
  apps/api/src/app/layouts/e2e/get-layout.e2e.ts
  apps/api/src/app/layouts/e2e/helpers/index.ts
  apps/api/src/app/layouts/e2e/set-default-layout.e2e.ts
  apps/api/src/app/layouts/e2e/update-layout.e2e.ts
  apps/api/src/app/layouts/layouts.controller.ts
  apps/api/src/app/layouts/use-cases/index.ts
  apps/api/src/app/layouts/use-cases/set-default-layout/index.ts
  apps/api/src/app/layouts/use-cases/set-default-layout/set-default-layout.command.ts
  apps/api/src/app/layouts/use-cases/set-default-layout/set-default-layout.use-case.ts
  libs/dal/src/repositories/layout/layout.repository.ts
Labels: @novu/api, @novu/dal

#2505 Nv 1488 web delete and update
  apps/api/src/app/layouts/e2e/filter-layouts.e2e.ts
  apps/api/src/app/layouts/use-cases/filter-layouts/filter-layouts.use-case.ts
  apps/api/src/app/message-template/usecases/create-message-template/create-message-template.command.ts
  apps/api/src/app/message-template/usecases/create-message-template/create-message-template.usecase.ts
  apps/api/src/app/message-template/usecases/update-message-template/update-message-template.command.ts
  apps/api/src/app/message-template/usecases/update-message-template/update-message-template.usecase.ts
  apps/api/src/app/notification-template/usecases/create-notification-template/create-notification-template.usecase.ts
  apps/api/src/app/notification-template/usecases/update-notification-template/update-notification-template.usecase.ts
  apps/api/src/app/shared/dtos/message-template.ts
  apps/web/src/api/api.client.ts
  apps/web/src/api/hooks/use-layouts.ts
  apps/web/src/api/layouts.ts
  apps/web/src/components/templates/email-editor/EmailInboxContent.tsx
  apps/web/src/components/templates/use-template-controller.hook.ts
  apps/web/src/pages/brand/tabs/LayoutEditor.tsx
  apps/web/src/pages/brand/tabs/LayoutsListPage.tsx
  libs/dal/src/repositories/layout/layout.repository.ts
  libs/shared/src/entities/layout/layout.interface.ts
  libs/shared/src/entities/message-template/message-template.interface.ts
  libs/shared/src/entities/messages/messages.interface.ts
Labels: @novu/api, @novu/web, @novu/dal, @novu/shared

#2515 fix(notification-center-vue): fixed react, react dom dependencies issue
  packages/notification-center-vue/package.json
  packages/notification-center-vue/vite.config.js
  packages/notification-center/package.json
  packages/notification-center/rollup.config.mjs
  pnpm-lock.yaml
Labels: @novu/notification-center, @novu/notification-center-vue

#2508 CLI Onboarding - email and password registration
  .cspell.json
  apps/api/src/app/auth/auth.controller.ts
  apps/api/src/app/auth/dtos/user-registration.dto.ts
  apps/api/src/app/auth/e2e/user-registration.e2e.ts
  apps/api/src/app/auth/usecases/register/user-register.command.ts
  apps/api/src/app/auth/usecases/register/user-register.usecase.ts
  apps/api/src/app/user/dtos/change-profile-email.dto.ts
  apps/api/src/app/user/e2e/email-change.e2e.ts
  apps/api/src/app/user/usecases/index.ts
  apps/api/src/app/user/usecases/update-profile-email/update-profile-email.command.ts
  apps/api/src/app/user/usecases/update-profile-email/update-profile-email.usecase.ts
  apps/api/src/app/user/user.controller.ts
  packages/cli/src/api/api.service.ts
  packages/cli/src/api/auth.ts
  packages/cli/src/commands/init.consts.ts
  packages/cli/src/commands/init.ts
  packages/cli/src/constants/constants.ts
  packages/cli/src/constants/domains.ts
  packages/cli/src/services/analytics.service.ts
Labels: @novu/api

#2517 v0.10.3
  .cspell.json
  apps/api/package.json
  apps/api/src/app/auth/auth.controller.ts
  apps/api/src/app/auth/dtos/user-registration.dto.ts
  apps/api/src/app/auth/e2e/user-registration.e2e.ts
  apps/api/src/app/auth/usecases/register/user-register.command.ts
  apps/api/src/app/auth/usecases/register/user-register.usecase.ts
  apps/api/src/app/user/dtos/change-profile-email.dto.ts
  apps/api/src/app/user/e2e/email-change.e2e.ts
  apps/api/src/app/user/usecases/index.ts
  apps/api/src/app/user/usecases/update-profile-email/update-profile-email.command.ts
  apps/api/src/app/user/usecases/update-profile-email/update-profile-email.usecase.ts
  apps/api/src/app/user/user.controller.ts
  apps/web/package.json
  apps/webhook/package.json
  apps/widget/package.json
  apps/ws/package.json
  examples/angular-notification-center-example/package.json
  examples/vue-notification-center-example/package.json
  lerna.json
  libs/dal/package.json
  libs/embed/package.json
  libs/testing/package.json
  packages/application-generic/package.json
  packages/cli/package.json
  packages/cli/src/api/api.service.ts
  packages/cli/src/api/auth.ts
  packages/cli/src/commands/init.consts.ts
  packages/cli/src/commands/init.ts
  packages/cli/src/constants/constants.ts
  packages/cli/src/constants/domains.ts
  packages/cli/src/services/analytics.service.ts
  packages/notification-center-angular/package.json
  packages/notification-center-vue/package.json
  packages/notification-center-vue/vite.config.js
  packages/notification-center/package.json
  packages/notification-center/rollup.config.mjs
  pnpm-lock.yaml
  providers/fcm/package.json
  providers/fcm/src/lib/__mocks__/firebase-admin/app.ts
Labels: @novu/api, @novu/web, @novu/dal, @novu/webhook, @novu/ws, @novu/notification-center, providers, @novu/notification-center-vue, @novu/notification-center-angular

#2513 feat: Support serving uploaded files from CDN
  apps/api/src/.example.env
  apps/api/src/app/shared/services/storage/storage.service.ts
Labels: @novu/api, community

#2516 docs: online filter documentation
  docs/docs/platform/step-filter.md
  docs/static/img/execution-details.png
  docs/static/img/step-execution-details.png
  pnpm-lock.yaml
Labels: documentation

#2503 Nv 1486 remove env from the vercel project if
  apps/api/src/app/partner-integrations/usecases/get-vercel-projects/get-vercel-projects.command.ts
  apps/api/src/app/partner-integrations/usecases/get-vercel-projects/get-vercel-projects.usecase.ts
  apps/api/src/app/partner-integrations/usecases/update-vercel-configuration/update-vercel-configuration.usecase.ts
Labels: @novu/api

#2511 fix: Add support for Minio local S3 storage by upgrading AWS SDK
  apps/api/package.json
  pnpm-lock.yaml
Labels: @novu/api, community

#2519 feat(api,ws): is online filters analytics
  apps/api/package.json
  apps/api/src/app/auth/services/auth.service.ts
  apps/api/src/app/auth/usecases/login/login.usecase.ts
  apps/api/src/app/auth/usecases/register/user-register.usecase.ts
  apps/api/src/app/events/usecases/parse-event-request/parse-event-request.usecase.ts
  apps/api/src/app/events/usecases/send-message/send-message.usecase.ts
  apps/api/src/app/events/usecases/trigger-event/trigger-event.usecase.ts
  apps/api/src/app/integrations/usecases/create-integration/create-integration.usecase.ts
  apps/api/src/app/invites/usecases/invite-member/invite-member.usecase.ts
  apps/api/src/app/notification-template/usecases/create-notification-template/create-notification-template.usecase.ts
  apps/api/src/app/notification-template/usecases/update-notification-template/update-notification-template.usecase.ts
  apps/api/src/app/notifications/usecases/get-activity/get-activity.usecase.ts
  apps/api/src/app/organization/usecases/create-organization/create-organization.usecase.ts
  apps/api/src/app/partner-integrations/partner-integrations.controller.ts
  apps/api/src/app/partner-integrations/usecases/complete-vercel-integration/complete-vercel-integration.usecase.ts
  apps/api/src/app/shared/shared.module.ts
  apps/api/src/app/subscribers/usecases/get-subscriber-preference/get-subscriber-preference.usecase.ts
  apps/api/src/app/subscribers/usecases/update-subscriber-online-flag/update-subscriber-online-flag.usecase.ts
  apps/api/src/app/subscribers/usecases/update-subscriber-preference/update-subscriber-preference.usecase.ts
  apps/api/src/app/topics/topics.controller.ts
  apps/api/src/app/user/usecases/update-profile-email/update-profile-email.usecase.ts
  apps/api/src/app/widgets/usecases/get-notifications-feed/get-notifications-feed.usecase.ts
  apps/api/src/app/widgets/usecases/initialize-session/initialize-session.usecase.ts
  apps/api/src/app/widgets/usecases/mark-action-as-done/update-message-actions.usecase.ts
  apps/api/src/app/widgets/usecases/mark-all-message-as-seen/mark-all-message-as-seen.usecase.ts
  apps/api/src/app/widgets/usecases/mark-message-as/mark-message-as.usecase.ts
  apps/api/src/app/widgets/widgets.controller.ts
  apps/ws/package.json
  apps/ws/src/shared/shared.module.ts
  apps/ws/src/shared/subscriber-online/subscriber-online.service.ts
  packages/application-generic/package.json
  packages/application-generic/src/index.ts
  packages/application-generic/src/services/analytics.service.ts
  packages/application-generic/src/services/index.ts
  pnpm-lock.yaml
Labels: @novu/api, @novu/ws

#2522 feat: add limit bar and analytics
  apps/api/src/app/events/usecases/process-subscriber/process-subscriber.usecase.ts
  apps/api/src/app/events/usecases/send-message/send-message-chat.usecase.ts
  apps/api/src/app/events/usecases/send-message/send-message-email.usecase.ts
  apps/api/src/app/events/usecases/send-message/send-message-push.usecase.ts
  apps/api/src/app/events/usecases/send-message/send-message-sms.usecase.ts
  apps/api/src/app/events/usecases/send-message/test-send-email.usecase.ts
  apps/api/src/app/integrations/integrations.controller.ts
  apps/api/src/app/integrations/usecases/calculate-limit-novu-integration/calculate-limit-novu-integration.usecase.ts
  apps/api/src/app/integrations/usecases/get-active-integration/get-active-integration.usecase.ts
  apps/api/src/app/integrations/usecases/get-decrypted-integrations/get-decrypted-integrations.command.ts
  apps/api/src/app/integrations/usecases/get-decrypted-integrations/get-decrypted-integrations.usecase.ts
  apps/api/src/app/integrations/usecases/get-integrations/get-integrations.command.ts
  apps/api/src/app/integrations/usecases/get-integrations/get-integrations.usecase.ts
  apps/api/src/app/integrations/usecases/get-novu-integration/get-novu-integration.command.ts
  apps/api/src/app/integrations/usecases/get-novu-integration/get-novu-integration.spec.ts
  apps/api/src/app/integrations/usecases/get-novu-integration/get-novu-integration.usecase.ts
  apps/api/src/app/notification-template/usecases/create-blueprint-notification-template/create-blueprint-notification-template.usecase.ts
  apps/web/src/api/hooks/integrations/use-integration-limit.ts
  apps/web/src/api/integration.ts
  apps/web/src/components/layout/components/HeaderNav.tsx
  apps/web/src/components/templates/BlueprintModal.tsx
  apps/web/src/hooks/useBlueprint.ts
  apps/web/src/pages/integrations/IntegrationsStorePage.tsx
  apps/web/src/pages/integrations/components/ChannelGroup.tsx
  apps/web/src/pages/integrations/components/LimitBar.tsx
  apps/web/src/pages/integrations/components/NovuEmailProviderModal.tsx
  apps/web/src/pages/integrations/components/ProviderCard.tsx
Labels: @novu/api, @novu/web

#2526 feat(api): integrate set default layout in creation and update flows
  apps/api/src/app/layouts/e2e/create-layout.e2e.ts
  apps/api/src/app/layouts/e2e/get-layout.e2e.ts
  apps/api/src/app/layouts/e2e/update-layout.e2e.ts
  apps/api/src/app/layouts/use-cases/create-layout/create-layout.use-case.ts
  apps/api/src/app/layouts/use-cases/update-layout/update-layout.use-case.ts
Labels: @novu/api

#2445 feat: add ses email info doc and few FAQs
  README.md
  docs/docs/channels/email/custom-smtp.md
  docs/docs/channels/email/mailersend.md
  docs/docs/channels/email/mailjet.md
  docs/docs/channels/email/outlook365.md
  docs/docs/channels/email/postmark.md
  docs/docs/channels/email/sendgrid.md
  docs/docs/channels/email/ses.md
  docs/docs/channels/push/index.md
  docs/docs/community/monorepo-structure.md
  packages/node/README.md
  packages/stateless/README.md
  providers/nodemailer/README.md
Labels: documentation, providers, community

#2531 Fix novu integration limit
  apps/web/src/api/hooks/integrations/use-integration-limit.ts
  apps/web/src/api/integration.ts
  apps/web/src/components/layout/components/HeaderNav.tsx
  apps/web/src/components/layout/components/SideNav.tsx
  apps/web/src/components/templates/email-editor/EmailInboxContent.tsx
  apps/web/src/pages/integrations/components/LimitBar.tsx
  apps/web/src/pages/templates/editor/EmailIntegrationInfo.tsx
  apps/web/src/pages/templates/editor/PreviewMobile.cy.tsx
  apps/web/src/pages/templates/editor/PreviewMobile.tsx
  apps/web/src/pages/templates/editor/PreviewMobileInbox/index.tsx
  apps/web/src/pages/templates/editor/PreviewWeb.cy.tsx
  apps/web/src/pages/templates/editor/PreviewWeb.tsx
Labels: @novu/web

#2535 feat(api): sort and order query params for filtering layouts
  apps/api/src/app/layouts/dtos/filter-layouts.dto.ts
  apps/api/src/app/layouts/e2e/filter-layouts.e2e.ts
  apps/api/src/app/layouts/layouts.controller.ts
  apps/api/src/app/layouts/types/index.ts
  apps/api/src/app/layouts/use-cases/filter-layouts/filter-layouts.command.ts
  apps/api/src/app/layouts/use-cases/filter-layouts/filter-layouts.use-case.ts
  libs/dal/src/repositories/layout/layout.repository.ts
  libs/dal/src/repositories/layout/types.ts
  libs/shared/src/types/index.ts
  libs/shared/src/types/pagination/index.ts
Labels: @novu/api, @novu/dal, @novu/shared

#2533 Complete `novu/node` integrations module
  packages/node/src/lib/integrations/integrations.interface.ts
  packages/node/src/lib/integrations/integrations.spec.ts
  packages/node/src/lib/integrations/integrations.ts
  packages/node/src/lib/novu.ts
Labels: community

#2529 Nv 1458 web abstract variable manager to not
  apps/api/src/app/content-templates/usecases/compile-template/email/compile-email-template.usecase.ts
  apps/api/src/app/events/usecases/verify-payload/verify-payload.usecase.ts
  apps/api/src/app/layouts/use-cases/create-layout/create-layout.use-case.ts
  apps/api/src/app/shared/helpers/verify-payload.service.ts
  apps/web/src/api/hooks/use-layouts-editor.ts
  apps/web/src/components/templates/VariableManager.tsx
  apps/web/src/components/templates/email-editor/variables-management/VariablesManagement.tsx
  apps/web/src/pages/brand/tabs/LayoutEditor.tsx
  libs/shared/src/consts/handlebar-helpers/index.ts
  libs/shared/src/types/message-template/index.ts
Labels: @novu/api, @novu/web, @novu/shared

#2527 Layouts - compile layout with email content
  apps/api/nest-cli.json
  apps/api/src/app/content-templates/content-templates.controller.ts
  apps/api/src/app/content-templates/content-templates.module.ts
  apps/api/src/app/content-templates/e2e/preview-email.e2e.ts
  apps/api/src/app/content-templates/usecases/compile-template/compile-template.spec.ts
  apps/api/src/app/content-templates/usecases/compile-template/compile-template.usecase.ts
  apps/api/src/app/content-templates/usecases/compile-template/email/compile-email-template.command.ts
  apps/api/src/app/content-templates/usecases/compile-template/email/compile-email-template.usecase.ts
  apps/api/src/app/content-templates/usecases/compile-template/templates/basic.handlebars
  apps/api/src/app/content-templates/usecases/compile-template/templates/layout.handlebars
  apps/api/src/app/content-templates/usecases/index.ts
  apps/api/src/app/content-templates/usecases/parse-preview/preview-email.command.ts
  apps/api/src/app/content-templates/usecases/parse-preview/preview-email.usecase.ts
  apps/api/src/app/events/dtos/test-email-request.dto.ts
  apps/api/src/app/events/e2e/send-message-email.e2e.ts
  apps/api/src/app/events/events.controller.ts
  apps/api/src/app/events/events.module.ts
  apps/api/src/app/events/usecases/send-message/send-message-chat.usecase.ts
  apps/api/src/app/events/usecases/send-message/send-message-email.usecase.ts
  apps/api/src/app/events/usecases/send-message/send-message-in-app.usecase.ts
  apps/api/src/app/events/usecases/send-message/send-message-push.usecase.ts
  apps/api/src/app/events/usecases/send-message/send-message-sms.usecase.ts
  apps/api/src/app/events/usecases/send-message/send-message.command.ts
  apps/api/src/app/events/usecases/send-message/test-send-email.usecase.ts
  apps/api/src/app/events/usecases/verify-payload/verify-payload.usecase.ts
  apps/api/src/app/layouts/dtos/create-layout.dto.ts
  apps/api/src/app/layouts/dtos/layout.dto.ts
  apps/api/src/app/layouts/dtos/update-layout.dto.ts
  apps/api/src/app/layouts/e2e/create-layout.e2e.ts
  apps/api/src/app/layouts/e2e/filter-layouts.e2e.ts
  apps/api/src/app/layouts/e2e/get-layout.e2e.ts
  apps/api/src/app/layouts/e2e/helpers/index.ts
  apps/api/src/app/layouts/e2e/update-layout.e2e.ts
  apps/api/src/app/layouts/use-cases/create-layout/create-layout.command.ts
  apps/api/src/app/layouts/use-cases/create-layout/create-layout.use-case.ts
  apps/api/src/app/layouts/use-cases/index.ts
  apps/api/src/app/layouts/use-cases/update-layout/update-layout.command.ts
  apps/api/src/app/shared/helpers/verify-payload.service.ts
  apps/web/cypress/tests/brand.spec.ts
  apps/web/src/api/content-templates.ts
  apps/web/src/api/hooks/use-layouts-editor.ts
  apps/web/src/components/templates/VariableManager.tsx
  apps/web/src/components/templates/email-editor/EmailInboxContent.tsx
  apps/web/src/components/templates/email-editor/TestSendEmail.tsx
  apps/web/src/components/templates/email-editor/variables-management/VariablesManagement.tsx
  apps/web/src/pages/brand/tabs/LayoutEditor.tsx
  apps/web/src/pages/templates/editor/Preview.tsx
  libs/dal/src/repositories/layout/layout.entity.ts
  libs/dal/src/repositories/layout/layout.schema.ts
  libs/shared/src/consts/handlebar-helpers/index.ts
  libs/shared/src/types/message-template/index.ts
Labels: @novu/api, @novu/web, @novu/dal, @novu/shared

#2549 feat: change logo in header nav
  apps/web/src/components/layout/components/HeaderNav.tsx
  apps/web/src/components/layout/components/PartnerIntegrationLayout.tsx
Labels: @novu/web

#2545 feat(api): disallow delete of assigned
  apps/api/src/app/layouts/e2e/delete-layout.e2e.ts
  apps/api/src/app/layouts/layouts.module.ts
  apps/api/src/app/layouts/use-cases/check-layout-is-used/check-layout-is-used.command.ts
  apps/api/src/app/layouts/use-cases/check-layout-is-used/check-layout-is-used.use-case.ts
  apps/api/src/app/layouts/use-cases/check-layout-is-used/index.ts
  apps/api/src/app/layouts/use-cases/delete-layout/delete-layout.use-case.ts
  apps/api/src/app/layouts/use-cases/index.ts
  apps/api/src/app/message-template/usecases/create-message-template/index.ts
  apps/api/src/app/message-template/usecases/find-message-templates-by-layout/find-message-templates-by-layout.command.ts
  apps/api/src/app/message-template/usecases/find-message-templates-by-layout/find-message-templates-by-layout.use-case.ts
  apps/api/src/app/message-template/usecases/find-message-templates-by-layout/index.ts
  apps/api/src/app/message-template/usecases/index.ts
  apps/api/src/app/message-template/usecases/update-message-template/index.ts
  libs/dal/src/repositories/message-template/message-template.repository.ts
Labels: @novu/api, @novu/dal

#2551 NV-1541: handle default novu layout
  apps/api/nest-cli.json
  apps/api/src/app/content-templates/content-templates.controller.ts
  apps/api/src/app/content-templates/usecases/compile-email-template/compile-email-template.command.ts
  apps/api/src/app/content-templates/usecases/compile-email-template/compile-email-template.spec.ts
  apps/api/src/app/content-templates/usecases/compile-email-template/compile-email-template.usecase.ts
  apps/api/src/app/content-templates/usecases/compile-email-template/templates/basic.handlebars
  apps/api/src/app/content-templates/usecases/index.ts
  apps/api/src/app/environments/environments.module.ts
  apps/api/src/app/environments/usecases/create-environment/create-environment.e2e.ts
  apps/api/src/app/environments/usecases/create-environment/create-environment.usecase.ts
  apps/api/src/app/events/e2e/send-message-email.e2e.ts
  apps/api/src/app/events/usecases/send-message/send-message-email.usecase.ts
  apps/api/src/app/events/usecases/send-message/send-message-push.usecase.ts
  apps/api/src/app/events/usecases/send-message/test-send-email.usecase.ts
  apps/api/src/app/layouts/layouts.controller.ts
  apps/api/src/app/layouts/layouts.module.ts
  apps/api/src/app/layouts/usecases/check-layout-is-used/check-layout-is-used.command.ts
  apps/api/src/app/layouts/usecases/check-layout-is-used/check-layout-is-used.use-case.ts
  apps/api/src/app/layouts/usecases/check-layout-is-used/index.ts
  apps/api/src/app/layouts/usecases/create-default-layout/create-default-layout.command.ts
  apps/api/src/app/layouts/usecases/create-default-layout/create-default-layout.usecase.ts
  apps/api/src/app/layouts/usecases/create-default-layout/index.ts
  apps/api/src/app/layouts/usecases/create-layout/create-layout.command.ts
  apps/api/src/app/layouts/usecases/create-layout/create-layout.use-case.ts
  apps/api/src/app/layouts/usecases/create-layout/index.ts
  apps/api/src/app/layouts/usecases/delete-layout/delete-layout.command.ts
  apps/api/src/app/layouts/usecases/delete-layout/delete-layout.use-case.ts
  apps/api/src/app/layouts/usecases/delete-layout/index.ts
  apps/api/src/app/layouts/usecases/filter-layouts/filter-layouts.command.ts
  apps/api/src/app/layouts/usecases/filter-layouts/filter-layouts.use-case.ts
  apps/api/src/app/layouts/usecases/filter-layouts/index.ts
  apps/api/src/app/layouts/usecases/get-layout/get-layout.command.ts
  apps/api/src/app/layouts/usecases/get-layout/get-layout.use-case.ts
  apps/api/src/app/layouts/usecases/get-layout/index.ts
  apps/api/src/app/layouts/usecases/get-novu-layout/get-novu-layout.command.ts
  apps/api/src/app/layouts/usecases/get-novu-layout/get-novu-layout.spec.ts
  apps/api/src/app/layouts/usecases/get-novu-layout/get-novu-layout.usecase.ts
  apps/api/src/app/layouts/usecases/get-novu-layout/templates/layout.handlebars
  apps/api/src/app/layouts/usecases/index.ts
  apps/api/src/app/layouts/usecases/set-default-layout/index.ts
  apps/api/src/app/layouts/usecases/set-default-layout/set-default-layout.command.ts
  apps/api/src/app/layouts/usecases/set-default-layout/set-default-layout.use-case.ts
  apps/api/src/app/layouts/usecases/update-layout/index.ts
  apps/api/src/app/layouts/usecases/update-layout/update-layout.command.ts
  apps/api/src/app/layouts/usecases/update-layout/update-layout.use-case.ts
  apps/api/src/app/organization/usecases/create-organization/create-organization.usecase.ts
  libs/dal/src/repositories/layout/layout.repository.ts
  libs/testing/src/user.session.ts
Labels: @novu/api, @novu/dal

#2556 fix: rearranged the order of statements inside the cleanup function
  packages/notification-center/src/store/socket/use-socket-controller.ts
Labels: @novu/notification-center

#2532 fix: add missing redis cache service config
  apps/api/src/.env.development
  apps/api/src/.env.test
  apps/api/src/.example.env
  docker/.env.example
  docker/local/deployment/docker-compose.yml
Labels: community

#2563 Add Helmet Secruity Headers to WebSocket Service
  apps/ws/package.json
  apps/ws/src/bootstrap.ts
  pnpm-lock.yaml
Labels: @novu/ws

#2462 feat: add reply callback step controller
  apps/web/src/pages/templates/workflow/ReplyCallback.tsx
  apps/web/src/pages/templates/workflow/SideBar/AddStepMenu.tsx
  apps/web/src/pages/templates/workflow/SideBar/SelectedStep.tsx
  apps/web/src/pages/templates/workflow/WorkflowEditorPage.tsx
Labels: @novu/web

#2534 Layout - dropdown searchable, layout required
  apps/api/src/app/layouts/e2e/filter-layouts.e2e.ts
  apps/web/src/components/templates/TemplateFormProvider.tsx
  apps/web/src/components/templates/email-editor/EmailInboxContent.tsx
  apps/web/src/components/templates/email-editor/EmailMessagesCards.tsx
  libs/testing/src/notification-template.service.ts
  libs/testing/src/user.session.ts
Labels: @novu/api, @novu/web

#2572 Nv 1457 web move update button to top header
  apps/api/src/app/layouts/usecases/create-layout/create-layout.use-case.ts
  apps/api/src/app/layouts/usecases/update-layout/update-layout.use-case.ts
  apps/web/src/pages/brand/tabs/BrandingForm.tsx
  apps/web/src/pages/brand/tabs/LayoutEditor.tsx
  apps/web/src/pages/brand/tabs/LayoutsListPage.tsx
Labels: @novu/api, @novu/web

#2575 fix: ensure one default layout in set as default
  apps/api/src/app/layouts/usecases/set-default-layout/set-default-layout.use-case.ts
Labels: @novu/api

#2574 feat: show layout changes in web
  apps/api/src/app/change/usecases/get-changes/get-changes.usecase.ts
  apps/web/src/components/changes/ChangesTableLayout.tsx
Labels: @novu/api, @novu/web

#2554 Nv 1490 e2e tests for the filter condition
  apps/web/src/components/activity/ExecutionDetailsConditionItem.cy.tsx
  apps/web/src/components/activity/ExecutionDetailsConditionItem.tsx
  apps/web/src/components/activity/ExecutionDetailsConditions.cy.tsx
Labels: @novu/web

#2550 feat: Added the filter condition component on UI
  apps/api/src/app/events/usecases/trigger-event/filter-processing-details.ts
  apps/web/src/components/activity/ExecutionDetailShowRaw.tsx
  apps/web/src/components/activity/ExecutionDetailsConditionItem.cy.tsx
  apps/web/src/components/activity/ExecutionDetailsConditionItem.tsx
  apps/web/src/components/activity/ExecutionDetailsConditions.cy.tsx
  apps/web/src/components/activity/ExecutionDetailsConditions.tsx
  libs/shared/src/types/builder/filter.types.ts
Labels: @novu/api, @novu/web, @novu/shared

#2520 feat(api): promote changes of layouts
  apps/api/src/app/change/usecases/index.ts
  apps/api/src/app/change/usecases/promote-change-to-environment/promote-change-to-environment.usecase.ts
  apps/api/src/app/change/usecases/promote-layout-change/index.ts
  apps/api/src/app/change/usecases/promote-layout-change/promote-layout-change.use-case.ts
  apps/api/src/app/change/usecases/promote-message-template-change/promote-message-template-change.ts
  apps/api/src/app/layouts/dtos/layout.dto.ts
  apps/api/src/app/layouts/usecases/create-layout-change/create-layout-change.use-case.ts
  apps/api/src/app/message-template/usecases/create-message-template/create-message-template.usecase.ts
  apps/api/src/app/message-template/usecases/update-message-template/update-message-template.usecase.ts
  apps/web/src/components/templates/email-editor/EmailInboxContent.tsx
  apps/web/src/pages/brand/tabs/LayoutEditor.tsx
  apps/web/src/pages/brand/tabs/LayoutsListPage.tsx
  libs/dal/src/repositories/layout/layout.entity.ts
  libs/dal/src/repositories/layout/layout.schema.ts
  libs/shared/src/dto/layout/layout.dto.ts
  libs/shared/src/entities/change/change.interface.ts
  libs/shared/src/entities/layout/layout.interface.ts
Labels: @novu/api, @novu/web, @novu/dal, @novu/shared

#2576 fix: env for get novu integration
  apps/api/src/app/events/e2e/trigger-event.e2e.ts
  apps/api/src/app/integrations/usecases/calculate-limit-novu-integration/calculate-limit-novu-integration.usecase.ts
  apps/api/src/app/integrations/usecases/get-novu-integration/get-novu-integration.spec.ts
  apps/api/src/app/integrations/usecases/get-novu-integration/get-novu-integration.usecase.ts
  docker/local/deployment/docker-compose.yml
Labels: @novu/api

#2528 feat: add footer link for home
  docs/docusaurus.config.js
Labels: documentation, community

#2570 fix: long text overflows container
  apps/web/src/components/templates/in-app-editor/content/Content.tsx
  packages/notification-center/src/components/notification-center/components/notification-item/NotificationListItem.tsx
Labels: @novu/web, @novu/notification-center, community

#2580 fix: update mail server domain env
  .github/workflows/dev-deploy-web.yml
  apps/web/src/pages/settings/tabs/EmailSettings.tsx
Labels: @novu/web

#2579 fix: blueprint modal tests
  apps/web/src/components/templates/BlueprintModal.cy.tsx
Labels: @novu/web

#2587 feat: ensure one default layout
  apps/api/src/app/layouts/e2e/delete-layout.e2e.ts
  apps/api/src/app/layouts/e2e/update-layout.e2e.ts
  apps/api/src/app/layouts/usecases/delete-layout/delete-layout.use-case.ts
  apps/api/src/app/layouts/usecases/find-deleted-layout/find-deleted-layout.spec.ts
  apps/api/src/app/layouts/usecases/set-default-layout/set-default-layout.use-case.ts
  apps/api/src/app/layouts/usecases/update-layout/update-layout.use-case.ts
Labels: @novu/api

#2591 fix: edit layout page, navigate to screens per env change
  apps/web/src/pages/brand/tabs/LayoutEditor.tsx
Labels: @novu/web

#2391 fix: fixes radius issue
  apps/web/src/components/templates/EditorPreviewSwitch.tsx
  apps/web/src/components/templates/email-editor/EmailMessagesCards.tsx
Labels: @novu/web, community

#2595 feat(api): tests for layout promotion
  apps/api/src/app/change/e2e/promote-changes.e2e.ts
  apps/api/src/app/layouts/usecases/delete-layout/delete-layout.use-case.ts
Labels: @novu/api

#2509 feat: add locale property to subscriber model
  apps/api/src/app/events/dtos/trigger-event-request.dto.ts
  apps/api/src/app/events/e2e/process-subscriber.e2e.ts
  apps/api/src/app/events/e2e/trigger-event.e2e.ts
  apps/api/src/app/events/usecases/process-subscriber/process-subscriber.usecase.ts
  apps/api/src/app/subscribers/dtos/create-subscriber-request.dto.ts
  apps/api/src/app/subscribers/dtos/subscriber-response.dto.ts
  apps/api/src/app/subscribers/dtos/update-subscriber-request.dto.ts
  apps/api/src/app/subscribers/e2e/create-subscriber.e2e.ts
  apps/api/src/app/subscribers/e2e/update-subscriber.e2e.ts
  apps/api/src/app/subscribers/subscribers.controller.ts
  apps/api/src/app/subscribers/usecases/create-subscriber/create-subscriber.command.ts
  apps/api/src/app/subscribers/usecases/create-subscriber/create-subscriber.spec.ts
  apps/api/src/app/subscribers/usecases/create-subscriber/create-subscriber.usecase.ts
  apps/api/src/app/subscribers/usecases/update-subscriber/update-subscriber.command.ts
  apps/api/src/app/subscribers/usecases/update-subscriber/update-subscriber.spec.ts
  apps/api/src/app/subscribers/usecases/update-subscriber/update-subscriber.usecase.ts
  docs/docs/overview/quick-start.md
  docs/docs/platform/subscribers.md
  libs/dal/src/repositories/subscriber/subscriber.entity.ts
  libs/dal/src/repositories/subscriber/subscriber.schema.ts
  libs/shared/src/dto/subscriber/subscriber.dto.ts
  libs/shared/src/entities/message-template/message-template.interface.ts
  libs/shared/src/entities/subscriber/subscriber.interface.ts
  packages/node/src/lib/subscribers/subscriber.interface.ts
  packages/node/src/lib/subscribers/subscribers.spec.ts
Labels: documentation, @novu/api, @novu/dal, @novu/shared, community

#2597 feat: add python utils
  .cspell.json
  apps/api/src/app/events/usecases/send-message/send-message-email.usecase.ts
  apps/api/src/app/inbound-parse/usecases/inbound-email-parse/inbound-email-parse.usecase.ts
  apps/inbound-mail/Dockerfile
  apps/inbound-mail/src/python/DNS/Base.py
  apps/inbound-mail/src/python/DNS/Class.py
  apps/inbound-mail/src/python/DNS/Lib.py
  apps/inbound-mail/src/python/DNS/Opcode.py
  apps/inbound-mail/src/python/DNS/Status.py
  apps/inbound-mail/src/python/DNS/Type.py
  apps/inbound-mail/src/python/DNS/__init__.py
  apps/inbound-mail/src/python/DNS/lazy.py
  apps/inbound-mail/src/python/DNS/win32dns.py
  apps/inbound-mail/src/python/dkim/.__init__.py.swo
  apps/inbound-mail/src/python/dkim/__init__.py
  apps/inbound-mail/src/python/dkim/__main__.py
  apps/inbound-mail/src/python/dkim/asn1.py
  apps/inbound-mail/src/python/dkim/canonicalization.py
  apps/inbound-mail/src/python/dkim/crypto.py
  apps/inbound-mail/src/python/dkim/dnsplug.py
  apps/inbound-mail/src/python/dkim/util.py
  apps/inbound-mail/src/python/ipaddr.py
  apps/inbound-mail/src/python/spf.py
  apps/inbound-mail/src/python/verifydkim.py
  apps/inbound-mail/src/python/verifyspf.py
Labels: @novu/api

#2599 Nv 1579 useintercom must be inside
  apps/web/src/components/utils/GotAQuestionButton.tsx
Labels: @novu/web

#2598 Update changes count badge on layout change
  apps/web/src/api/hooks/use-layouts-editor.ts
Labels: @novu/web

#2596 fix: so changes are aggregated into one
  apps/api/src/app/layouts/usecases/create-layout-change/create-layout-change.use-case.ts
Labels: @novu/api

#2607 Add description to layout table
  apps/web/cypress/tests/notification-editor/main-functionality.spec.ts
  apps/web/src/components/templates/email-editor/EmailMessageEditor.tsx
  apps/web/src/pages/brand/tabs/LayoutsListPage.tsx
Labels: @novu/web

#2609 fix: so blueprint id is saved on auth pages
  apps/web/src/hooks/useBlueprint.ts
  apps/web/src/pages/auth/LoginPage.tsx
  apps/web/src/pages/auth/SignUpPage.tsx
Labels: @novu/web

#2614 fix(package): fix tests and the implementation of the get topic
  docs/docs/platform/topics.md
  packages/node/src/lib/topics/topics.spec.ts
  packages/node/src/lib/topics/topics.ts
Labels: bug, documentation

#2617 fix: copy when there is no email integration active
  apps/web/src/components/templates/LackIntegrationError.tsx
  apps/web/src/components/templates/email-editor/EmailContentCard.tsx
Labels: @novu/web

#2612 feat(package): add layout api to node package
  apps/api/src/app/layouts/e2e/get-layout.e2e.ts
  packages/node/src/index.ts
  packages/node/src/lib/layouts/index.ts
  packages/node/src/lib/layouts/layout.interface.ts
  packages/node/src/lib/layouts/layouts.spec.ts
  packages/node/src/lib/layouts/layouts.ts
  packages/node/src/lib/novu.ts
Labels: @novu/api

#2616 feat: add redis tls option
  apps/api/src/app/events/services/workflow-queue/trigger-handler-queue.service.ts
  apps/api/src/app/events/services/workflow-queue/workflow.queue.service.ts
  apps/api/src/app/inbound-parse/services/inbound-parse.queue.service.ts
  apps/api/src/app/shared/services/cache/cache.service.ts
  apps/api/src/app/shared/services/queue/queue.service.ts
  apps/api/src/app/shared/shared.module.ts
  apps/api/src/config/env-validator.ts
  apps/inbound-mail/src/config/env-validator.ts
  apps/inbound-mail/src/server/queue-service.ts
  apps/ws/src/config/index.ts
  apps/ws/src/shared/framework/redis.adapter.ts
  apps/ws/src/shared/queue/queue.service.ts
  docker/Readme.md
  libs/testing/src/user.session.ts
Labels: @novu/api, @novu/ws, community

#2610 Feat: Add Logrocket Monitoring
  .cspell.json
  .idea/jsLibraryMappings.xml
  apps/web/package.json
  apps/web/src/App.tsx
  apps/web/src/config/index.ts
  apps/web/src/pages/brand/tabs/LayoutEditor.tsx
  package.json
  pnpm-lock.yaml
Labels: @novu/web

#2625 feat(docs): add api docs for layouts and fix some bugs and add tests
  apps/api/src/app/layouts/dtos/create-layout.dto.ts
  apps/api/src/app/layouts/e2e/set-default-layout.e2e.ts
  apps/api/src/app/layouts/e2e/update-layout.e2e.ts
  apps/api/src/app/layouts/layouts.controller.ts
  apps/api/src/app/layouts/usecases/set-default-layout/set-default-layout.use-case.ts
  apps/api/src/bootstrap.ts
  libs/dal/src/repositories/layout/layout.repository.ts
Labels: @novu/api, @novu/dal

#2615 Reply callbacks
  .cspell.json
  .github/workflows/prod-deploy-inbound-mail.yml
  apps/api/src/app/inbound-parse/e2e/inbound-email-parse.e2e.ts
  apps/api/src/app/inbound-parse/usecases/inbound-email-parse/inbound-email-parse.usecase.ts
  apps/inbound-mail/.gitignore
  apps/inbound-mail/package.json
  apps/inbound-mail/src/main.ts
  libs/testing/src/notification-template.service.ts
  pnpm-lock.yaml
Labels: @novu/api

#2626 Update README.md
  README.md
Labels: community

#2606 Nv 1568] 🐛 bug report wrong provider id stored in jobs collection #2577
  apps/api/src/app/events/usecases/process-subscriber/process-subscriber.usecase.ts
  apps/api/src/app/integrations/usecases/get-decrypted-integrations/get-decrypted-integrations.usecase.ts
  apps/api/src/app/integrations/usecases/get-novu-integration/get-novu-integration.command.ts
  apps/api/src/app/integrations/usecases/get-novu-integration/get-novu-integration.usecase.ts
  libs/shared/src/types/channel/index.ts
Labels: @novu/api, @novu/shared, community

#2568 fix: Ask for SNS Region
  apps/api/src/app/events/services/sms-service/handlers/sns.handler.ts
  docs/docs/channels/sms/sns.md
  libs/shared/src/consts/providers/credentials/provider-credentials.ts
  packages/application-generic/src/factories/sms/handlers/sns.handler.ts
  providers/sns/src/lib/sns.config.ts
Labels: documentation, @novu/api, @novu/shared, providers, community

#2638 fix: test send email with nouv email integration
  apps/web/src/components/templates/email-editor/TestSendEmail.tsx
Labels: @novu/web

#2637 docs: add layouts documentation
  docs/docs/platform/layouts.md
  docs/static/img/platform/layouts/dark-assign-layout.png
  docs/static/img/platform/layouts/dark-create-layout.png
  docs/static/img/platform/layouts/dark-manage-layouts.png
  docs/static/img/platform/layouts/light-assign-layout.png
  docs/static/img/platform/layouts/light-create-layout.png
  docs/static/img/platform/layouts/light-manage-layouts.png
Labels: documentation

#2639 Reply callbacks
  apps/api/src/app/inbound-parse/e2e/inbound-email-parse.e2e.ts
  apps/inbound-mail/Dockerfile
  apps/inbound-mail/src/server/index.ts
  apps/web/src/pages/settings/tabs/EmailSettings.tsx
  apps/web/src/pages/templates/workflow/ReplyCallback.tsx
  docs/docs/platform/inbound-parse-webhook.md
  docs/docs/platform/integrations.md
Labels: documentation, @novu/api, @novu/web

#2446 add plivo webhook parser
  packages/stateless/src/lib/provider/provider.interface.ts
  providers/plivo/src/lib/plivo.provider.ts
Labels: providers, community

#2304 fix(docs): update notification center docs
  docs/docs/notification-center/getting-started.md
  docs/docs/notification-center/react-components.md
  packages/notification-center/src/components/popover-notification-center/components/Popover.tsx
Labels: documentation, @novu/notification-center, community

#2602 Dockerfile tests on PR's
  .github/actions/docker/build-api/action.yml
  .github/actions/setup-project/action.yml
  .github/workflows/dev-deploy-api.yml
  .github/workflows/dev-deploy-embed.yml
  .github/workflows/dev-deploy-inbound-mail.yml
  .github/workflows/dev-deploy-web.yml
  .github/workflows/dev-deploy-webhook.yml
  .github/workflows/dev-deploy-widget.yml
  .github/workflows/dev-deploy-ws.yml
  .github/workflows/prod-deploy-api.yml
  .github/workflows/prod-deploy-embed.yml
  .github/workflows/prod-deploy-web.yml
  .github/workflows/prod-deploy-webhook.yml
  .github/workflows/prod-deploy-widget.yml
  .github/workflows/prod-deploy-ws.yml
  .github/workflows/reusable-api-e2e.yml
  .github/workflows/reusable-notification-center.yml
  .github/workflows/reusable-web-e2e.yml
  .github/workflows/reusable-webhook-e2e.yml
  .github/workflows/reusable-widget-e2e.yml
  .github/workflows/test-api.yml
  .github/workflows/test-core.yml
  .github/workflows/test-docs.yml
  .github/workflows/test-embed.yml
  .github/workflows/test-notification-center-angular.yml
  .github/workflows/test-notification-center-vue.yml
  .github/workflows/test-providers.yml
  .github/workflows/test-webhook.yml
  apps/api/.gitignore
  apps/api/package.json
  apps/inbound-mail/.gitignore
  apps/web/.gitignore
  apps/webhook/.gitignore
  apps/widget/.gitignore
  apps/ws/.gitignore
  packages/node/.gitignore
  packages/notification-center/.gitignore
  providers/mailersend/.gitignore
Labels: @novu/api

#2372 feat: add webhook parser for NetCore (email)
  .cspell.json
  providers/netcore/src/lib/netcore.provider.ts
Labels: providers, community

#2646 feat(docs): add web app env variables and warning docs
  .markdownlint.jsonc
  apps/web/.env
  docs/docs/community/run-locally.md
Labels: documentation

#2632 fix(logrocket): add babel plugin for flow analysis
  .github/workflows/prod-deploy-web.yml
  apps/web/.babelrc
  apps/web/package.json
  apps/web/src/App.tsx
  apps/web/src/config/index.ts
  pnpm-lock.yaml
Labels: @novu/web

#2648 feat(docs): add examples of the layouts api in the package
  docs/docs/platform/layouts.md
Labels: documentation

#2645 feat: added android and apns properties to fcm message overrides
  packages/stateless/src/lib/provider/provider.interface.ts
  providers/fcm/src/lib/fcm.provider.spec.ts
  providers/fcm/src/lib/fcm.provider.ts
Labels: providers, community

#2654 v0.11.0
  .github/workflows/prod-deploy-web.yml
  .markdownlint.jsonc
  apps/web/.babelrc
  apps/web/.env
  apps/web/package.json
  apps/web/src/App.tsx
  apps/web/src/config/index.ts
  apps/widget/package.json
  docs/docs/community/run-locally.md
  docs/docs/platform/layouts.md
  packages/stateless/src/lib/provider/provider.interface.ts
  pnpm-lock.yaml
  providers/fcm/src/lib/fcm.provider.spec.ts
  providers/fcm/src/lib/fcm.provider.ts
  renovate.json
Labels: documentation, @novu/web, providers

#2659 fix(infra): remove standard-version package as being unused
  _templates/provider/new/package.ejs.t
  packages/application-generic/package.json
  packages/nest/package.json
  pnpm-lock.yaml
  providers/apns/package.json
  providers/burst-sms/package.json
  providers/clickatell/package.json
  providers/discord/package.json
  providers/emailjs/package.json
  providers/expo/package.json
  providers/fcm/package.json
  providers/firetext/package.json
  providers/gupshup/package.json
  providers/infobip/package.json
  providers/mailersend/package.json
  providers/mailgun/package.json
  providers/mailjet/package.json
  providers/mandrill/package.json
  providers/ms-teams/package.json
  providers/netcore/package.json
  providers/nexmo/package.json
  providers/nodemailer/package.json
  providers/outlook365/package.json
  providers/plivo/package.json
  providers/postmark/package.json
  providers/sendgrid/package.json
  providers/sendinblue/package.json
  providers/ses/package.json
  providers/slack/package.json
  providers/sms77/package.json
  providers/sns/package.json
  providers/sparkpost/package.json
  providers/telnyx/package.json
  providers/termii/package.json
  providers/twilio/package.json
Labels: providers
