Repository novuhq/novu, pull requests merged in 2023-08, with the labels that each got.

#3889 Stacked PR's Branch for Tenants Support
  apps/api/src/app/shared/dtos/pagination-response.ts
  apps/api/src/app/shared/framework/response.interceptor.ts
  apps/api/src/app/tenant/dtos/create-tenant-request.dto.ts
  apps/api/src/app/tenant/dtos/update-tenant-request.dto.ts
  apps/api/src/app/tenant/e2e/create-tenant.e2e.ts
  apps/api/src/app/tenant/e2e/delete-tenant.e2e.ts
  apps/api/src/app/tenant/e2e/get-tenant.e2e.ts
  apps/api/src/app/tenant/e2e/get-tenants.e2e.ts
  apps/api/src/app/tenant/e2e/update-tenant.e2e.ts
  apps/api/src/app/tenant/tenant.controller.ts
  apps/api/src/app/tenant/usecases/create-tenant/create-tenant.command.ts
  apps/api/src/app/tenant/usecases/create-tenant/create-tenant.usecase.ts
  apps/api/src/app/tenant/usecases/delete-tenant/delete-tenant.command.ts
  apps/api/src/app/tenant/usecases/get-tenants/get-tenants.usecase.ts
  apps/api/src/app/tenant/usecases/update-tenant/update-tenant.command.ts
  apps/web/cypress/tests/tenants-page.spec.ts
  apps/web/src/App.tsx
  apps/web/src/api/query.keys.ts
  apps/web/src/api/tenants.ts
  apps/web/src/components/layout/components/SideNav.tsx
  apps/web/src/config/index.ts
  apps/web/src/constants/routes.enum.ts
  apps/web/src/design-system/config/inputs.styles.ts
  apps/web/src/design-system/icons/general/Buildings.tsx
  apps/web/src/design-system/icons/index.ts
  apps/web/src/hooks/useFeatureFlags.ts
  apps/web/src/hooks/useTenants.ts
  apps/web/src/pages/tenants/CreateTenantPage.tsx
  apps/web/src/pages/tenants/TenantsPage.tsx
  apps/web/src/pages/tenants/UpdateTenantPage.tsx
  apps/web/src/pages/tenants/components/CreateTenantSidebar.tsx
  apps/web/src/pages/tenants/components/TenantFormCommonFields.tsx
  apps/web/src/pages/tenants/components/UpdateTenantSidebar.tsx
  apps/web/src/pages/tenants/components/list/TenantsList.tsx
  apps/web/src/pages/tenants/components/list/TenantsListNoData.tsx
  apps/web/src/pages/tenants/components/list/ToolBar.tsx
  apps/web/src/pages/tenants/components/list/columns.tsx
  libs/dal/src/repositories/tenant/tenant.entity.ts
  libs/dal/src/repositories/tenant/tenant.schema.ts
  libs/shared/src/dto/index.ts
  libs/shared/src/dto/shared/shared.ts
  libs/shared/src/dto/tenant/create-tenant.dto.ts
  libs/shared/src/dto/tenant/index.ts
  libs/shared/src/dto/tenant/update-tenant.dto.ts
  libs/shared/src/entities/tenant/index.ts
  libs/shared/src/entities/tenant/tenant.interface.ts
  libs/shared/src/index.ts
  libs/shared/src/types/feature-flags/index.ts
  libs/shared/src/types/tenant/index.ts
Labels: @novu/api, @novu/web, @novu/dal, @novu/shared

#3891 chore: update cypress version due to security update
  apps/web/package.json
  apps/widget/package.json
  pnpm-lock.yaml
Labels: @novu/web

#3886 feat: add migration script to add novu providers to database
  apps/api/migrations/novu-integrations/novu-integrations.migration.ts
Labels: @novu/api

#3899 Docs: Add Python quickstart
  docs/docs/overview/quickstart/get-started-with-python.md
Labels: documentation

#3906 feat: add few versions fields in bug template
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: CI/CD

#3901 chore: update dependencies with security issues
  apps/api/package.json
  apps/inbound-mail/package.json
  apps/ws/package.json
  docs/package.json
  libs/dal/package.json
  libs/embed/package.json
  packages/application-generic/package.json
  pnpm-lock.yaml
  providers/ses/package.json
  providers/sns/package.json
  providers/twilio/package.json
Labels: documentation, @novu/api, @novu/dal, @novu/ws, providers, @novu/inbound-mail

#3907 fix(app-generic): circular dependency on subscriber pref use cases
  apps/api/src/app/subscribers/usecases/update-subscriber-preference/update-subscriber-preference.usecase.ts
  libs/shared/src/entities/subscriber-preference/subscriber-preference.interface.ts
  libs/shared/src/types/subscriber/index.ts
  packages/application-generic/src/usecases/get-subscriber-preference/get-subscriber-preference.usecase.ts
  packages/application-generic/src/usecases/get-subscriber-template-preference/get-subscriber-template-preference.usecase.ts
Labels: @novu/api, @novu/shared

#3903 feat: add hover state for provider item
  apps/web/src/pages/integrations/components/multi-provider/SelectProviderSidebar.tsx
Labels: @novu/web

#3904 fix: add identifier in migration script for novu providers
  apps/api/migrations/novu-integrations/novu-integrations.migration.ts
Labels: @novu/api

#3885 feat: updated the settings page ui
  apps/web/src/pages/settings/tabs/ApiKeysCard.tsx
  apps/web/src/pages/settings/tabs/components/Regenerate.tsx
Labels: @novu/web

#3881 feat: Updated members table UI
  apps/web/src/design-system/tag/Tag.tsx
  apps/web/src/pages/invites/components/MembersTable.tsx
Labels: @novu/web

#3900 feat: make identifier labels consistent
  apps/web/cypress/tests/subscribers.spec.ts
  apps/web/src/pages/integrations/components/IntegrationNameCell.tsx
  apps/web/src/pages/integrations/components/UpdateIntegrationCommonFields.tsx
  apps/web/src/pages/subscribers/SubscribersListPage.tsx
  apps/web/src/pages/templates/WorkflowListPage.tsx
  apps/web/src/pages/templates/components/notification-setting-form/NotificationSettingsForm.tsx
Labels: @novu/web

#3814 fix: getContextPath did not work correctly when called in a browser
  libs/shared/src/config/contextPath.ts
Labels: @novu/shared, community

#3898 Nv 2503 store novu providers email sms in the database
  apps/api/migrations/novu-integrations/novu-integrations.migration.ts
  apps/api/src/app/events/e2e/trigger-event.e2e.ts
  apps/api/src/app/events/events.module.ts
  apps/api/src/app/integrations/e2e/get-decrypted-integrations.e2e.ts
  apps/api/src/app/integrations/e2e/get-integration.e2e.ts
  apps/api/src/app/integrations/integrations.module.ts
  apps/api/src/app/integrations/usecases/create-integration/create-integration.usecase.ts
  apps/api/src/app/integrations/usecases/create-novu-integrations/create-novu-integrations.command.ts
  apps/api/src/app/integrations/usecases/create-novu-integrations/create-novu-integrations.usecase.ts
  apps/api/src/app/integrations/usecases/disable-novu-integration/disable-novu-integration.command.ts
  apps/api/src/app/integrations/usecases/disable-novu-integration/disable-novu-integration.usecase.ts
  apps/api/src/app/integrations/usecases/index.ts
  apps/api/src/app/integrations/usecases/update-integration/update-integration.usecase.ts
  apps/api/src/app/organization/organization.module.ts
  apps/api/src/app/organization/usecases/create-organization/create-organization.usecase.ts
  apps/web/cypress/tests/integrations-list-modal.spec.ts
  apps/web/cypress/tests/integrations-list-page.spec.ts
  apps/web/src/pages/integrations/components/UpdateIntegrationCommonFields.tsx
  apps/web/src/pages/integrations/components/UpdateIntegrationSidebarHeader.tsx
  apps/web/src/pages/integrations/components/multi-provider/SelectProviderSidebar.tsx
  apps/web/src/pages/integrations/components/multi-provider/UpdateProviderSidebar.tsx
  apps/web/src/pages/integrations/useProviders.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-chat.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-email.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-in-app.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-push.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-sms.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message.base.ts
  apps/worker/src/app/workflow/workflow.module.ts
  libs/testing/src/integration.service.ts
  packages/application-generic/src/factories/mail/handlers/index.ts
  packages/application-generic/src/factories/mail/handlers/novu.handler.ts
  packages/application-generic/src/factories/mail/mail.factory.ts
  packages/application-generic/src/factories/sms/handlers/index.ts
  packages/application-generic/src/factories/sms/handlers/novu.handler.ts
  packages/application-generic/src/factories/sms/sms.factory.ts
  packages/application-generic/src/usecases/get-decrypted-integrations/get-decrypted-integrations.command.ts
  packages/application-generic/src/usecases/get-decrypted-integrations/get-decrypted-integrations.usecase.ts
  packages/application-generic/src/usecases/get-novu-integration/get-novu-integration.command.ts
  packages/application-generic/src/usecases/get-novu-integration/get-novu-integration.spec.ts
  packages/application-generic/src/usecases/get-novu-integration/get-novu-integration.usecase.ts
  packages/application-generic/src/usecases/get-novu-integration/index.ts
  packages/application-generic/src/usecases/get-novu-provider-credentials/get-novu-provider-credentials.command.ts
  packages/application-generic/src/usecases/get-novu-provider-credentials/get-novu-provider-credentials.usecase.ts
  packages/application-generic/src/usecases/get-novu-provider-credentials/index.ts
  packages/application-generic/src/usecases/index.ts
  packages/application-generic/src/usecases/select-integration/select-integration.spec.ts
  packages/application-generic/src/usecases/select-integration/select-integration.usecase.ts
  packages/application-generic/src/usecases/send-test-email/send-test-email.usecase.ts
  packages/application-generic/src/usecases/trigger-event/trigger-event.usecase.ts
Labels: @novu/api, @novu/web, @novu/worker

#3913 feat: render html in in app preview
  apps/web/cypress/tests/notification-editor/create-notification.spec.ts
  apps/web/src/pages/templates/components/in-app-editor/InAppEditorBlock.tsx
Labels: @novu/web

#3918 fix: fix update of digest jobs only for current subscriber
  apps/worker/src/app/workflow/usecases/send-message/digest/digest.usecase.ts
Labels: @novu/worker

#3922 feat: fix cursors for drag buttons and drop area
  apps/web/src/components/workflow/FlowEditor.tsx
  apps/web/src/design-system/template-button/DragButton.tsx
Labels: @novu/web

#3912 fix: fix update of digest jobs only for current subscriber
  apps/api/src/app/events/e2e/trigger-event-topic.e2e.ts
  apps/worker/src/app/workflow/usecases/send-message/digest/digest.usecase.ts
Labels: @novu/api, @novu/worker

#3915 Nv 2641 workflows editor UI
  apps/web/cypress/tests/notification-editor/create-notification.spec.ts
  apps/web/cypress/tests/notification-editor/drag-and-drop.spec.ts
  apps/web/cypress/tests/notification-editor/index.ts
  apps/web/cypress/tests/notification-editor/steps-actions.spec.ts
  apps/web/src/components/layout/AppLayout.tsx
  apps/web/src/components/layout/components/HeaderNav.tsx
  apps/web/src/components/layout/components/PageContainer.tsx
  apps/web/src/components/layout/components/SideNav.tsx
  apps/web/src/components/layout/constants.ts
  apps/web/src/components/workflow/FlowEditor.tsx
  apps/web/src/components/workflow/NodeStep.tsx
  apps/web/src/design-system/icons/general/ChatFilled.tsx
  apps/web/src/design-system/icons/general/DelayAction.tsx
  apps/web/src/design-system/icons/general/DigestAction.tsx
  apps/web/src/design-system/icons/general/EmailFilled.tsx
  apps/web/src/design-system/icons/general/InAppFilled.tsx
  apps/web/src/design-system/icons/general/PushFilled.tsx
  apps/web/src/design-system/icons/general/SmsFilled.tsx
  apps/web/src/design-system/icons/gradient/BoltOutlinedGradient.tsx
  apps/web/src/design-system/icons/index.ts
  apps/web/src/design-system/segmented-control/SegmentedControl.tsx
  apps/web/src/design-system/template-button/DragButton.tsx
  apps/web/src/design-system/template-button/TemplateButton.styles.ts
  apps/web/src/pages/templates/editor/TemplateEditorPage.tsx
  apps/web/src/pages/templates/workflow/SideBar/AddStepMenu.tsx
  apps/web/src/pages/templates/workflow/SideBar/Sidebar.tsx
  apps/web/src/pages/templates/workflow/WorkflowEditor.tsx
  apps/web/src/pages/templates/workflow/workflow/node-types/TriggerNode.tsx
  apps/web/src/pages/templates/workflow/workflow/node-types/WorkflowNode.tsx
  apps/web/src/utils/channels.ts
Labels: @novu/web

#3917 Nv 2639 workflows list UI
  apps/web/src/design-system/icons/general/BoltFilled.tsx
  apps/web/src/design-system/icons/general/BoltOffFilled.tsx
  apps/web/src/design-system/icons/index.ts
  apps/web/src/pages/templates/WorkflowListPage.tsx
Labels: @novu/web

#3920 Nv 2577 update the intercom icon helpdesk dialogue and place it in
  apps/web/src/components/layout/AppLayout.tsx
  apps/web/src/components/layout/components/HeaderNav.tsx
  apps/web/src/design-system/icons/general/Question.tsx
  apps/web/src/design-system/icons/index.ts
  apps/web/src/design-system/sidebar/Sidebar.tsx
  apps/web/src/pages/quick-start/consts.tsx
Labels: @novu/web

#3884 feat: implemented new branding page ui
  apps/web/src/components/layout/components/Card.tsx
  apps/web/src/components/layout/components/PageHeader.tsx
  apps/web/src/design-system/button/Button.tsx
  apps/web/src/design-system/button/PlusButton.tsx
  apps/web/src/design-system/icons/actions/PlusFilled.tsx
  apps/web/src/design-system/icons/index.ts
  apps/web/src/design-system/index.ts
  apps/web/src/design-system/table/Table.styles.ts
  apps/web/src/design-system/table/Table.tsx
  apps/web/src/pages/brand/BrandPage.tsx
  apps/web/src/pages/brand/tabs/BrandingForm.tsx
  apps/web/src/pages/brand/tabs/LayoutsListPage.tsx
  apps/web/src/pages/integrations/components/IntegrationsListToolbar.tsx
Labels: @novu/web

#3908 Configure Email provider warning when Novu email provider is active
  apps/web/src/design-system/icons/arrows/CircleArrowRight.tsx
  apps/web/src/pages/integrations/components/NovuInAppForm.tsx
  apps/web/src/pages/integrations/components/multi-provider/SelectProviderSidebar.tsx
  apps/web/src/pages/integrations/useProviders.ts
  apps/web/src/pages/templates/components/LackIntegrationAlert.tsx
  apps/web/src/pages/templates/components/ListProviders.tsx
  apps/web/src/pages/templates/components/TemplatePushEditor.tsx
  apps/web/src/pages/templates/components/TemplateSMSEditor.tsx
  apps/web/src/pages/templates/components/chat-editor/TemplateChatEditor.tsx
  apps/web/src/pages/templates/components/email-editor/EmailContentCard.tsx
  libs/shared/src/consts/providers/providers.ts
Labels: @novu/web, @novu/shared

#3929 feat: disable role toggle
  apps/api/src/app/organization/e2e/members/change-member-role.e2e.ts
  apps/api/src/app/organization/usecases/membership/change-member-role/change-member-role.usecase.ts
  apps/web/src/pages/invites/components/MemberRole.tsx
  apps/web/src/pages/invites/components/MembersTable.cy.tsx
  apps/web/src/pages/invites/components/MembersTable.tsx
Labels: @novu/api, @novu/web

#3930 refactor: editor sidebar
  apps/web/src/pages/templates/workflow/SideBar/Sidebar.tsx
  apps/web/src/pages/templates/workflow/WorkflowEditor.tsx
Labels: @novu/web

#3921 feat(ws): create unit test suite
  .github/workflows/dev-deploy-ws.yml
  .github/workflows/reusable-ws-e2e.yml
  .github/workflows/test.yml
  apps/ws/e2e/setup.ts
  apps/ws/package.json
  apps/ws/src/socket/socket.module.spec.ts
  apps/ws/src/socket/socket.module.ts
  apps/ws/tsconfig.json
  libs/testing/src/test-server.service.ts
  packages/application-generic/src/services/in-memory-provider/redis-provider.ts
  pnpm-lock.yaml
Labels: @novu/ws, CI/CD

#3890 Allow storing custom metadata on the workflow entity
  apps/api/src/app/change/usecases/promote-notification-template-change/promote-notification-template-change.usecase.ts
  apps/api/src/app/workflows/dto/create-workflow.request.dto.ts
  apps/api/src/app/workflows/dto/update-workflow-request.dto.ts
  apps/api/src/app/workflows/dto/workflow-response.dto.ts
  apps/api/src/app/workflows/notification-template.controller.ts
  apps/api/src/app/workflows/usecases/create-notification-template/create-notification-template.command.ts
  apps/api/src/app/workflows/usecases/create-notification-template/create-notification-template.usecase.ts
  apps/api/src/app/workflows/usecases/update-notification-template/update-notification-template.command.ts
  apps/api/src/app/workflows/usecases/update-notification-template/update-notification-template.usecase.ts
  apps/api/src/app/workflows/workflow.controller.ts
  apps/widget/cypress/e2e/user-preference.spec.ts
  apps/widget/cypress/global.d.ts
  apps/widget/cypress/support/commands.ts
  apps/widget/src/components/notification-center/NotificationCenterWidget.tsx
  docs/docs/notification-center/react/api-reference.md
  libs/dal/src/repositories/notification-template/notification-template.entity.ts
  libs/dal/src/repositories/notification-template/notification-template.schema.ts
  libs/shared/src/dto/notification-templates/create-template.dto.ts
  libs/shared/src/dto/notification-templates/update-template.dto.ts
  libs/shared/src/dto/workflows/create-workflow.dto.ts
  libs/shared/src/dto/workflows/update-workflow.dto.ts
  libs/shared/src/types/index.ts
  libs/shared/src/types/notification-templates/index.ts
  packages/application-generic/src/usecases/get-subscriber-template-preference/get-subscriber-template-preference.usecase.ts
  packages/client/src/index.ts
  packages/node/src/lib/notification-template/notification-template.interface.ts
  packages/notification-center-angular/projects/notification-center-angular/src/lib/notification-center.component.ts
  packages/notification-center-vue/src/lib/notification-center-component/NotificationCenterComponent.vue
  packages/notification-center/src/components/notification-center-web-component/notification-center-component.tsx
  packages/notification-center/src/components/notification-center-web-component/notification-center-component.types.ts
  packages/notification-center/src/components/notification-center-web-component/notification-center-content-component.tsx
  packages/notification-center/src/components/notification-center/NotificationCenter.tsx
  packages/notification-center/src/components/notification-center/components/user-preference/SubscriberPreference.tsx
  packages/notification-center/src/components/popover-notification-center/PopoverNotificationCenter.tsx
  packages/notification-center/src/hooks/useNotificationCenter.ts
  packages/notification-center/src/shared/interfaces/index.ts
  packages/notification-center/src/store/notification-center.context.ts
  pnpm-lock.yaml
Labels: documentation, @novu/api, @novu/dal, @novu/notification-center, @novu/shared, @novu/notification-center-vue, @novu/notification-center-angular

#3936 feat(tests): add tests for worker and queue services
  apps/api/src/app/events/services/workflow-queue/trigger-handler-queue.service.spec.ts
  apps/worker/src/app/workflow/services/metric-queue.service.spec.ts
  apps/worker/src/app/workflow/services/trigger-processor-queue.service.spec.ts
  packages/application-generic/src/services/bull-mq.service.spec.ts
  packages/application-generic/src/services/bull-mq.service.ts
  packages/application-generic/src/services/queue.service.spec.ts
  packages/application-generic/src/services/trigger-queue.service.spec.ts
  packages/application-generic/src/services/ws-queue.service.spec.ts
  packages/application-generic/src/services/ws-queue.service.ts
Labels: @novu/api, @novu/worker

#3869 feat(web): select primary integration modal
  apps/web/cypress/tests/integrations-list-modal.spec.ts
  apps/web/cypress/tests/integrations-list-page.spec.ts
  apps/web/src/api/hooks/useMakePrimaryIntegration.ts
  apps/web/src/api/hooks/useUpdateIntegration.ts
  apps/web/src/api/integration.ts
  apps/web/src/design-system/icons/general/Star.tsx
  apps/web/src/design-system/icons/general/StarEmpty.tsx
  apps/web/src/design-system/icons/index.ts
  apps/web/src/design-system/radio/Radio.tsx
  apps/web/src/design-system/table/Table.styles.ts
  apps/web/src/design-system/table/Table.tsx
  apps/web/src/design-system/table/withCellLoading.tsx
  apps/web/src/design-system/typography/text/Text.tsx
  apps/web/src/pages/brand/BrandPage.tsx
  apps/web/src/pages/brand/tabs/LayoutsListPage.tsx
  apps/web/src/pages/integrations/IntegrationsList.tsx
  apps/web/src/pages/integrations/IntegrationsListModal.tsx
  apps/web/src/pages/integrations/IntegrationsListPage.tsx
  apps/web/src/pages/integrations/components/ChannelGroup.tsx
  apps/web/src/pages/integrations/components/ConnectIntegrationForm.cy.tsx
  apps/web/src/pages/integrations/components/IntegrationChannel.tsx
  apps/web/src/pages/integrations/components/IntegrationEnvironmentPill.tsx
  apps/web/src/pages/integrations/components/IntegrationNameCell.tsx
  apps/web/src/pages/integrations/components/Modal/ChannelGroup.tsx
  apps/web/src/pages/integrations/components/ProviderCard.cy.tsx
  apps/web/src/pages/integrations/components/SelectProviderPage.tsx
  apps/web/src/pages/integrations/components/UpdateIntegrationSidebarHeader.tsx
  apps/web/src/pages/integrations/components/multi-provider/CreateProviderInstanceSidebar.tsx
  apps/web/src/pages/integrations/components/multi-provider/ProviderInfo.tsx
  apps/web/src/pages/integrations/components/multi-provider/SelectPrimaryIntegrationModal.tsx
  apps/web/src/pages/integrations/components/multi-provider/SelectProviderSidebar.tsx
  apps/web/src/pages/integrations/components/multi-provider/UpdateProviderSidebar.tsx
  apps/web/src/pages/integrations/components/multi-provider/useSelectPrimaryIntegrationModal.tsx
  apps/web/src/pages/integrations/types.ts
  apps/web/src/pages/integrations/useProviders.ts
  apps/web/src/pages/integrations/utils.ts
  apps/web/src/pages/templates/components/ListProviders.tsx
  apps/web/src/pages/templates/components/email-editor/EmailContentCard.tsx
  apps/web/src/pages/templates/editor/Preview.tsx
  libs/shared/src/consts/providers/providers.ts
  libs/shared/src/types/channel/index.ts
Labels: @novu/web, @novu/shared

#3875 chore(api): migration script for primary and priority integration fields
  apps/api/migrations/integration-scheme-update/add-integration-identifier-migration.ts
  apps/api/migrations/integration-scheme-update/add-primary-priority-migration.ts
Labels: @novu/api

#3940 feat(app-generic): revome queue and worker hardcoded names
  apps/api/src/app/inbound-parse/services/inbound-parse.queue.service.ts
  apps/inbound-mail/src/server/queue-service.ts
  apps/worker/src/app/workflow/services/metric-queue.service.ts
  apps/worker/src/app/workflow/services/trigger-processor-queue.service.ts
  apps/worker/src/app/workflow/services/workflow-queue.service.ts
  apps/ws/src/socket/socket.module.ts
  libs/shared/src/config/index.ts
  libs/shared/src/config/job-queue.ts
  libs/testing/src/jobs.service.ts
  packages/application-generic/src/services/bull-mq.service.ts
  packages/application-generic/src/services/index.ts
  packages/application-generic/src/services/queue.service.ts
  packages/application-generic/src/services/trigger-queue.service.ts
  packages/application-generic/src/services/ws-queue.service.ts
Labels: @novu/api, @novu/ws, @novu/shared, @novu/worker, @novu/inbound-mail

#3939 feat(api): notifications feed filtering by partial payload object
  apps/api/src/app/subscribers/dtos/get-in-app-notification-feed-for-subscriber.dto.ts
  apps/api/src/app/subscribers/e2e/get-notifications-feed.e2e.ts
  apps/api/src/app/subscribers/subscribers.controller.ts
  apps/api/src/app/widgets/e2e/get-notification-feed.e2e.ts
  apps/api/src/app/widgets/usecases/get-notifications-feed/get-notifications-feed.command.ts
  apps/api/src/app/widgets/usecases/get-notifications-feed/get-notifications-feed.usecase.ts
  apps/api/src/app/widgets/widgets.controller.ts
  libs/dal/src/repositories/message/message.repository.ts
  packages/client/src/api/api.service.ts
  packages/client/src/index.ts
  packages/node/src/lib/subscribers/subscriber.interface.ts
  packages/node/src/lib/subscribers/subscribers.ts
Labels: @novu/api, @novu/dal, High priority

#3945 feat: get execution details endpoint by external subscriber id
  apps/api/src/app/execution-details/dtos/execution-details-request.dto.ts
  apps/api/src/app/execution-details/e2e/get-execution-details.e2e.ts
  apps/api/src/app/execution-details/usecases/get-execution-details/get-execution-details.usecase.ts
Labels: @novu/api

#3937 NV-2664 - Query count change only is the subscriber have connection.
  apps/api/src/app/tenant/e2e/get-tenants.e2e.ts
  apps/api/src/app/widgets/usecases/mark-all-messages-as/mark-all-messages-as.usecase.ts
  apps/api/src/app/widgets/usecases/mark-message-as/mark-message-as.usecase.ts
  apps/api/src/app/widgets/usecases/remove-message/remove-message.usecase.ts
  apps/api/src/app/widgets/usecases/remove-messages/remove-all-messages.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-in-app.usecase.ts
  apps/ws/package.json
  apps/ws/src/socket/services/socket-queue-consumer.service.ts
  apps/ws/src/socket/socket.module.spec.ts
  apps/ws/src/socket/socket.module.ts
  apps/ws/src/socket/usecases/external-services-route/external-services-route.command.ts
  apps/ws/src/socket/usecases/external-services-route/external-services-route.spec.ts
  apps/ws/src/socket/usecases/external-services-route/external-services-route.usecase.ts
  apps/ws/src/socket/usecases/external-services-route/index.ts
  packages/application-generic/src/services/bull-mq.service.ts
  pnpm-lock.yaml
Labels: @novu/api, @novu/ws, @novu/worker

#3954 patch release 0.17.2
  apps/api/src/app/execution-details/dtos/execution-details-request.dto.ts
  apps/api/src/app/execution-details/e2e/get-execution-details.e2e.ts
  apps/api/src/app/execution-details/usecases/get-execution-details/get-execution-details.usecase.ts
  libs/shared/package.json
  libs/shared/src/consts/handlebar-helpers/handlebarHelpers.ts
  packages/application-generic/src/usecases/compile-template/compile-template.spec.ts
  packages/application-generic/src/usecases/compile-template/compile-template.usecase.ts
  packages/node/package.json
  packages/notification-center/package.json
  packages/notification-center/rollup.config.mjs
  packages/notification-center/src/components/notification-center/components/NotificationsListTab.tsx
  packages/notification-center/src/components/notification-center/components/user-preference/SubscriberPreference.tsx
  packages/notification-center/src/global.d.ts
  packages/notification-center/src/images/NoNewNotifications.tsx
  packages/notification-center/src/images/NoSettings.tsx
  packages/notification-center/src/images/no-new-notifications.svg
  packages/notification-center/src/images/no-new-notifications.webp
  packages/notification-center/src/images/no-settings.webp
  packages/notification-center/tsconfig.esm.json
  packages/notification-center/tsconfig.json
  packages/notification-center/webpack.config.js
  pnpm-lock.yaml
Labels: @novu/api, @novu/notification-center, @novu/shared

#3960 v0.17.2
  .github/workflows/reusable-web-e2e.yml
  apps/api/package.json
  apps/api/src/app/execution-details/dtos/execution-details-request.dto.ts
  apps/api/src/app/execution-details/e2e/get-execution-details.e2e.ts
  apps/api/src/app/execution-details/usecases/get-execution-details/get-execution-details.usecase.ts
  apps/inbound-mail/package.json
  apps/web/package.json
  apps/webhook/package.json
  apps/widget/package.json
  apps/worker/package.json
  apps/ws/package.json
  apps/ws/src/health/health.controller.ts
  apps/ws/src/health/health.module.ts
  apps/ws/src/shared/subscriber-online/subscriber-online.service.ts
  apps/ws/src/socket/socket.module.ts
  docs/package.json
  lerna.json
  libs/dal/package.json
  libs/embed/package.json
  libs/shared/package.json
  libs/shared/src/consts/handlebar-helpers/handlebarHelpers.ts
  libs/testing/package.json
  packages/application-generic/package.json
  packages/application-generic/src/usecases/compile-template/compile-template.spec.ts
  packages/application-generic/src/usecases/compile-template/compile-template.usecase.ts
  packages/cli/package.json
  packages/client/package.json
  packages/headless/package.json
  packages/node/package.json
  packages/notification-center-angular/package.json
  packages/notification-center-vue/package.json
  packages/notification-center/package.json
  packages/notification-center/rollup.config.mjs
  packages/notification-center/src/components/notification-center/components/NotificationsListTab.tsx
  packages/notification-center/src/components/notification-center/components/user-preference/SubscriberPreference.tsx
  packages/notification-center/src/global.d.ts
  packages/notification-center/src/images/NoNewNotifications.tsx
  packages/notification-center/src/images/NoSettings.tsx
  packages/notification-center/src/images/no-new-notifications.svg
  packages/notification-center/src/images/no-new-notifications.webp
  packages/notification-center/src/images/no-settings.webp
  packages/notification-center/tsconfig.esm.json
  packages/notification-center/tsconfig.json
  packages/notification-center/webpack.config.js
  pnpm-lock.yaml
Labels: documentation, @novu/api, @novu/web, @novu/dal, @novu/webhook, @novu/ws, @novu/notification-center, @novu/shared, @novu/notification-center-vue, @novu/notification-center-angular, @novu/worker, CI/CD, @novu/inbound-mail

#3953 fix(web): fixed env switch popover issue
  apps/web/src/components/layout/components/SideNav.tsx
Labels: @novu/web

#3949 fix(web): general app layout updates for small and bigger screens
  apps/web/src/App.tsx
  apps/web/src/components/layout/AppLayout.tsx
  apps/web/src/components/layout/components/AuthContainer.tsx
  apps/web/src/components/layout/components/HeaderNav.tsx
  apps/web/src/components/layout/components/OrganizationSelect.tsx
  apps/web/src/components/layout/components/PageContainer.tsx
  apps/web/src/components/layout/components/SideNav.tsx
  apps/web/src/design-system/ThemeProvider.tsx
  apps/web/src/design-system/navigation/NavMenu.styles.ts
  apps/web/src/design-system/segmented-control/SegmentedControl.tsx
  apps/web/src/design-system/sidebar/Sidebar.tsx
  apps/web/src/pages/activities/components/ActivityGraph.tsx
  apps/web/src/pages/activities/services/chart-bar/option.service.ts
  apps/web/src/pages/integrations/IntegrationsList.tsx
  apps/web/src/pages/quick-start/components/layout/BodyLayout.tsx
  apps/web/src/pages/quick-start/components/layout/FooterLayout.tsx
  apps/web/src/pages/quick-start/components/layout/GetStartedLayout.tsx
  apps/web/src/pages/quick-start/components/layout/HeaderLayout.tsx
  apps/web/src/pages/quick-start/steps/DigestPreview.tsx
  apps/web/src/pages/quick-start/steps/GetStarted.tsx
  apps/web/src/pages/templates/components/ChannelStepEditor.tsx
  apps/web/src/pages/templates/components/DeleteStepRow.tsx
  apps/web/src/pages/templates/components/ProvidersPage.tsx
  apps/web/src/pages/templates/components/SnippetPage.tsx
  apps/web/src/pages/templates/components/SubPageWrapper.tsx
  apps/web/src/pages/templates/components/TemplatePushEditor.tsx
  apps/web/src/pages/templates/components/TemplateSMSEditor.tsx
  apps/web/src/pages/templates/components/TemplateSettings.tsx
  apps/web/src/pages/templates/components/TestWorkflow.tsx
  apps/web/src/pages/templates/components/WorkflowSettingsTabs.tsx
  apps/web/src/pages/templates/components/chat-editor/TemplateChatEditor.tsx
  apps/web/src/pages/templates/components/email-editor/EmailMessagesCards.tsx
  apps/web/src/pages/templates/components/email-editor/TestSendEmail.tsx
  apps/web/src/pages/templates/components/email-editor/variables-management/VariablesManagement.tsx
  apps/web/src/pages/templates/components/in-app-editor/InAppContentCard.tsx
  apps/web/src/pages/templates/components/in-app-editor/TemplateInAppEditor.tsx
  apps/web/src/pages/templates/components/notification-setting-form/NotificationSettingsForm.tsx
  apps/web/src/pages/templates/components/notification-setting-form/TemplatePreference.tsx
  apps/web/src/pages/templates/components/templates-store/ChannelNode.tsx
  apps/web/src/pages/templates/components/templates-store/TriggerNode.tsx
  apps/web/src/pages/templates/editor/DigestWorkflowTourTooltip.tsx
  apps/web/src/pages/templates/editor/Mobile.tsx
  apps/web/src/pages/templates/editor/PreviewMobile.tsx
  apps/web/src/pages/templates/editor/PreviewWeb.tsx
  apps/web/src/pages/templates/editor/TemplateEditorPage.tsx
  apps/web/src/pages/templates/editor/TourProvider.tsx
  apps/web/src/pages/templates/editor/useDigestWorkflowTour.tsx
  apps/web/src/pages/templates/workflow/DelayMetadata.tsx
  apps/web/src/pages/templates/workflow/DigestMetadata.tsx
  apps/web/src/pages/templates/workflow/WorkflowEditor.tsx
  apps/web/src/pages/tenants/components/list/TenantsList.tsx
Labels: @novu/web

#3961 feat: add override layout in trigger functionality
  apps/worker/src/app/workflow/usecases/send-message/send-message-email.usecase.ts
  docs/docs/platform/layouts.md
  packages/application-generic/src/usecases/create-execution-details/types/index.ts
  packages/node/src/lib/events/events.interface.ts
  packages/node/src/lib/events/events.spec.ts
Labels: documentation, @novu/worker

#3944 feat(worker): remove performance svc as it was temporary
  apps/api/package.json
  apps/api/src/app/events/events.controller.ts
  apps/api/src/app/events/events.module.ts
  apps/api/src/app/shared/shared.module.ts
  apps/worker/package.json
  apps/worker/src/app/workflow/usecases/performance/events.performance.ts
  apps/worker/src/app/workflow/workflow.module.ts
  packages/application-generic/src/services/index.ts
  packages/application-generic/src/services/performance/events-performance.service.ts
  packages/application-generic/src/services/performance/index.ts
  packages/application-generic/src/services/performance/performance.service.ts
  packages/application-generic/src/usecases/create-notification-jobs/create-notification-jobs.usecase.ts
  packages/application-generic/src/usecases/digest-filter-steps/digest-filter-steps.usecase.ts
  packages/application-generic/src/usecases/trigger-event/trigger-event.usecase.ts
Labels: @novu/api, @novu/worker

#3833 Docs platform guide handlebars
  docs/docs/platform/handlebars.md
Labels: documentation, stale

#3938 feat(wip): initial bulk subscriber create
  .cspell.json
  apps/api/src/app/events/usecases/map-trigger-recipients/map-trigger-recipients.use-case.ts
  apps/api/src/app/subscribers/dtos/create-subscriber-request.dto.ts
  apps/api/src/app/subscribers/e2e/bulk-create-subscribers.e2e.ts
  apps/api/src/app/subscribers/subscribers.controller.ts
  apps/api/src/app/subscribers/usecases/bulk-create-subscribers/bulk-create-subscribers.command.ts
  apps/api/src/app/subscribers/usecases/bulk-create-subscribers/bulk-create-subscribers.usecase.ts
  apps/api/src/app/subscribers/usecases/bulk-create-subscribers/index.ts
  apps/api/src/app/subscribers/usecases/index.ts
  libs/dal/src/repositories/base-repository.ts
  libs/dal/src/repositories/subscriber/subscriber.repository.ts
  libs/shared/src/types/subscriber/index.ts
  packages/application-generic/src/usecases/trigger-event/trigger-event.usecase.ts
  packages/node/src/lib/novu.ts
  packages/node/src/lib/subscribers/subscriber.interface.ts
  packages/node/src/lib/subscribers/subscribers.spec.ts
  packages/node/src/lib/subscribers/subscribers.ts
Labels: @novu/api, @novu/dal, @novu/shared

#3956 Nv 2690 add identifier field to layouts scheme
  apps/api/src/app/change/e2e/promote-layout-changes.e2e.ts
  apps/api/src/app/change/usecases/promote-layout-change/promote-layout-change.use-case.ts
  apps/api/src/app/layouts/dtos/create-layout.dto.ts
  apps/api/src/app/layouts/dtos/layout.dto.ts
  apps/api/src/app/layouts/dtos/update-layout.dto.ts
  apps/api/src/app/layouts/e2e/create-layout.e2e.ts
  apps/api/src/app/layouts/e2e/delete-layout.e2e.ts
  apps/api/src/app/layouts/e2e/filter-layouts.e2e.ts
  apps/api/src/app/layouts/e2e/get-layout.e2e.ts
  apps/api/src/app/layouts/e2e/helpers/index.ts
  apps/api/src/app/layouts/e2e/set-default-layout.e2e.ts
  apps/api/src/app/layouts/e2e/update-layout.e2e.ts
  apps/api/src/app/layouts/layouts.controller.ts
  apps/api/src/app/layouts/types/index.ts
  apps/api/src/app/layouts/usecases/create-default-layout/create-default-layout.usecase.ts
  apps/api/src/app/layouts/usecases/create-layout/create-layout.command.ts
  apps/api/src/app/layouts/usecases/create-layout/create-layout.use-case.ts
  apps/api/src/app/layouts/usecases/find-deleted-layout/find-deleted-layout.spec.ts
  apps/api/src/app/layouts/usecases/update-layout/update-layout.command.ts
  apps/api/src/app/layouts/usecases/update-layout/update-layout.use-case.ts
  apps/web/src/pages/brand/tabs/LayoutEditor.tsx
  apps/web/src/pages/brand/tabs/LayoutsListPage.tsx
  apps/web/src/pages/templates/WorkflowListPage.tsx
  apps/worker/src/app/workflow/usecases/send-message/send-message-email.usecase.ts
  docs/docs/platform/layouts.md
  libs/dal/src/repositories/layout/layout.entity.ts
  libs/dal/src/repositories/layout/layout.repository.ts
  libs/dal/src/repositories/layout/layout.schema.ts
  libs/dal/src/repositories/layout/types.ts
  libs/shared/src/dto/layout/layout.dto.ts
  libs/shared/src/entities/layout/layout.interface.ts
  libs/shared/src/types/layout/index.ts
  libs/testing/src/user.session.ts
  packages/application-generic/src/usecases/create-execution-details/types/index.ts
  packages/application-generic/src/usecases/get-layout/layout.dto.ts
  packages/node/src/lib/events/events.interface.ts
  packages/node/src/lib/events/events.spec.ts
  packages/node/src/lib/layouts/layout.interface.ts
  packages/node/src/lib/layouts/layouts.spec.ts
  packages/node/src/lib/layouts/layouts.ts
Labels: documentation, @novu/api, @novu/web, @novu/dal, @novu/shared, @novu/worker

#3969 fix: so swagger json validates
  .github/workflows/test.yml
  apps/api/src/app/events/dtos/trigger-event-request.dto.ts
  apps/api/src/app/shared/dtos/pagination-response.ts
Labels: @novu/api, CI/CD

#3975 feat(ci): reuse instructions to tidy up pipelines
  .github/actions/run-worker/action.yml
  .github/actions/setup-project/action.yml
  .github/workflows/reusable-api-e2e.yml
  .github/workflows/reusable-web-e2e.yml
  .github/workflows/reusable-widget-e2e.yml
Labels: CI/CD

#3967 feat: migration script to add identifier to layouts
  apps/api/migrations/layout-identifier-update/add-layout-identifier-migration.spec.ts
  apps/api/migrations/layout-identifier-update/add-layout-identifier-migration.ts
Labels: @novu/api

#3981 feat(ci): separate the swagger validation in own runner plus improvement
  .github/actions/run-api/action.yml
  .github/actions/validate-swagger/action.yml
  .github/workflows/test.yml
  scripts/print-affected-array.mjs
Labels: CI/CD, scripts

#3984 fix(ci): indenting action
  .github/actions/run-api/action.yml
  .github/actions/validate-swagger/action.yml
Labels: CI/CD

#3974 Update ReadMe to include Java SDK link
  README.md
Labels: community

#3971 Add Analytics call to Track Deletion of Templates
  apps/api/src/app/workflows/usecases/delete-notification-template/delete-notification-template.usecase.ts
Labels: @novu/api

#3983 feat add organization id index in integration
  libs/dal/src/repositories/integration/integration.schema.ts
Labels: @novu/dal

#3985 fix: so add a provider is not displayed in empty state
  apps/web/cypress/tests/integrations-list-modal.spec.ts
  apps/web/cypress/tests/integrations-list-page.spec.ts
  apps/web/src/pages/integrations/IntegrationsList.tsx
Labels: @novu/web

#3991 feat(ci): reusable action to run backend (api, worker) for clients
  .github/actions/run-backend/action.yml
  .github/workflows/reusable-web-e2e.yml
  .github/workflows/reusable-widget-e2e.yml
Labels: CI/CD

#3992 fix(ci): proper settings for secrets for run backend
  .github/actions/run-backend/action.yml
  .github/workflows/reusable-web-e2e.yml
  .github/workflows/reusable-widget-e2e.yml
Labels: CI/CD

#3966 Nv 2517 display that workflow has nodes that will fail to send a notification
  apps/api/src/app/workflows/dto/workflow-response.dto.ts
  apps/api/src/app/workflows/usecases/get-active-integrations-status/get-active-integrations-status.command.ts
  apps/api/src/app/workflows/usecases/get-active-integrations-status/get-active-integrations-status.spec.ts
  apps/api/src/app/workflows/usecases/get-active-integrations-status/get-active-integrations-status.usecase.ts
  apps/api/src/app/workflows/usecases/get-notification-templates/get-notification-templates.usecase.ts
  apps/api/src/app/workflows/usecases/index.ts
  apps/web/src/design-system/icons/general/ProviderMissing.tsx
  apps/web/src/design-system/icons/index.ts
  apps/web/src/hooks/useTemplates.ts
  apps/web/src/pages/templates/WorkflowListPage.tsx
  libs/dal/src/repositories/notification-template/notification-template.repository.ts
Labels: @novu/api, @novu/web, @novu/dal

#4002 fix: remove github discussion link
  CONTRIBUTING.md
  docker/Readme.md
  docs/docs/overview/docker-deploy.md
Labels: documentation, docker

#4003 feat: fix logger error order
  apps/api/src/app/logs/usecases/create-log/create-log.usecase.ts
  apps/inbound-mail/src/server/index.ts
  apps/worker/src/app/shared/logs/create-log.usecase.ts
  apps/worker/src/app/workflow/services/metric-queue.service.ts
  apps/worker/src/app/workflow/services/workflow-queue.service.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-chat.usecase.ts
  apps/worker/src/app/workflow/usecases/webhook-filter-backoff-strategy/webhook-filter-backoff-strategy.usecase.ts
  apps/ws/src/socket/services/socket-queue-consumer.service.ts
  packages/application-generic/src/services/analytics.service.ts
  packages/application-generic/src/services/cache/cache.service.ts
  packages/application-generic/src/services/cache/interceptors/cached-entity.interceptor.ts
  packages/application-generic/src/services/cache/interceptors/cached-query.interceptor.ts
  packages/application-generic/src/services/cache/interceptors/cached.interceptor.ts
  packages/application-generic/src/services/cache/invalidate-cache.service.ts
  packages/application-generic/src/services/distributed-lock/distributed-lock.service.ts
  packages/application-generic/src/services/feature-flags.service.ts
  packages/application-generic/src/services/in-memory-provider/in-memory-provider.service.ts
  packages/application-generic/src/services/launch-darkly.service.ts
  packages/application-generic/src/services/readiness.service.ts
  packages/application-generic/src/usecases/create-notification-jobs/create-notification-jobs.usecase.ts
  packages/application-generic/src/usecases/digest-filter-steps/digest-filter-steps.usecase.ts
  packages/application-generic/src/usecases/trigger-event/trigger-event.usecase.ts
Labels: @novu/api, @novu/ws, @novu/worker, @novu/inbound-mail

#3986 fix: add missing sharable url in the new integration form
  apps/web/src/pages/integrations/components/ConnectIntegrationForm.tsx
  apps/web/src/pages/integrations/components/Modal/ConnectIntegrationForm.tsx
  apps/web/src/pages/integrations/components/multi-provider/UpdateProviderSidebar.tsx
Labels: @novu/web

#4006 next fix logger error order
  apps/api/src/app/logs/usecases/create-log/create-log.usecase.ts
  apps/inbound-mail/src/server/index.ts
  apps/worker/src/app/shared/logs/create-log.usecase.ts
  apps/worker/src/app/workflow/services/metric-queue.service.ts
  apps/worker/src/app/workflow/services/workflow-queue.service.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-chat.usecase.ts
  apps/worker/src/app/workflow/usecases/webhook-filter-backoff-strategy/webhook-filter-backoff-strategy.usecase.ts
  apps/ws/src/socket/services/socket-queue-consumer.service.ts
  packages/application-generic/src/services/analytics.service.ts
  packages/application-generic/src/services/cache/cache.service.ts
  packages/application-generic/src/services/cache/interceptors/cached-entity.interceptor.ts
  packages/application-generic/src/services/cache/interceptors/cached-query.interceptor.ts
  packages/application-generic/src/services/cache/interceptors/cached.interceptor.ts
  packages/application-generic/src/services/cache/invalidate-cache.service.ts
  packages/application-generic/src/services/distributed-lock/distributed-lock.service.ts
  packages/application-generic/src/services/feature-flags.service.ts
  packages/application-generic/src/services/in-memory-provider/in-memory-provider.service.ts
  packages/application-generic/src/services/launch-darkly.service.ts
  packages/application-generic/src/services/readiness.service.ts
  packages/application-generic/src/usecases/create-notification-jobs/create-notification-jobs.usecase.ts
  packages/application-generic/src/usecases/digest-filter-steps/digest-filter-steps.usecase.ts
  packages/application-generic/src/usecases/trigger-event/trigger-event.usecase.ts
Labels: @novu/api, @novu/ws, @novu/worker, @novu/inbound-mail

#4008 clean patch - execution details no write concern
  apps/webhook/src/webhooks/usecases/execution-details/create-execution-details.usecase.ts
  libs/dal/src/repositories/base-repository.ts
Labels: @novu/dal, @novu/webhook

#4009 Fix failing test for web and widget
  .github/actions/run-backend/action.yml
  .github/workflows/reusable-web-e2e.yml
  .github/workflows/reusable-widget-e2e.yml
  apps/web/src/index.tsx
Labels: @novu/web, CI/CD

#4004 feat: execution detail no write concern
  apps/webhook/src/webhooks/usecases/execution-details/create-execution-details.usecase.ts
  libs/dal/src/repositories/base-repository.ts
Labels: @novu/dal, @novu/webhook

#3999 Fix: Add Redis password into docker-compose and sample env
  docker/.env.example
  docker/local/deployment/docker-compose.yml
Labels: community, docker

#3990 [NV-2719] feat: add tenant support node sdk
  libs/shared/src/types/tenant/index.ts
  packages/node/src/lib/novu.ts
  packages/node/src/lib/tenants/index.ts
  packages/node/src/lib/tenants/tenant.interface.ts
  packages/node/src/lib/tenants/tenants.spec.ts
  packages/node/src/lib/tenants/tenants.ts
Labels: @novu/shared

#3994 Nv 2403 tenant id trigger engine integration
  apps/api/src/app/events/dtos/trigger-event-request.dto.ts
  apps/api/src/app/events/dtos/trigger-event-to-all-request.dto.ts
  apps/api/src/app/events/events.controller.ts
  apps/api/src/app/events/events.module.ts
  apps/api/src/app/events/usecases/index.ts
  apps/api/src/app/events/usecases/parse-event-request/parse-event-request.command.ts
  apps/api/src/app/events/usecases/parse-event-request/parse-event-request.usecase.ts
  apps/api/src/app/events/usecases/process-bulk-trigger/process-bulk-trigger.usecase.ts
  apps/api/src/app/events/usecases/trigger-event-to-all/trigger-event-to-all.command.ts
  apps/api/src/app/events/usecases/trigger-event-to-all/trigger-event-to-all.usecase.ts
  apps/api/src/app/shared/helpers/content.service.spec.ts
  apps/api/src/app/shared/helpers/content.service.ts
  apps/api/src/app/tenant/e2e/create-tenant.e2e.ts
  apps/api/src/app/tenant/tenant.controller.ts
  apps/api/src/app/tenant/usecases/delete-tenant/delete-tenant.usecase.ts
  apps/api/src/app/tenant/usecases/get-tenant/get-tenant.command.ts
  apps/api/src/app/tenant/usecases/index.ts
  apps/api/src/app/workflows/usecases/create-notification-template/create-notification-template.usecase.ts
  apps/api/src/app/workflows/usecases/update-notification-template/update-notification-template.usecase.ts
  apps/web/src/components/execution-detail/ExecutionDetailTrigger.tsx
  apps/web/src/pages/templates/components/TestWorkflow.tsx
  apps/web/src/pages/templates/components/TriggerSnippetTabs.tsx
  apps/worker/src/app/shared/shared.module.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-chat.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-email.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-in-app.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-push.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-sms.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message.base.ts
  apps/worker/src/app/workflow/workflow.module.ts
  libs/dal/src/repositories/job/job.entity.ts
  libs/dal/src/repositories/job/job.schema.ts
  libs/dal/src/repositories/notification-template/notification-template.entity.ts
  libs/dal/src/repositories/notification-template/notification-template.schema.ts
  libs/dal/src/repositories/notification/notification.repository.ts
  libs/shared/src/dto/events/event.interface.ts
  libs/shared/src/entities/message-template/message-template.interface.ts
  libs/shared/src/entities/notification-template/notification-template.interface.ts
  libs/shared/src/types/tenant/index.ts
  packages/application-generic/src/usecases/create-execution-details/types/index.ts
  packages/application-generic/src/usecases/create-notification-jobs/create-notification-jobs.command.ts
  packages/application-generic/src/usecases/create-notification-jobs/create-notification-jobs.usecase.ts
  packages/application-generic/src/usecases/create-tenant/create-tenant.command.ts
  packages/application-generic/src/usecases/create-tenant/create-tenant.usecase.ts
  packages/application-generic/src/usecases/create-tenant/index.ts
  packages/application-generic/src/usecases/get-tenant/get-tenant.command.ts
  packages/application-generic/src/usecases/get-tenant/get-tenant.usecase.ts
  packages/application-generic/src/usecases/get-tenant/index.ts
  packages/application-generic/src/usecases/index.ts
  packages/application-generic/src/usecases/process-tenant/index.ts
  packages/application-generic/src/usecases/process-tenant/process-tenant.command.ts
  packages/application-generic/src/usecases/process-tenant/process-tenant.usecase.ts
  packages/application-generic/src/usecases/trigger-event/trigger-event.command.ts
  packages/application-generic/src/usecases/trigger-event/trigger-event.usecase.ts
  packages/application-generic/src/usecases/update-subscriber/update-subscriber.command.ts
  packages/application-generic/src/usecases/update-tenant/index.ts
  packages/application-generic/src/usecases/update-tenant/update-tenant.command.ts
  packages/application-generic/src/usecases/update-tenant/update-tenant.usecase.ts
  packages/node/src/lib/events/events.interface.ts
  packages/node/src/lib/events/events.ts
Labels: @novu/api, @novu/web, @novu/dal, @novu/shared, @novu/worker

#4019 fix: invalid import - process tenant
  apps/worker/src/app/workflow/workflow.module.ts
Labels: @novu/worker

#4012 feat: add product lead component
  apps/web/cypress/tests/integrations-list-modal.spec.ts
  apps/web/src/components/utils/ProductLead.tsx
  apps/web/src/design-system/icons/general/Calendar.tsx
  apps/web/src/design-system/icons/general/Cloud.tsx
  apps/web/src/design-system/icons/general/SSO.tsx
  apps/web/src/design-system/icons/general/Translate.tsx
  apps/web/src/design-system/icons/general/UserAccess.tsx
  apps/web/src/design-system/icons/index.ts
  apps/web/src/pages/invites/MembersInvitePage.tsx
  apps/web/src/pages/settings/SettingsPage.tsx
  apps/web/src/pages/templates/components/ChannelStepEditor.tsx
  apps/web/src/pages/templates/components/TranslateProductLead.tsx
  apps/web/src/pages/templates/components/email-editor/EmailMessagesCards.tsx
  apps/web/src/pages/templates/components/in-app-editor/InAppContentCard.tsx
Labels: @novu/web

#4029 Refactor branding tabs to routes
  apps/web/src/App.tsx
  apps/web/src/constants/routes.enum.ts
  apps/web/src/pages/brand/BrandPage.tsx
  apps/web/src/pages/brand/tabs/BrandingForm.cy.tsx
  apps/web/src/pages/brand/tabs/BrandingForm.tsx
  apps/web/src/pages/brand/tabs/LayoutsListPage.tsx
Labels: @novu/web

#4034 NV-3973 - 🐛 Bug Report: invalid netcore logo
  apps/web/public/static/images/providers/dark/square/netcore.svg
  apps/web/public/static/images/providers/light/square/netcore.svg
  libs/shared/src/consts/providers/channels/email.ts
Labels: @novu/web, @novu/shared, community

#4036 feat: upgrade node mailjet version
  pnpm-lock.yaml
  providers/mailjet/package.json
  providers/mailjet/src/lib/mailjet-response.interface.ts
  providers/mailjet/src/lib/mailjet.provider.spec.ts
  providers/mailjet/src/lib/mailjet.provider.ts
Labels: providers

#3998 feat: show providers on workflow nodes
  apps/api/src/app/integrations/dtos/integration-response.dto.ts
  apps/api/src/app/workflows/dto/workflow-response.dto.ts
  apps/api/src/app/workflows/usecases/get-active-integrations-status/get-active-integrations-status.spec.ts
  apps/api/src/app/workflows/usecases/get-active-integrations-status/get-active-integrations-status.usecase.ts
  apps/web/cypress/tests/notification-editor/create-notification.spec.ts
  apps/web/src/components/workflow/FlowEditor.tsx
  apps/web/src/components/workflow/types.ts
  apps/web/src/design-system/icons/general/ChatFilled.tsx
  apps/web/src/design-system/icons/general/EmailFilled.tsx
  apps/web/src/design-system/icons/general/InAppFilled.tsx
  apps/web/src/design-system/icons/general/PushFilled.tsx
  apps/web/src/design-system/icons/general/SmsFilled.tsx
  apps/web/src/hooks/useTemplates.ts
  apps/web/src/pages/templates/WorkflowListPage.tsx
  apps/web/src/pages/templates/components/templates-store/TemplatesStoreModal.tsx
  apps/web/src/pages/templates/components/templates-store/TriggerNode.tsx
  apps/web/src/pages/templates/workflow/DisplayPrimaryProviderIcon.tsx
  apps/web/src/pages/templates/workflow/digest/TimedDigestWillBeSentHeader.tsx
  apps/web/src/pages/templates/workflow/digest/WillBeSentHeader.tsx
  apps/web/src/pages/templates/workflow/workflow/node-types/ChannelNode.tsx
  apps/web/src/pages/templates/workflow/workflow/node-types/TriggerNode.tsx
  apps/web/src/pages/templates/workflow/workflow/node-types/WorkflowNode.tsx
  libs/shared/src/types/notification-templates/index.ts
Labels: @novu/api, @novu/web, @novu/shared

#4038 refactor: so filter logic from message matcher to filter abstract class
  apps/worker/src/app/workflow/usecases/message-matcher/message-matcher.usecase.spec.ts
  apps/worker/src/app/workflow/usecases/message-matcher/message-matcher.usecase.ts
  apps/worker/src/app/workflow/usecases/message-matcher/types.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message.usecase.ts
  packages/application-generic/src/index.ts
  packages/application-generic/src/utils/filter-processing-details.ts
  packages/application-generic/src/utils/filter.ts
Labels: @novu/worker

#3842 Docs: Add Quickstart guide for Go
  .vscode/settings.json
  docs/docs/overview/quickstart/get-started-with-go.md
Labels: documentation, community, stale

#4044 Nv 2702 selectintegration use case update the logic for tenants
  apps/api/src/app/integrations/usecases/index.ts
  apps/api/src/app/shared/dtos/step-filter.ts
  apps/api/src/app/widgets/usecases/initialize-session/initialize-session.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-chat.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-email.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-in-app.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-push.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-sms.usecase.ts
  apps/worker/src/app/workflow/workflow.module.ts
  libs/dal/src/repositories/integration/integration.entity.ts
  libs/dal/src/repositories/integration/integration.schema.ts
  libs/shared/src/types/builder/filter.types.ts
  packages/application-generic/src/usecases/conditions-filter/conditions-filter.command.ts
  packages/application-generic/src/usecases/conditions-filter/conditions-filter.usecase.ts
  packages/application-generic/src/usecases/conditions-filter/index.ts
  packages/application-generic/src/usecases/index.ts
  packages/application-generic/src/usecases/select-integration/select-integration.command.ts
  packages/application-generic/src/usecases/select-integration/select-integration.spec.ts
  packages/application-generic/src/usecases/select-integration/select-integration.usecase.ts
  packages/application-generic/src/usecases/send-test-email/send-test-email.usecase.ts
  packages/application-generic/src/utils/filter-processing-details.ts
Labels: @novu/api, @novu/dal, @novu/shared, @novu/worker

#4042 Upgrade nestjs to version 10
  apps/api/package.json
  apps/webhook/nest-cli.json
  apps/webhook/package.json
  apps/webhook/tsconfig.build.json
  apps/worker/package.json
  apps/ws/package.json
  packages/application-generic/package.json
  pnpm-lock.yaml
Labels: @novu/api, @novu/webhook, @novu/ws, @novu/worker

#4050 feat: fix so conditions are emptied when integration are set as primary
  apps/api/src/app/integrations/usecases/set-integration-as-primary/set-integration-as-primary.usecase.ts
Labels: @novu/api

#3402 Update Queue metrics accuracy
  .cspell.json
  .idea/rcb-settings.xml
  apps/worker/package.json
  apps/worker/src/.env.production
  apps/worker/src/.example.env
  apps/worker/src/app/shared/utils/cron-health.ts
  apps/worker/src/app/shared/utils/index.ts
  apps/worker/src/app/workflow/services/metric-queue-active.service.spec.ts
  apps/worker/src/app/workflow/services/metric-queue-active.service.ts
  apps/worker/src/app/workflow/services/metric-queue-completed.service.spec.ts
  apps/worker/src/app/workflow/services/metric-queue-completed.service.ts
  apps/worker/src/app/workflow/services/metric-queue.service.ts
  apps/worker/src/app/workflow/workflow.module.ts
  apps/worker/src/bootstrap.ts
  libs/shared/src/config/job-queue.ts
  packages/application-generic/src/commands/base.command.ts
  packages/application-generic/src/services/bull-mq.service.ts
  pnpm-lock.yaml
Labels: @novu/shared, @novu/worker

#4055 chore: remove unused cz vulnerable packages
  _templates/provider/new/package.ejs.t
  libs/embed/package.json
  package.json
  packages/application-generic/package.json
  packages/nest/package.json
  packages/node/package.json
  packages/stateless/package.json
  pnpm-lock.yaml
  providers/africas-talking/package.json
  providers/apns/package.json
  providers/burst-sms/package.json
  providers/clickatell/package.json
  providers/discord/package.json
  providers/email-webhook/package.json
  providers/emailjs/package.json
  providers/expo/package.json
  providers/fcm/package.json
  providers/firetext/package.json
  providers/forty-six-elks/package.json
  providers/gupshup/package.json
  providers/infobip/package.json
  providers/kannel/package.json
  providers/mailersend/package.json
  providers/mailgun/package.json
  providers/mailjet/package.json
  providers/mandrill/package.json
  providers/maqsam/package.json
  providers/mattermost/package.json
  providers/ms-teams/package.json
  providers/netcore/package.json
  providers/nexmo/package.json
  providers/nodemailer/package.json
  providers/one-signal/package.json
  providers/outlook365/package.json
  providers/plivo/package.json
  providers/plunk/package.json
  providers/postmark/package.json
  providers/push-webhook/package.json
  providers/resend/package.json
  providers/sendchamp/package.json
  providers/sendgrid/package.json
  providers/sendinblue/package.json
  providers/ses/package.json
  providers/slack/package.json
  providers/sms-central/package.json
  providers/sms77/package.json
  providers/sns/package.json
  providers/sparkpost/package.json
  providers/telnyx/package.json
  providers/termii/package.json
  providers/twilio/package.json
Labels: providers

#4059 chore: upgrade socket packages due to high vulnerability
  apps/webhook/package.json
  apps/widget/package.json
  apps/ws/package.json
  packages/headless/package.json
  packages/notification-center/package.json
  pnpm-lock.yaml
Labels: @novu/webhook, @novu/ws, @novu/notification-center

#4065 feat: add tags for workflow settings
  apps/web/src/pages/templates/components/notification-setting-form/NotificationSettingsForm.tsx
  docs/docs/notification-center/react/api-reference.md
  libs/shared/src/entities/subscriber-preference/subscriber-preference.interface.ts
  packages/application-generic/src/usecases/get-subscriber-template-preference/get-subscriber-template-preference.usecase.ts
  packages/client/src/index.ts
Labels: documentation, @novu/web, @novu/shared

#4017 fix(web): delete primary integration - show the select primary modal when there are active integrations
  apps/web/cypress/tests/integrations-list-modal.spec.ts
  apps/web/src/pages/integrations/components/UpdateIntegrationSidebarHeader.tsx
  apps/web/src/pages/integrations/components/multi-provider/UpdateProviderSidebar.tsx
Labels: @novu/web
