Repository novuhq/novu, pull requests merged in 2023-04, with the labels that each got.

#3097 Sumit
  .vscode/settings.json
  docs/docs/overview/introduction.md
  docs/docs/overview/quick-start.md
Labels: documentation, community

#3127 fix: added check for tls options before json stringify to avoid empty string
  apps/web/src/pages/integrations/IntegrationsStorePage.tsx
Labels: @novu/web, community

#3120 feat(api): in-memory provider service
  apps/api/src/app/events/e2e/process-subscriber.e2e.ts
  apps/api/src/app/events/services/workflow-queue/trigger-handler-queue.service.ts
  apps/api/src/app/shared/services/cache/cache.service.ts
  apps/api/src/app/shared/services/in-memory-provider/in-memory-provider.service.ts
  apps/api/src/app/shared/services/in-memory-provider/index.ts
  apps/api/src/app/shared/services/in-memory-provider/redis-provider.ts
  apps/api/src/app/shared/shared.module.ts
  apps/api/src/app/widgets/e2e/get-unseen-count.e2e.ts
Labels: @novu/api

#3084 feat: add mark message action as seen dto
  apps/api/src/app/subscribers/subscribers.controller.ts
  apps/api/src/app/widgets/dtos/mark-message-action-as-seen.dto.ts
Labels: @novu/api

#3134 feat: add secondary preferred
  libs/dal/src/repositories/message/message.repository.ts
  libs/dal/src/repositories/notification/notification.repository.ts
Labels: @novu/dal

#3111 chore(api,worker-service): fixed failing workflow e2e tests
  .github/workflows/reusable-api-e2e.yml
  apps/api/src/app/events/e2e/delay-events.e2e.ts
  apps/api/src/app/events/e2e/digest-events.e2e.ts
  apps/api/src/app/events/e2e/trigger-event.e2e.ts
  apps/api/src/app/widgets/e2e/get-unseen-count.e2e.ts
  apps/worker-service/src/.env.development
  apps/worker-service/src/.env.production
  apps/worker-service/src/.env.test
  apps/worker-service/src/.example.env
  apps/worker-service/src/app/workflow/services/workflow-queue.service.ts
  apps/worker-service/src/app/workflow/usecases/message-matcher/message-matcher.usecase.ts
  apps/worker-service/src/app/workflow/usecases/webhook-filter-backoff-strategy/webhook-filter-backoff-strategy.usecase.ts
  apps/worker-service/src/config/env-validator.ts
  apps/worker-service/src/types/env.d.ts
  packages/application-generic/src/services/queue.service.ts
  pnpm-lock.yaml
Labels: @novu/api

#3112 feat: hash reset tokens
  apps/api/src/app/auth/e2e/password-reset.e2e.ts
  libs/dal/src/repositories/user/user.repository.ts
Labels: @novu/api, @novu/dal, community

#3123 feat(api): distributed lock service should reuse in memory provider svc
  apps/api/src/app/events/services/distributed-lock-service/index.ts
  apps/api/src/app/events/usecases/add-job/add-digest-job.usecase.ts
  apps/api/src/app/shared/services/distributed-lock/distributed-lock.service.spec.ts
  apps/api/src/app/shared/services/distributed-lock/distributed-lock.service.ts
  apps/api/src/app/shared/services/in-memory-provider/in-memory-provider.service.ts
  apps/api/src/app/shared/services/in-memory-provider/redis-provider.ts
  apps/api/src/app/shared/shared.module.ts
Labels: @novu/api

#3141 Added a section about the Seen/Read filter
  docs/docs/platform/step-filter.md
Labels: documentation

#3144 feat: add Redis clusters for local development
  .cspell.json
  .devcontainer/devcontainer.json
  docker/Readme.md
  docker/local/Readme.md
  docker/local/development/docker-compose.redis-cluster.yml
  docker/local/development/redis-sentinel/Dockerfile
  docker/local/development/redis-sentinel/sentinel-entrypoint.sh
  docker/local/development/redis-sentinel/sentinel.conf
  docker/local/development/redis/redis.conf
  docs/docs/overview/docker-deploy.md
Labels: documentation

#3148 Update step-filter.md
  docs/docs/platform/step-filter.md
Labels: documentation

#3149 fix: Add missing import for AuthModule
  apps/api/src/app/inbound-parse/inbound-parse.module.ts
Labels: @novu/api

#3075 fix: get latest version of actor details while retreiving messages/feed list
  apps/api/src/app/events/usecases/send-message/send-message-in-app.usecase.ts
  apps/api/src/app/messages/usecases/get-messages/get-messages.usecase.ts
  apps/api/src/app/widgets/usecases/get-notifications-feed/get-notifications-feed.usecase.ts
  libs/dal/src/repositories/message/message.entity.ts
  libs/dal/src/repositories/message/message.repository.ts
  libs/dal/src/repositories/message/message.schema.ts
Labels: @novu/api, @novu/dal

#3153 Docs: Add Novu Kotlin to the list of SDKs in Readme.md
  README.md
Labels: documentation

#3147 NV-1898 - Missing scrollTo channel in quickstart -> configure provider
  apps/web/src/pages/quick-start/steps/GetStarted.tsx
Labels: @novu/web, community

#3132 Bug: Novu EE workflow Fix
  .github/actions/docker/build-api/action.yml
  .github/workflows/dev-deploy-api.yml
  .github/workflows/dev-deploy-inbound-mail.yml
  .github/workflows/dev-deploy-ws.yml
  .github/workflows/prod-deploy-api.yml
  .npmrc
  .npmrc-cloud
  apps/api/Dockerfile
  apps/api/package.json
  apps/inbound-mail/Dockerfile
  apps/ws/Dockerfile
  packages/application-generic/package.json
  packages/application-generic/src/services/bull-mq.service.ts
  pnpm-lock.yaml
Labels: @novu/api, @novu/ws

#3156 fix: show termii sms provider in integration store
  libs/shared/src/consts/providers/channels/sms.ts
  libs/shared/src/consts/providers/provider.enum.ts
Labels: @novu/shared

#3072 feat(integration): add sparkpost provider to integration page
  apps/api/package.json
  apps/api/src/app/events/services/mail-service/handlers/index.ts
  apps/api/src/app/events/services/mail-service/handlers/sparkpost.handler.ts
  apps/api/src/app/events/services/mail-service/mail.factory.ts
  apps/web/public/static/images/providers/dark/sparkpost.svg
  apps/web/public/static/images/providers/light/sparkpost.svg
  libs/shared/src/consts/providers/channels/email.ts
  libs/shared/src/consts/providers/credentials/provider-credentials.ts
  libs/shared/src/consts/providers/provider.enum.ts
  pnpm-lock.yaml
Labels: @novu/api, @novu/web, @novu/shared, community

#3109 Index Cleanup - Execution Details
  apps/api/src/app/events/usecases/message-matcher/message-matcher.usecase.ts
  apps/api/src/app/execution-details/usecases/get-execution-details/get-execution-details.usecase.ts
  libs/dal/src/repositories/execution-details/execution-details.repository.ts
  libs/dal/src/repositories/execution-details/execution-details.schema.ts
  libs/dal/src/types/enforce.ts
Labels: @novu/api, @novu/dal

#3171 feat: remove yearly stats due to performance issues
  apps/api/src/app/notifications/dtos/activity-stats-response.dto.ts
  apps/api/src/app/notifications/e2e/get-activity-stats.e2e.ts
  apps/api/src/app/notifications/usecases/get-activity-stats/get-activity-stats.usecase.ts
  apps/web/src/pages/activities/components/ActivityStatistics.tsx
  libs/dal/src/repositories/base-repository.ts
  libs/dal/src/repositories/notification/notification.repository.ts
Labels: @novu/api, @novu/web, @novu/dal

#3108 Initial setting of TTL index
  apps/api/src/app/events/e2e/trigger-event.e2e.ts
  libs/dal/src/repositories/base-repository.ts
  libs/dal/src/repositories/message/message.entity.ts
  libs/dal/src/repositories/message/message.schema.ts
  libs/dal/src/repositories/notification/notification.entity.ts
  libs/dal/src/repositories/notification/notification.schema.ts
Labels: @novu/api, @novu/dal

#3172 feat: introduce ttl index
  apps/api/src/app/events/e2e/trigger-event.e2e.ts
  libs/dal/src/repositories/base-repository.ts
  libs/dal/src/repositories/message/message.entity.ts
  libs/dal/src/repositories/message/message.schema.ts
  libs/dal/src/repositories/notification/notification.entity.ts
Labels: @novu/api, @novu/dal

#3133 Index Cleanup - Job
  apps/api/src/app/events/usecases/add-job/add-delay-job.usecase.ts
  apps/api/src/app/events/usecases/queue-next-job/queue-next-job.usecase.ts
  apps/api/src/app/events/usecases/send-message/digest/get-digest-events.usecase.ts
  apps/api/src/app/events/usecases/trigger-event/trigger-event.usecase.ts
  libs/dal/src/repositories/job/job.repository.ts
  libs/dal/src/repositories/job/job.schema.ts
Labels: @novu/api, @novu/dal

#3173 Update docker-compose.yml
  docker/local/deployment/docker-compose.yml
Labels: community

#3177 nv-2054-implement-redis-cluster-service
  .cspell.json
  .github/actions/setup-redis-cluster/action.yml
  .github/workflows/reusable-api-e2e.yml
  .github/workflows/test-api.yml
  apps/api/package.json
  apps/api/src/.env.development
  apps/api/src/.env.production
  apps/api/src/.env.test
  apps/api/src/.example.env
  apps/api/src/app/health/cache-health-indicator.ts
  apps/api/src/app/health/health.controller.ts
  apps/api/src/app/health/health.module.ts
  apps/api/src/app/shared/services/cache/cache.service.ts
  apps/api/src/app/shared/services/distributed-lock/distributed-lock.service.spec.ts
  apps/api/src/app/shared/services/distributed-lock/distributed-lock.service.ts
  apps/api/src/app/shared/services/in-memory-provider/elasticache-cluster-provider.ts
  apps/api/src/app/shared/services/in-memory-provider/in-memory-provider.service.spec.ts
  apps/api/src/app/shared/services/in-memory-provider/in-memory-provider.service.ts
  apps/api/src/app/shared/services/in-memory-provider/redis-cluster-provider.ts
  apps/api/src/app/shared/services/in-memory-provider/redis-provider.ts
  apps/api/src/config/env-validator.ts
  apps/ws/package.json
  libs/testing/src/user.session.ts
  pnpm-lock.yaml
Labels: @novu/api, @novu/ws

#3184 V0.14.x
  .cspell.json
  .github/actions/setup-redis-cluster/action.yml
  .github/workflows/reusable-api-e2e.yml
  .github/workflows/test-api.yml
  apps/api/package.json
  apps/api/src/.env.development
  apps/api/src/.env.production
  apps/api/src/.env.test
  apps/api/src/.example.env
  apps/api/src/app/events/e2e/trigger-event.e2e.ts
  apps/api/src/app/events/usecases/add-job/add-delay-job.usecase.ts
  apps/api/src/app/events/usecases/queue-next-job/queue-next-job.usecase.ts
  apps/api/src/app/events/usecases/send-message/digest/get-digest-events.usecase.ts
  apps/api/src/app/events/usecases/trigger-event/trigger-event.usecase.ts
  apps/api/src/app/health/cache-health-indicator.ts
  apps/api/src/app/health/health.controller.ts
  apps/api/src/app/health/health.module.ts
  apps/api/src/app/shared/services/cache/cache.service.ts
  apps/api/src/app/shared/services/cache/key-builders/entities.spec.ts
  apps/api/src/app/shared/services/cache/key-builders/entities.ts
  apps/api/src/app/shared/services/cache/key-builders/queries.spec.ts
  apps/api/src/app/shared/services/cache/key-builders/queries.ts
  apps/api/src/app/shared/services/cache/key-builders/shared.ts
  apps/api/src/app/shared/services/distributed-lock/distributed-lock.service.spec.ts
  apps/api/src/app/shared/services/distributed-lock/distributed-lock.service.ts
  apps/api/src/app/shared/services/in-memory-provider/elasticache-cluster-provider.ts
  apps/api/src/app/shared/services/in-memory-provider/in-memory-provider.service.spec.ts
  apps/api/src/app/shared/services/in-memory-provider/in-memory-provider.service.ts
  apps/api/src/app/shared/services/in-memory-provider/redis-cluster-provider.ts
  apps/api/src/app/shared/services/in-memory-provider/redis-provider.ts
  apps/api/src/config/env-validator.ts
  apps/ws/package.json
  docker/local/deployment/docker-compose.yml
  libs/dal/src/repositories/base-repository.ts
  libs/dal/src/repositories/job/job.repository.ts
  libs/dal/src/repositories/job/job.schema.ts
  libs/dal/src/repositories/message/message.entity.ts
  libs/dal/src/repositories/message/message.schema.ts
  libs/dal/src/repositories/notification/notification.entity.ts
  libs/testing/src/user.session.ts
  pnpm-lock.yaml
Labels: @novu/api, @novu/dal, @novu/ws

#3131 fix: add reply to support for aws ses provider
  providers/ses/src/lib/ses.provider.spec.ts
  providers/ses/src/lib/ses.provider.ts
Labels: providers, community

#3182 feat(test): Add cypress component test to OrganizationSelect component
  apps/web/src/components/layout/components/OrganizationSelect.cy.tsx
Labels: @novu/web, community

#3165 feat: add iframe styles example
  docs/docs/notification-center/custom-styling.md
Labels: documentation

#3175 Nv 1890 novuheadless library
  apps/api/src/app/widgets/widgets.controller.ts
  docs/docs/notification-center/FAQ.md
  docs/docs/notification-center/angular-component.md
  docs/docs/notification-center/custom-styling.md
  docs/docs/notification-center/headless/_category_.json
  docs/docs/notification-center/headless/api-reference.md
  docs/docs/notification-center/headless/headless.md
  docs/docs/notification-center/iframe-embed.md
  docs/docs/notification-center/vue-component.md
  docs/docs/notification-center/web-component.md
  packages/client/src/api/api.service.ts
  packages/headless/src/lib/headless.service.test.ts
  packages/headless/src/lib/headless.service.ts
  packages/headless/src/lib/types.ts
  packages/headless/src/utils/query-keys.ts
Labels: documentation, @novu/api

#3190 Nv 2109 add example for socket listener
  docs/docs/notification-center/headless/api-reference.md
  docs/docs/notification-center/headless/headless-service.md
  packages/headless/src/lib/headless.service.test.ts
  packages/headless/src/lib/headless.service.ts
Labels: documentation

#3191 fix: add inbound parse api tag and nc font awesome faq
  apps/api/src/app/inbound-parse/inbound-parse.controller.ts
  apps/api/src/app/notifications/activity.controller.ts
  apps/api/src/app/subscribers/subscribers.controller.ts
  apps/api/src/bootstrap.ts
  docs/docs/notification-center/FAQ.md
Labels: documentation, @novu/api

#3107 Index Cleanup - Messages
  .cspell.json
  apps/api/src/app/events/usecases/message-matcher/message-matcher.usecase.ts
  apps/api/src/app/events/usecases/send-message/send-message-in-app.usecase.ts
  apps/api/src/app/inbound-parse/usecases/inbound-email-parse/inbound-email-parse.usecase.ts
  apps/api/src/app/integrations/usecases/calculate-limit-novu-integration/calculate-limit-novu-integration.usecase.ts
  apps/api/src/app/integrations/usecases/get-novu-integration/get-novu-integration.spec.ts
  apps/api/src/app/messages/usecases/get-messages/get-messages.usecase.ts
  apps/api/src/app/widgets/usecases/mark-all-messages-as/mark-all-messages-as.usecase.ts
  libs/dal/src/repositories/message/message.repository.ts
  libs/dal/src/repositories/message/message.schema.ts
Labels: @novu/api, @novu/dal

#3198 feat: add redis auto pipeline
  apps/api/src/app/shared/services/in-memory-provider/elasticache-cluster-provider.ts
  apps/api/src/app/shared/services/in-memory-provider/redis-cluster-provider.ts
Labels: @novu/api

#3192 feat(cluster): implement wait until readiness functionality
  apps/api/src/app/shared/services/distributed-lock/distributed-lock.service.spec.ts
  apps/api/src/app/shared/services/in-memory-provider/elasticache-cluster-provider.ts
  apps/api/src/app/shared/services/in-memory-provider/in-memory-provider.service.spec.ts
  apps/api/src/app/shared/services/in-memory-provider/in-memory-provider.service.ts
  apps/api/src/app/shared/services/in-memory-provider/redis-cluster-provider.ts
Labels: @novu/api

#3199 refactor: remove duplicate cache service initialization
  apps/api/src/app/events/services/distributed-lock-service/index.ts
  apps/api/src/app/events/usecases/add-job/add-digest-job.usecase.ts
  apps/api/src/app/shared/services/in-memory-provider/in-memory-provider.service.ts
  apps/api/src/app/shared/shared.module.ts
Labels: @novu/api

#3196 fix : responsive notification center for mobile devices
  packages/notification-center/src/components/notification-center/components/AppContent.tsx
Labels: @novu/notification-center, community

#3159 chore(docs): change the the api docs domain for redirecting
  docs/netlify.toml
Labels: documentation, community

#3207 fix: missing email override
  apps/worker/src/app/workflow/usecases/send-message/send-message-email.usecase.ts
Labels: @novu/worker

#3183 chore: update jarvis cli and docs
  docs/docs/community/run-locally.md
  scripts/jarvis.js
  scripts/setup-env-files.js
Labels: documentation

#3213 fix: missing email override
  apps/api/src/app/events/usecases/send-message/send-message-email.usecase.ts
Labels: @novu/api

#3194 add ttl index configuration
  libs/dal/src/repositories/execution-details/execution-details.schema.ts
  libs/dal/src/repositories/job/job.schema.ts
  libs/dal/src/repositories/message/message.schema.ts
  libs/dal/src/repositories/notification/notification.schema.ts
  libs/dal/src/shared/consts/ttl.ts
Labels: @novu/dal

#3204 feat(docs): add mailgun provider documentation
  docs/docs/channels/email/mailgun.md
Labels: documentation, community

#3222 feat(worker): move the trigger queue to worker app
  apps/api/src/app/events/events.module.ts
  apps/api/src/app/events/services/workflow-queue/trigger-handler-queue.service.ts
  apps/api/src/app/events/services/workflow-queue/workflow-queue-producer..service.spec.ts
  apps/api/src/app/events/services/workflow-queue/workflow-queue-producer.service.ts
  apps/api/src/app/events/usecases/index.ts
  apps/api/src/app/events/usecases/process-subscriber/process-subscriber.command.ts
  apps/api/src/app/events/usecases/trigger-event-to-all/trigger-event-to-all.usecase.ts
  apps/api/src/app/notifications/e2e/get-activity-feed.e2e.ts
  apps/api/src/app/subscribers/subscribers.controller.ts
  apps/api/src/app/subscribers/usecases/index.ts
  apps/api/src/app/widgets/usecases/initialize-session/initialize-session.usecase.ts
  apps/worker/src/.env.test
  apps/worker/src/app/workflow/services/trigger-processor-queue.service.ts
  apps/worker/src/app/workflow/workflow.module.ts
  packages/application-generic/src/index.ts
  packages/application-generic/src/services/index.ts
  packages/application-generic/src/services/trigger-queue.service.ts
  packages/application-generic/src/usecases/create-notification-jobs/create-notification-jobs.command.ts
  packages/application-generic/src/usecases/create-notification-jobs/create-notification-jobs.usecase.ts
  packages/application-generic/src/usecases/create-notification-jobs/index.ts
  packages/application-generic/src/usecases/create-subscriber/create-subscriber.command.ts
  packages/application-generic/src/usecases/create-subscriber/create-subscriber.spec.ts
  packages/application-generic/src/usecases/create-subscriber/create-subscriber.usecase.ts
  packages/application-generic/src/usecases/create-subscriber/index.ts
  packages/application-generic/src/usecases/index.ts
  packages/application-generic/src/usecases/process-subscriber/index.ts
  packages/application-generic/src/usecases/process-subscriber/process-subscriber.command.ts
  packages/application-generic/src/usecases/process-subscriber/process-subscriber.usecase.ts
  packages/application-generic/src/usecases/store-subscriber-jobs/index.ts
  packages/application-generic/src/usecases/store-subscriber-jobs/store-subscriber-jobs.command.ts
  packages/application-generic/src/usecases/store-subscriber-jobs/store-subscriber-jobs.usecase.ts
  packages/application-generic/src/usecases/trigger-event/index.ts
  packages/application-generic/src/usecases/trigger-event/trigger-event.command.ts
  packages/application-generic/src/usecases/trigger-event/trigger-event.usecase.ts
  packages/application-generic/src/usecases/update-subscriber/index.ts
  packages/application-generic/src/usecases/update-subscriber/update-subscriber.command.ts
  packages/application-generic/src/usecases/update-subscriber/update-subscriber.spec.ts
  packages/application-generic/src/usecases/update-subscriber/update-subscriber.usecase.ts
  packages/application-generic/src/utils/subscriber.ts
Labels: @novu/api, @novu/worker

#3210 Ttl configuration merge
  apps/api/src/app/events/e2e/delay-events.e2e.ts
  apps/api/src/app/events/e2e/trigger-event.e2e.ts
  apps/api/src/app/events/events.module.ts
  apps/worker/src/app/workflow/workflow.module.ts
  libs/dal/src/repositories/base-repository.ts
  libs/dal/src/repositories/execution-details/execution-details.entity.ts
  libs/dal/src/repositories/execution-details/execution-details.schema.ts
  libs/dal/src/repositories/job/job.entity.ts
  libs/dal/src/repositories/job/job.schema.ts
  libs/dal/src/repositories/message/message.schema.ts
  libs/dal/src/repositories/notification/notification.schema.ts
  libs/dal/src/shared/consts/index.ts
  libs/dal/src/shared/consts/ttl.ts
  libs/dal/src/shared/index.ts
  packages/application-generic/src/services/calculate-delay/calculate-delay.service.spec.ts
  packages/application-generic/src/services/calculate-delay/calculate-delay.service.ts
  packages/application-generic/src/services/calculate-delay/index.ts
  packages/application-generic/src/services/index.ts
  packages/application-generic/src/usecases/add-job/add-delay-job.usecase.ts
  packages/application-generic/src/usecases/add-job/add-digest-job.usecase.ts
  packages/application-generic/src/usecases/add-job/add-job.usecase.spec.ts
  packages/application-generic/src/usecases/add-job/add-job.usecase.ts
  packages/application-generic/src/usecases/create-execution-details/create-execution-details.command.ts
  packages/application-generic/src/usecases/create-notification-jobs/create-notification-jobs.usecase.ts
  packages/application-generic/src/usecases/digest-filter-steps/digest-filter-steps-backoff.usecase.ts
  packages/application-generic/src/usecases/digest-filter-steps/digest-filter-steps-regular.usecase.ts
Labels: @novu/api, @novu/dal, @novu/worker

#2912 chore: update docusaurus version to 2.3.1
  .github/ISSUE_TEMPLATE/docs_feedback.yml
  docs/docusaurus.config.js
  docs/package.json
  docs/src/components/DocIssue.tsx
  docs/src/theme/DocPage/Layout/Main/index.d.ts
  docs/src/theme/DocPage/Layout/Main/index.js
  docs/src/theme/DocPage/Layout/Main/styles.module.css
  docs/src/theme/DocPage/index.js
  pnpm-lock.yaml
Labels: documentation, community

#3164 fix: swagger details for apis
  apps/api/src/app/events/dtos/trigger-event-request.dto.ts
  apps/api/src/app/events/dtos/trigger-event-to-all-request.dto.ts
  apps/api/src/app/shared/dtos/pagination-request.ts
  apps/api/src/app/shared/dtos/pagination-response.ts
  apps/api/src/app/shared/framework/paginated-ok-response.decorator.ts
  apps/api/src/app/subscribers/dtos/get-subscribers.dto.ts
  apps/api/src/app/subscribers/dtos/subscriber-response.dto.ts
  apps/api/src/app/subscribers/dtos/subscribers-response.dto.ts
  apps/api/src/app/subscribers/dtos/update-subscriber-channel-request.dto.ts
  apps/api/src/app/subscribers/subscribers.controller.ts
  apps/api/src/app/widgets/dtos/message-response.dto.ts
Labels: @novu/api

#3233 feat(infra): allow to enable autopipelining in cache service via ff
  .cspell.json
  apps/api/src/.env.development
  apps/api/src/.env.production
  apps/api/src/.env.test
  apps/api/src/.example.env
  apps/api/src/app/shared/shared.module.ts
  packages/application-generic/src/.env.test
  packages/application-generic/src/services/in-memory-provider/in-memory-provider.service.spec.ts
  packages/application-generic/src/services/in-memory-provider/in-memory-provider.service.ts
  packages/application-generic/src/services/in-memory-provider/redis-cluster-provider.ts
Labels: @novu/api

#3239 Activity Feed: show subscriberId instead of novu's internal id
  apps/web/src/pages/activities/components/ActivityItem.tsx
  libs/dal/src/repositories/notification/notification.repository.ts
Labels: @novu/web, @novu/dal

#3221 feat(docs): Add infobip provider documentation
  docs/docs/channels/email/infobip.md
Labels: documentation

#3219 feat(docs): Add mandrill provider documentation
  docs/docs/channels/email/mandrill.md
Labels: documentation, community

#3220 feat(docs): Add netcore provider documentation
  docs/docs/channels/email/mailgun.md
  docs/docs/channels/email/netcore.md
Labels: documentation, community

#3188 Added redis service in kustomize
  docker/kubernetes/kustomize/env-dev
  docker/kubernetes/kustomize/kustomization.yaml
  docker/kubernetes/kustomize/redis-service.yaml
Labels: community

#3236 feat: switch to using production node env instead of env
  .github/workflows/prod-deploy-web.yml
  .github/workflows/prod-deploy-widget.yml
  apps/api/src/.env.production
  apps/api/src/app/auth/usecases/password-reset-request/password-reset-request.usecase.ts
  apps/api/src/app/invites/usecases/accept-invite/accept-invite.usecase.ts
  apps/api/src/app/invites/usecases/invite-member/invite-member.usecase.ts
  apps/api/src/app/invites/usecases/resend-invite/resend-invite.usecase.ts
  apps/api/src/config/env-validator.ts
  apps/api/src/config/index.ts
  apps/api/src/types/env.d.ts
  apps/inbound-mail/Dockerfile
  apps/inbound-mail/src/.env.production
  apps/inbound-mail/src/config/env-validator.ts
  apps/inbound-mail/src/config/index.ts
  apps/web/src/hooks/useNovu.ts
  apps/web/src/pages/quick-start/steps/Setup.tsx
  apps/webhook/src/.env.production
  apps/webhook/src/config/index.ts
  apps/widget/cypress/e2e/shell-embed.spec.ts
  apps/widget/cypress/plugins/index.ts
  apps/worker/src/.env.production
  apps/worker/src/config/env-validator.ts
  apps/worker/src/config/index.ts
  apps/worker/src/types/env.d.ts
  apps/ws/src/.env.production
  apps/ws/src/config/index.ts
  libs/dal/src/dal.service.ts
  libs/dal/src/types/env.d.ts
  libs/testing/src/user.session.ts
  packages/application-generic/src/services/in-memory-provider/elasticache-cluster-provider.ts
  packages/application-generic/src/services/in-memory-provider/redis-cluster-provider.ts
Labels: @novu/api, @novu/web, @novu/dal, @novu/webhook, @novu/ws, @novu/worker

#3253 feat: add combined testing pipeline
  .github/workflows/test.yml
  .npmrc
  apps/api/Dockerfile
  package.json
  pnpm-lock.yaml
  scripts/print-affected-array.js
Labels: @novu/api

#3226 Inject CONTEXT_PATH variables defined in .env to images for reverse proxy routing
  docker/local/deployment/docker-compose.yml
Labels: community

#3259 Fixing multiple push providers issue NV-2156
  apps/worker/src/app/workflow/usecases/send-message/send-message-push.usecase.ts
Labels: community, @novu/worker

#3263 Add reply to address to compilation
  apps/api/src/app/events/e2e/trigger-event.e2e.ts
  apps/api/src/app/inbound-parse/e2e/inbound-email-parse.e2e.ts
  apps/api/src/app/inbound-parse/inbound-parse.module.ts
  apps/api/src/app/inbound-parse/usecases/inbound-email-parse/inbound-email-parse.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-email.usecase.ts
Labels: @novu/api, @novu/worker

#3275 docs: add faq for ttl
  docs/docs/community/faq.md
Labels: documentation

#3209 fix: dont store deleted template that are missing in next env(prod)
  apps/api/src/app/change/usecases/promote-notification-template-change/promote-notification-template-change.usecase.ts
  apps/api/src/app/notification-template/e2e/create-notification-templates.e2e.ts
Labels: @novu/api

#3174 Index Cleanup - Notification
  libs/dal/src/repositories/notification/notification.repository.ts
  libs/dal/src/repositories/notification/notification.schema.ts
Labels: @novu/dal

#3178 Index Cleanup - Subscriber
  libs/dal/src/repositories/subscriber/subscriber.schema.ts
Labels: @novu/dal

#3295 fix: office 365 email provider is failing
  providers/outlook365/src/lib/outlook365.provider.ts
Labels: providers

#3289 feat: add api response custom decorator
  apps/api/src/app/change/changes.controller.ts
  apps/api/src/app/channels/channels.controller.ts
  apps/api/src/app/environments/environments.controller.ts
  apps/api/src/app/events/events.controller.ts
  apps/api/src/app/execution-details/execution-details.controller.ts
  apps/api/src/app/feeds/feeds.controller.ts
  apps/api/src/app/inbound-parse/inbound-parse.controller.ts
  apps/api/src/app/integrations/dtos/get-channel-type-limit.sto.ts
  apps/api/src/app/integrations/integrations.controller.ts
  apps/api/src/app/layouts/layouts.controller.ts
  apps/api/src/app/messages/messages.controller.ts
  apps/api/src/app/notification-groups/notification-groups.controller.ts
  apps/api/src/app/notification-template/notification-template.controller.ts
  apps/api/src/app/notifications/notification.controller.ts
  apps/api/src/app/shared/dtos/data-wrapper-dto.ts
  apps/api/src/app/shared/framework/response.decorator.ts
  apps/api/src/app/storage/storage.controller.ts
  apps/api/src/app/subscribers/subscribers.controller.ts
  apps/api/src/app/topics/topics.controller.ts
  apps/api/src/app/user/user.controller.ts
Labels: @novu/api

#3294 fix: add missing invalidation
  apps/api/src/app/notification-template/usecases/delete-notification-template/delete-notification-template.usecase.ts
Labels: @novu/api

#3299 Update discord.md
  docs/docs/channels/chat/discord.md
Labels: documentation, community

#3292 chore(docs): Update the email and sms provider docs
  docs/docs/channels/email/custom-smtp.md
  docs/docs/channels/email/mailersend.md
  docs/docs/channels/email/mailgun.md
  docs/docs/channels/email/mailjet.md
  docs/docs/channels/email/mandrill.md
  docs/docs/channels/email/netcore.md
  docs/docs/channels/email/outlook365.md
  docs/docs/channels/email/postmark.md
  docs/docs/channels/email/resend.md
  docs/docs/channels/email/sendgrid.md
  docs/docs/channels/email/sendinblue.md
  docs/docs/channels/email/ses.md
  docs/docs/channels/email/sparkpost.md
  docs/docs/channels/sms/SMS77.md
  docs/docs/channels/sms/nexmo.md
  docs/docs/channels/sms/telnyx.md
Labels: documentation, community

#3278 fix: fixed font size of created at
  apps/web/src/pages/templates/TemplatesListPage.tsx
Labels: @novu/web, community

#3301 chore(deps): remove @types/handlebars
  apps/api/package.json
  apps/web/cypress/tests/changes.spec.ts
  packages/application-generic/package.json
  pnpm-lock.yaml
Labels: @novu/api, @novu/web, community

#3136 fix(chat): Try all chat channels
  apps/worker/src/app/workflow/usecases/send-message/send-message-chat.usecase.ts
  packages/application-generic/src/usecases/create-execution-details/types/index.ts
Labels: community, @novu/worker

#3284 Migration script for expireAt
  apps/api/migrations/expire-at/expire-at-delay.migration.spec.ts
  apps/api/migrations/expire-at/expire-at.migration.spec.ts
  apps/api/migrations/expire-at/expire-at.migration.ts
Labels: @novu/api
