Repository novuhq/novu, pull requests merged in 2023-07, with the labels that each got.

#3680 Nv 2430 the update integration sidebar
  apps/web/src/design-system/icons/gradient/DisconnectGradient.tsx
  apps/web/src/design-system/icons/index.ts
  apps/web/src/pages/integrations/IntegrationsStoreModal.tsx
  apps/web/src/pages/integrations/IntegrationsStorePage.tsx
  apps/web/src/pages/integrations/UpdateProviderPage.tsx
  apps/web/src/pages/integrations/components/IntegrationChannel.tsx
  apps/web/src/pages/integrations/components/IntegrationChannelCell.tsx
  apps/web/src/pages/integrations/components/IntegrationEnvironmentCell.tsx
  apps/web/src/pages/integrations/components/IntegrationEnvironmentPill.tsx
  apps/web/src/pages/integrations/components/IntegrationInput.tsx
  apps/web/src/pages/integrations/components/IntegrationSecretTextarea.tsx
  apps/web/src/pages/integrations/useProviders.ts
Labels: @novu/web

#3673 Nv 2426 the create integration sidebar
  apps/web/src/App.tsx
  apps/web/src/design-system/icons/gradient/DisconnectGradient.tsx
  apps/web/src/design-system/icons/index.ts
  apps/web/src/design-system/index.ts
  apps/web/src/design-system/name-input/NameInput.tsx
  apps/web/src/design-system/name-input/nameInputStyles.ts
  apps/web/src/pages/integrations/CreateProviderPage.tsx
  apps/web/src/pages/integrations/IntegrationsListPage.tsx
  apps/web/src/pages/integrations/IntegrationsStoreModal.tsx
  apps/web/src/pages/integrations/IntegrationsStorePage.tsx
  apps/web/src/pages/integrations/UpdateProviderPage.tsx
  apps/web/src/pages/integrations/components/IntegrationChannel.tsx
  apps/web/src/pages/integrations/components/IntegrationChannelCell.tsx
  apps/web/src/pages/integrations/components/IntegrationEnvironmentCell.tsx
  apps/web/src/pages/integrations/components/IntegrationEnvironmentPill.tsx
  apps/web/src/pages/integrations/components/IntegrationInput.tsx
  apps/web/src/pages/integrations/components/IntegrationSecretTextarea.tsx
  apps/web/src/pages/integrations/components/IntegrationsListNoData.tsx
  apps/web/src/pages/integrations/components/IntegrationsListToolbar.tsx
  apps/web/src/pages/integrations/components/multi-provider/CreateProviderInstanceSidebar.tsx
  apps/web/src/pages/integrations/components/multi-provider/SelectProviderSidebar.tsx
  apps/web/src/pages/integrations/components/multi-provider/sort-providers.ts
  apps/web/src/pages/integrations/constants.ts
  apps/web/src/pages/integrations/useProviders.ts
  apps/web/src/pages/templates/components/ChannelTitle.tsx
  apps/web/src/pages/templates/workflow/WorkflowEditor.tsx
  apps/web/src/utils/providers.ts
  libs/shared/src/consts/providers/providers.ts
Labels: @novu/web, @novu/shared

#3677 chore(api,worker): use feature flag when selecting the integration during the send phase
  apps/api/package.json
  apps/api/src/app/events/usecases/map-trigger-recipients/map-trigger-recipients.use-case.ts
  apps/api/src/app/integrations/e2e/deactivate-integration.e2e.ts
  apps/api/src/app/integrations/usecases/deactivate-integration/deactivate-integration.usecase.ts
  apps/api/src/app/shared/shared.module.ts
  apps/api/src/app/shared/use-cases/get-feature-flag/index.ts
  apps/api/src/app/shared/use-cases/index.ts
  apps/worker/src/.env.development
  apps/worker/src/.env.production
  apps/worker/src/.env.test
  apps/worker/src/.example.env
  apps/worker/src/app/shared/shared.module.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message.base.ts
  apps/worker/src/config/env-validator.ts
  apps/worker/src/types/env.d.ts
  packages/application-generic/package.json
  packages/application-generic/src/services/feature-flags.service.ts
  packages/application-generic/src/services/index.ts
  packages/application-generic/src/services/launch-darkly.service.ts
  packages/application-generic/src/services/types.ts
  packages/application-generic/src/usecases/get-feature-flag/get-feature-flag.command.ts
  packages/application-generic/src/usecases/get-feature-flag/get-feature-flag.test.ts
  packages/application-generic/src/usecases/get-feature-flag/get-feature-flag.use-case.ts
  packages/application-generic/src/usecases/get-feature-flag/index.ts
  packages/application-generic/src/usecases/index.ts
  packages/application-generic/src/usecases/select-integration/select-integration.spec.ts
  packages/application-generic/src/usecases/select-integration/select-integration.usecase.ts
  pnpm-lock.yaml
Labels: @novu/api, @novu/worker

#3697 feat: add logging and restart to docker compose
  docker/local/deployment/docker-compose.yml
Labels: community, docker

#3707 Node.js & Angular Quickstart
  docs/docs/overview/quickstart/get-started-with-angular.md
  docs/docs/overview/quickstart/get-started-with-node.js.md
  docs/docs/overview/quickstart/media_assets/Screenshot_2023-05-14_at_11.06.38.png
  docs/docs/overview/quickstart/media_assets/Screenshot_2023-05-21_at_09.20.51.png
  docs/docs/overview/quickstart/media_assets/Screenshot_2023-05-21_at_09.33.43.png
  docs/docs/overview/quickstart/media_assets/go9ch8vqvatmroiiz8c5.png
  docs/docs/overview/quickstart/media_assets/in-app-configuration.png
  docs/docs/overview/quickstart/media_assets/rmovxzn2ktdizdsldgsl.png
  docs/docs/overview/quickstart/media_assets/send_test_email.png
  docs/docs/overview/quickstart/media_assets/set-email.png
  docs/docs/overview/quickstart/media_assets/subscriber_id.png
  docs/docs/overview/quickstart/media_assets/subscribers.png
  docs/docs/overview/quickstart/media_assets/trigger_id.png
  docs/docs/overview/quickstart/media_assets/untitled-in-app-notification-template.png
  docs/docs/overview/quickstart/media_assets/update_email_template.png
  docs/docs/overview/quickstart/media_assets/uv7tvfo08i8a0h2ppulr.png
Labels: documentation

#3708 Update get-started-with-node.js.md
  docs/docs/overview/quickstart/get-started-with-node.js.md
Labels: documentation

#3600 Quickstart guide for Angular and Node.js
  docs/docs/overview/quickstart/get-started-with-angular.md
  docs/docs/overview/quickstart/get-started-with-node.js.md
  docs/docs/overview/quickstart/media_assets/Screenshot_2023-05-14_at_11.06.38.png
  docs/docs/overview/quickstart/media_assets/Screenshot_2023-05-21_at_09.20.51.png
  docs/docs/overview/quickstart/media_assets/Screenshot_2023-05-21_at_09.33.43.png
  docs/docs/overview/quickstart/media_assets/go9ch8vqvatmroiiz8c5.png
  docs/docs/overview/quickstart/media_assets/in-app-configuration.png
  docs/docs/overview/quickstart/media_assets/rmovxzn2ktdizdsldgsl.png
  docs/docs/overview/quickstart/media_assets/send_test_email.png
  docs/docs/overview/quickstart/media_assets/set-email.png
  docs/docs/overview/quickstart/media_assets/subscriber_id.png
  docs/docs/overview/quickstart/media_assets/subscribers.png
  docs/docs/overview/quickstart/media_assets/trigger_id.png
  docs/docs/overview/quickstart/media_assets/untitled-in-app-notification-template.png
  docs/docs/overview/quickstart/media_assets/update_email_template.png
  docs/docs/overview/quickstart/media_assets/uv7tvfo08i8a0h2ppulr.png
Labels: documentation

#3682 NV2402 - [STACKED PR's] Tenancy CRUD API
  apps/api/src/app.module.ts
  apps/api/src/app/shared/shared.module.ts
  apps/api/src/app/tenant/dtos/create-tenant-request.dto.ts
  apps/api/src/app/tenant/dtos/create-tenant-response.dto.ts
  apps/api/src/app/tenant/dtos/get-tenant-response.dto.ts
  apps/api/src/app/tenant/dtos/get-tenants-request.dto.ts
  apps/api/src/app/tenant/dtos/index.ts
  apps/api/src/app/tenant/dtos/update-tenant-request.dto.ts
  apps/api/src/app/tenant/dtos/update-tenant-response.dto.ts
  apps/api/src/app/tenant/e2e/create-tenant.e2e.ts
  apps/api/src/app/tenant/e2e/delete-tenant.e2e.ts
  apps/api/src/app/tenant/e2e/get-tenant.e2e.ts
  apps/api/src/app/tenant/e2e/get-tenants.e2e.ts
  apps/api/src/app/tenant/e2e/update-tenant.e2e.ts
  apps/api/src/app/tenant/tenant.controller.ts
  apps/api/src/app/tenant/tenant.module.ts
  apps/api/src/app/tenant/usecases/create-tenant/create-tenant.command.ts
  apps/api/src/app/tenant/usecases/create-tenant/create-tenant.usecase.ts
  apps/api/src/app/tenant/usecases/delete-tenant/delete-tenant.command.ts
  apps/api/src/app/tenant/usecases/delete-tenant/delete-tenant.usecase.ts
  apps/api/src/app/tenant/usecases/get-tenant/get-tenant.command.ts
  apps/api/src/app/tenant/usecases/get-tenant/get-tenant.usecase.ts
  apps/api/src/app/tenant/usecases/get-tenants/get-tenants.command.ts
  apps/api/src/app/tenant/usecases/get-tenants/get-tenants.usecase.ts
  apps/api/src/app/tenant/usecases/index.ts
  apps/api/src/app/tenant/usecases/update-tenant/update-tenant.command.ts
  apps/api/src/app/tenant/usecases/update-tenant/update-tenant.usecase.ts
  libs/dal/src/index.ts
  libs/dal/src/repositories/tenant/index.ts
  libs/dal/src/repositories/tenant/tenant.entity.ts
  libs/dal/src/repositories/tenant/tenant.repository.ts
  libs/dal/src/repositories/tenant/tenant.schema.ts
  libs/dal/src/repositories/tenant/types.ts
  libs/shared/src/types/index.ts
  libs/shared/src/types/shared/index.ts
  libs/shared/src/types/subscriber/index.ts
  libs/shared/src/types/tenant/index.ts
Labels: @novu/api, @novu/dal, @novu/shared

#3693 feat(web): integrations list page show novu integrations
  apps/web/cypress/tests/integrations-list-page.spec.ts
  apps/web/public/static/images/providers/dark/square/novu-sms.svg
  apps/web/public/static/images/providers/light/square/novu-sms.svg
  apps/web/src/pages/integrations/IntegrationsListPage.tsx
  apps/web/src/pages/integrations/components/IntegrationEnvironmentCell.tsx
  apps/web/src/pages/integrations/components/IntegrationNameCell.tsx
  apps/web/src/pages/integrations/utils.ts
Labels: @novu/web

#3712 fix(notification-center): changed the popover prop name for the web-component
  docs/docs/notification-center/web-component.md
  packages/notification-center-angular/projects/notification-center-angular/src/lib/notification-center.component.ts
  packages/notification-center-vue/src/lib/notification-center-component/NotificationCenterComponent.vue
  packages/notification-center/src/components/notification-center-web-component/notification-center-component.tsx
  packages/notification-center/src/components/notification-center-web-component/notification-center-component.types.ts
Labels: documentation, @novu/notification-center, @novu/notification-center-vue, @novu/notification-center-angular

#3717 feat: add unique handlebar helper
  libs/shared/src/consts/handlebar-helpers/handlebarHelpers.ts
  packages/application-generic/src/usecases/compile-template/compile-template.spec.ts
  packages/application-generic/src/usecases/compile-template/compile-template.usecase.ts
Labels: @novu/shared

#3668 feat: add integration scheme migration script
  apps/api/migrations/integration-scheme-update/add-integration-identifier-migration.spec.ts
  apps/api/migrations/integration-scheme-update/add-integration-identifier-migration.ts
Labels: @novu/api

#3721 Update docusaurus.config.js
  docs/docusaurus.config.js
Labels: documentation

#3714 feat: add name field to update sidebar
  apps/web/src/pages/integrations/UpdateProviderPage.tsx
Labels: @novu/web

#3713 feat: search empty state
  apps/web/public/static/images/empty-provider-search.svg
  apps/web/src/pages/integrations/UpdateProviderPage.tsx
  apps/web/src/pages/integrations/components/multi-provider/SelectProviderSidebar.tsx
Labels: @novu/web

#3722 fix: aggregation of events by digest key, fix nested digest key
  apps/worker/src/app/workflow/usecases/send-message/digest/get-digest-events-backoff.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/digest/get-digest-events-regular.usecase.ts
  libs/dal/src/repositories/job/job.repository.ts
  packages/application-generic/src/usecases/digest-filter-steps/digest-filter-steps.usecase.ts
Labels: @novu/dal, @novu/worker

#3699 chore(api,worker): chat oauth flow allow to provide the integration identifier
  .cspell.json
  apps/api/src/app/subscribers/dtos/chat-oauth-request.dto.ts
  apps/api/src/app/subscribers/dtos/update-subscriber-channel-request.dto.ts
  apps/api/src/app/subscribers/subscribers.controller.ts
  apps/api/src/app/subscribers/usecases/chat-oauth-callback/chat-oauth-callback.command.ts
  apps/api/src/app/subscribers/usecases/chat-oauth-callback/chat-oauth-callback.usecase.ts
  apps/api/src/app/subscribers/usecases/chat-oauth/chat-oauth.command.ts
  apps/api/src/app/subscribers/usecases/chat-oauth/chat-oauth.usecase.ts
  apps/api/src/app/subscribers/usecases/update-subscriber-channel/update-subscriber-channel.command.ts
  apps/api/src/app/subscribers/usecases/update-subscriber-channel/update-subscriber-channel.spec.ts
  apps/api/src/app/subscribers/usecases/update-subscriber-channel/update-subscriber-channel.usecase.ts
  apps/web/src/pages/integrations/components/Modal/ConnectIntegrationForm.tsx
  apps/worker/src/app/workflow/usecases/send-message/send-message-chat.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-push.usecase.ts
  docs/docs/channels/chat/slack.md
  libs/testing/src/subscribers.service.ts
  packages/application-generic/src/usecases/select-integration/select-integration.command.ts
  packages/application-generic/src/usecases/select-integration/select-integration.usecase.ts
Labels: documentation, @novu/api, @novu/web, @novu/worker

#3705 Nv 2431 integrate the create/update integration sidebar with api
  apps/api/src/app/integrations/dtos/update-integration.dto.ts
  apps/api/src/app/integrations/usecases/update-integration/update-integration.command.ts
  apps/web/public/static/images/empty-provider-search.svg
  apps/web/src/api/hooks/useUpdateIntegration.ts
  apps/web/src/api/integration.ts
  apps/web/src/hooks/useCreateInAppIntegration.tsx
  apps/web/src/pages/integrations/IntegrationsListPage.tsx
  apps/web/src/pages/integrations/IntegrationsStoreModal.tsx
  apps/web/src/pages/integrations/IntegrationsStorePage.tsx
  apps/web/src/pages/integrations/UpdateProviderPage.tsx
  apps/web/src/pages/integrations/components/ConnectIntegrationForm.cy.tsx
  apps/web/src/pages/integrations/components/ConnectIntegrationForm.tsx
  apps/web/src/pages/integrations/components/Modal/ConnectIntegrationForm.tsx
  apps/web/src/pages/integrations/components/multi-provider/CreateProviderInstanceSidebar.tsx
  apps/web/src/pages/integrations/components/multi-provider/SelectProviderSidebar.tsx
  apps/web/src/pages/integrations/types.ts
  apps/web/src/pages/integrations/useProviders.ts
  apps/web/src/pages/integrations/utils.ts
Labels: @novu/api, @novu/web

#3728 Update delay.md
  docs/docs/platform/delay.md
Labels: documentation

#3735 fix: remove undefined ip pool name
  apps/worker/src/app/workflow/usecases/send-message/send-message-email.usecase.ts
  providers/sendgrid/src/lib/sendgrid.provider.ts
Labels: providers, @novu/worker

#3720 Add Kotlin Quickstart Guide
  docs/docs/overview/quickstart/get-started-with-kotlin.md
Labels: documentation, community

#3734 fix: digest and delay values are reset to default values on update
  apps/web/cypress/tests/notification-editor/create-notification.spec.ts
  apps/web/src/pages/templates/components/TemplateEditorFormProvider.tsx
Labels: @novu/web

#3640 fix(api): expose api keys only for current environment
  apps/api/src/app/environments/dtos/environment-response.dto.ts
  apps/api/src/app/environments/environments.controller.ts
  apps/api/src/app/environments/usecases/get-my-environments/get-my-environments.command.ts
  apps/api/src/app/environments/usecases/get-my-environments/get-my-environments.e2e.ts
  apps/api/src/app/environments/usecases/get-my-environments/get-my-environments.usecase.ts
Labels: @novu/api, community

#3731 fix: k8s component labels hard coded
  docker/kubernetes/helm/templates/api/deployment.yaml
  docker/kubernetes/helm/templates/web/deployment.yaml
  docker/kubernetes/helm/templates/worker/deployment.yaml
  docker/kubernetes/helm/templates/ws/deployment.yaml
Labels: community, helm, docker

#3732 fix: helm values.yaml missing web endpoints
  docker/kubernetes/helm/values.yaml
Labels: community, helm, docker

#3733 fix: web deployment using wrong NODE_ENV
  docker/kubernetes/helm/templates/web/deployment.yaml
Labels: community, helm, docker

#3702 feat: renamed the usecases/commands
  apps/api/src/app/workflows/usecases/change-workflow-active-status/change-workflow-active-status.command.ts
  apps/api/src/app/workflows/usecases/change-workflow-active-status/change-workflow-active-status.usecase.ts
  apps/api/src/app/workflows/usecases/create-notification-template/index.ts
  apps/api/src/app/workflows/usecases/create-workflow/create-workflow.command.ts
  apps/api/src/app/workflows/usecases/create-workflow/create-workflow.usecase.ts
  apps/api/src/app/workflows/usecases/create-workflow/index.ts
  apps/api/src/app/workflows/usecases/delete-workflow/delete-workflow.usecase.ts
  apps/api/src/app/workflows/usecases/get-workflow/get-workflow.command.ts
  apps/api/src/app/workflows/usecases/get-workflow/get-workflow.usecase.ts
  apps/api/src/app/workflows/usecases/get-workflows/get-workflows.command.ts
  apps/api/src/app/workflows/usecases/get-workflows/get-workflows.usecase.ts
  apps/api/src/app/workflows/usecases/index.ts
  apps/api/src/app/workflows/usecases/update-workflow/update-workflow.command.ts
  apps/api/src/app/workflows/usecases/update-workflow/update-workflow.usecase.ts
  apps/api/src/app/workflows/workflows.controller.ts
Labels: @novu/api

#3704 refactor: updated test cases for the workflow controller
  apps/api/src/app/workflows/e2e/change-workflow-status.e2e.ts
  apps/api/src/app/workflows/e2e/create-workflows.e2e.ts
  apps/api/src/app/workflows/e2e/delete-workflow.e2e.ts
  apps/api/src/app/workflows/e2e/get-workflow.e2e.ts
  apps/api/src/app/workflows/e2e/get-workflows.e2e.ts
  apps/api/src/app/workflows/e2e/update-workflow.e2e.ts
  apps/api/src/app/workflows/usecases/update-workflow/update-workflow.usecase.ts
Labels: @novu/api

#3742 docs: add ruby quickstart documentation
  docs/docs/overview/quickstart/get-started-with-ruby.md
Labels: documentation, community

#3743 fix(worker): fixed the fcm data message issue with payload messed with additional data
  apps/worker/src/app/workflow/usecases/send-message/send-message-push.usecase.ts
  packages/stateless/src/lib/provider/provider.interface.ts
  pnpm-lock.yaml
  providers/expo/src/lib/expo.provider.spec.ts
  providers/fcm/src/lib/fcm.provider.spec.ts
  providers/fcm/src/lib/fcm.provider.ts
  providers/one-signal/package.json
  providers/one-signal/src/lib/one-signal.provider.spec.ts
  providers/push-webhook/src/lib/push-webhook.provider.spec.ts
  providers/push-webhook/src/lib/push-webhook.provider.ts
Labels: providers, @novu/worker

#3746 Update Quickstart Docs
  docs/docs/overview/quickstart/get-started-with-angular.md
  docs/docs/overview/quickstart/get-started-with-kotlin.md
  docs/docs/overview/quickstart/get-started-with-nextjs.md
  docs/docs/overview/quickstart/get-started-with-node.js.md
  docs/docs/overview/quickstart/get-started-with-php.md
  docs/docs/overview/quickstart/get-started-with-react.md
  docs/docs/overview/quickstart/get-started-with-ruby.md
  docs/docs/overview/quickstart/get-started-with-vanilla-js.md
  docs/docs/overview/quickstart/get-started-with-vue.md
Labels: documentation, community

#3749 feat: add group by handlebar helper
  .cspell.json
  libs/shared/src/consts/handlebar-helpers/handlebarHelpers.ts
  packages/application-generic/src/usecases/compile-template/compile-template.spec.ts
  packages/application-generic/src/usecases/compile-template/compile-template.usecase.ts
Labels: @novu/shared

#3752 fix: mark popover as deprecated
  docs/docs/notification-center/web-component.md
  packages/notification-center-angular/projects/notification-center-angular/src/lib/notification-center.component.ts
  packages/notification-center-vue/src/lib/notification-center-component/NotificationCenterComponent.vue
  packages/notification-center/src/components/notification-center-web-component/notification-center-component.tsx
  packages/notification-center/src/components/notification-center-web-component/notification-center-component.types.ts
  packages/notification-center/tsconfig.json
Labels: documentation, @novu/notification-center, @novu/notification-center-vue, @novu/notification-center-angular

#3706 feat(worker): store only minimal job info instead of full job
  apps/api/src/app/inbound-parse/e2e/inbound-email-parse.e2e.ts
  apps/api/src/app/logs/usecases/create-log/create-log.usecase.ts
  apps/worker/src/app/workflow/services/metric-queue.service.ts
  apps/worker/src/app/workflow/services/workflow-queue.service.spec.ts
  apps/worker/src/app/workflow/services/workflow-queue.service.ts
  apps/worker/src/app/workflow/usecases/handle-last-failed-job/handle-last-failed-job.command.ts
  apps/worker/src/app/workflow/usecases/handle-last-failed-job/handle-last-failed-job.usecase.ts
  apps/worker/src/app/workflow/usecases/handle-last-failed-job/index.ts
  apps/worker/src/app/workflow/usecases/index.ts
  apps/worker/src/app/workflow/usecases/run-job/run-job.usecase.ts
  apps/worker/src/app/workflow/usecases/update-job-status/set-job-as-completed.usecase.ts
  apps/worker/src/app/workflow/usecases/update-job-status/set-job-as-failed.usecase.ts
  apps/worker/src/app/workflow/usecases/update-job-status/set-job-as.command.ts
  apps/worker/src/app/workflow/usecases/update-job-status/update-job-status.command.ts
  apps/worker/src/app/workflow/usecases/update-job-status/update-job-status.usecase.ts
  apps/worker/src/app/workflow/workflow.module.ts
  libs/shared/src/types/index.ts
  libs/shared/src/types/jobs/index.ts
  packages/application-generic/src/commands/project.command.ts
  packages/application-generic/src/services/bull-mq.service.ts
  packages/application-generic/src/services/queue.service.ts
  packages/application-generic/src/usecases/add-job/add-job.usecase.ts
Labels: @novu/api, @novu/shared, @novu/worker

#3730 feat: Helm Repo
  .github/workflows/release-helm.yml
Labels: community, CI/CD

#3756 fix(worker): set the proper argument order in the logger error function
  apps/worker/src/app/shared/logs/create-log.usecase.ts
  apps/worker/src/app/workflow/services/metric-queue.service.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-chat.usecase.ts
  packages/application-generic/src/services/analytics.service.ts
  packages/application-generic/src/services/cache/cache.service.ts
  packages/application-generic/src/services/cache/interceptors/cached-entity.interceptor.ts
  packages/application-generic/src/services/cache/interceptors/cached-query.interceptor.ts
  packages/application-generic/src/services/cache/interceptors/cached.interceptor.ts
  packages/application-generic/src/services/cache/invalidate-cache.service.ts
  packages/application-generic/src/services/distributed-lock/distributed-lock.service.ts
  packages/application-generic/src/services/feature-flags.service.ts
  packages/application-generic/src/services/in-memory-provider/in-memory-provider.service.ts
  packages/application-generic/src/services/launch-darkly.service.ts
  packages/application-generic/src/services/readiness.service.ts
  packages/application-generic/src/usecases/create-notification-jobs/create-notification-jobs.usecase.ts
  packages/application-generic/src/usecases/trigger-event/trigger-event.usecase.ts
Labels: @novu/worker

#3754 feat: add execution details item for the selected integration
  apps/worker/src/app/workflow/usecases/send-message/send-message-chat.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-email.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-push.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-sms.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message.base.ts
  packages/application-generic/src/usecases/create-execution-details/types/index.ts
Labels: @novu/worker

#3758 fix(notification-center): remove storybook testing library
  packages/notification-center/package.json
  pnpm-lock.yaml
Labels: @novu/notification-center

#3658 fix: add ITriggerOverrideExpo type
  packages/node/src/lib/events/events.interface.ts
Labels: community

#3723 feat: add update sidebar for novu providers
  apps/api/src/app/integrations/e2e/create-integration.e2e.ts
  apps/api/src/app/integrations/e2e/get-decrypted-integrations.e2e.ts
  apps/api/src/app/integrations/e2e/get-integration.e2e.ts
  apps/api/src/app/integrations/usecases/get-active-integration/get-active-integration.usecase.ts
  apps/api/src/app/integrations/usecases/get-integrations/get-integrations.usecase.ts
  apps/web/cypress/tests/integrations-list-page.spec.ts
  apps/web/src/pages/integrations/IntegrationsListPage.tsx
  apps/web/src/pages/integrations/UpdateProviderPage.tsx
  apps/web/src/pages/integrations/components/multi-provider/NovuProviderSidebarContent.tsx
  apps/web/src/pages/integrations/components/multi-provider/ProviderInfo.tsx
  apps/web/src/pages/integrations/useProviders.ts
  packages/application-generic/src/usecases/get-decrypted-integrations/get-decrypted-integrations.usecase.ts
  packages/application-generic/src/usecases/get-novu-integration/get-novu-integration.command.ts
  packages/application-generic/src/usecases/get-novu-integration/get-novu-integration.usecase.ts
Labels: @novu/api, @novu/web

#3727 feat: add delete integration ui
  .cspell.json
  apps/web/src/api/integration.ts
  apps/web/src/pages/integrations/UpdateProviderPage.tsx
Labels: @novu/web

#3765 fix(notification-center-vue): revert the @vue/tsconfig lib update
  packages/notification-center-vue/package.json
  pnpm-lock.yaml
Labels: @novu/notification-center-vue

#3716 [NV-2437] bug - Union received device tokens
  apps/api/src/app/subscribers/usecases/delete-subscriber-credentials/delete-subscriber-credentials.spec.ts
  apps/api/src/app/subscribers/usecases/update-subscriber-channel/update-subscriber-channel.spec.ts
  apps/api/src/app/subscribers/usecases/update-subscriber-channel/update-subscriber-channel.usecase.ts
  libs/testing/src/subscribers.service.ts
Labels: @novu/api

#3768 Remove attachments on last job execution only
  apps/api/Dockerfile
  apps/worker/src/app/workflow/usecases/run-job/run-job.usecase.ts
Labels: @novu/api, @novu/worker

#3630 NV-2446 - 🐛 Bug Report: Workflows visual bug
  apps/web/src/pages/templates/WorkflowListPage.tsx
Labels: @novu/web, community

#3772 feat(infra): consolidate usage of redis instance by bull-mq
  apps/api/src/app/inbound-parse/services/inbound-parse.queue.service.ts
  apps/inbound-mail/src/server/queue-service.ts
  apps/worker/src/app/workflow/services/metric-queue.service.ts
  apps/worker/src/app/workflow/services/trigger-processor-queue.service.ts
  apps/worker/src/app/workflow/services/workflow-queue.service.spec.ts
  apps/worker/src/app/workflow/services/workflow-queue.service.ts
  apps/ws/src/socket/socket.module.ts
  packages/application-generic/src/services/bull-mq.service.ts
  packages/application-generic/src/services/index.ts
  packages/application-generic/src/services/queue.service.ts
  packages/application-generic/src/services/trigger-queue.service.ts
Labels: @novu/api, @novu/ws, @novu/worker, @novu/inbound-mail

#3642 fix: notification template dual state
  apps/api/src/app/events/usecases/parse-event-request/parse-event-request.usecase.ts
  apps/api/src/app/notification-template/dto/create-notification-template.request.dto.ts
  apps/api/src/app/notification-template/dto/update-notification-template-request.dto.ts
  apps/api/src/app/notification-template/notification-template.controller.ts
  apps/api/src/app/notification-template/usecases/change-template-active-status/change-template-active-status.usecase.ts
  apps/web/src/pages/templates/WorkflowListPage.tsx
Labels: @novu/api, @novu/web, community

#3778 Nv 2569 update provider instances display in the provider tab of the
  apps/web/src/pages/integrations/IntegrationsStoreModal.tsx
  apps/web/src/pages/integrations/components/IntegrationStatus.tsx
  apps/web/src/pages/integrations/components/IntegrationStatusCell.tsx
  apps/web/src/pages/integrations/components/NovuInAppSetupWarning.tsx
  apps/web/src/pages/integrations/components/multi-provider/SelectProviderSidebar.tsx
  apps/web/src/pages/templates/components/ListProviders.tsx
  apps/web/src/pages/templates/components/ProvidersPage.tsx
Labels: @novu/web

#3779 dotnet guide
  docs/docs/overview/quickstart/get-started-with-dotnet.md
Labels: documentation, community

#3780 Content is changed in two sms steps with a delay in between.
  apps/web/cypress/tests/notification-editor/index.ts
  apps/web/cypress/tests/notification-editor/steps-actions.spec.ts
  apps/web/src/pages/templates/components/TemplateEditor.tsx
Labels: @novu/web

#3776 docs: add digest email guide
  docs/docs/guides/how-to-add-digest-to-email-notifications.md
Labels: documentation

#3631 feat: change limit to 100 from 1000
  apps/api/src/app/messages/usecases/get-messages/get-messages.usecase.ts
  apps/api/src/app/subscribers/subscribers.controller.ts
  apps/api/src/app/widgets/e2e/get-count.e2e.ts
  apps/api/src/app/widgets/e2e/get-notification-feed.e2e.ts
  apps/api/src/app/widgets/usecases/get-feed-count/get-feed-count.command.ts
  apps/api/src/app/widgets/usecases/get-notifications-feed/get-notifications-feed.usecase.ts
  apps/api/src/app/widgets/widgets.controller.ts
  libs/dal/src/repositories/message/message.repository.ts
Labels: @novu/api, @novu/dal

#3681 NV-2420 - Update the active integrations endpoint
  apps/api/src/app/integrations/dtos/get-active-integration-response.dto.ts
  apps/api/src/app/integrations/e2e/get-active-integration.e2e.ts
  apps/api/src/app/integrations/integrations.controller.ts
  apps/api/src/app/integrations/usecases/get-active-integration/get-active-integration.command.ts
  apps/api/src/app/integrations/usecases/get-active-integration/get-active-integration.usecase.ts
  apps/api/src/app/integrations/usecases/get-integrations/get-integrations.command.ts
  packages/application-generic/src/usecases/get-decrypted-integrations/get-decrypted-integrations.command.ts
Labels: @novu/api

#3795 fix: export TriggerRecipientsTypeEnum in Node.js SDK
  packages/node/src/index.ts
  packages/node/src/lib/events/events.interface.ts
  packages/node/src/lib/topics/topic.interface.ts
Labels: community

#3774 fix(web,shared): added missing novu providers to the providers array
  apps/web/src/pages/integrations/useProviders.ts
  apps/web/src/pages/templates/components/ListProviders.tsx
  libs/shared/src/consts/providers/channels/email.ts
  libs/shared/src/consts/providers/channels/sms.ts
Labels: @novu/web, @novu/shared

#3793 fix: export missing enums in node sdk for create template
  docs/docs/channels/email/index.mdx
  libs/shared/src/entities/notification-template/notification-template.interface.ts
  packages/node/src/index.ts
  packages/node/src/lib/events/events.interface.ts
  packages/node/src/lib/notification-template/notification-template.interface.ts
  packages/node/src/lib/notification-template/notification-template.spec.ts
  packages/node/src/lib/notification-template/notification-template.ts
Labels: documentation, @novu/shared

#3782 fix: webhook enabled if app is not self-hosted
  apps/web/src/pages/integrations/components/ConnectIntegrationForm.tsx
Labels: @novu/web, High priority

#3805 replace client with novu in dotnet quickstart
  docs/docs/overview/quickstart/get-started-with-dotnet.md
Labels: documentation, community

#3804 Fix register error
  apps/web/src/pages/integrations/components/IntegrationInput.tsx
Labels: @novu/web

#3791 feat(web): multi channel provider config - integrations list modal
  apps/api/src/app/integrations/e2e/create-integration.e2e.ts
  apps/api/src/app/integrations/e2e/update-integration.e2e.ts
  apps/api/src/app/integrations/usecases/create-integration/create-integration.usecase.ts
  apps/api/src/app/integrations/usecases/update-integration/update-integration.usecase.ts
  apps/web/src/App.tsx
  apps/web/src/api/hooks/useDeleteIntegration.ts
  apps/web/src/api/hooks/useUpdateIntegration.ts
  apps/web/src/api/query.keys.ts
  apps/web/src/design-system/sidebar/Sidebar.tsx
  apps/web/src/hooks/integrations/useActiveIntegrations.ts
  apps/web/src/hooks/integrations/useIntegrations.ts
  apps/web/src/hooks/useKeyDown.ts
  apps/web/src/pages/integrations/CreateProviderPage.tsx
  apps/web/src/pages/integrations/IntegrationsList.tsx
  apps/web/src/pages/integrations/IntegrationsListModal.tsx
  apps/web/src/pages/integrations/IntegrationsListPage.tsx
  apps/web/src/pages/integrations/IntegrationsStoreModal.tsx
  apps/web/src/pages/integrations/IntegrationsStorePage.tsx
  apps/web/src/pages/integrations/UpdateProviderPage.tsx
  apps/web/src/pages/integrations/components/ChannelGroup.tsx
  apps/web/src/pages/integrations/components/ConnectIntegrationForm.cy.tsx
  apps/web/src/pages/integrations/components/ConnectIntegrationForm.tsx
  apps/web/src/pages/integrations/components/IntegrationsListToolbar.tsx
  apps/web/src/pages/integrations/components/Modal/ChannelGroup.tsx
  apps/web/src/pages/integrations/components/Modal/ConnectIntegrationForm.tsx
  apps/web/src/pages/integrations/components/Modal/NovuIntegrationCard.tsx
  apps/web/src/pages/integrations/components/Modal/ProviderCard.tsx
  apps/web/src/pages/integrations/components/NovuInAppForm.tsx
  apps/web/src/pages/integrations/components/NovuInAppProviderModal.tsx
  apps/web/src/pages/integrations/components/NovuInAppSetupWarning.tsx
  apps/web/src/pages/integrations/components/NovuIntegrationCard.tsx
  apps/web/src/pages/integrations/components/ProviderCard.tsx
  apps/web/src/pages/integrations/components/SelectProviderPage.tsx
  apps/web/src/pages/integrations/components/UpdateIntegrationCommonFields.tsx
  apps/web/src/pages/integrations/components/UpdateIntegrationSidebarHeader.tsx
  apps/web/src/pages/integrations/components/multi-provider/CreateProviderInstanceSidebar.tsx
  apps/web/src/pages/integrations/components/multi-provider/NovuProviderSidebarContent.tsx
  apps/web/src/pages/integrations/components/multi-provider/ProviderInfo.tsx
  apps/web/src/pages/integrations/components/multi-provider/SelectProviderSidebar.tsx
  apps/web/src/pages/integrations/components/multi-provider/UpdateProviderSidebar.tsx
  apps/web/src/pages/integrations/components/multi-provider/sort-providers.ts
  apps/web/src/pages/integrations/types.ts
  apps/web/src/pages/integrations/useProviders.ts
  apps/web/src/pages/integrations/utils.ts
  apps/web/src/pages/quick-start/components/ChannelsConfiguration.tsx
  apps/web/src/pages/quick-start/steps/GetStarted.tsx
  apps/web/src/pages/templates/components/LackIntegrationError.tsx
  apps/web/src/pages/templates/components/ListProviders.tsx
  apps/web/src/pages/templates/components/ProvidersPage.tsx
  apps/web/src/pages/templates/workflow/workflow/node-types/WorkflowNode.tsx
Labels: @novu/api, @novu/web

#3789 feat: override integration instance on trigger
  apps/api/src/app/events/e2e/trigger-event.e2e.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-email.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-sms.usecase.ts
  packages/application-generic/src/usecases/select-integration/select-integration.command.ts
  packages/application-generic/src/usecases/select-integration/select-integration.usecase.ts
  packages/node/src/lib/events/events.interface.ts
Labels: @novu/api, @novu/worker

#3801 chore(web): email editor and preview show correct sender name
  apps/web/src/hooks/integrations/useIntegrationLimit.ts
  apps/web/src/pages/integrations/types.ts
  apps/web/src/pages/templates/components/email-editor/EmailContentCard.tsx
  apps/web/src/pages/templates/editor/Preview.tsx
Labels: @novu/web

#3799 Docs next js quickstart update
  docs/docs/overview/quickstart/get-started-with-nextjs.md
Labels: documentation

#3819 Nv 2434 update workflow sets variables to default value
  apps/web/cypress/tests/notification-editor/create-notification.spec.ts
  apps/web/src/hooks/useVariablesManager.ts
  apps/web/src/pages/templates/components/VariableManager.tsx
  apps/web/src/pages/templates/components/email-editor/variables-management/VariablesManagement.tsx
Labels: @novu/web

#3809 fix(api,application-generic): active integrations endpoint fixes
  apps/api/src/app/integrations/dtos/get-active-integration-response.dto.ts
  apps/api/src/app/integrations/e2e/get-active-integration.e2e.ts
  apps/api/src/app/integrations/e2e/get-decrypted-integrations.e2e.ts
  apps/api/src/app/integrations/e2e/get-integration.e2e.ts
  apps/api/src/app/integrations/usecases/get-active-integration/get-active-integration.usecase.ts
  libs/testing/package.json
  libs/testing/src/integration.service.ts
  packages/application-generic/src/usecases/get-decrypted-integrations/get-decrypted-integrations.usecase.ts
  pnpm-lock.yaml
Labels: @novu/api

#3823 fix: flaky test because first sms step was not being added
  apps/web/cypress/tests/notification-editor/create-notification.spec.ts
  apps/web/cypress/tests/notification-editor/steps-actions.spec.ts
Labels: @novu/web

#3811 feat(app-generic): add cluster mode e2e tests for cache service
  .github/workflows/test.yml
  apps/api/src/app/blueprint/e2e/get-grouped-blueprints.e2e.ts
  apps/api/src/app/events/e2e/process-subscriber.e2e.ts
  apps/api/src/app/shared/shared.module.ts
  apps/api/src/app/widgets/e2e/get-count.e2e.ts
  apps/api/src/app/widgets/e2e/get-unseen-count.e2e.ts
  apps/worker/src/app/shared/shared.module.ts
  packages/application-generic/src/.env.test
  packages/application-generic/src/services/cache/cache-service.spec.ts
  packages/application-generic/src/services/cache/cache.service.ts
  packages/application-generic/src/services/distributed-lock/distributed-lock.service.spec.ts
  packages/application-generic/src/services/feature-flags.service.ts
  packages/application-generic/src/services/in-memory-provider/in-memory-provider.service.spec.ts
  packages/application-generic/src/services/in-memory-provider/in-memory-provider.service.ts
  packages/application-generic/src/services/launch-darkly.service.ts
  packages/application-generic/src/usecases/create-subscriber/create-subscriber.spec.ts
  packages/application-generic/src/usecases/update-subscriber/update-subscriber.spec.ts
Labels: @novu/api, @novu/worker, CI/CD

#3821 fix(web): intercom launcher floating button overflows the integrations sidebar
  apps/web/src/components/layout/AppLayout.tsx
  apps/web/src/components/layout/components/HeaderNav.tsx
  apps/web/src/design-system/sidebar/Sidebar.tsx
  apps/web/src/pages/integrations/IntegrationsListModal.tsx
  apps/web/src/pages/integrations/UpdateProviderPage.tsx
  apps/web/src/pages/integrations/components/multi-provider/UpdateProviderSidebar.tsx
Labels: @novu/web

#3828 test: skip failing test until we can control feature flag in worker
  apps/api/src/app/events/e2e/trigger-event.e2e.ts
Labels: @novu/api

#3656 feat(provider): Add Sendchamp SMS provider integration
  .cspell.json
  apps/web/public/static/images/providers/dark/sendchamp.svg
  apps/web/public/static/images/providers/light/sendchamp.svg
  libs/shared/src/consts/providers/channels/sms.ts
  libs/shared/src/consts/providers/credentials/provider-credentials.ts
  libs/shared/src/consts/providers/provider.enum.ts
  packages/application-generic/package.json
  packages/application-generic/src/factories/sms/handlers/index.ts
  packages/application-generic/src/factories/sms/handlers/sendchamp.handler.ts
  packages/application-generic/src/factories/sms/sms.factory.ts
  pnpm-lock.yaml
  providers/sendchamp/.czrc
  providers/sendchamp/.eslintrc.json
  providers/sendchamp/.gitignore
  providers/sendchamp/README.md
  providers/sendchamp/jest.config.js
  providers/sendchamp/package.json
  providers/sendchamp/src/index.ts
  providers/sendchamp/src/lib/sendchamp.provider.spec.ts
  providers/sendchamp/src/lib/sendchamp.provider.ts
  providers/sendchamp/tsconfig.json
  providers/sendchamp/tsconfig.module.json
Labels: @novu/web, @novu/shared, providers, community

#3816 chore(web): eslint react hook rules (part 1)
  apps/web/.eslintrc.js
  apps/web/package.json
  apps/web/src/api/hooks/notification-templates/useCreateDigestDemoWorkflow.ts
  apps/web/src/components/layout/components/HeaderNav.tsx
  apps/web/src/components/layout/components/OrganizationSelect.tsx
  apps/web/src/components/providers/SpotlightProvider.tsx
  apps/web/src/components/utils/Spotlight.tsx
  apps/web/src/design-system/table/Table.stories.tsx
  apps/web/src/pages/templates/components/VariableManager.tsx
  apps/web/src/pages/templates/components/notification-setting-form/TemplatePreference.tsx
  pnpm-lock.yaml
Labels: @novu/web

#3719 feat(docs): Add sendchamp provider documentation
  docs/docs/channels/sms/index.md
  docs/docs/channels/sms/sendchamp.md
  docs/static/img/providers/sms/sendchamp/accounts-menu-api-key.png
  docs/static/img/providers/sms/sendchamp/api-key.png
  docs/static/img/providers/sms/sendchamp/avatar-api-key.png
  docs/static/img/providers/sms/sendchamp/integration.png
  docs/static/img/providers/sms/sendchamp/sender-id-request-form.png
  docs/static/img/providers/sms/sendchamp/sender-id.png
  docs/static/img/providers/sms/sendchamp/web.png
Labels: documentation, community

#3792 feat: pagination from activity feed and search panel
  apps/api/src/app/notifications/dtos/activities-request.dto.ts
  apps/api/src/app/notifications/dtos/activities-response.dto.ts
  apps/api/src/app/notifications/e2e/get-activity-feed.e2e.ts
  apps/api/src/app/notifications/notification.controller.ts
  apps/api/src/app/notifications/usecases/get-activity-feed/get-activity-feed.command.ts
  apps/api/src/app/notifications/usecases/get-activity-feed/get-activity-feed.usecase.ts
  apps/api/src/app/shared/dtos/pagination-response.ts
  apps/api/src/app/subscribers/usecases/get-subscribers/get-subscriber.usecase.ts
  apps/api/src/app/tenant/e2e/get-tenants.e2e.ts
  apps/api/src/app/tenant/usecases/get-tenants/get-tenants.usecase.ts
  apps/web/cypress/tests/activities-page.spec.ts
  apps/web/src/api/activity.ts
  apps/web/src/design-system/table/Table.tsx
  apps/web/src/hooks/useSubscribers.ts
  apps/web/src/pages/activities/ActivitiesPage.tsx
  apps/web/src/pages/activities/components/ActivityList.tsx
  apps/web/src/pages/subscribers/SubscribersListPage.tsx
  libs/dal/src/repositories/notification/notification.repository.ts
  libs/dal/src/repositories/subscriber/subscriber.repository.ts
Labels: @novu/api, @novu/web, @novu/dal

#3837 Docs(chore): Add cookbook with few recipes
  docs/docs/channels/_category_.json
  docs/docs/community/_category_.json
  docs/docs/cookbook/_category_.json
  docs/docs/cookbook/introduction.md
  docs/docs/guides/_category_.json
  docs/docs/notification-center/_category_.json
  docs/docs/recipes/_category_.json
  docs/src/components/Discover.tsx
Labels: documentation

#3822 fix: variable manager throwing error for array vars
  apps/web/cypress/tests/notification-editor/create-notification.spec.ts
  apps/web/src/pages/templates/components/email-editor/variables-management/VarItemsDropdown.tsx
Labels: @novu/web

#3841 Docs: Add Uml flow to Cookbook & Architecture pages
  docs/docs/cookbook/introduction.md
  docs/docs/overview/architecture.md
Labels: documentation

#3815 fix: first update of in app with avatar not saved
  apps/api/src/app/workflows/usecases/update-notification-template/update-notification-template.usecase.ts
  apps/web/cypress/tests/notification-editor/main-functionality.spec.ts
  apps/web/src/pages/templates/components/in-app-editor/EnableAvatarSwitch.tsx
  apps/web/src/pages/templates/components/in-app-editor/preview/AvatarContainer.tsx
Labels: @novu/api, @novu/web

#3832 feat(api,node): subscribers mark all messages as read, unread, seen or unseen
  apps/api/src/app/subscribers/dtos/mark-all-messages-as-request.dto.ts
  apps/api/src/app/subscribers/e2e/mark-all-subscriber-messages.e2e.ts
  apps/api/src/app/subscribers/subscribers.controller.ts
  apps/api/src/app/widgets/usecases/mark-all-messages-as/mark-all-messages-as.command.ts
  apps/api/src/app/widgets/usecases/mark-all-messages-as/mark-all-messages-as.usecase.ts
  apps/api/src/app/widgets/widgets.controller.ts
  libs/dal/src/repositories/message/message.repository.ts
  libs/shared/src/types/index.ts
  libs/shared/src/types/messages/index.ts
  packages/node/src/index.ts
  packages/node/src/lib/subscribers/subscribers.spec.ts
  packages/node/src/lib/subscribers/subscribers.ts
Labels: @novu/api, @novu/dal, @novu/shared, High priority

#3836 chore(web): fixing eslint warnings for the react hooks rules - part 2
  apps/web/src/components/layout/components/SideNav.tsx
  apps/web/src/components/quick-start/digest-demo-flow/DigestDemoFlow.tsx
  apps/web/src/components/quick-start/digest-demo-flow/DigestDemoFlowProvider.tsx
  apps/web/src/components/quick-start/digest-demo-flow/DigestNode.tsx
  apps/web/src/components/quick-start/digest-demo-flow/NodeStepWithPopover.tsx
  apps/web/src/components/quick-start/in-app-onboarding/TriggerNode.tsx
  apps/web/src/components/workflow/FlowEditor.tsx
  apps/web/src/design-system/table/Table.tsx
  apps/web/src/hooks/index.ts
  apps/web/src/hooks/useAuthController.ts
  apps/web/src/hooks/useBlueprint.ts
  apps/web/src/hooks/useDebounce.ts
  apps/web/src/hooks/useEnvController.ts
  apps/web/src/hooks/useKeyDown.ts
  apps/web/src/hooks/usePrompt.ts
  apps/web/src/hooks/useSearchParams.ts
  apps/web/src/pages/changes/PromoteChangesPage.tsx
  apps/web/src/pages/integrations/IntegrationsStoreModal.tsx
  apps/web/src/pages/integrations/useProviders.ts
  apps/web/src/pages/settings/tabs/ApiKeysCard.cy.tsx
  apps/web/src/pages/settings/tabs/EmailSettings.tsx
  apps/web/src/pages/templates/TemplatesDigestPlaygroundPage.tsx
  apps/web/src/pages/templates/components/BlueprintModal.tsx
  docs/docs/cookbook/introduction.md
  docs/docs/overview/architecture.md
  docs/docs/overview/quickstart/get-started-with-nextjs.md
Labels: documentation, @novu/web

#3830 feat(docs): add quickstart section
  .cspell.json
  docs/docs/cookbook/introduction.md
  docs/docs/home.md
  docs/docs/overview/architecture.md
  docs/src/components/Quickstarts.module.scss
  docs/src/components/Quickstarts.tsx
  docs/src/css/sidebar-menu.scss
  docs/static/img/arrow-md.svg
  docs/static/img/quickstarts/angular.svg
  docs/static/img/quickstarts/dotnet.svg
  docs/static/img/quickstarts/kotlin.svg
  docs/static/img/quickstarts/nextjs.svg
  docs/static/img/quickstarts/nodejs.svg
  docs/static/img/quickstarts/novu.svg
  docs/static/img/quickstarts/php.svg
  docs/static/img/quickstarts/reactjs.svg
  docs/static/img/quickstarts/ruby.svg
  docs/static/img/quickstarts/vanillajs.svg
  docs/static/img/quickstarts/vue.svg
Labels: documentation, community

#3843 feat: create novu providers when organization is created
  apps/api/src/app/integrations/integrations.module.ts
  apps/api/src/app/integrations/usecases/create-novu-integrations/create-novu-integrations.command.ts
  apps/api/src/app/integrations/usecases/create-novu-integrations/create-novu-integrations.usecase.ts
  apps/api/src/app/integrations/usecases/index.ts
  apps/api/src/app/organization/organization.module.ts
  apps/api/src/app/organization/usecases/create-organization/create-organization.usecase.ts
  packages/application-generic/src/usecases/get-novu-integration/get-novu-integration.usecase.ts
Labels: @novu/api

#3847 feat: add tenants route and shell page component
  apps/web/src/App.tsx
  apps/web/src/components/layout/components/SideNav.tsx
  apps/web/src/constants/routes.enum.ts
  apps/web/src/design-system/icons/general/Buildings.tsx
  apps/web/src/design-system/icons/index.ts
  apps/web/src/pages/tenants/Tenants.tsx
  apps/web/src/pages/tenants/components/list/TenantsList.tsx
Labels: @novu/web

#3848 fix: change markInAppMessageAs to markMessageAs
  docs/docs/cookbook/introduction.md
Labels: documentation

#3803 feat: add subscriber migration page + script
  .cspell.json
  docs/docs/guides/subscribers-migration.md
  docs/docs/overview/quickstart/get-started-with-dotnet.md
  docs/docs/platform/subscribers.md
  docs/static/csv/mock_data.csv
Labels: documentation

#3856 Update subscriber trigger payload
  apps/api/src/app/events/e2e/trigger-event.e2e.ts
  apps/api/src/app/subscribers/e2e/update-subscriber.e2e.ts
  packages/application-generic/src/usecases/update-subscriber/update-subscriber.usecase.ts
  packages/application-generic/src/utils/subscriber.ts
Labels: @novu/api

#3853 refactor: update asset
  apps/widget/public/no-new-notifications.svg
  packages/notification-center/jest.config.js
  packages/notification-center/src/components/notification-center/components/NotificationsListTab.tsx
  packages/notification-center/src/global.d.ts
  packages/notification-center/src/images/no-new-notifications.svg
  pnpm-lock.yaml
Labels: @novu/notification-center

#3846 NV-2601 - Add support in the client for tenant feature
  apps/web/src/config/index.ts
  apps/web/src/hooks/useFeatureFlags.ts
  libs/shared/src/types/feature-flags/index.ts
Labels: @novu/web, @novu/shared

#3855 feat: add initial tenants ui
  apps/web/src/App.tsx
  apps/web/src/api/query.keys.ts
  apps/web/src/api/tenants.ts
  apps/web/src/hooks/useTenants.ts
  apps/web/src/pages/tenants/Tenants.tsx
  apps/web/src/pages/tenants/TenantsPage.tsx
  apps/web/src/pages/tenants/components/list/TenantsList.tsx
  apps/web/src/pages/tenants/components/list/ToolBar.tsx
  apps/web/src/pages/tenants/components/list/columns.tsx
  libs/shared/src/entities/tenant/index.ts
  libs/shared/src/entities/tenant/tenant.interface.ts
  libs/shared/src/index.ts
  libs/shared/src/types/tenant/index.ts
Labels: @novu/web, @novu/shared

#3857 Nv 2612 - Tenant Page Empty State
  apps/web/src/pages/tenants/components/list/TenantsList.tsx
  apps/web/src/pages/tenants/components/list/TenantsListNoData.tsx
Labels: @novu/web

#3861 chore(notification-center,node,shared): update the axios to latest version
  libs/shared/package.json
  packages/node/package.json
  packages/notification-center/package.json
  packages/notification-center/rollup.config.mjs
  packages/notification-center/src/components/notification-center/components/NotificationsListTab.tsx
  packages/notification-center/src/components/notification-center/components/user-preference/SubscriberPreference.tsx
  packages/notification-center/src/global.d.ts
  packages/notification-center/src/images/NoNewNotifications.tsx
  packages/notification-center/src/images/NoSettings.tsx
  packages/notification-center/src/images/no-new-notifications.svg
  packages/notification-center/src/images/no-new-notifications.webp
  packages/notification-center/src/images/no-settings.webp
  packages/notification-center/tsconfig.esm.json
  packages/notification-center/tsconfig.json
  packages/notification-center/webpack.config.js
  pnpm-lock.yaml
Labels: @novu/notification-center, @novu/shared

#3862 fix: remove version 17 info in cookbook
  docs/docs/cookbook/introduction.md
Labels: documentation

#3787 [New Email Provider]: Add Plunk email provider
  apps/web/public/static/images/providers/dark/plunk.png
  apps/web/public/static/images/providers/light/plunk.png
  docs/docs/channels/email/plunk.md
  libs/shared/src/consts/providers/channels/email.ts
  libs/shared/src/consts/providers/credentials/provider-credentials.ts
  libs/shared/src/consts/providers/provider.enum.ts
  packages/application-generic/package.json
  packages/application-generic/src/factories/mail/handlers/index.ts
  packages/application-generic/src/factories/mail/handlers/plunk.handler.ts
  packages/application-generic/src/factories/mail/mail.factory.ts
  pnpm-lock.yaml
  providers/plunk/.czrc
  providers/plunk/.eslintrc.json
  providers/plunk/.gitignore
  providers/plunk/README.md
  providers/plunk/jest.config.js
  providers/plunk/package.json
  providers/plunk/src/index.ts
  providers/plunk/src/lib/plunk.interface.ts
  providers/plunk/src/lib/plunk.provider.spec.ts
  providers/plunk/src/lib/plunk.provider.ts
  providers/plunk/tsconfig.json
  providers/plunk/tsconfig.module.json
Labels: documentation, @novu/web, @novu/shared, providers, community

#3859 NV 2613 - Tenant Page Pagination
  apps/api/src/app/shared/dtos/pagination-response.ts
  apps/web/src/api/tenants.ts
  apps/web/src/hooks/useTenants.ts
  apps/web/src/pages/tenants/components/list/TenantsList.tsx
  libs/shared/src/dto/shared/shared.ts
Labels: @novu/api, @novu/web, @novu/shared

#3852 feat: remove get novu integration usecase
  apps/api/src/app/events/e2e/trigger-event.e2e.ts
  apps/api/src/app/events/events.module.ts
  apps/api/src/app/integrations/e2e/get-decrypted-integrations.e2e.ts
  apps/api/src/app/integrations/e2e/get-integration.e2e.ts
  apps/api/src/app/integrations/usecases/create-integration/create-integration.usecase.ts
  apps/api/src/app/integrations/usecases/create-novu-integrations/create-novu-integrations.usecase.ts
  apps/api/src/app/integrations/usecases/disable-novu-integration/disable-novu-integration.command.ts
  apps/api/src/app/integrations/usecases/disable-novu-integration/disable-novu-integration.usecase.ts
  apps/api/src/app/integrations/usecases/index.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-chat.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-email.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-in-app.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-push.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-sms.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message.base.ts
  apps/worker/src/app/workflow/workflow.module.ts
  libs/testing/src/integration.service.ts
  packages/application-generic/src/factories/mail/handlers/index.ts
  packages/application-generic/src/factories/mail/handlers/novu.handler.ts
  packages/application-generic/src/factories/mail/mail.factory.ts
  packages/application-generic/src/factories/sms/handlers/index.ts
  packages/application-generic/src/factories/sms/handlers/novu.handler.ts
  packages/application-generic/src/factories/sms/sms.factory.ts
  packages/application-generic/src/usecases/get-decrypted-integrations/get-decrypted-integrations.command.ts
  packages/application-generic/src/usecases/get-decrypted-integrations/get-decrypted-integrations.usecase.ts
  packages/application-generic/src/usecases/get-novu-integration/get-novu-integration.command.ts
  packages/application-generic/src/usecases/get-novu-integration/get-novu-integration.spec.ts
  packages/application-generic/src/usecases/get-novu-integration/get-novu-integration.usecase.ts
  packages/application-generic/src/usecases/get-novu-integration/index.ts
  packages/application-generic/src/usecases/get-novu-provider-credentials/get-novu-provider-credentials.command.ts
  packages/application-generic/src/usecases/get-novu-provider-credentials/get-novu-provider-credentials.usecase.ts
  packages/application-generic/src/usecases/get-novu-provider-credentials/index.ts
  packages/application-generic/src/usecases/index.ts
  packages/application-generic/src/usecases/select-integration/select-integration.spec.ts
  packages/application-generic/src/usecases/select-integration/select-integration.usecase.ts
  packages/application-generic/src/usecases/send-test-email/send-test-email.usecase.ts
  packages/application-generic/src/usecases/trigger-event/trigger-event.usecase.ts
Labels: @novu/api, @novu/worker

#3871 fix: so activating a provider deactivates novu provider
  apps/api/src/app/integrations/usecases/update-integration/update-integration.usecase.ts
Labels: @novu/api

#3867 feat: remove novu providers for select provider
  apps/web/cypress/tests/integrations-list-modal.spec.ts
  apps/web/cypress/tests/integrations-list-page.spec.ts
  apps/web/src/pages/integrations/components/multi-provider/SelectProviderSidebar.tsx
  apps/web/src/pages/integrations/useProviders.ts
Labels: @novu/web

#3868 chore(*): remove `gitHead` field from all packages
  libs/shared/package.json
  packages/application-generic/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/headless/package.json
  packages/nest/package.json
  packages/node/package.json
  packages/notification-center-angular/package.json
  packages/notification-center-vue/package.json
  packages/notification-center/package.json
  packages/stateless/package.json
  providers/apns/package.json
  providers/burst-sms/package.json
  providers/clickatell/package.json
  providers/discord/package.json
  providers/emailjs/package.json
  providers/expo/package.json
  providers/fcm/package.json
  providers/firetext/package.json
  providers/gupshup/package.json
  providers/infobip/package.json
  providers/mailersend/package.json
  providers/mailgun/package.json
  providers/mailjet/package.json
  providers/mandrill/package.json
  providers/ms-teams/package.json
  providers/netcore/package.json
  providers/nexmo/package.json
  providers/nodemailer/package.json
  providers/outlook365/package.json
  providers/plivo/package.json
  providers/postmark/package.json
  providers/sendgrid/package.json
  providers/sendinblue/package.json
  providers/ses/package.json
  providers/slack/package.json
  providers/sms77/package.json
  providers/sns/package.json
  providers/sparkpost/package.json
  providers/telnyx/package.json
  providers/termii/package.json
  providers/twilio/package.json
Labels: @novu/notification-center, @novu/shared, providers, community, @novu/notification-center-vue, @novu/notification-center-angular

#3860 NV 2602 - Hide Tenant functionality under the feature flag
  apps/api/src/app/tenant/e2e/get-tenants.e2e.ts
  apps/api/src/app/tenant/usecases/get-tenants/get-tenants.usecase.ts
  apps/web/src/components/layout/components/SideNav.tsx
Labels: @novu/api, @novu/web

#3874 Fix broken link
  apps/web/src/pages/quick-start/steps/GetStarted.tsx
Labels: @novu/web, community

#3876 fix: allow return 'data' as response prop
  apps/api/src/app/shared/framework/response.interceptor.ts
  apps/api/src/app/tenant/e2e/get-tenant.e2e.ts
Labels: @novu/api

#3878 feat: add subscriber migration dotnet code
  docs/docs/guides/subscribers-migration.md
Labels: documentation

#3863 Nv 2452 tenant create + update a tenant sidebar
  apps/api/src/app/shared/framework/response.interceptor.ts
  apps/api/src/app/tenant/dtos/create-tenant-request.dto.ts
  apps/api/src/app/tenant/dtos/update-tenant-request.dto.ts
  apps/api/src/app/tenant/e2e/get-tenant.e2e.ts
  apps/api/src/app/tenant/tenant.controller.ts
  apps/web/src/App.tsx
  apps/web/src/api/query.keys.ts
  apps/web/src/api/tenants.ts
  apps/web/src/constants/routes.enum.ts
  apps/web/src/design-system/config/inputs.styles.ts
  apps/web/src/pages/tenants/CreateTenantPage.tsx
  apps/web/src/pages/tenants/TenantsPage.tsx
  apps/web/src/pages/tenants/UpdateTenantPage.tsx
  apps/web/src/pages/tenants/components/CreateTenantSidebar.tsx
  apps/web/src/pages/tenants/components/TenantFormCommonFields.tsx
  apps/web/src/pages/tenants/components/UpdateTenantSidebar.tsx
  apps/web/src/pages/tenants/components/list/TenantsList.tsx
  apps/web/src/pages/tenants/components/list/columns.tsx
  libs/shared/src/dto/index.ts
  libs/shared/src/dto/tenant/create-tenant.dto.ts
  libs/shared/src/dto/tenant/index.ts
  libs/shared/src/dto/tenant/update-tenant.dto.ts
Labels: @novu/api, @novu/web, @novu/shared

#3882 test: fix failing test because of a run on same day
  apps/web/src/pages/templates/workflow/DigestMetadata.cy.tsx
Labels: @novu/web

#3864 feat: add delete item and name fields for novu providers
  apps/web/cypress/tests/integrations-list-modal.spec.ts
  apps/web/cypress/tests/integrations-list-page.spec.ts
  apps/web/src/pages/integrations/components/UpdateIntegrationCommonFields.tsx
  apps/web/src/pages/integrations/components/UpdateIntegrationSidebarHeader.tsx
  apps/web/src/pages/integrations/components/multi-provider/SelectProviderSidebar.tsx
  apps/web/src/pages/integrations/components/multi-provider/UpdateProviderSidebar.tsx
  apps/web/src/pages/integrations/useProviders.ts
Labels: @novu/web

#3877 feat: add tenant page tests
  apps/web/cypress/tests/tenants-page.spec.ts
Labels: @novu/web

#3879 [Tenants] - Add Tenants Analytics
  apps/api/src/app/tenant/tenant.controller.ts
  apps/api/src/app/tenant/usecases/create-tenant/create-tenant.command.ts
  apps/api/src/app/tenant/usecases/create-tenant/create-tenant.usecase.ts
  apps/api/src/app/tenant/usecases/delete-tenant/delete-tenant.command.ts
  apps/api/src/app/tenant/usecases/update-tenant/update-tenant.command.ts
  apps/web/src/pages/tenants/TenantsPage.tsx
Labels: @novu/api, @novu/web
