Repository novuhq/novu, pull requests merged in 2023-06, with the labels that each got.

#3550 docs(run-locally.md): duplicate REDIS_DB_INDEX key
  docs/docs/community/run-locally.md
Labels: documentation, community

#3557 feat(web): generate content context modal
  apps/web/src/pages/templates/components/GenerateContentButton.tsx
  apps/web/src/pages/templates/components/GenerateContentContextModal.tsx
  apps/web/src/pages/templates/components/StepName.tsx
Labels: @novu/web

#3558 feat: add service for open ai
  .cspell.json
  apps/api/package.json
  apps/api/src/.env.development
  apps/api/src/app/notification-template/notification-template.controller.ts
  apps/api/src/app/notification-template/usecases/get-ai-message/get-ai-message.command.ts
  apps/api/src/app/notification-template/usecases/get-ai-message/get-ai-message.usecase.ts
  apps/api/src/app/notification-template/usecases/index.ts
  apps/api/src/app/shared/services/openai/openai.service.ts
  apps/api/src/app/shared/shared.module.ts
  pnpm-lock.yaml
Labels: @novu/api

#3560 feat(web): create form and description generation for modal
  apps/web/src/pages/templates/components/GenerateContentButton.tsx
  apps/web/src/pages/templates/components/GenerateContentContextModal.tsx
  apps/web/src/pages/templates/components/StepName.tsx
Labels: @novu/web

#3514 feat: add new isDefined filter
  apps/web/src/pages/templates/filter/FilterModal.tsx
  apps/web/src/pages/templates/workflow/SideBar/StepSettings.tsx
  apps/worker/src/app/workflow/services/metric-queue.service.ts
  apps/worker/src/app/workflow/usecases/message-matcher/message-matcher.usecase.spec.ts
  apps/worker/src/app/workflow/usecases/message-matcher/message-matcher.usecase.ts
  libs/shared/src/types/builder/builder.types.ts
Labels: @novu/web, @novu/shared, @novu/worker

#3566 Nv 2400 bug report sign up not working for docker based deployment
  apps/web/src/design-system/dropdown/Dropdown.tsx
  apps/web/src/design-system/popover/Popover.tsx
  apps/web/src/pages/auth/components/PasswordRequirementPopover.tsx
Labels: @novu/web

#3524 Nv 2215 delete messagetemplates of deleted templates
  apps/api/src/app/change/usecases/promote-message-template-change/promote-message-template-change.ts
  apps/api/src/app/feeds/e2e/delete-feed.e2e.ts
  apps/api/src/app/message-template/usecases/delete-message-template/delete-message-template.command.ts
  apps/api/src/app/message-template/usecases/delete-message-template/delete-message-template.usecase.ts
  apps/api/src/app/message-template/usecases/index.ts
  apps/api/src/app/notification-template/e2e/delete-notification-template.e2e.ts
  apps/api/src/app/notification-template/usecases/delete-notification-template/delete-notification-template.usecase.ts
  apps/api/src/app/notification-template/usecases/update-notification-template/update-notification-template.usecase.ts
  apps/web/src/pages/integrations/components/NovuProviderBase.tsx
  apps/web/src/pages/templates/components/TemplateEditorFormProvider.tsx
  libs/dal/src/repositories/message-template/message-template.entity.ts
  libs/dal/src/repositories/message-template/message-template.repository.ts
  libs/dal/src/repositories/message-template/message-template.schema.ts
Labels: @novu/api, @novu/web, @novu/dal

#3244 [NV-1812] Email Webhook Provider
  apps/web/public/static/images/providers/dark/email_webhook.svg
  apps/web/public/static/images/providers/light/email_webhook.svg
  apps/worker/src/app/workflow/usecases/send-message/send-message-email.usecase.ts
  libs/shared/src/consts/providers/channels/email.ts
  libs/shared/src/consts/providers/credentials/provider-credentials.ts
  libs/shared/src/consts/providers/provider.enum.ts
  packages/application-generic/package.json
  packages/application-generic/src/factories/mail/handlers/email-webhook.handler.ts
  packages/application-generic/src/factories/mail/handlers/index.ts
  packages/application-generic/src/factories/mail/mail.factory.ts
  packages/stateless/src/lib/provider/provider.interface.ts
  pnpm-lock.yaml
  providers/email-webhook/.czrc
  providers/email-webhook/.eslintrc.json
  providers/email-webhook/.gitignore
  providers/email-webhook/README.md
  providers/email-webhook/jest.config.js
  providers/email-webhook/package.json
  providers/email-webhook/src/index.ts
  providers/email-webhook/src/lib/email-webhook.provider.spec.ts
  providers/email-webhook/src/lib/email-webhook.provider.ts
  providers/email-webhook/tsconfig.json
  providers/email-webhook/tsconfig.module.json
Labels: @novu/web, @novu/shared, providers, community, @novu/worker

#3555 add mongodb
  docker/kubernetes/kustomize/env-dev
  docker/kubernetes/kustomize/kustomization.yaml
  docker/kubernetes/kustomize/mongodb-deployment.yaml
  docker/kubernetes/kustomize/mongodb-service.yaml
Labels: community

#3569 fix: update prod `env` value in `run-locally.md`
  docs/docs/community/run-locally.md
Labels: documentation, community

#3542 feat(api): add is topic notification feature flag
  apps/api/src/app.module.ts
  apps/api/src/app/events/e2e/trigger-event-topic.e2e.ts
  apps/api/src/app/events/events.module.ts
  apps/api/src/app/events/usecases/map-trigger-recipients/map-trigger-recipients.e2e.ts
  apps/api/src/app/events/usecases/map-trigger-recipients/map-trigger-recipients.use-case.ts
  apps/api/src/app/feature-flags/e2e/get-feature-flag.e2e.ts
  apps/api/src/app/feature-flags/feature-flags.module.ts
  apps/api/src/app/feature-flags/services/feature-flags.service.ts
  apps/api/src/app/feature-flags/services/launch-darkly.service.ts
  apps/api/src/app/feature-flags/use-cases/get-feature-flag/get-feature-flag.use-case.ts
  libs/shared/src/types/feature-flags/index.ts
Labels: @novu/api, @novu/shared

#3588 fix(infra): remove node package strange dependencies and move to shared
  apps/api/src/app/events/dtos/trigger-event-request.dto.ts
  apps/api/src/app/events/dtos/trigger-event-to-all-request.dto.ts
  apps/api/src/app/events/e2e/trigger-event-topic.e2e.ts
  apps/api/src/app/events/events.controller.ts
  apps/api/src/app/events/usecases/map-trigger-recipients/map-trigger-recipients.command.ts
  apps/api/src/app/events/usecases/map-trigger-recipients/map-trigger-recipients.e2e.ts
  apps/api/src/app/events/usecases/map-trigger-recipients/map-trigger-recipients.use-case.ts
  apps/api/src/app/events/usecases/parse-event-request/parse-event-request.command.ts
  apps/worker/package.json
  apps/worker/src/app/workflow/usecases/message-matcher/types.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-email.usecase.ts
  libs/shared/src/dto/events/event.interface.ts
  libs/shared/src/dto/subscriber/subscriber.dto.ts
  libs/shared/src/entities/subscriber/subscriber.interface.ts
  libs/shared/src/types/events/index.ts
  libs/shared/src/types/index.ts
  libs/shared/src/types/subscriber/index.ts
  libs/testing/package.json
  libs/testing/src/user.session.ts
  packages/application-generic/package.json
  packages/application-generic/src/factories/mail/interfaces/send.handler.interface.ts
  packages/node/src/lib/events/events.interface.ts
  packages/node/src/lib/novu.interface.ts
  packages/node/src/lib/topics/topic.interface.ts
  pnpm-lock.yaml
Labels: @novu/api, @novu/shared, @novu/worker

#3535 feat: add helm chart for novu
  docker/kubernetes/helm/.gitignore
  docker/kubernetes/helm/.helmignore
  docker/kubernetes/helm/Chart.lock
  docker/kubernetes/helm/Chart.yaml
  docker/kubernetes/helm/README.md
  docker/kubernetes/helm/templates/_helpers.tpl
  docker/kubernetes/helm/templates/api/deployment.yaml
  docker/kubernetes/helm/templates/api/ingress.yaml
  docker/kubernetes/helm/templates/api/service.yaml
  docker/kubernetes/helm/templates/api/tls-secret.yaml
  docker/kubernetes/helm/templates/db-secrets.yaml
  docker/kubernetes/helm/templates/externalredis-secrets.yaml
  docker/kubernetes/helm/templates/externals3-secrets.yaml
  docker/kubernetes/helm/templates/localstack-secrets.yaml
  docker/kubernetes/helm/templates/secret.yaml
  docker/kubernetes/helm/templates/serviceaccount.yaml
  docker/kubernetes/helm/templates/web/deployment.yaml
  docker/kubernetes/helm/templates/web/ingress.yaml
  docker/kubernetes/helm/templates/web/service.yaml
  docker/kubernetes/helm/templates/web/tls-secret.yaml
  docker/kubernetes/helm/templates/worker/deployment.yaml
  docker/kubernetes/helm/templates/worker/service.yaml
  docker/kubernetes/helm/templates/ws/deployment.yaml
  docker/kubernetes/helm/templates/ws/ingress.yaml
  docker/kubernetes/helm/templates/ws/service.yaml
  docker/kubernetes/helm/templates/ws/tls-secret.yaml
  docker/kubernetes/helm/values.yaml
Labels: community

#3593 fix(web): show add step side menu after delete of step
  apps/web/cypress/tests/notification-editor/steps-actions.spec.ts
  apps/web/src/pages/templates/workflow/WorkflowEditor.tsx
Labels: @novu/web

#3598 fix: widget embed path for js quick start
  apps/web/src/pages/quick-start/consts.tsx
Labels: @novu/web

#3599 fix: widget embed path for js quick start
  apps/web/src/pages/quick-start/consts.tsx
Labels: @novu/web

#3540 fix: tests & react query cache keys
  .github/workflows/test.yml
  docs/docs/notification-center/react/api-reference.md
  packages/notification-center/package.json
  packages/notification-center/src/components/notification-center/components/layout/header/Header.tsx
  packages/notification-center/src/components/notification-center/components/notification-item/NotificationListItem.tsx
  packages/notification-center/src/components/novu-provider/NovuProvider.test.tsx
  packages/notification-center/src/components/novu-provider/NovuProvider.tsx
  packages/notification-center/src/components/novu-provider/index.ts
  packages/notification-center/src/hooks/useDataRef.ts
  packages/notification-center/src/hooks/useFeedUnseenCount.ts
  packages/notification-center/src/hooks/useFeedUnseenCountQueryKey.ts
  packages/notification-center/src/hooks/useFetchNotifications.ts
  packages/notification-center/src/hooks/useFetchNotificationsQueryKey.ts
  packages/notification-center/src/hooks/useFetchUserPreferences.ts
  packages/notification-center/src/hooks/useFetchUserPreferencesQueryKey.ts
  packages/notification-center/src/hooks/useMarkNotificationAsRead.ts
  packages/notification-center/src/hooks/useMarkNotificationAsSeen.ts
  packages/notification-center/src/hooks/useMarkNotificationsAs.ts
  packages/notification-center/src/hooks/useNotifications.test.tsx
  packages/notification-center/src/hooks/useRemoveNotification.ts
  packages/notification-center/src/hooks/useStore.ts
  packages/notification-center/src/hooks/useUnseenCount.ts
  packages/notification-center/src/hooks/useUnseenCountQueryKey.ts
  packages/notification-center/src/hooks/useUpdateAction.ts
  packages/notification-center/src/hooks/useUpdateUserPreferences.ts
  packages/notification-center/src/shared/interfaces/index.ts
  packages/notification-center/src/store/notifications-provider.context.tsx
  packages/notification-center/src/store/store-provider.context.tsx
  packages/notification-center/src/store/store.context.ts
  packages/notification-center/src/utils/pagination.test.ts
  pnpm-lock.yaml
Labels: documentation, @novu/notification-center

#3453 NV-2097 - 🚀 Feature: Allow sender name to accept dynamic values
  apps/web/src/pages/templates/components/email-editor/EmailMessagesCards.tsx
Labels: @novu/web, community

#3396 feat(infra): pause workers in bootstrap until queues are ready
  .cspell.json
  apps/api/src/bootstrap.ts
  apps/worker/src/app/health/health.module.ts
  apps/worker/src/app/shared/logs/create-log.usecase.ts
  apps/worker/src/app/shared/shared.module.ts
  apps/worker/src/app/workflow/services/trigger-processor-queue.service.ts
  apps/worker/src/app/workflow/services/workflow-queue.service.spec.ts
  apps/worker/src/app/workflow/services/workflow-queue.service.ts
  apps/worker/src/app/workflow/workflow.module.ts
  apps/worker/src/bootstrap.ts
  packages/application-generic/src/services/bull-mq.service.ts
  packages/application-generic/src/services/index.ts
  packages/application-generic/src/services/readiness.service.ts
  packages/application-generic/src/services/trigger-queue.service.ts
Labels: @novu/api, @novu/worker

#3169 fix: Update Subscribers API allowing null
  apps/api/src/app/subscribers/dtos/update-subscriber-request.dto.ts
  packages/application-generic/src/usecases/update-subscriber/update-subscriber.command.ts
  packages/application-generic/src/usecases/update-subscriber/update-subscriber.usecase.ts
  packages/application-generic/src/utils/subscriber.ts
Labels: @novu/api, community

#3612 feat: add popular template
  libs/shared/src/consts/template-store/index.ts
Labels: @novu/shared

#3613 Update api-reference.md
  docs/docs/notification-center/react/api-reference.md
Labels: documentation

#3516 fix: add delete provider credentials endpoint
  apps/api/src/app/subscribers/subscribers.controller.ts
  apps/api/src/app/subscribers/usecases/delete-subscriber-credentials/delete-subscriber-credentials.command.ts
  apps/api/src/app/subscribers/usecases/delete-subscriber-credentials/delete-subscriber-credentials.spec.ts
  apps/api/src/app/subscribers/usecases/delete-subscriber-credentials/delete-subscriber-credentials.usecase.ts
  apps/api/src/app/subscribers/usecases/delete-subscriber-credentials/index.ts
  apps/api/src/app/subscribers/usecases/index.ts
  docs/docs/platform/preferences.md
  packages/node/src/index.ts
  packages/node/src/lib/subscribers/subscriber.interface.ts
  packages/node/src/lib/subscribers/subscribers.spec.ts
  packages/node/src/lib/subscribers/subscribers.ts
Labels: documentation, @novu/api

#3618 feat: add feature flag check for deactive integrations
  apps/api/src/app.module.ts
  apps/api/src/app/events/events.module.ts
  apps/api/src/app/events/usecases/map-trigger-recipients/map-trigger-recipients.use-case.ts
  apps/api/src/app/feature-flags/feature-flags.controller.ts
  apps/api/src/app/feature-flags/feature-flags.module.ts
  apps/api/src/app/feature-flags/services/index.ts
  apps/api/src/app/integrations/e2e/deactivate-integration.e2e.ts
  apps/api/src/app/integrations/usecases/create-integration/create-integration.usecase.ts
  apps/api/src/app/integrations/usecases/deactivate-integration/deactivate-integration.command.ts
  apps/api/src/app/integrations/usecases/deactivate-integration/deactivate-integration.usecase.ts
  apps/api/src/app/integrations/usecases/update-integration/update-integration.usecase.ts
  apps/api/src/app/shared/e2e/get-feature-flag.e2e.ts
  apps/api/src/app/shared/services/feature-flags.service.ts
  apps/api/src/app/shared/services/launch-darkly.service.ts
  apps/api/src/app/shared/shared.module.ts
  apps/api/src/app/shared/types/index.ts
  apps/api/src/app/shared/use-cases/get-feature-flag/get-feature-flag.command.ts
  apps/api/src/app/shared/use-cases/get-feature-flag/get-feature-flag.use-case.ts
  apps/api/src/app/shared/use-cases/get-feature-flag/index.ts
  apps/api/src/app/shared/use-cases/index.ts
Labels: @novu/api

#3439 NV-2225 - 🐛 Bug Report: Visual bug - dual scroll in integration configuration modal
  apps/web/src/pages/integrations/components/ConnectIntegrationForm.tsx
Labels: @novu/web, community

#3621 feat(notification-center): smaller bundle size
  .cspell.json
  apps/web/config-overrides.js
  apps/web/package.json
  docs/docs/notification-center/react/react-components.md
  packages/notification-center/jest.config.js
  packages/notification-center/package.json
  packages/notification-center/rollup.config.mjs
  packages/notification-center/src/components/notification-center/components/Loader.tsx
  packages/notification-center/src/components/notification-center/components/NotificationsListTab.tsx
  packages/notification-center/src/components/notification-center/components/notification-item/NotificationListItem.tsx
  packages/notification-center/src/components/notification-center/components/user-preference/ChannelPreference.tsx
  packages/notification-center/src/components/notification-center/components/user-preference/SubscriberPreference.tsx
  packages/notification-center/src/global.d.ts
  packages/notification-center/src/hooks/useTranslations.ts
  packages/notification-center/src/images/no-new-notifications.png
  packages/notification-center/src/images/no-new-notifications.webp
  packages/notification-center/src/images/no-settings.png
  packages/notification-center/src/images/no-settings.webp
  packages/notification-center/src/shared/config/colors.ts
  packages/notification-center/src/shared/config/themeDefaultValues.ts
  packages/notification-center/src/shared/utils/getLinearGradientColorStopValues.ts
  packages/notification-center/src/store/i18n.context.tsx
  packages/notification-center/src/utils/date.ts
  packages/notification-center/tsconfig.json
  pnpm-lock.yaml
Labels: documentation, @novu/web, @novu/notification-center

#3628 feat(web): the table skeleton loading
  apps/web/package.json
  apps/web/src/App.tsx
  apps/web/src/design-system/index.ts
  apps/web/src/design-system/table/DefaultCell.tsx
  apps/web/src/design-system/table/Table.stories.tsx
  apps/web/src/design-system/table/Table.styles.ts
  apps/web/src/design-system/table/Table.tsx
  apps/web/src/design-system/table/index.ts
  apps/web/src/design-system/table/withCellLoading.tsx
  apps/web/src/hooks/integrations/useIntegrations.ts
  apps/web/src/hooks/useTemplates.ts
  apps/web/src/pages/activities/ActivitiesPage.tsx
  apps/web/src/pages/brand/BrandPage.tsx
  apps/web/src/pages/brand/tabs/LayoutsListPage.tsx
  apps/web/src/pages/changes/PromoteChangesPage.tsx
  apps/web/src/pages/changes/components/ChangesTableLayout.tsx
  apps/web/src/pages/integrations/IntegrationsStorePage.tsx
  apps/web/src/pages/integrations/useProviders.ts
  apps/web/src/pages/invites/MembersInvitePage.tsx
  apps/web/src/pages/settings/SettingsPage.tsx
  apps/web/src/pages/subscribers/SubscribersListPage.tsx
  apps/web/src/pages/templates/WorkflowListPage.tsx
  apps/web/src/pages/templates/editor/TemplateEditorPage.tsx
  apps/web/src/pages/templates/workflow/workflow/node-types/WorkflowNode.tsx
  apps/web/src/utils/channels.ts
  pnpm-lock.yaml
Labels: @novu/web

#3634 feat: add is defined step filter docs
  docs/docs/platform/step-filter.md
  docs/static/img/platform/filter/dark-is-defined-filter.png
  docs/static/img/platform/filter/light-is-defined-filter.png
Labels: documentation

#3635 docs: Add Termii provider documentation
  docs/docs/channels/sms/termii.md
  docs/static/img/providers/sms/termii/api-key-2.png
  docs/static/img/providers/sms/termii/api-key.png
  docs/static/img/providers/sms/termii/integration.png
  docs/static/img/providers/sms/termii/sender-id-request-form.png
  docs/static/img/providers/sms/termii/sender-id.png
  docs/static/img/providers/sms/termii/web.png
Labels: documentation, community

#3620 NV-2457 - Create Tenant Repository
  libs/dal/src/repositories/tenant/index.ts
  libs/dal/src/repositories/tenant/tenant.entity.ts
  libs/dal/src/repositories/tenant/tenant.repository.ts
  libs/dal/src/repositories/tenant/tenant.schema.ts
  libs/dal/src/repositories/tenant/types.ts
  libs/shared/src/types/index.ts
  libs/shared/src/types/shared/index.ts
  libs/shared/src/types/subscriber/index.ts
  libs/shared/src/types/tenant/index.ts
Labels: @novu/dal, @novu/shared

#3623 Nv 2458 - Add Tenant Create Usecase
  apps/api/src/app.module.ts
  apps/api/src/app/shared/shared.module.ts
  apps/api/src/app/tenant/dtos/create-tenant-request.dto.ts
  apps/api/src/app/tenant/dtos/create-tenant-response.dto.ts
  apps/api/src/app/tenant/e2e/create-tenant.e2e.ts
  apps/api/src/app/tenant/tenant.controller.ts
  apps/api/src/app/tenant/tenant.module.ts
  apps/api/src/app/tenant/usecases/create-tenant/create-tenant.command.ts
  apps/api/src/app/tenant/usecases/create-tenant/create-tenant.usecase.ts
  apps/api/src/app/tenant/usecases/index.ts
  libs/dal/src/index.ts
  libs/dal/src/repositories/tenant/tenant.schema.ts
Labels: @novu/api, @novu/dal

#3619 feat: add transactionId filter in get messages
  apps/api/src/app/messages/dtos/get-messages-requests.dto.ts
  apps/api/src/app/messages/e2e/get-messages.e2e.ts
  apps/api/src/app/messages/messages.controller.ts
  apps/api/src/app/messages/usecases/get-messages/get-messages.command.ts
  apps/api/src/app/messages/usecases/get-messages/get-messages.usecase.ts
  apps/api/src/app/messages/usecases/index.ts
  apps/api/src/app/notifications/dtos/activities-request.dto.ts
  docs/docs/platform/inbound-parse-webhook.md
  docs/docs/platform/messages.md
  libs/dal/src/repositories/message/message.repository.ts
  packages/node/src/index.ts
  packages/node/src/lib/messages/index.ts
  packages/node/src/lib/messages/messages.interface.ts
  packages/node/src/lib/messages/messages.spec.ts
  packages/node/src/lib/messages/messages.ts
  packages/node/src/lib/novu.ts
Labels: documentation, @novu/api, @novu/dal

#3645 feat: add transaction id filter in get messages
  apps/api/src/app/messages/dtos/get-messages-requests.dto.ts
  apps/api/src/app/messages/e2e/get-messages.e2e.ts
  apps/api/src/app/messages/messages.controller.ts
  apps/api/src/app/messages/usecases/get-messages/get-messages.command.ts
  apps/api/src/app/messages/usecases/get-messages/get-messages.usecase.ts
  apps/api/src/app/messages/usecases/index.ts
  apps/api/src/app/notifications/dtos/activities-request.dto.ts
  docs/docs/platform/inbound-parse-webhook.md
  docs/docs/platform/messages.md
  libs/dal/src/repositories/message/message.repository.ts
  packages/node/src/index.ts
  packages/node/src/lib/messages/index.ts
  packages/node/src/lib/messages/messages.interface.ts
  packages/node/src/lib/messages/messages.spec.ts
  packages/node/src/lib/messages/messages.ts
  packages/node/src/lib/novu.ts
Labels: documentation, @novu/api, @novu/dal

#3625 feat(dal): update integration entity schema for multi provider
  libs/dal/src/repositories/integration/integration.entity.ts
  libs/dal/src/repositories/integration/integration.schema.ts
Labels: @novu/dal

#3649 V0.16.x
  apps/worker/src/app/workflow/usecases/send-message/send-message-email.usecase.ts
  libs/shared/src/types/events/index.ts
  packages/stateless/src/lib/provider/provider.interface.ts
  providers/sendgrid/src/lib/sendgrid.provider.spec.ts
  providers/sendgrid/src/lib/sendgrid.provider.ts
Labels: @novu/shared, providers, @novu/worker

#3617 feat: add feature flag for multi-provider configuration
  apps/api/src/app.module.ts
  apps/api/src/app/events/events.module.ts
  apps/api/src/app/events/usecases/map-trigger-recipients/map-trigger-recipients.use-case.ts
  apps/api/src/app/feature-flags/feature-flags.controller.ts
  apps/api/src/app/feature-flags/feature-flags.module.ts
  apps/api/src/app/feature-flags/services/index.ts
  apps/api/src/app/integrations/e2e/deactivate-integration.e2e.ts
  apps/api/src/app/integrations/usecases/create-integration/create-integration.usecase.ts
  apps/api/src/app/integrations/usecases/deactivate-integration/deactivate-integration.command.ts
  apps/api/src/app/integrations/usecases/deactivate-integration/deactivate-integration.usecase.ts
  apps/api/src/app/integrations/usecases/update-integration/update-integration.usecase.ts
  apps/api/src/app/shared/e2e/get-feature-flag.e2e.ts
  apps/api/src/app/shared/services/feature-flags.service.ts
  apps/api/src/app/shared/services/launch-darkly.service.ts
  apps/api/src/app/shared/shared.module.ts
  apps/api/src/app/shared/types/index.ts
  apps/api/src/app/shared/use-cases/get-feature-flag/get-feature-flag.command.ts
  apps/api/src/app/shared/use-cases/get-feature-flag/get-feature-flag.use-case.ts
  apps/api/src/app/shared/use-cases/get-feature-flag/index.ts
  apps/api/src/app/shared/use-cases/index.ts
  apps/web/src/config/index.ts
  apps/web/src/hooks/useFeatureFlags.ts
  libs/shared/src/types/feature-flags/index.ts
Labels: @novu/api, @novu/web, @novu/shared

#3647 Add IP Pool Name In Integration
  apps/api/src/app/integrations/dtos/credentials.dto.ts
  apps/api/src/app/integrations/usecases/check-integration/check-integration.command.ts
  apps/api/src/app/subscribers/usecases/chat-oauth/chat-oauth.usecase.ts
  apps/web/src/pages/integrations/IntegrationsStoreModal.tsx
  apps/web/src/pages/integrations/IntegrationsStorePage.tsx
  apps/web/src/pages/integrations/components/ConnectIntegrationForm.tsx
  libs/dal/src/repositories/integration/integration.entity.ts
  libs/dal/src/repositories/integration/integration.schema.ts
  libs/shared/src/consts/providers/credentials/provider-credentials.ts
  libs/shared/src/consts/providers/provider.enum.ts
  libs/shared/src/dto/integration/construct-integration.interface.ts
  libs/shared/src/entities/integration/credential.interface.ts
  libs/shared/src/entities/integration/index.ts
  libs/shared/src/index.ts
  packages/application-generic/src/factories/chat/handlers/discord.handler.ts
  packages/application-generic/src/factories/chat/handlers/mattermost.handler.ts
  packages/application-generic/src/factories/chat/handlers/msteams.handler.ts
  packages/application-generic/src/factories/chat/handlers/slack.handler.ts
  packages/application-generic/src/factories/chat/interfaces/index.ts
  packages/application-generic/src/factories/mail/handlers/email-webhook.handler.ts
  packages/application-generic/src/factories/mail/handlers/emailjs.handler.ts
  packages/application-generic/src/factories/mail/handlers/infobip.handler.ts
  packages/application-generic/src/factories/mail/handlers/mailersend.handler.ts
  packages/application-generic/src/factories/mail/handlers/mailgun.handler.ts
  packages/application-generic/src/factories/mail/handlers/mailjet.handler.ts
  packages/application-generic/src/factories/mail/handlers/mandrill.handler.ts
  packages/application-generic/src/factories/mail/handlers/nodemailer.handler.ts
  packages/application-generic/src/factories/mail/handlers/outlook365.handler.ts
  packages/application-generic/src/factories/mail/handlers/postmark.handler.ts
  packages/application-generic/src/factories/mail/handlers/resend.handler.ts
  packages/application-generic/src/factories/mail/handlers/sendinblue.handler.ts
  packages/application-generic/src/factories/mail/handlers/ses.handler.ts
  packages/application-generic/src/factories/mail/handlers/sparkpost.handler.ts
  packages/application-generic/src/factories/mail/interfaces/send.handler.interface.ts
  packages/application-generic/src/factories/push/handlers/apns.handler.ts
  packages/application-generic/src/factories/push/handlers/base.handler.ts
  packages/application-generic/src/factories/push/handlers/expo.handler.ts
  packages/application-generic/src/factories/push/handlers/fcm.handler.ts
  packages/application-generic/src/factories/push/handlers/one-signal.handler.ts
  packages/application-generic/src/factories/push/handlers/push-webhook.handler.ts
  packages/application-generic/src/factories/push/interfaces/push.handler.interface.ts
  packages/application-generic/src/factories/sms/handlers/africas-talking.handler.ts
  packages/application-generic/src/factories/sms/handlers/base.handler.ts
  packages/application-generic/src/factories/sms/handlers/burst-sms.handler.ts
  packages/application-generic/src/factories/sms/handlers/clickatell.handler.ts
  packages/application-generic/src/factories/sms/handlers/firetext.handler.ts
  packages/application-generic/src/factories/sms/handlers/forty-six-elks.handler.ts
  packages/application-generic/src/factories/sms/handlers/gupshup.handler.ts
  packages/application-generic/src/factories/sms/handlers/infobip.handler.ts
  packages/application-generic/src/factories/sms/handlers/kannel.handler.ts
  packages/application-generic/src/factories/sms/handlers/maqsam.handler.ts
  packages/application-generic/src/factories/sms/handlers/plivo.handler.ts
  packages/application-generic/src/factories/sms/handlers/sms-central.handler.ts
  packages/application-generic/src/factories/sms/handlers/sms77.handler.ts
  packages/application-generic/src/factories/sms/handlers/sns.handler.ts
  packages/application-generic/src/factories/sms/handlers/telnyx.handler.ts
  packages/application-generic/src/factories/sms/handlers/termii.handler.ts
  packages/application-generic/src/factories/sms/handlers/twilio.handler.ts
  packages/application-generic/src/factories/sms/interfaces/sms.handler.interface.ts
Labels: @novu/api, @novu/web, @novu/dal, @novu/shared

#3653 fix: update how to add new provider docs
  _templates/provider/new/package.ejs.t
  _templates/provider/new/src/lib/provider.ejs.t
  docs/docs/community/create-provider.md
  package.json
Labels: documentation

#3614 🐛 CreateNotificationJobCommand fix - update templateProviderIds Map to Record.
  apps/api/src/app/events/e2e/trigger-event.e2e.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-in-app.usecase.ts
  packages/application-generic/src/usecases/create-notification-jobs/create-notification-jobs.command.ts
  packages/application-generic/src/usecases/create-notification-jobs/create-notification-jobs.usecase.ts
  packages/application-generic/src/usecases/trigger-event/trigger-event.usecase.ts
Labels: @novu/api, @novu/worker

#3596 feat: refactor template preference logic
  apps/api/src/app/subscribers/e2e/update-preference.e2e.ts
  apps/api/src/app/widgets/e2e/get-subscriber-preference.e2e.ts
  packages/application-generic/src/usecases/get-subscriber-preference/get-subscriber-preference.usecase.ts
  packages/application-generic/src/usecases/get-subscriber-template-preference/get-subscriber-template-preference.command.ts
  packages/application-generic/src/usecases/get-subscriber-template-preference/get-subscriber-template-preference.usecase.spec.ts
  packages/application-generic/src/usecases/get-subscriber-template-preference/get-subscriber-template-preference.usecase.ts
Labels: @novu/api

#3643 feat: add removeAllMessages function in react nc
  docs/docs/notification-center/react/api-reference.md
  packages/client/src/api/api.service.ts
  packages/notification-center/src/hooks/index.ts
  packages/notification-center/src/hooks/useRemoveAllNotifications.ts
  packages/notification-center/src/shared/interfaces/index.ts
  packages/notification-center/src/store/notifications-provider.context.tsx
Labels: documentation, @novu/notification-center

#3671 feat: add remove all messgaes
  _templates/provider/new/package.ejs.t
  _templates/provider/new/src/lib/provider.ejs.t
  apps/api/src/app/widgets/dtos/remove-all-messages.dto.ts
  apps/api/src/app/widgets/e2e/remove-all-messages.e2e.ts
  apps/api/src/app/widgets/usecases/index.ts
  apps/api/src/app/widgets/usecases/remove-messages/remove-all-messages.command.ts
  apps/api/src/app/widgets/usecases/remove-messages/remove-all-messages.usecase.ts
  apps/api/src/app/widgets/widgets.controller.ts
  docs/docs/community/create-provider.md
  docs/docs/notification-center/react/api-reference.md
  libs/dal/src/repositories/message/message.repository.ts
  package.json
  packages/client/src/api/api.service.ts
  packages/notification-center/src/hooks/index.ts
  packages/notification-center/src/hooks/useRemoveAllNotifications.ts
  packages/notification-center/src/shared/interfaces/index.ts
  packages/notification-center/src/store/notifications-provider.context.tsx
  pnpm-lock.yaml
Labels: documentation, @novu/api, @novu/dal, @novu/notification-center

#3669 fix(ci): debugging cypress
  .github/workflows/reusable-web-e2e.yml
  apps/api/package.json
  apps/inbound-mail/package.json
  apps/webhook/package.json
  apps/worker/package.json
  apps/ws/package.json
  libs/dal/package.json
  libs/testing/package.json
  pnpm-lock.yaml
  providers/sendgrid/src/lib/sendgrid.provider.spec.ts
Labels: @novu/api, @novu/dal, @novu/webhook, @novu/ws, providers, @novu/worker

#3666 NV 2418 - Integration Selection Caching
  apps/api/src/app/integrations/usecases/create-integration/create-integration.usecase.ts
  apps/api/src/app/integrations/usecases/remove-integration/remove-integration.usecase.ts
  apps/api/src/app/integrations/usecases/update-integration/update-integration.usecase.ts
  apps/api/src/app/widgets/e2e/initialize-widget-session.e2e.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message.base.ts
  packages/application-generic/src/services/cache/key-builders/queries.ts
  packages/application-generic/src/usecases/select-integration/select-integration.usecase.ts
Labels: @novu/api, @novu/worker

#3638 Nv 2460 - Update Tenant Endpoint
  apps/api/src/app/tenant/dtos/update-tenant-request.dto.ts
  apps/api/src/app/tenant/dtos/update-tenant-response.dto.ts
  apps/api/src/app/tenant/e2e/update-tenant.e2e.ts
  apps/api/src/app/tenant/tenant.controller.ts
  apps/api/src/app/tenant/usecases/index.ts
  apps/api/src/app/tenant/usecases/update-tenant/update-tenant.command.ts
  apps/api/src/app/tenant/usecases/update-tenant/update-tenant.usecase.ts
Labels: @novu/api

#3676 Reuse existing env variables that denotates cloud hosted instead of a new one
  apps/web/.env
  apps/web/public/index.html
Labels: @novu/web

#3650 feat(api): update get integrations endpoints
  apps/api/src/app/events/e2e/trigger-event.e2e.ts
  apps/api/src/app/integrations/e2e/create-integration.e2e.ts
  apps/api/src/app/integrations/e2e/get-decrypted-integrations.e2e.ts
  apps/api/src/app/integrations/e2e/get-integration.e2e.ts
  apps/api/src/app/integrations/e2e/remove-integration.e2e.ts
  apps/api/src/app/integrations/integrations.controller.ts
  apps/api/src/app/integrations/usecases/get-active-integration/get-active-integration.command.ts
  apps/api/src/app/integrations/usecases/get-active-integration/get-active-integration.usecase.ts
  apps/api/src/app/integrations/usecases/get-integrations/get-integrations.command.ts
  apps/api/src/app/integrations/usecases/get-integrations/get-integrations.usecase.ts
  apps/api/src/app/integrations/usecases/remove-integration/remove-integration.usecase.ts
  apps/web/cypress/plugins/index.ts
  apps/worker/src/app/workflow/services/workflow-queue.service.spec.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-chat.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-email.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-in-app.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-push.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-sms.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message.base.ts
  docs/docs/platform/integrations.md
  libs/dal/src/repositories/integration/integration.repository.ts
  libs/dal/src/repositories/job/job.repository.ts
  libs/dal/src/repositories/notification-template/notification-template.repository.ts
  libs/dal/src/types/index.ts
  libs/dal/src/types/results.ts
  libs/testing/src/environment.service.ts
  libs/testing/src/integration.service.ts
  libs/testing/src/notification-template.service.ts
  libs/testing/src/organization.service.ts
  libs/testing/src/user.service.ts
  libs/testing/src/user.session.ts
  packages/application-generic/src/commands/project.command.ts
  packages/application-generic/src/usecases/get-decrypted-integrations/get-decrypted-integrations.command.ts
  packages/application-generic/src/usecases/get-decrypted-integrations/get-decrypted-integrations.usecase.ts
  packages/application-generic/src/usecases/get-novu-integration/get-novu-integration.spec.ts
Labels: documentation, @novu/api, @novu/web, @novu/dal, @novu/worker

#3660 feat: select integration usecase
  libs/dal/src/repositories/base-repository.ts
  packages/application-generic/src/usecases/index.ts
  packages/application-generic/src/usecases/select-integration/index.ts
  packages/application-generic/src/usecases/select-integration/select-integration.command.ts
  packages/application-generic/src/usecases/select-integration/select-integration.spec.ts
  packages/application-generic/src/usecases/select-integration/select-integration.usecase.ts
Labels: @novu/dal

#3654 chore(web): use is_multi_provider_configuration_enabled feature flag
  apps/web/cypress/tests/integration-store.spec.ts
  apps/web/cypress/tests/integrations-list-page.spec.ts
  apps/web/src/config/index.ts
  apps/web/src/pages/integrations/IntegrationsListPage.tsx
Labels: @novu/web

#3636 feat(docs): Add Infobip SMS provider documentation
  docs/docs/channels/sms/index.md
  docs/docs/channels/sms/infobip.md
  docs/static/img/providers/sms/infobip/api-key.png
  docs/static/img/providers/sms/infobip/base-url.png
  docs/static/img/providers/sms/infobip/dev-tools-api-key.png
  docs/static/img/providers/sms/infobip/generate-api-key.png
  docs/static/img/providers/sms/infobip/integration.png
  docs/static/img/providers/sms/infobip/web.png
Labels: documentation, community

#3639 NV 2461 - Delete Tenant Endpoint
  apps/api/src/app/tenant/e2e/delete-tenant.e2e.ts
  apps/api/src/app/tenant/e2e/get-tenant.e2e.ts
  apps/api/src/app/tenant/tenant.controller.ts
  apps/api/src/app/tenant/usecases/delete-tenant/delete-tenant.command.ts
  apps/api/src/app/tenant/usecases/delete-tenant/delete-tenant.usecase.ts
  apps/api/src/app/tenant/usecases/index.ts
  apps/api/src/app/tenant/usecases/update-tenant/update-tenant.usecase.ts
Labels: @novu/api

#3692 feat: add sort function for providers
  apps/web/src/pages/integrations/components/multi-provider/SelectProviderSidebar.tsx
  apps/web/src/pages/integrations/components/multi-provider/sort-providers.ts
  apps/web/src/utils/providers.ts
Labels: @novu/web

#3662 chore(api,worker): use select integration usecase before we do a send
  apps/api/src/app/integrations/usecases/create-integration/create-integration.usecase.ts
  apps/api/src/app/integrations/usecases/index.ts
  apps/api/src/app/integrations/usecases/remove-integration/remove-integration.usecase.ts
  apps/api/src/app/integrations/usecases/update-integration/update-integration.usecase.ts
  apps/api/src/app/widgets/e2e/initialize-widget-session.e2e.ts
  apps/api/src/app/widgets/usecases/initialize-session/initialize-session.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-chat.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-email.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-in-app.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-push.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-sms.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message.base.ts
  apps/worker/src/app/workflow/workflow.module.ts
  packages/application-generic/src/services/cache/key-builders/queries.ts
  packages/application-generic/src/usecases/select-integration/select-integration.usecase.ts
  packages/application-generic/src/usecases/send-test-email/send-test-email.usecase.ts
Labels: @novu/api, @novu/worker

#3696 docs: guides on specific use cases
  docs/docs/community/_category_.json
  docs/docs/guides/_category_.json
  docs/docs/guides/how-to-add-digest-to-in-app-notifications.md
  docs/src/components/Discover.tsx
Labels: documentation
