Repository novuhq/novu, pull requests merged in 2024-07, with the labels that each got.

#5892 fix(web): set cookie as secure
  apps/web/src/utils/cookies.ts
Labels: @novu/web

#5898 fix(web): replace useApiKeysPage with useStudioState
  apps/web/src/components/layout/components/v2/SyncInfoModal.tsx
Labels: @novu/web

#5900 feat(api): change control dto structure
  apps/api/src/app/events/e2e/bridge-trigger.e2e-ee.ts
  apps/worker/src/app/workflow/usecases/subscriber-job-bound/subscriber-job-bound.usecase.ts
  libs/shared/src/dto/controls/controls.dto.ts
Labels: @novu/api, @novu/shared, @novu/worker

#5901 fix(web): Make "Edit endpoint" button look more clickable
  apps/web/src/components/layout/components/v2/BridgeMenuItems.tsx
  apps/web/src/components/layout/components/v2/BridgeUpdateModal.tsx
  apps/web/src/components/layout/components/v2/BridgeUpdateModalTrigger.tsx
  apps/web/src/studio/LocalStudioAuthenticator.tsx
  apps/web/src/studio/StudioPageLayout.tsx
  apps/web/src/studio/StudioStateProvider.tsx
  apps/web/src/studio/components/workflows/step-editor/WorkflowTestStepButton.tsx
  apps/web/src/studio/components/workflows/test-workflow/WorkflowsTestPage.tsx
  apps/web/src/studio/hooks/useBridgeAPI.ts
  apps/web/src/studio/hooks/useBridgeURL.ts
  apps/web/src/studio/types.ts
Labels: @novu/web

#5899 fix(web): Remove faulty cross-iframe link for Discord invite
  apps/web/src/components/layout/components/LocalStudioHeader/LocalStudioHeader.tsx
Labels: @novu/web

#5905 fix(root): no more eslint on pre-commit
  apps/api/package.json
  apps/web/package.json
  apps/widget/package.json
  apps/worker/package.json
  enterprise/packages/libs/dal/package.json
  libs/dal/package.json
  libs/embed/package.json
  libs/testing/package.json
  package.json
Labels: @novu/api, @novu/web, @novu/dal, @novu/worker

#5906 fix(web): store localhost url
  apps/web/src/components/layout/components/v2/BridgeUpdateModal.tsx
Labels: @novu/web

#5904 feat(web): fix cloud bridge status
  apps/web/src/studio/hooks/useBridgeAPI.ts
Labels: @novu/web

#5884 feat(web): add controls to the preview
  apps/api/src/app/events/e2e/bridge-trigger.e2e-ee.ts
  apps/web/src/bridgeApi/bridgeApi.client.ts
  apps/web/src/pages/studio-onboarding/preview.tsx
  apps/web/src/pages/templates/components/TemplateEditorFormProvider.tsx
  apps/web/src/studio/components/workflows/step-editor/WorkflowStepEditorControlsPanel.tsx
  apps/worker/src/app/workflow/usecases/subscriber-job-bound/subscriber-job-bound.usecase.ts
  libs/novui/package.json
  libs/novui/src/hooks/index.ts
  libs/novui/src/index.ts
  libs/novui/src/json-schema-components/JsonSchemaForm.tsx
  libs/shared/src/dto/controls/controls.dto.ts
  packages/framework/src/handler.ts
  packages/framework/src/types/execution.types.ts
Labels: @novu/api, @novu/web, @novu/shared, @novu/worker, @novu/novui

#5909 style(web): add CTA focus for test workflow
  apps/web/src/studio/components/workflows/test-workflow/WorkflowsTestPage.tsx
Labels: @novu/web

#5907 feat(web): add refetch on windon focus for previews
  .idea/inspectionProfiles/Project_Default.xml
  .idea/novu.iml
  apps/web/src/studio/hooks/useBridgeAPI.ts
Labels: @novu/web

#5911 fix(web): activity feed workflow names
  apps/web/src/components/execution-detail/ExecutionDetailsModal.tsx
  apps/web/src/pages/activities/components/ActivityItem.tsx
Labels: @novu/web

#5913 fix(web): Display bridgeUrl on cURL command, refactor code snippets
  apps/web/src/components/execution-detail/ExecutionDetailTrigger.tsx
  apps/web/src/pages/templates/components/TriggerSnippetTabs.tsx
  apps/web/src/studio/components/workflows/test-workflow/WorkflowTestTriggerPanel.tsx
  apps/web/src/studio/components/workflows/test-workflow/WorkflowsTestPage.tsx
  apps/web/src/utils/codeSnippets.ts
  apps/web/tests/create-notification.spec.ts
  packages/create-novu-app/templates/github/workflows/novu.yml
Labels: @novu/web

#5912 fix(web): local to dev sync modal improvement
  apps/web/src/api/api.client.ts
  apps/web/src/components/layout/components/v2/SyncInfoModal.tsx
Labels: @novu/web

#5916 fix(api): Nv 4021 syncing to production environment fails for new org
  apps/api/src/app/environments/usecases/create-environment/create-environment.usecase.ts
Labels: @novu/api

#5876 refactor(root): Rename from `web.novu.co` to `dashboard.novu.co`
  apps/api/src/.env.development
  apps/api/src/.env.production
  apps/api/src/config/env-validator.ts
  apps/web/netlify.toml
  apps/web/src/pages/studio-onboarding/preview.tsx
  apps/web/tests/main-functionality.spec.ts
  docker/kubernetes/helm/README.md
  docker/kubernetes/helm/values.yaml
  libs/testing/src/user.session.ts
  packages/create-novu-app/templates/app/ts/app/novu/workflows.ts
Labels: @novu/api, @novu/web, helm, docker

#5877 feat(framework): Add trigger capability to defined workflows
  apps/api/e2e/echo.server.ts
  packages/framework/src/client.test.ts
  packages/framework/src/client.ts
  packages/framework/src/constants/error.constants.ts
  packages/framework/src/errors/execution.errors.ts
  packages/framework/src/errors/handler.errors.ts
  packages/framework/src/handler.ts
  packages/framework/src/types/discover.types.ts
  packages/framework/src/types/event.types.ts
  packages/framework/src/types/execution.types.ts
  packages/framework/src/types/index.ts
  packages/framework/src/types/util.types.ts
  packages/framework/src/utils/env.utils.test.ts
  packages/framework/src/utils/env.utils.ts
  packages/framework/src/utils/http.utils.ts
  packages/framework/src/workflow.test.ts
  packages/framework/src/workflow.ts
Labels: @novu/api

#5919 fix(api): Ensure both web and dashboard subdomains work in parallel
  apps/api/src/config/cors.spec.ts
  apps/api/src/config/cors.ts
  apps/api/src/types/env.d.ts
  apps/web/netlify.toml
Labels: @novu/api, @novu/web

#5917 feat(web): add new empty state for workflows in v2
  apps/web/src/AppRoutes.tsx
  apps/web/src/components/nav/RootNavMenu.tsx
  apps/web/src/hooks/useFeatureFlag.ts
  apps/web/src/pages/auth/components/HubspotSignupForm.tsx
  apps/web/src/pages/auth/components/QuestionnaireForm.tsx
  apps/web/src/pages/templates/TemplatesListNoData.tsx
  apps/web/src/pages/templates/WorkflowListPage.tsx
  apps/web/src/studio/components/GetStartedPageV2/Development.tsx
  apps/web/src/studio/components/GetStartedPageV2/Studio.tsx
  apps/web/src/studio/components/GetStartedPageV2/deploy.tsx
  apps/web/src/studio/components/GetStartedPageV2/ide.tsx
  apps/web/src/studio/components/GetStartedPageV2/index.tsx
  apps/web/src/studio/components/GetStartedPageV2/terminal.tsx
  apps/web/src/studio/components/GetStartedPageV2/workflow.tsx
Labels: @novu/web

#5897 fix(web): tracking events in studio
  apps/web/src/api/api.client.ts
  apps/web/src/components/docs/DocsButton.tsx
  apps/web/src/components/docs/DocsModal.tsx
  apps/web/src/components/docs/useLoadDocs.tsx
  apps/web/src/components/layout/components/v2/BridgeUpdateModal.tsx
  apps/web/src/components/layout/components/v2/SyncInfoModalTrigger.tsx
  apps/web/src/hooks/useNovuAPI.ts
  apps/web/src/pages/layouts/v2/LayoutsPage.tsx
  apps/web/src/pages/studio-onboarding/components/Footer.tsx
  apps/web/src/pages/studio-onboarding/index.tsx
  apps/web/src/pages/studio-onboarding/preview.tsx
  apps/web/src/pages/studio-onboarding/success.tsx
  apps/web/src/pages/templates/editor_v2/TemplateStepEditorV2.tsx
  apps/web/src/studio/components/GetStartedPageV2/index.tsx
  apps/web/src/studio/components/workflows/step-editor/WorkflowStepEditorControlsPanel.tsx
  apps/web/src/studio/components/workflows/step-editor/WorkflowTestStepButton.tsx
  apps/web/src/studio/components/workflows/step-editor/WorkflowsStepEditorPage.tsx
  apps/web/src/studio/components/workflows/test-workflow/WorkflowsTestPage.tsx
  apps/web/src/utils/segment.ts
Labels: @novu/web

#5930 fix(web): so track is not spammed
  apps/web/src/components/docs/useLoadDocs.tsx
Labels: @novu/web

#5914 feat(web,novui): Studio <-> Dashboard Button, other small fixes
  apps/web/src/components/layout/components/LocalStudioSidebar/LocalStudioSidebar.tsx
  apps/web/src/components/layout/components/LocalStudioSidebar/SidebarFooter.tsx
  apps/web/src/components/layout/components/v2/SyncInfoModal.tsx
  apps/web/src/components/nav/Aside.tsx
  apps/web/src/components/nav/NavMenu.tsx
  apps/web/src/components/nav/RootNavMenu.tsx
  apps/web/src/components/nav/Sidebar.tsx
  apps/web/src/pages/studio-onboarding/components/SetupTimeline.recipe.ts
  apps/web/src/pages/studio-onboarding/components/SetupTimeline.tsx
  apps/web/src/pages/studio-onboarding/preview.tsx
  apps/web/src/pages/templates/editor_v2/TemplateDetailsPageV2.tsx
  apps/web/src/pages/templates/editor_v2/TemplateStepEditorV2.tsx
  apps/web/src/studio/components/OpenLocalStudioModal.tsx
  apps/web/src/studio/components/OutlineButton.tsx
  apps/web/src/studio/components/workflows/node-view/WorkflowsDetailPage.tsx
  apps/web/src/studio/components/workflows/test-workflow/WorkflowsTestPage.tsx
  apps/web/src/studio/hooks/useNavigateToLocalStudio.ts
  apps/web/src/studio/types.ts
  libs/novui/src/components/button/Button.stories.tsx
  libs/novui/src/components/button/Button.tsx
  libs/novui/src/recipes/button.recipe.ts
  packages/cli/src/dev-server/http-server.ts
Labels: @novu/web, @novu/novui

#5935 feat(web): add mixpanel identifiy
  apps/web/src/hooks/useNovuAPI.ts
  apps/web/src/utils/segment.ts
Labels: @novu/web

#5929 feat(web): Nv 4013 non tech missing back button when in workflowstep test view
  apps/web/src/components/layout/components/LocalStudioHeader/LocalStudioHeader.tsx
  apps/web/src/components/layout/components/v2/HeaderNav.tsx
  apps/web/src/components/layout/components/v2/WorkflowHeaderBackButton.tsx
  libs/novui/src/components/button/IconButton.tsx
Labels: @novu/web, @novu/novui

#5938 fix(web): Always pick the secret key from development environment
  apps/web/src/studio/LocalStudioAuthenticator.tsx
Labels: @novu/web

#5937 feat(web): update get started
  apps/web/src/pages/studio-onboarding/components/SetupTimeline.tsx
  apps/web/src/studio/components/GetStartedPageV2/GithubAction.tsx
  apps/web/src/studio/components/GetStartedPageV2/index.tsx
  apps/web/src/studio/components/OpenLocalStudioModal.tsx
Labels: @novu/web

#5940 fix(web): Crate with fixes
  apps/web/src/components/layout/components/LocalStudioSidebar/SidebarFooter.tsx
  packages/cli/src/index.ts
Labels: @novu/web

#5944 fix(web): preview not rendering initial controls
  apps/web/src/pages/templates/editor_v2/TemplateStepEditorV2.tsx
Labels: @novu/web

#5945 feat(web): add event for workflow open
  apps/web/src/studio/components/workflows/node-view/WorkflowsDetailPage.tsx
Labels: @novu/web

#5950 fix(web): github action svg
  apps/web/src/studio/components/GetStartedPageV2/GithubAction.tsx
Labels: @novu/web

#5952 fix(web): cta on get started
  apps/web/src/studio/components/GetStartedPageV2/index.tsx
Labels: @novu/web

#5954 fix(api): Fetch API keys consistently regardless of the current env
  apps/api/src/app/environments/environments.controller.ts
  apps/api/src/app/environments/usecases/get-my-environments/get-my-environments.command.ts
  apps/api/src/app/environments/usecases/get-my-environments/get-my-environments.e2e.ts
  apps/api/src/app/environments/usecases/get-my-environments/get-my-environments.usecase.ts
  apps/web/src/api/api.client.ts
  apps/web/src/studio/LocalStudioAuthenticator.tsx
  libs/shared/src/types/auth/auth.types.ts
Labels: @novu/api, @novu/web, @novu/shared

#5957 fix(web): so correct v2 feature flags usage
  apps/web/src/components/nav/RootNavMenu.tsx
  apps/web/src/pages/auth/components/HubspotSignupForm.tsx
  apps/web/src/pages/auth/components/QuestionnaireForm.tsx
Labels: @novu/web

#5961 fix(web): so skeleton for preview web takes full width
  apps/web/src/components/workflow/preview/email/PreviewWeb.tsx
  apps/web/src/components/workflow/preview/email/Skeleton/ContentSkeleton.tsx
  apps/web/src/studio/components/workflows/step-editor/WorkflowStepEditorContentPanel.tsx
Labels: @novu/web

#5960 chore(root): Release version `2.0.0-canary.0` across monorepo
  apps/api/package.json
  apps/inbound-mail/package.json
  apps/web/package.json
  apps/webhook/package.json
  apps/widget/package.json
  apps/worker/package.json
  apps/ws/package.json
  enterprise/packages/auth/package.json
  enterprise/packages/billing/package.json
  enterprise/packages/echo/echo-api/package.json
  enterprise/packages/echo/echo-worker/package.json
  enterprise/packages/libs/dal/package.json
  enterprise/packages/shared-services/package.json
  enterprise/packages/translation/package.json
  lerna.json
  libs/application-generic/package.json
  libs/automation/package.json
  libs/dal/package.json
  libs/design-system/package.json
  libs/embed/package.json
  libs/novui/package.json
  libs/shared/package.json
  libs/testing/package.json
  packages/cli-next/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/create-novu-app/package.json
  packages/framework/package.json
  packages/headless/package.json
  packages/js/package.json
  packages/nest/package.json
  packages/node/package.json
  packages/notification-center-angular/package.json
  packages/notification-center-angular/projects/notification-center-angular/package.json
  packages/notification-center-vue/package.json
  packages/notification-center/package.json
  packages/providers/package.json
  packages/stateless/package.json
Labels: @novu/api, @novu/web, @novu/dal, @novu/webhook, @novu/ws, @novu/notification-center, @novu/shared, @novu/notification-center-vue, @novu/notification-center-angular, @novu/worker, @novu/inbound-mail, @novu/design-system, @novu/novui

#5964 fix(web): eslint error
  apps/web/src/components/layout/components/v2/BridgeUpdateModal.tsx
Labels: @novu/web

#5966 fix(web): onboarding check marks
  apps/web/src/pages/studio-onboarding/components/SetupTimeline.tsx
Labels: @novu/web

#5965 chore(root): Only build and deploy in production
  .github/workflows/prod-deploy-api.yml
  .github/workflows/prod-deploy-web.yml
Labels: CI/CD

#5970 docs(web): update doc links
  .cspell.json
  apps/web/src/components/docs/docs.const.ts
  apps/web/src/components/layout/components/LocalStudioSidebar/LocalStudioSidebarContent.tsx
  apps/web/src/components/layout/components/v2/BridgeUpdateModal.tsx
  apps/web/src/pages/settings/WebhookPage/WebhookAdditionalInformationLink.tsx
  apps/web/src/pages/studio-onboarding/components/Footer.tsx
  apps/web/src/studio/components/GetStartedPageV2/index.tsx
  apps/web/src/studio/components/workflows/node-view/WorkflowFloatingMenu.tsx
  apps/web/src/studio/components/workflows/step-editor/WorkflowStepEditorControlsPanel.tsx
  apps/web/src/studio/components/workflows/test-workflow/WorkflowTestControlsPanel.tsx
  libs/shared/src/consts/providers/channels/email.ts
  libs/shared/src/consts/providers/channels/sms.ts
Labels: @novu/web, @novu/shared

#5973 docs(web): Docs old quickstart links
  apps/web/src/components/quick-start/digest-demo-flow/consts.ts
Labels: @novu/web

#5974 fix(web): Remove double-quotes from Segment identifiers
  apps/web/src/hooks/useNovuAPI.ts
  apps/web/src/utils/segment.ts
  apps/web/src/utils/utils.ts
Labels: @novu/web

#5977 fix(web): remove echo from tooltip info
  apps/web/src/pages/templates/WorkflowListPage.tsx
Labels: @novu/web

#5978 fix(web): so buttons are working correctly on get started
  apps/web/src/studio/components/GetStartedPageV2/index.tsx
Labels: @novu/web

#5982 fix(web): Nv 3999 actions channels side controls overflow in chrome
  apps/web/src/studio/components/workflows/node-view/WorkflowFloatingMenu.tsx
Labels: @novu/web

#5989 refactor(api): Error handling for bridge apps and use enums for action types
  apps/api/src/app/events/usecases/parse-event-request/parse-event-request.usecase.ts
  apps/web/src/pages/studio-onboarding/preview.tsx
  libs/application-generic/src/usecases/trigger-event/trigger-event.usecase.ts
  libs/design-system/src/ThemeProvider.tsx
  packages/framework/src/constants/error.constants.ts
  packages/framework/src/errors/base.errors.ts
  packages/framework/src/errors/execution.errors.ts
  packages/framework/src/errors/handler.errors.ts
  packages/framework/src/errors/platform.errors.ts
  packages/framework/src/handler.ts
  packages/framework/src/utils/http.utils.ts
Labels: @novu/api, @novu/web, @novu/design-system

#5991 feat(web): Onboarding funnel updates
  .cspell.json
  apps/api/src/app/auth/usecases/register/user-register.command.ts
  apps/api/src/app/auth/usecases/register/user-register.usecase.ts
  apps/api/src/app/organization/dtos/create-organization.dto.ts
  apps/api/src/app/organization/e2e/create-organization.e2e.ts
  apps/api/src/app/organization/organization.controller.ts
  apps/api/src/app/organization/usecases/create-organization/create-organization.command.ts
  apps/api/src/app/organization/usecases/create-organization/create-organization.usecase.ts
  apps/web/src/hooks/useAuth.ts
  apps/web/src/pages/auth/QuestionnairePage.tsx
  apps/web/src/pages/auth/components/QuestionnaireForm.tsx
  apps/web/src/pages/auth/components/SignUpForm.tsx
  apps/web/src/pages/auth/components/dynamic-checkbox/DynamicCheckBox.styles.ts
  apps/web/src/pages/auth/components/dynamic-checkbox/DynamicCheckBox.tsx
  apps/web/src/studio/LocalStudioAuthenticator.tsx
  libs/dal/src/repositories/organization/organization.entity.ts
  libs/dal/src/repositories/organization/organization.schema.ts
  libs/shared/src/dto/organization/create-organization.dto.ts
  packages/cli/src/commands/dev/dev.ts
  packages/cli/src/index.ts
Labels: @novu/api, @novu/web, @novu/dal, @novu/shared

#5994 feat(web, cli): cli anonymous state
  apps/web/src/components/layout/components/LocalStudioPageLayout.tsx
  apps/web/src/studio/LocalStudioAuthenticator.tsx
  apps/web/src/studio/types.ts
  apps/web/src/utils/segment.ts
  packages/cli/src/commands/dev/dev.ts
  packages/cli/src/dev-server/http-server.ts
  packages/cli/src/index.ts
Labels: @novu/web

#5995 refactor(framework): Move API servers into collective folder
  apps/api/e2e/echo.server.ts
  packages/framework/package.json
  packages/framework/src/client.test.ts
  packages/framework/src/client.ts
  packages/framework/src/client.validation.test.ts
  packages/framework/src/constants/cron.constants.ts
  packages/framework/src/constants/http-headers.constants.ts
  packages/framework/src/constants/index.ts
  packages/framework/src/constants/version.constants.ts
  packages/framework/src/constants/version.test.ts
  packages/framework/src/handler.ts
  packages/framework/src/index.ts
  packages/framework/src/resources/index.ts
  packages/framework/src/resources/workflow.test.ts
  packages/framework/src/resources/workflow.ts
  packages/framework/src/schemas/providers/index.ts
  packages/framework/src/servers/express.ts
  packages/framework/src/servers/h3.ts
  packages/framework/src/servers/next.ts
  packages/framework/src/servers/nuxt.ts
  packages/framework/src/servers/remix.ts
  packages/framework/src/servers/sveltekit.ts
  packages/framework/src/types/index.ts
  packages/framework/src/types/server.types.ts
  packages/framework/src/types/step.types.ts
  packages/framework/src/types/workflow.types.ts
  packages/framework/src/version.ts
  packages/framework/tsup.config.ts
Labels: @novu/api

#6005 feat(web): refetch discovery after bridge url update
  apps/api/src/app/environments/usecases/update-environment/update-environment.usecase.ts
  apps/web/src/studio/hooks/useBridgeAPI.ts
Labels: @novu/api, @novu/web

#5836 feat(api): inbox - update the notification status endpoint
  .cspell.json
  apps/api/src/app/inbox/dtos/action-type-request.dto.ts
  apps/api/src/app/inbox/e2e/get-notifications-count.e2e.ts
  apps/api/src/app/inbox/e2e/get-notifications.e2e.ts
  apps/api/src/app/inbox/e2e/mark-notification-as.e2e.ts
  apps/api/src/app/inbox/e2e/update-notification-action.e2e.ts
  apps/api/src/app/inbox/inbox.controller.ts
  apps/api/src/app/inbox/usecases/get-notifications/get-notifications.spec.ts
  apps/api/src/app/inbox/usecases/get-notifications/get-notifications.usecase.ts
  apps/api/src/app/inbox/usecases/index.ts
  apps/api/src/app/inbox/usecases/mark-many-notifications-as/mark-many-notifications-as.command.ts
  apps/api/src/app/inbox/usecases/mark-many-notifications-as/mark-many-notifications-as.spec.ts
  apps/api/src/app/inbox/usecases/mark-many-notifications-as/mark-many-notifications-as.usecase.ts
  apps/api/src/app/inbox/usecases/mark-notification-as/mark-notification-as.command.ts
  apps/api/src/app/inbox/usecases/mark-notification-as/mark-notification-as.spec.ts
  apps/api/src/app/inbox/usecases/mark-notification-as/mark-notification-as.usecase.ts
  apps/api/src/app/inbox/usecases/notifications-count/notifications-count.spec.ts
  apps/api/src/app/inbox/usecases/notifications-count/notifications-count.usecase.ts
  apps/api/src/app/inbox/usecases/session/session.usecase.ts
  apps/api/src/app/inbox/usecases/update-notification-action/update-notification-action.command.ts
  apps/api/src/app/inbox/usecases/update-notification-action/update-notification-action.spec.ts
  apps/api/src/app/inbox/usecases/update-notification-action/update-notification-action.usecase.ts
  apps/api/src/app/inbox/utils/analytics.ts
  apps/api/src/app/inbox/utils/notification-mapper.ts
  apps/api/src/app/inbox/utils/types.ts
  apps/api/src/app/shared/dtos/cursor-pagination-request.ts
  libs/dal/src/repositories/message/message.repository.ts
Labels: @novu/api, @novu/dal

#6007 feat(web,cli): change favicons
  apps/web/public/favicon-gradient.svg
  apps/web/public/favicon.svg
  apps/web/public/index.html
  apps/web/src/studio/components/GetStartedPageV2/Development.tsx
  apps/web/src/studio/components/GetStartedPageV2/GithubAction.tsx
  apps/web/src/studio/components/GetStartedPageV2/Studio.tsx
  apps/web/src/studio/components/GetStartedPageV2/ide.tsx
  packages/cli/src/dev-server/http-server.ts
Labels: @novu/web

#6022 refactor(web): use namespace import for MixPanel
  apps/web/src/hooks/useNovuAPI.ts
  apps/web/src/utils/segment.ts
Labels: @novu/web

#6019 chore(repo): Bump AWS Github actions
  .github/workflows/dev-deploy-api.yml
  .github/workflows/dev-deploy-inbound-mail.yml
  .github/workflows/dev-deploy-ws.yml
  .github/workflows/reusable-app-service-deploy.yml
  .github/workflows/reusable-workers-service-deploy.yml
Labels: CI/CD

#6024 fix(web): Use `refetch` in dependency array for discovery refetch
  apps/web/src/studio/components/workflows/landing-page/LocalStudioWorkflowLandingPage.tsx
  apps/web/src/studio/hooks/useBridgeAPI.ts
Labels: @novu/web

#6023 chore(api,worker): Just deploy Novu Cloud to staging
  .github/workflows/dev-deploy-api.yml
  .github/workflows/dev-deploy-worker.yml
Labels: CI/CD

#6025 feat(worker): extract i18n instance from command serialization
  apps/api/src/app/content-templates/content-templates.controller.ts
  apps/web/tests/header.spec.ts
  apps/web/tests/utils/plugins.ts
  apps/worker/package.json
  apps/worker/src/app/workflow/usecases/send-message/send-message-chat.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-email.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-in-app.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-push.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-sms.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message.base.ts
  libs/application-generic/src/usecases/compile-email-template/compile-email-template.usecase.ts
  libs/application-generic/src/usecases/compile-in-app-template/compile-in-app-template.usecase.ts
  libs/application-generic/src/usecases/compile-step-template/compile-step-template.usecase.ts
  libs/application-generic/src/usecases/compile-template/compile-template.command.ts
  libs/application-generic/src/usecases/compile-template/compile-template.usecase.ts
  pnpm-lock.yaml
Labels: @novu/api, @novu/web, @novu/worker

#5976 refactor(web): Use context instead of non-singleton Auth hook
  apps/web/src/Providers.tsx
  apps/web/src/auth/AuthContextProvider.tsx
  apps/web/src/auth/auth.const.ts
  apps/web/src/auth/getToken.ts
  apps/web/src/auth/getTokenClaims.ts
  apps/web/src/auth/useCreateAuthContext.ts
  apps/web/src/ee/translations/components/CreateGroupSidebar.tsx
  apps/web/src/ee/translations/components/EditGroupSidebar.tsx
  apps/web/src/hooks/useAuth.tsx
  apps/web/src/hooks/useNovuAPI.ts
Labels: @novu/web

#6013 feat(web, cli): sync the url between http server and dashboard
  apps/web/src/auth/AuthContextProvider.tsx
  apps/web/src/auth/useCreateAuthContext.ts
  apps/web/src/components/execution-detail/ExecutionDetailsStepHeader.tsx
  apps/web/src/components/execution-detail/helpers.ts
  apps/web/src/studio/StudioPageLayout.tsx
  packages/cli/src/dev-server/http-server.ts
Labels: @novu/web

#6033 chore(api): Rename WEBHOOK_SECRET
  .github/workflows/reusable-api-e2e.yml
  apps/api/src/.env.development
  apps/api/src/.env.production
Labels: CI/CD

#6036 feat(web): Add onboarding as the first post-signup
  .vscode/launch.json
  .vscode/tasks.json
  apps/web/src/AppRoutes.tsx
  apps/web/src/components/layout/components/v2/SyncInfoModal.tsx
  apps/web/src/constants/routes.ts
  apps/web/src/pages/auth/components/QuestionnaireForm.tsx
  apps/web/src/pages/auth/onboarding/Onboarding.tsx
  apps/web/src/pages/get-started/components/CodeSnippet.tsx
  apps/web/src/pages/templates/WorkflowListPage.tsx
  apps/web/src/studio/components/GetStartedPageV2/index.tsx
  libs/novui/package.json
Labels: @novu/web, @novu/novui

#6043 chore(root): update staging URLs
  .github/workflows/dev-deploy-web.yml
  .github/workflows/dev-deploy-widget.yml
  .github/workflows/reusable-web-deploy.yml
  apps/api/src/.env.development
  apps/web/src/config/index.ts
  packages/cli/src/commands/dev/enums.ts
Labels: @novu/web, CI/CD

#6044 feat: add minor studio improvements
  apps/web/public/static/images/standalone-dark-theme.svg
  apps/web/public/static/images/standalone-light-theme.svg
  apps/web/src/components/layout/components/LocalStudioSidebar/LocalStudioSidebarContent.tsx
  apps/web/src/components/layout/components/LocalStudioSidebar/LocalStudioSidebarOrganizationDisplay.tsx
  apps/web/src/components/layout/components/v2/BridgeMenuItems.tsx
Labels: @novu/web

#6046 fix(ee-auth): onboarding check
  apps/web/src/components/layout/components/EnsureOnboardingComplete.tsx
Labels: @novu/web

#6052 Plat 2 migrate novu staging environment to novu stagingcom
  apps/api/src/config/cors.config.spec.ts
  apps/api/src/config/cors.config.ts
  apps/api/src/config/env.validators.ts
Labels: @novu/api

#6039 feat(framework): add first five schemas for providers
  .cspell.json
  .github/workflows/conventional-commit.yml
  .github/workflows/prepare-cloud-release.yaml
  packages/framework/.eslintrc.js
  packages/framework/README.md
  packages/framework/package.json
  packages/framework/scripts/INSTRUCTIONS.md
  packages/framework/scripts/devtool.ts
  packages/framework/scripts/schema_input.json
  packages/framework/scripts/schema_output.json
  packages/framework/src/client.test.ts
  packages/framework/src/schemas/providers/chat/slack.schema.ts
  packages/framework/src/schemas/providers/email/index.ts
  packages/framework/src/schemas/providers/email/mailgun.schema.ts
  packages/framework/src/schemas/providers/email/mailjet.schema.ts
  packages/framework/src/schemas/providers/email/nodemailer.schema.ts
  packages/framework/src/schemas/providers/email/novu-email.schema.ts
  packages/framework/src/schemas/providers/email/sendgrid.schema.ts
  packages/framework/src/schemas/providers/inApp/index.ts
  packages/framework/src/schemas/providers/inApp/novu-inapp.schema.ts
  packages/framework/src/schemas/providers/push/apns.schema.ts
  packages/framework/src/schemas/providers/push/expo.schema.ts
  packages/framework/src/schemas/providers/push/fcm.schema.ts
  packages/framework/src/schemas/providers/push/index.ts
  packages/framework/src/schemas/providers/push/one-signal.schema.ts
  packages/framework/src/schemas/providers/sms/index.ts
  packages/framework/src/schemas/providers/sms/novu-sms.schema.ts
  packages/framework/src/schemas/providers/sms/twilio.ts
  packages/framework/tsconfig.json
  pnpm-lock.yaml
Labels: CI/CD

#6048 fix(ee-auth): update session when org metadata are updated
  apps/web/src/auth/useCreateAuthCommunity.ts
  apps/web/src/components/providers/CommunityAuthProvider.tsx
  apps/web/src/ee/clerk/components/QuestionnaireForm.tsx
  apps/web/src/ee/clerk/providers/EnterpriseAuthProvider.tsx
  apps/web/src/ee/clerk/providers/useCreateAuthEnterprise.ts
Labels: @novu/web

#6054 fix(ee-auth): retrieve user organizations list from clerk
  apps/web/src/ee/clerk/providers/useCreateAuthEnterprise.ts
  apps/web/src/pages/auth/components/LoginForm.tsx
Labels: @novu/web

#6015 feat(api): vercel sync integration for marketplace
  .vscode/tasks.json
  apps/api/.swcrc
  apps/api/src/app/bridge/usecases/sync/sync.command.ts
  apps/api/src/app/partner-integrations/partner-integrations.controller.ts
  apps/api/src/app/partner-integrations/partner-integrations.module.ts
  apps/api/src/app/partner-integrations/usecases/complete-vercel-integration/complete-vercel-integration.usecase.ts
  apps/api/src/app/partner-integrations/usecases/index.ts
  apps/api/src/app/partner-integrations/usecases/process-vercel-webhook/process-vercel-webhook.command.ts
  apps/api/src/app/partner-integrations/usecases/process-vercel-webhook/process-vercel-webhook.usecase.ts
  apps/api/src/metadata.ts
Labels: @novu/api

#6055 fix(api): delete all credentials of one providerId type
  apps/api/src/app/subscribers/usecases/delete-subscriber-credentials/delete-subscriber-credentials.spec.ts
  apps/api/src/app/subscribers/usecases/delete-subscriber-credentials/delete-subscriber-credentials.usecase.ts
  apps/api/src/app/subscribers/usecases/index.ts
Labels: @novu/api

#6068 fix(web): translation e2e tests
  apps/web/src/components/providers/CommunityAuthProvider.tsx
  apps/web/src/ee/translations/components/DefaultLocaleModal/index.tsx
Labels: @novu/web

#6069 fix(api): replace axios instance with test agent in events e2e
  apps/api/src/app/events/e2e/test-email.e2e.ts
Labels: @novu/api

#6070 fix(api): fix user registration e2e - removal of env from token
  apps/api/src/app/auth/e2e/user-registration.e2e.ts
Labels: @novu/api

#6072 fix(api): get organizations e2e
  apps/api/src/app/organization/e2e/get-organizations.e2e.ts
  libs/testing/src/user.session.ts
Labels: @novu/api

#6073 feat(worker): Disable inline-css behind feature flag
  apps/worker/src/app/workflow/usecases/send-message/send-message-email.usecase.ts
  libs/shared/src/types/feature-flags/feature-flags.ts
Labels: @novu/shared, @novu/worker

#6071 fix(api): Ensure that environment switching endpoints is backwards compatible
  apps/api/src/app/auth/e2e/switch-environment.e2e.ts
  libs/application-generic/src/services/auth/auth.service.interface.ts
  libs/application-generic/src/services/auth/auth.service.ts
  libs/application-generic/src/services/auth/community.auth.service.ts
  libs/application-generic/src/usecases/switch-environment/switch-environment.usecase.ts
  libs/application-generic/src/utils/inject-repositories.ts
Labels: @novu/api

#6076 fix(web): Restore all variants specs
  apps/web/tests/navbar-sidebar.spec.ts
  apps/web/tests/page-models/sidebarPage.ts
  apps/web/tests/utils/browser.ts
  apps/web/tests/variants.spec.ts
Labels: @novu/web

#6074 feat(api): inbox - update the mark single/all notification endpoint urls
  apps/api/src/app/inbox/e2e/mark-notification-as.e2e.ts
  apps/api/src/app/inbox/e2e/update-all-notifications.e2e.ts
  apps/api/src/app/inbox/inbox.controller.ts
Labels: @novu/api

#6081 fix(web): Restore Local Studio opening
  apps/web/src/ApplicationReadyGuard.tsx
Labels: @novu/web

#6083 chore(web): ensure onboarding for v2 works
  apps/web/src/components/layout/components/EnsureOnboardingComplete.tsx
  apps/web/src/components/providers/EnvironmentProvider.tsx
  apps/web/src/ee/clerk/pages/SignInPage.tsx
  apps/web/src/ee/clerk/providers/ClerkProvider.tsx
  apps/web/src/ee/clerk/providers/useCreateAuthEnterprise.ts
  apps/web/src/studio/LocalStudioAuthenticator.tsx
Labels: @novu/web

#6086 chore(js): update the sdk with the latest api changes
  apps/api/src/app/inbox/e2e/get-notifications.e2e.ts
  apps/api/src/app/inbox/e2e/mark-notification-as.e2e.ts
  apps/api/src/app/inbox/utils/notification-mapper.ts
  apps/api/src/app/inbox/utils/types.ts
  packages/js/src/api/inbox-service.ts
  packages/js/src/api/types.ts
  packages/js/src/event-emitter/types.ts
  packages/js/src/feeds/feeds.ts
  packages/js/src/feeds/helpers.ts
  packages/js/src/feeds/notification.ts
  packages/js/src/feeds/types.ts
  packages/js/src/types.ts
  packages/js/src/ui/api/hooks/useReadAll.ts
  packages/js/test-sdk.ts
Labels: @novu/api

#6089 fix(web): don't show org form twice for new users
  apps/web/src/pages/auth/components/QuestionnaireForm.tsx
Labels: @novu/web

#6091 fix(api, web): More fixes on env and org switching
  apps/api/src/app/auth/services/passport/jwt.strategy.ts
  apps/web/src/components/providers/CommunityAuthProvider.tsx
  apps/web/src/components/providers/EnvironmentProvider.tsx
  apps/web/src/ee/billing/utils/hooks/useSubscription.ts
  libs/application-generic/src/services/auth/community.auth.service.ts
Labels: @novu/api, @novu/web

#6093 fix(api): bring back reload organization callback
  apps/web/src/ee/clerk/providers/EnterpriseAuthProvider.tsx
Labels: @novu/web

#6094 chore(web): remove unused auth provider hook
  apps/web/src/ee/clerk/providers/useCreateAuthEnterprise.ts
Labels: @novu/web

#6050 feat(novui,web): Apply CSS Layers
  apps/web/package.json
  apps/web/panda.config.ts
  apps/web/src/Providers.tsx
  apps/web/src/components/nav/Aside.tsx
  apps/web/src/index.css
  apps/web/src/index.tsx
  apps/web/src/pages/studio-onboarding/components/Wrapper.tsx
  apps/web/src/studio/components/OutlineButton.tsx
  libs/novui/.storybook/preview.tsx
  libs/novui/package.json
  libs/novui/src/components/input/Input.stories.tsx
  libs/novui/src/global.styles.ts
  libs/novui/src/index.css
  libs/novui/src/index.ts
  libs/novui/src/recipes/button.recipe.ts
  libs/novui/src/recipes/checkbox.recipe.ts
  libs/novui/src/recipes/input.recipe.ts
  libs/novui/src/recipes/loading-overlay.recipe.ts
  libs/novui/src/recipes/select.recipe.ts
  libs/novui/src/recipes/tabs.recipe.ts
  pnpm-lock.yaml
Labels: @novu/web, @novu/novui

#6029 feat(novui): Re-style Step Controls
  libs/novui/.storybook/preview.tsx
  libs/novui/src/components/button/Button.const.ts
  libs/novui/src/components/button/Button.tsx
  libs/novui/src/components/button/IconButton.tsx
  libs/novui/src/json-schema-components/JsonSchemaForm.stories.tsx
  libs/novui/src/json-schema-components/JsonSchemaForm.tsx
  libs/novui/src/json-schema-components/shared.tsx
  libs/novui/src/json-schema-components/templates/ArrayFieldTemplate.tsx
  libs/novui/src/json-schema-components/templates/IconButton.tsx
  libs/novui/src/json-schema-components/templates/ObjectFieldTemplate.tsx
  libs/novui/src/json-schema-components/useExpandToggle.tsx
  libs/novui/src/json-schema-components/utils.ts
  libs/novui/src/panda-preset.ts
  libs/novui/src/recipes/button.recipe.ts
  libs/novui/src/recipes/index.ts
  libs/novui/src/recipes/json-schema-form.recipe.ts
  libs/novui/src/tokens/semanticColors.tokens.ts
Labels: @novu/novui

#6056 ci(root): add ee clerk e2e tests to dev deploy
  .github/workflows/dev-deploy-api.yml
Labels: CI/CD

#6098 fix(web): ensure we wait for loads to happen
  apps/web/src/components/providers/EnvironmentProvider.tsx
  apps/web/src/components/providers/createContextAndHook.ts
Labels: @novu/web

#6096 fix(web): add internal id condition to ee switch org callback
  apps/web/src/ee/clerk/providers/EnterpriseAuthProvider.tsx
Labels: @novu/web

#6077 feat(js): Com 70 the endpoint that returns all preferences global workflow
  apps/api/src/app/inbox/dtos/get-preferences-response.dto.ts
  apps/api/src/app/inbox/e2e/get-preferences.e2e.ts
  apps/api/src/app/inbox/inbox.controller.ts
  apps/api/src/app/inbox/usecases/get-preferences/get-preferences.command.ts
  apps/api/src/app/inbox/usecases/get-preferences/get-preferences.spec.ts
  apps/api/src/app/inbox/usecases/get-preferences/get-preferences.usecase.ts
  apps/api/src/app/inbox/usecases/index.ts
  apps/api/src/app/inbox/utils/analytics.ts
  apps/api/src/metadata.ts
  libs/shared/src/entities/subscriber-preference/subscriber-preference.interface.ts
Labels: @novu/api, @novu/shared

#6107 fix(worker): Use Bridge data for Delay step during stateful execution
  apps/worker/src/app/workflow/usecases/add-job/add-delay-job.usecase.ts
  apps/worker/src/app/workflow/usecases/add-job/add-job.usecase.ts
Labels: @novu/worker

#6090 chore(client): add the novu api version header
  apps/api/src/app/inbox/dtos/button-type-request.dto.ts
  apps/api/src/metadata.ts
  packages/client/src/http-client/http-client.ts
  packages/js/src/api/inbox-service.ts
Labels: @novu/api

#6105 chore(api): inbox - improve the avatar and subject fields on the notification interface
  apps/api/src/app/inbox/utils/notification-mapper.ts
  apps/api/src/app/inbox/utils/types.ts
  libs/dal/src/repositories/message/message.entity.ts
  libs/dal/src/repositories/message/message.schema.ts
  packages/js/src/feeds/notification.ts
  packages/js/src/types.ts
Labels: @novu/api, @novu/dal

#6095 feat(root): Create clean-build.sh
  libs/novui/src/json-schema-components/shared.tsx
  scripts/clean-build.sh
Labels: scripts, @novu/novui

#6111 fix(worker): Update metadata when handling Bridge application digest
  .github/workflows/on-pr.yml
  apps/api/src/app/events/e2e/bridge-health-check.e2e.ts
  apps/api/src/app/events/e2e/bridge-sync.e2e.ts
  apps/api/src/app/events/e2e/bridge-trigger.e2e.ts
  apps/worker/src/app/workflow/usecases/add-job/add-job.usecase.ts
Labels: @novu/api, @novu/worker, CI/CD

#6058 feat(web): GRW-12 - create a bridge app with sample workflows for new signups
  apps/api/src/app/bridge/usecases/sync/sync.usecase.ts
  apps/web/src/AppRoutes.tsx
  apps/web/src/components/layout/components/PrivatePageLayout.tsx
  apps/web/src/components/layout/components/v2/SampleWorkflowsBanner.tsx
  apps/web/src/components/nav/RootNavMenu.tsx
  apps/web/src/config/index.ts
  apps/web/src/pages/auth/components/QuestionnaireForm.tsx
  apps/web/src/pages/templates/WorkflowListPage.tsx
  apps/web/src/studio/components/GetStartedPageV2/index.tsx
  apps/web/src/studio/components/OpenLocalStudioModal.tsx
Labels: @novu/api, @novu/web

#6116 feat(js): Com 71 the endpoint to update preferences global workflow
  apps/api/src/app/inbox/dtos/update-preferences-request.dto.ts
  apps/api/src/app/inbox/e2e/update-preferences.e2e.ts
  apps/api/src/app/inbox/inbox.controller.ts
  apps/api/src/app/inbox/usecases/get-preferences/get-preferences.spec.ts
  apps/api/src/app/inbox/usecases/index.ts
  apps/api/src/app/inbox/usecases/update-preferences/update-preferences.command.ts
  apps/api/src/app/inbox/usecases/update-preferences/update-preferences.spec.ts
  apps/api/src/app/inbox/usecases/update-preferences/update-preferences.usecase.ts
  apps/api/src/app/inbox/utils/analytics.ts
  apps/api/src/metadata.ts
Labels: @novu/api

#6114 fix(web): V2 minor fixes
  apps/web/src/components/layout/components/LocalStudioSidebar/LocalStudioSidebarContent.tsx
  apps/web/src/components/layout/components/LocalStudioSidebar/LocalStudioSidebarToggleButton.tsx
  apps/web/src/components/nav/NavMenuButton/NavMenuToggleButton.tsx
  apps/web/src/components/workflow/preview/ErrorPrettyRender.tsx
  apps/web/src/studio/components/workflows/step-editor/WorkflowStepEditorControlsPanel.tsx
  packages/cli/src/commands/init/templates/github/workflows/novu.yml
Labels: @novu/web

#6126 fix(web): vercel logged in flow
  apps/web/src/pages/auth/components/LoginForm.tsx
  apps/web/src/pages/auth/components/QuestionnaireForm.tsx
Labels: @novu/web

#6127 refactor(web): update sandbox endpoint to remove push channels
  apps/web/src/components/layout/components/PrivatePageLayout.tsx
  apps/web/src/config/index.ts
Labels: @novu/web

#6121 feat(api): change sync org request scope to default (singleton)
  apps/api/src/app/organization/usecases/create-organization/sync-external-organization/sync-external-organization.usecase.ts
Labels: @novu/api

#6136 refactor(worker): use 'system' for environmentId and userId for inline-css flag evaluation
  apps/worker/src/app/workflow/usecases/send-message/send-message-email.usecase.ts
Labels: @novu/worker

#6141 fix(web): Simplify enterprise sign up
  apps/web/src/ee/clerk/pages/OrganizationListPage.tsx
Labels: @novu/web

#6147 fix(web): make clerk redirect properly
  apps/web/src/ee/clerk/pages/OrganizationListPage.tsx
  apps/web/src/ee/clerk/providers/ClerkProvider.tsx
Labels: @novu/web

#6148 fix(web): include required env vars for proper clerk deployment in gi…
  .github/workflows/reusable-web-deploy.yml
  apps/web/.env.sample
Labels: CI/CD

#6012 fix(api): Replace hat randomID generation with native node crypto
  apps/api/package.json
  apps/api/src/app/environments/usecases/generate-unique-api-key/generate-unique-api-key.usecase.ts
  apps/api/src/app/events/usecases/parse-event-request/parse-event-request.usecase.ts
  apps/api/src/app/storage/usecases/get-signed-url/get-signed-url.usecase.ts
  pnpm-lock.yaml
Labels: @novu/api

#6122 chore(novu, framework, worker, application-generic): Publish prerelease and improve types
  apps/worker/src/app/workflow/usecases/add-job/add-job.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-chat.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-sms.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message.command.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message.usecase.ts
  libs/application-generic/src/utils/bridge.ts
  packages/cli/package.json
  packages/framework/.eslintrc.js
  packages/framework/package.json
  packages/framework/src/client.test.ts
  packages/framework/src/client.ts
  packages/framework/src/errors/base.errors.ts
  packages/framework/src/errors/execution.errors.ts
  packages/framework/src/handler.test.ts
  packages/framework/src/handler.ts
  packages/framework/src/resources/workflow.ts
  packages/framework/src/schemas/providers/email/index.ts
  packages/framework/src/schemas/providers/email/sendgrid.schema.ts
  packages/framework/src/schemas/providers/push/index.ts
  packages/framework/src/schemas/providers/sms/index.ts
  packages/framework/src/schemas/steps/actions/delay.schema.ts
  packages/framework/src/schemas/steps/actions/digest.schema.ts
  packages/framework/src/schemas/steps/actions/index.ts
  packages/framework/src/servers/express.ts
  packages/framework/src/types/discover.types.ts
  packages/framework/src/types/execution.types.ts
  packages/framework/src/types/provider.types.ts
  packages/framework/src/types/schema.types.ts
  packages/framework/src/types/step.types.ts
  packages/framework/src/types/util.types.ts
  packages/framework/src/types/validator.types.ts
  packages/framework/src/types/workflow.types.ts
  packages/framework/src/utils/clone.utils.test.ts
  packages/framework/src/utils/clone.utils.ts
  packages/framework/src/utils/http.utils.ts
  packages/framework/src/validators/base.validator.ts
  packages/framework/src/validators/json-schema.validator.ts
  packages/framework/src/validators/validator.test.ts
  packages/framework/src/validators/zod.validator.ts
  packages/framework/tsconfig.json
Labels: @novu/worker

#6153 chore(web): adjust staging settings
  .github/workflows/dev-deploy-web.yml
Labels: CI/CD

#6157 chore(root): update clerk sdk to version supporting multi app domains
  enterprise/packages/auth/package.json
  libs/shared/package.json
  libs/testing/package.json
  pnpm-lock.yaml
Labels: @novu/shared

#6145 chore(novui): Setup Panda-learning resources
  libs/novui/.storybook/preview.tsx
  libs/novui/package.json
  libs/novui/src/panda-sandbox/css.stories.tsx
  libs/novui/src/panda-sandbox/recipes/cva.stories.tsx
  libs/novui/src/panda-sandbox/recipes/sva.stories.tsx
  libs/novui/src/tokens/typography/typography.stories.tsx
Labels: @novu/novui

#6162 fix(web): ensure refresh happens on org and env trigger when in specific workflow
  apps/web/src/components/providers/EnvironmentProvider.tsx
  apps/web/src/ee/clerk/components/OrganizationSwitcher.tsx
Labels: @novu/web

#6164 fix(web): remove duplicate title and description
  apps/web/src/components/layout/components/AuthLayout.tsx
  apps/web/src/ee/clerk/pages/SignInPage.tsx
  apps/web/src/ee/clerk/pages/SignUpPage.tsx
Labels: @novu/web

#6177 chore(web): enable redirect from legacy dashboard url in stage
  apps/web/netlify.toml
Labels: @novu/web

#6179 chore(web): Redirect legacy domain
  apps/web/netlify.toml
Labels: @novu/web

#6176 chore(web): target visual issues in the clerk menu integration
  apps/web/src/components/nav/NavSelect.styles.ts
  apps/web/src/ee/clerk/components/OrganizationSwitcher.tsx
  apps/web/src/ee/clerk/components/UserProfileButton.tsx
  apps/web/src/ee/clerk/providers/ClerkProvider.tsx
Labels: @novu/web

#6174 fix(web): http api client missing env and memoizing jwt
  apps/web/src/api/api.client.ts
  apps/web/src/hooks/useNovuAPI.ts
Labels: @novu/web

#6180 chore(root): move source of clerk config data to workflow params for all envs
  .github/workflows/dev-deploy-web.yml
  .github/workflows/prod-deploy-web.yml
  .github/workflows/reusable-web-deploy.yml
Labels: CI/CD

#6181 fix(web): ee modals overlapping
  apps/web/src/components/layout/components/v2/HeaderNav.tsx
  apps/web/src/ee/clerk/providers/ClerkProvider.tsx
Labels: @novu/web

#6117 feat(js): Com 95 add preferences method to sdk and UI
  apps/api/src/app/inbox/dtos/get-preferences-response.dto.ts
  apps/api/src/app/inbox/e2e/get-preferences.e2e.ts
  apps/api/src/app/inbox/e2e/update-preferences.e2e.ts
  apps/api/src/app/inbox/usecases/get-preferences/get-preferences.spec.ts
  apps/api/src/app/inbox/usecases/get-preferences/get-preferences.usecase.ts
  apps/api/src/app/inbox/usecases/update-preferences/update-preferences.usecase.ts
  apps/api/src/metadata.ts
  libs/shared/src/entities/subscriber-preference/subscriber-preference.interface.ts
  packages/js/src/api/inbox-service.ts
  packages/js/src/event-emitter/types.ts
  packages/js/src/preferences/helpers.ts
  packages/js/src/preferences/preference.ts
  packages/js/src/preferences/preferences.ts
  packages/js/src/preferences/types.ts
  packages/js/src/types.ts
  packages/js/src/ui/api/hooks/usePreferences.ts
  packages/js/src/ui/components/elements/Settings/ChannelRow.tsx
Labels: @novu/api, @novu/shared

#6182 fix(root): include missing environment declaration
  .github/workflows/dev-deploy-web.yml
  .github/workflows/prod-deploy-web.yml
Labels: CI/CD

#6159 feat(js): inbox support multiple counts for the provided filters
  apps/api/src/app/inbox/dtos/get-notifications-count-request.dto.ts
  apps/api/src/app/inbox/dtos/get-notifications-count-response.dto.ts
  apps/api/src/app/inbox/e2e/get-notifications-count.e2e.ts
  apps/api/src/app/inbox/inbox.controller.ts
  apps/api/src/app/inbox/usecases/notifications-count/notifications-count.command.ts
  apps/api/src/app/inbox/usecases/notifications-count/notifications-count.spec.ts
  apps/api/src/app/inbox/usecases/notifications-count/notifications-count.usecase.ts
  apps/api/src/app/inbox/usecases/session/session.spec.ts
  apps/api/src/app/inbox/usecases/session/session.usecase.ts
  apps/api/src/metadata.ts
  packages/js/src/api/inbox-service.ts
  packages/js/src/feeds/feeds.ts
  packages/js/src/feeds/types.ts
  packages/js/src/ui/api/hooks/useFetchUnreadCount.ts
Labels: @novu/api

#6185 fix(root): Put in real values into variables (they are not secret)
  .github/workflows/dev-deploy-web.yml
  .github/workflows/prod-deploy-web.yml
Labels: CI/CD

#6186 fix(web): dedicated billing page for ee (tmp)
  apps/web/src/AppRoutes.tsx
  apps/web/src/components/layout/components/FreeTrialSidebarWidget.tsx
  apps/web/src/ee/billing/components/FreeTrialSidebarWidget.tsx
Labels: @novu/web

#6175 feat(web): Add color scheme toggle to Studio
  apps/web/src/components/layout/components/LocalStudioHeader/LocalStudioHeader.tsx
  apps/web/src/components/layout/components/v2/HeaderNav.tsx
  apps/web/src/components/utils/Spotlight.tsx
  apps/web/src/hooks/useThemeChange.tsx
Labels: @novu/web

#6190 chore(root): prepare to release clerk to prod US [MERGE WHEN READY]
  .github/workflows/prod-deploy-web.yml
  apps/web/netlify.toml
Labels: @novu/web, CI/CD

#6191 fix(api, dal): add access key in dto and integration schema
  apps/api/src/app/integrations/dtos/credentials.dto.ts
  libs/dal/src/repositories/integration/integration.schema.ts
  libs/shared/src/consts/providers/channels/sms.ts
Labels: @novu/api, @novu/dal, @novu/shared

#6198 chore(root): flip wrong flags
  .github/workflows/prod-deploy-web.yml
Labels: CI/CD

#6200 fix(web): prompt onboarding only for users registered after today
  apps/web/src/ApplicationReadyGuard.tsx
Labels: @novu/web

#6205 fix(api): omit clerk call when retrieving org in widgets
  apps/api/src/app/widgets/usecases/get-organization-data/get-organization-data.usecase.ts
Labels: @novu/api

#6207 fix(api): widgets clerk call
  apps/api/src/app/widgets/usecases/get-organization-data/get-organization-data.usecase.ts
Labels: @novu/api

#6195 feat(framework, api, worker, application-generic, dal): Support workflow tags in Framework
  apps/api/src/app/bridge/usecases/sync/sync.usecase.ts
  apps/worker/src/app/workflow/services/standard.worker.spec.ts
  apps/worker/src/app/workflow/usecases/run-job/run-job.usecase.ts
  apps/worker/src/app/workflow/usecases/subscriber-job-bound/subscriber-job-bound.usecase.ts
  libs/application-generic/src/usecases/create-notification-jobs/create-notification-jobs.command.ts
  libs/application-generic/src/usecases/create-notification-jobs/create-notification-jobs.usecase.ts
  libs/dal/src/repositories/notification/notification.entity.ts
  libs/dal/src/repositories/notification/notification.schema.ts
  packages/framework/src/resources/workflow.ts
  packages/framework/src/types/discover.types.ts
  packages/framework/src/types/workflow.types.ts
Labels: @novu/api, @novu/dal, @novu/worker

#6208 fix(api): add community org repo as dependency to widgets module
  apps/api/src/app/widgets/widgets.module.ts
Labels: @novu/api

#6184 chore(js): inbox sdk interface and events improvements
  apps/api/src/metadata.ts
  packages/js/src/api/inbox-service.ts
  packages/js/src/base-module.ts
  packages/js/src/event-emitter/types.ts
  packages/js/src/feeds/feeds.ts
  packages/js/src/notifications/helpers.ts
  packages/js/src/notifications/index.ts
  packages/js/src/notifications/notification.ts
  packages/js/src/notifications/notifications.ts
  packages/js/src/notifications/types.ts
  packages/js/src/novu.test.ts
  packages/js/src/novu.ts
  packages/js/src/preferences/helpers.ts
  packages/js/src/preferences/preference.ts
  packages/js/src/preferences/preferences.ts
  packages/js/src/session/session.ts
  packages/js/src/types.ts
  packages/js/src/ui/api/hooks/index.ts
  packages/js/src/ui/api/hooks/useFeed.ts
  packages/js/src/ui/api/hooks/useFetchUnreadCount.ts
  packages/js/src/ui/api/hooks/useNotifications.ts
  packages/js/src/ui/api/hooks/usePreferences.ts
  packages/js/src/ui/api/hooks/useReadAll.ts
  packages/js/src/ui/components/Notification/NotificationList.tsx
  packages/js/src/ui/components/elements/Header/MoreActionsOptions.tsx
  packages/js/src/ui/context/InboxNotificationStatusContext.tsx
  packages/js/src/ui/context/UnreadCountContext.tsx
  packages/js/src/utils/api-service-singleton.ts
  packages/js/src/utils/base-module.ts
  packages/js/src/utils/errors.ts
  packages/js/src/ws/socket.ts
  packages/js/test-sdk.ts
Labels: @novu/api

#6210 chore(root): Parallelize EU/US deployment
  .github/workflows/prod-deploy-api.yml
Labels: CI/CD

#6211 fix(api): Remove admin check and track always
  apps/api/src/app/subscribers/usecases/update-subscriber-preference/update-subscriber-preference.usecase.ts
Labels: @novu/api
