Repository novuhq/novu, pull requests merged in 2024-04, with the labels that each got.

#5342 fix: used mantine color scheme hook to handle color scheme
  apps/web/src/pages/templates/WorkflowListPage.tsx
  apps/web/src/pages/templates/components/WorkflowSidebar.tsx
Labels: @novu/web

#5305 [Information Architecture] API Keys Page
  apps/web/cypress/global.d.ts
  apps/web/cypress/support/commands.ts
  apps/web/cypress/tests/settings/api-keys.spec.ts
  apps/web/src/SettingsRoutes.tsx
  apps/web/src/components/ClipboardIconButton.tsx
  apps/web/src/components/IconButton.tsx
  apps/web/src/components/index.ts
  apps/web/src/components/nav/SettingsNavMenu.tsx
  apps/web/src/pages/settings/ApiKeysPage/ApiKeysPage.tsx
  apps/web/src/pages/settings/ApiKeysPage/index.ts
  apps/web/src/pages/settings/ApiKeysPage/useApiKeysPage.ts
  apps/web/src/pages/settings/ApiKeysPage/useRegenerateApiKeyModal.ts
  apps/web/src/pages/settings/SettingsPageContainer.tsx
  apps/web/src/pages/settings/index.ts
  apps/web/src/pages/settings/tabs/ApiKeysCard.tsx
  apps/web/src/pages/settings/tabs/components/Regenerate.tsx
Labels: @novu/web

#5351 fix: handle resend error case
  apps/worker/src/app/workflow/usecases/send-message/send-message-email.usecase.ts
  providers/resend/src/lib/resend.provider.ts
Labels: providers, @novu/worker

#5327 feat: add product feature interceptor and hook
  apps/api/src/app.module.ts
  apps/api/src/app/shared/decorators/product-feature.decorator.ts
  apps/api/src/app/shared/interceptors/product-feature.interceptor.ts
  apps/api/src/app/testing/product-feature.e2e.ts
  apps/api/src/app/testing/testing.controller.ts
  libs/shared-web/src/hooks/index.ts
  libs/shared-web/src/hooks/useProductFeature.ts
  libs/shared/src/consts/index.ts
  libs/shared/src/consts/productFeatureEnabledForServiceLevel.ts
  libs/shared/src/types/index.ts
  libs/shared/src/types/product-features/index.ts
Labels: @novu/api, @novu/shared

#5354 chore(infra): Remove CI steps for redundant general worker
  .github/workflows/dev-deploy-worker.yml
  .github/workflows/prod-deploy-worker.yml
Labels: CI/CD

#5352 fix: cache validation during notification template promotion
  apps/api/src/app/change/usecases/promote-notification-template-change/promote-notification-template-change.usecase.ts
Labels: @novu/api

#5356 feat(workers): add instrumentation for errors
  apps/worker/src/app/workflow/services/active-jobs-metric.service.ts
  apps/worker/src/app/workflow/services/execution-log.worker.ts
  apps/worker/src/app/workflow/services/standard.worker.ts
  apps/worker/src/app/workflow/services/subscriber-process.worker.ts
  apps/worker/src/app/workflow/services/workflow.worker.ts
Labels: @novu/worker

#5346 Small dx touch leveraging env var in node sdk
  .cspell.json
  .eslintrc.js
  libs/shared/package.json
  libs/shared/src/index.ts
  libs/shared/src/utils/env.ts
  libs/shared/src/utils/index.ts
  packages/node/jest.config.js
  packages/node/package.json
  packages/node/src/lib/novu.interface.ts
  packages/node/src/lib/novu.spec.ts
  packages/node/src/lib/novu.ts
  packages/node/tsconfig.json
  pnpm-lock.yaml
Labels: @novu/shared

#5338 feat: Add type guard to improve error handling
  libs/shared/src/index.ts
  libs/shared/src/utils/checkIsResponseError.spec.ts
  libs/shared/src/utils/checkIsResponseError.ts
  libs/shared/src/utils/index.ts
Labels: @novu/shared

#5358 Conventional comments setup
  scripts/github-conventional-comments.js
Labels: scripts

#5364 fix(worker): Skip template rendering for Echo Workflow steps
  apps/worker/src/app/workflow/usecases/send-message/send-message-chat.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-in-app.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-push.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-sms.usecase.ts
Labels: @novu/worker

#5366 chore(infra): Remove CI steps for redundant general worker
  .github/workflows/dev-deploy-worker.yml
  .github/workflows/prod-deploy-worker.yml
Labels: CI/CD

#5368 fix(worker): Move missing SMS content check inside echo conditional
  apps/worker/src/app/workflow/usecases/send-message/send-message-sms.usecase.ts
Labels: @novu/worker

#5369 fix(worker): Move missing SMS content check inside echo conditional
  apps/worker/src/app/workflow/usecases/send-message/send-message-sms.usecase.ts
Labels: @novu/worker

#5371 fix(notification-center,widget): infinite scroll issue
  apps/widget/cypress/e2e/notifications-list.spec.ts
  apps/widget/cypress/plugins/index.ts
  packages/notification-center/src/components/notification-center/components/NotificationsList.tsx
Labels: @novu/notification-center

#5336 feat: decluttering sentry errors
  apps/web/src/initializeApp.ts
Labels: @novu/web

#5372 fix(web): make InApp code editor fit the height of its parent container
  apps/web/src/pages/templates/components/in-app-editor/InAppEditorBlock.tsx
Labels: @novu/web, community

#5374 feat(ci): add stale bot for pull requests
  .github/workflows/pr-manager.yml
Labels: CI/CD

#5322 feat(web): initial user profile page
  apps/web/src/SettingsRoutes.tsx
  apps/web/src/components/nav/RootNavMenu.tsx
  apps/web/src/pages/settings/SettingsPage.tsx
  apps/web/src/pages/settings/SettingsPageNew.tsx
  apps/web/src/pages/settings/index.ts
  apps/web/src/pages/settings/user-profile-page/UserProfilePage.tsx
  apps/web/src/pages/settings/user-profile-page/index.ts
Labels: @novu/web

#5378 fix: free trial banner
  apps/web/src/components/layout/components/FreeTrialBanner.tsx
  apps/web/src/components/layout/components/FreeTrialSidebarWidget.tsx
  libs/shared-web/src/config.ts
Labels: @novu/web

#5329 feat(web): setting user profile page - security section
  apps/api/src/app/testing/testing.controller.ts
  apps/api/src/app/user/dtos/user-response.dto.ts
  apps/api/src/app/user/usecases/base-user-profile.usecase.ts
  apps/api/src/app/user/usecases/get-my-profile/get-my-profile.usecase.ts
  apps/api/src/app/user/usecases/update-on-boarding-tour/update-on-boarding-tour.usecase.ts
  apps/api/src/app/user/usecases/update-on-boarding/update-on-boarding.usecase.ts
  apps/api/src/app/user/usecases/update-profile-email/update-profile-email.usecase.ts
  apps/web/src/components/IconButton.tsx
  apps/web/src/pages/settings/ApiKeysPage/useApiKeysPage.ts
  apps/web/src/pages/settings/components/InputPlain.tsx
  apps/web/src/pages/settings/components/index.ts
  apps/web/src/pages/settings/user-profile-page/UserProfilePage.tsx
  libs/dal/src/repositories/user/user.entity.ts
  libs/design-system/src/index.ts
  libs/design-system/src/panda/semanticColors.tokens.ts
  libs/shared/src/entities/user/user.interface.ts
Labels: @novu/api, @novu/web, @novu/dal, @novu/shared, @novu/design-system

#5350 [Information Architecture] - API Changes for Reset Password
  apps/api/src/app/auth/auth.controller.ts
  apps/api/src/app/auth/e2e/password-reset.e2e.ts
  apps/api/src/app/auth/usecases/password-reset-request/password-reset-request.command.ts
  apps/api/src/app/auth/usecases/password-reset-request/password-reset-request.usecase.ts
  libs/shared/src/consts/password-helper/PasswordResetFlowEnum.ts
  libs/shared/src/consts/password-helper/index.ts
Labels: @novu/api, @novu/shared

#5382 chore: Remove unused dependencies
  libs/dal/package.json
  libs/shared-web/package.json
  pnpm-lock.yaml
Labels: @novu/dal

#5386 chore(web): Add feature flag for Hubspot onboarding flow
  apps/web/src/pages/auth/QuestionnairePage.tsx
  libs/shared/src/types/feature-flags/feature-flags.ts
Labels: @novu/web, @novu/shared

#5388 chore(web): Add feature flag for Hubspot onboarding flow
  apps/web/src/pages/auth/QuestionnairePage.tsx
  libs/shared/src/types/feature-flags/feature-flags.ts
Labels: @novu/web, @novu/shared, @novu/worker, CI/CD

#5389 feat: add reply to field in resend
  providers/resend/src/lib/resend.provider.spec.ts
  providers/resend/src/lib/resend.provider.ts
Labels: providers

#5314 feat: optimize organization queries
  apps/api/src/app/widgets/usecases/get-organization-data/get-organization-data.usecase.ts
  libs/dal/src/repositories/environment/environment.schema.ts
  libs/dal/src/repositories/notification/notification.schema.ts
  libs/dal/src/repositories/organization/organization.repository.ts
Labels: @novu/api, @novu/dal

#5394 fix: Ensure panda works with nested output directory
  apps/web/panda.config.ts
Labels: @novu/web

#5384 feat(web,api): user profile image upload
  apps/api/src/app/organization/dtos/update-branding-details.dto.ts
  apps/api/src/app/storage/e2e/get-user-profile-picture-signed-url.e2e.ts
  apps/api/src/app/storage/storage.controller.ts
  apps/api/src/app/storage/usecases/get-signed-url/get-signed-url.command.ts
  apps/api/src/app/storage/usecases/get-signed-url/get-signed-url.usecase.ts
  apps/api/src/app/storage/usecases/get-user-profile-picture-signed-url/get-user-profile-picture-signed-url.command.ts
  apps/api/src/app/storage/usecases/get-user-profile-picture-signed-url/get-user-profile-picture-signed-url.usecase.ts
  apps/api/src/app/storage/usecases/index.ts
  apps/api/src/app/user/dtos/update-profile-request.dto.ts
  apps/api/src/app/user/usecases/update-name-and-profile-picture/update-name-and-profile-picture.command.ts
  apps/web/src/api/hooks/index.ts
  apps/web/src/api/hooks/useGetSignedUrl.ts
  apps/web/src/api/hooks/useUploadToStorage.ts
  apps/web/src/api/storage.ts
  apps/web/src/components/shared/ProfileImage.tsx
  apps/web/src/components/shared/UploadInput.tsx
  apps/web/src/pages/brand/tabs/BrandingForm.tsx
  apps/web/src/pages/settings/user-profile-page/UserProfileForm.tsx
  libs/shared/src/types/files/index.ts
  libs/shared/src/types/index.ts
  libs/shared/src/types/storage/index.ts
Labels: @novu/api, @novu/web, @novu/shared

#5391 fix: Ensure health check return the correct status
  apps/api/src/app/health/health.controller.ts
  apps/webhook/src/health/health.controller.ts
  apps/worker/src/app/health/health.controller.ts
  apps/ws/src/health/health.controller.ts
  apps/ws/src/socket/services/ws-server-health-indicator.service.ts
  packages/application-generic/src/health/cache.health-indicator.ts
  packages/application-generic/src/health/dal.health-indicator.ts
Labels: @novu/api, @novu/webhook, @novu/ws, @novu/worker

#5325 [Information Architecture] User Profile | Set Password Flow
  .cspell.json
  apps/api/src/app/auth/usecases/password-reset-request/password-reset-request.usecase.ts
  apps/web/cypress/tests/settings/user-profile.spec.ts
  apps/web/src/hooks/index.ts
  apps/web/src/hooks/useCountdownTimer.ts
  apps/web/src/pages/settings/user-profile-page/UserProfileFlow.const.ts
  apps/web/src/pages/settings/user-profile-page/UserProfilePage.tsx
  apps/web/src/pages/settings/user-profile-page/UserProfilePasswordEmailVerificationSection.tsx
  apps/web/src/pages/settings/user-profile-page/UserProfilePasswordForm.tsx
  apps/web/src/pages/settings/user-profile-page/UserProfilePasswordSidebar.shared.ts
  apps/web/src/pages/settings/user-profile-page/UserProfilePasswordSidebar.tsx
  apps/web/src/pages/settings/user-profile-page/UserProfilePasswordSidebarEnum.ts
  apps/web/src/pages/settings/user-profile-page/UserProfileSidebarContext.tsx
  apps/web/src/pages/settings/user-profile-page/UserProfileSidebarControl.tsx
  apps/web/src/pages/settings/user-profile-page/selectUserProfileFlow.ts
  apps/web/src/pages/settings/user-profile-page/useUserProfileSearchParams.ts
  apps/web/src/pages/settings/user-profile-page/useUserProfileSetPassword.ts
  libs/design-system/src/sidebar/Sidebar.tsx
Labels: @novu/api, @novu/web, @novu/design-system

#5401 feat: add modal on get started page for onboarding experiment v2
  apps/web/src/constants/experimentsConstants.ts
  apps/web/src/pages/auth/components/QuestionnaireForm.tsx
  apps/web/src/pages/quick-start/components/OnboardingExperimentModal.tsx
  apps/web/src/pages/quick-start/steps/GetStarted.tsx
  apps/web/src/pages/templates/components/TriggerSnippetTabs.tsx
  apps/web/src/pages/templates/workflow/WorkflowEditor.tsx
Labels: @novu/web

#5360 Nv 3449 settings organisation profile page
  apps/web/cypress/tests/organization-page.spec.ts
  apps/web/public/static/images/novu.svg
  apps/web/src/SettingsRoutes.tsx
  apps/web/src/api/hooks/index.ts
  apps/web/src/api/hooks/useRenameOrganization.tsx
  apps/web/src/api/hooks/useUpdateOrganizationBranding.tsx
  apps/web/src/api/organization.ts
  apps/web/src/components/shared/ProfileImage.styles.ts
  apps/web/src/pages/settings/organization/OrganizationLogo.tsx
  apps/web/src/pages/settings/organization/OrganizationName.tsx
  apps/web/src/pages/settings/organization/OrganizationPage.tsx
  apps/web/src/pages/settings/organization/index.ts
Labels: @novu/web

#5385 Change pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: CI/CD

#5334 feat: add comparison operators helpers
  libs/shared/src/consts/handlebar-helpers/handlebarHelpers.ts
  packages/application-generic/src/usecases/compile-template/compile-template.spec.ts
  packages/application-generic/src/usecases/compile-template/compile-template.usecase.ts
Labels: @novu/shared, community

#5408 [Information Architecture] Follow-ups & Clean-up
  apps/web/src/SettingsRoutes.tsx
  apps/web/src/components/nav/EnvironmentSelect/EnvironmentSelect.tsx
  apps/web/src/components/nav/EnvironmentSelect/useEnvironmentSelect.tsx
  apps/web/src/components/nav/OrganizationSelect/v2/OrganizationSelect.tsx
  apps/web/src/constants/assets.ts
  apps/web/src/pages/invites/v2/MembersInvitePage.tsx
  apps/web/src/pages/settings/AccessSecurityPage.tsx
  apps/web/src/pages/settings/TeamPage.tsx
  apps/web/src/pages/settings/index.ts
  apps/web/src/pages/settings/organization/OrganizationPage.tsx
Labels: @novu/web

#5313 chore(web): the playwright e2e tests poc
  .cspell.json
  .github/workflows/reusable-web-e2e.yml
  apps/web/.env.playwirght.test
  apps/web/.eslintrc.js
  apps/web/.gitignore
  apps/web/cypress/tests/activity-graph.spec.ts
  apps/web/cypress/tests/digest-playground.spec.ts
  apps/web/cypress/tests/integrations-list-modal.spec.ts
  apps/web/cypress/tests/integrations-list-page.spec.ts
  apps/web/cypress/tests/notification-editor/main-functionality.spec.ts
  apps/web/cypress/tests/start-from-scratch-tour.spec.ts
  apps/web/package.json
  apps/web/panda.config.ts
  apps/web/playwright.config.ts
  apps/web/tests/activity-graph.spec.ts
  apps/web/tests/digest-playground.spec.ts
  apps/web/tests/integrations-list-modal.spec.ts
  apps/web/tests/integrations-list-page.spec.ts
  apps/web/tests/main-functionality.spec.ts
  apps/web/tests/start-from-scratch-tour.spec.ts
  apps/web/tests/utils.ts/browser.ts
  apps/web/tests/utils.ts/integrations.ts
  apps/web/tests/utils.ts/plugins.ts
  apps/web/tests/utils.ts/workflow-editor.ts
  apps/widget/cypress/e2e/notifications-list.spec.ts
  libs/shared-web/src/config.ts
  pnpm-lock.yaml
Labels: @novu/web, CI/CD

#5395 [Information Architecture] Webhook Page
  apps/web/cypress/tests/settings/api-keys.spec.ts
  apps/web/cypress/tests/settings/inbound-webhook.spec.ts
  apps/web/src/SettingsRoutes.tsx
  apps/web/src/components/IconButton.tsx
  apps/web/src/components/Timeline/Timeline.styles.ts
  apps/web/src/components/Timeline/Timeline.tsx
  apps/web/src/components/Timeline/index.ts
  apps/web/src/pages/settings/ApiKeysPage/ApiKeysPage.tsx
  apps/web/src/pages/settings/ApiKeysPage/useApiKeysPage.ts
  apps/web/src/pages/settings/SettingsPageContainer.tsx
  apps/web/src/pages/settings/WebhookPage/WebhookAdditionalInformationLink.tsx
  apps/web/src/pages/settings/WebhookPage/WebhookClaimStatusDisplay.tsx
  apps/web/src/pages/settings/WebhookPage/WebhookPage.shared.tsx
  apps/web/src/pages/settings/WebhookPage/WebhookPage.tsx
  apps/web/src/pages/settings/WebhookPage/WebhookPage.types.ts
  apps/web/src/pages/settings/WebhookPage/getWebhookClaimStatusFromEnvironment.ts
  apps/web/src/pages/settings/WebhookPage/index.ts
  apps/web/src/pages/settings/WebhookPage/useWebhookPage.ts
  apps/web/src/pages/settings/useSettingsEnvRedirect.ts
  libs/design-system/src/config/inputs.styles.ts
  libs/design-system/src/panda/NovuPandaPreset.ts
  libs/design-system/src/panda/semanticSizes.tokens.ts
Labels: @novu/web, @novu/design-system

#5411 chore(ci): remove the api docker image build job from the test pipeline
  .github/workflows/test.yml
Labels: CI/CD

#5413 fix: add domain parser hook and domain condition
  .cspell.json
  apps/web/src/pages/auth/components/QuestionnaireForm.tsx
  apps/web/src/pages/auth/components/useDomainHook.ts
Labels: @novu/web

#5414 fix(web): Remove strict lastname validation
  apps/web/src/pages/auth/components/SignUpForm.tsx
Labels: @novu/web

#5420 test: Add visibility for CORS processing
  apps/api/src/config/cors.ts
Labels: @novu/api

#5308 Nv 3567 subscribers are duplicated during the burst of events
  apps/api/migrations/subscribers/remove-duplicated-subscribers/remove-duplicated-subscribers.migration.spec.ts
  apps/api/migrations/subscribers/remove-duplicated-subscribers/remove-duplicated-subscribers.migration.ts
  apps/ws/src/shared/subscriber-online/subscriber-online.service.ts
  libs/dal/src/repositories/subscriber/subscriber.repository.ts
  libs/dal/src/repositories/subscriber/subscriber.schema.ts
  libs/dal/src/shared/types/index.ts
  libs/dal/src/shared/types/index.type.ts
  libs/dal/src/types/error.enum.ts
  libs/dal/src/types/index.ts
  packages/application-generic/src/usecases/create-subscriber/create-subscriber.usecase.ts
Labels: @novu/api, @novu/dal, @novu/ws

#5421 test(api): add echo sync tests
  .idea/runConfigurations/_template__of_mocha_javascript_test_runner.xml
  apps/api/src/app/testing/echo/echo-sync.e2e-ee.ts
  apps/api/src/config/cors.ts
Labels: @novu/api

#5426 fix: Use origin instead of host
  apps/api/src/config/cors.spec.ts
  apps/api/src/config/cors.ts
Labels: @novu/api

#5425 Revert "Add exponential backoff with jitter for the In-App Notification Center to re-establish WebSocket connections"
  packages/notification-center/src/hooks/useInitializeSocket.ts
Labels: @novu/notification-center

#5424 fix: navigation width when information architecture is disabled
  libs/design-system/src/sidebar/Sidebar.tsx
Labels: @novu/design-system

#5428 ci: Use * instead of ['*']
  apps/api/src/config/cors.spec.ts
  apps/api/src/config/cors.ts
Labels: @novu/api

#5432 feat: add mobile condition with modal
  apps/web/src/pages/quick-start/components/OnboardingExperimentModal.tsx
  apps/web/src/pages/quick-start/steps/GetStarted.tsx
Labels: @novu/web

#5434 test(api): Filter on integrationId before assertion
  apps/api/src/app/integrations/e2e/update-integration.e2e.ts
Labels: @novu/api

#5433 feat(ci): Docker build cache
  .github/actions/cache/action.yml
  .github/actions/docker/build-api/action.yml
  .github/actions/docker/build-worker/action.yml
  .github/workflows/dev-deploy-api.yml
  .github/workflows/dev-deploy-inbound-mail.yml
  .github/workflows/dev-deploy-worker.yml
  .github/workflows/dev-deploy-ws.yml
  .github/workflows/prod-deploy-api.yml
  .github/workflows/prod-deploy-inbound-mail.yml
  .github/workflows/prod-deploy-worker.yml
  .github/workflows/prod-deploy-ws.yml
  .github/workflows/reusable-docker.yml
  apps/api/package.json
  apps/web/package.json
  apps/webhook/package.json
  apps/widget/package.json
  apps/worker/package.json
  libs/embed/package.json
Labels: @novu/api, @novu/web, @novu/webhook, @novu/worker, CI/CD

#5427 [Design System] - Finish initial base token specification
  .cspell.json
  apps/web/cypress/tests/settings.spec.ts
  libs/design-system/src/panda/NovuPandaPreset.ts
  libs/design-system/src/panda/borders.tokens.ts
  libs/design-system/src/panda/gradients.tokens.ts
  libs/design-system/src/panda/opacity.tokens.ts
  libs/design-system/src/panda/radius.tokens.ts
  libs/design-system/src/panda/shadow.tokens.ts
  libs/design-system/src/panda/sizes.tokens.ts
  libs/design-system/src/panda/spacing.tokens.ts
  libs/design-system/src/panda/zIndex.tokens.ts
Labels: @novu/web, @novu/design-system

#5444 [Information Architecture] - Fix tests & billing page
  apps/web/cypress/global.d.ts
  apps/web/cypress/support/commands.ts
  apps/web/cypress/tests/settings.spec.ts
  apps/web/src/SettingsRoutes.tsx
  apps/web/src/pages/settings/BillingPage.tsx
  apps/web/src/pages/settings/index.ts
Labels: @novu/web

#5447 feat(api): Add resource throttler
  apps/api/src/app.module.ts
  apps/api/src/app/events/events.controller.ts
  apps/api/src/app/resource-limiting/guards/index.ts
  apps/api/src/app/resource-limiting/guards/resource-throttler.decorator.ts
  apps/api/src/app/resource-limiting/guards/resource-throttler.guard.e2e.ts
  apps/api/src/app/resource-limiting/guards/resource-throttler.guard.ts
  apps/api/src/app/resource-limiting/resource-limiting.module.ts
  apps/api/src/app/resource-limiting/usecases/index.ts
  apps/api/src/app/testing/testing.controller.ts
  libs/shared/src/types/feature-flags/feature-flags.ts
  libs/shared/src/types/index.ts
  libs/shared/src/types/resource-limiting/index.ts
  libs/shared/src/types/resource-limiting/resource.types.ts
Labels: @novu/api, @novu/shared

#5318 Add Initial code owners for web and docker files
  .github/CODEOWNERS
Labels: stale, CI/CD

#5449 chore(design-system): Remove cypress
  libs/design-system/.eslintrc.js
  libs/design-system/cypress.config.ts
  libs/design-system/cypress/.eslintrc.js
  libs/design-system/cypress/global.d.ts
  libs/design-system/cypress/support/commands.ts
  libs/design-system/cypress/support/component-index.html
  libs/design-system/cypress/support/component.ts
  libs/design-system/cypress/tsconfig.json
  libs/design-system/package.json
  pnpm-lock.yaml
Labels: @novu/design-system

#5443 Create a CI pipeline to run cypress and playwright tests 4 times a day
  .cspell.json
  .github/workflows/scheduled_e2e.yml
  apps/widget/cypress.config.ts
Labels: CI/CD, DevOps

#5455 fix(e2e): build
  apps/api/src/app/layouts/e2e/delete-layout.e2e.ts
Labels: @novu/api

#5437 feat: add google analytics script tag
  .github/workflows/reusable-web-deploy.yml
  apps/web/.env
  apps/web/public/index.html
Labels: @novu/web, CI/CD

#5459 fix(ci): Rollback
  .github/workflows/rollback.yml
Labels: CI/CD

#5456 [Information Architecture] Feedback from Design
  apps/web/src/components/layout/components/NotificationCenterBell.tsx
  apps/web/src/components/layout/components/v2/HeaderMenuItems.tsx
  apps/web/src/components/layout/components/v2/HeaderNav.tsx
  apps/web/src/components/nav/EnvironmentSelect/EnvironmentPopover.tsx
  apps/web/src/components/nav/EnvironmentSelect/useEnvironmentSelect.tsx
  apps/web/src/components/nav/NavMenuButton/NavMenuButton.shared.ts
  apps/web/src/components/nav/NavMenuButton/NavMenuLinkButton.tsx
  apps/web/src/components/nav/NavMenuButton/NavMenuToggleButton.tsx
  apps/web/src/components/nav/NavSelect.styles.ts
  apps/web/src/pages/settings/WebhookPage/WebhookPage.tsx
  libs/design-system/src/iconsV2/IconProvider.tsx
  libs/design-system/src/panda/NovuPandaPreset.ts
  libs/design-system/src/panda/semanticSpacing.tokens.ts
  libs/design-system/src/panda/zIndex.tokens.ts
  libs/shared-web/src/hooks/useEnvController.ts
Labels: @novu/web, @novu/design-system

#5452 chore: Do not lint during e2e run
  .github/workflows/reusable-api-e2e.yml
  .github/workflows/reusable-inbound-mail-e2e.yml
  .github/workflows/reusable-web-e2e.yml
  .github/workflows/reusable-webhook-e2e.yml
  .github/workflows/reusable-widget-e2e.yml
  .github/workflows/reusable-worker-e2e.yml
  .github/workflows/reusable-ws-e2e.yml
Labels: CI/CD

#5461 fix(ci): Cypress E2E has been disabled for PR temporary
  .github/workflows/test.yml
Labels: CI/CD, DevOps

#5462 fix(ci): Cypress E2E schedule update
  .github/workflows/scheduled_e2e.yml
Labels: CI/CD

#5463 fix(ci): Workflow_dispatch for the Testing Pipeline
  .github/workflows/test.yml
Labels: CI/CD

#5464 fix(ci): Workflow_dispatch for Web E2e
  .github/workflows/reusable-web-e2e.yml
Labels: CI/CD

#5470 fix(web): sidebar overflow issue
  libs/design-system/src/sidebar/Sidebar.styles.ts
  libs/design-system/src/sidebar/Sidebar.tsx
  libs/design-system/src/sidebar/SidebarFormless.tsx
Labels: @novu/design-system

#5472 feat(ci): Schedule update
  .github/workflows/scheduled_e2e.yml
Labels: CI/CD

#5471 fix: sending email provider error to sentry
  apps/worker/src/app/workflow/usecases/send-message/send-message-email.usecase.ts
Labels: @novu/worker

#5343 feat: add custom header support for resend, brevo and sendgrid
  apps/worker/src/app/workflow/usecases/send-message/send-message-email.usecase.ts
  libs/shared/src/types/events/index.ts
  packages/node/README.md
  packages/node/src/lib/events/events.interface.ts
  packages/node/src/lib/events/events.spec.ts
  packages/stateless/src/lib/provider/provider.interface.ts
  providers/resend/src/lib/resend.provider.ts
  providers/sendgrid/src/lib/sendgrid.provider.ts
  providers/sendinblue/src/lib/brevo.provider.ts
Labels: @novu/shared, providers, @novu/worker

#5473 feat(ci): E2E API tests have been disabled
  .github/workflows/test.yml
Labels: CI/CD, DevOps

#5404 chore(repo): Simplify health indicators interface
  apps/ws/src/socket/services/ws-server-health-indicator.service.ts
  packages/application-generic/src/health/dal.health-indicator.ts
  packages/application-generic/src/health/health-indicator.interface.ts
  packages/application-generic/src/health/queue-health-indicator.service.ts
Labels: @novu/ws
