Repository novuhq/novu, pull requests merged in 2024-11, with the labels that each got.

#6780 feat(api): treat workflow name as editable, non-unique values
  .vscode/tasks.json
  apps/api/src/app/workflows-v2/usecases/sync-to-environment/sync-to-environment.usecase.ts
  apps/api/src/app/workflows-v2/usecases/upsert-workflow/upsert-workflow.usecase.ts
  apps/api/src/app/workflows-v2/workflow.controller.e2e.ts
  apps/dashboard/src/components/workflow-editor/steps/edit-step-sidebar.tsx
  libs/application-generic/package.json
  libs/application-generic/src/usecases/create-workflow/create-workflow.usecase.ts
  libs/application-generic/src/utils/generate-id.ts
  libs/application-generic/src/utils/index.ts
  packages/shared/src/dto/workflows/create-workflow-dto.ts
  packages/shared/src/dto/workflows/update-workflow-dto.ts
  packages/shared/src/dto/workflows/workflow-commons-fields.ts
  packages/shared/src/dto/workflows/workflow-response-dto.ts
  pnpm-lock.yaml
Labels: @novu/api, @novu/shared

#6807 feat(api): treat step name as editable, non-unique values
  apps/api/src/app/workflows-v2/generate-preview.e2e.ts
  apps/api/src/app/workflows-v2/usecases/upsert-workflow/upsert-workflow.usecase.ts
  apps/api/src/app/workflows-v2/workflow.controller.e2e.ts
Labels: @novu/api

#6824 fix(api): Preserve control values across syncs
  apps/api/src/app/bridge/usecases/sync/sync.usecase.ts
  apps/api/src/app/events/e2e/bridge-sync.e2e.ts
Labels: @novu/api

#6825 chore(api): Move bridge e2e tests under bridge folder
  apps/api/src/app/bridge/e2e/health-check.e2e.ts
  apps/api/src/app/bridge/e2e/sync.e2e.ts
Labels: @novu/api

#6831 chore(dashboard): InApp /docs redirect fix
  apps/web/src/studio/components/workflows/node-view/WorkflowFloatingMenu.tsx
Labels: @novu/web

#6806 feat(dashboard): Nv 4511 configure step the preview section
  apps/api/src/app/workflows-v2/workflow.controller.ts
  apps/dashboard/src/api/workflows.ts
  apps/dashboard/src/components/icons/inbox-arrow-down.tsx
  apps/dashboard/src/components/icons/inbox-bell.tsx
  apps/dashboard/src/components/icons/inbox-ellipsis.tsx
  apps/dashboard/src/components/icons/inbox-settings.tsx
  apps/dashboard/src/components/icons/index.ts
  apps/dashboard/src/components/workflow-editor/steps/configure-step.tsx
  apps/dashboard/src/components/workflow-editor/steps/in-app/in-app-preview.tsx
  apps/dashboard/src/components/workflow-editor/steps/in-app/in-app.tsx
  apps/dashboard/src/components/workflow-editor/steps/use-step.tsx
  apps/dashboard/src/components/workflow-editor/workflow-canvas.tsx
  apps/dashboard/src/hooks/index.ts
  apps/dashboard/src/hooks/use-preview-step.ts
  packages/shared/src/dto/workflows/preview-step-response.dto.ts
Labels: @novu/api, @novu/shared

#6813 chore(root): remove QEMU setup action and streamline Docker buil…
  .github/actions/setup-qemu/action.yml
  .github/workflows/prepare-self-hosted-release.yml
Labels: CI/CD

#6804 feat(dashboard): workflow promotion
  .cspell.json
  apps/api/src/app/workflows-v2/clients/workflows-client.ts
  apps/api/src/app/workflows-v2/mappers/notification-template-mapper.ts
  apps/api/src/app/workflows-v2/workflow.controller.e2e.ts
  apps/api/src/app/workflows-v2/workflow.controller.ts
  apps/dashboard/src/api/api.client.ts
  apps/dashboard/src/api/workflows.ts
  apps/dashboard/src/components/primitives/sonner.tsx
  apps/dashboard/src/components/primitives/tooltip.tsx
  apps/dashboard/src/components/promote-workflow/promote-confirm-modal.tsx
  apps/dashboard/src/components/promote-workflow/promote-success-toast.tsx
  apps/dashboard/src/components/workflow-list.tsx
  apps/dashboard/src/components/workflow-row.tsx
  apps/dashboard/src/context/environment/environment-context.tsx
  apps/dashboard/src/context/environment/environment-provider.tsx
  apps/dashboard/src/hooks/use-sync-workflow.tsx
  apps/dashboard/src/pages/edit-workflow.tsx
  apps/dashboard/src/routes/dashboard.tsx
  packages/shared/src/dto/workflows/promote-workflow-dto.ts
  packages/shared/src/dto/workflows/workflow-commons-fields.ts
Labels: @novu/api, @novu/shared

#6838 feat(api): Introduce includeTopics to GET /v1/subscribers/:id
  apps/api/src/app/subscribers/dtos/subscriber-response.dto.ts
  apps/api/src/app/subscribers/e2e/get-subscriber.e2e.ts
  apps/api/src/app/subscribers/subscribers.controller.ts
  apps/api/src/app/subscribers/usecases/get-subscriber/get-subscriber.command.ts
  apps/api/src/app/subscribers/usecases/get-subscriber/get-subscriber.usecase.ts
  libs/application-generic/src/services/cache/key-builders/entities.ts
  libs/application-generic/src/services/cache/key-builders/identifiers.ts
  libs/dal/src/repositories/subscriber/subscriber.entity.ts
  libs/dal/src/repositories/topic/topic-subscribers.entity.ts
Labels: @novu/api, @novu/dal

#6836 fix(root): multi-arch docker build for community
  .github/workflows/prepare-self-hosted-release.yml
Labels: CI/CD

#6754 refactor(root): introducing graceful shutdown and optimise docker images
  apps/api/.dockerignore
  apps/api/Dockerfile
  apps/api/package.json
  apps/api/src/app.module.ts
  apps/api/src/app/environments-v1/novu-bridge.controller.ts
  apps/api/src/bootstrap.ts
  apps/api/src/config/env.validators.ts
  apps/api/src/exception-filter.ts
  apps/webhook/.dockerignore
  apps/webhook/Dockerfile
  apps/webhook/src/app.module.ts
  apps/webhook/src/config/env.validators.ts
  apps/worker/.dockerignore
  apps/worker/Dockerfile
  apps/worker/src/app.module.ts
  apps/worker/src/config/env.validators.ts
  apps/ws/.dockerignore
  apps/ws/Dockerfile
  apps/ws/package.json
  apps/ws/src/app.module.ts
  apps/ws/src/config/env.validators.ts
  docker/Dockerfile.base
  enterprise/packages/dal/package.json
  libs/application-generic/package.json
  libs/application-generic/src/graceful-shutdown/index.ts
  libs/application-generic/src/graceful-shutdown/shutdown.module.ts
  libs/application-generic/src/graceful-shutdown/shutdown.service.ts
  libs/application-generic/src/index.ts
  libs/dal/package.json
  package.json
  packages/framework/package.json
  packages/framework/src/servers/nest/nest.controller.ts
  packages/providers/package.json
  packages/react-native/.gitignore
  pnpm-lock.yaml
Labels: @novu/api, @novu/dal, @novu/webhook, @novu/ws, @novu/worker, docker

#6828 feat(api): add support for env switch by slug
  apps/api/src/app/environments-v1/dtos/environment-response.dto.ts
  apps/api/src/app/environments-v1/usecases/get-my-environments/get-my-environments.usecase.ts
  apps/api/src/app/organization/usecases/create-organization/create-organization.usecase.ts
  apps/api/src/app/shared/helpers/build-slug.ts
  apps/api/src/app/workflows-v2/mappers/notification-template-mapper.ts
  apps/api/src/app/workflows-v2/workflow.controller.ts
  apps/dashboard/src/components/create-workflow-button.tsx
  apps/dashboard/src/components/side-navigation/side-navigation.tsx
  apps/dashboard/src/components/workflow-editor/editor-breadcrumbs.tsx
  apps/dashboard/src/components/workflow-editor/steps/configure-step.tsx
  apps/dashboard/src/components/workflow-editor/test-workflow/test-workflow-tabs.tsx
  apps/dashboard/src/components/workflow-editor/workflow-editor-provider.tsx
  apps/dashboard/src/components/workflow-editor/workflow-editor.tsx
  apps/dashboard/src/components/workflow-list.tsx
  apps/dashboard/src/components/workflow-row.tsx
  apps/dashboard/src/context/environment/environment-context.tsx
  apps/dashboard/src/context/environment/environment-provider.tsx
  apps/dashboard/src/routes/catch-all.tsx
  apps/dashboard/src/utils/routes.ts
  apps/dashboard/src/utils/types.ts
  apps/web/src/components/layout/components/PrivatePageLayout.tsx
  apps/web/src/studio/constants/EnvironmentEnum.ts
  apps/web/tests/page-models/workflowsPage.ts
  packages/shared/src/entities/environment/environment.interface.ts
  packages/shared/src/types/environment/index.ts
  packages/shared/src/types/shared/index.ts
Labels: @novu/api, @novu/web, @novu/shared

#6851 feat(api): add step parse on preview
  apps/api/src/app/workflows-v2/workflow.controller.ts
Labels: @novu/api

#6853 perf(api, worker): Add indexes to preferences schema for lookup
  libs/application-generic/src/usecases/get-subscriber-global-preference/get-subscriber-global-preference.usecase.ts
  libs/application-generic/src/usecases/get-subscriber-template-preference/get-subscriber-template-preference.usecase.ts
  libs/dal/src/repositories/preferences/preferences.schema.ts
Labels: @novu/dal

#6843 feat(dashboard): In app template preview
  apps/dashboard/package.json
  apps/dashboard/src/api/workflows.ts
  apps/dashboard/src/components/primitives/collapsible.tsx
  apps/dashboard/src/components/workflow-editor/in-app-preview.tsx
  apps/dashboard/src/components/workflow-editor/steps/configure-in-app-template/configure-in-app-step-template-preview.tsx
  apps/dashboard/src/components/workflow-editor/steps/configure-in-app-template/configure-in-app-step-template-tabs.tsx
  apps/dashboard/src/components/workflow-editor/steps/in-app/edit-step-in-app-preview.tsx
  apps/dashboard/src/components/workflow-editor/steps/in-app/in-app.tsx
  apps/dashboard/src/components/workflow-editor/steps/step-editor.tsx
  apps/dashboard/src/hooks/use-preview-step.ts
  packages/shared/src/dto/step-schemas/generate-preview-request.dto.ts
  pnpm-lock.yaml
Labels: @novu/shared

#6855 fix(api): get step data
  apps/api/src/app/workflows-v2/clients/workflows-client.ts
  apps/api/src/app/workflows-v2/usecases/get-step-schema/get-step-data.command.ts
  apps/api/src/app/workflows-v2/usecases/get-step-schema/get-step-data.usecase.ts
  apps/api/src/app/workflows-v2/workflow.controller.e2e.ts
  apps/api/src/app/workflows-v2/workflow.controller.ts
Labels: @novu/api

#6856 revert(root): PR #6754
  apps/api/.dockerignore
  apps/api/Dockerfile
  apps/api/src/app.module.ts
  apps/api/src/app/environments-v1/novu-bridge.controller.ts
  apps/api/src/bootstrap.ts
  apps/api/src/config/env.validators.ts
  apps/api/src/exception-filter.ts
  apps/webhook/.dockerignore
  apps/webhook/Dockerfile
  apps/webhook/src/app.module.ts
  apps/webhook/src/config/env.validators.ts
  apps/worker/.dockerignore
  apps/worker/Dockerfile
  apps/worker/src/app.module.ts
  apps/worker/src/config/env.validators.ts
  apps/ws/.dockerignore
  apps/ws/Dockerfile
  apps/ws/package.json
  apps/ws/src/app.module.ts
  apps/ws/src/config/env.validators.ts
  docker/Dockerfile.base
  enterprise/packages/dal/package.json
  libs/application-generic/package.json
  libs/application-generic/src/graceful-shutdown/index.ts
  libs/application-generic/src/graceful-shutdown/shutdown.module.ts
  libs/application-generic/src/graceful-shutdown/shutdown.service.ts
  libs/application-generic/src/index.ts
  libs/dal/package.json
  package.json
  packages/framework/package.json
  packages/framework/src/servers/nest/nest.controller.ts
  packages/providers/package.json
  packages/react-native/.gitignore
  pnpm-lock.yaml
Labels: @novu/api, @novu/dal, @novu/webhook, @novu/ws, @novu/worker, docker

#6864 fix(api): Remove double logging of Bridge errors
  apps/api/src/app/bridge/bridge.controller.ts
  apps/api/src/app/bridge/usecases/get-bridge-status/get-bridge-status.usecase.ts
Labels: @novu/api

#6863 fix(web): Display billing cycle dates in event usage.
  apps/web/src/ee/billing/components/ActivePlanBanner.tsx
  apps/web/src/ee/billing/components/SubscriptionProvider.tsx
Labels: @novu/web

#6870 fix(api): refactor SupportService to use environment variable for API…
  apps/api/src/app/support/support.controller.ts
  apps/web/src/config/index.ts
  libs/application-generic/src/custom-providers/index.ts
  libs/application-generic/src/services/support.service.ts
Labels: @novu/api, @novu/web

#6805 feat(novu): update novu init landing page
  apps/web/src/components/layout/components/v2/SyncInfoModal.tsx
  packages/novu/package.json
  packages/novu/src/commands/init/create-app.ts
  packages/novu/src/commands/init/index.ts
  packages/novu/src/commands/init/templates/app-react-email/ts/app/api/dev-studio-status/route.ts
  packages/novu/src/commands/init/templates/app-react-email/ts/app/api/events/route.ts
  packages/novu/src/commands/init/templates/app-react-email/ts/app/api/trigger/route.ts
  packages/novu/src/commands/init/templates/app-react-email/ts/app/components/NotificationToast/Notifications.module.css
  packages/novu/src/commands/init/templates/app-react-email/ts/app/components/NotificationToast/Notifications.tsx
  packages/novu/src/commands/init/templates/app-react-email/ts/app/fonts/GeistMonoVF.woff
  packages/novu/src/commands/init/templates/app-react-email/ts/app/fonts/GeistVF.woff
  packages/novu/src/commands/init/templates/app-react-email/ts/app/globals.css
  packages/novu/src/commands/init/templates/app-react-email/ts/app/layout.tsx
  packages/novu/src/commands/init/templates/app-react-email/ts/app/novu/workflows/welcome-onboarding-email/schemas.ts
  packages/novu/src/commands/init/templates/app-react-email/ts/app/novu/workflows/welcome-onboarding-email/workflow.ts
  packages/novu/src/commands/init/templates/app-react-email/ts/app/page.module.css
  packages/novu/src/commands/init/templates/app-react-email/ts/app/page.tsx
  packages/novu/src/commands/init/templates/app-react-email/ts/public/file.svg
  packages/novu/src/commands/init/templates/app-react-email/ts/public/globe.svg
  packages/novu/src/commands/init/templates/app-react-email/ts/public/novu.svg
  packages/novu/src/commands/init/templates/app-react-email/ts/public/vercel.svg
  packages/novu/src/commands/init/templates/app-react-email/ts/public/window.svg
  packages/novu/src/commands/init/templates/app/ts/.env.example
  packages/novu/src/commands/init/templates/app/ts/README-template.md
  packages/novu/src/commands/init/templates/app/ts/app/api/novu/route.ts
  packages/novu/src/commands/init/templates/app/ts/app/favicon.ico
  packages/novu/src/commands/init/templates/app/ts/app/globals.css
  packages/novu/src/commands/init/templates/app/ts/app/layout.tsx
  packages/novu/src/commands/init/templates/app/ts/app/novu/workflows.ts
  packages/novu/src/commands/init/templates/app/ts/app/page.module.css
  packages/novu/src/commands/init/templates/app/ts/app/page.tsx
  packages/novu/src/commands/init/templates/app/ts/eslintrc.json
  packages/novu/src/commands/init/templates/app/ts/gitignore
  packages/novu/src/commands/init/templates/app/ts/next-env.d.ts
  packages/novu/src/commands/init/templates/app/ts/next.config.mjs
  packages/novu/src/commands/init/templates/app/ts/public/next.svg
  packages/novu/src/commands/init/templates/app/ts/public/vercel.svg
  packages/novu/src/commands/init/templates/app/ts/tsconfig.json
  packages/novu/src/commands/init/templates/index.ts
  packages/novu/src/commands/init/templates/types.ts
  pnpm-lock.yaml
Labels: @novu/web

#6877 feat(dashboard): in-app editor form driven by BE schema
  apps/api/src/app/workflows-v2/shared/schemas/in-app-control.schema.ts
  apps/dashboard/package.json
  apps/dashboard/src/api/steps.ts
  apps/dashboard/src/components/primitives/form/avatar-picker.tsx
  apps/dashboard/src/components/primitives/form/form.tsx
  apps/dashboard/src/components/primitives/sonner.tsx
  apps/dashboard/src/components/primitives/url-input.tsx
  apps/dashboard/src/components/workflow-editor/action-picker.tsx
  apps/dashboard/src/components/workflow-editor/steps/component-utils.tsx
  apps/dashboard/src/components/workflow-editor/steps/configure-in-app-template/configure-in-app-step-template-tabs.tsx
  apps/dashboard/src/components/workflow-editor/steps/configure-step.tsx
  apps/dashboard/src/components/workflow-editor/steps/edit-step-sidebar.tsx
  apps/dashboard/src/components/workflow-editor/steps/in-app/configure-in-app-preview.tsx
  apps/dashboard/src/components/workflow-editor/steps/in-app/configure-in-app.tsx
  apps/dashboard/src/components/workflow-editor/steps/in-app/in-app-action.tsx
  apps/dashboard/src/components/workflow-editor/steps/in-app/in-app-avatar.tsx
  apps/dashboard/src/components/workflow-editor/steps/in-app/in-app-body.tsx
  apps/dashboard/src/components/workflow-editor/steps/in-app/in-app-editor-preview.tsx
  apps/dashboard/src/components/workflow-editor/steps/in-app/in-app-editor.tsx
  apps/dashboard/src/components/workflow-editor/steps/in-app/in-app-redirect.tsx
  apps/dashboard/src/components/workflow-editor/steps/in-app/in-app-subject.tsx
  apps/dashboard/src/components/workflow-editor/steps/in-app/in-app-tabs.tsx
  apps/dashboard/src/components/workflow-editor/steps/step-editor.tsx
  apps/dashboard/src/components/workflow-editor/url-input.tsx
  apps/dashboard/src/components/workflow-editor/workflow-editor-provider.tsx
  apps/dashboard/src/hooks/use-fetch-step.tsx
  apps/dashboard/src/hooks/use-update-workflow.ts
  apps/dashboard/src/utils/schema.ts
  packages/shared/src/dto/workflows/step-data.dto.ts
  pnpm-lock.yaml
Labels: @novu/api, @novu/shared

#6884 feat(api): Add Error Handling 2XX issues
  apps/api/src/app/workflows-v2/exceptions/step-not-found-exception.ts
  apps/api/src/app/workflows-v2/generate-preview.e2e.ts
  apps/api/src/app/workflows-v2/maily-test-data.ts
  apps/api/src/app/workflows-v2/mappers/notification-template-mapper.ts
  apps/api/src/app/workflows-v2/usecases/build-payload-from-placeholder/build-default-payload-use-case.service.ts
  apps/api/src/app/workflows-v2/usecases/generate-preview/generate-preview.usecase.ts
  apps/api/src/app/workflows-v2/usecases/sync-to-environment/sync-to-environment.usecase.ts
  apps/api/src/app/workflows-v2/usecases/upsert-workflow/upsert-workflow.usecase.ts
  apps/api/src/app/workflows-v2/usecases/upsert-workflow/validate-and-persist-workflow-issues.usecase.ts
  apps/api/src/app/workflows-v2/usecases/upsert-workflow/validate-workflow.command.ts
  apps/api/src/app/workflows-v2/usecases/validate-control-values/build-default-control-values-usecase.service.ts
  apps/api/src/app/workflows-v2/usecases/validate-control-values/build-default-control-values.command.ts
  apps/api/src/app/workflows-v2/util/utils.ts
  apps/api/src/app/workflows-v2/workflow.controller.e2e.ts
  apps/api/src/app/workflows-v2/workflow.module.ts
  apps/api/src/config/env.validators.ts
  libs/dal/src/repositories/notification-template/notification-template.entity.ts
  libs/dal/src/repositories/notification-template/notification-template.repository.ts
  libs/dal/src/repositories/notification-template/notification-template.schema.ts
  packages/framework/src/client.ts
  packages/shared/src/clients/workflows-client.ts
  packages/shared/src/dto/workflows/index.ts
  packages/shared/src/dto/workflows/preview-step-response.dto.ts
  packages/shared/src/dto/workflows/step-content-issue.enum.ts
  packages/shared/src/dto/workflows/workflow-commons-fields.ts
  packages/shared/src/dto/workflows/workflow-response-dto.ts
  packages/shared/src/entities/notification-template/notification-template.interface.ts
Labels: @novu/api, @novu/dal, @novu/shared

#6879 refactor(framework): Make discovery completely asynchronous
  apps/api/src/app/events/e2e/bridge-trigger.e2e.ts
  packages/framework/src/client.test.ts
  packages/framework/src/client.ts
  packages/framework/src/client.validation.test.ts
  packages/framework/src/handler.ts
  packages/framework/src/resources/workflow/discover-action-step-factory.ts
  packages/framework/src/resources/workflow/discover-channel-step-factory.ts
  packages/framework/src/resources/workflow/discover-custom-step-factory.ts
  packages/framework/src/resources/workflow/discover-providers.ts
  packages/framework/src/resources/workflow/discover-step.ts
  packages/framework/src/resources/workflow/workflow.resource.ts
  packages/framework/src/resources/workflow/workflow.test.ts
  packages/framework/src/types/discover.types.ts
  packages/framework/src/types/validator.types.ts
  packages/framework/src/validators/base.validator.ts
  packages/framework/src/validators/json-schema.validator.ts
  packages/framework/src/validators/validator.test.ts
  packages/framework/src/validators/zod.validator.ts
Labels: @novu/api

#6872 fix(api): Subscriber deletion side-effects
  apps/api/src/app/subscribers/e2e/remove-subscriber.e2e.ts
  apps/api/src/app/subscribers/usecases/remove-subscriber/remove-subscriber.spec.ts
  apps/api/src/app/subscribers/usecases/remove-subscriber/remove-subscriber.usecase.ts
  apps/api/src/app/workflows-v2/usecases/upsert-workflow/upsert-workflow.usecase.ts
  libs/application-generic/src/usecases/upsert-preferences/upsert-preferences.usecase.ts
  libs/dal/src/repositories/base-repository.ts
  libs/dal/src/repositories/preferences/preferences.repository.ts
  libs/dal/src/repositories/subscriber/subscriber.repository.ts
Labels: @novu/api, @novu/dal

#6895 chore(root): Fix misspellings in token keys and svgs
  .cspell.json
  apps/web/src/components/workflow/preview/in-app/v2/InboxPreviewContent.tsx
Labels: @novu/web

#6898 chore(root): inherit secrets in dev-deploy-webhook.yml
  .github/workflows/dev-deploy-webhook.yml
Labels: CI/CD

#6886 feat(web): user profile menu opt-in
  apps/web/package.json
  apps/web/src/components/layout/components/v2/NewDashboardOptInWidget.tsx
  apps/web/src/ee/clerk/components/UserProfileButton.tsx
  apps/web/src/ee/clerk/providers/ClerkProvider.tsx
  apps/web/src/hooks/useNewDashboardOptIn.ts
  pnpm-lock.yaml
Labels: @novu/web

#6919 chore(root): use smaller github action machines for e2e test
  .github/workflows/community-label.yml
  .github/workflows/issue-label.yml
  .github/workflows/milestone-assign.yml
  .github/workflows/reusable-api-e2e.yml
Labels: CI/CD

#6925 feat(root): release 2.0.1 for all major packages
  apps/api/package.json
  apps/inbound-mail/package.json
  apps/web/package.json
  apps/webhook/package.json
  apps/widget/package.json
  apps/worker/package.json
  apps/ws/package.json
  enterprise/packages/auth/package.json
  enterprise/packages/billing/package.json
  enterprise/packages/dal/package.json
  enterprise/packages/shared-services/package.json
  enterprise/packages/translation/package.json
  lerna.json
  libs/application-generic/package.json
  libs/automation/package.json
  libs/dal/package.json
  libs/design-system/package.json
  libs/embed/package.json
  libs/novui/package.json
  libs/testing/package.json
  packages/client/package.json
  packages/headless/package.json
  packages/nest/package.json
  packages/node/package.json
  packages/notification-center-angular/package.json
  packages/notification-center-angular/projects/notification-center-angular/package.json
  packages/notification-center-vue/package.json
  packages/notification-center/package.json
  packages/providers/package.json
  packages/stateless/package.json
Labels: @novu/api, @novu/web, @novu/dal, @novu/webhook, @novu/ws, @novu/notification-center, @novu/notification-center-vue, @novu/notification-center-angular, @novu/worker, @novu/inbound-mail, @novu/design-system, @novu/novui

#6918 chore(web): shorten the digest default duration
  apps/web/src/pages/templates/components/TemplateEditorFormProvider.tsx
  apps/web/src/pages/templates/workflow/RegularDigestMetadata.tsx
  apps/web/src/pages/templates/workflow/digest/IntervalSelect.tsx
Labels: @novu/web

#6922 feat(web,dashboard): opt-out, redirects
  apps/dashboard/images/opt-in.png
  apps/dashboard/package.json
  apps/dashboard/proxy-server.js
  apps/dashboard/src/components/opt-in-modal.tsx
  apps/dashboard/src/components/user-profile.tsx
  apps/dashboard/src/config/index.ts
  apps/dashboard/src/hooks/use-new-dashboard-opt-in.ts
  apps/web/src/components/layout/components/v2/NewDashboardOptInWidget.tsx
  apps/web/src/config/index.ts
  apps/web/src/hooks/useNewDashboardOptIn.ts
  pnpm-lock.yaml
Labels: @novu/web

#6901 fix(dal): Reduce default Mongo connections
  apps/api/package.json
  apps/api/src/config/env.validators.ts
  apps/webhook/src/config/env.validators.ts
  apps/worker/src/config/env.validators.ts
  apps/ws/src/config/env.validators.ts
  libs/dal/src/dal.service.ts
Labels: @novu/api, @novu/dal, @novu/webhook, @novu/ws, @novu/worker

#6921 refactor(shared, dal, application-generic, api, web, dashboard): Remove `json-schema-to-ts` dependency and use `JsonSchemaDto` everywhere
  .cspell.json
  apps/api/package.json
  apps/api/src/app/bridge/usecases/sync/sync.command.ts
  apps/api/src/app/workflows-v2/shared/build-string-schema.ts
  apps/api/src/app/workflows-v2/shared/schemas/email-control.schema.ts
  apps/api/src/app/workflows-v2/shared/schemas/in-app-control.schema.ts
  apps/api/src/app/workflows-v2/usecases/get-step-schema/get-step-data.usecase.ts
  apps/api/src/app/workflows-v2/usecases/test-data/test-data.usecase.ts
  apps/dashboard/package.json
  apps/dashboard/src/components/workflow-editor/schema.ts
  apps/dashboard/src/utils/parseStepVariablesToLiquidVariables.ts
  apps/dashboard/src/utils/schema.ts
  libs/application-generic/src/usecases/create-workflow/create-workflow.command.ts
  libs/application-generic/src/usecases/message-template/create-message-template/create-message-template.command.ts
  libs/application-generic/src/usecases/message-template/update-message-template/update-message-template.command.ts
  libs/application-generic/src/usecases/workflow/update-workflow/update-workflow.command.ts
  libs/dal/package.json
  libs/dal/src/repositories/message-template/message-template.entity.ts
  packages/framework/src/types/schema.types.ts
  packages/shared/package.json
  packages/shared/src/dto/workflows/json-schema-dto.ts
  packages/shared/src/dto/workflows/step-data.dto.ts
  packages/shared/src/dto/workflows/workflow-commons-fields.ts
  packages/shared/src/dto/workflows/workflow-test-data-response-dto.ts
  packages/shared/src/entities/message-template/message-template.interface.ts
  packages/shared/src/entities/notification-template/notification-template.interface.ts
  pnpm-lock.yaml
Labels: @novu/api, @novu/dal, @novu/shared

#6938 fix(web, dashboard): Remove additional quotes in PHP code snippet
  apps/dashboard/src/utils/code-snippets.ts
  apps/web/src/utils/codeSnippets.ts
Labels: @novu/web

#6930 feat(web,dashboard): opt-in/out tracking
  apps/dashboard/src/config/index.ts
  apps/dashboard/src/hooks/use-new-dashboard-opt-in.ts
  apps/dashboard/src/utils/telemetry.ts
  apps/web/src/hooks/useNewDashboardOptIn.ts
Labels: @novu/web

#6905 feat(api): Fix previous steps
  apps/api/package.json
  apps/api/src/app/bridge/usecases/sync/sync.usecase.ts
  apps/api/src/app/environments-v1/usecases/construct-framework-workflow/construct-framework-workflow.usecase.ts
  apps/api/src/app/environments-v1/usecases/output-renderers/render-email-output.usecase.ts
  apps/api/src/app/workflows-v2/generate-preview.e2e.ts
  apps/api/src/app/workflows-v2/maily-test-data.ts
  apps/api/src/app/workflows-v2/shared/build-string-schema.ts
  apps/api/src/app/workflows-v2/shared/map-step-type-to-output.mapper.ts
  apps/api/src/app/workflows-v2/shared/map-step-type-to-result.mapper.ts
  apps/api/src/app/workflows-v2/usecases/get-step-schema/build-available-variable-schema-usecase.service.ts
  apps/api/src/app/workflows-v2/usecases/get-step-schema/get-step-data.usecase.ts
  apps/api/src/app/workflows-v2/usecases/placeholder-enrichment/payload-preview-value-generator.usecase.ts
  apps/api/src/app/workflows-v2/usecases/test-data/test-data.usecase.ts
  apps/api/src/app/workflows-v2/util/jsonToSchema.ts
  apps/api/src/app/workflows-v2/workflow.controller.e2e.ts
  apps/api/src/app/workflows-v2/workflow.module.ts
  package.json
  packages/framework/src/client.test.ts
  packages/framework/src/client.ts
  packages/framework/src/utils/deepmerge.utils.test.ts
  packages/framework/src/utils/object.utils.ts
  packages/shared/src/dto/workflows/json-schema-dto.ts
  pnpm-lock.yaml
Labels: @novu/api, @novu/shared

#6963 chore(framework, shared, nextjs): Release new versions
  packages/framework/package.json
  packages/nextjs/package.json
  packages/shared/package.json
Labels: @novu/shared

#6953 feat(dashboard): workflow editor error handling
  apps/api/src/app/workflows-v2/usecases/generate-preview/generate-preview.usecase.ts
  apps/api/src/app/workflows-v2/usecases/validate-control-values/build-default-control-values-usecase.service.ts
  apps/dashboard/package.json
  apps/dashboard/src/components/animated-outlet.tsx
  apps/dashboard/src/components/primitives/editor.tsx
  apps/dashboard/src/components/primitives/textarea.tsx
  apps/dashboard/src/components/side-navigation/Sidebar.tsx
  apps/dashboard/src/components/workflow-editor/base-node.tsx
  apps/dashboard/src/components/workflow-editor/configure-workflow.tsx
  apps/dashboard/src/components/workflow-editor/schema.ts
  apps/dashboard/src/components/workflow-editor/step-utils.ts
  apps/dashboard/src/components/workflow-editor/steps/common-fields.tsx
  apps/dashboard/src/components/workflow-editor/steps/configure-in-app-preview.tsx
  apps/dashboard/src/components/workflow-editor/steps/configure-other-steps.tsx
  apps/dashboard/src/components/workflow-editor/steps/configure-step-content.tsx
  apps/dashboard/src/components/workflow-editor/steps/configure-step.tsx
  apps/dashboard/src/components/workflow-editor/steps/in-app/configure-in-app.tsx
  apps/dashboard/src/components/workflow-editor/steps/in-app/in-app-body.tsx
  apps/dashboard/src/components/workflow-editor/steps/in-app/in-app-tabs.tsx
  apps/dashboard/src/components/workflow-editor/steps/use-step.tsx
  apps/dashboard/src/components/workflow-editor/workflow-canvas.tsx
  apps/dashboard/src/components/workflow-editor/workflow-editor-context.tsx
  apps/dashboard/src/components/workflow-editor/workflow-editor-provider.tsx
  apps/dashboard/src/hooks/use-form-autosave.ts
  apps/dashboard/src/utils/schema.ts
  apps/dashboard/src/utils/step.ts
  apps/dashboard/src/utils/types.ts
  pnpm-lock.yaml
Labels: @novu/api

#6973 feat(api): add origin backward compatibility mapping
  apps/api/src/app/workflows-v2/usecases/generate-preview/generate-preview.usecase.ts
  apps/api/src/app/workflows-v2/usecases/generate-preview/step-id-missing.exception.ts
Labels: @novu/api

#6889 refactor(api): Use `UpdatePreference` use-case for all Subscriber Preference updates
  apps/api/src/app/inbox/usecases/update-preferences/update-preferences.spec.ts
  apps/api/src/app/inbox/usecases/update-preferences/update-preferences.usecase.ts
  apps/api/src/app/inbox/utils/analytics.ts
  apps/api/src/app/subscribers/e2e/update-global-preference.e2e.ts
  apps/api/src/app/subscribers/e2e/update-preference.e2e.ts
  apps/api/src/app/subscribers/subscribers.controller.ts
  apps/api/src/app/subscribers/subscribers.module.ts
  apps/api/src/app/subscribers/usecases/index.ts
  apps/api/src/app/subscribers/usecases/update-preference/update-preference.command.ts
  apps/api/src/app/subscribers/usecases/update-preference/update-preference.usecase.ts
  apps/api/src/app/subscribers/usecases/update-subscriber-global-preferences/index.ts
  apps/api/src/app/subscribers/usecases/update-subscriber-global-preferences/update-subscriber-global-preferences.command.ts
  apps/api/src/app/subscribers/usecases/update-subscriber-global-preferences/update-subscriber-global-preferences.usecase.ts
  apps/api/src/app/subscribers/usecases/update-subscriber-preference/index.ts
  apps/api/src/app/subscribers/usecases/update-subscriber-preference/update-subscriber-preference.command.ts
  apps/api/src/app/subscribers/usecases/update-subscriber-preference/update-subscriber-preference.usecase.ts
  apps/api/src/app/widgets/e2e/get-subscriber-preference.e2e.ts
  apps/api/src/app/widgets/e2e/update-subscriber-preference.e2e.ts
  apps/api/src/app/widgets/widgets.controller.ts
  libs/application-generic/src/usecases/upsert-preferences/upsert-preferences.usecase.ts
Labels: @novu/api

#6970 fix(api): upsert preference if exist
  apps/api/src/app/workflows-v2/usecases/upsert-workflow/upsert-workflow.usecase.ts
Labels: @novu/api

#6956 fix(api): fix deletion of issues from persistence once no issues are found
  apps/api/src/app/workflows-v2/usecases/upsert-workflow/upsert-workflow.usecase.ts
  apps/api/src/app/workflows-v2/usecases/upsert-workflow/validate-and-persist-workflow-issues.usecase.ts
  apps/api/src/app/workflows-v2/workflow.controller.e2e.ts
Labels: @novu/api

#6978 fix(web): Preserve last active organization across full page reloads
  apps/dashboard/src/context/auth/auth-provider.tsx
  apps/web/src/ee/clerk/providers/EnterpriseAuthProvider.tsx
Labels: @novu/web

#6875 refactor(worker): Remove redundant Bridge error handling
  apps/api/src/app/events/e2e/bridge-trigger.e2e.ts
  apps/worker/src/app/workflow/usecases/execute-bridge-job/execute-bridge-job.usecase.ts
  libs/application-generic/src/usecases/create-execution-details/types/index.ts
  libs/application-generic/src/usecases/execute-bridge-request/execute-bridge-request.command.ts
  libs/application-generic/src/usecases/execute-bridge-request/execute-bridge-request.usecase.ts
  libs/application-generic/src/usecases/trigger-event/trigger-event.usecase.ts
  libs/application-generic/src/utils/bridge.ts
Labels: @novu/api, @novu/worker

#6957 feat(api): add tags issues
  apps/api/src/app/workflows-v2/usecases/process-workflow-issues/process-workflow-issues.command.ts
  apps/api/src/app/workflows-v2/usecases/process-workflow-issues/process-workflow-issues.usecase.ts
  apps/api/src/app/workflows-v2/usecases/upsert-workflow/upsert-workflow.usecase.ts
  apps/api/src/app/workflows-v2/workflow.module.ts
  apps/dashboard/src/components/workflow-row.tsx
  packages/shared/src/dto/workflows/workflow-response-dto.ts
Labels: @novu/api, @novu/shared

#6991 fix(api, application-generic): Filter with supplied `tags` when fetching subscriber preferences
  apps/api/src/app/inbox/e2e/get-preferences.e2e.ts
  apps/api/src/app/inbox/usecases/get-inbox-preferences/get-inbox-preferences.spec.ts
  apps/api/src/app/inbox/usecases/get-inbox-preferences/get-inbox-preferences.usecase.ts
  libs/application-generic/src/usecases/get-subscriber-preference/get-subscriber-preference.command.ts
  libs/application-generic/src/usecases/get-subscriber-preference/get-subscriber-preference.usecase.ts
Labels: @novu/api

#7002 feat(dashboard,web): opt-in app switching and redirects
  apps/dashboard/src/components/opt-in-modal.tsx
  apps/dashboard/src/components/user-profile.tsx
  apps/dashboard/src/context/opt-in-provider.tsx
  apps/dashboard/src/hooks/use-new-dashboard-opt-in.ts
  apps/dashboard/src/routes/root.tsx
  apps/web/src/Providers.tsx
  apps/web/src/components/layout/components/v2/NewDashboardOptInWidget.tsx
  apps/web/src/components/providers/OptInProvider.tsx
  apps/web/src/ee/clerk/components/UserProfileButton.tsx
  apps/web/src/hooks/useNewDashboardOptIn.ts
Labels: @novu/web

#7003 fix(dashboard): ignore legacy dashboard staging subdomain
  apps/web/src/components/providers/OptInProvider.tsx
Labels: @novu/web

#7015 fix(api): add patch step api and consolidate post update processing
  apps/api/src/app/workflows-v2/usecases/build-step-data/build-step-data.usecase.ts
  apps/api/src/app/workflows-v2/usecases/index.ts
  apps/api/src/app/workflows-v2/usecases/overload-content-data/index.ts
  apps/api/src/app/workflows-v2/usecases/overload-content-data/overload-content-data-on-workflow.command.ts
  apps/api/src/app/workflows-v2/usecases/overload-content-data/overload-content-data-on-workflow.usecase.ts
  apps/api/src/app/workflows-v2/usecases/patch-step-data/index.ts
  apps/api/src/app/workflows-v2/usecases/patch-step-data/patch-step-data.command.ts
  apps/api/src/app/workflows-v2/usecases/patch-step-data/patch-step-data.usecase.ts
  apps/api/src/app/workflows-v2/usecases/post-process-workflow-update/index.ts
  apps/api/src/app/workflows-v2/usecases/post-process-workflow-update/post-process-workflow-update.command.ts
  apps/api/src/app/workflows-v2/usecases/post-process-workflow-update/post-process-workflow-update.usecase.ts
  apps/api/src/app/workflows-v2/usecases/process-workflow-issues/index.ts
  apps/api/src/app/workflows-v2/usecases/process-workflow-issues/process-workflow-issues.command.ts
  apps/api/src/app/workflows-v2/usecases/upsert-workflow/upsert-workflow.usecase.ts
  apps/api/src/app/workflows-v2/workflow.controller.e2e.ts
  apps/api/src/app/workflows-v2/workflow.controller.ts
  apps/api/src/app/workflows-v2/workflow.module.ts
  packages/shared/src/clients/novu-base-client.ts
  packages/shared/src/clients/workflows-client.ts
  packages/shared/src/dto/workflows/workflow-commons-fields.ts
Labels: @novu/api, @novu/shared

#7001 fix(api): Nv 4666 adding a primary action breaks preview
  apps/api/src/app/environments-v1/usecases/output-renderers/in-app-output-renderer.usecase.ts
Labels: @novu/api

#7017 fix(dashboard): opt-in redirect logic fix
  apps/dashboard/public/images/logo-light.webp
  apps/dashboard/public/images/notifications/notification_01.webp
  apps/dashboard/public/images/notifications/notification_02.webp
  apps/dashboard/public/images/notifications/notification_03.webp
  apps/dashboard/public/images/signin_bg.webp
  apps/dashboard/src/components/auth-layout.tsx
  apps/dashboard/src/components/icons/circle-check.tsx
  apps/dashboard/src/components/icons/party-popover.tsx
  apps/dashboard/src/components/user-profile.tsx
  apps/dashboard/src/routes/dashboard.tsx
  apps/dashboard/src/routes/root.tsx
  apps/web/.env.dashboard
  apps/web/src/components/providers/OptInProvider.tsx
  apps/web/src/config/index.ts
  apps/web/src/ee/clerk/components/UserProfileButton.tsx
  apps/web/src/hooks/useNewDashboardOptIn.ts
Labels: @novu/web

#6989 feat(api): raise the tags limit
  apps/api/src/app/workflows-v2/usecases/post-process-workflow-update/post-process-workflow-update.usecase.ts
  apps/dashboard/src/components/create-workflow-button.tsx
  libs/application-generic/src/usecases/create-workflow/create-workflow.command.ts
  libs/application-generic/src/usecases/workflow/update-workflow/update-workflow.command.ts
Labels: @novu/api

#7018 fix(api): Value saved on the wrong step
  apps/api/src/app/workflows-v2/usecases/upsert-workflow/upsert-workflow.usecase.ts
Labels: @novu/api

#7019 fix(api): Add a Patch Workflow endpoint
  apps/api/src/app/workflows-v2/shared/schemas/in-app-control.schema.ts
  apps/api/src/app/workflows-v2/usecases/patch-step-data/index.ts
  apps/api/src/app/workflows-v2/usecases/patch-step-data/patch-step.command.ts
  apps/api/src/app/workflows-v2/usecases/patch-step-data/patch-step.usecase.ts
  apps/api/src/app/workflows-v2/usecases/patch-workflow/index.ts
  apps/api/src/app/workflows-v2/usecases/patch-workflow/patch-workflow.command.ts
  apps/api/src/app/workflows-v2/usecases/patch-workflow/patch-workflow.usecase.ts
  apps/api/src/app/workflows-v2/usecases/upsert-workflow/upsert-workflow.usecase.ts
  apps/api/src/app/workflows-v2/workflow.controller.e2e.ts
  apps/api/src/app/workflows-v2/workflow.controller.ts
  apps/api/src/app/workflows-v2/workflow.module.ts
  packages/shared/src/clients/workflows-client.ts
  packages/shared/src/dto/workflows/workflow-commons-fields.ts
Labels: @novu/api, @novu/shared

#7005 refactor(api, application-generic): Encapsulate preference mutations in workflow use-cases
  apps/api/src/app/bridge/bridge.module.ts
  apps/api/src/app/bridge/usecases/sync/sync.usecase.ts
  apps/api/src/app/change/e2e/promote-changes.e2e.ts
  apps/api/src/app/change/usecases/index.ts
  apps/api/src/app/change/usecases/promote-notification-template-change/promote-notification-template-change.usecase.ts
  apps/api/src/app/events/e2e/process-subscriber.e2e.ts
  apps/api/src/app/events/e2e/trigger-event.e2e.ts
  apps/api/src/app/preferences/dtos/preferences.dto.ts
  apps/api/src/app/preferences/preferences.controller.ts
  apps/api/src/app/preferences/preferences.module.ts
  apps/api/src/app/widgets/e2e/get-subscriber-preference.e2e.ts
  apps/api/src/app/workflows-v1/e2e/delete-notification-template.e2e.ts
  apps/api/src/app/workflows-v1/notification-template.controller.ts
  apps/api/src/app/workflows-v1/usecases/delete-notification-template/delete-notification-template.usecase.ts
  apps/api/src/app/workflows-v1/usecases/get-notification-template/get-notification-template.usecase.ts
  apps/api/src/app/workflows-v1/usecases/index.ts
  apps/api/src/app/workflows-v1/workflow-v1.controller.ts
  apps/api/src/app/workflows-v2/mappers/notification-template-mapper.ts
  apps/api/src/app/workflows-v2/usecases/build-step-data/build-step-data.usecase.ts
  apps/api/src/app/workflows-v2/usecases/get-workflow/get-workflow.usecase.ts
  apps/api/src/app/workflows-v2/usecases/overload-content-data/overload-content-data-on-workflow.command.ts
  apps/api/src/app/workflows-v2/usecases/overload-content-data/overload-content-data-on-workflow.usecase.ts
  apps/api/src/app/workflows-v2/usecases/post-process-workflow-update/post-process-workflow-update.command.ts
  apps/api/src/app/workflows-v2/usecases/post-process-workflow-update/post-process-workflow-update.usecase.ts
  apps/api/src/app/workflows-v2/usecases/upsert-workflow/upsert-workflow.usecase.ts
  apps/api/src/app/workflows-v2/workflow.controller.e2e.ts
  apps/api/src/app/workflows-v2/workflow.module.ts
  libs/application-generic/src/usecases/create-workflow/create-workflow.command.ts
  libs/application-generic/src/usecases/create-workflow/create-workflow.usecase.ts
  libs/application-generic/src/usecases/delete-preferences/delete-preferences.command.ts
  libs/application-generic/src/usecases/delete-preferences/delete-preferences.usecase.ts
  libs/application-generic/src/usecases/delete-preferences/index.ts
  libs/application-generic/src/usecases/execute-bridge-request/execute-bridge-request.usecase.ts
  libs/application-generic/src/usecases/index.ts
  libs/application-generic/src/usecases/upsert-preferences/upsert-preferences.command.ts
  libs/application-generic/src/usecases/upsert-preferences/upsert-preferences.usecase.ts
  libs/application-generic/src/usecases/upsert-preferences/upsert-subscriber-global-preferences.command.ts
  libs/application-generic/src/usecases/upsert-preferences/upsert-workflow-preferences.command.ts
  libs/application-generic/src/usecases/workflow/delete-workflow/delete-workflow.usecase.ts
  libs/application-generic/src/usecases/workflow/get-workflow-by-ids/get-workflow-by-ids.dto.ts
  libs/application-generic/src/usecases/workflow/get-workflow-by-ids/get-workflow-by-ids.usecase.ts
  libs/application-generic/src/usecases/workflow/index.ts
  libs/application-generic/src/usecases/workflow/update-workflow/update-workflow.command.ts
  libs/application-generic/src/usecases/workflow/update-workflow/update-workflow.usecase.ts
  libs/dal/src/repositories/notification-template/notification-template.entity.ts
  libs/testing/src/notification-template.service.ts
  packages/shared/src/utils/buildWorkflowPreferences.ts
Labels: @novu/api, @novu/dal, @novu/shared

#7025 feat(web, dashboard, api, shared): Add enhanced `slugify` to handle multilingual, special, and emoji characters
  apps/api/src/app/workflows-v2/generate-preview.e2e.ts
  apps/api/src/app/workflows-v2/usecases/validate-content/validate-placeholders/validate-placeholder.usecase.ts
  apps/api/src/app/workflows-v2/workflow.controller.e2e.ts
  packages/shared/src/utils/index.ts
  packages/shared/src/utils/slugify/builtinReplacements.ts
  packages/shared/src/utils/slugify/index.ts
  packages/shared/src/utils/slugify/slugify.spec.ts
  packages/shared/src/utils/slugify/slugify.ts
  packages/shared/src/utils/slugify/transliterate.ts
  packages/shared/src/utils/strings.ts
Labels: @novu/api, @novu/shared

#7026 fix(api): Add human friendly error messages for control and payload issues.
  apps/api/src/app/shared/services/helper/helper.service.spec.ts
  apps/api/src/app/shared/services/helper/helper.service.ts
  apps/api/src/app/workflows-v2/usecases/validate-content/prepare-and-validate-content/prepare-and-validate-content.usecase.ts
Labels: @novu/api

#7004 feat(web): enable opt-in inside user profile for v2
  apps/web/src/ee/clerk/components/UserProfileButton.tsx
Labels: @novu/web

#7038 feat(dashboard): Pause workflow from the context actions on workflow list
  apps/api/src/app/workflows-v2/mappers/notification-template-mapper.ts
  apps/dashboard/src/api/api.client.ts
  apps/dashboard/src/api/workflows.ts
  apps/dashboard/src/components/workflow-row.tsx
  apps/dashboard/src/components/workflow-status.tsx
  apps/dashboard/src/hooks/use-patch-workflow.ts
Labels: @novu/api

#7022 fix(web): when user is opted-in redirect to the new dashboard on route change
  apps/dashboard/src/context/opt-in-provider.tsx
  apps/web/src/Providers.tsx
  apps/web/src/components/layout/components/PrivatePageLayout.tsx
  apps/web/src/hooks/useNewDashboardOptIn.ts
  apps/web/src/hooks/useOptInRedirect.ts
Labels: @novu/web

#7040 chore(root): update runner environment from blacksmith to ubuntu-latest
  .github/workflows/codeql-analysis.yml
  .github/workflows/community-label.yml
  .github/workflows/conventional-commit.yml
  .github/workflows/milestone-assign.yml
  .github/workflows/on-pr-change.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/pr-manager.yml
Labels: CI/CD

#7043 fix(api): Support fetching V1 Workflows without V2 Preferences
  apps/api/src/app/workflows-v1/e2e/get-notification-template.e2e.ts
  libs/application-generic/src/usecases/workflow/get-workflow-by-ids/get-workflow-by-ids.usecase.ts
Labels: @novu/api

#7041 feat(api): update patch dto
  apps/api/src/app/workflows-v2/usecases/patch-step-data/patch-step.command.ts
  apps/api/src/app/workflows-v2/usecases/patch-workflow/patch-workflow.command.ts
  apps/api/src/app/workflows-v2/usecases/patch-workflow/patch-workflow.usecase.ts
  apps/api/src/app/workflows-v2/usecases/post-process-workflow-update/post-process-workflow-update.usecase.ts
  apps/api/src/app/workflows-v2/workflow.controller.ts
  packages/shared/src/dto/workflows/workflow-commons-fields.ts
Labels: @novu/api, @novu/shared

#7049 feat(api): remove url as required field
  apps/api/src/app/workflows-v2/shared/schemas/in-app-control.schema.ts
Labels: @novu/api

#7048 fix(api): payload schema parsing
  apps/api/src/app/workflows-v2/usecases/build-test-data/build-workflow-test-data.usecase.ts
Labels: @novu/api

#7055 fix(dashboard, api): Add stronger validation for frontend and backend workflow schemas
  apps/api/src/app/events/e2e/bridge-trigger.e2e.ts
  apps/api/src/app/workflows-v1/e2e/update-notification-template.e2e.ts
  apps/api/src/app/workflows-v2/usecases/post-process-workflow-update/post-process-workflow-update.usecase.ts
  apps/api/src/app/workflows-v2/workflow.controller.e2e.ts
  apps/dashboard/src/components/create-workflow-button.tsx
  apps/dashboard/src/components/primitives/textarea.tsx
  apps/dashboard/src/components/workflow-editor/configure-workflow.tsx
  apps/dashboard/src/components/workflow-editor/schema.ts
  apps/dashboard/src/main.tsx
  apps/dashboard/src/utils/validation.ts
  libs/application-generic/src/usecases/create-workflow/create-workflow.command.ts
  libs/application-generic/src/usecases/workflow/update-workflow/update-workflow.command.ts
Labels: @novu/api

#7057 fix(dashboard): Ensure that dashboard works in local on checkout
  apps/api/src/.example.env
  apps/api/src/config/env.validators.ts
  apps/dashboard/vite.config.ts
Labels: @novu/api

#7059 fix(web): opt in redirect for v2 dashboard only
  apps/web/src/hooks/useOptInRedirect.ts
Labels: @novu/web

#7011 chore(api): Migrate all V1 Preferences to V2 Preferences
  apps/api/migrations/preference-centralization/preference-centralization-migration.spec.ts
  apps/api/migrations/preference-centralization/preference-centralization-migration.ts
Labels: @novu/api

#7032 feat(api): add delay digest ui schemas
  apps/api/src/app/workflows-v2/shared/map-step-type-to-output.mapper.ts
  apps/api/src/app/workflows-v2/shared/schemas/delay-control.schema.ts
  apps/api/src/app/workflows-v2/shared/schemas/digest-control.schema.ts
  apps/api/src/app/workflows-v2/shared/schemas/email-control.schema.ts
  apps/api/src/app/workflows-v2/shared/schemas/in-app-control.schema.ts
  apps/api/src/app/workflows-v2/usecases/patch-step-data/patch-step.usecase.ts
  apps/api/src/app/workflows-v2/usecases/patch-workflow/patch-workflow.usecase.ts
  apps/api/src/app/workflows-v2/usecases/upsert-workflow/upsert-workflow.usecase.ts
  apps/api/src/app/workflows-v2/workflow.controller.ts
  packages/shared/src/dto/workflows/step-data.dto.ts
  packages/shared/src/dto/workflows/workflow-commons-fields.ts
Labels: @novu/api, @novu/shared

#7063 fix(api): Nv 4798 unify default step controls definition using only zod
  apps/api/src/app/environments-v1/novu-bridge.module.ts
  apps/api/src/app/environments-v1/usecases/construct-framework-workflow/construct-framework-workflow.usecase.ts
  apps/api/src/app/environments-v1/usecases/output-renderers/delay-output-renderer.usecase.ts
  apps/api/src/app/environments-v1/usecases/output-renderers/digest-output-renderer.usecase.ts
  apps/api/src/app/environments-v1/usecases/output-renderers/in-app-output-renderer.usecase.ts
  apps/api/src/app/environments-v1/usecases/output-renderers/render-email-output.usecase.ts
  apps/api/src/app/workflows-v2/generate-preview.e2e.ts
  apps/api/src/app/workflows-v2/shared/map-step-type-to-output.mapper.ts
  apps/api/src/app/workflows-v2/shared/schemas/delay-control.schema.ts
  apps/api/src/app/workflows-v2/shared/schemas/digest-control.schema.ts
  apps/api/src/app/workflows-v2/shared/schemas/email-control.schema.ts
  apps/api/src/app/workflows-v2/shared/schemas/in-app-control.schema.ts
  apps/api/src/app/workflows-v2/usecases/build-step-data/build-step-data.usecase.ts
  apps/api/src/app/workflows-v2/usecases/extract-default-values-from-schema/extract-default-values-from-schema.usecase.ts
  apps/api/src/app/workflows-v2/usecases/generate-preview/generate-preview.usecase.ts
  apps/api/src/app/workflows-v2/usecases/validate-content/prepare-and-validate-content/prepare-and-validate-content.usecase.ts
  apps/api/src/app/workflows-v2/usecases/validate-content/validate-placeholders/validate-placeholder.usecase.ts
  apps/api/src/app/workflows-v2/workflow.controller.e2e.ts
  packages/shared/src/dto/workflows/preview-step-response.dto.ts
  packages/shared/src/dto/workflows/step-data.dto.ts
Labels: @novu/api, @novu/shared

#7069 fix(api): Remove workflow property issue checks
  apps/api/src/app/workflows-v2/usecases/post-process-workflow-update/post-process-workflow-update.usecase.ts
Labels: @novu/api

#7076 fix(api): null issues
  apps/api/src/app/workflows-v2/generate-preview.e2e.ts
  apps/api/src/app/workflows-v2/shared/schemas/in-app-control.schema.ts
  apps/api/src/app/workflows-v2/usecases/validate-content/prepare-and-validate-content/prepare-and-validate-content.usecase.ts
Labels: @novu/api

#7073 chore(root): Release npm packages
  .cspell.json
  apps/api/package.json
  apps/dashboard/package.json
  apps/inbound-mail/package.json
  apps/web/package.json
  apps/webhook/package.json
  apps/widget/package.json
  apps/worker/package.json
  apps/ws/package.json
  enterprise/packages/auth/package.json
  enterprise/packages/billing/package.json
  enterprise/packages/dal/package.json
  enterprise/packages/shared-services/package.json
  enterprise/packages/translation/package.json
  libs/application-generic/package.json
  libs/automation/package.json
  libs/dal/package.json
  libs/design-system/package.json
  libs/embed/package.json
  libs/notifications/package.json
  libs/testing/package.json
  migrations.json
  nx.json
  package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/framework/CHANGELOG.md
  packages/framework/package.json
  packages/headless/CHANGELOG.md
  packages/headless/package.json
  packages/js/CHANGELOG.md
  packages/js/package.json
  packages/nextjs/CHANGELOG.md
  packages/node/CHANGELOG.md
  packages/node/package.json
  packages/notification-center/package.json
  packages/novu/CHANGELOG.md
  packages/novu/package.json
  packages/providers/CHANGELOG.md
  packages/providers/package.json
  packages/react-native/CHANGELOG.md
  packages/react/CHANGELOG.md
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/stateless/CHANGELOG.md
  playground/nestjs/package.json
  pnpm-lock.yaml
Labels: @novu/api, @novu/web, @novu/dal, @novu/webhook, @novu/ws, @novu/notification-center, @novu/shared, @novu/worker, @novu/inbound-mail, @novu/design-system

#6931 chore(shared, dal, api, worker, application-generic): remove the unwanted expiredAt in favour of atlas triggers
  apps/api/src/app/events/e2e/delay-events.e2e.ts
  apps/api/src/app/events/e2e/trigger-event.e2e.ts
  apps/api/src/app/widgets/dtos/feeds-response.dto.ts
  apps/api/src/config/env.validators.ts
  apps/worker/src/app/workflow/specs/inbound-email-parse.spec.ts
  apps/worker/src/app/workflow/usecases/add-job/merge-or-create-digest.usecase.ts
  apps/worker/src/config/env.validators.ts
  libs/application-generic/src/dtos/execution-log-job.dto.ts
  libs/application-generic/src/usecases/create-execution-details/create-execution-details.command.ts
  libs/application-generic/src/usecases/create-notification-jobs/create-notification-jobs.usecase.ts
  libs/application-generic/src/usecases/execution-log-route/execution-log-route.command.ts
  libs/dal/src/repositories/base-repository.ts
  libs/dal/src/repositories/execution-details/execution-details.entity.ts
  libs/dal/src/repositories/execution-details/execution-details.schema.ts
  libs/dal/src/repositories/job/job.entity.ts
  libs/dal/src/repositories/job/job.schema.ts
  libs/dal/src/repositories/message/message.entity.ts
  libs/dal/src/repositories/message/message.schema.ts
  libs/dal/src/repositories/notification/notification.entity.ts
  libs/dal/src/repositories/notification/notification.schema.ts
  libs/dal/src/types/env.d.ts
  packages/node/src/lib/messages/messages.spec.ts
  packages/shared/src/dto/widget/notification.dto.ts
  packages/shared/src/entities/job/job.interface.ts
Labels: @novu/api, @novu/dal, @novu/shared, @novu/worker

#7082 ci(web): add new dashboard url env var
  .github/workflows/prod-deploy-web.yml
  .github/workflows/reusable-web-deploy.yml
Labels: CI/CD

#7083 fix(dal): Add index on createdAt for Online Archive in execution, job…
  libs/dal/src/repositories/execution-details/execution-details.schema.ts
  libs/dal/src/repositories/job/job.schema.ts
  libs/dal/src/repositories/message/message.schema.ts
  libs/dal/src/repositories/notification/notification.schema.ts
Labels: @novu/dal

#7096 chore(webhook): Update Dockerfile and add .dockerignore for improved …
  apps/webhook/.dockerignore
  apps/webhook/Dockerfile
  libs/application-generic/package.json
  pnpm-lock.yaml
Labels: @novu/webhook

#7100 feat(root): Add base Dockerfile for GHCR with Node.js and dependencies
  docker/Dockerfile.base
Labels: docker

#7102 fix(dashboard,web): opt-in page flickering; login/logout redirect
  apps/web/src/components/layout/components/PrivatePageLayout.tsx
  apps/web/src/hooks/useOptInRedirect.ts
Labels: @novu/web

#7101 revert(api): Return all preference channels for Subscriber Preference API
  apps/api/src/app/inbox/inbox.controller.ts
  apps/api/src/app/inbox/usecases/get-inbox-preferences/get-inbox-preferences.spec.ts
  apps/api/src/app/inbox/usecases/get-inbox-preferences/get-inbox-preferences.usecase.ts
  apps/api/src/app/inbox/usecases/update-preferences/update-preferences.command.ts
  apps/api/src/app/inbox/usecases/update-preferences/update-preferences.spec.ts
  apps/api/src/app/inbox/usecases/update-preferences/update-preferences.usecase.ts
  apps/api/src/app/subscribers/e2e/get-preferences.e2e.ts
  apps/api/src/app/subscribers/e2e/helpers/index.ts
  apps/api/src/app/subscribers/e2e/update-global-preference.e2e.ts
  apps/api/src/app/subscribers/e2e/update-preference.e2e.ts
  apps/api/src/app/subscribers/subscribers.controller.ts
  apps/api/src/app/subscribers/usecases/get-preferences-by-level/get-preferences-by-level.command.ts
  apps/api/src/app/subscribers/usecases/get-preferences-by-level/get-preferences-by-level.usecase.ts
  apps/api/src/app/widgets/widgets.controller.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message.usecase.ts
  libs/application-generic/src/usecases/get-subscriber-global-preference/get-subscriber-global-preference.command.ts
  libs/application-generic/src/usecases/get-subscriber-global-preference/get-subscriber-global-preference.usecase.ts
  libs/application-generic/src/usecases/get-subscriber-preference/get-subscriber-preference.command.ts
  libs/application-generic/src/usecases/get-subscriber-preference/get-subscriber-preference.usecase.ts
  libs/application-generic/src/usecases/get-subscriber-template-preference/get-subscriber-template-preference.command.ts
  libs/application-generic/src/usecases/get-subscriber-template-preference/get-subscriber-template-preference.usecase.ts
Labels: @novu/api, @novu/worker

#7104 ci(web): add staging new dashboard url to deploy action
  .github/workflows/dev-deploy-web.yml
Labels: CI/CD

#7092 fix(api): Nv 4823 no validation around bad urls + 400 in client
  apps/api/src/app/environments-v1/usecases/output-renderers/in-app-output-renderer.usecase.ts
  apps/api/src/app/workflows-v2/generate-preview.e2e.ts
  apps/api/src/app/workflows-v2/usecases/extract-default-values-from-schema/extract-default-values-from-schema.usecase.ts
  apps/api/src/app/workflows-v2/usecases/generate-preview/generate-preview.usecase.ts
  apps/api/src/app/workflows-v2/usecases/validate-content/prepare-and-validate-content/prepare-and-validate-content.usecase.ts
  apps/api/src/app/workflows-v2/util/jsonUtils.ts
  apps/api/src/app/workflows-v2/util/url-utils.ts
  apps/api/src/exception-filter.ts
  packages/shared/src/dto/workflows/preview-step-response.dto.ts
  packages/shared/src/dto/workflows/step-content-issue.enum.ts
Labels: @novu/api, @novu/shared

#7099 fix(dashboard): Workflow editor UI fixes
  apps/dashboard/src/components/create-workflow-button.tsx
  apps/dashboard/src/components/header-navigation/header-button.tsx
  apps/dashboard/src/components/primitives/breadcrumb.tsx
  apps/dashboard/src/components/primitives/button.tsx
  apps/dashboard/src/components/primitives/select.tsx
  apps/dashboard/src/components/side-navigation/organization-dropdown.tsx
  apps/dashboard/src/components/side-navigation/side-navigation.tsx
  apps/dashboard/src/components/user-profile.tsx
  apps/dashboard/src/components/workflow-editor/configure-workflow.tsx
  apps/dashboard/src/components/workflow-editor/workflow-canvas.tsx
  apps/dashboard/src/index.css
  apps/web/src/components/layout/components/v2/NewDashboardOptInWidget.tsx
Labels: @novu/web

#7088 feat(worker): add defer duration validation
  apps/api/src/app/workflows-v2/usecases/generate-preview/generate-preview.usecase.ts
  apps/api/src/app/workflows-v2/usecases/overload-content-data/overload-content-data-on-workflow.usecase.ts
  apps/api/src/app/workflows-v2/usecases/post-process-workflow-update/post-process-workflow-update.usecase.ts
  apps/api/src/app/workflows-v2/usecases/validate-content/prepare-and-validate-content/prepare-and-validate-content.command.ts
  apps/api/src/app/workflows-v2/usecases/validate-content/prepare-and-validate-content/prepare-and-validate-content.usecase.ts
  apps/api/src/app/workflows-v2/workflow.controller.e2e.ts
  apps/api/src/app/workflows-v2/workflow.module.ts
  apps/worker/src/app/workflow/usecases/add-job/add-delay-job.usecase.ts
  apps/worker/src/app/workflow/usecases/add-job/add-job.usecase.ts
  apps/worker/src/app/workflow/workflow.module.ts
  libs/application-generic/src/services/calculate-delay/compute-job-wait-duration.service.ts
  libs/application-generic/src/usecases/create-execution-details/create-execution-details.command.ts
  libs/application-generic/src/usecases/create-execution-details/types/index.ts
  libs/application-generic/src/usecases/create-notification-jobs/create-notification-jobs.usecase.ts
  libs/application-generic/src/usecases/execution-log-route/execution-log-route.command.ts
  libs/application-generic/src/usecases/index.ts
  libs/application-generic/src/usecases/tier-restrictions-validate/index.ts
  libs/application-generic/src/usecases/tier-restrictions-validate/tier-restrictions-validate.command.ts
  libs/application-generic/src/usecases/tier-restrictions-validate/tier-restrictions-validate.consts.ts
  libs/application-generic/src/usecases/tier-restrictions-validate/tier-restrictions-validate.response.ts
  libs/application-generic/src/usecases/tier-restrictions-validate/tier-restrictions-validate.usecase.ts
  packages/shared/src/dto/workflows/step-content-issue.enum.ts
  packages/shared/src/dto/workflows/workflow-commons-fields.ts
Labels: @novu/api, @novu/shared, @novu/worker

#7103 fix(api, dal, framework): fix the uneven and unused dependencies
  apps/api/package.json
  apps/api/src/app/environments-v1/novu-bridge.controller.ts
  enterprise/packages/dal/package.json
  libs/dal/package.json
  package.json
  packages/framework/package.json
  packages/framework/src/servers/nest/nest.controller.ts
  packages/providers/package.json
  pnpm-lock.yaml
Labels: @novu/api, @novu/dal

#7107 chore(api): Add batch mechanism for preference centralization migration and improve logging
  apps/api/migrations/preference-centralization/preference-centralization-migration.ts
Labels: @novu/api

#7106 fix(api): Nv 4836 v2 dashboard workflows show error in old dashboard
  apps/api/src/app/workflows-v1/usecases/get-notification-templates/get-notification-templates.usecase.ts
  apps/api/src/app/workflows-v1/workflow-v1.controller.ts
  apps/api/src/app/workflows-v2/workflow.controller.e2e.ts
  libs/dal/src/repositories/notification-template/notification-template.repository.ts
  packages/shared/src/clients/workflows-client.ts
Labels: @novu/api, @novu/dal, @novu/shared

#7118 fix(api): Migrate subscriber global preferences before workflow preferences
  apps/api/migrations/preference-centralization/preference-centralization-migration.ts
  apps/api/package.json
  pnpm-lock.yaml
Labels: @novu/api

#7139 fix(api): fix step id on sync to env
  apps/api/src/app/workflows-v2/usecases/sync-to-environment/sync-to-environment.usecase.ts
  apps/api/src/app/workflows-v2/workflow.controller.e2e.ts
Labels: @novu/api

#7142 chore(root): Release version `2.1.0` for all applications
  apps/api/package.json
  apps/dashboard/package.json
  apps/inbound-mail/package.json
  apps/web/package.json
  apps/webhook/package.json
  apps/widget/package.json
  apps/worker/package.json
  apps/ws/package.json
  lerna.json
  nx.json
  package.json
  packages/client/package.json
  packages/framework/package.json
  packages/headless/package.json
  packages/js/package.json
  packages/nextjs/package.json
  packages/node/package.json
  packages/notification-center-angular/package.json
  packages/notification-center-vue/package.json
  packages/novu/package.json
  packages/providers/package.json
  packages/react/package.json
  packages/shared/package.json
  packages/stateless/package.json
  pnpm-lock.yaml
  scripts/release.mjs
Labels: @novu/api, @novu/web, @novu/webhook, @novu/ws, @novu/shared, @novu/notification-center-vue, @novu/notification-center-angular, @novu/worker, @novu/inbound-mail, scripts

#7114 feat(dashboard): Sign up Questionnaire
  .cspell.json
  apps/dashboard/package.json
  apps/dashboard/public/images/auth/chat-preview.webp
  apps/dashboard/public/images/auth/email-preview.webp
  apps/dashboard/public/images/auth/in_app-preview.webp
  apps/dashboard/public/images/auth/push-preview.webp
  apps/dashboard/public/images/auth/sms-preview.webp
  apps/dashboard/src/api/organization.ts
  apps/dashboard/src/api/telemetry.ts
  apps/dashboard/src/components/auth-layout.tsx
  apps/dashboard/src/components/auth/auth-card.tsx
  apps/dashboard/src/components/auth/create-organization.tsx
  apps/dashboard/src/components/auth/questionnaire-form.tsx
  apps/dashboard/src/components/auth/shared.tsx
  apps/dashboard/src/components/auth/usecase-selector.tsx
  apps/dashboard/src/components/auth/usecases-list.utils.tsx
  apps/dashboard/src/components/icons/onboarding-arrow-left.tsx
  apps/dashboard/src/main.tsx
  apps/dashboard/src/pages/index.ts
  apps/dashboard/src/pages/questionnaire-page.tsx
  apps/dashboard/src/pages/usecase-select-page.tsx
  apps/dashboard/src/utils/cookies.ts
  apps/dashboard/src/utils/routes.ts
  apps/dashboard/src/utils/telemetry.ts
  packages/shared/src/dto/organization/update-external-organization.dto.ts
  packages/shared/src/types/organization/index.ts
  pnpm-lock.yaml
Labels: @novu/shared

#7105 feat(application-generic): add SUBSCRIBER_WIDGET_JWT_EXPIRATION_TIME env variable
  apps/api/src/.example.env
  apps/api/src/config/env.validators.ts
  apps/worker/src/.example.env
  apps/worker/src/config/env.validators.ts
  docker/community/.env.example
  docker/community/docker-compose.yml
  libs/application-generic/src/services/auth/community.auth.service.ts
Labels: @novu/api, @novu/worker, docker

#7167 fix(api,dashboard): Invalid url error and in-app tabs spacing
  apps/api/src/app/workflows-v2/usecases/validate-content/prepare-and-validate-content/prepare-and-validate-content.usecase.ts
  apps/dashboard/src/components/workflow-editor/steps/controls/custom-step-controls.tsx
  apps/dashboard/src/components/workflow-editor/steps/in-app/in-app-editor-preview.tsx
  apps/dashboard/src/components/workflow-editor/steps/in-app/in-app-editor.tsx
  apps/dashboard/src/components/workflow-editor/steps/in-app/in-app-tabs-section.tsx
  apps/dashboard/src/components/workflow-editor/steps/in-app/in-app-tabs.tsx
Labels: @novu/api

#7168 chore(root): Remove logs
  apps/api/admin/remove-organization.ts
  apps/api/migrations/deleteLogs/dropLogsCollection.ts
  apps/api/src/app/events/e2e/trigger-event-topic.e2e.ts
  apps/api/src/app/events/events.module.ts
  apps/api/src/app/logs/logs.controller.ts
  apps/api/src/app/logs/logs.module.ts
  apps/api/src/app/logs/usecases/create-log/create-log.command.ts
  apps/api/src/app/logs/usecases/create-log/create-log.usecase.ts
  apps/api/src/app/logs/usecases/create-log/index.ts
  apps/api/src/app/logs/usecases/index.ts
  apps/api/src/app/shared/shared.module.ts
  apps/web/env-config.js
  apps/worker/src/app/shared/logs/create-log.command.ts
  apps/worker/src/app/shared/logs/create-log.usecase.ts
  apps/worker/src/app/shared/logs/index.ts
  apps/worker/src/app/shared/shared.module.ts
  apps/worker/src/app/workflow/usecases/send-message/digest/digest.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-chat.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-delay.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-email.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-in-app.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-push.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-sms.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-type.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message.base.ts
  libs/dal/src/index.ts
  libs/dal/src/repositories/log/index.ts
  libs/dal/src/repositories/log/log.entity.ts
  libs/dal/src/repositories/log/log.repository.ts
  libs/dal/src/repositories/log/log.schema.ts
Labels: @novu/api, @novu/web, @novu/dal, @novu/worker
