Repository novuhq/novu, pull requests merged in 2024-05, with the labels that each got.

#5475 fix: remove get started onboarding experiment modal
  apps/web/src/constants/experimentsConstants.ts
  apps/web/src/pages/auth/components/QuestionnaireForm.tsx
  apps/web/src/pages/quick-start/components/OnboardingExperimentModal.tsx
  apps/web/src/pages/quick-start/steps/GetStarted.tsx
Labels: @novu/web

#5468 fix: remove hubspot script to avoid duplicate events tracking
  apps/web/public/index.html
Labels: @novu/web

#5480 feat: Change prettier config to js so it can be 'extended'
  .prettierrc
  apps/web/Dockerfile
  apps/widget/Dockerfile
  prettier.config.js
Labels: @novu/web

#5488 Revert "feat: Change prettier config to js so it can be 'extended' (#…
  .cspell.json
  .prettierrc
  apps/web/Dockerfile
  apps/web/public/index.html
  apps/widget/Dockerfile
  prettier.config.js
Labels: @novu/web

#5466 [Information Architecture] - Routing tweaks
  apps/web/src/SettingsRoutes.tsx
  apps/web/src/components/layout/components/v2/HeaderNav.tsx
  apps/web/src/pages/brand/tabs/BrandingForm.tsx
  libs/design-system/src/cards/CardTile.tsx
Labels: @novu/web, @novu/design-system

#5491 Add novu enterprise trail docker compose file
  .cspell.json
  docker/enterprise/Readme.md
  docker/enterprise/docker-compose.enterprise.yml
Labels: docker

#5494 Revert "Add novu enterprise trail docker compose file"
  .cspell.json
  docker/enterprise/Readme.md
  docker/enterprise/docker-compose.enterprise.yml
Labels: docker

#5495 fix: helm chart
  docker/kubernetes/helm/templates/api/deployment.yaml
Labels: community, helm, docker

#5497 helmchart secret store-encryption-key lenght 32
  docker/kubernetes/helm/templates/secret.yaml
Labels: community, helm, docker

#5503 remove testing from webhook
  apps/webhook/package.json
Labels: @novu/webhook

#5506 [Information Architecture] Refactor to Fix Brand Tests
  apps/api/src/app/auth/usecases/password-reset-request/password-reset-request.usecase.ts
  apps/web/src/SettingsRoutes.tsx
  apps/web/src/pages/brand/tabs/BrandingForm.cy.tsx
  apps/web/src/pages/brand/tabs/BrandingForm.tsx
Labels: @novu/api, @novu/web

#5508 perf: improve mongodb pref fetching
  libs/dal/src/repositories/base-repository.ts
  packages/application-generic/src/usecases/get-subscriber-preference/get-subscriber-preference.usecase.ts
  packages/application-generic/src/usecases/get-subscriber-template-preference/get-subscriber-template-preference.command.ts
  packages/application-generic/src/usecases/get-subscriber-template-preference/get-subscriber-template-preference.usecase.ts
Labels: @novu/dal

#5496 fix: hidden message dropdown below notifications center header
  packages/notification-center/src/components/notification-center/components/notification-item/NotificationListItem.tsx
Labels: @novu/notification-center, community

#5477 refactor: echo getting started page
  apps/web/src/pages/get-started/GetStartedPage.tsx
  apps/web/src/pages/get-started/components/AdditionInformationLink.tsx
  apps/web/src/pages/get-started/components/CodeSnippet.tsx
  apps/web/src/pages/get-started/components/GetStartedAnimation.tsx
  apps/web/src/pages/get-started/components/get-started-tabs/EchoTab.tsx
  apps/web/src/pages/get-started/components/get-started-tabs/GetStartedTabs.const.tsx
  apps/web/src/pages/get-started/components/get-started-tabs/GetStartedTabs.tsx
  apps/web/src/pages/get-started/components/get-started-tabs/useGetStartedTabs.ts
  apps/web/src/pages/get-started/consts/DelayUseCase.const.tsx
  apps/web/src/pages/get-started/consts/DigestUseCase.const.tsx
  apps/web/src/pages/get-started/consts/InAppUseCase.const.tsx
  apps/web/src/pages/get-started/consts/MultiChannelUseCase.const.tsx
  apps/web/src/pages/get-started/consts/OnboardingUseCasesTabsEnum.ts
  apps/web/src/pages/get-started/consts/TranslationUseCase.const.tsx
  apps/web/src/pages/get-started/consts/UseCases.const.tsx
  apps/web/src/pages/get-started/consts/shared.tsx
  apps/web/src/pages/get-started/consts/types.ts
  apps/web/src/pages/get-started/layout/GetStartedTab.tsx
  libs/design-system/src/panda/NovuPandaPreset.ts
Labels: @novu/web, @novu/design-system

#5511 feat: disable old tests
  apps/web/cypress/tests/get-started-page.spec.ts
Labels: @novu/web

#5493 Nv 2906 remove the is topic notification enabled feature flag
  .cspell.json
  apps/api/src/.env.development
  apps/api/src/.env.production
  apps/api/src/.env.test
  apps/api/src/.example.env
  apps/api/src/app/events/e2e/map-trigger-recipients.e2e.ts
  apps/api/src/app/events/e2e/trigger-event-topic.e2e.ts
  apps/api/src/app/events/e2e/trigger-event.e2e.ts
  apps/api/src/app/events/e2e/trigger-multicast.e2e.ts
  apps/api/src/app/events/events.controller.ts
  apps/api/src/app/events/events.module.ts
  apps/api/src/app/integrations/e2e/get-active-integration.e2e.ts
  apps/api/src/config/env-validator.ts
  apps/worker/src/.env.test
  apps/worker/src/app/workflow/workflow.module.ts
  libs/shared/src/types/feature-flags/feature-flags.ts
  libs/shared/src/types/feature-flags/flags.types.spec.ts
  libs/shared/src/types/feature-flags/flags.types.ts
  packages/application-generic/src/.env.test
  packages/application-generic/src/usecases/index.ts
  packages/application-generic/src/usecases/map-trigger-recipients/index.ts
  packages/application-generic/src/usecases/map-trigger-recipients/map-trigger-recipients.command.ts
  packages/application-generic/src/usecases/map-trigger-recipients/map-trigger-recipients.use-case.ts
  packages/application-generic/src/usecases/trigger-broadcast/trigger-broadcast.usecase.ts
  packages/application-generic/src/usecases/trigger-event/trigger-event.usecase.ts
  packages/application-generic/src/usecases/trigger-multicast/trigger-multicast.usecase.ts
Labels: @novu/api, @novu/shared, @novu/worker

#5512 feat(ci): Run e2e when a label exist
  .github/workflows/test.yml
Labels: CI/CD, run-e2e

#5458 refactor(app-gen,worker): move add job to worker
  apps/worker/src/app/workflow/services/subscriber-process.worker.ts
  apps/worker/src/app/workflow/usecases/add-job/add-delay-job.usecase.ts
  apps/worker/src/app/workflow/usecases/add-job/add-job.command.ts
  apps/worker/src/app/workflow/usecases/add-job/add-job.usecase.ts
  apps/worker/src/app/workflow/usecases/add-job/index.ts
  apps/worker/src/app/workflow/usecases/add-job/merge-or-create-digest.command.ts
  apps/worker/src/app/workflow/usecases/add-job/merge-or-create-digest.usecase.ts
  apps/worker/src/app/workflow/usecases/add-job/validation.ts
  apps/worker/src/app/workflow/usecases/queue-next-job/queue-next-job.usecase.ts
  apps/worker/src/app/workflow/usecases/store-subscriber-jobs/index.ts
  apps/worker/src/app/workflow/usecases/store-subscriber-jobs/store-subscriber-jobs.command.ts
  apps/worker/src/app/workflow/usecases/store-subscriber-jobs/store-subscriber-jobs.usecase.ts
  apps/worker/src/app/workflow/usecases/subscriber-job-bound/subscriber-job-bound.command.ts
  apps/worker/src/app/workflow/usecases/subscriber-job-bound/subscriber-job-bound.usecase.ts
  apps/worker/src/app/workflow/workflow.module.ts
  packages/application-generic/src/usecases/index.ts
Labels: @novu/worker

#5515 helmchart - add existingSecret functionality
  docker/kubernetes/helm/templates/api/deployment.yaml
  docker/kubernetes/helm/templates/worker/deployment.yaml
  docker/kubernetes/helm/templates/ws/deployment.yaml
  docker/kubernetes/helm/values.yaml
Labels: community, helm, docker

#5516 helmchart fix extraEnvVars
  docker/kubernetes/helm/templates/worker/deployment.yaml
  docker/kubernetes/helm/templates/ws/deployment.yaml
Labels: helm, docker

#5518 chore: remove feature flags for localization
  apps/api/src/.env.development
  apps/api/src/.env.production
  apps/api/src/.example.env
  apps/web/.env
  apps/web/src/components/layout/components/SideNav.tsx
  libs/shared/src/types/feature-flags/feature-flags.ts
Labels: @novu/web, @novu/shared

#5438 Update README.md
  README.md
Labels: community

#5500 E2E fail slack notification + scheduled API tests
  .cspell.json
  .github/workflows/reusable-api-e2e.yml
  .github/workflows/reusable-web-e2e.yml
  .github/workflows/reusable-widget-e2e.yml
  .github/workflows/scheduled_e2e.yml
Labels: CI/CD

#5519 This PR add a proprientary non-production docker compose file for Novu enterprise
  .cspell.json
  docker/enterprise/.env.example
  docker/enterprise/LICENSE
  docker/enterprise/Readme.md
  docker/enterprise/docker-compose.enterprise.yml
Labels: docker

#5474 feat: add backend proxy for segment
  apps/api/src/app.module.ts
  apps/api/src/app/analytics/analytics.controller.ts
  apps/api/src/app/analytics/analytics.module.ts
  libs/shared-web/src/utils/segment.ts
Labels: @novu/api

#5482 feat: remove sending provider error to sentry
  apps/worker/src/app/workflow/usecases/send-message/send-message-push.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-sms.usecase.ts
Labels: @novu/worker

#5520 feat(ci): Condition update for Slack Notification
  .github/workflows/reusable-web-e2e.yml
Labels: CI/CD

#5460 fix(ci): Instant rollback process
  .github/workflows/rollback.yml
Labels: CI/CD

#5521 feat(ci): One platform for Docker images
  .github/workflows/prod-deploy-api.yml
  .github/workflows/prod-deploy-inbound-mail.yml
  .github/workflows/prod-deploy-worker.yml
  .github/workflows/prod-deploy-ws.yml
  .github/workflows/reusable-docker.yml
  apps/inbound-mail/package.json
  apps/ws/package.json
Labels: @novu/ws, CI/CD, @novu/inbound-mail

#5524 chore: Pass production environment input when running API e2e
  .github/workflows/prod-deploy-api.yml
  .github/workflows/prod-deploy-widget.yml
Labels: CI/CD

#5522 fix: remove hostlist
  apps/api/src/app/organization/dtos/update-branding-details.dto.ts
  apps/api/src/app/user/dtos/update-profile-request.dto.ts
Labels: @novu/api

#5525 feat(ci): Condition fix
  .github/workflows/reusable-api-e2e.yml
Labels: CI/CD, run-e2e

#5528 Fix form not dirty on image upload
  apps/web/src/pages/brand/tabs/v2/BrandLogoUpload.tsx
Labels: @novu/web

#5532 Fixes for scheduled e2e
  .github/workflows/scheduled_e2e.yml
Labels: CI/CD

#5534 fix mongodb secret condition and helper
  docker/kubernetes/helm/templates/_helpers.tpl
  docker/kubernetes/helm/templates/db-secrets.yaml
Labels: community, helm, docker

#5530 run deploy dev on app generic changes
  .github/workflows/dev-deploy-api.yml
Labels: CI/CD

#5535 fix: provider sidebar from 'get-started' screen
  apps/web/src/pages/integrations/components/multi-provider/SelectProviderSidebar.tsx
Labels: @novu/web

#5540 fix(actions): Exclude prod branch from community labels
  .github/workflows/community-label.yml
  .github/workflows/issue-label.yml
Labels: CI/CD

#5541 feat: add ability to set channels during trigger
  .idea/runConfigurations/_template__of_mocha_javascript_test_runner.xml
  apps/api/src/app/events/e2e/trigger-event.e2e.ts
  apps/api/src/app/subscribers/dtos/update-subscriber-channel-request.dto.ts
  apps/api/src/app/subscribers/subscribers.controller.ts
  apps/api/src/app/subscribers/unit/update-subscriber-channel.spec.ts
  apps/api/src/app/subscribers/usecases/chat-oauth-callback/chat-oauth-callback.usecase.ts
  apps/api/src/app/subscribers/usecases/delete-subscriber-credentials/delete-subscriber-credentials.spec.ts
  apps/api/src/app/subscribers/usecases/index.ts
  apps/api/src/app/subscribers/usecases/update-subscriber-channel/update-subscriber-channel.command.ts
  apps/worker/src/app/shared/shared.module.ts
  libs/shared/src/types/subscriber/index.ts
  packages/application-generic/src/usecases/create-subscriber/create-subscriber.command.ts
  packages/application-generic/src/usecases/create-subscriber/create-subscriber.usecase.ts
  packages/application-generic/src/usecases/index.ts
  packages/application-generic/src/usecases/process-subscriber/process-subscriber.usecase.ts
  packages/application-generic/src/usecases/subscribers/index.ts
  packages/application-generic/src/usecases/subscribers/types/index.ts
  packages/application-generic/src/usecases/subscribers/update-subscriber-channel/index.ts
  packages/application-generic/src/usecases/subscribers/update-subscriber-channel/update-subscriber-channel.command.ts
  packages/application-generic/src/usecases/subscribers/update-subscriber-channel/update-subscriber-channel.usecase.ts
  packages/application-generic/src/usecases/update-subscriber/update-subscriber.command.ts
  packages/application-generic/src/usecases/update-subscriber/update-subscriber.usecase.ts
  packages/application-generic/src/utils/subscriber.ts
Labels: @novu/api, @novu/shared, @novu/worker, run-e2e

#5551 feat(actions): Introduce prepare-release action
  .cspell.json
  .github/workflows/prepare-cloud-release.yaml
Labels: CI/CD

#5517 [NV-3735]: Improve launch darkly
  apps/web/cypress/tests/auth.spec.ts
  apps/web/cypress/tests/invites.spec.ts
  apps/web/src/AppRoutes.tsx
  apps/web/src/Providers.tsx
  apps/web/src/SettingsRoutes.tsx
  apps/web/src/components/launch-darkly/LaunchDarklyProvider.tsx
  apps/web/src/components/launch-darkly/index.ts
  apps/web/src/components/launch-darkly/utils/selectShouldInitializeLaunchDarkly.tsx
  apps/web/src/components/launch-darkly/utils/selectShouldShowLaunchDarklyFallback.tsx
  libs/shared-web/src/hooks/useFeatureFlags.ts
  libs/shared-web/src/index.ts
  libs/shared-web/src/providers/AuthProvider.tsx
  libs/shared-web/src/utils/auth-selectors/index.ts
  libs/shared-web/src/utils/auth-selectors/selectHasUserCompletedSignUp.ts
  libs/shared-web/src/utils/checkShouldUseLaunchDarkly.ts
  libs/shared-web/src/utils/index.ts
Labels: @novu/web

#5559 feat: Replace sign-in png with webp
  apps/web/public/static/images/signin_bg.png
  apps/web/public/static/images/signin_bg.webp
  apps/web/src/components/layout/components/AuthLayout.tsx
Labels: @novu/web

#5567 Polish nx token setup
  .gitignore
  libs/automation/nx.json
  nx.json
  package.json
  scripts/get-remote-env-files.sh
Labels: scripts

#5549 feat: add invite team members nudge flow
  .cspell.json
  apps/api/src/.env.development
  apps/api/src/.env.production
  apps/api/src/.env.test
  apps/api/src/.example.env
  apps/api/src/app/events/usecases/parse-event-request/parse-event-request.usecase.ts
  apps/api/src/app/invites/invites.controller.ts
  apps/api/src/app/invites/usecases/index.ts
  apps/api/src/app/invites/usecases/invite-nudge-webhook/invite-nudge-command.ts
  apps/api/src/app/invites/usecases/invite-nudge-webhook/invite-nudge-usecase.ts
  apps/api/src/app/widgets/usecases/mark-message-as/mark-message-as.usecase.ts
  apps/web/src/AppRoutes.tsx
  apps/web/src/components/layout/RequiredAuth.tsx
  apps/web/src/components/layout/components/NotificationCenterWidget.tsx
  apps/web/src/pages/auth/components/LoginForm.tsx
  apps/web/src/pages/auth/components/useAcceptInvite.ts
  libs/shared/src/consts/index.ts
  libs/shared/src/consts/inviteTeamMemberNudge.ts
  libs/shared/src/types/feature-flags/feature-flags.ts
  packages/application-generic/src/usecases/conditions-filter/conditions-filter.usecase.ts
Labels: @novu/api, @novu/web, @novu/shared

#5578 feat(ci): Community releases
  .github/actions/setup-qemu/action.yml
  .github/workflows/community-releases.yml
  apps/inbound-mail/package.json
Labels: CI/CD, @novu/inbound-mail

#5575 fix(web): fixed the flaky failing e2e tests after the changes we introduced with the async launch darkly
  apps/web/cypress/tests/auth.spec.ts
  apps/web/cypress/tests/invites.spec.ts
  apps/web/tests/main-functionality.spec.ts
Labels: @novu/web

#5594 fix(actions): Polish prepare-cloud-release.yaml
  .github/workflows/prepare-cloud-release.yaml
Labels: CI/CD

#5579 [Design System] Deprecations, linting, and helpers
  apps/web/.eslintrc.js
  apps/web/netlify.toml
  apps/web/public/env-config.js
  libs/design-system/src/color-scheme/getColorScheme.ts
  libs/design-system/src/color-scheme/getColorSchemeHtmlElement.ts
  libs/design-system/src/color-scheme/index.ts
  libs/design-system/src/color-scheme/useColorScheme.ts
  libs/design-system/src/config/colors.ts
  libs/design-system/src/config/shadows.ts
Labels: @novu/web, @novu/design-system

#5546 [New design system pkg] Update `web` imports to point to new Panda
  apps/web/src/components/IconButton.tsx
  apps/web/src/components/Timeline/Timeline.styles.ts
  apps/web/src/components/layout/components/v2/HeaderNav.tsx
  apps/web/src/components/nav/EnvironmentSelect/EnvironmentPopover.styles.ts
  apps/web/src/components/nav/EnvironmentSelect/EnvironmentSelect.tsx
  apps/web/src/components/nav/NavMenu.tsx
  apps/web/src/components/nav/NavMenuButton/NavMenuButton.shared.ts
  apps/web/src/components/nav/NavMenuButton/NavMenuButtonRightSide.tsx
  apps/web/src/components/nav/NavMenuButton/NavMenuToggleButton.tsx
  apps/web/src/components/nav/NavMenuFooter.tsx
  apps/web/src/components/nav/NavMenuSection.tsx
  apps/web/src/components/nav/NavSelect.styles.ts
  apps/web/src/components/nav/OrganizationSelect/OrganizationSelect.tsx
  apps/web/src/components/nav/OrganizationSelect/v2/OrganizationSelect.tsx
  apps/web/src/components/nav/RootNavMenuFooter.tsx
  apps/web/src/components/nav/SidebarNav.tsx
  apps/web/src/components/nav/VisibilityButton.tsx
  apps/web/src/components/shared/ProfileImage.styles.ts
  apps/web/src/components/shared/UploadInput.tsx
  apps/web/src/pages/brand/tabs/v2/BrandInputs.tsx
  apps/web/src/pages/brand/tabs/v2/BrandLogoUpload.tsx
  apps/web/src/pages/brand/tabs/v2/BrandingPage.styles.ts
  apps/web/src/pages/brand/tabs/v2/BrandingPage.tsx
  apps/web/src/pages/get-started/GetStartedPage.tsx
  apps/web/src/pages/get-started/components/CodeSnippet.tsx
  apps/web/src/pages/get-started/components/get-started-tabs/EchoTab.tsx
  apps/web/src/pages/settings/ApiKeysPage/ApiKeysPage.tsx
  apps/web/src/pages/settings/SettingsPageContainer.tsx
  apps/web/src/pages/settings/WebhookPage/WebhookAdditionalInformationLink.tsx
  apps/web/src/pages/settings/WebhookPage/WebhookClaimStatusDisplay.tsx
  apps/web/src/pages/settings/WebhookPage/WebhookPage.shared.tsx
  apps/web/src/pages/settings/WebhookPage/WebhookPage.tsx
  apps/web/src/pages/settings/components/InputPlain.tsx
  apps/web/src/pages/settings/organization/OrganizationName.tsx
  apps/web/src/pages/settings/organization/OrganizationPage.tsx
  apps/web/src/pages/settings/user-profile-page/UserProfileForm.tsx
  apps/web/src/pages/settings/user-profile-page/UserProfilePage.tsx
  apps/web/src/pages/settings/user-profile-page/UserProfilePasswordEmailVerificationSection.tsx
  apps/web/src/pages/settings/user-profile-page/UserProfilePasswordForm.tsx
  apps/web/src/pages/settings/user-profile-page/UserProfilePasswordSidebar.tsx
  apps/web/src/pages/settings/user-profile-page/UserProfileSidebarControl.tsx
  apps/web/src/pages/settings/user-profile-page/UserProfileUpdatePasswordForm.tsx
  libs/design-system/src/index.ts
Labels: @novu/web, @novu/design-system

#5569 [Design System] Storybook & Vitest
  libs/novui/.storybook/NovuTheme.tsx
  libs/novui/.storybook/main.ts
  libs/novui/.storybook/manager-head.html
  libs/novui/.storybook/preview-head.html
  libs/novui/.storybook/preview.tsx
  libs/novui/.storybook/public/favicon.svg
  libs/novui/.storybook/public/novu-logo-dark.svg
  libs/novui/.storybook/public/novu-logo-light.svg
  libs/novui/package.json
  libs/novui/postcss.config.cjs
  libs/novui/setup-tests.ts
  libs/novui/src/components/Test.stories.tsx
  libs/novui/src/index.css
  libs/novui/vite.config.ts
  libs/novui/vitest.config.ts
  pnpm-lock.yaml
Labels: @novu/novui

#5592 [Design System] Remove Panda from old Design System & migrate component audit
  libs/design-system/.gitignore
  libs/design-system/.storybook/preview.tsx
  libs/design-system/package.json
  libs/design-system/panda.config.ts
  libs/design-system/postcss.config.cjs
  libs/design-system/src/panda/NovuPandaPreset.ts
  libs/design-system/src/panda/borders.tokens.ts
  libs/design-system/src/panda/colors.tokens.ts
  libs/design-system/src/panda/gradients.tokens.ts
  libs/design-system/src/panda/index.ts
  libs/design-system/src/panda/opacity.tokens.ts
  libs/design-system/src/panda/radius.tokens.ts
  libs/design-system/src/panda/recipes/text.recipe.ts
  libs/design-system/src/panda/recipes/title.recipe.ts
  libs/design-system/src/panda/semanticColors.tokens.ts
  libs/design-system/src/panda/semanticSizes.tokens.ts
  libs/design-system/src/panda/semanticSpacing.tokens.ts
  libs/design-system/src/panda/shadow.tokens.ts
  libs/design-system/src/panda/sizes.tokens.ts
  libs/design-system/src/panda/spacing.tokens.ts
  libs/design-system/src/panda/textStyles.tokens.ts
  libs/design-system/src/panda/typography.tokens.ts
  libs/design-system/src/panda/typography/typography.stories.tsx
  libs/design-system/src/panda/zIndex.tokens.ts
  libs/novui/.eslintrc.js
  libs/novui/package.json
  libs/novui/panda.config.ts
  libs/novui/react-scanner.config.js
  libs/novui/src/component-audit/ComponentAuditTable.stories.tsx
  libs/novui/src/component-audit/ComponentAuditTable.tsx
  pnpm-lock.yaml
Labels: @novu/design-system, @novu/novui

#5602 fix(web): Align version of internal packages
  apps/web/package.json
  pnpm-lock.yaml
Labels: @novu/web

#5595 Inf 371 community release workflow
  .github/workflows/community-releases.yml
Labels: CI/CD

#5608 fix(ci): Fix of actions/download-artifact version
  .github/workflows/dev-deploy-web-component.yml
Labels: CI/CD

#5603 feat(api): add enable type validation
  apps/api/src/app/shared/dtos/channel-preference.ts
  apps/api/src/app/subscribers/e2e/helpers/index.ts
  apps/api/src/app/subscribers/e2e/update-preference.e2e.ts
  apps/api/src/app/widgets/dtos/update-subscriber-preference-request.dto.ts
Labels: @novu/api

#5609 chore(root): Add repo to scopes
  .github/workflows/conventional-commit.yml
  package.json
Labels: CI/CD

#5554 Refactor [@novu/client] : remove axios dependency and use fetch instead
  libs/shared-web/src/api/api.client.ts
  libs/shared/package.json
  libs/shared/src/services/http-client/api.client.ts
  libs/shared/src/services/http-client/index.ts
  libs/shared/src/services/index.ts
  libs/shared/src/types/shared/index.ts
  packages/client/src/api/api.service.ts
  packages/client/src/http-client/http-client.ts
  packages/client/src/http-client/index.ts
  packages/client/src/index.ts
  pnpm-lock.yaml
Labels: @novu/shared

#5615 chore(root): Fix for prepare-cloud-release checkout
  .github/workflows/prepare-cloud-release.yaml
Labels: CI/CD

#5616 ci(root): Better readability of PR title linting comment
  .github/workflows/conventional-commit.yml
Labels: CI/CD

#5618 chore(root): Set NOVU_ENTERPRISE to doppler
  scripts/get-remote-env-files.sh
Labels: scripts

#5610 fix(web): Email add-logo to brand page redirect
  apps/web/src/pages/templates/components/email-editor/EmailMessageEditor.tsx
Labels: @novu/web

#5617 ci(root): Check of EE files within community docker images
  .github/workflows/prepare-self-hosted-release.yml
Labels: CI/CD

#5620 refactor(web): remove jwt-decode and refactor auth logic
  apps/web/package.json
  apps/web/src/AppRoutes.tsx
  apps/web/src/Providers.tsx
  apps/web/src/components/launch-darkly/LaunchDarklyProvider.tsx
  apps/web/src/components/launch-darkly/utils/selectShouldInitializeLaunchDarkly.tsx
  apps/web/src/components/launch-darkly/utils/selectShouldShowLaunchDarklyFallback.tsx
  apps/web/src/components/layout/AppLayout.tsx
  apps/web/src/components/layout/EnsureOnboardingComplete.tsx
  apps/web/src/components/layout/RequiredAuth.tsx
  apps/web/src/hooks/useAuthController.ts
  apps/web/src/hooks/useBlueprint.ts
  apps/web/src/hooks/useVercelIntegration.ts
  apps/web/src/initializeApp.ts
  apps/web/src/pages/auth/LoginPage.tsx
  apps/web/src/pages/auth/components/HubspotSignupForm.tsx
  apps/web/src/pages/auth/components/QuestionnaireForm.tsx
  apps/widget/package.json
  libs/design-system/package.json
  libs/shared-web/src/api/api.client.ts
  libs/shared-web/src/hooks/useAuthController.ts
  libs/shared-web/src/hooks/useEnvController.ts
  libs/shared-web/src/providers/AuthProvider.tsx
  libs/shared-web/src/utils/auth-selectors/index.ts
  libs/shared-web/src/utils/auth-selectors/selectHasUserCompletedSignUp.ts
  libs/shared-web/src/utils/index.ts
  pnpm-lock.yaml
Labels: @novu/web, @novu/design-system

#5624 refactor(web): Single theme entry point & ensure Mantine singletons
  apps/web/src/AppRoutes.tsx
  apps/web/src/Providers.tsx
  apps/web/src/components/layout/AppLayout.tsx
  apps/web/src/components/layout/components/AppLayout.tsx
  apps/web/src/components/layout/components/AuthLayout.tsx
  apps/web/src/components/layout/components/EnsureOnboardingComplete.tsx
  apps/web/src/components/layout/components/Header.tsx
  apps/web/src/components/layout/components/PublicPageLayout.tsx
  apps/web/src/pages/auth/InvitationPage.tsx
  apps/web/src/pages/auth/LoginPage.tsx
  apps/web/src/pages/auth/PasswordResetPage.tsx
  apps/web/src/pages/auth/QuestionnairePage.tsx
  apps/web/src/pages/auth/SignUpPage.tsx
  apps/web/src/pages/partner-integrations/LinkVercelProjectPage.tsx
  enterprise/packages/billing-web/package.json
  enterprise/packages/echo/echo-web/package.json
  enterprise/packages/translation-web/package.json
  libs/design-system/package.json
  libs/novui/package.json
  package.json
  pnpm-lock.yaml
Labels: @novu/web, @novu/design-system, @novu/novui

#5627 fix(web): Update copywriting
  apps/web/src/components/layout/components/EchoStatus.tsx
Labels: @novu/web

#5591 chore(web): Information Architecture Feedback
  apps/web/cypress/tests/settings/api-keys.spec.ts
  apps/web/cypress/tests/settings/inbound-webhook.spec.ts
  apps/web/src/AppRoutes.tsx
  apps/web/src/SettingsRoutes.tsx
  apps/web/src/components/layout/components/SideNav.tsx
  apps/web/src/components/layout/components/v2/HeaderNav.tsx
  apps/web/src/components/nav/EnvironmentSelect/EnvironmentPopover.tsx
  apps/web/src/components/nav/EnvironmentSelect/useEnvironmentSelect.tsx
  apps/web/src/components/nav/NavMenuSection.tsx
  apps/web/src/components/nav/RootNavMenu.tsx
  apps/web/src/components/nav/SettingsNavMenu.tsx
  apps/web/src/pages/integrations/IntegrationsList.tsx
  apps/web/src/pages/settings/index.ts
  apps/web/src/pages/settings/useSettingsEnvRedirect.ts
  libs/shared-web/src/constants/routes.enum.ts
Labels: @novu/web

#5570 perf(web): Convert image assets to `webp` & skip flaky tests
  .github/workflows/prepare-self-hosted-release.yml
  apps/web/cypress/tests/auth.spec.ts
  apps/web/public/static/images/avatar.png
  apps/web/public/static/images/avatar.webp
  apps/web/public/static/images/frameworks/angular.png
  apps/web/public/static/images/frameworks/angular.webp
  apps/web/public/static/images/frameworks/js.png
  apps/web/public/static/images/frameworks/js.webp
  apps/web/public/static/images/frameworks/react.png
  apps/web/public/static/images/frameworks/react.webp
  apps/web/public/static/images/frameworks/vue.png
  apps/web/public/static/images/frameworks/vue.webp
  apps/web/public/static/images/logo-black-white.png
  apps/web/public/static/images/logo-formerly-dark-bg.png
  apps/web/public/static/images/logo-formerly-dark-bg.webp
  apps/web/public/static/images/logo-formerly-light-bg.png
  apps/web/public/static/images/logo-formerly-light-bg.webp
  apps/web/public/static/images/logo-light.png
  apps/web/public/static/images/logo-light.webp
  apps/web/public/static/images/logo-white-formerly-dark-bg.png
  apps/web/public/static/images/logo-white-formerly-dark-bg.webp
  apps/web/public/static/images/logo.png
  apps/web/public/static/images/logo.webp
  apps/web/public/static/images/notifications/notification_01.png
  apps/web/public/static/images/notifications/notification_01.webp
  apps/web/public/static/images/notifications/notification_02.png
  apps/web/public/static/images/notifications/notification_02.webp
  apps/web/public/static/images/notifications/notification_03.png
  apps/web/public/static/images/notifications/notification_03.webp
  apps/web/src/AppRoutes.tsx
  apps/web/src/components/layout/components/HeaderNav.tsx
  apps/web/src/components/layout/components/PartnerIntegrationLayout.tsx
  apps/web/src/components/layout/components/PublicPageLayout.tsx
  apps/web/src/components/layout/components/v2/HeaderMenuItems.tsx
  apps/web/src/components/layout/components/v2/ProfileMenuItem.tsx
  apps/web/src/pages/integrations/components/ChannelGroup.tsx
  apps/web/src/pages/integrations/components/Modal/ChannelGroup.tsx
  apps/web/src/pages/integrations/components/NovuProviderBase.tsx
  apps/web/src/pages/quick-start/steps/FrameworkSetup.tsx
  apps/web/src/pages/settings/useSettingsEnvRedirect.ts
  apps/web/src/pages/templates/components/email-editor/EmailMessageEditor.tsx
  apps/web/tests/main-functionality.spec.ts
Labels: @novu/web, CI/CD

#5629 fix(notification-center): Translation error in french
  packages/notification-center/src/i18n/languages/fr.ts
Labels: @novu/notification-center

#5631 style(web): Correct dark mode background color for loader
  apps/web/public/index.html
Labels: @novu/web

#5633 ci(root): Run CSpell only on community PRs
  .github/workflows/test.yml
Labels: CI/CD

#5634 fix(web): Workflow trigger on-click sidebar render loop
  apps/web/src/pages/templates/components/TestWorkflow.tsx
Labels: @novu/web

#5637 fix(web): workflow run test tab and failing e2e tests
  apps/web/src/components/layout/components/EnsureOnboardingComplete.tsx
  apps/web/src/pages/auth/LoginPage.tsx
  apps/web/src/pages/auth/components/HubspotSignupForm.tsx
  apps/web/src/pages/auth/components/QuestionnaireForm.tsx
  apps/web/src/pages/templates/components/TestWorkflow.tsx
  apps/web/tests/main-functionality.spec.ts
  apps/web/tests/utils.ts/integrations.ts
  libs/shared-web/src/hooks/useAuth.ts
  libs/testing/src/testing-queue.service.ts
Labels: @novu/web

#5636 chore(web): More auth refactoring
  apps/web/src/components/layout/components/AuthLayout.tsx
  apps/web/src/components/nav/OrganizationSelect/useOrganizationSelect.ts
  apps/web/src/components/utils/Spotlight.tsx
  apps/web/src/hooks/useBlueprint.ts
  apps/web/src/hooks/useVercelParams.ts
  apps/web/src/pages/auth/InvitationPage.tsx
  apps/web/src/pages/auth/LoginPage.tsx
  apps/web/src/pages/auth/PasswordResetPage.tsx
  apps/web/src/pages/auth/QuestionnairePage.tsx
  apps/web/src/pages/auth/SignUpPage.tsx
  apps/web/src/pages/auth/components/HubspotSignupForm.tsx
  apps/web/src/pages/auth/components/LoginForm.tsx
  apps/web/src/pages/auth/components/QuestionnaireForm.tsx
  apps/web/src/pages/auth/components/SignUpForm.tsx
  apps/web/src/pages/auth/components/useAcceptInvite.ts
  libs/shared-web/src/hooks/useAuth.ts
Labels: @novu/web

#5642 ci(root): add feature flag checker
  .github/workflows/test.yml
Labels: CI/CD

#5639 ci(root): Run CSpell only on web app
  .github/workflows/test.yml
Labels: CI/CD

#5625 feat(echo): sync version with package json
  apps/api/e2e/echo.server.ts
  apps/api/src/app/content-templates/e2e/preview-email.e2e.ts
  apps/api/src/app/events/e2e/echo-health-check.e2e-ee.ts
  packages/echo/package.json
  packages/echo/src/version.test.ts
  packages/echo/src/version.ts
  packages/echo/tsconfig.json
Labels: @novu/api

#5643 fix(web): export claims orgid and env id
  apps/web/src/components/layout/components/EnsureOnboardingComplete.tsx
  apps/web/src/pages/auth/components/HubspotSignupForm.tsx
  apps/web/src/pages/auth/components/LoginForm.tsx
  apps/web/src/pages/auth/components/QuestionnaireForm.tsx
  libs/shared-web/src/hooks/useAuth.ts
Labels: @novu/web

#5645 fix(api): Remove faker
  apps/api/package.json
  apps/api/src/app/testing/usecases/seed-data/seed-data.usecase.ts
  pnpm-lock.yaml
Labels: @novu/api

#5635 build(root): Fix deployment.yaml indent error after adding google bucket support
  docker/kubernetes/helm/templates/api/deployment.yaml
  docker/kubernetes/helm/templates/worker/deployment.yaml
Labels: helm, docker

#5641 chore(root): Upgrade all projects to React 18
  apps/web/package.json
  apps/web/src/components/layout/components/ListPage.tsx
  apps/web/src/components/layout/components/VisibilityOff.tsx
  apps/web/src/components/workflow/preview/common/PreviewEditOverlay.tsx
  apps/web/src/index.tsx
  apps/web/src/pages/auth/components/OAuth.tsx
  apps/web/src/pages/auth/components/PasswordResetForm.tsx
  apps/web/src/pages/auth/components/PasswordResetRequestForm.tsx
  apps/web/src/pages/integrations/components/ConnectIntegrationForm.tsx
  apps/web/src/pages/integrations/components/IntegrationSecretTextarea.tsx
  apps/web/src/pages/integrations/components/Modal/ConnectIntegrationForm.tsx
  apps/web/src/pages/integrations/components/NovuInAppForm.tsx
  apps/web/src/pages/integrations/components/UpdateIntegrationCommonFields.tsx
  apps/web/src/pages/integrations/components/multi-provider/SelectProviderSidebar.tsx
  apps/web/src/pages/partner-integrations/components/ProjectRow.tsx
  apps/web/src/pages/settings/tabs/ApiKeysCard.tsx
  apps/web/src/pages/templates/components/DeleteConfirmModal.tsx
  apps/web/src/pages/templates/components/ListProviders.tsx
  apps/web/src/pages/templates/components/email-editor/ContentRow.tsx
  apps/web/src/pages/templates/components/email-editor/variables-management/VariablesManagement.tsx
  apps/web/src/pages/templates/components/in-app-editor/preview/AvatarContainer.tsx
  apps/widget/package.json
  enterprise/packages/billing-web/package.json
  enterprise/packages/echo/echo-web/package.json
  enterprise/packages/translation-web/package.json
  libs/design-system/package.json
  libs/design-system/src/loading-overlay/LoadingOverlay.tsx
  libs/design-system/src/navigation/NavMenu.tsx
  libs/design-system/src/pagination/usePaginationQueryParamsState.spec.tsx
  libs/design-system/src/search-input/SearchInput.tsx
  libs/design-system/src/table/Table.tsx
  libs/design-system/src/tag/Tag.tsx
  libs/design-system/src/typography/text/Text.tsx
  libs/design-system/src/typography/title/Title.tsx
  libs/novui/package.json
  libs/shared-web/package.json
  libs/shared-web/src/hooks/useFeatureFlags.ts
  package.json
  packages/notification-center-angular/projects/notification-center-angular/package.json
  packages/notification-center-vue/package.json
  packages/notification-center/package.json
  packages/notification-center/src/components/novu-provider/NovuProvider.tsx
  packages/notification-center/src/store/styles/styles-provider.tsx
  pnpm-lock.yaml
Labels: @novu/web, @novu/notification-center, @novu/notification-center-vue, @novu/notification-center-angular, @novu/design-system, @novu/novui

#5651 feat(novui,web): Setup Mantine v7 and demonstrate ability to style in lib and app
  apps/web/src/Providers.tsx
  libs/novui/.storybook/preview.tsx
  libs/novui/package.json
  libs/novui/postcss.config.cjs
  libs/novui/src/components/NovuiProvider.tsx
  libs/novui/src/components/Test.stories.tsx
  libs/novui/src/components/Test.tsx
  libs/novui/src/components/index.ts
  libs/novui/src/types/CoreProps.ts
  libs/novui/src/types/index.ts
  pnpm-lock.yaml
Labels: @novu/web, @novu/novui

#5652 chore(root): Bump pnpm to its latest version
  .gitpod.dockerfile
  apps/api/Dockerfile
  apps/inbound-mail/Dockerfile
  apps/web/Dockerfile
  apps/webhook/Dockerfile
  apps/widget/Dockerfile
  apps/worker/Dockerfile
  apps/ws/Dockerfile
  libs/embed/Dockerfile
  package.json
  pnpm-lock.yaml
Labels: @novu/api, @novu/web, @novu/webhook, @novu/ws, @novu/worker, @novu/inbound-mail
