Repository novuhq/novu, pull requests merged in 2024-10, with the labels that each got.

#6595 feat(dashboard): clerk auth, public and protected routes
  apps/dashboard/.env.example
  apps/dashboard/package.json
  apps/dashboard/src/api/api.client.ts
  apps/dashboard/src/api/environments.ts
  apps/dashboard/src/components/auth-layout.tsx
  apps/dashboard/src/components/dashboard-layout.tsx
  apps/dashboard/src/components/page-meta.tsx
  apps/dashboard/src/components/user-profile.tsx
  apps/dashboard/src/config/index.ts
  apps/dashboard/src/context/auth/auth-context.tsx
  apps/dashboard/src/context/auth/auth-provider.tsx
  apps/dashboard/src/context/auth/index.ts
  apps/dashboard/src/context/auth/mappers.ts
  apps/dashboard/src/context/auth/types.ts
  apps/dashboard/src/context/clerk-provider.tsx
  apps/dashboard/src/context/environment/environment-context.tsx
  apps/dashboard/src/context/environment/environment-provider.tsx
  apps/dashboard/src/context/environment/hooks.ts
  apps/dashboard/src/context/environment/index.ts
  apps/dashboard/src/context/index.ts
  apps/dashboard/src/context/segment-provider.tsx
  apps/dashboard/src/main.tsx
  apps/dashboard/src/pages/index.ts
  apps/dashboard/src/pages/organization-list.tsx
  apps/dashboard/src/pages/sign-in.tsx
  apps/dashboard/src/pages/sign-up.tsx
  apps/dashboard/src/pages/workflows.tsx
  apps/dashboard/src/routes/auth.tsx
  apps/dashboard/src/routes/catch-all.tsx
  apps/dashboard/src/routes/dashboard.tsx
  apps/dashboard/src/routes/home.tsx
  apps/dashboard/src/routes/index.ts
  apps/dashboard/src/routes/protected-route.tsx
  apps/dashboard/src/routes/root.tsx
  apps/dashboard/src/utils/auth.ts
  apps/dashboard/src/utils/context.ts
  apps/dashboard/src/utils/environment.ts
  apps/dashboard/src/utils/query-keys.ts
  apps/dashboard/src/utils/routes.ts
  apps/dashboard/src/utils/segment.ts
  apps/dashboard/src/utils/types.ts
  apps/web/.env.dashboard
  apps/web/package.json
  apps/web/src/ApplicationReadyGuard.tsx
  apps/web/src/config/index.ts
  apps/web/src/utils/playground-navigation.ts
  pnpm-lock.yaml
Labels: @novu/web

#6522 fix(web): Inject latest Clerk JWT via Axios interceptor
  apps/web/src/api/api.client.ts
  apps/web/src/components/nav/RootNavMenu.tsx
  apps/web/src/components/providers/AuthProvider.tsx
  apps/web/src/ee/clerk/providers/EnterpriseAuthProvider.tsx
  apps/web/src/ee/translations/components/CreateGroupSidebar.tsx
  apps/web/src/ee/translations/components/DefaultLocaleModal/index.tsx
  apps/web/src/ee/translations/components/DeleteLocaleModal.tsx
  apps/web/src/ee/translations/components/EditGroupSidebar.tsx
  apps/web/src/ee/translations/components/EditTranslationsSidebar.tsx
  apps/web/src/ee/translations/components/GroupFormCommonFields.tsx
  apps/web/src/ee/translations/components/columns.tsx
  apps/web/src/ee/translations/hooks/index.ts
  apps/web/src/ee/translations/hooks/useGetDefaultLocale.tsx
  apps/web/src/ee/translations/pages/TranslationGroupsPage.tsx
  apps/web/src/hooks/useNovuAPI.ts
  apps/web/src/pages/templates/hooks/useTemplateLocales.ts
  apps/web/src/utils/cookies.ts
Labels: @novu/web

#6607 feat(web): billing page revamp
  apps/web/src/ee/billing/components/Plan.tsx
  apps/web/src/ee/billing/components/PlanHeader.tsx
  apps/web/src/ee/billing/components/UpgradeSubmitButton.tsx
  apps/web/src/ee/billing/components/billingV2/ActivePlanBanner.tsx
  apps/web/src/ee/billing/components/billingV2/Badge.tsx
  apps/web/src/ee/billing/components/billingV2/ContactUsButton.tsx
  apps/web/src/ee/billing/components/billingV2/Features.tsx
  apps/web/src/ee/billing/components/billingV2/HighlightsRow.tsx
  apps/web/src/ee/billing/components/billingV2/Plan.tsx
  apps/web/src/ee/billing/components/billingV2/PlanActionButton.tsx
  apps/web/src/ee/billing/components/billingV2/PlanSwitcher.tsx
  apps/web/src/ee/billing/components/billingV2/PlansRow.tsx
  apps/web/src/ee/billing/pages/BillingPage.tsx
  apps/web/src/ee/clerk/pages/ManageAccountPage.styles.ts
  apps/web/src/ee/clerk/providers/ClerkProvider.tsx
Labels: @novu/web

#6613 chore(api): dashboard v2 cors
  apps/api/src/.env.development
  apps/api/src/config/cors.config.ts
Labels: @novu/api

#6574 feat(api, js, react): Com 244 hide critical workflow preferences from inbox
  apps/api/src/app/inbox/e2e/get-preferences.e2e.ts
  apps/api/src/app/inbox/usecases/get-preferences/get-preferences.spec.ts
  apps/api/src/app/inbox/usecases/get-preferences/get-preferences.usecase.ts
  libs/dal/src/repositories/notification-template/notification-template.repository.ts
  packages/js/src/ui/components/elements/Preferences/ChannelRow.tsx
  packages/js/src/ui/components/elements/Preferences/Preferences.tsx
  packages/js/src/ui/components/elements/Preferences/Switch.tsx
Labels: @novu/api, @novu/dal

#6600 feat(js): Com 229 update the in app preview component in the web app to
  apps/web/package.json
  apps/web/src/components/workflow/preview/in-app/v2/InboxPreviewContent.tsx
  packages/js/internal/package.json
  packages/js/package.json
  packages/js/src/ui/components/elements/Markdown.tsx
  packages/js/src/ui/internal/index.ts
  packages/js/src/ui/internal/parseMarkdown.tsx
  packages/js/tsup.config.ts
  playground/nextjs/src/pages/index.tsx
  pnpm-lock.yaml
Labels: @novu/web

#6626 feat(js, react, shared): user agents
  packages/js/jest.config.cjs
  packages/js/jest.setup.ts
  packages/js/src/api/inbox-service.ts
  packages/js/src/global.d.ts
  packages/js/src/novu.ts
  packages/js/src/types.ts
  packages/react/src/components/Inbox.tsx
  packages/react/src/hooks/NovuProvider.tsx
  packages/react/tsup.config.ts
  packages/shared/src/types/http/headers.types.ts
Labels: @novu/shared

#6596 chore(root): Prevent multi-level imports for `@novu/*` packages
  apps/api/src/app/testing/billing/create-usage-records.e2e-ee.ts
  apps/api/src/app/testing/billing/get-prices.e2e-ee.ts
  apps/api/src/app/testing/billing/upsert-setup-intent.e2e-ee.ts
  apps/api/src/app/testing/billing/upsert-subscription.e2e-ee.ts
  apps/api/src/app/testing/billing/webhook.e2e-ee.ts
  apps/web/src/components/layout/components/ListPage.tsx
  eslint.config.mjs
  libs/design-system/src/table/index.ts
  packages/node/src/lib/novu.ts
  packages/notification-center-vue/src/index.ts
Labels: @novu/api, @novu/web, @novu/notification-center-vue, @novu/design-system

#6639 fix(api): response interceptor
  apps/api/src/app/shared/framework/response.interceptor.ts
Labels: @novu/api

#6643 fix(api): Log bridge url validation errors
  apps/api/src/app/bridge/usecases/get-bridge-status/get-bridge-status.usecase.ts
Labels: @novu/api

#6655 fix(web): Show how often usage metrics update
  apps/web/src/ee/billing/components/billingV2/ActivePlanBanner.tsx
Labels: @novu/web

#6633 feat(application-generic): Add the ability to have query parameters in bridge checks
  apps/api/src/app/bridge/usecases/get-bridge-status/get-bridge-status.usecase.ts
  apps/api/src/app/bridge/usecases/preview-step/preview-step.usecase.ts
Labels: @novu/api

#6662 fix(worker): Reduce distraction errors
  apps/worker/src/app/shared/utils/cron-health.ts
  apps/worker/src/app/shared/utils/index.ts
  apps/worker/src/app/workflow/services/active-jobs-metric.service.ts
  libs/application-generic/src/services/distributed-lock/distributed-lock.service.ts
Labels: @novu/worker

#6668 feat(web): Add autocomplete example to Playground
  apps/web/src/pages/playground/web-container-configuration/sandbox-vite/src/workflow.ts
  apps/web/src/pages/playground/web-container-configuration/sandbox-vite/workflow.ts
Labels: @novu/web

#6678 ci(root): remove redundant API unit test
  .github/workflows/on-pr.yml
  .github/workflows/reusable-api-e2e.yml
Labels: CI/CD

#6679 fix(api): Use the MongoId for stepId when fetching step controls
  apps/api/package.json
  apps/api/src/app/bridge/bridge.controller.ts
  apps/api/src/app/bridge/usecases/store-control-variables/store-control-variables.usecase.ts
  apps/api/src/app/workflows-v2/usecases/upsert-workflow/upsert-workflow.usecase.ts
  libs/application-generic/src/usecases/upsert-control-values/index.ts
  libs/application-generic/src/usecases/upsert-control-values/upsert-control-values.command.ts
  libs/application-generic/src/usecases/upsert-control-values/upsert-control-values.usecase.ts
  libs/dal/src/repositories/control-variables/controlValuesEntity.ts
  libs/dal/src/repositories/control-variables/controlVariables.schema.ts
  pnpm-lock.yaml
Labels: @novu/api, @novu/dal

#6651 feat(api): refactor get step schema
  apps/api/package.json
  apps/api/src/app/step-schemas/dtos/schema-type.dto.ts
  apps/api/src/app/step-schemas/dtos/step-schema.dto.ts
  apps/api/src/app/step-schemas/e2e/get-default-schema.e2e.ts
  apps/api/src/app/step-schemas/e2e/get-step-schema.e2e.ts
  apps/api/src/app/step-schemas/shared/index.ts
  apps/api/src/app/step-schemas/shared/mappers/index.ts
  apps/api/src/app/step-schemas/shared/mappers/map-step-type-to-output.mapper.ts
  apps/api/src/app/step-schemas/shared/mappers/map-step-type-to-result.mapper.ts
  apps/api/src/app/step-schemas/step-schemas.controller.ts
  apps/api/src/app/step-schemas/step-schemas.module.ts
  apps/api/src/app/step-schemas/types/index.ts
  apps/api/src/app/step-schemas/usecases/get-step-schema/get-step-schema.command.ts
  apps/api/src/app/step-schemas/usecases/get-step-schema/get-step-schema.usecase.ts
  pnpm-lock.yaml
Labels: @novu/api

#6684 fix(api): analytics module
  apps/api/src/app/analytics/analytics.module.ts
Labels: @novu/api

#6685 fix(api): Log exception traits
  apps/api/src/exception-filter.ts
Labels: @novu/api

#6680 refactor(api, worker, application-generic, dal, shared): Rename "ControlVariables" to "ControlValues"
  apps/api/src/app/bridge/bridge.controller.ts
  apps/api/src/app/bridge/usecases/index.ts
  apps/api/src/app/bridge/usecases/store-control-values/index.ts
  apps/api/src/app/bridge/usecases/store-control-values/store-control-values.command.ts
  apps/api/src/app/bridge/usecases/store-control-values/store-control-values.usecase.ts
  apps/api/src/app/bridge/usecases/store-control-variables/index.ts
  apps/api/src/app/bridge/usecases/store-control-variables/store-control-variables.command.ts
  apps/api/src/app/events/e2e/bridge-trigger.e2e.ts
  apps/api/src/app/workflows-v2/usecases/get-workflow/get-workflow.usecase.ts
  apps/worker/src/app/workflow/usecases/execute-bridge-job/execute-bridge-job.usecase.ts
  libs/application-generic/src/usecases/upsert-control-values/upsert-control-values.usecase.ts
  libs/dal/src/index.ts
  libs/dal/src/repositories/control-values/control-values.entity.ts
  libs/dal/src/repositories/control-values/control-values.repository.ts
  libs/dal/src/repositories/control-values/control-values.schema.ts
  libs/dal/src/repositories/control-values/index.ts
  libs/dal/src/repositories/control-variables/index.ts
  packages/shared/src/types/controls/control-values-level.enum.ts
  packages/shared/src/types/controls/index.ts
Labels: @novu/api, @novu/dal, @novu/shared, @novu/worker

#6657 feat(api): add workflow trigger identifier parity
  apps/api/migrations/integration-scheme-update/add-integration-identifier-migration.ts
  apps/api/migrations/layout-identifier-update/add-layout-identifier-migration.ts
  apps/api/migrations/novu-integrations/novu-integrations.migration.ts
  apps/api/src/app/integrations/usecases/create-integration/create-integration.usecase.ts
  apps/api/src/app/workflows-v1/notification-template.controller.ts
  apps/api/src/app/workflows-v1/workflow-v1.controller.ts
  apps/api/src/app/workflows-v2/mappers/notification-template-mapper.ts
  apps/api/src/app/workflows-v2/usecases/upsert-workflow/upsert-workflow.usecase.ts
  apps/api/src/app/workflows-v2/workflow.controller.e2e.ts
  libs/application-generic/src/usecases/create-workflow/create-workflow.command.ts
  libs/application-generic/src/usecases/create-workflow/create-workflow.usecase.ts
  libs/application-generic/src/usecases/workflow/update-workflow/update-workflow.command.ts
  libs/application-generic/src/usecases/workflow/update-workflow/update-workflow.usecase.ts
  libs/application-generic/src/utils/index.ts
  libs/application-generic/src/utils/slugify-name.ts
  packages/shared/src/dto/workflows/workflow-commons-fields.ts
Labels: @novu/api, @novu/shared

#6451 feat(api): Add Novu-managed Bridge endpoint per environment
  .cspell.json
  apps/api/src/app/bridge/bridge.controller.ts
  apps/api/src/app/bridge/dtos/validate-bridge-url-response.dto.ts
  apps/api/src/app/bridge/shared/types.ts
  apps/api/src/app/bridge/usecases/get-bridge-status/get-bridge-status.command.ts
  apps/api/src/app/bridge/usecases/get-bridge-status/get-bridge-status.usecase.ts
  apps/api/src/app/bridge/usecases/preview-step/preview-step.command.ts
  apps/api/src/app/bridge/usecases/preview-step/preview-step.usecase.ts
  apps/api/src/app/bridge/usecases/sync/sync.usecase.ts
  apps/api/src/app/environments/environments.module.ts
  apps/api/src/app/environments/novu-bridge-client.ts
  apps/api/src/app/environments/novu-bridge.controller.ts
  apps/api/src/app/environments/novu-bridge.module.ts
  apps/api/src/app/environments/usecases/construct-framework-workflow/construct-framework-workflow.command.ts
  apps/api/src/app/environments/usecases/construct-framework-workflow/construct-framework-workflow.usecase.ts
  apps/api/src/app/environments/usecases/construct-framework-workflow/index.ts
  apps/api/src/app/environments/usecases/index.ts
  apps/api/src/app/events/e2e/bridge-trigger.e2e.ts
  apps/api/src/app/events/events.controller.ts
  apps/api/src/app/events/usecases/parse-event-request/parse-event-request.usecase.ts
  apps/api/src/app/events/usecases/send-test-email/send-test-email.command.ts
  apps/api/src/app/events/usecases/send-test-email/send-test-email.usecase.ts
  apps/api/src/app/shared/shared.module.ts
  apps/api/src/app/workflows-v2/mappers/notification-template-mapper.ts
  apps/api/src/app/workflows-v2/usecases/upsert-workflow/upsert-workflow.usecase.ts
  apps/api/src/app/workflows-v2/workflow.controller.e2e.ts
  apps/web/src/components/layout/components/v2/BridgeUpdateModal.tsx
  apps/worker/src/.env.test
  apps/worker/src/app/shared/shared.module.ts
  apps/worker/src/app/workflow/usecases/execute-bridge-job/execute-bridge-job.usecase.ts
  apps/worker/src/config/env.validators.ts
  libs/application-generic/src/usecases/create-workflow/create-workflow.usecase.ts
  libs/application-generic/src/usecases/execute-bridge-request/execute-bridge-request.command.ts
  libs/application-generic/src/usecases/execute-bridge-request/execute-bridge-request.usecase.ts
  libs/application-generic/src/usecases/get-decrypted-secret-key/get-decrypted-secret-key.command.ts
  libs/application-generic/src/usecases/get-decrypted-secret-key/get-decrypted-secret-key.usecase.ts
  libs/application-generic/src/usecases/get-decrypted-secret-key/index.ts
  libs/application-generic/src/usecases/index.ts
  libs/application-generic/src/utils/bridge.ts
  packages/shared/src/dto/workflows/workflow-commons-fields.ts
  packages/shared/src/types/http/headers.types.ts
Labels: @novu/api, @novu/web, @novu/shared, @novu/worker

#6698 fix(worker): Use `url` validator for `API_ROOT_URL`
  apps/worker/src/.env.development
  apps/worker/src/.example.env
  apps/worker/src/config/env.validators.ts
Labels: @novu/worker

#6579 chore(web): Added custom step tooltip
  apps/web/src/studio/components/workflows/node-view/WorkflowFloatingMenu.tsx
Labels: @novu/web

#6713 feat(api): add get environment tags endpoint
  apps/api/migrations/changes-migration.ts
  apps/api/src/app.module.ts
  apps/api/src/app/auth/community.auth.module.config.ts
  apps/api/src/app/environments-v1/dtos/create-environment-request.dto.ts
  apps/api/src/app/environments-v1/dtos/environment-response.dto.ts
  apps/api/src/app/environments-v1/dtos/update-environment-request.dto.ts
  apps/api/src/app/environments-v1/e2e/get-api-keys.e2e.ts
  apps/api/src/app/environments-v1/e2e/guard-check.e2e.ts
  apps/api/src/app/environments-v1/e2e/regenerate-api-keys.e2e.ts
  apps/api/src/app/environments-v1/environments-v1.controller.ts
  apps/api/src/app/environments-v1/environments-v1.module.ts
  apps/api/src/app/environments-v1/novu-bridge-client.ts
  apps/api/src/app/environments-v1/novu-bridge.controller.ts
  apps/api/src/app/environments-v1/novu-bridge.module.ts
  apps/api/src/app/environments-v1/usecases/construct-framework-workflow/construct-framework-workflow.command.ts
  apps/api/src/app/environments-v1/usecases/construct-framework-workflow/construct-framework-workflow.usecase.ts
  apps/api/src/app/environments-v1/usecases/construct-framework-workflow/index.ts
  apps/api/src/app/environments-v1/usecases/create-environment/create-environment.command.ts
  apps/api/src/app/environments-v1/usecases/create-environment/create-environment.e2e.ts
  apps/api/src/app/environments-v1/usecases/create-environment/create-environment.usecase.ts
  apps/api/src/app/environments-v1/usecases/generate-unique-api-key/generate-unique-api-key.spec.ts
  apps/api/src/app/environments-v1/usecases/generate-unique-api-key/generate-unique-api-key.usecase.ts
  apps/api/src/app/environments-v1/usecases/get-api-keys/get-api-keys.command.ts
  apps/api/src/app/environments-v1/usecases/get-api-keys/get-api-keys.usecase.ts
  apps/api/src/app/environments-v1/usecases/get-environment/get-environment.command.ts
  apps/api/src/app/environments-v1/usecases/get-environment/get-environment.e2e.ts
  apps/api/src/app/environments-v1/usecases/get-environment/get-environment.usecase.ts
  apps/api/src/app/environments-v1/usecases/get-environment/index.ts
  apps/api/src/app/environments-v1/usecases/get-my-environments/get-my-environments.command.ts
  apps/api/src/app/environments-v1/usecases/get-my-environments/get-my-environments.e2e.ts
  apps/api/src/app/environments-v1/usecases/get-my-environments/get-my-environments.usecase.ts
  apps/api/src/app/environments-v1/usecases/index.ts
  apps/api/src/app/environments-v1/usecases/regenerate-api-keys/regenerate-api-keys.usecase.ts
  apps/api/src/app/environments-v1/usecases/update-environment/update-environment.command.ts
  apps/api/src/app/environments-v1/usecases/update-environment/update-environment.e2e-ee.ts
  apps/api/src/app/environments-v1/usecases/update-environment/update-environment.e2e.ts
  apps/api/src/app/environments-v1/usecases/update-environment/update-environment.usecase.ts
  apps/api/src/app/environments-v2/dtos/get-environment-tags.dto.ts
  apps/api/src/app/environments-v2/environments.controller.ts
  apps/api/src/app/environments-v2/environments.module.ts
  apps/api/src/app/environments-v2/usecases/get-environment-tags/get-environment-tags.command.ts
  apps/api/src/app/environments-v2/usecases/get-environment-tags/get-environment-tags.e2e.ts
  apps/api/src/app/environments-v2/usecases/get-environment-tags/get-environment-tags.usecase.ts
  apps/api/src/app/environments-v2/usecases/get-environment-tags/index.ts
  apps/api/src/app/organization/organization.module.ts
  apps/api/src/app/organization/usecases/create-organization/create-organization.usecase.ts
  apps/api/src/app/organization/usecases/create-organization/sync-external-organization/sync-external-organization.usecase.ts
  apps/api/src/app/partner-integrations/partner-integrations.module.ts
Labels: @novu/api

#6716 fix(api): Throw `BadRequestException` when missing controls
  apps/api/src/app/workflows-v2/mappers/notification-template-mapper.ts
Labels: @novu/api

#6708 feat(framework, api, web, application-generic): Add `name` and `description` to Framework workflow options
  apps/api/src/app/bridge/usecases/sync/sync.usecase.ts
  apps/api/src/app/events/e2e/bridge-sync.e2e.ts
  apps/web/src/components/layout/components/LocalStudioSidebar/LocalStudioSidebarContent.tsx
  apps/web/src/components/layout/components/LocalStudioSidebar/LocalStudioSidebarToggleButton.tsx
  apps/web/src/pages/templates/editor_v2/useWorkflowDetailPageForm.ts
  apps/web/src/studio/components/workflows/node-view/WorkflowNodes.tsx
  apps/web/src/studio/components/workflows/node-view/WorkflowsDetailPage.tsx
  apps/web/src/studio/components/workflows/preferences/StudioWorkflowSettingsSidePanel.tsx
  apps/web/src/studio/components/workflows/preferences/WorkflowDetailFormContextProvider.tsx
  apps/web/src/studio/components/workflows/preferences/WorkflowGeneralSettingsForm.tsx
  apps/web/src/studio/components/workflows/preferences/WorkflowSettingsSidePanelContent.tsx
  apps/web/src/studio/components/workflows/preferences/types.ts
  apps/web/src/studio/components/workflows/table/WorkflowsTable.tsx
  apps/web/src/studio/components/workflows/table/WorkflowsTable.types.ts
  apps/web/src/studio/components/workflows/table/WorkflowsTableCellRenderers.tsx
  apps/web/src/studio/components/workflows/table/index.ts
  apps/web/src/studio/components/workflows/test-workflow/WorkflowsTestPage.tsx
  apps/web/src/studio/hooks/useBridgeAPI.ts
  apps/web/src/studio/pages/StudioStepEditorPage.tsx
  apps/web/src/studio/types.ts
  libs/application-generic/src/usecases/workflow/update-workflow/update-workflow.usecase.ts
  libs/design-system/src/select/Select.tsx
  libs/design-system/src/select/Select.types.ts
  packages/framework/src/resources/index.ts
  packages/framework/src/resources/workflow/index.ts
  packages/framework/src/resources/workflow/workflow.resource.ts
  packages/framework/src/resources/workflow/workflow.test.ts
  packages/framework/src/types/discover.types.ts
  packages/framework/src/types/workflow.types.ts
Labels: @novu/api, @novu/web, @novu/design-system

#6715 feat(api, worker, application-generic): Add exhaustive error handling for bridge requests
  apps/api/src/app/bridge/usecases/sync/sync.usecase.ts
  apps/worker/src/app/workflow/usecases/execute-bridge-job/execute-bridge-job.usecase.ts
  libs/application-generic/src/usecases/execute-bridge-request/execute-bridge-request.usecase.ts
  libs/application-generic/src/utils/bridge.ts
Labels: @novu/api, @novu/worker

#6706 feat(dashboard): workflow editor add in-app step
  apps/dashboard/src/components/workflow-editor/add-step-menu.tsx
  apps/dashboard/src/components/workflow-editor/edges.tsx
  apps/dashboard/src/components/workflow-editor/hooks.ts
  apps/dashboard/src/components/workflow-editor/index.ts
  apps/dashboard/src/components/workflow-editor/nodes.tsx
  apps/dashboard/src/components/workflow-editor/schema.ts
  apps/dashboard/src/components/workflow-editor/workflow-canvas.tsx
  apps/dashboard/src/components/workflow-editor/workflow-editor-context.tsx
  apps/dashboard/src/components/workflow-editor/workflow-editor-provider.tsx
  apps/dashboard/src/components/workflow-editor/workflow-editor.tsx
  apps/dashboard/src/pages/edit-workflow.tsx
  apps/web/src/studio/components/workflows/node-view/WorkflowFloatingMenu.tsx
Labels: @novu/web

#6726 feat(framework, web, application-generic): Propagate Bridge server errors to Bridge client
  apps/web/src/components/workflow/preview/ErrorPrettyRender.tsx
  apps/worker/src/app/workflow/usecases/execute-bridge-job/execute-bridge-job.usecase.ts
  libs/application-generic/src/usecases/execute-bridge-request/execute-bridge-request.usecase.ts
  packages/framework/package.json
  packages/framework/src/client.test.ts
  packages/framework/src/client.ts
  packages/framework/src/constants/error.constants.ts
  packages/framework/src/constants/version.constants.ts
  packages/framework/src/errors/base.errors.ts
  packages/framework/src/errors/bridge.errors.ts
  packages/framework/src/errors/execution.errors.ts
  packages/framework/src/errors/guard.errors.test.ts
  packages/framework/src/errors/guard.errors.ts
  packages/framework/src/errors/handler.errors.ts
  packages/framework/src/errors/index.ts
  packages/framework/src/errors/platform.errors.ts
  packages/framework/src/errors/provider.errors.ts
  packages/framework/src/errors/resource.errors.ts
  packages/framework/src/errors/step.errors.ts
  packages/framework/src/errors/workflow.errors.ts
  packages/framework/src/handler.ts
  packages/framework/src/index.ts
  packages/framework/src/schemas/providers/chat/index.ts
  packages/framework/src/schemas/providers/email/index.ts
  packages/framework/src/schemas/providers/generic.schema.ts
  packages/framework/src/schemas/providers/inApp/index.ts
  packages/framework/src/schemas/providers/push/index.ts
  packages/framework/src/schemas/providers/push/one-signal.schema.ts
  packages/framework/src/schemas/providers/sms/index.ts
  packages/framework/src/schemas/providers/sms/twilio.schema.ts
  packages/framework/src/types/provider.types.ts
  packages/framework/src/types/util.types.test-d.ts
  packages/framework/src/types/util.types.ts
  packages/framework/src/utils/http.utils.ts
  pnpm-lock.yaml
Labels: @novu/web, @novu/worker

#6689 fix(api): update previous step identifier to step id instead of inter…
  apps/api/src/app/step-schemas/e2e/get-step-schema.e2e.ts
  apps/api/src/app/step-schemas/usecases/get-step-schema/get-step-schema.usecase.ts
  apps/api/src/app/workflows-v2/mappers/notification-template-mapper.ts
  apps/api/src/app/workflows-v2/usecases/upsert-workflow/upsert-workflow.usecase.ts
  apps/api/src/app/workflows-v2/workflow.controller.e2e.ts
  packages/shared/src/dto/workflows/workflow-commons-fields.ts
Labels: @novu/api, @novu/shared

#6725 feat(api): encode workflow and step ids on api response
  apps/api/src/app/shared/helpers/base62/base.ts
  apps/api/src/app/shared/helpers/base62/base62-alphabet.const.ts
  apps/api/src/app/shared/helpers/base62/base62.ts
  apps/api/src/app/shared/helpers/base62/index.ts
  apps/api/src/app/step-schemas/e2e/get-step-schema.e2e.ts
  apps/api/src/app/step-schemas/step-schemas.controller.ts
  apps/api/src/app/step-schemas/usecases/get-step-schema/get-step-schema.command.ts
  apps/api/src/app/step-schemas/usecases/get-step-schema/get-step-schema.usecase.ts
  apps/api/src/app/workflows-v2/mappers/notification-template-mapper.ts
  apps/api/src/app/workflows-v2/pipes/parse-request-workflow.pipe.ts
  apps/api/src/app/workflows-v2/pipes/parse-slug-Id.pipe.ts
  apps/api/src/app/workflows-v2/usecases/upsert-workflow/upsert-workflow.command.ts
  apps/api/src/app/workflows-v2/usecases/upsert-workflow/upsert-workflow.usecase.ts
  apps/api/src/app/workflows-v2/workflow.controller.e2e.ts
  apps/api/src/app/workflows-v2/workflow.controller.ts
  packages/shared/src/dto/workflows/create-workflow-dto.ts
  packages/shared/src/dto/workflows/update-workflow-dto.ts
  packages/shared/src/dto/workflows/workflow-commons-fields.ts
  packages/shared/src/dto/workflows/workflow-response-dto.ts
  packages/shared/src/dto/workflows/workflow.dto.ts
  packages/shared/src/types/shared/index.ts
Labels: @novu/api, @novu/shared

#6740 fix(api): Return correct workflow.origin
  apps/api/src/app/workflows-v2/mappers/notification-template-mapper.ts
  apps/api/src/app/workflows-v2/workflow.controller.e2e.ts
  apps/dashboard/src/utils/enums.ts
  packages/shared/src/dto/workflows/workflow-commons-fields.ts
  packages/shared/src/dto/workflows/workflow-response-dto.ts
  packages/shared/src/types/notification-templates/index.ts
Labels: @novu/api, @novu/shared

#6722 fix(root): rebuild env on container start for web
  docker/community/docker-compose.yml
Labels: docker

#6759 chore(api): Increase rate limit window duration to 5 seconds
  packages/shared/src/consts/rate-limiting/apiRateLimits.ts
Labels: @novu/shared

#6756 feat(api): revert to full slug
  apps/api/src/app/workflows-v2/mappers/notification-template-mapper.ts
  apps/api/src/app/workflows-v2/workflow.controller.e2e.ts
  packages/shared/src/types/shared/index.ts
Labels: @novu/api, @novu/shared

#6778 feat(api): add env url switch support
  apps/api/src/app/step-schemas/step-schemas.controller.ts
  apps/api/src/app/workflows-v2/pipes/parse-request-workflow.pipe.ts
  apps/api/src/app/workflows-v2/pipes/parse-slug-enc-id.pipe spec.ts
  apps/api/src/app/workflows-v2/pipes/parse-slug-env-id.pipe.ts
  apps/api/src/app/workflows-v2/pipes/parse-slug-id.pipe spec.ts
  apps/api/src/app/workflows-v2/pipes/parse-slug-id.pipe.ts
  apps/api/src/app/workflows-v2/pipes/parse-slug-id.ts
  apps/api/src/app/workflows-v2/workflow.controller.ts
Labels: @novu/api

#6776 feat(dashboard): workflow editor error handling + sentry
  apps/dashboard/legacy-handler.js
  apps/dashboard/netlify.toml
  apps/dashboard/package.json
  apps/dashboard/proxy-server.js
  apps/dashboard/src/components/primitives/popover.tsx
  apps/dashboard/src/components/workflow-editor/base-node.tsx
  apps/dashboard/src/components/workflow-editor/nodes.tsx
  apps/dashboard/src/components/workflow-editor/workflow-canvas.tsx
  apps/dashboard/src/components/workflow-editor/workflow-editor-provider.tsx
  apps/dashboard/src/config/index.ts
  apps/dashboard/src/hooks/use-monitoring.ts
  apps/dashboard/src/main.tsx
  apps/dashboard/src/routes/dashboard.tsx
  apps/dashboard/src/routes/root.tsx
  apps/dashboard/src/utils/handleValidationIssues.ts
  apps/dashboard/src/utils/sentry.ts
  apps/dashboard/src/utils/types.ts
  apps/dashboard/vite.config.ts
  packages/shared/src/dto/workflows/workflow-response-dto.ts
  packages/shared/src/types/http/headers.types.ts
  pnpm-lock.yaml
Labels: @novu/shared

#6767 feat(api): Delete subscriber channel preference when updating global channel
  .github/actions/setup-project/action.yml
  apps/api/src/app/bridge/usecases/sync/sync.usecase.ts
  apps/api/src/app/inbox/e2e/get-preferences.e2e.ts
  apps/api/src/app/inbox/e2e/update-preferences.e2e.ts
  apps/api/src/app/inbox/inbox.controller.ts
  apps/api/src/app/inbox/usecases/get-inbox-preferences/get-inbox-preferences.command.ts
  apps/api/src/app/inbox/usecases/get-inbox-preferences/get-inbox-preferences.spec.ts
  apps/api/src/app/inbox/usecases/get-inbox-preferences/get-inbox-preferences.usecase.ts
  apps/api/src/app/inbox/usecases/get-preferences/get-preferences.spec.ts
  apps/api/src/app/inbox/usecases/get-preferences/get-preferences.usecase.ts
  apps/api/src/app/inbox/usecases/index.ts
  apps/api/src/app/inbox/usecases/update-preferences/update-preferences.spec.ts
  apps/api/src/app/inbox/usecases/update-preferences/update-preferences.usecase.ts
  apps/api/src/app/shared/commands/base.command.ts
  apps/api/src/app/subscribers/e2e/update-global-preference.e2e.ts
  apps/api/src/app/workflows-v2/usecases/upsert-workflow/upsert-workflow.usecase.ts
  libs/application-generic/src/commands/base.command.ts
  libs/application-generic/src/usecases/get-preferences/get-preferences.dto.ts
  libs/application-generic/src/usecases/get-preferences/get-preferences.usecase.ts
  libs/application-generic/src/usecases/get-subscriber-global-preference/get-subscriber-global-preference.command.ts
  libs/application-generic/src/usecases/get-subscriber-global-preference/get-subscriber-global-preference.usecase.ts
  libs/application-generic/src/usecases/get-subscriber-preference/get-subscriber-preference.usecase.ts
  libs/application-generic/src/usecases/get-subscriber-template-preference/get-subscriber-template-preference.usecase.ts
  libs/application-generic/src/usecases/upsert-preferences/upsert-preferences.command.ts
  libs/application-generic/src/usecases/upsert-preferences/upsert-preferences.usecase.ts
  libs/application-generic/src/usecases/upsert-preferences/upsert-subscriber-global-preferences.command.ts
  libs/application-generic/src/usecases/upsert-preferences/upsert-subscriber-workflow-preferences.command.ts
  libs/application-generic/src/usecases/upsert-preferences/upsert-user-workflow-preferences.command.ts
  libs/application-generic/src/usecases/upsert-preferences/upsert-workflow-preferences.command.ts
  libs/dal/src/repositories/preferences/preferences.entity.ts
  libs/dal/src/repositories/preferences/preferences.schema.ts
  packages/js/src/preferences/helpers.ts
  packages/js/src/preferences/preference.ts
  packages/js/src/preferences/preferences.ts
  playground/nextjs/src/pages/preferences/index.tsx
Labels: @novu/api, @novu/dal, CI/CD

#6783 chore(framework, api): Remove deprecated `X-` prefixed headers
  apps/api/src/app/bridge/bridge.controller.ts
  libs/application-generic/src/usecases/execute-bridge-request/execute-bridge-request.usecase.ts
  packages/framework/src/constants/http-headers.constants.ts
  packages/framework/src/handler.ts
Labels: @novu/api

#6785 chore(api, web, application-generic, shared, dal, framework): Remove deprecated `inputs`, `data` and `options` Framework properties
  apps/api/src/app/bridge/bridge.controller.ts
  apps/api/src/app/bridge/shared/index.ts
  apps/api/src/app/bridge/shared/types.ts
  apps/api/src/app/bridge/usecases/preview-step/preview-step.usecase.ts
  apps/api/src/app/bridge/usecases/sync/sync.command.ts
  apps/api/src/app/bridge/usecases/sync/sync.usecase.ts
  apps/api/src/app/environments-v1/usecases/construct-framework-workflow/construct-framework-workflow.usecase.ts
  apps/api/src/app/events/dtos/test-email-request.dto.ts
  apps/api/src/app/events/e2e/bridge-trigger.e2e.ts
  apps/api/src/app/events/e2e/test-email.e2e.ts
  apps/api/src/app/events/events.controller.ts
  apps/web/src/ee/editor/components/ControlVariablesForm.tsx
  apps/web/src/pages/templates/components/ControlVariablesForm.tsx
  apps/web/src/pages/templates/components/email-editor/TestSendEmail.tsx
  apps/web/src/pages/templates/editor_v2/TemplateStepEditorV2.tsx
  apps/web/src/studio/components/workflows/step-editor/WorkflowStepEditorControlsPanel.tsx
  apps/web/src/studio/components/workflows/step-editor/WorkflowTestStepButton.tsx
  apps/web/src/studio/components/workflows/test-workflow/WorkflowsTestPage.tsx
  apps/worker/src/app/workflow/usecases/execute-bridge-job/execute-bridge-job.usecase.ts
  libs/application-generic/src/usecases/create-workflow/create-workflow.command.ts
  libs/application-generic/src/usecases/create-workflow/create-workflow.usecase.ts
  libs/application-generic/src/usecases/message-template/create-message-template/create-message-template.command.ts
  libs/application-generic/src/usecases/message-template/create-message-template/create-message-template.usecase.ts
  libs/application-generic/src/usecases/message-template/update-message-template/update-message-template.usecase.ts
  libs/application-generic/src/usecases/upsert-control-values/upsert-control-values.usecase.ts
  libs/application-generic/src/usecases/workflow/update-workflow/update-workflow.usecase.ts
  libs/dal/src/repositories/control-values/control-values.entity.ts
  libs/dal/src/repositories/control-values/control-values.schema.ts
  libs/dal/src/repositories/message-template/message-template.entity.ts
  libs/dal/src/repositories/message-template/message-template.schema.ts
  packages/framework/src/client.test.ts
  packages/framework/src/client.ts
  packages/framework/src/client.validation.test.ts
  packages/framework/src/resources/workflow/discover-action-step-factory.ts
  packages/framework/src/resources/workflow/discover-channel-step-factory.ts
  packages/framework/src/resources/workflow/discover-custom-step-factory.ts
  packages/framework/src/resources/workflow/workflow.resource.ts
  packages/framework/src/types/config.types.ts
  packages/framework/src/types/discover.types.ts
  packages/framework/src/types/execution.types.ts
  packages/framework/src/types/provider.types.ts
  packages/framework/src/types/step.types.ts
  packages/framework/src/types/workflow.types.ts
  packages/shared/src/entities/message-template/message-template.interface.ts
Labels: @novu/api, @novu/web, @novu/dal, @novu/shared, @novu/worker

#6768 feat(dashboard): test workflow functionality
  apps/api/src/app/workflows-v2/usecases/test-data/test-data.command.ts
  apps/api/src/app/workflows-v2/usecases/test-data/test-data.usecase.ts
  apps/api/src/app/workflows-v2/workflow.controller.ts
  apps/api/src/app/workflows-v2/workflow.module.ts
  apps/dashboard/package.json
  apps/dashboard/src/api/workflows.ts
  apps/dashboard/src/components/icons/code-2.tsx
  apps/dashboard/src/components/primitives/accordion.tsx
  apps/dashboard/src/components/primitives/copy-button.tsx
  apps/dashboard/src/components/primitives/panel.tsx
  apps/dashboard/src/components/primitives/sonner-helpers.tsx
  apps/dashboard/src/components/primitives/sonner.tsx
  apps/dashboard/src/components/primitives/tabs.tsx
  apps/dashboard/src/components/primitives/variants.ts
  apps/dashboard/src/components/workflow-editor/configure-workflow.tsx
  apps/dashboard/src/components/workflow-editor/editor-breadcrumbs.tsx
  apps/dashboard/src/components/workflow-editor/schema.ts
  apps/dashboard/src/components/workflow-editor/steps/use-step.tsx
  apps/dashboard/src/components/workflow-editor/test-workflow/snippet-editor.tsx
  apps/dashboard/src/components/workflow-editor/test-workflow/test-workflow-form.tsx
  apps/dashboard/src/components/workflow-editor/test-workflow/test-workflow-logs-sidebar.tsx
  apps/dashboard/src/components/workflow-editor/test-workflow/test-workflow-tabs.tsx
  apps/dashboard/src/components/workflow-editor/test-workflow/types.ts
  apps/dashboard/src/components/workflow-editor/workflow-editor-provider.tsx
  apps/dashboard/src/components/workflow-editor/workflow-editor.tsx
  apps/dashboard/src/hooks/use-fetch-workflow-test-data.ts
  apps/dashboard/src/hooks/use-trigger-workflow.ts
  apps/dashboard/src/main.tsx
  apps/dashboard/src/pages/edit-workflow.tsx
  apps/dashboard/src/pages/test-workflow.tsx
  apps/dashboard/src/utils/code-snippets.ts
  apps/dashboard/src/utils/query-keys.ts
  apps/dashboard/src/utils/routes.ts
  apps/dashboard/src/utils/string.ts
  apps/dashboard/tailwind.config.js
  apps/dashboard/vite.config.ts
  apps/web/src/pages/activities/ActivitiesPage.tsx
  packages/shared/src/dto/workflows/index.ts
  packages/shared/src/dto/workflows/workflow-test-data-response-dto.ts
  pnpm-lock.yaml
Labels: @novu/api, @novu/web, @novu/shared

#6764 feat(api): add ui scehma
  apps/api/src/app/step-schemas/dtos/step-schema.dto.ts
  apps/api/src/app/step-schemas/e2e/get-step-schema.e2e.ts
  apps/api/src/app/step-schemas/shared/mappers/map-step-type-to-output.mapper.ts
  apps/api/src/app/step-schemas/step-schemas.controller.ts
  apps/api/src/app/step-schemas/usecases/get-step-schema/get-step-schema.usecase.ts
  apps/api/src/app/workflows-v2/usecases/upsert-workflow/upsert-workflow.usecase.ts
Labels: @novu/api

#6797 chore(api, worker): Remove redundant trigger `state` for Bridge API requests
  apps/api/src/app/bridge/usecases/preview-step/preview-step.usecase.ts
  apps/worker/src/app/workflow/usecases/execute-bridge-job/execute-bridge-job.usecase.ts
Labels: @novu/api, @novu/worker

#6636 chore(root): Remove IS_WORKFLOW_PREFERENCES_ENABLED feature flag
  apps/api/src/app/bridge/usecases/sync/sync.usecase.ts
  apps/api/src/app/events/e2e/bridge-sync.e2e.ts
  apps/api/src/app/events/e2e/bridge-trigger.e2e.ts
  apps/api/src/app/events/e2e/trigger-event.e2e.ts
  apps/api/src/app/preferences/preferences.controller.ts
  apps/api/src/app/preferences/preferences.spec.ts
  apps/api/src/app/workflows-v2/generate-preview.e2e.ts
  apps/api/src/app/workflows-v2/workflow.controller.e2e.ts
  apps/inbound-mail/src/main.ts
  apps/web/src/pages/templates/editor_v2/TemplateDetailsPageV2.tsx
  apps/web/src/studio/components/workflows/node-view/WorkflowsDetailPage.tsx
  apps/webhook/src/bootstrap.ts
  apps/worker/src/.env.test
  apps/worker/src/app/workflow/usecases/execute-bridge-job/execute-bridge-job.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message.usecase.ts
  libs/application-generic/src/usecases/get-preferences/get-preferences.usecase.ts
  libs/dal/src/repositories/notification-template/notification-template.entity.ts
  packages/shared/src/types/feature-flags/feature-flags.ts
Labels: @novu/api, @novu/web, @novu/dal, @novu/webhook, @novu/shared, @novu/worker, @novu/inbound-mail

#6815 fix(api): Fix 500 error in /identify
  apps/api/src/app/analytics/analytics.controller.ts
  apps/api/src/app/analytics/usecases/hubspot-identify-form/hubspot-identify-form.usecase.ts
  apps/web/src/api/telemetry.ts
Labels: @novu/api, @novu/web
