Repository novuhq/novu, pull requests merged in 2024-03, with the labels that each got.

#5250 feature: onboarding experiment setup
  .github/workflows/prod-deploy-api.yml
  .github/workflows/prod-deploy-inbound-mail.yml
  .github/workflows/prod-deploy-worker.yml
  .github/workflows/prod-deploy-ws.yml
  apps/api/src/app/message-template/usecases/create-message-template/create-message-template.usecase.ts
  apps/web/cypress/tests/integrations-list-modal.spec.ts
  apps/web/src/api/hooks/notification-templates/useCreateOnboardingExperimentWorkflow.ts
  apps/web/src/hooks/useOnboardingExperiment.ts
  apps/web/src/pages/quick-start/components/ChannelsConfiguration.tsx
  apps/web/src/pages/quick-start/consts.tsx
  apps/web/src/pages/templates/components/CustomCodeEditor.tsx
  apps/web/src/pages/templates/components/TestWorkflow.cy.tsx
  apps/web/src/pages/templates/components/TestWorkflow.tsx
  apps/web/src/pages/templates/workflow/WorkflowEditor.tsx
Labels: @novu/api, @novu/web, CI/CD

#5246 Update runner type to ubuntu-latest-large
  .github/workflows/dev-deploy-api.yml
  .github/workflows/dev-deploy-inbound-mail.yml
  .github/workflows/dev-deploy-worker.yml
  .github/workflows/dev-deploy-ws.yml
  .github/workflows/prod-deploy-api.yml
  .github/workflows/prod-deploy-inbound-mail.yml
  .github/workflows/prod-deploy-worker.yml
  .github/workflows/prod-deploy-ws.yml
  .github/workflows/reusable-api-e2e.yml
  .github/workflows/reusable-docker.yml
  .github/workflows/reusable-inbound-mail-e2e.yml
  .github/workflows/reusable-web-e2e.yml
  .github/workflows/reusable-webhook-e2e.yml
  .github/workflows/reusable-widget-deploy.yml
  .github/workflows/reusable-widget-e2e.yml
  .github/workflows/reusable-worker-e2e.yml
  .github/workflows/test.yml
Labels: CI/CD

#5244 fix: Update Content-Type header to application/x-www-form-urlencoded
  providers/gupshup/src/lib/gupshup.provider.ts
Labels: providers

#5055 chore: make retention period configurable
  apps/api/src/app/events/e2e/trigger-event.e2e.ts
  apps/api/src/config/env-validator.ts
  apps/api/src/types/env.d.ts
  apps/worker/src/config/env-validator.ts
  apps/worker/src/types/env.d.ts
  libs/dal/src/repositories/base-repository.ts
  libs/dal/src/types/env.d.ts
  libs/shared/src/consts/data-retention/index.ts
Labels: @novu/api, @novu/dal, @novu/shared, community, @novu/worker

#5247 chore(web): onboarding animations update
  apps/web/public/animations/get-started/delay.riv
  apps/web/public/animations/get-started/digest.riv
  apps/web/public/animations/get-started/in-app.riv
  apps/web/public/animations/get-started/multi-channel.riv
  apps/web/public/animations/get-started/translation.riv
  apps/web/src/pages/get-started/components/GetStartedAnimation.tsx
  apps/web/src/pages/get-started/consts/TranslationUseCase.const.tsx
Labels: @novu/web

#5266 Convert script to github action
  .github/actions/free-space/action.yml
Labels: CI/CD

#5258 Fix gupshup request
  .cspell.json
  pnpm-lock.yaml
  providers/gupshup/jest.config.js
  providers/gupshup/package.json
  providers/gupshup/src/lib/gupshup.provider.ts
Labels: providers, community

#5269 fix(ci): Versions compatibility
  .github/workflows/dev-deploy-web-component.yml
  .github/workflows/prod-deploy-web-component.yml
  .github/workflows/reusable-notification-center.yml
Labels: CI/CD, DevOps

#5243 Pyroscope Integration
  .cspell.json
  apps/api/src/app.module.ts
  apps/webhook/src/app.module.ts
  apps/worker/src/app.module.ts
  apps/ws/src/app.module.ts
  docker/local/development/docker-compose.monitoring.yml
  packages/application-generic/package.json
  packages/application-generic/src/index.ts
  packages/application-generic/src/profiling/index.ts
  packages/application-generic/src/profiling/profiling.controller.ts
  packages/application-generic/src/profiling/profiling.module.ts
  packages/application-generic/src/profiling/profiling.service.ts
  pnpm-lock.yaml
Labels: @novu/api, @novu/webhook, @novu/ws, @novu/worker, docker

#5208 chore: update vite package
  libs/design-system/package.json
  packages/notification-center-vue/package.json
  pnpm-lock.yaml
Labels: @novu/notification-center-vue, @novu/design-system

#5267 [Design System] Grouped PRs for Panda Setup
  .cspell.json
  apps/web/.eslintrc.js
  apps/web/.gitignore
  apps/web/.prettierignore
  apps/web/package.json
  apps/web/panda.config.ts
  apps/web/postcss.config.cjs
  apps/web/src/index.tsx
  apps/web/tsconfig.json
  libs/design-system/.eslintrc.js
  libs/design-system/.gitignore
  libs/design-system/.storybook/preview.jsx
  libs/design-system/package.json
  libs/design-system/panda.config.ts
  libs/design-system/postcss.config.cjs
  libs/design-system/src/ThemeProvider.tsx
  libs/design-system/src/color-scheme/ColorScheme.ts
  libs/design-system/src/color-scheme/index.ts
  libs/design-system/src/color-scheme/mapThemeStatusToColorScheme.ts
  libs/design-system/src/color-scheme/useColorScheme.ts
  libs/design-system/src/index.ts
  libs/design-system/src/panda/NovuPandaPreset.ts
  libs/design-system/src/panda/colors.tokens.ts
  libs/design-system/src/panda/gradients.tokens.ts
  libs/design-system/src/panda/index.ts
  libs/design-system/src/panda/recipes/text.recipe.ts
  libs/design-system/src/panda/recipes/title.recipe.ts
  libs/design-system/src/panda/semanticColors.tokens.ts
  libs/design-system/src/panda/sizes.tokens.ts
  libs/design-system/src/panda/spacing.tokens.ts
  libs/design-system/src/panda/textStyles.tokens.ts
  libs/design-system/src/panda/typography.tokens.ts
  libs/design-system/src/panda/typography/typography.stories.tsx
  libs/design-system/tsconfig.json
  pnpm-lock.yaml
Labels: @novu/web, @novu/design-system

#5285 feat: add messages new api res
  .cspell.json
  apps/api/src/app/messages/usecases/get-messages/get-messages.usecase.ts
  apps/api/src/app/widgets/dtos/message-response.dto.ts
  libs/shared/src/types/feature-flags/feature-flags.ts
Labels: @novu/api, @novu/shared

#5287 V0.24.x
  apps/api/src/app/subscribers/usecases/delete-subscriber-credentials/delete-subscriber-credentials.usecase.ts
  libs/dal/src/repositories/base-repository.ts
Labels: @novu/api, @novu/dal

#5268 feat(api): search workflows by name or trigger identifier
  apps/api/src/app/shared/dtos/pagination-request.ts
  apps/api/src/app/shared/dtos/pagination-with-filters-request.ts
  apps/api/src/app/shared/types.ts
  apps/api/src/app/subscribers/subscribers.controller.ts
  apps/api/src/app/tenant/tenant.controller.ts
  apps/api/src/app/widgets/widgets.controller.ts
  apps/api/src/app/workflow-overrides/workflow-overrides.controller.ts
  apps/api/src/app/workflows/dto/workflows-request.dto.ts
  apps/api/src/app/workflows/e2e/get-notification-templates.e2e.ts
  apps/api/src/app/workflows/notification-template.controller.ts
  apps/api/src/app/workflows/usecases/get-notification-templates/get-notification-templates.command.ts
  apps/api/src/app/workflows/usecases/get-notification-templates/get-notification-templates.usecase.ts
  apps/api/src/app/workflows/workflow.controller.ts
  libs/dal/src/repositories/notification-template/notification-template.repository.ts
  libs/dal/src/repositories/notification-template/notification-template.schema.ts
Labels: @novu/api, @novu/dal

#5290 Editor autocomplete - does not open in a second use
  apps/web/src/pages/templates/components/email-editor/TextRowContent.tsx
Labels: @novu/web

#5270 feat: add echo project waitlist components
  .cspell.json
  apps/web/src/pages/quick-start/components/ChannelsConfiguration.tsx
  apps/web/src/pages/templates/TemplatesListNoData.tsx
  apps/web/src/pages/templates/components/CreateWorkflowDropdown.tsx
  apps/web/src/pages/templates/components/EchoProjectWaitList.tsx
  apps/web/src/pages/templates/components/TestWorkflow.tsx
  apps/web/src/pages/templates/components/templates-store/TemplatesStoreModal.tsx
  apps/web/src/pages/templates/workflow/WorkflowEditor.tsx
Labels: @novu/web

#5276 feat(web): workflows allow searching by name or trigger identifier
  .cspell.json
  apps/api/src/app/shared/dtos/pagination-request.ts
  apps/api/src/app/shared/dtos/pagination-with-filters-request.ts
  apps/web/cypress.config.ts
  apps/web/cypress/global.d.ts
  apps/web/cypress/plugins/index.ts
  apps/web/cypress/support/commands.ts
  apps/web/cypress/tests/notification-editor/main-functionality.spec.ts
  apps/web/cypress/tests/workflows.spec.ts
  apps/web/src/api/notification-templates.ts
  apps/web/src/components/layout/components/OrganizationSelect.tsx
  apps/web/src/hooks/index.ts
  apps/web/src/hooks/useDebouncedSearch.ts
  apps/web/src/hooks/usePaginatedQuery.ts
  apps/web/src/hooks/useTemplates.ts
  apps/web/src/pages/templates/TemplatesListNoDataOld.tsx
  apps/web/src/pages/templates/WorkflowListNoMatches.tsx
  apps/web/src/pages/templates/WorkflowListPage.tsx
  libs/design-system/src/index.ts
  libs/design-system/src/pagination/index.ts
  libs/design-system/src/pagination/usePaginationQueryParamsState.spec.tsx
  libs/design-system/src/pagination/usePaginationQueryParamsState.ts
  libs/design-system/src/pagination/usePaginationState.spec.tsx
  libs/design-system/src/pagination/usePaginationState.ts
  libs/design-system/src/search-input/SearchInput.stories.tsx
  libs/design-system/src/search-input/SearchInput.tsx
  libs/design-system/src/search-input/index.ts
  libs/design-system/src/search-input/useSearchQueryParamState.ts
  libs/shared/src/types/pagination/index.ts
Labels: @novu/api, @novu/web, @novu/shared, @novu/design-system

#5299 fix: set novu providers as primary for new orgs
  apps/api/src/app/integrations/usecases/create-novu-integrations/create-novu-integrations.usecase.ts
  apps/api/src/app/organization/e2e/create-organization.e2e.ts
Labels: @novu/api

#5286 feat: add hubspot component in shared web
  .cspell.json
  apps/api/src/app/auth/dtos/user-registration.dto.ts
  apps/api/src/app/organization/dtos/create-organization.dto.ts
  apps/web/src/constants/hubspotForms.ts
  apps/web/src/pages/auth/QuestionnairePage.tsx
  apps/web/src/pages/auth/components/HubspotSignupForm.tsx
  libs/shared-web/package.json
  libs/shared-web/src/components/HubspotForm.tsx
  libs/shared-web/src/components/index.ts
  libs/shared-web/src/config.ts
  libs/shared-web/src/index.ts
  libs/shared/src/types/organization/index.ts
  pnpm-lock.yaml
Labels: @novu/api, @novu/web, @novu/shared

#5295 Fix: Unhandled Error: Objects are not valid as a React child
  apps/api/src/app/message-template/usecases/update-message-template/update-message-template.usecase.ts
  apps/api/src/app/workflows/e2e/update-notification-template.e2e.ts
  apps/web/cypress/tests/notification-editor/main-functionality.spec.ts
  apps/web/src/pages/templates/components/CustomCodeEditor.tsx
Labels: @novu/api, @novu/web

#5300 fix(web): workflow settings - providers warnings were cut off
  apps/web/src/pages/integrations/components/IntegrationStatus.tsx
  apps/web/src/pages/templates/components/ListProviders.tsx
  apps/web/src/pages/templates/components/ProvidersPage.tsx
Labels: @novu/web

#5284 justnems-analytics-updates
  .cspell.json
  CONTRIBUTING.md
  README.md
  apps/api/README.md
  apps/api/jarvis-api-intro.md
  apps/web/cypress/tests/digest-playground.spec.ts
  apps/web/cypress/tests/integrations-list-modal.spec.ts
  apps/web/cypress/tests/integrations-list-page.spec.ts
  apps/web/src/pages/get-started/consts/DelayUseCase.const.tsx
  apps/web/src/pages/get-started/consts/DigestUseCase.const.tsx
  apps/web/src/pages/get-started/consts/InAppUseCase.const.tsx
  apps/web/src/pages/get-started/consts/MultiChannelUseCase.const.tsx
  apps/web/src/pages/get-started/consts/TranslationUseCase.const.tsx
  apps/web/src/pages/integrations/components/NovuInAppForm.tsx
  packages/cli/README.MD
  packages/node/README.md
  packages/notification-center-angular/projects/notification-center-angular/README.md
  packages/stateless/README.md
Labels: @novu/api, @novu/web, @novu/notification-center-angular

#5297 NV-3561 | Component Audit
  apps/web/package.json
  libs/design-system/.gitignore
  libs/design-system/package.json
  libs/design-system/react-scanner.config.js
  libs/design-system/src/component-audit/ComponentAuditTable.stories.tsx
  libs/design-system/src/component-audit/ComponentAuditTable.tsx
  pnpm-lock.yaml
Labels: @novu/web, @novu/design-system

#5277 Update Otel Exporters
  .cspell.json
  apps/api/src/app.module.ts
  apps/webhook/src/app.module.ts
  apps/ws/src/app.module.ts
  packages/application-generic/package.json
  packages/application-generic/src/tracing/tracing.module.ts
  packages/application-generic/src/tracing/tracing.service.ts
  packages/application-generic/src/tracing/tracing.ts
  pnpm-lock.yaml
Labels: @novu/api, @novu/webhook, @novu/ws

#5303 Unhandled Error: SyntaxError JSON.parse(<anonymous>)
  apps/web/src/pages/templates/hooks/usePreviewEmailTemplate.ts
  apps/web/src/pages/templates/hooks/usePreviewInAppTemplate.ts
  apps/web/src/utils/utils.ts
Labels: @novu/web

#5296 fix: provide notification group on creation by blueprint
  apps/api/src/app/blueprint/blueprint.controller.ts
  apps/api/src/app/blueprint/e2e/get-grouped-blueprints.e2e.ts
  apps/api/src/app/blueprint/usecases/get-blueprint/get-blueprint.usecase.ts
  apps/api/src/app/blueprint/usecases/get-grouped-blueprints/get-grouped-blueprints.command.ts
  apps/api/src/app/blueprint/usecases/get-grouped-blueprints/get-grouped-blueprints.usecase.ts
  apps/api/src/app/change/usecases/promote-notification-template-change/promote-notification-template-change.usecase.ts
  apps/api/src/app/workflows/dto/create-workflow.request.dto.ts
  apps/api/src/app/workflows/e2e/create-notification-templates.e2e.ts
  apps/api/src/app/workflows/notification-template.controller.ts
  apps/api/src/app/workflows/usecases/create-notification-template/create-notification-template.command.ts
  apps/api/src/app/workflows/usecases/create-notification-template/create-notification-template.usecase.ts
  apps/api/src/app/workflows/workflow.controller.ts
  apps/web/src/api/hooks/notification-templates/useCreateTemplateFromBlueprint.ts
  apps/web/src/api/notification-templates.ts
  apps/web/src/api/types.ts
  libs/dal/src/repositories/notification-template/notification-template.repository.ts
  libs/shared/src/dto/notification-templates/create-template.dto.ts
  libs/shared/src/entities/notification-template/notification-template.interface.ts
  packages/application-generic/src/services/cache/key-builders/entities.ts
Labels: @novu/api, @novu/web, @novu/dal, @novu/shared

#5315 fix: update value of cxo founder
  apps/web/src/pages/auth/components/HubspotSignupForm.tsx
Labels: @novu/web

#5279 fix: Fixed Visual Bug in Workflow Editor with Digests
  apps/web/src/pages/templates/workflow/digest/TimedDigestWillBeSentHeader.tsx
  apps/web/src/pages/templates/workflow/digest/WillBeSentHeader.tsx
Labels: @novu/web, community

#5312 feat(api): Allow img tags in the In-App & Email Editor
  apps/api/src/app/message-template/shared/sanitizer.service.spec.ts
  apps/api/src/app/message-template/shared/sanitizer.service.ts
Labels: @novu/api, community

#5302 Translation with params not included in payload generation
  apps/api/src/app/message-template/usecases/update-message-template/update-message-template.usecase.ts
  apps/api/src/app/shared/helpers/content.service.spec.ts
  apps/web/src/pages/templates/hooks/usePreviewEmailTemplate.ts
  apps/web/src/pages/templates/hooks/usePreviewInAppTemplate.ts
  apps/web/src/utils/utils.ts
  libs/shared/src/consts/handlebar-helpers/getTemplateVariables.ts
Labels: @novu/api, @novu/web, @novu/shared

#5283 [Information Architecture] - New Sidebar Nav
  .cspell.json
  apps/web/.eslintrc.js
  apps/web/src/AppRoutes.tsx
  apps/web/src/SettingsRoutes.tsx
  apps/web/src/components/layout/AppLayout.tsx
  apps/web/src/components/layout/components/SideNav.tsx
  apps/web/src/components/nav/EnvironmentSelect/EnvironmentPopover.styles.ts
  apps/web/src/components/nav/EnvironmentSelect/EnvironmentPopover.tsx
  apps/web/src/components/nav/EnvironmentSelect/EnvironmentSelect.tsx
  apps/web/src/components/nav/EnvironmentSelect/index.ts
  apps/web/src/components/nav/EnvironmentSelect/useEnvironmentSelect.tsx
  apps/web/src/components/nav/MainNav.tsx
  apps/web/src/components/nav/NavMenu.tsx
  apps/web/src/components/nav/NavMenuButton/NavMenuButton.shared.ts
  apps/web/src/components/nav/NavMenuButton/NavMenuLinkButton.tsx
  apps/web/src/components/nav/NavMenuButton/NavMenuToggleButton.tsx
  apps/web/src/components/nav/NavMenuButton/index.ts
  apps/web/src/components/nav/NavMenuFooter.tsx
  apps/web/src/components/nav/NavMenuSection.tsx
  apps/web/src/components/nav/NavSelect.styles.ts
  apps/web/src/components/nav/OrganizationSelect/OrganizationSelect.cy.tsx
  apps/web/src/components/nav/OrganizationSelect/OrganizationSelect.tsx
  apps/web/src/components/nav/OrganizationSelect/index.ts
  apps/web/src/components/nav/OrganizationSelect/useOrganizationSelect.ts
  apps/web/src/components/nav/OrganizationSelect/v2/OrganizationSelect.tsx
  apps/web/src/components/nav/OrganizationSelect/v2/index.ts
  apps/web/src/components/nav/RootNavMenu.tsx
  apps/web/src/components/nav/RootNavMenuFooter.tsx
  apps/web/src/components/nav/SettingsNavMenu.tsx
  apps/web/src/components/nav/SidebarNav.tsx
  libs/design-system/src/navigation/NavMenu.tsx
  libs/design-system/src/panda/NovuPandaPreset.ts
  libs/design-system/src/panda/semanticColors.tokens.ts
  libs/design-system/src/panda/shadow.tokens.ts
  libs/design-system/src/select/Select.types.ts
  libs/design-system/src/sidebar/Sidebar.tsx
  libs/design-system/src/tooltip/Tooltip.tsx
  libs/shared-web/src/constants/BaseEnvironmentEnum.ts
  libs/shared-web/src/constants/index.ts
  libs/shared-web/src/constants/routes.enum.ts
  libs/shared-web/src/hooks/useEnvController.ts
  libs/shared-web/src/index.ts
  libs/shared-web/src/types/LocalizedMessage.ts
  libs/shared-web/src/types/index.ts
Labels: @novu/web, @novu/design-system

#5298 [Information Architecture] - Nav Part 2
  apps/web/cypress/tests/layout/main-nav.spec.ts
  apps/web/cypress/tests/layout/side-menu.spec.ts
  apps/web/src/components/layout/components/VisibilityOff.tsx
  apps/web/src/components/nav/NavMenuButton/NavMenuButton.shared.ts
  apps/web/src/components/nav/NavMenuButton/NavMenuButtonRightSide.tsx
  apps/web/src/components/nav/NavMenuButton/NavMenuLinkButton.tsx
  apps/web/src/components/nav/RootNavMenu.tsx
  apps/web/src/components/nav/VisibilityButton.tsx
Labels: @novu/web

#5309 feat(dal): add deleted index and type safety index
  libs/dal/src/repositories/subscriber/subscriber.schema.ts
  libs/dal/src/shared/types/index.ts
  libs/dal/src/shared/types/index.type.ts
Labels: @novu/dal

#5321 Add exponential backoff with jitter for the In-App Notification Center to re-establish WebSocket connections
  packages/notification-center/src/hooks/useInitializeSocket.ts
Labels: @novu/notification-center

#5326 Nv 3593 bug tooltip issue on activities page graph
  apps/web/src/pages/activities/components/ActivityGraphGlobalStyles.tsx
Labels: @novu/web

#5319 fix: Surface all auth server errors during login in email input.
  apps/api/src/app/auth/e2e/login.e2e.ts
  apps/api/src/app/auth/usecases/login/login.usecase.ts
  apps/web/cypress/tests/auth.spec.ts
  apps/web/src/pages/auth/components/LoginForm.tsx
  apps/web/src/utils/errors.ts
Labels: @novu/api, @novu/web

#5320 fix(web): Tweak scrollbar placement in sidebar
  apps/web/src/components/layout/components/SideNav.tsx
Labels: @novu/web

#5332 feat: Tweak semantic color tokens
  libs/design-system/src/panda/colors.tokens.ts
  libs/design-system/src/panda/semanticColors.tokens.ts
Labels: @novu/design-system

#5331 feat: image component
  apps/web/src/components/shared/ProfileImage.cy.tsx
  apps/web/src/components/shared/ProfileImage.styles.ts
  apps/web/src/components/shared/ProfileImage.tsx
  apps/web/src/components/shared/index.tsx
Labels: @novu/web
