Repository novuhq/novu, pull requests merged in 2024-08, with the labels that each got.

#6217 fix(web): pre-login email denormalization when using pass manager
  apps/web/src/ee/clerk/providers/clerk-singleton.ts
Labels: @novu/web

#6221 fix(web): fix container logs
  apps/web/src/pages/auth/onboarding/PlaygroundPage.tsx
  apps/web/src/pages/auth/onboarding/PlaygroundTourGuide.tsx
  apps/web/src/pages/auth/onboarding/PlaygroundWorkflowComponent.tsx
  apps/web/src/studio/components/workflows/step-editor/editor/useContainer.tsx
  apps/web/src/studio/hooks/useBridgeAPI.ts
Labels: @novu/web

#6183 feat(js): Com 111 refactor naming settings to preferences
  apps/api/src/metadata.ts
  packages/js/src/ui/components/Inbox.tsx
  packages/js/src/ui/components/elements/Header/ActionsContainer.tsx
  packages/js/src/ui/components/elements/Header/Header.tsx
  packages/js/src/ui/components/elements/Header/PreferencesHeader.tsx
  packages/js/src/ui/components/elements/Header/index.ts
  packages/js/src/ui/components/elements/Preferences/ChannelRow.tsx
  packages/js/src/ui/components/elements/Preferences/LoadingScreen.tsx
  packages/js/src/ui/components/elements/Preferences/Preferences.tsx
  packages/js/src/ui/components/elements/Preferences/Switch.tsx
  packages/js/src/ui/components/elements/Preferences/index.ts
  packages/js/src/ui/components/elements/Settings/index.ts
  packages/js/src/ui/components/elements/index.ts
  packages/js/src/ui/context/AppearanceContext.tsx
Labels: @novu/api

#6228 revert(web, framework, novui): Revert autocomplete in Studio
  .cspell.json
  apps/api/src/app/events/e2e/bridge-trigger.e2e.ts
  apps/web/src/components/layout/components/LocalStudioHeader/LocalStudioHeader.tsx
  apps/web/src/components/layout/components/LocalStudioSidebar/LocalStudioSidebarOrganizationDisplay.tsx
  apps/web/src/index.tsx
  apps/web/src/studio/components/workflows/node-view/WorkflowFloatingMenu.tsx
  apps/web/src/studio/components/workflows/step-editor/WorkflowStepEditorControlsPanel.tsx
  apps/web/src/studio/utils/index.ts
  apps/web/src/studio/utils/variables.ts
  libs/novui/package.json
  libs/novui/src/index.css
  libs/novui/src/json-schema-components/JsonSchemaForm.stories.tsx
  libs/novui/src/json-schema-components/JsonSchemaForm.tsx
  libs/novui/src/json-schema-components/widgets/InputEditorWidget.tsx
  libs/novui/src/json-schema-components/widgets/InputWidget.tsx
  libs/novui/src/json-schema-components/widgets/TextareaWidget.tsx
  libs/novui/src/json-schema-components/widgets/VariableSuggestionList.tsx
  libs/novui/src/json-schema-components/widgets/index.ts
  libs/novui/src/panda-preset.ts
  libs/novui/src/recipes/index.ts
  libs/novui/src/recipes/input-editor-widget.recipe.ts
  libs/novui/src/recipes/input.recipe.ts
  libs/novui/src/recipes/variable-suggestion-list.recipe.ts
  libs/novui/src/tokens/semanticColors.tokens.ts
  libs/novui/src/tokens/semanticSizes.tokens.ts
  packages/framework/src/client.test.ts
  packages/framework/src/client.ts
  pnpm-lock.yaml
Labels: @novu/api, @novu/web, @novu/novui

#6232 fix(web): report correct date format to LD
  apps/web/src/ee/clerk/providers/EnterpriseAuthProvider.tsx
Labels: @novu/web

#6219 chore(root): flip clerk switch for PROD EU [MERGE BEFORE PROD DEPLOY]
  .github/workflows/prod-deploy-web.yml
Labels: CI/CD

#6236 fix(web): include redirect
  apps/web/netlify.toml
Labels: @novu/web

#6240 fix(root): fix ci docker compose build
  .github/actions/start-localstack/action.yml
Labels: CI/CD

#6225 feat(web): wip web containers
  .cspell.json
  apps/web/src/AppRoutes.tsx
  apps/web/src/Providers.tsx
  apps/web/src/ee/clerk/components/QuestionnaireForm.tsx
  apps/web/src/hooks/index.ts
  apps/web/src/hooks/useContainer.tsx
  apps/web/src/pages/auth/components/QuestionnaireForm.tsx
  apps/web/src/pages/get-started/GetStartedPage.tsx
  apps/web/src/pages/get-started/form-tabs.config.tsx
  apps/web/src/pages/get-started/tabs/Setup.tsx
  apps/web/src/pages/playground/onboarding/CodeEditor.tsx
  apps/web/src/pages/playground/onboarding/Onboarding.tsx
  apps/web/src/pages/playground/onboarding/PlaygroundHeader.tsx
  apps/web/src/pages/playground/onboarding/PlaygroundPage.tsx
  apps/web/src/pages/playground/onboarding/PlaygroundTourGuide.tsx
  apps/web/src/pages/playground/onboarding/PlaygroundWorkflowComponent.tsx
  apps/web/src/pages/playground/onboarding/Terminal.tsx
  apps/web/src/pages/playground/onboarding/TitleBarWrapper.tsx
  apps/web/src/pages/playground/web-container-configuration/files-configuration.ts
  apps/web/src/pages/playground/web-container-configuration/index.ts
  apps/web/src/pages/playground/web-container-configuration/sandbox-vite/index.ts
  apps/web/src/pages/playground/web-container-configuration/sandbox-vite/package-json.ts
  apps/web/src/pages/playground/web-container-configuration/sandbox-vite/pnpm-lock-yaml.ts
  apps/web/src/pages/playground/web-container-configuration/sandbox-vite/react-email.ts
  apps/web/src/pages/playground/web-container-configuration/sandbox-vite/tsconfig-json.ts
  apps/web/src/pages/playground/web-container-configuration/sandbox-vite/tunnel.service.ts
  apps/web/src/pages/playground/web-container-configuration/sandbox-vite/vite-config.ts
  apps/web/src/pages/playground/web-container-configuration/sandbox-vite/workflow.ts
  apps/web/src/studio/components/workflows/step-editor/editor/files.ts
  apps/web/src/studio/components/workflows/step-editor/editor/sandbox-code-snippets.ts
  apps/web/src/utils/playground-navigation.ts
Labels: @novu/web

#6075 feat(framework): Add new Inbox properties to `step.inApp` schema
  apps/api/src/app/inbox/utils/notification-mapper.ts
  apps/web/src/components/workflow/preview/in-app/Content.styles.ts
  apps/web/src/components/workflow/preview/in-app/Content.tsx
  apps/web/src/components/workflow/preview/in-app/InAppPreview.tsx
  apps/web/src/pages/templates/components/in-app-editor/preview/AvatarContainer.tsx
  apps/web/src/pages/templates/hooks/usePreviewInAppTemplate.ts
  apps/web/src/studio/components/workflows/step-editor/WorkflowStepEditorContentPanel.tsx
  apps/worker/src/app/workflow/usecases/send-message/send-message-in-app.usecase.ts
  libs/dal/src/repositories/message/message.schema.ts
  libs/shared/src/entities/messages/messages.interface.ts
  libs/shared/src/utils/bridge.utils.ts
  packages/framework/src/schemas/steps/channels/in-app.schema.ts
Labels: @novu/api, @novu/web, @novu/dal, @novu/shared, @novu/worker

#6235 chore(root): Production deployment fixes
  .github/workflows/dev-deploy-ws.yml
  .github/workflows/prod-deploy-api.yml
  .github/workflows/prod-deploy-webhook.yml
  .github/workflows/prod-deploy-worker.yml
  .github/workflows/prod-deploy-ws.yml
Labels: CI/CD

#6244 feat(web): add watch ignore on ts config change
  apps/web/src/pages/get-started/GetStartedPage.tsx
  apps/web/src/pages/playground/web-container-configuration/files-configuration.ts
  apps/web/src/pages/playground/web-container-configuration/sandbox-vite/index.ts
  apps/web/src/pages/playground/web-container-configuration/sandbox-vite/package-json.ts
  apps/web/src/pages/playground/web-container-configuration/sandbox-vite/src/react-email.ts
  apps/web/src/pages/playground/web-container-configuration/sandbox-vite/src/workflow.ts
  apps/web/src/pages/playground/web-container-configuration/sandbox-vite/vite-config.ts
Labels: @novu/web

#6227 chore(js,react): inbox props for the notification item click and action button clicks
  apps/api/src/app/inbox/utils/notification-mapper.ts
  apps/api/src/app/inbox/utils/types.ts
  libs/dal/src/repositories/message/message.repository.ts
  package.json
  packages/js/src/notifications/helpers.ts
  packages/js/src/notifications/notification.ts
  packages/js/src/types.ts
  packages/js/src/ui/components/Inbox.tsx
  packages/js/src/ui/components/Notification/DefaultNotification.tsx
  packages/js/src/ui/components/Notification/Notification.tsx
  packages/js/src/ui/components/Notification/NotificationList.tsx
  packages/js/src/ui/components/primitives/Button.tsx
  packages/js/src/ui/helpers/useBrowserTabsChannel.ts
  packages/js/src/ui/helpers/useWebSocketEvent.ts
  packages/js/src/ui/icons/Unarchive.tsx
  packages/js/src/ui/index.ts
  packages/js/src/ui/types.ts
  packages/js/src/ws/socket.ts
  packages/react/src/components/Bell.tsx
  packages/react/src/components/Inbox.tsx
  packages/react/src/components/Notifications.tsx
  packages/react/src/components/Preferences.tsx
  packages/react/src/components/Renderer.tsx
  packages/react/src/context/RenderContext.tsx
  packages/react/src/utils/types.ts
  playground/nextjs/src/pages/render-notification/index.tsx
  pnpm-lock.yaml
Labels: @novu/api, @novu/dal

#6248 fix(web): web light mode colors for onboarding
  apps/web/src/pages/get-started/GetStartedPage.styles.tsx
  apps/web/src/pages/get-started/tabs/CardsButtonGroup.tsx
Labels: @novu/web

#6250 feat(web): playground fix server reset after ts config changes
  apps/web/src/hooks/useContainer.tsx
Labels: @novu/web

#6256 style(web): set default scheme as dark
  libs/design-system/src/hooks/useLocalThemePreference.ts
Labels: @novu/design-system

#6259 fix(web): redirect to org creation if org is missing
  apps/web/src/ee/clerk/providers/EnterpriseAuthProvider.tsx
Labels: @novu/web

#6264 fix(worker, application-generic): Remove In-App message lookup for stateless Workflows
  apps/api/src/app/events/e2e/bridge-trigger.e2e.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-in-app.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message.command.ts
  libs/application-generic/src/usecases/execute-bridge-request/execute-bridge-request.usecase.ts
Labels: @novu/api, @novu/worker

#6274 fix(js): button padding and preferences response
  apps/api/src/app/inbox/dtos/get-preferences-response.dto.ts
  apps/api/src/app/inbox/usecases/get-preferences/get-preferences.usecase.ts
  apps/api/src/app/inbox/usecases/update-preferences/update-preferences.usecase.ts
  libs/shared/src/entities/subscriber-preference/subscriber-preference.interface.ts
  packages/js/src/ui/components/primitives/Button.tsx
Labels: @novu/api, @novu/shared

#6275 fix(js): test
  apps/api/src/app/inbox/usecases/get-preferences/get-preferences.spec.ts
Labels: @novu/api

#6276 chore(api,web,application-generic): remove legacy EE auth
  .github/workflows/reusable-api-e2e.yml
  apps/api/package.json
  apps/api/src/.env.test
  apps/api/src/app.module.ts
  apps/api/src/app/auth/legacy-ee-auth/auth.controller.ts
  apps/api/src/app/auth/legacy-ee-auth/auth.module.ts
  apps/api/src/app/auth/legacy-ee-auth/google.strategy.ts
  apps/api/src/config/env.validators.ts
  apps/api/src/metadata.ts
  apps/web/src/pages/auth/components/OAuth.tsx
  apps/web/src/pages/auth/components/gitHubUtils.ts
  libs/application-generic/src/.env.test
  libs/application-generic/src/services/auth/community.auth.service.ts
  libs/shared/src/entities/user/user.enums.ts
  pnpm-lock.yaml
Labels: @novu/api, @novu/web, @novu/shared, CI/CD

#6289 fix(api): bring back storage controller for v1 users
  apps/api/src/app.module.ts
  apps/api/src/app/storage/e2e/get-signed-url.e2e.ts
Labels: @novu/api

#6291 feat(web): make impersonation fab react to theme change
  apps/web/src/ee/clerk/providers/ClerkProvider.tsx
Labels: @novu/web

#6260 feat(api): analytics add env name on sync
  apps/api/src/app/bridge/usecases/sync/sync.usecase.ts
Labels: @novu/api

#6303 refactor(webhook,worker,ws): remove redundant dependencies
  apps/webhook/package.json
  apps/webhook/src/shared/shared.module.ts
  apps/webhook/src/webhooks/usecases/webhook/webhook.usecase.ts
  apps/worker/src/app/shared/shared.module.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-email.usecase.ts
  apps/ws/package.json
  apps/ws/src/shared/shared.module.ts
  apps/ws/src/shared/subscriber-online/subscriber-online.service.ts
  pnpm-lock.yaml
Labels: @novu/webhook, @novu/ws, @novu/worker

#6299 feat(web): reference to new Inbox
  apps/api/src/app/integrations/usecases/create-novu-integrations/create-novu-integrations.usecase.ts
  apps/api/src/app/integrations/usecases/index.ts
  apps/api/src/app/organization/e2e/create-organization.e2e.ts
  apps/web/src/pages/integrations/IntegrationsListModal.tsx
  apps/web/src/pages/integrations/UpdateProviderPage.tsx
  apps/web/src/pages/integrations/components/multi-provider/CreateProviderInstanceSidebar.tsx
  apps/web/src/pages/integrations/components/multi-provider/v2/UpdateProviderSidebarV2.tsx
  apps/web/src/pages/integrations/components/multi-provider/v2/index.ts
  apps/web/src/pages/integrations/components/v2/NovuInAppFrameworksV2.tsx
  apps/web/src/pages/integrations/components/v2/index.ts
  apps/web/src/pages/quick-start/components/SetupTimeline.tsx
  apps/web/src/pages/quick-start/consts.tsx
  apps/web/tests/integrations-list-modal.spec.ts
  apps/web/tests/integrations-list-page.spec.ts
  libs/shared/src/consts/providers/channels/in-app.ts
Labels: @novu/api, @novu/web, @novu/shared

#6313 feat(web): remove visit playground on unsupported browsers
  apps/web/src/pages/get-started/GetStartedPage.tsx
Labels: @novu/web

#6300 fix(web): Remove redundant scrolling across web application
  apps/web/src/components/layout/components/LocalStudioHeader/LocalStudioHeader.tsx
  apps/web/src/pages/playground/onboarding/PlaygroundPage.tsx
  apps/web/src/pages/playground/onboarding/PlaygroundWorkflowComponent.tsx
  apps/web/src/pages/playground/onboarding/Terminal.tsx
  apps/web/src/pages/playground/onboarding/TitleBarWrapper.tsx
  apps/web/src/pages/playground/web-container-configuration/sandbox-vite/react-email.ts
  apps/web/src/pages/playground/web-container-configuration/sandbox-vite/src/react-email.ts
  apps/web/src/pages/playground/web-container-configuration/sandbox-vite/src/workflow.ts
  apps/web/src/pages/playground/web-container-configuration/sandbox-vite/workflow.ts
  apps/web/src/pages/templates/editor_v2/TemplateDetailsPageV2.tsx
  apps/web/src/studio/components/workflows/layout/WorkflowsPageHeader.tsx
  apps/web/src/studio/components/workflows/layout/WorkflowsPageTemplate.tsx
  apps/web/src/studio/components/workflows/node-view/WorkflowBackgroundWrapper.tsx
  apps/web/src/studio/components/workflows/node-view/WorkflowFloatingMenu.tsx
  apps/web/src/studio/components/workflows/node-view/WorkflowsDetailPage.tsx
  apps/web/src/studio/layout/PageContainer.tsx
  packages/cli/src/dev-server/http-server.ts
Labels: @novu/web

#6318 style(web, novui): Add custom scrollbar styling and remove workflow preview overflow
  apps/web/src/pages/get-started/GetStartedPage.tsx
  apps/web/src/pages/templates/editor_v2/TemplateDetailsPageV2.tsx
  apps/web/src/studio/components/workflows/node-view/WorkflowsDetailPage.tsx
  apps/web/src/studio/components/workflows/step-editor/WorkflowStepEditorControlsPanel.tsx
  apps/web/src/studio/layout/PageContainer.tsx
  libs/novui/src/global.styles.ts
  libs/novui/src/tokens/semanticColors.tokens.ts
  libs/novui/src/tokens/semanticSizes.tokens.ts
Labels: @novu/web, @novu/novui

#6317 feat(api): rate limit throttler dry run mode
  apps/api/src/app/rate-limiting/guards/throttler.guard.ts
  libs/shared/src/types/feature-flags/feature-flags.ts
Labels: @novu/api, @novu/shared

#6324 fix(web): Add missing control schema in onboarding and fix formatting
  apps/web/src/pages/get-started/tabs/Setup.tsx
Labels: @novu/web

#6325 refactor(web): Remove "Formerly Notifire" text from login page
  apps/web/public/static/images/logo-formerly-dark-bg.webp
  apps/web/public/static/images/logo-formerly-light-bg.webp
  apps/web/public/static/images/logo-white-formerly-dark-bg.webp
  apps/web/src/components/layout/components/PublicPageLayout.tsx
  apps/web/src/logo.svg
Labels: @novu/web

#6328 fix(worker): Remove custom Slack provider handling in send-message-chat
  apps/worker/src/app/workflow/usecases/send-message/send-message-chat.usecase.ts
Labels: @novu/worker

#6329 fix(api): Explicitly generate metadata for `nest build` script
  apps/api/.gitignore
  apps/api/package.json
  apps/api/scripts/generate-metadata.ts
  apps/api/src/app/shared/framework/swagger/swagger.controller.ts
  apps/api/src/metadata.ts
Labels: @novu/api

#6315 fix(web): Styling of SMS bubble
  apps/web/src/components/workflow/preview/sms/SmsBubble.styles.tsx
Labels: @novu/web

#6333 fix(api, application-generic): Don't slugify workflow identifier for bridge workflows
  apps/api/src/app/events/e2e/bridge-sync.e2e.ts
  libs/application-generic/src/usecases/create-workflow/create-workflow.usecase.ts
Labels: @novu/api

#5975 feat(web): add v2 components for docs
  .cspell.json
  apps/web/src/components/docs/ChildDocs.tsx
  apps/web/src/components/docs/Docs.tsx
  apps/web/src/components/docs/DocsButton.tsx
  apps/web/src/components/docs/Mdx.tsx
  apps/web/src/components/docs/docs.const.ts
  apps/web/src/components/docs/globals.tsx
  apps/web/src/components/docs/useDocsPath.ts
  apps/web/src/components/docs/useLoadDocs.tsx
  apps/web/src/components/layout/components/LocalStudioSidebar/LocalStudioSidebarContent.tsx
  apps/web/src/components/layout/components/PageHeader.tsx
  apps/web/src/components/layout/components/v2/BridgeUpdateModal.tsx
  apps/web/src/ee/translations/pages/TranslationGroupsPage.tsx
  apps/web/src/pages/studio-onboarding/components/Footer.tsx
  apps/web/src/pages/templates/components/CreateWorkflowDropdown.tsx
  apps/web/src/studio/components/workflows/landing-page/WorkflowPlaceholderPage.tsx
  apps/web/src/studio/components/workflows/node-view/WorkflowFloatingMenu.tsx
  apps/web/src/studio/components/workflows/step-editor/WorkflowStepEditorControlsPanel.tsx
Labels: @novu/web

#6335 refactor(api): Set new integrations as `active` & first integration as `primary`
  apps/api/src/app/integrations/e2e/create-integration.e2e.ts
  apps/api/src/app/integrations/usecases/create-integration/create-integration.usecase.ts
  apps/web/src/pages/integrations/components/UpdateIntegrationSidebarHeader.tsx
  apps/web/src/pages/integrations/components/multi-provider/CreateProviderInstanceSidebar.tsx
  apps/web/tests/integrations-list-modal.spec.ts
  apps/web/tests/integrations-list-page.spec.ts
Labels: @novu/api, @novu/web

#6349 fix(web): update vercel completion request and redirect
  .cursorignore
  apps/web/src/ee/clerk/EnterpriseAuthRoutes.tsx
  apps/web/src/ee/clerk/components/QuestionnaireForm.tsx
  apps/web/src/hooks/useVercelIntegration.ts
  apps/web/src/pages/get-started/tabs/Setup.tsx
  apps/web/src/pages/playground/onboarding/PlaygroundTourGuide.tsx
Labels: @novu/web

#6361 fix(web): Re-render for clerk component breaks error reporting
  apps/web/src/ee/clerk/EnterpriseAuthRoutes.tsx
Labels: @novu/web

#6352 refactor(api): remove unecessary Clerk calls
  apps/api/src/app/widgets/usecases/mark-action-as-done/update-message-actions.usecase.ts
  apps/api/src/app/widgets/usecases/remove-message/remove-message.usecase.ts
  apps/api/src/app/widgets/usecases/remove-messages/remove-all-messages.usecase.ts
  apps/api/src/app/widgets/widgets.module.ts
Labels: @novu/api

#6366 feat(api): vercel logs for webhooks
  apps/api/src/app/partner-integrations/usecases/process-vercel-webhook/process-vercel-webhook.usecase.ts
Labels: @novu/api

#6356 chore(root): Post clerk clean ups
  apps/api/src/app/auth/services/passport/jwt.strategy.ts
  apps/web/src/components/providers/CommunityAuthProvider.tsx
  libs/shared/src/types/auth/auth.types.ts
Labels: @novu/api, @novu/web, @novu/shared

#6357 chore(web): Simplify Auth layout
  apps/web/src/components/layout/components/AuthLayout.tsx
  apps/web/src/components/layout/components/PageMeta.tsx
  apps/web/src/ee/clerk/pages/OrganizationListPage.tsx
  apps/web/src/ee/clerk/pages/QuestionnairePage.tsx
  apps/web/src/ee/clerk/pages/SignInPage.tsx
  apps/web/src/ee/clerk/pages/SignUpPage.tsx
  apps/web/src/pages/auth/InvitationPage.tsx
  apps/web/src/pages/auth/LoginPage.tsx
  apps/web/src/pages/auth/PasswordResetPage.tsx
  apps/web/src/pages/auth/QuestionnairePage.tsx
  apps/web/src/pages/auth/SignUpPage.tsx
Labels: @novu/web

#6377 feat(api): add api description and check for v2
  apps/api/src/app/tenant/tenant.controller.ts
Labels: @novu/api

#6375 feat(web): hide tenants in sidebar for v2 feature flag
  apps/web/src/components/nav/RootNavMenu.tsx
Labels: @novu/web

#6389 fix(novui): modifying the payload schema does not update auto complete
  libs/novui/src/json-schema-components/widgets/InputEditorWidget.tsx
  libs/novui/src/json-schema-components/widgets/SuggestionListExtension.tsx
  libs/novui/src/json-schema-components/widgets/Variable.tsx
Labels: @novu/novui

#6330 feat(novui, web, framework): Step control autocomplete
  .cspell.json
  apps/api/src/app/events/e2e/bridge-trigger.e2e.ts
  apps/web/src/components/layout/components/LocalStudioHeader/LocalStudioHeader.tsx
  apps/web/src/components/layout/components/LocalStudioSidebar/LocalStudioSidebarOrganizationDisplay.tsx
  apps/web/src/components/workflow/preview/ErrorPrettyRender.tsx
  apps/web/src/index.tsx
  apps/web/src/studio/components/workflows/step-editor/WorkflowStepEditorControlsPanel.tsx
  apps/web/src/studio/utils/index.ts
  apps/web/src/studio/utils/variables.ts
  libs/novui/package.json
  libs/novui/src/index.css
  libs/novui/src/json-schema-components/JsonSchemaForm.stories.tsx
  libs/novui/src/json-schema-components/JsonSchemaForm.tsx
  libs/novui/src/json-schema-components/constants.ts
  libs/novui/src/json-schema-components/context.ts
  libs/novui/src/json-schema-components/utils.ts
  libs/novui/src/json-schema-components/widgets/InputEditorWidget.tsx
  libs/novui/src/json-schema-components/widgets/InputWidget.tsx
  libs/novui/src/json-schema-components/widgets/SelectWidget.tsx
  libs/novui/src/json-schema-components/widgets/SuggestionListExtension.tsx
  libs/novui/src/json-schema-components/widgets/TextareaWidget.tsx
  libs/novui/src/json-schema-components/widgets/Variable.tsx
  libs/novui/src/json-schema-components/widgets/VariableSuggestionList.tsx
  libs/novui/src/json-schema-components/widgets/customMentionExtension.tsx
  libs/novui/src/json-schema-components/widgets/index.ts
  libs/novui/src/panda-preset.ts
  libs/novui/src/recipes/index.ts
  libs/novui/src/recipes/input-editor-widget.recipe.ts
  libs/novui/src/recipes/input.recipe.ts
  libs/novui/src/recipes/variable-suggestion-list.recipe.ts
  libs/novui/src/tokens/semanticColors.tokens.ts
  libs/novui/src/tokens/semanticSizes.tokens.ts
  libs/novui/src/utils/createContextAndHook.ts
  libs/novui/src/utils/index.ts
  libs/shared/src/types/feature-flags/feature-flags.ts
  packages/framework/src/client.test.ts
  packages/framework/src/client.ts
  packages/framework/src/constants/error.constants.ts
  packages/framework/src/errors/execution.errors.ts
  pnpm-lock.yaml
Labels: @novu/api, @novu/web, @novu/shared, @novu/novui

#6393 fix(web): Use web url for sync confirmation toast
  apps/web/src/components/layout/components/v2/SyncInfoModal.tsx
Labels: @novu/web

#6378 feat(web): inbox preview
  apps/web/src/components/workflow/preview/in-app/InAppBasePreview.tsx
  apps/web/src/components/workflow/preview/in-app/v2/InboxAvatar.tsx
  apps/web/src/components/workflow/preview/in-app/v2/InboxPreviewContent.tsx
Labels: @novu/web

#6391 feat(framework,js): expose the data property on the in-app step and notification object
  apps/api/src/app/inbox/utils/notification-mapper.ts
  apps/api/src/app/inbox/utils/types.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-in-app.usecase.ts
  libs/dal/src/repositories/message/message.entity.ts
  libs/dal/src/repositories/message/message.schema.ts
  libs/shared/src/entities/messages/messages.interface.ts
  libs/shared/src/utils/bridge.utils.ts
  packages/framework/src/schemas/steps/channels/in-app.schema.ts
  packages/js/src/notifications/notification.ts
  packages/js/src/types.ts
  packages/js/src/ws/socket.ts
Labels: @novu/api, @novu/dal, @novu/shared, @novu/worker

#6394 feat(framework): cta support with target
  .cspell.json
  apps/api/src/app/inbox/utils/notification-mapper.ts
  apps/api/src/app/inbox/utils/types.ts
  libs/shared/src/entities/messages/messages.interface.ts
  libs/shared/src/types/messages/index.ts
  libs/shared/src/utils/bridge.utils.ts
  packages/framework/src/schemas/steps/channels/in-app.schema.ts
  packages/js/src/types.ts
  packages/js/src/ui/components/Notification/DefaultNotification.tsx
  packages/js/src/ui/helpers/constants.ts
  packages/js/src/ui/helpers/index.ts
  packages/js/src/ws/socket.ts
Labels: @novu/api, @novu/shared

#6402 fix(api,js): inbox api send workflow identifier
  apps/api/src/app/inbox/dtos/get-preferences-response.dto.ts
  apps/api/src/app/inbox/inbox.controller.ts
  apps/api/src/app/inbox/usecases/get-preferences/get-preferences.spec.ts
  apps/api/src/app/inbox/usecases/get-preferences/get-preferences.usecase.ts
  apps/api/src/app/inbox/usecases/update-preferences/update-preferences.usecase.ts
  apps/api/src/app/inbox/utils/types.ts
  packages/js/src/types.ts
  packages/js/src/ui/components/elements/Preferences/Preferences.tsx
Labels: @novu/api

#6403 chore(root): Release `2.0.0` packages
  apps/api/package.json
  apps/inbound-mail/package.json
  apps/web/package.json
  apps/webhook/package.json
  apps/widget/package.json
  apps/worker/package.json
  apps/ws/package.json
  enterprise/packages/auth/package.json
  enterprise/packages/billing/package.json
  enterprise/packages/dal/package.json
  enterprise/packages/shared-services/package.json
  enterprise/packages/translation/package.json
  lerna.json
  libs/application-generic/package.json
  libs/automation/package.json
  libs/dal/package.json
  libs/design-system/package.json
  libs/embed/package.json
  libs/novui/package.json
  libs/shared/package.json
  libs/testing/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/framework/package.json
  packages/headless/package.json
  packages/nest/package.json
  packages/node/package.json
  packages/notification-center-angular/package.json
  packages/notification-center-angular/projects/notification-center-angular/package.json
  packages/notification-center-vue/package.json
  packages/notification-center/package.json
  packages/providers/package.json
  packages/stateless/package.json
  pnpm-lock.yaml
Labels: @novu/api, @novu/web, @novu/dal, @novu/webhook, @novu/ws, @novu/notification-center, @novu/shared, @novu/notification-center-vue, @novu/notification-center-angular, @novu/worker, @novu/inbound-mail, @novu/design-system, @novu/novui

#6413 fix(web): update demos endpoint
  apps/web/src/config/index.ts
Labels: @novu/web

#6418 chore(root): Update Prepare Cloud Release GH action
  .github/workflows/prepare-cloud-release.yaml
Labels: CI/CD
