Repository novuhq/novu, pull requests merged in 2024-12, with the labels that each got.

#7137 feat(api): fix framework workflow payload preview
  apps/api/package.json
  apps/api/src/app/environments-v1/usecases/output-renderers/in-app-output-renderer.usecase.ts
  apps/api/src/app/workflows-v2/e2e/generate-preview.e2e.ts
  apps/api/src/app/workflows-v2/generate-preview.e2e.ts
  apps/api/src/app/workflows-v2/shared/parse-payload-schema.ts
  apps/api/src/app/workflows-v2/usecases/build-test-data/build-workflow-test-data.usecase.ts
  apps/api/src/app/workflows-v2/usecases/build-variable-schema/build-available-variable-schema.usecase.ts
  apps/api/src/app/workflows-v2/usecases/generate-preview/generate-preview.command.ts
  apps/api/src/app/workflows-v2/usecases/generate-preview/generate-preview.usecase.ts
  apps/api/src/app/workflows-v2/usecases/overload-content-data/overload-content-data-on-workflow.usecase.ts
  apps/api/src/app/workflows-v2/usecases/upsert-workflow/upsert-workflow.usecase.ts
  apps/api/src/app/workflows-v2/util/path-to-object.ts
  apps/api/src/app/workflows-v2/util/template-variables/extract-template-variables.spec.ts
  apps/api/src/app/workflows-v2/util/template-variables/extract-template-variables.ts
  apps/api/src/app/workflows-v2/util/utils.ts
  apps/api/src/app/workflows-v2/workflow.controller.ts
  packages/shared/src/dto/workflows/preview-step-response.dto.ts
  pnpm-lock.yaml
Labels: @novu/api, @novu/shared

#7182 fix(api): regression bug
  apps/api/src/app/workflows-v2/e2e/generate-preview.e2e.ts
  apps/api/src/app/workflows-v2/usecases/generate-preview/generate-preview.usecase.ts
Labels: @novu/api

#7184 fix(api): invalid schema
  apps/api/src/app/workflows-v2/util/utils.ts
Labels: @novu/api

#7147 feat(api): wip fix framework workflow issues
  apps/api/src/app/bridge/bridge.module.ts
  apps/api/src/app/bridge/usecases/sync/sync.usecase.ts
  apps/api/src/app/workflows-v2/generate-preview.e2e.ts
  apps/api/src/app/workflows-v2/usecases/extract-default-values-from-schema/extract-default-values-from-schema.usecase.ts
  packages/shared/src/dto/workflows/step-content-issue.enum.ts
Labels: @novu/api, @novu/shared

#7166 feat(api): converted bulk trigger to use SDK
  .cspell.json
  apps/api/package.json
  apps/api/src/app/events/dtos/trigger-event-request.dto.ts
  apps/api/src/app/events/e2e/bulk-trigger.e2e.ts
  apps/api/src/app/events/usecases/process-bulk-trigger/process-bulk-trigger.usecase.ts
  apps/api/src/app/notifications/dtos/activities-request.dto.ts
  apps/api/src/app/notifications/dtos/activities-response.dto.ts
  apps/api/src/app/shared/helpers/e2e/sdk/e2e-sdk.helper.ts
  apps/api/src/app/subscribers/subscribers.controller.ts
  eslint.config.mjs
  pnpm-lock.yaml
Labels: @novu/api

#7190 feat(api): gracefully preview
  apps/api/src/app/workflows-v2/e2e/generate-preview.e2e.ts
  apps/api/src/app/workflows-v2/usecases/generate-preview/generate-preview.usecase.ts
Labels: @novu/api

#7200 chore(api): Enable preview deployments
  apps/api/package.json
  apps/api/src/.env.development
  apps/api/src/app.module.ts
  apps/api/src/config/cors.config.spec.ts
  apps/api/src/config/cors.config.ts
  apps/web/env-config.js
  packages/node/CHANGELOG.md
  packages/node/package.json
Labels: @novu/api, @novu/web

#7205 feat(dashboard): add ld flag for email, digest, delay
  apps/dashboard/src/components/workflow-editor/add-step-menu.tsx
  packages/shared/src/types/feature-flags.ts
Labels: @novu/shared

#7217 fix(api): next build
  apps/api/src/app/workflows-v2/usecases/generate-preview/generate-preview.usecase.ts
Labels: @novu/api

#7129 feat(dashboard): Implement email step editor & small preview
  apps/dashboard/package.json
  apps/dashboard/src/components/primitives/editor.tsx
  apps/dashboard/src/components/workflow-editor/add-step-menu.tsx
  apps/dashboard/src/components/workflow-editor/steps/component-utils.tsx
  apps/dashboard/src/components/workflow-editor/steps/configure-step-form.tsx
  apps/dashboard/src/components/workflow-editor/steps/configure-step-template-cta.tsx
  apps/dashboard/src/components/workflow-editor/steps/configure-step-template-form.tsx
  apps/dashboard/src/components/workflow-editor/steps/configure-step-template.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/configure-email-step-preview.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/email-editor-preview.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/email-editor.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/email-preview.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/email-subject.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/email-tabs-section.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/email-tabs.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/maily.tsx
  apps/dashboard/src/components/workflow-editor/steps/in-app/configure-in-app-step-preview.tsx
  package.json
  packages/shared/src/types/feature-flags.ts
  pnpm-lock.yaml
Labels: @novu/shared

#7131 feat(dashboard): add delay step
  apps/api/src/app/workflows-v2/shared/schemas/delay-control.schema.ts
  apps/dashboard/src/components/amount-input.tsx
  apps/dashboard/src/components/primitives/form/form.tsx
  apps/dashboard/src/components/workflow-editor/add-step-menu.tsx
  apps/dashboard/src/components/workflow-editor/nodes.tsx
  apps/dashboard/src/components/workflow-editor/schema.ts
  apps/dashboard/src/components/workflow-editor/step-utils.ts
  apps/dashboard/src/components/workflow-editor/steps/component-utils.tsx
  apps/dashboard/src/components/workflow-editor/steps/configure-step-form.tsx
  apps/dashboard/src/components/workflow-editor/steps/configure-step-template-form.tsx
  apps/dashboard/src/components/workflow-editor/steps/configure-step-template.tsx
  apps/dashboard/src/components/workflow-editor/steps/configure-step.tsx
  apps/dashboard/src/components/workflow-editor/steps/delay/delay-amount.tsx
  apps/dashboard/src/components/workflow-editor/steps/delay/delay-control-values.tsx
  apps/dashboard/src/components/workflow-editor/steps/step-provider.tsx
  apps/dashboard/src/components/workflow-editor/workflow-canvas.tsx
  apps/dashboard/src/hooks/use-fetch-step.tsx
  apps/dashboard/src/utils/constants.ts
  apps/dashboard/src/utils/schema.ts
  libs/application-generic/src/usecases/tier-restrictions-validate/tier-restrictions-validate.usecase.ts
Labels: @novu/api

#7225 feat(api): add exception log
  apps/api/src/exception-filter.ts
Labels: @novu/api

#7192 refactor(api): generate payload in runtime
  apps/api/package.json
  apps/api/src/app/bridge/bridge.module.ts
  apps/api/src/app/workflows-v2/e2e/workflow-test-data.e2e.ts
  apps/api/src/app/workflows-v2/shared/parse-payload-schema.ts
  apps/api/src/app/workflows-v2/usecases/build-payload-schema/build-payload-schema.command.ts
  apps/api/src/app/workflows-v2/usecases/build-payload-schema/build-payload-schema.usecase.ts
  apps/api/src/app/workflows-v2/usecases/build-step-data/build-step-data.usecase.ts
  apps/api/src/app/workflows-v2/usecases/build-test-data/build-workflow-test-data.usecase.ts
  apps/api/src/app/workflows-v2/usecases/build-variable-schema/build-available-variable-schema.command.ts
  apps/api/src/app/workflows-v2/usecases/build-variable-schema/build-available-variable-schema.usecase.ts
  apps/api/src/app/workflows-v2/usecases/generate-preview/generate-preview.usecase.ts
  apps/api/src/app/workflows-v2/usecases/overload-content-data/overload-content-data-on-workflow.usecase.ts
  apps/api/src/app/workflows-v2/util/path-to-object.ts
  apps/api/src/app/workflows-v2/util/template-parser/liquid-parser.spec.ts
  apps/api/src/app/workflows-v2/util/template-parser/liquid-parser.ts
  apps/api/src/app/workflows-v2/util/template-parser/parser-utils.spec.ts
  apps/api/src/app/workflows-v2/util/template-parser/parser-utils.ts
  apps/api/src/app/workflows-v2/util/template-variables/extract-template-variables.spec.ts
  apps/api/src/app/workflows-v2/util/template-variables/extract-template-variables.ts
  apps/api/src/app/workflows-v2/workflow.controller.e2e.ts
  apps/api/src/app/workflows-v2/workflow.module.ts
  pnpm-lock.yaml
Labels: @novu/api

#7223 fix(dashboard): Always trust the URL for the environment selection
  apps/dashboard/src/api/api.client.ts
  apps/dashboard/src/api/billing.ts
  apps/dashboard/src/api/bridge.ts
  apps/dashboard/src/api/environments.ts
  apps/dashboard/src/api/integrations.ts
  apps/dashboard/src/api/organization.ts
  apps/dashboard/src/api/steps.ts
  apps/dashboard/src/api/telemetry.ts
  apps/dashboard/src/api/workflows.ts
  apps/dashboard/src/components/auth/inbox-playground.tsx
  apps/dashboard/src/components/auth/questionnaire-form.tsx
  apps/dashboard/src/components/create-workflow-button.tsx
  apps/dashboard/src/components/header-navigation/edit-bridge-url-button.tsx
  apps/dashboard/src/components/side-navigation/free-trial-card.tsx
  apps/dashboard/src/components/welcome/inbox-embed.tsx
  apps/dashboard/src/components/workflow-editor/channel-preferences-form.tsx
  apps/dashboard/src/components/workflow-editor/configure-workflow-form.tsx
  apps/dashboard/src/components/workflow-editor/editor-breadcrumbs.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/configure-email-step-preview.tsx
  apps/dashboard/src/components/workflow-editor/steps/in-app/configure-in-app-step-preview.tsx
  apps/dashboard/src/components/workflow-editor/steps/use-editor-preview.tsx
  apps/dashboard/src/components/workflow-editor/test-workflow/test-workflow-tabs.tsx
  apps/dashboard/src/components/workflow-editor/workflow-provider.tsx
  apps/dashboard/src/components/workflow-list.tsx
  apps/dashboard/src/components/workflow-row.tsx
  apps/dashboard/src/context/environment/environment-provider.tsx
  apps/dashboard/src/hooks/index.ts
  apps/dashboard/src/hooks/use-delete-workflow.ts
  apps/dashboard/src/hooks/use-fetch-api-keys.ts
  apps/dashboard/src/hooks/use-fetch-bridge-health-check.ts
  apps/dashboard/src/hooks/use-fetch-integrations.ts
  apps/dashboard/src/hooks/use-fetch-step.tsx
  apps/dashboard/src/hooks/use-fetch-subscription.ts
  apps/dashboard/src/hooks/use-fetch-workflow-test-data.ts
  apps/dashboard/src/hooks/use-fetch-workflow.ts
  apps/dashboard/src/hooks/use-fetch-workflows.ts
  apps/dashboard/src/hooks/use-onboarding-steps.ts
  apps/dashboard/src/hooks/use-patch-workflow.ts
  apps/dashboard/src/hooks/use-preview-step.ts
  apps/dashboard/src/hooks/use-sync-workflow.tsx
  apps/dashboard/src/hooks/use-tags.ts
  apps/dashboard/src/hooks/use-telemetry.ts
  apps/dashboard/src/hooks/use-trigger-workflow.ts
  apps/dashboard/src/hooks/use-update-bridge-url.ts
  apps/dashboard/src/hooks/use-update-workflow.ts
  apps/dashboard/src/hooks/use-validate-bridge-url.ts
  apps/dashboard/src/pages/api-keys.tsx
  apps/dashboard/src/pages/test-workflow.tsx
  apps/dashboard/src/pages/usecase-select-page.tsx
  apps/dashboard/src/pages/workflows.tsx
  apps/dashboard/src/utils/environment.ts
  apps/dashboard/src/utils/types.ts
  packages/shared/src/dto/bridge/bridge.interface.ts
  packages/shared/src/dto/bridge/index.ts
  packages/shared/src/dto/environments/index.ts
  packages/shared/src/dto/environments/tags.interface.ts
  packages/shared/src/dto/index.ts
Labels: @novu/shared

#7244 feat(api): 'Missing' issue missing when the control value has empty string
  apps/api/src/app/workflows-v2/usecases/validate-content/prepare-and-validate-content/prepare-and-validate-content.usecase.ts
  apps/api/src/app/workflows-v2/workflow.controller.e2e.ts
Labels: @novu/api

#7243 fix(dashboard): run queue invocations safely
  apps/dashboard/src/hooks/use-invocation-queue.ts
Labels: @novu/dashboard

#7246 fix(dashboard): autosave do not block request on validation errors
  apps/dashboard/src/components/primitives/button.tsx
  apps/dashboard/src/components/workflow-editor/steps/configure-step-template-cta.tsx
  apps/dashboard/src/components/workflow-editor/test-workflow/test-workflow-tabs.tsx
  apps/dashboard/src/hooks/use-form-autosave.ts
Labels: @novu/dashboard

#7247 fix(dashboard): Fix double separator on step template sheet
  apps/dashboard/src/components/workflow-editor/steps/configure-step-form.tsx
  apps/dashboard/src/components/workflow-editor/steps/configure-step-template-cta.tsx
  apps/dashboard/src/components/workflow-editor/steps/configure-step-template-issue-cta.tsx
Labels: @novu/dashboard

#7261 chore(dashboard): Update maily dep
  apps/dashboard/package.json
  pnpm-lock.yaml
Labels: @novu/dashboard

#7235 feat(api): add full step data to workflow dto; refactor
  apps/api/src/app/workflows-v2/mappers/notification-template-mapper.ts
  apps/api/src/app/workflows-v2/usecases/build-step-data/build-step-data.usecase.ts
  apps/api/src/app/workflows-v2/usecases/get-workflow/get-workflow.usecase.ts
  apps/api/src/app/workflows-v2/usecases/sync-to-environment/sync-to-environment.usecase.ts
  apps/api/src/app/workflows-v2/usecases/upsert-workflow/upsert-workflow.usecase.ts
  apps/api/src/app/workflows-v2/workflow.controller.e2e.ts
  apps/dashboard/src/utils/types.ts
  packages/shared/src/dto/workflows/create-workflow-deprecated.dto.ts
  packages/shared/src/dto/workflows/get-list-query-params.ts
  packages/shared/src/dto/workflows/index.ts
  packages/shared/src/dto/workflows/preview-step-response.dto.ts
  packages/shared/src/dto/workflows/step.dto.ts
  packages/shared/src/dto/workflows/update-workflow-deprecated.dto.ts
  packages/shared/src/dto/workflows/workflow-deprecated.dto.ts
  packages/shared/src/dto/workflows/workflow-response.dto.ts
  packages/shared/src/dto/workflows/workflow.dto.ts
  packages/shared/src/entities/notification-template/notification-template.interface.ts
Labels: @novu/api, @novu/shared, @novu/dashboard

#7245 fix(dashboard): Fix stale data on test workflow page
  apps/dashboard/src/components/workflow-editor/nodes.tsx
  apps/dashboard/src/components/workflow-editor/steps/step-provider.tsx
  apps/dashboard/src/components/workflow-editor/test-workflow/test-workflow-tabs.tsx
  apps/dashboard/src/hooks/use-fetch-step.tsx
  apps/dashboard/src/hooks/use-fetch-workflow-test-data.ts
  apps/dashboard/src/hooks/use-fetch-workflow.ts
  apps/dashboard/src/hooks/use-update-workflow.ts
  apps/dashboard/src/utils/step.ts
Labels: @novu/dashboard

#7258 chore(root): specify mongodb version to 8.0.3
  .devcontainer/docker-compose.yml
  docker/community/docker-compose.yml
  docker/local/docker-compose.yml
Labels: docker

#7237 feat(api): revert preview tests that was deleted
  apps/api/src/app/workflows-v2/generate-preview.e2e.ts
  apps/api/src/app/workflows-v2/usecases/build-payload-schema/build-payload-schema.usecase.ts
  apps/api/src/app/workflows-v2/usecases/generate-preview/generate-preview.usecase.ts
  apps/api/src/app/workflows-v2/workflow.controller.e2e.ts
Labels: @novu/api

#7250 feat(api): add sms control schema
  apps/api/src/app/workflows-v2/shared/index.ts
  apps/api/src/app/workflows-v2/shared/schemas/sms-control.schema.ts
  apps/api/src/app/workflows-v2/shared/step-type-to-control.mapper.ts
  apps/api/src/app/workflows-v2/usecases/upsert-workflow/upsert-workflow.usecase.ts
  apps/api/src/app/workflows-v2/workflow.controller.e2e.ts
  packages/shared/src/dto/workflows/step.dto.ts
Labels: @novu/api, @novu/shared

#7262 feat(web): opt-in widget view tracking
  apps/web/src/components/layout/components/v2/NewDashboardOptInWidget.tsx
Labels: @novu/web

#7232 fix(dashboard): Make Trigger node clickable
  apps/dashboard/src/components/workflow-editor/nodes.tsx
  apps/dashboard/src/components/workflow-editor/workflow-canvas.tsx
Labels: @novu/dashboard

#7240 fix(dashboard): nested payload gen
  apps/api/src/app/workflows-v2/usecases/generate-preview/generate-preview.usecase.ts
  apps/api/src/app/workflows-v2/util/utils.ts
  apps/dashboard/src/components/workflow-editor/schema.ts
  apps/dashboard/src/components/workflow-editor/test-workflow/test-workflow-tabs.tsx
  packages/shared/src/utils/index.ts
  packages/shared/src/utils/schema/create-mock-object-from-schema.ts
Labels: @novu/api, @novu/shared, @novu/dashboard

#7251 feat(api): add chat control schema
  apps/api/src/app/workflows-v2/shared/schemas/chat-control.schema.ts
  apps/api/src/app/workflows-v2/shared/step-type-to-control.mapper.ts
  packages/shared/src/dto/workflows/step.dto.ts
Labels: @novu/api, @novu/shared

#7259 feat(dashboard): Preferences enhancements
  apps/dashboard/src/components/workflow-editor/channel-preferences-form.tsx
Labels: @novu/dashboard

#7264 refactor(dashboard): use workflow as a single resource
  apps/dashboard/src/components/in-app-action-dropdown.tsx
  apps/dashboard/src/components/primitives/form/avatar-picker.tsx
  apps/dashboard/src/components/workflow-editor/edges.tsx
  apps/dashboard/src/components/workflow-editor/nodes.tsx
  apps/dashboard/src/components/workflow-editor/step-utils.ts
  apps/dashboard/src/components/workflow-editor/steps/configure-step-form.tsx
  apps/dashboard/src/components/workflow-editor/steps/configure-step-template-form.tsx
  apps/dashboard/src/components/workflow-editor/steps/configure-step-template.tsx
  apps/dashboard/src/components/workflow-editor/steps/configure-step.tsx
  apps/dashboard/src/components/workflow-editor/steps/controls/text-widget.tsx
  apps/dashboard/src/components/workflow-editor/steps/delay/delay-amount.tsx
  apps/dashboard/src/components/workflow-editor/steps/delay/delay-control-values.tsx
  apps/dashboard/src/components/workflow-editor/steps/edit-step-template.tsx
  apps/dashboard/src/components/workflow-editor/steps/edit-step.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/configure-email-step-preview.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/email-subject.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/maily.tsx
  apps/dashboard/src/components/workflow-editor/steps/in-app/configure-in-app-step-preview.tsx
  apps/dashboard/src/components/workflow-editor/steps/in-app/in-app-body.tsx
  apps/dashboard/src/components/workflow-editor/steps/in-app/in-app-redirect.tsx
  apps/dashboard/src/components/workflow-editor/steps/in-app/in-app-subject.tsx
  apps/dashboard/src/components/workflow-editor/steps/step-provider.tsx
  apps/dashboard/src/components/workflow-editor/workflow-provider.tsx
  apps/dashboard/src/hooks/use-fetch-step.tsx
  apps/dashboard/src/main.tsx
  apps/dashboard/src/utils/constants.ts
Labels: @novu/dashboard

#7265 feat(dashboard): identify provider centralization
  apps/dashboard/src/context/auth/mappers.ts
  apps/dashboard/src/context/identity-provider.tsx
  apps/dashboard/src/hooks/use-monitoring.ts
  apps/dashboard/src/main.tsx
  apps/dashboard/src/routes/dashboard.tsx
  apps/dashboard/src/routes/root.tsx
Labels: @novu/dashboard

#7253 fix(api): dashboard workflow override
  apps/api/src/app/bridge/e2e/sync.e2e.ts
  apps/api/src/app/bridge/usecases/sync/sync.usecase.ts
Labels: @novu/api

#7161 fix(api): remove duplicate New Relic import in bootstrap file
  apps/api/src/bootstrap.ts
  apps/api/src/instrument.ts
  apps/webhook/src/bootstrap.ts
  apps/webhook/src/instrument.ts
  apps/worker/src/bootstrap.ts
  apps/worker/src/instrument.ts
  apps/ws/src/bootstrap.ts
  apps/ws/src/instrument.ts
Labels: @novu/api, @novu/webhook, @novu/ws, @novu/worker

#7270 feat(api): add external id api to onesignal Based on #6976
  libs/application-generic/src/factories/push/handlers/one-signal.handler.ts
  packages/providers/src/lib/push/one-signal/one-signal.provider.ts
  packages/providers/src/lib/push/one-signal/one-signal.providerV2.spec.ts
  packages/shared/src/consts/providers/credentials/provider-credentials.ts
  packages/shared/src/entities/integration/credential.interface.ts
  packages/shared/src/types/providers.ts
Labels: @novu/shared

#7269 fix(root): update newrelic and @types/newrelic to latest versions
  apps/api/package.json
  apps/inbound-mail/package.json
  apps/webhook/package.json
  apps/worker/package.json
  apps/ws/package.json
  libs/application-generic/package.json
  pnpm-lock.yaml
Labels: @novu/api, @novu/webhook, @novu/ws, @novu/worker, @novu/inbound-mail

#7275 fix(api, worker, ws): reintroduce New Relic import in instrument files
  apps/api/src/instrument.ts
  apps/worker/src/instrument.ts
  apps/ws/src/instrument.ts
Labels: @novu/api, @novu/ws, @novu/worker

#7234 feat(dashboard): digest fixed duration
  apps/api/src/app/environments-v1/usecases/output-renderers/delay-output-renderer.usecase.ts
  apps/api/src/app/environments-v1/usecases/output-renderers/digest-output-renderer.usecase.ts
  apps/api/src/app/workflows-v2/shared/schemas/delay-control.schema.ts
  apps/api/src/app/workflows-v2/shared/schemas/digest-control.schema.ts
  apps/api/src/app/workflows-v2/usecases/extract-default-values-from-schema/extract-default-values-from-schema.command.ts
  apps/api/src/app/workflows-v2/usecases/extract-default-values-from-schema/extract-default-values-from-schema.usecase.ts
  apps/api/src/app/workflows-v2/usecases/validate-content/prepare-and-validate-content/prepare-and-validate-content.usecase.ts
  apps/api/src/app/workflows-v2/util/jsonToSchema.ts
  apps/dashboard/src/components/amount-input.tsx
  apps/dashboard/src/components/primitives/form/form.tsx
  apps/dashboard/src/components/primitives/input.tsx
  apps/dashboard/src/components/workflow-editor/add-step-menu.tsx
  apps/dashboard/src/components/workflow-editor/nodes.tsx
  apps/dashboard/src/components/workflow-editor/schema.ts
  apps/dashboard/src/components/workflow-editor/steps/component-utils.tsx
  apps/dashboard/src/components/workflow-editor/steps/configure-step-form.tsx
  apps/dashboard/src/components/workflow-editor/steps/delay/delay-amount.tsx
  apps/dashboard/src/components/workflow-editor/steps/delay/delay-control-values.tsx
  apps/dashboard/src/components/workflow-editor/steps/digest/digest-control-values.tsx
  apps/dashboard/src/components/workflow-editor/steps/digest/digest-key.tsx
  apps/dashboard/src/components/workflow-editor/steps/digest/digest-window.tsx
  apps/dashboard/src/hooks/use-form-autosave.ts
  apps/dashboard/src/utils/constants.ts
  apps/dashboard/src/utils/schema.ts
  packages/shared/src/dto/workflows/step-content-issue.enum.ts
Labels: @novu/api, @novu/shared, @novu/dashboard

#7276 fix(dashboard): unselect steps on canvas click
  apps/dashboard/src/components/workflow-editor/workflow-canvas.tsx
Labels: @novu/dashboard

#7278 fix(dashboard): Apply UI fixes to email and in-app editor
  apps/dashboard/src/components/workflow-editor/in-app-preview.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/email-editor.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/email-tabs-section.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/email-tabs.tsx
Labels: @novu/dashboard

#7173 fix(api): centralize upsert validation + improve nested error handling
  apps/api/src/app/auth/usecases/login/login.command.ts
  apps/api/src/app/auth/usecases/password-reset-request/password-reset-request.command.ts
  apps/api/src/app/auth/usecases/password-reset/password-reset.command.ts
  apps/api/src/app/auth/usecases/register/user-register.command.ts
  apps/api/src/app/environments-v1/usecases/get-my-environments/get-my-environments.command.ts
  apps/api/src/app/events/usecases/verify-payload/verify-payload.command.ts
  apps/api/src/app/inbox/e2e/mark-notification-as.e2e.ts
  apps/api/src/app/inbox/e2e/update-notification-action.e2e.ts
  apps/api/src/app/inbox/e2e/update-preferences.e2e.ts
  apps/api/src/app/inbox/usecases/session/session.command.ts
  apps/api/src/app/integrations/e2e/set-itegration-as-primary.e2e.ts
  apps/api/src/app/invites/usecases/get-invite/get-invite.command.ts
  apps/api/src/app/invites/usecases/invite-nudge/invite-nudge.command.ts
  apps/api/src/app/rate-limiting/usecases/evaluate-token-bucket-rate-limit/evaluate-token-bucket-rate-limit.command.ts
  apps/api/src/app/shared/commands/authenticated.command.ts
  apps/api/src/app/shared/commands/base.command.spec.ts
  apps/api/src/app/shared/commands/base.command.ts
  apps/api/src/app/shared/commands/project.command.ts
  apps/api/src/app/subscribers/usecases/chat-oauth-callback/is-not-empty.spec.ts
  apps/api/src/app/tenant/e2e/create-tenant.e2e.ts
  apps/api/src/app/testing/usecases/create-session/create-session.command.ts
  apps/api/src/app/testing/usecases/seed-data/seed-data.command.ts
  apps/api/src/app/widgets/usecases/get-notifications-feed/get-notifications-feed.usecase.ts
  apps/api/src/app/widgets/usecases/initialize-session/initialize-session.command.ts
  apps/api/src/app/workflow-overrides/e2e/create-workflow-override.e2e.ts
  apps/api/src/app/workflow-overrides/e2e/update-workflow-override.e2e.ts
  apps/api/src/app/workflows-v2/mappers/notification-template-mapper.ts
  apps/api/src/app/workflows-v2/usecases/build-step-data/build-step-data.usecase.ts
  apps/api/src/app/workflows-v2/usecases/patch-step-data/patch-step.command.ts
  apps/api/src/app/workflows-v2/usecases/post-process-workflow-update/post-process-workflow-update.usecase.ts
  apps/api/src/app/workflows-v2/usecases/upsert-workflow/index.ts
  apps/api/src/app/workflows-v2/usecases/upsert-workflow/preferences-request-upsert-data.command.ts
  apps/api/src/app/workflows-v2/usecases/upsert-workflow/upsert-step-data.command.ts
  apps/api/src/app/workflows-v2/usecases/upsert-workflow/upsert-workflow-data.command.ts
  apps/api/src/app/workflows-v2/usecases/upsert-workflow/upsert-workflow.command.ts
  apps/api/src/app/workflows-v2/usecases/upsert-workflow/upsert-workflow.usecase.ts
  apps/api/src/app/workflows-v2/workflow.controller.e2e.ts
  apps/api/src/exception-filter.ts
  libs/application-generic/src/commands/base.command.ts
  libs/application-generic/src/commands/commandValidationException.ts
  libs/application-generic/src/commands/index.ts
  libs/application-generic/src/usecases/create-workflow/create-workflow.command.ts
  libs/application-generic/src/usecases/workflow/get-workflow-by-ids/get-workflow-by-ids.dto.ts
  libs/application-generic/src/usecases/workflow/update-workflow/update-workflow.command.ts
  libs/dal/src/repositories/notification-template/notification-template.entity.ts
  packages/shared/src/dto/workflows/workflow.dto.ts
Labels: @novu/api, @novu/dal, @novu/shared

#7238 feat(dashboard): Activity feed panel
  apps/dashboard/src/components/activity/activity-detail-card.tsx
  apps/dashboard/src/components/activity/activity-job-item.tsx
  apps/dashboard/src/components/activity/activity-panel.tsx
  apps/dashboard/src/components/activity/components/activity-overview.tsx
  apps/dashboard/src/components/activity/components/overview-item.tsx
  apps/dashboard/src/components/activity/execution-detail-item.tsx
  apps/dashboard/src/hooks/use-fetch-activity.ts
  apps/dashboard/src/pages/activity-feed.tsx
  apps/dashboard/src/utils/string.ts
Labels: @novu/dashboard

#7277 fix(dashboard): Opt-in new orgs created from org switcher in v2
  apps/dashboard/src/components/side-navigation/organization-dropdown.tsx
  apps/dashboard/src/context/opt-in-provider.tsx
  apps/dashboard/src/hooks/use-new-dashboard-opt-in.ts
Labels: @novu/dashboard

#7274 test(api): update workflow e2e tests
  apps/api/src/app/workflows-v2/workflow.controller.e2e.ts
Labels: @novu/api

#7255 feat(dashboard): Filters for activity feed
  .cspell.json
  apps/api/src/app/notifications/dtos/activities-request.dto.ts
  apps/api/src/app/notifications/notification.controller.ts
  apps/api/src/app/notifications/usecases/get-activity-feed/get-activity-feed.command.ts
  apps/api/src/app/notifications/usecases/get-activity-feed/get-activity-feed.usecase.ts
  apps/dashboard/package.json
  apps/dashboard/src/api/activity.ts
  apps/dashboard/src/api/api.client.ts
  apps/dashboard/src/components/activity/activity-empty-state.tsx
  apps/dashboard/src/components/activity/activity-filters.tsx
  apps/dashboard/src/components/activity/activity-table.tsx
  apps/dashboard/src/components/icons/enter-line.tsx
  apps/dashboard/src/components/primitives/form/faceted-filter/components/base-filter-content.tsx
  apps/dashboard/src/components/primitives/form/faceted-filter/components/clear-button.tsx
  apps/dashboard/src/components/primitives/form/faceted-filter/components/filter-badge.tsx
  apps/dashboard/src/components/primitives/form/faceted-filter/components/filter-input.tsx
  apps/dashboard/src/components/primitives/form/faceted-filter/components/multi-filter-content.tsx
  apps/dashboard/src/components/primitives/form/faceted-filter/components/single-filter-content.tsx
  apps/dashboard/src/components/primitives/form/faceted-filter/components/text-filter-content.tsx
  apps/dashboard/src/components/primitives/form/faceted-filter/facated-form-filter.tsx
  apps/dashboard/src/components/primitives/form/faceted-filter/hooks/use-keyboard-navigation.ts
  apps/dashboard/src/components/primitives/form/faceted-filter/styles.ts
  apps/dashboard/src/components/primitives/form/faceted-filter/types.ts
  apps/dashboard/src/components/primitives/radio-group.tsx
  apps/dashboard/src/hooks/use-activity-url-state.ts
  apps/dashboard/src/hooks/use-fetch-activities.ts
  apps/dashboard/src/pages/activity-feed.tsx
  apps/dashboard/src/types/activity.ts
  libs/dal/src/repositories/notification/notification.repository.ts
  pnpm-lock.yaml
Labels: @novu/api, @novu/dal, @novu/dashboard

#7263 feat(dashboard): Trigger page activity panel
  apps/dashboard/src/components/activity/activity-panel.tsx
  apps/dashboard/src/components/activity/activity-table.tsx
  apps/dashboard/src/components/header-navigation/header-navigation.tsx
  apps/dashboard/src/components/icons/workflow-trigger-inbox.tsx
  apps/dashboard/src/components/workflow-editor/test-workflow/test-workflow-logs-sidebar.tsx
  apps/dashboard/src/components/workflow-editor/test-workflow/test-workflow-tabs.tsx
  apps/dashboard/src/hooks/use-fetch-activities.ts
Labels: @novu/dashboard

#7286 fix(dashboard): Fix layout shift in email tabs
  apps/dashboard/src/components/primitives/popover.tsx
  apps/dashboard/src/components/workflow-editor/add-step-menu.tsx
  apps/dashboard/src/components/workflow-editor/steps/configure-step-template.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/email-editor-preview.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/email-editor.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/email-preview.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/email-tabs-section.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/email-tabs.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/maily.tsx
Labels: @novu/dashboard

#7290 chore(api): Update maily dep
  apps/api/package.json
  pnpm-lock.yaml
Labels: @novu/api

#7289 fix(dashboard): Make maily clickable everywhere
  apps/dashboard/src/components/workflow-editor/steps/email/email-editor.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/maily.tsx
Labels: @novu/dashboard

#7285 fix(dal): Set authMechanism as per our environment config
  libs/dal/src/dal.service.ts
  libs/dal/src/types/auth.ts
  libs/dal/src/types/index.ts
Labels: @novu/dal

#7297 chore(root): update service images to version 2.1.0 and use dynamic…
  docker/community/docker-compose.yml
Labels: docker

#7292 fix(api): Crate of fixes part 2
  apps/api/src/app/environments-v1/usecases/output-renderers/render-email-output.usecase.ts
  apps/api/src/app/workflows-v2/generate-preview.e2e.ts
  apps/api/src/app/workflows-v2/shared/schemas/email-control.schema.ts
  apps/api/src/app/workflows-v2/usecases/extract-default-values-from-schema/extract-default-values-from-schema.usecase.ts
  apps/api/src/app/workflows-v2/workflow.controller.e2e.ts
  apps/dashboard/src/components/workflow-editor/steps/component-utils.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/configure-email-step-preview.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/email-editor.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/maily.tsx
  packages/shared/src/dto/workflows/control-schemas.ts
  packages/shared/src/dto/workflows/preview-step-response.dto.ts
  packages/shared/src/dto/workflows/step-content-issue.enum.ts
  packages/shared/src/dto/workflows/step.dto.ts
Labels: @novu/api, @novu/shared, @novu/dashboard

#7267 feat(api): add query parser
  .vscode/tasks.json
  apps/api/package.json
  apps/api/src/app/environments-v1/usecases/construct-framework-workflow/construct-framework-workflow.usecase.ts
  apps/api/src/app/events/e2e/trigger-event.e2e.ts
  apps/api/src/app/shared/services/query-parser/query-parser.service.spec.ts
  apps/api/src/app/shared/services/query-parser/query-parser.service.ts
  apps/api/src/app/workflows-v2/shared/schemas/chat-control.schema.ts
  apps/api/src/app/workflows-v2/shared/schemas/delay-control.schema.ts
  apps/api/src/app/workflows-v2/shared/schemas/digest-control.schema.ts
  apps/api/src/app/workflows-v2/shared/schemas/email-control.schema.ts
  apps/api/src/app/workflows-v2/shared/schemas/in-app-control.schema.ts
  apps/api/src/app/workflows-v2/shared/schemas/push-control.schema.ts
  apps/api/src/app/workflows-v2/shared/schemas/skip-control.schema.ts
  apps/api/src/app/workflows-v2/shared/schemas/sms-control.schema.ts
  packages/shared/src/dto/workflows/step.dto.ts
  pnpm-lock.yaml
Labels: @novu/api, @novu/shared

#7309 fix(web): change new dashboard widget ff condition
  apps/web/src/components/nav/RootNavMenu.tsx
Labels: @novu/web

#7296 fix(dal): adds & removes indicies across repository to make it consistent across environments
  libs/dal/src/repositories/change/change.schema.ts
  libs/dal/src/repositories/environment/environment.schema.ts
  libs/dal/src/repositories/execution-details/execution-details.schema.ts
  libs/dal/src/repositories/feed/feed.schema.ts
  libs/dal/src/repositories/integration/integration.schema.ts
  libs/dal/src/repositories/job/job.schema.ts
  libs/dal/src/repositories/layout/layout.schema.ts
  libs/dal/src/repositories/member/member.schema.ts
  libs/dal/src/repositories/notification-group/notification-group.schema.ts
  libs/dal/src/repositories/notification-template/notification-template.schema.ts
  libs/dal/src/repositories/subscriber/subscriber.schema.ts
  libs/dal/src/repositories/tenant/tenant.schema.ts
  libs/dal/src/repositories/topic/topic-subscribers.schema.ts
  libs/dal/src/repositories/topic/topic.schema.ts
Labels: @novu/dal

#7302 feat(api): Nv 5045 update the api to have same behavior as preference
  apps/api/src/app/workflows-v2/usecases/patch-step-data/patch-step.command.ts
  apps/api/src/app/workflows-v2/usecases/patch-step-data/patch-step.usecase.ts
  apps/api/src/app/workflows-v2/usecases/upsert-workflow/upsert-step-data.command.ts
  apps/api/src/app/workflows-v2/usecases/upsert-workflow/upsert-workflow.usecase.ts
  apps/api/src/app/workflows-v2/workflow.module.ts
  apps/dashboard/src/components/workflow-editor/steps/configure-step-template-form.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/email-tabs.tsx
  libs/application-generic/src/usecases/delete-control-values/delete-control-values.command.ts
  libs/application-generic/src/usecases/delete-control-values/delete-control-values.usecase.ts
  libs/application-generic/src/usecases/delete-control-values/index.ts
  libs/application-generic/src/usecases/index.ts
  packages/shared/src/dto/workflows/step.dto.ts
Labels: @novu/api, @novu/shared, @novu/dashboard

#7313 fix(dashboard): implement redirect to legacy studio auth page
  apps/dashboard/src/main.tsx
  apps/dashboard/src/pages/redirect-to-legacy-studio-auth.tsx
Labels: @novu/dashboard

#7306 feat(dashboard): Nv 4885 push step editor
  apps/dashboard/src/components/workflow-editor/add-step-menu.tsx
  apps/dashboard/src/components/workflow-editor/steps/base/base-body.tsx
  apps/dashboard/src/components/workflow-editor/steps/base/base-subject.tsx
  apps/dashboard/src/components/workflow-editor/steps/component-utils.tsx
  apps/dashboard/src/components/workflow-editor/steps/configure-step-template-form.tsx
  apps/dashboard/src/components/workflow-editor/steps/push/push-editor.tsx
  apps/dashboard/src/components/workflow-editor/steps/push/push-tabs-section.tsx
  apps/dashboard/src/components/workflow-editor/steps/push/push-tabs.tsx
  packages/shared/src/types/feature-flags.ts
Labels: @novu/shared, @novu/dashboard

#7303 refactor(api): refactor none-email control value preview usecase
  apps/api/src/app/environments-v1/usecases/output-renderers/render-email-output.usecase.ts
  apps/api/src/app/workflows-v2/e2e/generate-preview.e2e.ts
  apps/api/src/app/workflows-v2/generate-preview.e2e.ts
  apps/api/src/app/workflows-v2/shared/schemas/email-control.schema.ts
  apps/api/src/app/workflows-v2/shared/step-type-to-control.mapper.ts
  apps/api/src/app/workflows-v2/usecases/generate-preview/generate-preview.usecase.ts
  apps/api/src/app/workflows-v2/util/template-parser/liquid-parser.spec.ts
  apps/api/src/app/workflows-v2/util/template-parser/liquid-parser.ts
  libs/application-generic/src/utils/index.ts
  libs/application-generic/src/utils/sanitize-preview-control-values.ts
  pnpm-lock.yaml
Labels: @novu/api

#7316 feat(dashboard): sms step
  apps/dashboard/public/images/phones/iphone-sms.svg
  apps/dashboard/src/components/workflow-editor/add-step-menu.tsx
  apps/dashboard/src/components/workflow-editor/steps/component-utils.tsx
  apps/dashboard/src/components/workflow-editor/steps/configure-step-form.tsx
  apps/dashboard/src/components/workflow-editor/steps/configure-step-template-form.tsx
  apps/dashboard/src/components/workflow-editor/steps/sms/configure-sms-step-preview.tsx
  apps/dashboard/src/components/workflow-editor/steps/sms/sms-editor-preview.tsx
  apps/dashboard/src/components/workflow-editor/steps/sms/sms-editor.tsx
  apps/dashboard/src/components/workflow-editor/steps/sms/sms-phone.tsx
  apps/dashboard/src/components/workflow-editor/steps/sms/sms-preview.tsx
  apps/dashboard/src/components/workflow-editor/steps/sms/sms-tabs-section.tsx
  apps/dashboard/src/components/workflow-editor/steps/sms/sms-tabs.tsx
Labels: @novu/dashboard

#7320 feat(dashboard): add PushEditorPreview component
  apps/dashboard/src/components/workflow-editor/steps/push/push-editor-preview.tsx
  apps/dashboard/src/components/workflow-editor/steps/push/push-preview.tsx
  apps/dashboard/src/components/workflow-editor/steps/push/push-tabs.tsx
Labels: @novu/dashboard

#7318 feat(dashboard): Nv 4884 push mini preview
  apps/dashboard/public/images/phones/iphone-push.svg
  apps/dashboard/src/components/workflow-editor/steps/configure-step-form.tsx
  apps/dashboard/src/components/workflow-editor/steps/push/configure-push-step-preview.tsx
  apps/dashboard/src/components/workflow-editor/steps/push/push-editor-preview.tsx
  apps/dashboard/src/components/workflow-editor/steps/push/push-preview.tsx
  apps/dashboard/src/components/workflow-editor/steps/push/push-tabs.tsx
Labels: @novu/dashboard

#7321 feat(dashboard): update node styles
  apps/dashboard/src/components/workflow-editor/base-node.tsx
  apps/dashboard/src/components/workflow-editor/nodes.tsx
Labels: @novu/dashboard

#7326 feat(dashboard): Nv 5066 dashboard add inline tips primitive component
  apps/dashboard/src/components/workflow-editor/steps/controls/custom-step-controls.tsx
  apps/dashboard/src/components/workflow-editor/steps/push/push-editor-preview.tsx
  apps/dashboard/src/components/workflow-editor/steps/sms/sms-editor-preview.tsx
Labels: @novu/dashboard

#7325 fix(dashboard): tags client side validation
  apps/dashboard/src/components/create-workflow-button.tsx
  apps/dashboard/src/components/workflow-editor/configure-workflow-form.tsx
  apps/dashboard/src/hooks/use-form-autosave.ts
Labels: @novu/dashboard

#7300 feat(dashboard): design system tokens
  apps/dashboard/src/index.css
  apps/dashboard/tailwind.config.js
Labels: @novu/dashboard

#7324 fix(api,dashboard): Correct variable generation and parsing
  apps/api/src/app/workflows-v2/usecases/build-payload-schema/build-payload-schema.usecase.ts
  apps/api/src/app/workflows-v2/usecases/build-variable-schema/build-available-variable-schema.usecase.ts
  apps/dashboard/src/utils/parseStepVariablesToLiquidVariables.ts
Labels: @novu/api, @novu/dashboard

#7327 fix(dashboard): show more click triggers another trigger
  apps/dashboard/src/components/activity/activity-job-item.tsx
  apps/dashboard/src/components/workflow-editor/test-workflow/test-workflow-logs-sidebar.tsx
Labels: @novu/dashboard

#7330 feat(api): preview usecase
  apps/api/src/app/environments-v1/usecases/output-renderers/hydrate-email-schema.usecase.ts
  apps/api/src/app/environments-v1/usecases/output-renderers/render-email-output.usecase.ts
  apps/api/src/app/workflows-v2/e2e/generate-preview.e2e.ts
  apps/api/src/app/workflows-v2/generate-preview.e2e.ts
  apps/api/src/app/workflows-v2/usecases/build-payload-schema/build-payload-schema.usecase.ts
  apps/api/src/app/workflows-v2/usecases/generate-preview/generate-preview.usecase.ts
  apps/api/src/app/workflows-v2/usecases/generate-preview/transform-maily-content-to-liquid.ts
  apps/api/src/app/workflows-v2/util/tip-tap.util.ts
Labels: @novu/api

#7329 feat(dashboard,api): New maily variables function usage & update maily
  apps/api/package.json
  apps/dashboard/package.json
  apps/dashboard/src/components/in-app-action-dropdown.tsx
  apps/dashboard/src/components/primitives/form/avatar-picker.tsx
  apps/dashboard/src/components/workflow-editor/steps/base/base-body.tsx
  apps/dashboard/src/components/workflow-editor/steps/base/base-subject.tsx
  apps/dashboard/src/components/workflow-editor/steps/controls/text-widget.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/email-editor.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/email-subject.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/maily.tsx
  apps/dashboard/src/components/workflow-editor/steps/in-app/in-app-body.tsx
  apps/dashboard/src/components/workflow-editor/steps/in-app/in-app-redirect.tsx
  apps/dashboard/src/components/workflow-editor/steps/in-app/in-app-subject.tsx
  apps/dashboard/src/utils/parseStepVariablesToLiquidVariables.ts
  pnpm-lock.yaml
Labels: @novu/api, @novu/dashboard

#7314 feat(dashboard): scheduled digest
  apps/api/src/app/workflows-v2/shared/schemas/digest-control.schema.ts
  apps/dashboard/index.html
  apps/dashboard/package.json
  apps/dashboard/src/components/amount-input.tsx
  apps/dashboard/src/components/primitives/form/form.tsx
  apps/dashboard/src/components/primitives/input.tsx
  apps/dashboard/src/components/primitives/multi-select.tsx
  apps/dashboard/src/components/primitives/select.tsx
  apps/dashboard/src/components/primitives/time-picker.tsx
  apps/dashboard/src/components/workflow-editor/step-default-values.ts
  apps/dashboard/src/components/workflow-editor/steps/configure-step-form.tsx
  apps/dashboard/src/components/workflow-editor/steps/configure-step-template-form.tsx
  apps/dashboard/src/components/workflow-editor/steps/delay/delay-amount.tsx
  apps/dashboard/src/components/workflow-editor/steps/digest/days-of-week.tsx
  apps/dashboard/src/components/workflow-editor/steps/digest/digest-window.tsx
  apps/dashboard/src/components/workflow-editor/steps/digest/keys.ts
  apps/dashboard/src/components/workflow-editor/steps/digest/numbers-picker.tsx
  apps/dashboard/src/components/workflow-editor/steps/digest/period.tsx
  apps/dashboard/src/components/workflow-editor/steps/digest/regular-digest.tsx
  apps/dashboard/src/components/workflow-editor/steps/digest/scheduled-digest.tsx
  apps/dashboard/src/components/workflow-editor/steps/digest/utils.ts
  apps/dashboard/src/components/workflow-editor/steps/time-units.ts
  apps/dashboard/src/pages/edit-workflow.tsx
  apps/dashboard/src/utils/arrays.ts
  apps/dashboard/src/utils/schema.ts
  apps/dashboard/src/utils/time.ts
  apps/dashboard/tailwind.config.js
  pnpm-lock.yaml
Labels: @novu/api, @novu/dashboard

#7322 feat(dashboard): digest aggregated by key field editor with autosuggestions
  apps/dashboard/src/components/workflow-editor/steps/digest/digest-key.tsx
Labels: @novu/dashboard

#7336 feat(dashboard): Add maily variable when closing with }}
  apps/dashboard/src/components/workflow-editor/steps/email/maily.tsx
Labels: @novu/dashboard

#7340 feat(dashboard): digest window preserve regular/scheduled tab form changes
  apps/dashboard/src/components/workflow-editor/steps/digest/digest-window.tsx
Labels: @novu/dashboard

#7341 chore(dashboard): sms, push, chat editors show empty preview on validation error
  apps/dashboard/src/components/workflow-editor/steps/base/base-body.tsx
  apps/dashboard/src/components/workflow-editor/steps/chat/chat-preview.tsx
  apps/dashboard/src/components/workflow-editor/steps/push/push-preview.tsx
  apps/dashboard/src/components/workflow-editor/steps/sms/sms-phone.tsx
  apps/dashboard/src/components/workflow-editor/steps/sms/sms-preview.tsx
Labels: @novu/dashboard

#7348 fix(api): @novu/api -> @novu/api-service
  .cspell.json
  .devcontainer/devcontainer.json
  .github/actions/run-api/action.yml
  .github/actions/validate-openapi/action.yml
  .github/labeler.yml
  .github/workflows/jarvis.yml
  .github/workflows/on-pr.yml
  .github/workflows/reusable-dashboard-e2e.yml
  .github/workflows/reusable-web-e2e.yml
  .github/workflows/reusable-widget-e2e.yml
  apps/api/README.md
  apps/api/jarvis-api-intro.md
  apps/api/package.json
  eslint.config.mjs
  novu.code-workspace
  nx.json
  package.json
  pnpm-lock.yaml
  scripts/jarvis.js
Labels: @novu/api, CI/CD, scripts

#7344 refactor(api-service): preview usecase
  apps/api/package.json
  apps/api/src/app/environments-v1/usecases/output-renderers/delay-output-renderer.usecase.ts
  apps/api/src/app/environments-v1/usecases/output-renderers/digest-output-renderer.usecase.ts
  apps/api/src/app/environments-v1/usecases/output-renderers/hydrate-email-schema.usecase.ts
  apps/api/src/app/environments-v1/usecases/output-renderers/in-app-output-renderer.usecase.ts
  apps/api/src/app/environments-v1/usecases/output-renderers/render-email-output.usecase.ts
  apps/api/src/app/workflows-v2/generate-preview.e2e.ts
  apps/api/src/app/workflows-v2/shared/index.ts
  apps/api/src/app/workflows-v2/shared/sanitize-control-values.ts
  apps/api/src/app/workflows-v2/shared/schemas/chat-control.schema.ts
  apps/api/src/app/workflows-v2/shared/schemas/delay-control.schema.ts
  apps/api/src/app/workflows-v2/shared/schemas/digest-control.schema.ts
  apps/api/src/app/workflows-v2/shared/schemas/email-control.schema.ts
  apps/api/src/app/workflows-v2/shared/schemas/in-app-control.schema.ts
  apps/api/src/app/workflows-v2/shared/schemas/index.ts
  apps/api/src/app/workflows-v2/shared/schemas/push-control.schema.ts
  apps/api/src/app/workflows-v2/shared/schemas/skip-control.schema.ts
  apps/api/src/app/workflows-v2/shared/schemas/sms-control.schema.ts
  apps/api/src/app/workflows-v2/shared/step-type-to-control.mapper.ts
  apps/api/src/app/workflows-v2/usecases/build-variable-schema/build-available-variable-schema.command.ts
  apps/api/src/app/workflows-v2/usecases/build-variable-schema/build-available-variable-schema.usecase.ts
  apps/api/src/app/workflows-v2/usecases/generate-preview/generate-preview.usecase.ts
  apps/api/src/app/workflows-v2/usecases/patch-step-data/patch-step.usecase.ts
  apps/api/src/app/workflows-v2/usecases/patch-workflow/patch-workflow.usecase.ts
  apps/api/src/app/workflows-v2/usecases/upsert-workflow/index.ts
  apps/api/src/app/workflows-v2/usecases/upsert-workflow/preferences-request-upsert-data.command.ts
  apps/api/src/app/workflows-v2/usecases/upsert-workflow/upsert-step-data.command.ts
  apps/api/src/app/workflows-v2/usecases/upsert-workflow/upsert-workflow-data.command.ts
  apps/api/src/app/workflows-v2/usecases/upsert-workflow/upsert-workflow.command.ts
  apps/api/src/app/workflows-v2/usecases/upsert-workflow/upsert-workflow.usecase.ts
  apps/api/src/app/workflows-v2/usecases/validate-content/prepare-and-validate-content/prepare-and-validate-content.usecase.ts
  apps/api/src/app/workflows-v2/util/build-variables.ts
  apps/api/src/app/workflows-v2/util/template-parser/liquid-parser.ts
  apps/api/src/app/workflows-v2/util/template-parser/parser-utils.ts
  apps/api/src/app/workflows-v2/workflow.controller.e2e.ts
  apps/worker/src/app/workflow/usecases/add-job/add-job.usecase.ts
  libs/application-generic/package.json
  libs/application-generic/src/usecases/tier-restrictions-validate/tier-restrictions-validate.command.ts
  libs/application-generic/src/usecases/tier-restrictions-validate/tier-restrictions-validate.consts.ts
  libs/application-generic/src/usecases/tier-restrictions-validate/tier-restrictions-validate.response.ts
  libs/application-generic/src/usecases/tier-restrictions-validate/tier-restrictions-validate.usecase.ts
  libs/application-generic/src/utils/index.ts
  libs/application-generic/src/utils/sanitize-preview-control-values.ts
  pnpm-lock.yaml
Labels: @novu/api, @novu/worker, @novu/api-service

#7350 fix(dashboard): navigate root page post sync to env
  apps/dashboard/src/hooks/use-sync-workflow.tsx
Labels: @novu/dashboard

#7351 fix(dashboard): Tweak arbitrary variable handling
  apps/api/src/app/workflows-v2/usecases/build-payload-schema/build-payload-schema.usecase.ts
  apps/api/src/app/workflows-v2/usecases/build-variable-schema/build-available-variable-schema.usecase.ts
  apps/api/src/app/workflows-v2/util/jsonToSchema.ts
  apps/dashboard/src/components/workflow-editor/steps/email/maily.tsx
Labels: @novu/dashboard, @novu/api-service

#7352 fix(dashboard): clicking outside dropdown closes the whole edit sidebar
  apps/dashboard/src/components/in-app-action-dropdown.tsx
  apps/dashboard/src/components/primitives/form/avatar-picker.tsx
Labels: @novu/dashboard

#7312 chore(dashboard): Add for block and show behind a ff
  apps/dashboard/src/components/workflow-editor/steps/email/maily.tsx
  apps/dashboard/src/index.css
  packages/shared/src/types/feature-flags.ts
Labels: @novu/shared, @novu/dashboard

#7357 feat(api-service): remove skip ref
  apps/api/src/app/workflows-v2/shared/schemas/chat-control.schema.ts
  apps/api/src/app/workflows-v2/shared/schemas/delay-control.schema.ts
  apps/api/src/app/workflows-v2/shared/schemas/digest-control.schema.ts
  apps/api/src/app/workflows-v2/shared/schemas/email-control.schema.ts
  apps/api/src/app/workflows-v2/shared/schemas/in-app-control.schema.ts
  apps/api/src/app/workflows-v2/shared/schemas/push-control.schema.ts
  apps/api/src/app/workflows-v2/shared/schemas/skip-control.schema.ts
  apps/api/src/app/workflows-v2/shared/schemas/sms-control.schema.ts
Labels: @novu/api-service

#7339 fix(api-service): Add marks to tiptap zod schema
  apps/api/src/app/environments-v1/usecases/output-renderers/hydrate-email-schema.usecase.ts
Labels: @novu/api, @novu/api-service

#7361 feat: upgrade maily
  apps/dashboard/package.json
  pnpm-lock.yaml
Labels: @novu/dashboard

#7360 fix(api-service,dashboard): Crate of fixes for variable suggestions
  apps/api/src/app/workflows-v2/usecases/build-payload-schema/build-payload-schema.usecase.ts
  apps/api/src/app/workflows-v2/util/jsonToSchema.ts
  apps/dashboard/src/components/workflow-editor/steps/email/maily.tsx
  apps/dashboard/src/utils/parseStepVariablesToLiquidVariables.ts
  pnpm-lock.yaml
Labels: @novu/dashboard, @novu/api-service

#7362 fix(api-service): Polish keysToObject
  apps/api/src/app/workflows-v2/usecases/build-payload-schema/build-payload-schema.usecase.ts
  apps/api/src/app/workflows-v2/usecases/generate-preview/generate-preview.usecase.ts
  apps/api/src/app/workflows-v2/util/path-to-object.ts
  apps/api/src/app/workflows-v2/util/utils.ts
Labels: @novu/api-service

#7367 fix(dashboard): Crate with fixes
  apps/dashboard/src/components/create-workflow-button.tsx
  apps/dashboard/src/components/header-navigation/edit-bridge-url-button.tsx
  apps/dashboard/src/components/primitives/button.tsx
  apps/dashboard/src/components/shared/external-link.tsx
  apps/dashboard/src/components/side-navigation/free-trial-card.tsx
  apps/dashboard/src/components/user-profile.tsx
  apps/dashboard/src/components/workflow-list-empty.tsx
  apps/dashboard/src/context/clerk-provider.tsx
  apps/dashboard/src/pages/api-keys.tsx
  apps/dashboard/src/pages/workflows.tsx
Labels: @novu/dashboard

#7366 fix(api-service): workflow creation api flow didn't generate payload schema
  apps/api/src/app/workflows-v2/usecases/build-payload-schema/build-payload-schema.command.ts
  apps/api/src/app/workflows-v2/usecases/build-payload-schema/build-payload-schema.usecase.ts
  apps/api/src/app/workflows-v2/usecases/build-variable-schema/build-available-variable-schema.usecase.ts
  apps/api/src/app/workflows-v2/usecases/upsert-workflow/upsert-workflow.usecase.ts
  apps/api/src/app/workflows-v2/workflow.controller.e2e.ts
Labels: @novu/api-service

#7369 refactor(api-service): variable extraction
  apps/api/src/app/environments-v1/usecases/output-renderers/hydrate-email-schema.usecase.ts
  apps/api/src/app/environments-v1/usecases/output-renderers/render-email-output.usecase.ts
  apps/api/src/app/workflows-v2/usecases/generate-preview/transform-maily-content-to-liquid.ts
  libs/application-generic/package.json
  libs/application-generic/src/index.ts
  libs/application-generic/src/utils/process-node-attrs.ts
  pnpm-lock.yaml
Labels: @novu/api-service

#7373 fix(dashboard): build
  apps/dashboard/src/pages/api-keys.tsx
Labels: @novu/dashboard

#7345 feat(dashboard): changelog news widget
  apps/dashboard/src/components/side-navigation/changelog-cards.tsx
  apps/dashboard/src/components/side-navigation/free-trial-card.tsx
  apps/dashboard/src/components/side-navigation/side-navigation.tsx
  apps/dashboard/src/utils/telemetry.ts
  apps/dashboard/tailwind.config.js
Labels: @novu/dashboard

#7382 fix(api-service): empty email preview
  apps/api/src/app/workflows-v2/usecases/generate-preview/generate-preview.usecase.ts
  libs/application-generic/src/utils/sanitize-control-values.ts
Labels: @novu/api-service

#7383 fix(dashboard): minor fixes
  apps/dashboard/src/components/auth/inbox-playground.tsx
  apps/dashboard/src/components/workflow-editor/steps/base/base-body.tsx
  apps/dashboard/src/components/workflow-row.tsx
Labels: @novu/dashboard

#7389 feat(api-service): polish action steps
  apps/api/package.json
  apps/api/src/app/workflows-v2/usecases/generate-preview/generate-preview.usecase.ts
  apps/api/src/app/workflows-v2/usecases/upsert-workflow/upsert-workflow.usecase.ts
  apps/api/src/app/workflows-v2/usecases/validate-content/prepare-and-validate-content/prepare-and-validate-content.usecase.ts
  apps/dashboard/src/components/workflow-editor/step-utils.ts
  apps/dashboard/src/utils/constants.ts
  apps/worker/src/app/workflow/usecases/execute-bridge-job/execute-bridge-job.usecase.ts
  libs/application-generic/src/schemas/control/delay-control.schema.ts
  libs/application-generic/src/schemas/control/digest-control.schema.ts
  libs/application-generic/src/usecases/tier-restrictions-validate/tier-restrictions-validate.command.ts
  libs/application-generic/src/utils/sanitize-control-values.ts
Labels: @novu/worker, @novu/dashboard, @novu/api-service

#7394 fix(api-service): sort by parentid when created at is duplicated
  apps/dashboard/src/components/activity/activity-job-item.tsx
  libs/dal/src/repositories/notification/notification.repository.ts
Labels: @novu/dal, @novu/dashboard

#7365 chore(dashboard,web): Clean up feature flags
  apps/dashboard/src/components/side-navigation/free-trial-card.tsx
  apps/dashboard/src/components/side-navigation/getting-started-menu-item.tsx
  apps/dashboard/src/components/side-navigation/side-navigation.tsx
  apps/dashboard/src/components/welcome/progress-section.tsx
  apps/dashboard/src/components/workflow-editor/add-step-menu.tsx
  apps/dashboard/src/components/workflow-editor/steps/configure-step-form.tsx
  apps/dashboard/src/components/workflow-editor/test-workflow/test-workflow-tabs.tsx
  apps/dashboard/src/pages/settings.tsx
  apps/web/src/components/layout/components/v2/NewDashboardOptInWidget.tsx
  apps/web/src/components/nav/RootNavMenu.tsx
  apps/web/src/ee/clerk/components/UserProfileButton.tsx
  apps/web/src/hooks/useOptInRedirect.ts
  packages/shared/src/types/feature-flags.ts
Labels: @novu/web, @novu/shared, @novu/dashboard

#7397 fix(api-service): Remove team member invitation nudge logic
  apps/api/src/app/events/usecases/parse-event-request/parse-event-request.usecase.ts
  apps/api/src/app/invites/invites.controller.ts
  apps/api/src/app/invites/usecases/index.ts
  apps/api/src/app/invites/usecases/invite-nudge/invite-nudge.command.ts
  apps/api/src/app/invites/usecases/invite-nudge/invite-nudge.usecase.ts
  apps/api/src/app/widgets/usecases/mark-message-as/mark-message-as.usecase.ts
Labels: @novu/api-service

#7408 feat(dashboard): Make the whole workflow row clickable
  apps/dashboard/src/components/primitives/table.tsx
  apps/dashboard/src/components/workflow-row.tsx
Labels: @novu/dashboard

#7411 feat(dashboard): Add indentWithTab prop to Editor
  apps/dashboard/src/components/auth/customize-inbox-playground.tsx
  apps/dashboard/src/components/in-app-action-dropdown.tsx
  apps/dashboard/src/components/primitives/editor.tsx
  apps/dashboard/src/components/primitives/form/avatar-picker.tsx
  apps/dashboard/src/components/workflow-editor/steps/base/base-body.tsx
  apps/dashboard/src/components/workflow-editor/steps/base/base-subject.tsx
  apps/dashboard/src/components/workflow-editor/steps/controls/custom-step-controls.tsx
  apps/dashboard/src/components/workflow-editor/steps/controls/template-utils.tsx
  apps/dashboard/src/components/workflow-editor/steps/controls/text-widget.tsx
  apps/dashboard/src/components/workflow-editor/steps/digest/digest-key.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/email-subject.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/email-tabs.tsx
  apps/dashboard/src/components/workflow-editor/steps/in-app/in-app-body.tsx
  apps/dashboard/src/components/workflow-editor/steps/in-app/in-app-subject.tsx
  apps/dashboard/src/components/workflow-editor/test-workflow/snippet-editor.tsx
  apps/dashboard/src/components/workflow-editor/url-input.tsx
Labels: @novu/dashboard
