Repository novuhq/novu, pull requests merged in 2024-06, with the labels that each got.

#5658 build(echo): Use tsup for building distributable
  apps/api/e2e/echo.server.ts
  apps/api/package.json
  packages/echo/.eslintrc.mjs
  packages/echo/jest.config.mjs
  packages/echo/package.json
  packages/echo/src/next.ts
  packages/echo/src/types/framework.types.ts
  packages/echo/tsconfig.json
  packages/echo/tsconfig.module.json
  packages/echo/tsup.config.ts
  pnpm-lock.yaml
Labels: @novu/api

#5647 fix(api): tenant field description in event trigger api
  apps/api/src/app/events/dtos/trigger-event-request.dto.ts
Labels: @novu/api

#5656 chore(web): Stabilize PW E2E
  apps/web/playwright.config.ts
  apps/web/tests/activities-page.spec.ts
  apps/web/tests/api-keys.spec.ts
  apps/web/tests/auth.spec.ts
  apps/web/tests/brand.spec.ts
  apps/web/tests/invites.spec.ts
  apps/web/tests/main-functionality.spec.ts
  apps/web/tests/page-models/teamMembersPage.ts
  apps/web/tests/steps-actions.spec.ts
  apps/web/tests/team-members.spec.ts
  apps/web/tests/templates-store.spec.ts
  apps/web/tests/utils.ts/plugins.ts
  apps/web/tests/variants.spec.ts
  apps/widget/cypress/plugins/index.ts
  libs/shared-web/src/hooks/useFeatureFlags.ts
Labels: @novu/web

#5667 chore(root): Tweak test.yml
  .github/actions/setup-project/action.yml
  .github/workflows/reusable-web-e2e.yml
  .github/workflows/test.yml
Labels: CI/CD

#5654 feat(js): the base js sdk package scaffolding
  .cspell.json
  apps/api/src/app/widgets/dtos/message-response.dto.ts
  apps/web/tests/page-models/teamMembersPage.ts
  libs/embed/.eslintrc.js
  libs/embed/README.md
  libs/embed/package.json
  libs/embed/tools/gh-pages-publish.ts
  libs/embed/tools/semantic-release-prepare.ts
  libs/shared/src/dto/index.ts
  libs/shared/src/dto/subscriber/subscriber.dto.ts
  libs/shared/src/dto/widget/index.ts
  libs/shared/src/dto/widget/notification.dto.ts
  packages/js/.eslintrc.cjs
  packages/js/README.md
  packages/js/jest.config.js
  packages/js/package.json
  packages/js/scripts/size-limit.js
  packages/js/src/Novu.ts
  packages/js/src/event-emitter/NovuEventEmitter.ts
  packages/js/src/event-emitter/index.ts
  packages/js/src/event-emitter/types.ts
  packages/js/src/feeds/Feeds.ts
  packages/js/src/feeds/index.ts
  packages/js/src/global.d.ts
  packages/js/src/index.ts
  packages/js/src/preferences/Preferences.ts
  packages/js/src/preferences/index.ts
  packages/js/src/session/Session.ts
  packages/js/src/session/index.ts
  packages/js/src/types.ts
  packages/js/src/umd.ts
  packages/js/tsconfig.json
  packages/js/tsup.config.ts
  pnpm-lock.yaml
Labels: @novu/api, @novu/web, @novu/shared

#5662 refactor(root): Nv 3846 consolidate env file behavior
  .gitignore
  apps/api/.gitignore
  apps/web/.example.env
  apps/widget/.example.env
  apps/worker/.gitignore
  libs/dal/.gitignore
  libs/shared/.gitignore
  packages/cli-next/.gitignore
  packages/cli/.gitignore
  packages/echo/.gitignore
  packages/notification-center-vue/.gitignore
  scripts/setup-env-files.js
Labels: scripts

#5657 refactor(automation): Simplify docker compose files
  docker/.env.example
  docker/Readme.md
  docker/enterprise/Readme.md
  docker/local/Readme.md
  docker/local/deployment/docker-compose.yml
  docker/local/development/docker-compose.monitoring.yml
  docker/local/development/docker-compose.redis-cluster.yml
  docker/local/development/redis-sentinel/Dockerfile
  docker/local/development/redis-sentinel/sentinel-entrypoint.sh
  docker/local/development/redis-sentinel/sentinel.conf
  docker/local/development/redis/redis.conf
  docker/local/docker-compose.local.yml
  docker/local/docker-compose.localstack.yml
  docker/local/docker-compose.yml
Labels: docker

#5678 fix(echo): Replace faulty instanceof check with static code check
  .github/actions/start-localstack/action.yml
  docker/local/docker-compose.e2e.yml
  packages/create-novu-app/package.json
  packages/echo/package.json
  packages/echo/src/handler.ts
Labels: CI/CD, docker

#5669 refactor(automation): Update CI pipeline actions
  .github/actions/checkout-submodules/action.yml
  .github/actions/setup-project/action.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/community-label.yml
  .github/workflows/dev-deploy-api.yml
  .github/workflows/dev-deploy-inbound-mail.yml
  .github/workflows/dev-deploy-web-component.yml
  .github/workflows/dev-deploy-worker.yml
  .github/workflows/dev-deploy-ws.yml
  .github/workflows/issue-label.yml
  .github/workflows/jarvis.yml
  .github/workflows/milestone-assign.yml
  .github/workflows/prod-deploy-api.yml
  .github/workflows/prod-deploy-inbound-mail.yml
  .github/workflows/prod-deploy-web-component.yml
  .github/workflows/prod-deploy-worker.yml
  .github/workflows/prod-deploy-ws.yml
  .github/workflows/release-helm.yml
  .github/workflows/reusable-api-e2e.yml
  .github/workflows/reusable-app-service-deploy.yml
  .github/workflows/reusable-docker.yml
  .github/workflows/reusable-embed-deploy.yml
  .github/workflows/reusable-inbound-mail-e2e.yml
  .github/workflows/reusable-notification-center.yml
  .github/workflows/reusable-web-deploy.yml
  .github/workflows/reusable-web-e2e.yml
  .github/workflows/reusable-webhook-e2e.yml
  .github/workflows/reusable-widget-deploy.yml
  .github/workflows/reusable-widget-e2e.yml
  .github/workflows/reusable-worker-e2e.yml
  .github/workflows/reusable-workers-service-deploy.yml
  .github/workflows/reusable-ws-e2e.yml
  .github/workflows/rollback.yml
  .github/workflows/tag-images.yml
  .github/workflows/test.yml
Labels: CI/CD

#5676 refactor(automation): Add Check to ensure only next moves code to prod
  .github/workflows/on-pr-change.yml
  .github/workflows/on-pr.yml
Labels: CI/CD

#5679 fix(web): Fix component type for `VariableManagement`
  apps/web/src/components/layout/components/UpgradePlanBanner.tsx
  apps/web/src/pages/templates/components/email-editor/variables-management/VariablesManagement.tsx
Labels: @novu/web

#5683 refactor(api): improve notification and email handling
  apps/api/src/app/events/usecases/parse-event-request/parse-event-request.usecase.ts
  apps/api/src/app/invites/dtos/invite-member.dto.ts
  apps/api/src/app/invites/invites.controller.ts
  apps/api/src/app/invites/usecases/index.ts
  apps/api/src/app/invites/usecases/invite-nudge-webhook/invite-nudge-command.ts
  apps/api/src/app/invites/usecases/invite-nudge/invite-nudge.command.ts
  apps/api/src/app/invites/usecases/invite-nudge/invite-nudge.usecase.ts
  apps/api/src/types/env.d.ts
  libs/application-generic/src/services/cache/key-builders/entities.ts
  libs/application-generic/src/services/cache/key-builders/identifiers.ts
  libs/dal/src/repositories/user/user.entity.ts
Labels: @novu/api, @novu/dal

#5668 fix(web): add redirect to page after login
  apps/api/src/app/invites/usecases/invite-nudge/invite-nudge.usecase.ts
  apps/api/src/app/widgets/widgets.controller.ts
  apps/web/src/pages/auth/components/LoginForm.tsx
  libs/shared-web/src/hooks/useAuth.ts
Labels: @novu/api, @novu/web

#5686 fix(api): wrap invite nudge in try catch
  apps/api/src/app/events/usecases/parse-event-request/parse-event-request.usecase.ts
Labels: @novu/api

#5682 feat(novui,web): V2 flow list
  apps/web/src/AppRoutes.tsx
  apps/web/src/studio/components/workflows/WorkflowsListPage.tsx
  apps/web/src/studio/components/workflows/index.ts
  apps/web/src/studio/components/workflows/table/WorkflowsTable.tsx
  apps/web/src/studio/components/workflows/table/WorkflowsTable.types.ts
  apps/web/src/studio/components/workflows/table/WorkflowsTableCellRenderers.tsx
  apps/web/src/studio/components/workflows/table/index.ts
  apps/web/src/studio/layout/PageContainer.tsx
  apps/web/src/studio/layout/PageHeader.tsx
  apps/web/src/studio/layout/PageMeta.tsx
  apps/web/src/studio/layout/index.ts
  libs/novui/package.json
  libs/novui/panda.config.ts
  libs/novui/src/components/index.ts
  libs/novui/src/components/table/Table.stories.tsx
  libs/novui/src/components/table/Table.styles.ts
  libs/novui/src/components/table/Table.tsx
  libs/novui/src/components/table/index.ts
  libs/novui/src/panda-preset.ts
  libs/novui/src/tokens/semanticColors.tokens.ts
  libs/novui/src/tokens/semanticRadius.tokens.ts
  libs/novui/src/tokens/semanticSizes.tokens.ts
  libs/novui/src/tokens/semanticSpacing.tokens.ts
  libs/novui/src/tokens/sizes.tokens.ts
  libs/novui/src/tokens/spacing.tokens.ts
  pnpm-lock.yaml
Labels: @novu/web, @novu/novui

#5659 build(root): Update Jarvis to run docker infra instead of through brew
  .cspell.json
  scripts/dev-environment-setup.sh
Labels: scripts

#5690 fix(api): invite nudge members count
  apps/api/src/app/events/usecases/parse-event-request/parse-event-request.usecase.ts
  apps/api/src/app/invites/dtos/invite-member.dto.ts
  apps/api/src/app/invites/invites.controller.ts
  apps/api/src/app/invites/usecases/invite-nudge/invite-nudge.command.ts
  apps/api/src/app/invites/usecases/invite-nudge/invite-nudge.usecase.ts
Labels: @novu/api

#5693 ci(root): Create New Cloud Deployment
  .github/workflows/cloud-deploy.yml
  .github/workflows/cloud-deploy/cloud-deploy-api.yml
  .github/workflows/cloud-deploy/cloud-deploy-embed.yml
  .github/workflows/cloud-deploy/cloud-deploy-web-components.yml
  .github/workflows/cloud-deploy/cloud-deploy-web.yml
  .github/workflows/cloud-deploy/cloud-deploy-webhook.yml
  .github/workflows/cloud-deploy/cloud-deploy-widget.yml
  .github/workflows/cloud-deploy/cloud-deploy-worker.yml
  .github/workflows/cloud-deploy/cloud-deploy-ws.yml
Labels: CI/CD

#5663 refactor(worker): add job
  apps/worker/src/app/workflow/usecases/add-job/add-job.usecase.ts
  libs/application-generic/src/services/calculate-delay/calculate-delay.service.ts
Labels: @novu/worker

#5702 fix(root): Update Dockerfile ag path
  apps/ws/Dockerfile
Labels: @novu/ws

#5692 feat(novui): Map panda values to mantine theme
  apps/web/src/index.tsx
  apps/web/src/studio/components/workflows/WorkflowsListPage.tsx
  libs/novui/.storybook/preview.tsx
  libs/novui/package.json
  libs/novui/src/components/NovuiProvider.tsx
  libs/novui/src/components/button/Button.stories.tsx
  libs/novui/src/components/button/Button.tsx
  libs/novui/src/components/button/index.ts
  libs/novui/src/components/index.ts
  libs/novui/src/components/mantine-theme.config.ts
Labels: @novu/web, @novu/novui

#5665 feat(js): lazy session initialization and interface fixes
  apps/api/src/app/subscribers/subscribers.controller.ts
  apps/api/src/app/widgets/dtos/feeds-response.dto.ts
  apps/api/src/app/widgets/dtos/message-response.dto.ts
  apps/api/src/app/widgets/usecases/get-notifications-feed/get-notifications-feed.usecase.ts
  libs/dal/src/repositories/message/message.entity.ts
  libs/shared/src/dto/index.ts
  libs/shared/src/dto/session/index.ts
  libs/shared/src/dto/session/session.dto.ts
  libs/shared/src/dto/widget/notification.dto.ts
  libs/shared/src/entities/messages/messages.interface.ts
  packages/client/src/api/api.service.ts
  packages/js/jest.config.cjs
  packages/js/src/event-emitter/index.ts
  packages/js/src/event-emitter/novu-event-emitter.ts
  packages/js/src/event-emitter/types.ts
  packages/js/src/feeds/Feeds.ts
  packages/js/src/feeds/feeds.ts
  packages/js/src/feeds/index.ts
  packages/js/src/feeds/notification.ts
  packages/js/src/global.d.ts
  packages/js/src/index.ts
  packages/js/src/novu.test.ts
  packages/js/src/novu.ts
  packages/js/src/preferences/Preferences.ts
  packages/js/src/preferences/index.ts
  packages/js/src/preferences/preferences.ts
  packages/js/src/session/Session.ts
  packages/js/src/session/index.ts
  packages/js/src/session/session.ts
  packages/js/src/umd.ts
  packages/js/src/utils/base-module.ts
  pnpm-lock.yaml
Labels: @novu/api, @novu/dal, @novu/shared

#5674 fix(web): Hubspot onboarding invite member flow
  apps/web/src/pages/auth/InvitationPage.tsx
  apps/web/src/pages/auth/components/HubspotSignupForm.tsx
  apps/web/src/pages/auth/components/LoginForm.tsx
  apps/web/src/pages/auth/components/OAuth.tsx
  apps/web/src/pages/auth/components/SignUpForm.tsx
  apps/web/src/pages/auth/components/gitHubUtils.ts
  libs/application-generic/src/services/auth/shared.ts
Labels: @novu/web

#5619 feat(echo): add skip support
  apps/api/e2e/echo.server.ts
  apps/api/migrations/encrypt-api-keys/encrypt-api-keys-migration.spec.ts
  apps/api/src/app/events/e2e/echo-trigger.e2e-ee.ts
  apps/api/src/app/integrations/usecases/index.ts
  apps/api/src/app/subscribers/unit/update-subscriber-channel.spec.ts
  apps/worker/src/app/workflow/specs/conditions-filter.usecase.spec.ts
  apps/worker/src/app/workflow/usecases/add-job/add-job.usecase.ts
  apps/worker/src/app/workflow/usecases/run-job/run-job.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message.usecase.ts
  apps/worker/src/app/workflow/workflow.module.ts
  libs/application-generic/src/usecases/conditions-filter/conditions-filter.usecase.ts
  libs/application-generic/src/usecases/index.ts
  libs/application-generic/src/usecases/normalize-variables/index.ts
  libs/application-generic/src/usecases/normalize-variables/normalize-variables.command.ts
  libs/application-generic/src/usecases/normalize-variables/normalize-variables.usecase.ts
  libs/application-generic/src/usecases/select-integration/select-integration.spec.ts
  libs/application-generic/src/usecases/select-integration/select-integration.usecase.ts
  libs/application-generic/src/usecases/select-variant/select-variant.spec.ts
  libs/application-generic/src/usecases/select-variant/select-variant.usecase.ts
  libs/application-generic/src/utils/require-inject.ts
  packages/echo/src/client.test.ts
  packages/echo/src/client.ts
  packages/echo/src/handler.ts
  packages/echo/src/types/execution.types.ts
  packages/echo/src/types/skip.types.ts
  packages/echo/src/types/step.types.ts
  packages/echo/src/types/util.types.ts
Labels: @novu/api, @novu/worker

#5513 feat(web,design-system,novui): Add embeddable docs
  .cspell.json
  apps/web/package.json
  apps/web/src/components/docs/Docs.tsx
  apps/web/src/components/docs/DocsButton.tsx
  apps/web/src/components/docs/DocsModal.tsx
  apps/web/src/components/docs/Highlight.tsx
  apps/web/src/components/docs/VotingWidget.tsx
  apps/web/src/components/docs/docs.const.ts
  apps/web/src/components/layout/components/PageHeader.tsx
  apps/web/src/components/layout/components/v2/HeaderNav.tsx
  libs/design-system/src/button/ActionButton.tsx
  libs/novui/package.json
  libs/novui/src/tokens/semanticColors.tokens.ts
  pnpm-lock.yaml
Labels: @novu/web, @novu/design-system, @novu/novui

#5721 fix(novui): semantic colors tokens for table
  libs/novui/src/tokens/semanticColors.tokens.ts
Labels: @novu/novui

#5670 feat(echo): add regular delay step feature parity
  apps/api/src/app/events/e2e/echo-trigger.e2e-ee.ts
  apps/api/src/app/shared/shared.module.ts
  apps/web/src/components/execution-detail/ExecutionDetailsStepHeader.tsx
  apps/worker/src/app/shared/shared.module.ts
  apps/worker/src/app/workflow/usecases/add-job/add-delay-job.usecase.ts
  apps/worker/src/app/workflow/usecases/add-job/add-job.usecase.ts
  libs/application-generic/src/services/calculate-delay/compute-job-wait-duration.service.spec.ts
  libs/application-generic/src/services/calculate-delay/compute-job-wait-duration.service.ts
  libs/application-generic/src/services/calculate-delay/index.ts
  libs/application-generic/src/usecases/create-notification-jobs/create-notification-jobs.usecase.ts
  libs/testing/tsconfig.build.json
  libs/testing/tsconfig.json
  packages/echo/src/client.test.ts
  packages/echo/src/schemas/steps/actions/delay.schema.ts
Labels: @novu/api, @novu/web, @novu/worker

#5723 chore(root): Consolidate web and shared web - part 2
  apps/web/package.json
  apps/web/src/api/hooks/useUserOnboardingStatus.ts
  apps/web/src/api/hooks/useWebhookSupportStatus.ts
  apps/web/src/components/layout/components/PrivatePageLayout.tsx
  apps/web/src/components/layout/components/v2/HeaderMenuItems.tsx
  apps/web/src/components/nav/OrganizationSelect/useOrganizationSelect.ts
  apps/web/src/components/workflow/preview/common/LocaleSelect.tsx
  apps/web/src/ee/billing/components/ContactSalesModal.tsx
  apps/web/src/ee/billing/components/HubspotForm.tsx
  apps/web/src/ee/billing/components/PlanHeader.tsx
  apps/web/src/ee/billing/components/UpgradeModal.tsx
  apps/web/src/ee/translations/components/DeleteLocaleModal.tsx
  apps/web/src/ee/translations/components/GroupFormCommonFields.tsx
  apps/web/src/ee/translations/pages/TranslationGroupsPage.tsx
  apps/web/src/hooks/useAuth.ts
  apps/web/src/hooks/useEnvController copy.ts
  apps/web/src/hooks/useEnvController.ts
  apps/web/src/pages/BillingPages.tsx
  apps/web/src/pages/TranslationPages.tsx
  apps/web/src/pages/auth/QuestionnairePage.tsx
  apps/web/src/pages/auth/components/HubspotForm.tsx
  apps/web/src/pages/brand/tabs/BrandingForm.tsx
  apps/web/src/pages/templates/components/InputVariablesForm.tsx
  apps/web/src/pages/templates/components/email-editor/EmailMessagesCards.tsx
  libs/design-system/package.json
  pnpm-lock.yaml
Labels: @novu/web, @novu/design-system

#5719 feat(web,novui): Button, Title, Text, `colorPalette` experiments
  libs/novui/.storybook/preview.tsx
  libs/novui/src/components/button/Button.stories.tsx
  libs/novui/src/components/button/Button.tsx
  libs/novui/src/components/index.ts
  libs/novui/src/components/text/Text.stories.tsx
  libs/novui/src/components/text/Text.tsx
  libs/novui/src/components/text/index.ts
  libs/novui/src/components/title/Title.stories.tsx
  libs/novui/src/components/title/Title.tsx
  libs/novui/src/components/title/index.ts
  libs/novui/src/icons/Icon.types.ts
  libs/novui/src/index.ts
  libs/novui/src/ingredients/README.md
  libs/novui/src/ingredients/colorPaletteGradient.ingredient.ts
  libs/novui/src/ingredients/index.ts
  libs/novui/src/panda-preset.ts
  libs/novui/src/recipes/button.recipe.ts
  libs/novui/src/tokens/opacity.tokens.ts
  libs/novui/src/tokens/semanticColors.tokens.ts
  libs/novui/src/tokens/semanticOpacity.tokens.ts
  libs/novui/src/types/ExtractGeneric.ts
  libs/novui/src/types/index.ts
  libs/novui/src/types/props-helpers.ts
Labels: @novu/novui

#5724 feat(echo): add inputs variable compilation
  .cspell.json
  apps/api/src/app/events/e2e/echo-trigger.e2e-ee.ts
  packages/echo/package.json
  packages/echo/src/client.test.ts
  packages/echo/src/client.ts
  pnpm-lock.yaml
Labels: @novu/api

#5727 feat(novui,web): Fix Button types, scaffold Flow detail
  apps/web/src/AppRoutes.tsx
  apps/web/src/constants/routes.ts
  apps/web/src/studio/components/workflows/WorkflowsDetailPage.tsx
  apps/web/src/studio/components/workflows/WorkflowsListPage.tsx
  apps/web/src/studio/layout/PageContainer.tsx
  apps/web/src/studio/layout/PageTemplate.tsx
  apps/web/src/studio/layout/index.ts
  libs/novui/src/components/button/Button.tsx
  libs/novui/src/ingredients/colorPaletteGradient.ingredient.ts
Labels: @novu/web, @novu/novui

#5730 feat(novui,web): Add IconButton, build aesthetics of flow editor
  .cspell.json
  apps/web/panda.config.ts
  apps/web/src/AppRoutes.tsx
  apps/web/src/studio/components/workflows/StepNode.tsx
  apps/web/src/studio/components/workflows/WorkflowFloatingMenu.tsx
  apps/web/src/studio/components/workflows/WorkflowsDetailPage.tsx
  libs/novui/src/components/button/IconButton.stories.tsx
  libs/novui/src/components/button/IconButton.tsx
  libs/novui/src/components/button/index.ts
  libs/novui/src/tokens/semanticColors.tokens.ts
Labels: @novu/web, @novu/novui

#5700 feat(novui): json schema form initial implementation
  .cspell.json
  libs/novui/package.json
  libs/novui/src/components/checkbox/Checkbox.stories.tsx
  libs/novui/src/components/checkbox/Checkbox.tsx
  libs/novui/src/components/input/Input.stories.tsx
  libs/novui/src/components/input/Input.tsx
  libs/novui/src/components/select/Select.stories.tsx
  libs/novui/src/components/select/Select.tsx
  libs/novui/src/index.ts
  libs/novui/src/json-schema-components/JsonSchemaForm.stories.tsx
  libs/novui/src/json-schema-components/JsonSchemaForm.tsx
  libs/novui/src/json-schema-components/templates/ArrayFieldTemplate.tsx
  libs/novui/src/json-schema-components/templates/IconButton.tsx
  libs/novui/src/json-schema-components/templates/ObjectFieldTemplate.tsx
  libs/novui/src/json-schema-components/widgets/CheckboxWidget.tsx
  libs/novui/src/json-schema-components/widgets/InputWidget.tsx
  libs/novui/src/json-schema-components/widgets/SelectWidget.tsx
  libs/novui/src/json-schema-components/widgets/index.ts
  pnpm-lock.yaml
Labels: @novu/novui

#5748 feat(web): use of json form schema
  apps/web/src/studio/components/workflows/step-editor/WorkflowStepEditorInputsPanel.tsx
  libs/novui/src/index.ts
Labels: @novu/web, @novu/novui

#5751 fix(web): Fix variants prop
  apps/web/src/pages/studio-onboarding/components/Footer.tsx
Labels: @novu/web

#5753 test(api): Remove create-usage-records feature flag tests
  apps/api/src/app/testing/billing/create-usage-records.e2e-ee.ts
Labels: @novu/api

#5740 ci(root): remove enterprise docker containers
  docker/enterprise/.env.example
  docker/enterprise/LICENSE
  docker/enterprise/Readme.md
  docker/enterprise/docker-compose.yml
Labels: docker

#5648 feat(providers): Mobishastra sms provider
  apps/web/public/static/images/providers/dark/mobishastra.png
  apps/web/public/static/images/providers/dark/square/mobishastra.svg
  apps/web/public/static/images/providers/light/mobishastra.png
  apps/web/public/static/images/providers/light/square/mobishastra.svg
  libs/application-generic/src/factories/sms/handlers/index.ts
  libs/application-generic/src/factories/sms/handlers/mobishastra.handler.ts
  libs/application-generic/src/factories/sms/sms.factory.ts
  libs/shared/src/consts/providers/channels/sms.ts
  libs/shared/src/consts/providers/credentials/provider-credentials.ts
  libs/shared/src/consts/providers/provider.enum.ts
  packages/providers/src/lib/index.ts
  packages/providers/src/lib/mobishastra/mobishastra.provider.ts
  packages/providers/src/lib/mobishastra/mobishastra.test.provider.spec.ts
Labels: @novu/web, @novu/shared

#5756 chore(web): Nv 3810 remove information architecture ff
  apps/web/public/env-config.js
  apps/web/src/AppRoutes.tsx
  apps/web/src/SettingsRoutes.tsx
  apps/web/src/components/docs/docs.const.ts
  apps/web/src/components/layout/components/HeaderNav.tsx
  apps/web/src/components/layout/components/NotificationCenterBell.tsx
  apps/web/src/components/layout/components/NotificationCenterWidget.tsx
  apps/web/src/components/layout/components/PrivatePageLayout.tsx
  apps/web/src/components/layout/components/SideNav.tsx
  apps/web/src/components/nav/MainNav.tsx
  apps/web/src/components/nav/Sidebar.tsx
  apps/web/src/components/nav/SidebarNav.tsx
  apps/web/src/constants/routes.ts
  apps/web/src/pages/brand/BrandInputs.tsx
  apps/web/src/pages/brand/BrandLogoUpload.tsx
  apps/web/src/pages/brand/BrandPage.tsx
  apps/web/src/pages/brand/BrandingPage.const.ts
  apps/web/src/pages/brand/BrandingPage.styles.ts
  apps/web/src/pages/brand/BrandingPage.tsx
  apps/web/src/pages/brand/InAppInputs.tsx
  apps/web/src/pages/brand/tabs/BrandingForm.tsx
  apps/web/src/pages/brand/tabs/LayoutEditor.tsx
  apps/web/src/pages/brand/tabs/LayoutsListPage.tsx
  apps/web/src/pages/brand/tabs/index.ts
  apps/web/src/pages/brand/tabs/v2/index.tsx
  apps/web/src/pages/layouts/v2/LayoutsPage.tsx
  apps/web/src/pages/settings/SettingsPage.tsx
  apps/web/src/pages/settings/user-profile-page/UserProfilePasswordSidebar.tsx
  apps/web/src/pages/templates/components/email-editor/EmailMessageEditor.tsx
  libs/shared/src/types/feature-flags/feature-flags.ts
Labels: @novu/web, @novu/shared

#5763 fix(web): light theme for onboarding
  apps/web/public/static/images/novu-text-dark.svg
  apps/web/src/constants/assets.ts
  apps/web/src/pages/studio-onboarding/components/Header.tsx
  apps/web/src/pages/studio-onboarding/preview.tsx
Labels: @novu/web

#5760 feat(novui): Input component
  libs/novui/src/components/input/Input.stories.tsx
  libs/novui/src/components/input/Input.tsx
  libs/novui/src/components/input/index.ts
  libs/novui/src/components/tabs/Tabs.tsx
  libs/novui/src/json-schema-components/widgets/InputWidget.tsx
  libs/novui/src/panda-preset.ts
  libs/novui/src/recipes/index.ts
  libs/novui/src/recipes/input.recipe.ts
  libs/novui/src/tokens/colors.tokens.ts
  libs/novui/src/tokens/semanticColors.tokens.ts
  libs/novui/src/tokens/semanticRadius.tokens.ts
Labels: @novu/novui

#5771 fix(api): connect parameter to level path param bug fix
  apps/api/src/app/subscribers/params/get-subscriber-preferences-by-level.params.ts
  apps/api/src/app/subscribers/subscribers.controller.ts
Labels: @novu/api

#5764 chore(web): Restore layouts page
  apps/web/src/AppRoutes.tsx
  apps/web/src/pages/layouts/LayoutEditor.tsx
  apps/web/src/pages/layouts/LayoutList.tsx
  apps/web/src/pages/layouts/LayoutsPage.tsx
  apps/web/src/pages/layouts/v2/LayoutsPage.tsx
  apps/web/tests/layout.spec.ts
  apps/web/tests/page-models/layoutsPage.ts
Labels: @novu/web

#5775 feat(web): V2 step previews
  apps/web/package.json
  apps/web/src/components/workflow/preview/chat/ChatBasePreview.tsx
  apps/web/src/components/workflow/preview/chat/ChatPreview.tsx
  apps/web/src/components/workflow/preview/chat/index.ts
  apps/web/src/components/workflow/preview/in-app/InAppBasePreview.tsx
  apps/web/src/components/workflow/preview/in-app/InAppPreview.tsx
  apps/web/src/components/workflow/preview/in-app/index.ts
  apps/web/src/components/workflow/preview/push/Content.tsx
  apps/web/src/components/workflow/preview/push/PushBasePreview.tsx
  apps/web/src/components/workflow/preview/push/index.ts
  apps/web/src/components/workflow/preview/sms/SmsBasePreview.tsx
  apps/web/src/components/workflow/preview/sms/SmsPreview.tsx
  apps/web/src/components/workflow/preview/sms/index.ts
  apps/web/src/pages/templates/editor_v2/TemplateStepEditorV2.tsx
  apps/web/src/studio/components/workflows/node-view/WorkflowFloatingMenu.tsx
  apps/web/src/studio/components/workflows/node-view/WorkflowNodes.tsx
  apps/web/src/studio/components/workflows/step-editor/WorkflowStepEditorContentPanel.tsx
  apps/web/src/studio/components/workflows/step-editor/WorkflowsStepEditorPage.tsx
Labels: @novu/web

#5769 feat(novui): Select & Checkbox components
  libs/novui/.storybook/preview.tsx
  libs/novui/src/components/Test.stories.tsx
  libs/novui/src/components/Test.tsx
  libs/novui/src/components/button/Button.stories.tsx
  libs/novui/src/components/button/Button.tsx
  libs/novui/src/components/button/IconButton.stories.tsx
  libs/novui/src/components/checkbox/Checkbox.stories.tsx
  libs/novui/src/components/checkbox/Checkbox.tsx
  libs/novui/src/components/checkbox/index.ts
  libs/novui/src/components/index.ts
  libs/novui/src/components/input/Input.tsx
  libs/novui/src/components/mantine-theme.config.ts
  libs/novui/src/components/select/Select.stories.tsx
  libs/novui/src/components/select/Select.tsx
  libs/novui/src/components/select/index.ts
  libs/novui/src/panda-preset.ts
  libs/novui/src/recipes/button.recipe.ts
  libs/novui/src/recipes/checkbox.recipe.ts
  libs/novui/src/recipes/index.ts
  libs/novui/src/recipes/input.recipe.ts
  libs/novui/src/recipes/select.recipe.ts
  libs/novui/src/tokens/semanticColors.tokens.ts
Labels: @novu/novui

#5779 feat(web): add docs for step types in workflow floating menu
  apps/web/src/ee/translations/pages/TranslationGroupsPage.tsx
  apps/web/src/studio/components/workflows/node-view/WorkflowFloatingMenu.tsx
Labels: @novu/web

#5785 fix(web): button styling for onboarding
  apps/web/src/pages/studio-onboarding/components/Footer.tsx
Labels: @novu/web

#5786 fix(web): preview email web height
  apps/web/src/components/workflow/preview/email/PreviewWeb.tsx
  apps/web/src/pages/studio-onboarding/preview.tsx
  apps/web/src/studio/components/workflows/step-editor/WorkflowStepEditorContentPanel.tsx
Labels: @novu/web

#5787 feat(web): add so user is redirect to studio if feature flag v2 is enabled
  apps/web/src/pages/auth/components/HubspotSignupForm.tsx
  apps/web/src/pages/auth/components/QuestionnaireForm.tsx
  apps/web/src/pages/studio-onboarding/success.tsx
Labels: @novu/web

#5789 feat(web): add docs for add workflow button
  apps/web/src/components/docs/docs.const.ts
  apps/web/src/components/docs/useDocsModal.tsx
  apps/web/src/studio/components/workflows/list/WorkflowsListPage.tsx
  apps/web/src/studio/components/workflows/node-view/WorkflowFloatingMenu.tsx
Labels: @novu/web

#5784 feat(novui): JsonSchemaForm styling
  libs/novui/src/components/button/IconButton.tsx
  libs/novui/src/ingredients/colorPaletteGradient.ingredient.ts
  libs/novui/src/json-schema-components/JsonSchemaForm.stories.tsx
  libs/novui/src/json-schema-components/JsonSchemaForm.tsx
  libs/novui/src/json-schema-components/shared.tsx
  libs/novui/src/json-schema-components/templates/ArrayFieldTemplate.tsx
  libs/novui/src/json-schema-components/templates/IconButton.tsx
  libs/novui/src/json-schema-components/templates/ObjectFieldTemplate.tsx
  libs/novui/src/recipes/button.recipe.ts
  libs/novui/src/tokens/semanticColors.tokens.ts
  libs/novui/src/tokens/semanticSizes.tokens.ts
Labels: @novu/novui

#5688 feat(js): js sdk feeds module
  libs/shared/src/entities/messages/action.enum.ts
  packages/client/src/api/api.service.ts
  packages/js/package.json
  packages/js/scripts/size-limit.js
  packages/js/src/base-module.ts
  packages/js/src/event-emitter/novu-event-emitter.ts
  packages/js/src/event-emitter/types.ts
  packages/js/src/feeds/feeds.ts
  packages/js/src/feeds/helpers.ts
  packages/js/src/feeds/index.ts
  packages/js/src/feeds/notification.ts
  packages/js/src/feeds/types.ts
  packages/js/src/novu.ts
  packages/js/src/preferences/preferences.ts
  packages/js/src/session/index.ts
  packages/js/src/session/session.ts
  packages/js/src/session/types.ts
  packages/js/src/types.ts
  packages/js/src/umd.ts
  packages/js/src/utils/api-service-singleton.ts
  packages/js/src/utils/notification-utils.ts
  packages/js/test-sdk.ts
  packages/js/tsconfig.json
  packages/js/tsup.config.ts
  packages/notification-center/src/hooks/useMarkNotificationAsRead.ts
  packages/notification-center/src/hooks/useMarkNotificationAsSeen.ts
  packages/notification-center/src/index.test.ts
  pnpm-lock.yaml
Labels: @novu/notification-center, @novu/shared

#5797 feat(novui,web): General UI / UX fixes and improvements
  apps/web/src/components/layout/components/v2/HeaderNav.tsx
  apps/web/src/pages/studio-onboarding/components/Footer.tsx
  apps/web/src/pages/studio-onboarding/index.tsx
  apps/web/src/studio/components/EnvironmentSelect/useEnvironmentSelect.tsx
  apps/web/src/studio/components/workflows/list/WorkflowsListPage.tsx
  apps/web/src/studio/utils/isStudioRoute.ts
  libs/novui/src/components/button/Button.stories.tsx
  libs/novui/src/components/button/Button.tsx
  libs/novui/src/components/input/Input.stories.tsx
  libs/novui/src/components/table/Table.stories.tsx
  libs/novui/src/components/table/Table.styles.ts
  libs/novui/src/panda-preset.ts
  libs/novui/src/recipes/button.recipe.ts
  libs/novui/src/tokens/semanticColors.tokens.ts
  libs/novui/src/tokens/semanticTypography.tokens.ts
Labels: @novu/web, @novu/novui

#5735 feat(api): the new inbox controller
  apps/api/src/app.module.ts
  apps/api/src/app/events/e2e/echo-trigger.e2e-ee.ts
  apps/api/src/app/inbox/dtos/subscriber-session-request.dto.ts
  apps/api/src/app/inbox/dtos/subscriber-session-response.dto.ts
  apps/api/src/app/inbox/e2e/session.e2e.ts
  apps/api/src/app/inbox/inbox.controller.ts
  apps/api/src/app/inbox/inbox.module.ts
  apps/api/src/app/inbox/usecases/index.ts
  apps/api/src/app/inbox/usecases/notifications-count/notifications-count.command.ts
  apps/api/src/app/inbox/usecases/notifications-count/notifications-count.spec.ts
  apps/api/src/app/inbox/usecases/notifications-count/notifications-count.usecase.ts
  apps/api/src/app/inbox/usecases/session/session.command.ts
  apps/api/src/app/inbox/usecases/session/session.spec.ts
  apps/api/src/app/inbox/usecases/session/session.usecase.ts
  apps/api/src/app/inbox/utils/analytics.ts
  apps/api/src/app/inbox/utils/encryption.ts
  apps/api/src/app/inbox/utils/index.ts
  apps/api/src/app/inbox/utils/messages.ts
  apps/api/src/app/shared/helpers/utils/mapMarkMessageToWebSocketEvent.ts
  apps/api/src/app/subscribers/dtos/mark-all-messages-as-request.dto.ts
  apps/api/src/app/subscribers/e2e/mark-all-subscriber-messages.e2e.ts
  apps/api/src/app/subscribers/e2e/mark-as-by-mark.e2e.ts
  apps/api/src/app/widgets/dtos/mark-as-request.dto.ts
  apps/api/src/app/widgets/e2e/mark-as-by-mark.e2e.ts
  apps/api/src/app/widgets/usecases/mark-all-messages-as/mark-all-messages-as.command.ts
  apps/api/src/app/widgets/usecases/mark-all-messages-as/mark-all-messages-as.usecase.ts
  apps/api/src/app/widgets/usecases/mark-message-as-by-mark/mark-message-as-by-mark.command.ts
  apps/api/src/app/widgets/usecases/mark-message-as-by-mark/mark-message-as-by-mark.usecase.ts
  apps/api/src/app/widgets/widgets.controller.ts
  libs/dal/src/repositories/message/message.repository.ts
  libs/shared/src/types/messages/index.ts
  packages/client/src/api/api.service.ts
  packages/client/src/index.ts
  packages/js/src/api/inbox-service.ts
  packages/js/src/api/index.ts
  packages/js/src/novu.test.ts
  packages/js/src/novu.ts
  packages/js/src/session/session.ts
  packages/js/src/types.ts
  packages/js/src/utils/api-service-singleton.ts
  packages/js/src/utils/config.ts
  packages/js/src/utils/inbox-service-singleton.ts
  packages/js/test-sdk.ts
  packages/node/src/index.ts
  packages/node/src/lib/subscribers/subscribers.spec.ts
  packages/node/src/lib/subscribers/subscribers.ts
  pnpm-lock.yaml
Labels: @novu/api, @novu/dal, @novu/shared

#5802 feat(web): v2 errors in preview
  apps/web/src/components/workflow/preview/ErrorPrettyRender.tsx
  apps/web/src/components/workflow/preview/chat/ChatBasePreview.tsx
  apps/web/src/components/workflow/preview/in-app/InAppBasePreview.tsx
  apps/web/src/components/workflow/preview/in-app/InAppPreview.tsx
  apps/web/src/components/workflow/preview/push/Content.tsx
  apps/web/src/components/workflow/preview/push/PushBasePreview.tsx
  apps/web/src/components/workflow/preview/sms/SmsBasePreview.tsx
  apps/web/src/components/workflow/preview/sms/SmsPreview.tsx
  apps/web/src/pages/templates/editor_v2/TemplateStepEditorV2.tsx
  apps/web/src/studio/components/workflows/step-editor/WorkflowStepEditorContentPanel.tsx
  libs/novui/src/json-schema-components/widgets/InputWidget.tsx
  libs/novui/src/json-schema-components/widgets/SelectWidget.tsx
Labels: @novu/web, @novu/novui

#5801 feat(web): update echo docs links to framework
  README.md
  apps/web/src/components/docs/docs.const.ts
  apps/web/src/pages/get-started/components/get-started-tabs/EchoTab.tsx
  apps/web/src/pages/templates/components/EchoProjectWaitList.tsx
  apps/web/src/studio/components/workflows/node-view/WorkflowFloatingMenu.tsx
Labels: @novu/web

#5804 feat(web): add test workflow for dev and prod
  apps/web/src/AppRoutes.tsx
  apps/web/src/constants/routes.ts
  apps/web/src/pages/studio-onboarding/preview.tsx
  apps/web/src/pages/templates/editor_v2/TemplateDetailsPageV2.tsx
  apps/web/src/studio/components/workflows/test-workflow/WorkflowsTestPage.tsx
Labels: @novu/web

#5800 feat(web): add empty properties state
  apps/web/src/studio/components/workflows/step-editor/InputsEmptyPanel.tsx
  apps/web/src/studio/components/workflows/step-editor/WorkflowStepEditorInputsPanel.tsx
Labels: @novu/web

#5793 feat(web): add mixpanel session recording
  .github/workflows/reusable-web-deploy.yml
  apps/web/package.json
  apps/web/src/AppRoutes.tsx
  apps/web/src/hooks/useAuth.ts
  apps/web/src/mixpanel-browser.d.ts
  apps/web/src/utils/segment.ts
  libs/shared/src/types/feature-flags/feature-flags.ts
  pnpm-lock.yaml
Labels: @novu/web, @novu/shared, CI/CD

#5807 feat(web): add correct code snippets
  apps/web/src/pages/templates/components/TriggerSnippetTabs.tsx
  apps/web/src/studio/components/workflows/test-workflow/WorkflowTestTriggerPanel.tsx
  apps/web/src/studio/components/workflows/test-workflow/WorkflowsTestPage.tsx
  apps/web/src/utils/codeSnippets.ts
Labels: @novu/web

#5806 feat(framework): Add Zod support
  apps/api/src/app/events/e2e/bridge-trigger.e2e-ee.ts
  packages/framework/README.md
  packages/framework/package.json
  packages/framework/src/client.test.ts
  packages/framework/src/client.ts
  packages/framework/src/client.validation.test.ts
  packages/framework/src/constants/api.constants.ts
  packages/framework/src/next.ts
  packages/framework/src/schemas/steps/channels/index.ts
  packages/framework/src/types/config.types.ts
  packages/framework/src/types/discover.types.ts
  packages/framework/src/types/provider.types.ts
  packages/framework/src/types/schema.types.ts
  packages/framework/src/types/step.types.ts
  packages/framework/src/types/validator.types.ts
  packages/framework/src/validators/base.validator.ts
  packages/framework/src/validators/index.ts
  packages/framework/src/validators/json-schema.validator.ts
  packages/framework/src/validators/validator.test.ts
  packages/framework/src/validators/zod.validator.ts
  packages/framework/src/workflow.ts
  packages/framework/tsconfig.json
  pnpm-lock.yaml
Labels: @novu/api

#5809 feat(web): add color palette to onboarding pages
  apps/web/src/pages/studio-onboarding/components/Wrapper.tsx
  apps/web/src/pages/studio-onboarding/index.tsx
  apps/web/src/pages/studio-onboarding/preview.tsx
  apps/web/src/pages/studio-onboarding/success.tsx
Labels: @novu/web

#5810 fix(api): invalidation
  apps/api/src/app/inbox/usecases/session/session.usecase.ts
  apps/api/src/app/integrations/usecases/update-integration/update-integration.usecase.ts
  libs/shared/src/types/feature-flags/feature-flags.ts
  libs/shared/src/types/feature-flags/flags.types.ts
Labels: @novu/api, @novu/shared

#5816 fix(web): wrong theme color on navigation between local and development
  apps/web/src/components/layout/components/PrivatePageLayout.tsx
Labels: @novu/web

#5817 fix(web): Nv 3931 bug skip onboarding is redirecting to dev environment
  apps/web/src/pages/studio-onboarding/components/Footer.tsx
Labels: @novu/web

#5819 refactor(framework): Rename inputs to controls
  README.md
  apps/api/src/app/events/e2e/bridge-trigger.e2e-ee.ts
  apps/api/src/app/events/e2e/echo-health-check.e2e-ee.ts
  apps/api/src/app/testing/echo/echo-sync.e2e-ee.ts
  apps/web/src/pages/studio-onboarding/preview.tsx
  packages/create-novu-app/templates/app-react-email/ts/app/novu/workflows.ts
  packages/framework/README.md
  packages/framework/src/client.test.ts
  packages/framework/src/client.ts
  packages/framework/src/client.validation.test.ts
  packages/framework/src/constants/error.constants.ts
  packages/framework/src/errors/execution.errors.ts
  packages/framework/src/types/discover.types.ts
  packages/framework/src/types/execution.types.ts
  packages/framework/src/types/provider.types.ts
  packages/framework/src/types/skip.types.ts
  packages/framework/src/types/step.types.ts
  packages/framework/src/types/validator.types.ts
  packages/framework/src/types/workflow.types.ts
  packages/framework/src/workflow.ts
Labels: @novu/api, @novu/web

#5832 feat(web,novui): Step preview improvements
  apps/web/src/components/nav/EnvironmentSelect/EnvironmentSelect.tsx
  apps/web/src/studio/components/EnvironmentSelect/EnvironmentSelect.tsx
  apps/web/src/studio/components/workflows/step-editor/WorkflowsStepEditorPage.tsx
  libs/novui/src/json-schema-components/templates/ArrayFieldTemplate.tsx
Labels: @novu/web, @novu/novui

#5829 feat(web): add checks if org have v2 enabled or not
  apps/web/src/components/layout/components/v2/HeaderNav.tsx
  apps/web/src/components/nav/EnvironmentSelect/useEnvironmentSelect.tsx
  apps/web/src/components/nav/RootNavMenu.tsx
  apps/web/src/components/nav/SettingsNavMenu.tsx
  apps/web/src/hooks/useAuth.ts
  apps/web/src/pages/auth/components/HubspotSignupForm.tsx
  apps/web/src/pages/auth/components/QuestionnaireForm.tsx
  apps/web/src/pages/templates/components/CreateWorkflowDropdown.tsx
  libs/shared/src/types/feature-flags/feature-flags.ts
Labels: @novu/web, @novu/shared

#5798 feat(web): add sync and update bridge button
  apps/api/src/app/environments/usecases/create-environment/create-environment.usecase.ts
  apps/api/src/app/environments/usecases/regenerate-api-keys/regenerate-api-keys.usecase.ts
  apps/api/src/app/environments/usecases/update-environment/update-environment.command.ts
  apps/api/src/app/environments/usecases/update-environment/update-environment.usecase.ts
  apps/web/src/api/bridge.ts
  apps/web/src/api/bridge/utils.ts
  apps/web/src/api/environment.ts
  apps/web/src/components/layout/components/PrivatePageLayout.tsx
  apps/web/src/components/layout/components/v2/BridgeMenuItems.tsx
  apps/web/src/components/layout/components/v2/BridgeUpdateModal.tsx
  apps/web/src/components/layout/components/v2/BridgeUpdateModalTrigger.tsx
  apps/web/src/components/layout/components/v2/ConnectionStatusIndicator.tsx
  apps/web/src/components/layout/components/v2/HeaderNav.tsx
  apps/web/src/components/layout/components/v2/SyncInfoModal.tsx
  apps/web/src/components/layout/components/v2/SyncInfoModalTrigger.tsx
  apps/web/src/components/layout/components/v2/utils.ts
  apps/web/src/pages/studio-onboarding/useSetupBridge.ts
  apps/web/src/studio/hooks/index.ts
  apps/web/src/studio/hooks/useBridgeConnectionStatus.ts
  apps/web/src/studio/hooks/useBridgeUrl.ts
  apps/web/src/studio/utils/index.ts
  libs/novui/package.json
  libs/novui/src/components/code-block/CodeBlock.stories.tsx
  libs/novui/src/components/code-block/CodeBlock.tsx
  libs/novui/src/components/code-block/index.ts
  libs/novui/src/components/index.ts
  libs/novui/src/components/input/Input.stories.tsx
  libs/novui/src/components/input/Input.tsx
  libs/novui/src/components/textarea/Textarea.tsx
  libs/novui/src/index.css
  libs/novui/src/panda-preset.ts
  libs/novui/src/recipes/button.recipe.ts
  libs/novui/src/recipes/code-block.recipe.ts
  libs/novui/src/recipes/index.ts
  libs/novui/src/recipes/input.recipe.ts
  libs/novui/src/recipes/tabs.recipe.ts
  libs/novui/src/tokens/semanticColors.tokens.ts
  libs/novui/src/tokens/semanticOpacity.tokens.ts
  libs/novui/src/tokens/semanticSpacing.tokens.ts
  pnpm-lock.yaml
Labels: @novu/api, @novu/web, @novu/novui

#5834 feat(web): fix so scroll in onboarding is correct
  apps/web/src/pages/studio-onboarding/components/Wrapper.tsx
  apps/web/src/pages/studio-onboarding/preview.tsx
Labels: @novu/web

#5838 feat(novui): Add LoadingOverlay component
  libs/novui/src/components/index.ts
  libs/novui/src/components/loader/LoadingOverlay.stories.tsx
  libs/novui/src/components/loader/LoadingOverlay.tsx
  libs/novui/src/components/loader/index.ts
  libs/novui/src/panda-preset.ts
  libs/novui/src/recipes/index.ts
  libs/novui/src/recipes/input.recipe.ts
  libs/novui/src/recipes/loading-overlay.recipe.ts
  libs/novui/src/tokens/semanticColors.tokens.ts
Labels: @novu/novui

#5812 feat(web): Local studio being local
  .cspell.json
  apps/web/src/AppRoutes.tsx
  apps/web/src/Providers.tsx
  apps/web/src/api/bridge/bridge.api.ts
  apps/web/src/api/bridge/bridge.http.ts
  apps/web/src/api/bridge/utils.ts
  apps/web/src/bridgeApi/bridgeApi.client.ts
  apps/web/src/components/layout/components/LocalStudioHeader.tsx
  apps/web/src/components/layout/components/LocalStudioPageLayout.tsx
  apps/web/src/components/layout/components/v2/BridgeUpdateModal.tsx
  apps/web/src/components/layout/components/v2/HeaderNav.tsx
  apps/web/src/components/layout/components/v2/SyncInfoModal.tsx
  apps/web/src/components/layout/components/v2/utils.ts
  apps/web/src/constants/routes.ts
  apps/web/src/hooks/useAuth.ts
  apps/web/src/pages/auth/components/LoginForm.tsx
  apps/web/src/pages/studio-onboarding/preview.tsx
  apps/web/src/pages/studio-onboarding/useSetupBridge.ts
  apps/web/src/pages/templates/editor_v2/TemplateStepEditorV2.tsx
  apps/web/src/studio/LocalStudioAuthenticator.tsx
  apps/web/src/studio/StudioPageLayout.tsx
  apps/web/src/studio/StudioStateProvider.tsx
  apps/web/src/studio/components/workflows/list/WorkflowsListPage.tsx
  apps/web/src/studio/components/workflows/node-view/WorkflowNodes.tsx
  apps/web/src/studio/components/workflows/node-view/WorkflowsDetailPage.tsx
  apps/web/src/studio/components/workflows/step-editor/WorkflowTestStepButton.tsx
  apps/web/src/studio/components/workflows/step-editor/WorkflowsStepEditorPage.tsx
  apps/web/src/studio/components/workflows/table/WorkflowsTable.tsx
  apps/web/src/studio/components/workflows/table/WorkflowsTable.types.ts
  apps/web/src/studio/components/workflows/test-workflow/WorkflowsTestPage.tsx
  apps/web/src/studio/hooks/index.ts
  apps/web/src/studio/hooks/useBridgeAPI.ts
  apps/web/src/studio/hooks/useBridgeConnectionStatus.ts
  apps/web/src/studio/hooks/useBridgeURL.ts
  apps/web/src/studio/hooks/useBridgeUrl.ts
  apps/web/src/studio/hooks/useIsStudio.ts
  apps/web/src/studio/hooks/useStudioNavigate.ts
  apps/web/src/studio/hooks/useStudioState.ts
  apps/web/src/studio/types.ts
  apps/web/src/studio/utils/base64.ts
  apps/web/tests/auth.spec.ts
  libs/novui/src/components/table/Table.tsx
  packages/cli/package.json
  packages/cli/src/commands/dev.ts
  packages/cli/src/commands/index.ts
  packages/cli/src/dev-server/http-server.ts
  packages/cli/src/dev-server/index.ts
  packages/cli/src/index.ts
  pnpm-lock.yaml
Labels: @novu/web, @novu/novui

#5841 fix(web): Polish Bridge URL modal
  apps/api/src/app/environments/usecases/update-environment/update-environment.usecase.ts
  apps/web/src/bridgeApi/bridgeApi.client.ts
  apps/web/src/components/layout/components/v2/BridgeUpdateModal.tsx
  apps/web/src/components/layout/components/v2/BridgeUpdateModalTrigger.tsx
  apps/web/src/studio/StudioStateProvider.tsx
  apps/web/src/studio/hooks/index.ts
  apps/web/src/studio/hooks/useBridgeAPI.ts
  apps/web/src/studio/hooks/useBridgeConnectionStatus.ts
  apps/web/src/utils/url.ts
  apps/web/tests/auth.spec.ts
Labels: @novu/api, @novu/web

#5842 fix(web): Flicker when using Nav menu
  apps/web/src/components/docs/DocsButton.tsx
  apps/web/src/pages/studio-onboarding/components/Header.tsx
  libs/design-system/src/color-scheme/useColorScheme.ts
Labels: @novu/web, @novu/design-system

#5843 feat(novu): add cli loading states
  apps/web/src/studio/LocalStudioAuthenticator.tsx
  packages/cli/package.json
  packages/cli/src/commands/dev.ts
  packages/cli/src/commands/init.consts.ts
  packages/cli/src/dev-server/http-server.ts
  packages/cli/src/index.ts
Labels: @novu/web

#5844 feat(web): Add Local Studio sidebar & add header items
  apps/web/src/components/layout/components/LocalStudioHeader.tsx
  apps/web/src/components/layout/components/LocalStudioPageLayout.tsx
  apps/web/src/components/layout/components/LocalStudioSidebar/LocalStudioSidebar.tsx
  apps/web/src/components/layout/components/LocalStudioSidebar/LocalStudioSidebarContent.tsx
  apps/web/src/components/layout/components/LocalStudioSidebar/LocalStudioSidebarOrganizationDisplay.tsx
  apps/web/src/components/layout/components/LocalStudioSidebar/LocalStudioSidebarToggleButtonProps.tsx
  apps/web/src/components/layout/components/LocalStudioSidebar/index.ts
  apps/web/src/components/nav/NavMenuButton/NavMenuButton.shared.ts
  apps/web/src/components/nav/NavMenuButton/NavMenuToggleButton.tsx
Labels: @novu/web

#5849 feat(web): refactor onboarding
  apps/web/src/components/layout/components/LocalStudioHeader.tsx
  apps/web/src/pages/studio-onboarding/components/Footer.tsx
  apps/web/src/pages/studio-onboarding/components/SetupTimeline.tsx
  apps/web/src/pages/studio-onboarding/index.tsx
  apps/web/src/pages/studio-onboarding/success.tsx
  apps/web/src/pages/studio-onboarding/useSetupBridge.ts
  apps/web/src/pages/studio-onboarding/useUrlTest.ts
Labels: @novu/web

#5845 feat(web): hide more for v2 enabled feature flag
  apps/web/src/components/nav/RootNavMenu.tsx
  apps/web/src/pages/templates/TemplatesListNoData.tsx
Labels: @novu/web

#5850 feat(web): Nv 3952 create new get started page
  apps/web/src/AppRoutes.tsx
  apps/web/src/pages/auth/components/HubspotSignupForm.tsx
  apps/web/src/pages/auth/components/QuestionnaireForm.tsx
  apps/web/src/studio/components/GetStartedPageV2/deploy.tsx
  apps/web/src/studio/components/GetStartedPageV2/index.tsx
  apps/web/src/studio/components/GetStartedPageV2/terminal.tsx
  apps/web/src/studio/components/GetStartedPageV2/workflow.tsx
Labels: @novu/web

#5854 refactor(web): studio onboarding to use same bridge hook as rest of studio
  apps/web/src/pages/studio-onboarding/components/SetupTimeline.tsx
  apps/web/src/pages/studio-onboarding/index.tsx
  apps/web/src/pages/studio-onboarding/useUrlTest.ts
Labels: @novu/web

#5855 feat(web): New onboarding
  apps/web/package.json
  apps/web/src/AppRoutes.tsx
  apps/web/src/components/layout/components/EnsureOnboardingComplete.tsx
  apps/web/src/components/layout/components/v2/BridgeUpdateModal.tsx
  apps/web/src/hooks/index.ts
  apps/web/src/hooks/useAuth.ts
  apps/web/src/hooks/useRedirectURL.ts
  apps/web/src/pages/auth/components/LoginForm.tsx
  apps/web/src/pages/auth/components/SignUpForm.tsx
  apps/web/src/pages/studio-onboarding/components/SetupTimeline.tsx
  apps/web/src/pages/studio-onboarding/index.tsx
  apps/web/src/pages/studio-onboarding/success.tsx
  apps/web/src/studio/LocalStudioAuthenticator.tsx
  apps/web/src/studio/StudioPageLayout.tsx
  apps/web/src/studio/StudioStateProvider.tsx
  apps/web/src/studio/types.ts
  apps/web/src/utils/cookies.ts
  apps/web/src/utils/index.ts
  apps/web/src/utils/string.ts
  apps/web/src/utils/url.ts
  apps/web/tests/auth.spec.ts
  apps/web/tests/page-models/authLoginPage.ts
  apps/web/tests/page-models/signupPage.ts
  packages/cli/package.json
  packages/cli/src/dev-server/http-server.ts
  pnpm-lock.yaml
Labels: @novu/web

#5861 feat(web): Fix styling, centralize routing utils
  apps/web/src/components/docs/DocsButton.tsx
  apps/web/src/components/layout/components/LocalStudioHeader.tsx
  apps/web/src/components/layout/components/LocalStudioHeader/BackButton.tsx
  apps/web/src/components/layout/components/LocalStudioHeader/LocalStudioHeader.tsx
  apps/web/src/components/layout/components/LocalStudioHeader/index.ts
  apps/web/src/components/layout/components/LocalStudioPageLayout.tsx
  apps/web/src/components/layout/components/LocalStudioSidebar/LocalStudioSidebarContent.tsx
  apps/web/src/components/layout/components/LocalStudioSidebar/LocalStudioSidebarOrganizationDisplay.tsx
  apps/web/src/components/layout/components/LocalStudioSidebar/LocalStudioSidebarToggleButtonProps.tsx
  apps/web/src/components/layout/components/PrivatePageLayout.tsx
  apps/web/src/components/nav/NavMenuButton/NavMenuButton.shared.tsx
  apps/web/src/components/nav/NavMenuButton/NavMenuLinkButton.tsx
  apps/web/src/components/nav/NavMenuButton/NavMenuToggleButton.tsx
  apps/web/src/pages/templates/editor_v2/TemplateDetailsPageV2.tsx
  apps/web/src/studio/components/EnvironmentSelect/useEnvironmentSelect.tsx
  apps/web/src/studio/components/workflows/layout/WorkflowsPageHeader.tsx
  apps/web/src/studio/components/workflows/node-view/StepNode.tsx
  apps/web/src/studio/components/workflows/node-view/WorkflowNodes.tsx
  apps/web/src/studio/components/workflows/node-view/WorkflowsDetailPage.tsx
  apps/web/src/studio/hooks/index.ts
  apps/web/src/studio/hooks/useStudioWorkflowsNavigation.ts
  apps/web/src/studio/utils/index.ts
  apps/web/src/studio/utils/isStudioRoute.ts
  apps/web/src/studio/utils/routing.ts
  apps/web/src/studio/utils/shared.styles.ts
Labels: @novu/web

#5783 fix(api): create in-app integrations when new org is created
  apps/api/src/app/integrations/usecases/create-novu-integrations/create-novu-integrations.usecase.ts
  apps/api/src/app/organization/e2e/create-organization.e2e.ts
Labels: @novu/api

#5865 feat(web): Teach studio to connect to Novu API for execution details
  apps/web/src/api/api.client.ts
  apps/web/src/components/execution-detail/ExecutionDetailsModal.tsx
  apps/web/src/hooks/index.ts
  apps/web/src/hooks/useAPIKeys.ts
  apps/web/src/hooks/useNovuAPI.ts
  apps/web/src/pages/templates/components/ExecutionDetailsModalWrapper.tsx
  apps/web/src/studio/LocalStudioAuthenticator.tsx
  apps/web/src/studio/components/workflows/node-view/WorkflowsDetailPage.tsx
  apps/web/src/studio/hooks/useBridgeAPI.ts
  apps/web/src/studio/types.ts
Labels: @novu/web

#5862 feat(web): empty and loading states for local studio
  apps/web/src/AppRoutes.tsx
  apps/web/src/components/layout/components/v2/BridgeUpdateModalTrigger.tsx
  apps/web/src/components/layout/components/v2/ConnectionStatusIndicator.tsx
  apps/web/src/components/nav/NavMenuButton/NavMenuToggleButton.tsx
  apps/web/src/studio/components/workflows/index.ts
  apps/web/src/studio/components/workflows/landing-page/LocalStudioWorkflowLandingPage.tsx
  apps/web/src/studio/components/workflows/landing-page/WorkflowPlaceholderPage.tsx
  apps/web/src/studio/components/workflows/list/WorkflowsListPage.tsx
  apps/web/src/studio/components/workflows/node-view/StepNode.tsx
  apps/web/src/studio/components/workflows/node-view/WorkflowNodes.tsx
  apps/web/src/studio/components/workflows/node-view/WorkflowsDetailPage.tsx
  apps/web/src/studio/hooks/index.ts
  apps/web/src/studio/hooks/useBridgeConnectionStatus.ts
  apps/web/src/studio/layout/PageMeta.tsx
  apps/web/src/studio/types.ts
Labels: @novu/web

#5872 feat(web): Refactor docs to hide voting widget on error or load
  apps/web/src/components/docs/Docs.tsx
  apps/web/src/components/docs/DocsButton.tsx
  apps/web/src/components/docs/DocsModal.tsx
  apps/web/src/components/docs/useLoadDocs.tsx
  apps/web/src/components/layout/components/LocalStudioHeader/LocalStudioHeader.tsx
Labels: @novu/web

#5878 feat(web): use hook for showing execution details in onboarding
  apps/web/src/pages/studio-onboarding/success.tsx
Labels: @novu/web

#5882 feat(web): Nv 3982 run a test doesnt work in dev environment
  apps/web/src/api/api.client.ts
  apps/web/src/components/execution-detail/ExecutionDetailsModal.tsx
  apps/web/src/hooks/useNovuAPI.ts
  apps/web/src/pages/studio-onboarding/components/SetupTimeline.tsx
  apps/web/src/studio/components/workflows/test-workflow/WorkflowsTestPage.tsx
Labels: @novu/web

#5874 feat(web,novui): Loading tweaks
  apps/web/src/components/layout/components/AppShell.tsx
  apps/web/src/components/layout/components/ContentShell.tsx
  apps/web/src/components/layout/components/LocalStudioPageLayout.tsx
  apps/web/src/components/layout/components/LocalStudioSidebar/LocalStudioSidebar.tsx
  apps/web/src/components/layout/components/LocalStudioSidebar/LocalStudioSidebarContent.tsx
  apps/web/src/studio/LocalStudioAuthenticator.tsx
  apps/web/src/studio/components/workflows/node-view/StepNode.tsx
  apps/web/src/studio/components/workflows/test-workflow/WorkflowsTestPage.tsx
  libs/novui/src/types/WithLoadingSkeleton.ts
  libs/novui/src/types/index.ts
Labels: @novu/web, @novu/novui

#5879 chore(api): Move `triggerBulk`, `triggerBroadcast` and `cancel` Event API methods to the top-level of the sdk
  apps/api/src/app/events/events.controller.ts
Labels: @novu/api

#5886 fix(web): Fix show inputs when not in studio
  apps/web/src/pages/templates/editor_v2/TemplateStepEditorV2.tsx
  apps/web/src/studio/components/workflows/step-editor/WorkflowStepEditorControlsPanel.tsx
Labels: @novu/web
