Repository novuhq/novu, pull requests merged in 2024-01, with the labels that each got.

#5037 feat: new variable management and search var feature
  apps/web/src/api/notification-templates.ts
  apps/web/src/pages/templates/components/email-editor/variables-management/VarItem.tsx
  apps/web/src/pages/templates/components/email-editor/variables-management/VarItemTooltip.tsx
  apps/web/src/pages/templates/components/email-editor/variables-management/VarItemsDropdown.tsx
  apps/web/src/pages/templates/components/email-editor/variables-management/VarLabel.tsx
  apps/web/src/pages/templates/components/email-editor/variables-management/VariablesManagement.tsx
  libs/design-system/src/icons/arrows/ChevronDown.tsx
  libs/design-system/src/icons/general/EmptySearch.tsx
  libs/design-system/src/icons/general/Folder.tsx
  libs/design-system/src/icons/general/NovuIcon.tsx
  libs/design-system/src/icons/general/Workflow.tsx
  libs/design-system/src/icons/index.ts
Labels: @novu/web, @novu/design-system

#5008 Fix e2e-ee if statement
  .github/workflows/reusable-api-e2e.yml
  .github/workflows/test.yml
Labels: CI/CD

#5043 feat: add translation suggestions and style editor
  apps/web/src/pages/templates/components/CustomCodeEditor.css
  apps/web/src/pages/templates/components/CustomCodeEditor.tsx
Labels: @novu/web

#5047 Fix - add missing organization
  apps/api/src/app/workflow-overrides/e2e/create-workflow-override.e2e.ts
  apps/api/src/app/workflow-overrides/usecases/create-workflow-override/create-workflow-override.usecase.ts
Labels: @novu/api

#5049 feat: add light theme for custom code editor
  apps/web/src/pages/templates/components/CustomCodeEditor.css
  apps/web/src/pages/templates/components/CustomCodeEditor.tsx
Labels: @novu/web

#5000 Added iSend SMS Provider
  .cspell.json
  .vscode/settings.json
  apps/web/public/static/images/providers/dark/isend-sms.png
  apps/web/public/static/images/providers/dark/square/isend-sms.png
  apps/web/public/static/images/providers/light/isend-sms.png
  apps/web/public/static/images/providers/light/square/isend-sms.png
  libs/shared/src/consts/providers/channels/sms.ts
  libs/shared/src/consts/providers/credentials/provider-credentials.ts
  libs/shared/src/consts/providers/credentials/secure-credentials.ts
  libs/shared/src/consts/providers/provider.enum.ts
  libs/shared/src/entities/integration/credential.interface.ts
  packages/application-generic/package.json
  packages/application-generic/src/factories/sms/handlers/index.ts
  packages/application-generic/src/factories/sms/handlers/isend-sms.handler.ts
  packages/application-generic/src/factories/sms/sms.factory.ts
  pnpm-lock.yaml
  providers/isend-sms/.czrc
  providers/isend-sms/.eslintrc.json
  providers/isend-sms/.gitignore
  providers/isend-sms/README.md
  providers/isend-sms/jest.config.js
  providers/isend-sms/package.json
  providers/isend-sms/src/index.ts
  providers/isend-sms/src/lib/isend-sms.provider.spec.ts
  providers/isend-sms/src/lib/isend-sms.provider.ts
  providers/isend-sms/tsconfig.json
  providers/isend-sms/tsconfig.module.json
Labels: @novu/web, @novu/shared, providers

#5059 Nv 3002 email editor variables auto suggestion dropdown
  apps/web/src/pages/templates/components/email-editor/AutoSuggestionsDropdown.tsx
  apps/web/src/pages/templates/components/email-editor/TextRowContent.tsx
Labels: @novu/web

#4449 [NV-3328] fix(web,api,webhook): add missing webhook field in the integration sidebar
  apps/api/src/app/integrations/e2e/get-webhook-support-status.e2e.ts
  apps/api/src/app/integrations/integrations.controller.ts
  apps/api/src/app/integrations/usecases/get-webhook-support-status/get-webhook-support-status.command.ts
  apps/api/src/app/integrations/usecases/get-webhook-support-status/get-webhook-support-status.usecase.ts
  apps/web/cypress/tests/integrations-list-page.spec.ts
  apps/web/src/api/hooks/index.ts
  apps/web/src/api/hooks/useWebhookSupportStatus.ts
  apps/web/src/api/integration.ts
  apps/web/src/pages/integrations/IntegrationsListModal.tsx
  apps/web/src/pages/integrations/UpdateProviderPage.tsx
  apps/web/src/pages/integrations/components/multi-provider/UpdateProviderSidebar.tsx
  apps/web/src/pages/integrations/types.ts
  apps/web/src/pages/integrations/useProviders.ts
  apps/webhook/src/.env.test
  apps/webhook/src/webhooks/e2e/email-webhook.e2e.ts
  apps/webhook/src/webhooks/usecases/webhook/webhook.command.ts
  apps/webhook/src/webhooks/usecases/webhook/webhook.usecase.ts
  apps/webhook/src/webhooks/webhooks.controller.ts
  libs/embed/src/shared/resources.js
  libs/testing/src/integration.service.ts
Labels: @novu/api, @novu/web, @novu/webhook

#5062 feat(api): Add LanchDarkly feature flag for API Idempotency
  apps/api/src/app/shared/framework/idempotency.e2e.ts
  apps/api/src/app/shared/framework/idempotency.interceptor.ts
  apps/api/src/app/shared/shared.module.ts
  libs/shared/src/types/feature-flags/feature-flags.ts
  packages/application-generic/src/custom-providers/index.ts
  packages/application-generic/src/usecases/get-feature-flag/get-is-api-idempotency-enabled.use-case.ts
  packages/application-generic/src/usecases/get-feature-flag/index.ts
Labels: @novu/api, @novu/shared

#5035 feat(provider): add rocket.chat chat provider
  apps/web/public/static/images/providers/dark/rocket-chat.svg
  apps/web/public/static/images/providers/dark/square/rocket-chat.svg
  apps/web/public/static/images/providers/light/rocket-chat.svg
  apps/web/public/static/images/providers/light/square/rocket-chat.svg
  libs/shared/src/consts/providers/channels/chat.ts
  libs/shared/src/consts/providers/credentials/provider-credentials.ts
  libs/shared/src/consts/providers/provider.enum.ts
  packages/application-generic/package.json
  packages/application-generic/src/factories/chat/chat.factory.ts
  packages/application-generic/src/factories/chat/handlers/rocket-chat.handler.ts
  pnpm-lock.yaml
  providers/rocket-chat/.czrc
  providers/rocket-chat/.eslintrc.json
  providers/rocket-chat/.gitignore
  providers/rocket-chat/README.md
  providers/rocket-chat/jest.config.js
  providers/rocket-chat/package.json
  providers/rocket-chat/src/index.ts
  providers/rocket-chat/src/lib/rocket-chat.provider.spec.ts
  providers/rocket-chat/src/lib/rocket-chat.provider.ts
  providers/rocket-chat/tsconfig.json
  providers/rocket-chat/tsconfig.module.json
Labels: @novu/web, @novu/shared, providers, community

#5069 fix: add options in resend senderName
  providers/resend/src/lib/resend.provider.ts
Labels: providers

#5060 fix: add default description for secret credentials
  apps/web/src/pages/integrations/components/IntegrationSecretTextarea.tsx
Labels: @novu/web

#5077 fix: resend sdk version
  pnpm-lock.yaml
  providers/resend/package.json
  providers/resend/src/lib/resend.provider.spec.ts
  providers/resend/src/lib/resend.provider.ts
Labels: providers

#5084 fix(pkg): user 1000 instead of root
  apps/api/Dockerfile
  apps/inbound-mail/Dockerfile
  apps/web/Dockerfile
  apps/webhook/Dockerfile
  apps/widget/Dockerfile
  apps/worker/Dockerfile
  apps/ws/Dockerfile
Labels: @novu/api, @novu/web, @novu/webhook, @novu/ws, @novu/worker, @novu/inbound-mail, @novu/widget

#5085 fix: add i18n to suggestion selection
  apps/web/src/pages/templates/components/CustomCodeEditor.tsx
  apps/web/src/pages/templates/components/email-editor/AutoSuggestionsDropdown.tsx
Labels: @novu/web

#5086 fix: add novu helpers to auto suggestions
  apps/web/src/pages/templates/components/email-editor/AutoSuggestionsDropdown.tsx
Labels: @novu/web

#5014 feat(pkg): Add Open-Telemetry and Prometheus Montioring to Novu
  .cspell.json
  apps/api/src/app.module.ts
  apps/api/src/app/integrations/integrations.controller.ts
  apps/api/src/app/layouts/layouts.controller.ts
  apps/api/src/config/env-validator.ts
  apps/webhook/src/app.module.ts
  apps/webhook/src/bootstrap.ts
  apps/ws/src/app.module.ts
  apps/ws/src/bootstrap.ts
  packages/application-generic/package.json
  packages/application-generic/src/index.ts
  packages/application-generic/src/tracing/index.ts
  packages/application-generic/src/tracing/otel-wrapper.ts
  packages/application-generic/src/tracing/tracing.module.ts
  packages/application-generic/src/tracing/tracing.service.ts
  packages/application-generic/src/tracing/tracing.ts
  pnpm-lock.yaml
Labels: @novu/api, @novu/webhook, @novu/ws, Feature

#5083 Execution Detail - Route by FF to store by queue or directly to DAL layer
  apps/api/src/app/shared/shared.module.ts
  apps/worker/src/app/workflow/usecases/handle-last-failed-job/handle-last-failed-job.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/digest/digest.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/digest/get-digest-events.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-chat.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-delay.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-email.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-in-app.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-push.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-sms.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-type.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message.base.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message.usecase.ts
  apps/worker/src/app/workflow/usecases/webhook-filter-backoff-strategy/webhook-filter-backoff-strategy.usecase.ts
  apps/worker/src/app/workflow/workflow.module.ts
  libs/shared/src/types/feature-flags/feature-flags.ts
  packages/application-generic/src/custom-providers/index.ts
  packages/application-generic/src/usecases/add-job/add-delay-job.usecase.ts
  packages/application-generic/src/usecases/add-job/add-job.usecase.ts
  packages/application-generic/src/usecases/add-job/merge-or-create-digest.usecase.ts
  packages/application-generic/src/usecases/conditions-filter/conditions-filter.usecase.ts
  packages/application-generic/src/usecases/execution-log-route/execution-log-route.command.ts
  packages/application-generic/src/usecases/execution-log-route/execution-log-route.usecase.ts
  packages/application-generic/src/usecases/execution-log-route/index.ts
  packages/application-generic/src/usecases/get-feature-flag/get-is-execution-log-queue-enabled.use-case.ts
  packages/application-generic/src/usecases/get-feature-flag/index.ts
  packages/application-generic/src/usecases/index.ts
  packages/application-generic/src/usecases/select-integration/select-integration.spec.ts
Labels: @novu/api, @novu/shared, @novu/worker

#5073 fix(web): prevent updating variants to have empty conditions (front-end only)
  apps/web/cypress/tests/notification-editor/variants.spec.ts
  apps/web/src/components/conditions/Conditions.tsx
  apps/web/src/pages/templates/components/EditorSidebarHeaderActions.tsx
  apps/web/src/pages/templates/components/VariantItemCard.tsx
Labels: @novu/web

#5095 fix: autocomplete i18n files with quotations
  apps/web/src/pages/templates/components/CustomCodeEditor.tsx
  apps/web/src/pages/templates/components/email-editor/AutoSuggestionsDropdown.tsx
Labels: @novu/web

#5094 fix: duplicated in autocomplete
  apps/web/src/pages/templates/components/CustomCodeEditor.tsx
  apps/web/src/pages/templates/components/email-editor/AutoSuggestionsDropdown.tsx
Labels: @novu/web

#5089 ci: pr previews cors fix
  apps/api/src/.env.development
  apps/api/src/bootstrap.ts
  apps/api/src/config/cors.spec.ts
  apps/api/src/config/cors.ts
Labels: @novu/api

#5096 fix(api): prevent saving variants without any conditions
  apps/api/src/app/workflows/usecases/create-notification-template/create-notification-template.usecase.ts
  apps/api/src/app/workflows/usecases/update-notification-template/update-notification-template.usecase.ts
  apps/api/src/app/workflows/utils/checkIsVariantEmpty.spec.ts
  apps/api/src/app/workflows/utils/checkIsVariantEmpty.ts
  apps/api/src/app/workflows/utils/index.ts
Labels: @novu/api

#5091 fix: filters dont apply to a delay that is the first step in workflow
  apps/api/src/app/events/e2e/trigger-event.e2e.ts
  apps/worker/src/app/workflow/usecases/queue-next-job/queue-next-job.usecase.ts
  packages/application-generic/src/usecases/add-job/add-job.command.ts
  packages/application-generic/src/usecases/add-job/add-job.usecase.ts
Labels: @novu/api, @novu/worker

#5104 fix: suggestions dropdown visible
  apps/web/src/pages/templates/components/CustomCodeEditor.tsx
Labels: @novu/web

#5102 Nv 3372 add key updown support for auto suggestions navigations
  apps/web/src/pages/templates/components/email-editor/AutoSuggestionsDropdown.tsx
  apps/web/src/pages/templates/components/email-editor/TextRowContent.tsx
Labels: @novu/web

#5112 chore(web): translation management handle undefined workflow variables object
  apps/web/src/api/hooks/index.ts
  apps/web/src/api/hooks/notification-templates/index.ts
  apps/web/src/api/hooks/notification-templates/useWorkflowVariables.ts
  apps/web/src/pages/templates/components/CustomCodeEditor.tsx
  apps/web/src/pages/templates/components/email-editor/TextRowContent.tsx
  apps/web/src/pages/templates/components/email-editor/variables-management/VariablesManagement.tsx
Labels: @novu/web

#5058 [Onboarding] Get the blueprint by the trigger identifier
  apps/api/src/app/blueprint/blueprint.controller.ts
  apps/api/src/app/blueprint/e2e/get-blueprints-by-id.e2e.ts
  apps/api/src/app/blueprint/usecases/get-blueprint/get-blueprint.command.ts
  apps/api/src/app/blueprint/usecases/get-blueprint/get-blueprint.usecase.ts
  libs/dal/src/repositories/base-repository.ts
  libs/dal/src/repositories/notification-template/notification-template.repository.ts
Labels: @novu/api, @novu/dal

#5071 [Onboarding] Allow hiding get started page
  apps/web/src/api/hooks/useUserOnboardingStatus.ts
  apps/web/src/components/layout/components/SideNav.tsx
  apps/web/src/components/layout/components/VisibilityOff.tsx
  apps/web/src/components/providers/AuthProvider.tsx
  apps/web/src/hooks/useHoverOverItem.ts
  libs/design-system/src/navigation/NavLinkPopover.styles.ts
  libs/design-system/src/navigation/NavMenu.tsx
  libs/shared-web/src/hooks/useAuthController.ts
Labels: @novu/web, @novu/design-system

#5110 Fix web pipline for translations
  .github/actions/run-backend/action.yml
  .github/workflows/reusable-web-e2e.yml
  apps/web/cypress/tests/changes.spec.ts
  apps/web/cypress/tests/digest-playground.spec.ts
  apps/web/cypress/tests/notification-editor/create-notification.spec.ts
  apps/web/cypress/tests/notification-editor/main-functionality.spec.ts
  apps/web/cypress/tests/notification-editor/variants.spec.ts
  apps/web/src/pages/templates/components/CustomCodeEditor.tsx
  apps/web/src/pages/templates/editor/useDigestWorkflowTour.tsx
Labels: @novu/web, CI/CD

#5114 feat(web): hubspot embed for cloud
  .cspell.json
  .github/workflows/dev-deploy-web.yml
  .github/workflows/prod-deploy-web.yml
  .github/workflows/reusable-web-deploy.yml
  apps/web/public/index.html
Labels: @novu/web, CI/CD

#5118 feat(worker): Add customData overrides for sms and fix gupshup provider
  apps/worker/src/app/workflow/usecases/send-message/send-message-sms.usecase.ts
  packages/application-generic/src/factories/sms/handlers/gupshup.handler.ts
  packages/node/src/lib/events/events.interface.ts
  packages/stateless/src/lib/provider/provider.interface.ts
  providers/gupshup/src/lib/gupshup.provider.ts
Labels: providers, @novu/worker

#5111 feat(ci): Get a build process back to a docker build instead of a dep…
  .github/actions/docker/build-api/action.yml
  .github/actions/docker/build-worker/action.yml
  .github/workflows/dev-deploy-embed.yml
  .github/workflows/dev-deploy-inbound-mail.yml
  .github/workflows/dev-deploy-web.yml
  .github/workflows/dev-deploy-webhook.yml
  .github/workflows/dev-deploy-widget.yml
  .github/workflows/prod-deploy-api.yml
  .github/workflows/prod-deploy-embed.yml
  .github/workflows/prod-deploy-inbound-mail.yml
  .github/workflows/prod-deploy-web.yml
  .github/workflows/prod-deploy-webhook.yml
  .github/workflows/prod-deploy-widget.yml
  .github/workflows/prod-deploy-worker.yml
  .github/workflows/reusable-docker.yml
  .github/workflows/staging-deploy-web.yml
Labels: CI/CD

#5046 Add field-level encryption to API Keys
  apps/api/migrations/encrypt-api-keys/encrypt-api-keys-migration.spec.ts
  apps/api/migrations/encrypt-api-keys/encrypt-api-keys-migration.ts
  apps/api/migrations/encrypt-credentials/encrypt-credentials-migration.spec.ts
  apps/api/migrations/encrypt-credentials/encrypt-credentials-migration.ts
  apps/api/src/app/environments/dtos/environment-response.dto.ts
  apps/api/src/app/environments/e2e/get-api-keys.e2e.ts
  apps/api/src/app/environments/e2e/regenerate-api-keys.e2e.ts
  apps/api/src/app/environments/usecases/create-environment/create-environment.e2e.ts
  apps/api/src/app/environments/usecases/create-environment/create-environment.usecase.ts
  apps/api/src/app/environments/usecases/generate-unique-api-key/generate-unique-api-key.usecase.ts
  apps/api/src/app/environments/usecases/get-api-keys/get-api-keys.usecase.ts
  apps/api/src/app/environments/usecases/get-environment/get-environment.usecase.ts
  apps/api/src/app/environments/usecases/get-my-environments/get-my-environments.e2e.ts
  apps/api/src/app/environments/usecases/get-my-environments/get-my-environments.usecase.ts
  apps/api/src/app/environments/usecases/regenerate-api-keys/regenerate-api-keys.usecase.ts
  apps/api/src/app/user/usecases/update-profile-email/update-profile-email.usecase.ts
  libs/dal/src/repositories/environment/environment.entity.ts
  libs/dal/src/repositories/environment/environment.repository.ts
  libs/dal/src/repositories/environment/environment.schema.ts
  libs/shared/src/types/shared/index.ts
  packages/application-generic/src/encryption/encrypt-provider.spec.ts
  packages/application-generic/src/encryption/encrypt-provider.ts
  packages/application-generic/src/services/auth/auth.service.ts
  packages/application-generic/src/services/cache/key-builders/entities.ts
  packages/node/src/lib/changes/changes.spec.ts
Labels: @novu/api, @novu/dal, @novu/shared

#5121 feat(brevo): add support for brevo email templates
  providers/sendinblue/src/lib/brevo.provider.ts
Labels: providers, community

#5044 feat: add switch description and label
  apps/web/src/pages/integrations/components/IntegrationInput.tsx
Labels: @novu/web

#5045 fix: make date path and authenticate by token optional
  libs/shared/src/consts/providers/credentials/provider-credentials.ts
  providers/generic-sms/src/lib/generic-sms.provider.ts
Labels: @novu/shared, providers, stale

#4991 refactor: extracted worker queue chunk size to env var
  apps/worker/src/.env.development
  apps/worker/src/.env.production
  apps/worker/src/.env.test
  apps/worker/src/.example.env
  docker/local/deployment/docker-compose.yml
  packages/application-generic/src/usecases/trigger-broadcast/trigger-broadcast.usecase.ts
  packages/application-generic/src/usecases/trigger-multicast/trigger-multicast.usecase.ts
Labels: community, docker

#5067 feat(provider): add brevo-sms provider
  apps/web/public/static/images/providers/dark/brevo.svg
  apps/web/public/static/images/providers/dark/square/brevo-sms.svg
  apps/web/public/static/images/providers/light/brevo.svg
  apps/web/public/static/images/providers/light/square/brevo-sms.svg
  apps/web/src/pages/integrations/components/multi-provider/sort-providers.ts
  libs/shared/src/consts/providers/channels/sms.ts
  libs/shared/src/consts/providers/credentials/provider-credentials.ts
  libs/shared/src/consts/providers/provider.enum.ts
  packages/application-generic/package.json
  packages/application-generic/src/factories/sms/handlers/brevo-sms.handler.ts
  packages/application-generic/src/factories/sms/handlers/index.ts
  packages/application-generic/src/factories/sms/sms.factory.ts
  pnpm-lock.yaml
  providers/brevo-sms/.czrc
  providers/brevo-sms/.eslintrc.json
  providers/brevo-sms/.gitignore
  providers/brevo-sms/README.md
  providers/brevo-sms/jest.config.js
  providers/brevo-sms/package.json
  providers/brevo-sms/src/index.ts
  providers/brevo-sms/src/lib/brevo-sms.provider.spec.ts
  providers/brevo-sms/src/lib/brevo-sms.provider.ts
  providers/brevo-sms/src/lib/dateIsValid.ts
  providers/brevo-sms/src/lib/objectToEqual.ts
  providers/brevo-sms/tsconfig.json
  providers/brevo-sms/tsconfig.module.json
Labels: @novu/web, @novu/shared, providers, community

#4986 Refactor move inbound mail parser to worker
  apps/api/src/app/auth/usecases/login/login.usecase.ts
  apps/api/src/app/auth/usecases/register/user-register.usecase.ts
  apps/api/src/app/inbound-parse/e2e/inbound-email-parse.e2e.ts
  apps/api/src/app/inbound-parse/inbound-parse.module.ts
  apps/api/src/app/inbound-parse/usecases/index.ts
  apps/api/src/app/shared/helpers/hmac.service.ts
  apps/api/src/app/subscribers/e2e/chat-oauth-callback.e2e.ts
  apps/api/src/app/subscribers/e2e/chat-oauth.e2e.ts
  apps/api/src/app/subscribers/usecases/chat-oauth/chat-oauth.usecase.ts
  apps/api/src/app/user/usecases/get-my-profile/get-my-profile.usecase.ts
  apps/api/src/app/widgets/e2e/initialize-widget-session.e2e.ts
  apps/api/src/app/widgets/usecases/initialize-session/initialize-session.usecase.ts
  apps/worker/src/app/shared/utils/hmac.ts
  apps/worker/src/app/shared/utils/index.ts
  apps/worker/src/app/workflow/specs/inbound-email-parse.spec.ts
  apps/worker/src/app/workflow/usecases/inbound-email-parse/inbound-email-parse.command.ts
  apps/worker/src/app/workflow/usecases/inbound-email-parse/inbound-email-parse.usecase.ts
  apps/worker/src/app/workflow/workers/inbound-parse.worker.service.ts
  apps/worker/src/app/workflow/workflow.module.ts
  apps/worker/src/config/worker-init.config.ts
  libs/testing/src/index.ts
  packages/application-generic/src/index.ts
Labels: @novu/api, @novu/worker

#5117 Feat(API): Add Remove Messages By Bulk
  apps/api/src/app/widgets/dtos/remove-messages-bulk-request.dto.ts
  apps/api/src/app/widgets/e2e/remove-messages-bulk.e2e.ts
  apps/api/src/app/widgets/usecases/index.ts
  apps/api/src/app/widgets/usecases/remove-messages-bulk/remove-messages-bulk.command.ts
  apps/api/src/app/widgets/usecases/remove-messages-bulk/remove-messages-bulk.usecase.ts
  apps/api/src/app/widgets/widgets.controller.ts
Labels: @novu/api

#5138 fix: translation missing warning not working
  apps/web/src/pages/templates/components/CustomCodeEditor.tsx
Labels: @novu/web

#5100 feat(api, web, shared, app-gen): Refactor feature flags for key enum
  .eslintrc.js
  apps/api/src/.env.development
  apps/api/src/.env.production
  apps/api/src/.env.test
  apps/api/src/.example.env
  apps/api/src/app/events/e2e/map-trigger-recipients.e2e.ts
  apps/api/src/app/events/e2e/trigger-event-topic.e2e.ts
  apps/api/src/app/rate-limiting/guards/throttler.guard.ts
  apps/api/src/app/shared/framework/idempotency.interceptor.ts
  apps/api/src/app/shared/shared.module.ts
  apps/api/src/config/env-validator.ts
  apps/web/src/components/layout/components/SideNav.tsx
  apps/web/src/config/index.ts
  apps/web/src/hooks/useFeatureFlags.ts
  apps/web/src/pages/templates/WorkflowListPage.tsx
  apps/web/src/pages/templates/hooks/useTemplatesStoreModal.tsx
  apps/worker/src/app/shared/shared.module.ts
  apps/worker/src/app/workflow/usecases/send-message/digest/digest.usecase.ts
  apps/worker/src/app/workflow/workflow.module.ts
  libs/shared-web/src/config.ts
  libs/shared-web/src/hooks/useFeatureFlags.ts
  libs/shared/jest.config.js
  libs/shared/jest.setup.js
  libs/shared/package.json
  libs/shared/src/services/feature-flags/feature-flags.util.spec.ts
  libs/shared/src/services/feature-flags/feature-flags.util.ts
  libs/shared/src/services/feature-flags/index.ts
  libs/shared/src/services/index.ts
  libs/shared/src/types/feature-flags/feature-flags.ts
  libs/shared/src/types/feature-flags/flags.types.spec.ts
  libs/shared/src/types/feature-flags/flags.types.ts
  libs/shared/tsconfig.json
  packages/application-generic/src/.env.test
  packages/application-generic/src/custom-providers/index.ts
  packages/application-generic/src/usecases/execution-log-route/execution-log-route.usecase.ts
  packages/application-generic/src/usecases/get-feature-flag/get-feature-flag.command.ts
  packages/application-generic/src/usecases/get-feature-flag/get-feature-flag.test.ts
  packages/application-generic/src/usecases/get-feature-flag/get-feature-flag.use-case.ts
  packages/application-generic/src/usecases/get-feature-flag/get-is-api-idempotency-enabled.use-case.ts
  packages/application-generic/src/usecases/get-feature-flag/get-is-api-rate-limiting-enabled.use-case.ts
  packages/application-generic/src/usecases/get-feature-flag/get-is-execution-log-queue-enabled.use-case.ts
  packages/application-generic/src/usecases/get-feature-flag/get-is-in-memory-cluster-mode-enabled.use-case.ts
  packages/application-generic/src/usecases/get-feature-flag/get-is-template-store-enabled.use-case.ts
  packages/application-generic/src/usecases/get-feature-flag/get-is-topic-notification-enabled.use-case.ts
  packages/application-generic/src/usecases/get-feature-flag/get-is-translation-manager-enabled.use-case.ts
  packages/application-generic/src/usecases/get-feature-flag/get-use-merged-digest-id.use-case.ts
  packages/application-generic/src/usecases/get-feature-flag/index.ts
  packages/application-generic/src/usecases/map-trigger-recipients/map-trigger-recipients.use-case.ts
  packages/application-generic/src/usecases/select-integration/select-integration.spec.ts
  pnpm-lock.yaml
Labels: @novu/api, @novu/web, @novu/shared, @novu/worker
