Repository novuhq/novu, pull requests merged in 2024-02, with the labels that each got.

#5126 feat(notification-center): add use remove notifications hook
  packages/notification-center/src/hooks/useRemoveNotifications.ts
  packages/notification-center/src/store/notifications-provider.context.tsx
Labels: @novu/notification-center

#5079 [Onboarding] Create the layout component for the onboarding page
  apps/web/src/App.tsx
  apps/web/src/components/layout/components/SideNav.tsx
  apps/web/src/constants/onboarding-tabs.ts
  apps/web/src/pages/auth/components/QuestionnaireForm.tsx
  apps/web/src/pages/auth/components/dynamic-checkbox/DynamicCheckBox.styles.ts
  apps/web/src/pages/auth/components/dynamic-checkbox/DynamicCheckBox.tsx
  apps/web/src/pages/get-started/GetStartedPage.tsx
  apps/web/src/pages/get-started/components/GetStartedTabs.style.ts
  apps/web/src/pages/get-started/components/GetStartedTabs.tsx
  apps/web/src/pages/get-started/consts.tsx
  apps/web/src/pages/get-started/layout/GetStartedTab.tsx
  apps/web/src/pages/get-started/layout/HeaderLayout.tsx
  apps/web/src/pages/get-started/types.ts
  libs/design-system/src/tooltip/Tooltip.tsx
  libs/shared/src/types/organization/index.ts
Labels: @novu/web, @novu/shared, @novu/design-system

#5125 feat(headless): add remove notifications method
  packages/client/src/api/api.service.ts
  packages/headless/src/lib/headless.service.ts
  packages/notification-center/src/hooks/useRemoveNotifications.ts
  packages/notification-center/src/store/notifications-provider.context.tsx
Labels: @novu/notification-center

#5107 NV-3417: Pagination component + vitest setup
  libs/design-system/.storybook/preview.jsx
  libs/design-system/package.json
  libs/design-system/src/button/Button.tsx
  libs/design-system/src/index.ts
  libs/design-system/src/input/Input.tsx
  libs/design-system/src/pagination/ControlBar.tsx
  libs/design-system/src/pagination/ControlButton.tsx
  libs/design-system/src/pagination/GoToPageInput.tsx
  libs/design-system/src/pagination/IconControlButton.tsx
  libs/design-system/src/pagination/PageSizeSelect.tsx
  libs/design-system/src/pagination/Pagination.const.ts
  libs/design-system/src/pagination/Pagination.stories.tsx
  libs/design-system/src/pagination/Pagination.tsx
  libs/design-system/src/pagination/PaginationContext.tsx
  libs/design-system/src/pagination/index.ts
  libs/design-system/src/pagination/util/clampPageNumber.spec.ts
  libs/design-system/src/pagination/util/clampPageNumber.ts
  libs/design-system/src/pagination/util/getPaginationSymbols.spec.ts
  libs/design-system/src/pagination/util/getPaginationSymbols.ts
  libs/design-system/src/pagination/util/index.ts
  libs/design-system/src/select/Select.tsx
  libs/design-system/src/utils/clamp.spec.ts
  libs/design-system/src/utils/clamp.ts
  libs/design-system/src/utils/index.ts
  libs/design-system/vite.config.ts
  pnpm-lock.yaml
Labels: @novu/design-system

#5149 fix: change whatsapp with discord for chat step
  apps/web/public/static/images/providers/dark/square/getstream.svg
  apps/web/public/static/images/providers/light/square/getstream.svg
  apps/web/src/pages/quick-start/consts.tsx
Labels: @novu/web

#5135 fix: isend sms provider unexpected provider error
  apps/api/src/app/integrations/dtos/credentials.dto.ts
  apps/web/public/static/images/providers/dark/square/isend-sms.png
  apps/web/public/static/images/providers/dark/square/isend-sms.svg
  apps/web/public/static/images/providers/light/square/isend-sms.png
  apps/web/public/static/images/providers/light/square/isend-sms.svg
  apps/web/src/pages/integrations/components/multi-provider/sort-providers.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-sms.usecase.ts
  libs/dal/src/repositories/integration/integration.schema.ts
  libs/shared/src/consts/providers/channels/sms.ts
  package.json
  pnpm-lock.yaml
  providers/isend-sms/src/lib/isend-sms.provider.ts
  providers/rocket-chat/package.json
Labels: @novu/api, @novu/web, @novu/dal, @novu/shared, providers, @novu/worker

#5128 Create the channel preview sidebar and route
  apps/web/cypress/tests/changes.spec.ts
  apps/web/cypress/tests/notification-editor/create-notification.spec.ts
  apps/web/cypress/tests/notification-editor/index.ts
  apps/web/cypress/tests/notification-editor/main-functionality.spec.ts
  apps/web/cypress/tests/notification-editor/steps-actions.spec.ts
  apps/web/cypress/tests/notification-editor/variants.spec.ts
  apps/web/cypress/tests/tenants-page.spec.ts
  apps/web/src/App.tsx
  apps/web/src/components/workflow/FlowEditor.tsx
  apps/web/src/pages/templates/components/ChannelPreview.tsx
  apps/web/src/pages/templates/components/ChannelPreviewSidebar.tsx
  apps/web/src/pages/templates/components/EditorSidebarHeaderActions.tsx
  apps/web/src/pages/templates/editor/useStartFromScratchTour.tsx
  apps/web/src/pages/templates/hooks/useNavigateFromEditor.ts
  apps/web/src/pages/templates/workflow/NameInput.tsx
  apps/web/src/pages/templates/workflow/WorkflowEditor.tsx
  libs/design-system/src/sidebar/Sidebar.tsx
Labels: @novu/web, @novu/design-system

#5155 fix: side bar title color based on theme
  apps/web/src/pages/templates/components/WorkflowSidebar.tsx
  libs/design-system/src/config/colors.ts
Labels: @novu/web, @novu/design-system

#5139 ARM Architecture Support
  .cspell.json
  .github/actions/docker/build-api/action.yml
  .github/actions/docker/build-worker/action.yml
  .github/workflows/dev-deploy-inbound-mail.yml
  .github/workflows/dev-deploy-ws.yml
  .github/workflows/prod-deploy-api.yml
  .github/workflows/prod-deploy-inbound-mail.yml
  .github/workflows/prod-deploy-worker.yml
  .github/workflows/prod-deploy-ws.yml
  .github/workflows/reusable-docker.yml
  apps/api/Dockerfile
  apps/api/package.json
  apps/inbound-mail/Dockerfile
  apps/inbound-mail/package.json
  apps/web/Dockerfile
  apps/web/package.json
  apps/webhook/Dockerfile
  apps/webhook/package.json
  apps/widget/Dockerfile
  apps/widget/package.json
  apps/worker/Dockerfile
  apps/worker/package.json
  apps/ws/Dockerfile
  apps/ws/package.json
  libs/embed/Dockerfile
  libs/embed/package.json
Labels: @novu/api, @novu/web, @novu/webhook, @novu/ws, @novu/worker, CI/CD, @novu/inbound-mail, @novu/widget

#5160 fix(api): bulk create subscribers after they were deleted
  apps/api/src/app/subscribers/e2e/bulk-create-subscribers.e2e.ts
  libs/dal/src/repositories/subscriber/subscriber.repository.ts
Labels: @novu/api, @novu/dal

#5147 feat(provider): add ring central provider (#77)
  .cspell.json
  apps/web/public/static/images/providers/dark/ring-central.svg
  apps/web/public/static/images/providers/light/ring-central.svg
  libs/shared/src/consts/providers/channels/sms.ts
  libs/shared/src/consts/providers/credentials/provider-credentials.ts
  libs/shared/src/consts/providers/provider.enum.ts
  package.json
  packages/application-generic/package.json
  packages/application-generic/src/factories/sms/handlers/index.ts
  packages/application-generic/src/factories/sms/handlers/ring-central.handler.ts
  packages/application-generic/src/factories/sms/sms.factory.ts
  pnpm-lock.yaml
  providers/ring-central/.czrc
  providers/ring-central/.eslintrc.json
  providers/ring-central/.gitignore
  providers/ring-central/README.md
  providers/ring-central/jest.config.js
  providers/ring-central/package.json
  providers/ring-central/src/index.ts
  providers/ring-central/src/lib/ring-central.provider.spec.ts
  providers/ring-central/src/lib/ring-central.provider.ts
  providers/ring-central/tsconfig.json
  providers/ring-central/tsconfig.module.json
Labels: @novu/web, @novu/shared, providers, community

#5159 Fix client payload on remove messages
  packages/client/src/api/api.service.ts
  packages/headless/src/lib/headless.service.test.ts
  packages/notification-center/src/hooks/index.ts
Labels: @novu/notification-center

#5136 NV-1971: Connect Pagination for Workflows
  apps/web/src/components/layout/components/ListPage.tsx
  apps/web/src/hooks/usePaginatedQuery.ts
  apps/web/src/hooks/useTemplates.ts
  apps/web/src/pages/templates/WorkflowListPage.tsx
  libs/design-system/package.json
  libs/design-system/setup-tests.ts
  libs/design-system/src/pagination/ControlBar.tsx
  libs/design-system/src/pagination/ControlButton.tsx
  libs/design-system/src/pagination/GoToPageInput.tsx
  libs/design-system/src/pagination/IconControlButton.tsx
  libs/design-system/src/pagination/PageSizeSelect.tsx
  libs/design-system/src/pagination/Pagination.tsx
  libs/design-system/src/pagination/PaginationContext.tsx
  libs/design-system/src/pagination/index.ts
  libs/design-system/src/pagination/usePaginationState.spec.tsx
  libs/design-system/src/pagination/usePaginationState.ts
  libs/design-system/src/pagination/util/getPageNumberForNewPageSize.spec.ts
  libs/design-system/src/pagination/util/getPageNumberForNewPageSize.ts
  libs/design-system/src/pagination/util/index.ts
  libs/design-system/tsconfig.json
  libs/design-system/vite.config.ts
  libs/design-system/vitest.config.ts
  pnpm-lock.yaml
Labels: @novu/web, @novu/design-system

#5137 [Onboarding] - Create reusable collapsible stepper component
  apps/web/src/components/layout/components/Card.tsx
  apps/web/src/pages/get-started/GetStartedPage.tsx
  apps/web/src/pages/get-started/components/get-started-tabs/GetStartedTabs.style.ts
  apps/web/src/pages/get-started/components/get-started-tabs/GetStartedTabs.tsx
  apps/web/src/pages/get-started/components/timeline/Timeline.styles.ts
  apps/web/src/pages/get-started/components/timeline/Timeline.tsx
  apps/web/src/pages/get-started/consts.tsx
  apps/web/src/pages/get-started/consts/DelayUseCase.const.tsx
  apps/web/src/pages/get-started/consts/DigestUseCase.const.tsx
  apps/web/src/pages/get-started/consts/InAppUseCase.const.tsx
  apps/web/src/pages/get-started/consts/MultiChannelUseCase.const.tsx
  apps/web/src/pages/get-started/consts/TranslationUseCase.const.tsx
  apps/web/src/pages/get-started/consts/UseCases.const.tsx
  apps/web/src/pages/get-started/consts/shared.tsx
  apps/web/src/pages/get-started/consts/types.ts
  apps/web/src/pages/get-started/layout/GetStartedTab.tsx
Labels: @novu/web

#5162 refactor(infra): EE symlinks
  .gitignore
  enterprise/packages/auth/package.json
  enterprise/packages/auth/src
  enterprise/packages/billing-web/package.json
  enterprise/packages/billing/package.json
  enterprise/packages/libs/dal/package.json
  enterprise/packages/libs/dal/src
  enterprise/packages/translation-web/package.json
  enterprise/packages/translation-web/src
  enterprise/packages/translation/package.json
  enterprise/packages/translation/src
  package.json
  scripts/symlink-ee.mjs
Labels: scripts

#5172 Nv 3475 - typeerror cannot create property buttons on string
  apps/api/src/app/message-template/usecases/create-message-template/create-message-template.usecase.ts
  apps/api/src/app/workflows/e2e/update-notification-template.e2e.ts
  apps/web/src/pages/templates/components/in-app-editor/preview/InAppWidgetPreview.tsx
Labels: @novu/api, @novu/web

#5176 hotfix: NV-3475
  apps/api/src/app/message-template/usecases/create-message-template/create-message-template.usecase.ts
  apps/api/src/app/workflows/e2e/update-notification-template.e2e.ts
  apps/web/src/pages/templates/components/in-app-editor/preview/InAppWidgetPreview.tsx
Labels: @novu/api, @novu/web

#5177 revert(api): Disabling NX cache
  .github/actions/docker/build-api/action.yml
  .github/actions/run-api/action.yml
  apps/api/Dockerfile
Labels: @novu/api, CI/CD

#5169 [Onboarding]: NV-3415 | Feature flag and conditional rendering setup
  apps/web/src/App.tsx
  apps/web/src/AppRoutes.tsx
  apps/web/src/Providers.tsx
  apps/web/src/config/index.ts
  apps/web/src/hooks/useFeatureFlags.ts
  apps/web/src/index.tsx
  apps/web/src/initializeApp.ts
  apps/web/src/pages/get-started/GetStartedPage.tsx
  apps/web/src/pages/get-started/components/timeline/Timeline.styles.ts
  apps/web/src/pages/get-started/consts/InAppUseCase.const.tsx
  apps/web/src/pages/get-started/consts/shared.tsx
  apps/web/src/pages/get-started/layout/GetStartedTab.tsx
  libs/shared-web/src/config.ts
  libs/shared/src/types/feature-flags/feature-flags.ts
Labels: @novu/web, @novu/shared

#5187 Auto Remove Deleted Subscribers from topic
  apps/api/migrations/topic-subscriber-normalize/topic-subscriber-normalize.migration.spec.ts
  apps/api/migrations/topic-subscriber-normalize/topic-subscriber-normalize.migration.ts
  apps/api/src/app/subscribers/e2e/remove-subscriber.e2e.ts
  apps/api/src/app/subscribers/usecases/remove-subscriber/remove-subscriber.usecase.ts
Labels: @novu/api

#5181 fix(ci): Mount token to a build svc command
  apps/api/Dockerfile
  apps/inbound-mail/Dockerfile
  apps/worker/Dockerfile
Labels: @novu/api, @novu/worker, @novu/inbound-mail

#5180 Nv 3006 - the new chat editor
  apps/web/cypress/tests/notification-editor/variants.spec.ts
  apps/web/src/components/workflow/preview/chat/ChatPreview.tsx
  apps/web/src/pages/templates/components/CustomCodeEditor.css
  apps/web/src/pages/templates/components/EditVariablesModal.tsx
  apps/web/src/pages/templates/components/StepEditorSidebar.tsx
  apps/web/src/pages/templates/components/VariableManagementButton.tsx
  apps/web/src/pages/templates/components/chat-editor/TemplateChatEditor.tsx
  apps/web/src/pages/templates/components/email-editor/EmailMessagesCards.tsx
  apps/web/src/pages/templates/components/email-editor/variables-management/VariablesManagement.tsx
  apps/web/src/pages/templates/components/in-app-editor/TemplateInAppEditor.tsx
  apps/web/src/pages/templates/hooks/useEditTemplateContent.ts
  libs/design-system/src/icons/general/CurlyBrackets.tsx
  libs/design-system/src/icons/index.ts
Labels: @novu/web, @novu/design-system

#5193 fix: sender name and preheader not promoted
  apps/api/src/app/change/usecases/promote-message-template-change/promote-message-template-change.ts
  apps/api/src/app/workflows/e2e/create-notification-templates.e2e.ts
  apps/api/src/app/workflows/e2e/update-notification-template.e2e.ts
Labels: @novu/api

#5194 hotfix: sender name and preheader are not promoted
  apps/api/src/app/change/usecases/promote-message-template-change/promote-message-template-change.ts
  apps/api/src/app/workflows/e2e/create-notification-templates.e2e.ts
  apps/api/src/app/workflows/e2e/update-notification-template.e2e.ts
Labels: @novu/api

#5190 [Onboarding] - Groundwork for all use cases
  apps/web/src/pages/get-started/components/GetStartedAnimationContainer.tsx
  apps/web/src/pages/get-started/components/timeline/Timeline.styles.ts
  apps/web/src/pages/get-started/consts/DelayUseCase.const.tsx
  apps/web/src/pages/get-started/consts/DigestUseCase.const.tsx
  apps/web/src/pages/get-started/consts/InAppUseCase.const.tsx
  apps/web/src/pages/get-started/consts/MultiChannelUseCase.const.tsx
  apps/web/src/pages/get-started/consts/TranslationUseCase.const.tsx
  apps/web/src/pages/get-started/consts/shared.tsx
  apps/web/src/pages/integrations/useGetIntegrationsByChannel.ts
Labels: @novu/web

#5200 chore: Expose stripe client key to Web app
  .github/workflows/reusable-web-deploy.yml
Labels: CI/CD

#5196 Nv-3365: Material Design Icons
  libs/design-system/package.json
  libs/design-system/src/ThemeProvider.tsx
  libs/design-system/src/icons/index.ts
  libs/design-system/src/iconsV2/Icon.const.ts
  libs/design-system/src/iconsV2/Icon.md
  libs/design-system/src/iconsV2/Icon.stories.tsx
  libs/design-system/src/iconsV2/Icon.types.ts
  libs/design-system/src/iconsV2/IconProvider.tsx
  libs/design-system/src/iconsV2/icon-registry.ts
  libs/design-system/src/iconsV2/index.ts
  libs/design-system/src/iconsV2/react-icons-md.d.ts
  libs/design-system/src/iconsV2/react-icons.d.ts
  libs/design-system/src/index.ts
  pnpm-lock.yaml
Labels: @novu/design-system

#5189 feat: add workflow creation from blueprint
  apps/web/src/api/hooks/notification-templates/useFetchBlueprints.ts
  apps/web/src/pages/get-started/components/CreateWorkflowButton.tsx
  apps/web/src/pages/get-started/components/GetStartedAnimationContainer.tsx
  apps/web/src/pages/get-started/components/timeline/Timeline.styles.ts
  apps/web/src/pages/get-started/consts/DelayUseCase.const.tsx
  apps/web/src/pages/get-started/consts/DigestUseCase.const.tsx
  apps/web/src/pages/get-started/consts/InAppUseCase.const.tsx
  apps/web/src/pages/get-started/consts/MultiChannelUseCase.const.tsx
  apps/web/src/pages/get-started/consts/TranslationUseCase.const.tsx
  apps/web/src/pages/get-started/consts/shared.tsx
  apps/web/src/pages/integrations/useGetIntegrationsByChannel.ts
  apps/web/src/pages/templates/shared/index.ts
  apps/web/src/utils/index.ts
  apps/web/src/utils/templates.ts
  libs/dal/src/repositories/notification-template/notification-template.repository.ts
Labels: @novu/web, @novu/dal

#5191 Nv 3004 the new push editor
  apps/web/cypress/tests/notification-editor/variants.spec.ts
  apps/web/src/api/hooks/usePreviewPush.tsx
  apps/web/src/components/workflow/preview/push/Content.tsx
  apps/web/src/components/workflow/preview/push/PushPreview.tsx
  apps/web/src/components/workflow/preview/sms/SmsPreview.tsx
  apps/web/src/pages/templates/components/CustomCodeEditor.tsx
  apps/web/src/pages/templates/components/StepEditorSidebar.tsx
  apps/web/src/pages/templates/components/TemplatePushEditor.tsx
  apps/web/src/pages/templates/hooks/usePreviewPushTemplate.ts
  apps/web/src/pages/templates/hooks/useTemplateLocales.ts
Labels: @novu/web

#5175 feat(api-migration): create cta action migration
  apps/api/migrations/normalize-message-template-cta-action/normalize-message-cta-action-migration.ts
  apps/api/migrations/normalize-message-template-cta-action/normalize-message-template-cta-action-migration.spec.ts
  apps/api/migrations/normalize-message-template-cta-action/normalize-message-template-cta-action-migration.ts
Labels: @novu/api

#5205 Nv 3077 update the preview in the in app editor
  apps/web/cypress/tests/notification-editor/create-notification.spec.ts
  apps/web/src/api/hooks/usePreviewInApp.tsx
  apps/web/src/components/workflow/preview/common/PreviewEditOverlay.tsx
  apps/web/src/components/workflow/preview/common/icons/InAppHeaderIcons.tsx
  apps/web/src/components/workflow/preview/in-app/Content.styles.ts
  apps/web/src/components/workflow/preview/in-app/Content.tsx
  apps/web/src/components/workflow/preview/in-app/Header.tsx
  apps/web/src/components/workflow/preview/in-app/InAppPreview.tsx
  apps/web/src/pages/templates/components/ChannelPreview.tsx
  apps/web/src/pages/templates/components/in-app-editor/InAppContentCard.tsx
  apps/web/src/pages/templates/hooks/usePreviewInAppTemplate.ts
Labels: @novu/web

#5028 fix(web): specify novu version in client
  apps/web/config-overrides.js
  libs/shared-web/src/config.ts
Labels: @novu/web, community, stale

#5141 fix: change workflow response to workflows response dto
  apps/api/src/app/workflows/workflow.controller.ts
Labels: @novu/api

#5165 feat(worker): add topics fanout in batches by cursor
  apps/api/src/app/events/e2e/trigger-multicast.e2e.ts
  apps/api/src/app/events/e2e/trigger-multicast.spec.ts
  apps/api/src/app/topics/e2e/helpers/index.ts
  libs/dal/src/repositories/topic/topic-subscribers.repository.ts
  packages/application-generic/src/usecases/trigger-multicast/trigger-multicast.usecase.ts
Labels: @novu/api, @novu/dal

#5211 feat(api): Add idempotent subscriber credential update operation
  apps/api/src/app/subscribers/subscribers.controller.ts
  apps/api/src/app/subscribers/usecases/chat-oauth-callback/chat-oauth-callback.usecase.ts
  apps/api/src/app/subscribers/usecases/delete-subscriber-credentials/delete-subscriber-credentials.spec.ts
  apps/api/src/app/subscribers/usecases/update-subscriber-channel/update-subscriber-channel.command.ts
  apps/api/src/app/subscribers/usecases/update-subscriber-channel/update-subscriber-channel.spec.ts
  apps/api/src/app/subscribers/usecases/update-subscriber-channel/update-subscriber-channel.usecase.ts
Labels: @novu/api

#5216 fix: api key migration widget initialize failure
  apps/api/src/app/widgets/e2e/initialize-widget-session.e2e.ts
  apps/api/src/app/widgets/usecases/initialize-session/initialize-session.usecase.ts
Labels: @novu/api

#5220 fix(ci): Setup qemu to fix a docker exporter
  .github/workflows/prod-deploy-api.yml
  .github/workflows/prod-deploy-inbound-mail.yml
  .github/workflows/prod-deploy-worker.yml
  .github/workflows/prod-deploy-ws.yml
Labels: CI/CD

#5221 fix(ci): --load for WS service
  .github/workflows/prod-deploy-ws.yml
Labels: CI/CD

#5203 chore(web): marketing utm campaign on doc links
  apps/web/cypress/tests/digest-playground.spec.ts
  apps/web/cypress/tests/integrations-list-modal.spec.ts
  apps/web/cypress/tests/integrations-list-page.spec.ts
  apps/web/cypress/tests/layout/side-menu.spec.ts
  apps/web/src/components/layout/components/SideNav.tsx
  apps/web/src/components/quick-start/digest-demo-flow/consts.ts
  apps/web/src/components/utils/Spotlight.tsx
  apps/web/src/pages/auth/components/SignUpForm.tsx
  apps/web/src/pages/integrations/components/FrameworkDisplay.tsx
  apps/web/src/pages/integrations/components/NovuInAppForm.tsx
  apps/web/src/pages/integrations/components/NovuInAppFrameworks.tsx
  apps/web/src/pages/integrations/components/NovuProviderBase.tsx
  apps/web/src/pages/quick-start/consts.tsx
  apps/web/src/pages/quick-start/steps/GetStarted.tsx
  apps/web/src/pages/templates/TemplatesDigestPlaygroundPage.tsx
  libs/design-system/src/iconsV2/IconProvider.tsx
  libs/shared/src/consts/providers/channels/chat.ts
  libs/shared/src/consts/providers/channels/email.ts
  libs/shared/src/consts/providers/channels/in-app.ts
  libs/shared/src/consts/providers/channels/push.ts
  libs/shared/src/consts/providers/channels/sms.ts
  libs/shared/src/ui/index.ts
  libs/shared/src/ui/marketing.ts
Labels: @novu/web, @novu/shared, @novu/design-system

#5226 Remove Helm Default Encryption Key
  docker/kubernetes/helm/README.md
  docker/kubernetes/helm/values.yaml
Labels: helm, docker

#5199 [Onboarding] Digest Tab
  apps/web/src/api/hooks/useUserOnboardingStatus.ts
  apps/web/src/components/TimerControl.tsx
  apps/web/src/pages/get-started/GetStartedPage.tsx
  apps/web/src/pages/get-started/components/get-started-tabs/GetStartedTabs.tsx
  apps/web/src/pages/get-started/components/get-started-tabs/useGetStartedTabView.ts
  apps/web/src/pages/get-started/components/get-started-tabs/useGetStartedTabs.ts
  apps/web/src/pages/get-started/components/timeline/Timeline.tsx
  apps/web/src/pages/get-started/consts/DigestUseCase.const.tsx
  apps/web/src/pages/get-started/consts/DigestUsecasePlaygroundView.const.tsx
  apps/web/src/pages/get-started/consts/GetStartedTabsViewsEnum.ts
  apps/web/src/pages/get-started/consts/shared.tsx
  apps/web/src/pages/get-started/consts/types.ts
  apps/web/src/pages/get-started/layout/GetStartedTab.tsx
  apps/web/src/pages/get-started/layout/HeaderLayout.tsx
  libs/design-system/src/icons/general/CountdownTimer.tsx
Labels: @novu/web, @novu/design-system

#5229 [Onboarding] NV-3348: Questionnaire Styling Fix & Tests
  apps/web/public/animations/get-started/delay.riv
  apps/web/public/animations/get-started/digest.riv
  apps/web/public/animations/get-started/multi-channel.riv
  apps/web/public/fonts/Lato.ttf
  apps/web/src/pages/auth/components/QuestionnaireForm.tsx
  apps/web/src/pages/get-started/components/GetStartedAnimation.tsx
  apps/web/src/pages/get-started/components/get-started-tabs/GetStartedTabs.const.tsx
Labels: @novu/web

#5234 fix: subscriber details not available for digest filters
  packages/application-generic/src/usecases/add-job/add-job.usecase.ts
Labels: community

#5231 fix(web): pagination search params on activity feed page
  apps/web/src/api/hooks/notification-templates/useCreateDigestDemoWorkflow.ts
  apps/web/src/components/quick-start/in-app-onboarding/TriggerNode.tsx
  apps/web/src/constants/workflowConstants.ts
  apps/web/src/hooks/useTemplates.ts
  apps/web/src/pages/activities/ActivitiesPage.tsx
  apps/web/src/pages/templates/WorkflowListPage.tsx
  libs/design-system/src/pagination/usePaginationState.spec.tsx
  libs/design-system/src/pagination/usePaginationState.ts
Labels: @novu/web, @novu/design-system

#5233 chore(web): refactor onboarding create workflow from blueprint logic
  apps/web/src/api/notification-templates.ts
  apps/web/src/hooks/index.ts
  apps/web/src/hooks/useCreateWorkflowFromBlueprint.ts
  apps/web/src/pages/auth/components/QuestionnaireForm.tsx
  apps/web/src/pages/get-started/components/OpenWorkflowButton.tsx
  apps/web/src/pages/get-started/utils/workflowEditorUrl.ts
  apps/web/src/utils/index.ts
  apps/web/src/utils/url.ts
  libs/design-system/src/navigation/NavMenu.tsx
Labels: @novu/web, @novu/design-system

#5235 [Onboarding] NV-3262 | Cypress tests
  apps/web/cypress/global.d.ts
  apps/web/cypress/plugins/index.ts
  apps/web/cypress/support/commands.ts
  apps/web/cypress/tests/get-started-page.spec.ts
  apps/web/cypress/tests/templates-store.spec.ts
  apps/web/src/pages/get-started/components/OpenWorkflowButton.tsx
  apps/web/src/pages/get-started/consts/DelayUseCase.const.tsx
  apps/web/src/pages/get-started/consts/DigestUseCase.const.tsx
  apps/web/src/pages/get-started/consts/InAppUseCase.const.tsx
  apps/web/src/pages/get-started/consts/MultiChannelUseCase.const.tsx
  apps/web/src/pages/get-started/consts/TranslationUseCase.const.tsx
  apps/web/src/pages/get-started/consts/shared.tsx
  apps/web/src/pages/quick-start/components/layout/GetStartedLayout.tsx
  libs/shared/src/consts/template-store/index.ts
  libs/testing/src/notification-template.service.ts
Labels: @novu/web, @novu/shared

#5242 NV-3497 - Pagination Tweaks
  libs/design-system/src/pagination/ControlButton.tsx
  libs/design-system/src/pagination/GoToPageInput.tsx
Labels: @novu/design-system
