Repository novuhq/novu, pull requests merged in 2024-09, with the labels that each got.

#6376 fix(web): pixel perfect UI implementation of clerk components
  .cspell.json
  apps/web/panda.config.ts
  apps/web/src/AppRoutes.tsx
  apps/web/src/constants/routes.ts
  apps/web/src/ee/billing/components/FreeTrialSidebarWidget.tsx
  apps/web/src/ee/clerk/EnterpriseAuthRoutes.tsx
  apps/web/src/ee/clerk/components/UserProfileButton.tsx
  apps/web/src/ee/clerk/pages/ManageAccountPage.styles.ts
  apps/web/src/ee/clerk/pages/ManageAccountPage.tsx
  apps/web/src/ee/clerk/providers/ClerkProvider.tsx
Labels: @novu/web

#6421 chore(web): move staging back to novu-staging.co
  .github/workflows/dev-deploy-web.yml
  apps/web/netlify.toml
Labels: @novu/web, CI/CD

#6424 fix(web): fix typo in URL
  .github/workflows/dev-deploy-web.yml
  apps/web/netlify.toml
Labels: @novu/web, CI/CD

#6427 feat(api): send rate limit headers in response while in dry run
  apps/api/src/app/rate-limiting/guards/throttler.guard.ts
Labels: @novu/api

#6319 fix(dal): messages sort order by createdAt
  apps/api/src/app/messages/usecases/get-messages/get-messages.usecase.ts
  libs/dal/src/repositories/message/message.repository.ts
Labels: @novu/api, @novu/dal

#6435 chore(novu, framework, shared, node): Publish patch releases
  libs/shared/package.json
  packages/cli/package.json
  packages/framework/package.json
  packages/node/package.json
  pnpm-lock.yaml
Labels: @novu/shared

#6417 feat(web): Scaffolding for Workflow Preferences
  apps/web/src/studio/components/workflows/node-view/WorkflowsDetailPage.tsx
  apps/web/src/studio/components/workflows/preferences/WorkflowGeneralSettings.tsx
  apps/web/src/studio/components/workflows/preferences/WorkflowSettingsSidePanel.tsx
  apps/web/src/studio/components/workflows/preferences/WorkflowSettingsSidePanelContent.tsx
  apps/web/src/studio/components/workflows/preferences/WorkflowSubscriptionPreferences.styles.ts
  apps/web/src/studio/components/workflows/preferences/WorkflowSubscriptionPreferences.tsx
  apps/web/src/studio/components/workflows/preferences/types.ts
  libs/novui/src/recipes/tabs.recipe.ts
Labels: @novu/web, @novu/novui

#6433 fix(api): mid and after request logging
  apps/api/src/app/rate-limiting/guards/throttler.guard.ts
  libs/application-generic/src/logging/index.ts
Labels: @novu/api

#6438 feat(web): add workflow channel preferences hooks
  apps/web/src/api/api.client.ts
  apps/web/src/api/query.keys.ts
  apps/web/src/hooks/useNovuAPI.ts
  apps/web/src/hooks/workflowChannelPreferences/types.ts
  apps/web/src/hooks/workflowChannelPreferences/useCloudWorkflowChannelPreferences.ts
  apps/web/src/hooks/workflowChannelPreferences/useStudioWorkflowChannelPreferences.ts
  apps/web/src/hooks/workflowChannelPreferences/useUpdateWorkflowChannelPreferences.ts
Labels: @novu/web

#6396 feat(api): add preferences entity and schema
  apps/api/src/app.module.ts
  apps/api/src/app/bridge/bridge.controller.ts
  apps/api/src/app/bridge/bridge.module.ts
  apps/api/src/app/bridge/usecases/sync/sync.usecase.ts
  apps/api/src/app/inbox/inbox.module.ts
  apps/api/src/app/inbox/usecases/update-preferences/update-preferences.usecase.ts
  apps/api/src/app/preferences/dtos/preferences.dto.ts
  apps/api/src/app/preferences/dtos/upsert-preferences.dto.ts
  apps/api/src/app/preferences/index.ts
  apps/api/src/app/preferences/preferences.controller.ts
  apps/api/src/app/preferences/preferences.module.ts
  apps/api/src/app/preferences/preferences.spec.ts
  apps/api/src/app/subscribers/subscribers.module.ts
  apps/api/src/app/workflows/workflow.module.ts
  apps/web/src/hooks/workflowChannelPreferences/useCloudWorkflowChannelPreferences.ts
  apps/web/src/hooks/workflowChannelPreferences/useStudioWorkflowChannelPreferences.ts
  apps/web/src/hooks/workflowChannelPreferences/useUpdateWorkflowChannelPreferences.ts
  apps/worker/src/app/workflow/workflow.module.ts
  libs/application-generic/src/usecases/get-preferences/get-preferences.command.ts
  libs/application-generic/src/usecases/get-preferences/get-preferences.usecase.ts
  libs/application-generic/src/usecases/get-preferences/index.ts
  libs/application-generic/src/usecases/get-subscriber-global-preference/get-subscriber-global-preference.usecase.ts
  libs/application-generic/src/usecases/get-subscriber-template-preference/get-subscriber-template-preference.usecase.ts
  libs/application-generic/src/usecases/index.ts
  libs/application-generic/src/usecases/upsert-preferences/index.ts
  libs/application-generic/src/usecases/upsert-preferences/upsert-preferences.command.ts
  libs/application-generic/src/usecases/upsert-preferences/upsert-preferences.usecase.ts
  libs/application-generic/src/usecases/upsert-preferences/upsert-subscriber-global-preferences.command.ts
  libs/application-generic/src/usecases/upsert-preferences/upsert-subscriber-workflow-preferences.command.ts
  libs/application-generic/src/usecases/upsert-preferences/upsert-user-workflow-preferences.command.ts
  libs/application-generic/src/usecases/upsert-preferences/upsert-workflow-preferences.command.ts
  libs/application-generic/src/utils/deepmerge.ts
  libs/application-generic/src/utils/index.ts
  libs/dal/src/index.ts
  libs/dal/src/repositories/preferences/index.ts
  libs/dal/src/repositories/preferences/preferences.entity.ts
  libs/dal/src/repositories/preferences/preferences.repository.ts
  libs/dal/src/repositories/preferences/preferences.schema.ts
  libs/shared/src/types/index.ts
  libs/shared/src/types/workflow-channel-preferences/index.ts
  libs/shared/src/types/workflow-channel-preferences/types.ts
Labels: @novu/api, @novu/web, @novu/dal, @novu/shared, @novu/worker

#6453 fix(web): test snippet showing undefined
  apps/web/src/pages/templates/editor_v2/TemplateStepEditorV2.tsx
  apps/web/src/studio/components/workflows/test-workflow/WorkflowTestControlsPanel.tsx
  apps/web/src/utils/codeSnippets.ts
Labels: @novu/web

#6456 fix(web): form issues for new settings sidebar
  apps/api/src/app/workflows/e2e/update-notification-template.e2e.ts
  apps/web/src/pages/templates/editor_v2/TemplateDetailsPageV2.tsx
  apps/web/src/pages/templates/editor_v2/useWorkflowDetailPageForm.ts
  apps/web/src/studio/components/workflows/preferences/WorkflowDetailFormContextProvider.tsx
  apps/web/src/studio/components/workflows/preferences/WorkflowGeneralSettingsForm.tsx
  apps/web/src/studio/components/workflows/preferences/WorkflowSettingsSidePanelContent.tsx
  libs/application-generic/src/usecases/workflow/update-workflow/update-workflow.usecase.ts
Labels: @novu/api, @novu/web

#6443 fix(framework,dal): fix the default redirect behaviour, support absolute and relative paths
  libs/dal/src/repositories/message/message.schema.ts
  packages/framework/src/schemas/steps/actions/digest.schema.test.ts
  packages/framework/src/schemas/steps/channels/in-app.schema.test.ts
  packages/framework/src/schemas/steps/channels/in-app.schema.ts
  packages/framework/src/validators/validator.test.ts
Labels: @novu/dal

#6465 fix(web): check if source exists before destructuring
  apps/web/src/utils/codeSnippets.ts
Labels: @novu/web

#6462 chore(web): update the bridge onboarding sandbox endpoint
  apps/web/src/config/index.ts
Labels: @novu/web

#6314 feat(worker): add environment name to trigger event
  apps/worker/src/app/workflow/usecases/subscriber-job-bound/subscriber-job-bound.command.ts
  apps/worker/src/app/workflow/usecases/subscriber-job-bound/subscriber-job-bound.usecase.ts
  libs/application-generic/src/dtos/process-subscriber-job.dto.ts
  libs/application-generic/src/usecases/trigger-broadcast/trigger-broadcast.command.ts
  libs/application-generic/src/usecases/trigger-broadcast/trigger-broadcast.usecase.ts
  libs/application-generic/src/usecases/trigger-event/trigger-event.usecase.ts
  libs/application-generic/src/usecases/trigger-multicast/trigger-multicast.command.ts
  libs/application-generic/src/usecases/trigger-multicast/trigger-multicast.usecase.ts
Labels: @novu/worker

#6471 feat(web): add back button from workflow page to workflow list in dashboard
  apps/web/src/components/layout/components/v2/WorkflowHeaderBackButton.tsx
Labels: @novu/web

#6434 refactor(web): open docs for specific step types
  apps/web/src/studio/components/workflows/node-view/WorkflowFloatingMenu.tsx
Labels: @novu/web

#6463 feat(web): Remove description, disable BRIDGE fields
  apps/web/src/pages/templates/editor_v2/CloudWorkflowSettingsSidePanel.tsx
  apps/web/src/studio/components/workflows/preferences/WorkflowDetailFormContextProvider.tsx
  apps/web/src/studio/components/workflows/preferences/WorkflowGeneralSettingsForm.tsx
  apps/web/src/studio/components/workflows/preferences/WorkflowSettingsSidePanelContent.tsx
  apps/web/src/studio/components/workflows/preferences/types.ts
Labels: @novu/web

#6476 fix(api): add feature flag mock to webhook e2e test
  apps/api/src/app/testing/billing/webhook.e2e-ee.ts
Labels: @novu/api

#6486 fix(api): Don't create Workflow Preferences when `preferences` doesn't exist during sync
  apps/api/src/app/bridge/usecases/sync/sync.usecase.ts
Labels: @novu/api

#6475 fix(api): Use _subscriberId
  apps/api/src/app/inbox/usecases/update-preferences/update-preferences.usecase.ts
  apps/api/src/app/preferences/preferences.spec.ts
  libs/application-generic/src/usecases/upsert-preferences/upsert-preferences.command.ts
  libs/application-generic/src/usecases/upsert-preferences/upsert-preferences.usecase.ts
  libs/application-generic/src/usecases/upsert-preferences/upsert-subscriber-global-preferences.command.ts
Labels: @novu/api

#6474 fix(web): Suppress missing key or JWT error.
  apps/web/src/api/api.client.ts
Labels: @novu/web

#6491 feat(api,application-generic): Handle readOnly for preferences
  apps/api/src/app/inbox/usecases/get-preferences/get-preferences.usecase.ts
  apps/api/src/app/inbox/usecases/update-preferences/update-preferences.usecase.ts
  apps/api/src/app/preferences/preferences.spec.ts
  libs/application-generic/src/usecases/get-preferences/get-preferences.usecase.ts
  libs/application-generic/src/usecases/get-subscriber-template-preference/get-subscriber-template-preference.usecase.ts
Labels: @novu/api

#6447 feat(web): Add Workflow Preferences for Cloud & Studio
  apps/api/src/app/bridge/usecases/sync/sync.usecase.ts
  apps/api/src/app/events/e2e/bridge-sync.e2e.ts
  apps/api/src/app/inbox/usecases/get-preferences/get-preferences.usecase.ts
  apps/api/src/app/inbox/usecases/update-preferences/update-preferences.usecase.ts
  apps/api/src/app/preferences/preferences.spec.ts
  apps/api/src/app/workflows/e2e/update-notification-template.e2e.ts
  apps/web/src/hooks/workflowChannelPreferences/useCloudWorkflowChannelPreferences.ts
  apps/web/src/hooks/workflowChannelPreferences/useUpdateWorkflowChannelPreferences.ts
  apps/web/src/pages/templates/editor/TemplateEditorPage.tsx
  apps/web/src/pages/templates/editor_v2/CloudWorkflowSettingsSidePanel.tsx
  apps/web/src/pages/templates/editor_v2/TemplateDetailsPageV2.tsx
  apps/web/src/pages/templates/editor_v2/useWorkflowDetailPageForm.ts
  apps/web/src/studio/components/workflows/node-view/WorkflowsDetailPage.tsx
  apps/web/src/studio/components/workflows/preferences/StudioWorkflowSettingsSidePanel.tsx
  apps/web/src/studio/components/workflows/preferences/WorkflowDetailFormContextProvider.tsx
  apps/web/src/studio/components/workflows/preferences/WorkflowGeneralSettings.tsx
  apps/web/src/studio/components/workflows/preferences/WorkflowGeneralSettingsForm.tsx
  apps/web/src/studio/components/workflows/preferences/WorkflowSettingsSidePanel.tsx
  apps/web/src/studio/components/workflows/preferences/WorkflowSettingsSidePanelContent.tsx
  apps/web/src/studio/components/workflows/preferences/WorkflowSubscriptionPreferences.const.ts
  apps/web/src/studio/components/workflows/preferences/WorkflowSubscriptionPreferences.styles.ts
  apps/web/src/studio/components/workflows/preferences/WorkflowSubscriptionPreferences.tsx
  apps/web/src/studio/components/workflows/preferences/index.ts
  apps/web/src/studio/components/workflows/preferences/types.ts
  libs/application-generic/src/usecases/get-preferences/get-preferences.usecase.ts
  libs/application-generic/src/usecases/get-subscriber-global-preference/get-subscriber-global-preference.usecase.ts
  libs/application-generic/src/usecases/get-subscriber-template-preference/get-subscriber-template-preference.usecase.ts
  libs/application-generic/src/usecases/upsert-preferences/upsert-preferences.command.ts
  libs/application-generic/src/usecases/upsert-preferences/upsert-preferences.usecase.ts
  libs/application-generic/src/usecases/workflow/update-workflow/update-workflow.usecase.ts
  libs/dal/src/repositories/preferences/preferences.entity.ts
  libs/dal/src/repositories/preferences/preferences.schema.ts
  packages/shared/src/types/workflow-channel-preferences/types.ts
Labels: @novu/api, @novu/web, @novu/dal, @novu/shared

#6501 chore(root): Framework v2.0.3
  .vscode/settings.json
  package.json
  packages/framework/package.json
  packages/react/hooks/package.json
  packages/shared/package.json
  pnpm-lock.yaml
  scripts/restore-workspace-protocol.mjs
Labels: @novu/shared, scripts

#6387 chore(application-generic): removed docker version & added healthchecks
  .devcontainer/docker-compose.yml
  docker/community/docker-compose.yml
  docker/local/docker-compose.local.yml
  docker/local/docker-compose.yml
Labels: docker

#6500 feat(web): display 'Remove Novu branding' toggle in In-App integration panel
  apps/web/src/pages/integrations/components/NovuInAppRemoveBranding.tsx
  apps/web/src/pages/integrations/components/multi-provider/UpdateProviderSidebar.tsx
  apps/web/src/pages/integrations/components/multi-provider/v2/UpdateProviderSidebarV2.tsx
  apps/web/src/pages/integrations/types.ts
  apps/web/src/pages/integrations/useProviders.ts
Labels: @novu/web

#6508 feat(web): remove inbox branding nudge
  apps/web/src/pages/integrations/components/NovuInAppRemoveBranding.tsx
  apps/web/src/pages/integrations/components/multi-provider/UpdateProviderSidebar.tsx
  apps/web/src/pages/integrations/components/multi-provider/v2/UpdateProviderSidebarV2.tsx
  libs/design-system/src/button/Button.styles.ts
  libs/design-system/src/button/Button.tsx
Labels: @novu/web, @novu/design-system

#6512 chore(api): retire legacy v1 front base url
  apps/api/src/config/cors.config.spec.ts
  apps/api/src/config/cors.config.ts
  apps/api/src/config/env.validators.ts
Labels: @novu/api

#6515 feat(api): inbox api filter preferences by workflow tags
  apps/api/src/app/inbox/dtos/get-preferences-request.dto.ts
  apps/api/src/app/inbox/e2e/get-preferences.e2e.ts
  apps/api/src/app/inbox/inbox.controller.ts
  apps/api/src/app/inbox/usecases/get-preferences/get-preferences.command.ts
  apps/api/src/app/inbox/usecases/get-preferences/get-preferences.spec.ts
  apps/api/src/app/inbox/usecases/get-preferences/get-preferences.usecase.ts
  libs/application-generic/src/usecases/get-subscriber-preference/get-subscriber-preference.usecase.ts
  libs/dal/src/repositories/notification-template/notification-template.repository.ts
Labels: @novu/api, @novu/dal

#6523 chore(root): Leverage pkg.pr.new for NPM package previews
  .github/workflows/release-packages-preview.yml
  package.json
  packages/cli/package.json
  packages/client/package.json
  packages/framework/package.json
  packages/headless/package.json
  packages/js/package.json
  packages/nest/package.json
  packages/node/package.json
  packages/providers/package.json
  packages/react/package.json
  packages/shared/package.json
  packages/stateless/package.json
  pnpm-lock.yaml
Labels: @novu/shared, CI/CD

#6525 fix(web): inbox branding feature flag
  apps/web/src/pages/integrations/components/NovuInAppRemoveBranding.tsx
Labels: @novu/web

#6529 build(root): Fix preview package deployments
  .github/workflows/release-packages-preview.yml
  package.json
  scripts/restore-workspace-protocol.mjs
  scripts/set-package-dependencies.mjs
Labels: CI/CD, scripts

#6537 fix(web): identify from app to pass traits
  apps/web/src/utils/segment.ts
Labels: @novu/web

#6511 feat(web): integrate inbox to the web app; update the ts config and version
  apps/web/tsconfig.json
Labels: @novu/web

#6542 chore(api): resurrecting the unit tests
  apps/api/package.json
  apps/api/src/app/inbox/usecases/session/session.spec.ts
  apps/api/src/app/inbox/usecases/update-preferences/update-preferences.spec.ts
  apps/api/src/config/cors.config.spec.ts
Labels: @novu/api

#6527 feat(api, worker, application-generic, dal): Resolve preferences for stateless workflow executions
  apps/api/src/app/events/e2e/bridge-trigger.e2e.ts
  apps/worker/src/.env.test
  apps/worker/src/app/workflow/usecases/run-job/run-job.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message.command.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message.usecase.ts
  apps/worker/src/app/workflow/usecases/subscriber-job-bound/subscriber-job-bound.usecase.ts
  libs/application-generic/src/usecases/create-notification-jobs/create-notification-jobs.command.ts
  libs/application-generic/src/usecases/create-notification-jobs/create-notification-jobs.usecase.ts
  libs/application-generic/src/usecases/get-preferences/get-preferences.usecase.ts
  libs/application-generic/src/usecases/get-subscriber-template-preference/get-subscriber-template-preference.usecase.ts
  libs/dal/src/repositories/job/job.entity.ts
  libs/dal/src/repositories/job/job.schema.ts
Labels: @novu/api, @novu/dal, @novu/worker

#6547 feat(web): Hub spot identify
  .cspell.json
  apps/api/src/app/analytics/analytics.controller.ts
  apps/api/src/app/analytics/analytics.module.ts
  apps/api/src/app/analytics/usecases/hubspot-identify-form/hubspot-identify-form.command.ts
  apps/api/src/app/analytics/usecases/hubspot-identify-form/hubspot-identify-form.usecase.ts
  apps/web/src/api/telemetry.ts
  apps/web/src/ee/clerk/components/QuestionnaireForm.tsx
  apps/web/src/utils/cookies.ts
Labels: @novu/api, @novu/web

#6555 feat(api,web): add org id to hubspot report
  apps/api/src/app/analytics/analytics.controller.ts
  apps/api/src/app/analytics/usecases/hubspot-identify-form/hubspot-identify-form.command.ts
  apps/api/src/app/analytics/usecases/hubspot-identify-form/hubspot-identify-form.usecase.ts
Labels: @novu/api

#6482 feat(api): create controls module
  apps/api/src/app.module.ts
  apps/api/src/app/step-schemas/dtos/schema-type.dto.ts
  apps/api/src/app/step-schemas/e2e/get-default-schema.e2e.ts
  apps/api/src/app/step-schemas/step-schemas.controller.ts
  apps/api/src/app/step-schemas/step-schemas.module.ts
  apps/api/src/app/step-schemas/types/index.ts
  apps/api/src/app/step-schemas/usecases/get-step-schema/get-step-schema.command.ts
  apps/api/src/app/step-schemas/usecases/get-step-schema/get-step-schema.usecase.ts
  apps/api/src/app/step-schemas/usecases/index.ts
  packages/framework/src/index.ts
  packages/framework/src/schemas/steps/index.ts
  packages/framework/src/types/step.types.ts
Labels: @novu/api

#6563 fix(application-generic): Use V2 Preferences `critical` flag only if it exists
  apps/api/src/app/step-schemas/e2e/get-default-schema.e2e.ts
  apps/api/src/app/step-schemas/step-schemas.controller.ts
  libs/application-generic/src/usecases/get-subscriber-template-preference/get-subscriber-template-preference.usecase.ts
Labels: @novu/api

#6575 refactor(api, application-generic, web, shared, dal): Remove `readOnly` from Preferences `channels`
  apps/api/src/app/events/e2e/bridge-sync.e2e.ts
  apps/api/src/app/events/e2e/bridge-trigger.e2e.ts
  apps/api/src/app/inbox/usecases/update-preferences/update-preferences.usecase.ts
  apps/api/src/app/preferences/dtos/preferences.dto.ts
  apps/api/src/app/preferences/preferences.controller.ts
  apps/api/src/app/preferences/preferences.spec.ts
  apps/web/src/api/api.client.ts
  apps/web/src/hooks/workflowPreferences/useCloudWorkflowPreferences.ts
  apps/web/src/hooks/workflowPreferences/useUpdateWorkflowPreferences.ts
  apps/web/src/pages/templates/editor_v2/CloudWorkflowSettingsSidePanel.tsx
  apps/web/src/pages/templates/editor_v2/TemplateDetailsPageV2.tsx
  apps/web/src/studio/components/workflows/preferences/StudioWorkflowSettingsSidePanel.tsx
  apps/web/src/studio/components/workflows/preferences/WorkflowDetailFormContextProvider.tsx
  apps/web/src/studio/components/workflows/preferences/WorkflowSettingsSidePanelContent.tsx
  apps/web/src/studio/components/workflows/preferences/WorkflowSubscriptionPreferences.const.ts
  apps/web/src/studio/components/workflows/preferences/WorkflowSubscriptionPreferences.tsx
  apps/web/src/studio/components/workflows/preferences/types.ts
  libs/application-generic/src/usecases/get-preferences/get-preferences.dto.ts
  libs/application-generic/src/usecases/get-preferences/get-preferences.usecase.ts
  libs/application-generic/src/usecases/get-subscriber-template-preference/get-subscriber-template-preference.usecase.ts
  libs/application-generic/src/usecases/upsert-preferences/upsert-preferences.command.ts
  libs/application-generic/src/usecases/upsert-preferences/upsert-preferences.usecase.ts
  libs/application-generic/src/usecases/upsert-preferences/upsert-workflow-preferences.command.ts
  libs/dal/src/repositories/preferences/preferences.entity.ts
  libs/dal/src/repositories/preferences/preferences.schema.ts
  packages/framework/src/resources/workflow/map-preferences.test.ts
  packages/framework/src/resources/workflow/map-preferences.ts
  packages/framework/src/resources/workflow/workflow.test.ts
  packages/framework/src/types/workflow.types.ts
  packages/shared/src/consts/preferences/preferences.const.ts
  packages/shared/src/types/workflow-channel-preferences/types.ts
  packages/shared/src/utils/buildWorkflowPreferences.spec.ts
  packages/shared/src/utils/buildWorkflowPreferences.ts
Labels: @novu/api, @novu/web, @novu/dal, @novu/shared

#6570 chore(root): Clean up self hosted env vars
  apps/api/src/app/testing/billing/quota-throttler.guard.e2e-ee.ts
  apps/web/.env.sample
  apps/web/.example.env
  apps/web/public/env-config.js
  apps/web/public/index.html
  apps/web/src/api/hooks/useGetLocalesFromContent.ts
  apps/web/src/api/hooks/useWebhookSupportStatus.ts
  apps/web/src/components/layout/components/BridgeStatus.tsx
  apps/web/src/components/layout/components/FreeTrialBanner.tsx
  apps/web/src/components/layout/components/FreeTrialSidebarWidget.tsx
  apps/web/src/components/layout/components/PolishingBanner.tsx
  apps/web/src/components/layout/components/UpgradePlanBanner.tsx
  apps/web/src/components/layout/components/v2/HeaderMenuItems.tsx
  apps/web/src/components/layout/components/v2/HeaderNav.tsx
  apps/web/src/components/nav/RootNavMenu.tsx
  apps/web/src/components/providers/EnvironmentProvider.tsx
  apps/web/src/components/utils/ProductLead.tsx
  apps/web/src/components/workflow/preview/common/LocaleSelect.tsx
  apps/web/src/config/index.ts
  apps/web/src/ee/clerk/components/QuestionnaireForm.tsx
  apps/web/src/hooks/integrations/useIntegrationLimit.ts
  apps/web/src/hooks/useOnboardingExperiment.ts
  apps/web/src/pages/BillingPages.tsx
  apps/web/src/pages/TranslationPages.tsx
  apps/web/src/pages/auth/components/HubspotSignupForm.tsx
  apps/web/src/pages/auth/components/OAuth.tsx
  apps/web/src/pages/auth/components/QuestionnaireForm.tsx
  apps/web/src/pages/integrations/components/ChannelGroup.tsx
  apps/web/src/pages/integrations/components/Modal/ChannelGroup.tsx
  apps/web/src/pages/integrations/useProviders.ts
  apps/web/src/pages/invites/MembersInvitePage.tsx
  apps/web/src/pages/invites/components/MembersTable.tsx
  apps/web/src/pages/invites/v2/MemberInviteForm.tsx
  apps/web/src/pages/invites/v2/MembersInvitePage.tsx
  apps/web/src/pages/quick-start/components/SetupTimeline.tsx
  apps/web/src/pages/templates/components/ControlVariablesForm.tsx
  apps/web/src/pages/templates/components/createTranslationMarks.ts
  apps/web/src/utils/providers.ts
  docker/community/docker-compose.yml
  libs/application-generic/src/services/in-memory-provider/cache-in-memory-provider.service.ts
  libs/application-generic/src/services/in-memory-provider/web-sockets-in-memory-provider.service.ts
  libs/application-generic/src/services/in-memory-provider/workflow-in-memory-provider.service.ts
  packages/shared/src/types/feature-flags/feature-flags.ts
Labels: @novu/api, @novu/web, @novu/shared, docker

#6580 fix(worker): Build stateless preferences for bridge-sourced definition
  apps/api/src/app/events/e2e/bridge-trigger.e2e.ts
  apps/worker/src/app/workflow/usecases/subscriber-job-bound/subscriber-job-bound.usecase.ts
Labels: @novu/api, @novu/worker

#6585 chore(root): Upgrade to latest NX
  .gitignore
  .prettierignore
  apps/dashboard/package.json
  apps/dashboard/src/utils/segment.ts
  apps/web/package.json
  libs/automation/project.json
  nx.json
  package.json
  packages/react/package.json
  pnpm-lock.yaml
Labels: @novu/web

#6586 chore(root): Fix preview packages
  .github/workflows/preview-packages.yml
  apps/dashboard/legacy/.gitkeep
  package.json
  packages/cli/package.json
  packages/client/package.json
  packages/framework/package.json
  packages/headless/package.json
  packages/js/package.json
  packages/nest/package.json
  packages/node/package.json
  packages/providers/package.json
  packages/react/package.json
  packages/shared/package.json
  packages/stateless/package.json
  scripts/print-affected-array.mjs
  scripts/publish-preview-packages.mjs
Labels: @novu/shared, CI/CD, scripts

#6581 fix(worker, application-generic, shared): Don't use Subscriber Prefs for Workflows with readonly Prefs
  apps/api/src/app/events/e2e/bridge-trigger.e2e.ts
  apps/api/src/app/preferences/preferences.spec.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message.usecase.ts
  libs/application-generic/src/usecases/create-execution-details/types/index.ts
  libs/application-generic/src/usecases/get-preferences/get-preferences.usecase.ts
  libs/application-generic/src/usecases/get-subscriber-template-preference/get-subscriber-template-preference.usecase.ts
  packages/shared/src/entities/subscriber-preference/subscriber-preference.interface.ts
Labels: @novu/api, @novu/shared, @novu/worker

#6587 chore(root): Bump PNPM
  .gitpod.dockerfile
  apps/api/Dockerfile
  apps/inbound-mail/Dockerfile
  apps/web/Dockerfile
  apps/web/package.json
  apps/web/tests/integrations-list-modal.spec.ts
  apps/web/tests/invites.spec.ts
  apps/webhook/Dockerfile
  apps/widget/Dockerfile
  apps/worker/Dockerfile
  apps/ws/Dockerfile
  libs/embed/Dockerfile
  package.json
  packages/js/src/ui/components/Notification/DefaultNotification.tsx
  packages/js/src/ui/components/Renderer.tsx
  packages/js/src/ui/components/elements/Preferences/Preferences.tsx
  packages/js/src/ui/components/elements/Preferences/Switch.tsx
  pnpm-lock.yaml
  scripts/publish-preview-packages.mjs
Labels: @novu/api, @novu/web, @novu/webhook, @novu/ws, @novu/worker, @novu/inbound-mail, scripts

#6590 fix(root): Build only public packages during preview deployments
  package.json
  packages/cli/package.json
  packages/client/package.json
  packages/framework/package.json
  packages/headless/package.json
  packages/js/package.json
  packages/nest/package.json
  packages/node/package.json
  packages/notification-center-angular/package.json
  packages/notification-center-vue/package.json
  packages/notification-center/package.json
  packages/providers/package.json
  packages/react/package.json
  packages/shared/package.json
  packages/stateless/package.json
Labels: @novu/notification-center, @novu/shared, @novu/notification-center-vue, @novu/notification-center-angular

#6591 fix(web): Use initial Workflow Preferences state to determine override state
  apps/web/src/pages/templates/editor_v2/CloudWorkflowSettingsSidePanel.tsx
  apps/web/src/studio/components/workflows/preferences/WorkflowSubscriptionPreferences.tsx
Labels: @novu/web

#6592 chore(framework, shared): Bump package versions to 2.1.1
  packages/framework/package.json
  packages/shared/package.json
Labels: @novu/shared
