Repository novuhq/novu, pull requests merged in 2025-01, with the labels that each got.

#7407 fix(api-service): when step is deleted remove all associated variables
  apps/api/src/app/workflows-v2/e2e/upsert-workflow.e2e.ts
  apps/api/src/app/workflows-v2/usecases/patch-step-data/patch-step.usecase.ts
  apps/api/src/app/workflows-v2/usecases/upsert-workflow/upsert-workflow.usecase.ts
  apps/api/src/app/workflows-v2/workflow.module.ts
  libs/application-generic/src/usecases/delete-control-values/delete-control-values.command.ts
  libs/application-generic/src/usecases/delete-control-values/delete-control-values.usecase.ts
  libs/application-generic/src/usecases/delete-control-values/index.ts
  libs/application-generic/src/usecases/index.ts
  libs/application-generic/src/usecases/workflow/update-workflow/update-workflow.usecase.ts
Labels: @novu/api-service

#7419 chore(dashboard): maily patch update
  apps/dashboard/package.json
  pnpm-lock.yaml
Labels: @novu/dashboard

#7415 feat(dashboard): show delay value on workflow node
  apps/dashboard/src/components/workflow-editor/nodes.tsx
  apps/dashboard/src/components/workflow-editor/workflow-canvas.tsx
  apps/dashboard/src/utils/types.ts
Labels: @novu/dashboard

#7425 feat(dashboard): align sms and push phones
  apps/dashboard/src/components/workflow-editor/steps/push/push-preview.tsx
  apps/dashboard/src/components/workflow-editor/steps/sms/sms-phone.tsx
  apps/dashboard/src/components/workflow-editor/steps/sms/sms-preview.tsx
Labels: @novu/dashboard

#7427 feat(dashboard): switch tlggle aligned with design system
  apps/dashboard/src/components/primitives/switch.tsx
Labels: @novu/dashboard

#7426 feat(dashboard): separator component aligned with design system
  apps/dashboard/src/components/create-workflow-button.tsx
  apps/dashboard/src/components/in-app-action-dropdown.tsx
  apps/dashboard/src/components/primitives/form/faceted-filter/components/base-filter-content.tsx
  apps/dashboard/src/components/primitives/separator.tsx
  apps/dashboard/src/components/workflow-editor/steps/digest/digest-window.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/configure-email-step-preview.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/email-editor-preview.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/email-editor.tsx
  apps/dashboard/src/components/workflow-editor/steps/in-app/in-app-editor.tsx
Labels: @novu/dashboard

#7431 fix(novu): automatically create indexes on startup
  docker/.env.example
  docker/community/.env.example
  docker/community/docker-compose.yml
Labels: docker

#7434 feat(api-service): fix additional properties issue
  apps/api/src/app/workflows-v2/util/build-variables.ts
Labels: @novu/api-service

#7423 feat(dashboard): add textarea component aligned with figma designs
  apps/dashboard/src/components/create-workflow-button.tsx
  apps/dashboard/src/components/primitives/textarea.tsx
  apps/dashboard/src/components/workflow-editor/configure-workflow-form.tsx
Labels: @novu/dashboard

#7428 fix(api-service): on global preferences update reset workflow preferences per env
  apps/api/src/app/subscribers/e2e/update-global-preference.e2e.ts
  libs/application-generic/src/usecases/upsert-preferences/upsert-preferences.usecase.ts
Labels: @novu/api-service

#7442 refactor(api-service): simplify variable validation
  apps/api/src/app/workflows-v2/util/build-variables.ts
Labels: @novu/api-service

#7420 feat(dashboard): badge and tags component alignment
  apps/dashboard/src/components/activity/activity-job-item.tsx
  apps/dashboard/src/components/activity/activity-table.tsx
  apps/dashboard/src/components/activity/components/status-badge.tsx
  apps/dashboard/src/components/activity/constants.ts
  apps/dashboard/src/components/billing/active-plan-banner.tsx
  apps/dashboard/src/components/billing/highlights-row.tsx
  apps/dashboard/src/components/billing/plans-row.tsx
  apps/dashboard/src/components/integrations/components/integration-card.tsx
  apps/dashboard/src/components/primitives/badge.tsx
  apps/dashboard/src/components/primitives/form/faceted-filter/components/filter-badge.tsx
  apps/dashboard/src/components/primitives/status-badge.tsx
  apps/dashboard/src/components/primitives/tag-input.tsx
  apps/dashboard/src/components/primitives/tag.tsx
  apps/dashboard/src/components/side-navigation/getting-started-menu-item.tsx
  apps/dashboard/src/components/workflow-editor/add-step-menu.tsx
  apps/dashboard/src/components/workflow-editor/editor-breadcrumbs.tsx
  apps/dashboard/src/components/workflow-row.tsx
  apps/dashboard/src/components/workflow-status.tsx
  apps/dashboard/src/components/workflow-tags.tsx
  apps/dashboard/src/pages/activity-feed.tsx
  apps/dashboard/src/pages/integrations-list-page.tsx
  apps/dashboard/src/pages/workflows.tsx
Labels: @novu/dashboard

#7444 fix(client): Save step template form on unmount to handle esc key
  apps/dashboard/src/components/workflow-editor/steps/configure-step-template-form.tsx
Labels: @novu/dashboard

#7445 feat(dashboard): copy button and arrow right micro interaction NV-4997
  apps/dashboard/src/components/activity/components/overview-item.tsx
  apps/dashboard/src/components/primitives/button.tsx
  apps/dashboard/src/components/primitives/copy-button.tsx
  apps/dashboard/src/components/primitives/hover-to-copy.tsx
  apps/dashboard/src/components/workflow-editor/configure-workflow-form.tsx
  apps/dashboard/src/components/workflow-editor/steps/configure-step-form.tsx
  apps/dashboard/src/components/workflow-editor/test-workflow/test-workflow-form.tsx
  apps/dashboard/src/components/workflow-row.tsx
Labels: @novu/dashboard

#7409 feat(root, api-service, worker, ws, webhook): migrate from aws ssm to aws secret manager
  .cspell.json
  .github/actions/docker/build-api/action.yml
  .github/actions/docker/build-worker/action.yml
  .github/actions/setup-project/action.yml
  .github/workflows/dev-deploy-ws.yml
  .github/workflows/prod-deploy-api.yml
  .github/workflows/prod-deploy-worker.yml
  .github/workflows/prod-deploy-ws.yml
  .github/workflows/reusable-docker.yml
  apps/api/Dockerfile
  apps/api/package.json
  apps/webhook/Dockerfile
  apps/webhook/package.json
  apps/worker/Dockerfile
  apps/worker/package.json
  apps/ws/Dockerfile
  apps/ws/package.json
  pnpm-lock.yaml
  scripts/dotenvcreate.mjs
Labels: @novu/webhook, @novu/ws, @novu/worker, CI/CD, scripts, @novu/api-service

#7466 Revert "feat(root, api-service, worker, ws, webhook): migrate from aws ssm to aws secret manager"
  .cspell.json
  .github/actions/docker/build-api/action.yml
  .github/actions/docker/build-worker/action.yml
  .github/actions/setup-project/action.yml
  .github/workflows/dev-deploy-ws.yml
  .github/workflows/prod-deploy-api.yml
  .github/workflows/prod-deploy-worker.yml
  .github/workflows/prod-deploy-ws.yml
  .github/workflows/reusable-docker.yml
  apps/api/Dockerfile
  apps/api/package.json
  apps/webhook/Dockerfile
  apps/webhook/package.json
  apps/worker/Dockerfile
  apps/worker/package.json
  apps/ws/Dockerfile
  apps/ws/package.json
  pnpm-lock.yaml
  scripts/dotenvcreate.mjs
Labels: @novu/webhook, @novu/ws, @novu/worker, CI/CD, scripts, @novu/api-service

#7471 feat(dashboard): add useBeforeUnload hook to prevent accidental tab closure during updates
  apps/dashboard/src/components/workflow-editor/workflow-provider.tsx
  apps/dashboard/src/hooks/use-before-unload.ts
Labels: @novu/dashboard

#7460 fix(web,api-service): redirect edit action of v1 workflows to old web app when opt-in
  apps/api/src/app/workflows-v2/mappers/notification-template-mapper.ts
  apps/web/src/hooks/useNewDashboardOptIn.ts
  apps/web/src/hooks/useOptInRedirect.ts
Labels: @novu/web, @novu/api-service

#7417 feat(dashboard): edit step conditions drawer
  apps/dashboard/src/components/workflow-editor/steps/conditions/edit-step-conditions.tsx
  apps/dashboard/src/components/workflow-editor/steps/configure-step-form.tsx
  apps/dashboard/src/components/workflow-editor/steps/configure-step-template.tsx
  apps/dashboard/src/components/workflow-editor/steps/step-drawer.tsx
  apps/dashboard/src/main.tsx
  apps/dashboard/src/utils/routes.ts
  packages/shared/src/types/feature-flags.ts
Labels: @novu/shared, @novu/dashboard

#7453 feat(api-service): restore email show support
  apps/api/src/app/bridge/usecases/sync/sync.usecase.ts
  apps/api/src/app/environments-v1/usecases/output-renderers/email-output-renderer.spec.ts
  apps/api/src/app/environments-v1/usecases/output-renderers/email-output-renderer.usecase.ts
  apps/api/src/app/environments-v1/usecases/output-renderers/expand-email-editor-schema.usecase.ts
  apps/api/src/app/environments-v1/usecases/output-renderers/hydrate-email-schema.usecase.ts
  apps/api/src/app/workflows-v2/generate-preview.e2e.ts
  apps/api/src/app/workflows-v2/maily-test-data.ts
  libs/application-generic/src/utils/process-node-attrs.ts
Labels: @novu/api-service

#7468 fix(api-service): bug report skipped in-app step will cause fail
  apps/api/src/app/environments-v1/usecases/construct-framework-workflow/construct-framework-workflow.usecase.ts
  apps/api/src/app/events/e2e/bridge-trigger.e2e.ts
  apps/api/src/app/events/e2e/trigger-event.e2e.ts
  apps/worker/src/app/workflow/usecases/execute-bridge-job/execute-bridge-job.usecase.ts
Labels: @novu/worker, @novu/api-service

#7418 refactor(dashboard): input field
  apps/dashboard/src/components/amount-input.tsx
  apps/dashboard/src/components/auth/customize-inbox-playground.tsx
  apps/dashboard/src/components/create-workflow-button.tsx
  apps/dashboard/src/components/header-navigation/edit-bridge-url-button.tsx
  apps/dashboard/src/components/in-app-action-dropdown.tsx
  apps/dashboard/src/components/integrations/components/integration-credentials.tsx
  apps/dashboard/src/components/integrations/components/integration-general-settings.tsx
  apps/dashboard/src/components/primitives/button-compact.tsx
  apps/dashboard/src/components/primitives/button.tsx
  apps/dashboard/src/components/primitives/color-picker.tsx
  apps/dashboard/src/components/primitives/command.tsx
  apps/dashboard/src/components/primitives/copy-button.tsx
  apps/dashboard/src/components/primitives/form/avatar-picker.tsx
  apps/dashboard/src/components/primitives/form/faceted-filter/components/filter-input.tsx
  apps/dashboard/src/components/primitives/form/faceted-filter/components/single-filter-content.tsx
  apps/dashboard/src/components/primitives/form/form.tsx
  apps/dashboard/src/components/primitives/hint.tsx
  apps/dashboard/src/components/primitives/input.tsx
  apps/dashboard/src/components/primitives/label.tsx
  apps/dashboard/src/components/primitives/secret-input.tsx
  apps/dashboard/src/components/primitives/tag-input.tsx
  apps/dashboard/src/components/primitives/tag.tsx
  apps/dashboard/src/components/primitives/time-picker.tsx
  apps/dashboard/src/components/workflow-editor/configure-workflow-form.tsx
  apps/dashboard/src/components/workflow-editor/steps/base/base-body.tsx
  apps/dashboard/src/components/workflow-editor/steps/base/base-subject.tsx
  apps/dashboard/src/components/workflow-editor/steps/configure-step-form.tsx
  apps/dashboard/src/components/workflow-editor/steps/controls/text-widget.tsx
  apps/dashboard/src/components/workflow-editor/steps/delay/delay-amount.tsx
  apps/dashboard/src/components/workflow-editor/steps/digest/digest-key.tsx
  apps/dashboard/src/components/workflow-editor/steps/digest/numbers-picker.tsx
  apps/dashboard/src/components/workflow-editor/steps/digest/regular-digest.tsx
  apps/dashboard/src/components/workflow-editor/steps/in-app/in-app-body.tsx
  apps/dashboard/src/components/workflow-editor/steps/in-app/in-app-redirect.tsx
  apps/dashboard/src/components/workflow-editor/steps/in-app/in-app-subject.tsx
  apps/dashboard/src/components/workflow-editor/test-workflow/test-workflow-form.tsx
  apps/dashboard/src/components/workflow-editor/url-input.tsx
  apps/dashboard/src/components/workflow-tags.tsx
  apps/dashboard/src/index.css
  apps/dashboard/src/pages/api-keys.tsx
  apps/dashboard/tailwind.config.ts
Labels: @novu/dashboard

#7401 chore(root): polish after review
  apps/api/src/app/environments-v1/usecases/output-renderers/digest-output-renderer.usecase.ts
  apps/api/src/app/workflows-v2/mappers/notification-template-mapper.ts
  apps/api/src/app/workflows-v2/usecases/build-step-data/build-step-data.usecase.ts
  apps/api/src/app/workflows-v2/usecases/generate-preview/generate-preview.usecase.ts
  apps/api/src/app/workflows-v2/usecases/get-workflow/get-workflow.usecase.ts
  apps/api/src/app/workflows-v2/usecases/patch-step-data/patch-step.usecase.ts
  apps/api/src/app/workflows-v2/usecases/sync-to-environment/sync-to-environment.usecase.ts
  apps/api/src/app/workflows-v2/usecases/upsert-workflow/upsert-workflow.usecase.ts
  apps/api/src/app/workflows-v2/util/template-parser/liquid-parser.ts
  apps/api/src/app/workflows-v2/workflow.controller.ts
  apps/dashboard/src/api/steps.ts
  apps/dashboard/src/components/workflow-editor/step-default-values.ts
  apps/dashboard/src/components/workflow-editor/steps/configure-step-form.tsx
  apps/dashboard/src/components/workflow-editor/steps/configure-step-template-form.tsx
  apps/dashboard/src/components/workflow-editor/steps/configure-step-template-issue-cta.tsx
  apps/dashboard/src/components/workflow-editor/workflow-provider.tsx
  apps/dashboard/src/utils/types.ts
  libs/application-generic/src/schemas/control/in-app-control.schema.ts
  packages/shared/src/clients/workflows-client.ts
  packages/shared/src/dto/workflows/step.dto.ts
  packages/shared/src/dto/workflows/workflow.dto.ts
  pnpm-lock.yaml
Labels: @novu/shared, @novu/dashboard, @novu/api-service

#7472 fix(dashboard): adjust sidebar to allow overflow and maintain layout
  apps/dashboard/src/components/workflow-editor/test-workflow/test-workflow-logs-sidebar.tsx
Labels: @novu/dashboard

#7479 fix(dashboard): remove focus ring from amount input select trigger
  apps/dashboard/src/components/amount-input.tsx
  apps/dashboard/src/components/primitives/select.tsx
Labels: @novu/dashboard

#7480 fix(dashboard): adjust layout and overflow handling in Trigger page
  apps/dashboard/src/components/workflow-editor/test-workflow/test-workflow-form.tsx
Labels: @novu/dashboard

#7463 fix(dashboard): timezone offset for utc in time widget
  apps/dashboard/src/components/time-display-hover-card.tsx
Labels: @novu/dashboard

#7482 fix(dashboard): update custom step icon to code block
  apps/dashboard/src/components/icons/utils.ts
Labels: @novu/dashboard

#7406 feat(dashboard): Open step template drawer on Add Step
  apps/dashboard/src/components/workflow-editor/channel-preferences-form.tsx
  apps/dashboard/src/components/workflow-editor/configure-workflow-form.tsx
  apps/dashboard/src/components/workflow-editor/edges.tsx
  apps/dashboard/src/components/workflow-editor/nodes.tsx
  apps/dashboard/src/components/workflow-editor/steps/configure-step-form.tsx
  apps/dashboard/src/components/workflow-editor/steps/configure-step-template-form.tsx
  apps/dashboard/src/components/workflow-editor/workflow-provider.tsx
Labels: @novu/dashboard

#7474 chore(web,dashboard): remove legacy bundle from dashboard
  .github/workflows/reusable-dashboard-e2e.yml
  apps/dashboard/.gitignore
  apps/dashboard/legacy-handler.js
  apps/dashboard/package.json
  apps/dashboard/proxy-server.js
  apps/dashboard/src/components/workflow-row.tsx
  apps/dashboard/src/pages/redirect-to-legacy-studio-auth.tsx
  apps/dashboard/src/utils/routes.ts
  apps/dashboard/vite.config.ts
  apps/web/.env.dashboard
  apps/web/package.json
  package.json
  pnpm-lock.yaml
Labels: @novu/web, CI/CD, @novu/dashboard

#7477 feat(api-service): polish attrs process
  apps/api/src/app/environments-v1/usecases/output-renderers/email-output-renderer.spec.ts
  libs/application-generic/src/utils/process-node-attrs.ts
Labels: @novu/api-service

#7447 feat(dashboard): badge component
  apps/dashboard/src/components/activity/activity-job-item.tsx
  apps/dashboard/src/components/activity/activity-table.tsx
  apps/dashboard/src/components/activity/components/status-badge.tsx
  apps/dashboard/src/components/activity/constants.ts
  apps/dashboard/src/components/billing/active-plan-banner.tsx
  apps/dashboard/src/components/billing/highlights-row.tsx
  apps/dashboard/src/components/billing/plans-row.tsx
  apps/dashboard/src/components/integrations/components/integration-card.tsx
  apps/dashboard/src/components/primitives/badge.tsx
  apps/dashboard/src/components/primitives/form/faceted-filter/components/filter-badge.tsx
  apps/dashboard/src/components/primitives/status-badge.tsx
  apps/dashboard/src/components/primitives/tag-input.tsx
  apps/dashboard/src/components/primitives/tag.tsx
  apps/dashboard/src/components/side-navigation/getting-started-menu-item.tsx
  apps/dashboard/src/components/workflow-editor/add-step-menu.tsx
  apps/dashboard/src/components/workflow-editor/editor-breadcrumbs.tsx
  apps/dashboard/src/components/workflow-row.tsx
  apps/dashboard/src/components/workflow-status.tsx
  apps/dashboard/src/components/workflow-tags.tsx
  apps/dashboard/src/pages/integrations-list-page.tsx
Labels: @novu/dashboard

#7490 chore(api-service): Remove forgotten console.log
  .github/workflows/reusable-api-e2e.yml
  apps/api/src/app/events/e2e/bulk-trigger.e2e.ts
  apps/api/src/app/events/e2e/trigger-event.e2e.ts
  apps/api/src/app/shared/helpers/e2e/sdk/e2e-sdk.helper.ts
  apps/api/src/app/subscribers/e2e/update-global-preference.e2e.ts
  apps/api/src/app/tenant/e2e/create-tenant.e2e.ts
  apps/api/src/app/topics/topics.controller.ts
Labels: CI/CD, @novu/api-service

#7492 fix(dashboard): fix clickable actions button
  apps/dashboard/src/components/in-app-action-dropdown.tsx
Labels: @novu/dashboard

#7485 fix(api-service): new workflow e2e
  apps/api/src/app/workflows-v2/generate-preview.e2e.ts
  apps/api/src/app/workflows-v2/workflow.controller.e2e.ts
Labels: @novu/api-service

#7495 fix(api-service): test trigger page crash
  apps/api/src/app/notifications/dtos/activities-response.dto.ts
  apps/api/src/app/notifications/usecases/get-activity-feed/map-feed-item-to.dto.ts
Labels: @novu/api-service

#7456 feat(dashboard): Add a disableOutputSanitization option for in app steps
  apps/api/src/app/environments-v1/usecases/construct-framework-workflow/construct-framework-workflow.usecase.ts
  apps/dashboard/src/components/workflow-editor/steps/component-utils.tsx
  apps/dashboard/src/components/workflow-editor/steps/in-app/in-app-disable-sanitization-switch.tsx
  apps/dashboard/src/components/workflow-editor/steps/in-app/in-app-editor.tsx
  libs/application-generic/src/schemas/control/in-app-control.schema.ts
  libs/application-generic/src/utils/sanitize-control-values.ts
  packages/shared/src/dto/workflows/step.dto.ts
Labels: @novu/shared, @novu/dashboard, @novu/api-service

#7497 feat(dal): new Indicies to reduce CPU load on common queries
  libs/dal/src/repositories/message/message.schema.ts
  libs/dal/src/repositories/notification-template/notification-template.schema.ts
  libs/dal/src/repositories/topic/topic.schema.ts
Labels: @novu/dal

#7498 fix(api-service): preview
  apps/api/src/app/environments-v1/usecases/output-renderers/in-app-output-renderer.usecase.ts
  apps/api/src/app/notifications/dtos/activities-response.dto.ts
  apps/api/src/app/notifications/usecases/get-activity-feed/map-feed-item-to.dto.ts
  apps/api/src/app/workflows-v2/usecases/generate-preview/generate-preview.usecase.ts
Labels: @novu/api-service

#7379 feat(dashboard): variable management for all editor fields
  .cspell.json
  apps/api/src/app/workflows-v2/shared/map-step-type-to-result.mapper.ts
  apps/api/src/app/workflows-v2/util/utils.ts
  apps/dashboard/package.json
  apps/dashboard/public/images/code.svg
  apps/dashboard/src/components/activity/activity-empty-state.tsx
  apps/dashboard/src/components/auth/customize-inbox-playground.tsx
  apps/dashboard/src/components/in-app-action-dropdown.tsx
  apps/dashboard/src/components/primitives/button.tsx
  apps/dashboard/src/components/primitives/command.tsx
  apps/dashboard/src/components/primitives/control-input/control-input.tsx
  apps/dashboard/src/components/primitives/control-input/hooks/use-variables.ts
  apps/dashboard/src/components/primitives/control-input/index.ts
  apps/dashboard/src/components/primitives/control-input/variable-plugin/index.ts
  apps/dashboard/src/components/primitives/control-input/variable-plugin/plugin-view.ts
  apps/dashboard/src/components/primitives/control-input/variable-plugin/types.ts
  apps/dashboard/src/components/primitives/control-input/variable-plugin/utils.ts
  apps/dashboard/src/components/primitives/control-input/variable-plugin/variable-pill-widget.ts
  apps/dashboard/src/components/primitives/control-input/variable-plugin/variable-theme.ts
  apps/dashboard/src/components/primitives/control-input/variable-popover/components/draggable-filter.tsx
  apps/dashboard/src/components/primitives/control-input/variable-popover/components/filter-item.tsx
  apps/dashboard/src/components/primitives/control-input/variable-popover/components/filter-preview.tsx
  apps/dashboard/src/components/primitives/control-input/variable-popover/components/filters-list.tsx
  apps/dashboard/src/components/primitives/control-input/variable-popover/constants.ts
  apps/dashboard/src/components/primitives/control-input/variable-popover/hooks/use-filter-manager.ts
  apps/dashboard/src/components/primitives/control-input/variable-popover/hooks/use-variable-parser.ts
  apps/dashboard/src/components/primitives/control-input/variable-popover/index.ts
  apps/dashboard/src/components/primitives/control-input/variable-popover/types.ts
  apps/dashboard/src/components/primitives/control-input/variable-popover/utils.ts
  apps/dashboard/src/components/primitives/control-input/variable-popover/utils/process-filters.ts
  apps/dashboard/src/components/primitives/control-input/variable-popover/variable-popover.tsx
  apps/dashboard/src/components/primitives/editor.tsx
  apps/dashboard/src/components/primitives/form/avatar-picker.tsx
  apps/dashboard/src/components/primitives/form/faceted-filter/facated-form-filter.tsx
  apps/dashboard/src/components/primitives/form/form.tsx
  apps/dashboard/src/components/primitives/hooks/use-sortable.ts
  apps/dashboard/src/components/workflow-editor/steps/base/base-body.tsx
  apps/dashboard/src/components/workflow-editor/steps/base/base-subject.tsx
  apps/dashboard/src/components/workflow-editor/steps/chat/chat-editor-preview.tsx
  apps/dashboard/src/components/workflow-editor/steps/chat/chat-editor.tsx
  apps/dashboard/src/components/workflow-editor/steps/controls/template-utils.tsx
  apps/dashboard/src/components/workflow-editor/steps/controls/text-widget.tsx
  apps/dashboard/src/components/workflow-editor/steps/digest/digest-key.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/email-subject.tsx
  apps/dashboard/src/components/workflow-editor/steps/in-app/in-app-body.tsx
  apps/dashboard/src/components/workflow-editor/steps/in-app/in-app-subject.tsx
  apps/dashboard/src/components/workflow-editor/steps/push/push-editor-preview.tsx
  apps/dashboard/src/components/workflow-editor/steps/push/push-editor.tsx
  apps/dashboard/src/components/workflow-editor/steps/sms/sms-editor.tsx
  apps/dashboard/src/components/workflow-editor/url-input.tsx
  apps/dashboard/src/utils/liquid-autocomplete.ts
  apps/dashboard/src/utils/telemetry.ts
  pnpm-lock.yaml
Labels: @novu/dashboard, @novu/api-service

#7484 feat(api-service): update sync use new issue creation
  apps/api/src/app/bridge/bridge.module.ts
  apps/api/src/app/bridge/usecases/sync/sync.usecase.ts
  apps/api/src/app/environments-v1/usecases/output-renderers/hydrate-email-schema.usecase.ts
  apps/api/src/app/workflows-v2/shared/compute-workflow-status.ts
  apps/api/src/app/workflows-v2/usecases/build-step-data/build-step-data.usecase.ts
  apps/api/src/app/workflows-v2/usecases/build-step-issues/build-step-issues.command.ts
  apps/api/src/app/workflows-v2/usecases/build-step-issues/build-step-issues.usecase.ts
  apps/api/src/app/workflows-v2/usecases/build-variable-schema/build-available-variable-schema.command.ts
  apps/api/src/app/workflows-v2/usecases/build-variable-schema/build-available-variable-schema.usecase.ts
  apps/api/src/app/workflows-v2/usecases/extract-default-values-from-schema/extract-default-values-from-schema.command.ts
  apps/api/src/app/workflows-v2/usecases/extract-default-values-from-schema/extract-default-values-from-schema.usecase.ts
  apps/api/src/app/workflows-v2/usecases/extract-default-values-from-schema/index.ts
  apps/api/src/app/workflows-v2/usecases/index.ts
  apps/api/src/app/workflows-v2/usecases/overload-content-data/index.ts
  apps/api/src/app/workflows-v2/usecases/overload-content-data/overload-content-data-on-workflow.command.ts
  apps/api/src/app/workflows-v2/usecases/overload-content-data/overload-content-data-on-workflow.usecase.ts
  apps/api/src/app/workflows-v2/usecases/post-process-workflow-update/index.ts
  apps/api/src/app/workflows-v2/usecases/post-process-workflow-update/post-process-workflow-update.command.ts
  apps/api/src/app/workflows-v2/usecases/post-process-workflow-update/post-process-workflow-update.usecase.ts
  apps/api/src/app/workflows-v2/usecases/upsert-workflow/upsert-workflow.usecase.ts
  apps/api/src/app/workflows-v2/usecases/validate-content/build-payload-from-placeholder/build-default-payload.command.ts
  apps/api/src/app/workflows-v2/usecases/validate-content/build-payload-from-placeholder/build-default-payload.response.ts
  apps/api/src/app/workflows-v2/usecases/validate-content/build-payload-from-placeholder/build-default-payload.usecase.ts
  apps/api/src/app/workflows-v2/usecases/validate-content/build-payload-from-placeholder/index.ts
  apps/api/src/app/workflows-v2/usecases/validate-content/collect-placeholders/collect-placeholder-with-defaults.command.ts
  apps/api/src/app/workflows-v2/usecases/validate-content/collect-placeholders/collect-placeholder-with-defaults.usecase.ts
  apps/api/src/app/workflows-v2/usecases/validate-content/collect-placeholders/index.ts
  apps/api/src/app/workflows-v2/usecases/validate-content/collect-placeholders/placeholder.aggregation.ts
  apps/api/src/app/workflows-v2/usecases/validate-content/index.ts
  apps/api/src/app/workflows-v2/usecases/validate-content/prepare-and-validate-content/index.ts
  apps/api/src/app/workflows-v2/usecases/validate-content/prepare-and-validate-content/prepare-and-validate-content.command.ts
  apps/api/src/app/workflows-v2/usecases/validate-content/prepare-and-validate-content/prepare-and-validate-content.usecase.ts
  apps/api/src/app/workflows-v2/usecases/validate-content/prepare-and-validate-content/validated-content.response.ts
  apps/api/src/app/workflows-v2/usecases/validate-content/validate-placeholders/index.ts
  apps/api/src/app/workflows-v2/usecases/validate-content/validate-placeholders/validate-placeholder.command.ts
  apps/api/src/app/workflows-v2/usecases/validate-content/validate-placeholders/validate-placeholder.usecase.ts
  apps/api/src/app/workflows-v2/usecases/validate-content/validate-placeholders/validated-placeholder-aggregation.ts
  apps/api/src/app/workflows-v2/workflow.module.ts
Labels: @novu/api-service

#7483 feat(dashboard): restore email editor 'for' block
  apps/api/src/app/environments-v1/usecases/output-renderers/email-output-renderer.usecase.ts
  apps/api/src/app/environments-v1/usecases/output-renderers/expand-email-editor-schema.usecase.ts
  apps/api/src/app/environments-v1/usecases/output-renderers/hydrate-email-schema.usecase.ts
  apps/api/src/app/workflows-v2/generate-preview.e2e.ts
  apps/api/src/app/workflows-v2/maily-test-data.ts
  apps/api/src/app/workflows-v2/usecases/build-payload-schema/build-payload-schema.usecase.ts
  apps/api/src/app/workflows-v2/usecases/generate-preview/generate-preview.usecase.ts
  apps/api/src/app/workflows-v2/usecases/generate-preview/transform-maily-content-to-liquid.ts
  apps/api/src/app/workflows-v2/util/build-variables.ts
  apps/api/src/app/workflows-v2/util/template-parser/liquid-parser.spec.ts
  apps/api/src/app/workflows-v2/util/template-parser/liquid-parser.ts
  apps/api/src/app/workflows-v2/util/utils.ts
  apps/dashboard/src/components/workflow-editor/steps/email/maily.tsx
  libs/application-generic/src/utils/process-node-attrs.ts
  packages/shared/src/utils/schema/create-mock-object-from-schema.ts
Labels: @novu/shared, @novu/dashboard, @novu/api-service

#7501 fix(api-service): Enhance Feed DTO
  apps/api/src/app/change/usecases/promote-notification-template-change/promote-notification-template-change.usecase.ts
  apps/api/src/app/notifications/dtos/activities-response.dto.ts
  apps/api/src/app/notifications/e2e/get-activity-feed.e2e.ts
  apps/api/src/app/notifications/usecases/get-activity-feed/map-feed-item-to.dto.ts
  apps/api/src/app/shared/dtos/message.template.dto.ts
  apps/api/src/app/shared/dtos/notification-step-dto.ts
  apps/api/src/app/shared/dtos/step-filter-dto.ts
  apps/api/src/app/subscribers/e2e/get-preferences.e2e.ts
  apps/api/src/app/workflows-v1/dto/create-workflow.request.dto.ts
  apps/api/src/app/workflows-v1/dto/update-workflow-request.dto.ts
  apps/api/src/app/workflows-v1/dto/workflow-response.dto.ts
  libs/application-generic/src/usecases/workflow/update-workflow/update-workflow.usecase.ts
  libs/dal/src/repositories/notification-template/notification-template.entity.ts
  pnpm-lock.yaml
Labels: @novu/dal, @novu/api-service

#7513 fix(dashboard): Move bypass sanitization code
  apps/dashboard/src/components/workflow-editor/steps/in-app/in-app-disable-sanitization-switch.tsx
  apps/dashboard/src/components/workflow-editor/steps/in-app/in-app-editor.tsx
Labels: @novu/dashboard

#7518 fix(dashboard): new line for single inputs
  apps/dashboard/src/components/primitives/control-input/control-input.tsx
  apps/dashboard/src/components/primitives/editor.tsx
  apps/dashboard/src/components/workflow-editor/steps/base/base-body.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/email-subject.tsx
  apps/dashboard/src/components/workflow-editor/steps/in-app/in-app-body.tsx
  apps/dashboard/src/pages/api-keys.tsx
Labels: @novu/dashboard

#7519 fix(api-service): fix & simplify email liquid parsing
  apps/api/src/app/environments-v1/usecases/output-renderers/expand-email-editor-schema.usecase.ts
  apps/api/src/app/environments-v1/usecases/output-renderers/hydrate-email-schema.command.ts
  apps/api/src/app/environments-v1/usecases/output-renderers/hydrate-email-schema.usecase.ts
  apps/api/src/app/workflows-v2/e2e/generate-preview.e2e.ts
  apps/api/src/app/workflows-v2/maily-test-data.ts
  apps/api/src/app/workflows-v2/usecases/build-payload-schema/build-payload-schema.usecase.ts
  apps/api/src/app/workflows-v2/usecases/generate-preview/transform-maily-content-to-liquid.ts
  apps/api/src/app/workflows-v2/util/build-variables.ts
  apps/api/src/app/workflows-v2/util/utils.ts
  libs/application-generic/src/utils/process-node-attrs.ts
Labels: @novu/api-service

#7520 fix(dashboard): restore tailwind animations
  apps/dashboard/tailwind.config.ts
Labels: @novu/dashboard

#7521 fix(api-service): api response for notification feed endpoint
  apps/api/src/app/notifications/dtos/activities-response.dto.ts
  apps/api/src/app/notifications/usecases/get-activity-feed/map-feed-item-to.dto.ts
  apps/dashboard/src/components/activity/activity-job-item.tsx
  apps/dashboard/src/components/time-display-hover-card.tsx
  libs/dal/src/repositories/notification/notification.feed.Item.entity.ts
Labels: @novu/dal, @novu/dashboard, @novu/api-service

#7508 feat(api-service): Create subscriber and workflow event
  apps/api/src/app/workflows-v2/usecases/upsert-workflow/upsert-workflow.usecase.ts
  libs/application-generic/src/usecases/create-subscriber/create-subscriber.usecase.ts
Labels: @novu/api-service

#7529 fix(dashboard): scroll
  apps/dashboard/src/components/workflow-editor/test-workflow/test-workflow-logs-sidebar.tsx
Labels: @novu/dashboard

#7528 fix(api-service,dal): activity feed item can have deleted workflow or subscriber data
  apps/api/src/app/notifications/e2e/get-activity-feed.e2e.ts
  apps/api/src/app/notifications/usecases/get-activity-feed/map-feed-item-to.dto.ts
  libs/dal/src/repositories/notification/notification.feed.Item.entity.ts
Labels: @novu/dal, @novu/api-service

#7524 fix(dashboard): editor multiline property
  apps/dashboard/src/components/auth/customize-inbox-playground.tsx
  apps/dashboard/src/components/primitives/form/avatar-picker.tsx
  apps/dashboard/src/components/workflow-editor/steps/shared/configure-preview-accordion.tsx
  apps/dashboard/src/components/workflow-editor/test-workflow/snippet-editor.tsx
  apps/dashboard/src/components/workflow-editor/test-workflow/test-workflow-form.tsx
Labels: @novu/dashboard

#7530 fix(dashboard): allow only parsable json in preview editor
  apps/dashboard/src/components/workflow-editor/steps/chat/chat-editor-preview.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/email-editor-preview.tsx
  apps/dashboard/src/components/workflow-editor/steps/in-app/in-app-editor-preview.tsx
  apps/dashboard/src/components/workflow-editor/steps/push/push-editor-preview.tsx
  apps/dashboard/src/components/workflow-editor/steps/shared/configure-preview-accordion.tsx
  apps/dashboard/src/components/workflow-editor/steps/sms/sms-editor-preview.tsx
  apps/dashboard/src/components/workflow-editor/steps/use-editor-preview.tsx
Labels: @novu/dashboard

#7494 feat(dashboard): Nv 4985 dashboard error state if get workflows fail we have not
  apps/dashboard/src/components/auth/auth-side-banner.tsx
  apps/dashboard/src/components/error-page.tsx
  apps/dashboard/src/components/header-navigation/customer-support-button.tsx
  apps/dashboard/src/components/icons/plug.tsx
  apps/dashboard/src/components/shared/server-error-page.tsx
  apps/dashboard/src/components/workflow-list.tsx
  apps/dashboard/src/hooks/use-plain-chat.ts
  apps/dashboard/src/pages/workflows.tsx
Labels: @novu/dashboard

#7532 fix(dashboard): adjust layout and improve scrolling on test trigger page
  apps/dashboard/src/components/workflow-editor/test-workflow/test-workflow-form.tsx
Labels: @novu/dashboard

#7504 fix(api-service): Nv 4862 e2e tests retry
  .cspell.json
  apps/api/e2e/mock-http-server.ts
  apps/api/e2e/retry.e2e.ts
  apps/api/package.json
  apps/api/src/app/change/usecases/promote-notification-template-change/promote-notification-template-change.usecase.ts
  apps/api/src/app/events/e2e/bulk-trigger.e2e.ts
  apps/api/src/app/health/health.controller.ts
  apps/api/src/app/notifications/dtos/activities-response.dto.ts
  apps/api/src/app/notifications/notification.controller.ts
  apps/api/src/app/shared/framework/idempotency.e2e.ts
  apps/api/src/app/shared/framework/idempotency.interceptor.ts
  apps/api/src/app/shared/framework/response.decorator.ts
  apps/api/src/app/shared/framework/swagger/open.api.manipulation.component.ts
  apps/api/src/app/shared/framework/swagger/sdk.decorators.ts
  apps/api/src/app/shared/framework/swagger/swagger.controller.ts
  apps/api/src/app/shared/helpers/e2e/sdk/e2e-sdk.helper.ts
  apps/api/src/app/testing/dtos/idempotency.dto.ts
  apps/api/src/app/testing/testing.controller.ts
  apps/api/src/app/topics/e2e/create-topic.e2e.ts
  apps/api/src/app/topics/e2e/delete-topic.e2e.ts
  packages/node/src/lib/retry.spec.ts
  pnpm-lock.yaml
Labels: @novu/api-service

#7436 feat(dashboard): Template store modal
  apps/api/src/app/workflows-v2/workflow.controller.ts
  apps/api/src/app/workflows-v2/workflow.module.ts
  apps/dashboard/public/images/dots.svg
  apps/dashboard/src/components/create-workflow-button.tsx
  apps/dashboard/src/components/primitives/button-group.tsx
  apps/dashboard/src/components/primitives/command.tsx
  apps/dashboard/src/components/primitives/hover-card.tsx
  apps/dashboard/src/components/primitives/input.tsx
  apps/dashboard/src/components/step-preview-hover-card.tsx
  apps/dashboard/src/components/template-store/components/workflow-results.tsx
  apps/dashboard/src/components/template-store/templates/access-token.ts
  apps/dashboard/src/components/template-store/templates/appointment-reminder.ts
  apps/dashboard/src/components/template-store/templates/index.ts
  apps/dashboard/src/components/template-store/templates/otp.ts
  apps/dashboard/src/components/template-store/templates/payment-confirmed.ts
  apps/dashboard/src/components/template-store/templates/recent-login.ts
  apps/dashboard/src/components/template-store/templates/renewal-notice.ts
  apps/dashboard/src/components/template-store/templates/types.ts
  apps/dashboard/src/components/template-store/templates/usage-limit.ts
  apps/dashboard/src/components/template-store/types.ts
  apps/dashboard/src/components/template-store/workflow-card.tsx
  apps/dashboard/src/components/template-store/workflow-sidebar.tsx
  apps/dashboard/src/components/template-store/workflow-template-modal.tsx
  apps/dashboard/src/components/workflow-editor/base-node.tsx
  apps/dashboard/src/components/workflow-editor/create-workflow-form.tsx
  apps/dashboard/src/components/workflow-editor/nodes.tsx
  apps/dashboard/src/components/workflow-editor/schema.ts
  apps/dashboard/src/components/workflow-editor/steps/component-utils.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/email-body-editor.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/maily-config.ts
  apps/dashboard/src/components/workflow-editor/steps/email/maily.tsx
  apps/dashboard/src/components/workflow-editor/workflow-canvas.tsx
  apps/dashboard/src/hooks/use-create-workflow.ts
  apps/dashboard/src/pages/index.ts
  apps/dashboard/src/pages/workflows.tsx
  apps/dashboard/src/utils/telemetry.ts
  packages/shared/src/types/feature-flags.ts
  pnpm-lock.yaml
Labels: @novu/shared, @novu/dashboard, @novu/api-service

#7542 fix(dashboard): trigger autosave after applying the filters
  apps/dashboard/src/components/primitives/control-input/control-input.tsx
  apps/dashboard/src/components/workflow-editor/test-workflow/test-workflow-form.tsx
Labels: @novu/dashboard

#7526 feat(dashboard): step conditions form and save logic
  apps/dashboard/src/components/conditions-editor/conditions-editor-context.tsx
  apps/dashboard/src/components/conditions-editor/conditions-editor.tsx
  apps/dashboard/src/components/conditions-editor/value-editor.tsx
  apps/dashboard/src/components/unsaved-changes-alert-dialog.tsx
  apps/dashboard/src/components/workflow-editor/steps/conditions/edit-step-conditions-form.tsx
  apps/dashboard/src/components/workflow-editor/steps/conditions/edit-step-conditions-layout.tsx
  apps/dashboard/src/components/workflow-editor/steps/conditions/edit-step-conditions-skeleton.tsx
  apps/dashboard/src/components/workflow-editor/steps/conditions/edit-step-conditions.tsx
  apps/dashboard/src/components/workflow-editor/steps/configure-step-form.tsx
Labels: @novu/dashboard

#7545 feat(api): Nv 5101 email sent from new dashbord has message clipped block in
  apps/api/src/app/environments-v1/usecases/output-renderers/email-output-renderer.usecase.ts
Labels: @novu/api-service

#7544 refactor(api-service): simplify email render flow
  .cspell.json
  apps/api/src/app/bridge/bridge.module.ts
  apps/api/src/app/environments-v1/novu-bridge.module.ts
  apps/api/src/app/environments-v1/usecases/output-renderers/email-output-renderer.spec.ts
  apps/api/src/app/environments-v1/usecases/output-renderers/email-output-renderer.usecase.ts
  apps/api/src/app/environments-v1/usecases/output-renderers/expand-email-editor-schema-command.ts
  apps/api/src/app/environments-v1/usecases/output-renderers/expand-email-editor-schema.usecase.ts
  apps/api/src/app/environments-v1/usecases/output-renderers/hydrate-email-schema.command.ts
  apps/api/src/app/environments-v1/usecases/output-renderers/hydrate-email-schema.usecase.ts
  apps/api/src/app/environments-v1/usecases/output-renderers/index.ts
  apps/api/src/app/environments-v1/usecases/output-renderers/maily-to-liquid/maily.types.ts
  apps/api/src/app/environments-v1/usecases/output-renderers/maily-to-liquid/wrap-maily-in-liquid.command.ts
  apps/api/src/app/environments-v1/usecases/output-renderers/maily-to-liquid/wrap-maily-in-liquid.usecase.ts
  apps/api/src/app/workflows-v2/e2e/generate-preview.e2e.ts
  apps/api/src/app/workflows-v2/generate-preview.e2e.ts
  apps/api/src/app/workflows-v2/maily-test-data.ts
  apps/api/src/app/workflows-v2/usecases/build-payload-schema/build-payload-schema.usecase.ts
  apps/api/src/app/workflows-v2/usecases/generate-preview/generate-preview.usecase.ts
  apps/api/src/app/workflows-v2/util/build-variables.ts
  apps/api/src/app/workflows-v2/util/tip-tap.util.ts
  apps/api/src/app/workflows-v2/util/utils.ts
  apps/api/src/app/workflows-v2/workflow.module.ts
  libs/application-generic/src/index.ts
  libs/application-generic/src/utils/process-node-attrs.ts
  packages/shared/src/dto/workflows/control-schemas.ts
  packages/shared/src/dto/workflows/index.ts
Labels: @novu/shared, @novu/api-service

#7522 feat(dashboard): Multi environments management
  apps/api/src/app/environments-v1/dtos/create-environment-request.dto.ts
  apps/api/src/app/environments-v1/dtos/update-environment-request.dto.ts
  apps/api/src/app/environments-v1/e2e/get-api-keys.e2e.ts
  apps/api/src/app/environments-v1/environments-v1.controller.ts
  apps/api/src/app/environments-v1/environments-v1.module.ts
  apps/api/src/app/environments-v1/usecases/create-environment/create-environment.command.ts
  apps/api/src/app/environments-v1/usecases/create-environment/create-environment.usecase.ts
  apps/api/src/app/environments-v1/usecases/delete-environment/delete-environment.command.ts
  apps/api/src/app/environments-v1/usecases/delete-environment/delete-environment.usecase.ts
  apps/api/src/app/environments-v1/usecases/delete-environment/index.ts
  apps/api/src/app/environments-v1/usecases/index.ts
  apps/api/src/app/environments-v1/usecases/update-environment/update-environment.command.ts
  apps/api/src/app/environments-v1/usecases/update-environment/update-environment.usecase.ts
  apps/api/src/app/organization/usecases/create-organization/create-organization.usecase.ts
  apps/api/src/app/organization/usecases/create-organization/sync-external-organization/sync-external-organization.usecase.ts
  apps/dashboard/src/api/environments.ts
  apps/dashboard/src/components/billing/features.tsx
  apps/dashboard/src/components/create-environment-button.tsx
  apps/dashboard/src/components/delete-environment-dialog.tsx
  apps/dashboard/src/components/edit-environment-sheet.tsx
  apps/dashboard/src/components/environments-list.tsx
  apps/dashboard/src/components/integrations/components/integration-card.tsx
  apps/dashboard/src/components/integrations/components/integration-configuration.tsx
  apps/dashboard/src/components/primitives/color-picker.tsx
  apps/dashboard/src/components/primitives/environment-branch-icon.tsx
  apps/dashboard/src/components/side-navigation/environment-dropdown.tsx
  apps/dashboard/src/components/side-navigation/side-navigation.tsx
  apps/dashboard/src/components/workflow-editor/configure-workflow-form.tsx
  apps/dashboard/src/components/workflow-row.tsx
  apps/dashboard/src/hooks/use-environments.ts
  apps/dashboard/src/hooks/use-sync-workflow.tsx
  apps/dashboard/src/main.tsx
  apps/dashboard/src/pages/environments.tsx
  apps/dashboard/src/utils/routes.ts
  apps/web/src/components/nav/EnvironmentSelect/EnvironmentSelect.tsx
  libs/dal/src/repositories/environment/environment.entity.ts
  libs/dal/src/repositories/environment/environment.schema.ts
  packages/shared/src/consts/productFeatureEnabledForServiceLevel.ts
  packages/shared/src/entities/environment/environment.interface.ts
  packages/shared/src/types/billing.ts
  packages/shared/src/types/environment.ts
  packages/shared/src/types/feature-flags.ts
Labels: @novu/web, @novu/dal, @novu/shared, @novu/dashboard, @novu/api-service

#7557 chore(root): bump version to 2.1.1 for multiple packages
  .github/workflows/prepare-self-hosted-release.yml
  apps/dashboard/package.json
  apps/inbound-mail/package.json
  apps/web/package.json
  apps/webhook/package.json
  apps/widget/package.json
  apps/worker/package.json
  apps/ws/package.json
  lerna.json
Labels: @novu/web, @novu/webhook, @novu/ws, @novu/worker, CI/CD, @novu/inbound-mail, @novu/dashboard

#7540 feat(dashboard): workflow template store cta on list page
  apps/dashboard/src/components/template-store/templates/access-token.ts
  apps/dashboard/src/components/template-store/templates/payment-confirmed.ts
  apps/dashboard/src/components/template-store/workflow-card.tsx
  apps/dashboard/src/components/template-store/workflow-sidebar.tsx
  apps/dashboard/src/components/template-store/workflow-template-modal.tsx
  apps/dashboard/src/components/workflow-list-empty.tsx
  apps/dashboard/src/components/workflow-list.tsx
  apps/dashboard/src/main.tsx
  apps/dashboard/src/pages/create-workflow.tsx
  apps/dashboard/src/pages/index.ts
  apps/dashboard/src/pages/workflows.tsx
  apps/dashboard/src/utils/routes.ts
  apps/dashboard/src/utils/telemetry.ts
Labels: @novu/dashboard

#7543 feat(api-service,dashboard): step conditions validation logic and conditions editor perf improvements
  apps/api/src/app/shared/services/query-parser/query-validator.service.spec.ts
  apps/api/src/app/shared/services/query-parser/query-validator.service.ts
  apps/api/src/app/shared/services/query-parser/types.ts
  apps/api/src/app/workflows-v2/usecases/build-step-issues/build-step-issues.usecase.ts
  apps/dashboard/src/components/conditions-editor/conditions-editor-context.tsx
  apps/dashboard/src/components/conditions-editor/conditions-editor.tsx
  apps/dashboard/src/components/conditions-editor/field-selector.tsx
  apps/dashboard/src/components/conditions-editor/operator-selector.tsx
  apps/dashboard/src/components/conditions-editor/rule-actions.tsx
  apps/dashboard/src/components/conditions-editor/types.ts
  apps/dashboard/src/components/conditions-editor/value-editor.tsx
  apps/dashboard/src/components/conditions-editor/variable-select.tsx
  apps/dashboard/src/components/primitives/control-input/control-input.tsx
  apps/dashboard/src/components/primitives/control-input/hooks/use-variables.ts
  apps/dashboard/src/components/workflow-editor/steps/conditions/edit-step-conditions-form.tsx
  apps/dashboard/src/components/workflow-editor/steps/conditions/edit-step-conditions-layout.tsx
  apps/dashboard/src/components/workflow-editor/steps/conditions/edit-step-conditions.tsx
  apps/dashboard/src/components/workflow-editor/steps/configure-step-form.tsx
Labels: @novu/dashboard, @novu/api-service

#7558 refactor(worker, application-generic): remove cloudwatch metrics serv…
  apps/worker/src/.env.development
  apps/worker/src/.env.production
  apps/worker/src/.env.test
  apps/worker/src/.example.env
  apps/worker/src/config/env.validators.ts
  libs/application-generic/package.json
  libs/application-generic/src/modules/metrics.module.ts
  libs/application-generic/src/services/metrics/index.ts
  libs/application-generic/src/services/metrics/metrics.service.spec.ts
  libs/application-generic/src/services/metrics/metrics.service.ts
  pnpm-lock.yaml
Labels: @novu/worker

#7559 fix(dashboard): fix issues on environment management NV-5232
  apps/api/src/app/environments-v1/usecases/create-environment/create-environment.usecase.ts
  apps/api/src/app/environments-v1/usecases/update-environment/update-environment.usecase.ts
  apps/dashboard/src/components/create-environment-button.tsx
  apps/dashboard/src/components/edit-environment-sheet.tsx
  apps/dashboard/src/components/environments-list.tsx
  apps/dashboard/src/components/primitives/button.tsx
  apps/dashboard/src/components/primitives/color-picker.tsx
Labels: @novu/dashboard, @novu/api-service

#7563 refactor(web): remove sample workflow sync
  apps/web/src/ee/clerk/components/QuestionnaireForm.tsx
Labels: @novu/web

#7564 feat(dashboard): remove digest key
  apps/dashboard/src/components/workflow-editor/steps/digest/digest-control-values.tsx
Labels: @novu/dashboard

#7550 feat(dashboard): Workflows search and sort functionality - NV-4462 & NV-4461
  apps/api/src/app/workflows-v2/e2e/list-workflows.e2e.ts
  apps/api/src/app/workflows-v2/usecases/list-workflows/list-workflow.usecase.ts
  apps/api/src/app/workflows-v2/workflow.controller.ts
  apps/dashboard/src/api/workflows.ts
  apps/dashboard/src/components/primitives/input.tsx
  apps/dashboard/src/components/primitives/table.tsx
  apps/dashboard/src/components/workflow-list-empty.tsx
  apps/dashboard/src/components/workflow-list.tsx
  apps/dashboard/src/hooks/use-fetch-workflows.ts
  apps/dashboard/src/pages/workflows.tsx
  libs/application-generic/src/commands/project.command.ts
  libs/dal/src/repositories/notification-template/notification-template.repository.ts
  packages/shared/src/clients/workflows-client.ts
  packages/shared/src/dto/workflows/get-list-query-params.ts
  packages/shared/src/types/response.ts
Labels: @novu/dal, @novu/shared, @novu/dashboard, @novu/api-service

#7547 chore(api-service,dashboard): step condition rules compile the liquid template
  apps/api/src/app/bridge/bridge.module.ts
  apps/api/src/app/environments-v1/usecases/construct-framework-workflow/construct-framework-workflow.usecase.ts
  apps/api/src/app/environments-v1/usecases/output-renderers/email-output-renderer.usecase.ts
  apps/api/src/app/shared/helpers/liquid.ts
  apps/api/src/app/shared/services/query-parser/query-parser.service.ts
  apps/api/src/app/workflows-v2/usecases/build-test-data/build-workflow-test-data.usecase.ts
  apps/api/src/app/workflows-v2/usecases/build-variable-schema/build-available-variable-schema.usecase.ts
  apps/api/src/app/workflows-v2/usecases/extract-variables/extract-variables.command.ts
  apps/api/src/app/workflows-v2/usecases/extract-variables/extract-variables.usecase.ts
  apps/api/src/app/workflows-v2/usecases/generate-preview/generate-preview.usecase.ts
  apps/api/src/app/workflows-v2/util/build-variables.ts
  apps/api/src/app/workflows-v2/util/create-schema.ts
  apps/api/src/app/workflows-v2/workflow.module.ts
  apps/dashboard/src/components/conditions-editor/variable-select.tsx
  apps/dashboard/src/components/icons/workflow-trigger-inbox.tsx
  packages/framework/src/client.ts
  packages/framework/src/servers/h3.ts
  packages/framework/src/servers/nuxt.ts
Labels: @novu/dashboard, @novu/api-service

#7569 fix(worker): digest by key
  apps/dashboard/src/components/workflow-editor/steps/digest/digest-control-values.tsx
  apps/worker/src/app/workflow/usecases/add-job/add-job.usecase.ts
  apps/worker/src/app/workflow/usecases/add-job/merge-or-create-digest.usecase.ts
  libs/dal/src/repositories/job/job.repository.ts
  libs/dal/src/repositories/job/job.schema.ts
  packages/shared/src/entities/step/index.ts
Labels: @novu/dal, @novu/shared, @novu/worker, @novu/dashboard

#7571 feat(dashboard): improve telemetry for env
  apps/dashboard/src/components/create-environment-button.tsx
  apps/dashboard/src/pages/environments.tsx
  apps/dashboard/src/pages/workflows.tsx
  apps/dashboard/src/utils/telemetry.ts
Labels: @novu/dashboard

#7565 feat(api-service): step skip conditions handle boolean and dates
  apps/api/src/app/shared/services/query-parser/query-parser.service.ts
Labels: @novu/api-service

#7576 chore(root): Remove unused queue
  apps/api/src/app/shared/shared.module.ts
  apps/worker/src/app/workflow/services/execution-log.worker.spec.ts
  apps/worker/src/app/workflow/services/execution-log.worker.ts
  apps/worker/src/app/workflow/services/index.ts
  apps/worker/src/config/worker-init.config.ts
  libs/application-generic/src/config/workers.ts
  libs/application-generic/src/dtos/execution-log-job.dto.ts
  libs/application-generic/src/dtos/index.ts
  libs/application-generic/src/modules/queues.module.ts
  libs/application-generic/src/services/queues/execution-log-queue.service.spec.ts
  libs/application-generic/src/services/queues/execution-log-queue.service.ts
  libs/application-generic/src/services/queues/index.ts
  libs/application-generic/src/services/workers/execution-log-worker.service.ts
  libs/application-generic/src/services/workers/index.ts
  libs/application-generic/src/usecases/execution-log-route/execution-log-route.usecase.ts
  libs/application-generic/src/usecases/select-integration/select-integration.spec.ts
  libs/testing/src/jobs.service.ts
  packages/shared/src/config/job-queue.ts
  packages/shared/src/types/feature-flags.ts
Labels: @novu/shared, @novu/worker, @novu/api-service

#7551 fix(api-service): email 'if' condition truthy values
  apps/api/src/app/environments-v1/usecases/output-renderers/email-output-renderer.spec.ts
  apps/api/src/app/environments-v1/usecases/output-renderers/email-output-renderer.usecase.ts
  apps/api/src/app/workflows-v2/util/utils.ts
Labels: @novu/api-service

#7580 feat(dashboard): environments empty state MRK-320
  apps/dashboard/src/components/create-environment-button.tsx
  apps/dashboard/src/components/environments-free-state.tsx
  apps/dashboard/src/components/environments-list.tsx
  apps/dashboard/src/pages/environments.tsx
  apps/dashboard/src/utils/telemetry.ts
Labels: @novu/dashboard

#7588 fix(dashboard): free trial card visiblity for paid accounts
  apps/dashboard/src/components/side-navigation/side-navigation.tsx
Labels: @novu/dashboard

#7581 feat(dashboard): email 'for' block visual cues
  apps/dashboard/package.json
  apps/dashboard/src/components/workflow-editor/steps/email/extensions/for-view.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/extensions/for.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/extensions/update-attributes.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/maily.tsx
  pnpm-lock.yaml
Labels: @novu/dashboard

#7525 feat(api-service,dashboard): New subscribers page and api
  apps/api/src/app.module.ts
  apps/api/src/app/subscribers-v2/subscriber.controller.e2e.ts
  apps/api/src/app/subscribers-v2/subscriber.controller.ts
  apps/api/src/app/subscribers-v2/subscriber.module.ts
  apps/api/src/app/subscribers-v2/usecases/list-subscribers/list-subscribers.command.ts
  apps/api/src/app/subscribers-v2/usecases/list-subscribers/list-subscribers.usecase.ts
  apps/api/src/app/subscribers/usecases/search-by-external-subscriber-ids/search-by-external-subscriber-ids.use-case.ts
  apps/dashboard/src/api/subscribers.ts
  apps/dashboard/src/components/activity/activity-filters.tsx
  apps/dashboard/src/components/activity/activity-table.tsx
  apps/dashboard/src/components/cursor-pagination.tsx
  apps/dashboard/src/components/icons/add-subscriber-illustration.tsx
  apps/dashboard/src/components/primitives/table.tsx
  apps/dashboard/src/components/side-navigation/side-navigation.tsx
  apps/dashboard/src/components/subscribers/subscriber-list-blank.tsx
  apps/dashboard/src/components/subscribers/subscriber-list-no-results.tsx
  apps/dashboard/src/components/subscribers/subscriber-list.tsx
  apps/dashboard/src/components/subscribers/subscriber-row.tsx
  apps/dashboard/src/components/subscribers/subscribers-filters.tsx
  apps/dashboard/src/components/time-display-hover-card.tsx
  apps/dashboard/src/components/workflow-list.tsx
  apps/dashboard/src/components/workflow-row.tsx
  apps/dashboard/src/hooks/use-activity-url-state.ts
  apps/dashboard/src/hooks/use-billing-portal.ts
  apps/dashboard/src/hooks/use-checkout-session.ts
  apps/dashboard/src/hooks/use-fetch-bridge-health-check.ts
  apps/dashboard/src/hooks/use-fetch-subscribers.ts
  apps/dashboard/src/hooks/use-fetch-subscription.ts
  apps/dashboard/src/hooks/use-fetch-workflows.ts
  apps/dashboard/src/hooks/use-subscribers-url-state.ts
  apps/dashboard/src/main.tsx
  apps/dashboard/src/pages/subscribers.tsx
  apps/dashboard/src/pages/workflows.tsx
  apps/dashboard/src/routes/root.tsx
  apps/dashboard/src/utils/format-date.ts
  apps/dashboard/src/utils/parse-page-param.ts
  apps/dashboard/src/utils/query-keys.ts
  apps/dashboard/src/utils/routes.ts
  apps/dashboard/src/utils/telemetry.ts
  libs/application-generic/src/commands/project.command.ts
  libs/dal/src/repositories/base-repository.ts
  libs/dal/src/repositories/subscriber/subscriber.repository.ts
  libs/dal/src/repositories/subscriber/subscriber.schema.ts
  packages/js/scripts/size-limit.mjs
  packages/shared/src/dto/subscriber/index.ts
  packages/shared/src/dto/subscriber/list-subscribers.dto.ts
  packages/shared/src/dto/subscriber/subscriber.dto.ts
  packages/shared/src/types/feature-flags.ts
Labels: @novu/dal, @novu/shared, @novu/dashboard, @novu/api-service

#7591 feat(api-service): get subscriber
  apps/api/src/app/subscribers-v2/e2e/get-subscriber.e2e.ts
  apps/api/src/app/subscribers-v2/subscriber.controller.ts
  apps/api/src/app/subscribers-v2/subscriber.module.ts
  apps/api/src/app/subscribers-v2/usecases/get-subscriber/get-subscriber.command.ts
  apps/api/src/app/subscribers-v2/usecases/get-subscriber/get-subscriber.usecase.ts
  libs/dal/src/repositories/subscriber/subscriber.entity.ts
  libs/dal/src/repositories/subscriber/subscriber.schema.ts
  packages/shared/src/dto/subscriber/get-subscriber.dto.ts
  packages/shared/src/dto/subscriber/index.ts
Labels: @novu/dal, @novu/shared, @novu/api-service

#7578 fix(worker): sendErrorStatus to not include unnecessary data
  apps/worker/src/app/workflow/usecases/send-message/send-message-chat.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-email.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-push.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-sms.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-type.usecase.ts
Labels: @novu/worker

#7585 fix(dashboard): email for loop without variables
  apps/api/src/app/environments-v1/usecases/output-renderers/email-output-renderer.usecase.ts
  apps/api/src/app/environments-v1/usecases/output-renderers/maily-to-liquid/maily.types.ts
  apps/api/src/app/environments-v1/usecases/output-renderers/maily-to-liquid/wrap-maily-in-liquid.usecase.ts
Labels: @novu/api-service

#7595 fix(dashboard): allow removing all step conditions
  apps/dashboard/src/components/workflow-editor/steps/conditions/edit-step-conditions-form.tsx
Labels: @novu/dashboard

#7597 fix(application-generic): Check for environment at the very top
  apps/worker/src/app/workflow/services/workflow.worker.ts
  libs/application-generic/src/usecases/trigger-event/trigger-event.usecase.ts
Labels: @novu/worker

#7596 feat(api-service): Add patch subscriber functionality with tests
  apps/api/src/app/subscribers-v2/e2e/patch-subscriber.e2e.ts
  apps/api/src/app/subscribers-v2/subscriber.controller.ts
  apps/api/src/app/subscribers-v2/subscriber.module.ts
  apps/api/src/app/subscribers-v2/usecases/patch-subscriber/patch-subscriber.command.ts
  apps/api/src/app/subscribers-v2/usecases/patch-subscriber/patch-subscriber.usecase.ts
  libs/dal/src/repositories/base-repository.ts
  packages/shared/src/dto/index.ts
  packages/shared/src/dto/pagination/index.ts
  packages/shared/src/dto/pagination/pagination.dto.ts
  packages/shared/src/dto/subscriber/index.ts
  packages/shared/src/dto/subscriber/patch-subscriber.dto.ts
Labels: @novu/dal, @novu/shared, @novu/api-service

#7592 fix(dashboard): skip conditions ui schema check
  apps/dashboard/src/components/workflow-editor/steps/conditions/edit-step-conditions.tsx
  apps/dashboard/src/components/workflow-editor/steps/configure-step-form.tsx
  apps/dashboard/src/components/workflow-editor/steps/skip-conditions-button.tsx
Labels: @novu/dashboard

#7593 feat(dashboard): Workflow onboarding checklist.
  apps/api/src/app/events/usecases/parse-event-request/parse-event-request.usecase.ts
  apps/api/src/app/workflows-v2/mappers/notification-template-mapper.ts
  apps/dashboard/src/api/workflows.ts
  apps/dashboard/src/components/activity/activity-table.tsx
  apps/dashboard/src/components/primitives/popover.tsx
  apps/dashboard/src/components/time-display-hover-card.tsx
  apps/dashboard/src/components/workflow-editor/add-step-menu.tsx
  apps/dashboard/src/components/workflow-editor/workflow-canvas.tsx
  apps/dashboard/src/components/workflow-editor/workflow-checklist.tsx
  apps/dashboard/src/components/workflow-list.tsx
  apps/dashboard/src/components/workflow-row.tsx
  apps/dashboard/src/utils/format-date.ts
  apps/dashboard/src/utils/telemetry.ts
  libs/application-generic/src/usecases/trigger-event/trigger-event.usecase.ts
  libs/dal/src/repositories/notification-template/notification-template.entity.ts
  libs/dal/src/repositories/notification-template/notification-template.repository.ts
  libs/dal/src/repositories/notification-template/notification-template.schema.ts
  packages/shared/src/dto/workflows/get-list-query-params.ts
  packages/shared/src/dto/workflows/workflow.dto.ts
  packages/shared/src/types/feature-flags.ts
Labels: @novu/dal, @novu/shared, @novu/dashboard, @novu/api-service

#7605 fix(web): remove digest check and add failed state
  apps/web/src/components/execution-detail/ExecutionDetailsStepHeader.tsx
Labels: @novu/web

#7603 chore(api-service,dashboard): Replace create_at sorting with _id for subscribers
  apps/api/src/app/subscribers-v2/subscriber.controller.e2e.ts
  apps/api/src/app/subscribers-v2/subscriber.controller.ts
  apps/api/src/app/subscribers-v2/usecases/list-subscribers/list-subscribers.command.ts
  apps/dashboard/src/components/subscribers/subscriber-list.tsx
  apps/dashboard/src/hooks/use-fetch-subscribers.ts
  apps/dashboard/src/hooks/use-subscribers-url-state.ts
  libs/dal/src/repositories/subscriber/subscriber.repository.ts
  libs/dal/src/repositories/subscriber/subscriber.schema.ts
  libs/testing/src/user.session.ts
  packages/shared/src/dto/subscriber/list-subscribers.dto.ts
Labels: @novu/dal, @novu/shared, @novu/dashboard, @novu/api-service

#7607 feat(api-service,dashboard): Delete subscriber functionality
  apps/api/src/app/subscribers-v2/subscriber.controller.ts
  apps/api/src/app/subscribers-v2/subscriber.module.ts
  apps/api/src/app/subscribers-v2/usecases/remove-subscriber/remove-subscriber.command.ts
  apps/api/src/app/subscribers-v2/usecases/remove-subscriber/remove-subscriber.usecase.ts
  apps/dashboard/src/api/subscribers.ts
  apps/dashboard/src/components/subscribers/subscriber-row.tsx
  apps/dashboard/src/hooks/use-delete-subscriber.ts
  packages/shared/src/dto/subscriber/index.ts
  packages/shared/src/dto/subscriber/remove-subscriber.dto.ts
Labels: @novu/shared, @novu/dashboard, @novu/api-service

#7594 chore(api-service,dashboard): step conditions - execute if conditions match
  apps/api/src/app/environments-v1/usecases/construct-framework-workflow/construct-framework-workflow.usecase.ts
  apps/api/src/app/events/e2e/trigger-event.e2e.ts
  apps/dashboard/src/components/conditions-editor/value-editor.tsx
  apps/dashboard/src/components/workflow-editor/base-node.tsx
  apps/dashboard/src/components/workflow-editor/nodes.tsx
  apps/dashboard/src/components/workflow-editor/steps/conditions/edit-step-conditions-layout.tsx
  apps/dashboard/src/components/workflow-editor/steps/conditions/edit-step-conditions.tsx
  apps/dashboard/src/components/workflow-editor/steps/configure-step-form.tsx
  apps/dashboard/src/components/workflow-editor/steps/skip-conditions-button.tsx
Labels: @novu/dashboard, @novu/api-service

#7602 fix(dashboard): step conditions allow duplicating max 10 rules or groups
  apps/dashboard/src/components/conditions-editor/conditions-editor.tsx
  apps/dashboard/src/components/conditions-editor/rule-actions.tsx
Labels: @novu/dashboard

#7615 fix(api-service): Exclude customers from duration restrictions
  libs/application-generic/src/usecases/tier-restrictions-validate/tier-restrictions-validate.usecase.ts
  packages/shared/src/types/feature-flags.ts
Labels: @novu/shared

#7616 fix(api-service): Nv 5293 sdk cleanup pre release
  apps/api/e2e/retry.e2e.ts
  apps/api/src/app/events/dtos/trigger-event-request.dto.ts
  apps/api/src/app/events/e2e/bulk-trigger.e2e.ts
  apps/api/src/app/events/e2e/cancel-event.e2e.ts
  apps/api/src/app/events/e2e/send-message-push.e2e.ts
  apps/api/src/app/events/e2e/trigger-event-topic.e2e.ts
  apps/api/src/app/events/e2e/trigger-event.e2e.ts
  apps/api/src/app/inbox/e2e/get-notifications-count.e2e.ts
  apps/api/src/app/inbox/e2e/get-notifications.e2e.ts
  apps/api/src/app/inbox/e2e/mark-notification-as.e2e.ts
  apps/api/src/app/inbox/e2e/update-all-notifications.e2e.ts
  apps/api/src/app/inbox/e2e/update-notification-action.e2e.ts
  apps/api/src/app/invites/usecases/accept-invite/accept-invite.usecase.ts
  apps/api/src/app/invites/usecases/invite-member/invite-member.usecase.ts
  apps/api/src/app/invites/usecases/resend-invite/resend-invite.usecase.ts
  apps/api/src/app/messages/e2e/get-messages.e2e.ts
  apps/api/src/app/messages/e2e/remove-message.e2e.ts
  apps/api/src/app/notifications/e2e/get-activity-feed.e2e.ts
  apps/api/src/app/notifications/e2e/get-activity-graph-stats.e2e.ts
  apps/api/src/app/notifications/e2e/get-activity-stats.e2e.ts
  apps/api/src/app/shared/framework/swagger/sdk.decorators.ts
  apps/api/src/app/subscribers/e2e/get-notifications-feed.e2e.ts
  apps/api/src/app/subscribers/e2e/get-unseen-count.e2e.ts
  apps/api/src/app/subscribers/e2e/mark-all-subscriber-messages.e2e.ts
  apps/api/src/app/subscribers/e2e/mark-as-by-mark.e2e.ts
  apps/api/src/app/widgets/e2e/get-count.e2e.ts
  apps/api/src/app/widgets/e2e/get-notification-feed.e2e.ts
  apps/api/src/app/widgets/e2e/get-unread-count.e2e.ts
  apps/api/src/app/widgets/e2e/get-unseen-count.e2e.ts
  apps/api/src/app/widgets/e2e/mark-all-as-read.e2e.ts
  apps/api/src/app/widgets/e2e/mark-as-by-mark.e2e.ts
  apps/api/src/app/widgets/e2e/mark-as.e2e.ts
  apps/api/src/app/widgets/e2e/remove-all-messages.e2e.ts
  apps/api/src/app/widgets/e2e/remove-messages-bulk.e2e.ts
  libs/internal-sdk/src/models/components/index.ts
  libs/internal-sdk/src/models/components/triggereventrequestdto.ts
  libs/internal-sdk/src/models/components/workflowtostepcontrolvaluesdto.ts
Labels: @novu/api-service

#7619 fix(dashboard): Subscriber page UI fixes
  apps/dashboard/src/api/subscribers.ts
  apps/dashboard/src/components/confirmation-modal.tsx
  apps/dashboard/src/components/subscribers/subscriber-row.tsx
Labels: @novu/dashboard

#7622 feat(dashboard): Reshape draggable filters behaviour
  apps/dashboard/src/components/primitives/control-input/variable-popover/components/draggable-filter.tsx
  apps/dashboard/src/components/primitives/control-input/variable-popover/components/filters-list.tsx
  apps/dashboard/src/components/primitives/control-input/variable-popover/components/reorder-filter-item.tsx
  apps/dashboard/src/components/primitives/control-input/variable-popover/components/reorder-filters-group.tsx
  apps/dashboard/src/components/primitives/control-input/variable-popover/hooks/use-filter-manager.ts
  apps/dashboard/src/components/primitives/control-input/variable-popover/variable-popover.tsx
  apps/dashboard/src/components/primitives/hooks/use-sortable.ts
Labels: @novu/dashboard

#7613 feat(api-service): get subscriber preferences v2 endpoint
  apps/api/src/app/subscribers-v2/dtos/get-subscriber-preferences.dto.ts
  apps/api/src/app/subscribers-v2/dtos/index.ts
  apps/api/src/app/subscribers-v2/e2e/get-subscriber-preferences.e2e.ts
  apps/api/src/app/subscribers-v2/subscribers.controller.ts
  apps/api/src/app/subscribers-v2/subscribers.module.ts
  apps/api/src/app/subscribers-v2/usecases/get-subscriber-preferences/get-subscriber-preferences.command.ts
  apps/api/src/app/subscribers-v2/usecases/get-subscriber-preferences/get-subscriber-preferences.usecase.ts
  apps/api/src/app/subscribers-v2/usecases/list-subscribers/list-subscribers.usecase.ts
  apps/api/src/app/subscribers/dtos/get-subscriber-preferences-response.dto.ts
  libs/application-generic/src/usecases/get-subscriber-global-preference/get-subscriber-global-preference.usecase.ts
  libs/internal-sdk/src/funcs/subscribersPreferencesRetrieve.ts
  libs/internal-sdk/src/models/components/getsubscriberpreferencesdto.ts
  libs/internal-sdk/src/models/components/globalpreferencedto.ts
  libs/internal-sdk/src/models/components/index.ts
  libs/internal-sdk/src/models/components/overrides.ts
  libs/internal-sdk/src/models/components/triggereventtoallrequestdto.ts
  libs/internal-sdk/src/models/components/workflowinfodto.ts
  libs/internal-sdk/src/models/components/workflowpreferencedto.ts
  libs/internal-sdk/src/models/operations/index.ts
  libs/internal-sdk/src/models/operations/subscriberscontrollergetsubscriberpreferences.ts
  libs/internal-sdk/src/react-query/index.ts
  libs/internal-sdk/src/react-query/subscribersPreferencesRetrieve.ts
  libs/internal-sdk/src/sdk/preferences.ts
  packages/shared/src/entities/subscriber-preference/subscriber-preference.interface.ts
Labels: @novu/shared, @novu/api-service

#7636 fix(dashboard): Add Remove Novu Branding to Inbox
  apps/dashboard/src/api/integrations.ts
  apps/dashboard/src/components/integrations/components/integration-configuration.tsx
  apps/dashboard/src/components/integrations/components/integration-credentials.tsx
  apps/dashboard/src/components/integrations/components/integration-general-settings.tsx
  apps/dashboard/src/components/integrations/components/update-integration-sidebar.tsx
  apps/dashboard/src/components/integrations/types.ts
  apps/dashboard/src/components/primitives/form/form.tsx
Labels: @novu/dashboard

#7628 feat(dashboard): more precise calculation of step conditions
  apps/dashboard/src/components/workflow-editor/nodes.tsx
  apps/dashboard/src/components/workflow-editor/steps/skip-conditions-button.tsx
  apps/dashboard/src/hooks/use-conditions-count.ts
Labels: @novu/dashboard
