Repository novuhq/novu, pull requests merged in 2025-06, with the labels that each got.

#8419 feat(dashboard): Payload schema generation from recent payload
  .github/actions/run-api/action.yml
  apps/dashboard/netlify.toml
  apps/dashboard/src/components/schema-editor/components/array-section.tsx
  apps/dashboard/src/components/schema-editor/schema-property-row.tsx
  apps/dashboard/src/components/workflow-editor/payload-schema-drawer.tsx
  apps/dashboard/src/components/workflow-editor/payload-schema/components/index.ts
  apps/dashboard/src/components/workflow-editor/payload-schema/components/payload-import-editor.tsx
  apps/dashboard/src/components/workflow-editor/payload-schema/components/payload-schema-empty-state.tsx
  apps/dashboard/src/components/workflow-editor/payload-schema/hooks/index.ts
  apps/dashboard/src/components/workflow-editor/payload-schema/hooks/use-import-schema.ts
  apps/dashboard/src/components/workflow-editor/payload-schema/index.ts
  apps/dashboard/src/components/workflow-editor/payload-schema/utils/generate-schema.ts
  apps/dashboard/src/components/workflow-editor/payload-schema/utils/index.ts
Labels: CI/CD, @novu/dashboard

#8385 refactor(api, ws, webhook): replace base image with node:20-alpine and streamline Dockerfiles for api, webhook, and ws services
  apps/api/Dockerfile
  apps/webhook/Dockerfile
  apps/ws/Dockerfile
  docker/Dockerfile.base
Labels: @novu/webhook, @novu/ws, docker, @novu/api-service

#8420 fix(root): update prePopulateEnv call to use 'dashboard' instead of widget
  scripts/setup-env-files.js
Labels: scripts

#8421 feat(dashboard): Novu branding fixes & improvements
  apps/api/src/app/environments-v1/usecases/output-renderers/novu-branding-html.ts
  apps/dashboard/src/components/icons/send.tsx
  apps/dashboard/src/components/upgrade-cta-tooltip.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/email-preview.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/novu-branding.tsx
  apps/dashboard/src/hooks/use-update-organization-settings.ts
  apps/dashboard/src/pages/settings.tsx
Labels: @novu/dashboard, @novu/api-service

#8425 fix(dashboard): Schema review fixes
  apps/api/src/app/workflows-v2/usecases/preview/preview.usecase.ts
  apps/dashboard/src/components/primitives/checkbox.tsx
  apps/dashboard/src/components/primitives/sonner-helpers.tsx
  apps/dashboard/src/components/schema-editor/components/array-section.tsx
  apps/dashboard/src/components/schema-editor/components/enum-section.tsx
  apps/dashboard/src/components/schema-editor/components/object-section.tsx
  apps/dashboard/src/components/schema-editor/constants.ts
  apps/dashboard/src/components/schema-editor/schema-editor.tsx
  apps/dashboard/src/components/schema-editor/schema-property-row.tsx
  apps/dashboard/src/components/schema-editor/use-schema-form.ts
  apps/dashboard/src/components/schema-editor/utils/validation-schema.ts
  apps/dashboard/src/components/workflow-editor/configure-workflow-form.tsx
  apps/dashboard/src/components/workflow-editor/payload-schema-drawer.tsx
  apps/dashboard/src/components/workflow-editor/steps/shared/configure-preview-accordion.tsx
  apps/dashboard/src/components/workflow-editor/steps/shared/editable-json-viewer/editable-json-viewer.tsx
  apps/dashboard/src/components/workflow-editor/steps/use-editor-preview.tsx
  apps/dashboard/src/utils/liquid-autocomplete.tsx
Labels: @novu/dashboard, @novu/api-service

#8426 fix(api-service): optional message tempate id Fixes NV-5983
  apps/api/src/app/widgets/dtos/feeds-response.dto.ts
  libs/internal-sdk/index.js.map
  libs/internal-sdk/src/funcs/subscribersDelete.ts
  libs/internal-sdk/src/funcs/subscribersRetrieve.ts
  libs/internal-sdk/src/funcs/topicsSubscriptionsList.ts
  libs/internal-sdk/src/index.ts
  libs/internal-sdk/src/lib/config.ts
  libs/internal-sdk/src/models/components/notificationfeeditemdto.ts
  libs/internal-sdk/src/models/components/updateintegrationrequestdto.ts
  libs/internal-sdk/src/react-query/subscribersDelete.ts
  libs/internal-sdk/src/react-query/subscribersRetrieve.ts
  libs/internal-sdk/src/react-query/topicsSubscriptionsList.ts
  libs/internal-sdk/src/sdk/subscribers.ts
  libs/internal-sdk/src/sdk/subscriptions.ts
Labels: @novu/api-service

#8424 fix(dashboard): control input variable popover position
  apps/dashboard/src/components/primitives/control-input/control-input.tsx
  apps/dashboard/src/components/primitives/control-input/variable-plugin/variable-pill-widget.ts
  apps/dashboard/src/components/primitives/popover.tsx
  apps/dashboard/src/components/variable/edit-variable-popover.tsx
Labels: @novu/dashboard

#8423 fix(api): branding - multiple body tags
  apps/api/src/app/environments-v1/usecases/output-renderers/email-output-renderer.usecase.ts
Labels: @novu/api-service

#8432 fix(api): credentials perm check
  apps/api/src/app/environments-v1/environments-v1.controller.ts
  apps/api/src/app/integrations/integrations.controller.ts
Labels: @novu/api-service

#8446 chore(api): remove unused fields from integration entity
  apps/api/src/app/organization/usecases/get-organization-settings/get-organization-settings.usecase.ts
  libs/dal/src/repositories/integration/integration.entity.ts
  libs/dal/src/repositories/integration/integration.schema.ts
Labels: @novu/dal, @novu/api-service

#8417 feat(react,js,nextjs,react-native): create new inbox session on subscriber change
  apps/api/src/app/inbox/inbox.controller.ts
  apps/api/src/app/inbox/usecases/session/session.command.ts
  apps/api/src/app/inbox/usecases/session/session.spec.ts
  apps/api/src/app/inbox/usecases/session/session.usecase.ts
  packages/js/src/novu.ts
  packages/js/src/session/session.ts
  packages/react/src/components/Inbox.tsx
  packages/react/src/context/RendererContext.tsx
  packages/react/src/hooks/NovuProvider.tsx
Labels: @novu/api-service

#8059 fix(dashboard): use more idiomatic react-querybuilder code
  apps/dashboard/package.json
  apps/dashboard/src/components/conditions-editor/conditions-editor.tsx
  apps/dashboard/src/components/workflow-editor/steps/conditions/edit-step-conditions-form.tsx
  pnpm-lock.yaml
Labels: @novu/dashboard

#8460 fix(dashboard): prevent rendering when opt-in status is null
  apps/dashboard/src/context/opt-in-provider.tsx
  apps/dashboard/src/hooks/use-new-dashboard-opt-in.ts
Labels: @novu/dashboard

#8489 feat(dashboard): fixed eu region by defult issue
  apps/dashboard/src/components/welcome/framework-guides.instructions.tsx
  packages/add-inbox/package.json
  packages/add-inbox/src/cli/index.ts
  packages/add-inbox/src/config/package-manager.ts
Labels: @novu/dashboard

#8502 fix(dashboard): alias propagation in Maily components
  apps/dashboard/src/components/variable/components/variable-icon.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/maily-config.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/variables/repeat-block-aliases.ts
  apps/dashboard/src/components/workflow-editor/steps/email/variables/variables.ts
  apps/dashboard/src/components/workflow-editor/steps/email/views/repeat-menu-description.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/views/variable-view.tsx
  apps/dashboard/src/utils/parseStepVariables.ts
Labels: @novu/dashboard

#8505 fix(root): bring back eslint and web app build
  apps/dashboard/src/components/topics/hooks/use-topics-navigate.ts
  apps/web/eslint.config.js
  apps/web/package.json
  apps/web/src/ApplicationReadyGuard.tsx
  apps/web/src/Providers.tsx
  apps/web/src/api/hooks/useDeleteIntegration.ts
  apps/web/src/components/docs/Mdx.tsx
  apps/web/src/components/execution-detail/ExecutionDetailsModal.tsx
  apps/web/src/components/layout/components/v2/HeaderMenuItems.tsx
  apps/web/src/components/layout/components/v2/HeaderNav.tsx
  apps/web/src/components/providers/AuthProvider.tsx
  apps/web/src/ee/clerk/providers/ClerkProvider.tsx
  apps/web/src/ee/clerk/utils/environment.ts
  apps/web/src/ee/translations/hooks/useDeleteTranslation.tsx
  apps/web/src/ee/translations/hooks/useDeleteTranslationsGroup.tsx
  apps/web/src/emotion.d.ts
  apps/web/src/hooks/useInlineComponent.tsx
  apps/web/src/hooks/useNovuAPI.ts
  apps/web/src/initializeApp.ts
  apps/web/src/pages/auth/components/useDomainHook.ts
  apps/web/src/pages/changes/components/ChangesTableLayout.tsx
  apps/web/src/pages/settings/SettingsPageContainer.tsx
  apps/web/src/pages/settings/user-profile-page/UserProfileSidebarContext.tsx
  apps/web/src/pages/templates/components/createTranslationMarks.ts
  apps/web/src/studio/LocalStudioAuthenticator.tsx
  apps/web/src/studio/components/workflows/preferences/WorkflowDetailFormContextProvider.tsx
  apps/web/src/studio/components/workflows/preferences/WorkflowSubscriptionPreferences.tsx
  apps/web/src/utils/errors.ts
  apps/web/src/utils/segment.ts
  eslint.config.mjs
  libs/application-generic/src/logging/error-util.ts
  libs/design-system/package.json
  libs/novui/package.json
  package.json
  packages/framework/src/servers/h3.ts
  packages/framework/src/servers/nuxt.ts
  packages/js/src/ui/context/CountContext.tsx
  packages/nextjs/package.json
  packages/nextjs/src/themes/index.ts
  packages/react-native/src/index.ts
  packages/react/src/utils/requestLock.ts
  pnpm-lock.yaml
Labels: @novu/web, @novu/dashboard

#8509 fix(dashboard): author role event trigger error for insufficient - Fixes NV-6111
  apps/dashboard/src/components/workflow-editor/test-workflow/test-workflow-instructions.tsx
  apps/dashboard/src/hooks/use-fetch-api-keys.ts
Labels: @novu/dashboard

#8499 feat(dashboard): variable pill understands local variables
  apps/dashboard/src/components/primitives/control-input/variable-plugin/index.ts
  apps/dashboard/src/components/primitives/control-input/variable-plugin/plugin-view.ts
  apps/dashboard/src/components/primitives/control-input/variable-plugin/types.ts
  apps/dashboard/src/components/primitives/variable-editor.tsx
  apps/dashboard/src/utils/liquid-scope-analyzer.ts
Labels: @novu/dashboard

#8510 feat(dashboard): local and scoped variables autocomplete
  .cspell.json
  apps/dashboard/src/components/primitives/editor.tsx
  apps/dashboard/src/components/side-navigation/free-trial-card.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/html-editor.tsx
  apps/dashboard/src/utils/liquid-autocomplete.tsx
  apps/dashboard/src/utils/liquid-scope-analyzer.ts
  apps/dashboard/src/utils/parseStepVariables.ts
Labels: @novu/dashboard

#8515 chore(api-service): email step ui schema migration
  apps/api/migrations/email-step-ui-schema-html-editor/email-step-ui-schema-html-editor-migration.spec.ts
  apps/api/migrations/email-step-ui-schema-html-editor/email-step-ui-schema-html-editor-migration.ts
Labels: @novu/api-service

#8519 style(dashboard): unify edit step content button text and icon fixes NV-6116
  apps/dashboard/src/components/workflow-editor/steps/configure-step-form.tsx
  apps/dashboard/tests/page-object-models/step-config-sidebar.ts
Labels: @novu/dashboard

#8520 docs(dashboard): Update documentation links in payload schema
  apps/dashboard/src/components/workflow-editor/payload-schema-drawer.tsx
Labels: @novu/dashboard

#8527 fix(api-service): payload schema defaults apply
  apps/api/src/app/events/usecases/parse-event-request/parse-event-request.e2e.ts
  apps/api/src/app/events/usecases/parse-event-request/parse-event-request.usecase.ts
Labels: @novu/api-service

#8524 feat(dashboard): email editor translation variables
  apps/dashboard/package.json
  apps/dashboard/src/components/icons/translate-variable.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/maily-config.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/maily.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/translations/edit-translation-popover.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/translations/index.ts
  apps/dashboard/src/components/workflow-editor/steps/email/translations/translation-decorator.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/translations/translation-keys.ts
  apps/dashboard/src/components/workflow-editor/steps/email/translations/translation-pill.tsx
  packages/shared/src/types/feature-flags.ts
  pnpm-lock.yaml
Labels: @novu/shared, @novu/dashboard

#8534 style(dashboard): Fix minor preview fixes and spacings
  apps/dashboard/src/components/workflow-editor/steps/email/email-preview.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/html-editor.tsx
  apps/dashboard/src/components/workflow-editor/steps/preview/previews/email-preview-wrapper.tsx
  apps/dashboard/src/components/workflow-editor/steps/preview/step-preview-factory.tsx
Labels: @novu/dashboard

#8538 fix(api-service): Make all fields nullable in subscriber response fixes NV-6136
  apps/api/src/app/subscribers-v2/e2e/create-subscriber.e2e.ts
  apps/api/src/app/subscribers-v2/e2e/get-subscriber.e2e.ts
  apps/api/src/app/subscribers/dtos/subscriber-response.dto.ts
  libs/internal-sdk/src/models/components/subscriberresponsedto.ts
  libs/internal-sdk/src/models/components/subscriberresponsedtooptional.ts
  packages/framework/src/types/subscriber.types.ts
Labels: @novu/api-service

#8542 fix(dashboard): update button text to Manage Plan
  apps/dashboard/src/components/billing/plan-action-button.tsx
Labels: @novu/dashboard

#8454 fix(api): add missing properties in feed for SDK
  apps/api/src/app/widgets/dtos/feeds-response.dto.ts
Labels: @novu/api-service

#8482 feat(dashboard): add schema aware step conditions operators fixes NV-6088
  apps/dashboard/src/components/conditions-editor/conditions-editor.tsx
  apps/dashboard/src/components/conditions-editor/field-type-editors.ts
  apps/dashboard/src/components/conditions-editor/field-type-operators.ts
  apps/dashboard/src/components/conditions-editor/value-editor.tsx
  apps/dashboard/src/components/primitives/control-input/control-input.tsx
  apps/dashboard/src/components/primitives/editor.tsx
  apps/dashboard/src/components/workflow-editor/steps/conditions/edit-step-conditions-form.tsx
  apps/dashboard/src/hooks/use-parse-variables.ts
  apps/dashboard/src/utils/parseStepVariables.ts
Labels: @novu/dashboard

#8540 feat(dashboard): removed channel selection screen from the onboarding
  apps/dashboard/src/components/auth/customize-inbox-playground.tsx
  apps/dashboard/src/components/auth/inbox-playground.tsx
  apps/dashboard/src/components/auth/inbox-preview-content.tsx
  apps/dashboard/src/components/auth/questionnaire-form.tsx
  apps/dashboard/src/components/side-navigation/organization-dropdown.tsx
  apps/dashboard/src/hooks/use-init-demo-workflow.ts
Labels: @novu/dashboard

#8559 fix(dashboard): update chat and push provider docs link
  apps/api/src/app/shared/framework/swagger/swagger.controller.ts
  apps/api/swagger-spec.json
  apps/dashboard/src/components/subscribers/subscriber-list-blank.tsx
  apps/dashboard/src/components/workflow-editor/steps/configure-step-template-issue-cta.tsx
  apps/dashboard/src/pages/workflows.tsx
  apps/web/src/pages/integrations/components/NovuProviderBase.tsx
  packages/shared/src/consts/providers/channels/chat.ts
  packages/shared/src/consts/providers/channels/push.ts
  packages/shared/src/consts/providers/credentials/provider-credentials.ts
Labels: @novu/web, @novu/shared, @novu/dashboard, @novu/api-service

#8563 fix(dashboard): Trigger click, is not closing sidebar fixes NV-6148
  apps/dashboard/src/components/workflow-editor/nodes.tsx
  apps/dashboard/src/components/workflow-editor/workflow-canvas.tsx
Labels: @novu/dashboard

#8558 feat(api): integrate ClickHouse for analytics logging
  apps/api/src/app.module.ts
  apps/api/src/app/observability/dtos/get-http-logs-response.dto.ts
  apps/api/src/app/observability/dtos/get-http-logs.dto.ts
  apps/api/src/app/observability/e2e/observability.e2e.ts
  apps/api/src/app/observability/observability.controller.ts
  apps/api/src/app/observability/observability.module.ts
  apps/api/src/app/observability/usecases/get-http-logs/get-http-logs.command.ts
  apps/api/src/app/observability/usecases/get-http-logs/get-http-logs.usecase.ts
  libs/application-generic/src/services/clickhouse/clickhouse.service.ts
Labels: @novu/api-service

#8560 feat(api-service, application-generic): refactor analytics infra
  apps/api/src/app.module.ts
  apps/api/src/app/events/events.controller.ts
  apps/api/src/app/observability/usecases/get-http-logs/get-http-logs.usecase.ts
  apps/api/src/app/shared/framework/analytics-logs.interceptor.ts
  apps/api/src/app/shared/framework/idempotency.interceptor.ts
  apps/api/src/app/shared/shared.module.ts
  libs/application-generic/package.json
  libs/application-generic/src/services/clickhouse/base.repository.ts
  libs/application-generic/src/services/clickhouse/clickhouse.service.ts
  libs/application-generic/src/services/clickhouse/http-log.repository.ts
  libs/application-generic/src/services/clickhouse/http-log.schema.ts
  libs/application-generic/src/services/clickhouse/types.ts
  libs/application-generic/src/services/index.ts
  libs/application-generic/src/services/storage/index.ts
  pnpm-lock.yaml
Labels: @novu/api-service

#8572 fix(dashboard): add VITE_LEGACY_DASHBOARD_URL to environment script
  apps/dashboard/docker-entrypoint.sh
Labels: @novu/dashboard

#8574 chore(root): update service images to version 2.3.0 for api, worker, ws, and dashboard
  docker/community/docker-compose.yml
Labels: docker

#8565 fix(web): Fetch branding details on page load of branding
  apps/web/src/api/hooks/index.ts
  apps/web/src/api/hooks/useFetchOrganization.ts
  apps/web/src/pages/brand/BrandingPage.tsx
Labels: @novu/web

#8601 fix(api-service): control values fix validation for external workflows fixes NV-6190
  .cursor/Dockerfile
  .cursor/environment.json
  apps/api/src/app/events/e2e/bridge-trigger.e2e.ts
  apps/api/src/app/workflows-v2/dtos/create-step.dto.ts
  apps/api/src/app/workflows-v2/usecases/upsert-workflow/upsert-workflow.usecase.ts
  apps/api/src/app/workflows-v2/utils/control-values-validator.util.ts
  apps/dashboard/src/components/workflow-editor/steps/components/preview-payload-section.tsx
  libs/internal-sdk/src/lib/config.ts
  libs/internal-sdk/src/models/components/chatstepupsertdto.ts
  libs/internal-sdk/src/models/components/customstepupsertdto.ts
  libs/internal-sdk/src/models/components/delaycontroldto.ts
  libs/internal-sdk/src/models/components/delaystepupsertdto.ts
  libs/internal-sdk/src/models/components/digeststepupsertdto.ts
  libs/internal-sdk/src/models/components/emailstepupsertdto.ts
  libs/internal-sdk/src/models/components/inappstepupsertdto.ts
  libs/internal-sdk/src/models/components/lookbackwindowdto.ts
  libs/internal-sdk/src/models/components/pushstepupsertdto.ts
  libs/internal-sdk/src/models/components/smsstepupsertdto.ts
  playground/nestjs/package.json
Labels: @novu/dashboard, @novu/api-service

#8516 fix(api-service): include GLOBAL_CONTEXT_PATH and API_CONTEXT_PATH in preview URL
  libs/application-generic/src/usecases/execute-bridge-request/execute-bridge-request.usecase.ts
Labels: coderabbit-review

#8597 feat(api-service,dashboard): list all v2 layouts
  apps/api/src/app/layouts-v2/usecases/list-layouts/list-layouts.command.ts
  apps/api/src/app/layouts-v2/usecases/list-layouts/list-layouts.use-case.spec.ts
  apps/api/src/app/layouts-v2/usecases/list-layouts/list-layouts.use-case.ts
  apps/dashboard/src/api/layouts.ts
  apps/dashboard/src/components/layouts/hooks/use-layouts-url-state.tsx
  apps/dashboard/src/components/layouts/layout-list.tsx
  apps/dashboard/src/components/layouts/layout-row.tsx
  apps/dashboard/src/hooks/use-fetch-layouts.tsx
  apps/dashboard/src/utils/query-keys.ts
  libs/dal/src/repositories/base-repository.ts
  libs/dal/src/repositories/layout/layout.repository.ts
  libs/dal/src/repositories/localization-group/localization-group.repository.ts
  packages/shared/src/dto/layout/layout.dto.ts
Labels: @novu/dal, @novu/shared, @novu/dashboard, @novu/api-service
