Repository novuhq/novu, pull requests merged in 2025-05, with the labels that each got.

#8222 feat(api-service): Preview tests
  apps/api/src/app/workflows-v2/e2e/generate-preview.e2e.ts
Labels: @novu/api-service

#8241 feat(api-service): add swagger versioning
  apps/api/src/app/shared/framework/swagger/swagger.controller.ts
Labels: @novu/api-service

#8223 fix(webhook): remove --prod flag from production dependencies inst…
  apps/webhook/Dockerfile
Labels: @novu/webhook

#8221 feat(root, dashboard): new dockerfile for the dashboard service
  .cspell.json
  .github/workflows/prepare-self-hosted-release.yml
  apps/dashboard/docker-entrypoint.sh
  apps/dashboard/dockerfile
  apps/dashboard/src/config/index.ts
  docker/community/.env.example
  docker/community/docker-compose.yml
Labels: CI/CD, docker, @novu/dashboard

#8243 fix(dashboard): repeat block padding and remove grammarly on the email editor
  apps/dashboard/src/components/workflow-editor/steps/email/maily.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/views/for-view.tsx
  apps/dashboard/src/hooks/use-mutation-observer.ts
  apps/dashboard/src/hooks/use-remove-grammarly.ts
Labels: @novu/dashboard

#8228 feat(js): Snooze
  apps/api/src/app/inbox/usecases/notifications-count/notifications-count.spec.ts
  apps/dashboard/src/components/integrations/components/integration-card.tsx
  apps/dashboard/src/components/integrations/components/integration-general-settings.tsx
  libs/dal/src/repositories/message/message.repository.ts
  packages/js/package.json
  packages/js/src/ui/components/Inbox.tsx
  packages/js/src/ui/components/InboxTabs/InboxTabs.tsx
  packages/js/src/ui/components/Notification/DefaultNotification.tsx
  packages/js/src/ui/components/Notification/NotificationActions.tsx
  packages/js/src/ui/components/Notification/SnoozeDateTimePicker.tsx
  packages/js/src/ui/components/Notification/index.ts
  packages/js/src/ui/components/elements/Header/MoreActionsDropdown.tsx
  packages/js/src/ui/components/elements/Header/MoreActionsOptions.tsx
  packages/js/src/ui/components/elements/InboxStatus/InboxStatusOptions.tsx
  packages/js/src/ui/components/primitives/Badge.tsx
  packages/js/src/ui/components/primitives/DatePicker.tsx
  packages/js/src/ui/components/primitives/Dropdown/DropdownContent.tsx
  packages/js/src/ui/components/primitives/Dropdown/DropdownItem.tsx
  packages/js/src/ui/components/primitives/Dropdown/DropdownTrigger.tsx
  packages/js/src/ui/components/primitives/Input.tsx
  packages/js/src/ui/components/primitives/Popover/PopoverClose.tsx
  packages/js/src/ui/components/primitives/Popover/PopoverContent.tsx
  packages/js/src/ui/components/primitives/Popover/PopoverRoot.tsx
  packages/js/src/ui/components/primitives/Popover/PopoverTrigger.tsx
  packages/js/src/ui/components/primitives/Portal.tsx
  packages/js/src/ui/components/primitives/TimePicker.tsx
  packages/js/src/ui/components/primitives/Tooltip/TooltipContent.tsx
  packages/js/src/ui/components/primitives/Tooltip/TooltipRoot.tsx
  packages/js/src/ui/components/primitives/Tooltip/TooltipTrigger.tsx
  packages/js/src/ui/config/appearanceKeys.ts
  packages/js/src/ui/config/defaultLocalization.ts
  packages/js/src/ui/context/CountContext.tsx
  packages/js/src/ui/context/InboxContext.tsx
  packages/js/src/ui/helpers/formatToRelativeTime.ts
  packages/js/src/ui/helpers/mergeRefs.ts
  packages/js/src/ui/icons/ArrowRight.tsx
  packages/js/src/ui/icons/Clock.tsx
  packages/js/src/ui/icons/MarkAsArchived.tsx
  packages/js/src/ui/icons/MarkAsArchivedRead.tsx
  packages/js/src/ui/icons/MarkAsRead.tsx
  packages/js/src/ui/icons/MarkAsUnread.tsx
  packages/js/src/ui/icons/Snooze.tsx
  packages/js/src/ui/icons/UnreadRead.tsx
  packages/js/src/ui/icons/Unsnooze.tsx
  packages/js/src/ui/index.css
  pnpm-lock.yaml
Labels: @novu/dal, @novu/dashboard, @novu/api-service

#7982 fix(dashboard): add client side validation for apns key
  apps/dashboard/src/components/integrations/components/integration-credentials.tsx
  packages/shared/src/consts/providers/credentials/provider-credentials.ts
  packages/shared/src/consts/providers/provider.interface.ts
Labels: @novu/shared, @novu/dashboard

#7448 feat(api-service): provider trigger overrides alignment
  apps/api/src/app/events/dtos/trigger-event-request.dto.ts
  apps/api/src/app/events/dtos/trigger-event-to-all-request.dto.ts
  apps/api/src/app/events/events.controller.ts
  apps/api/src/app/events/usecases/parse-event-request/parse-event-request.command.ts
  apps/api/src/app/events/usecases/trigger-event-to-all/trigger-event-to-all.command.ts
  apps/api/src/app/events/usecases/trigger-event-to-all/trigger-event-to-all.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-chat.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-email.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-push.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-sms.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message.base.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message.command.ts
  apps/worker/src/app/workflow/usecases/subscriber-job-bound/subscriber-job-bound.command.ts
  libs/application-generic/src/dtos/process-subscriber-job.dto.ts
  libs/application-generic/src/dtos/workflow-job.dto.ts
  libs/application-generic/src/usecases/create-notification-jobs/create-notification-jobs.command.ts
  libs/application-generic/src/usecases/trigger-event/trigger-event.command.ts
  libs/dal/src/repositories/job/job.entity.ts
  packages/framework/src/index.ts
  packages/shared/src/dto/events/event.interface.ts
Labels: @novu/dal, @novu/shared, @novu/worker, @novu/api-service

#8185 chore(root): remove obselete github workflows.
  .github/actions/docker/build-api/action.yml
  .github/actions/docker/build-worker/action.yml
  .github/workflows/dev-deploy-api.yml
  .github/workflows/dev-deploy-webhook.yml
  .github/workflows/dev-deploy-worker.yml
  .github/workflows/dev-deploy-ws.yml
  .github/workflows/prod-deploy-api.yml
  .github/workflows/prod-deploy-webhook.yml
  .github/workflows/prod-deploy-worker.yml
  .github/workflows/prod-deploy-ws.yml
  .github/workflows/reusable-app-service-deploy.yml
  .github/workflows/reusable-docker.yml
  .github/workflows/reusable-workers-service-deploy.yml
Labels: CI/CD

#8249 feat(worker): Add fcm topics support - DRAFT
  apps/api/src/app/events/dtos/trigger-event-request.dto.ts
  apps/api/src/app/widgets/dtos/message-response.dto.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-push.usecase.ts
  libs/dal/src/repositories/message/message.repository.ts
  libs/internal-sdk/.gitignore
  libs/internal-sdk/.speakeasy/gen.yaml
  libs/internal-sdk/eslint.config.mjs
  libs/internal-sdk/src/lib/config.ts
  libs/internal-sdk/src/lib/sdks.ts
  libs/internal-sdk/src/models/components/activitynotificationjobresponsedto.ts
  libs/internal-sdk/src/models/components/activitynotificationstepresponsedto.ts
  libs/internal-sdk/src/models/components/digestmetadatadto.ts
  libs/internal-sdk/src/models/components/digestregularmetadata.ts
  libs/internal-sdk/src/models/components/digesttimedconfigdto.ts
  libs/internal-sdk/src/models/components/index.ts
  libs/internal-sdk/src/models/components/messageactionresult.ts
  libs/internal-sdk/src/models/components/messagecta.ts
  libs/internal-sdk/src/models/components/messageresponsedto.ts
  libs/internal-sdk/src/models/components/messagesresponsedto.ts
  libs/internal-sdk/src/models/components/notificationstepdto.ts
  libs/internal-sdk/src/models/components/notificationtriggerdto.ts
  libs/internal-sdk/src/models/components/stepcontentissueenum.ts
  libs/internal-sdk/src/models/components/stepsoverrides.ts
  libs/internal-sdk/src/models/components/timedconfig.ts
  libs/internal-sdk/src/models/components/triggereventrequestdto.ts
  libs/internal-sdk/src/models/components/triggereventtoallrequestdto.ts
  libs/internal-sdk/src/models/operations/messagescontrollergetmessages.ts
  packages/providers/package.json
  packages/providers/src/lib/push/fcm/fcm.provider.ts
  pnpm-lock.yaml
Labels: @novu/dal, @novu/worker, @novu/api-service

#8255 fix(root): security issue in axios and body-parser
  apps/api/package.json
  apps/web/package.json
  apps/webhook/package.json
  apps/worker/package.json
  libs/application-generic/package.json
  libs/design-system/package.json
  libs/testing/package.json
  packages/novu/package.json
  packages/providers/package.json
  pnpm-lock.yaml
Labels: @novu/web, @novu/webhook, @novu/worker, @novu/api-service

#8251 feat(js,dashboard): inbox snooze improvements
  apps/dashboard/src/components/billing/plan.tsx
  apps/web/src/ee/billing/components/Features.tsx
  packages/js/src/ui/components/Notification/NotificationActions.tsx
  packages/js/src/ui/config/defaultLocalization.ts
Labels: @novu/web, @novu/js, @novu/dashboard

#8248 chore(root): Remove enhanced digest feature flag
  apps/api/src/app/environments-v1/usecases/output-renderers/email-output-renderer.usecase.ts
  apps/api/src/app/shared/helpers/liquid.ts
  apps/api/src/app/workflows-v2/e2e/generate-preview.e2e.ts
  apps/api/src/app/workflows-v2/shared/map-step-type-to-result.mapper.ts
  apps/api/src/app/workflows-v2/usecases/build-variable-schema/build-available-variable-schema.usecase.ts
  apps/api/src/app/workflows-v2/usecases/create-variables-object/create-variables-object.usecase.ts
  apps/api/src/app/workflows-v2/usecases/preview/preview.usecase.ts
  apps/dashboard/src/components/primitives/control-input/control-input.tsx
  apps/dashboard/src/components/primitives/control-input/variable-plugin/index.ts
  apps/dashboard/src/components/primitives/control-input/variable-plugin/plugin-view.ts
  apps/dashboard/src/components/primitives/control-input/variable-plugin/types.ts
  apps/dashboard/src/components/primitives/control-input/variable-plugin/variable-pill-widget.ts
  apps/dashboard/src/components/variable/components/reorder-filter-item.tsx
  apps/dashboard/src/components/variable/constants.ts
  apps/dashboard/src/components/variable/edit-variable-popover.tsx
  apps/dashboard/src/components/variable/hooks/use-filter-manager.ts
  apps/dashboard/src/components/variable/hooks/use-suggested-filters.ts
  apps/dashboard/src/components/variable/hooks/use-variable-parser.ts
  apps/dashboard/src/components/variable/utils.ts
  apps/dashboard/src/components/variable/variable-pill-old.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/maily-config.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/maily.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/variables/variables.ts
  apps/dashboard/src/components/workflow-editor/steps/email/views/repeat-menu-description.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/views/variable-view.tsx
  apps/dashboard/src/hooks/use-parse-variables.ts
  apps/dashboard/src/utils/liquid-autocomplete.ts
  apps/dashboard/src/utils/parseStepVariables.ts
  apps/worker/src/app/workflow/usecases/execute-bridge-job/execute-bridge-job.usecase.ts
  packages/shared/src/types/feature-flags.ts
Labels: @novu/shared, @novu/worker, @novu/dashboard, @novu/api-service

#8257 fix(api-service): security vulnerable packages update mongoose spectral
  apps/api/package.json
  enterprise/packages/auth/package.json
  enterprise/packages/billing/package.json
  enterprise/packages/dal/package.json
  libs/dal/package.json
  packages/providers/package.json
  pnpm-lock.yaml
Labels: @novu/dal, @novu/api-service

#8270 feat(api-service): fix oss org index
  apps/api/src/app/auth/community.auth.module.config.ts
  apps/api/src/app/auth/services/community-edition.service.ts
  libs/dal/src/repositories/organization/organization.schema.ts
Labels: @novu/dal, @novu/api-service

#8273 fix(dashboard): Bug fixes for topics behaviour
  apps/api/src/app/topics-v1/use-cases/create-topic/create-topic.use-case.ts
  apps/api/src/app/topics-v2/dtos/create-update-topic.dto.ts
  apps/api/src/app/topics-v2/topics.controller.ts
  apps/api/src/app/topics-v2/usecases/list-topics/list-topics.command.ts
  apps/api/src/app/topics-v2/usecases/list-topics/list-topics.usecase.ts
  apps/api/src/app/topics-v2/usecases/upsert-topic/upsert-topic.command.ts
  apps/api/src/app/topics-v2/usecases/upsert-topic/upsert-topic.usecase.ts
  apps/dashboard/src/components/primitives/form/form.tsx
  apps/dashboard/src/components/subscribers/subscriber-autocomplete.tsx
  apps/dashboard/src/components/topics/create-topic-form.tsx
  apps/dashboard/src/components/topics/hooks/use-topic-subscribers.ts
  apps/dashboard/src/components/topics/hooks/use-topic.ts
  apps/dashboard/src/components/topics/hooks/use-topics-url-state.ts
  apps/dashboard/src/components/topics/topic-drawer.tsx
  apps/dashboard/src/components/topics/topic-list.tsx
  apps/dashboard/src/components/topics/topic-subscriber-item.tsx
  libs/design-system/package.json
  packages/shared/src/consts/validIdRegex.ts
Labels: @novu/shared, @novu/dashboard, @novu/api-service

#8274 feat(api): OSS sign in flows
  apps/api/src/app/auth/auth.controller.ts
  apps/api/src/app/auth/community.auth.module.config.ts
  apps/api/src/app/auth/framework/self-host-secret.guard.ts
  apps/api/src/app/auth/services/community-edition.service.ts
  apps/api/src/app/auth/usecases/self-host/self-host.command.ts
  apps/api/src/app/auth/usecases/self-host/self-host.usecase.ts
  apps/api/src/app/shared/helpers/self-hosted.ts
  apps/dashboard/src/components/auth/auth-side-banner.tsx
  apps/dashboard/src/config/index.ts
  apps/dashboard/src/pages/sign-in.tsx
  apps/dashboard/src/pages/sign-up.tsx
  apps/dashboard/src/utils/self-hosted/api-interceptor.tsx
  apps/dashboard/src/utils/self-hosted/components.tsx
  apps/dashboard/src/utils/self-hosted/jwt-manager.tsx
  apps/dashboard/src/utils/self-hosted/organization-switcher.tsx
  apps/dashboard/src/utils/self-hosted/organization.resource.tsx
  apps/dashboard/src/utils/self-hosted/user-button.tsx
  docker/community/docker-compose.yml
  libs/application-generic/src/http/headers.types.ts
Labels: docker, @novu/dashboard, @novu/api-service

#8284 refactor(dashboard): enhance password validation and UI feedback
  apps/dashboard/src/components/auth/auth-side-banner.tsx
  apps/dashboard/src/hooks/use-onboarding-steps.ts
  apps/dashboard/src/utils/self-hosted/components.tsx
  docker/community/docker-compose.yml
  packages/shared/src/consts/password-helper/passwordHelper.ts
Labels: @novu/shared, docker, @novu/dashboard

#8282 fix(dal): update partial filter expression for unique email constraint
  libs/dal/src/repositories/user/user.schema.ts
Labels: @novu/dal

#8289 feat(dal): add unique index on _environmentId and key in topic schema
  libs/dal/src/repositories/topic/topic.schema.ts
Labels: @novu/dal

#8291 fix(root): vitest vulnerable version update
  libs/application-generic/package.json
  libs/dal/src/repositories/topic/topic.schema.ts
  packages/providers/package.json
  packages/providers/src/lib/email/mailjet/mailjet.provider.spec.ts
  packages/providers/src/lib/push/fcm/fcm.provider.spec.ts
  packages/shared/package.json
  playground/nestjs/package.json
  pnpm-lock.yaml
Labels: @novu/dal, @novu/shared

#8290 fix(root): vulnerable axios version fix
  apps/api/package.json
  apps/api/src/app/shared/services/sms/sms.service.ts
  packages/providers/package.json
  pnpm-lock.yaml
Labels: @novu/api-service

#8272 test(api): snooze/usnooze test coverage
  apps/api/src/app/inbox/e2e/get-notifications-count.e2e.ts
  apps/api/src/app/inbox/e2e/get-notifications.e2e.ts
  apps/api/src/app/inbox/e2e/mark-notification-as.e2e.ts
  apps/api/src/app/inbox/e2e/snooze-unsnooze-notification.e2e.ts
  apps/api/src/app/inbox/usecases/snooze-notification/snooze-notification.spec.ts
  apps/api/src/app/inbox/usecases/snooze-notification/snooze-notification.usecase.ts
  apps/api/src/app/inbox/usecases/unsnooze-notification/unsnooze-notification.spec.ts
Labels: @novu/api-service

#8286 chore(api,dashboard,web): remove snooze feature flag
  apps/api/src/app/inbox/e2e/mark-notification-as.e2e.ts
  apps/api/src/app/inbox/e2e/snooze-unsnooze-notification.e2e.ts
  apps/api/src/app/inbox/usecases/snooze-notification/snooze-notification.spec.ts
  apps/api/src/app/inbox/usecases/snooze-notification/snooze-notification.usecase.ts
  apps/api/src/app/inbox/usecases/unsnooze-notification/unsnooze-notification.spec.ts
  apps/api/src/app/inbox/usecases/unsnooze-notification/unsnooze-notification.usecase.ts
  apps/dashboard/src/components/billing/plan.tsx
  apps/dashboard/src/components/integrations/components/integration-card.tsx
  apps/web/src/ee/billing/components/Features.tsx
  packages/shared/src/types/feature-flags.ts
Labels: @novu/web, @novu/shared, @novu/dashboard, @novu/api-service

#8292 feat(api-service): inbox bulk update preferences
  apps/api/src/app/inbox/dtos/bulk-update-preferences-request.dto.ts
  apps/api/src/app/inbox/inbox.controller.ts
  apps/api/src/app/inbox/usecases/bulk-update-preferences/bulk-update-preferences.command.ts
  apps/api/src/app/inbox/usecases/bulk-update-preferences/bulk-update-preferences.spec.ts
  apps/api/src/app/inbox/usecases/bulk-update-preferences/bulk-update-preferences.usecase.ts
  apps/api/src/app/inbox/usecases/index.ts
  apps/api/src/app/inbox/usecases/update-preferences/update-preferences.command.ts
  apps/api/src/app/inbox/usecases/update-preferences/update-preferences.spec.ts
  apps/api/src/app/inbox/usecases/update-preferences/update-preferences.usecase.ts
  apps/api/src/app/inbox/utils/analytics.ts
  apps/api/src/app/subscribers-v2/usecases/update-subscriber-preferences/update-subscriber-preferences.usecase.ts
  apps/api/src/app/subscribers/subscribersV1.controller.ts
  apps/api/src/app/subscribers/usecases/index.ts
  apps/api/src/app/widgets/widgets.controller.ts
Labels: @novu/api-service

#8259 fix(dashboard): Improve ux for jit variables
  apps/dashboard/src/utils/liquid-autocomplete.ts
  apps/dashboard/src/utils/parseStepVariables.ts
Labels: @novu/dashboard

#8311 fix(root): .env example to support migration
  docker/community/.env.example
  docker/community/docker-compose.yml
  scripts/dotenvcreate.mjs
Labels: docker, scripts

#8323 fix(api): oss nest js boostrap
  apps/api/src/app/auth/usecases/index.ts
Labels: @novu/api-service

#8300 feat(api-service): Webhook management
  .cspell.json
  apps/api/package.json
  apps/api/src/app.module.ts
  apps/api/src/app/bridge/bridge.module.ts
  apps/api/src/app/shared/framework/swagger/swagger.controller.ts
  apps/api/src/app/webhooks/dtos/create-webhook-portal-response.dto.ts
  apps/api/src/app/webhooks/dtos/get-webhook-portal-token-response.dto.ts
  apps/api/src/app/webhooks/usecases/create-webhook-portal-token/create-webhook-portal.command.ts
  apps/api/src/app/webhooks/usecases/create-webhook-portal-token/create-webhook-portal.usecase.ts
  apps/api/src/app/webhooks/usecases/get-webhook-portal-token/get-webhook-portal-token.command.ts
  apps/api/src/app/webhooks/usecases/get-webhook-portal-token/get-webhook-portal-token.usecase.ts
  apps/api/src/app/webhooks/webhooks.const.ts
  apps/api/src/app/webhooks/webhooks.controller.ts
  apps/api/src/app/webhooks/webhooks.module.ts
  apps/api/src/app/workflows-v1/workflow-v1.module.ts
  apps/api/src/app/workflows-v2/dtos/controls-metadata.dto.ts
  apps/api/src/app/workflows-v2/dtos/step.response.dto.ts
  apps/api/src/app/workflows-v2/usecases/patch-workflow/patch-workflow.usecase.ts
  apps/api/src/app/workflows-v2/usecases/upsert-workflow/upsert-workflow.usecase.ts
  apps/api/src/app/workflows-v2/workflow.module.ts
  apps/dashboard/package.json
  apps/dashboard/src/api/webhooks.ts
  apps/dashboard/src/components/side-navigation/side-navigation.tsx
  apps/dashboard/src/components/webhooks/webhooks-paywall-state.tsx
  apps/dashboard/src/main.tsx
  apps/dashboard/src/pages/webhooks-page.tsx
  apps/dashboard/src/utils/routes.ts
  eslint.config.mjs
  libs/application-generic/package.json
  libs/application-generic/src/index.ts
  libs/application-generic/src/usecases/workflow/delete-workflow/delete-workflow.usecase.ts
  libs/application-generic/src/webhooks/dtos/index.ts
  libs/application-generic/src/webhooks/dtos/webhook-payload.dto.ts
  libs/application-generic/src/webhooks/index.ts
  libs/application-generic/src/webhooks/services/index.ts
  libs/application-generic/src/webhooks/services/svix-provider.service.ts
  libs/application-generic/src/webhooks/usecases/index.ts
  libs/application-generic/src/webhooks/usecases/send-webhook-message/index.ts
  libs/application-generic/src/webhooks/usecases/send-webhook-message/send-webhook-message.command.ts
  libs/application-generic/src/webhooks/usecases/send-webhook-message/send-webhook-message.usecase.ts
  libs/application-generic/src/webhooks/utils/app-id.ts
  libs/application-generic/src/webhooks/utils/index.ts
  libs/dal/src/repositories/environment/environment.entity.ts
  libs/dal/src/repositories/environment/environment.schema.ts
  packages/shared/src/consts/feature-tiers-constants.ts
  packages/shared/src/consts/productFeatureEnabledForServiceLevel.ts
  packages/shared/src/entities/environment/environment.interface.ts
  packages/shared/src/index.ts
  packages/shared/src/types/auth.ts
  packages/shared/src/types/billing.ts
  packages/shared/src/types/feature-flags.ts
  packages/shared/src/webhooks/index.ts
  packages/shared/src/webhooks/webhook-event.enum.ts
  pnpm-lock.yaml
Labels: @novu/dal, @novu/shared, @novu/dashboard, @novu/api-service

#8331 fix(dashboard): update CMD in Dockerfile to include proxy configuration
  apps/dashboard/dockerfile
Labels: @novu/dashboard

#8327 feat(dashboard): expose digest cards as the recommended in digest block
  apps/dashboard/src/components/workflow-editor/steps/email/blocks/digest.tsx
Labels: @novu/dashboard

#8278 feat(dashboard): updated the subscriberid to support multi tenancy (MRK-700)
  apps/dashboard/src/components/inbox-button.tsx
Labels: @novu/dashboard

#8334 fix(api, ws, dashboard, worker): new release v2.2.0
  apps/api/package.json
  apps/dashboard/package.json
  apps/worker/package.json
  apps/ws/package.json
  docker/community/docker-compose.yml
Labels: @novu/ws, @novu/worker, docker, @novu/dashboard, @novu/api-service

#8328 feat(dashboard): RBAC aware components and routes
  apps/api/src/app/webhooks/webhooks.controller.ts
  apps/dashboard/eslint.config.js
  apps/dashboard/src/components/activity/activity-empty-state.tsx
  apps/dashboard/src/components/billing/plan-action-button.tsx
  apps/dashboard/src/components/edit-workflow-layout.tsx
  apps/dashboard/src/components/environments/create-environment-button.tsx
  apps/dashboard/src/components/environments/environments-list.tsx
  apps/dashboard/src/components/integrations/components/integration-configuration.tsx
  apps/dashboard/src/components/integrations/components/integration-credentials.tsx
  apps/dashboard/src/components/integrations/components/integration-general-settings.tsx
  apps/dashboard/src/components/integrations/components/update-integration-sidebar.tsx
  apps/dashboard/src/components/primitives/permission-button.tsx
  apps/dashboard/src/components/primitives/tabs.tsx
  apps/dashboard/src/components/side-navigation/side-navigation.tsx
  apps/dashboard/src/components/subscribers/preferences/preferences-blank.tsx
  apps/dashboard/src/components/subscribers/subscriber-list-blank.tsx
  apps/dashboard/src/components/subscribers/subscriber-list.tsx
  apps/dashboard/src/components/subscribers/subscriber-row.tsx
  apps/dashboard/src/components/topics/create-topic-drawer.tsx
  apps/dashboard/src/components/topics/topic-list-blank.tsx
  apps/dashboard/src/components/topics/topic-list.tsx
  apps/dashboard/src/components/topics/topic-row.tsx
  apps/dashboard/src/components/workflow-editor/configure-workflow-form.tsx
  apps/dashboard/src/components/workflow-editor/edges.tsx
  apps/dashboard/src/components/workflow-editor/nodes.tsx
  apps/dashboard/src/components/workflow-editor/test-workflow/test-workflow-form.tsx
  apps/dashboard/src/components/workflow-editor/test-workflow/test-workflow-tabs.tsx
  apps/dashboard/src/components/workflow-editor/toasts.tsx
  apps/dashboard/src/components/workflow-editor/workflow-canvas.tsx
  apps/dashboard/src/components/workflow-editor/workflow-tabs.tsx
  apps/dashboard/src/components/workflow-list-empty.tsx
  apps/dashboard/src/components/workflow-list.tsx
  apps/dashboard/src/components/workflow-row.tsx
  apps/dashboard/src/hooks/use-has-permission.tsx
  apps/dashboard/src/main.tsx
  apps/dashboard/src/pages/access-denied-page.tsx
  apps/dashboard/src/pages/edit-subscriber-page.tsx
  apps/dashboard/src/pages/edit-topic.tsx
  apps/dashboard/src/pages/index.ts
  apps/dashboard/src/pages/integrations-list-page.tsx
  apps/dashboard/src/pages/server-error-page.tsx
  apps/dashboard/src/pages/settings.tsx
  apps/dashboard/src/pages/webhooks-page.tsx
  apps/dashboard/src/pages/workflows.tsx
  apps/dashboard/src/routes/permission-protected-route.tsx
  apps/dashboard/src/routes/protected-route.tsx
  apps/dashboard/src/utils/protect.tsx
Labels: @novu/dashboard, @novu/api-service

#8342 fix(worker): workflow fails if delay step is skipped in framework based or cloud based
  apps/api/src/app/events/e2e/bridge-trigger.e2e.ts
  apps/worker/src/app/workflow/usecases/add-job/add-job.usecase.ts
Labels: @novu/worker, @novu/api-service

#8348 fix(dashboard): oss clerk mocks
  apps/dashboard/src/utils/self-hosted/auth.resource.tsx
  apps/dashboard/src/utils/self-hosted/index.tsx
Labels: @novu/dashboard

#8324 feat(root): feat centralize source of truth of template parser
  apps/api/package.json
  apps/api/src/app/environments-v1/usecases/output-renderers/email-output-renderer.usecase.ts
  apps/api/src/app/shared/helpers/liquid.ts
  apps/api/src/app/workflows-v2/util/template-parser/liquid-parser.ts
  apps/dashboard/src/components/variable/utils/process-filters.ts
  packages/framework/package.json
  packages/framework/src/internal/index.ts
  packages/framework/src/utils/liquid.utils.test.ts
  packages/framework/src/utils/liquid.utils.ts
  pnpm-lock.yaml
Labels: @novu/dashboard, @novu/api-service

#8357 feat(dashboard): members page upgrade CTA
  apps/dashboard/src/pages/settings.tsx
Labels: @novu/dashboard

#8350 feat(api-service): allow email html body control values
  apps/api/src/app/environments-v1/usecases/output-renderers/email-output-renderer.usecase.ts
  apps/api/src/app/events/e2e/trigger-event.e2e.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-email.usecase.ts
Labels: @novu/worker, @novu/api-service

#8370 fix(dashboard): Fixes push preview widget
  apps/dashboard/src/components/workflow-editor/steps/push/push-preview.tsx
Labels: @novu/dashboard

#8377 chore(api-service): keyless debugging
  apps/api/package.json
  apps/api/src/app/rate-limiting/guards/throttler.guard.ts
  pnpm-lock.yaml
Labels: @novu/api-service

#8380 fix(api-service): modify client ip retrieval and launch darkly fallback
  apps/api/src/app/rate-limiting/guards/throttler.guard.ts
  apps/dashboard/src/utils/code-snippets.ts
  libs/application-generic/src/services/feature-flags/launch-darkly.service.ts
Labels: @novu/dashboard, @novu/api-service

#8382 fix(api-service): update keyless API rate limit cost from 3000 to 1000
  packages/shared/src/consts/rate-limiting/apiRateLimits.ts
Labels: @novu/shared

#8407 fix(api-service): data dto for subscriber entity NV-5998
  apps/api/src/app/subscribers-v2/dtos/patch-subscriber.dto.ts
  libs/internal-sdk/src/core.ts
  libs/internal-sdk/src/funcs/workflowsSearch.ts
  libs/internal-sdk/src/models/components/patchsubscriberrequestdto.ts
  libs/internal-sdk/src/models/components/subscriberpayloaddto.ts
  libs/internal-sdk/src/models/operations/workflowcontrollersearchworkflows.ts
  libs/internal-sdk/src/react-query/workflowsSearch.ts
Labels: @novu/api-service

#8408 fix(api): exception filter runtime error
  apps/api/src/exception-filter.ts
Labels: @novu/api-service

#8415 fix(api-service): modify topic subscriptions api description
  apps/api/src/app/subscribers-v2/subscribers.controller.ts
  apps/api/src/app/topics-v2/topics.controller.ts
  apps/api/src/app/webhooks/webhooks.controller.ts
Labels: @novu/api-service
