Repository novuhq/novu, pull requests merged in 2025-07, with the labels that each got.

#8612 fix(api-service): email clipping issue in gmail - fixes NV-6036
  apps/api/src/app/environments-v1/usecases/output-renderers/email-output-renderer.spec.ts
  apps/api/src/app/environments-v1/usecases/output-renderers/email-output-renderer.usecase.ts
Labels: @novu/api-service

#8598 feat(dashboard): create layout sidebar
  apps/api/src/app/layouts-v1/usecases/create-layout/create-layout.use-case.ts
  apps/dashboard/src/api/layouts.ts
  apps/dashboard/src/components/layouts/create-layout-form.tsx
  apps/dashboard/src/components/layouts/hooks/use-layouts-navigate.tsx
  apps/dashboard/src/components/layouts/layout-list-blank.tsx
  apps/dashboard/src/components/layouts/layout-list.tsx
  apps/dashboard/src/components/layouts/schema.ts
  apps/dashboard/src/components/side-navigation/navigation-link.tsx
  apps/dashboard/src/hooks/use-create-layout.ts
  apps/dashboard/src/main.tsx
  apps/dashboard/src/pages/create-layout.tsx
  apps/dashboard/src/pages/index.ts
  apps/dashboard/src/pages/new-layout-drawer.tsx
  apps/dashboard/src/utils/routes.ts
Labels: @novu/dashboard, @novu/api-service

#8618 fix(dashboard): Add onBlur handling to data object key-value inputs
  apps/dashboard/src/components/primitives/control-input/control-input.tsx
  apps/dashboard/src/components/workflow-editor/payload-schema-drawer.tsx
  apps/dashboard/src/components/workflow-editor/steps/base/data-object.tsx
Labels: @novu/dashboard

#8621 fix(api-service): Add optimistic step support for variable schema building fixes NV-6051
  apps/api/src/app/workflows-v2/usecases/build-step-issues/build-step-issues.command.ts
  apps/api/src/app/workflows-v2/usecases/build-step-issues/build-step-issues.usecase.ts
  apps/api/src/app/workflows-v2/usecases/build-variable-schema/build-available-variable-schema.command.ts
  apps/api/src/app/workflows-v2/usecases/build-variable-schema/build-available-variable-schema.usecase.ts
  apps/api/src/app/workflows-v2/usecases/upsert-workflow/upsert-workflow.usecase.ts
Labels: @novu/api-service

#8620 feat(dashboard): Logs polish UI and activity feed alignment
  apps/dashboard/src/components/activity/activity-feed-content.tsx
  apps/dashboard/src/components/activity/activity-filters.tsx
  apps/dashboard/src/components/activity/activity-header.tsx
  apps/dashboard/src/components/activity/activity-logs.tsx
  apps/dashboard/src/components/activity/activity-table.tsx
  apps/dashboard/src/components/activity/components/activity-overview.tsx
  apps/dashboard/src/components/activity/components/activity-table-row.tsx
  apps/dashboard/src/components/activity/components/arrow-pagination.tsx
  apps/dashboard/src/components/activity/components/overview-item.tsx
  apps/dashboard/src/components/activity/components/status-badge.tsx
  apps/dashboard/src/components/activity/components/status-preview-card.tsx
  apps/dashboard/src/components/activity/components/step-indicators.tsx
  apps/dashboard/src/components/http-logs/logs-detail-content.tsx
  apps/dashboard/src/components/http-logs/logs-detail-header.tsx
  apps/dashboard/src/components/http-logs/logs-detail-panel.tsx
  apps/dashboard/src/components/http-logs/logs-empty-state.tsx
  apps/dashboard/src/components/http-logs/logs-filters.tsx
  apps/dashboard/src/components/http-logs/logs-table-row.tsx
  apps/dashboard/src/components/http-logs/logs-table-skeleton-row.tsx
  apps/dashboard/src/components/http-logs/logs-table.tsx
  apps/dashboard/src/components/http-logs/workflow-run-activity-drawer.tsx
  apps/dashboard/src/components/http-logs/workflow-runs-content.tsx
  apps/dashboard/src/components/http-logs/workflow-runs-filters.tsx
  apps/dashboard/src/components/http-logs/workflow-runs-tabs.tsx
  apps/dashboard/src/components/side-navigation/side-navigation.tsx
  apps/dashboard/src/components/subscribers/subscriber-activity-drawer.tsx
  apps/dashboard/src/components/subscribers/subscriber-activity.tsx
  apps/dashboard/src/components/topics/topic-activity.tsx
  apps/dashboard/src/components/workflow-editor/steps/shared/editable-json-viewer/editable-json-viewer.tsx
  apps/dashboard/src/components/workflow-editor/steps/shared/editable-json-viewer/types.ts
  apps/dashboard/src/components/workflow-editor/test-workflow/test-workflow-activity-drawer.tsx
  apps/dashboard/src/components/workflow-editor/test-workflow/test-workflow-logs-sidebar.tsx
  apps/dashboard/src/hooks/use-logs-url-state.ts
  apps/dashboard/src/main.tsx
  apps/dashboard/src/pages/activity-feed.tsx
  apps/dashboard/src/pages/index.ts
  apps/dashboard/src/pages/logs.tsx
  apps/dashboard/src/utils/logs-filters.utils.ts
  apps/dashboard/src/utils/routes.ts
  apps/dashboard/tests/manage-workflows.e2e.ts
  apps/dashboard/tests/sync-workflow.e2e.ts
Labels: @novu/dashboard

#8623 feat(root): improve linear deploy integration fixes NV-6201
  .github/workflows/conventional-commit.yml
Labels: CI/CD

#8617 chore(api-service): layout variables schema for subscriber data fixes NV-6166
  apps/api/src/app/layouts-v2/usecases/get-layout/get-layout.use-case.ts
  apps/api/src/app/layouts-v2/usecases/layout-variables-schema/layout-variables-schema.command.ts
  apps/api/src/app/layouts-v2/usecases/layout-variables-schema/layout-variables-schema.usecase.ts
  apps/api/src/app/layouts-v2/usecases/preview-layout/preview-layout.usecase.ts
  apps/api/src/app/layouts-v2/usecases/upsert-layout/upsert-layout.usecase.ts
  apps/api/src/app/shared/usecases/create-variables-object/create-variables-object.command.ts
  apps/api/src/app/shared/usecases/create-variables-object/create-variables-object.usecase.ts
  apps/api/src/app/workflows-v2/usecases/build-test-data/build-workflow-test-data.usecase.ts
  apps/api/src/app/workflows-v2/usecases/build-variable-schema/build-available-variable-schema.usecase.ts
  apps/api/src/app/workflows-v2/usecases/preview/preview.usecase.ts
Labels: @novu/api-service

#8636 fix(api-service): Sync workflow schema to new environment fixes NV-6205
  apps/api/src/app/workflows-v2/usecases/sync-to-environment/sync-to-environment.usecase.ts
Labels: @novu/api-service

#8632 feat(dashboard,api-service): layout editor shell fixes NV-6203
  apps/api/src/app/layouts-v2/dtos/layout-response.dto.ts
  apps/api/src/app/layouts-v2/usecases/mapper.ts
  apps/dashboard/src/api/layouts.ts
  apps/dashboard/src/components/dashboard-layout.tsx
  apps/dashboard/src/components/edit-workflow-layout.tsx
  apps/dashboard/src/components/full-page-layout.tsx
  apps/dashboard/src/components/icons/layout.tsx
  apps/dashboard/src/components/layouts/layout-breadcrumbs.tsx
  apps/dashboard/src/components/layouts/layout-row.tsx
  apps/dashboard/src/components/workflow-editor/nodes.tsx
  apps/dashboard/src/components/workflow-editor/workflow-provider.tsx
  apps/dashboard/src/hooks/use-fetch-layout.ts
  apps/dashboard/src/hooks/use-fetch-workflow-test-data.ts
  apps/dashboard/src/hooks/use-fetch-workflow.ts
  apps/dashboard/src/hooks/use-update-workflow.ts
  apps/dashboard/src/main.tsx
  apps/dashboard/src/pages/edit-layout.tsx
  apps/dashboard/src/pages/edit-workflow.tsx
  apps/dashboard/src/pages/test-workflow.tsx
  apps/dashboard/src/routes/dashboard.tsx
  apps/dashboard/src/utils/id-utils.ts
  apps/dashboard/src/utils/query-keys.ts
  apps/dashboard/src/utils/routes.ts
  packages/shared/src/dto/layout/layout.dto.ts
  packages/shared/src/types/utils.ts
Labels: @novu/shared, @novu/dashboard, @novu/api-service

#8643 feat(dashboard): layout editor settings drawer fixes NV-6131
  apps/dashboard/src/api/layouts.ts
  apps/dashboard/src/components/layouts/layout-editor-settings-drawer.tsx
  apps/dashboard/src/components/layouts/layout-editor.tsx
  apps/dashboard/src/hooks/use-delete-layout.ts
  apps/dashboard/src/hooks/use-update-layout.ts
Labels: @novu/dashboard

#8648 refactor(api-service): click house injection and ctor
  apps/api/src/app/shared/shared.module.ts
  libs/application-generic/src/custom-providers/index.ts
  libs/application-generic/src/services/analytic-logs/clickhouse.service.ts
Labels: @novu/api-service

#8664 fix(dashboard): email editor showing empty state on first render fixes NV-6227
  apps/dashboard/src/components/maily/maily.tsx
Labels: @novu/dashboard

#8658 feat(dashboard,api-service): layout editor preview fixes NV-6219
  apps/api/package.json
  apps/api/src/app/layouts-v2/usecases/layout-variables-schema/layout-variables-schema.usecase.ts
  apps/api/src/app/layouts-v2/usecases/preview-layout/preview-layout.usecase.spec.ts
  apps/api/src/app/layouts-v2/usecases/preview-layout/preview-layout.usecase.ts
  apps/api/src/app/layouts-v2/usecases/preview-layout/preview-utils.ts
  apps/api/src/app/shared/helpers/maily-utils.ts
  apps/api/src/app/workflows-v2/util/template-parser/new-liquid-parser.ts
  apps/api/src/app/workflows-v2/util/utils.ts
  apps/dashboard/src/api/layouts.ts
  apps/dashboard/src/components/layouts/layout-editor-provider.tsx
  apps/dashboard/src/components/layouts/layout-editor.tsx
  apps/dashboard/src/components/layouts/layout-preview-factory.tsx
  apps/dashboard/src/hooks/use-debounced-value.ts
  apps/dashboard/src/hooks/use-layout-editor-preview.ts
  apps/dashboard/src/utils/query-keys.ts
  libs/application-generic/package.json
  pnpm-lock.yaml
Labels: @novu/dashboard, @novu/api-service

#8670 ci(root): Replace playwright with bug-0
  .github/workflows/on-pr.yml
Labels: CI/CD

#8676 fix(api-service): improve DTO nullability in SDK fixes NV-6240
  apps/api/src/app/widgets/dtos/message-response.dto.ts
  libs/internal-sdk/.gitignore
  libs/internal-sdk/.speakeasy/gen.yaml
  libs/internal-sdk/examples/.env.template
  libs/internal-sdk/examples/README.md
  libs/internal-sdk/examples/package.json
  libs/internal-sdk/examples/trigger.example.ts
  libs/internal-sdk/package.json
  libs/internal-sdk/src/funcs/subscribersCredentialsAppend.ts
  libs/internal-sdk/src/funcs/subscribersCredentialsUpdate.ts
  libs/internal-sdk/src/lib/config.ts
  libs/internal-sdk/src/models/components/layoutresponsedto.ts
  libs/internal-sdk/src/models/components/messageresponsedto.ts
  libs/internal-sdk/src/react-query/subscribersCredentialsAppend.ts
  libs/internal-sdk/src/react-query/subscribersCredentialsUpdate.ts
  libs/internal-sdk/src/sdk/credentials.ts
  libs/internal-sdk/src/sdk/sdk.ts
Labels: @novu/api-service

#8651 feat(dashboard): frontend diff viewer for change mechanism fixes NV-6156
  apps/dashboard/src/api/environments.ts
  apps/dashboard/src/components/header-navigation/edit-bridge-url-button.tsx
  apps/dashboard/src/components/header-navigation/header-navigation.tsx
  apps/dashboard/src/components/header-navigation/publish-button.tsx
  apps/dashboard/src/components/header-navigation/publish-modal.tsx
  apps/dashboard/src/components/header-navigation/publish-success-modal.tsx
  apps/dashboard/src/components/resource-row.tsx
  apps/dashboard/src/components/side-navigation/environment-dropdown.tsx
  apps/dashboard/src/components/side-navigation/side-navigation.tsx
  apps/dashboard/src/components/tree-view.tsx
  apps/dashboard/src/components/workflow-editor/configure-workflow-form.tsx
  apps/dashboard/src/components/workflow-editor/edges.tsx
  apps/dashboard/src/components/workflow-editor/nodes.tsx
  apps/dashboard/src/components/workflow-editor/steps/configure-step-form.tsx
  apps/dashboard/src/components/workflow-editor/steps/preview/step-preview-factory.tsx
  apps/dashboard/src/components/workflow-editor/steps/step-editor-layout.tsx
  apps/dashboard/src/components/workflow-editor/workflow-canvas.tsx
  apps/dashboard/src/components/workflow-row.tsx
  apps/dashboard/src/hooks/use-environments.ts
  apps/dashboard/src/hooks/use-sync-workflow.tsx
  apps/dashboard/src/pages/workflows.tsx
  packages/shared/src/types/feature-flags.ts
  pnpm-lock.yaml
Labels: @novu/shared, @novu/dashboard

#8689 fix(api-service): missing request logs
  apps/api/src/app/events/events.controller.ts
  apps/api/src/app/shared/framework/analytics-logs.interceptor.ts
Labels: @novu/api-service

#8697 style(dashboard): minor publish mechanism adjustments to UI fixes NV-6249
  apps/api/src/app/environments-v2/usecases/diff-environment/diff-environment.usecase.ts
  apps/api/src/app/events/e2e/bridge-trigger.e2e.ts
  apps/api/src/app/workflows-v2/exceptions/workflow-not-syncable-exception.ts
  apps/api/src/app/workflows-v2/usecases/sync-to-environment/sync-to-environment.usecase.ts
  apps/dashboard/src/components/header-navigation/edit-bridge-url-button.tsx
  apps/dashboard/src/components/header-navigation/header-navigation.tsx
  apps/dashboard/src/components/header-navigation/no-changes-modal.tsx
  apps/dashboard/src/components/header-navigation/publish-button.tsx
  apps/dashboard/src/components/workflow-editor/use-workflow-schema-manager.ts
  apps/dashboard/src/hooks/use-create-workflow.ts
  apps/dashboard/src/hooks/use-delete-workflow.ts
  apps/dashboard/src/hooks/use-duplicate-workflow.ts
  apps/dashboard/src/hooks/use-environments.ts
  apps/dashboard/src/hooks/use-patch-workflow.ts
  apps/dashboard/src/hooks/use-sync-workflow.tsx
  apps/dashboard/src/hooks/use-update-workflow.ts
  libs/dal/src/repositories/notification-template/notification-template.repository.ts
Labels: @novu/dal, @novu/dashboard, @novu/api-service

#8662 feat(api-service): create traces e2e fixes NV-6218
  .github/actions/setup-project/action.yml
  apps/api/e2e/setup.ts
  apps/api/src/.env.test
  apps/api/src/app/logs/e2e/get-requests.e2e.ts
  apps/api/src/app/logs/shared/mappers.ts
  apps/api/src/app/logs/usecases/get-requests/get-requests.usecase.ts
  apps/api/src/app/notifications/e2e/get-activity-traces.e2e.ts
  apps/worker/e2e/setup.ts
  apps/worker/src/.env.test
  libs/application-generic/src/services/analytic-logs/clickhouse.service.ts
  libs/application-generic/src/services/analytic-logs/index.ts
  libs/application-generic/src/services/analytic-logs/log.repository.ts
  libs/application-generic/src/services/analytic-logs/request-log/request-log.repository.ts
  libs/application-generic/src/services/analytic-logs/trace-log/trace-log.repository.ts
Labels: @novu/worker, CI/CD, @novu/api-service

#8705 fix(api-service): Add timezone property to subscriber schema fixes NV-6257
  apps/api/src/app/layouts-v2/e2e/preview-layout.e2e.ts
  apps/api/src/app/shared/utils/create-schema.ts
  apps/api/src/app/workflows-v2/e2e/generate-preview.e2e.ts
  apps/api/src/app/workflows-v2/maily-test-data.ts
  apps/api/src/app/workflows-v2/usecases/preview/services/mock-data-generator.service.ts
  apps/api/src/app/workflows-v2/usecases/preview/services/schema-builder.service.ts
Labels: @novu/api-service

#8710 perf(api-service): Optimize workflow diff and sync operations with batching
  apps/api/src/app/environments-v2/usecases/sync-strategies/workflow/operations/workflow-diff.operation.ts
  apps/api/src/app/environments-v2/usecases/sync-strategies/workflow/operations/workflow-sync.operation.ts
Labels: @novu/api-service

#8695 feat(dashboard): layout editor save and other fixes fixes NV-6251
  apps/dashboard/src/components/email-editor-select.tsx
  apps/dashboard/src/components/html-editor.tsx
  apps/dashboard/src/components/layouts/component-utils.tsx
  apps/dashboard/src/components/layouts/layout-editor-provider.tsx
  apps/dashboard/src/components/layouts/layout-editor-settings-drawer.tsx
  apps/dashboard/src/components/layouts/layout-editor.tsx
  apps/dashboard/src/components/layouts/layout-preview-factory.tsx
  apps/dashboard/src/components/maily/blocks/cards.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/email-editor-preview.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/email-preview.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/novu-branding.tsx
  apps/dashboard/src/components/workflow-editor/steps/preview/previews/email-preview-wrapper.tsx
  apps/dashboard/src/components/workflow-editor/steps/preview/step-preview-factory.tsx
  apps/dashboard/src/hooks/use-layout-editor-preview.ts
  apps/dashboard/src/hooks/use-layout-preview.ts
  apps/dashboard/src/hooks/use-update-layout.ts
  apps/dashboard/src/utils/formatter.ts
  packages/shared/src/dto/layout/layout.dto.ts
Labels: @novu/shared, @novu/dashboard

#8721 refactor(application-generic): update detail property to use detail enum
  apps/webhook/src/webhooks/usecases/execution-details/create-execution-details.command.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-push.usecase.ts
  libs/application-generic/src/usecases/create-execution-details/create-execution-details.command.ts
  libs/application-generic/src/usecases/create-execution-details/create-execution-details.spec.ts
Labels: @novu/webhook, @novu/worker

#8719 fix(api-service): implement polling for delayed job status
  apps/api/src/app/events/e2e/delay-events.e2e.ts
  apps/api/src/app/events/e2e/digest-events.e2e.ts
  apps/api/src/app/events/e2e/send-message-push.e2e.ts
  apps/api/src/app/events/e2e/trigger-event.e2e.ts
  apps/api/src/app/events/e2e/utils/poll-for-job-status-change.util.ts
  apps/api/src/app/events/e2e/utils/sleep.util.ts
Labels: @novu/api-service

#8726 fix(api-service): Allow payloadSchema to be null in workflow commands
  apps/api/src/app/environments-v2/usecases/sync-strategies/workflow/normalizers/workflow.normalizer.ts
  apps/api/src/app/shared/validators/json-schema.validator.ts
  apps/api/src/app/workflows-v1/usecases/create-workflow/create-workflow.command.ts
  apps/api/src/app/workflows-v1/usecases/update-workflow/update-workflow.command.ts
  apps/api/src/app/workflows-v1/usecases/update-workflow/update-workflow.usecase.ts
  apps/api/src/app/workflows-v2/dtos/patch-workflow.dto.ts
  apps/api/src/app/workflows-v2/dtos/update-workflow.dto.ts
  apps/api/src/app/workflows-v2/dtos/workflow-commons.dto.ts
  apps/api/src/app/workflows-v2/dtos/workflow-response.dto.ts
  apps/api/src/app/workflows-v2/usecases/sync-to-environment/sync-to-environment.usecase.ts
  apps/api/src/app/workflows-v2/usecases/upsert-workflow/upsert-workflow.command.ts
  libs/internal-sdk/src/models/components/createworkflowdto.ts
  libs/internal-sdk/src/models/components/patchworkflowdto.ts
  libs/internal-sdk/src/models/components/updateworkflowdto.ts
  libs/internal-sdk/src/models/components/workflowlistresponsedto.ts
  libs/internal-sdk/src/models/components/workflowresponsedto.ts
  libs/internal-sdk/src/sdk/sdk.ts
Labels: @novu/api-service

#8724 feat(api-service): create default layout on org creation fixes NV-6199
  apps/api/src/app/auth/e2e/link-entities.service.spec.ts
  apps/api/src/app/layouts-v2/layouts.controller.ts
  apps/api/src/app/layouts-v2/usecases/build-layout-issues/build-layout-issues.command.ts
  apps/api/src/app/layouts-v2/usecases/build-layout-issues/build-layout-issues.usecase.ts
  apps/api/src/app/layouts-v2/usecases/delete-layout/delete-layout.command.ts
  apps/api/src/app/layouts-v2/usecases/delete-layout/delete-layout.use-case.spec.ts
  apps/api/src/app/layouts-v2/usecases/delete-layout/delete-layout.use-case.ts
  apps/api/src/app/layouts-v2/usecases/duplicate-layout/duplicate-layout.command.ts
  apps/api/src/app/layouts-v2/usecases/duplicate-layout/duplicate-layout.use-case.spec.ts
  apps/api/src/app/layouts-v2/usecases/duplicate-layout/duplicate-layout.use-case.ts
  apps/api/src/app/layouts-v2/usecases/index.ts
  apps/api/src/app/layouts-v2/usecases/upsert-layout/upsert-layout.command.ts
  apps/api/src/app/layouts-v2/usecases/upsert-layout/upsert-layout.usecase.spec.ts
  apps/api/src/app/layouts-v2/usecases/upsert-layout/upsert-layout.usecase.ts
  apps/api/src/app/organization/organization.module.ts
  apps/api/src/app/organization/usecases/create-organization/sync-external-organization/sync-external-organization.usecase.ts
Labels: @novu/api-service

#8734 feat(dashboard): email editor allow selecting layout fixes NV-6133
  apps/api/src/app/environments-v1/usecases/output-renderers/email-output-renderer.spec.ts
  apps/api/src/app/environments-v1/usecases/output-renderers/email-output-renderer.usecase.ts
  apps/api/src/app/workflows-v2/e2e/upsert-workflow.e2e.ts
  apps/api/src/app/workflows-v2/usecases/upsert-workflow/upsert-workflow.usecase.ts
  apps/dashboard/src/components/primitives/form/faceted-filter/facated-form-filter.tsx
  apps/dashboard/src/components/primitives/form/faceted-filter/types.ts
  apps/dashboard/src/components/workflow-editor/edges.tsx
  apps/dashboard/src/components/workflow-editor/nodes.tsx
  apps/dashboard/src/components/workflow-editor/step-utils.ts
  apps/dashboard/src/components/workflow-editor/steps/component-utils.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/email-editor.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/layout-select.tsx
  apps/dashboard/src/hooks/use-fetch-layouts.tsx
Labels: @novu/dashboard, @novu/api-service

#8659 docs(api): correct description for /credentials endpoints
  apps/api/src/app/subscribers/subscribersV1.controller.ts
Labels: @novu/api-service

#8740 feat(dashboard): translations onboarding screen fixes NV-6248
  apps/dashboard/public/images/translations-onboarding.png
  apps/dashboard/src/components/primitives/timeline.tsx
  apps/dashboard/src/components/translations/translation-list-blank.tsx
  apps/dashboard/src/components/translations/translation-list.tsx
  apps/dashboard/src/components/translations/translation-onboarding-page.tsx
  apps/dashboard/src/components/workflow-editor/test-workflow/test-workflow-instructions.tsx
Labels: @novu/dashboard

#8744 feat(api-service): sort traces by created at fixes NV-6272
  apps/api/src/app/notifications/usecases/get-activity/get-activity.usecase.ts
Labels: @novu/api-service

#8749 fix(dashboard): Correct workflow identifier in activity panel fixes NV-6282
  apps/dashboard/src/components/activity/components/activity-overview.tsx
Labels: @novu/dashboard

#8755 fix(api-service,dashboard): preview rendering issues when block layout is picked and converting from email step block editor to html fixes NV-6332
  apps/api/package.json
  apps/api/src/app/bridge/usecases/preview-step/preview-step.command.ts
  apps/api/src/app/bridge/usecases/preview-step/preview-step.usecase.ts
  apps/api/src/app/environments-v1/novu-bridge-client.ts
  apps/api/src/app/environments-v1/usecases/construct-framework-workflow/construct-framework-workflow.command.ts
  apps/api/src/app/environments-v1/usecases/construct-framework-workflow/construct-framework-workflow.usecase.ts
  apps/api/src/app/environments-v1/usecases/output-renderers/email-output-renderer.spec.ts
  apps/api/src/app/environments-v1/usecases/output-renderers/email-output-renderer.usecase.ts
  apps/api/src/app/layouts-v2/utils/layout-templates.ts
  apps/api/src/app/shared/utils/build-variables.ts
  apps/api/src/app/shared/utils/issues.ts
  apps/api/src/app/shared/utils/template-parser/new-liquid-parser.ts
  apps/api/src/app/shared/utils/template-parser/types.ts
  apps/api/src/app/workflows-v2/e2e/upsert-workflow.e2e.ts
  apps/api/src/app/workflows-v2/usecases/preview/preview.command.ts
  apps/api/src/app/workflows-v2/usecases/preview/preview.usecase.ts
  apps/api/src/app/workflows-v2/usecases/upsert-workflow/upsert-workflow.usecase.ts
  apps/dashboard/src/components/workflow-editor/steps/email/layout-select.tsx
  libs/application-generic/package.json
  libs/application-generic/src/usecases/execute-bridge-request/execute-bridge-request.command.ts
  pnpm-lock.yaml
Labels: @novu/dashboard, @novu/api-service

#8756 fix(api-service): request logs filtering fix
  apps/api/src/app/logs/logs.controller.ts
  apps/api/src/app/logs/usecases/get-requests/get-requests.command.ts
  apps/api/src/app/logs/usecases/get-requests/get-requests.usecase.ts
Labels: @novu/api-service

#8759 fix(web,api-service): update workflow return value with session fixes NV-6333
  apps/api/src/app/workflows-v1/usecases/update-workflow/update-workflow.usecase.ts
  apps/web/src/components/providers/EnvironmentProvider.tsx
  apps/web/src/pages/templates/WorkflowListPage.tsx
  apps/web/src/pages/templates/components/TemplateEditorFormProvider.tsx
  apps/web/src/pages/templates/editor/TemplateEditorPage.tsx
Labels: @novu/web, @novu/api-service

#8765 feat(root): add manual post-release workflow for tagging and GitHub releases
  .github/workflows/manual-post-release.yml
  .github/workflows/release-packages.yml
Labels: CI/CD

#8763 fix(dashboard): Remove default dropdown option fixes NV-6245
  apps/dashboard/src/components/variable/constants.ts
Labels: @novu/dashboard

#8768 fix(dashboard): Polish dashboard editor UI and icons fixes NV-6375
  apps/dashboard/src/components/schema-editor/components/enum-section.tsx
  apps/dashboard/src/components/schema-editor/components/property-actions.tsx
  apps/dashboard/src/components/schema-editor/components/property-name-input.tsx
  apps/dashboard/src/components/schema-editor/schema-property-row.tsx
  apps/dashboard/src/components/workflow-editor/payload-schema-drawer.tsx
  apps/dashboard/src/components/workflow-editor/steps/base/data-object.tsx
Labels: @novu/dashboard

#8779 fix(dashboard): translation fixes & improvements
  apps/dashboard/public/images/translation-onboarding-1.jpg
  apps/dashboard/src/components/translations/translation-drawer/editor-actions.tsx
  apps/dashboard/src/components/translations/translation-drawer/editor-panel.tsx
  apps/dashboard/src/components/translations/translation-drawer/locale-list.tsx
  apps/dashboard/src/components/translations/translation-list.tsx
  apps/dashboard/src/components/translations/translation-onboarding-page.tsx
  apps/dashboard/src/components/translations/translation-settings-drawer.tsx
  apps/dashboard/src/components/translations/translation-status.tsx
  apps/dashboard/src/components/translations/translations-filters.tsx
  apps/dashboard/src/components/workflow-editor/create-workflow-form.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/translations/edit-translation-popover/edit-translation-popover.tsx
  apps/dashboard/src/components/workflow-editor/translation-toggle-section.tsx
  apps/dashboard/src/components/workflow-editor/workflow-translation-status.tsx
  apps/dashboard/src/hooks/use-translation-validation.ts
Labels: @novu/dashboard

#8771 feat(root): this fixes pr creation bug in packaga release
  .github/workflows/release-packages.yml
Labels: CI/CD

#8748 feat(api-service): refactor the request dto created fixes NV-6274
  apps/api/src/app/events/e2e/cancel-event.e2e.ts
  apps/api/src/app/events/events.controller.ts
  apps/api/src/app/logs/dtos/get-requests.dto.ts
  apps/api/src/app/logs/e2e/get-requests.e2e.ts
  apps/api/src/app/logs/e2e/logs.e2e.ts
  apps/api/src/app/logs/logs.controller.ts
  apps/api/src/app/logs/usecases/get-requests/get-requests.command.ts
  apps/api/src/app/logs/usecases/get-requests/get-requests.usecase.ts
  apps/dashboard/src/api/logs.ts
  apps/dashboard/src/components/http-logs/logs-filters.tsx
  apps/dashboard/src/components/http-logs/logs-table.tsx
  apps/dashboard/src/hooks/use-logs-url-state.ts
  apps/dashboard/src/pages/activity-feed.tsx
  apps/dashboard/src/utils/logs-filters.utils.ts
Labels: @novu/dashboard, @novu/api-service

#8775 fix(api-service,dashboard): layouts switching from block to html generates content variable fixes NV-6371
  apps/api/src/app/layouts-v2/usecases/preview-layout/preview-utils.ts
  apps/dashboard/src/components/layouts/component-utils.tsx
  packages/shared/src/consts/layouts.ts
Labels: @novu/shared, @novu/dashboard, @novu/api-service

#8777 chore(api-service,dashboard): switch layouts permissions to workflows fixes NV-6370
  apps/api/src/app/layouts-v2/layouts.controller.ts
  apps/dashboard/src/components/layouts/create-layout-btn.tsx
  apps/dashboard/src/components/layouts/layout-row.tsx
  apps/dashboard/src/components/side-navigation/side-navigation.tsx
  apps/dashboard/src/main.tsx
  packages/shared/src/types/auth.ts
Labels: @novu/shared, @novu/dashboard, @novu/api-service

#8781 chore(api-service,dashboard): layouts ui polishing fixes NV-6355
  apps/api/src/app/layouts-v2/utils/layout-templates.ts
  apps/dashboard/src/components/confirmation-modal.tsx
  apps/dashboard/src/components/dashboard-layout.tsx
  apps/dashboard/src/components/icons/layout.tsx
  apps/dashboard/src/components/layouts/delete-layout-dialog.tsx
  apps/dashboard/src/components/layouts/layout-breadcrumbs.tsx
  apps/dashboard/src/components/layouts/layout-list.tsx
  apps/dashboard/src/components/layouts/layout-row.tsx
  apps/dashboard/src/components/resource-row.tsx
  apps/dashboard/src/components/subscribers/subscriber-list.tsx
  apps/dashboard/src/components/topics/topic-list.tsx
  apps/dashboard/src/components/translations/translation-list.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/email-editor.tsx
  apps/dashboard/src/pages/activity-feed.tsx
  apps/dashboard/src/pages/environments.tsx
  apps/dashboard/src/pages/integrations-list-page.tsx
  apps/dashboard/src/pages/layouts.tsx
  apps/dashboard/src/pages/settings.tsx
  apps/dashboard/src/pages/subscribers.tsx
  apps/dashboard/src/pages/topics.tsx
  apps/dashboard/src/pages/translations.tsx
  apps/dashboard/src/pages/vercel-integration-page.tsx
  apps/dashboard/src/pages/webhooks-page.tsx
  apps/dashboard/src/pages/welcome-page.tsx
  apps/dashboard/src/pages/workflows.tsx
Labels: @novu/dashboard, @novu/api-service

#8782 feat(api-service,worker,application-generic): layout selected execution log trace fixes NV-6369
  apps/api/src/app/environments-v1/novu-bridge-client.ts
  apps/api/src/app/environments-v1/novu-bridge.module.ts
  apps/api/src/app/environments-v1/usecases/construct-framework-workflow/construct-framework-workflow.command.ts
  apps/api/src/app/environments-v1/usecases/construct-framework-workflow/construct-framework-workflow.usecase.ts
  apps/api/src/app/environments-v1/usecases/output-renderers/email-output-renderer.spec.ts
  apps/api/src/app/environments-v1/usecases/output-renderers/email-output-renderer.usecase.ts
  apps/worker/src/app/workflow/usecases/execute-bridge-job/execute-bridge-job.usecase.ts
  libs/application-generic/src/services/analytic-logs/trace-log/trace-log.repository.ts
  libs/application-generic/src/services/analytic-logs/trace-log/trace-log.schema.ts
  libs/application-generic/src/usecases/create-execution-details/create-execution-details.usecase.ts
  libs/application-generic/src/usecases/create-execution-details/types/index.ts
  libs/application-generic/src/usecases/execute-bridge-request/execute-bridge-request.command.ts
Labels: @novu/worker, @novu/api-service

#8785 chore(dashboard): removed header and footer blocks from the step maily editor highlights fixes NV-6373
  apps/dashboard/src/components/maily/maily-config.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/email-body.tsx
Labels: @novu/dashboard

#8787 fix(api): mark isTranslationEnabled field as optional
  apps/api/src/app/workflows-v2/dtos/workflow-list-response.dto.ts
Labels: @novu/api-service

#8796 feat(api, worker, ws, dashboard): introduce new variables for enterprise self hosted images
  .github/workflows/prepare-enterprise-self-hosted-release.yml
  apps/api/Dockerfile
  apps/api/src/app/notifications/usecases/get-activity-feed/get-activity-feed.usecase.ts
  apps/dashboard/docker-entrypoint.sh
  apps/dashboard/src/config/index.ts
  apps/worker/Dockerfile
  apps/worker/src/app/telemetry/usecases/machineInfoService.usecase.ts
  apps/worker/src/app/telemetry/usecases/userInfoService.usecase.ts
  apps/ws/Dockerfile
  libs/application-generic/src/services/in-memory-provider/cache-in-memory-provider.service.ts
  libs/application-generic/src/services/in-memory-provider/web-sockets-in-memory-provider.service.ts
  libs/application-generic/src/services/in-memory-provider/workflow-in-memory-provider.service.ts
  scripts/dotenvcreate.mjs
Labels: @novu/ws, @novu/worker, CI/CD, scripts, @novu/dashboard, @novu/api-service

#8793 feat(api-service,dashboard): layouts tier changes fixes NV-6381
  apps/api/src/app/environments-v2/e2e/environments-v2-diff.e2e.ts
  apps/api/src/app/layouts-v1/layouts-v1.module.ts
  apps/api/src/app/layouts-v1/usecases/create-layout/create-layout.use-case.ts
  apps/api/src/app/layouts-v1/usecases/find-deleted-layout/find-deleted-layout.spec.ts
  apps/api/src/app/layouts-v2/e2e/preview-layout.e2e.ts
  apps/api/src/app/layouts-v2/e2e/upsert-layout.e2e.ts
  apps/dashboard/src/components/billing/plan.tsx
  apps/dashboard/src/components/layouts/create-layout-btn.tsx
  apps/dashboard/src/components/layouts/empty-layouts-illustration.tsx
  apps/dashboard/src/components/layouts/layout-list-blank.tsx
  apps/dashboard/src/components/layouts/layout-list.tsx
  apps/dashboard/src/components/layouts/layouts-list-upgrade-cta.tsx
  apps/dashboard/src/hooks/use-fetch-subscription.ts
  apps/dashboard/src/utils/telemetry.ts
  libs/application-generic/src/services/resource-validator.service.ts
  packages/shared/src/consts/feature-tiers-constants.ts
  packages/shared/src/types/feature-flags.ts
Labels: @novu/shared, @novu/dashboard, @novu/api-service

#8799 feat(dashboard): add translations to variable suggestions fixes NV-6417
  apps/dashboard/src/components/html-editor.tsx
  apps/dashboard/src/components/maily/maily-config.tsx
  apps/dashboard/src/components/maily/maily.tsx
  apps/dashboard/src/components/maily/variables.ts
  apps/dashboard/src/components/maily/views/maily-variables-list-view.tsx
  apps/dashboard/src/components/primitives/variable-editor.tsx
  apps/dashboard/src/components/variable/components/variable-icon.tsx
  apps/dashboard/src/components/workflow-editor/control-input/control-input.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/email-body.tsx
  apps/dashboard/src/utils/liquid-autocomplete.tsx
Labels: @novu/dashboard

#8800 fix(dashboard): translations minor fixes & improvements
  apps/dashboard/src/components/icons/translated-workflow.tsx
  apps/dashboard/src/components/translations/translation-list.tsx
  apps/dashboard/src/components/translations/translation-settings-drawer.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/translations/edit-translation-popover/edit-translation-popover.tsx
  apps/dashboard/src/components/workflow-editor/steps/use-editor-preview.tsx
  apps/dashboard/src/components/workflow-editor/translation-toggle-section.tsx
  apps/dashboard/src/components/workflow-editor/workflow-translation-status.tsx
  apps/dashboard/src/components/workflow-row.tsx
  apps/dashboard/src/hooks/use-save-translation.ts
  apps/dashboard/src/hooks/use-update-translation-value.ts
  apps/dashboard/src/utils/query-keys.ts
Labels: @novu/dashboard

#8806 chore(dashboard): email editor layout select component and editor state in prod env fixes NV-6353
  apps/dashboard/src/components/primitives/variable-editor.tsx
  apps/dashboard/src/components/workflow-editor/control-input/control-input.tsx
  apps/dashboard/src/components/workflow-editor/steps/chat/chat-editor.tsx
  apps/dashboard/src/components/workflow-editor/steps/component-utils.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/email-editor.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/email-subject.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/layout-select.tsx
  apps/dashboard/src/components/workflow-editor/steps/in-app/in-app-editor.tsx
  apps/dashboard/src/components/workflow-editor/steps/push/push-editor.tsx
  apps/dashboard/src/components/workflow-editor/steps/sms/sms-editor.tsx
  apps/dashboard/src/components/workflow-editor/steps/step-editor-layout.tsx
  apps/dashboard/src/components/workflow-editor/steps/step-editor-unavailable.tsx
Labels: @novu/dashboard

#8803 chore(api-service): update default layout content fixes NV-6424
  apps/api/package.json
  apps/api/src/app/layouts-v2/utils/layout-templates.ts
  apps/api/src/app/organization/usecases/create-organization/sync-external-organization/sync-external-organization.usecase.ts
  apps/dashboard/package.json
  libs/application-generic/package.json
  pnpm-lock.yaml
Labels: @novu/dashboard, @novu/api-service

#8812 feat(dashboard): update button text from 'Import language(s)' to 'Import translation(s)'
  apps/dashboard/src/components/translations/translation-drawer/editor-actions.tsx
Labels: @novu/dashboard

#8811 fix(dashboard): html editor hight increases on paste fixes NV-6426
  apps/dashboard/src/components/html-editor.tsx
  apps/dashboard/src/components/layouts/layout-email-body.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/email-body.tsx
Labels: @novu/dashboard

#8817 fix(api-service,dashboard): fail topic or subscriber creation when already exists fixes NV-5928
  apps/api/src/app/subscribers-v2/subscribers.controller.ts
  apps/api/src/app/topics-v2/topics.controller.ts
  apps/api/src/app/topics-v2/usecases/upsert-topic/upsert-topic.command.ts
  apps/api/src/app/topics-v2/usecases/upsert-topic/upsert-topic.usecase.ts
  apps/dashboard/src/api/subscribers.ts
  apps/dashboard/src/api/topics.ts
  apps/dashboard/src/components/subscribers/create-subscriber-form.tsx
  apps/dashboard/src/components/topics/create-topic-form.tsx
  apps/dashboard/src/pages/create-subscriber.tsx
  libs/application-generic/src/usecases/create-or-update-subscriber/create-or-update-subscriber.command.ts
  libs/application-generic/src/usecases/create-or-update-subscriber/create-or-update-subscriber.usecase.ts
Labels: @novu/dashboard, @novu/api-service

#8820 Update dashboard layout docs links
  apps/dashboard/src/components/layouts/layout-list-blank.tsx
  apps/dashboard/src/components/layouts/layouts-list-upgrade-cta.tsx
  apps/dashboard/src/pages/new-layout-drawer.tsx
Labels: @novu/dashboard

#8823 chore(dashboard): layouts - updated links to docs fixes NV-6345
  apps/dashboard/src/components/layouts/create-layout-btn.tsx
  apps/dashboard/src/components/layouts/layout-list-blank.tsx
  apps/dashboard/src/components/layouts/layouts-list-upgrade-cta.tsx
Labels: @novu/dashboard

#8772 fix(api-service): layouts gmail clipping fixes NV-6363
  apps/api/src/app/environments-v1/usecases/output-renderers/email-output-renderer.usecase.ts
  apps/api/src/app/layouts-v2/utils/layout-templates.ts
  apps/dashboard/src/components/header-navigation/layout-usage-indicator.tsx
  apps/dashboard/src/components/welcome/inbox-embed.tsx
  apps/dashboard/src/components/workflow-editor/steps/digest/scheduled-digest.tsx
  apps/dashboard/src/hooks/use-resource-dependencies.ts
Labels: @novu/dashboard, @novu/api-service

#8824 fix(api-service): standardize workflow run identifier usage
  apps/api/src/app/activity/dtos/shared.dto.ts
  apps/api/src/app/activity/e2e/get-workflow-run.e2e.ts
  apps/api/src/app/activity/e2e/get-workflow-runs.e2e.ts
  apps/api/src/app/activity/usecases/get-workflow-run/get-workflow-run.usecase.ts
  apps/api/src/app/activity/usecases/get-workflow-runs/get-workflow-runs.usecase.ts
  libs/application-generic/src/services/analytic-logs/workflow-run/workflow-run.repository.ts
Labels: @novu/api-service

#8832 style(dashboard): UI polishing make it clear that new environments can be live fixes NV-6340 fixes NV-6340
  apps/dashboard/src/components/environments/create-environment-button.tsx
  apps/dashboard/src/components/environments/environments-list.tsx
Labels: @novu/dashboard

#8836 fix(dashboard): Scrollable publish area fixes NV-6438
  apps/dashboard/src/components/header-navigation/publish-modal.tsx
Labels: @novu/dashboard

#8833 feat(application-generic): allow multiple condition on the same param
  apps/api/src/app/activity/e2e/get-workflow-run.e2e.ts
  apps/api/src/app/activity/e2e/get-workflow-runs.e2e.ts
  apps/api/src/app/activity/usecases/get-requests/get-requests.usecase.ts
  apps/api/src/app/activity/usecases/get-workflow-run/get-workflow-run.usecase.ts
  apps/api/src/app/activity/usecases/get-workflow-runs/get-workflow-runs.usecase.ts
  apps/api/src/app/notifications/usecases/get-activity/get-activity.usecase.ts
  libs/application-generic/src/services/analytic-logs/log.repository.ts
  libs/application-generic/src/services/analytic-logs/workflow-run/workflow-run.repository.ts
Labels: @novu/api-service
