Repository novuhq/novu, pull requests merged in 2025-09, with the labels that each got.

#9034 fix(api-service): Prevent renaming dev and prod environments fixes NV-6610
  apps/api/src/app/environments-v1/e2e/environments.controller.e2e.ts
  apps/api/src/app/environments-v1/usecases/update-environment/update-environment.usecase.ts
  libs/internal-sdk/.eslintcache
Labels: @novu/api-service

#9031 fix(api-service): Find based count fetcher
  libs/dal/src/repositories/message/message.repository.ts
Labels: @novu/dal

#9042 feat(api): introduction of a new api deployment
  .github/workflows/deploy.yml
Labels: CI/CD

#9013 fix(dashboard): Update inbox doc link
  apps/dashboard/src/components/auth/customize-inbox-playground.tsx
  apps/dashboard/src/components/welcome/framework-guides.instructions.tsx
  apps/dashboard/src/components/workflow-editor/steps/base/data-object.tsx
  packages/add-inbox/src/cli/index.ts
  packages/add-inbox/src/generators/frameworks/nextjs.ts
  packages/add-inbox/src/generators/frameworks/react.ts
Labels: @novu/dashboard

#9048 fix(api-service): Optimize webhook event processing with batching
  apps/api/src/app/inbox/usecases/mark-many-notifications-as/mark-many-notifications-as.spec.ts
  apps/api/src/app/inbox/usecases/mark-many-notifications-as/mark-many-notifications-as.usecase.ts
  apps/api/src/app/inbox/usecases/mark-notifications-as-seen/mark-notifications-as-seen.usecase.ts
  apps/api/src/app/inbox/usecases/update-all-notifications/update-all-notifications.spec.ts
  apps/api/src/app/inbox/usecases/update-all-notifications/update-all-notifications.usecase.ts
  apps/api/src/app/widgets/usecases/mark-all-messages-as/mark-all-messages-as.usecase.ts
  apps/api/src/app/widgets/usecases/mark-message-as-by-mark/mark-message-as-by-mark.usecase.ts
  libs/application-generic/src/webhooks/usecases/send-webhook-message/send-webhook-message.command.ts
  libs/application-generic/src/webhooks/usecases/send-webhook-message/send-webhook-message.usecase.ts
Labels: @novu/api-service

#9044 feat(dashboard): added inbox-not-connected issue indicator to the in-app workflow step fixes MRK-1013
  apps/api/src/app/workflows-v2/usecases/build-step-issues/build-step-issues.usecase.ts
  packages/shared/src/utils/issues.ts
Labels: @novu/shared, @novu/api-service

#9029 feat(dashboard): implement mvp inbound webhooks support fixes NV-6598
  .cspell.json
  apps/api/src/app/integrations/dtos/configurations.dto.ts
  apps/api/src/app/integrations/dtos/create-integration-request.dto.ts
  apps/api/src/app/integrations/dtos/integration-response.dto.ts
  apps/api/src/app/integrations/dtos/update-integration.dto.ts
  apps/api/src/app/integrations/integrations.controller.ts
  apps/api/src/app/integrations/usecases/create-integration/create-integration.command.ts
  apps/api/src/app/integrations/usecases/create-integration/create-integration.usecase.ts
  apps/api/src/app/integrations/usecases/update-integration/update-integration.command.ts
  apps/api/src/app/integrations/usecases/update-integration/update-integration.usecase.ts
  apps/dashboard/src/api/integrations.ts
  apps/dashboard/src/components/integrations/components/create-integration-sidebar.tsx
  apps/dashboard/src/components/integrations/components/credential-section.tsx
  apps/dashboard/src/components/integrations/components/integration-configurations.tsx
  apps/dashboard/src/components/integrations/components/integration-general-settings.tsx
  apps/dashboard/src/components/integrations/components/integration-settings.tsx
  apps/dashboard/src/components/integrations/components/update-integration-sidebar.tsx
  apps/dashboard/src/components/integrations/types.ts
  apps/web/src/pages/integrations/components/IntegrationInput.tsx
  apps/web/src/pages/integrations/components/IntegrationSecretTextarea.tsx
  apps/web/src/pages/integrations/components/Modal/ConnectIntegrationForm.tsx
  apps/web/src/pages/integrations/components/Modal/NovuIntegrationCard.tsx
  apps/web/src/pages/integrations/components/Modal/ProviderCard.tsx
  apps/web/src/pages/integrations/components/NovuIntegrationCard.tsx
  apps/web/src/pages/integrations/components/ProviderCard.tsx
  apps/web/src/pages/integrations/components/multi-provider/v2/UpdateProviderSidebarV2.tsx
  apps/web/src/pages/integrations/types.ts
  apps/web/src/pages/integrations/useProviders.ts
  libs/dal/src/repositories/integration/integration.entity.ts
  libs/dal/src/repositories/integration/integration.schema.ts
  packages/shared/src/consts/providers/channels/chat.ts
  packages/shared/src/consts/providers/channels/email.ts
  packages/shared/src/consts/providers/configurations/provider-configuration.ts
  packages/shared/src/consts/providers/credentials/provider-credentials.ts
  packages/shared/src/consts/providers/provider.interface.ts
  packages/shared/src/entities/integration/configuration.interface.ts
  packages/shared/src/entities/integration/index.ts
  packages/shared/src/entities/integration/integration.interface.ts
  packages/shared/src/index.ts
  packages/shared/src/types/feature-flags.ts
  packages/shared/src/types/providers.ts
  pnpm-lock.yaml
Labels: @novu/web, @novu/dal, @novu/shared, @novu/dashboard, @novu/api-service

#9056 fix(dashboard): Hide new workflow creation in prod fixes NV-6583
  apps/dashboard/src/components/command-palette/commands/workflow-commands.tsx
Labels: @novu/dashboard

#9060 fix(dashboard): Wrong display name and id for workflow resource publish modal fixes NV-6558
  apps/dashboard/src/components/header-navigation/publish-modal.tsx
Labels: @novu/dashboard

#9069 feat(dashboard): enhance onboarding experience with fixes from the feedback MRK-1015
  apps/dashboard/src/components/auth/inbox-preview-content.tsx
  apps/dashboard/src/components/primitives/code-block.tsx
  apps/dashboard/src/components/usecase-playground-header.tsx
  apps/dashboard/src/components/welcome/ai-prompts-section.tsx
  apps/dashboard/src/components/welcome/ai-prompts/framework-prompts/nextjs-prompt.ts
  apps/dashboard/src/components/welcome/ai-prompts/framework-prompts/react-prompt.ts
  apps/dashboard/src/components/welcome/framework-guides.instructions.tsx
  apps/dashboard/src/components/welcome/framework-guides.tsx
  apps/dashboard/src/components/welcome/inbox-connected-guide.tsx
  apps/dashboard/src/components/welcome/inbox-embed.tsx
  apps/dashboard/src/components/welcome/inbox-framework-guide.tsx
  apps/dashboard/src/pages/inbox-embed-page.tsx
  apps/dashboard/src/utils/telemetry.ts
Labels: @novu/dashboard

#9083 feat(dashboard): polish integration-store
  apps/dashboard/src/components/integrations/components/configuration-group.tsx
  packages/providers/src/lib/email/sendgrid/sendgrid.provider.ts
Labels: @novu/dashboard

#9086 feat(dashboard): Remember last selected subscriber for test workflow fixes NV-6633
  apps/dashboard/src/components/workflow-editor/steps/utils/preview-context-storage.utils.ts
  apps/dashboard/src/components/workflow-editor/test-workflow/test-workflow-drawer.tsx
  apps/dashboard/src/hooks/use-test-workflow-subscriber-persistence.ts
Labels: @novu/dashboard

#9062 feat(dashboard): Add optimistic UI for workflow step operations fixes NV-6563
  apps/dashboard/src/components/workflow-editor/edges.tsx
  apps/dashboard/src/components/workflow-editor/node-utils.ts
  apps/dashboard/src/components/workflow-editor/nodes.tsx
  apps/dashboard/src/components/workflow-editor/optimistic-step-wrapper.tsx
  apps/dashboard/src/components/workflow-editor/use-canvas-nodes-edges.ts
  apps/dashboard/src/components/workflow-editor/use-optimistic-workflow.ts
  apps/dashboard/src/components/workflow-editor/workflow-canvas.tsx
  apps/dashboard/src/components/workflow-editor/workflow-provider.tsx
Labels: @novu/dashboard

#9078 feat(api-service): subscribers schedule api fixes NV-6614
  apps/api/src/app/inbox/dtos/subscriber-session-request.dto.ts
  apps/api/src/app/inbox/dtos/subscriber-session-response.dto.ts
  apps/api/src/app/inbox/dtos/update-preferences-request.dto.ts
  apps/api/src/app/inbox/e2e/session.e2e.ts
  apps/api/src/app/inbox/e2e/update-preferences.e2e.ts
  apps/api/src/app/inbox/inbox.controller.ts
  apps/api/src/app/inbox/usecases/index.ts
  apps/api/src/app/inbox/usecases/session/session.spec.ts
  apps/api/src/app/inbox/usecases/session/session.usecase.ts
  apps/api/src/app/inbox/usecases/update-preferences/update-preferences.command.ts
  apps/api/src/app/inbox/usecases/update-preferences/update-preferences.usecase.ts
  apps/api/src/app/inbox/utils/types.ts
  apps/api/src/app/preferences/preferences.spec.ts
  apps/api/src/app/shared/dtos/schedule.ts
  apps/api/src/app/shared/validators/is-time-12-hour-format.validator.ts
  apps/api/src/app/shared/validators/weekly-schedule-disabled.validator.ts
  apps/api/src/app/subscribers-v2/dtos/patch-subscriber-preferences.dto.ts
  apps/api/src/app/subscribers-v2/dtos/subscriber-global-preference.dto.ts
  apps/api/src/app/subscribers-v2/subscribers.controller.ts
  apps/api/src/app/subscribers-v2/usecases/get-subscriber-preferences/get-subscriber-preferences.usecase.ts
  apps/api/src/app/subscribers-v2/usecases/update-subscriber-preferences/update-subscriber-preferences.command.ts
  apps/api/src/app/subscribers-v2/usecases/update-subscriber-preferences/update-subscriber-preferences.usecase.ts
  apps/api/src/app/subscribers/dtos/subscriber-preference.dto.ts
  apps/api/src/app/subscribers/usecases/get-subscriber-global-preference/get-subscriber-global-preference.usecase.ts
  apps/api/src/app/subscribers/usecases/get-subscriber-schedule/get-subscriber-schedule.command.ts
  apps/api/src/app/subscribers/usecases/get-subscriber-schedule/get-subscriber-schedule.usecase.ts
  apps/api/src/app/subscribers/usecases/get-subscriber-schedule/index.ts
  libs/application-generic/src/usecases/get-preferences/get-preferences.dto.ts
  libs/application-generic/src/usecases/get-preferences/get-preferences.usecase.ts
  libs/application-generic/src/usecases/merge-preferences/merge-preferences.usecase.ts
  libs/application-generic/src/usecases/upsert-preferences/upsert-preferences.usecase.ts
  libs/application-generic/src/usecases/upsert-preferences/upsert-subscriber-global-preferences.command.ts
  libs/dal/src/repositories/preferences/preferences.entity.ts
  libs/dal/src/repositories/preferences/preferences.schema.ts
  packages/shared/src/entities/subscriber-preference/subscriber-preference.interface.ts
  packages/shared/src/types/feature-flags.ts
  packages/shared/src/types/workflow-channel-preferences.ts
Labels: @novu/dal, @novu/shared, @novu/api-service

#9097 chore: update package versions for api-service, dashboard, webhook, ws
  apps/api/package.json
  apps/dashboard/package.json
  apps/webhook/package.json
  apps/worker/package.json
  apps/ws/package.json
Labels: @novu/webhook, @novu/ws, @novu/worker, @novu/dashboard, @novu/api-service

#9095 feat(js, api-service, react): add permanent delete option for notifications fixes NV-6613
  apps/api/src/app/inbox/e2e/delete-notifications.e2e.ts
  apps/api/src/app/inbox/inbox.controller.ts
  apps/api/src/app/inbox/usecases/delete-all-notifications/delete-all-notifications.command.ts
  apps/api/src/app/inbox/usecases/delete-all-notifications/delete-all-notifications.usecase.ts
  apps/api/src/app/inbox/usecases/delete-many-notifications/delete-many-notifications.command.ts
  apps/api/src/app/inbox/usecases/delete-many-notifications/delete-many-notifications.usecase.ts
  apps/api/src/app/inbox/usecases/delete-notification/delete-notification.command.ts
  apps/api/src/app/inbox/usecases/delete-notification/delete-notification.usecase.ts
  apps/api/src/app/inbox/usecases/index.ts
  apps/api/src/app/inbox/utils/analytics.ts
  apps/api/src/app/outbound-webhooks/webhooks.const.ts
  libs/application-generic/src/services/analytic-logs/trace-log/trace-log.repository.ts
  libs/application-generic/src/services/analytic-logs/trace-log/trace-log.schema.ts
  libs/dal/src/repositories/message/message.repository.ts
  packages/js/src/api/inbox-service.ts
  packages/js/src/cache/notifications-cache.ts
  packages/js/src/event-emitter/types.ts
  packages/js/src/notifications/helpers.ts
  packages/js/src/notifications/notification.ts
  packages/js/src/notifications/notifications.ts
  packages/js/src/notifications/types.ts
  packages/js/src/ui/api/hooks/index.ts
  packages/js/src/ui/api/hooks/useDeleteAll.ts
  packages/shared/src/webhooks/webhook-event.enum.ts
Labels: @novu/dal, @novu/shared, @novu/api-service

#9107 style(dashboard): Align changelog cover image to top
  apps/dashboard/src/components/side-navigation/changelog-cards.tsx
Labels: @novu/dashboard

#9124 feat(api): contexts API fixes NV-6654
  apps/api/src/app.module.ts
  apps/api/src/app/contexts/contexts.controller.ts
  apps/api/src/app/contexts/contexts.module.ts
  apps/api/src/app/contexts/dtos/create-context-request.dto.ts
  apps/api/src/app/contexts/dtos/dto.mapper.ts
  apps/api/src/app/contexts/dtos/get-context-response.dto.ts
  apps/api/src/app/contexts/dtos/get-contexts-request.dto.ts
  apps/api/src/app/contexts/dtos/get-contexts-response.dto.ts
  apps/api/src/app/contexts/dtos/index.ts
  apps/api/src/app/contexts/dtos/update-context-request.dto.ts
  apps/api/src/app/contexts/usecases/create-context/create-context.command.ts
  apps/api/src/app/contexts/usecases/create-context/create-context.usecase.ts
  apps/api/src/app/contexts/usecases/create-context/index.ts
  apps/api/src/app/contexts/usecases/delete-context/delete-context.command.ts
  apps/api/src/app/contexts/usecases/delete-context/delete-context.usecase.ts
  apps/api/src/app/contexts/usecases/delete-context/index.ts
  apps/api/src/app/contexts/usecases/get-context/get-context.command.ts
  apps/api/src/app/contexts/usecases/get-context/get-context.usecase.ts
  apps/api/src/app/contexts/usecases/get-context/index.ts
  apps/api/src/app/contexts/usecases/get-contexts/get-contexts.command.ts
  apps/api/src/app/contexts/usecases/get-contexts/get-contexts.usecase.ts
  apps/api/src/app/contexts/usecases/get-contexts/index.ts
  apps/api/src/app/contexts/usecases/update-context/index.ts
  apps/api/src/app/contexts/usecases/update-context/update-context.command.ts
  apps/api/src/app/contexts/usecases/update-context/update-context.usecase.ts
  apps/api/src/app/contexts/validators/data-size.validator.ts
  libs/dal/src/repositories/context/context.entity.ts
  libs/dal/src/repositories/context/context.schema.ts
  packages/shared/src/entities/context/context.interface.ts
  packages/shared/src/types/context.ts
  packages/shared/src/types/feature-flags.ts
Labels: @novu/dal, @novu/shared, @novu/api-service

#9133 refactor(api): move DTO mapping from usecases to controllers
  apps/api/src/app/channel-connections/usecases/create-channel-connection/create-channel-connection.usecase.ts
  apps/api/src/app/channel-connections/usecases/get-channel-connection/get-channel-connection.usecase.ts
  apps/api/src/app/channel-connections/usecases/get-channel-connections/get-channel-connections.usecase.ts
  apps/api/src/app/channel-connections/usecases/update-channel-connection/update-channel-connection.usecase.ts
  apps/api/src/app/channel-endpoints/usecases/create-channel-endpoint/create-channel-endpoint.usecase.ts
  apps/api/src/app/channel-endpoints/usecases/get-channel-endpoint/get-channel-endpoint.usecase.ts
  apps/api/src/app/channel-endpoints/usecases/get-channel-endpoints/get-channel-endpoints.usecase.ts
  apps/api/src/app/channel-endpoints/usecases/update-channel-endpoint/update-channel-endpoint.usecase.ts
  apps/api/src/app/subscribers-v2/channel-connections.controller.ts
  apps/api/src/app/subscribers-v2/channel-endpoints.controller.ts
Labels: @novu/api-service

#9132 perf(api-service): Refactor preference merging and template selection logic
  apps/api/package.json
  apps/api/src/app/events/usecases/parse-event-request/parse-event-request.usecase.ts
  apps/api/src/app/layouts-v2/usecases/build-layout-issues/build-layout-issues.usecase.ts
  apps/api/src/app/shared/services/control-value-sanitizer.service.ts
  apps/api/src/app/shared/usecases/create-variables-object/create-variables-object.usecase.ts
  apps/api/src/app/subscribers/usecases/get-subscriber-preference/get-subscriber-preference.usecase.ts
  apps/api/src/app/workflows-v2/usecases/build-step-issues/build-step-issues.usecase.ts
  apps/api/src/app/workflows-v2/usecases/preview/services/payload-merger.service.ts
  apps/api/src/app/workflows-v2/usecases/preview/services/schema-builder.service.ts
  libs/application-generic/package.json
  libs/application-generic/src/usecases/get-preferences/get-preferences.usecase.ts
  libs/application-generic/src/usecases/get-subscriber-template-preference/get-subscriber-template-preference.usecase.ts
  libs/application-generic/src/usecases/merge-preferences/merge-preferences.spec.ts
  libs/application-generic/src/usecases/merge-preferences/merge-preferences.usecase.ts
  libs/dal/src/repositories/notification-template/notification-template.repository.ts
  package.json
  pnpm-lock.yaml
Labels: @novu/dal, @novu/api-service

#9143 fix(api-service): Support whitespace control in Liquid assign tags fixes NV-6662
  apps/api/src/app/shared/utils/template-parser/new-liquid-parser.spec.ts
  apps/api/src/app/shared/utils/template-parser/new-liquid-parser.ts
  apps/dashboard/src/utils/liquid-scope-analyzer.ts
Labels: @novu/dashboard, @novu/api-service

#9126 feat(api,worker): skip sending messages outside of the subscribers schedule fixes NV-6618
  apps/api/src/app/events/e2e/trigger-event.e2e.ts
  apps/api/src/app/inbox/usecases/index.ts
  apps/api/src/app/inbox/usecases/session/session.spec.ts
  apps/api/src/app/inbox/usecases/session/session.usecase.ts
  apps/worker/src/.env.test
  apps/worker/src/app/workflow/usecases/run-job/run-job.usecase.ts
  apps/worker/src/app/workflow/usecases/run-job/schedule-validator.spec.ts
  apps/worker/src/app/workflow/usecases/run-job/schedule-validator.ts
  apps/worker/src/app/workflow/workflow.module.ts
  libs/application-generic/src/services/analytic-logs/trace-log/trace-log.repository.ts
  libs/application-generic/src/services/analytic-logs/trace-log/trace-log.schema.ts
  libs/application-generic/src/usecases/create-execution-details/create-execution-details.usecase.ts
  libs/application-generic/src/usecases/create-execution-details/types/index.ts
  libs/application-generic/src/usecases/get-subscriber-schedule/get-subscriber-schedule.command.ts
  libs/application-generic/src/usecases/get-subscriber-schedule/get-subscriber-schedule.usecase.ts
  libs/application-generic/src/usecases/get-subscriber-schedule/index.ts
  libs/application-generic/src/usecases/index.ts
Labels: @novu/worker, @novu/api-service

#9157 feat(dashboard): Persist last selected environment per organization fixes NV-6692
  apps/dashboard/src/context/environment/environment-provider.tsx
  apps/dashboard/src/pages/webhooks-page.tsx
Labels: @novu/dashboard

#9159 fix(api-service): Investigate user last name object in v2 api fixes NV-6693
  apps/api/src/app/environments-v2/dtos/diff-environment.dto.ts
  apps/api/src/app/workflows-v2/dtos/user-response.dto.ts
Labels: @novu/api-service

#9161 refactor(api-service): channel-endpoint validator and update imports
  apps/api/src/app/channel-endpoints/dtos/create-channel-endpoint-request.dto.ts
  apps/api/src/app/channel-endpoints/dtos/update-channel-endpoint-request.dto.ts
  apps/api/src/app/channel-endpoints/usecases/create-channel-endpoint/create-channel-endpoint.command.ts
  apps/api/src/app/channel-endpoints/usecases/update-channel-endpoint/update-channel-endpoint.command.ts
  apps/api/src/app/channel-endpoints/validators/channel-endpoint.validator.ts
Labels: @novu/api-service

#9156 refactor(worker): polish traces logs
  apps/api/src/app/notifications/e2e/get-activity.e2e.ts
  apps/worker/src/app/workflow/usecases/execute-bridge-job/execute-bridge-job.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message.base.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message.usecase.ts
  libs/application-generic/src/usecases/create-execution-details/create-execution-details.usecase.ts
  libs/application-generic/src/usecases/create-execution-details/types/index.ts
Labels: @novu/worker, @novu/api-service

#9166 feat(api,worker): change context data types; multicontext fixes NV-6658
  apps/api/src/app/contexts/contexts.controller.ts
  apps/api/src/app/contexts/contexts.module.ts
  apps/api/src/app/contexts/dtos/create-context-request.dto.ts
  apps/api/src/app/contexts/dtos/dto.mapper.ts
  apps/api/src/app/contexts/dtos/get-context-response.dto.ts
  apps/api/src/app/contexts/dtos/get-contexts-request.dto.ts
  apps/api/src/app/contexts/dtos/index.ts
  apps/api/src/app/contexts/dtos/update-context-request.dto.ts
  apps/api/src/app/contexts/dtos/upsert-context-request.dto.ts
  apps/api/src/app/contexts/usecases/create-context/create-context.command.ts
  apps/api/src/app/contexts/usecases/create-context/create-context.usecase.ts
  apps/api/src/app/contexts/usecases/create-context/index.ts
  apps/api/src/app/contexts/usecases/delete-context/delete-context.command.ts
  apps/api/src/app/contexts/usecases/delete-context/delete-context.usecase.ts
  apps/api/src/app/contexts/usecases/get-context/get-context.command.ts
  apps/api/src/app/contexts/usecases/get-context/get-context.usecase.ts
  apps/api/src/app/contexts/usecases/get-contexts/get-contexts.command.ts
  apps/api/src/app/contexts/usecases/get-contexts/get-contexts.usecase.ts
  apps/api/src/app/contexts/usecases/update-context/index.ts
  apps/api/src/app/contexts/usecases/update-context/update-context.command.ts
  apps/api/src/app/contexts/usecases/update-context/update-context.usecase.ts
  apps/api/src/app/contexts/usecases/upsert-context/index.ts
  apps/api/src/app/contexts/usecases/upsert-context/upsert-context.command.ts
  apps/api/src/app/contexts/usecases/upsert-context/upsert-context.usecase.ts
  apps/api/src/app/contexts/validators/context-data-size.validator.ts
  apps/api/src/app/events/dtos/trigger-event-request.dto.ts
  apps/api/src/app/events/usecases/parse-event-request/parse-event-request.command.ts
  apps/worker/src/app/workflow/usecases/subscriber-job-bound/subscriber-job-bound.command.ts
  apps/worker/src/app/workflow/usecases/subscriber-job-bound/subscriber-job-bound.usecase.ts
  libs/application-generic/src/decorators/is-valid-context-payload.decorator.ts
  libs/application-generic/src/dtos/process-subscriber-job.dto.ts
  libs/application-generic/src/services/analytic-logs/step-run/step-run.repository.ts
  libs/application-generic/src/services/analytic-logs/step-run/step-run.schema.ts
  libs/application-generic/src/services/analytic-logs/workflow-run/workflow-run.repository.ts
  libs/application-generic/src/services/analytic-logs/workflow-run/workflow-run.schema.ts
  libs/application-generic/src/usecases/create-notification-jobs/create-notification-jobs.command.ts
  libs/application-generic/src/usecases/create-notification-jobs/create-notification-jobs.usecase.ts
  libs/application-generic/src/usecases/resolve-context/resolve-context.command.ts
  libs/application-generic/src/usecases/resolve-context/resolve-context.usecase.ts
  libs/application-generic/src/usecases/trigger-base/trigger-base.usecase.ts
  libs/application-generic/src/usecases/trigger-broadcast/trigger-broadcast.command.ts
  libs/application-generic/src/usecases/trigger-event/trigger-event.command.ts
  libs/application-generic/src/usecases/trigger-event/trigger-event.usecase.ts
  libs/application-generic/src/usecases/trigger-multicast/trigger-multicast.command.ts
  libs/application-generic/src/utils/subscribers.utils.ts
  libs/dal/src/repositories/context/context.entity.ts
  libs/dal/src/repositories/context/context.repository.ts
  libs/dal/src/repositories/context/context.schema.ts
  libs/dal/src/repositories/job/job.entity.ts
  libs/dal/src/repositories/job/job.schema.ts
  libs/dal/src/repositories/notification/notification.entity.ts
  libs/dal/src/repositories/notification/notification.schema.ts
  packages/shared/src/types/context.ts
Labels: @novu/dal, @novu/shared, @novu/worker, @novu/api-service

#9163 feat(dashboard): modified the template store fixes MRK-1046
  apps/api/src/app/layouts-v2/utils/layout-templates.ts
  apps/dashboard/src/api/workflows.ts
  apps/dashboard/src/components/template-store/components/workflow-results.tsx
  apps/dashboard/src/components/template-store/featured.ts
  apps/dashboard/src/components/template-store/templates/access-token.ts
  apps/dashboard/src/components/template-store/templates/appointment-reminder.ts
  apps/dashboard/src/components/template-store/templates/authentication/email-verification-code.ts
  apps/dashboard/src/components/template-store/templates/authentication/organization-invitation.ts
  apps/dashboard/src/components/template-store/templates/authentication/recent-login.ts
  apps/dashboard/src/components/template-store/templates/authentication/reset-password-code.ts
  apps/dashboard/src/components/template-store/templates/authentication/sign-in-magic-link.ts
  apps/dashboard/src/components/template-store/templates/authentication/sign-up-magic-link.ts
  apps/dashboard/src/components/template-store/templates/authentication/welcome.ts
  apps/dashboard/src/components/template-store/templates/billing/card-expiring.ts
  apps/dashboard/src/components/template-store/templates/billing/failed-payment.ts
  apps/dashboard/src/components/template-store/templates/billing/sending-invoice.ts
  apps/dashboard/src/components/template-store/templates/billing/trial-ends.ts
  apps/dashboard/src/components/template-store/templates/billing/upcoming-invoice.ts
  apps/dashboard/src/components/template-store/templates/index.ts
  apps/dashboard/src/components/template-store/templates/payment-confirmed.ts
  apps/dashboard/src/components/template-store/templates/types.ts
  apps/dashboard/src/components/template-store/templates/usage-limit.ts
  apps/dashboard/src/components/template-store/types.ts
  apps/dashboard/src/components/template-store/workflow-sidebar.tsx
  apps/dashboard/src/components/template-store/workflow-template-modal.tsx
  apps/dashboard/src/components/workflow-editor/toasts.tsx
  apps/dashboard/src/hooks/use-create-workflow.ts
  apps/dashboard/src/hooks/use-template-store.ts
  apps/dashboard/src/pages/workflows.tsx
  apps/dashboard/src/utils/api-response-normalizer.ts
Labels: @novu/dashboard, @novu/api-service

#9167 fix(api-service,dashboard,worker): subscriber schedule bug bashing fixes fixes NV-6691
  apps/api/src/app/activity/dtos/workflow-run-response.dto.ts
  apps/api/src/app/activity/usecases/get-workflow-run/get-workflow-run.usecase.ts
  apps/dashboard/src/api/activity.ts
  apps/dashboard/src/components/subscribers/preferences/preferences.tsx
  apps/dashboard/src/components/subscribers/preferences/schedule-table.tsx
  apps/dashboard/src/components/subscribers/preferences/subscribers-schedule.tsx
  apps/worker/src/app/workflow/usecases/run-job/run-job.usecase.ts
  packages/js/src/ui/components/elements/Preferences/Preferences.tsx
  packages/js/src/ui/components/elements/Preferences/ScheduleRow.tsx
  packages/js/src/ui/components/elements/Preferences/utils.ts
  packages/js/src/ui/config/defaultLocalization.ts
Labels: @novu/worker, @novu/dashboard, @novu/api-service

#9176 refactor(api): fixed createDefaultLayout function fixes MRK-1055
  apps/api/src/app/layouts-v2/utils/layout-templates.ts
Labels: @novu/api-service

#9180 chore(js,dashboard): adjust subscriber schedule tooltip
  apps/dashboard/src/components/subscribers/preferences/subscribers-schedule.tsx
  packages/js/src/ui/config/defaultLocalization.ts
Labels: @novu/dashboard

#9175 feat(framework,worker,api): workflow execution with context & variable parsing fixes NV-6697
  apps/api/src/app/bridge/usecases/preview-step/preview-step.command.ts
  apps/api/src/app/bridge/usecases/preview-step/preview-step.usecase.ts
  apps/api/src/app/environments-v1/usecases/output-renderers/render-command.ts
  apps/api/src/app/events/dtos/trigger-event-request.dto.ts
  apps/worker/src/app/workflow/usecases/execute-bridge-job/execute-bridge-job.usecase.ts
  apps/worker/src/app/workflow/usecases/run-job/run-job.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-channel.command.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-chat.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-email.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-in-app.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-push.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-sms.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message.command.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message.usecase.ts
  apps/worker/src/app/workflow/workflow.module.ts
  libs/application-generic/src/services/analytic-logs/trace-log/trace-log.schema.ts
  libs/application-generic/src/usecases/normalize-variables/normalize-variables.usecase.ts
  libs/application-generic/src/usecases/resolve-context/index.ts
  libs/application-generic/src/usecases/resolve-context/resolve-context-from-keys.command.ts
  libs/application-generic/src/usecases/resolve-context/resolve-context-from-keys.usecase.ts
  libs/application-generic/src/usecases/resolve-context/resolve-context-from-payload.command.ts
  libs/application-generic/src/usecases/resolve-context/resolve-context-from-payload.usecase.ts
  libs/application-generic/src/usecases/trigger-event/trigger-event.usecase.ts
  libs/application-generic/src/utils/filter-processing-details.ts
  libs/application-generic/src/webhooks/dtos/message-webhook.response.dto.ts
  libs/application-generic/src/webhooks/mappers/message.mapper.ts
  libs/dal/src/repositories/context/context.repository.ts
  libs/dal/src/repositories/job/job.schema.ts
  libs/dal/src/repositories/message/message.entity.ts
  libs/dal/src/repositories/message/message.schema.ts
  libs/dal/src/repositories/notification/notification.schema.ts
  packages/framework/src/client.test.ts
  packages/framework/src/client.ts
  packages/framework/src/client.validation.test.ts
  packages/framework/src/handler.ts
  packages/framework/src/resources/workflow/workflow.resource.ts
  packages/framework/src/resources/workflow/workflow.test.ts
  packages/framework/src/types/context.types.ts
  packages/framework/src/types/event.types.ts
  packages/framework/src/types/execution.types.ts
  packages/framework/src/types/index.ts
  packages/framework/src/types/workflow.types.ts
  packages/shared/src/types/context.ts
Labels: @novu/dal, @novu/shared, @novu/worker, @novu/api-service

#9183 fix(api): align subscriber session header handling
  apps/api/src/app/shared/framework/user.decorator.ts
Labels: @novu/api-service, codex

#9182 fix(dashboard): layout editor breadcrumbs
  apps/dashboard/src/components/layouts/layout-breadcrumbs.tsx
  apps/dashboard/src/pages/edit-layout.tsx
Labels: @novu/dashboard

#9165 fix(api): Correct typo from 'choosed' to 'chosen'
  apps/api/src/app/events/e2e/trigger-event.e2e.ts
Labels: @novu/api-service

#9188 feat(dashboard,api-service): context test workflow section & search fixes NV-6710
  apps/api/src/app/contexts/contexts.controller.ts
  apps/api/src/app/contexts/contexts.module.ts
  apps/api/src/app/contexts/dtos/index.ts
  apps/api/src/app/contexts/dtos/list-contexts-query.dto.ts
  apps/api/src/app/contexts/dtos/list-contexts-response.dto.ts
  apps/api/src/app/contexts/usecases/get-contexts/index.ts
  apps/api/src/app/contexts/usecases/list-contexts/index.ts
  apps/api/src/app/contexts/usecases/list-contexts/list-contexts.command.ts
  apps/api/src/app/contexts/usecases/list-contexts/list-contexts.usecase.ts
  apps/api/src/app/subscribers-v2/dtos/cursor-pagination-query.dto.ts
  apps/dashboard/src/api/contexts.ts
  apps/dashboard/src/components/preview-context-section.tsx
  apps/dashboard/src/components/primitives/autocomplete.tsx
  apps/dashboard/src/components/subscribers/subscriber-autocomplete.tsx
  apps/dashboard/src/components/workflow-editor/steps/components/index.ts
  apps/dashboard/src/components/workflow-editor/steps/constants/preview-context.constants.ts
  apps/dashboard/src/components/workflow-editor/steps/hooks/use-persisted-preview-context.ts
  apps/dashboard/src/components/workflow-editor/steps/hooks/use-preview-data-initialization.ts
  apps/dashboard/src/components/workflow-editor/steps/preview-context-panel.tsx
  apps/dashboard/src/components/workflow-editor/steps/types/preview-context.types.ts
  apps/dashboard/src/components/workflow-editor/steps/utils/preview-context-storage.utils.ts
  apps/dashboard/src/components/workflow-editor/steps/utils/preview-context.utils.ts
  apps/dashboard/src/hooks/use-fetch-contexts.ts
  apps/dashboard/src/utils/query-keys.ts
Labels: @novu/dashboard, @novu/api-service

#9194 feat(dashboard): context variables & validation fixes NV-6699
  apps/api/src/app/shared/utils/create-schema.ts
  apps/api/src/app/shared/utils/template-parser/new-liquid-parser.ts
  apps/api/src/app/workflows-v2/dtos/preview-payload.dto.ts
  apps/api/src/app/workflows-v2/usecases/build-variable-schema/build-available-variable-schema.usecase.ts
  apps/api/src/app/workflows-v2/usecases/preview/preview.usecase.ts
  apps/api/src/app/workflows-v2/usecases/preview/services/schema-builder.service.ts
  apps/dashboard/src/api/workflows.ts
  apps/dashboard/src/hooks/use-trigger-workflow.ts
  apps/dashboard/src/utils/parseStepVariables.ts
Labels: @novu/dashboard, @novu/api-service

#9220 feat(dashboard,api-service): context variables & schemas fixes NV-6723
  apps/api/src/app/environments-v1/usecases/construct-framework-workflow/construct-framework-workflow.usecase.ts
  apps/dashboard/src/components/workflow-editor/steps/context/step-editor-context.tsx
  apps/dashboard/src/components/workflow-editor/steps/utils/preview-context.utils.ts
  apps/dashboard/src/hooks/use-parse-variables.ts
  apps/dashboard/src/hooks/use-preview-context-schema.ts
  packages/shared/src/dto/workflows/preview-step-response.dto.ts
Labels: @novu/shared, @novu/dashboard, @novu/api-service

#9221 fix(api-service): throttle step status
  apps/dashboard/src/components/workflow-editor/steps/throttle/dynamic-throttle.tsx
  libs/application-generic/src/services/analytic-logs/step-run/step-run.repository.ts
  libs/application-generic/src/services/analytic-logs/workflow-run/workflow-run.repository.ts
Labels: @novu/dashboard

#9216 fix(api-service): layout identifier bug fixes NV-6720
  apps/api/src/app/layouts-v2/usecases/sync-to-environment/layout-sync-to-environment.usecase.ts
  apps/api/src/app/layouts-v2/usecases/upsert-layout/upsert-layout.command.ts
  apps/api/src/app/layouts-v2/usecases/upsert-layout/upsert-layout.usecase.spec.ts
  apps/api/src/app/layouts-v2/usecases/upsert-layout/upsert-layout.usecase.ts
Labels: @novu/api-service

#9224 feat(dashboard): Allow hyphens in payload schema keys fixes NV-6729
  apps/dashboard/src/components/schema-editor/utils/validation-schema.ts
Labels: @novu/dashboard

#9218 feat(dashboard): update InboxButton to include subscriber details fixes MRK-1064
  apps/dashboard/src/components/inbox-button.tsx
Labels: @novu/dashboard

#9226 fix(dashboard): don't add translation page command shortcut in self hosted
  apps/dashboard/src/components/command-palette/commands/navigation-commands.tsx
Labels: @novu/dashboard

#9229 perf(api): inline activity feature flag lookup
  apps/api/src/app/notifications/usecases/get-activity/get-activity.usecase.ts
Labels: @novu/api-service, codex

#9234 feat(dashboard): use preview schema in preview sections fixes NV-6735
  apps/dashboard/src/components/preview-context-section.tsx
  apps/dashboard/src/components/preview-subscriber-section.tsx
  apps/dashboard/src/components/workflow-editor/steps/components/preview-payload-section.tsx
  apps/dashboard/src/components/workflow-editor/steps/preview-context-panel.tsx
  apps/dashboard/src/components/workflow-editor/steps/types/preview-context.types.ts
Labels: @novu/dashboard

#9240 fix(api-service): Change log level from info to debug
  apps/api/src/app/internal/usecases/update-subscriber-online-state/update-subscriber-online-state.usecase.ts
  libs/application-generic/src/logging/index.ts
Labels: @novu/api-service

#9245 fix(dashboard): align 'Reset defaults' buttons
  apps/dashboard/src/components/preview-context-section.tsx
  apps/dashboard/src/components/preview-subscriber-section.tsx
Labels: @novu/dashboard

#9254 feat(api-service): Implement configurable environment limit via LaunchDarkly fixes NV-6694
  apps/api/src/app/environments-v1/usecases/create-environment/create-environment.usecase.ts
  libs/application-generic/src/services/resource-validator.service.ts
  packages/shared/src/types/feature-flags.ts
Labels: @novu/shared, @novu/api-service

#9253 fix(api-service): preview generation e2e tests
  apps/api/src/app/workflows-v2/usecases/preview/preview.usecase.ts
  apps/api/src/app/workflows-v2/usecases/preview/services/payload-merger.service.ts
  apps/api/src/app/workflows-v2/usecases/preview/services/schema-builder.service.ts
Labels: @novu/api-service

#9249 feat(dashboard): add inbound webhooks configuration feature flag
  apps/dashboard/src/components/integrations/components/integration-general-settings.tsx
  packages/shared/src/types/feature-flags.ts
Labels: @novu/shared, @novu/dashboard

#9250 feat(dashboard): add context info to activity overview fixes NV-6741
  apps/api/src/app/notifications/dtos/activities-response.dto.ts
  apps/api/src/app/notifications/usecases/get-activity-feed/map-feed-item-to.dto.ts
  apps/api/src/app/notifications/usecases/get-activity/get-activity.usecase.ts
  apps/dashboard/src/components/activity/components/activity-overview.tsx
  packages/shared/src/entities/activity-feed/activity.interface.ts
Labels: @novu/shared, @novu/dashboard, @novu/api-service

#9267 feat(dashboard): contexts list page fixes NV-6679
  apps/dashboard/src/components/contexts/context-list-blank.tsx
  apps/dashboard/src/components/contexts/context-list.tsx
  apps/dashboard/src/components/contexts/context-row.tsx
  apps/dashboard/src/components/contexts/contexts-filters.tsx
  apps/dashboard/src/components/contexts/empty-contexts-illustration.tsx
  apps/dashboard/src/components/contexts/hooks/use-contexts-url-state.ts
  apps/dashboard/src/components/contexts/index.ts
  apps/dashboard/src/components/side-navigation/side-navigation.tsx
  apps/dashboard/src/main.tsx
  apps/dashboard/src/pages/contexts.tsx
  apps/dashboard/src/utils/routes.ts
  apps/dashboard/src/utils/telemetry.ts
Labels: @novu/dashboard

#9265 refactor(api): avoid Promise.all for synchronous workflow run mapping
  apps/api/src/app/activity/usecases/get-workflow-runs/get-workflow-runs.usecase.ts
Labels: @novu/api-service, codex
