Repository novuhq/novu, pull requests merged in 2025-04, with the labels that each got.

#8042 feat(dashboard): Move new badge to data object
  apps/dashboard/src/components/side-navigation/side-navigation.tsx
  apps/dashboard/src/components/workflow-editor/steps/in-app/in-app-editor.tsx
Labels: @novu/dashboard

#8004 feat(api-service): duplicate workflow endpoint
  apps/api/src/app/workflows-v2/usecases/duplicate-workflow/duplicate-workflow.command.ts
  apps/api/src/app/workflows-v2/usecases/duplicate-workflow/duplicate-workflow.usecase.ts
  apps/api/src/app/workflows-v2/usecases/duplicate-workflow/index.ts
  apps/api/src/app/workflows-v2/workflow.controller.e2e.ts
  apps/api/src/app/workflows-v2/workflow.controller.ts
  apps/api/src/app/workflows-v2/workflow.module.ts
  packages/shared/src/clients/workflows-client.ts
  packages/shared/src/dto/workflows/workflow.dto.ts
Labels: @novu/shared, @novu/api-service

#8045 feat(dashboard): refactor digest key component
  apps/dashboard/src/components/conditions-editor/variable-select.tsx
  apps/dashboard/src/components/workflow-editor/steps/digest/digest-key.tsx
Labels: @novu/dashboard

#8049 fix(api-service): cors unit tests
  apps/api/src/.env.test
  apps/api/src/config/cors.config.spec.ts
Labels: @novu/api-service

#8048 fix(api-service): workflow e2e test
  apps/api/src/app/workflows-v2/e2e/generate-preview.e2e.ts
  apps/api/src/app/workflows-v2/generate-preview.e2e.ts
  apps/api/src/app/workflows-v2/maily-test-data.ts
  apps/api/src/app/workflows-v2/usecases/create-variables-object/create-variables-object.usecase.ts
  apps/api/src/app/workflows-v2/util/build-variables.ts
  apps/api/src/app/workflows-v2/util/utils.ts
  apps/api/src/app/workflows-v2/workflow.controller.e2e.ts
Labels: @novu/api-service

#8051 fix(dashboard): Support arrays in isAllowedVariables
  apps/dashboard/src/components/workflow-editor/steps/email/extensions/maily-variables-list.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/maily.tsx
  apps/dashboard/src/hooks/use-parse-variables.ts
  apps/dashboard/src/utils/parseStepVariables.ts
Labels: @novu/dashboard

#8057 fix(dashboard): disable duplicate for v1 and code wfs
  apps/dashboard/src/components/workflow-editor/configure-workflow-form.tsx
  apps/dashboard/src/components/workflow-row.tsx
Labels: @novu/dashboard

#8062 feat(dashboard): Add mixpanel event to the new data object
  apps/dashboard/src/components/workflow-editor/steps/base/data-object.tsx
  apps/dashboard/src/utils/telemetry.ts
Labels: @novu/dashboard

#8061 fix(api-service): increase allowed payload size for bridge & handle error
  .cspell.json
  apps/api/src/bootstrap.ts
  apps/api/src/exception-filter.ts
  libs/application-generic/src/usecases/execute-bridge-request/execute-bridge-request.usecase.ts
  libs/application-generic/src/utils/bridge.ts
Labels: @novu/api-service

#8072 fix(dashboard): change sales meeting link
  apps/dashboard/src/hooks/use-plain-chat.ts
  apps/web/src/components/layout/components/v2/HeaderNav.tsx
Labels: @novu/web, @novu/dashboard

#8078 refactor(dashboard): simplify & restructure maily editor files and logic
  apps/dashboard/package.json
  apps/dashboard/src/components/workflow-editor/steps/email/email-preview.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/extensions/for.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/extensions/update-attributes.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/maily-config.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/maily.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/variables/variables.ts
  apps/dashboard/src/components/workflow-editor/steps/email/views/for-view.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/views/html-view.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/views/maily-variables-list-view.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/views/variable-view.tsx
  pnpm-lock.yaml
Labels: @novu/dashboard

#8070 feat(dashboard): add repeat menu description component and integrate with email step
  apps/dashboard/package.json
  apps/dashboard/src/components/workflow-editor/steps/email/email-editor.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/maily.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/views/for-view.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/views/repeat-menu-description.tsx
  pnpm-lock.yaml
Labels: @novu/dashboard

#8086 fix(api): Fix broken E2E
  apps/api/package.json
  apps/api/src/app/workflows-v2/workflow.controller.e2e.ts
  pnpm-lock.yaml
Labels: @novu/api-service

#7833 feat(root): create submodule sync check after merge
  .github/workflows/check-submodule-sync-merge.yaml
  .github/workflows/check-submodule-sync-pr.yaml
Labels: CI/CD

#8081 fix(dashboard): missing payload in activity feed item
  apps/api/src/app/environments-v1/usecases/construct-framework-workflow/construct-framework-workflow.usecase.ts
  apps/dashboard/src/components/activity/activity-logs.tsx
  apps/dashboard/src/components/activity/activity-table.tsx
  apps/dashboard/src/components/icons/repeat-play.tsx
  apps/dashboard/src/components/primitives/code-block.tsx
  apps/dashboard/src/components/primitives/copy-to-clipboard.tsx
  apps/dashboard/src/components/primitives/dialog.tsx
  apps/dashboard/src/components/subscribers/subscriber-activity-drawer.tsx
  apps/dashboard/src/components/template-store/templates/authentication/email-verification-code.ts
  apps/dashboard/src/components/template-store/templates/authentication/organization-invitation.ts
  apps/dashboard/src/components/template-store/templates/authentication/sign-in-magic-link.ts
  apps/dashboard/src/components/template-store/templates/authentication/sign-up-magic-link.ts
  apps/dashboard/src/components/template-store/templates/billing/card-expiring.ts
  apps/dashboard/src/components/template-store/templates/billing/failed-payment.ts
  apps/dashboard/src/components/template-store/templates/billing/sending-invoice.ts
  apps/dashboard/src/components/template-store/templates/billing/trial-ends.ts
  apps/dashboard/src/components/template-store/templates/billing/upcoming-invoice.ts
  apps/dashboard/src/components/template-store/templates/types.ts
  apps/dashboard/src/components/workflow-editor/test-workflow/test-workflow-logs-sidebar.tsx
  apps/dashboard/src/pages/activity-feed.tsx
Labels: @novu/dashboard, @novu/api-service

#8088 fix: broken novu logo in plain chat
  apps/dashboard/src/hooks/use-plain-chat.ts
  apps/web/src/components/layout/components/v2/HeaderNav.tsx
Labels: @novu/web, @novu/dashboard

#8060 feat(dal): message index and query polish
  apps/ws/src/socket/usecases/external-services-route/external-services-route.spec.ts
  apps/ws/src/socket/usecases/external-services-route/external-services-route.usecase.ts
  libs/dal/src/repositories/message/message.repository.ts
  libs/dal/src/repositories/message/message.schema.ts
Labels: @novu/dal, @novu/ws

#8093 fix(api): Show the correct validations in in-app step
  apps/api/src/app/workflows-v2/usecases/build-step-issues/build-step-issues.usecase.ts
  apps/api/src/app/workflows-v2/workflow.controller.e2e.ts
  apps/dashboard/src/components/primitives/form/form.tsx
  apps/dashboard/src/components/workflow-editor/steps/in-app/in-app-subject.tsx
  apps/dashboard/tests/page-object-models/in-app-step-editor.ts
  libs/application-generic/src/schemas/control/in-app-control.schema.ts
  libs/application-generic/src/utils/sanitize-control-values.ts
  packages/framework/src/schemas/steps/channels/in-app.schema.ts
Labels: @novu/dashboard, @novu/api-service

#8089 feat(api-service,dashboard,framework): expose digest eventCount and events variables
  .vscode/launch.json
  apps/api/package.json
  apps/api/src/app/workflows-v2/shared/map-step-type-to-result.mapper.ts
  apps/api/src/app/workflows-v2/usecases/build-variable-schema/build-available-variable-schema.usecase.ts
  apps/api/src/app/workflows-v2/usecases/create-variables-object/create-variables-object.usecase.ts
  apps/api/src/app/workflows-v2/usecases/preview/preview.usecase.ts
  apps/api/src/app/workflows-v2/util/utils.ts
  apps/dashboard/src/components/workflow-editor/steps/email/maily.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/variables/variables.ts
  apps/dashboard/src/hooks/use-parse-variables.ts
  apps/dashboard/src/utils/parseStepVariables.ts
  apps/worker/src/app/workflow/usecases/execute-bridge-job/execute-bridge-job.usecase.ts
  package.json
  packages/framework/src/schemas/steps/actions/digest.schema.ts
  packages/shared/src/types/feature-flags.ts
  pnpm-lock.yaml
Labels: @novu/shared, @novu/worker, @novu/dashboard, @novu/api-service

#8094 feat(api-service,framework): toSentence and pluralize LiquidJS filters
  apps/api/src/app/environments-v1/usecases/construct-framework-workflow/construct-framework-workflow.usecase.ts
  apps/api/src/app/environments-v1/usecases/output-renderers/email-output-renderer.spec.ts
  apps/api/src/app/environments-v1/usecases/output-renderers/email-output-renderer.usecase.ts
  apps/api/src/app/shared/helpers/liquid.ts
  apps/api/src/app/workflows-v2/e2e/generate-preview.e2e.ts
  apps/api/src/app/workflows-v2/generate-preview.e2e.ts
  apps/api/src/app/workflows-v2/util/template-parser/liquid-parser.ts
  apps/dashboard/src/components/primitives/control-input/control-input.tsx
  apps/dashboard/src/components/variable/components/reorder-filter-item.tsx
  apps/dashboard/src/components/variable/constants.ts
  apps/dashboard/src/components/variable/edit-variable-popover-content.tsx
  apps/dashboard/src/components/variable/hooks/use-filter-manager.ts
  apps/dashboard/src/components/variable/hooks/use-suggested-filters.ts
  apps/dashboard/src/components/variable/hooks/use-variable-parser.ts
  apps/dashboard/src/components/variable/utils.ts
  apps/dashboard/src/utils/liquid-autocomplete.ts
  packages/framework/package.json
  packages/framework/src/filters/digest.ts
  packages/framework/src/filters/index.ts
  packages/framework/src/filters/pluralize.test.ts
  packages/framework/src/filters/pluralize.ts
  packages/framework/src/filters/to-sentence.test.ts
  packages/framework/src/filters/to-sentence.ts
  packages/framework/src/internal/index.ts
  packages/framework/src/utils/liquid.utils.test.ts
  packages/framework/src/utils/liquid.utils.ts
  packages/framework/src/utils/object.utils.ts
  pnpm-lock.yaml
Labels: @novu/dashboard, @novu/api-service

#8092 fix(dashboard): Fix status message date rendering
  apps/dashboard/src/components/activity/activity-job-item.tsx
Labels: @novu/dashboard

#8101 fix(dashboard): Correct workflowId format in Python and Go snippets
  apps/dashboard/src/utils/code-snippets.ts
Labels: @novu/dashboard

#8041 fix(api,framework): Undefined variables parsing
  apps/api/src/app/shared/helpers/liquid.ts
  packages/framework/src/client.test.ts
  packages/framework/src/utils/liquid.utils.test.ts
  packages/framework/src/utils/liquid.utils.ts
Labels: @novu/api-service

#8106 fix(dashboard): org deletion redirect
  apps/dashboard/src/context/auth/auth-provider.tsx
Labels: @novu/dashboard

#8110 fix(api): Ensure unique stepId for steps of similar channel
  apps/api/src/app/workflows-v2/usecases/upsert-workflow/upsert-workflow.usecase.ts
  apps/api/src/app/workflows-v2/workflow.controller.e2e.ts
Labels: @novu/api-service

#8103 fix(application-generic): store internal workflow id in notification
  apps/worker/src/app/workflow/usecases/subscriber-job-bound/subscriber-job-bound.usecase.ts
Labels: @novu/worker

#8109 chore(dal): Track Mongo connections/disconnections and errors
  libs/dal/src/dal.service.ts
Labels: @novu/dal

#8107 fix(dashboard): Simplify inactive organization logic
  apps/dashboard/src/context/auth/auth-provider.tsx
Labels: @novu/dashboard

#8114 fix(dashboard): Email subject fixes
  apps/dashboard/src/components/primitives/editor.tsx
  apps/dashboard/src/components/primitives/form/form.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/email-subject.tsx
  libs/application-generic/src/schemas/control/email-control.schema.ts
  packages/framework/src/schemas/steps/channels/email.schema.ts
Labels: @novu/dashboard

#8118 fix(dashboard): Show pagination right below table
  apps/dashboard/src/components/activity/activity-table.tsx
  apps/dashboard/src/components/subscribers/subscriber-list.tsx
  apps/dashboard/src/pages/activity-feed.tsx
Labels: @novu/dashboard

#8097 feat(dashboard): Nv 5660 dashboard implement the digest block variables in the
  .cspell.json
  apps/dashboard/src/components/icons/digest-variable-icon.tsx
  apps/dashboard/src/components/in-app-action-dropdown.tsx
  apps/dashboard/src/components/primitives/constants.ts
  apps/dashboard/src/components/primitives/editor.tsx
  apps/dashboard/src/components/primitives/form/avatar-picker.tsx
  apps/dashboard/src/components/variable/components/digest-count-summary-preview.tsx
  apps/dashboard/src/components/variable/components/digest-sentence-summary-preview.tsx
  apps/dashboard/src/components/variable/components/variable-icon.tsx
  apps/dashboard/src/components/variable/components/variable-preview.tsx
  apps/dashboard/src/components/variable/utils/digest-variables.tsx
  apps/dashboard/src/components/variable/variable-list.tsx
  apps/dashboard/src/components/workflow-editor/steps/base/base-body.tsx
  apps/dashboard/src/components/workflow-editor/steps/base/base-subject.tsx
  apps/dashboard/src/components/workflow-editor/steps/base/data-object.tsx
  apps/dashboard/src/components/workflow-editor/steps/conditions/edit-step-conditions-form.tsx
  apps/dashboard/src/components/workflow-editor/steps/controls/text-widget.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/email-subject.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/maily-config.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/maily.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/variables/variables.ts
  apps/dashboard/src/components/workflow-editor/steps/email/views/maily-variables-list-view.tsx
  apps/dashboard/src/components/workflow-editor/steps/in-app/in-app-body.tsx
  apps/dashboard/src/components/workflow-editor/steps/in-app/in-app-redirect.tsx
  apps/dashboard/src/components/workflow-editor/steps/in-app/in-app-subject.tsx
  apps/dashboard/src/components/workflow-editor/workflow-provider.tsx
  apps/dashboard/src/hooks/use-parse-variables.ts
  apps/dashboard/src/index.css
  apps/dashboard/src/utils/liquid-autocomplete.ts
  apps/dashboard/src/utils/parseStepVariables.ts
Labels: @novu/dashboard

#8119 feat(dashboard,api): option to specify repeat block iterations
  apps/api/package.json
  apps/api/src/app/environments-v1/usecases/output-renderers/email-output-renderer.spec.ts
  apps/api/src/app/environments-v1/usecases/output-renderers/email-output-renderer.usecase.ts
  apps/api/src/app/environments-v1/usecases/output-renderers/maily-to-liquid/maily.types.ts
  apps/api/src/app/workflows-v2/usecases/create-variables-object/create-variables-object.usecase.ts
  apps/api/src/app/workflows-v2/usecases/preview/preview.usecase.ts
  apps/api/src/app/workflows-v2/util/utils.ts
  apps/dashboard/package.json
  apps/dashboard/src/components/workflow-editor/steps/email/maily.tsx
  libs/application-generic/package.json
  pnpm-lock.yaml
Labels: @novu/dashboard, @novu/api-service

#8122 feat(dashboard,api-service,framework): email editor digest block
  apps/api/package.json
  apps/dashboard/public/images/email-editor/digest-block-preview.webp
  apps/dashboard/public/images/email-editor/header-hero-image.png
  apps/dashboard/public/images/email-editor/header-hero-image.webp
  apps/dashboard/public/images/email-editor/header-logo-with-cover-image-preview.png
  apps/dashboard/public/images/email-editor/header-logo-with-cover-image-preview.webp
  apps/dashboard/public/images/email-editor/html-block-preview.png
  apps/dashboard/public/images/email-editor/html-block-preview.webp
  apps/dashboard/src/components/in-app-action-dropdown.tsx
  apps/dashboard/src/components/primitives/form/avatar-picker.tsx
  apps/dashboard/src/components/workflow-editor/steps/base/base-body.tsx
  apps/dashboard/src/components/workflow-editor/steps/base/base-subject.tsx
  apps/dashboard/src/components/workflow-editor/steps/base/data-object.tsx
  apps/dashboard/src/components/workflow-editor/steps/conditions/edit-step-conditions-form.tsx
  apps/dashboard/src/components/workflow-editor/steps/controls/text-widget.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/blocks/digest.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/blocks/headers.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/blocks/html.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/email-subject.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/maily-config.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/maily.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/views/maily-variables-list-view.tsx
  apps/dashboard/src/components/workflow-editor/steps/in-app/in-app-body.tsx
  apps/dashboard/src/components/workflow-editor/steps/in-app/in-app-redirect.tsx
  apps/dashboard/src/components/workflow-editor/steps/in-app/in-app-subject.tsx
  apps/dashboard/src/components/workflow-editor/workflow-provider.tsx
  apps/dashboard/src/utils/telemetry.ts
  libs/application-generic/package.json
  packages/framework/src/filters/pluralize.test.ts
  packages/framework/src/filters/pluralize.ts
  pnpm-lock.yaml
Labels: @novu/dashboard, @novu/api-service

#8131 fix(api-service): email preview - allow previewing user provided payload for arrays
  apps/api/src/app/workflows-v2/usecases/preview/preview.usecase.ts
  apps/api/src/app/workflows-v2/util/utils.ts
Labels: @novu/api-service

#8132 chore(root): mongoose version upgrade
  enterprise/packages/auth/package.json
  enterprise/packages/billing/package.json
  enterprise/packages/dal/package.json
  libs/dal/package.json
  pnpm-lock.yaml
Labels: @novu/dal

#8116 feat(dashboard): edit variable popover autosave
  apps/dashboard/src/components/icons/code-2.tsx
  apps/dashboard/src/components/icons/repeat-variable.tsx
  apps/dashboard/src/components/primitives/control-input/control-input.tsx
  apps/dashboard/src/components/primitives/control-input/hooks/use-variables.ts
  apps/dashboard/src/components/primitives/control-input/variable-plugin/index.ts
  apps/dashboard/src/components/primitives/control-input/variable-plugin/plugin-view.ts
  apps/dashboard/src/components/primitives/control-input/variable-plugin/types.ts
  apps/dashboard/src/components/primitives/control-input/variable-plugin/utils.ts
  apps/dashboard/src/components/primitives/form/form.tsx
  apps/dashboard/src/components/variable/edit-variable-popover-content.tsx
  apps/dashboard/src/components/variable/edit-variable-popover.tsx
  apps/dashboard/src/components/variable/hooks/use-variable-parser.ts
  apps/dashboard/src/components/variable/types.ts
  apps/dashboard/src/components/workflow-editor/steps/email/maily-config.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/maily.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/variables/variables.ts
  apps/dashboard/src/components/workflow-editor/steps/email/views/variable-view.tsx
  apps/dashboard/src/components/workflow-editor/steps/step-drawer.tsx
  apps/dashboard/src/context/escape-key-manager/escape-key-context.tsx
  apps/dashboard/src/context/escape-key-manager/escape-key-manager.tsx
  apps/dashboard/src/context/escape-key-manager/hooks.ts
  apps/dashboard/src/context/escape-key-manager/priority.ts
  apps/dashboard/src/routes/root.tsx
  apps/dashboard/src/utils/liquid.ts
  apps/dashboard/src/utils/parseStepVariables.ts
Labels: @novu/dashboard

#8120 fix(dashboard): Center align input leading and trailing nodes
  apps/dashboard/src/components/primitives/input.tsx
Labels: @novu/dashboard

#8127 feat(dashboard): Tweak workflow row icons
  apps/dashboard/src/components/workflow-row.tsx
Labels: @novu/dashboard

#8095 refactor(api): count by retention
  apps/api/src/app/inbox/usecases/notifications-count/notifications-count.spec.ts
  apps/api/src/app/inbox/usecases/notifications-count/notifications-count.usecase.ts
  apps/worker/src/app/workflow/usecases/message-matcher/message-matcher.usecase.ts
  libs/application-generic/src/usecases/conditions-filter/conditions-filter.usecase.ts
  libs/dal/src/repositories/message/message.repository.ts
  libs/dal/src/repositories/message/message.schema.ts
Labels: @novu/dal, @novu/worker, @novu/api-service

#8135 fix(api-service): link step id to target environment
  apps/api/src/app/workflows-v2/usecases/sync-to-environment/sync-to-environment.usecase.ts
  apps/api/src/app/workflows-v2/usecases/upsert-workflow/upsert-workflow.command.ts
  apps/api/src/app/workflows-v2/usecases/upsert-workflow/upsert-workflow.usecase.ts
  packages/shared/src/dto/workflows/step.dto.ts
Labels: @novu/shared, @novu/api-service

#8111 fix(application-generic): logging levels
  .github/workflows/on-pr.yml
  .idea/runConfigurations/WORKER___TEST.xml
  apps/api/src/.env.development
  apps/api/src/.env.production
  apps/api/src/.env.test
  apps/api/src/.example.env
  apps/inbound-mail/.example.env
  apps/inbound-mail/src/.env.development
  apps/inbound-mail/src/.env.production
  apps/inbound-mail/src/.env.test
  apps/webhook/src/.env.development
  apps/webhook/src/.env.production
  apps/webhook/src/.env.test
  apps/webhook/src/.example.env
  apps/worker/src/.env.test
  apps/ws/src/.env.development
  apps/ws/src/.env.production
  apps/ws/src/.env.test
  apps/ws/src/.example.env
  libs/application-generic/package.json
  libs/application-generic/src/logging/LogDecorator.ts
  libs/application-generic/src/logging/index.ts
  libs/application-generic/src/logging/masking.ts
  libs/application-generic/src/usecases/create-workflow/create-workflow.usecase.ts
  pnpm-lock.yaml
Labels: CI/CD

#8136 feat(dashboard): repeat/digest can't be nested inside another repeat
  apps/dashboard/package.json
  apps/dashboard/src/components/workflow-editor/steps/email/maily-config.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/maily.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/variables/variables.ts
  pnpm-lock.yaml
Labels: @novu/dashboard

#8128 refactor(api-service): logger to pinologger
  apps/api/migrations/encrypt-api-keys/encrypt-api-keys-migration.ts
  apps/api/migrations/encrypt-credentials/encrypt-credentials-migration.ts
  apps/api/migrations/secure-to-boolean/secure-to-boolean-migration.ts
  apps/api/src/app.module.ts
  apps/api/src/app/analytics/usecases/hubspot-identify-form/hubspot-identify-form.usecase.ts
  apps/api/src/app/auth/auth.controller.ts
  apps/api/src/app/auth/framework/community.user.auth.guard.ts
  apps/api/src/app/billing/e2e/create-usage-records.e2e-ee.ts
  apps/api/src/app/billing/e2e/verify-customer.e2e-ee.ts
  apps/api/src/app/blueprint/usecases/get-grouped-blueprints/get-grouped-blueprints.usecase.ts
  apps/api/src/app/bridge/usecases/get-bridge-status/get-bridge-status.usecase.ts
  apps/api/src/app/change/change.module.ts
  apps/api/src/app/change/usecases/get-changes/get-changes.usecase.ts
  apps/api/src/app/change/usecases/promote-change-to-environment/promote-change-to-environment.usecase.ts
  apps/api/src/app/change/usecases/promote-notification-template-change/promote-notification-template-change.usecase.ts
  apps/api/src/app/change/usecases/promote-translation-change/promote-translation-change.usecase.ts
  apps/api/src/app/change/usecases/promote-translation-group-change/promote-translation-group-change.usecase.ts
  apps/api/src/app/content-templates/content-templates.controller.ts
  apps/api/src/app/content-templates/content-templates.module.ts
  apps/api/src/app/environments-v1/usecases/get-my-environments/get-my-environments.usecase.ts
  apps/api/src/app/events/usecases/parse-event-request/parse-event-request.usecase.ts
  apps/api/src/app/inbound-parse/inbound-parse.controller.ts
  apps/api/src/app/integrations/usecases/set-integration-as-primary/set-integration-as-primary.usecase.ts
  apps/api/src/app/integrations/usecases/update-integration/update-integration.usecase.ts
  apps/api/src/app/invites/usecases/accept-invite/accept-invite.usecase.ts
  apps/api/src/app/invites/usecases/bulk-invite/bulk-invite.usecase.ts
  apps/api/src/app/layouts/layouts.controller.ts
  apps/api/src/app/layouts/usecases/set-default-layout/set-default-layout.use-case.ts
  apps/api/src/app/organization/organization.module.ts
  apps/api/src/app/organization/usecases/create-organization/sync-external-organization/sync-external-organization.usecase.ts
  apps/api/src/app/partner-integrations/usecases/process-vercel-webhook/process-vercel-webhook.spec.ts
  apps/api/src/app/partner-integrations/usecases/process-vercel-webhook/process-vercel-webhook.usecase.ts
  apps/api/src/app/partner-integrations/usecases/update-vercel-integration/update-vercel-integration.usecase.ts
  apps/api/src/app/rate-limiting/guards/throttler.guard.ts
  apps/api/src/app/rate-limiting/usecases/evaluate-token-bucket-rate-limit/evaluate-token-bucket-rate-limit.usecase.ts
  apps/api/src/app/rate-limiting/usecases/get-api-rate-limit-maximum/get-api-rate-limit-maximum.usecase.ts
  apps/api/src/app/shared/framework/idempotency.interceptor.ts
  apps/api/src/app/shared/services/logger.service.ts
  apps/api/src/app/subscribers-v2/usecases/patch-subscriber/patch-subscriber.usecase.ts
  apps/api/src/app/subscribers/e2e/mark-all-subscriber-messages.e2e.ts
  apps/api/src/app/topics/use-cases/create-topic/create-topic.use-case.ts
  apps/api/src/app/user/usecases/get-my-profile/get-my-profile.usecase.ts
  apps/api/src/app/user/user.controller.ts
  apps/api/src/app/workflows-v1/usecases/get-workflow-variables/get-workflow-variables.usecase.ts
  apps/api/src/app/workflows-v2/usecases/get-workflow/get-workflow.usecase.ts
  apps/api/src/app/workflows-v2/workflow.controller.ts
  apps/api/src/bootstrap.ts
  apps/worker/src/instrument.ts
  eslint.config.mjs
  libs/application-generic/src/services/cache/interceptors/cached-response.decorator.spec.ts
  libs/application-generic/src/services/cache/interceptors/cached-response.decorator.ts
  libs/application-generic/src/services/cache/interceptors/index.ts
  libs/application-generic/src/usecases/conditions-filter/conditions-filter.usecase.ts
  libs/application-generic/src/usecases/execute-bridge-request/execute-bridge-request.usecase.ts
  libs/application-generic/src/usecases/get-subscriber-template-preference/get-subscriber-template-preference.usecase.ts
  libs/application-generic/src/usecases/normalize-variables/normalize-variables.usecase.ts
  libs/application-generic/src/usecases/update-subscriber/update-subscriber.usecase.ts
Labels: @novu/worker, @novu/api-service

#8139 fix(api): yield on preferences
  apps/api/src/app/events/e2e/trigger-event.e2e.ts
  apps/api/src/app/subscribers/e2e/mark-all-subscriber-messages.e2e.ts
  apps/api/src/app/subscribers/e2e/mark-as-by-mark.e2e.ts
  apps/api/src/app/subscribers/usecases/get-subscriber-preference/get-subscriber-preference.usecase.ts
  apps/api/src/app/widgets/e2e/mark-as-by-mark.e2e.ts
Labels: @novu/api-service

#8146 fix(dashboard): regression variable plugin
  apps/dashboard/src/components/primitives/control-input/variable-plugin/plugin-view.ts
  apps/dashboard/src/utils/liquid.ts
Labels: @novu/dashboard

#8137 feat(dashboard): Nv 5674 dashboard cards
  .cspell.json
  apps/dashboard/package.json
  apps/dashboard/public/images/email-editor/check-icon.svg
  apps/dashboard/public/images/email-editor/horizontal-card-with-image-preview.webp
  apps/dashboard/public/images/email-editor/information-card-with-logo-preview.webp
  apps/dashboard/public/images/email-editor/paragraph-with-image-preview.webp
  apps/dashboard/src/components/icons/cards-blocks.tsx
  apps/dashboard/src/components/icons/horizontal-card-with-image.tsx
  apps/dashboard/src/components/icons/information-card-with-logo.tsx
  apps/dashboard/src/components/icons/paragraph-with-image.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/blocks/block-custom-preview.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/blocks/cards.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/maily-config.tsx
  apps/dashboard/src/utils/telemetry.ts
  pnpm-lock.yaml
Labels: @novu/dashboard

#8154 fix(dashboard): prevent negative out of bounds position
  apps/dashboard/src/components/workflow-editor/steps/email/variables/variables.ts
Labels: @novu/dashboard

#8158 fix(dashboard): replace error icon with new warning icon and adjust styles
  apps/dashboard/public/images/error-circle-outline.svg
  apps/dashboard/public/images/error-warning-line.svg
  apps/dashboard/src/components/primitives/control-input/variable-plugin/variable-pill-widget.ts
Labels: @novu/dashboard

#8164 feat(dashboard): add tooltips on row types
  apps/dashboard/src/components/workflow-row.tsx
Labels: @novu/dashboard

#8150 fix(api-service, worker, ws, webhook): update ENTRYPOINT to use pm2-runtime with max instances
  apps/api/Dockerfile
  apps/webhook/Dockerfile
  apps/worker/Dockerfile
  apps/ws/Dockerfile
Labels: @novu/webhook, @novu/ws, @novu/worker, @novu/api-service

#8165 feat(providers): afro sms
  apps/dashboard/public/images/providers/light/square/afro-sms.svg
  libs/application-generic/src/factories/sms/handlers/afro-sms.handler.ts
  libs/application-generic/src/factories/sms/handlers/index.ts
  libs/application-generic/src/factories/sms/sms.factory.ts
  packages/framework/src/schemas/providers/sms/index.ts
  packages/framework/src/shared.ts
  packages/providers/src/lib/sms/afro-sms/afro-sms.provider.ts
  packages/providers/src/lib/sms/index.ts
  packages/shared/src/consts/providers/channels/sms.ts
  packages/shared/src/consts/providers/credentials/provider-credentials.ts
  packages/shared/src/types/providers.ts
Labels: @novu/shared, @novu/dashboard

#8157 fix(ws): docker image file and other ide settings
  .github/workflows/dev-deploy-worker.yml
  .idea/novu.iml
  .vscode/launch.json
  .vscode/tasks.json
  apps/ws/Dockerfile
Labels: @novu/ws, CI/CD

#8160 fix(dashboard): digest bug bashing fixes
  apps/dashboard/src/components/conditions-editor/variable-select.tsx
  apps/dashboard/src/components/primitives/control-input/variable-plugin/variable-pill-widget.ts
  apps/dashboard/src/components/variable/components/reorder-filter-item.tsx
  apps/dashboard/src/components/variable/components/variable-icon.tsx
  apps/dashboard/src/components/variable/utils.ts
  apps/dashboard/src/components/variable/variable-pill.tsx
  apps/dashboard/src/components/variable/variable-tooltip.tsx
  libs/application-generic/src/factories/sms/handlers/afro-sms.handler.ts
  libs/application-generic/src/factories/sms/sms.factory.ts
Labels: @novu/dashboard

#8163 fix(api-service): upgrade maily/render package to fix the full width button rendering
  apps/api/package.json
  libs/application-generic/package.json
  pnpm-lock.yaml
Labels: @novu/api-service

#8162 feat(dashboard): only show toSentence error for sentenceSummary variable
  apps/dashboard/src/components/primitives/control-input/control-input.tsx
  apps/dashboard/src/components/primitives/control-input/variable-plugin/index.ts
  apps/dashboard/src/components/primitives/control-input/variable-plugin/plugin-view.ts
  apps/dashboard/src/components/primitives/control-input/variable-plugin/types.ts
  apps/dashboard/src/components/primitives/control-input/variable-plugin/variable-pill-widget.ts
  apps/dashboard/src/components/variable/utils.ts
  apps/dashboard/src/components/variable/variable-pill.tsx
  apps/dashboard/src/components/variable/variable-tooltip.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/views/variable-view.tsx
Labels: @novu/dashboard

#8134 feat(dashboard): Step conditions autosave
  apps/dashboard/src/components/conditions-editor/add-condition-action.tsx
  apps/dashboard/src/components/conditions-editor/add-group-action.tsx
  apps/dashboard/src/components/conditions-editor/combinator-selector.tsx
  apps/dashboard/src/components/conditions-editor/conditions-editor.tsx
  apps/dashboard/src/components/conditions-editor/field-selector.tsx
  apps/dashboard/src/components/conditions-editor/operator-selector.tsx
  apps/dashboard/src/components/conditions-editor/rule-actions.tsx
  apps/dashboard/src/components/workflow-editor/nodes.tsx
  apps/dashboard/src/components/workflow-editor/step-default-values.ts
  apps/dashboard/src/components/workflow-editor/steps/conditions/edit-step-conditions-form.tsx
  apps/dashboard/src/components/workflow-editor/steps/conditions/edit-step-conditions-layout.tsx
  apps/dashboard/src/components/workflow-editor/steps/in-app/in-app-tabs.tsx
Labels: @novu/dashboard

#8169 feat(dashboard): track selection of digest variables in autocomplete
  apps/dashboard/src/components/primitives/control-input/control-input.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/views/maily-variables-list-view.tsx
  apps/dashboard/src/utils/liquid-autocomplete.ts
  apps/dashboard/src/utils/telemetry.ts
Labels: @novu/dashboard

#8176 fix(dashboard): Tiny crate with fixes
  apps/dashboard/src/components/activity/activity-logs.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/blocks/digest.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/maily-config.tsx
Labels: @novu/dashboard

#8126 feat(root): new deployment and rollback action
  .github/workflows/deploy.yml
  .github/workflows/rollback.yml
  apps/api/Dockerfile
  apps/worker/Dockerfile
  apps/ws/Dockerfile
Labels: @novu/ws, @novu/worker, CI/CD, @novu/api-service

#8180 fix(root): update release version to use Git SHA
  .github/workflows/deploy.yml
Labels: CI/CD

#8182 fix(api): Add created_at to the Workflow DTO allowed values
  .idea/runConfigurations/_template__of_Mocha.xml
  apps/api/src/app/workflows-v2/dtos/get-list-query-params.ts
  libs/internal-sdk/.gitignore
  libs/internal-sdk/src/lib/config.ts
  libs/internal-sdk/src/models/components/providersidenum.ts
  libs/internal-sdk/src/models/components/workflowresponsedtosortfield.ts
Labels: @novu/api-service

#8184 feat(root): Trigger Staging Deployment on every push.
  .github/workflows/on-push-trigger.yml
Labels: CI/CD

#8173 feat(api-service): log unhandled rejection
  apps/api/src/bootstrap.ts
  apps/worker/src/bootstrap.ts
Labels: @novu/worker, @novu/api-service

#8178 feat(api-service,framework): validate liquidjs filter args for the variables
  apps/api/src/app/workflows-v2/usecases/build-step-issues/build-step-issues.usecase.ts
  apps/api/src/app/workflows-v2/util/build-variables.ts
  apps/api/src/app/workflows-v2/util/template-parser/liquid-parser.spec.ts
  apps/api/src/app/workflows-v2/util/template-parser/liquid-parser.ts
  apps/dashboard/src/components/primitives/tabs.tsx
  apps/dashboard/src/components/workflow-editor/steps/chat/chat-tabs.tsx
  apps/dashboard/src/components/workflow-editor/steps/configure-step-template-form.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/email-tabs.tsx
  apps/dashboard/src/components/workflow-editor/steps/in-app/in-app-tabs.tsx
  apps/dashboard/src/components/workflow-editor/steps/other-steps-tabs.tsx
  apps/dashboard/src/components/workflow-editor/steps/push/push-tabs.tsx
  apps/dashboard/src/components/workflow-editor/steps/sms/sms-tabs.tsx
  apps/dashboard/src/components/workflow-editor/steps/template-tabs.tsx
  packages/framework/src/filters/index.ts
  packages/framework/src/filters/to-sentence.ts
  packages/framework/src/filters/types.ts
  packages/framework/src/filters/validators.ts
  packages/shared/src/dto/workflows/step-content-issue.enum.ts
Labels: @novu/shared, @novu/dashboard, @novu/api-service

#8190 feat(providers): replace afro-sms.svg with afro-message.svg and update handler to include senderName
  apps/dashboard/public/images/providers/light/square/afro-message.svg
  apps/dashboard/public/images/providers/light/square/afro-sms.svg
  libs/application-generic/src/factories/sms/handlers/afro-sms.handler.ts
  packages/providers/src/lib/sms/afro-sms/afro-sms.provider.ts
  packages/shared/src/consts/providers/credentials/provider-credentials.ts
Labels: @novu/shared, @novu/dashboard

#8187 chore(dashboard): Import CJS Novu SDK
  apps/dashboard/src/api/api.client.ts
  apps/dashboard/src/main.tsx
  apps/dashboard/src/pages/error-page.tsx
  apps/dashboard/src/pages/index.ts
  apps/dashboard/vite.config.ts
Labels: @novu/dashboard

#8186 refactor(root): convert logger to singleton and app context
  apps/api/migrations/encrypt-api-keys/encrypt-api-keys-migration.ts
  apps/api/migrations/encrypt-credentials/encrypt-credentials-migration.ts
  apps/api/migrations/secure-to-boolean/secure-to-boolean-migration.ts
  apps/api/src/app/blueprint/e2e/get-grouped-blueprints.e2e.ts
  apps/api/src/app/change/change.module.ts
  apps/api/src/app/content-templates/content-templates.module.ts
  apps/api/src/app/organization/organization.module.ts
  apps/api/src/app/shared/services/logger.service.ts
  apps/api/src/bootstrap.ts
  libs/application-generic/src/logging/index.ts
Labels: @novu/api-service

#8189 feat(api-service): Nv 5777 incorrect preview payload structure fix
  apps/api/src/app/workflows-v2/usecases/create-variables-object/create-variables-object.usecase.ts
  apps/api/src/app/workflows-v2/util/build-variables.ts
  apps/api/src/app/workflows-v2/util/template-parser/liquid-parser.ts
  apps/api/src/app/workflows-v2/util/template-parser/parser-utils.ts
  apps/api/src/app/workflows-v2/util/utils.ts
Labels: @novu/api-service

#8194 chore(dashboard,api-service): revert blocking the preview when template has issues
  apps/api/src/app/workflows-v2/usecases/preview/preview.usecase.ts
  apps/dashboard/src/components/workflow-editor/steps/chat/chat-tabs.tsx
  apps/dashboard/src/components/workflow-editor/steps/configure-step-template-form.tsx
  apps/dashboard/src/components/workflow-editor/steps/configure-step-template-issue-cta.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/email-tabs.tsx
  apps/dashboard/src/components/workflow-editor/steps/in-app/in-app-tabs.tsx
  apps/dashboard/src/components/workflow-editor/steps/other-steps-tabs.tsx
  apps/dashboard/src/components/workflow-editor/steps/push/push-tabs.tsx
  apps/dashboard/src/components/workflow-editor/steps/sms/sms-tabs.tsx
  apps/dashboard/src/components/workflow-editor/steps/template-tabs.tsx
Labels: @novu/dashboard, @novu/api-service

#8192 chore(dashboard): digest and cards blocks in email editor have a new badge
  apps/dashboard/src/components/workflow-editor/steps/email/blocks/cards.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/blocks/digest.tsx
Labels: @novu/dashboard

#8196 chore(dashboard): fix control input pill increasing height
  apps/dashboard/src/components/primitives/control-input/control-input.tsx
  apps/dashboard/src/components/primitives/control-input/variable-plugin/variable-pill-widget.ts
  apps/dashboard/src/components/primitives/editor.tsx
  apps/dashboard/src/components/variable/variable-pill.tsx
Labels: @novu/dashboard

#8198 fix(api-service): fix the preview when using the subscriber variables
  apps/api/src/app/bridge/usecases/preview-step/preview-step.usecase.ts
Labels: @novu/api-service

#8197 fix(api-service): build
  apps/api/src/app/blueprint/e2e/get-grouped-blueprints.e2e.ts
Labels: @novu/api-service

#8201 fix(api-service): replace maily invalid variables with empty string
  apps/api/src/app/environments-v1/novu-bridge.module.ts
  apps/api/src/app/environments-v1/usecases/output-renderers/email-output-renderer.spec.ts
  apps/api/src/app/environments-v1/usecases/output-renderers/email-output-renderer.usecase.ts
  apps/api/src/app/environments-v1/usecases/output-renderers/maily-to-liquid/maily-utils.ts
  apps/api/src/app/environments-v1/usecases/output-renderers/maily-to-liquid/wrap-maily-in-liquid.command.ts
  apps/api/src/app/environments-v1/usecases/output-renderers/maily-to-liquid/wrap-maily-in-liquid.usecase.ts
  apps/api/src/app/shared/helpers/maily-utils.ts
  apps/api/src/app/shared/helpers/maily.types.ts
  apps/api/src/app/workflows-v2/usecases/create-variables-object/create-variables-object.usecase.ts
  apps/api/src/app/workflows-v2/usecases/preview/preview.usecase.ts
  apps/api/src/app/workflows-v2/util/build-variables.ts
Labels: @novu/api-service

#8195 fix(dashboard): fixed the tooltip position for repeat block
  apps/dashboard/package.json
  apps/dashboard/src/components/workflow-editor/steps/email/views/for-view.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/views/repeat-menu-description.tsx
  pnpm-lock.yaml
Labels: @novu/dashboard

#8203 fix(api-service): update merge logic to prioritize FE payload and handle stale data in the preview
  apps/api/src/app/workflows-v2/usecases/preview/preview.usecase.ts
  apps/api/src/app/workflows-v2/util/utils.ts
Labels: @novu/api-service

#8207 fix(dashboard): Group Step CTAs together
  apps/dashboard/src/components/workflow-editor/steps/configure-step-form.tsx
  apps/dashboard/src/components/workflow-editor/steps/skip-conditions-button.tsx
Labels: @novu/dashboard

#8219 fix(dashboard): add payload in redirect url placeholder value
  apps/dashboard/src/components/workflow-editor/steps/in-app/in-app-redirect.tsx
Labels: @novu/dashboard

#8183 refactor(dashboard): remove HubSpot form component and styles, integrate Cal.com for sales contact
  .cspell.json
  apps/dashboard/package.json
  apps/dashboard/src/components/billing/contact-sales-button.tsx
  apps/dashboard/src/components/billing/contact-sales-modal.tsx
  apps/dashboard/src/components/hubspot-form.module.css
  apps/dashboard/src/components/hubspot-form.tsx
  pnpm-lock.yaml
Labels: @novu/dashboard

#8210 fix(dashboard): digest block default preview
  apps/api/src/app/workflows-v2/e2e/generate-preview.e2e.ts
  apps/api/src/app/workflows-v2/maily-test-data.ts
  apps/api/src/app/workflows-v2/usecases/create-variables-object/create-variables-object.usecase.ts
  apps/dashboard/src/components/conditions-editor/variable-select.tsx
  apps/dashboard/src/components/variable/components/reorder-filter-item.tsx
  apps/dashboard/src/components/variable/constants.ts
  apps/dashboard/src/components/workflow-editor/steps/email/blocks/digest.tsx
Labels: @novu/dashboard, @novu/api-service

#8214 feat(dashboard,api): snooze indicator & tier and system limits
  apps/api/src/app/inbox/dtos/subscriber-session-response.dto.ts
  apps/api/src/app/inbox/usecases/session/session.spec.ts
  apps/api/src/app/inbox/usecases/session/session.usecase.ts
  apps/api/src/app/inbox/usecases/snooze-notification/snooze-notification.usecase.ts
  apps/api/src/app/inbox/usecases/unsnooze-notification/unsnooze-notification.usecase.ts
  apps/dashboard/src/components/billing/plan.tsx
  apps/dashboard/src/components/integrations/components/integration-card.tsx
  apps/dashboard/src/components/integrations/components/integration-general-settings.tsx
  apps/web/src/ee/billing/components/Features.tsx
  packages/shared/src/consts/feature-tiers-constants.ts
Labels: @novu/web, @novu/shared, @novu/dashboard, @novu/api-service

#8199 feat(api,worker): in-app snooze functionality
  .cspell.json
  apps/api/src/app/inbox/dtos/get-notifications-count-request.dto.ts
  apps/api/src/app/inbox/dtos/get-notifications-request.dto.ts
  apps/api/src/app/inbox/dtos/snooze-notification-request.dto.ts
  apps/api/src/app/inbox/dtos/subscriber-session-response.dto.ts
  apps/api/src/app/inbox/inbox.controller.ts
  apps/api/src/app/inbox/inbox.module.ts
  apps/api/src/app/inbox/usecases/get-notifications/get-notifications.command.ts
  apps/api/src/app/inbox/usecases/get-notifications/get-notifications.spec.ts
  apps/api/src/app/inbox/usecases/get-notifications/get-notifications.usecase.ts
  apps/api/src/app/inbox/usecases/index.ts
  apps/api/src/app/inbox/usecases/mark-many-notifications-as/mark-many-notifications-as.command.ts
  apps/api/src/app/inbox/usecases/mark-many-notifications-as/mark-many-notifications-as.spec.ts
  apps/api/src/app/inbox/usecases/mark-many-notifications-as/mark-many-notifications-as.usecase.ts
  apps/api/src/app/inbox/usecases/mark-notification-as/mark-notification-as.command.ts
  apps/api/src/app/inbox/usecases/mark-notification-as/mark-notification-as.spec.ts
  apps/api/src/app/inbox/usecases/mark-notification-as/mark-notification-as.usecase.ts
  apps/api/src/app/inbox/usecases/notifications-count/notifications-count.command.ts
  apps/api/src/app/inbox/usecases/session/session.spec.ts
  apps/api/src/app/inbox/usecases/session/session.usecase.ts
  apps/api/src/app/inbox/usecases/snooze-notification/snooze-notification.command.ts
  apps/api/src/app/inbox/usecases/snooze-notification/snooze-notification.usecase.ts
  apps/api/src/app/inbox/usecases/unsnooze-notification/unsnooze-notification.command.ts
  apps/api/src/app/inbox/usecases/unsnooze-notification/unsnooze-notification.usecase.ts
  apps/api/src/app/inbox/utils/notification-mapper.ts
  apps/api/src/app/inbox/utils/types.ts
  apps/api/src/app/shared/shared.module.ts
  apps/api/src/app/widgets/dtos/message-response.dto.ts
  apps/api/src/app/widgets/usecases/mark-message-as-by-mark/mark-message-as-by-mark.usecase.ts
  apps/dashboard/src/components/billing/plan.tsx
  apps/dashboard/src/components/integrations/components/integration-card.tsx
  apps/dashboard/src/components/integrations/components/integration-general-settings.tsx
  apps/web/src/ee/billing/components/Features.tsx
  apps/worker/src/app/workflow/usecases/index.ts
  apps/worker/src/app/workflow/usecases/process-unsnooze-job/index.ts
  apps/worker/src/app/workflow/usecases/process-unsnooze-job/process-unsnooze-job.command.ts
  apps/worker/src/app/workflow/usecases/process-unsnooze-job/process-unsnooze-job.usecase.ts
  apps/worker/src/app/workflow/usecases/run-job/run-job.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-in-app.usecase.ts
  apps/worker/src/app/workflow/workflow.module.ts
  libs/application-generic/src/usecases/create-execution-details/types/index.ts
  libs/dal/src/repositories/base-repository.ts
  libs/dal/src/repositories/message/message.entity.ts
  libs/dal/src/repositories/message/message.repository.ts
  libs/dal/src/repositories/message/message.schema.ts
  packages/shared/src/consts/feature-tiers-constants.ts
  packages/shared/src/types/feature-flags.ts
Labels: @novu/web, @novu/dal, @novu/shared, @novu/worker, @novu/dashboard, @novu/api-service

#8142 feat(react): upsert firstName, lastName, and email on session init
  apps/api/src/app/inbox/dtos/subscriber-session-request.dto.ts
  apps/api/src/app/inbox/e2e/session.e2e.ts
  apps/api/src/app/inbox/inbox.controller.ts
  apps/api/src/app/inbox/usecases/session/session.command.ts
  apps/api/src/app/inbox/usecases/session/session.spec.ts
  apps/api/src/app/inbox/usecases/session/session.usecase.ts
  apps/api/src/app/inbox/utils/encryption.ts
  apps/api/src/app/shared/helpers/is-valid-hmac.ts
  apps/api/src/app/widgets/usecases/initialize-session/initialize-session.usecase.ts
  libs/application-generic/src/commands/base.command.ts
  libs/application-generic/src/usecases/create-or-update-subscriber/create-or-update-subscriber.command.ts
  libs/application-generic/src/usecases/create-or-update-subscriber/create-or-update-subscriber.usecase.ts
  packages/js/README.md
  packages/js/src/api/inbox-service.ts
  packages/js/src/base-module.test.ts
  packages/js/src/index.ts
  packages/js/src/novu.test.ts
  packages/js/src/novu.ts
  packages/js/src/session/session.ts
  packages/js/src/session/types.ts
  packages/js/src/types.ts
  packages/js/src/ui/components/Renderer.tsx
  packages/js/src/ws/socket.ts
  packages/react/README.md
  packages/react/src/components/Inbox.tsx
  packages/react/src/hooks/NovuProvider.tsx
  packages/react/src/utils/types.ts
Labels: @novu/api-service

#8209 fix(dashboard): Hide issues on step first render
  apps/dashboard/src/components/workflow-editor/edges.tsx
  apps/dashboard/src/components/workflow-editor/nodes.tsx
  apps/dashboard/src/components/workflow-editor/steps/configure-step-form.tsx
  apps/dashboard/src/components/workflow-editor/steps/configure-step-template-form.tsx
  apps/dashboard/src/hooks/use-update-workflow.ts
Labels: @novu/dashboard

#8225 fix(api-service,dashboard): allow using the current variable in the repeat button
  apps/api/src/app/environments-v1/usecases/output-renderers/email-output-renderer.usecase.ts
  apps/api/src/app/shared/helpers/maily-utils.ts
  apps/api/src/app/shared/helpers/maily.types.ts
  apps/api/src/app/workflows-v2/e2e/generate-preview.e2e.ts
  apps/dashboard/package.json
  apps/dashboard/src/components/variable/variable-pill.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/maily-config.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/variables/variables.ts
  pnpm-lock.yaml
Labels: @novu/dashboard, @novu/api-service

#8233 fix(dashboard): email editor and preview disable clicking on links
  apps/dashboard/src/components/workflow-editor/steps/email/email-preview.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/maily.tsx
Labels: @novu/dashboard
