Repository novuhq/novu, pull requests merged in 2025-02, with the labels that each got.

#7648 fix(dashboard): Fix inbox playground subject input crop
  apps/dashboard/src/components/auth/customize-inbox-playground.tsx
Labels: @novu/dashboard

#7647 feat(dashboard): add dropdown support
  apps/dashboard/src/components/integrations/components/integration-credentials.tsx
  libs/dal/src/repositories/integration/integration.schema.ts
Labels: @novu/dal, @novu/dashboard

#7439 feat(dashboard): Digest liquid helper and popover handler
  apps/api/src/app/workflows-v2/util/template-parser/liquid-parser.ts
  apps/api/src/app/workflows-v2/util/utils.ts
  apps/dashboard/src/components/primitives/control-input/variable-popover/constants.ts
  apps/dashboard/src/components/primitives/control-input/variable-popover/hooks/use-suggested-filters.ts
  apps/dashboard/src/components/primitives/control-input/variable-popover/variable-popover.tsx
  packages/framework/src/client.ts
  packages/framework/src/filters/digest.ts
Labels: @novu/dashboard, @novu/api-service

#7641 chore(api-service): remove unused global SubscriberRouteGuard
  apps/api/src/app/auth/framework/subscriber-route.decorator.ts
  apps/api/src/app/auth/framework/subscriber-route.guard.ts
  apps/api/src/bootstrap.ts
Labels: @novu/api-service

#7646 fix(api): duplicated subscribers created due to race condition
  .idea/prettier.xml
  apps/api/src/app/events/e2e/trigger-event.e2e.ts
  apps/api/src/app/events/usecases/parse-event-request/parse-event-request.usecase.ts
  apps/api/src/app/inbox/usecases/session/session.spec.ts
  apps/api/src/app/inbox/usecases/session/session.usecase.ts
  apps/api/src/app/subscribers/subscribersV1.controller.ts
  apps/api/src/app/subscribers/usecases/chat-oauth-callback/chat-oauth-callback.usecase.ts
  apps/api/src/app/subscribers/usecases/index.ts
  apps/api/src/app/widgets/usecases/initialize-session/initialize-session.usecase.ts
  apps/worker/src/app/shared/shared.module.ts
  apps/worker/src/app/workflow/usecases/add-job/merge-or-create-digest.usecase.ts
  apps/worker/src/app/workflow/usecases/subscriber-job-bound/subscriber-job-bound.usecase.ts
  libs/application-generic/src/services/cache/cache.service.ts
  libs/application-generic/src/services/cache/key-builders/entities.ts
  libs/application-generic/src/services/cache/key-builders/identifiers.ts
  libs/application-generic/src/usecases/create-or-update-subscriber/create-or-update-subscriber.command.ts
  libs/application-generic/src/usecases/create-or-update-subscriber/create-or-update-subscriber.spec.ts
  libs/application-generic/src/usecases/create-or-update-subscriber/create-or-update-subscriber.usecase.ts
  libs/application-generic/src/usecases/create-or-update-subscriber/index.ts
  libs/application-generic/src/usecases/create-subscriber/create-subscriber.usecase.ts
  libs/application-generic/src/usecases/create-subscriber/index.ts
  libs/application-generic/src/usecases/index.ts
  libs/application-generic/src/usecases/process-subscriber/index.ts
  libs/application-generic/src/usecases/process-subscriber/process-subscriber.command.ts
  libs/application-generic/src/usecases/process-subscriber/process-subscriber.usecase.ts
  libs/application-generic/src/usecases/trigger-event/trigger-event.usecase.ts
Labels: @novu/worker, @novu/api-service

#7653 fix(js): Await read action in Inbox
  .github/workflows/preview-packages.yml
  .gitpod.dockerfile
  apps/api/Dockerfile
  apps/inbound-mail/Dockerfile
  apps/web/Dockerfile
  apps/widget/Dockerfile
  apps/worker/Dockerfile
  apps/ws/Dockerfile
  docker/Dockerfile.base
  libs/embed/Dockerfile
  package.json
  packages/js/src/ui/components/Notification/DefaultNotification.tsx
  pnpm-lock.yaml
Labels: @novu/web, @novu/ws, @novu/worker, CI/CD, @novu/inbound-mail, docker, @novu/api-service

#7633 fix(web): local studio add workflow broken link
  apps/web/src/components/docs/docs.const.ts
Labels: @novu/web

#7604 feat(dashboard): fix on hover regression
  apps/dashboard/src/components/time-display-hover-card.tsx
  apps/dashboard/src/components/workflow-list.tsx
Labels: @novu/dashboard

#7649 fix(worker): remove payload email override
  apps/api/src/app/events/e2e/trigger-event.e2e.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-email.usecase.ts
  libs/application-generic/src/usecases/trigger-multicast/trigger-multicast.usecase.ts
Labels: @novu/worker, @novu/api-service

#7625 feat(dashboard): email editor variable suggestions dropdown, pill, editing
  .cspell.json
  apps/dashboard/package.json
  apps/dashboard/src/components/conditions-editor/variable-select.tsx
  apps/dashboard/src/components/primitives/control-input/control-input.tsx
  apps/dashboard/src/components/primitives/control-input/variable-plugin/index.ts
  apps/dashboard/src/components/primitives/control-input/variable-plugin/plugin-view.ts
  apps/dashboard/src/components/primitives/control-input/variable-plugin/variable-pill-widget.ts
  apps/dashboard/src/components/primitives/control-input/variable-plugin/variable-theme.ts
  apps/dashboard/src/components/primitives/control-input/variable-popover/index.ts
  apps/dashboard/src/components/primitives/editor.tsx
  apps/dashboard/src/components/variable/components/filter-item.tsx
  apps/dashboard/src/components/variable/components/filter-preview.tsx
  apps/dashboard/src/components/variable/components/reorder-filter-item.tsx
  apps/dashboard/src/components/variable/components/reorder-filters-group.tsx
  apps/dashboard/src/components/variable/constants.ts
  apps/dashboard/src/components/variable/edit-variable-popover-content.tsx
  apps/dashboard/src/components/variable/edit-variable-popover.tsx
  apps/dashboard/src/components/variable/hooks/use-filter-manager.ts
  apps/dashboard/src/components/variable/hooks/use-suggested-filters.ts
  apps/dashboard/src/components/variable/hooks/use-variable-parser.ts
  apps/dashboard/src/components/variable/types.ts
  apps/dashboard/src/components/variable/utils.ts
  apps/dashboard/src/components/variable/utils/process-filters.ts
  apps/dashboard/src/components/variable/variable-list.tsx
  apps/dashboard/src/components/variable/variable-pill.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/extensions/maily-variables-list.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/extensions/variable-view.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/maily-config.ts
  apps/dashboard/src/components/workflow-editor/steps/email/maily.tsx
  apps/dashboard/src/components/workflow-editor/steps/step-drawer.tsx
  apps/dashboard/src/utils/liquid-autocomplete.ts
  pnpm-lock.yaml
Labels: @novu/dashboard

#7657 fix(root): update Docker command in release preparation script
  .github/workflows/prepare-self-hosted-release.yml
  apps/api/src/config/env.validators.ts
Labels: CI/CD, @novu/api-service

#7638 fix(dashboard,api-service): step conditions - disallow arbitrary fields and namespaces
  apps/api/src/app/shared/services/query-parser/query-validator.service.spec.ts
  apps/api/src/app/shared/services/query-parser/query-validator.service.ts
  apps/api/src/app/workflows-v2/usecases/build-step-issues/build-step-issues.usecase.ts
  apps/api/src/app/workflows-v2/util/parse-step-variables.ts
  apps/dashboard/src/components/conditions-editor/conditions-editor.tsx
  apps/dashboard/src/components/conditions-editor/field-selector.tsx
  apps/dashboard/src/components/conditions-editor/variable-select.tsx
  apps/dashboard/src/components/workflow-editor/steps/conditions/edit-step-conditions-form.tsx
Labels: @novu/dashboard, @novu/api-service

#7662 fix(api-service): extend TTL on lock
  apps/api/src/app/widgets/usecases/initialize-session/initialize-session.usecase.ts
  libs/application-generic/src/usecases/create-or-update-subscriber/create-or-update-subscriber.usecase.ts
Labels: @novu/api-service

#7664 feat(api-service): add rate limit category flag to the new subscribers route
  apps/api/src/app/subscribers-v2/subscribers.controller.ts
Labels: @novu/api-service

#7661 feat(dashboard): fix code defined delay copy
  apps/dashboard/src/components/workflow-editor/workflow-canvas.tsx
Labels: @novu/dashboard

#7632 feat(dashboard): Nv 5276 Subscriber UI overview tab
  apps/dashboard/package.json
  apps/dashboard/src/api/subscribers.ts
  apps/dashboard/src/components/primitives/phone-input.tsx
  apps/dashboard/src/components/primitives/tabs.tsx
  apps/dashboard/src/components/subscribers/schema.ts
  apps/dashboard/src/components/subscribers/subscriber-drawer.tsx
  apps/dashboard/src/components/subscribers/subscriber-overview-form.tsx
  apps/dashboard/src/components/subscribers/subscriber-overview-skeleton.tsx
  apps/dashboard/src/components/subscribers/subscriber-row.tsx
  apps/dashboard/src/components/subscribers/subscriber-tabs.tsx
  apps/dashboard/src/components/subscribers/timezone-select.tsx
  apps/dashboard/src/hooks/use-fetch-subscriber.ts
  apps/dashboard/src/hooks/use-patch-subscriber.ts
  apps/dashboard/src/main.tsx
  apps/dashboard/src/pages/edit-subscriber-page.tsx
  apps/dashboard/src/pages/subscribers.tsx
  apps/dashboard/src/utils/format-date.ts
  apps/dashboard/src/utils/query-keys.ts
  apps/dashboard/src/utils/routes.ts
  pnpm-lock.yaml
Labels: @novu/dashboard

#7575 fix(api-service): Fix api e2e deadlock
  apps/api/migrations/expire-at/expire-at-delay.migration.spec.ts
  apps/api/package.json
  apps/api/src/app/events/e2e/bridge-trigger.e2e.ts
  apps/api/src/app/events/e2e/bulk-trigger.e2e.ts
  apps/api/src/app/events/e2e/cancel-event.e2e.ts
  apps/api/src/app/events/e2e/delay-events.e2e.ts
  apps/api/src/app/events/e2e/digest-events.e2e.ts
  apps/api/src/app/events/e2e/process-subscriber.e2e.ts
  apps/api/src/app/events/e2e/scheduled-digest.e2e.ts
  apps/api/src/app/events/e2e/send-message-push.e2e.ts
  apps/api/src/app/events/e2e/trigger-event-topic.e2e.ts
  apps/api/src/app/events/e2e/trigger-event.e2e.ts
  apps/api/src/app/inbox/e2e/get-notifications-count.e2e.ts
  apps/api/src/app/inbox/e2e/get-notifications.e2e.ts
  apps/api/src/app/inbox/e2e/mark-notification-as.e2e.ts
  apps/api/src/app/inbox/e2e/update-all-notifications.e2e.ts
  apps/api/src/app/inbox/e2e/update-notification-action.e2e.ts
  apps/api/src/app/messages/e2e/get-messages.e2e.ts
  apps/api/src/app/messages/e2e/remove-message.e2e.ts
  apps/api/src/app/messages/e2e/remove-messages-by-transactionId.e2e.ts
  apps/api/src/app/notifications/e2e/get-activity-feed.e2e.ts
  apps/api/src/app/notifications/e2e/get-activity-graph-stats.e2e.ts
  apps/api/src/app/notifications/e2e/get-activity-stats.e2e.ts
  apps/api/src/app/subscribers/e2e/get-notifications-feed.e2e.ts
  apps/api/src/app/subscribers/e2e/get-unseen-count.e2e.ts
  apps/api/src/app/subscribers/e2e/mark-all-subscriber-messages.e2e.ts
  apps/api/src/app/subscribers/e2e/mark-as-by-mark.e2e.ts
  apps/api/src/app/widgets/e2e/get-count.e2e.ts
  apps/api/src/app/widgets/e2e/get-notification-feed.e2e.ts
  apps/api/src/app/widgets/e2e/get-unread-count.e2e.ts
  apps/api/src/app/widgets/e2e/get-unseen-count.e2e.ts
  apps/api/src/app/widgets/e2e/mark-all-as-read.e2e.ts
  apps/api/src/app/widgets/e2e/mark-as-by-mark.e2e.ts
  apps/api/src/app/widgets/e2e/mark-as.e2e.ts
  apps/api/src/app/widgets/e2e/remove-all-messages.e2e.ts
  apps/api/src/app/widgets/e2e/remove-messages-bulk.e2e.ts
  apps/web/tests/utils/plugins.ts
  apps/widget/cypress/plugins/index.ts
  apps/worker/src/app/workflow/services/standard.worker.spec.ts
  libs/testing/src/jobs.service.ts
  libs/testing/src/user.session.ts
Labels: @novu/web, @novu/worker, @novu/api-service

#7654 feat(dashboard): subscriber preferences
  apps/api/src/app/subscribers/usecases/get-subscriber-preference/get-subscriber-preference.usecase.ts
  apps/dashboard/src/api/subscribers.ts
  apps/dashboard/src/components/subscribers/preferences/preferences-item.tsx
  apps/dashboard/src/components/subscribers/preferences/preferences-skeleton.tsx
  apps/dashboard/src/components/subscribers/preferences/preferences.tsx
  apps/dashboard/src/components/subscribers/preferences/workflow-preferences.tsx
  apps/dashboard/src/components/subscribers/subscriber-tabs.tsx
  apps/dashboard/src/hooks/use-fetch-subscriber-preferences.ts
  apps/dashboard/src/hooks/use-patch-subscriber-preferences.ts
  apps/dashboard/src/utils/query-keys.ts
Labels: @novu/dashboard, @novu/api-service

#7675 fix(dashboard,js): Fix line breaks being ignored
  apps/dashboard/src/components/workflow-editor/in-app-preview.tsx
  apps/dashboard/src/components/workflow-editor/steps/chat/chat-preview.tsx
  apps/dashboard/src/components/workflow-editor/steps/push/push-preview.tsx
  apps/dashboard/src/components/workflow-editor/steps/sms/sms-phone.tsx
  packages/js/src/ui/components/Notification/DefaultNotification.tsx
  packages/js/src/ui/components/elements/Markdown.tsx
Labels: Inbox, @novu/js, @novu/dashboard

#7670 feat(api-service): add enum values
  packages/shared/src/consts/rate-limiting/apiRateLimits.ts
  packages/shared/src/types/organization.ts
Labels: @novu/shared

#7678 feat(dashboard): Nv 5181 subscriber creation via UI
  apps/api/src/app/subscribers-v2/dtos/create-subscriber.dto.ts
  apps/dashboard/src/api/subscribers.ts
  apps/dashboard/src/components/primitives/form/form.tsx
  apps/dashboard/src/components/primitives/phone-input.tsx
  apps/dashboard/src/components/subscribers/create-subscriber-form.tsx
  apps/dashboard/src/components/subscribers/schema.ts
  apps/dashboard/src/components/subscribers/subscriber-drawer.tsx
  apps/dashboard/src/components/subscribers/subscriber-list.tsx
  apps/dashboard/src/components/subscribers/subscriber-overview-form.tsx
  apps/dashboard/src/hooks/use-create-subscriber.ts
  apps/dashboard/src/main.tsx
  apps/dashboard/src/pages/create-subscriber.tsx
  apps/dashboard/src/utils/routes.ts
Labels: @novu/dashboard, @novu/api-service

#7667 feat(worker): manage halt on step failure
  apps/worker/src/app/shared/utils/index.ts
  apps/worker/src/app/shared/utils/should-halt-on-step-failure.ts
  apps/worker/src/app/workflow/usecases/handle-last-failed-job/handle-last-failed-job.usecase.ts
  apps/worker/src/app/workflow/usecases/run-job/run-job.usecase.ts
Labels: @novu/worker

#7652 fix(dashboard): mobile experience
  apps/api/src/app/support/support.controller.ts
  apps/api/src/config/env.validators.ts
  apps/dashboard/src/components/auth/auth-side-banner.tsx
  apps/dashboard/src/components/auth/mobile-message.tsx
  apps/dashboard/src/pages/questionnaire-page.tsx
  apps/dashboard/src/pages/sign-in.tsx
  apps/dashboard/src/pages/sign-up.tsx
Labels: @novu/dashboard, @novu/api-service

#7677 feat(api-service,dashboard): subscriber activity list and filters
  apps/api/src/app/notifications/dtos/activities-request.dto.ts
  apps/api/src/app/notifications/dtos/activities-response.dto.ts
  apps/api/src/app/notifications/notification.controller.ts
  apps/api/src/app/notifications/usecases/get-activity-feed/get-activity-feed.command.ts
  apps/api/src/app/notifications/usecases/get-activity-feed/get-activity-feed.usecase.ts
  apps/api/src/app/notifications/usecases/get-activity-feed/map-feed-item-to.dto.ts
  apps/dashboard/src/api/activity.ts
  apps/dashboard/src/components/activity/activity-empty-state.tsx
  apps/dashboard/src/components/activity/activity-filters.tsx
  apps/dashboard/src/components/activity/components/status-badge.tsx
  apps/dashboard/src/components/activity/constants.ts
  apps/dashboard/src/components/activity/helpers.ts
  apps/dashboard/src/components/subscribers/subscriber-activity-list.tsx
  apps/dashboard/src/components/subscribers/subscriber-activity.tsx
  apps/dashboard/src/components/subscribers/subscriber-tabs.tsx
  apps/dashboard/src/hooks/use-fetch-activities.ts
  apps/dashboard/src/pages/activity-feed.tsx
  libs/dal/src/repositories/notification/notification.feed.Item.entity.ts
  libs/dal/src/repositories/notification/notification.repository.ts
  packages/shared/src/entities/activity-feed/activity.interface.ts
  packages/shared/src/entities/notification-template/notification-template.interface.ts
Labels: @novu/dal, @novu/shared, @novu/dashboard, @novu/api-service

#7684 feat(dashboard): step conditions analytics
  apps/dashboard/src/components/workflow-editor/steps/conditions/edit-step-conditions-form.tsx
  apps/dashboard/src/hooks/use-conditions-count.ts
  apps/dashboard/src/utils/conditions.ts
  apps/dashboard/src/utils/telemetry.ts
Labels: @novu/dashboard

#7695 fix(api-service): fix e2e 201 issues
  apps/api/src/app/inbox/usecases/session/session.spec.ts
  apps/api/src/app/subscribers-v2/e2e/create-subscriber.e2e.ts
  apps/api/src/app/subscribers-v2/e2e/get-subscriber.e2e.ts
  apps/api/src/app/subscribers-v2/subscribers.controller.ts
  apps/api/src/app/subscribers/dtos/create-subscriber-request.dto.ts
  apps/api/src/app/subscribers/e2e/create-subscriber.e2e.ts
  apps/api/src/app/subscribers/e2e/get-subscriber.e2e.ts
  libs/internal-sdk/package.json
  libs/internal-sdk/src/funcs/notificationsList.ts
  libs/internal-sdk/src/funcs/subscribersCreate.ts
  libs/internal-sdk/src/models/components/activitynotificationtemplateresponsedto.ts
  libs/internal-sdk/src/models/components/createsubscriberrequestdto.ts
  libs/internal-sdk/src/models/components/index.ts
  libs/internal-sdk/src/models/components/subscriberpayloaddto.ts
  libs/internal-sdk/src/models/components/workfloworiginenum.ts
  libs/internal-sdk/src/models/operations/notificationscontrollerlistnotifications.ts
  libs/internal-sdk/src/react-query/notificationsList.ts
Labels: @novu/api-service

#7655 feat(api-service,dashboard): Step integration issues
  .cspell.json
  apps/api/src/app/workflows-v2/usecases/build-step-issues/build-step-issues.usecase.ts
  apps/api/src/app/workflows-v2/workflow.controller.e2e.ts
  apps/dashboard/src/components/workflow-editor/step-utils.ts
  apps/dashboard/src/components/workflow-editor/steps/configure-step-form.tsx
  apps/dashboard/src/components/workflow-editor/steps/configure-step-template-issue-cta.tsx
  apps/dashboard/src/components/workflow-editor/workflow-canvas.tsx
  apps/dashboard/src/utils/titleize.ts
  libs/application-generic/src/usecases/create-workflow/create-workflow.command.ts
  packages/shared/src/dto/workflows/step-content-issue.enum.ts
  packages/shared/src/dto/workflows/step.dto.ts
  packages/shared/src/entities/notification-template/notification-template.interface.ts
Labels: @novu/shared, @novu/dashboard, @novu/api-service

#7703 feat(root): revert blacksmith to gh actions
  .github/workflows/reusable-api-e2e.yml
Labels: CI/CD

#7696 chore(shared): Modernize TS setup
  apps/api/src/app/inbox/usecases/session/session.spec.ts
  apps/widget/src/components/notification-center/NotificationCenterWidget.tsx
  apps/widget/src/config/env.config.ts
  packages/shared/package.json
  packages/shared/src/clients/novu-base-client.ts
  packages/shared/src/config/processEnv.ts
  packages/shared/src/consts/handlebar-helpers/getTemplateVariables.ts
  packages/shared/src/ui/index.ts
  packages/shared/src/ui/utils.ts
  packages/shared/src/utils/env.ts
  packages/shared/src/utils/normalizeEmail.ts
  packages/shared/src/utils/schema/create-mock-object-from-schema.ts
  packages/shared/src/utils/slugify/slugify.spec.ts
  packages/shared/tsconfig.esm.json
  packages/shared/tsconfig.json
Labels: @novu/shared, @novu/api-service

#7676 fix(application-generic): add logs and change retry logic for timeout
  apps/worker/src/app/workflow/usecases/execute-bridge-job/execute-bridge-job.usecase.ts
  libs/application-generic/src/usecases/execute-bridge-request/execute-bridge-request.usecase.ts
Labels: @novu/worker

#7704 feat(dashboard): basic tracking for subscribers functionality
  apps/dashboard/src/components/subscribers/create-subscriber-form.tsx
  apps/dashboard/src/components/subscribers/preferences/preferences.tsx
  apps/dashboard/src/components/subscribers/subscriber-overview-form.tsx
  apps/dashboard/src/utils/telemetry.ts
Labels: @novu/dashboard

#7702 feat(dashboard,shared): subscriber activity details sidebar
  apps/dashboard/src/api/activity.ts
  apps/dashboard/src/components/activity/activity-empty-state.tsx
  apps/dashboard/src/components/activity/activity-error.tsx
  apps/dashboard/src/components/activity/activity-header.tsx
  apps/dashboard/src/components/activity/activity-logs.tsx
  apps/dashboard/src/components/activity/activity-panel.tsx
  apps/dashboard/src/components/activity/activity-skeleton.tsx
  apps/dashboard/src/components/primitives/button-link.tsx
  apps/dashboard/src/components/primitives/sheet.tsx
  apps/dashboard/src/components/subscribers/subscriber-activity-drawer.tsx
  apps/dashboard/src/components/subscribers/subscriber-activity-list.tsx
  apps/dashboard/src/components/subscribers/subscriber-activity.tsx
  apps/dashboard/src/components/workflow-editor/test-workflow/test-workflow-logs-sidebar.tsx
  apps/dashboard/src/hooks/use-fetch-activity.ts
  apps/dashboard/src/hooks/use-pull-activity.ts
  apps/dashboard/src/pages/activity-feed.tsx
  packages/shared/src/entities/activity-feed/activity.interface.ts
Labels: @novu/shared, @novu/dashboard

#7711 fix(api): Integration issue fix
  apps/api/src/app/workflows-v2/usecases/build-step-issues/build-step-issues.usecase.ts
Labels: @novu/api-service

#7709 fix(dashboard): segment group on the backend
  apps/api/src/app/analytics/analytics.controller.ts
  apps/dashboard/src/components/auth/questionnaire-form.tsx
  libs/application-generic/src/services/analytics.service.ts
Labels: @novu/dashboard, @novu/api-service

#7692 feat(root): add no only github action
  .github/workflows/check-only.yml
  .github/workflows/scripts/stop-only.sh
  package.json
Labels: CI/CD

#7691 fix(api-service): remove only on e2e
  .github/workflows/dev-deploy-api.yml
  apps/api/e2e/setup.ts
  apps/api/src/app/billing/e2e/customer-subscription-deleted.e2e-ee.ts
  apps/api/src/app/events/e2e/bridge-trigger.e2e.ts
  apps/api/src/app/events/e2e/digest-events.e2e.ts
  apps/api/src/app/events/e2e/trigger-event.e2e.ts
  apps/worker/src/app/workflow/usecases/run-job/run-job.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message.usecase.ts
  eslint.config.mjs
  libs/application-generic/src/usecases/execute-bridge-request/execute-bridge-request.usecase.ts
  libs/dal/src/repositories/job/job.repository.ts
  libs/testing/src/jobs.service.ts
Labels: @novu/dal, @novu/worker, CI/CD, @novu/api-service

#7713 fix(dashboard): change default sorting
  apps/dashboard/src/pages/workflows.tsx
Labels: @novu/dashboard

#7710 fix(dashboard): Form blocker fix
  apps/dashboard/src/components/auth/questionnaire-form.tsx
  apps/dashboard/src/components/environments/create-environment-button.tsx
  apps/dashboard/src/components/environments/edit-environment-sheet.tsx
  apps/dashboard/src/components/header-navigation/edit-bridge-url-button.tsx
  apps/dashboard/src/components/inbox-button.tsx
  apps/dashboard/src/components/integrations/components/integration-configuration.tsx
  apps/dashboard/src/components/primitives/form/form.tsx
  apps/dashboard/src/components/subscribers/create-subscriber-form.tsx
  apps/dashboard/src/components/subscribers/subscriber-drawer.tsx
  apps/dashboard/src/components/subscribers/subscriber-overview-form.tsx
  apps/dashboard/src/components/subscribers/subscriber-tabs.tsx
  apps/dashboard/src/components/subscribers/subscribers-filters.tsx
  apps/dashboard/src/components/template-store/workflow-template-modal.tsx
  apps/dashboard/src/components/unsaved-changes-alert-dialog.tsx
  apps/dashboard/src/components/workflow-editor/channel-preferences-form.tsx
  apps/dashboard/src/components/workflow-editor/configure-workflow-form.tsx
  apps/dashboard/src/components/workflow-editor/create-workflow-form.tsx
  apps/dashboard/src/components/workflow-editor/steps/conditions/edit-step-conditions-form.tsx
  apps/dashboard/src/components/workflow-editor/steps/conditions/edit-step-conditions-layout.tsx
  apps/dashboard/src/components/workflow-editor/steps/configure-step-form.tsx
  apps/dashboard/src/components/workflow-editor/steps/configure-step-template-form.tsx
  apps/dashboard/src/components/workflow-editor/steps/step-drawer.tsx
  apps/dashboard/src/components/workflow-editor/test-workflow/test-workflow-tabs.tsx
  apps/dashboard/src/hooks/use-combined-refs.ts
  apps/dashboard/src/hooks/use-find-dirty-form.ts
  apps/dashboard/src/hooks/use-form-protection.tsx
  apps/dashboard/src/hooks/use-on-element-unmount.ts
  apps/dashboard/src/pages/create-subscriber.tsx
  apps/dashboard/src/pages/create-workflow.tsx
  apps/dashboard/src/pages/edit-subscriber-page.tsx
  apps/dashboard/src/pages/workflows.tsx
Labels: @novu/dashboard

#7714 fix(dashboard): workflows and subscribers list rows truncation
  apps/dashboard/src/components/subscribers/subscriber-row.tsx
  apps/dashboard/src/components/workflow-row.tsx
Labels: @novu/dashboard

#7722 fix(dashboard): step sidebar interactions outside
  apps/dashboard/src/components/primitives/sheet.tsx
  apps/dashboard/src/components/workflow-editor/steps/conditions/edit-step-conditions.tsx
  apps/dashboard/src/components/workflow-editor/steps/step-drawer.tsx
  apps/dashboard/src/components/workflow-editor/steps/template-tabs.tsx
  libs/application-generic/src/usecases/create-workflow/create-workflow.usecase.ts
  libs/application-generic/src/usecases/select-integration/select-integration.spec.ts
  libs/application-generic/src/usecases/workflow/update-workflow/update-workflow.usecase.ts
Labels: @novu/dashboard

#7728 refactor(api-service): inbox invalidate to be stricter
  apps/api/src/app/inbox/e2e/session.e2e.ts
  libs/application-generic/src/services/cache/interceptors/shared-cache.ts
  libs/application-generic/src/services/cache/invalidate-cache.service.ts
  libs/application-generic/src/services/cache/key-builders/builder.base.ts
  libs/application-generic/src/services/cache/key-builders/builder.scoped.ts
  libs/application-generic/src/services/cache/key-builders/queries.ts
Labels: @novu/api-service

#7732 fix(root): unhandled promise reject and undefined ff kind
  apps/api/src/app/shared/framework/idempotency.interceptor.ts
  eslint.config.mjs
  libs/application-generic/src/logging/index.ts
  libs/application-generic/src/services/feature-flags/launch-darkly.service.ts
  libs/application-generic/src/services/feature-flags/types.ts
  libs/application-generic/src/services/resource-validator.service.ts
  libs/application-generic/src/usecases/create-workflow/create-workflow.usecase.ts
  libs/application-generic/src/usecases/workflow/update-workflow/update-workflow.usecase.ts
Labels: @novu/api-service

#7733 fix(dashboard): Ignore issues for steps that don't require an integration
  apps/api/src/app/workflows-v2/usecases/build-step-issues/build-step-issues.usecase.ts
Labels: @novu/api-service

#7735 fix(dashboard): revert create workflow sidebar changes
  apps/dashboard/src/pages/create-workflow.tsx
Labels: @novu/dashboard

#7736 fix(api-service): org inject
  apps/api/src/app/workflows-v1/usecases/index.ts
  libs/application-generic/src/services/resource-validator.service.ts
Labels: @novu/api-service

#7730 feat(dashboard): Subscriber UI/UX improvements
  apps/dashboard/src/components/activity/activity-empty-state.tsx
  apps/dashboard/src/components/primitives/avatar.tsx
  apps/dashboard/src/components/primitives/button.tsx
  apps/dashboard/src/components/subscribers/create-subscriber-form.tsx
  apps/dashboard/src/components/subscribers/locale-select.tsx
  apps/dashboard/src/components/subscribers/preferences/preferences-item.tsx
  apps/dashboard/src/components/subscribers/preferences/preferences.tsx
  apps/dashboard/src/components/subscribers/preferences/workflow-preferences.tsx
  apps/dashboard/src/components/subscribers/subscriber-activity-list.tsx
  apps/dashboard/src/components/subscribers/subscriber-overview-form.tsx
  apps/dashboard/src/components/subscribers/subscriber-row.tsx
  apps/dashboard/src/components/subscribers/timezone-select.tsx
  apps/dashboard/src/hooks/use-on-element-unmount.ts
  apps/dashboard/src/motion/variants.ts
  apps/dashboard/src/pages/create-subscriber.tsx
  apps/dashboard/src/pages/create-workflow.tsx
  apps/dashboard/src/pages/edit-subscriber-page.tsx
Labels: @novu/dashboard

#7743 fix: invalid recipient error
  apps/api/src/app/events/usecases/parse-event-request/parse-event-request.usecase.ts
  apps/api/src/app/subscribers-v2/dtos/create-subscriber.dto.ts
  apps/api/src/app/subscribers/dtos/create-subscriber-request.dto.ts
Labels: @novu/api-service

#7734 feat(web): add new billing plans
  apps/web/src/ee/billing/components/Features.tsx
  apps/web/src/ee/billing/components/HighlightsRow.tsx
  apps/web/src/ee/billing/components/PlanActionButton.tsx
  apps/web/src/ee/billing/components/PlansRow.tsx
Labels: @novu/web

#7725 refactor(root): simpler ff return value
  libs/application-generic/src/services/feature-flags/feature-flags.service.ts
  libs/application-generic/src/services/feature-flags/launch-darkly.service.ts
  libs/application-generic/src/services/feature-flags/process-env.service.ts
  libs/application-generic/src/services/feature-flags/types.ts
  packages/shared/src/types/feature-flags.ts
Labels: @novu/shared

#7698 feat(root): poc validate submodule sync
  .github/workflows/scripts/validate-submodule-sync.sh
  .github/workflows/validate-submodule-sync.yaml
Labels: CI/CD

#7745 feat(worker): add origin to reporting
  apps/worker/src/app/workflow/usecases/subscriber-job-bound/subscriber-job-bound.usecase.ts
Labels: @novu/worker

#7776 fix(dashboard): 'remove branding' toggle popover
  apps/dashboard/src/components/integrations/components/integration-general-settings.tsx
Labels: @novu/dashboard

#7778 fix(api): Address common 500s in production
  apps/api/src/app/events/usecases/verify-payload/verify-payload.usecase.ts
  apps/api/src/app/notifications/usecases/get-activity-feed/get-activity-feed.usecase.ts
Labels: @novu/api-service

#7777 fix(api): Remove workflow caching from Redis
  apps/api/src/app/change/usecases/promote-notification-template-change/promote-notification-template-change.usecase.ts
  apps/api/src/app/events/e2e/process-subscriber.e2e.ts
  apps/api/src/app/events/usecases/parse-event-request/parse-event-request.usecase.ts
  apps/api/src/app/workflows-v1/usecases/change-template-active-status/change-template-active-status.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message.usecase.ts
  apps/worker/src/app/workflow/usecases/subscriber-job-bound/subscriber-job-bound.usecase.ts
  libs/application-generic/src/services/cache/key-builders/entities.spec.ts
  libs/application-generic/src/services/cache/key-builders/entities.ts
  libs/application-generic/src/usecases/create-workflow/create-workflow.usecase.ts
  libs/application-generic/src/usecases/trigger-broadcast/trigger-broadcast.usecase.ts
  libs/application-generic/src/usecases/workflow/delete-workflow/delete-workflow.usecase.ts
  libs/application-generic/src/usecases/workflow/update-workflow/update-workflow.usecase.ts
  libs/dal/src/repositories/notification-template/notification-template.repository.ts
  libs/dal/src/repositories/notification-template/notification-template.schema.ts
Labels: @novu/dal, @novu/worker, @novu/api-service

#7770 fix(dashboard): Styling fixes for copy button
  apps/dashboard/src/components/activity/components/overview-item.tsx
  apps/dashboard/src/components/environments/environments-free-state.tsx
  apps/dashboard/src/components/primitives/copy-button.tsx
  apps/dashboard/src/components/primitives/help-tooltip-indicator.tsx
  apps/dashboard/src/components/primitives/input.tsx
  apps/dashboard/src/components/primitives/secret-input.tsx
  apps/dashboard/src/components/subscribers/subscriber-row.tsx
  apps/dashboard/src/components/workflow-row.tsx
  apps/dashboard/src/pages/api-keys.tsx
Labels: @novu/dashboard

#7746 feat(api-service): handle missing topic key gracefully
  apps/api/src/app/events/e2e/trigger-event-to-all.e2e.ts
  apps/api/src/app/events/e2e/trigger-event-topic.e2e.ts
  apps/api/src/app/events/e2e/trigger-event.e2e.ts
  libs/application-generic/src/usecases/trigger-multicast/trigger-multicast.usecase.ts
Labels: @novu/api-service

#7751 chore(api-service,worker): remove redundant execution route
  apps/api/src/app/shared/shared.module.ts
  apps/worker/src/app/workflow/usecases/add-job/add-delay-job.usecase.ts
  apps/worker/src/app/workflow/usecases/add-job/add-job.usecase.ts
  apps/worker/src/app/workflow/usecases/add-job/merge-or-create-digest.usecase.ts
  apps/worker/src/app/workflow/usecases/execute-bridge-job/execute-bridge-job.usecase.ts
  apps/worker/src/app/workflow/usecases/handle-last-failed-job/handle-last-failed-job.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/digest/digest.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/digest/get-digest-events.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-chat.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-delay.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-email.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-in-app.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-push.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-sms.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-type.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message.base.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message.usecase.ts
  apps/worker/src/app/workflow/usecases/webhook-filter-backoff-strategy/webhook-filter-backoff-strategy.usecase.ts
  apps/worker/src/app/workflow/workflow.module.ts
  libs/application-generic/src/usecases/conditions-filter/conditions-filter.usecase.ts
  libs/application-generic/src/usecases/create-execution-details/create-execution-details.command.ts
  libs/application-generic/src/usecases/create-execution-details/create-execution-details.usecase.ts
  libs/application-generic/src/usecases/execution-log-route/execution-log-route.command.ts
  libs/application-generic/src/usecases/execution-log-route/execution-log-route.usecase.ts
  libs/application-generic/src/usecases/execution-log-route/index.ts
  libs/application-generic/src/usecases/index.ts
  libs/application-generic/src/usecases/select-integration/select-integration.spec.ts
Labels: @novu/worker, @novu/api-service

#7790 fix(api-service): skip test with leaking mocks (tmp)
  apps/api/src/app/auth/e2e/link-entities.service.spec.ts
Labels: @novu/api-service

#7783 fix(api-service): Nv 5454 visual bugs in tiers fix position switch of when clicking
  apps/dashboard/src/components/billing/plan-action-button.tsx
  apps/dashboard/src/components/billing/plan.tsx
  apps/dashboard/src/components/billing/plans-row.tsx
  apps/dashboard/src/pages/environments.tsx
  libs/application-generic/src/usecases/tier-restrictions-validate/tier-restrictions-validate.usecase.ts
  packages/shared/src/consts/feature-tiers-constants.ts
Labels: @novu/shared, @novu/dashboard

#7793 fix(api-service): fix the button on trial
  apps/dashboard/src/components/billing/plan-action-button.tsx
Labels: @novu/dashboard

#7768 fix(dashboard): activity pooling on the workflow trigger page
  .github/actions/docker/build-api/action.yml
  .github/workflows/prod-deploy-api.yml
  .github/workflows/reusable-api-e2e.yml
  .github/workflows/reusable-dashboard-e2e.yml
  apps/api/package.json
  apps/api/src/.env.test
  apps/api/src/app/workflows-v2/workflow.controller.e2e.ts
  apps/dashboard/playwright.config.ts
  apps/dashboard/src/api/activity.ts
  apps/dashboard/src/components/activity/activity-error.tsx
  apps/dashboard/src/components/activity/activity-header.tsx
  apps/dashboard/src/components/activity/activity-logs.tsx
  apps/dashboard/src/components/activity/activity-skeleton.tsx
  apps/dashboard/src/components/activity/components/activity-overview.tsx
  apps/dashboard/src/components/amount-input.tsx
  apps/dashboard/src/components/subscribers/preferences/preferences.tsx
  apps/dashboard/src/components/subscribers/subscriber-activity-drawer.tsx
  apps/dashboard/src/components/subscribers/subscriber-activity-list.tsx
  apps/dashboard/src/components/workflow-editor/edges.tsx
  apps/dashboard/src/components/workflow-editor/nodes.tsx
  apps/dashboard/src/components/workflow-editor/steps/configure-step-form.tsx
  apps/dashboard/src/components/workflow-editor/steps/digest/regular-digest.tsx
  apps/dashboard/src/components/workflow-editor/test-workflow/test-workflow-logs-sidebar.tsx
  apps/dashboard/src/hooks/use-fetch-activities.ts
  apps/dashboard/src/hooks/use-pull-activity.ts
  apps/dashboard/src/motion/variants.ts
  apps/dashboard/src/utils/animation.ts
  apps/dashboard/src/utils/query-keys.ts
  apps/dashboard/tests/manage-workflows.e2e.ts
  apps/dashboard/tests/page-object-models/create-workflow-sidebar.ts
  apps/dashboard/tests/page-object-models/in-app-step-editor.ts
  apps/dashboard/tests/page-object-models/step-config-sidebar.ts
  apps/dashboard/tests/page-object-models/trigger-workflow-page.ts
  apps/dashboard/tests/page-object-models/workflow-editor-page.ts
  apps/dashboard/tests/page-object-models/workflows-page.ts
  apps/dashboard/tests/sync-workflow.e2e.ts
  apps/dashboard/tests/utils/integration-service.ts
  apps/dashboard/tests/utils/session.ts
  apps/worker/src/.env.test
  libs/application-generic/src/.env.test
Labels: CI/CD, @novu/dashboard, @novu/api-service

#7792 fix(api,dashboard): workflow identifier changed after promoting to another env
  apps/api/src/app/workflows-v2/usecases/sync-to-environment/sync-to-environment.usecase.ts
  apps/api/src/app/workflows-v2/usecases/upsert-workflow/upsert-workflow.command.ts
  apps/api/src/app/workflows-v2/usecases/upsert-workflow/upsert-workflow.usecase.ts
  apps/api/src/app/workflows-v2/workflow.controller.e2e.ts
  apps/dashboard/src/components/workflow-row.tsx
Labels: @novu/dashboard, @novu/api-service

#7796 fix(api-service): reverted deletion of env limit
  apps/api/src/app/environments-v1/usecases/create-environment/create-environment.usecase.ts
Labels: @novu/api-service

#7797 feat(dashboard): team member limit upgrade CTA
  apps/dashboard/src/components/environments/environments-free-state.tsx
  apps/dashboard/src/components/integrations/components/integration-general-settings.tsx
  apps/dashboard/src/pages/settings.tsx
  apps/dashboard/src/utils/telemetry.ts
Labels: @novu/dashboard

#7801 fix(shared): Compute correctly the limits per plan
  packages/shared/src/consts/feature-tiers-constants.ts
Labels: @novu/shared

#7805 chore(root): Remove extra build step
  .github/workflows/prod-deploy-api.yml
  .github/workflows/prod-deploy-worker.yml
  .github/workflows/prod-deploy-ws.yml
Labels: CI/CD

#7766 ci(root): add docker compose dependabot checks
  .github/dependabot.yml
Labels: CI/CD

#7795 fix(api-service): Subscriber id duplication error handling
  apps/api/src/app/events/e2e/trigger-event.e2e.ts
  apps/api/src/app/events/usecases/parse-event-request/parse-event-request.usecase.ts
  apps/worker/src/app/workflow/services/workflow.worker.spec.ts
  apps/worker/src/app/workflow/services/workflow.worker.ts
  apps/worker/src/app/workflow/usecases/subscriber-job-bound/subscriber-job-bound.usecase.ts
  libs/application-generic/src/decorators/retry-on-error-decorator.ts
  libs/application-generic/src/services/queues/workflow-queue.service.ts
  libs/application-generic/src/usecases/create-or-update-subscriber/create-or-update-subscriber.command.ts
  libs/application-generic/src/usecases/create-or-update-subscriber/create-or-update-subscriber.usecase.ts
  libs/application-generic/src/usecases/trigger-event/trigger-event.usecase.ts
Labels: @novu/worker, @novu/api-service

#7819 fix(api-service): change usage to joint usecase for create subscribers
  apps/api/src/app/inbox/usecases/session/session.usecase.ts
  apps/api/src/app/subscribers-v2/subscribers.controller.e2e.ts
  apps/api/src/app/subscribers-v2/subscribers.controller.ts
  apps/api/src/app/subscribers-v2/subscribers.module.ts
  apps/api/src/app/subscribers-v2/usecases/create-subscriber/create-subscriber.command.ts
  apps/api/src/app/subscribers-v2/usecases/create-subscriber/create-subscriber.usecase.ts
  apps/api/src/app/subscribers-v2/utils/create-subscriber.mapper.ts
  apps/api/src/app/subscribers/subscribersV1.controller.ts
  apps/api/src/app/subscribers/usecases/chat-oauth-callback/chat-oauth-callback.usecase.ts
  apps/api/src/app/widgets/usecases/initialize-session/initialize-session.usecase.ts
  apps/worker/src/app/workflow/usecases/subscriber-job-bound/subscriber-job-bound.usecase.ts
  libs/application-generic/src/decorators/retry-on-error-decorator.ts
  libs/application-generic/src/usecases/create-or-update-subscriber/create-or-update-subscriber.command.ts
  libs/application-generic/src/usecases/create-or-update-subscriber/create-or-update-subscriber.usecase.ts
  libs/application-generic/src/usecases/trigger-event/trigger-event.usecase.ts
  libs/application-generic/src/usecases/update-subscriber/update-subscriber.command.ts
  libs/application-generic/src/usecases/update-subscriber/update-subscriber.usecase.ts
Labels: @novu/worker, @novu/api-service

#7822 fix(application-generic,dal): Restrict ff context
  libs/application-generic/src/services/feature-flags/launch-darkly.service.ts
  libs/dal/src/repositories/user/user.entity.ts
Labels: @novu/dal
