Repository novuhq/novu, pull requests merged in 2025-03, with the labels that each got.

#7818 fix(dashboard): disable submit button while creating subscriber
  apps/dashboard/src/components/subscribers/create-subscriber-form.tsx
Labels: @novu/dashboard

#7827 chore(api-service): remove default option from user schema prop
  libs/dal/src/repositories/user/user.schema.ts
Labels: @novu/dal

#7828 chore(api-service): remove EE dependency from OS org usecase
  apps/api/src/app/organization/usecases/create-organization/create-organization.usecase.ts
Labels: @novu/api-service

#7838 fix(dashboard): login screen free events copy
  apps/dashboard/src/components/auth/auth-side-banner.tsx
Labels: @novu/dashboard

#7752 refactor(worker): remove throw on failed execution detail
  apps/api/e2e/setup.ts
  apps/api/src/app/events/e2e/bridge-trigger.e2e.ts
  apps/api/src/app/events/e2e/digest-events.e2e.ts
  apps/api/src/app/events/e2e/trigger-event.e2e.ts
  apps/worker/src/app/workflow/services/standard.worker.spec.ts
  apps/worker/src/app/workflow/services/standard.worker.ts
  apps/worker/src/app/workflow/usecases/add-job/add-job.usecase.ts
  apps/worker/src/app/workflow/usecases/execute-bridge-job/execute-bridge-job.usecase.ts
  apps/worker/src/app/workflow/usecases/run-job/run-job.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/digest/digest.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/execute-step-custom.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-chat.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-delay.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-email.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-in-app.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-push.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-sms.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-type.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message.base.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message.usecase.ts
  libs/application-generic/src/services/in-memory-provider/in-memory-provider.service.ts
  libs/application-generic/src/usecases/create-execution-details/create-execution-details.usecase.ts
  libs/testing/src/jobs.service.ts
  libs/testing/src/user.session.ts
Labels: @novu/worker, @novu/api-service

#7840 feat(api-service): add support for DOCS_BASE_URL in CORS configuration
  apps/api/src/config/cors.config.ts
Labels: @novu/api-service

#7841 fix(dal): implement reverse sorting for backwards pagination
  apps/dashboard/src/components/subscribers/subscriber-list.tsx
  libs/dal/src/repositories/base-repository.ts
Labels: @novu/dal, @novu/dashboard

#7843 feat(dashboard): hide start with templates on prod env
  apps/dashboard/src/pages/workflows.tsx
Labels: @novu/dashboard

#7832 fix(api-service): Reverting create update inner change
  apps/api/src/app/events/e2e/trigger-event.e2e.ts
  apps/api/src/app/inbox/usecases/session/session.usecase.ts
  apps/api/src/app/subscribers-v2/subscribers.controller.ts
  apps/api/src/app/subscribers-v2/subscribers.module.ts
  apps/api/src/app/subscribers-v2/usecases/create-subscriber/create-subscriber.command.ts
  apps/api/src/app/subscribers-v2/usecases/create-subscriber/create-subscriber.usecase.ts
  apps/api/src/app/subscribers-v2/utils/create-subscriber.mapper.ts
  apps/api/src/app/subscribers/subscribersV1.controller.ts
  apps/api/src/app/subscribers/usecases/chat-oauth-callback/chat-oauth-callback.usecase.ts
  apps/api/src/app/widgets/usecases/initialize-session/initialize-session.usecase.ts
  apps/worker/src/app/workflow/usecases/subscriber-job-bound/subscriber-job-bound.usecase.ts
  libs/application-generic/src/usecases/create-or-update-subscriber/create-or-update-subscriber.command.ts
  libs/application-generic/src/usecases/create-or-update-subscriber/create-or-update-subscriber.usecase.ts
  libs/application-generic/src/usecases/trigger-event/trigger-event.usecase.ts
Labels: @novu/worker, @novu/api-service

#7771 fix(api-service): throw error if user tries to delete novu integrations
  apps/api/src/app/integrations/e2e/remove-integration.e2e.ts
  apps/api/src/app/integrations/usecases/remove-integration/remove-integration.usecase.ts
Labels: @novu/api-service

#7850 fix(worker): set failed message as failed job
  apps/worker/src/app/workflow/usecases/run-job/run-job.usecase.ts
Labels: @novu/worker

#7853 fix(api-service): correct assertion message for deletion of demo integrations
  apps/api/src/app/integrations/e2e/remove-integration.e2e.ts
Labels: @novu/api-service

#7852 fix(api-service): Redlock + logs + fetch cached entity removed from create update subsc…
  libs/application-generic/src/usecases/create-or-update-subscriber/create-or-update-subscriber.usecase.ts
  libs/dal/src/repositories/subscriber/subscriber.schema.ts
Labels: @novu/dal

#7826 fix(api-service): flaky test (wip)
  apps/api/e2e/setup.ts
Labels: @novu/api-service

#7856 fix(worker): add missing propagation on email send
  apps/worker/src/app/workflow/usecases/send-message/send-message-chat.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-email.usecase.ts
Labels: @novu/worker

#7862 fix(dashboard): optimize ProtectionAlert rendering with useMemo
  apps/dashboard/src/components/subscribers/subscriber-drawer.tsx
  apps/dashboard/src/components/subscribers/subscriber-tabs.tsx
  apps/dashboard/src/hooks/use-form-protection.tsx
  apps/dashboard/src/pages/create-subscriber.tsx
Labels: @novu/dashboard

#7864 feat(dashboard): update maily, reorder blocks
  apps/dashboard/package.json
  apps/dashboard/src/components/workflow-editor/steps/email/extensions/maily-variables-list.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/maily-config.ts
  apps/dashboard/src/components/workflow-editor/steps/email/maily.tsx
  pnpm-lock.yaml
Labels: @novu/dashboard

#7867 feat(js): Inbox retheme improvements
  apps/dashboard/package.json
  packages/js/package.json
  packages/js/src/ui/components/InboxTabs/InboxTabs.tsx
  packages/js/src/ui/components/Notification/DefaultNotification.tsx
  packages/js/src/ui/components/Notification/NewMessagesCta.tsx
  packages/js/src/ui/components/Notification/NotificationList.tsx
  packages/js/src/ui/components/Notification/NotificationListSkeleton.tsx
  packages/js/src/ui/components/elements/Preferences/ChannelRow.tsx
  packages/js/src/ui/components/elements/Preferences/LoadingScreen.tsx
  packages/js/src/ui/components/elements/Preferences/Preferences.tsx
  packages/js/src/ui/components/elements/Preferences/PreferencesHeader.tsx
  packages/js/src/ui/components/elements/Preferences/PreferencesListSkeleton.tsx
  packages/js/src/ui/components/primitives/Dropdown/DropdownContent.tsx
  packages/js/src/ui/components/primitives/Popover/PopoverContent.tsx
  packages/js/src/ui/components/primitives/Popover/PopoverRoot.tsx
  packages/js/src/ui/components/primitives/Skeleton.tsx
  packages/js/src/ui/components/primitives/Switch.tsx
  packages/js/src/ui/config/appearanceKeys.ts
  packages/js/src/ui/config/defaultLocalization.ts
  packages/js/src/ui/helpers/createInfiniteScroll.ts
  packages/js/tsup.config.ts
  playground/nextjs/src/pages/index.tsx
  pnpm-lock.yaml
Labels: @novu/dashboard

#7873 fix(js): Fix deprecated JSDoc annotation
  apps/api/src/app/auth/auth.controller.ts
  apps/api/src/app/auth/e2e/switch-environment.e2e.ts
  apps/dashboard/src/utils/enums.ts
  apps/web/src/api/api.client.ts
  apps/web/src/components/providers/EnvironmentProvider.tsx
  packages/js/src/preferences/preference.ts
  packages/js/src/preferences/types.ts
  packages/js/src/types.ts
  packages/shared/src/types/notification-templates.ts
Labels: @novu/web, @novu/shared, @novu/dashboard, @novu/api-service

#7863 feat(dashboard): Usage card sidebar
  apps/dashboard/src/components/primitives/progress.tsx
  apps/dashboard/src/components/side-navigation/free-trial-card.tsx
  apps/dashboard/src/components/side-navigation/side-navigation.tsx
  apps/dashboard/src/components/side-navigation/usage-card.tsx
  apps/dashboard/src/utils/telemetry.ts
Labels: @novu/dashboard

#7857 fix(api-service): fix idices not created in mongo-test
  apps/api/e2e/setup.ts
  apps/api/src/.env.development
  apps/api/src/.env.production
  apps/api/src/.env.test
  apps/api/src/app/events/e2e/trigger-event.e2e.ts
  apps/api/src/config/env.config.ts
  apps/api/src/config/env.validators.ts
  apps/inbound-mail/.example.env
  apps/webhook/src/config/env.validators.ts
  apps/worker/src/.env.development
  apps/worker/src/.env.production
  apps/worker/src/.env.test
  apps/worker/src/config/env.config.ts
  apps/worker/src/config/env.validators.ts
  apps/ws/src/.env.development
  apps/ws/src/.env.production
  apps/ws/src/.env.test
  apps/ws/src/config/env.validators.ts
  docker/.env.example
  docker/community/.env.example
  docker/community/docker-compose.yml
  libs/dal/src/dal.service.ts
  libs/dal/src/repositories/subscriber/subscriber.schema.ts
Labels: @novu/dal, @novu/webhook, @novu/ws, @novu/worker, docker, @novu/api-service

#7875 chore(root): Remove Lerna
  .github/workflows/prepare-self-hosted-release.yml
  apps/dashboard/.gitignore
  apps/inbound-mail/.gitignore
  apps/webhook/.gitignore
  apps/ws/.gitignore
  lerna.json
  package.json
  packages/framework/package.json
  pnpm-lock.yaml
  scripts/pnpm-context.mjs
Labels: CI/CD, scripts

#7879 fix(dashboard): maily styles order issue
  apps/dashboard/package.json
  apps/dashboard/src/main.tsx
  pnpm-lock.yaml
Labels: @novu/dashboard

#7866 fix(dashboard): workflow recommended actions popover preserve close state
  apps/dashboard/src/components/auth/questionnaire-form.tsx
  apps/dashboard/src/components/side-navigation/changelog-cards.tsx
  apps/dashboard/src/components/workflow-editor/workflow-checklist.tsx
  apps/dashboard/src/types/global.ts
Labels: @novu/dashboard

#7824 fix(dashboard): preserve the pagination state when creating, editing and deleting subscribers
  apps/dashboard/src/components/subscribers/create-subscriber-form.tsx
  apps/dashboard/src/components/subscribers/hooks/use-subscribers-navigate.ts
  apps/dashboard/src/components/subscribers/hooks/use-subscribers-url-state.ts
  apps/dashboard/src/components/subscribers/subscriber-list.tsx
  apps/dashboard/src/components/subscribers/subscriber-overview-form.tsx
  apps/dashboard/src/components/subscribers/subscriber-row.tsx
  apps/dashboard/src/components/subscribers/subscribers-filters.tsx
  apps/dashboard/src/hooks/use-create-subscriber.ts
  apps/dashboard/src/hooks/use-delete-subscriber.ts
  apps/dashboard/src/pages/create-subscriber.tsx
  apps/dashboard/src/pages/edit-subscriber-page.tsx
Labels: @novu/dashboard

#7835 fix(api-service): Nv 5379 refinements needed for sdks and api documentation
  apps/api/src/app/events/events.controller.ts
  apps/api/src/app/shared/framework/swagger/open.api.manipulation.component.ts
  apps/api/src/app/shared/framework/swagger/swagger.controller.ts
  libs/internal-sdk/src/lib/config.ts
  libs/internal-sdk/src/models/components/activitynotificationjobresponsedto.ts
  libs/internal-sdk/src/models/components/channelsettingsdto.ts
  libs/internal-sdk/src/models/components/databooleandto.ts
  libs/internal-sdk/src/models/components/iapikeydto.ts
  libs/internal-sdk/src/models/components/index.ts
  libs/internal-sdk/src/models/components/integrationresponsedto.ts
  libs/internal-sdk/src/models/components/markallmessageasrequestdto.ts
  libs/internal-sdk/src/models/components/messagemarkasrequestdto.ts
  libs/internal-sdk/src/models/components/overrides.ts
  libs/internal-sdk/src/models/components/patchsubscriberrequestdto.ts
  libs/internal-sdk/src/models/components/subscriberchanneldto.ts
  libs/internal-sdk/src/models/components/subscriberpayloaddto.ts
  libs/internal-sdk/src/models/components/triggereventrequestdto.ts
  libs/internal-sdk/src/models/components/triggereventtoallrequestdto.ts
  libs/internal-sdk/src/models/operations/eventscontrollercancel.ts
  libs/internal-sdk/src/sdk/authentication.ts
  libs/internal-sdk/src/sdk/integrations.ts
  libs/internal-sdk/src/sdk/novumessages.ts
  libs/internal-sdk/src/sdk/sdk.ts
  libs/internal-sdk/src/sdk/stats.ts
  libs/internal-sdk/src/sdk/subscribers.ts
  libs/internal-sdk/src/sdk/workflows.ts
Labels: @novu/api-service

#7806 fix(web): NV-5317 and NV-5318
  apps/api/src/app/organization/dtos/update-branding-details.dto.ts
  apps/api/src/app/storage/dtos/get-signed-url-response.dto.ts
  apps/api/src/app/storage/storage.controller.ts
  apps/api/src/app/storage/usecases/get-signed-url/get-signed-url.command.ts
  apps/api/src/app/storage/usecases/get-signed-url/get-signed-url.usecase.ts
  apps/api/src/app/subscribers/subscribers.controller.ts
  apps/api/src/app/widgets/usecases/mark-action-as-done/update-message-actions.usecase.ts
  apps/web/src/api/storage.ts
  apps/web/src/pages/brand/tabs/BrandingForm.tsx
  libs/dal/src/repositories/message/message.repository.ts
  packages/application-generic/src/services/storage/storage.service.ts
Labels: @novu/api, @novu/web, @novu/dal

#7896 feat(dashboard): the new inbox v3 adjustments
  apps/dashboard/package.json
  apps/dashboard/public/images/auth/in_app-preview-v3.webp
  apps/dashboard/src/components/auth/inbox-playground.tsx
  apps/dashboard/src/components/auth/inbox-preview-content.tsx
  apps/dashboard/src/components/auth/usecases-list.utils.tsx
  apps/dashboard/src/components/icons/inbox-settings.tsx
  apps/dashboard/src/components/in-app-action-dropdown.tsx
  apps/dashboard/src/components/welcome/framework-guides.instructions.tsx
  apps/dashboard/src/components/welcome/inbox-framework-guide.tsx
  apps/dashboard/src/components/workflow-editor/in-app-preview.tsx
  apps/dashboard/src/pages/usecase-select-page.tsx
  apps/dashboard/src/utils/inbox.ts
  pnpm-lock.yaml
Labels: @novu/dashboard

#7898 chore(js,react): make render props stricter
  apps/dashboard/package.json
  packages/js/src/ui/components/Inbox.tsx
  packages/js/src/ui/components/Renderer.tsx
  packages/react/src/components/Inbox.tsx
  packages/react/src/components/InboxContent.tsx
  packages/react/src/components/Notifications.tsx
  packages/react/src/utils/types.ts
  pnpm-lock.yaml
Labels: @novu/dashboard

#7901 fix(js): Fix hidden global preferences
  apps/dashboard/package.json
  packages/js/src/ui/components/elements/Preferences/Preferences.tsx
  pnpm-lock.yaml
Labels: @novu/dashboard

#7899 feat(dashboard): custom html email block
  apps/api/package.json
  apps/api/src/app/shared/framework/swagger/swagger.controller.ts
  apps/dashboard/public/images/email-editor/html-block-preview.png
  apps/dashboard/src/components/workflow-editor/steps/email/extensions/html-view.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/extensions/html.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/maily-config.ts
  apps/dashboard/src/components/workflow-editor/steps/email/maily.tsx
  libs/application-generic/package.json
  packages/shared/src/types/feature-flags.ts
  pnpm-lock.yaml
Labels: @novu/shared, @novu/dashboard, @novu/api-service

#7893 fix(api-service): add longer timeout
  .github/workflows/reusable-api-e2e.yml
  apps/api/src/app/events/e2e/bridge-trigger.e2e.ts
  apps/api/src/app/events/usecases/parse-event-request/parse-event-request.usecase.ts
  apps/api/src/app/shared/framework/swagger/swagger.controller.ts
  apps/worker/src/app.module.ts
  apps/worker/src/app/workflow/usecases/subscriber-job-bound/subscriber-job-bound.usecase.ts
  apps/worker/src/bootstrap.ts
  libs/application-generic/src/usecases/create-workflow/create-workflow.usecase.ts
  libs/application-generic/src/usecases/trigger-event/trigger-event.usecase.ts
Labels: @novu/worker, CI/CD, @novu/api-service

#7919 fix(dashboard): email html block style isolation
  apps/dashboard/src/components/workflow-editor/steps/email/email-preview.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/extensions/html-view.tsx
Labels: @novu/dashboard

#7922 fix(js): Stop appending / to all fetch requsts
  apps/dashboard/netlify.toml
  packages/js/src/api/http-client.test.ts
  packages/js/src/api/http-client.ts
  packages/js/src/novu.test.ts
Labels: @novu/dashboard

#7845 fix(api-service): Remove redlock
  .cspell.json
  .idea/runConfigurations/WORKER___TEST.xml
  apps/api/src/app/events/e2e/digest-events.e2e.ts
  apps/worker/src/.env.test
  apps/worker/src/app/workflow/usecases/add-job/add-job.usecase.ts
  apps/worker/src/app/workflow/usecases/add-job/merge-or-create-digest.usecase.ts
  apps/worker/src/app/workflow/usecases/store-subscriber-jobs/store-subscriber-jobs.usecase.ts
  libs/application-generic/src/decorators/index.ts
  libs/application-generic/src/decorators/retry-on-error-decorator.spec.ts
  libs/application-generic/src/decorators/retry-on-error-decorator.ts
  libs/application-generic/src/logging/error-util.ts
  libs/application-generic/src/usecases/create-notification-jobs/create-notification-jobs.usecase.ts
  libs/dal/src/repositories/job/job.repository.ts
  libs/dal/src/repositories/job/job.schema.ts
Labels: @novu/dal, @novu/worker, @novu/api-service

#7900 feat(dashboard): Added new workflows to the template store (Clerk and Stripe based)
  apps/dashboard/src/components/template-store/templates/access-token.ts
  apps/dashboard/src/components/template-store/templates/authentication/email-verification-code.ts
  apps/dashboard/src/components/template-store/templates/authentication/organization-invitation.ts
  apps/dashboard/src/components/template-store/templates/authentication/recent-login.ts
  apps/dashboard/src/components/template-store/templates/authentication/reset-password-code.ts
  apps/dashboard/src/components/template-store/templates/authentication/sign-in-magic-link.ts
  apps/dashboard/src/components/template-store/templates/authentication/sign-up-magic-link.ts
  apps/dashboard/src/components/template-store/templates/authentication/welcome.ts
  apps/dashboard/src/components/template-store/templates/billing/card-expiring.ts
  apps/dashboard/src/components/template-store/templates/billing/failed-payment.ts
  apps/dashboard/src/components/template-store/templates/billing/sending-invoice.ts
  apps/dashboard/src/components/template-store/templates/billing/trial-ends.ts
  apps/dashboard/src/components/template-store/templates/billing/upcoming-invoice.ts
  apps/dashboard/src/components/template-store/templates/index.ts
  apps/dashboard/src/components/template-store/templates/otp.ts
  apps/dashboard/src/components/template-store/templates/recent-login.ts
  apps/dashboard/src/components/template-store/templates/renewal-notice.ts
  apps/dashboard/src/components/template-store/templates/types.ts
  apps/dashboard/src/components/template-store/templates/usage-limit.ts
  apps/dashboard/src/components/template-store/workflow-card.tsx
Labels: @novu/dashboard

#7914 feat(react,nextjs): better dist folders structure and tsup config improvements
  apps/api/package.json
  apps/api/tsconfig.json
  packages/nextjs/hooks/package.json
  packages/nextjs/package.json
  packages/nextjs/server/package.json
  packages/nextjs/src/app-router/Inbox.tsx
  packages/nextjs/src/app-router/index.ts
  packages/nextjs/src/pages-router/Inbox.tsx
  packages/nextjs/src/pages-router/index.ts
  packages/nextjs/src/server/index.ts
  packages/nextjs/themes/package.json
  packages/nextjs/tsconfig.declarations.json
  packages/nextjs/tsconfig.json
  packages/nextjs/tsup.config.ts
  packages/react/hooks/package.json
  packages/react/package.json
  packages/react/server/package.json
  packages/react/src/hooks/NovuProvider.tsx
  packages/react/src/hooks/useCounts.ts
  packages/react/src/hooks/useNotifications.ts
  packages/react/src/hooks/usePreferences.ts
  packages/react/src/server/index.ts
  packages/react/src/server/index.tsx
  packages/react/themes/package.json
  packages/react/tsconfig.json
  packages/react/tsup.config.ts
  playground/nextjs/package.json
  playground/nextjs/src/pages/index.tsx
  pnpm-lock.yaml
Labels: @novu/api-service

#7913 feat(dashboard): Email header & footer components
  apps/dashboard/public/images/email-editor/footer-logo-with-social-media-icons-preview.png
  apps/dashboard/public/images/email-editor/footer-minimal-text-preview.png
  apps/dashboard/public/images/email-editor/footer-text-with-logo-preview.png
  apps/dashboard/public/images/email-editor/header-centered-logo-with-border-preview.png
  apps/dashboard/public/images/email-editor/header-hero-image.png
  apps/dashboard/public/images/email-editor/header-logo-with-cover-image-preview.png
  apps/dashboard/public/images/email-editor/header-logo-with-text-preview.png
  apps/dashboard/public/images/email-editor/linkedin.png
  apps/dashboard/public/images/email-editor/logo.png
  apps/dashboard/public/images/email-editor/twitter.png
  apps/dashboard/public/images/email-editor/youtube.png
  apps/dashboard/src/components/icons/email-footer-logo-text-and-socials.tsx
  apps/dashboard/src/components/icons/email-footer-logo-with-text-stacked.tsx
  apps/dashboard/src/components/icons/email-footer-plain-text.tsx
  apps/dashboard/src/components/icons/email-footer.tsx
  apps/dashboard/src/components/icons/email-header-centered-logo-with-border.tsx
  apps/dashboard/src/components/icons/email-header-logo-with-cover-image.tsx
  apps/dashboard/src/components/icons/email-header-logo-with-text.tsx
  apps/dashboard/src/components/icons/email-header.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/blocks/footers.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/blocks/headers.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/extensions/html.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/maily-config.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/maily.tsx
  apps/dashboard/src/utils/telemetry.ts
Labels: @novu/dashboard

#7927 fix(dashboard): Polish UI of in-app avatar
  apps/dashboard/eslint.config.js
  apps/dashboard/src/components/primitives/form/avatar-picker.tsx
Labels: @novu/dashboard

#7925 feat(api-service, dashboard): activity feed retention limits
  apps/api/src/app/notifications/dtos/activities-request.dto.ts
  apps/api/src/app/notifications/notification.module.ts
  apps/api/src/app/notifications/usecases/get-activity-feed/get-activity-feed.usecase.spec.ts
  apps/api/src/app/notifications/usecases/get-activity-feed/get-activity-feed.usecase.ts
  apps/dashboard/src/api/activity.ts
  apps/dashboard/src/components/activity/activity-empty-state.tsx
  apps/dashboard/src/components/activity/activity-filters.tsx
  apps/dashboard/src/components/activity/activity-table.tsx
  apps/dashboard/src/components/activity/constants.ts
  apps/dashboard/src/components/icons/lock-upgrade.tsx
  apps/dashboard/src/components/primitives/form/faceted-filter/components/single-filter-content.tsx
  apps/dashboard/src/components/primitives/form/faceted-filter/types.ts
  apps/dashboard/src/components/subscribers/subscriber-activity-list.tsx
  apps/dashboard/src/hooks/use-activity-url-state.ts
  packages/shared/src/consts/feature-tiers-constants.ts
Labels: @novu/shared, @novu/dashboard, @novu/api-service

#7937 feat(js,api-service): inbox dev mode footer
  apps/api/src/app/inbox/dtos/subscriber-session-response.dto.ts
  apps/api/src/app/inbox/usecases/session/session.spec.ts
  apps/api/src/app/inbox/usecases/session/session.usecase.ts
  packages/js/src/base-module.test.ts
  packages/js/src/types.ts
  packages/js/src/ui/components/elements/Footer.tsx
  packages/js/src/ui/context/InboxContext.tsx
  packages/js/tailwind.config.js
Labels: @novu/api-service

#7929 fix(root): remove healthcheck option in docker-compose.yml
  docker/community/.env.example
  docker/community/docker-compose.yml
Labels: docker

#7936 chore(dashboard): add subscriber id to activity feed page
  apps/dashboard/src/components/activity/activity-table.tsx
Labels: @novu/dashboard

#7947 chore(dashboard): Remove FF for Inbox V3
  apps/dashboard/package.json
  apps/dashboard/src/components/auth/inbox-playground.tsx
  apps/dashboard/src/components/auth/inbox-preview-content.tsx
  apps/dashboard/src/components/auth/usecases-list.utils.tsx
  apps/dashboard/src/components/icons/inbox-settings.tsx
  apps/dashboard/src/components/in-app-action-dropdown.tsx
  apps/dashboard/src/components/inbox-button.tsx
  apps/dashboard/src/components/workflow-editor/in-app-preview.tsx
  apps/dashboard/src/pages/usecase-select-page.tsx
  packages/shared/src/types/feature-flags.ts
  pnpm-lock.yaml
Labels: @novu/shared, @novu/dashboard

#7916 feat(api-service,dashboard): add includeCursor support to cursor pagination and fix the pagination
  apps/api/src/app/subscribers-v2/dtos/cursor-pagination-query.dto.ts
  apps/api/src/app/subscribers-v2/subscribers.controller.ts
  apps/api/src/app/subscribers-v2/usecases/list-subscribers/list-subscribers.usecase.ts
  apps/dashboard/src/api/subscribers.ts
  apps/dashboard/src/components/subscribers/hooks/use-subscribers-navigate.ts
  apps/dashboard/src/components/subscribers/hooks/use-subscribers-url-state.ts
  apps/dashboard/src/components/subscribers/subscriber-list.tsx
  apps/dashboard/src/components/subscribers/subscriber-row.tsx
  apps/dashboard/src/components/subscribers/utils.ts
  apps/dashboard/src/hooks/use-delete-subscriber.ts
  apps/dashboard/src/hooks/use-fetch-subscribers.ts
  libs/application-generic/src/commands/project.command.ts
  libs/dal/src/repositories/base-repository.ts
  libs/dal/src/repositories/subscriber/subscriber.repository.ts
  packages/shared/src/dto/subscriber/subscriber.dto.ts
Labels: @novu/dal, @novu/shared, @novu/dashboard, @novu/api-service

#7944 feat(dashboard): Nv 5431 subscriber pages UI polish
  apps/api/src/app/subscribers-v2/dtos/get-subscriber-preferences.dto.ts
  apps/api/src/app/subscribers-v2/usecases/get-subscriber-preferences/get-subscriber-preferences.usecase.ts
  apps/api/src/app/widgets/dtos/update-subscriber-preference-response.dto.ts
  apps/dashboard/src/components/cursor-pagination.tsx
  apps/dashboard/src/components/icons/preferences-blank-illustration.tsx
  apps/dashboard/src/components/primitives/badge.tsx
  apps/dashboard/src/components/subscribers/preferences/preferences-blank.tsx
  apps/dashboard/src/components/subscribers/preferences/preferences.tsx
  apps/dashboard/src/components/subscribers/preferences/workflow-preferences.tsx
  apps/dashboard/src/components/subscribers/subscriber-activity.tsx
  apps/dashboard/src/components/subscribers/subscriber-overview-form.tsx
  apps/dashboard/src/components/subscribers/subscriber-tabs.tsx
  apps/dashboard/src/pages/workflows.tsx
  libs/application-generic/src/usecases/get-subscriber-template-preference/get-subscriber-template-preference.usecase.ts
  libs/internal-sdk/src/funcs/subscribersSearch.ts
  libs/internal-sdk/src/lib/config.ts
  libs/internal-sdk/src/lib/sdks.ts
  libs/internal-sdk/src/models/components/triggereventrequestdto.ts
  libs/internal-sdk/src/models/components/triggereventtoallrequestdto.ts
  libs/internal-sdk/src/models/components/workflowinfodto.ts
  libs/internal-sdk/src/models/operations/notificationscontrollerlistnotifications.ts
  libs/internal-sdk/src/models/operations/subscriberscontrollersearchsubscribers.ts
  libs/internal-sdk/src/react-query/subscribersSearch.ts
  packages/shared/src/entities/subscriber-preference/subscriber-preference.interface.ts
Labels: @novu/shared, @novu/dashboard, @novu/api-service

#7897 fix(dal): remove unused indicies from the mongo
  libs/dal/src/repositories/notification-template/notification-template.schema.ts
  libs/dal/src/repositories/topic/topic-subscribers.schema.ts
Labels: @novu/dal

#7943 fix(root): add NEW_RELIC_ENABLED to docker community
  docker/community/.env.example
  docker/community/docker-compose.yml
Labels: docker

#7935 feat(api-service): convert email css classes to inline styles
  apps/api/package.json
  apps/dashboard/package.json
  libs/application-generic/package.json
  pnpm-lock.yaml
Labels: @novu/dashboard, @novu/api-service

#7921 refactor(root): html sanitization
  apps/api/src/app/environments-v1/novu-bridge.module.ts
  apps/api/src/app/environments-v1/usecases/construct-framework-workflow/construct-framework-workflow.usecase.ts
  apps/api/src/app/environments-v1/usecases/output-renderers/email-output-renderer.spec.ts
  apps/api/src/app/environments-v1/usecases/output-renderers/email-output-renderer.usecase.ts
  apps/api/src/app/environments-v1/usecases/output-renderers/in-app-output-renderer.usecase.ts
  apps/dashboard/src/components/workflow-editor/steps/component-utils.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/email-editor.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/email-preview.tsx
  apps/dashboard/src/components/workflow-editor/steps/shared/bypass-sanitization-switch.tsx
  libs/application-generic/src/schemas/control/email-control.schema.ts
  libs/application-generic/src/services/sanitize/sanitizer.service.ts
  libs/application-generic/src/usecases/message-template/create-message-template/create-message-template.usecase.ts
  libs/application-generic/src/usecases/message-template/shared.ts
  libs/application-generic/src/usecases/message-template/update-message-template/update-message-template.usecase.ts
  libs/application-generic/src/utils/sanitize-control-values.ts
  packages/framework/src/client.ts
  packages/shared/src/dto/workflows/step.dto.ts
  packages/shared/src/types/feature-flags.ts
Labels: @novu/shared, @novu/dashboard, @novu/api-service

#7956 fix(dashboard): enable scroll on add subscribers form
  apps/dashboard/src/components/subscribers/create-subscriber-form.tsx
  apps/dashboard/src/components/subscribers/subscriber-overview-form.tsx
  apps/dashboard/src/hooks/use-create-subscriber.ts
  apps/dashboard/src/pages/create-subscriber.tsx
Labels: @novu/dashboard

#7957 fix(dashboard): add an empty onsubmit handler to stop reloading page on submit by enter key
  apps/dashboard/src/components/subscribers/create-subscriber-form.tsx
  apps/dashboard/src/pages/workflows.tsx
Labels: @novu/dashboard

#7966 fix(dashbord): same values for features in legacy and new dashboard
  apps/web/src/ee/billing/components/Features.tsx
  packages/shared/src/consts/feature-tiers-constants.ts
Labels: @novu/web, @novu/shared

#7974 fix(dashboard): improve layout and styling in preferences
  apps/dashboard/src/components/subscribers/preferences/preferences-item.tsx
  apps/dashboard/src/components/subscribers/preferences/workflow-preferences.tsx
  apps/dashboard/src/components/subscribers/subscriber-row.tsx
Labels: @novu/dashboard

#7972 fix(dashboard): in-app editor body focus ring expands with field size
  apps/dashboard/src/components/workflow-editor/steps/in-app/in-app-body.tsx
Labels: @novu/dashboard

#7967 fix(dashboard): update docs link in dashboard
  apps/dashboard/src/components/auth/customize-inbox-playground.tsx
  apps/dashboard/src/components/environments/create-environment-button.tsx
  apps/dashboard/src/components/environments/edit-environment-sheet.tsx
  apps/dashboard/src/components/environments/environments-free-state.tsx
  apps/dashboard/src/components/header-navigation/edit-bridge-url-button.tsx
  apps/dashboard/src/components/integrations/components/integration-sheet-header.tsx
  apps/dashboard/src/components/subscribers/create-subscriber-form.tsx
  apps/dashboard/src/components/subscribers/subscriber-overview-form.tsx
  apps/dashboard/src/components/template-store/workflow-sidebar.tsx
  apps/dashboard/src/components/welcome/framework-guides.instructions.tsx
  apps/dashboard/src/components/workflow-editor/steps/conditions/edit-step-conditions-layout.tsx
  apps/dashboard/src/components/workflow-editor/steps/configure-step-template-issue-cta.tsx
  apps/dashboard/src/components/workflow-editor/steps/controls/custom-step-controls.tsx
  apps/dashboard/src/components/workflow-editor/steps/sdk-banner.tsx
  apps/dashboard/src/components/workflow-editor/test-workflow/test-workflow-instructions.tsx
  apps/dashboard/src/components/workflow-editor/workflow-checklist.tsx
  apps/dashboard/src/components/workflow-list-empty.tsx
  apps/dashboard/src/pages/api-keys.tsx
  apps/dashboard/src/pages/create-workflow.tsx
  apps/dashboard/src/pages/welcome-page.tsx
Labels: @novu/dashboard

#7969 fix(dashboard): email editor fixes & improvements
  apps/dashboard/src/components/workflow-editor/steps/email/blocks/html.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/maily-config.tsx
Labels: @novu/dashboard

#7970 fix(api-service): v1 widget and subscriber template preferences return tags
  apps/api/src/app/inbox/usecases/update-preferences/update-preferences.spec.ts
  apps/api/src/app/inbox/usecases/update-preferences/update-preferences.usecase.ts
  apps/api/src/app/inbox/utils/types.ts
  apps/api/src/app/subscribers/subscribersV1.controller.ts
  apps/api/src/app/widgets/dtos/update-subscriber-preference-response.dto.ts
  apps/api/src/app/widgets/widgets.controller.ts
Labels: @novu/api-service

#7973 fix(dashboard): slash menu preview overlapping
  apps/api/package.json
  apps/dashboard/package.json
  libs/application-generic/package.json
  pnpm-lock.yaml
Labels: @novu/dashboard, @novu/api-service

#7981 fix(dashboard): subscribers form submission
  apps/dashboard/src/components/subscribers/create-subscriber-form.tsx
  apps/dashboard/src/components/subscribers/subscriber-overview-form.tsx
  apps/dashboard/src/pages/create-subscriber.tsx
Labels: @novu/dashboard

#7984 fix(dashboard): update tooltip text for 'repeat' loop items
  apps/dashboard/src/components/workflow-editor/steps/email/extensions/for-view.tsx
Labels: @novu/dashboard

#7987 fix(dashboard): email editor visual enhancements
  apps/dashboard/src/components/workflow-editor/steps/email/email-editor-preview.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/email-editor.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/email-preview.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/extensions/html-view.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/maily.tsx
Labels: @novu/dashboard

#7988 fix(api-service): email style sanitization
  apps/api/src/app/environments-v1/usecases/output-renderers/email-output-renderer.usecase.ts
  apps/api/src/app/environments-v1/usecases/output-renderers/in-app-output-renderer.usecase.ts
  libs/application-generic/src/services/index.ts
  libs/application-generic/src/services/sanitize/sanitizer-v0.service.spec.ts
  libs/application-generic/src/services/sanitize/sanitizer-v0.service.ts
  libs/application-generic/src/services/sanitize/sanitizer.service.ts
  libs/application-generic/src/usecases/message-template/create-message-template/create-message-template.usecase.ts
  libs/application-generic/src/usecases/message-template/update-message-template/update-message-template.usecase.ts
Labels: @novu/api-service

#7993 fix(root): simplify service dependencies in docker-compose.yml
  docker/community/docker-compose.yml
Labels: docker

#7996 fix(dashboard): show preview only if item visible in menu
  apps/dashboard/package.json
  pnpm-lock.yaml
Labels: @novu/dashboard

#7998 fix(dashboard): email editor alignment fallback
  apps/dashboard/package.json
  pnpm-lock.yaml
Labels: @novu/dashboard

#7758 feat(api-service): validate recipients in event request parsing
  apps/api/src/app/events/events.module.ts
  apps/api/src/app/events/usecases/parse-event-request/parse-event-request.usecase.ts
  apps/api/src/app/events/utils/trigger-recipient-validation.ts
  apps/api/src/app/subscribers-v2/dtos/create-subscriber.dto.ts
  apps/api/src/app/subscribers/dtos/create-subscriber-request.dto.ts
  apps/api/src/app/topics/topics.controller.ts
  apps/api/src/app/topics/topics.module.ts
  apps/api/src/app/topics/use-cases/add-subscribers/add-subscribers.command.ts
  apps/api/src/app/topics/use-cases/add-subscribers/add-subscribers.use-case.ts
  apps/api/src/app/topics/use-cases/create-topic/create-topic.command.ts
  apps/api/src/app/topics/use-cases/create-topic/create-topic.use-case.ts
  apps/dashboard/src/components/workflow-editor/schema.ts
  packages/shared/src/consts/index.ts
  packages/shared/src/consts/subscriberIdRegex.ts
  packages/shared/src/consts/validIdRegex.ts
  packages/shared/src/types/feature-flags.ts
Labels: @novu/shared, @novu/dashboard, @novu/api-service

#8001 fix(dal): activity feed query date range
  libs/dal/src/repositories/notification/notification.repository.ts
Labels: @novu/dal

#8007 chore(dashboard): Remove feature flag
  apps/dashboard/src/components/workflow-editor/steps/email/maily-config.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/maily.tsx
  packages/shared/src/types/feature-flags.ts
Labels: @novu/shared, @novu/dashboard

#8012 fix(dashboard): Fix social media icon links in email editor
  apps/dashboard/src/components/workflow-editor/steps/email/blocks/footers.tsx
Labels: @novu/dashboard

#8017 fix(dashboard): add gap between email tippy buttons
  apps/dashboard/src/components/workflow-editor/steps/email/maily.tsx
Labels: @novu/dashboard

#8005 feat(api,dashboard): Save data object as control value
  apps/dashboard/src/components/conditions-editor/variable-select.tsx
  apps/dashboard/src/components/in-app-action-dropdown.tsx
  apps/dashboard/src/components/primitives/accordion.tsx
  apps/dashboard/src/components/primitives/control-input/control-input.tsx
  apps/dashboard/src/components/primitives/control-input/variable-plugin/variable-pill-widget.ts
  apps/dashboard/src/components/primitives/input.tsx
  apps/dashboard/src/components/workflow-editor/steps/base/data-object.tsx
  apps/dashboard/src/components/workflow-editor/steps/component-utils.tsx
  apps/dashboard/src/components/workflow-editor/steps/in-app/in-app-editor.tsx
  libs/application-generic/src/commands/base.command.ts
  libs/application-generic/src/schemas/control/in-app-control.schema.ts
  packages/shared/src/dto/workflows/step.dto.ts
  packages/shared/src/types/feature-flags.ts
Labels: @novu/shared, @novu/dashboard

#7980 fix(api): Fix for duplicate subscribers
  apps/api/src/app/subscribers-v2/e2e/create-subscriber.e2e.ts
  apps/api/src/app/subscribers-v2/subscribers.controller.ts
  apps/api/src/app/subscribers-v2/subscribers.module.ts
  apps/api/src/app/subscribers-v2/usecases/create-subscriber/create-subscriber.command.ts
  apps/api/src/app/subscribers-v2/usecases/create-subscriber/create-subscriber.usecase.ts
  apps/api/src/app/subscribers-v2/utils/create-subscriber.mapper.ts
  apps/dashboard/src/components/subscribers/create-subscriber-form.tsx
  apps/dashboard/src/pages/create-subscriber.tsx
  pnpm-lock.yaml
Labels: @novu/dashboard, @novu/api-service

#7986 fix(dashboard): Crate with UI fixes in step content editors
  apps/api/src/app/workflows-v2/util/template-parser/liquid-parser.ts
  apps/dashboard/src/components/amount-input.tsx
  apps/dashboard/src/components/in-app-action-dropdown.tsx
  apps/dashboard/src/components/primitives/control-input/control-input.tsx
  apps/dashboard/src/components/primitives/control-input/variable-plugin/variable-pill-widget.ts
  apps/dashboard/src/components/primitives/editor.tsx
  apps/dashboard/src/components/primitives/form/form.tsx
  apps/dashboard/src/components/workflow-editor/steps/base/base-body.tsx
  apps/dashboard/src/components/workflow-editor/steps/base/data-object.tsx
  apps/dashboard/src/components/workflow-editor/steps/digest/digest-window.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/email-editor-preview.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/email-editor.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/email-preview.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/email-subject.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/maily-config.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/maily.tsx
  apps/dashboard/src/components/workflow-editor/steps/in-app/in-app-body.tsx
  apps/dashboard/src/components/workflow-editor/steps/in-app/in-app-redirect.tsx
  apps/dashboard/src/components/workflow-editor/steps/in-app/in-app-subject.tsx
  apps/dashboard/src/components/workflow-editor/steps/template-tabs.tsx
  apps/dashboard/src/components/workflow-editor/url-input.tsx
  apps/dashboard/src/utils/string.ts
Labels: @novu/dashboard, @novu/api-service

#8019 chore(dashboard): Set the data object docs link
  apps/dashboard/src/components/workflow-editor/steps/base/data-object.tsx
Labels: @novu/dashboard

#8025 chore(web): remove auth e2e tests
  apps/web/tests/auth.spec.ts
Labels: @novu/web

#8032 fix(api): Refactor subscriber DTO and command to include user ID
  apps/api/src/app/subscribers-v2/dtos/create-subscriber.dto.ts
  apps/api/src/app/subscribers-v2/subscribers.controller.ts
  apps/api/src/app/subscribers-v2/subscribers.module.ts
  apps/api/src/app/subscribers-v2/usecases/patch-subscriber/patch-subscriber.command.ts
  apps/api/src/app/subscribers-v2/usecases/patch-subscriber/patch-subscriber.usecase.ts
  apps/api/src/app/topics/use-cases/create-topic/create-topic.use-case.ts
  libs/internal-sdk/src/funcs/subscribersUpsert.ts
  libs/internal-sdk/src/models/components/index.ts
  libs/internal-sdk/src/models/components/updatesubscriberrequestdto.ts
  libs/internal-sdk/src/models/operations/index.ts
  libs/internal-sdk/src/models/operations/subscribersv1controllerupdatesubscriber.ts
  libs/internal-sdk/src/react-query/index.ts
  libs/internal-sdk/src/react-query/subscribersUpsert.ts
  libs/internal-sdk/src/sdk/subscribers.ts
Labels: @novu/api-service

#8034 chore(dashboard): cleaning env variables in the pipelines config
  .github/workflows/dev-deploy-dashboard.yml
  .github/workflows/dev-deploy-web.yml
  .github/workflows/reusable-dashboard-deploy.yml
Labels: CI/CD
