Repository novuhq/novu, pull requests merged in 2025-08, with the labels that each got.

#8848 perf(api-service): improve loading speed and visibility of change count in fixes NV-6443
  .cspell.json
  apps/api/src/.env.test
  apps/api/src/app/environments-v2/e2e/environments-v2-diff.e2e.ts
  apps/api/src/app/environments-v2/services/dependency-analyzer.service.ts
  apps/api/src/app/environments-v2/usecases/diff-environment/diff-environment.usecase.ts
  apps/api/src/app/environments-v2/usecases/sync-strategies/adapters/layout-comparator.adapter.ts
  apps/api/src/app/environments-v2/usecases/sync-strategies/adapters/workflow-comparator.adapter.ts
  apps/api/src/app/environments-v2/usecases/sync-strategies/base/interfaces/base-comparator.interface.ts
  apps/api/src/app/environments-v2/usecases/sync-strategies/comparators/workflow.comparator.ts
  apps/api/src/app/environments-v2/usecases/sync-strategies/operations/workflow-diff.operation.ts
  apps/api/src/app/shared/containers/workflow-data.container.ts
  apps/api/src/app/workflows-v1/usecases/get-workflow-with-preferences/get-workflow-with-preferences.usecase.ts
  apps/api/src/app/workflows-v2/mappers/notification-template-mapper.ts
  apps/api/src/app/workflows-v2/usecases/build-step-data/build-step-data.usecase.ts
  apps/api/src/app/workflows-v2/usecases/build-variable-schema/build-available-variable-schema.usecase.ts
  apps/api/src/app/workflows-v2/usecases/get-workflow/get-workflow.usecase.ts
  apps/dashboard/src/components/header-navigation/publish-modal.tsx
  libs/dal/src/repositories/notification-template/notification-template.repository.ts
Labels: @novu/dal, @novu/api-service

#8850 perf(api-service): Optimize workflow diff by using preloaded data container
  apps/api/src/app/environments-v2/usecases/diff-environment/diff-environment.usecase.ts
  apps/api/src/app/environments-v2/usecases/sync-strategies/operations/workflow-diff.operation.ts
  apps/api/src/app/shared/containers/workflow-data.container.ts
Labels: @novu/api-service

#8859 feat(dashboard): billing page redesign fixes NV-6337
  apps/dashboard/src/components/billing/active-plan-banner.tsx
  apps/dashboard/src/components/billing/contact-sales-button.tsx
  apps/dashboard/src/components/billing/features-config.ts
  apps/dashboard/src/components/billing/features.tsx
  apps/dashboard/src/components/billing/highlights-row.tsx
  apps/dashboard/src/components/billing/plan-action-button.tsx
  apps/dashboard/src/components/billing/plan-switcher.tsx
  apps/dashboard/src/components/billing/plan.tsx
  apps/dashboard/src/components/billing/plans-row.tsx
  packages/shared/src/consts/feature-tiers-constants.ts
Labels: @novu/shared, @novu/dashboard

#8857 fix(application-generic): update insert options for test environment handling
  apps/api/src/app/activity/e2e/get-workflow-runs.e2e.ts
  libs/application-generic/src/services/analytic-logs/shared.ts
  libs/testing/src/notification-template.service.ts
Labels: @novu/api-service

#8862 fix(api): subsciber isOnline undefined fallback fixes NV-6449
  apps/api/src/app/environments-v1/usecases/construct-framework-workflow/construct-framework-workflow.usecase.ts
  libs/dal/src/repositories/subscriber/subscriber.schema.ts
Labels: @novu/dal, @novu/api-service

#8867 ci(root): Notify production deployment completion for eu and us
  .github/workflows/deploy.yml
Labels: CI/CD

#8869 feat(api-service): implement get charts
  apps/api/src/app/activity/activity.controller.ts
  apps/api/src/app/activity/activity.module.ts
  apps/api/src/app/activity/dtos/get-charts.request.dto.ts
  apps/api/src/app/activity/dtos/get-charts.response.dto.ts
  apps/api/src/app/activity/dtos/shared.dto.ts
  apps/api/src/app/activity/e2e/get-charts.e2e.ts
  apps/api/src/app/activity/usecases/build-delivery-trend-chart/build-delivery-trend-chart.command.ts
  apps/api/src/app/activity/usecases/build-delivery-trend-chart/build-delivery-trend-chart.usecase.ts
  apps/api/src/app/activity/usecases/build-delivery-trend-chart/index.ts
  apps/api/src/app/activity/usecases/get-charts/get-charts.command.ts
  apps/api/src/app/activity/usecases/get-charts/get-charts.usecase.ts
  libs/application-generic/src/services/analytic-logs/step-run/step-run.repository.ts
Labels: @novu/api-service

#8871 fix(dashboard): Remove data soon tab from integration store
  apps/dashboard/src/pages/integrations-list-page.tsx
Labels: @novu/dashboard

#8630 feat(providers): add smsmode sms provider
  apps/dashboard/public/images/providers/light/square/smsmode.svg
  apps/web/public/static/images/providers/dark/smsmode.svg
  apps/web/public/static/images/providers/dark/square/smsmode.svg
  apps/web/public/static/images/providers/light/smsmode.svg
  apps/web/public/static/images/providers/light/square/smsmode.svg
  libs/application-generic/src/factories/sms/handlers/smsmode.handler.ts
  libs/application-generic/src/factories/sms/sms.factory.ts
  packages/framework/src/schemas/providers/sms/index.ts
  packages/framework/src/shared.ts
  packages/providers/src/lib/sms/index.ts
  packages/providers/src/lib/sms/smsmode/smsmode.provider.ts
  packages/providers/src/lib/sms/smsmode/smsmode.test.provider.spec.ts
  packages/shared/src/consts/providers/channels/sms.ts
  packages/shared/src/consts/providers/credentials/provider-credentials.ts
  packages/shared/src/types/providers.ts
Labels: @novu/web, @novu/shared, @novu/dashboard

#8870 feat(dal,shared): severity level enum and database schema fixes NV-6466
  libs/dal/src/repositories/message-template/message-template.entity.ts
  libs/dal/src/repositories/message-template/message-template.schema.ts
  libs/dal/src/repositories/notification-template/notification-template.entity.ts
  libs/dal/src/repositories/notification-template/notification-template.schema.ts
  packages/shared/src/consts/index.ts
  packages/shared/src/consts/severity.ts
Labels: @novu/dal, @novu/shared

#8808 feat(api-service): implement request traces
  apps/api/src/app/activity/activity.controller.ts
  apps/api/src/app/activity/activity.module.ts
  apps/api/src/app/activity/dtos/get-request-traces.dto.ts
  apps/api/src/app/activity/dtos/get-request-traces.response.dto.ts
  apps/api/src/app/activity/shared/mappers.ts
  apps/api/src/app/activity/usecases/get-request/get-request.command.ts
  apps/api/src/app/activity/usecases/get-request/get-request.usecase.ts
  apps/api/src/app/events/e2e/cancel-event.e2e.ts
  apps/api/src/app/events/events.controller.ts
  apps/api/src/app/events/usecases/parse-event-request/parse-event-request.command.ts
  apps/api/src/app/events/usecases/parse-event-request/parse-event-request.e2e.ts
  apps/api/src/app/events/usecases/parse-event-request/parse-event-request.usecase.ts
  apps/api/src/app/events/usecases/process-bulk-trigger/process-bulk-trigger.command.ts
  apps/api/src/app/events/usecases/process-bulk-trigger/process-bulk-trigger.usecase.ts
  apps/api/src/app/events/usecases/trigger-event-to-all/trigger-event-to-all.command.ts
  apps/api/src/app/events/usecases/trigger-event-to-all/trigger-event-to-all.usecase.ts
  apps/api/src/app/inbox/inbox.controller.ts
  apps/api/src/app/shared/framework/analytics-logs.interceptor.ts
  apps/api/src/app/shared/middleware/request-id.middleware.ts
  apps/api/src/app/shared/utils/mappers.ts
  apps/api/src/app/shared/utils/request-transaction.util.ts
  apps/api/src/app/workflows-v2/e2e/generate-preview.e2e.ts
  apps/api/src/app/workflows-v2/util/json-schema-mock.ts
  apps/api/src/bootstrap.ts
  apps/api/src/exception-filter.ts
  apps/dashboard/src/api/logs.ts
  apps/dashboard/src/components/activity/activity-table.tsx
  apps/dashboard/src/components/activity/components/activity-table-row.tsx
  apps/dashboard/src/components/activity/components/status-badge.tsx
  apps/dashboard/src/components/http-logs/api-traces-content.tsx
  apps/dashboard/src/components/http-logs/logs-table.tsx
  apps/dashboard/src/components/http-logs/workflow-runs-content.tsx
  apps/dashboard/src/hooks/use-fetch-request-logs.ts
  apps/dashboard/src/hooks/use-fetch-request-traces.ts
  apps/dashboard/src/pages/activity-feed.tsx
  apps/dashboard/src/types/logs.ts
  apps/worker/src/app/workflow/services/workflow.worker.ts
  apps/worker/src/app/workflow/usecases/subscriber-job-bound/subscriber-job-bound.command.ts
  apps/worker/src/app/workflow/usecases/subscriber-job-bound/subscriber-job-bound.usecase.ts
  libs/application-generic/src/dtos/process-subscriber-job.dto.ts
  libs/application-generic/src/dtos/workflow-job.dto.ts
  libs/application-generic/src/services/analytic-logs/log.repository.ts
  libs/application-generic/src/services/analytic-logs/request-log/request-log.repository.ts
  libs/application-generic/src/services/analytic-logs/trace-log/trace-log.repository.ts
  libs/application-generic/src/services/analytic-logs/trace-log/trace-log.schema.ts
  libs/application-generic/src/services/queues/workflow-queue.service.ts
  libs/application-generic/src/usecases/create-execution-details/create-execution-details.usecase.ts
  libs/application-generic/src/usecases/trigger-base/trigger-base.usecase.ts
  libs/application-generic/src/usecases/trigger-broadcast/trigger-broadcast.usecase.ts
  libs/application-generic/src/usecases/trigger-event/trigger-event.command.ts
  libs/application-generic/src/usecases/trigger-event/trigger-event.usecase.ts
  libs/application-generic/src/usecases/trigger-multicast/trigger-multicast.usecase.ts
  libs/application-generic/src/utils/subscribers.utils.ts
Labels: @novu/worker, @novu/dashboard, @novu/api-service

#8880 fix(api-service): Filter workflows by origin and type in diff use case
  apps/api/src/app/environments-v2/usecases/diff-environment/diff-environment.usecase.ts
Labels: @novu/api-service

#8881 fix(api-service): flakiness check
  .github/workflows/reusable-api-e2e.yml
  apps/api/e2e/setup.ts
  apps/api/src/app/events/e2e/bridge-trigger.e2e.ts
  libs/application-generic/src/modules/queues.module.ts
  libs/application-generic/src/services/readiness/readiness.service.ts
  libs/testing/src/jobs.service.ts
Labels: CI/CD, @novu/api-service

#8899 fix(dashboard): hide Clerk role info if RBAC disabled fixes NV-6486
  apps/dashboard/src/index.css
  apps/dashboard/src/pages/settings.tsx
Labels: @novu/dashboard

#8911 refactor(api-service, worker): refactor message webhook subscriber data
  apps/api/src/app/inbox/usecases/mark-many-notifications-as/mark-many-notifications-as.usecase.ts
  apps/api/src/app/inbox/usecases/mark-notifications-as-seen/mark-notifications-as-seen.usecase.ts
  apps/api/src/app/inbox/usecases/update-all-notifications/update-all-notifications.usecase.ts
  apps/api/src/app/widgets/usecases/mark-all-messages-as/mark-all-messages-as.usecase.ts
  apps/api/src/app/widgets/usecases/mark-message-as-by-mark/mark-message-as-by-mark.usecase.ts
  apps/api/src/app/widgets/usecases/mark-message-as/mark-message-as.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-chat.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-email.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-in-app.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-push.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-sms.usecase.ts
  libs/application-generic/src/webhooks/dtos/message-webhook.response.dto.ts
  libs/application-generic/src/webhooks/mappers/message.mapper.ts
Labels: @novu/worker, @novu/api-service

#8922 fix(root): nx release publish issue for syntax error fixes NV-6506
  .github/workflows/release-packages.yml
  packages/add-inbox/package.json
  packages/js/package.json
  packages/js/project.json
  packages/nextjs/package.json
  packages/nextjs/project.json
  packages/react-native/project.json
  packages/react/package.json
  packages/react/project.json
Labels: CI/CD

#8925 chore(dashboard): got rid of git icons; fixes NV-6507
  apps/dashboard/src/components/header-navigation/no-changes-modal.tsx
  apps/dashboard/src/components/header-navigation/publish-button.tsx
  apps/dashboard/src/components/primitives/environment-branch-icon.tsx
  apps/dashboard/src/components/workflow-editor/configure-workflow-form.tsx
  apps/dashboard/src/components/workflow-row.tsx
Labels: @novu/dashboard

#8928 feat(api-service,worker): severity trigger override fixes NV-6468
  apps/api/src/app/events/dtos/trigger-event-request.dto.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message.usecase.ts
  libs/application-generic/src/services/analytic-logs/trace-log/trace-log.repository.ts
  libs/application-generic/src/services/analytic-logs/trace-log/trace-log.schema.ts
  libs/application-generic/src/usecases/create-execution-details/create-execution-details.usecase.ts
  libs/application-generic/src/usecases/create-execution-details/types/index.ts
  packages/shared/src/dto/events/event.interface.ts
Labels: @novu/shared, @novu/worker, @novu/api-service

#8898 feat(application-generic): add step type in traces
  apps/api/src/app/events/usecases/parse-event-request/parse-event-request.usecase.ts
  apps/api/src/app/inbox/usecases/mark-many-notifications-as/mark-many-notifications-as.usecase.ts
  apps/api/src/app/inbox/usecases/mark-notifications-as-seen/mark-notifications-as-seen.usecase.ts
  apps/api/src/app/widgets/usecases/mark-message-as/mark-message-as.usecase.ts
  apps/worker/src/app/workflow/usecases/subscriber-job-bound/subscriber-job-bound.usecase.ts
  libs/application-generic/src/services/analytic-logs/index.ts
  libs/application-generic/src/services/analytic-logs/log.repository.ts
  libs/application-generic/src/services/analytic-logs/trace-log/trace-log.repository.ts
  libs/application-generic/src/services/analytic-logs/trace-log/trace-log.schema.ts
  libs/application-generic/src/services/analytic-logs/workflow-run/workflow-run.repository.ts
  libs/application-generic/src/usecases/create-execution-details/create-execution-details.command.ts
  libs/application-generic/src/usecases/create-execution-details/create-execution-details.spec.ts
  libs/application-generic/src/usecases/create-execution-details/create-execution-details.usecase.ts
  libs/application-generic/src/usecases/create-execution-details/dtos/execution-details.dto.ts
  libs/application-generic/src/usecases/trigger-broadcast/trigger-broadcast.usecase.ts
  libs/application-generic/src/usecases/trigger-event/trigger-event.usecase.ts
  libs/application-generic/src/usecases/trigger-multicast/trigger-multicast.usecase.ts
Labels: @novu/worker, @novu/api-service

#8936 fix(dashboard): Analytics page fixes
  .vscode/launch.json
  .vscode/tasks.json
  apps/api/src/app/activity/dtos/get-charts.response.dto.ts
  apps/api/src/app/activity/usecases/build-interaction-trend-chart/build-interaction-trend-chart.usecase.ts
  apps/api/src/app/activity/usecases/get-charts/get-charts.usecase.ts
  apps/dashboard/src/api/activity.ts
  apps/dashboard/src/components/analytics/charts/chart-dummy-data.tsx
  apps/dashboard/src/components/analytics/charts/chart-types.ts
  apps/dashboard/src/components/analytics/charts/interaction-trend-chart.tsx
  apps/dashboard/src/components/analytics/charts/providers-by-volume.tsx
  apps/dashboard/src/components/analytics/hooks/use-analytics-page-date-filter.ts
  apps/dashboard/src/components/side-navigation/side-navigation.tsx
  apps/dashboard/src/hooks/use-feature-flag.tsx
  apps/dashboard/src/pages/analytics.tsx
  libs/application-generic/src/services/analytic-logs/trace-log/trace-log.repository.ts
  packages/shared/src/types/feature-flags.ts
Labels: @novu/shared, @novu/dashboard, @novu/api-service

#8912 feat(dashboard): Command K palette for unified navigation and actions fixes NV-6516
  .cspell.json
  apps/dashboard/package.json
  apps/dashboard/src/components/ai-drawer/ai-drawer-provider.tsx
  apps/dashboard/src/components/ai-drawer/ai-drawer.tsx
  apps/dashboard/src/components/ai-drawer/index.ts
  apps/dashboard/src/components/ai-drawer/use-ai-drawer.ts
  apps/dashboard/src/components/command-palette/command-menu.tsx
  apps/dashboard/src/components/command-palette/command-palette-provider.tsx
  apps/dashboard/src/components/command-palette/command-palette.tsx
  apps/dashboard/src/components/command-palette/command-types.ts
  apps/dashboard/src/components/command-palette/commands/action-commands.tsx
  apps/dashboard/src/components/command-palette/commands/environment-commands.tsx
  apps/dashboard/src/components/command-palette/commands/help-commands.tsx
  apps/dashboard/src/components/command-palette/commands/navigation-commands.tsx
  apps/dashboard/src/components/command-palette/commands/settings-commands.tsx
  apps/dashboard/src/components/command-palette/commands/subscriber-commands.tsx
  apps/dashboard/src/components/command-palette/commands/workflow-commands.tsx
  apps/dashboard/src/components/command-palette/commands/workflow-editor-commands.tsx
  apps/dashboard/src/components/command-palette/hooks/use-command-palette.ts
  apps/dashboard/src/components/command-palette/hooks/use-command-registry.ts
  apps/dashboard/src/components/command-palette/hooks/use-workflow-editor-context.ts
  apps/dashboard/src/components/command-palette/index.ts
  apps/dashboard/src/components/header-navigation/header-navigation.tsx
  apps/dashboard/src/components/header-navigation/publish-button.tsx
  apps/dashboard/src/components/primitives/dialog.tsx
  apps/dashboard/src/components/primitives/kbd.tsx
  apps/dashboard/src/routes/dashboard.tsx
  apps/dashboard/src/utils/telemetry.ts
  pnpm-lock.yaml
Labels: @novu/dashboard

#8940 chore(root): Update biome to latest version 2.2.0
  apps/dashboard/package.json
  biome.json
  package.json
  pnpm-lock.yaml
Labels: @novu/dashboard

#8949 fix(dashboard): analytics UI fixes NV-6512
  apps/dashboard/src/components/analytics/charts/active-subscribers-trend-chart.tsx
  apps/dashboard/src/components/analytics/charts/chart-wrapper.tsx
  apps/dashboard/src/components/analytics/charts/delivery-trends-chart.tsx
  apps/dashboard/src/components/analytics/charts/interaction-trend-chart.tsx
  apps/dashboard/src/components/analytics/charts/providers-by-volume.tsx
  apps/dashboard/src/components/analytics/charts/workflow-runs-trend-chart.tsx
  apps/dashboard/src/components/analytics/charts/workflows-by-volume.tsx
  apps/dashboard/src/components/primitives/analytics-card.tsx
  apps/dashboard/src/pages/analytics.tsx
Labels: @novu/dashboard

#8950 fix(root): ci testing
  .github/workflows/reusable-api-e2e.yml
  apps/api/src/app/rate-limiting/e2e/throttler.guard.e2e.ts
  libs/automation/package.json
  package.json
  playground/nestjs/package.json
  pnpm-lock.yaml
Labels: CI/CD, @novu/api-service

#8933 chore(api-service,dashboard): removed layouts and html editor feature flags
  apps/api/src/app/environments-v1/usecases/construct-framework-workflow/construct-framework-workflow.usecase.ts
  apps/api/src/app/environments-v1/usecases/output-renderers/email-output-renderer.spec.ts
  apps/api/src/app/environments-v1/usecases/output-renderers/email-output-renderer.usecase.ts
  apps/api/src/app/environments-v2/e2e/environments-v2-diff.e2e.ts
  apps/api/src/app/layouts-v2/e2e/preview-layout.e2e.ts
  apps/api/src/app/layouts-v2/e2e/upsert-layout.e2e.ts
  apps/api/src/app/layouts-v2/usecases/build-layout-issues/build-layout-issues.usecase.ts
  apps/api/src/app/layouts-v2/usecases/preview-layout/preview-layout.usecase.spec.ts
  apps/api/src/app/layouts-v2/usecases/preview-layout/preview-layout.usecase.ts
  apps/api/src/app/organization/usecases/create-organization/sync-external-organization/sync-external-organization.usecase.ts
  apps/api/src/app/shared/services/control-value-sanitizer.service.ts
  apps/api/src/app/shared/usecases/create-variables-object/create-variables-object.usecase.ts
  apps/api/src/app/shared/utils/build-variables.ts
  apps/api/src/app/shared/utils/issues.ts
  apps/api/src/app/shared/utils/template-parser/liquid-parser.spec.ts
  apps/api/src/app/shared/utils/template-parser/liquid-parser.ts
  apps/api/src/app/workflows-v2/e2e/upsert-workflow.e2e.ts
  apps/api/src/app/workflows-v2/usecases/build-step-issues/build-step-issues.usecase.ts
  apps/api/src/app/workflows-v2/usecases/preview/preview.usecase.ts
  apps/api/src/app/workflows-v2/usecases/upsert-workflow/upsert-workflow.usecase.ts
  apps/api/src/app/workflows-v2/workflow.controller.e2e.ts
  apps/dashboard/src/components/primitives/variable-editor.tsx
  apps/dashboard/src/components/primitives/variable-plugin/index.ts
  apps/dashboard/src/components/primitives/variable-plugin/plugin-view.ts
  apps/dashboard/src/components/primitives/variable-plugin/types.ts
  apps/dashboard/src/components/side-navigation/side-navigation.tsx
  apps/dashboard/src/components/workflow-editor/edges.tsx
  apps/dashboard/src/components/workflow-editor/nodes.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/email-body.tsx
  apps/dashboard/src/components/workflow-editor/steps/email/email-editor.tsx
  apps/dashboard/src/hooks/use-fetch-layouts.tsx
Labels: @novu/dashboard, @novu/api-service

#8967 fix(dashboard): maily footer rendering issue fixes NV-6439
  apps/dashboard/src/components/maily/blocks/cards.tsx
  apps/dashboard/src/components/maily/blocks/footers.tsx
Labels: @novu/dashboard

#8858 feat(dashboard): allow reordering for workflow steps fixes NV-5126
  apps/api/src/app/activity/dtos/get-request-traces.dto.ts
  apps/api/src/app/activity/dtos/get-request-traces.response.dto.ts
  apps/api/src/app/activity/usecases/get-request/get-request.command.ts
  apps/api/src/app/environments-v1/usecases/output-renderers/email-output-renderer.usecase.ts
  apps/api/src/app/workflows-v2/workflow.controller.e2e.ts
  apps/dashboard/src/components/analytics/index.ts
  apps/dashboard/src/components/side-navigation/changelog-cards.tsx
  apps/dashboard/src/components/workflow-editor/add-step-menu.tsx
  apps/dashboard/src/components/workflow-editor/base-node.tsx
  apps/dashboard/src/components/workflow-editor/drag-context.tsx
  apps/dashboard/src/components/workflow-editor/edges.tsx
  apps/dashboard/src/components/workflow-editor/node-utils.ts
  apps/dashboard/src/components/workflow-editor/nodes.tsx
  apps/dashboard/src/components/workflow-editor/use-canvas-nodes-edges.ts
  apps/dashboard/src/components/workflow-editor/workflow-canvas.tsx
  apps/dashboard/src/components/workflow-editor/workflow-node-action-bar.tsx
  libs/application-generic/src/factories/sms/handlers/smsmode.handler.ts
  packages/providers/src/lib/sms/smsmode/smsmode.provider.ts
Labels: WIP, @novu/dashboard, @novu/api-service

#8978 chore(dashboard): improve side nav on smaller screens fixes NV-6389
  apps/dashboard/src/components/side-navigation/side-navigation.tsx
Labels: @novu/dashboard

#8975 fix(dashboard): Add chat channel to delivery trend tooltip fixes NV-6546
  apps/dashboard/src/components/analytics/charts/delivery-trends-chart.tsx
  apps/dashboard/src/components/analytics/constants/analytics-tooltips.ts
Labels: @novu/dashboard

#8974 fix(dashboard): Update interaction tooltip for in-app channel fixes NV-6548
  apps/dashboard/src/components/analytics/constants/analytics-tooltips.ts
Labels: @novu/dashboard

#8990 fix(dashboard): Remove command K keyboard shortcuts from dashboard
  apps/dashboard/src/components/command-palette/command-types.ts
  apps/dashboard/src/components/command-palette/commands/help-commands.tsx
Labels: @novu/dashboard

#8926 feat(api-service, worker): enhance workflow run status management fixes NV-6508
  apps/api/src/app/activity/activity.module.ts
  apps/api/src/app/activity/dtos/get-charts.response.dto.ts
  apps/api/src/app/activity/dtos/shared.dto.ts
  apps/api/src/app/activity/dtos/workflow-runs-request.dto.ts
  apps/api/src/app/activity/e2e/get-workflow-runs.e2e.ts
  apps/api/src/app/activity/shared/mappers.ts
  apps/api/src/app/activity/usecases/build-workflow-runs-count-chart/build-workflow-runs-count-chart.command.ts
  apps/api/src/app/activity/usecases/build-workflow-runs-count-chart/build-workflow-runs-count-chart.usecase.ts
  apps/api/src/app/activity/usecases/build-workflow-runs-trend-chart/build-workflow-runs-trend-chart.usecase.ts
  apps/api/src/app/activity/usecases/get-workflow-run/get-workflow-run.usecase.ts
  apps/api/src/app/activity/usecases/get-workflow-runs/get-workflow-runs.command.ts
  apps/api/src/app/activity/usecases/get-workflow-runs/get-workflow-runs.usecase.ts
  apps/api/src/app/events/usecases/cancel-delayed/cancel-delayed.usecase.ts
  apps/api/src/app/inbox/usecases/index.ts
  apps/api/src/app/inbox/usecases/mark-many-notifications-as/mark-many-notifications-as.usecase.ts
  apps/api/src/app/inbox/usecases/mark-notifications-as-seen/mark-notifications-as-seen.usecase.ts
  apps/api/src/app/shared/framework/analytics-logs.interceptor.ts
  apps/api/src/app/widgets/usecases/index.ts
  apps/api/src/app/widgets/usecases/mark-message-as/mark-message-as.usecase.ts
  apps/dashboard/src/api/activity.ts
  apps/dashboard/src/components/analytics/charts/chart-dummy-data.tsx
  apps/dashboard/src/components/analytics/charts/chart-types.ts
  apps/dashboard/src/components/analytics/charts/workflow-runs-trend-chart.tsx
  apps/dashboard/src/utils/analytics-mock-data.ts
  apps/worker/src/app/workflow/usecases/add-job/add-job.usecase.ts
  apps/worker/src/app/workflow/usecases/handle-last-failed-job/handle-last-failed-job.usecase.ts
  apps/worker/src/app/workflow/usecases/queue-next-job/queue-next-job.command.ts
  apps/worker/src/app/workflow/usecases/queue-next-job/queue-next-job.usecase.ts
  apps/worker/src/app/workflow/usecases/run-job/run-job.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/digest/digest.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/execute-step-custom.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-chat.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-delay.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-email.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-in-app.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-push.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-sms.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-type.usecase.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message.base.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message.usecase.ts
  apps/worker/src/app/workflow/workflow.module.ts
  libs/application-generic/src/services/analytic-logs/trace-log/trace-log.schema.ts
  libs/application-generic/src/services/analytic-logs/workflow-run/workflow-run.repository.ts
  libs/application-generic/src/services/analytic-logs/workflow-run/workflow-run.schema.ts
  libs/application-generic/src/services/index.ts
  libs/application-generic/src/services/message-interaction.service.ts
  libs/application-generic/src/services/workflow-run.service.ts
  libs/dal/src/repositories/job/job.entity.ts
  libs/dal/src/repositories/job/job.repository.ts
  libs/dal/src/repositories/job/job.schema.ts
  packages/shared/src/entities/workflow-run/delivery-lifecycle-detail.enum.ts
  packages/shared/src/entities/workflow-run/delivery-lifecycle-status.enum.ts
  packages/shared/src/entities/workflow-run/index.ts
  packages/shared/src/index.ts
Labels: @novu/dal, @novu/shared, @novu/worker, @novu/dashboard, @novu/api-service

#8993 fix(worker): add missing life cycle status update
  apps/worker/src/app/workflow/usecases/add-job/add-job.usecase.ts
  apps/worker/src/app/workflow/usecases/run-job/run-job.usecase.ts
  libs/application-generic/src/usecases/create-notification-jobs/create-notification-jobs.usecase.ts
Labels: @novu/worker

#8939 feat(application-generic): make the query select reqired fixes NV-6482
  apps/api/src/app/activity/activity.controller.ts
  apps/api/src/app/activity/dtos/get-request.request.dto.ts
  apps/api/src/app/activity/dtos/get-request.response.dto.ts
  apps/api/src/app/activity/dtos/get-requests.dto.ts
  apps/api/src/app/activity/dtos/get-requests.response.dto.ts
  apps/api/src/app/activity/dtos/workflow-run-response.dto.ts
  apps/api/src/app/activity/e2e/get-requests.e2e.ts
  apps/api/src/app/activity/e2e/get-workflow-run.e2e.ts
  apps/api/src/app/activity/e2e/get-workflow-runs.e2e.ts
  apps/api/src/app/activity/shared/mappers.ts
  apps/api/src/app/activity/shared/select.const.ts
  apps/api/src/app/activity/usecases/get-request/get-request.usecase.ts
  apps/api/src/app/activity/usecases/get-requests/get-requests.command.ts
  apps/api/src/app/activity/usecases/get-requests/get-requests.usecase.ts
  apps/api/src/app/activity/usecases/get-workflow-run/get-workflow-run.usecase.ts
  apps/api/src/app/activity/usecases/get-workflow-runs/get-workflow-runs.usecase.ts
  apps/api/src/app/notifications/usecases/get-activity-feed/get-activity-feed.usecase.ts
  apps/api/src/app/notifications/usecases/get-activity/get-activity.usecase.ts
  apps/dashboard/src/api/logs.ts
  apps/dashboard/src/components/http-logs/logs-filters.tsx
  apps/dashboard/src/components/http-logs/logs-table.tsx
  apps/dashboard/src/hooks/use-logs-url-state.ts
  libs/application-generic/src/services/analytic-logs/index.ts
  libs/application-generic/src/services/analytic-logs/log.repository.ts
  libs/application-generic/src/services/analytic-logs/request-log/request-log.repository.ts
  libs/application-generic/src/services/analytic-logs/step-run/step-run.repository.ts
  libs/application-generic/src/services/analytic-logs/step-run/step-run.schema.ts
  libs/application-generic/src/services/analytic-logs/trace-log/trace-log.schema.ts
  libs/application-generic/src/services/analytic-logs/types/index.ts
  libs/application-generic/src/services/analytic-logs/workflow-run/workflow-run.repository.ts
  libs/application-generic/src/usecases/create-execution-details/create-execution-details.usecase.ts
Labels: @novu/dashboard, @novu/api-service

#8984 feat(api): add slack oauth flow & channel endpoints API fixes NV-6530
  apps/api/src/app/channel-endpoints/channel-endpoints.controller.ts
  apps/api/src/app/channel-endpoints/channel-endpoints.module.ts
  apps/api/src/app/channel-endpoints/dtos/create-channel-endpoint-request.dto.ts
  apps/api/src/app/channel-endpoints/dtos/get-channel-endpoint-response.dto.ts
  apps/api/src/app/channel-endpoints/dtos/get-channel-endpoints-query.dto.ts
  apps/api/src/app/channel-endpoints/dtos/update-channel-endpoint-request.dto.ts
  apps/api/src/app/channel-endpoints/usecases/create-channel-endpoint/create-channel-endpoint.command.ts
  apps/api/src/app/channel-endpoints/usecases/create-channel-endpoint/create-channel-endpoint.usecase.ts
  apps/api/src/app/channel-endpoints/usecases/delete-channel-endpoint/delete-channel-endpoint.command.ts
  apps/api/src/app/channel-endpoints/usecases/delete-channel-endpoint/delete-channel-endpoint.usecase.ts
  apps/api/src/app/channel-endpoints/usecases/get-channel-endpoint/get-channel-endpoint.command.ts
  apps/api/src/app/channel-endpoints/usecases/get-channel-endpoint/get-channel-endpoint.usecase.ts
  apps/api/src/app/channel-endpoints/usecases/get-channel-endpoints/get-channel-endpoints.command.ts
  apps/api/src/app/channel-endpoints/usecases/get-channel-endpoints/get-channel-endpoints.usecase.ts
  apps/api/src/app/channel-endpoints/usecases/update-channel-endpoint/update-channel-endpoint.command.ts
  apps/api/src/app/channel-endpoints/usecases/update-channel-endpoint/update-channel-endpoint.usecase.ts
  apps/api/src/app/subscribers-v2/dtos/generate-chat-oauth-url.dto.ts
  apps/api/src/app/subscribers-v2/subscribers.controller.ts
  apps/api/src/app/subscribers-v2/subscribers.module.ts
  apps/api/src/app/subscribers-v2/usecases/chat-oauth-callback/chat-oauth-callback.command.ts
  apps/api/src/app/subscribers-v2/usecases/chat-oauth-callback/chat-oauth-callback.response.ts
  apps/api/src/app/subscribers-v2/usecases/chat-oauth-callback/chat-oauth-callback.usecase.ts
  apps/api/src/app/subscribers-v2/usecases/chat-oauth-callback/slack-oauth-callback/slack-oauth-callback.command.ts
  apps/api/src/app/subscribers-v2/usecases/chat-oauth-callback/slack-oauth-callback/slack-oauth-callback.usecase.ts
  apps/api/src/app/subscribers-v2/usecases/generate-chat-oath-url/chat-oauth.constants.ts
  apps/api/src/app/subscribers-v2/usecases/generate-chat-oath-url/generate-chat-oauth-url.command.ts
  apps/api/src/app/subscribers-v2/usecases/generate-chat-oath-url/generate-chat-oauth-url.usecase.ts
  apps/api/src/app/subscribers-v2/usecases/generate-chat-oath-url/generate-slack-oath-url/generate-slack-oauth-url.command.ts
  apps/api/src/app/subscribers-v2/usecases/generate-chat-oath-url/generate-slack-oath-url/generate-slack-oauth-url.usecase.ts
  apps/api/src/app/subscribers-v2/utils/create-subscriber.mapper.ts
  apps/worker/src/app/workflow/usecases/send-message/send-message-chat.usecase.ts
  libs/application-generic/src/usecases/subscribers/update-subscriber-channel/update-subscriber-channel.command.ts
  libs/application-generic/src/usecases/subscribers/update-subscriber-channel/update-subscriber-channel.usecase.ts
  libs/dal/src/index.ts
  libs/dal/src/repositories/channel-endpoint/channel-endpoint.entity.ts
  libs/dal/src/repositories/channel-endpoint/channel-endpoint.repository.ts
  libs/dal/src/repositories/channel-endpoint/channel-endpoint.schema.ts
  libs/dal/src/repositories/channel-endpoint/index.ts
  libs/dal/src/repositories/subscriber/subscriber.entity.ts
  packages/shared/src/entities/activity-feed/activity.interface.ts
  packages/shared/src/entities/subscriber/index.ts
  packages/shared/src/entities/subscriber/subscriber.interface.ts
  packages/shared/src/index.ts
  packages/shared/src/types/channel-endpoint.ts
  packages/shared/src/types/feature-flags.ts
  packages/shared/src/types/index.ts
  packages/shared/src/types/subscriber.ts
Labels: @novu/dal, @novu/shared, @novu/worker, @novu/api-service

#9006 fix(root): gh action strategy for pr creation
  .github/workflows/release-packages.yml
Labels: CI/CD

#8971 feat(api, worker, ws, dashboard, application-generic, root): changes as per new enterprise packaging
  .github/workflows/prepare-enterprise-self-hosted-release.yml
  apps/api/src/app/notifications/usecases/get-activity-feed/get-activity-feed.usecase.ts
  apps/api/src/app/organization/usecases/create-organization/create-organization.usecase.ts
  apps/api/src/app/organization/usecases/create-organization/sync-external-organization/sync-external-organization.usecase.ts
  apps/api/src/config/env.validators.ts
  apps/dashboard/docker-entrypoint.sh
  apps/dashboard/src/components/auth/auth-side-banner.tsx
  apps/dashboard/src/components/header-navigation/header-navigation.tsx
  apps/dashboard/src/components/side-navigation/side-navigation.tsx
  apps/dashboard/src/components/translations/translation-list.tsx
  apps/dashboard/src/components/translations/translation-switch.tsx
  apps/dashboard/src/components/welcome/framework-guides.instructions.tsx
  apps/dashboard/src/config/index.ts
  apps/dashboard/src/context/feature-flags-provider.tsx
  apps/dashboard/src/hooks/use-create-integration.ts
  apps/dashboard/src/hooks/use-delete-integration.ts
  apps/dashboard/src/hooks/use-feature-flag.tsx
  apps/dashboard/src/hooks/use-fetch-subscription.ts
  apps/dashboard/src/hooks/use-is-translation-enabled.ts
  apps/dashboard/src/hooks/use-update-integration.ts
  apps/dashboard/src/main.tsx
  apps/dashboard/src/pages/api-keys.tsx
  apps/dashboard/src/pages/environments.tsx
  apps/dashboard/src/pages/organization-list.tsx
  apps/dashboard/src/pages/settings.tsx
  apps/dashboard/src/routes/root.tsx
  apps/dashboard/src/utils/code-snippets.ts
  apps/worker/src/config/env.validators.ts
  apps/ws/src/config/env.validators.ts
  libs/application-generic/src/services/in-memory-provider/cache-in-memory-provider.service.ts
  libs/application-generic/src/services/in-memory-provider/providers/index.ts
  libs/application-generic/src/services/in-memory-provider/providers/redis-master-slave-provider.ts
  libs/application-generic/src/services/in-memory-provider/types.ts
  libs/application-generic/src/services/in-memory-provider/workflow-in-memory-provider.service.ts
Labels: @novu/ws, @novu/worker, CI/CD, @novu/dashboard, @novu/api-service

#9019 fix(dashboard): Prevent translation api calls for unsupported plans
  apps/dashboard/src/components/translations/hooks/use-translation-list-logic.ts
  apps/dashboard/src/components/translations/translation-list.tsx
  apps/dashboard/src/hooks/use-fetch-translation-list.ts
Labels: @novu/dashboard

#9030 feat(dashboard): Add websocket url to api keys page fixes NV-6550
  apps/dashboard/src/pages/api-keys.tsx
Labels: @novu/dashboard
