Repository novuhq/novu, pull requests merged in 2025-10, with the labels that each got.

#9263 refactor(dashboard,api): simplify preview schema & var generation
  apps/api/src/app/shared/utils/build-variables.ts
  apps/api/src/app/shared/utils/create-schema.ts
  apps/api/src/app/shared/utils/template-parser/parser-utils.ts
  apps/api/src/app/workflows-v2/e2e/generate-preview.e2e.ts
  apps/api/src/app/workflows-v2/usecases/build-step-data/build-step-data.command.ts
  apps/api/src/app/workflows-v2/usecases/build-step-data/build-step-data.usecase.ts
  apps/api/src/app/workflows-v2/usecases/build-variable-schema/build-available-variable-schema.command.ts
  apps/api/src/app/workflows-v2/usecases/build-variable-schema/build-available-variable-schema.usecase.ts
  apps/api/src/app/workflows-v2/usecases/preview/preview.usecase.ts
  apps/api/src/app/workflows-v2/usecases/preview/services/payload-merger.service.ts
  apps/api/src/app/workflows-v2/usecases/preview/services/schema-builder.service.ts
  apps/api/src/app/workflows-v2/workflow.module.ts
  apps/dashboard/src/components/maily/maily-config.tsx
  apps/dashboard/src/components/maily/maily.tsx
  apps/dashboard/src/hooks/use-parse-variables.ts
Labels: @novu/dashboard, @novu/api-service

#9275 feat(api-service, worker): Add exclude subscribers to topic trigger fixes NV-6722
  apps/api/src/app/events/dtos/trigger-event-request.dto.ts
  apps/api/src/app/events/e2e/trigger-event-topic.e2e.ts
  libs/application-generic/src/usecases/trigger-multicast/trigger-multicast.usecase.ts
  libs/internal-sdk/src/models/components/topicpayloaddto.ts
  packages/framework/src/shared.ts
  packages/shared/src/types/events.ts
Labels: @novu/shared, @novu/api-service

#9282 feat(api-service): preserve stepId when creating a workflow fixes NV-6755
  apps/api/src/app/workflows-v2/dtos/create-step.dto.ts
  apps/api/src/app/workflows-v2/dtos/workflow-response.dto.ts
  apps/api/src/app/workflows-v2/e2e/upsert-workflow.e2e.ts
  libs/internal-sdk/.speakeasy/gen.yaml
  libs/internal-sdk/src/funcs/translationsGroupsRetrieve.ts
  libs/internal-sdk/src/lib/config.ts
  libs/internal-sdk/src/models/components/chatstepupsertdto.ts
  libs/internal-sdk/src/models/components/createlayoutdto.ts
  libs/internal-sdk/src/models/components/createtranslationrequestdto.ts
  libs/internal-sdk/src/models/components/customstepupsertdto.ts
  libs/internal-sdk/src/models/components/delaystepupsertdto.ts
  libs/internal-sdk/src/models/components/digeststepupsertdto.ts
  libs/internal-sdk/src/models/components/duplicatelayoutdto.ts
  libs/internal-sdk/src/models/components/emailstepupsertdto.ts
  libs/internal-sdk/src/models/components/getmasterjsonresponsedto.ts
  libs/internal-sdk/src/models/components/inappstepupsertdto.ts
  libs/internal-sdk/src/models/components/layoutresponsedto.ts
  libs/internal-sdk/src/models/components/pushstepupsertdto.ts
  libs/internal-sdk/src/models/components/smsstepupsertdto.ts
  libs/internal-sdk/src/models/components/throttlestepupsertdto.ts
  libs/internal-sdk/src/models/components/translationgroupdto.ts
  libs/internal-sdk/src/models/components/translationresponsedto.ts
  libs/internal-sdk/src/models/components/updatelayoutdto.ts
  libs/internal-sdk/src/models/components/uploadtranslationsrequestdto.ts
  libs/internal-sdk/src/models/components/workflowresponsedto.ts
  libs/internal-sdk/src/models/operations/translationcontrollerdeletetranslationendpoint.ts
  libs/internal-sdk/src/models/operations/translationcontrollerdeletetranslationgroupendpoint.ts
  libs/internal-sdk/src/models/operations/translationcontrollergetsingletranslation.ts
  libs/internal-sdk/src/models/operations/translationcontrollergettranslationgroupendpoint.ts
  libs/internal-sdk/src/react-query/translationsGroupsRetrieve.ts
  libs/internal-sdk/src/sdk/groups.ts
Labels: @novu/api-service

#9283 fix(api): liquid digest step variable parsing fixes NV-6757 (#9280)
  apps/api/src/app/shared/utils/template-parser/new-liquid-parser.spec.ts
  apps/api/src/app/shared/utils/template-parser/new-liquid-parser.ts
Labels: @novu/api-service

#9291 feat(api-service): content keys clickhouse schema change fixes NV-6765
  apps/api/src/app/activity/usecases/get-workflow-run/get-workflow-run.usecase.ts
  apps/api/src/app/activity/usecases/get-workflow-runs/get-workflow-runs.usecase.ts
  apps/api/src/app/notifications/dtos/activities-response.dto.ts
  apps/api/src/app/notifications/usecases/get-activity/get-activity.usecase.ts
  libs/application-generic/src/services/analytic-logs/step-run/step-run.repository.ts
  libs/application-generic/src/services/analytic-logs/step-run/step-run.schema.ts
  libs/application-generic/src/services/analytic-logs/workflow-run/workflow-run.repository.ts
  libs/application-generic/src/services/analytic-logs/workflow-run/workflow-run.schema.ts
  libs/dal/src/repositories/notification/notification.entity.ts
Labels: @novu/dal, @novu/api-service

#9259 chore(dashboard): UI polish - data object component
  apps/dashboard/src/components/workflow-editor/steps/base/data-object.tsx
  apps/dashboard/src/components/workflow-editor/steps/in-app/in-app-editor.tsx
Labels: @novu/dashboard

#9304 feat(dashboard,api-service): stricter context_keys data type, filtering, indexing fixes NV-6702
  apps/api/src/app/activity/activity.controller.ts
  apps/api/src/app/activity/dtos/shared.dto.ts
  apps/api/src/app/activity/dtos/workflow-runs-request.dto.ts
  apps/api/src/app/activity/usecases/get-workflow-run/get-workflow-run.usecase.ts
  apps/api/src/app/activity/usecases/get-workflow-runs/get-workflow-runs.command.ts
  apps/api/src/app/activity/usecases/get-workflow-runs/get-workflow-runs.usecase.ts
  apps/api/src/app/events/dtos/trigger-event-request.dto.ts
  apps/api/src/app/messages/dtos/get-messages-requests.dto.ts
  apps/api/src/app/messages/messages.controller.ts
  apps/api/src/app/messages/usecases/get-messages/get-messages.command.ts
  apps/api/src/app/messages/usecases/get-messages/get-messages.usecase.ts
  apps/api/src/app/notifications/dtos/activities-request.dto.ts
  apps/api/src/app/notifications/notification.controller.ts
  apps/api/src/app/notifications/usecases/get-activity-feed/get-activity-feed.command.ts
  apps/api/src/app/notifications/usecases/get-activity-feed/get-activity-feed.usecase.ts
  apps/api/src/app/notifications/usecases/get-activity/get-activity.usecase.ts
  apps/dashboard/src/api/activity.ts
  apps/dashboard/src/components/activity/activity-filters.tsx
  apps/dashboard/src/components/activity/constants.ts
  apps/dashboard/src/components/contexts/context-activity.tsx
  apps/dashboard/src/components/subscribers/subscriber-activity.tsx
  apps/dashboard/src/components/topics/topic-activity.tsx
  apps/dashboard/src/hooks/use-activity-url-state.ts
  apps/dashboard/src/types/activity.ts
  libs/application-generic/src/services/analytic-logs/log.repository.ts
  libs/application-generic/src/services/analytic-logs/step-run/step-run.repository.ts
  libs/application-generic/src/services/analytic-logs/step-run/step-run.schema.ts
  libs/application-generic/src/services/analytic-logs/workflow-run/workflow-run.repository.ts
  libs/application-generic/src/services/analytic-logs/workflow-run/workflow-run.schema.ts
  libs/dal/src/repositories/message/message.entity.ts
  libs/dal/src/repositories/message/message.repository.ts
  libs/dal/src/repositories/message/message.schema.ts
  libs/dal/src/repositories/notification/notification.repository.ts
Labels: @novu/dal, @novu/dashboard, @novu/api-service

#9308 refactor(worker): eliminate single-use context resolver abstraction
  apps/worker/src/app/workflow/usecases/send-message/send-message.usecase.ts
  apps/worker/src/app/workflow/workflow.module.ts
  libs/application-generic/src/usecases/index.ts
  libs/application-generic/src/usecases/resolve-context/index.ts
  libs/application-generic/src/usecases/resolve-context/resolve-context-from-keys.command.ts
  libs/application-generic/src/usecases/resolve-context/resolve-context-from-keys.usecase.ts
Labels: @novu/worker

#9315 fix(api-service): exclude inbox from idempotency
  apps/api/src/app/inbox/inbox.controller.ts
  apps/api/src/app/shared/framework/exclude-from-idempotency.ts
  apps/api/src/app/shared/framework/idempotency.interceptor.ts
Labels: @novu/api-service

#9317 refactor(dashboard): streamline and simplify wf preview and test
  apps/dashboard/src/components/variable/hooks/use-create-variable.tsx
  apps/dashboard/src/components/workflow-editor/steps/hooks/use-persisted-preview-context.ts
  apps/dashboard/src/components/workflow-editor/steps/preview-context-panel.tsx
  apps/dashboard/src/components/workflow-editor/steps/utils/preview-context-storage.utils.ts
  apps/dashboard/src/components/workflow-editor/test-workflow/test-workflow-content.tsx
  apps/dashboard/src/components/workflow-editor/test-workflow/test-workflow-drawer.tsx
  apps/dashboard/src/components/workflow-editor/workflow-tabs.tsx
  apps/dashboard/src/hooks/use-test-workflow-context-persistence.ts
  apps/dashboard/src/hooks/use-test-workflow-subscriber-persistence.ts
  apps/dashboard/src/hooks/use-workflow-payload-persistence.ts
Labels: @novu/dashboard

#9323 fix(dashboard): make subscriber mutable in test wf drawer
  apps/dashboard/src/components/preview-subscriber-section.tsx
  apps/dashboard/src/components/workflow-editor/steps/types/preview-context.types.ts
  apps/dashboard/src/components/workflow-editor/test-workflow/test-workflow-content.tsx
  apps/dashboard/src/components/workflow-editor/test-workflow/test-workflow-drawer.tsx
Labels: @novu/dashboard

#9327 feat(dashboard): add context variables and data to layout editor fixes NV-6783
  apps/api/src/app/layouts-v2/usecases/layout-variables-schema/layout-variables-schema.usecase.ts
  apps/api/src/app/layouts-v2/usecases/preview-layout/preview-layout.usecase.spec.ts
  apps/api/src/app/layouts-v2/usecases/preview-layout/preview-layout.usecase.ts
  apps/api/src/app/workflows-v2/usecases/preview/services/preview-payload-processor.service.ts
  apps/dashboard/src/components/layouts/layout-editor-provider.tsx
  apps/dashboard/src/components/layouts/layout-email-body.tsx
  apps/dashboard/src/components/layouts/layout-preview-context-panel.tsx
  apps/dashboard/src/components/layouts/utils/layout-preview-context-storage.ts
  apps/dashboard/src/hooks/use-dynamic-preview-schema.ts
  apps/dashboard/src/hooks/use-layout-preview.ts
  apps/dashboard/src/hooks/use-parse-variables.ts
Labels: @novu/dashboard, @novu/api-service
